[2022-02-09 08:08] tomkerkhove commented on #2608
Thank you for the PR!

[2022-02-09 11:01] loicmathieu opened #2612 "Kafka scaler reports -2 and scale to maxReplicas"
### Report

We have a situation where Kafka scaler reports -2 and the HPA scale to the maxReplicas.
A CPU scaler is also defined but it reports 1% usage so the desired replicas count should be 1 not 3.

The following information comes from a kubectl describe on the HPA
[code]

Other scalers defined the same way and connected to the same Kafka broker works as expected.

### Expected Behavior

As th

[2022-02-09 12:47] vazkarvishal commented on #2600
After further debugging, turns out that the Keda`ScaledObject` or `ScaledJob` does not strip new lines in the AzDo API Token provided. Thus, if the PAT_TOKEN was base64 encrypted using a command-line command like: `echo $PAT_TOKEN | base64` , you end-up with an encrypted token with a new line, which then breaks the authentication (as the Keda module does not handle stripping of new-line chars afte

[2022-02-09 13:41] RamCohen commented on #2385
Hi @jungopro

I was unable to reproduce the issue. Note that the scaler code also peeks at the queue to try to get an accurate number in order not to use the approximation if a definite number can be obtained.
What is the size of the messages in the queue ? If they are large it may be a result of a timeout during the peek phase.

[2022-02-09 13:45] tomkerkhove opened #2614 "Provide capability to define autoscaling rules"
### Proposal

Allow end-users to specify how many instances they want to add/remove when one of the trigger criteria have been met. This allows them to have better control over the aggressiveness of their platform.

In terms of logic, the idea is to define the following:
- When queue count is > 1000, add 2 instances and wait for 15 min to scale out more
- When queue count is < 100, remove 1 instan

[2022-02-09 13:59] tomkerkhove commented on #637
Cluster autoscaler does not provide any integration and we want to solely focus on application autoscaling.

However, sometimes there are cases where we know that a lot of work will arrive pretty soon and we will need more capacity. Examples are:
- Predictive app scaling through platforms such as PredictKube and other potential prediction in the future
- Scaling sources that have high volumes of w

[2022-02-09 14:00] tomkerkhove commented on #637
This is based on a scenario that @denniszielke had for KEDA end-user.

[2022-02-09 15:08] loicmathieu commented on #2612
So I check the Keda log and it's effectively what I thought, I saw the following line in the log file:
[code]
I think that in this case the scale should report 0 instead of -2.

[2022-02-09 16:16] d-patch opened #2618 "Selenium Grid Scaler should consider "maxSession""
### Proposal

The graphql API of Selenium Grid allows to query the "maxSession" value per grid and/or node:
[https://www.selenium.dev/documentation/grid/advanced_features/graphql_support/#querying-the-number-of-maxsession-and-sessioncount-in-the-grid-](https://www.selenium.dev/documentation/grid/advanced_features/graphql_support/#querying-the-number-of-maxsession-and-sessioncount-in-the-grid-)
Tha

[2022-02-09 20:43] q26646 opened #2619 "IdleReplicaCount of 1 does not work"
### Report

We are unable to use idleReplicantCount attribute in keda scaled objects due to a misleading error:  "error": "IdleReplicaCount=1 must be less or equal to MinReplicaCount=1"

### Expected Behavior

The scaledobject should have 1 replica(idleReplicaCount) when there are no messages and scale up to minreplicaCount as soon as there are messages and after that based on the lag it should go

[2022-02-09 21:42] zroubalik commented on #2619
You don't have to specify `idleReplicaCount` in this scenario, see https://github.com/kedacore/keda/discussions/2610

[2022-02-09 21:42] #2619 closed

[2022-02-09 21:44] zroubalik commented on #2618
Seems reasonable, are you willing to contribute this?

[2022-02-09 21:45] zroubalik commented on #2600
@kedacore/keda-maintainers WDYT? Is there a possibility we would like to encode (and keep) the new line character somewhere?

[2022-02-09 21:46] zroubalik commented on #2317
@schoki040 what is the status of this please?

[2022-02-09 21:48] q26646 commented on #2619
We did try it with minReplicaCount=2 and idleReplicaCount=1. It still gives the same error and it does not scale the target.

[2022-02-09 22:07] zroubalik commented on #2619
just specify this
[code]

and omit `idleReplicaCount` from the configuration completely.

[2022-02-09 22:12] q26646 commented on #2619
Thats what we have as a workaround currently to avoid the error message. However, usecase is to have  1 pod running even when there is no lag, but spin up an additional 2 pods upto a max of 6 pods. Per the documentation, we should be able to use the below. However, it does not work due to the error. May be I need a bit more education on the whole purpose of having idleReplicaCount.
[code]

[2022-02-09 22:19] zroubalik commented on #2619
`idleReplicaCount` works only for `0` replicas, see the documentation: https://keda.sh/docs/2.6/concepts/scaling-deployments/

Following will scale between 1-6 replicas:
[code]

[2022-02-09 22:21] q26646 commented on #2619
thanks

[2022-02-10 06:51] tomkerkhove commented on #2600
The question is, do we do it everywhere or not? isn't it tricky if we start removing new lines and, for some reason, this is intentional by end-users?

What if we log a warning that it has new lines instead of manipulating the secret? That way it's more discoverable but we don't change things?

Just a thought.

[2022-02-10 06:59] dmeytin commented on #944
Folks, any ETA for completion?

[2022-02-10 07:14] tomkerkhove commented on #944
No, but hopefully we have an agreement on how it should work soon :)

[2022-02-10 07:17] tomkerkhove commented on #2612
Are you open to contributing a fix?

[2022-02-10 07:43] RamCohen commented on #2612
Already working on it

[2022-02-10 07:53] zroubalik commented on #2600
A warning is a great idea. @vazkarvishal are you willing to contribute this?

[2022-02-10 08:19] loicmathieu commented on #2612
@tomkerkhove next time I'll try to contribute, this time @RamCohen beat me at it ;)

[2022-02-10 08:21] zroubalik commented on #2612
@RamCohen @loicmathieu could you please check this related PR https://github.com/kedacore/keda/issues/2033

[2022-02-10 08:29] loicmathieu commented on #2612
@zroubalik as far as I understand it, this seems to be the same issue so #2621 will also fix #2033

[2022-02-10 09:11] vazkarvishal commented on #2600
Absolutely. What am I expected to do?

[2022-02-10 10:05] zroubalik commented on #2612
@loicmathieu what do you think about this specific comment? https://github.com/kedacore/keda/issues/2033#issuecomment-966912290

Specifically about this:

[2022-02-10 10:19] loicmathieu commented on #2612
There is a risk of chicken and egg issue here, when there is no offset, if we return 0 and a minReplicas of 0 is configured, we will never scalle to 1 so there will never be any consumption, so there will never be any offset, ...

In case no offset, maybe the best is to return 1 so at least we scale to 1 to wait for the first message.

Returing 0 as in the current PR seems more logical but in this

[2022-02-10 10:23] zroubalik commented on #2612
+1 That's why I am more inclined towards to solution propsed in that comment. Not sure if we should scale to 0, we should try to make it as easy as possible for users.

Solid documentation is a must. That's why I don't think we should release this in 2.6.1, but should think about this properly and prepare the feature for the next release. (CC @tomkerkhove that' why I am removing the milestone).

[2022-02-10 10:45] zroubalik commented on #944
I am not 100% fan of the annotation approach. As mentioned here: https://github.com/kedacore/keda/issues/944#issuecomment-1012103101

We would need to change this -> so Reconcile loop will react to every small change on the resource (and my guess is, that it will react on each Status update as well). As part of this feature we should first investigate, how big would be the increase on Operator wit

[2022-02-10 11:18] RamCohen commented on #2612
Perhaps having a parameter that specifies what to return in case of a missing offset (0/1), with a default of '1' as this resembles more what is happening today ?

[2022-02-10 13:18] loicmathieu commented on #2612
Yes, I was thinking about it also, the best is to let the user choose how many replicas should be available waiting for a message when no offsets exist.
I don't know how it will be done as today the HPA choose the number of replicas, but this is what the cron does so it should be feasible ;)

What can be done is to fix the current issue, as returning -1 is a bug (the HPA doesn't understand it) so

[2022-02-10 14:12] #2603 closed

[2022-02-10 14:27] zroubalik commented on #2612
Having and optional parameter on 0/1 with a sane default seems like a great idea.

I prefer to not create an intermediate step in the functionality. So I will keep this https://github.com/kedacore/keda/pull/2621 open and would be better if we can find with a proper fix for the next release @RamCohen @loicmathieu

[2022-02-10 17:36] Punkoivan commented on #2030
Hello folks!
Took a look at related PR. Once you make it, I'll be happy to test it :)

Currently searching for a way to use value instead of averageValue for Prometheus trigger.
Hope I'm looking into correct issue.

Thanks a lot for your work, you folks definitely make our lives easier.

[2022-02-10 20:22] JorTurFer commented on #2561
I think that this can be closed after https://github.com/kedacore/keda/pull/2604
There was an unexpected behavior that scaled to zero if error on the upstream

[2022-02-11 05:33] taylorchu commented on #2561
I just updated keda to the latest 3 hours ago, I will reply if it is still a problem later. it happens roughly once every 2 week.

[2022-02-11 05:33] #2561 closed

[2022-02-11 13:19] tomkerkhove commented on #911
@alexandery Would you be able to test with KEDA v2.6.0 please?

[2022-02-11 13:55] tomkerkhove commented on #2139
Any update on this @Sac-BRONGA ?

[2022-02-11 15:07] dzitkowskik commented on #1407
Still have similar issue, KEDA 2.6.2 with scaler for redis-streams cannot scale up my pod from 0 after a successful scale down:(

[2022-02-11 16:41] alexandery commented on #911
@tomkerkhove Unfortunately Kafka hasn't been a priority for us for quite some time, so I don't have the infrastructure now to test all of this again.

[2022-02-11 18:15] schoki040 commented on #2317
I was not yet able to make any changes on this. This improvement is nonetheless still dear to my heart. Please dont close.

[2022-02-11 19:51] toan-hf opened #2625 "DataDog scaler makes KEDA operator crashing loop back"
### Report

I recently tried to use DataDog Scaler to scale my deployment. But every time, when i apply the scaledobjects like below, the keda-operator pod will crash loopback with a stack trace error

*Keda version 2.6.0*

Trying to apply the simple manifest like

[code]

The Keda Operator pod will throw the error and keep crashing loopback

![image](https://user-images.githubusercontent.com/5726

[2022-02-12 09:13] trondhindenes opened #2626 "day-of-week support for cron scaler"
### Proposal

We'd like to do `0 9 * * 1-5` to have a scaler perform scale-up on weekdays only. This seems to not work in Keda atm:

```error parsing cron metadata: error parsing start schedule. map[desiredReplicas:3 end:0 17 * * 1-5 start:0 9 * * 1-5 timezone:Europe/Oslo]: range or hyphenated inputs are not allowed```

### Use-Case

_No response_

### Anything else?

_No response_

[2022-02-12 17:59] yasiboni-max commented on #1488
Sure, no problem. Few requirements for e2e:
- Provision Data Explorer Cluster.
- Create Database inside that cluster.
- Assign "Database viewer" role to  AAD app & MSI that pod identity use ([link](https://docs.microsoft.com/en-us/cli/azure/kusto/database?view=azure-cli-latest#az-kusto-database-add-principal)).
- Expose database name as env var "TEST_DATA_EXPLORER_DB" in e2e environment.
- Expose

[2022-02-13 13:18] RamCohen opened #2628 "Provide scaler for Google cloud storage"
### Proposal

Scale based on the number of objects in a Google cloud storage bucket

### Scaler Source

Scale based on the number of objects in a bucket

### Scaling Mechanics

Periodically list and count the number of object in the specified google cloud storage bucket.
Use an upper limit on the # of counted items to handle buckets with a very large number of items.

### Authentication Source

Se

[2022-02-14 06:38] tomkerkhove commented on #2628
Would be a great addition, thank you!

[2022-02-14 06:40] tomkerkhove commented on #1407
We don't support `SecretProviderClass` yet so I've re-opened that, sorry.

[2022-02-14 06:41] tomkerkhove commented on #2626
Fair request - Are you willing to contribute this?

[2022-02-14 07:06] tomkerkhove commented on #2600
Would be nice if the code could check for leading/trailing new lines and log warnings correspondingly.

[2022-02-14 08:13] zroubalik commented on #2625
Thanks for reporting this. I can see that DataDog Query is: ` query: "max:aws.sqs.approximate_number_of_messages_visible"`, though the code expects a curly bracket in here: https://github.com/kedacore/keda/blob/85dd39720018d4ce91c9a73355ce44b0f540cfd0/pkg/scalers/datadog_scaler.go#L130-L131

I am by no means an expert on DataDog (queries), but if a valid query doesn't have to contain curly bracket

[2022-02-14 09:39] arapulido commented on #2625
Thanks a lot @toan-hf for the issue!

Yes, a query in Datadog needs to contain a curly bracket. If you want to say that you need all tags, then you can use `{*}`
I agree that this needs to be checked before, there is currently a PR for that: https://github.com/kedacore/keda/pull/2629

Depending on the metric, it may take a while until retrieving the value from Datadog, hence the error (I will work

[2022-02-14 09:51] arapulido opened #2630 "Improve how the Datadog scaler retrieves the Datadog query"
### Proposal

Right now, the Datadog scaler expects a well formed Datadog query in the ScaledObject.

This is OK, but it would be better if it would do the following:

* If the ScaledObject has a "query", then regex that the query is correct before proceeding
* If the ScaledObject has a "metricName" instead of a query, then build the corresponding query automatically, based on a default aggregator

[2022-02-14 09:52] arapulido commented on #2630
@zroubalik hey! I think this will be a good improvement for the Datadog scaler. Can you assign this issue to me, please? Thanks!

[2022-02-14 09:55] zroubalik commented on #2625
@arapulido thanks for the confirmation :)

[2022-02-14 09:56] zroubalik commented on #2630
@arapulido done, the improvement looks great, thanks!

[2022-02-14 10:08] toan-hf commented on #2625
@arapulido  I am aware of the issue of metric returning in gap time as it is crawled from the AWS CloudWatch (had been mentioned [here](https://github.com/DataDog/datadog-agent/issues/5658).
So if changing the query time windows to 15 minutes i still see the same error

<img width="1502" alt="image" src="https://user-images.githubusercontent.com/57263227/153843455-40fb2a18-00cf-4e58-afe9-498954071

[2022-02-14 12:38] trondhindenes commented on #2626
I'm not an expert go dev, but I can definetely make an attempt. Will report back here.

[2022-02-14 13:28] loicmathieu opened #2631 "cron sometimes report 1 even when out of the cron windows"
### Report

cron scaler sometimes report 1 even inside the cron windows. We saw it report 0, <unknown> and 1 when out of the cron window.

### Expected Behavior

It should always report 0 (or unknown when the HPA is deactivated)

### Actual Behavior

It sometimes report 0, sometimes 1, sometimes <unknown>

### Steps to Reproduce the Problem

1.
2.
3.

### Logs from KEDA operator

[code]

### KEDA

[2022-02-14 13:31] vujadeyoon opened #2632 "KEDA 2.6.1 Unable to get external metric for AWS SQS."
### Report

Dear all,

I try to use the KEDA 2.6.1 for AWS SQS [1]. (I also tried other KEDA versions like 2.4.0, 2.5.0 and 2.6.0, but I got same results form the all KEDA versions.)

After deploying the KEDA 2.6.1 and applying the keda-resource.yaml [2], I got some error as below.
[code]

You can check it in details in [3].
I also checked previous issues, #868 and #2381, but it can't solve my pro

[2022-02-14 13:48] alileza opened #2633 "Metrics API Scaler support different format"
### Proposal

Extend metrics API scaler to support Prometheus format, **or new scaler would be preferable?**

I'm thinking something like

[code]

 or instead of relying on `?format` we can also rely on `content-type: application/json` will use `gjson` and `content-type: text/plain` will use Prometheus format.

 unfortunately most of `/metrics` mostly use `content-type: text/plain` instead of expl

[2022-02-14 13:58] toan-hf commented on #2625
To summarise what i have been done
- This problem has been raised here is about We did not put the `{`  in our query. So to prevent the Keda Operator pod crashing loopback, We need to make sure to put that specific character into our query. Thanks to [this patch Ali](https://github.com/kedacore/keda/pull/2629)
- Regarding the error, "no metrics found" that happens sometimes I have adjusted the poo

[2022-02-14 14:45] Ritikaa96 commented on #2220
Hi @JorTurFer , the cpu and memory e2e is way too similar to have two different test files, I was wondering if we should merge them and call it cpu-memory.test.ts
What do you think?

[2022-02-14 14:56] tomkerkhove commented on #2633
`format` would be a good new field for this

[2022-02-14 15:36] alileza commented on #2633
oh right, yes new field would definitely better

[2022-02-14 15:45] ovidiubuligan opened #2634 "RabbitMQ api hosted in a subpath is truncated to http://host/api/ when it shouldbe http://host/subpath/api"
### Report

We are hosting rabbitmq with a subpath due to ingress exposed as a subpath .We do it with the following setting :
[code]
in bitnami helm chart :
[code]
This causes the api to also be hosted at `http://host/rabbit/api`

**Problem is this resset of Path  `parsedURL.Path = ""` here :** https://github.com/kedacore/keda/blob/v2.6.1/pkg/scalers/rabbitmq_scaler.go#L426

We are using this conf

[2022-02-14 16:24] trondhindenes commented on #2626
my bad. This seems to have been fixed as part of https://github.com/kedacore/keda/pull/2038 - I was on an older version. Closing.

[2022-02-14 16:24] #2626 closed

[2022-02-14 21:46] #2608 closed

[2022-02-15 08:09] JorTurFer commented on #2632
hi @vujadeyoon
Could you share KEDA logs (operator and the metrics server pods)?

[2022-02-15 08:50] loicmathieu commented on #2612
@zroubalik I still think that it's a bug on the current implementation and 0 should be returned instead as the HPA have an incorrect behaviour when metrics are negative (it goes to the max). This bug is easily fixable to why not fixing it asap ?

Having an ability to choose how many replicas to maintain when no offset is a new feature that may be more complex to solves but I agree it's a best way

[2022-02-15 09:17] vazkarvishal commented on #2600
I am not a proficient go developer, so I would not be the best person to write this I'm afraid 😔

[2022-02-15 09:39] vujadeyoon commented on #2632
Hi, @JorTurFer

I attach the logs for both pods you mentioned to the above Section. Logs from KEDA operator.

Best,
Vujadeyoon

[2022-02-15 10:33] tomkerkhove commented on #2446
There is still value for this feature request without fallback though - If we have multiple scalers, we do allow people to use 0 as a min replaces or not?

[2022-02-15 10:35] tomkerkhove commented on #2600
No problem at all!

[2022-02-15 10:37] loicmathieu commented on #2446
I'm OK to use 0 as a min replaces

[2022-02-15 10:43] tomkerkhove commented on #2446
But do we even support it, because AFAIK we don't

[2022-02-15 11:35] JorTurFer commented on #2632
hi @vujadeyoon
In the logs you have a lot of errors saying that you have any error in the auth section `invalid header field value \"AWS4-HMAC-SHA256`.
[code]

I think that the problem could be a wrong configuration

[2022-02-15 11:37] JorTurFer commented on #2632
try removing this line `identityOwner: operator`. I guess that you are not using IAM roles because you set also `ACCESS_KEY`

[2022-02-15 12:08] vujadeyoon commented on #2632
Dear @JorTurFer ,

I managed to solve the problem right now!

I requested the AWS support because the AWS also recommend to use KEDA officially [1].
As far as you guessed, I have not required IAM policy in the IAM role.
I noticed that I should attach the SQS policy [2] to the worker node where there is a KEDA operator pod.

I attach all commands to attach the policy to the corresponding worker nod

[2022-02-15 12:10] tomkerkhove opened #2637 "Provide a metric for total amount of ScaledObjects"
### Proposal

Provide a metric for total amount of ScaledObjects so that end-users can visualize it.

### Use-Case

Improve our operational story

### Anything else?

_No response_

[2022-02-15 12:10] tomkerkhove opened #2638 "Provide a metric for total amount of ScaledJobs"
### Proposal

Provide a metric for total amount of ScaledJobs so that end-users can visualize it.

### Use-Case

Improve our operational story

### Anything else?

_No response_

[2022-02-15 12:10] tomkerkhove opened #2639 "Provide a metric for total amount of (Cluster)TriggerAuthentication"
### Proposal

Provide a metric for total amount of (Cluster)TriggerAuthentication so that end-users can visualize it.

### Use-Case

Improve our operational story

### Anything else?

_No response_

[2022-02-15 12:11] #2632 closed

[2022-02-15 12:18] zroubalik commented on #2612
@loicmathieu that might be true, but the current behavior is present from the beginning so some users might expect this. So I don't want to break any existing stuff twice in a short period of time. Let's do it properly in one attempt.

[2022-02-15 12:37] tomkerkhove opened #2640 "External scalers receive metric names with internal KEDA core prefix"
### Discussed in https://github.com/kedacore/keda/discussions/2635

<div type='discussions-op-text'>

<sup>Originally posted by **krishna-kariya** February 14, 2022</sup>
Hi,
I am testing HTTP-triggered Azure Functions on Azure Arc with Keda version 2.5 and 2.6.1. We have created our external HTTP scaler on Keda for autoscaling.

I am getting the error below in the metrics API server
`E0207 02:55:

[2022-02-15 12:43] JorTurFer commented on #2600
Don't worry, if you want, open a PR and we will help you. If you prefer don't do it, no problem at all.

[2022-02-15 13:03] #2625 closed

[2022-02-15 13:10] Keramblock opened #2642 "@Keramblock Is the method of authorization you are referring to the Oauth2.0 model documented here: https://cloud.google.com/docs/authentication#oauth-2.0-clients ?"
@Keramblock Is the method of authorization you are referring to the Oauth2.0 model documented here: https://cloud.google.com/docs/authentication#oauth-2.0-clients ?

_Originally posted by @yquansah in https://github.com/kedacore/keda/issues/2192#issuecomment-951299558_

I found that one:
https://pkg.go.dev/google.golang.org/api/option#WithTokenSource, looks like you are right =)

[2022-02-15 13:10] #2642 closed

[2022-02-15 13:10] Keramblock commented on #2192
@Keramblock Is the method of authorization you are referring to the Oauth2.0 model documented here: https://cloud.google.com/docs/authentication#oauth-2.0-clients ?

_Originally posted by @yquansah in https://github.com/kedacore/keda/issues/2192#issuecomment-951299558_

I found that one:
https://pkg.go.dev/google.golang.org/api/option#WithTokenSource so looks like you are right =)

[2022-02-15 13:11] Keramblock commented on #2642
misclicked

[2022-02-15 15:29] racdev commented on #2577
I think all that is required here is to add the following:
`Proxy: http.ProxyFromEnvironment`
 to the Transport definition here: https://github.com/kedacore/keda/blob/main/pkg/util/http.go#L42 i.e.
[code]

[2022-02-15 15:38] wltbenade commented on #2577
Thanks, @racdev. I'm not a developer, so I didn't want to take the chance.

I'll try this locally to see if it works, then submit a PR.

[2022-02-15 19:09] chaunceyt opened #2645 "Using Hashicorp Vault secrets with TriggerAuthentication results in unable to convert Vault Data value error"
### Report

Configuring a `TriggerAuthentication` object to use `hashiCorpVault` to get the values for various parameters on a ScaledObject.  The scale_resolvers returns `unable to convert Vault Data value`

### Expected Behavior

The result of the `queryKey` to be used for the `new-relic` scaler

### Actual Behavior

The following error related to the `new-relic` scaler

[code]

### Steps to Repr

[2022-02-15 19:28] zroubalik commented on #2645
I am not Haschicorp Vault expert, but seems like it hasn't been able to properly pars `secret.Data`:
https://github.com/kedacore/keda/blob/6e8e1951b3fa5b1922e3a406cb90a5dc0d14bf6e/pkg/scaling/resolver/scale_resolvers.go#L450-L454

[2022-02-15 19:36] zroubalik commented on #2645
@chapurlatn @nisan270390 would you mind looking at this? Thanks

[2022-02-15 20:52] Ritikaa96 commented on #2220
Hi @JorTurFer I've raised #2646 for this. PTAL!

[2022-02-16 06:39] tomkerkhove commented on #2633
Based on https://github.com/kedacore/keda/discussions/2644 [OpenMetrics](https://openmetrics.io/) is a very good idea for another format

[2022-02-16 07:59] anton-dealmeida commented on #2577
Thanks @racdev!

[2022-02-16 09:21] loicmathieu opened #2647 "Kafka scaler sometimes fails with no matching metrics found"
### Report

I have a scaled object with 4 scalers: one prometheus, one cron and two Kafka on two different topics.
We have a lot of failures inside the events on the corresponding HPA like ` unable to fetch metrics from external metrics API: no matching metrics found for s3-kafka-private_aoaa_anomaly_v1`

The same error appears in the Keda operator logs (see bellow).

When doing a describe on the

[2022-02-16 09:25] zroubalik commented on #2647
You have probably hit this issue: https://github.com/kedacore/keda/issues/2592

I recommend you to update to 2.6.1

[2022-02-16 09:35] loicmathieu commented on #2647
@zroubalik upgrading it now ;), thanks for the info.

I'll give feedback after upgrade and a few hours to see if the failures still happened.

[2022-02-16 12:56] asenyaev commented on #2315
Hi @zroubalik!

Yes, it's related to https://github.com/kedacore/keda/issues/2393, but there is no solution for Secrets Store CSI Driver usage.

Usually, a pod for Secrets Store CSI Driver is up when a pod for a deployment has been started and request secret definitions which will be created as secrets and mounted with csi-driver. However, if keda throws an error and cannot scale a deployment, the

[2022-02-16 13:30] zroubalik commented on #2315
@asenyaev thanks for the additional information. If this is the way how Secrets Store CSI Driver works we have a chicken & egg problem :)

So you are right, the only option is to keep `minReplicaCount: 1` or greater.

@tomkerkhove FYI, is there anything we can do on this?

[2022-02-16 13:30] loicmathieu commented on #2647
@zroubalik so after a few hours running with 2.6.1 I confirm that this issue is fixed ;)

I'm closing it now.

[2022-02-16 13:30] #2647 closed

[2022-02-16 13:59] chaunceyt commented on #2645
Some additional debugging.

Added this above [pkg/scaling/resolver/scale_resolvers.go#L205](https://github.com/kedacore/keda/blob/main/pkg/scaling/resolver/scale_resolvers.go#L205)
[code]

Results in log output.
[code]

Added debug code above this line [pkg/scaling/resolver/scale_resolvers.go#L450](https://github.com/kedacore/keda/blob/main/pkg/scaling/resolver/scale_resolvers.go#L450)

Results in

[2022-02-16 17:42] zroubalik commented on #2645
Hm for some reason the `Secret.Data` is `map[keda-nr-key:NRAK-12345678901234]` while the code expects `data["data"]` https://github.com/kedacore/keda/blob/18428b2095c0ee37b20dfa03e99fed7d19fab631/pkg/scaling/resolver/scale_resolvers.go#L450

The `data` key is missing there 🤷‍♂️

[2022-02-16 17:51] zroubalik commented on #2645
We bumped `github.com/hashicorp/vault/api v1.3.0 -> v1.3.1` in the last release, but I don't that it cause some changes how vault secrets are being resolved here: https://github.com/kedacore/keda/blob/18428b2095c0ee37b20dfa03e99fed7d19fab631/pkg/scaling/resolver/hashicorpvault_handler.go#L170

By chance could you please try some older KEDA versions? 2.5/2.4 ?

[2022-02-16 22:00] chaunceyt commented on #2645
Test results Got the same error using the ` rabbitmq` scaler

`2.5.0`

[code]

`2.4.0`
[code]

[2022-02-16 22:38] chaunceyt commented on #2645
After some additional investigation.

It seems this code [here](https://github.com/kedacore/keda/blob/main/pkg/scaling/resolver/scale_resolvers.go#L449-L463) expects one to have created the vault secret using the vault go sdk.

Using this code the secret added using `vault kv put kv-v1/keda/test keda-nr-key=NRAK-12345678901234` failed to be resolved.

[code]

Output executing the above code

[code

[2022-02-16 23:15] chaunceyt commented on #2645
Sorry left out what the data looks like in vault
[code]

Using vault cli

[code]

[2022-02-16 23:31] peelandsee opened #2650 "keda operator and RabbitMQ triggers: reconciler stuck at "metricName xxx defined multiple times in ScaledObject zzz" error"
### Report

Hi!

I noticed that after an unspecified amount of time, a valid and operating ScaledObject stops being reconciled.

Keda Operators logs warn about a duplicated metrics name.

A simple rollout of the Keda Operator is enough fix the warn: on a fresh start the operator feeds again the HPA metrics with the current values.

Assuming the metric names are Keda-managed, and observing that in

[2022-02-17 08:13] zroubalik commented on #2650
See this: https://github.com/kedacore/keda/issues/2647#issuecomment-1041284067

It should help with the problem:) If not please reopen this.

[2022-02-17 08:13] #2650 closed

[2022-02-17 08:33] zroubalik commented on #2645
@chaunceyt oh that's really awful 🤦‍♂️ Great investigation!

Could you please open a PR with a fix? To support both approaches based on what is in the key & value?

[2022-02-17 11:48] krishnadce opened #2653 "KEDA hpa with loganalytics scaler throws error Unable to get external metric after a day of running"
### Report

Unable to get external metric s0-loganalytics....

The HPA shows the value "Unknown"/3 (Where 3 is my threshold value)

### Expected Behavior

Expectation:

1. Metric should be available.
2. Show the error in the logs if there's some issue.

### Actual Behavior

When the scaler is created, the hpa gets the metric value and displays correctly. And it scales with the rise in the metric v

[2022-02-17 11:51] v-shenoy commented on #900
I plan on taking this up. @tomkerkhove

[2022-02-17 11:51] JorTurFer commented on #2584
Note to my self: review also azure-queue

[2022-02-17 12:14] tomkerkhove commented on #900
Thank you!

[2022-02-17 12:16] tomkerkhove commented on #2315
No idea, I have not worked with CSI driver yet - Sorry!

[2022-02-17 12:17] tomkerkhove commented on #2315
Something we should add ot the FAQ then?

[2022-02-17 12:51] zroubalik commented on #2653
See this: https://github.com/kedacore/keda/issues/2647#issuecomment-1041284067

It should help with the problem:) If not please reopen this.

[2022-02-17 12:51] #2653 closed

[2022-02-17 12:52] tomkerkhove opened #2654 "Multiple KEDA deployments in a single cluster"
Over the past weeks/months I've had more and more questions if you can deploy KEDA multiple times in a single cluster.

The scenarios for this is:
1. **Hard Multi-tenancy** - People want to isolate KEDA across teams/customers in a single cluster
  - Customer A should not be able to see/interfer what customer B does
2. **Soft Multi-tenancy** - People want to isolate KEDA across teams/customers in a

[2022-02-17 13:57] chaunceyt commented on #2645
After some additional investigation. This issue is centered around `v1` secrets. The current code resolves a `v2` secret as expected.

I was able to get `v1` working using this patch.

[code]

[2022-02-17 14:25] stephaneey opened #2656 "Better segregation of permissions when using managed identities"
### Proposal

Today, when using TriggerAuthentication with podIdentity, Keda is using the operator's associated managed identity to  authenticate against the monitored stores (ie: Storage Account, Message Brokers, etc.). When using Keda at scale, this results is granting way too many permissions to a single identity. Keda is used by multiple workloads of different nature with different data confid

[2022-02-17 14:35] stephaneey commented on #2656
Exactly :). That would be great!

[2022-02-17 15:25] zroubalik commented on #2315
@tomkerkhove yeah, FAQ or a note somewhere in the Authentication docs makes sense

[2022-02-17 15:28] zroubalik commented on #555
@siva-27 could you please open a new issue and paste there scaledobject/deployemnt/triggerauthentication and also the exact error log message?

[2022-02-17 16:12] stephaneey commented on #2656
I will check more in detail to see if I can contribute :)

[2022-02-17 16:43] rr-paras-patel opened #2657 "Datadog scaler is not able to find matching metrics"
### Report

I have datadog scaler configured on AWS EKS Cluster with keda-2.6.1.
I am using Nginx request per second metric for scaling it is working fine.
Setup works fine as expected for  few minutes. After that it starts throwing error about not able to find metrics. and It auto-recovers in few minutes. it stays unstable continuously.
#### Error events on HPA
[code]

### Expected Behavior

Once

[2022-02-17 17:11] ellistarn commented on #637
re: https://github.com/kedacore/keda/issues/637#issuecomment-1033790013

FWIW, Karpenter v0.1.1 implemented exactly this: https://github.com/aws/karpenter/tree/v0.1.1/pkg/apis/autoscaling/v1alpha1.

We found that the sticking point with users was finding useful signals to scale the node groups.

Unless your use case has a simple mapping of pods to nodes, or you have very low diversity of nodes in

[2022-02-18 05:58] tomkerkhove commented on #2657
This sounds similar to https://github.com/kedacore/keda/issues/2632, can you please double check?

[2022-02-18 05:59] tomkerkhove commented on #2656
Any thoughts on this @zroubalik @JorTurFer? Don't think there should be an issue but just double-checking.

[2022-02-18 06:23] tomkerkhove commented on #2315
Are you willing to document this @kmdnexusvsts?

[2022-02-18 06:24] tomkerkhove commented on #637
@ellistarn Do you support `/scale` subresource so we could scale Karpenter pro-actively?

[2022-02-18 06:29] ellistarn commented on #637
We moved away from this approach, since we decided that the best signal for our customers was pending pods.

[2022-02-18 06:48] tomkerkhove commented on #637
I was not aware of that move, sorry. Allow me to ask - How does it differentiate from Cluster Autoscaler then?

[2022-02-18 08:12] JorTurFer commented on #2656
From high level seems doable, and it could help to reduce the amount of permissions under the same identity.

Anyway, we should maintain also current behavior, something like: if other identity is set, use it, if not, use the current approach.

[2022-02-18 08:41] #2631 closed

[2022-02-18 08:57] siva-27 opened #2658 "keda failed to create HPA object when Deployment has missing secretKeyRef (optional: true)"
### Report

I have created an example deployment and tries to get the secret using `secretKeyRef` with a non existing secret using an optional true
[code]
Deployment got created and I tried the below scaledobject to trigger the scaling
[code]

### Expected Behavior

Keda should create HPA object

### Actual Behavior

Keda failed to create the HPA Object

### Steps to Reproduce the Problem

1. Crea

[2022-02-18 09:00] MartinGolding515 commented on #2328
I am considering the exact same use case so would also like to have this feature. Note that you could create different agent pools for the different types of image but this has 2 drawbacks:
1. An instance must be present in each agent pool to be registered.
2. The azure cli has a significant foot print so would waste a lot of resources considering the above.

[2022-02-18 09:36] #1905 closed

[2022-02-18 13:03] tomkerkhove commented on #1732
As far as I know, unless that changed, there is no simple way to get metrics today. GitHub advises to use [actions-runner-controller/actions-runner-controller](https://github.com/actions-runner-controller/actions-runner-controller) in [their documentation](https://docs.github.com/en/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners).

However,  @nilofer might have an update on

[2022-02-18 17:43] stephaneey commented on #2656
I started looking into this and I validated the approch through a quick hack just to make sure it would work and yes, it seems doable. I have crafted the high level architecture & config to get it working. I'll dive into it over the weekend.

[2022-02-18 19:02] rr-paras-patel commented on #2657
It seems issue #2632 was related to missing IAM permission. in my case we don't interect with any IAM service. Authentication with Datadog works fine after 10 to 15 minutes it suddenly starts throwing error and it auto-resolve. May be it is tied to Datadog rate limiting. one thing for sure we need to get better on is Logging HTTP response in this scenario. i tried log level DEBUG but didn't see an

[2022-02-20 10:39] RamCohen opened #2661 "Scaler based on a GCP StackDriver metric"
### Proposal

A scaler that will retrieve a configurable metric from GCP stackdriver (using the already existing stackdriver_client.go)

### Scaler Source

A metric value obtained from stackdriver

### Scaling Mechanics

Based on a metric value obtained from stackdriver

### Authentication Source

See https://pkg.go.dev/cloud.google.com/go#hdr-Authentication_and_Authorization

### Anything else?

[2022-02-20 11:54] stephaneey commented on #2656
Hello @tomkerkhove @JorTurFer

I got it working in my environment (AKS 1.21.7) but I did touch a serious number of files....and I face one limitation with Azure Service Bus because of the TokenProvider interface which is forcing **GetToken** to pass a target audience only, so no way to pass a client id on top of it.

However, Azure Service Bus works as usual with its default support of TriggerAuth

[2022-02-20 15:04] RamCohen commented on #2357
Hi @tomkerkhove , will be happy to work on this, but for it to be submitted, the issue of having a secret with the credentials for a GCP service account to use should be resolved (https://github.com/kedacore/keda/pull/2648)

[2022-02-22 07:15] tomkerkhove opened #2663 "Provide infrastructure-as-code for test resources with automated deployment"
Provide infrastructure-as-code for test resources with automated deployment so that contributors can PR in the test resources that they need on Azure, AWS, GCP, etc.

This is how I do it for Promitor as well (https://github.com/promitor/testing-infrastructure) which makes it a lot simpler as:
1. Contributors can add the resources in a PR which reduces the dependency on us
2. Cloud infrastructure i

[2022-02-22 08:08] tomkerkhove commented on #2656
This is only for now, though, as we should end up supporting all of the Azure scalers with managed identity (and I thought we already did?). Feel free to open issues for them

Do you have any sample YAMLs of what it looks like? Overall I think this looks OK.

[2022-02-22 14:12] RamCohen commented on #2496
Can you provide the keda log to see if there are errors loading the rabbitMq scaler configuration ?
I've looked at the code and tests and I don't see an obvious reason why this wouldn't work

[2022-02-22 18:11] JorTurFer commented on #2496
hi @PatrickGhosn
Could you provide more info about your problem? We have an e2e test with that parameter (thanks @RamCohen ) and it works. Could you try updating to the latest KEDA version?

[2022-02-22 23:03] benjaminwood commented on #2657
We are seeing the same behavior. Here's an excerpt from the HPA:

[code]

[2022-02-23 06:10] henry1111 opened #2665 "external scaler experience frequent timeout"
### Report

We have implemented external scaler GRPC interface using .net and running under kestrel web server.  When just one scaledObject configured, it seems working fine, when there are 10 scaledObject configured, we experience frequent time out issues. time out error is capture in keda log.

Looking at server processing time,  we see the typical time spend in processing IsActive and GetMetric

[2022-02-23 08:15] tomkerkhove commented on #2657
Definately something to improve - Anyone open to contributing this?

[2022-02-23 08:18] arapulido commented on #2657
Yes, I am already looking into this and I am working on some other improvements.
This is not related to rate-limiting, though. If it was, it wouldn't recover that fast. This is due to sometimes not getting a metric, and KEDA cancelling the context (and thus the HPA logs the warning).

I will work on a patch that makes this more resilient, and also to make it clearer in the error when the user hits

[2022-02-23 08:20] tomkerkhove commented on #2657
Awesome, thank you!

[2022-02-23 10:49] tomkerkhove opened #2666 "Provide e2e tests running on mixed Kubernetes cluster"
Provide e2e tests running on mixed Kubernetes cluster where the control plane is Linux-based, but the worker nodes are all Windows. This is offered by cloud providers such as Azure Kubernetes Service.

KEDA is not supported on Windows, but we do still help them scale Windows workloads given we manage scaling through Kubernetes APIs. While there should not be a difference, it would be good to test

[2022-02-23 19:50] d-patch commented on #2618
Sorry, but unfortunately I'm merely a user and not a developer.

[2022-02-23 22:00] tomkerkhove commented on #2665
@zroubalik @JorTurFer Have you seen this before?

[2022-02-23 22:31] benjaminwood commented on #470
I believe this issue over at the datadog-agent repo is related: https://github.com/DataDog/datadog-agent/issues/10764

We're running a cluster that is using both the datadog agent as well as Keda with some datadog triggers and have run into the problems described in the datadog-agent issue linked above. It looks like:

[code]

[2022-02-24 06:07] SushmithaVReddy commented on #2363
We are looking at this issue

[2022-02-24 08:36] tomkerkhove commented on #2363
Thank you!

[2022-02-24 11:17] felixb commented on #2316
this is still an issue, even in keda 2.6.1.

[2022-02-24 11:31] romanvog opened #2667 "Support for X-Scope-OrgID header in Prometheus scaler"
### Proposal

Need to add support for `X-Scope-OrgID` header as part of the query to a multi tenant cortex (prometheus metrics), since it's not possible to get a response without it when multi tenancy is enabled.

### Use-Case

We're using scalers from type prometheus, and recently moved to a multi tenant cortex to serve metrics from multiple different prometheus instances in different clusters. T

[2022-02-24 12:01] christle opened #2668 "Azure Functions v4 switched to new EventHub checkpointingStrategy"
### Proposal

I observed an unexpected behavior with Eventhub Checkpointing on Azure Functions v4.

Since we switched all our Functions to dotnet6 with Azure Functions 4, all Eventhub-scaler based Functions scales to the maximum number of replicas. The scaler cannot read checkpoint information from the storage Account.

So before v4, Azure functions use an older c# implementation. I mentioned it i

[2022-02-24 14:40] PatrickGhosn commented on #2496
The problem was that there were no logs being shown.

Updating to the version v2.6.1 (chart version 2.6.2) seems to have resolved the issue.

Thank you both for your help!

[2022-02-24 14:40] #2496 closed

[2022-02-24 17:25] JorTurFer commented on #2640
if nobody tackles this, next week I'll take a look at it

[2022-02-24 17:57] JorTurFer commented on #2665
wow,
This is weird because we have an implementation for pooling connections. I'm not an expert in gRPC so maybe I'm missing something. Let's wait till @zroubalik takes a look

[2022-02-24 18:00] JorTurFer commented on #2665
I'm not an expert in gRPC and IDK if we should keep the connection opened, but reviewing the code seems that we only keep alive the connection meanwhile we are doing operations with it. if we don't have any in progress operation, we close the connection

[2022-02-25 11:24] #1499 closed

[2022-02-25 12:44] SandipGorde-TomTom commented on #2328
We are also waiting for this feature in our use cases

[2022-02-26 04:23] joebowbeer commented on #2440
Prior discussion: https://github.com/kedacore/keda/issues/373#issuecomment-631487703

[2022-02-26 21:18] #2220 closed

[2022-02-26 21:21] whitesource-bolt-for-github[bot] opened #2676 "CVE-2022-21698 (High) detected in github.com/knative/pkg-ca64d3b3ea8c6ebeb6a2d788648cf57ebc4154bf - autoclosed"
## CVE-2022-21698 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/knative/pkg-ca64d3b3ea8c6ebeb6a2d788648cf57ebc4154bf</b></p></summary>

<p>Knative common packages</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/knative/pkg-ca64d3b3ea8c6ebeb6a2d7886

[2022-02-28 06:27] tomkerkhove commented on #2496
@PatrickGhosn I presume the log issue is not fixed in v2.6.1 or was it as well?

[2022-02-28 07:01] tomkerkhove commented on #2328
Anybody willing to contribute this?

[2022-02-28 07:02] tomkerkhove commented on #470
Unfortunately that's not possible and the last metric server will overwrite the already existing one - You will have to choose between Datadog or KEDA.

[2022-02-28 07:03] tomkerkhove commented on #2640
Thank you!

[2022-02-28 07:09] tomkerkhove commented on #2668
This is a breaking change so that will have to be part of KEDA v3.0, but it would be nice to open a PR to improve our documentation and mention Functions v4 though. Are you open to that?

[2022-02-28 07:57] PatrickGhosn commented on #2496
No it's showing now. But oddly enough it always shows 1 replica in the log instead of the real number.

`1.6457130054204574e+09  INFO    scaleexecutor   Successfully updated ScaleTarget        {"scaledobject.Name": "test-scaledobject", "scaledObject.Namespace": "test", "scaleTarget.Name": "test1", "Original Replicas Count": 0, "New Replicas Count": 1}`

But all the logs are showing now.

[2022-02-28 08:44] Eldarrin commented on #2328
I'm working on it at the moment; I created an infantile version as outlined above and it worked. Although it spins up duplicates jobs of any machine that can satisfy it, thus one job requesting java would spin up any scaledjob agent that can satisfy it. I'm trying to refine this at the moment

[2022-02-28 09:15] romanvog commented on #2667
hey @JorTurFer,
not familiar with go, but i can give it a try :)
want to point me to the place in code where prometheus type is implemented?

[2022-02-28 09:48] JorTurFer commented on #2667
Hey!
[This is the scaler code](https://github.com/kedacore/keda/blob/main/pkg/scalers/prometheus_scaler.go)

[2022-02-28 10:40] tomkerkhove commented on #2496
Did it catch up on the replica count or not? :/

Thanks for letting us know

[2022-02-28 11:48] v-shenoy commented on #2668
@tomkerkhove I was looking at the the checkpoint behavior, from the Functions team. I can raise a PR for the documentation if required.

[2022-02-28 13:07] JorTurFer commented on #470
The option that you could choise is using KEDA with Datadog Scaler

[2022-02-28 13:10] alxgruU commented on #470
trying to deploy keda on a k8s cluster with existing datadog deployment :
[code]

and same error when trying to deploy datadog on a cluster with existing keda deployment:
[code]

is there a work around this?

[2022-02-28 13:16] zroubalik commented on #470
@alxgruU as mentioned above, you cannot have both KEDA and another service that is using `APIService "v1beta1.external.metrics.k8s.io"` in this case Datadog.

[2022-02-28 13:25] zroubalik commented on #2665
@ahmelsayed CC

[2022-03-01 01:01] PaulLiang1 commented on #2612
Reading the description from https://github.com/kedacore/keda/pull/996 where the `-1` behaviour is added, looks like it's mean to trigger scaling when there is no offset + using latests.

Agree with @loicmathieu , it does seem to be a more reasonable approach to let the user know to set minRep >= 1 in such case + warning instead.

[2022-03-01 09:17] antonio-policastro commented on #2385
I've just run into the same problem, and it's a big one for my use case.
It happens when the queue messages are not deleted within seconds after being popped from the queue.

The scaler [peeks messages](https://docs.microsoft.com/en-us/rest/api/storageservices/peek-messages), and peek returns the **visibile** messages in the queue.
When a client [Gets a message](https://docs.microsoft.com/en-us/re

[2022-03-01 11:03] #2584 closed

[2022-03-01 11:10] zroubalik commented on #2385
I am total Azure (Storage) noob, but in general, if it takes a few hours to process a message, then ScaledObject might not be the right option, you should try to use ScaleJob.

[2022-03-01 11:43] JorTurFer commented on #2385
Hey @antonio-policastro
I think that [the implementation](https://github.com/kedacore/keda/blob/4e6be90bef4902f81e81af8f9ba028d9089aa7af/pkg/scalers/azure/azure_queue.go#L33) can recover the expectation of more than 32 messages.
I'm not an expert in azure sdk, but I think that we check if they are less than 32 and if not, we check the estimate amount of them so we can get more than 32

[2022-03-01 12:03] antonio-policastro commented on #2385
Oh, I see. Thanks, i completely missed that you were already using ApproximateMessagesCount _when the queue has more thank 32 messages_.
During my tests I always had less than 32 messages.

I believe that the scaler should _always_ use ApproximateMessagesCount and never Peek, because Peek can't see hidden messages.
What do you think?

From [docs](https://docs.microsoft.com/en-us/azure/storage/queu

[2022-03-01 12:34] JorTurFer commented on #2385
I'm not sure about it, peek returns the value with accuracy.  ApproximateMessagesCount (at least in .NET SDK) could return more messages than actual count

[2022-03-01 12:39] #2263 closed

[2022-03-01 12:52] RamCohen commented on #2385
Right. Approximate may return >0 count when in fact there aren't any
messages at all.
This looks more and more like something that we can resolve with a scaler
parameter that will determine whether to use peek or not

On Tue, Mar 1, 2022 at 2:34 PM Jorge Turrado Ferrero <
***@***.***> wrote:

[2022-03-01 13:20] antonio-policastro commented on #2385
A scaler parameter would solve my problem (and [jungopro](https://github.com/jungopro)'s too), and it wouldn't be a breaking change. Upvote!
I didn't know that ApproximateMessageCount could return a wrong (higher) number. Can you point to some documentation about it? I can't find anything.

Thanks everyone for your prompt answers.

[2022-03-01 13:46] arapulido commented on #2657
I just created a PR to fix this (and other improvements) in 2.6.

The problem described in this issue is partially caused by the selection of a time window that is too small (15 seconds). Datadog doesn't have that metric yet in many cases, and returns an empty value, that logs as a warning in the HPA. Always try in general a bigger window, and we will use the last point (most recent) returned.

Id

[2022-03-01 13:58] JorTurFer commented on #2385
hey @antonio-policastro
This is the [.NET docs](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues.models.queueproperties.approximatemessagescount?view=azure-dotnet) about that method.

[2022-03-01 14:42] tomkerkhove commented on #2668
Thank you!

[2022-03-01 14:44] tomkerkhove commented on #2657
Makes sense, thanks!

We can't do that though, so we will have to wait for v3.0 and document this. Thoughts @kedacore/keda-maintainers?

[2022-03-01 14:57] arapulido commented on #2657
That's OK, we can wait. Or even make other changes that don't break the API; i.e. allow a minimum of 90 seconds for an the age parameter: would that be allowed for a 2.7 change? Thanks!

[2022-03-01 15:00] JorTurFer commented on #2657
If we can wait is always better, but in the worst case, Datadog Scaler has been introduced 2 months ago, I guess that the user base is not huge yet (but I prefer to wait if it's possible)

[2022-03-01 16:26] tomkerkhove opened #2697 "Add e2e test for external scaler"
Add e2e test for external scaler

[2022-03-01 16:26] tomkerkhove opened #2698 "Add e2e test for external push scaler"
Add e2e test for external push scaler

[2022-03-01 16:27] JorTurFer commented on #2227
Can this issue be closed? I think that now they are reliable

[2022-03-01 16:47] zroubalik commented on #2227
Yeah, let's open a new issue if there are still problems. Great work @JorTurFer !

[2022-03-01 22:15] benjaminwood commented on #2657
I believe there is a legitimate use case where datadog would return an empty value. For example, imagine a query counting requests with 500 status. In our case, we have such a trigger that scales an object if a certain threshold (of 500's) is reached. Ideally there would be times when there are no 500's at all (even in a large window of time).

Am I understanding the problem correctly? If so, woul

[2022-03-02 06:30] tomkerkhove commented on #2657
Agreed, valid concern and will definately happening. I would argue 0 is a bit misleading because you cannot separate that from a real 0 value but -1 is also not ideal, so 0 is fine I guess.

[2022-03-02 07:40] stephaneey commented on #2656
Hi @tomkerkhove

Sorry for my late reply but I've been rather busy :). The below YAML corresponds to the following scenario:

- The data sources are 2 Azure Storage Accounts with their own queue
- 1 handling function (deployed as two separate deployments) using its associated managed identity for both storage accounts. The target account and managed identity to be used are passed as K8s secrets
-

[2022-03-02 07:52] tomkerkhove commented on #2262
@JorTurFer This is what you are working on at the moment, right?

[2022-03-02 12:05] yaronpri opened #2705 "No support for SAS token in EventHub Scaler and Checkpoint Storage"
### Report

Based on current documentation https://keda.sh/docs/2.6/scalers/azure-event-hub/
- when defining Azure EventHub Scaler there is no option to use EventHub SAS token (which was generated using: https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token)
- or pass SAS token for the checkpoint blob storage
Both settings expected to get connection string values - which in some ca

[2022-03-02 12:13] tomkerkhove commented on #2658
Thanks for reporting!

[2022-03-02 19:40] benjaminwood commented on #2657
Yeah, I agree 0 could be misleading. Perhaps a default value could be provided as an argument? In my scenario, I could safely set it to 0. Others may want a different default value in the event that the metric is null.

One thing is for sure, the existing behavior is undesirable under most (all?) circumstances. Logging a warning that the metric is null seems appropriate, but breaking the trigger i

[2022-03-02 20:34] Wolfe1 opened #2709 "Selenium Gird Scaler | Edge active sessions not being properly counted"
### Report

Been working on getting a selenium grid 4 deployment working in AKS using Keda to scale. Chrome and Firefox have been no problem but scaling Edge browser pods seems to have a bug.

Currently using the following scaled-object:
[code]

New sessions in the queue appear as 'MicrosoftEdge' and scale up just fine:
![image](https://user-images.githubusercontent.com/3010366/156442649-26035b95-

[2022-03-03 06:36] tomkerkhove commented on #2657
Fully agree. @arapulido Would you mind incorporating the following:
- No metric? Then we log a warning.
- End-users can configure a `metricUnavailableValue` property to use in case the metric is not there. If nothing was configured then I believe `0` is the safest value? Or `-1` but not sure how HPA will react to that.

[2022-03-03 07:32] JorTurFer commented on #2657
I agree with the first point, for the second point, I think that we should raise an error if the metric is not available. KEDA already has a fallback system for doing it, only a raised error is needed, I think that if we add this local fallback system, we are duplicating the responsibilities of the current fallback system

[2022-03-03 07:44] arapulido commented on #2657
I think there are some cases in which not having a metric doesn't mean that it should be 0. I will be doing some more testing on my side, and I will post here the findings.

[2022-03-03 21:42] denzhel commented on #2292
If anyone reads this post, I wanted to share my solution.

Since we're using Keda's operator with Terraform, I've added the following to the values file:
[code]

[2022-03-04 09:07] tomkerkhove commented on #2657
Sounds good to me but would call it metricUnavailableValue

[2022-03-04 11:42] v-shenoy commented on #900
Got a bit busy with some other work, working on this. Commenting so that the issue doesn't get marked as stale.

[2022-03-04 12:04] rtnpro commented on #2634
I am triaging this issue.

[2022-03-04 13:30] tomkerkhove commented on #900
No worries, issue won't get stale and take your time - Thanks for the update!

[2022-03-04 17:24] #2498 closed

[2022-03-04 19:22] zroubalik commented on #2645
@chaunceyt any update on the PR?

[2022-03-05 15:47] yaronpri commented on #2705
For sure, I will try to find some time for this. Thx

[2022-03-06 07:38] zaheer032 opened #2715 "Keda-Scaledjob not scaling based on kafka-trigger"
### Report

Keda configuration looks as below
[code]
The keda-jobs are required to run long time to complete the task hence the ScaledJob. But with the above ScaledJobs configuration the keda jobs are scaling every 20 sec . I want the keda jobs to scale only based on the messages on the kafka-trigger and not based on the pollinginterval. Can anyone help me on this

### Expected Behavior

Scale job

[2022-03-07 07:30] slv-306 commented on #470
Team I'm facing the below error. What is workaround?
`Error: INSTALLATION FAILED: rendered manifests contain a resource that already exists. Unable to continue with install: APIService "v1beta1.external.metrics.k8s.io" in namespace "" exists and cannot be imported into the current release: invalid ownership metadata; label validation error: missing key "app.kubernetes.io/managed-by": must be set t

[2022-03-07 08:00] JorTurFer commented on #470
hi @slv-306
When do that happen? Are you installing KEDA for first time and you have another metrics server or similar?

[2022-03-07 10:19] v-shenoy commented on #900
Could somebody provide me some more resources I could read up on for adding authentication sources? @tomkerkhove

[2022-03-07 10:28] tomkerkhove commented on #900
We don't have any docs on adding auth providers I think, but we should add this.

Or am I mistaken @JorTurFer  @zroubalik ?

[2022-03-07 10:31] slv-306 commented on #470
We have another metrics-server in place. Is there any workaround

[2022-03-07 10:37] zroubalik commented on #900
Nope, it's in the code though 😅

[2022-03-07 10:40] JorTurFer commented on #470
if the metrics server that you already have uses `v1beta1.external.metrics.k8s.io` (and the error suggests that), there is not any workaround, sorry.
The limitation is at k8s level, we can't provide any solution from KEDA side

[2022-03-07 10:49] tomkerkhove opened #2718 "Provide contribution guide information for adding authentication sources"
Provide contribution guide information for adding authentication sources

[2022-03-07 13:24] Shitaibin opened #2719 "Returns unmatched error when updating hpa object failed"
### Report

In updateHPAIfNeeded, it should return error of update hpa object not newHPAForScaledObject, if updating failed.

### Expected Behavior

returns error of updating instead of newHPAForScaledObject

### Actual Behavior

returns the error of newHPAForScaledObject

### Steps to Reproduce the Problem

1. deploy a scale object
2. changing the hpa configureations of the scale object
3. occasi

[2022-03-07 16:16] jpereiramp opened #2720 "RollingUpdate strategy is not respected with regards to maxUnavailable"
### Report

My deployment's `RollingUpdate` strategy is not being respected with regards to its `maxUnavailable: 0` configuration, when updating deployments attached to a `ScaledObject`. This is not true when using plain `HorizontalPodAutoscaler` objects.

### Expected Behavior

When setting up a `Deployment` using a `RollingUpdate` strategy with `maxUnavailable: 0`, I expect to never have less ru

[2022-03-07 20:41] wmedlar opened #2723 "Include RBAC permissions to custom resources in KEDA manifests"
### Proposal

KEDA should attach corresponding CRD permissions to the built-in `view`, `edit`, and `admin` ClusterRoles through [ClusterRole aggregation](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles). Right now KEDA requires configuring permissions for its resources manually, introducing burden for cluster operators. Aggregation is a common pattern for appl

[2022-03-08 05:04] slv-306 commented on #470
Is there any way to push metrics to stackdriver with Keda

[2022-03-08 05:56] tomkerkhove commented on #470
No, unfortunately not.

[2022-03-08 05:59] slv-306 commented on #470
Can we use two triggers for autoscaling single deployment. Like one trigger for CPU while other for RPS

[2022-03-08 08:04] JorTurFer commented on #470
do you mean using KEDA?
Yes, with KEDA you can use all the triggers that you want under the same `Scaled{Job|Object}` for the same workload.
If you meant using your current system and also KEDA, not, it's not possible

[2022-03-08 09:44] tomkerkhove commented on #470
@slv-306 As @JorTurFer mentioned this is supported and documented in our FAQ: https://keda.sh/docs/latest/faq/

May I ask you to create a GitHub Discussion for asking questions that are not related to this issue please? This helps us keep the conversation more focused - Thank you!

[2022-03-08 09:48] tomkerkhove commented on #2723
@zroubalik Thoughts? @wmedlar Are you willing to jump in if we want to do this? Keep in mind that we should be backwards compatible

[2022-03-08 10:10] denzhel opened #2724 "Keda not scaling deployment"
### Report

I'm using this HPA config:
[code]

This is a screenshot from Grafana:
![image](https://user-images.githubusercontent.com/33213077/157213395-276a36be-b229-4ff4-9bb7-16807d6a4613.png)
This is a screenshot from Prometheus it self when running the query manually:
![image](https://user-images.githubusercontent.com/33213077/157213935-d318ec8e-7f69-4dc2-8087-4ab4c9a7f474.png)

### Expected Be

[2022-03-08 14:59] Wolfe1 commented on #2709
Testing this a bit further and it seems that this limits the scale-up as well.

For example, take this testing scenario:
- Scaled object allows up to 20 edge pods at once, normal scale-up behavior.
- I have 10 Edge pods, each currently running a test.
- I have 5 sessions for edge waiting in the session queue.

What we would expect to happen here is that we would scale up to 15 pods in order to all

[2022-03-08 15:46] ishioni opened #2726 "Separate CRD manifest"
### Proposal

I would like a separate CRD-only yaml to deploy CRDs tak keda uses

### Use-Case

I manage my cluster with flux, using their helmrelease CRDs and kustomize. This works fine but on the condition that CRDs are deployed on a separate step before the actual helm release. This is to combat the fact that helm releases in a kustomization step are run in parallel, and if any of them include

[2022-03-08 17:30] wmedlar commented on #2723
If needed, sure.

[2022-03-09 07:06] tomkerkhove commented on #2726
Would you prefer to have them as a YAML file in that case?

[2022-03-09 07:30] ishioni commented on #2726
Yes, that would be ideal

[2022-03-09 07:55] tomkerkhove commented on #2726
Any thoughts on this @zroubalik?

[2022-03-09 09:29] v-shenoy commented on #2668
What are the future plans regarding this issue?

[2022-03-09 09:41] tomkerkhove commented on #2668
This is a breaking change so we'll need to wait with this one.

[2022-03-09 10:57] JorTurFer commented on #2724
Hi @denzhel
Could you share KEDA logs (from operator and metrics-server instances)?

[2022-03-09 11:03] JorTurFer commented on #2709
Hi,
I'm not an expert but this seems an error in the upstream, I mean. KEDA recovers those values and applies the logic in base of them, but I guess that the consistency between them is part of the upstream responsibility.

Maybe I'm missing something but I think that if we apply that patch and then the upstream uses the same name in both cases, KEDA will fail again.

thoughts @kedacore/keda-core-

[2022-03-09 11:07] JorTurFer commented on #2720
hi @jpereiramp
Are you sure that this problem doesn't happen also with normal HPA? I mean, when you are using ScaledObject, KEDA creates the HPA and exposes the metrics for that HPA (or in this case, only creates the HPA because CPU and memory are exposed by the regular metrics server).

Sounds weird that you have this behavior with the HPA generated by KEDA and not if you create the HPA manually

[2022-03-09 11:08] JorTurFer commented on #2720
I'll try to replicate the scenario during the day from my side

[2022-03-09 14:18] artworx opened #2728 "Keda 2.6.1 does not scale targets"
### Report

The message `Reconciling ScaledObject` shows up multiple times, without actually scaling the deployment

### Expected Behavior

I expected to see Successfully updated ScaleTarget

### Actual Behavior

[code]

### Steps to Reproduce the Problem

1. Install KEDA 2.6.1 release.yaml
2. apply Scaled Object
[code]

### Logs from KEDA operator

KEDA Operator:

[code]

KEDA metrics api server

[2022-03-09 15:12] #2262 closed

[2022-03-09 15:15] #779 closed

[2022-03-09 15:35] JorTurFer commented on #2728
Hey @artworx
Have you got any network policy deployed in the cluster? It seems that the requests cannot reach the metrics server

[2022-03-09 15:46] artworx commented on #2728
This shouldn't block the requests:

[code]

I'm wondering about the `Get "https://192.168.32.3:6443/apis/external.metrics.k8s.io/v1beta1": Address is not allowed'` error.

192.168.32.3 is the address for keda-metrics-apiserver-79d584b78d, If I curl it from the a pod in the cluster, i get a response.

[code]

Am i missing some auth? Any idea how to debug this further?

[2022-03-09 16:21] jpereiramp commented on #2720
Thanks for the feedback, @JorTurFer. And **yes**, I've got quite a few services running in production using the normal HPA and this RollingUpdate behavior has been proven to work under such scenario. And I'm also sure that the _unexpected_ behavior happens with KEDA using ScaledObject.

Are we maybe creating new HPA object when new Deployments are released? Could this be happening under a temporar

[2022-03-09 16:23] Wolfe1 commented on #2709
@JorTurFer After talking with some contributors for selenium it seems that the edgeDriver accepts a few values as valid (having trouble finding any sort of a list though) when starting but will in the end self identify as 'msedge' every time:

![image](https://user-images.githubusercontent.com/3010366/157475006-bef1be73-6266-4550-a856-248041c805f1.png)

It would seem in this case that the driver s

[2022-03-09 16:41] artworx commented on #2728
@JorTurFer thanks for the tips, it was indeed networking. Turns out i need `hostNetwork: true` on the metrics-apiserver deployment.

[2022-03-09 16:41] #2728 closed

[2022-03-09 16:46] morganchristiansson commented on #779
Very nice! Is new release being made?

[2022-03-09 16:49] tomkerkhove commented on #779
It will be in 2.7

[2022-03-09 16:50] JorTurFer commented on #779
taking into account our release plan, in 2 months approx will be the next release

[2022-03-09 16:50] JorTurFer commented on #779
You can try it using `main` tag but we not recommend that on prod environments because `main` is not stable version

[2022-03-09 16:54] JorTurFer commented on #2720
No, HPA is not recreated. In fact, you can check the age of the HPA and double check that it counter doesn't restart during release process

[2022-03-09 17:56] denzhel commented on #2724
Hey @JorTurFer

Operator:
repeated over and over:
[code]

Metrics server:
repeated over and over:
[code]

After searching and reading the various issues, I think I understand why Keda is not scaling. Let me know if I'm right please @JorTurFer

So .. the query I used is `max(avg_over_time(rabbitmq_queue_messages{queue="someQueue.notifications"}[5m]))` meaning I'm searching for the average amount of

[2022-03-09 18:32] steven0711dong commented on #2503
@zroubalik @tomkerkhove Do you guys know who enabled white-source scan on this repo? Is it a matter of obtaining a license and install white source app on this repo or the workspace this repo belongs to?

[2022-03-10 06:46] tomkerkhove commented on #2503
It was me who did it as part of https://github.com/kedacore/governance/issues/47.

We are using the free license because we don't get any funding and had an open request with WhiteSource but never heard back.

Is there a problem on this or suggestion? Always happy to improve it.

[2022-03-10 08:31] zroubalik commented on #2726
Fine for me, the CRDs are already part of the big `keda-2.X.X.yaml` (eg. https://github.com/kedacore/keda/releases/download/v2.6.1/keda-2.6.1.yaml), we can release just CRDs next to it.

The release is being done here: https://github.com/kedacore/keda/blob/8c857512439cbbbc305f017c21932bde2f59eb2a/.github/workflows/release-build.yml#L57-L60

@ishioni are you willing to contribute this?

[2022-03-10 11:38] JorTurFer commented on #2709
I agree with that optional parameter. Maybe explaining it well in the docs we could fill the gap and don't be attached to future changes in their side because it's just remove the value for the optional parameter (but this edge case should be documented IMO)

[2022-03-10 12:25] zroubalik commented on #2724
@denzhel I would definitely recommend setting the threshold to some lower number (5-10?), just to clarify that KEDA is working correctly. Then you can set the threshold to a number that fits your needs.

[2022-03-10 12:49] zroubalik commented on #2723
Sounds good, let's do this :)

[2022-03-10 12:58] denzhel commented on #2724
Hi @zroubalik, thank you for your answer !

Besides lowering my threshold to a lower number for debugging purposes, can you please explain why should I do that or was my theory on how HPA works was correct ?

[2022-03-10 13:16] JorTurFer commented on #2724
Did you query that metric manually? Just for knowing what value is receiving/exposing KEDA
You can find how to do it [here](https://keda.sh/docs/2.6/operate/metrics-server/)

[2022-03-10 13:50] denzhel commented on #2724
@JorTurFer When I run this query in Prometheus:
[code]
I get the following:
[code]

However, when I run the following kubectl query:
[code]
I get:
[code]

[2022-03-10 14:39] JorTurFer commented on #2724
There is a [section at the end of the page](https://keda.sh/docs/2.6/operate/metrics-server/#how-to-get-metric-when-multiple-scaledobjects-have-the-same-metric-name) explaining how to solve it :)

[2022-03-10 15:17] steven0711dong commented on #2503
@tomkerkhove no problem, I'm just curious about the process as I'm trying to do the same on knative workspace. What is the open request with WhiteSource about?

[2022-03-10 19:41] denzhel commented on #2724
@JorTurFer

At the moment I checked, both Prometheus and the `kubectl get --raw` command returned the same value:
[code]

How ever, `k get hpa` returns:
[code]

Divided by `1000` due to the `m` unit is 95.312.
Multiply by `16` which is the number of the deployment pods is 1524.5(equals to the original metric).

Should I set my threshold lower ? 1525 is way above the threshold and currently that do

[2022-03-11 01:19] chaunceyt commented on #2645
@zroubalik Sorry for the delay got busy on a different project, I should have the PR in a couple of days.

[2022-03-11 07:21] tomkerkhove commented on #2503
To get a discount for open-source projects to get more functionality

[2022-03-11 08:22] zroubalik commented on #2720
Could you plase paste here output of `kubectl get hpa HPA_NAME -oyaml`? For HPAs targeting your Deployment with `RollingUpdate` strategy?
And output for HPA created by you manually and for HPA generated by KEDA? So we can compare, what is different.

[2022-03-11 09:50] alileza opened #2729 "Prometheus Scaler threshold type should be float64 instead of int``"
### Report

_No response_

### Expected Behavior

prometheus scaler should be able to accept decimal value, since prometheus metrics value is float64

### Actual Behavior

[code]

### Steps to Reproduce the Problem

set a trigger with threshold in decimal value, for example `0.5`

### Logs from KEDA operator

[code]

### KEDA Version

2.6.1

### Kubernetes Version

1.21

### Platform

Amazon Web S

[2022-03-11 14:44] RaulButuc commented on #2120
Any chance for supporting ActiveMQ without auth being required? The company set up a staging AMQ which sits in a DMZ and is set up without authentication, as such there is no username or password to pass which results in the ScaledObject failing to become Ready.

[2022-03-11 15:36] tomkerkhove opened #2731 "Add e2e test for Azure Service Bus scaler (Topic)"
Add e2e test for Azure Service Bus scaler (Topic)

[2022-03-11 15:36] tomkerkhove opened #2732 "Add e2e test for Azure Service Bus scaler (Queue)"
Add e2e test for Azure Service Bus scaler (Queue)

[2022-03-11 15:38] tomkerkhove commented on #2120
That's something we could add - Would you mind opening a feature request and/or contribute it please?

[2022-03-11 15:51] tomkerkhove opened #2733 "Support non-public clouds for Azure Key Vault authentication"
### Proposal

Support non-public clouds for Azure Key Vault authentication

### Use-Case

_No response_

### Anything else?

_No response_

[2022-03-11 15:52] tomkerkhove opened #2734 "Support non-public clouds for Azure Data Explorer"
### Proposal

Support non-public clouds for Azure Data Explorer

### Use-Case

_No response_

### Anything else?

Relates to #1488

[2022-03-11 15:53] tomkerkhove opened #2735 "Support non-public clouds for Azure Application Insights"
### Proposal

Support non-public clouds for Azure Application Insights

### Use-Case

_No response_

### Anything else?

_No response_

[2022-03-11 15:55] RaulButuc commented on #2120
@tomkerkhove Sure, will have a look on Monday as I'm off for the weekend.

[2022-03-11 17:32] zroubalik commented on #2720
@jpereiramp what scalers are defined in ScaledObject? CPU+Prometheus? could you please create one with CPU trigger?

[2022-03-11 17:58] denzhel commented on #2724
Threshold = desired value per pod

Got it.

It's not that trivial.

[2022-03-11 18:08] jpereiramp commented on #2720
@zroubalik You're right, it was both Prometheus + CPU, sorry about that. Here's one with just the CPU trigger:

Manually-deployed HPA:
[code]

KEDA-managed HPA:
[code]

[2022-03-11 18:15] zroubalik commented on #2720
@jpereiramp I don't see any real difference between these two HPAs 🤷‍♂️ KEDA doesn't affect scaling 1<->N, it's all handled by HPA Controller, KEDA just creates the HPA resource. So I am not sure what could cause the difference.

[2022-03-11 18:29] zroubalik commented on #2720
Do you see anything strange in KEDA operator log? Might want to enable Debug log level: https://github.com/kedacore/keda/blob/main/BUILD.md#keda-operator-logging

[2022-03-11 20:03] jpereiramp commented on #2720
@zroubalik  Just some periodic `Parsed Group, Version, Kind, Resource` and `Reconciling ScaledObject` as well as status update such as active/inactive as scaleTarget, not anything that seems strange. And nothing in particular during a rolling update.

Still I'm pretty sure the only change that is made to "break" the expected `RollingUpdate` behavior is attaching a `ScaledObject` to the `Deployment

[2022-03-11 21:41] denzhel commented on #2724
@zroubalik Yes.
Thank you.

[2022-03-11 21:43] denzhel commented on #2030
Same here, would be happy to test it

[2022-03-12 09:14] tomkerkhove commented on #2656
Are you willing to contribute this @stephaneey?

[2022-03-12 09:21] stephaneey commented on #2656
Hi @tomkerkhove

Yes of course but I was waiting for @JorTurFer 's feedback. Do you want me to start the pull request process?

Thanks

[2022-03-12 09:34] tomkerkhove commented on #2656
I think it looks pretty accurate, let's start the feature and doc PR as I don't expect big changes - Sounds good?

[2022-03-12 09:41] tomkerkhove opened #2737 "Migrate e2e tests to Go"
Migrate e2e tests to Go instead of typescript to standardize one one language.

We should use a phased approach where we migrate one scaler and run the new approach next to the current one to verify the setup.

New scalers should be in Go and then gradually migrate old tests over.

- [x] https://github.com/kedacore/keda/issues/3224
- [x] https://github.com/kedacore/keda/issues/3225
- [x] https://g

[2022-03-12 09:41] tomkerkhove commented on #2737
Thoughts @kedacore/keda-core-contributors?

[2022-03-12 09:49] stephaneey commented on #2656
Ok, I'll try to move on with this over the weekend

[2022-03-12 10:01] tomkerkhove commented on #2656
No rush, next week or later is fine as I was checking who would pick it up

[2022-03-12 10:23] v-shenoy commented on #1285
I can take these up.

[2022-03-12 11:18] JorTurFer commented on #2656
Sorry for the delay. This issue was missing, maybe I marked as readed by error... 😔
The idea sounds good ♥️

[2022-03-12 11:20] JorTurFer commented on #2737
There is not an icon to reflect how much I agree this proposal 😁😁

[2022-03-12 16:08] Friedrich42 commented on #2317
Hey. I created PR for this issue. Please review - https://github.com/kedacore/keda/pull/2739

[2022-03-12 16:57] pragmaticivan opened #2740 "New Relic Scaler is not getting correct value from query"
### Report

Currently having issues using New Relic Queries properly. The current value does not match the response in New Relic
<img width="1702" alt="Screen Shot 2022-03-12 at 10 55 37 AM" src="https://user-images.githubusercontent.com/301291/158027202-f60ed0f1-b17d-400d-a237-446e57898184.png">
.

### Expected Behavior

The current value should match the current value in the query response.

###

[2022-03-12 17:32] #2172 closed

[2022-03-12 21:46] #2724 closed

[2022-03-12 21:48] #1528 closed

[2022-03-14 07:25] tomkerkhove commented on #1488
Thank you for the contribution @yasiboni 🎉

[2022-03-14 07:25] #1488 closed

[2022-03-14 07:27] whitesource-bolt-for-github[bot] opened #2752 "CVE-2022-25243 (Medium) detected in github.com/hashicorp/vault-v1.3.1 - autoclosed"
## CVE-2022-25243 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-03-14 08:04] #2628 closed

[2022-03-14 08:26] zroubalik commented on #2720
Only thing that KEDA does to the Deployment is notifying it to scale 0<->1, the same way HPA is doing that. The rest is being handled by HPA. Given that you have `minReplicaCount` > 0, KEDA is not directly involved at all, it just provides metrics for HPA which is driving the scaling.

[2022-03-14 11:04] aryan9600 opened #2757 "Add support for templating in `spec.triggers.metadata.query`"
### Proposal

It'd be great if Keda allowed users to use templates instead of hardcoding the target deployment name in the query when using a scaler like Prometheus. Something along the lines of:
[code]

Keda could then refer to `.spec.scaleTargetRef` to get the actual value and insert it into the query before running the query. This would enable other operators to interact with `ScaledObjects` in

[2022-03-14 11:11] pragmaticivan commented on #2740
<img width="1354" alt="Screen Shot 2022-03-14 at 6 07 07 AM" src="https://user-images.githubusercontent.com/301291/158160400-8ce63285-5c47-4dcd-b6b6-c588f6a3992f.png">
<img width="727" alt="Screen Shot 2022-03-14 at 6 06 52 AM" src="https://user-images.githubusercontent.com/301291/158160402-d66dc015-15c0-4433-ad83-5cbaebbf9994.png">

[code]
This query seems to behave as expected. It scales it well

[2022-03-14 11:12] pragmaticivan commented on #2740
^ this value actually doesn't match the current value in new relic, although it scales properly based on what it should be using for scaling.

[2022-03-14 11:12] pragmaticivan commented on #2740
<img width="1581" alt="Screen Shot 2022-03-14 at 6 12 26 AM" src="https://user-images.githubusercontent.com/301291/158160918-99abcf45-8d04-4800-ab5d-6c45b0484289.png">

[2022-03-14 13:50] #2657 closed

[2022-03-14 16:03] zroubalik commented on #2740
Please refer to Kubernetes section in FAQ: https://keda.sh/docs/2.6/faq/ to see how HPA calculates the value.

[2022-03-14 17:31] isugimpy commented on #2299
Need to bump this so it stays open.

[2022-03-14 18:19] pragmaticivan commented on #2740
hum... that might explain the second bit but not really the first part of it, where it shows `411774998`

[2022-03-14 19:06] Dudesons opened #2759 "Datadog scaler doesn't scale correctly to 0"
### Report

We are configuring datadog scaler on queue workers to scale 0 to N.
Scale up to N work perfectly, scale down to 1 is also working but when we are expecting to scale to 0 we are experiencing strange behaviours.
If the query return 0 the scaler will keep the minimum to 1, if we "break" the metric the deployment go to 0.
By break I mean no data is sent to datadog, so we have no plot on th

[2022-03-14 23:39] pchaudhary1 commented on #2484
Hi @bilby91
I am on Keda Version 2.6.0 and I see the same error message mentioned above.
Should I downgrade to 2.4.0 to get around this issue?

Regards,
Pankaj

[2022-03-15 07:01] aryan9600 commented on #944
FWIW, the annotation approach seems fine. From what I understand, the issue regarding a potential increase in the number of reconciler runs can be avoided by using an [OR predicate](https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.11.1/pkg/predicate?utm_source=gopls#Or) with a custom predicate that returns true only if the annotation  `autoscaling.keda.sh/paused-replicas` changes along with th

[2022-03-15 07:33] zroubalik commented on #944
The custom predicate seems like a great option, if it turns out to be functional, than I am inclined towards annotation approach as well.

@aryan9600 are you willing to contribute this?

[2022-03-15 07:42] zroubalik commented on #2484
@pchaudhary1 this should be fixed in 2.6.1. So I rather recomend update over downgrade :)

[2022-03-15 07:58] aryan9600 commented on #944
Yep, i'll try and work on a POC for this.

[2022-03-15 09:29] dekelev opened #2760 "Getting empty metric data with multiple dimensions in aws-cloudwatch trigger"
### Report

Using the following `ScaledObject` config, I always get an empty metric data:

[code]

Running the following query in CloudWatch UI with 1 minute period returns a number above 0:
`SELECT AVG(MessageCount) FROM "AWS/AmazonMQ" WHERE Broker = 'production' and Queue = 'worker'`

While `keda-operator` log repeatedly shows:
`aws_cloudwatch_scaler	empty metric data received, returning minMetr

[2022-03-15 11:17] dalgibbard opened #2761 "Datadog query with functions never returns healthy"
### Report

Edit: see comments below, also amended the Issue title to better match the issue at hand

I have a Datadog ScaledObject resource setup, which looks like the following (Secret called ```keda-myapp-datadog-secret``` already created):
[code]
Note specifically, the two datadog triggers in the single ScaledObject.

With this setup, the scaled object reports the following Health state (from

[2022-03-15 12:07] dalgibbard commented on #2761
Actually; two edits on this:
When I dropped it back to just the single query:
[code]
I found that this constantly errors anyway. Dropping ```per_second()``` fixes it; though it is a valid query in the Datadog UI.

Changing this to not have ```per_second()```:
[code]
Everything works fine for a while, but I still intermittently see both:
[code]
and
[code]

For context, I'm in the process of trying

[2022-03-15 19:45] xoanmm commented on #2667
I would like to tackle this :smile:

[2022-03-15 19:45] JorTurFer commented on #2667
Thanks a lot! ❤️

[2022-03-16 00:14] slobo commented on #2314
For anyone else who like me couldn't grok the documentation, I'll mention that **omitting** `idleReplicaCount` gives the "keep at least `minReplicaCount` pods running" behaviour.

That is, if you want to achieve what you hope `idleReplicaCount: 1, minReplicaCount: 1` will do, then you just need to make sure `idleReplicaCount` isn't mentioned at all.

[2022-03-16 08:00] #2363 closed

[2022-03-16 08:00] zroubalik commented on #2761
@arapulido FYI

[2022-03-16 08:04] zroubalik commented on #2314
@slobo could you please open a PR to docs repo with suggested fix, to make the documentation more clear? Thanks!

[2022-03-16 09:29] dalgibbard commented on #2761
OK so i've done a little digging, and it seems that this part is causing me issues:
https://github.com/kedacore/keda/blob/ef65f59016c3cc9e0abc96cd2aec3a630531fbca/pkg/scalers/datadog_scaler.go#L77
which points to
https://github.com/kedacore/keda/blob/ef65f59016c3cc9e0abc96cd2aec3a630531fbca/pkg/scalers/datadog_scaler.go#L52

In the datadog query for:
[code]
This code section is prefixing this with

[2022-03-16 09:51] #900 closed

[2022-03-16 10:20] arapulido commented on #2761
@dalgibbard  Thanks a lot for digging a bit deeper into the issue! And yes, this should be allowed. When querying a single metric, Datadog uses the `avg` aggregator by default, that's why I was prepending it. Let me try some requests directly to the API first, to see if those are required or not.

Also, feel free to contribute to a patch :) Take into account that the Datadog Cluster Agent is for n

[2022-03-16 11:09] dalgibbard commented on #2761
@arapulido Appreciate you working on this - and yeah, we were using the Cluster Agent initially, but this blocks our ability to scale on other metrics which is important for us :)

I've submitted a PR, but I haven't fully tested it, as I haven't quite worked out how I could inject a custom build into our EKS Clusters (they're quite tightly controlled).
It should be a matter of deploying it, and us

[2022-03-16 11:14] adborroto commented on #2618
I can take this one.

[2022-03-16 11:14] arapulido commented on #2761
@dalgibbard Fantastic! Thanks a lot! I will test this out this afternoon. Thanks a lot for debugging the issue and contribute to a patch

[2022-03-16 11:14] dalgibbard commented on #2761
@arapulido I've just thought... My PR is a bit over simplified, because a user could actually wrap multiple functions; for example:
[code]
I'm really not sure how to work around that :/

[2022-03-16 11:16] JorTurFer commented on #2618
Thanks a lot! ❤️

[2022-03-16 11:18] arapulido commented on #2761
Sounds good, let me try some tests against the API directly, and I will update here.

[2022-03-16 11:44] dalgibbard commented on #2761
I did amend the regex to support multiple functions; but ultimately the source of truth for if a query is valid or not, is datadog's API :) I'll leave it with you for now anyway! And thanks :)

[2022-03-16 11:55] JorTurFer commented on #2760
Hi @dekelev
I'm not an expert on AWS services, but the query looks good, doesn't?
Maybe is there any change in their API?

[2022-03-16 11:58] arapulido commented on #2761
@dalgibbard Thanks, and I agree, I am making some changes to rely more on the API for validation, rather than trying to cover all potential use cases. Feel free to close your PR, as mine will supersede that one. Thanks!

[2022-03-16 12:02] JorTurFer commented on #2759
Hi @Dudesons
Thanks for reporting that, I'd say that this issue is already solved in [this PR](https://github.com/kedacore/keda/pull/2694).
Next version will have this fix :)
I'll close this issue for that reason, but if you have any other thing to all, feel free to reopen it 😄

[2022-03-16 12:34] Dudesons commented on #2759
Hi @JorTurFer
Ok thank you for the information, I was not sure this PR solved the issue.
Do you know when the release will be available or if an rc is available  ?

[2022-03-16 13:07] dalgibbard commented on #2761
Awesome, have closed my PR :D

[2022-03-16 13:31] dekelev commented on #2760
Hi @JorTurFer , Thanks for responding!

After debugging the Scaler class and the cloudwatch-sdk, I came to conclusion that it is probably an issue with the cloudwatch-sdk, because the request params sent to CloudWatch looks fine when using multiple dimensions.

As a workaround, I ended up with a forked git repo, replacing the metric data query with an expression query:
[code]

[2022-03-16 14:00] zroubalik commented on #2760
@dekelev would you mind opening a PR to fix this issue?

[2022-03-16 14:07] zroubalik commented on #2757
I am not a big fan of this. `.spec.scaleTargetRef` of the `ScaledObject` need to be specified anyway. You can automate generation of ScaledObjects, so if you are specifying `.spec.scaleTargetRef` then it is not so problematic to specify the same value anywhere in the metadata.

[2022-03-16 14:19] dekelev commented on #2760
My current fix is just to replae the whole aws-cloudwatch internals with an expression logic, which wasn't the author vision for this scaler.

I need to proceed with my auto-scale task ahead, but I might consider extending this scaler in the future if no one will take it on him. I know there was another issue opened regarding the missing of expression feature in this scaler, so I'm not the only on

[2022-03-16 14:55] amit337496 commented on #2618
@adborroto  Any update on this issue

[2022-03-16 15:14] #2667 closed

[2022-03-16 17:06] Dudesons commented on #2759
@JorTurFer I just test the version with main tag and my issue is still here.
When I'm reading the code my issue is not related when datadog is not returning data.
My issue is when I'm using the datadog scaler is not downscaling to 0.
It works like a charm  1 to N and N to 1.
The only method I found to downscale to 0  is when I'm "breaking the metrics" in datadog at this moment the scaler go to 0

[2022-03-16 17:51] aryan9600 commented on #2757
Specifying `.spce.scaleTargetRef` in the to be generated `ScaledObject` is rather simple, you just use the name of the deployment you want to target. Since right now we have to hard code the deployment name in the query, figuring out the _right_ query for the to be generated `ScaledObject` on the other hand could be a much more complex task, as it would involve parsing the original query, doing so

[2022-03-17 02:34] wasabii commented on #2513
I strongly second this. Another obvious use case is using the Rabbit MQ Message Topology Operator to generate users. This operator produces secrets with separate username, password data. Additionally, you need to fetch the host, amqpPort, vhost, etc from another secret produced by the Rabbit MQ Cluster Operator.

Providing each of these as separate parameters to the TriggerAuthentication would all

[2022-03-17 09:02] zroubalik commented on #2513
I think this makes sense, WDYT @JorTurFer ?

[2022-03-17 09:15] JorTurFer commented on #2513
yes, IMO it totally makes sense.
Are you willing to contribute with this @wasabii @iordaniordanov ?

[2022-03-17 09:38] bamboo12366 opened #2769 "Cron Scaler should maintain a original replicas when not reach the time window"
### Proposal

when not reaching the time window(startTime<currentTime<endTime), the cron scaler is Inactive, the replicas counts rely on min or idle replicas(depends on two value comparison).

Can we just maintain a field called originalReplicas or something else in the meta information, to maintain this replicas before the time window, and scaler become active.

### Use-Case

Here is our use case

[2022-03-17 09:47] zroubalik opened #2770 "Azure Data Explorer e2e tests are failing"
### Report

[code]

### Expected Behavior

e2e tests fails

### Actual Behavior

e2e test pass

### Steps to Reproduce the Problem

1. run e2e

### Logs from KEDA operator

[code]

### KEDA Version

_No response_

### Kubernetes Version

_No response_

### Platform

_No response_

### Scaler Details

Azure Data Explorer

### Anything else?

_No response_

[2022-03-17 09:48] zroubalik commented on #2770
@yasiboni-max PTAL

[2022-03-17 09:51] #2719 closed

[2022-03-18 14:30] adborroto commented on #2618
[PR](https://github.com/kedacore/keda/pull/2774) open

[2022-03-18 19:49] #2317 closed

[2022-03-19 11:19] dekelev commented on #2760
From some reason, I also had to multiply the metric value returned from CloudWatch by 100, so that the external metric's quantity would be correctly consumed and displayed by the HPA.

Any idea why the metric is not consumed as is by the HPA?

I'm not sure if using the original scaler without expression won't lead to the same issue, so if I create a PR, this might be a breaking-change.

[2022-03-20 01:02] whitesource-bolt-for-github[bot] opened #2775 "CVE-2022-21221 (High) detected in github.com/valyala/fasthttp-v1.31.0"
## CVE-2022-21221 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/valyala/fasthttp-v1.31.0</b></p></summary>

<p>Fast HTTP package for Go. Tuned for high performance. Zero memory allocations in hot paths. Up to 10x faster than net/http</p>
<p>

Dependenc

[2022-03-20 11:46] nilayasiktoprak commented on #2289
Hi, I'm using this library to develop the Oracle scaler: https://github.com/oracle/nosql-go-sdk
and it supports 3 environments (Oracle Cloud, Oracle NoSQL Cloud Simulator, and On-Premise): https://github.com/oracle/nosql-go-sdk#configuring-the-sdk
I have developed the scaler for on-premise and I would like to ask you if you think I should develop seperate scalers for these 3 environments or combin

[2022-03-20 18:58] #2445 closed

[2022-03-20 22:47] #2476 closed

[2022-03-21 01:13] whitesource-bolt-for-github[bot] opened #2776 "CVE-2022-24773 (Medium) detected in node-forge-1.0.0.tgz - autoclosed"
## CVE-2022-24773 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-1.0.0.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="h

[2022-03-21 01:13] whitesource-bolt-for-github[bot] opened #2777 "CVE-2022-24772 (High) detected in node-forge-1.0.0.tgz - autoclosed"
## CVE-2022-24772 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-1.0.0.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="htt

[2022-03-21 01:13] whitesource-bolt-for-github[bot] opened #2778 "CVE-2022-24771 (High) detected in node-forge-1.0.0.tgz - autoclosed"
## CVE-2022-24771 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-1.0.0.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="htt

[2022-03-21 11:04] #2478 closed

[2022-03-21 15:39] v-shenoy opened #2781 "EventHub scaler cannot find checkpoint blob when using pod identity."
### Report

I have an EventHub Azure Function using the KEDA scaler setup as follows -
[code]

The scaler is unable to find the blob storing the checkpoint and the deployment is always scaled to maximum number of replicas.

### Expected Behavior

The deployment should be scaled to the appropriate number of replicas as per the unprocessed event threshold specified in the ScaledObject defintion.

##

[2022-03-21 15:45] v-shenoy commented on #2781
I am currently working on supporting non-public clouds for Azure scalers, and I will be fixing this as a part of the change for eventhub scaler. Just wanted to raise an issue, to understand the reason the method returns the namespace the way it does.

[2022-03-21 15:47] yasiboni-max commented on #2770
We need to specify MSI client id when creating kusto client if there's more than one managed identity assigned to the cluster.
I'm working on PR that adds `ManagedIdentityClientId` as parameter when user choose to authenticate through pod identity.

[2022-03-21 15:50] yasiboni-max commented on #2770
Looks like we need to specify MSI client id when creating kusto client if there's more than one managed identity assigned to the cluster.
I'm working on PR that adds `ManagedIdentityClientId` as parameter when user choose to authenticate through pod identity.

[2022-03-21 19:49] JorTurFer commented on #2289
Thanks for the research! ❤️
IMO, having one scaler for all if they do the same for different envs it's the best option because it reduces the maintenance work.
BTW, I thought that Oracle as a relational db, not NoSQL, do they use the same SDK?

[2022-03-21 19:51] JorTurFer commented on #2488
Is this behaviour still present on KEDA v2.6.1?

[2022-03-21 20:25] JorTurFer opened #2783 "CI workflow is failing (static checks)"
The PR validation workflow [is failing](https://github.com/kedacore/keda/runs/5605723280?check_suite_focus=true#step:6:80) with error `ERRO Running error: context loading failed: no go files to analyze`

[2022-03-22 07:34] #2783 closed

[2022-03-22 07:39] whitesource-bolt-for-github[bot] opened #2785 "CVE-2021-44907 (Medium) detected in qs-6.5.2.tgz, qs-6.10.1.tgz"
## CVE-2021-44907 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>qs-6.5.2.tgz</b>, <b>qs-6.10.1.tgz</b></p></summary>
<p>

<details><summary><b>qs-6.5.2.tgz</b></p></summary>

<p>A querystring parser that supports nesting and arrays, with a depth limit</p>
<p>

[2022-03-22 07:39] whitesource-bolt-for-github[bot] opened #2786 "CVE-2021-44906 (Medium) detected in minimist-1.2.5.tgz - autoclosed"
## CVE-2021-44906 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimist-1.2.5.tgz</b></p></summary>

<p>parse argument options</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimist/-/minimist-1.2.5.tgz">https://registry.npmjs.org/minimist/-/mi

[2022-03-22 07:39] mend-bolt-for-github[bot] opened #2787 "CVE-2022-27191 (High) detected in github.com/golang/crypto-198e4374d7ed0909af956c010c19ee6bae6a1bc9"
## CVE-2022-27191 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/crypto-198e4374d7ed0909af956c010c19ee6bae6a1bc9</b></p></summary>

<p>[mirror] Go supplementary cryptography libraries</p>
<p>

Dependency Hierarchy:
  - github.com/denisenkom/go-ms

[2022-03-22 07:39] #2556 closed

[2022-03-22 08:01] nilayasiktoprak commented on #2289
There are Oracle NoSQL and Oracle (RDBMS). I decided to do the NoSQL one first so that's why I'm using that SDK.
Alright, I'll put them all in one scaler. And for which environments do you think I should develop the scaler? All the three of them?
Also maybe it would be better to change the name of the issue to Oracle NoSQL, right?

[2022-03-22 08:10] JorTurFer commented on #2289
TBH, I don't know enough about Orcale to know which environments could be better, but as far as I could see in the docs you sent, supporting more than 1 only changes the connection part, right?
I mean, if support all of them is just adding more cases to the switch...
But I can be missing something. At least (IMO), we should support on prem and cloud (but again, IDK about Oracle to know if both are

[2022-03-22 09:03] #2482 closed

[2022-03-22 11:02] #2761 closed

[2022-03-22 11:27] arapulido commented on #2630
With the changes made for #2771, the way queries get the default rollup and aggregators rely on the Datadog API, simplifying a lot the UX as well. The only thing needed in a query now, apart from a metric, is a scope, which can default to all. I think we can close this issue now, as this is no longer that needed after those changes.

[2022-03-22 11:27] #2630 closed

[2022-03-22 11:43] #2618 closed

[2022-03-22 12:09] zroubalik commented on #2760
HPA doesn't work with float numbers, integers only.
Seems like this scaler is not correct with that regard,
https://github.com/kedacore/keda/blob/11f055472f97336495aa015d3af189a817fe1751/pkg/scalers/aws_cloudwatch_scaler.go#L45-L46

@JorTurFer FYI

[2022-03-22 12:14] JorTurFer commented on #2760
Interesting! So we are missing the info during the cast to int64 🤔
Maybe we should update all scalers to use always int64 and explain it in the docs to be clearest as possible

[2022-03-22 12:16] zroubalik commented on #2760
yeah, we should fix that

[2022-03-22 12:23] JorTurFer opened #2790 "Update all needed scalers to use `int64` instead of `float64`"
### Proposal

The HPA doesn't allow the usage of `float64` but there are some scalers where KEDA allows that, and basically KEDA cast those values into `int64`. This could be confusing and there is a risk of losing information like happened to [this user](https://github.com/kedacore/keda/issues/2760#issuecomment-1075102663).

We should review all the scalers and change the to use `int64` values fo

[2022-03-22 12:25] zroubalik commented on #2289
+1 to changing name to Oracle NoSQL

+1 to merging this to one scaler

Thanks for the work!

[2022-03-22 18:01] JorTurFer opened #2791 "Add e2e test for Metric API Scaler"
Add e2e test for Metric API Scaler

[2022-03-22 18:04] JorTurFer opened #2792 "Add e2e test for Azure Event Hub scaler"
Add e2e test for Azure Event Hub scaler

[2022-03-22 19:13] zroubalik opened #2793 "Prometheus should print appropriate error if `threshold` is not specifed"
### Report

`threshold` field is mandatory for Prometheus scaler, but we don't check that has been correctly specified.

### Expected Behavior

Error message stating that `threshold` is not specified.

### Actual Behavior

[code]

### Steps to Reproduce the Problem

1. Deploy ScaledObject with Prometheus scaler that is missing `threshold` filed

### Logs from KEDA operator

[code]

### KEDA Versio

[2022-03-22 19:52] #2793 closed

[2022-03-22 20:17] #1915 closed

[2022-03-22 20:24] #2781 closed

[2022-03-22 20:44] zroubalik commented on #2759
This might be the problem:
https://github.com/kedacore/keda/blob/87d589f951f7bdc02d8c03d002c15b8d99fbadb2/pkg/scalers/datadog_scaler.go#L215

it should be `num > 0`, I mistaken @arapulido on this one. Will fix this.

[2022-03-22 20:55] zroubalik commented on #2759
https://github.com/kedacore/keda/pull/2798

[2022-03-22 22:36] zroubalik opened #2800 "Introduce `activationThreshold`/`minMetricValue` for all scalers"
### Proposal

Current activation (ie. scaling 0<->1) is happening if there's **any** activity on the target scaler, ie. the condition for comparison is `metricFromScaler > 0`. The `threshold` property on individual scalers is not respected, it is just applied to 1<->N scaling.
There are 2 scalers that supports flexible activation configuration, AWS Cloudwatch and Huawei Cloudeye (via `minMetricVal

[2022-03-22 22:51] #2776 closed

[2022-03-22 22:51] #2777 closed

[2022-03-22 22:51] #2778 closed

[2022-03-22 23:25] zroubalik opened #2802 "Fix deprecated azure-storage npm module"
### Proposal

e2e tests for azure storage needs update:

[code]

### Use-Case

_No response_

### Anything else?

_No response_

[2022-03-22 23:33] zroubalik opened #2803 "Setup AWS DynamoDB test account"
### Proposal

so it can be used to run e2e tests of #2482

### Use-Case

_No response_

### Anything else?

_No response_

[2022-03-23 08:35] #2661 closed

[2022-03-23 08:41] #2786 closed

[2022-03-23 08:41] #2517 closed

[2022-03-23 08:41] #2535 closed

[2022-03-23 09:08] zroubalik opened #2806 "Inconsistent file naming in `pkg/scalers/`"
### Report

All scalers and their tests should have consistent naming:
For example for scaler that operates on service `foo` the scaler code should live in`foo_scaler.go` and related test in `foo_scaler_test.go`.

Some scalers don't follow this (eg. aws related, huawei)

### Expected Behavior

aligned naming

### Actual Behavior

not aligned

### Steps to Reproduce the Problem

1. ls -al pkg/scale

[2022-03-23 09:26] #2806 closed

[2022-03-23 11:04] Harisyam opened #2808 "Deployment is not scaling down when using podidentity for Azure Eventhubs"
### Report

We have created a java app on aks based on eventhub trigger, and we are using keda for autoscaling.

When we used the connection  strings directly in the deployments the autoscaling and scale down worked properly for eventhub trigger. But when we used the podidentity for scaled object, it is scaling up but scaling down is not happening and the HPA metric is showing higher number even a

[2022-03-23 11:36] chalin opened #2809 "v2.6.1 release notes contain invalid link"
Visit https://github.com/kedacore/keda/releases/tag/v2.6.1 and you'll notice the following issue:

- The link to the docs, https://keda.sh/docs/INSERT-CORRECT-VERSION/deploy/, is invalid.
  This is the [second of the top 404s of the website](https://github.com/kedacore/keda-docs/issues/692).
- The opening text is missing the version (probably because the version is there in the text but contained

[2022-03-23 11:36] chalin opened #2810 "v2.6.0 release notes contain invalid link"
Visit https://github.com/kedacore/keda/releases/tag/v2.6.0 and you'll notice the following issue:

- The link to the docs, https://keda.sh/docs/INSERT-CORRECT-VERSION/deploy/, is invalid.
  This is the [second of the top 404s of the website](https://github.com/kedacore/keda-docs/issues/692).

[2022-03-23 12:02] zroubalik commented on #2810
Fixed, thanks!

[2022-03-23 12:02] #2810 closed

[2022-03-23 12:02] zroubalik commented on #2809
Fixed, thanks!

[2022-03-23 12:02] #2809 closed

[2022-03-23 14:20] TimShilov opened #2812 "MySQL scaler: Whitespace at the start/end of a `host` configuration value breaks scaling"
### Report

I've just noticed one of my workloads not scaling properly.
I've spent a lot of time digging it and found that value for `host` taken from Kubernetes secret resource had a line break at the end of it.
This new line is very hard to spot and it's simply invisible when encoded in base64.

The worst part of it is that workloads (Node.js application) was working fine as it seem to trim host

[2022-03-23 18:40] Kay1234567890 opened #2813 "Application for issues"
I can't find the application form for the advertised Electrical job

[2022-03-23 19:07] JorTurFer commented on #2808
hi @Harisyam
Could you try [querying the metric manually](https://keda.sh/docs/2.6/operate/metrics-server/) to double-check that it's working and getting the values?
It'd be nice if you could try in both scenarios

[2022-03-23 19:12] JorTurFer commented on #2812
Hi @TimShilov
Could you try your case with the latest version? In v2.6.x we introduced a lot of improvements.
If I'm not wrong, this PR changed that behaviour to solve that problem. Is any error shown on KEDA logs (operator or metrics-server)?

[2022-03-23 19:13] #2813 closed

[2022-03-23 19:14] JorTurFer commented on #2800
@adborroto , @xoanmm
Maybe anyone of you is interested on this 😉

[2022-03-23 19:18] JorTurFer commented on #2769
Hi @bamboo12366
Could be an option just setting another trigger with the opposite cron for the min replicas? I mean, right now cron scaler only works during the activation time, but if you have another cron trigger covering the period when the first cron trigger is not active, you have the same behavior

[2022-03-23 19:25] JorTurFer commented on #2740
hi @pragmaticivan
Based on which metric are you trying to scale? I mean, the query in the issue is `"SELECT average(duration) from Transaction where appName='podinfo' TIMESERIES"` (time) but the pictures in the comments are about request per minute.
To query the request per minute, you should do something like this: `"SELECT rate(count(duration)), 1 minute) from Transaction where appName='podinfo'

[2022-03-23 22:33] Dudesons commented on #2759
Ok thank you @zroubalik I will do a test next monday and share the result

[2022-03-24 07:13] Dudesons commented on #2759
Finally I had time to test it and it works as expected :smiley:
Thank you for the fix

[2022-03-24 07:13] #2759 closed

[2022-03-24 08:39] JorTurFer commented on #2757
The point is that AFAIR, right now that information is not passed to the scalers, so we have to pass extra information to all the scalers that is only needed in 1 edge case inside one of them.
TBH, I don't like a lot of this because it opens the door to pass other internal information that scalers shouldn't have.
I mean, why not the min and max replicas? Or in your same case, why not the API versi

[2022-03-24 12:03] Harisyam commented on #2808
Hi @JorTurFer

Please find the below metrics

Metrics with pod identity approach

`{"kind":"ExternalMetricValueList","apiVersion":"external.metrics.k8s.io/v1beta1","metadata":{},"items":[{"metricName":"s0-azure-eventhub-read","metricLabels":null,"timestamp":"2022-03-24T11:31:37Z","value":"2k"}]}`

Metrics with connection string approach

`{"kind":"ExternalMetricValueList","apiVersion":"external.me

[2022-03-24 18:06] JorTurFer commented on #2808
This is weird...
This could sound super obvious, but, have you double-check if both cases use the same event hub? I mean, in both cases you have to provide the event hub name and namespace, maybe by error connection string uses another. If they are the same, doesn't make sense to get different values :/

[2022-03-24 18:20] Harisyam commented on #2808
We have used the same event hub in both the cases.
Only difference was we haven't mentioned event hub name and namespace in case of connection string approach, But that scaled down properly.

[2022-03-25 07:14] v-shenoy commented on #2808
This seems to be a combination of the two following issues.
https://github.com/kedacore/keda/issues/2363
https://github.com/kedacore/keda/issues/2781

When using podIdentity, the scaler is unable to find the storage blob, and the logs are missing in release 2.6.1.

[2022-03-25 07:23] Harisyam commented on #2808
Hi @v-shenoy,

If it is resolved when are we expecting a release for it

[2022-03-25 07:24] v-shenoy commented on #2808
@JorTurFer @kedacore/keda-contributors

[2022-03-25 08:02] zroubalik commented on #2803
Tests are failing: https://github.com/kedacore/keda/runs/5684304662?check_suite_focus=true

[2022-03-25 08:04] zroubalik commented on #2790
Not finished yet, we need to fix the scalers listed in the issue description -> this might be potentially user breaking, since the fields directly (in trigger spec) expects float.

[2022-03-25 08:06] zroubalik commented on #2808
2.7.0 is due early May.

[2022-03-25 08:12] zroubalik commented on #944
#2765 covers pausing of ScaledObject, but we should cover ScaledJob pausing as well.

[2022-03-25 09:07] JorTurFer commented on #2803
oh f**k, nice catch, checking

[2022-03-25 09:41] zroubalik commented on #944
As per dissusion here: https://github.com/kedacore/keda/pull/2765#issuecomment-1078810171

I am not sure I like two separate annotations for pausing, what about this?
### ScaledObject
annotation key: `autoscaling.keda.sh/paused: `
allowed values: `true`, `false`, `X` -> where X is the desired number. eg `0` or `1`

### ScaledJob
annotation key: `autoscaling.keda.sh/paused: `
allowed values: `true`

[2022-03-25 09:46] aryan9600 commented on #944
IMHO, providing too many options complicates UX for users. If someone wants to pause it, they just specify the annotation with the replica count. If someone wants to unpause, they remove the annotation. If someone or another operator interacting with ScaledObjects wants to pause it at the current replica count, all they need to do is `kubectl get deploy`, and specify the replica count from the out

[2022-03-25 09:56] thielepaul opened #2819 "Support consumer group lag for Redis Streams scaler"
### Proposal

Currently the Redis Streams scaler only supports the "Pending Entries List" as a metric.
I think it would be more useful to scale based on the lag of a consumer group as described in the Redis docs:

https://redis.io/commands/xinfo-groups/

### Use-Case

My application always reads one messsage from the stream, then acknowledges this message and reads another message. That way the pe

[2022-03-25 10:25] TimShilov commented on #2812
Hi @JorTurFer .
Yesterday I've updated KEDA to 2.6.1 and the problem is still not resolved.
Here's an example of what's shown in Events when whitespace is at the beginning of the value:
[code]
And here's an example of what's shown when whitespace is at the end of the value (notice the line break between the IP and `no such host`:
[code]

I couldn't find anything worthy in the operator logs because

[2022-03-25 10:52] JorTurFer commented on #2812
The point is that in this case, the problem is related with the configuration. IMO doesn't make sense to use fallback config because this scaler is basically broken till the config is fixed.
From the logs you have sent, I can see that error is correctly notified, so I guess that the error metric is taking into account also from  Prometheus pov (so an alert can be raised).
Do you think that using f

[2022-03-25 11:41] TimShilov commented on #2812
I don't think that "no host given" for example is a correct message in case when a **given** value starts with a line break.

I don't consider this exact case with extra whitespace an error and ideally I would've prefer the value to just be trimmed and work just fine. For example, [node-mysql2](https://github.com/sidorares/node-mysql2) does that and just works with the same exact configuration and

[2022-03-25 11:49] Harisyam commented on #2808
Hi @zroubalik,

Thanks for the update.

Is there any workaround for this issue? if not can it get fixed on any minor version?

[2022-03-25 12:13] zroubalik commented on #2808
I am not sure about the workaround, but unfortunately we don't plan to release any minor version.

You can use images with `main` tag which follows the `main` git branch, at your own risk, but I am not sure this is something you'd like to run on production.

[2022-03-25 12:39] yasiboni-max commented on #2770
@zroubalik Can you please assign me this issue?

keda PR: #2822
keda docs PR: https://github.com/kedacore/keda-docs/pull/731

[2022-03-25 13:00] tomkerkhove commented on #944
This is the last thing I want to achieve as it's super confusing. Given it serves different purposes, we should have separate annotations.

THere were some folks who agreed with my suggestion but let's just use `autoscaling.keda.sh/paused-replicas` for now and see how things go.

We can still add `autoscaling.keda.sh/paused: true` next to the amount if we want to.

This is where we agree to disagr

[2022-03-25 13:13] zroubalik commented on #944
Adding another annotation might be confusing, users might then ask: Which will take precedence? Do I need to specify both to pause scaling? etc.

[2022-03-25 13:31] tomkerkhove commented on #944
That's something you can easily document in my opinion.

[2022-03-25 13:38] JorTurFer commented on #2812
any thoughts @kedacore/keda-core-contributors ?

[2022-03-25 13:42] JorTurFer commented on #2803
They could be a flaky test because it has passed in other PRs and it passes locally. I'll review it

[2022-03-25 13:47] v-shenoy commented on #2808
@JorTurFer I think so.

@Harisyam It seems that you're doing a poc first. So, would it be possible for you to test if the scaling works with a KEDA image from the `main` branch? It would help us confirm that the issue is resolved.

[2022-03-25 15:48] JorTurFer commented on #2770
Meanwhile, we solved the problem consistently, I'll disable that e2e test

[2022-03-25 17:55] derekperkins commented on #944
You would prefer that it just sticks at whatever number it happens to be at? That seems much more arbitrary than choosing a specific number. Or are you suggesting that keda just steps away entirely and `paused` means that it scales back to whatever the `replica: N` on the base scaled object is set to?

I've got another vote to leave it at a single annotation. It's just as easy to document that `au

[2022-03-25 18:35] #1527 closed

[2022-03-25 18:54] tomkerkhove commented on #944
Yes, to keep the current instance count where it is at now regardless of my autoscaling configuration.

That way, my app gets the capacity it needs at the moment without going further.

But seems like this scenario is a minority at the moment.

[2022-03-25 19:22] crisp2u commented on #944
Not sure if this will help or not but I can drop here our use case for this. There are situations, either before a deployment or when we have some issues where we would like to kill or our MQ workers to ease the load on the dB and after we want to resume the normal operations. So in our case a pause will work if the replica is set to zero on the scaled object or we will set the value to paused: 0

[2022-03-26 14:28] #2493 closed

[2022-03-26 18:45] amit337496 commented on #2618
@JorTurFer / @adborroto  I see this issue is closed... Is there any version we need to get this

[2022-03-26 20:58] JorTurFer commented on #2618
Hi @amit337496
Next release will be during the first half of May. If you need to test this feature, you could use `main` tag, but we don't recommend it for prod environments because `main` is built every commit and could be not stable

[2022-03-26 21:04] JorTurFer opened #2829 "Functional tests are unstable"
### Report

The test [`deploys ScaledObject and creates HPA, when IdleReplicaCount, MinReplicaCount and MaxReplicaCount is defined [It]` ](https://github.com/kedacore/keda/blob/main/controllers/keda/scaledobject_controller_test.go#L370) [fails](https://github.com/kedacore/keda/runs/5703180551?check_suite_focus=true#step:12:56) often.

[2022-03-28 05:21] Harisyam commented on #2808
@v-shenoy @JorTurFer

Sure, We will do a test with the image from main branch and let you know about this

[2022-03-28 06:35] #1525 closed

[2022-03-28 07:10] JorTurFer opened #2833 "AWS Kinesis Stream Scaler throws panic if stream doesn't exist"
### Report

During e2e test execution, we have discovered that AWS Kinesis Scaler is not handling correctly the errors because the metrics server throws [a panic](https://github.com/kedacore/keda/runs/5712186540?check_suite_focus=true#step:7:827) in case of not existing stream in case of throwing an error and handle it correctly.

### Expected Behavior

Throw an error instead of panic

### Actual

[2022-03-28 09:26] #2577 closed

[2022-03-28 09:39] denzhel commented on #2729
I urge you to reconsider please, https://github.com/kedacore/keda/pull/2730.

This is highly uncomfortable to multiply by 100 or any given number if the average value per pod is a decimal and not a whole.

[2022-03-28 10:13] crisp2u opened #2836 "keda operator restarted at the time of start.(error retrieving resource lock keda/operator.keda.sh)"
### Discussed in https://github.com/kedacore/keda/discussions/2722

<div type='discussions-op-text'>

<sup>Originally posted by **vkamlesh** March  7, 2022</sup>
Keda operator failed to elect leader after keda-operator pod restart. These restarts are not frequent but it's happening in a few days(6 days) time intervals.

KEDA Version: 2.6.1
Git Commit: efca71d6bc770408468a9e1a4b3984f7136c0967

Kube

[2022-03-28 14:28] Evantage-WS opened #2838 "After update of an AKS cluster, Keda is unable to connect to the Kubernetes API"
### Report

After updating the k8s cluster to a new version (from 1.22.5 to 1.22.6), the keda-metrics pod is unable to connect to the kubernets api. The debug log shows an

[code]

We also completely removed keda, including crd's and reinstalled keda, but this error remains. It seems that the Keda operator is depended on the metrics pod.

### Expected Behavior

Able to connect and get Keda up and

[2022-03-28 14:49] adborroto commented on #2800
About the name of this new property. Will be a generic name or specific by sealer?
IMO, a specific name makes more sense and would be self-explanatory sometimes.

[2022-03-28 14:56] zroubalik commented on #2800
Agree, I'd do something that I have suggested on the PR: `activation*` prefix to the current field that holds the value/queuelength/threshold in each scaler.

But I am definitely open to another options.

[2022-03-28 15:39] JorTurFer commented on #2800
What do you think if we use this change to unify those parameters? I mean, we can rename all of them into threshold/activationThreshold and keep the consistency accros all the scalers.
*Of course, the current case must be maintained* but we can deprecate it. IMO having more options makes the things more complex, and at the end of the day, the "unit" of the threshold depends on the scaler, but the

[2022-03-29 04:26] jeffhollan commented on #2838
Can you check and see if another external metrics adapter (or if any external metrics adapter) is installed? `kubectl get apiservice | grep external.metrics` - may be related to the issue that only one can be configured per cluster #470

[2022-03-29 05:33] v-shenoy commented on #1789
I can take this up, @kedacore/keda-contributors.

[2022-03-29 05:46] Evantage-WS commented on #2838
Hi @jeffhollan,

Thanks, this is the output from the kubectl command, so just one is running:
[code]

That missing endpoint concerns me.

[2022-03-29 05:54] dmeytin commented on #944
In my view, two independent annotations will work great. It fully satisfies
our use case and intuitive enough to be used by community.

On Fri, 25 Mar 2022 at 22:22 Cristian Pop ***@***.***> wrote:

[2022-03-29 08:11] zroubalik commented on #2836
This is most likely a problem in `sigs.k8s.io/controller-runtime` as it is responsible for leader election. We should investigate.

[2022-03-29 13:30] #2733 closed

[2022-03-29 13:40] #2278 closed

[2022-03-29 14:31] #232 closed

[2022-03-29 15:47] v-shenoy opened #2841 "Add Azure Data Explorer e2e tests with active directory credentials."
Relates to #2770, [#2882](https://github.com/kedacore/keda/pull/2822).

[2022-03-29 21:07] JorTurFer opened #2842 "Add e2e test for Hashicorp Vault"
### Proposal

[https://github.com/kedacore/keda/tree/main/tests](https://github.com/kedacore/keda/tree/main/tests?rgh-link-date=2021-10-26T19%3A51%3A53Z)

### Use-Case

_No response_

### Anything else?

_No response_

[2022-03-29 21:09] JorTurFer opened #2843 "Add e2e test for Azure Key Vault"
### Proposal

[https://github.com/kedacore/keda/tree/main/tests](https://github.com/kedacore/keda/tree/main/tests?rgh-link-date=2021-10-26T19%3A51%3A53Z)

### Use-Case

_No response_

### Anything else?

_No response_

[2022-03-29 21:13] #1917 closed

[2022-03-29 21:25] #2734 closed

[2022-03-29 22:03] #1916 closed

[2022-03-29 22:04] JorTurFer commented on #1919
This PR looks like a good place for refactoring the code and remove duplications related with supporting non-public clouds in other scalers, WDYT @v-shenoy ?

[2022-03-30 01:30] JacobHenner commented on #2578
Not stale

[2022-03-30 03:24] v-shenoy commented on #1919
Yup, sounds good.

[2022-03-30 08:35] amirschw opened #2844 "Remove deprecated "type" field from the CPU, Memory, Datadog scalers metadata"
### Proposal

In #2309 we add the global `metricType` field to all scalers.

Specific scalers (CPU, Memory, Datadog) already supported different metric types using their metadata `type` field, which we deprecated in favor of the new global field. The deprecated field should be removed in a future release.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-03-30 08:48] tomkerkhove commented on #2844
Was the deprecation added to our changelog?

[2022-03-30 11:31] tomkerkhove commented on #2841
Make sure to check https://github.com/kedacore/keda/pull/2822#pullrequestreview-925753333 as we need https://github.com/kedacore/keda/pull/2741 instead of #2882

/cc @kedacore/keda-maintainers

[2022-03-30 11:48] crisp2u commented on #2836
I've found [this](https://github.com/kubernetes-sigs/controller-runtime/issues/1774#issuecomment-1011763856). What puzzles me is that I saw the same error message ("failed to renew lease" ) on the other controllers in the cluster that probably use
[controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/) but they managed to recover. Maybe the default options are to optimistic in

[2022-03-30 12:20] amirschw commented on #2844
It was added to the scalers' docs and we also log a warning when the deprecated field is used

[2022-03-30 13:00] tomkerkhove commented on #2844
That's OK, let's make sure it is in the changelog as well then.

[2022-03-30 17:18] #2030 closed

[2022-03-30 18:57] amirschw commented on #2844
Added here: #2848

[2022-03-30 19:00] #1314 closed

[2022-03-31 07:46] v-shenoy commented on #2843
There is already a key vault test that with the azure queue scaler.

[2022-03-31 08:44] JorTurFer commented on #2843
you're right!
Thanks for the reminder ❤️

[2022-03-31 08:44] #2843 closed

[2022-03-31 09:09] bamboo12366 commented on #2769
hey @JorTurFer

Sorry for the late reply.
Sounds tricky but good to me, thank you for the help!

[2022-03-31 09:45] Harisyam commented on #2808
Hi @v-shenoy, @JorTurFer ,

We tried using the image from main and it is working fine.

[2022-03-31 10:14] JorTurFer commented on #2808
nice! In that case I close this ticket.
Thanks for checking it

[2022-03-31 10:14] #2808 closed

[2022-03-31 11:48] dalgibbard opened #2850 "Support configurable TLS Version for Metrics Server (Adapter)"
### Proposal

Ideally, the Keda Metrics Server should allow for configuring the Min TLS Version, so that users in stricter security environments can override it to be TLS1.3 only.

### Use-Case

The default TLS1.2 implementation in the k8s apiserver includes less secure ciphers, such as 64bit CBC ciphers, 3DES etc.
In our environment, these are unacceptable, and since there's concerns that TLS1.3

[2022-03-31 13:05] shaunc commented on #2391
Very good! ... (currently very busy :( )....

[2022-03-31 16:27] dalgibbard commented on #2850
OK I'm an idiot; turns out you can just pass an extra arg of ```--tls-min-version=VersionTLS13``` and this happens. Closing!

[2022-03-31 20:02] AndreyMatveyev opened #2852 "The AWS SQS Queue scaler's documentation should be more specific about which SQS actions are required"
### Proposal

The AWS SQS Queue scaler's documentation states: "_The user will need access to read properties from the specified AWS SQS queue._"
It would be nice to have the exact list of required SQS actions needed in the AWS policy.

For example:
"_The user will need access to read properties from the specified AWS SQS queue._ The AWS policy must allow action sqs:GetQueueAttributes against the

[2022-03-31 20:58] mhemken-vts commented on #1722
Was this ever implemented?

[2022-04-01 07:22] v-shenoy commented on #1919
I installed my own DevOps server on an Azure VM with Azure DevOps Express following the instructions [here](https://docs.microsoft.com/en-us/azure/devops/server/install/get-started) and [here](https://docs.microsoft.com/en-us/azure/devops/server/install/single-server).

The scaler is able to fetch metrics when provided with the PAT and the appropriate server URL / bindings configured during the se

[2022-04-01 07:25] v-shenoy commented on #1919
I installed my own DevOps server on an Azure VM with Azure DevOps Express following the instructions [here](https://docs.microsoft.com/en-us/azure/devops/server/install/get-started) and [here](https://docs.microsoft.com/en-us/azure/devops/server/install/single-server).

The scaler is able to fetch metrics when provided with the PAT and the appropriate server URL / bindings configured during the se

[2022-04-01 08:17] adborroto commented on #2791
I can take a look at this one.

[2022-04-01 08:24] JorTurFer commented on #2791
Nice! I wanted to do it but tbh, I don't have enough time.
Do you plan to create any new image for the rest api server? In case of yes, please open a PR in https://github.com/kedacore/test-tools adding the image.

[2022-04-01 08:32] v-shenoy commented on #1919
Raised a PR with the refactored changes. As for this issue, I think this should be closed now.

[2022-04-01 12:02] #2842 closed

[2022-04-01 12:08] zroubalik commented on #2769
Q answered

[2022-04-01 12:08] #2769 closed

[2022-04-01 12:09] zroubalik commented on #2836
Hard to say, could please try to tweak those settings on your setup?

[2022-04-01 12:12] zroubalik commented on #2850
@dalgibbard could you please open documentation PR to explain this setting? I guess it might be beneficial for others as well.
Probably a new section here: https://keda.sh/docs/2.6/operate/cluster/

[2022-04-01 12:12] zroubalik commented on #2850
Btw is this config really interesting only for Metrics Adapter? What about the KEDA Operator Deployment?

[2022-04-01 12:30] zroubalik commented on #2812
I think that it makes sense to trim all values in trigger metadata, this could be done in the effort in refactoring the metadata parsing for all scaler?

[2022-04-01 12:30] zroubalik commented on #2819
Will to contribute this?

[2022-04-01 12:36] dalgibbard commented on #2850
Will look to do this on Monday most likely

[2022-04-01 14:31] zaheer032 opened #2871 "KedaScaledJob is unable to scale due to invalid offset with kafka-trigger"
### Report

When we try to produce message on kafka topic we except new keda jobs to be created based on trigger specified(in our case kafka-trigger). However we can see that no jobs are getting created and consumer group also is not created,.

Since lagtreshold is specified as "1" and kept minreplicacount as "0" : one-job should be created whenever there is message on Kafka queue and should scale

[2022-04-01 18:21] #2178 closed

[2022-04-01 18:29] #1919 closed

[2022-04-01 18:30] #1285 closed

[2022-04-01 19:24] karimrut opened #2872 "KEDA Operator crash with SO option restoreToOriginalReplicaCount"
### Report

We are having an issue with KEDA and the advanced option "restoreToOriginalReplicaCount".
If the SO is created with a existing deployment as "scaleTargetRef" there is no issue.

Sometimes the SO can be created when the deployment no longer exists. The creation of the SO by itself is not problem, but if we delete the SO before any deployment has started to use it keda-operator crashes w

[2022-04-02 06:21] jiujiujiujiujiuaia commented on #2705
@yaronpri Do you any branch/commit for proving this feature? Would love to help with you

[2022-04-02 09:12] hachi1030-Allen opened #2874 "Urgent - KEDA 2.6 version is returning 401 for Azure Pipelines request"
Hello team,

I am trying to use KEDA to auto scale Azure Pipelines based on the queued jobs count.

Below is my yaml file for the scaler:

[code]

As you can see, from the AKS secret, I passed the base 64 encoded personal access token and I also identify both poolID and poolName, the authenticationRef is using the secret.

And below is my log from the KEDA operator container:

[code]

I am using K

[2022-04-02 10:20] JorTurFer commented on #2871
Hi @zaheer032
I'm not an expert on kafka tbh, but I can see in KEDA logs that there are some errors related with any wrong configuration.
`Invalid offset found .....`

Could you check that whole message and verify that there is not any misconfiguration?

[2022-04-02 10:22] JorTurFer commented on #2872
Thanks for notifying it @karimrut
I'll take a look

[2022-04-02 10:30] JorTurFer commented on #2874
Hi @hachi1030-Allen
Could you decode your PAT token and check if it has a new line (`/n`) at the end?
Sometimes encoding it to base64 could include new line at the end

[2022-04-02 15:12] hachi1030-Allen commented on #2874
Thanks Jorge!

I am trying to do some more testing regarding the Secret part, but with using the PAT from container environment, it's good to go.

I noticed that I have 2 set of PATs due to previous testing purpose, I am going to clean some things up and only use one PAT and do another round of the testing.

Will update here once done.

[2022-04-03 02:59] hachi1030-Allen commented on #2874
I will close this one because seems like I have messed up things with the Secret object and after deleting and retrying everything from start, it works now.

Thanks Jorge for the great help!

[2022-04-03 02:59] #2874 closed

[2022-04-03 14:13] dalgibbard commented on #2850
I checked the main Keda deployment, only listens on HTTP 8080 (and internally on 8081 for healthchecks), so TLS doesn't apply there.

[2022-04-03 17:05] #2519 closed

[2022-04-03 17:05] #2520 closed

[2022-04-03 17:05] #2522 closed

[2022-04-03 17:05] #2523 closed

[2022-04-03 17:05] #2525 closed

[2022-04-03 17:05] #2526 closed

[2022-04-03 17:05] #2524 closed

[2022-04-03 17:05] #2527 closed

[2022-04-03 17:05] #2530 closed

[2022-04-03 17:05] #2532 closed

[2022-04-03 17:05] #2534 closed

[2022-04-03 17:05] #2531 closed

[2022-04-03 17:05] #2537 closed

[2022-04-03 17:05] #2538 closed

[2022-04-03 17:05] #2539 closed

[2022-04-03 17:05] #2540 closed

[2022-04-03 17:05] #2547 closed

[2022-04-03 17:05] #2549 closed

[2022-04-03 17:05] #2546 closed

[2022-04-03 17:05] #2553 closed

[2022-04-03 17:05] #2550 closed

[2022-04-03 17:05] #2552 closed

[2022-04-03 17:05] #2554 closed

[2022-04-03 17:05] #2551 closed

[2022-04-03 17:05] #2555 closed

[2022-04-03 17:05] #2557 closed

[2022-04-03 19:29] JorTurFer commented on #2872
Hi @karimrut
I cannot reproduce the bug :(
Maybe I'm missing any step in the middle...  could you share the process to reproduce the bug step by step, please?
Please, share with us also the result of this command (just to double-check the version):
[code]

[2022-04-04 05:40] xgenvn commented on #2391
@goku321 do you have a plan or task board, and repository to contribute on? I think there are some people having the same interest in this.

[2022-04-04 06:45] v-shenoy commented on #2841
@tomkerkhove I wasn't planning on enabling the pod identity tests here. Instead of having all e2e tests disabled for Data Explorer, I was going to add a condition to disable only the ones using pod identity (as I can see there is already one using AD credentials). This ensures that we at least have some tests running for Data Explorer that we can check on PRs. The condition can then be removed onc

[2022-04-04 06:49] v-shenoy commented on #2841
Should I wait until #2741 is merged before working on this?

[2022-04-04 07:16] goku321 commented on #2391
Hi @xgenvn I didn't plan anything yet. I believe it will be like any other scalers that we already have. I will start on this today/tomorrow and will try to keep you in loop.

[2022-04-04 08:37] tomkerkhove commented on #2841
This sounds like a good plan to me!

[2022-04-04 09:46] karimrut commented on #2872
Hi @JorTurFer !
Thanks for looking into it! That's unfortunate.
Here is the result from your command above: ghcr.io/kedacore/keda:2.6.1

I tried to do it from scratch without our CI/CD. Just installed it directly and got the same result. This is happening in 2 different EKS clusters.
The “restoreToOriginalReplicaCount has to be set to “true” and the the “scaleTargetRef” used cannot exists.

SO yam

[2022-04-04 09:49] zroubalik commented on #2872
Thanks for reporting, I will check that @JorTurFer !

[2022-04-04 10:24] zroubalik commented on #2850
ACK, thanks!

[2022-04-04 12:25] jitendrabehera2 opened #2878 "Unable to scaled-up based on an Azure Service Bus using KEDA"
### Discussed in https://github.com/kedacore/keda/discussions/2877

<div type='discussions-op-text'>

<sup>Originally posted by **jitendrabehera2** April  4, 2022</sup>
Hi
I am trying to set a scaling rules in Azure Container Apps using KEDA.
I followed the tutorial here:
https://www.codit.eu/blog/scaling-apps-with-kubernetes-based-event-driven-autoscaling-keda/?country_sel=be

But after insert me

[2022-04-04 15:10] zroubalik commented on #2872
@karimrut good catch. It was a corner case not covered properly. The referenced PR fixes this. Thanks for reporting.

[2022-04-04 15:14] zroubalik commented on #2871
Please check this related issues: https://github.com/kedacore/keda/issues/2612 https://github.com/kedacore/keda/issues/2033

[2022-04-04 15:35] xgenvn commented on #2391
@goku321 I did a check on the scalers of STAN and a bit on the JetStream metrics endpoint. It seems there are many differences with `/jsz` endpoint compared to `/channelsz`. If we can conclude the `IsActive` implementation which currently has `hasPendingMessage`, the implementation should be straight-forward.

[2022-04-04 17:30] #2872 closed

[2022-04-04 20:41] #2570 closed

[2022-04-05 08:13] v-shenoy commented on #2731
I can work on this.

[2022-04-05 08:13] v-shenoy commented on #2732
I can work on this.

[2022-04-05 10:52] tomkerkhove commented on #2731
Thank you!

[2022-04-05 10:52] tomkerkhove commented on #2732
Thank you!

[2022-04-05 13:02] v-shenoy commented on #2640
Can take a look at this, if noone else is? @JorTurFer

[2022-04-05 13:04] tomkerkhove commented on #2640
That would be great, thanks @v-shenoy!

[2022-04-05 16:48] pragmaticivan opened #2883 "ClusterTriggerAuthentication to support headers so that accountId can be passed for NewRelic Scaler via authenticationRef"
### Proposal

[code]

### Use-Case

Have multiple New Relic accounts and want to be able to set, apiKey, account number and region in the cluster authentication so developers don't need to care about that.

This would also help with NewRelic promql, which requires an api-key in different ways.

### Anything else?

_No response_

[2022-04-05 16:50] pragmaticivan commented on #2883
account is currently required by the CRD, so I'm not sure if that currently works.

[2022-04-05 16:51] pragmaticivan commented on #2883
Perhaps it should be optional when not using trigger authentication.

[2022-04-06 06:27] karimrut commented on #2872
Thanks a lot for the help @zroubalik !

[2022-04-06 11:44] gabrielmccoll commented on #779
Is it possible to leave this open until it's actually released maybe ?
It would be helpful for people searching the same problem. I nearly missed it because it's closed but it's not actually solved in terms of me being able to use it.
Thanks

[2022-04-06 11:51] tomkerkhove commented on #779
We have closed it because the work is done but you can see that it's in "ready to ship" status of our backlog.

Otherwise it is hard to track what is open and what not.

[2022-04-06 11:55] gabrielmccoll commented on #779
No worries !

[2022-04-06 13:39] v-shenoy commented on #2697
Will be adding this with the fix for #2640

[2022-04-06 14:01] xphyr opened #2884 "ActiveMQ scaler does not work with CORS enabled"
### Report

While using Keda and the ActiveMQ scaler, I found that I am unable to connect to ActiveMQ version 5.17.0 out of the box. The error that I get is `ERROR activeMQ_scaler Unable to access activeMQ management endpoint {"managementEndpoint": "pobox.xphyrlab.net:8161", "error": "ActiveMQ management endpoint response error code : 200 403"}
github.com/kedacore/keda/v2/pkg/scalers.(*activeMQSca

[2022-04-06 22:33] xphyr commented on #2884
So I would appreciate some feedback on this one ... as I am not a CORS expert.  But from what I can tell the "Origin" field of the HTTP header needs to be set to something, even though it really doesn't apply. Looking at https://w3c.github.io/webappsec-cors-for-developers/#avoid-returning-access-control-allow-origin-null it seems to say that just using the word "NULL" is not valid, so I am actuall

[2022-04-07 06:52] zroubalik commented on #2884
CC @melisatanrverdi @arschles

[2022-04-07 08:18] melisatanrverdi commented on #2884
Hi @xphyr, ActiveMQ scaler uses Jolokia to access management endpoint of AciveMQ. It is disabled by default in jolokia-access.xml file. So yes, you should remove the CORS field to enabled the Jolokia. With the new versions of ActiveMQ remote access also disabled by default in jetty.xml file. So, you need to configure these files to use the scaler. ActiveMQ Artemis scaler also has the same situatio

[2022-04-07 09:37] liortct opened #2888 "Kafka scaler doesn't scale beyond 100 replicas"
### Report

According to  [Kafka scaler documention](https://keda.sh/docs/2.6/scalers/apache-kafka/):
![image](https://user-images.githubusercontent.com/38353773/162164268-7758a7b8-1909-4891-b136-e84b1346e3e3.png)
In other words, by default the maximum replicas is the same as the partitions number.
But, if the partitions number is more than 100 the scaler doesn't scale to more than 100 replicas.

[2022-04-07 12:17] zroubalik commented on #2888
100 is the default value for `maxReplicaCount`, so if you don't specify this value, 100 will be used, see the doc: https://keda.sh/docs/2.6/concepts/scaling-deployments/#scaledobject-spec

What prevents you in setting `maxReplicaCount: 300` ?

[2022-04-07 12:26] liortct commented on #2888
I can configure the `maxReplicaCount` field. But as document in the Kafka scaler the default `maxReplicaCount` is as the partitions number. This is what I also except, that if I have a topic with 300 partitions by default the `maxReplicaCount` will be 300.

[2022-04-07 12:33] zroubalik commented on #2888
It's clearly written there: https://keda.sh/docs/2.6/scalers/apache-kafka/

But we are definitely open in improving the docs clarity, though this behavior is definitely not a bug.

[2022-04-07 12:40] liortct commented on #2888
I am not sure that this is not a bug.
In the docs is written that by default `maxReplicaCount = topic partitions number' but its clearly not true.
The real behavior is `maxReplicaCount = min(topic partitions number, 100)'
I will also mention that I think that if I have a topic with 300 partitions I would like that without any configuration (by default) the scaler will scale up to 300 replicas and

[2022-04-07 12:43] zroubalik commented on #2888
Could you show me, where is this written?

[2022-04-07 12:52] liortct commented on #2888
Ahh ok, I understood.
In the docs is written that `That is, if maxReplicaCount is set more than number of partitions, the scaler won’t scale up to target maxReplicaCount.`, or in other words `maxReplicaCount <= topic partitions number`
But no one say that `maxReplicaCount = topic partitions number`.
This is very tricky. I already open a [PR](https://github.com/kedacore/keda-docs/pull/743) in the d

[2022-04-07 12:56] zroubalik commented on #2888
Cool, I am glad that we understand each other :) If you are going to propose change to the docs, please change it in more versions, not just 2.6, (add please at least 2.5 and 2.7).

[2022-04-07 13:05] liortct commented on #2888
Do you agree that the reasonable behavior is that `maxReplicaCount = topic partitions number`?
As a simple user this is the behavior that I want. If I have a topic with 300 partiontions I want that my deployment will be able to scale to 300 **by default**.
I don't know if to call this issue a bug or feature request but I think this is an issue that should be solved.

[2022-04-07 13:10] liortct commented on #2888
Ok, I will open a feature request for this issue.
Can you approve my [PR](https://github.com/kedacore/keda-docs/pull/743) in the docs about this issue? I think that right now the docs really unclear (my PR solved this issue)

[2022-04-07 13:29] xphyr commented on #2884
@melisatanrverdi OK cool. While I would say that its not really disabled as much as obfuscated since you need only the anything in a "Origin" header and it works ... (at least based on the official binary package that I downloaded).  It might be good to update the docs for this scaler and call out the need to update the proper ActiveMQ config files to enable this Keda scaler. If you would be ok wi

[2022-04-07 13:43] zroubalik commented on #2884
Would it make a sense to add optional parameter to tweak this setting? Does it make sense for anyone? I am ActiveMQ noob, so just asking.

[2022-04-07 13:51] #2612 closed

[2022-04-07 20:00] rwkarg commented on #2581
Haven't had any time to look at this, but it would be a nice improvement.

[2022-04-08 12:52] #2640 closed

[2022-04-08 12:52] #2697 closed

[2022-04-08 14:37] adborroto commented on #2791
PR open [2893](https://github.com/kedacore/keda/pull/2893)

[2022-04-08 17:36] #2791 closed

[2022-04-08 18:42] xphyr commented on #2884
The more I think about this, the more I am wondering if the Origin field should be the IP address of the pod that Keda is running from. This would allow you to take advantage of the CORS configuration to limit what apps can call into Jolokia to get this data. Thoughts?

[2022-04-09 09:05] v-shenoy commented on #2878
Could you provide logs for the `keda-operator` pod?

[2022-04-09 11:23] JorTurFer opened #2895 "Add needed resources in the clusters for e2e test with AAD-Pod-identity"
### Proposal

Right now, KEDA supports authentication by Azure MSI in Azure scalers. There are some e2e tests that are ready to test the scaler with this integration, but for that the AAD-Pod-Identity has to be deployed, and the MSI properly configured (and available its ID as secret).
For instance, right now App Insights e2e test is ready (with that test disabled), and Data Explorer also supports

[2022-04-10 09:00] #857 closed

[2022-04-11 08:28] ybialik commented on #2800
We would also like this feature for kafka scaler.

[2022-04-11 08:46] zroubalik commented on #2884
@xphyr does this work even if KEDA doesn't have a public IP address?

[2022-04-11 09:45] JorTurFer commented on #2800
Related with this issue, [during the last standup](https://docs.google.com/document/d/1zdwD6j86GxcCe5S5ay9suCO77WPrEDnKSfuaI24EwM4/edit#heading=h.tf14cpkj21cz) we decided to continue with it for all scalers, and we also agree with using `activation*` as a prefix for every scaler where `*` is the current metric name because it has enough context for each scaler users
![image](https://user-images.gi

[2022-04-11 11:06] zroubalik commented on #2800
@ybialik as @JorTurFer mentioned, we plan to have this for all scalers, so you can contribute this for Kafka :)

[2022-04-11 12:25] ybialik commented on #2800
@zroubalik I am only a user, I can only contribute my feedback :)

[2022-04-11 16:28] JorTurFer commented on #2852
Hi @AndreyMatveyev
Sorry for the slow response. :(
Are you willing to contribute with that change? We are not experts on AWS, so if you feel that the documentation is poor and you have an idea about how to solve it, we will be happy if you contribute with it.

The change in this case should be done in the [docs repo](https://github.com/kedacore/keda-docs).

[2022-04-11 16:34] JorTurFer commented on #2883
hey @pragmaticivan
Sorry for the slow response...
It sounds totally reasonable. In fact, I have checked the code and it's not documented in keda.sh but I'd say that the region can be passed by TriggerAuthentication (based on the code).
Are you open to contribute with this?

[2022-04-11 16:57] pragmaticivan commented on #2883
@JorTurFer It can easily be passed by using the function `GetFromAuthOrMeta` instead of the existing code. The region seems to be already handling that correctly.

[2022-04-11 16:58] JorTurFer commented on #2883
Yes, you should use that function instead of current code (like it's already done in region and key) and that's all.
Adding one test case and updating the docs are the only other task to do

[2022-04-11 17:46] pragmaticivan commented on #2883
Done!
https://github.com/kedacore/keda/pull/2898
https://github.com/kedacore/keda-docs/pull/744

[2022-04-11 18:08] xphyr commented on #2884
@zroubalik yes it does. As I continue to investigate this, and dig in more ... I feel like the right "final" solution is to send the container/pod _hostname_ as the origin. If the code does this, it fills in the Origin tag as required by jolokia, it fills it in with a hostname that could then be matched (or denied) using the CORS configuration in ActiveMQ as documented here: [https://activemq.apac

[2022-04-12 09:05] jitendrabehera2 opened #2900 "Busy pods got terminated in mid-work in Kubernetes With KEDA v2"
### Discussed in https://github.com/kedacore/keda/discussions/2899

<div type='discussions-op-text'>

<sup>Originally posted by **jitendrabehera2** April 12, 2022</sup>
Hello Team,
Recently I have done scaling based on an Azure Service Bus Queue then we have identified a serious issue: busy pods got terminated during scale-down. As the number of messages in the queue decreases, the HPA automatical

[2022-04-12 09:30] zroubalik commented on #2900
Not an issue.

[2022-04-12 09:30] #2900 closed, assigned to nobody

[2022-04-12 09:54] rrathord1885 opened #2901 "How to handle long running execution when implemented scaling with Keda scaledobject"
### Report

Hi,
I have done scaling on basis of azure service bus queue count with Keda scaled object and its working fine. but how we can handle this scenario.  Imagine a deployment triggers on a azure service bus queue message. Each message takes 30 minutes to process. It’s possible that if many queue messages arrive, KEDA will help drive scaling out to many replicas - let’s say 4. Now the HPA m

[2022-04-12 10:04] v-shenoy commented on #2487
I am willing to take this up. Have been reading a bit about workload identity, can try to understand what changes are required and come up with a design.

[2022-04-12 11:49] tomkerkhove commented on #2487
That would be great, thanks for coming up with a design!

[2022-04-12 15:38] mhemken-vts opened #2903 "Cannot connect to AWS ElastiCache Redis using TLS"
### Report

We cannot authenticate with ElastiCache Redis using the available connection parameters.

### Expected Behavior

We expect to authenticate with ElastiCache redis.

### Actual Behavior

We authenticate with ElastiCache using this URL:
`rediss://:<token>@master.<name>.<identifier>.use2.cache.amazonaws.com:6379`

When we specify `enableTls=True`:

[code]

When we specify `enableTls=False`

[2022-04-12 17:47] v-shenoy commented on #2487
In the scalers currently we use `NewMSIConfig()` from the `github.com/Azure/go-autorest/autorest/azure/auth` package to get the config which is then used to get the `authorizer`. The `authorizer` is then used while making the API calls to Azure  using the SDK / REST.  [Example](https://github.com/kedacore/keda/blob/9f0ee58fc6839d74636e1ec6883fe21d82617ea3/pkg/scalers/azure/azure_app_insights.go#L7

[2022-04-12 18:42] Wolfe1 commented on #2709
@JorTurFer Is there a tag needed for this to be discussed or have someone chime in?

[2022-04-13 05:57] zroubalik commented on #2709
An optional parameter seems like the best solution for this, together with a proper documentation.

[2022-04-13 09:55] v-shenoy commented on #2487
Actually, I just realized the `keda-operator` already has its own service account. So we don't need to have a flag where they specify the service account name. But a flag which just indicates that they are using Workload Identity, in which case we add the required annotations to `keda-operator` service account.

Refer [this](https://azure.github.io/azure-workload-identity/docs/topics/service-accou

[2022-04-13 10:53] v-shenoy commented on #2487
The user flow would be as such -

1. Configure the AKS cluster to support Workload Identity.
2. Create an AAD application and give permission to it on the required resource (such as Service Bus, Key Vault, Data Explorer, etc).
3. Deploy KEDA using the new flags. This would annotate the `keda-operator` service account with the required annotations and labels. The `mutating-webhook` will then insert

[2022-04-13 12:20] zroubalik opened #2906 "Refactor functions for Status & Conditions handling"
### Proposal

As disscuseed on https://github.com/kedacore/keda/pull/2765#discussion_r848206848, we should unify the functions for Status & Conditions handling. Referencing controller related stuff here is suboptimal.

There are two locations with similar functions:
https://github.com/kedacore/keda/blob/9f0ee58fc6839d74636e1ec6883fe21d82617ea3/controllers/keda/util/status.go#L30-L63
https://github

[2022-04-13 14:39] v-shenoy commented on #2487
https://github.com/kedacore/keda/pull/2907 Draft PR with workload identity enabled for Service Bus, to showcase the code changes.

The exact code change will differ from scaler to scaler, but the general idea is to fetch the `AAD` token using the new `MSAL` library using the service account token.

[2022-04-13 15:53] tomkerkhove commented on #2487
I will have a look next week, thanks!

[2022-04-13 18:37] ajames-branch opened #2908 "Kafka Scaler not scaling up"
### Report

 I am having trouble with keda kafka scaler (version 1.5)

Number of partitions for topic `tetopic` is 64.
`lagThreshold` is set to 3000

lagThreshold: "3000"

`keda-operator` debug log for the topic:
`{"level":"debug","ts":1649873141.4286203,"logger":"kafka_scaler","msg":"Group tetopic-consumer has a lag of 447478 for topic tetopic and partition 0\n"}
{"level":"debug","ts":1649873201.

[2022-04-13 18:40] ajames-branch commented on #2908
![Screen Shot 2022-04-13 at 11 24 18 AM](https://user-images.githubusercontent.com/48938754/163248112-9fb0b04e-c6fa-495a-bce8-0ec7b8db882f.png)

[2022-04-13 18:41] ajames-branch commented on #2908
![Screen Shot 2022-04-13 at 11 32 52 AM](https://user-images.githubusercontent.com/48938754/163248296-354f1070-d103-4195-ac54-ecb05b043e8f.png)

[2022-04-13 18:42] ajames-branch commented on #2908
![Screen Shot 2022-04-13 at 11 42 04 AM](https://user-images.githubusercontent.com/48938754/163248491-8f6b63c7-793d-4ca9-b999-ef067b7e9a14.png)

[2022-04-13 18:45] ajames-branch commented on #2908
Could someone help understand what is happening here?

[2022-04-14 13:27] FullyScaled opened #2910 "ScaledJob Scaler does not take "Terminating" Pods into consideration"
### Report

When a new scaledJob spec is rolled out, all existing Pods for those jobs receive a Sig-Term when using the default rollout strategy. This is desired behavior for us and fits our usecase.

Since we are doing long term calculations in those pods, we ignore the Sig-Term and our pod finishes its work. The Pod status of those sig-termed Pods is "Terminating".

Keda only seems to care about

[2022-04-14 13:28] FullyScaled commented on #2910
Terminating Pods are still in Phase "Running".
![image](https://user-images.githubusercontent.com/28532557/163400773-6b814ad8-6ca1-4c6c-9b9a-927b3bcb2b49.png)

[2022-04-14 16:43] ajames-branch commented on #2908
Any help here is much appreciated. Is this a bug in the product?

[2022-04-14 18:13] xphyr commented on #2884
@zroubalik and @melisatanrverdi sorry for a lot of back and forth on this. I think I have figured out the best (and final from my standpoint) solution to this. The artemis scaler already solved this problem with the origin header, so I have taken the same logic used in the artemis scaler and moved it into the activemq scaler. This can be seen in my fork here: [https://github.com/xphyr/keda/commit/

[2022-04-15 12:37] dekelev commented on #2760
I've opened this [PR](https://github.com/kedacore/keda/pull/2911) to add alternative expression field and also changed the scaler to use int64 instead of float64.

[2022-04-15 12:48] dekelev commented on #1619
I've opened this [PR](https://github.com/kedacore/keda/pull/2911) to add alternative expression field and also changed the scaler to use int64 instead of float64.

[2022-04-15 17:04] dekelev commented on #2760
@zroubalik I still had to multiply the metric by 100, even with int64. I have no idea why, but it only works like that.
I'm running it in production environment, it runs well and I can see the expected metric numbers in the HPA stats.

[2022-04-16 06:19] amirschw commented on #2901
This section of the docs addresses the exact same scenario and suggests two ways to handle it: https://keda.sh/docs/latest/concepts/scaling-deployments/#long-running-executions

[2022-04-17 01:20] #2565 closed

[2022-04-17 07:11] bamboo12366 opened #2914 "keda-metrics-adapter calling apiserver qps are quite high"
### Report

we create arounds 200 scaleObjects in the cluster, the qps from keda-metrics-adapter to apiserver is quite high, which create burden to apiserver

![image](https://user-images.githubusercontent.com/38064424/163704382-0d09bfff-e4c9-4cc5-b5fd-cd5b119d29a4.png)

the code for listing here: https://github.com/kedacore/keda/blob/main/pkg/provider/provider.go#L90

### Expected Behavior

Not c

[2022-04-17 07:49] bmalka commented on #704
I would like to reopen this issue as we have to same problem in 2.6.1 version:
1.650181258876292e+09   ERROR   controller.scaledobject Failed to update ScaledObject with scaledObjectName label       {"reconciler group": "keda.sh", "reconciler kind": "ScaledObject", "name": "kafka-scaledobject-xxxxxxxxxx-xxxxxxxxxx-xxxxxxxxx-xxx-xxxxxx-xxxxxxxxx", "namespace": "production-eu-connectors", "error": "

[2022-04-17 07:58] bmalka opened #2915 "HPA is not created for deployments with long names"
### Report

Related to bug #704

Error:
HPA is failing to be created: controller.scaledobject Failed to update ScaledObject with scaledObjectName label

### Expected Behavior

HPA should be created

### Actual Behavior

HPA wasn't created

### Steps to Reproduce the Problem

1.  Add a deployment with name longer than 45 chars
2.
3.

### Logs from KEDA operator

[code]

### KEDA Version

2.6.1

###

[2022-04-17 10:09] leopoldodonnell commented on #2391
@xgenvn I'm interested in being able to scale using JetStream metrics as well. Is this something that is being considered, if so what is the timeframe?

Re the /jsz endpoint, which specific Nats server issue were you referencing. We might be willing to do some work here.

[2022-04-17 10:44] liangyuanpeng commented on #2637
I want to work for it, can you give me some help? Thanks.

Have a question: where is the appropriate place to implement this, is it port of 9022 from keda-operator-metrics-apiserver?

[2022-04-17 16:04] goku321 commented on #2391
@leopoldodonnell I've started working on the scaler. Will try my best to conclude it in a couple of weeks

[2022-04-18 15:20] #2033 closed

[2022-04-18 16:23] ajames-branch commented on #2908
We are planning Keda for our env and this issue is blocking us. Any insight here is appreciated.

[2022-04-18 22:03] aslom opened #2916 "Unable to make kustomize work with go 1.18"
### Report

Looks liek something changef in go get and `go-get-tool` no longer works?

[code]

[code]

[2022-04-19 05:03] tomkerkhove commented on #2462
We should plan for this as `autoscaling/v2beta1` for `HorizontalPodAutoscaler` will be removed in Kubernetes 1.25 and `autoscaling/v2beta2` in Kubernetes 1.26.

https://kubernetes.io/blog/2022/04/07/upcoming-changes-in-kubernetes-1-24/#looking-ahead

[2022-04-19 05:24] matanr-orca opened #2917 "KEDA objects won't scale to 0 after live edit"
### Report

When I use kubectl edit to edit the replica attribute to 0 it has no effect on the target deployment at all, at any other value it does affect it but if I change it to 0 it just does nothing and keeps the last state of the deployment.
I'm changing those values:
spec:
maxReplicaCount: 10
minReplicaCount: 3

### Expected Behavior

deployment will scale down to 0

### Actual Behavior

dep

[2022-04-19 07:28] bamboo12366 opened #2918 "scaler polling active check is crashing our prometheus server"
### Proposal

In our case, most of the scaler is using prometheus scaler. And the prometheus server address is the same

When the scalerObject Controller doing scaler active in check scaler func may cause a lot of burden to the scaler(in our case, prometheus, but I think the scenoir should be the similar). And the hpa-controller is constantly ask for the scaler also. The burden will double from wh

[2022-04-19 08:07] #2901 closed

[2022-04-19 08:12] zroubalik commented on #2908
Hi, version 1.5 is pretty old. I'd definitely recommend you to update to latest 2.6.1 as we have done a plenty of improvements in Kafka scaler and KEDA in general.

[2022-04-19 09:55] zroubalik commented on #2917
Not a bug, because the deployment is managed by KEDA. It keeps the replicas on the specified count. If you wish to update replicas, you need to do it via ScaledObject.

[2022-04-19 09:55] #2917 closed

[2022-04-19 11:06] vkamlesh commented on #2836
@crisp2u @zroubalik Where exactly do we need to tweak values?

[2022-04-19 11:17] gcaracuel commented on #2033
I think this should no be closed as the issue is still on going and affecting a big group of users including myself :)

[2022-04-19 11:24] zroubalik commented on #2033
@gcaracuel following PR https://github.com/kedacore/keda/pull/2621 will be included in the next release. It should fix this issue, is there anything you are missing there?

[2022-04-19 11:28] zroubalik commented on #2914
Yeah, this is something that needs improvement, @bamboo12366 would be nice if you can try to tackle this.

FYI there's already controller present in the MetricsAdapter (currently used for metricNames), so you might want to go this direction: https://github.com/kedacore/keda/blob/main/controllers/keda/metrics_adapter_controller.go

[2022-04-19 11:33] zroubalik commented on #2918
There are 2 parts, for KEDA Operator you can controller this by setting `pollingInterval`. For Metrics Server there is opened issue that proposes a solution for this: https://github.com/kedacore/keda/issues/2282

[2022-04-19 11:44] zroubalik commented on #2914
There might be even an easier solution, replace following section:
https://github.com/kedacore/keda/blob/99619e3a8b52dfa3e70a525c94b204dbf9e03028/pkg/provider/provider.go#L84-L95

with
[code]

we should be able to parse ScaledObject.Name from a label `scaledobject.keda.sh/name` that is set on ScaledObject and most likely is part of the `metricSelector`.

It's definitely worth exploring.

[2022-04-19 11:50] zroubalik commented on #2637
Yeah, probably yes, given the current implementation.

Though we should think about this as well: https://github.com/kedacore/keda/issues/1281

[2022-04-19 11:55] zroubalik commented on #2884
@xphyr thanks for digging into this. It seems like the best approach for me. Let's see what @melisatanrverdi says about this.

Also @melisatanrverdi seems like the `corsHeader` field in Artemis Scaler that @xphyr referenced to is missing from the docs? 🤔
docs: https://keda.sh/docs/2.6/scalers/artemis/
code: https://github.com/kedacore/keda/blob/99619e3a8b52dfa3e70a525c94b204dbf9e03028/pkg/scalers/

[2022-04-19 11:57] bamboo12366 commented on #2914
hey @zroubalik

can I just using the manager.GetClient() and pass the client to the provider, thus the provider and scaledObject Controller are sharing the same informer cache together

something like
`
        mgr, err := ctrl.NewManager(ctrl.GetConfigOrDie(), ctrl.Options{
		Scheme:    scheme,
		Namespace: namespace,
	})
	if err != nil {
		return nil, nil, err
	}
	if err := runScaledObjectContro

[2022-04-19 11:59] zroubalik commented on #2914
ScaledObject controller is running in KEDA Operator Pod, Provider in Metrics Server Pod.

[2022-04-19 12:00] zroubalik commented on #2914
The client for Metrics Server (thus provider) is setup here: https://github.com/kedacore/keda/blob/main/adapter/main.go

I happy to see any improvements on this side.

[2022-04-19 12:02] bamboo12366 commented on #2918
sure thx, I can close this issue

[2022-04-19 12:05] bamboo12366 commented on #2914
yea, what trouble me is the Metrics Server pare.
I will create a PR work on this

[2022-04-19 12:06] zroubalik commented on #2918
@bamboo12366 there is currently nobody assigned to tackle #2282, feel free to sing up for it 😄

[2022-04-19 12:06] #2918 closed

[2022-04-19 12:42] xphyr commented on #2884
If @melisatanrverdi is OK with this change, I will update the docs for both Artemis and ActiveMQ to reference the CorsHeader and create a PR for that change as well. Thanks.

[2022-04-19 12:50] zroubalik commented on #2884
Awesome, thanks! Also, if there's some part of the code, that could be shared between those 2 scalers, please try to unify them. We have some common places for example for Azure related scalers, GCP, etc.

[2022-04-19 13:56] tomkerkhove commented on #2878
Duplicate of https://github.com/kedacore/keda/discussions/2877

[2022-04-19 13:57] tomkerkhove commented on #2705
@v-shenoy If you are bored, is this something you want to pick up?

[2022-04-19 16:16] ajames-branch commented on #2908
@zroubalik Thank you for the reply. However, this particular cluster is 1.15 K8 version. As per my understanding, latest KEDA version that supports this K8 version is 1.5. So we are stuck with it.

[2022-04-19 16:30] zroubalik commented on #2908
I see (even though I definitely not recommend you to use that old KEDA or k8s - think of security vulnerabilities), but I am not sure what could be wrong. I know there has been done a bunch of improvements on the lag calculation and offsets, hard to say sorry :(

What you can do is to try to build your KEDA release. But as you can see, the changes in Kafka scaler are quite heavy: https://github.co

[2022-04-19 17:20] #2139 closed

[2022-04-19 17:50] xphyr commented on #2884
I have created a keda-docs fork and created small updates to the docs to cover the corsHeader for both Artemis and ActiveMQ on the 2.7 docs ... https://github.com/xphyr/keda-docs/commit/00b2f1a475d96d9f66b417a01240afff8392d8ff and will create a PR for this if the proposed changes to ActiveMQ are OK.

[2022-04-19 19:23] #911 closed

[2022-04-20 03:19] bamboo12366 commented on #2918
sorry @zroubalik, I think still few things can be discussed

I totally agree the external metrics can be cached in https://github.com/kedacore/keda/issues/2282

But for the active status I still recommend to cache separately according to the scaler meta(can be hashed by some of the meta info, decided by each scaler respectively)

consider a case a lot of SO object configured to read information fr

[2022-04-20 06:01] tomkerkhove opened #2920 "Provide support for using SAS token in Service Bus scaler"
### Proposal

Provide support for using [SAS token in Service Bus scaler](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas).

### Use-Case

Different scenario for authentication, similar to https://github.com/kedacore/keda/issues/2705

### Anything else?

_No response_

[2022-04-20 06:14] tomkerkhove commented on #2487
@kedacore/keda-maintainers Do we introduce a new provider similar to the above suggestion:

[code]

Or do we stick with `provider: azure` and have another field that tells KEDA which mechanism to use?

Although the first option follows our current AWS approach which might be ideal:

`provider: none | azure | gcp | aws-eks | aws-kiam`

[2022-04-20 06:22] JorTurFer commented on #2487
I think that Azure-workload is good enough. As you said, in AWS we already have 2. We don't have a lot of pod identities for being a problem.
If in the future MSFT removes AAD-Pod-Identity, we can rename it

[2022-04-20 07:05] melisatanrverdi commented on #2884
Thank you @xphyr it seems okay for me too

[2022-04-20 07:18] zroubalik commented on #2918
I see what you are trying to achieve, though the Activation is calculated not just from the external metrics source but alos from the query/key.
So then you can have 2 SO pointing to the same Kafka Broker, but to a different topic. One could be active the other could be inactive.

[2022-04-20 07:22] tomkerkhove commented on #2487
Agreed. I don't think we have to rename it later on though

[2022-04-20 07:40] bamboo12366 commented on #2914
@zroubalik master, could you help me review on this https://github.com/kedacore/keda/pull/2922?

[2022-04-20 08:16] aryan9600 commented on #944
Following https://github.com/kedacore/keda/issues/944#issuecomment-1078763374, what do folks think about adding a different annotation `"autoscaling.keda.sh/paused": true` for ScaledJobs? Since it doesn't make sense to pause at a specific Job count, the annotation used for ScaledObject `"autoscaling.keda.sh/paused-replicas"` doesn't quite make sense to me. But a potential concern is introducing tw

[2022-04-20 08:23] zroubalik commented on #944
I concur that `"autoscaling.keda.sh/paused": true` for scaledjobs makes a sense, even though we are introducing a different annotation.

[2022-04-20 08:25] zroubalik commented on #944
lol, what will then take precedence if we introduce both annotations for ScaledObject and both gets applied (with different replica number)?

[2022-04-20 08:26] zroubalik commented on #944
Hmm, I am still in favor of one annotation for everything: `"autoscaling.keda.sh/paused"`, where values of this annotation could be `true,false, 0, 1,... N` 🤷‍♂️

[2022-04-20 08:28] tomkerkhove commented on #944
Order or application:

1. "autoscaling.keda.sh/paused-replicas" - Stops autoscaling and puts to given amount
2. "autoscaling.keda.sh/is-paused" - Stops autoscaling and just keeps on current count

[2022-04-20 08:29] zroubalik commented on #944
annotations are not sorted, it's a map imho.

[2022-04-20 08:32] zroubalik commented on #944
So what do you think of my proposal?
https://github.com/kedacore/keda/issues/944#issuecomment-1103612672

[2022-04-20 08:53] tomkerkhove commented on #944
My feeling is that we are approaching this with a technical solution to avoid adding new annotations.

I do get the concern of when to use which annotation and how it can be mis-used, but that feels more like a documentation issue rather than a blocker to introduce a second item; but that's just my opinion.

[2022-04-20 08:59] aryan9600 commented on #944
@zroubalik While I understand the benefit of having one annotation that covers everything, something about having an annotation that can have both integer and boolean values doesn't sit right with me. It might be completely fine to have something like this, and in that case it'd be helpful to see if there are other projects out there that do this.

If we are going to introduce `"autoscaling.keda.s

[2022-04-20 09:07] tomkerkhove commented on #944
I agree on that, however, I do understand that `autoscaling.keda.sh/paused` can be confusing and we might want to go with `autoscaling.keda.sh/is-paused` instead since it indicates that it should have a boolean state.

[2022-04-20 09:11] aryan9600 commented on #944
@tomkerkhove yes this annotation is def better, sorry i missed it in your previous comment.

[2022-04-20 09:13] zroubalik commented on #944
I can live with 2 annotations, but I don't agree on this one with you Tom, `paused` is imho much better than `is-paused`.

[2022-04-20 09:15] aryan9600 commented on #944
@zroubalik how so? is it because `is-paused` seems a more appropriate term for reporting than specifying intent?

[2022-04-20 09:17] zroubalik commented on #944
Exactly. And second concern (though minor and just nitpicking): I don't like the complexity of the annotation, is it `isPaused` or `is-paused` or `is_paused`.

[2022-04-20 09:19] tomkerkhove commented on #944
Fine by me, it was just an idea

[2022-04-20 10:58] v-shenoy commented on #2705
@tomkerkhove I can take them (both event hub and service bus) up next week.

[2022-04-20 11:01] tomkerkhove commented on #2705
That would be awesome, but don't feel pressured!

[2022-04-20 11:39] v-shenoy commented on #2487
Any comments on the `helm` support? As I mentioned, the service account used by the KEDA operator would require some labels and annotations.

I was thinking of the following flags.
1. `--podIdentity.azureWorkload.enabled=true`
The default would obviously be false. When this is set to `true`, we would add the label `azure.workload.identity/use=true` to the operator service account.
2. `--podIdentit

[2022-04-20 15:08] Tazovsky opened #2926 "Autoscaler fails to get API response from API URL combined from Kubernetes service name and port"
### Report

Autoscaler fails to get API response from API URL combined from kubernetes service name `scaling-api` and port `8000`:

[code]

Command executed from Kubernetes POD returns API response correctly:

[code]

Kubernetes service configuration:

[code]

`ScaledObject` configuration:

[code]

### Expected Behavior

Autoscaler should be able to get response from API URL combined from Kubernet

[2022-04-20 17:13] #2731 closed

[2022-04-20 18:34] santosh0787 opened #2927 "aks is throwing throttling errors when using keda with managed identity"
### Report

We are deploying keda using managed identity and using flux.  below is the snippet of deployment of keda-operator
[code]

we are using azure service bus as scalar. In scaledobject.keda.sh, app deployment we are using separate azure managed identity to access the service bus.  This managed identity is different than ms-keda-id which used by keda deployments.

we have 100+ applications d

[2022-04-21 07:49] #2884 closed, assigned to nobody

[2022-04-21 08:49] v-shenoy commented on #2357
@tomkerkhove The Azure Monitor scaler is also missing an e2e test.

[2022-04-21 09:00] tomkerkhove opened #2928 "Add e2e test for Azure Monitor"
### Proposal

Add e2e test for Azure Monitor

### Use-Case

_No response_

### Anything else?

_No response_

[2022-04-21 09:03] tomkerkhove commented on #2357
Nice find, opened https://github.com/kedacore/keda/issues/2928 - Thanks!

[2022-04-21 20:17] JorTurFer commented on #2926
Hey @Tazovsky ,
I'd say that the problem is related with the serviceName that you are using. Please, use the service name and also the namespace for the url.
The "long explanation" is all the pods inside the namespace, the service is enough, but KEDA is in its own namespace and your service is not available on it. That's why you can execute curl from the pod. The other option is creating the servi

[2022-04-22 08:14] Tazovsky commented on #2926
@JorTurFer I used full URL and it works now ;) Thanks!

[code]

Maybe it's worth mentioning it in [documentation](https://keda.sh/docs/2.5/scalers/metrics-api/)?

[2022-04-22 08:43] JorTurFer commented on #2926
I'd say that it's already covered in the docs (because the full url in k8s includes the namespace), but maybe updating the sample or adding a note is worth, right.
Are you willing to add it?

[2022-04-22 11:28] tomkerkhove commented on #2487
I like the above suggestion, thanks for the proposal!

This is the only concern that I have though, if they don't create it then shouldn't we create it? If not, then do you want to assume `serviceAccount.name` is the one they want to use?

[2022-04-22 11:42] v-shenoy commented on #2487
Yes, you are right. We assume that the serviceAccount.name is the one that they want to use, and that they have created it.

[2022-04-22 14:13] tomkerkhove opened #2933 "Support for running in non-root"
Currently we don't don't provide guidance around running in non-root and we should check if we can default to this in our Helm chart.

Related: https://github.com/kedacore/keda/discussions/2891

[2022-04-23 00:55] sebanazarian opened #2930 "Datadog scaler: no matching metrics"
### Report

I want scale a pod with metrics from datadog but I couldn't.

Describe of the scaled objet:

[code]

Describe of the HPA:

[code]

### Expected Behavior

No failure event on the HPA

Scaling pods with datadog metrics

### Actual Behavior

Failure event on the HPA.

The object does not scale

### Steps to Reproduce the Problem

1. kubectl create deployment nginx-deployment-datadog --ima

[2022-04-24 00:45] #2446 closed

[2022-04-24 00:45] #2600 closed

[2022-04-24 00:45] #2192 closed

[2022-04-25 12:47] tomkerkhove commented on #479
I've completed my design proposal and anyone who is interested is welcome to review and comment on it: https://docs.google.com/document/d/14Z04AWiMBkSX88uiaVS-kg-8QjjNcDhVy6-u5FMUk_w/edit?usp=sharing

In terms of implementation, I would identify a first batch of events to support and create dedicated items per event scenario so that they can be added afterwards in a phased-approach.

/cc @kedacore

[2022-04-25 13:13] #2841 closed

[2022-04-25 13:13] #2770 closed

[2022-04-25 13:14] v-shenoy commented on #2770
Closing as the e2e tests are working now.

[2022-04-25 13:22] tomkerkhove commented on #2895
Asked @ahmelsayed as I lack the permissions to add AAD Pod Identity.

[2022-04-25 15:56] rwkarg commented on #2888
I would find it surprising if the maxReplicaCount defaulted to 100 but that value got ignored and instead allowed 300 replicas. Are there any other triggers that override and allow more replicas than the maxReplicaCount?

If we're looking to have unsurprising behavior, then it feels like clarifying the documentation is the better approach for this one.

[2022-04-26 09:41] SushmithaVReddy commented on #2920
Working on this.

[2022-04-26 11:26] SushmithaVReddy commented on #2920
@tomkerkhove quick doubt - SAS authentication is currently handled if it's provided through the connection string. Are we looking at a provision to use SAS token other than through connection string?

[2022-04-26 11:50] tomkerkhove commented on #2920
If that's the case then we can close it, I thought we didn't support that yet.

Thanks for checking!

[2022-04-26 12:45] v-shenoy commented on #2487
@tomkerkhove Could you once again run the e2e tests? Thanks.

[2022-04-27 07:13] learnernk opened #2939 "apiserver received an error that is not an metav1.Status: &errors.errorString{s:"exactly one ScaledObject should match label "}: exactly one ScaledObject should match label"
### Discussed in https://github.com/kedacore/keda/discussions/2936

<div type='discussions-op-text'>

<sup>Originally posted by **learnernk** April 25, 2022</sup>
Hello
Need help on this.

We are getting the follow error in our keda metrics:-
1 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"exactly one ScaledObject should match label "}: exactly one

[2022-04-27 07:56] tomkerkhove commented on #944
As we're planning KEDA v2.7 next week I'll keep this open until we have ScaledJob support

[2022-04-27 08:40] zzhakhin commented on #2920
@tomkerkhove @SushmithaVReddy I try to setup scaledObject with trigger "azure-servicebus" that uses SAS token(trigger authentication ---> k8s secret). At the current moment KEDA 2.6 doesn't support this feature.

When I deploy the scaledObject with SAS token, I get ' "Endpoint" must not be empty' error message.

https://github.com/Azure/azure-amqp-common-go/blob/6b7304f631077f049a7249a2f36fe87e5c2

[2022-04-27 08:46] tomkerkhove commented on #2920
@SushmithaVReddy Can you verify this please?

[2022-04-27 08:47] SushmithaVReddy commented on #2920
Hi @zzhakhin , are you using a key value pair like "connectionString" : " Endpoint=sb://<sb>.servicebus.windows.net;SharedAccessSignature=SharedAccessSignature sr=<sb>.servicebus.windows.net&sig=<base64-sig>&se=<expiry>&skn=<keyname>" in your trigger auth CRD referred in scaled object?

[2022-04-27 08:59] zzhakhin commented on #2920
Hi @SushmithaVReddy. These are my setup

[code]

[code]
And I create secret with key:value

`queue-connection-string='SharedAccessSignature sr=https://servicebussand.servicebus.windows.net/queue-name&sig=<Signature>&se=<Unixtime>&skn=root'`

[2022-04-27 09:13] v-shenoy commented on #2920
We use the older Service Bus [sdk ](https://github.com/Azure/azure-service-bus-go).

It only supports connection strings of the first type -
[code]
and not
[code]

In fact, if I recall correctly, service bus is not the only place we use the older Azure SDKs. We should ideally be migrating to the newer versions for all of the Azure scalers.

[2022-04-27 10:15] SushmithaVReddy commented on #2920
@tomkerkhove should we work on migrating to the sdk that seems to be maintained - https://github.com/Azure/azure-sdk-for-go

[2022-04-27 10:59] dolefirenko opened #2940 "Add ability to set additional HPA annotations"
### Proposal

Add ability to set additional HPA annotations:
I'm trying to provide both solutions: keda autoscaling and kube-downscaler (https://codeberg.org/hjacobs/kube-downscaler)
For kube-downscaler  it's necessary to annotate HPA with corresponding "downtime" annotations.
So it would be nice to have an ability to provide HPA annotations in horizontalPodAutoscalerConfig

thanks

### Use-Case

[2022-04-27 11:32] tomkerkhove commented on #2920
The goal of the issue was actually to support this scenario which I thought we were supporting but I've misread. Can you work on this please @SushmithaVReddy?

[2022-04-27 11:40] SushmithaVReddy commented on #2705
@tomkerkhove  I Can take up this parallelly with https://github.com/kedacore/keda/issues/2920

[2022-04-27 16:58] v-shenoy opened #2941 "Add needed resources in the clusters for e2e test with AAD-Workload-identity"
Proposal

Azure AD Workload Identity support is currently in process of being added. With this in mind, we should have e2e tests covering this scenario. Preferably for all Azure scalers, but at least one to ensure that the changes do not break this feature.

Creating this issue for tracking purposes.

Use-Case
Improve the trust in the e2e test because they cover more scenarios

Anything else?
Rela

[2022-04-28 00:54] bpinske opened #2944 "Graphite Scaler doesn't properly handle null responses"
### Report

In some configurations, it's possible for Graphite to return null for its latest datapoint. This gets erroneously interpeted as a zero.

[code]

### Expected Behavior

Nulls are tolerated with the most recent non-null datapoint being used instead.
Nulls should not be mis-interpeted as a zero value

### Actual Behavior

Null graphite responses cause apps to erroneously scale down.

###

[2022-04-28 04:55] #2528 closed

[2022-04-28 05:42] tomkerkhove commented on #2895
AAD Pod Identity added to cluster thanks to @ahmelsayed

[2022-04-28 09:18] JorTurFer commented on #2939
hey,
Could you share KEDA logs? operator and also metrics server please.
You are using AAD-Pod-Indentity, right? Please review those logs to check if there is any error there.

[2022-04-28 20:30] johnathan-walker opened #2948 "Scaled Object fails to find a RabbitMQ queue after working the 1st time it's used in Release 2.6.1"
### Report

I was previously using this RabbitMQ scaler.

[code]

It worked perfectly. As a part of testing, I removed the scaler from our cluster. However, when attempting to reapply the exact same scaler, I get this error:

[code]

I'm currently running Keda 2.6.1.

This issue was first reported with 2.5.0 (and closed as fixed in 2.6.0) here: https://github.com/kedacore/keda/issues/2505

Is this

[2022-04-29 10:51] #2933 closed

[2022-04-29 12:14] SushmithaVReddy commented on #2920
@tomkerkhove quick pointer - https://github.com/Azure/azure-sdk-for-go/blob/main/README.md requires go1.18+ and keda supports go1.17+ , so we'll have to modify this https://github.com/kedacore/keda/blob/ac86c9455b9c2272b3e0158457587d9869da8b07/go.mod#L3 to 1.18 . Let me know if this understanding is right and any repercussions on customers using <= 1.17.

[2022-04-29 12:48] JorTurFer commented on #2930
Hi,
Sorry for the delay on response :(
Could you also share operator logs? Could this be already solved with latest changes in the scaler @arapulido ?

[2022-04-29 13:05] JorTurFer commented on #2948
hey!
Could you share operator logs too please?

[2022-04-29 14:50] JorTurFer commented on #2920
I don't have any strong opinion about that, but I'm really interested on @zroubalik opinion here

[2022-04-29 19:48] #2944 closed

[2022-04-29 23:48] sebanazarian commented on #2930
Log keda-operator
[code]

[2022-05-02 07:12] ejsa13 commented on #2566
Hi @thotz, can you share the steps that @zroubalik provided. Thanks!

[2022-05-02 10:00] #2914 closed

[2022-05-02 14:06] JorTurFer opened #2978 "Bump dependencies versions"
### Proposal

Update all dependencies before next release

[2022-05-03 00:40] johnathan-walker commented on #2948
I honestly have not been able to recreated this after my first experiment. Closing. If I can recreate, I will resubmit with operator logs.

[2022-05-03 00:40] #2948 closed

[2022-05-03 07:06] tomkerkhove commented on #479
Any thoughts @kedacore/keda-maintainers?

[2022-05-03 07:39] JorTurFer opened #2986 "Update github.com/Azure/azure-event-hubs-go/v3"
### Proposal

Dependabot has created [a PR](https://github.com/kedacore/keda/pull/2969) suggesting the update from `3.3.16` to `3.3.18` but it's not mergeable because the build fails.
There is a problem with our dependencies' tree that needs to be fixed manually (updating also some code)

Also together with `github.com/Azure/azure-amqp-common-go/v3` dependency.

### Use-Case

Improve the security

[2022-05-03 08:36] zroubalik commented on #2566
@ejsa13 please refer to this: https://github.com/zroubalik/keda-openshift-examples/tree/main/prometheus/ocp-monitoring

[2022-05-03 08:40] zroubalik commented on #2888
There aren't any scalers that exceedes maxReplicaCount. This has been already resolved in the docs.

[2022-05-03 08:40] #2888 closed

[2022-05-03 11:17] zroubalik opened #2989 "Azure Data Explorer: `iter.Next is deprecated: Use NextRowOrError() instead`"
### Report

Azure Data Explorer code needs to be updated, I have set an exception to the `.golangci.yaml` in the meantime:
https://github.com/kedacore/keda/blob/92fe72f6a8a5eb7d03e92cc665d3c4f8d3085a5a/.golangci.yml#L78

[code]

### Expected Behavior

golangci pass without an expection

### Actual Behavior

iter.Next is deprecated

### Steps to Reproduce the Problem

1. make golangci

### Logs fro

[2022-05-03 11:37] JorTurFer commented on #2989
I think that [this PR](https://github.com/kedacore/keda/pull/2988) is needed before to have the updated dependency

[2022-05-03 11:41] zroubalik commented on #2989
Yeah, I will update this one once it is merged. I needed a link to an issue in the PR chicken-egg problem 😄

[2022-05-03 13:27] arapulido commented on #2930
@sebanazarian The Datadog scaler has changed quite a bit between 2.6 and future 2.7. Can you maybe try with what's on main to see if you still get the issue? Thanks!

@JorTurFer when are we expecting a new keda release?

[2022-05-03 13:51] JorTurFer commented on #2930
I'm not sure if this week or next week. I'd say that on 5th, but I don't remember the exact date

[2022-05-03 13:54] JorTurFer commented on #2930
I have checked last meeting notes and we aim to May 5th

[2022-05-03 17:12] zroubalik commented on #2989
This needs to be updated once is this issue solved https://github.com/kedacore/keda/blob/92fe72f6a8a5eb7d03e92cc665d3c4f8d3085a5a/.golangci.yml#L78

[2022-05-03 17:24] dodizzle opened #2990 "Cannot authenticate against confluent hosted kafka"
### Report

This appears to have been addressed in the past but I am now experiencing the same problems as:
https://github.com/kedacore/keda/issues/2136
&
https://github.com/kedacore/keda/issues/1241

We should be able to connect using the following configs:
sasl=plaintext
username=api key
password=api secret
However this fails to authenticate.
If I enable tls ( which I believe was a previous work

[2022-05-03 19:17] #2989 closed

[2022-05-03 19:20] JorTurFer commented on #2990
hey @dodizzle ,
Could you share your ScaledObject? Is the Kafka cluster reachable from KEDA?

[2022-05-03 23:24] pavan-chakka opened #2993 "KEDA Implementation ways"
Hello,

In our org, we use Azure as our cloud services, and we have several teams who work on various applications/Azure functions. In Azure, we have non prod AKS cluster and Prod AKS cluster. We run our applications dev, test, QA APPs on non prod AKS cluster and prod on Prod AKS cluster. Each AKS cluster have namespace allocated for each team and they run their apps in PODS in their allocated nam

[2022-05-04 01:03] sebanazarian commented on #2930
@JorTurFer @arapulido  perfect, I will try with Keda 2.7 and I will tell the news.

Thanks!

[2022-05-04 06:11] JorTurFer commented on #2915
Hey,
I'd say that the problem is related with the ScaledObject length. Is there any option to reduce it? I have created a PR (linked to this issue) but we are discussing it there

[2022-05-04 07:04] tomkerkhove commented on #2993
Duplicate of https://github.com/kedacore/keda/discussions/2994

[2022-05-04 07:04] #2993 closed

[2022-05-04 08:09] tomkerkhove commented on #2915
From https://github.com/kedacore/keda/pull/2995: We need to have a robust solution where creating two ScaledObjects with the same name does not break the link.

Current thinking: Generate unique IDs per ScaledObject and use those instead. These unique IDs should be available to end-users (ie when doing `kubectl get scaledobject`) so that they can use them as well.

[2022-05-04 10:16] #2978 closed

[2022-05-04 10:26] JorTurFer commented on #2915
yes, as @tomkerkhove said, we have to think it better so this fix will not be included till v2.8. Meanwhile, you could try reducing the ScaledObject name size 🙏

[2022-05-04 10:41] leopoldodonnell commented on #2391
@goku321 No pressure (really) Just checking to see if you were able to make any progress towards a JetStream scaler?

[2022-05-04 12:31] goku321 commented on #2391
@leopoldodonnell @xgenvn Got delayed due to some pre-commit issues

Here's the commit: https://github.com/goku321/keda/commit/126130b9e228cc84576047fcfe03906a3db3ce1d (Didn't test it yet)

I'm not sure how accurate is `getMaxMsgLag`

Would really appreciate your input and help 🙂

[2022-05-04 12:39] JorTurFer opened #2998 "Support expressions in AWS CloudWatch Scaler"
### Proposal

AWS CloudWatch supports using expressions to query the data. Supports them in KEDA could improve the usage of AWS-CloudWatch Scaler

### Use-Case

_No response_

### Anything else?

_No response_

[2022-05-04 15:30] whitesource-bolt-for-github[bot] opened #3000 "CVE-2022-1214 (High) detected in axios-0.21.2.tgz - autoclosed"
## CVE-2022-1214 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>axios-0.21.2.tgz</b></p></summary>

<p>Promise based HTTP client for the browser and node.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/axios/-/axios-0.21.2.tgz">https://registry.np

[2022-05-04 15:30] #2752 closed

[2022-05-04 15:30] #2676 closed

[2022-05-04 15:30] #2521 closed

[2022-05-04 16:28] dodizzle commented on #2990
I confirmed that the kafka cluster is reachable from the pod.
Here is the SharedObject:

apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: kafka-scaled-object-spin
  namespace: apps
spec:
  scaleTargetRef:
    name: test-deployment
    namespace: apps
  pollingInterval: 30
  triggers:
  - type: kafka
    metadata:
      bootstrapServers: pkc-lgk0v.us-west1.gcp.confluent.cloud:9092

[2022-05-04 16:55] leopoldodonnell commented on #2391
@goku321 I will build it and have a look - its not my top priority, but I'd like to see this working and really appreciate that someone is giving it a try.

[2022-05-05 06:34] JorTurFer commented on #2990
any idea @zroubalik ?

[2022-05-05 06:52] v-shenoy opened #3004 "Allow PR authors to run E2E tests."
Right now, only reviewers with write access can trigger e2e tests on a PR.  In many cases, the tests work on the developer's local setup, but fail in the KEDA test environment, which can be a bit confusing to debug. This leads to a constant back and forth of the developer making changes, and then having to ask one of the reviewers to run the tests and wait. It is the case, even if the change is as

[2022-05-05 07:05] tomkerkhove commented on #3004
Ha, I'm happy to share that we've already discussed this and we have an improvement coming that would allow more people to trigger e2e tests.

[2022-05-05 07:14] JorTurFer commented on #3004
I expect to have it ready in the beginning of next week
I have a trip for the rest of the week, sorry

[2022-05-05 07:15] v-shenoy commented on #3004
@tomkerkhove @JorTurFer Thanks a lot.

And enjoy your trip :)

[2022-05-05 08:11] dolefirenko commented on #1797
confirmed, the issye is still present. kyverno v2.3.3, keda v2.6.2. And some dummy Prometheus scaled object is fixing this as a workaround.
The proposition is: if there are no scaled objects - /apis/external.metrics.k8s.io/v1beta1 resources shouldn't be empty. Let it returns 1 value, let it be current time....

[2022-05-05 10:31] slv-306 opened #3007 "Keda Auto Scaling failing with Pub/Sub"
### Report

Hi Team
Here is the error which I'm facing while autoscaling using GCP/Pub-Sub with Keda.
AbleToScale    True    SucceededGetScale        the HPA controller was able to get the target's current scale
  ScalingActive  False   FailedGetExternalMetric  the HPA was unable to compute the replica count: unable to get external metric default/s0-gcp-ps-echo-read/&LabelSelector{MatchLabels:map[

[2022-05-05 10:54] ritmas opened #3008 "Introduce metric aggregation/alignment in GCP Stackdriver scaler"
### Proposal

It's crucial to have ability applying aggregation/alignment on GCP Stackdriver metric in order to both fetch less data from GCP API and get exactly what you need.

For instance, `aggregator` and `aligner` would be useful:

[code]

### Use-Case

_No response_

### Anything else?

_No response_

[2022-05-05 10:56] jonmikeli commented on #214
I have just seen that the feature has been removed from Planned (Committed).
Any specific issue? or just about priorities/capacity? (if so, I cannot promise anything in the short term but I can maybe bring my small and humble contribution during the summer).

[2022-05-05 11:36] tomkerkhove commented on #214
No particular reason other than moving from GitHub Projects to GitHub Projects (preview) :)

Always happy to hear about customer scenarios to help prior or receive contributions though.

[2022-05-05 12:21] tomkerkhove commented on #2656
The initial work was done by @stephaneey and is available in the  `azure-identity-seperation` branch but we would need somebody to continue the work since he cannot finish it.

@raorugan @v-shenoy Is this something your team can pick up? This is currently just for Pod Identity (if I'm not mistaken) but would be nice if we could support this for workload identity as well.

[2022-05-05 12:44] JorTurFer opened #3009 "Pause autoscaling doesn't work from 0->1 or 1->0"
### Report

Trying the feature with RabbitMQ Scaler, I tried to pause the scaling setting the annotation `autoscaling.keda.sh/paused-replicas: '0'`.
The workload went to 0 properly but automatically the operator scaled the workload from 0 to 1 (because there were pending messages in the queue).

I have tried setting `autoscaling.keda.sh/paused-replicas: '1'` and the operator scaled to 1 and a few

[2022-05-05 13:25] zroubalik commented on #3009
CC @aryan9600

[2022-05-05 20:45] aslom opened #3012 "Unable to install Keda 2.7 operator with seurity securityContext added"
### Report

Unable to install Keda 2.7 operator with seurity securityContext added

### Expected Behavior

With previous version:

[code]

[code]

### Actual Behavior

[code]

[code]

### Steps to Reproduce the Problem

1. Try to install Keda 2.7 in OpenShft 4.9
2. Try to install Keda 2.6.1 in OpenShft 4.9
3.

### Logs from KEDA operator

N/A

### KEDA Version

2.7.0

### Kubernetes Version

1.22

[2022-05-05 21:03] shakaib-arif commented on #1279
I have recently encountered the same issue in version `2.0.0` but after some struggle _(2+hours)_ I have resolved it.

Actually, this comment lead me to the solution. Thanks @tomkerkhove  🙇‍♂️

I did upgraded my chart version to `2.2.1` in order to install the KEDA CRDs successfully.
`helm upgrade keda kedacore/keda --version 2.2.1 --namespace custom-namespace --install`

[2022-05-06 04:58] ritmas commented on #3008
Is it doable @RamCohen ?

[2022-05-06 07:52] trondhindenes opened #3013 "ScaledObject doesn't have correct Idle/Min/Max Replica Counts specification"
### Report

Keda reports an error if all of idleReplicaCount, minReplicaCount and maxReplicaCount are 0, effectively disabling the scaler. It isi desirable to be able to disable a scaler instead of deleting it, analoguos to scaling a deployment to zero instead of deleting it.

### Expected Behavior

keda should simply scale its target to 0 if all of idleReplicaCount, minReplicaCount and maxReplica

[2022-05-06 08:01] tomkerkhove commented on #3012
Did it pick up because if there would be an issue then it should go in crashbackloop? What do the operator logs say?

[2022-05-06 08:01] tomkerkhove commented on #2941
Do we need to add anything else?

[2022-05-06 08:02] tomkerkhove commented on #3013
Can you elaborate what the scenario is where your max replicas would be 0? Do you want to "pause autoscaling"?

[2022-05-06 08:07] tomkerkhove commented on #3007
Since this is for GCP, did you make sure that it is reachable?

See our troubleshooting guide: https://keda.sh/docs/2.7/troubleshooting/

[2022-05-06 08:43] engineering-dotcms commented on #1629
Hi everyone,
I'm running on a 2.5.0 KEDA version and I'm still have this problem. How can we fix?

Regards

[2022-05-06 08:56] tomkerkhove commented on #1629
@ifutant How do you know it was defaulting to CPU? If you didn't add the parameters then that means it was misconfigured and should stop, but not default to CPU.

[2022-05-06 08:56] tomkerkhove commented on #1629
@engineering-dotcms Can you try using KEDA 2.7 please?

[2022-05-06 11:05] zroubalik opened #3016 "Bump go to 1.17.9"
### Proposal

Bump go to 1.17.9

### Use-Case

_No response_

### Anything else?

_No response_

[2022-05-06 11:19] tomkerkhove commented on #2718
@v-shenoy Since you recently did this, is this something you are interested in helping with?

[2022-05-06 12:10] aslom commented on #3012
@tomkerkhove no operator log as its deployment does not work - operator is prevented from starting AFAICT

[2022-05-06 13:25] v-shenoy commented on #2718
What kind of information do you expect, and where do I add this?

[2022-05-06 13:29] tomkerkhove commented on #2718
Something similar to https://github.com/kedacore/keda/blob/main/CONTRIBUTING.md#contributing-scalers that walks you through the process in case you are a new contributor for auth providers.

So basically what you had to figure out yourself, but now documented :D

[2022-05-06 13:44] engineering-dotcms commented on #1629
@tomkerkhove upgrading KEDA version from 2.4.0 to 2.7.0 solved our problem! Thank you