[2020-08-04 05:52] tomkerkhove commented on #650
Let me know if we can help you out and if you need anything else @sjwaight!

Just checking in, no pressure here!

[2020-08-04 11:28] zroubalik commented on #967
I have done a quick check and RabbitMQ Scaler TLS support is not implemented yet. https://github.com/kedacore/keda/blob/v2/pkg/scalers/rabbitmq_scaler.go#L138 this would need to use `amq.DialTLS()`. And consume the ceritficate the similar way it does for example for Kafka Scaler.

@maverickmetro is this something you are willing to contribute?

[2020-08-04 12:29] bryanhorstmann commented on #965
I'm not sure I understand what you mean by scaling loop? If the last known value is above the threshold, you'll have x pods. The last known value will never change so your pods should be static.

Example:
[code]

[2020-08-04 12:48] tomkerkhove commented on #965
Well if the value is still 15 it will be bigger than 10 so KEDA would add an instance, and another one, and another one.

[2020-08-04 13:00] bryanhorstmann commented on #965
I might be misunderstanding how the calculations work, but my understanding is the metric value would be `15`, but as there are 2 pods, the average value would be `7.5`. If the threshold is `10`, then no new pods would be scaled in by the HPA.

[2020-08-05 10:07] zroubalik commented on #733
Solved in #966

[2020-08-05 10:07] #733 closed

[2020-08-05 10:08] zroubalik commented on #476
Solved in #733

[2020-08-05 10:08] #476 closed

[2020-08-05 23:32] sjwaight commented on #650
Our resident designer has been on leave for a few weeks so there hasn't been any movement on this - I have followed up here and will do so again. Taking a while but still not closed off. Thanks for the reminder :)

[2020-08-06 10:11] zroubalik opened #969 "Migrate to the new Kubebuilder based Operator SDK framework"
From v0.19 Operator SDK project was merged with Kubebuilder, this results in a new project layout (ie. KEDA code layout at build stuff).

We should migrate to the new project structure for v2.

https://sdk.operatorframework.io/docs/golang/quickstart/

[2020-08-06 14:16] zroubalik commented on #955
Fixing in #971

[2020-08-06 16:46] TsuyoshiUshio commented on #955
Thanks. 👍

[2020-08-06 19:16] #955 closed

[2020-08-06 20:59] turbaszek commented on #929
Other example where HTTP scaler would be useful are Python apps that use [Celery](https://docs.celeryproject.org/en/stable/) and its monitoring tool called Flower which expose quite interesting API (FYI @auvipy @dimberman ):
https://flower.readthedocs.io/en/latest/api.html

This sounds very interesting but it has an overhead of building a scaler if I understand correctly. That for some teams can b

[2020-08-06 21:12] auvipy commented on #929
Be back soon to this. Have plan to rewrite flower soon.

[2020-08-07 04:49] tomkerkhove commented on #947
Notes from standup yesterday:

[2020-08-07 04:49] tomkerkhove commented on #969
Notes from standup yesterday:

[2020-08-07 04:50] tomkerkhove commented on #946
Yesterday during standup @tbickford mentioned he wanted to pick this up

[2020-08-07 04:50] tomkerkhove commented on #963
We'll use password and @jeffhollan will update docs

[2020-08-07 04:51] tomkerkhove commented on #965
Notes from standup yesterday:

@bryanhorstmann We just feed current & target metric to the HPA so it will keep on scaling.

[2020-08-07 05:13] bryanhorstmann commented on #965
Thanks for the feedback @tomkerkhove. I'm glad this is being considered as a nice to have for `2.0`.

[2020-08-07 06:46] tomkerkhove commented on #929
I can see value in a "we provide the metric, you'll handle the rest" API endpoint.

[2020-08-07 07:57] zroubalik commented on #963
We should update the calendar invite then as well.

[2020-08-07 07:59] zroubalik commented on #965
@bryanhorstmann do you think this is something that you could contribute?

[2020-08-07 07:59] tomkerkhove commented on #963
Jup it's on my radar as well!

[2020-08-07 08:19] bryanhorstmann commented on #965
Hi @zroubalik,

I'm happy to have a go at it. Will need to do some digging and research as I've not dug too deeply into the code base.

My understanding is that the only part that needs actual work is:
[code]

[2020-08-07 08:52] zroubalik commented on #965
Yes, but it is unfortunately not that trivial. Currently we are checking and marking the status of a scaler in `isActive` [property](https://github.com/kedacore/keda/blob/v2/CREATE-NEW-SCALER.md#isactive), in short: this is set to false if there are no metrics for scaling or if the scaler is unavailable. This behavior needs to be changed (and for consistency for all scalers). And then perform the

[2020-08-07 19:29] nbhargava opened #974 "Postgres Scaler compatibility with Jobs"
The Postgres scaler should be usable when trying to scale Jobs.

### Use-Case

It would be great if KEDA could support using Postgres as a queue to spin off new Jobs. In cases where the queue represents long-lived tasks that need to be completed, Jobs may be better suited than scaling up a deployment.

### Specification

The main issue is that `postgreSQLScaler.GetMetrics` reports the `pgMetricNam

[2020-08-08 17:04] rushivarun commented on #254
Flask app fails in the container.

[2020-08-09 14:48] mik-laj commented on #929
As for what the spec and expected requirements for such a scaler might look like, we can take a look at Zabbix, which allows you to collect HTTP metrics.
Here is docs about it: https://www.zabbix.com/documentation/5.2/manual/config/items/itemtypes/http

If someone wants to use the token for authorization, they must add `Authorization` header.

It's worth taking a look at the "Postprocessing" secti

[2020-08-09 14:55] yifan opened #978 "resolve dns in scaler correctly using ScaledObject namespace rather than keda-operator namespace"
In ScaledObject we specify dns for hosts of many services, KAFKA, REDIS or RabbitMQ. It is right to assume those dns are being resolved in the same namespace as ScaledObject, not from the namespace of keda-operator.

### Use-Case
I have a set of deployments and ScaledObjects for these deployments. Also I have a redis server. I can deploy all these resources in namespace. I would then deploy exactl

[2020-08-10 05:07] tomkerkhove commented on #978
Closing in favor of #977 for now

[2020-08-10 05:07] #978 closed

[2020-08-10 07:25] tomkerkhove commented on #929
What concerns do you have with https://github.com/kedacore/keda/issues/929#issuecomment-658718989 @mik-laj ?

[2020-08-10 08:17] zroubalik commented on #974
@nbhargava good catch! Could you please open a PR with a fix against v2 branch? https://github.com/kedacore/keda/tree/v2

I was quickly looking at other scalers and the same problem is with RabbitMQ and Cron scalers, could you please include this in the PR as well? And check other scalers that I haven't overlooked anything?

Thanks

[2020-08-10 09:13] #903 closed

[2020-08-10 09:14] zroubalik commented on #887
Please reopen if you need to.

[2020-08-10 09:14] #887 closed

[2020-08-10 11:36] privalof opened #982 "Creating queue in the GetAzureQueueLength function"
Hi Guys tried to understand why in the following function called "create" function on queue:
https://github.com/kedacore/keda/blob/75b06d78751d1aca9e06c0e64b40dbe6f9546bef/pkg/scalers/azure/azure_queue.go#L19

We use azure identity with Keda , and want to avoid adding this kind of permissions to the operator.
What do you think ?

[2020-08-11 05:03] #982 closed

[2020-08-11 21:00] nbhargava commented on #974
Resolved by #984

[2020-08-11 21:00] #974 closed

[2020-08-12 17:13] TsuyoshiUshio opened #992 "[v2] Scaled Job configuration parameter support"
I noticed that these parameters are not implemented for v2.

[code]

We need to discuss the parameter of `parallelism` vs  `maxReplicaCount`.

* `parallelism` looks similar to `maxReplicaCount`.  The name of `replicaCount` might cause confusion. I'm not sure the backward compatibility of the `maxReplicaCount` (it was not working), one idea is migrate from `maxReplicaCount` to `parallelism` is the

[2020-08-12 19:57] TsuyoshiUshio commented on #712
Hi @tomkerkhove

I believe establish the standard before v2 GA sounds awesome.
This is just my personal opinion, however, I think the each configuration should follow the each SDK's terminologies. Maybe we need to discuss it with others.

The reason is :
* Customers might not interested the other scalers they use
* Customers is familiar with the terminology of the each resources, eg, Azure Queue,

[2020-08-13 06:30] tomkerkhove commented on #305
Are you still seeing this issue?

[2020-08-13 06:31] #820 closed

[2020-08-13 06:32] tomkerkhove commented on #712
We are actually doing the exercise in this issue with a Google doc open: https://github.com/kedacore/keda/issues/753#issuecomment-639343292

Feel free to go through it and add comments!

That's true, but what about those who are interested? No point in having one scaller be called `host` and the other `connection` for example.

Not sure how this relates, do you mean local KEDA dev?

[2020-08-13 11:42] zroubalik commented on #712
my 2 cents:

I think that we should keep the convention/naming that is usual for each individual scaler, (eg. Kafka is using `boostrapServers` and not `host` or `connection`, b/c that's something that typical for Kafka)

Those scalers, where aren't that strict conventions we should do some unification (eg. host, host name, etc) if it is needed.

 As it is discussed on https://github.com/kedacore/k

[2020-08-13 11:55] zroubalik commented on #992
Aren't those standard `Job` properties? Which should be specified by user and the `Job` resource is then created with those properties and kubernetes is taking care of them in the end? So nothing that KEDA should actively change or behave based on them, but k8s is doning the work?

[2020-08-13 11:56] zroubalik commented on #954
Solved by #989

[2020-08-13 11:56] #954 closed

[2020-08-13 12:08] bryanhorstmann commented on #965
Hi @zroubalik, thank you. I think I'll step away from this one, but will be watching the progress.

[2020-08-13 12:58] tdesmet commented on #334
@tomkerkhove I see you closed this, but I don't see any support for pod identity with event hub in the documentation or the code...

[2020-08-13 13:03] tomkerkhove commented on #334
Trigger Authentication is just the decoupling of the scaler and how to authenticate so it was not in scope here but feel free [to suggest it](https://github.com/kedacore/keda/issues/new?labels=needs-discussion%2Cfeature-request&template=Feature_request.md)

[2020-08-13 13:15] tdesmet opened #994 "support AAD Pod Identity authentication for azure event hubs"
Blob storage, service bus and storage queue triggers have support for AAD Pod identity authentication. It would be nice to also have this for azure event hubs so we can configure authentication the same way.

### Specification

- [ ] support AAD Pod Identity for authentication on azure event hubs trigger

[2020-08-14 14:32] tomkerkhove opened #995 "Docker Hub's new policy limiting image retention"
Docker Hub's new policy limiting image retention is going to throttle pulls for free accounts to 100 pulls / 6h for anonymous users and 200 for authenticated users:

![image](https://user-images.githubusercontent.com/4345663/90260230-8136ff00-de4b-11ea-8c11-213b2685ed8b.png)

Less impact is that they will remove images that are inactive for 6m.

Checking with CNCF what their guidance is but we mig

[2020-08-16 05:53] tomkerkhove opened #997 "Provide merch for people to buy"
Provide merch for people to buy

[2020-08-16 06:18] tomkerkhove commented on #650
We are working on design for our merch (#997) and will see if we can squeeze it in in time.

Thanks for the update!

[2020-08-17 05:47] tomkerkhove commented on #494
Can we get some docs on this?

[2020-08-17 05:48] tomkerkhove commented on #788
Can we get some docs on this on https://keda.sh/docs/2.0/operate/?

[2020-08-17 05:49] tomkerkhove commented on #936
Pending docs

[2020-08-17 05:52] tomkerkhove commented on #777
Just verifying - @zroubalik I presume this still works now that we have multiple triggers

[2020-08-17 05:56] tomkerkhove commented on #476
Just verifying - This is only for ScaledObject I presume?

[2020-08-17 06:04] tomkerkhove commented on #823
We can close this one I think, right?

[2020-08-17 07:49] zroubalik commented on #823
Fixed in #889

[2020-08-17 07:49] #823 closed

[2020-08-17 07:56] zroubalik commented on #476
I think it should work for ScaledJob as well.

@TsuyoshiUshio could you please confirm?

[2020-08-17 07:56] zroubalik commented on #777
Yeah, it should work :)

[2020-08-17 07:58] zroubalik commented on #995
Is this something that CNCF could cover?

[2020-08-17 08:01] zroubalik commented on #494
I am not sure what exactly we should document here? It is a kubernetes Go client https://github.com/kubernetes/client-go/

[2020-08-17 09:08] tomkerkhove commented on #995
They are looking at it in cncf/foundation#106

[2020-08-17 09:39] tomkerkhove commented on #494
Might be my Go ignorance here as I thought the go client had to be pulled in and document what it enables but it's ok then.

[2020-08-17 09:39] #494 closed

[2020-08-17 09:55] turbaszek commented on #929
@tomkerkhove I will draft a PR soon

[2020-08-17 09:56] tomkerkhove commented on #929
I presume you agree on the proposed API spec then or?

[2020-08-17 10:07] turbaszek commented on #929
Yup, that makes sense to me 👍

[2020-08-17 10:53] turbaszek commented on #997
Not sure if as CNCF project you have already a place for merch. If not then you may consider
https://www.redbubble.com/people/comdev/shop

That's "official" place for Apache merch 😉

[2020-08-17 11:03] auvipy commented on #929
Just want to know, how keda could be useful with upcoming airship 2.0 ? https://www.airshipit.org/blog/airship2-is-alpha/

[2020-08-17 11:05] tomkerkhove commented on #997
Already have something in the works but thanks for the tip!

[2020-08-17 14:34] #936 closed

[2020-08-17 14:55] tomkerkhove opened #1002 "Provide scaler for Datadog metrics"
Provide scaler for Datadog metrics.

https://docs.datadoghq.com/metrics/

[2020-08-17 14:55] tomkerkhove opened #1003 "Provide scaler for Elastic Metricbeat metrics"
Provide scaler for Elastic Metricbeat metrics.

https://www.elastic.co/beats/metricbeat

[2020-08-17 14:57] tomkerkhove opened #1004 "Provide scaler for Atlassian Statuspage"
Provide scaler for Atlassian Statuspage.

https://www.atlassian.com/software/statuspage/features/uptime-and-performance

[2020-08-17 14:58] tomkerkhove commented on #1004
There are a ton of scenarios here (such as scale when we don't meet our KPIs) but another interesting one where if our upstream dependency is going down, let's just scale down as there's no point in processing messages if we can't talk to our 3rd party provider.

[2020-08-17 20:16] MPickfield commented on #855
I think it would depend on the implementation of your consumer, which likely declares the queue. If the consumer listens on 'queue1' and this trigger is configured for 'queue1' you won''t have an issue, but if you are listening on a queue that hasn't been declared (say you had a typo in the queue name) I believe this issue arises.

[2020-08-17 22:53] TsuyoshiUshio commented on #992
Hi @zroubalik
I see, then it should work. It is `batchv1.JobSpec`.
Now I understand. Thank. Never mind.

[2020-08-17 22:53] #992 closed

[2020-08-17 23:06] TsuyoshiUshio commented on #712
It might not need to consider this discussion. :( sorry about that.

I mean Yes. For example, Let's imagine we debug locally with RabbitMQ deployed on a k8s cluster.  We need to deploy Job or Deployment on the cluster. The pod should refer the endpoint of the RabbitMQ, it should be the value that is solved inside of the k8s cluster.
However, if you want to debug locally on your machine with the op

[2020-08-17 23:10] TsuyoshiUshio commented on #950
How about `workerCount` or `containerCount` ?

[2020-08-18 05:27] tomkerkhove commented on #950
In this case the `queueLength` represents the value it should scale on, not the amount of instances we want so I don't think this is really a good alternative or am I missing something?

Isn't `queueLength` or `queueDepth` a common name for this in the scaling space? For me, it was clear what it represents but it might be just me.

[2020-08-18 07:45] zroubalik commented on #950
Agree with @tomkerkhove.

[2020-08-18 15:10] zroubalik opened #1008 "[v2] Test ScaledObject and ScaledJob Controllers"
We should use [envtest test framework](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/envtest) to test our controllers.

The current test file is just a stub: https://github.com/kedacore/keda/blob/950c5e16deb143a8201189ec7430f7350d0fa6bd/controllers/suite_test.go

[2020-08-18 15:11] zroubalik commented on #1008
@TsuyoshiUshio do you think this is something that you can use to migrate and extend your ScaleJob Mock based tests to?

[2020-08-18 17:44] TsuyoshiUshio commented on #1008
Hi @zroubalik
For the individual unit testing some mock mechanism is required. However, if you want to go with ginkgo, we can change the assertion part. https://github.com/kedacore/keda/blob/v2/pkg/scaling/executor/scale_jobs_test.go#L44
I also considered to use the framework, however, it is great for controller logic validation, however it looks integration testing for the controller. We might ne

[2020-08-18 17:48] TsuyoshiUshio commented on #950
Then I'm ok guys. Thank you for this discussion. I'm close it now.

[2020-08-18 17:48] #950 closed

[2020-08-18 22:49] TsuyoshiUshio opened #1011 "[v2] Update Azure Functions Core Tools for executing sample"
A clear and concise description of what you want to happen.

### Use-Case

Azure Functions Quick Starts includes `func` command. However, we need to update this part at least.
https://github.com/Azure/azure-functions-core-tools/blob/efa3d503717dbb4f96a67e8d508ecfefe7eaf56c/src/Azure.Functions.Cli/StaticResources/keda.yaml

Once we publish v2, we need to update `core-tools`.  For the timing, we nee

[2020-08-19 01:45] tbickford commented on #946
I was looking into what the conversion process would like for deployments only and was hoping for some feedback. Assuming that the v2 crds are installed these commands should convert the CR's:
[code]
Before the v2 keda operator is installed or started the previously KEDA-provisioned HPA's need deleted:

`kubectl delete hpa -A -l app.kubernetes.io/managed-by=keda-operator`

Once the v2 operator is

[2020-08-19 05:49] tomkerkhove commented on #1011
We're running in dependently Azure Functions so I suggest to track the issue there: https://github.com/Azure/azure-functions-core-tools.

_Actually there is some chatter already on https://github.com/Azure/azure-functions-core-tools/issues/2144_

[2020-08-19 11:13] zroubalik commented on #1008
Thanks for the info. I haven't had a time to look at both frameworks closely, so don't know the details. So might be worth exploring if we can merge both unit and integration tests under one framework. If you think that it is ok, we can keep the current state for now.

[2020-08-19 11:25] zroubalik commented on #1008
wrt testing I have found just this: https://book.kubebuilder.io/reference/writing-tests.html

They have changed the docs for the recent version

[2020-08-19 14:13] zroubalik commented on #788
I am not sure this is something worth documenting. Those probes exposes state of the Operator and Metrics Server Deployment toward kubernetes, eg. kubernetes scheduler knows when the Deployment is not available and should try to spin another pod.

[2020-08-19 14:29] zroubalik commented on #946
Looking good. What if user would like to convert yaml files, no resources in k8s?
We should take into an account the last big changes that we hopefuly would do for v2.0 - as described in this comment https://github.com/kedacore/keda/issues/753#issuecomment-656224125, renaming confusing properties (ie. where they use direct value, when reference).

[2020-08-19 14:32] zroubalik commented on #927
This patch solves this issue https://github.com/kedacore/keda/blob/00f663426e46fae64bcad8d4d9cd05b4c5ab3e8c/config/crd/patches/scaledjob_patch.yaml

Once this issue is solved upstream (in operator-sdk) we can remove the patch.

[2020-08-19 14:32] #927 closed

[2020-08-19 14:32] zroubalik commented on #969
Fixed by #1007

[2020-08-19 14:32] #969 closed

[2020-08-19 14:43] tbickford commented on #946
Yaml (files) are interesting. The intent of what I was looking to address here was only for the custom resources existing in the cluster and the applications/deployment that are preserved as files would need to be altered out of band. The reason for this is that they are not necessarily straight yaml (Helm templates for example).

Are these scaler property changes going to happen in v2 (interestin

[2020-08-19 14:49] zroubalik commented on #946
@tomkerkhove collected a doc in that issue (https://docs.google.com/document/d/1DWjG2GfhxO8nWrLciTLtHW2y6YDkj2CF7n3abj4-pmE/edit)

Basically we would like to through scalers' metadata fields and change those ambiguous. Eg. https://github.com/kedacore/keda/issues/905. So if there's such field, for example `connection` which expects value in some reference, rename this property to `connectionRef` or

[2020-08-19 23:31] raravena80 commented on #637
Some more reason to have integrations with the Cluster Autoscaler: https://stackoverflow.com/questions/63495899/using-multiple-autoscaling-mechanisms-to-autoscale-a-k8s-cluster

[2020-08-20 09:54] zroubalik opened #1017 "Rename ScaledObject.spec.scaleTargetRef.containerName"
There is a propety do define a container in the target deployment, that should be used for ENV variables lookup.

Currently it is named `containerName`, I personally don't like the name. Because it is under `scaleTargetRef` property and users could get impresion that this is the Container (inside Deployment) that is gonna be scaled (which is not true).

[code]

I'd like to rename it for v2, to som

[2020-08-20 11:27] tomkerkhove commented on #1017
In that case, don't you have the same issue? How about `envSourceName` or so?

[2020-08-20 11:36] zroubalik commented on #1017
Yeah, but the value of the field, should be a container name, so we should keep that in the field name somehow. Your suggestion is lacking this context.

[2020-08-20 11:37] zroubalik commented on #1017
The name should be something like: `containerNameFromWhichWeWantToGetEnv` .. 😄

[2020-08-20 11:39] tomkerkhove commented on #1017
`envContainerName` it is I think, can't come up with a better name...

Or `envVarResolution.containerName`? I don't know.

[2020-08-20 16:14] ahmelsayed commented on #1017
I like `envContainerName` or `envSourceContainerName`

[2020-08-20 19:34] anggao opened #1020 "Condense required rbac roles for keda-operator"
A clear and concise description of what the bug is.

## Expected Behavior
https://github.com/kedacore/keda/blob/master/deploy/10-cluster_role.yaml
clusterrole should only list the required roles keda-operator needs to operate

## Actual Behavior
keda-operator requires full control of pods or secrets etc.

## Specifications

  - **KEDA Version: v.1.5.0
  - **Platform & Version: N/A
  - **Kubernetes

[2020-08-20 19:39] anggao commented on #1020
The following rbac roles seems enough

[code]

[2020-08-20 20:21] audunsol opened #1021 "Apply scaledobject terminates all running jobs"
When applying an update (typically a new container image tag from our CI/CD pipeline) to a ScaledObject with `scaleType: job` terminates all running jobs.

This does not seem to fit well with the run-to-completion nature of jobs, and we have to make sure deploying new code does not interrupt our long running simulations (the main reason for choosing jobs over deployments).

## Expected Behavior
Al

[2020-08-20 22:25] BretFisher commented on #995
more info on technicals of pull limits, with more blog/faq coming next week https://docs.docker.com/docker-hub/download-rate-limit/

[2020-08-21 07:44] zroubalik commented on #1017
I like `envSourceContainerName` and go in this direction.

[2020-08-21 08:24] zroubalik commented on #1020
Thanks, good catch. The verbs for the pods/secrets etc should contain `watch` as well.

[2020-08-23 10:45] hila3000 opened #1030 "keda-operator running pod is not the leader when there's a keda-operator evicted pod"
Hi,

I don't know if it's a bug or a feature request, so let me know if it is a feature request and I'll re-open it as such.

## Expected Behavior
keda-operator on running state should always get elected as the leader.
From search online, it says that the election is defined in the code that initializes the Manager object, a.k.a the keda-operator, so I assume it's a change needed to be on your sid

[2020-08-24 05:43] tomkerkhove commented on #929
I'm happy to consider that but I don't see what value the [`metric_types`](https://github.com/statsd/statsd/blob/master/docs/metric_types.md) bring to the table as we just want to have value without doing any logic or decision making? I'm just asking.

Always good to use industry-standards, but they have to provide value if you ask me.

If we drop that, than we just have metric name & value for wh

[2020-08-24 06:37] nrjohnstone commented on #1021
We are seeing this as well with our long running jobs and it does not play nice with the continuous delivery nature of our code bases that are using containers being scaled by KEDA.

The other alternative of course is to ensure that all of your batched jobs running via KEDA jobs are using some kind of saga pattern so when they do get interrupted, if they are driven off a queue with a visibility wi

[2020-08-24 07:11] tomkerkhove commented on #1021
@TsuyoshiUshio Is this behavior the same with 2.0?

[2020-08-24 07:34] turbaszek commented on #929
I personally like the idea of using openapi standard. Just wanted to clarify that we abandond the idea from previous discussion.

[2020-08-24 07:41] zroubalik commented on #515
@thefirstofthe300 thanks for the confirmation!

It might be worth adding this to the FAQ or somewhere else in the docs, WDYT @tomkerkhove ?

[2020-08-24 07:47] zroubalik commented on #1030
Hi, for the upcoming v2, we have added readiness/liveness probes for the Operator and the underlying library changed the way, how the leader is elected: https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#leader-election

I think this should solve the issue.

[2020-08-24 08:03] tomkerkhove commented on #515
Sounds good to me - Either [FAQ](https://keda.sh/docs/latest/faq) or [Troubleshooting](https://keda.sh/docs/latest/troubleshooting/)

[2020-08-24 08:04] tomkerkhove commented on #515
Do you want to contribute this @thefirstofthe300?

- Docs on how to add a [FAQ](https://github.com/kedacore/keda-docs#add-new-frequently-asked-question-faq)
- Docs on how to add a [troubleshooting](https://github.com/kedacore/keda-docs#add-new-troubleshooting-guidance)

[2020-08-24 08:15] #1030 closed

[2020-08-24 08:16] zroubalik commented on #1020
#fixed by #1024

[2020-08-24 08:16] #1020 closed

[2020-08-24 08:16] zroubalik commented on #1017
Fixed by #1023

[2020-08-24 08:16] #1017 closed

[2020-08-24 08:17] zroubalik commented on #952
Fixed by #1019

[2020-08-24 08:17] #952 closed

[2020-08-24 08:18] zroubalik commented on #895
Duplicate of https://github.com/kedacore/keda/issues/515

[2020-08-24 08:18] #895 closed

[2020-08-24 08:19] zroubalik commented on #864
Duplicate of #894

[2020-08-24 08:19] #864 closed

[2020-08-24 09:38] hila3000 commented on #1030
Thanks! Is there an estimation as to when v2 will get released?

[2020-08-24 10:17] hila3000 opened #1033 "keda-operator memory pressure"
Hi,

I opened it initially as a discussion but I think it might be a bug.

We're using keda in Production.
I've noticed keda-operator pods are being evicted due to memory pressure.
When checking the graphs, it just seems like a memory leak that keeps up until it reaches 10GB, then the pod gets evicted.

My question is-
Is it reasonable for keda-operator to reach 10GB of memory consumption?
Anythin

[2020-08-24 13:14] hila3000 commented on #1033
Update - I've changed the pollingInterval from 5 to 60, the usage is now moderated but still in an increasing trend.

[2020-08-24 15:30] lonnix commented on #929
I've chatted with @turbaszek a bit over Slack about this and I think its wonderful and will fulfill most if not all of our use cases. One question I do have though is what and how my api will need to define. My original thought was that my app could define any endpoint it chooses, say `http://api:1234/v1/scale` and return a JSON string like `{key1:value1, key2:value2, ....}`
Then in the ScaledObje

[2020-08-24 15:50] tomkerkhove commented on #929
That's correct. Every API should then comply with this OpenAPI spec https://github.com/kedacore/keda/issues/929#issuecomment-658718989.

[2020-08-24 17:22] turbaszek commented on #929
I think in general this is the right approach. Clean, simple and it bases on a "good pattern" of openapi. I was trying for some time
to find an example against this approach but every time I was able to convert this to this approach and figure out a good argumentation for it.

[2020-08-24 17:44] TsuyoshiUshio commented on #1011
You've already talked. Thank you for sharing the link!

[2020-08-24 19:24] zroubalik opened #1035 "Revisit startPushScalers for ScaledJob"
There is this `TODO` comment in the `scale_handler.go`, I wonder whether it is still relevant:

https://github.com/kedacore/keda/blob/b6c60a088a7ac5683638feba3692b40b0b613f29/pkg/scaling/scale_handler.go#L168-L170

[2020-08-24 20:20] ahmelsayed commented on #1035
@TsuyoshiUshio can you please take a look and let me know if you have any questions?

[2020-08-25 03:04] RaymondKYLiu commented on #837
Hi,

I have ran into IRSA problem with Grafana, I am not sure KEDA is similar to it ? https://github.com/grafana/grafana/issues/20473#issuecomment-638268104

The solution is to add securityContext.

Could you try to add to KEAD operator ?
[code]

[2020-08-25 06:34] #930 closed

[2020-08-25 06:34] tomkerkhove commented on #963
@jeffhollan Heads-up, it's almost September!

[2020-08-25 08:48] ansonauhk opened #1039 "High vulnerabilities in keda 1.5 docker image"
Our Sysdig enterprise image scan is picking up 36 vulnerabilities. Is it possible to scan and fix them before releasing an image? This can help enterprise adoption of KEDA

Some highlight
RHSA-2020:2637
RHSA-2020:0271
RHSA-2020:0273
RHSA-2020:0575
RHSA-2020:2755

- KEDA Version:1.5.0

[2020-08-25 09:05] tomkerkhove opened #1040 "Setup container scanning on-push"
Setup container scanning on-push with Snyk

[2020-08-25 09:06] tomkerkhove opened #1041 "Setup container scanning for published images"
Setup container scanning for published images in Docker Hub with Snyk

[2020-08-25 09:09] tomkerkhove commented on #1039
I'll take this up, sorry about that.

See #1040, #1041 & https://github.com/kedacore/charts/issues/64

[2020-08-25 09:09] tomkerkhove commented on #1039
@zroubalik @ahmelsayed We should include this in 2.0 and maybe ship 1.5.1 for this.

[2020-08-25 09:25] tomkerkhove commented on #1040
GitHub Actions that I'll use:
- https://github.com/snyk/actions/tree/master/docker
- https://github.com/snyk/actions/tree/master/golang

[2020-08-25 09:30] zroubalik commented on #1039
agree 2.0 should include this for sure

[2020-08-25 11:23] tomkerkhove opened #1042 "Provide automatic dependency updates"
Provide automatic dependency updates to ensure that we are always using the latest versions with patches.

[2020-08-25 11:25] tomkerkhove commented on #1042
We can use GitHub's Dependabot or Renovate. I personally use Renovate with Go & Docker support but Dependabot has [Go (Alpha) and Docker support](https://dependabot.com/#languages) as well.

Any preferences?

[2020-08-25 11:27] tomkerkhove commented on #1040
This will be incorporated in master/nightly build.

[2020-08-25 15:32] zroubalik opened #1043 "Kafka Scaler with both SASL and SSL(TLS)"
_First of all I'd like to say, that I am not a Kafka expert._

Currently there's no way, how to set both `SSL` (cert, key, cacert) and `SASL` (username, password) for client in Kafka scaler, look at the code below:
https://github.com/kedacore/keda/blob/bf25619a6d920df27a7f56607f87667d7b23aa1b/pkg/scalers/kafka_scaler.go#L144-L173

There are several options for [Authentication of Kafka Scaler](http

[2020-08-25 18:51] erick-thompson commented on #894
I was the person who opened 864. I think either dot or field for namespaces is fine. The reason I suggested the field is that it seemed to fit better with KEDA patterns, but the important part for me is the functionality, not the format.

[2020-08-25 19:07] erick-thompson commented on #894
I see your point about the anti-pattern, but I think it depends on your usage.

For secrets/configmaps, the values are generally associated with a single application/service, so it makes sense to have them namespace scoped for both security and organization (don't need to worry about cross namespace permissions).

The scenario that I'm looking at is where we have a ton of triggered functions acros

[2020-08-25 22:16] ahmelsayed opened #1044 "Renaming metadata propertied to indicate source of the value"
Today in the `metadata` section of each scaler, there are some properties that are intended to be resolved from the scaleTarget of the `ScaledObject`. These are mostly meant to refer to the secrets needed (if any) for each scaler to access the event source.

For example `aws-sqs-queue` looks something like this

[code]

This means that the scaleTarget (e.g: Deployment) will have a container that h

[2020-08-26 05:21] tomkerkhove commented on #1044
This relates to https://github.com/kedacore/keda/issues/753#issuecomment-656224125, right?

[2020-08-26 05:29] tomkerkhove commented on #1044
This looks ok to me but only wonder why we are removing the port for Redis because we still have address and host. A host without a port seems a bit meaningless, but maybe I'm missing something?

Another thing I'm wondering is, now that we have the prefixes that's great! But will we keep the old values around for literal config values? If it's up to me I'd say yes, definitely for things such as ho

[2020-08-26 08:30] zroubalik commented on #1044
+1

[2020-08-26 08:42] tomkerkhove commented on #894
Hm I can see value in that indeed, certainly if you only want to have the auth defined somewhere.

However, I think it should be an opt-in if we start supporting it.

[2020-08-26 11:29] ansonauhk opened #1047 "Rabbit scaler with in house signed cert"
Would you advice how to fix this ? I am happy to skip cert validation or install CA cert to keda , but don't know how.

## Expected Behavior
Rabbit scaler should connect to rabbit ampqs port

## Actual Behavior
It's not , throwing error about unknown authority

## Steps to Reproduce the Problem

  1. Enable RabbitMQ amqp SSL with self-sign cert
  2. rabbitmq scaler host set to ampqs://host_with_se

[2020-08-26 14:55] lonnix commented on #929
I am fine with going down this approach but, but it makes the assumption that the api doesn't already have some of these endpoints. Originally I had thought of this idea solving the problem of api A needs to trigger the scaling of api B, so api A could publish something for a ScaledObject to watch and then scale api B when needed. With the proposed api spec we would have to hope that api A did not

[2020-08-26 15:49] ansonauhk commented on #1047
Fixed by overwrite Linux ca certs with k8s configmaps

[2020-08-26 15:49] #1047 closed

[2020-08-26 20:27] christle opened #1049 "Azure monitor scaler should use new azure-sdk-go version because of an bugfix inside the MetricValue struct"
We want to use the azure monitor scaler for scaling our http-trigger azure functions with keda. but the scaler gets the following error for the aggregationtype "Count"

[code]

The current version from the azure monitor scaler use this package reference:
https://github.com/kedacore/keda/blob/57ffd4ee384db38f1169453cb16b31f00eacffa5/pkg/scalers/azure/azure_monitor.go#L11

The problem above is fixed

[2020-08-27 05:30] tomkerkhove commented on #1049
Thanks for the tip, are you willing to contribute this to our v2 branch?

[2020-08-27 05:43] tomkerkhove commented on #929
We've agreed on the PR that the path can be different but that the details of the operation in the OpenAPI spec have to comply.

So you can use `scaling/v1/metric/{name}` if you want! But it has to provide the correct payload and status codes. @turbaszek is already working on this. (thanks!)

[2020-08-27 09:23] christle commented on #1049
sure, i will do it the next couple of days

[2020-08-27 09:32] zroubalik commented on #1049
@christle awesome, as Tom mentioned, please contribute this to v2 branch: https://github.com/kedacore/keda/tree/v2

[2020-08-27 14:53] lonnix commented on #929
Dealing with OpenAPI specs is something fairly new to me, so forgive any misconceptions I may have here, but it seems like the spec is being enforced but doesn't really need to be.

The api spec has 3 endpoints
1. `/api/v1/health`
2. `/api/v1/metrics`
3. `/api/v1/metric/{name}`

I have seen companies use `/health`, `/healthcheck` and `/heartbeat` for health checks of their app, so asking someone t

[2020-08-27 16:10] ansonauhk commented on #1043
I have a fix working and going to push

[2020-08-27 16:30] turbaszek commented on #929
In https://github.com/kedacore/keda/issues/929#issuecomment-679260040 I supported the current approach but the longer I think about it the more doubts I have about the open api spec. It's a nice pattern but it enforces users to structure their API in a specific way. The main advantage of this approach is simplicity of the scaler.

However, seeing how many doubts it rises I would like to suggest to

[2020-08-27 18:16] lonnix commented on #929
This approach satisfies it initial request (made by me) and is super flexible. The nested json means some apis won't even have to create new endpoints, they can immediately start using any data that they're already publishing via a json endoint. It will have to be clear what that data needs to represent and I think what we've agreed upon already is a great solution.

[2020-08-27 20:30] ahmelsayed commented on #1044
regarding port, it just felt odd that we were resolving the port as a secret as it's just a port number so I removed it. I'm fine if we have one that can be resolved from the environment as well, but it just seemed unnecessary

[2020-08-28 05:34] ansonauhk commented on #967
Please review, I submitted a fix
code - https://github.com/kedacore/keda/pull/1051
doc - https://github.com/kedacore/keda-docs/pull/240

[2020-08-28 05:47] tomkerkhove commented on #1044
I fully agree with that! Certainly since we now use the `FromEnv` suffix.

Now that we are changing that, will we support all of those through TriggerAuthentication as well? I think these would be super convenient but up to you folks.

[2020-08-28 07:06] tomkerkhove commented on #929
Yes, that's something we've agreed upon during the implementation.

The spec here was just a proposal but we will:
1. Remove health endpoint
1. Remove get metrics endpoint
1. Only have the OpenAPI spec to define what the API endpoint should return and what status codes we expect, but the URL path itself will be documented as a suggestion and not a must given it's going to be part of the ScaledObje

[2020-08-28 07:27] turbaszek commented on #929
I think using jsonpath to "tell us where in the response is the **number** we should use as input" is still a lower barrier than enforcing object structure.

[2020-08-28 07:32] tomkerkhove commented on #929
These decrease adoption in my opinion as they have a certain barrier for new people but wondering what @zroubalik @ahmelsayed think.

I think it's fair to have a response structure to comply with but might be just me.

[2020-08-28 09:10] turbaszek commented on #929
I think it's exactly opposite because users are not bound to KEDA defined response structure. If someone wants to follow Open API spec then they simply specify `url=http://app/api/v1/metric/myMetric` and `valueLocation=$.value`. If other have more complicated responses then using jsonPath will help them.

With good documentation, everyone should be happy :)

[2020-08-28 09:55] turbaszek opened #1054 "Make api/v1alpha1 revive compatible"
KEDA uses [golint](https://github.com/golang/lint) to ensure code quality. However, some files still need adjusting:

- [ ] api/v1alpha1/condition_types.go
- [ ] api/v1alpha1/groupversion_info.go
- [ ] api/v1alpha1/gvkr_types.go
- [ ] api/v1alpha1/scaledjob_types.go
- [ ] api/v1alpha1/scaledobject_types.go
- [ ] api/v1alpha1/triggerauthentication_types.go

### How

1. Create a new branch from `v2`

[2020-08-28 09:56] turbaszek opened #1055 "Make controllers/ golint compatible"
KEDA uses [golint](https://github.com/golang/lint) to ensure code quality. However, some files still need adjusting:

- [ ] controllers/scaledjob_controller.go
- [ ] controllers/scaledobject_controller.go
- [ ] controllers/util/status.go
- [ ] controllers/util/string_lists.go

### How

1. Create a new branch from `v2`branch
2. Remove the files from list in [.pre-commit-config.yaml](https://github.

[2020-08-28 09:57] turbaszek opened #1056 "Make pkg/scalers golint compatible"
KEDA uses [golint](https://github.com/golang/lint) to ensure code quality. However, some files still need adjusting:

- [ ] pkg/scalers/artemis_scaler.go
- [ ] pkg/scalers/azure/azure_aad_podidentity.go
- [ ] pkg/scalers/azure/azure_eventhub.go
- [ ] pkg/scalers/azure/azure_monitor.go
- [ ] pkg/scalers/azure/azure_queue.go
- [ ] pkg/scalers/azure/azure_storage.go
- [ ] pkg/scalers/azure_eventhub_s

[2020-08-28 09:58] turbaszek opened #1057 "Make pkg/scaling revive compatible"
KEDA uses [golint](https://github.com/golang/lint) to ensure code quality. However, some files still need adjusting:

- [ ] pkg/scaling/executor/scale_executor.go
- [ ] pkg/scaling/resolver/hashicorpvault_handler.go
- [ ] pkg/scaling/resolver/scale_resolvers.go
- [ ] pkg/scaling/resolver/scale_resolvers_test.go

### How

1. Create a new branch from `v2`branch
2. Remove the files from list in [Make

[2020-08-28 09:59] turbaszek opened #1058 "Make pkg/util golint compatible"
KEDA uses [golint](https://github.com/golang/lint) to ensure code quality. However, some files still need adjusting:

- [ ] pkg/util/gvkr.go
- [ ] pkg/util/k8sversion.go
- [ ] pkg/util/normalize_string.go
- [ ] hack/tools.go
- [ ] version/version.go

### How

1. Create a new branch from `v2`branch
2. Remove the files from list in [.pre-commit-config.yaml](https://github.com/kedacore/keda/blob/v2/.

[2020-08-28 10:16] Diddaa commented on #933
any methods to solve this problem?

[2020-08-28 10:24] zroubalik commented on #933
We have changed the build process for v2, so we don't this problem anything.

We can close this one now.

[2020-08-28 10:24] #933 closed

[2020-08-28 15:49] lonnix commented on #929
I think this is key. I don't see a problem for both keda-familiar and keda-unfamiliar users adopting this as long as we have clear documentation on what needs to be returned and how it works.

[2020-08-29 00:30] ben11211 commented on #837
Can confirm this works with IRSA with the following
- keda-operator service account annotated with an EKS role with appropriate `sqs:GetQueueAttributes` permissions.
- `identityOwner: operator` configured for the trigger
- Appropriate securityContext per https://github.com/kedacore/keda/issues/837#issuecomment-679484763.

[2020-08-30 07:48] spoplavskiy opened #1061 "Azure Log Analytics scaler"
In standard AKS setup, Log Analytics takes central part in storing OMS agent metrics, logs from pods, during building a monitoring dashboards and generate alerts. Also, OMS agent could be configured to scrap Prometheus metrics, so they also can be landed in Log Analytics workspace. Advantage of using Container Insights (OMS agents) is that "It just works", you don't need to support it, and in many

[2020-08-30 08:42] hila3000 opened #1062 "Scaling from 0->N doesn't get initiated on time/at all"
We have a scaledobject based on GCP PubSub. The PubSub subscription has reached the number of messages to have the deployment scaled up, but it doesn't happen on time.
Also, yesterday it didn't happen at all on the same scaledobject, until we restarted the keda operator- It reached 27000 messages (Scaledobject is defined to get triggered on value of 50).

## Expected Behavior
Once Pubsub subscript

[2020-08-30 17:15] hila3000 opened #1063 "Error Update Deployment By Keda"
Hi,

We've updated a deployment manually on a k8s cluster (Replaced the image name).
Then, the scaledobject that is supposed to scale down/up this deployment got stuck, not scaling up the pods even though the messages count on the relevant pubsub subscription only got increased.

From keda-operator pod log-
`{"level":"error","ts":1598805983.2624571,"logger":"scalehandler","msg":"Error updating dep

[2020-08-30 20:03] mchmarny commented on #906
I can reliably reproduce this issue using [this demo](https://github.com/mchmarny/dapr-demos/tree/master/autoscaling-on-queue). Example log showing significant queue lag:

[code]

And the HPA error:

[code]

[2020-08-30 20:13] tomkerkhove commented on #906
Can we look into this for v2 @zroubalik @ahmelsayed?

[2020-08-31 01:05] spacem opened #1064 "Allow zero target queueLength for rabbitmq"
### Use-Case
Not sure if this is a bug or feature request.. or maybe I am doing it wrong?

* We have a user queue up a long running job then we see scale up from zero ie. a pod is created for that job - great!
* Now a 2nd user queues up a job.. we would like a 2nd pod be created for this new job

I am using rabbitmq with AKS and kubernetes 1.17.7.

### Specification

In my mind to achieve this we

[2020-08-31 09:08] zroubalik commented on #1063
Hi, thanks for raising the issue.

I thing, that this should be solved in the upcoming v2. Beta should be out in a few day, so could you please give a try then?

[2020-08-31 09:10] zroubalik commented on #1062
I curious to see what DEBUG logs would tell us, https://github.com/kedacore/keda/tree/master#setting-log-levels

[2020-08-31 09:36] zroubalik commented on #837
@ben11211 thanks! Would you mind contributing this info to the Troubleshooting guide? Thanks!

https://keda.sh/docs/2.0/troubleshooting/

[2020-08-31 09:45] zroubalik commented on #906
For me it looks more like a problem in internal go client/libs and not in KEDA. I don't have an access to cluster with Virtual Kubelet, so I can't reproduce :(
But it might be solved in v2, since we have significantly updated client-go version.

[2020-08-31 12:25] ppatierno commented on #1043
@zroubalik from what I see here

https://github.com/kedacore/keda/blob/bf25619a6d920df27a7f56607f87667d7b23aa1b/pkg/scalers/kafka_scaler.go#L201

it's supported by mixing SSL with other SASL mechanisms for authentication like PLAINTEXT and SCRAM-SHA with both username and password. It's also possible to use SSL client authentication using the certificates.
Said that ... I really think that both co

[2020-08-31 13:37] balchua commented on #1062
Do you think there is a need to close the client? I don't see it being closed.

[2020-08-31 13:38] zroubalik commented on #1043
+1 that code is a mess

OK, but while looking at the code, the only authmode where you can specify certificates is in this if block `metadata.authMode == kafkaAuthModeForSaslSSL`, but for this authmode, you can't specify username and password.
https://github.com/kedacore/keda/blob/bf25619a6d920df27a7f56607f87667d7b23aa1b/pkg/scalers/kafka_scaler.go#L224

[2020-08-31 15:29] mchmarny commented on #906
Just to clarify, I'm able to reproduce this on a vanilla AKS cluster (v1.16.13 right now although I have been able to reproduce this on v1.17 as well). I've put together a script to reproduce this issue [here](https://github.com/mchmarny/dapr-demos/blob/keda-hpa-issue/autoscaling-on-queue/KEDA.md)

[2020-08-31 17:25] yaron2 commented on #906
@zroubalik @tomkerkhove this seems to reproduce on non vkubelet clusters as @mchmarny mentioned. I think this needs a 1.x minor release with the updated go client.

[2020-08-31 17:44] tomkerkhove commented on #906
In that case we should be good to go with v2 as @zroubalik mentioned!

Stay tuned, beta coming soon. Would you mind testing this out then?

[2020-08-31 18:12] mchmarny commented on #906
I'm testing v2 right now. Should have an answer in 30-60 min.

[2020-08-31 18:56] zroubalik commented on #1044
@ahmelsayed do you have an estimate on implementing this change, please? So we can coordinate the follow up steps re Beta release. Thanks!

[2020-08-31 19:49] mchmarny commented on #906
After the `ScaledObject` updates for v2 compatibility the error is no longer logged and HPA is successfully updated. Tested for 0-1, 1-n, n-1, 1-0 scenarios.

[code]

BTW, can you add topic lag back in on ScaledObject reconciling? That log entry was super helpful in debugging in v1.5.

WRT signaling this to users, given this impacts everyone using Helm to deploy onto default k8s version in most CS

[2020-08-31 22:12] turbaszek commented on #929
@ahmelsayed @zroubalik what is your opinion? Should we stick to open api or allow more flexibility as discussed above?

[2020-09-01 06:00] tomkerkhove commented on #929
Use json path then. We can still make it optional if we want to go the OpenAPI route.

[2020-09-01 06:44] #1055 closed

[2020-09-01 07:54] zroubalik opened #1066 "Redis List scaler/e2e tests are broken"
Redis list e2e tests are failing on v2 branch in the code brought by this PR: https://github.com/kedacore/keda/pull/1013

KEDA Operator logs:
[code]

In the e2e tests Redis returns `none` [type](https://redis.io/commands/type).

https://github.com/kedacore/keda/blob/f5064f69ebba673b5757afb5ca9bacf9368dba4b/pkg/scalers/redis_scaler.go#L216-L227

Should we default to `list` type in case the returned

[2020-09-01 07:55] zroubalik commented on #1066
@ilyamor ^

[2020-09-01 09:01] turbaszek commented on #929
@tomkerkhove thanks! I will do this in the next few days

[2020-09-01 09:07] #1058 closed

[2020-09-01 13:11] zroubalik commented on #906
@mchmarny thanks for the confirmation! I am glad it is fixed.

The log is still there, have you tried to enable debug log level? (FYI this was changed as well in v2: https://github.com/kedacore/keda#setting-log-levels

Updating go client libraries in v1 would be non trivial, we encourage users to migrate to v2 as soon as it is out. And as for the supported k8s version, users should be able to KEDA

[2020-09-01 16:26] hila3000 commented on #1063
Will do. Will check in, in a few days, to see if Beta got released.
Any estimation for a GA release date?

[2020-09-01 22:59] cachila opened #1067 "aws_cloudwatch_scaler - http invalid header field value"
Hello, after deploying the autoscaler based on aws-cloudwatch sqs number of messages, the TARGET column on `kubectl get hpa` shows `<unknown>/3` and no deployment scales.

On the keda-operator log this error is shown so I guess it's something related to that:
`{"level":"error","ts":1598467409.1905313,"logger":"aws_cloudwatch_scaler","msg":"Failed to get output","error":"RequestError: send request

[2020-09-01 23:22] balchua commented on #1066
@zroubalik looking at v1, keda only supported `list` type.  I suppose that should be the default if its empty.
My 2 cents.

[2020-09-02 06:06] rahulrai-in commented on #1057
Can I take this issue to get familiar with the code? Thanks.

[2020-09-02 08:34] zroubalik commented on #1057
@rahulrai-in great, go ahead!

[2020-09-02 09:51] rahulrai-in commented on #1057
/assign

[2020-09-02 10:27] jainshikha opened #1069 "deploy folder it self is removed from v2 branch"
A clear and concise description of what the bug is.

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - **KEDA Version:** *Please elaborate*
  - **Platform & Version:** *Please elaborate*
  - **Kubernetes Version:** *Please elaborate*
  - **Scaler(s):** *Please elaborate*

[2020-09-02 12:08] zroubalik commented on #857
Related: #1043

[2020-09-02 12:56] rahulrai-in commented on #1057
/assign

[2020-09-02 12:57] rahulrai-in commented on #1057
@zroubalik Thanks. Can you assign it to me?

[2020-09-02 14:06] zroubalik commented on #995
https://github.blog/2020-09-01-introducing-github-container-registry/

[2020-09-02 14:49] turbaszek commented on #995
Exactly my thought

[2020-09-02 15:22] hila3000 commented on #1062
@balchua Did you ask me that? not sure if closing the client is something that can be done on configuration, let me know.
@zroubalik I've enabled debug now, waiting for a new occurrence in the logs of the errors to see if it prints more information about that.

[2020-09-02 15:45] tomkerkhove commented on #995
We can move but turns out we won't be impacted by Docker Hub changes as the pull limitations are on the puller side.

However, we can move everything here if we want to. If we do so, we should have a transition period to push to both places for now.

The real question is, other than the new DH policy, what would be the benefit of migrating?

[2020-09-02 16:02] turbaszek commented on #995
I would say that the only benefit is that "everything is in one place" and maybe pushing images on CI may work faster... but I do not think that this is worth a migration.

[2020-09-02 16:19] ahmelsayed commented on #1044
I'm finishing it up today. Sorry for the delay

[2020-09-02 16:28] turbaszek commented on #1044
Should we update related scalers' examples?

[2020-09-02 16:44] tomkerkhove commented on #995
For CI I fully agree, official ones I'm not sure yet since DH is still a bit the place to be.

But if they give better analysis than DH I'm all in. I'll ask around.

[2020-09-02 16:45] tomkerkhove commented on #1044
No worries and thanks for the update @ahmelsayed !

@turbaszek yes, they will all be updated.

[2020-09-02 17:23] turbaszek commented on #929
It seems that there's no "popular" library to support jsonpath in Golang. However, there's a https://github.com/tidwall/gjson which proposes similar [path syntax](https://github.com/tidwall/gjson#path-syntax) which in our case maybe even better because it allows also to get a length of a list.

[2020-09-02 19:20] zroubalik commented on #1044
@ahmelsayed no worries and no rush, just checking the status.Thanks for the update

[2020-09-02 19:52] turbaszek opened #1070 "Decouple go fmt and vet from building docker image"
### Use-Case

Currently when users build the image we run `go fmt` and `go vet` as a step:
[code]

It takes some time and seems not necessary for the successful build of the image.

Additionally, on `v2` we have code quality checks on CI.  What I would suggest is:
1. Keep `gofmt` and `govet` in Makefile so people can use them
1. Don't run them when building anything
1. Add `go vet` to pre-commits

[2020-09-02 22:02] balchua commented on #1062
Sorry its more for @zroubalik  😊

[2020-09-03 08:40] zroubalik commented on #995
I haven't followed the changes on Docker Hub deeply, so pardon my ignorance, but could you please elaborate on this?

[2020-09-03 09:00] hila3000 commented on #1062
@zroubalik What say you on @balchua comment?
We are in production with Keda, and this issues happen often, only "fix" is to restart Keda-operator pod.. to a point we thought to set low memory limits to have the pod restarted on its own... Please advise.

As for debug, I found an issue in dev of a message that got ingested only after 47 minutes.
on 7:00 GMT the message got into the sub, lf-scaledob

[2020-09-03 09:02] tomkerkhove commented on #995
There are two major changes:
- Image pull retention
- Image pull throttling

If an image tag is not pulled for x days on free account, it will be removed. I'd have to check what the exact amount is but I think it's 60 or 90 days but you can easily automate it to keep them alive.

Pull throttling will avoid people from pulling too fast. Initially the thought was that it would be based on total pull

[2020-09-03 09:07] zroubalik commented on #995
Thanks for the explanation!

That was my (false) understaning, got it now.

[2020-09-03 09:09] zroubalik commented on #995
So agree, that we don't have to change the things that we have. We can migrate later if it is worth or needed.

[2020-09-03 09:23] balchua commented on #1062
@hila3000 if you have the chance to build the master branch of keda, you can have a look at the  stackdriver client code here (https://github.com/kedacore/keda/blob/master/pkg/scalers/stackdriver_client.go).

In the method `GetMetrics` perhaps add a `defer s.metricsClient.Close()`.  This is more a hunch as i don't know much about gcp pub sub.

Instructions to build keda is in the Readme.  This may

[2020-09-03 09:24] zroubalik commented on #1062
I can see, that there are timeouts when communicating with the gcp pub sub:
[code]

This is the reason for non scaling.

@hila3000 btw, you can use ``` for multiline code blocks, its better for the bigger chunks of code or logs (you can specify syntax highlighting as well: https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

And @balchua is probably right, I a

[2020-09-03 09:29] zroubalik commented on #1062
@balchua haha, commented in the same time.

I think the close should be called for sure, as per the client doc:
https://github.com/googleapis/google-cloud-go/blob/4de835178d583bdbbe5c8ec10befda4f59373d32/monitoring/apiv3/metric_client.go#L196-L200

[2020-09-03 09:35] zroubalik commented on #1062
I'd add the close call in here: https://github.com/kedacore/keda/blob/v2/pkg/scalers/gcp_pub_sub_scaler.go#L94

[2020-09-03 09:37] hila3000 commented on #1062
This should eliminate the timeouts?
`rpc error: code = Unauthenticated desc = transport: oauth2: cannot fetch token: Post \"https://oauth2.googleapis.com/token\": dial tcp: i/o timeout`

[2020-09-03 10:33] BretFisher commented on #995
Quick numbers on changes starting November 1st:

**Retention Limits￼**: If an image repository on a free account hasn't had a single pull of any tag in 6 months, the repository is deleted.

**Pull Limits**: Tracked by IP, Hub will limit pulls to 100 in the last 6 hours. 200 if the pull is authenticated.

If either of these are using a paid account (starts at $5/mo), limits are removed (unlimited r

[2020-09-03 10:39] tomkerkhove commented on #1061
I like the idea! Are you willing to contribute this?

[2020-09-03 10:41] balchua commented on #1062
@zroubalik yeah the `Close()` method. Totally forgot it.  We need to have the stackdriver client part of the scaler.  Right now its not stored.

@hila3000 if you have the chance to build keda master, you may want to try closing the client just to test it out.

[2020-09-03 12:31] hila3000 commented on #1062
@balchua I tried - added the close in the file, ran docker build, but when I set the new image for the keda-operator deployment, it says-
`Error: failed to start container "keda-operator": Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "exec: \"keda\": executable file not found in $PATH": unknown`

Any idea why?

[2020-09-03 12:54] balchua commented on #1062
@hila3000 did you do a `make build`?

[2020-09-03 15:38] hila3000 commented on #1062
I did now... anything else before I hit the "docker build" command?

[2020-09-03 16:10] zroubalik commented on #1062
@hila3000 if you are building it against `master` branch, all you need to do is run `make publish` to build the images locally and push them to Docker hub. Or you can run `make build` and run `docker push` manually.

[2020-09-03 16:23] hila3000 commented on #1062
So let's recap.
I did git clone to this repo, checkout to master
did the change in pkg/scalers/stackdriver_client.go (added the defer s.metricsClient.Close() on row 48), and then tried to run "make publish" but it fails-

hfish:keda (master)$ make publish
WARNING: GOROOT is not defined
GO111MODULE=on CGO_ENABLED=0 GOOS=linux GOARCH=amd64 operator-sdk generate k8s
/bin/sh: operator-sdk: command not

[2020-09-03 16:25] hila3000 commented on #1062
also make build doesn't work-

hfish:keda (master)$ make build
WARNING: GOROOT is not defined
GO111MODULE=on CGO_ENABLED=0 GOOS=linux GOARCH=amd64 operator-sdk generate k8s
/bin/sh: operator-sdk: command not found
make: *** [generate-api] Error 127

it did work when I ran it on v2 branch.

[2020-09-03 16:39] jeffhollan commented on #994
Adding a note here for any coming at it from a good first issue.  I expect what would be required here is:
- follow the same pattern that service bus does (should be a similar Go SDK I imagine) and have the EventHub scaler support an option where podIdentity is passed in https://github.com/kedacore/keda/blob/v2/pkg/scalers/azure_servicebus_scaler.go

[2020-09-03 16:46] zroubalik commented on #1062
OK, I can see.

You will need to install operator-sdk v0.11.0
https://github.com/operator-framework/operator-sdk/releases/tag/v0.11.0

If you have troubles with the instalation etc, if I spare some time I can give it a shot a produce an image with the change for you.

[2020-09-03 18:27] hila3000 commented on #1062
@zroubalik  The files in https://github.com/operator-framework/operator-sdk/releases/tag/v0.11.0 are without files extensions.. so not sure how should it be installed. For example, I've downloaded "operator-sdk-v0.11.0-x86_64-apple-darwin" cause this looks suitable for mac, but it's not a dmg so I can't really install it.

If you can create an image for me with the relevant fix it'll be GREAT and

[2020-09-03 19:20] #1066 closed

[2020-09-03 22:24] balchua commented on #1062
Oh `darwin` is for MacOS.
For linux try this:
[code]
I copied it from the operator-sdk installation guide [guide](https://sdk.operatorframework.io/docs/installation/install-operator-sdk/#install-from-github-release)

[2020-09-04 06:25] tomkerkhove opened #1080 "Update KEDA logo in CNCF artwork"
Once #650 is completed, we should update KEDA logo in [CNCF artwork](https://github.com/cncf/artwork/blob/master/examples/sandbox.md#keda-logos).

I'll pick this one up.

[2020-09-04 06:45] tomkerkhove commented on #929
We haven't covered the auth side of this scaler in the implementation. We can park it to later but maybe good to open some issues then. Thoughts?

[2020-09-04 06:51] tomkerkhove commented on #1044
Re-opening as docs are not done yet

[2020-09-04 06:51] tomkerkhove commented on #929
Re-opening as docs are not done yet

[2020-09-04 06:52] turbaszek opened #1081 "Support JWT authentication for Metrics API scaler"
### Use-Case

Support JWT authentication for Metrics API scaler.

### Reference
https://github.com/kedacore/keda/issues/929

[2020-09-04 06:56] tomkerkhove commented on #1044
@ahmelsayed Might be good to update https://github.com/kedacore/keda-docs/blob/master/content/docs/2.0/migration.md as well, either through https://github.com/kedacore/keda-docs/pull/241 or a separate one.

[2020-09-04 06:57] tomkerkhove opened #1082 "Support basic authentication for Metrics API scaler"
### Use-Case

Support basic authentication for Metrics API scaler

### Reference
https://github.com/kedacore/keda/issues/929

[2020-09-04 06:59] tomkerkhove opened #1083 "Support API Key authentication for Metrics API scaler"
### Use-Case

Support API Key authentication for Metrics API scaler

### Specification

- [x] Support for API key in HTTP URL
- [ ] Support for API key in HTTP request header

### Reference
https://github.com/kedacore/keda/issues/929

[2020-09-04 07:01] tomkerkhove opened #1084 "Support client certificate authentication for Metrics API scaler"
### Use-Case

Support client certificate authentication for Metrics API scaler

### Reference
https://github.com/kedacore/keda/issues/929

[2020-09-04 07:01] tomkerkhove commented on #929
Here we go, added some basic auth scenarios. THanks for the JWT one @turbaszek!

[2020-09-04 07:11] spoplavskiy commented on #1061
Yep, the first version to try is here: https://github.com/kedacore/keda/pull/1085

[2020-09-04 07:22] engyishere commented on #1067
Same issue here.

Installed everything yesterday with helm.

`{"level":"error","ts":1599157802.9904482,"logger":"aws_cloudwatch_scaler","msg":"Failed to get output","error":"RequestError: send request failed\ncaused by: Post \"https://monitoring.us-east-1.amazonaws.com/\": net/http: invalid header field value \"AWS4-HMAC-SHA256 Credential=\\xxx\\xxx\\xxxx]\\xxx\\xxx\\xxxxx\\xxxxx/xxxxx/xxxxx/monit

[2020-09-04 08:46] zroubalik commented on #1062
@hila3000 you can try these images:
KEDA Operator: `docker.io/zroubalik/keda:gcpclose `
KEDA Metrics Adapter: `docker.io/zroubalik/keda-metrics-adapter:gcpclose`

it is custom v1 build, which is more likely won't be released. I plan to include this change into the upcoming v2.
I am not sure if it is gonna actually help with your issue, I'd recommend to switch to v2 anyway, as there were some perfo

[2020-09-04 12:04] cachila commented on #1067
@engyishere I had to deploy ScaledObject with
[code]
These **AWS_ACCESS_KEY_ID** and **AWS_SECRET_ACCESS_KEY** are the env variable names on the scaleTargetRef.deploymentName deployment. For example:
[code]

Hope this helps

[2020-09-04 20:30] hila3000 commented on #1062
@balchua Thanks for the explanation. I do need for mac though, so it's the same concept and commands you wrote, just with the darwin files?
@zroubalik Thanks! I'll deploy these versions in dev for now and see if it solves our issues. Will deploy regardless v2 beta on dev as well next week when it'll get released, and update on the results. Any estimation when v2 GA version will get released? (For

[2020-09-05 14:37] engyishere commented on #1067
@cachila  Thanks for taking time to get back to me. Are you using v2  for deployment of keda or 1.5.0.

This is the changes i have made and i am currently using v2  to test the new release if that resolves the issue. if possible send the files please.

`apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: aws-cloudwatch-queue-scaledobject
  namespace: default
  labels:
    app: engy-w

[2020-09-05 15:28] engyishere commented on #1067
forgot to mention that AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY  are defined as env variables in deployment .

[2020-09-05 16:38] tomkerkhove opened #1090 "Provide branding guidelines"
Provide branding guidelines .

[2020-09-05 17:33] caniszczyk commented on #1090
The default guidelines are here for all CNCF/LF projects:
https://www.linuxfoundation.org/trademark-usage/

And should be linked at the footer of the KEDA website. If you want to
create something bit fancier, let us know.

On Sat, Sep 5, 2020 at 11:38 AM Tom Kerkhove <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-09-05 17:36] tomkerkhove commented on #1090
Thanks for sharing! I'll link to that and share what logos they should use (and point to CNCF overview).

[2020-09-05 19:14] hila3000 commented on #1062
@zroubalik The version seems to be ok. Will give it more time to verify it, also seem to stabilize the memory usage, which is great.
Question though... What does that error mean-

`{"level":"error","ts":"2020-09-05T19:13:01.738Z","logger":"gcp_pub_sub_scaler","msg":"error getting Active Status","error":"Could not find stackdriver metric with filter metric.type=\"pubsub.googleapis.com/subscription/

[2020-09-05 22:30] balchua commented on #1062
@hila3000 great news!

Regarding that error, it seems to be benign.

The error simply suggests that the stackdriver monitoring client did not return any timeseries data within that **period** and for that particular metric.

[2020-09-05 23:51] cachila commented on #1067
This is the ScaledObject file. Is this what you want me to share?

[code]

[2020-09-06 09:14] hila3000 commented on #1062
@balchua @zroubalik I think it's safe to say that the fix worked. Thanks a lot!
We face a different issue now- Now that it works, we've set the pollinginterval back to 5 seconds, and it introduced a quota issue-

from keda-operator pod-
`{"level":"error","ts":"2020-09-06T07:57:58.138Z","logger":"gcp_pub_sub_scaler","msg":"error getting Active Status","error":"rpc error: code = ResourceExhausted de

[2020-09-06 12:03] turbaszek commented on #853
Hi @krvarma @vishal-biyani @liangyuanpeng any update on this issue? I would love to see Pulsar scaler :)

[2020-09-06 12:12] turbaszek opened #1092 "Consider renaming "master" to "main""
source: https://github.com/github/renaming

I would like to propose considering similar change in KEDA project. The current moment seems to be a good one as there is no PR opened to `mater` (this is a big problem in other OSS projects).

Happy to hear the opinion of maintainers @zroubalik @tomkerkhove @ahmelsayed @jeffhollan

[2020-09-06 12:13] jeffhollan commented on #1092
Supportive of this and also had same thought the other day when opening PRs

[2020-09-06 12:49] turbaszek commented on #197
That's a really interesting idea. A few months ago I was doing research about best practices/patterns for autoscaling application and I stumbled on a research paper covering doing autoscaling using a predictive model.

@jeffhollan what historic data you had in mind? Also, should it be something maintained by KEDA itself or should this be a pluggable solution so anyone can use a custom model / algo

[2020-09-06 12:52] turbaszek commented on #929
Closing as docs are merged and issues for auth are created 🚀

[2020-09-06 12:52] #929 closed

[2020-09-06 12:54] turbaszek commented on #883
Hi @mboutet any update on this issue?

[2020-09-06 12:57] turbaszek commented on #724
@tomkerkhove any update? I'm also considering volunteering to be a maintainer so just checking 😄

[2020-09-06 13:07] turbaszek commented on #711
Do I correctly understand that providing `host` means that the scaler will use AMQP protocol and providing `apiHost` means using HTTP? If that's true should we consolidate those two params into a single `host` argument and add `protocol` param?

[2020-09-06 13:21] turbaszek commented on #667
Should we be able to check out:
- `Unique version numbering` points 1 and 3. As the 2.0 is on the horizon should KEDA project agreed to use a versioning approach?
- `Bug-reporting process` points 2 and 5
- `Automated test suite` point 1
- `Static code analysis` points 1, 4 and 2 (this one is vague for me)

[2020-09-06 13:22] mboutet commented on #883
@turbaszek, I haven't done any work on this yet. I was thinking of waiting for the v2 codebase to be officially released to start working on this. Of course, don't hesitate to start the implementation on this if you want.

[2020-09-06 14:24] krvarma commented on #853
@turbaszek Since its been long time with no reply from @liangyuanpeng I think it is OK to proceed. I am working on the it and hopefully finish it by couple of weeks. I will keep posing updates.

@tomkerkhove @vishal-biyani

[2020-09-06 14:56] tomkerkhove commented on #853
Awesome, thanks!

[2020-09-06 14:58] tomkerkhove commented on #1092
Fine by me, as long as all repos are aligned.

[2020-09-06 15:10] tomkerkhove commented on #724
I'll post an update this week!

[2020-09-06 15:10] tomkerkhove commented on #724
Feel free to open a dedicated issue for you if you are interested @turbaszek to follow the process.

[2020-09-06 15:25] turbaszek opened #1093 "Consideration for Maintainership for Tomek Urbaszek"
Hello everyone!

As described in [GOVERNANCE.md](https://github.com/kedacore/keda/blob/v2/GOVERNANCE.md) I am raising this issue to let you know that I'm happy to volunteer as a maintainer of KEDA. I'd love to share some of my open-source experience with this community and learn even much more from you.

[2020-09-06 18:13] mavenishere commented on #1067
Not working for me. Here's what i am doing.

- helm to install keda.
- Created a secret to store AWS Creds.
- Created a deployment with env

[code]

- Created ScaledObject , no trigger authentication. scaledobject file as you have provided.
[code]

HPA creates the minimum required pod but there is not scaling whatsoever. In keda operator logs, no mention of  polling Cloudwatch metrics.

Is there s

[2020-09-07 02:42] mavenishere commented on #1067
Update: Trigger for AWS SQS working just fine but for Cloudwatch still an issue.

If possible, please attach all files for me to compare. maybe i am still missing something.

[2020-09-07 06:12] tomkerkhove commented on #667
Looks like it's no longer assigned to me. Thanks for the reminder @turbaszek!

Adding @zroubalik who might want to help here.

It's vague for me as well but think it enforces a set of tools for which we might want to consider leaving it as-is. Do keep in mind we are setting up Snyk as well which does the security side of things.

Maybe @caniszczyk can provide some input here.

In terms of versioni

[2020-09-07 06:18] tomkerkhove opened #1094 "Renaming kedacore/keda to kedacore/keda-operator"
We currently build our operator image to `kedacore/keda` and use `kedacore/keda-metrics-adapter` for our metrics adapter:
https://github.com/kedacore/keda/blob/v2/Makefile#L8

With 2.0 coming up, it might be the right timing to rename `kedacore/keda` with a more reasonable name such as `kedacore/keda-operator` or so. Thoughts?

[2020-09-07 06:34] tomkerkhove commented on #711
Yes, that's the goal indeed so that it provides a more consistent experience. Are you willing to contribute this?

[2020-09-07 07:03] zroubalik opened #1096 "Check that clients for all scalers are correctly closed"
Check all scalers and inspect the parts of the code where there is the client connecting to the target event source. It is usually in `GetMetrics()`. Check that the client opened to get the metrics and data is then properly closed, either in the same part of the code where it has been opened or in the`Close()` (this is preferred) call.

For reference check this PR for GCP PubSub that is closing a

[2020-09-07 07:22] zroubalik opened #1097 "Revisit Liiklus Scaler and regenerate protobuf/grpc code"
1. Check that https://github.com/kedacore/keda/blob/02f6da7e1f4f2f87eefdde2de54e5a4fb27d9681/hack/LiiklusService.proto is up to date

2. Revisit Liiklus Scaler and protobuf/grpc code that is been used. Existing [LiiklusService.pb.go](https://github.com/kedacore/keda/blob/b8460e2741f74c8004bde892f53cd35f030141a6/pkg/scalers/liiklus/LiiklusService.pb.go) needs to be probably regenerated with newer v

[2020-09-07 07:46] turbaszek commented on #711
I can take a look at this one as it would be wise to do this before 2.0. Are we ok with making this a breaking change?

[2020-09-07 07:51] zroubalik commented on #711
That's great, a breaking change is fine for me. (before 2.0 of course 😄)

[2020-09-07 07:56] hila3000 commented on #1062
@balchua Regarding what you wrote- Within that period of time - But I checked the metric on GCP side and it consistently reports 0 messages. So I'm not sure why it says that the stackdriver monitoring client did not return any timeseries data.

[2020-09-07 08:36] balchua commented on #1062
The keda gcp pubsub scaler performs a metrics query on stackdriver within a time range (now - 2mins).
So if stackdriver doesn't return record(s) the keda gcp scaler will log that "error".  But i believe it is benign from what i can tell.  Does it not behave as you expect?

[2020-09-07 09:25] hila3000 commented on #1062
For now, it seems ok, no apparent issues.

[2020-09-07 10:17] balchua commented on #1062
Cool. Memory utilization also seems ok?

[2020-09-07 11:01] hila3000 commented on #1062
Yes :)

[2020-09-07 11:22] zroubalik commented on #1062
Glad it is solved now, closing.

[2020-09-07 11:22] #1062 closed

[2020-09-07 14:22] cachila commented on #1067
I'm not using a Secret, just the file I posted previously and a Deployment pretty much like yours but env values directly there like I posted before.

If AWS SQS is working, I have no clue why Cloudwatch is not.

[2020-09-08 00:33] balchua commented on #1033
@hila3000 this is related to the gcp scaler issue you had right?  Is it a good time to close this one?

[2020-09-08 04:48] ckuduvalli opened #1105 "Can the docker image name be changed from keda-metrics-adapter to keda-metrics-apiserver?"
A clear and concise description of what you want to happen.

Currently we are using the name keda-metrics-apiserver for POD_NAME, SERVICE_NAME and so on. Only the docker image is called keda-metrics-adapter. Can we please change the docker image name also to keda-metrics-apiserver when v2 is released?

@zroubalik @tomkerkhove
Kindly suggest

[2020-09-08 04:59] tomkerkhove commented on #1105
I'll leave this up to @zroubalik but for me this sounds ok.

[2020-09-08 07:19] hila3000 commented on #1033
Indeed. Thank you!

[2020-09-08 07:19] #1033 closed

[2020-09-08 07:40] zroubalik commented on #1105
Sounds good to me. @ckuduvalli are you willing to contribute this?

[2020-09-08 07:56] ckuduvalli commented on #1105
yes i will change it and send a pr

[2020-09-08 08:26] turbaszek opened #1107 "Adjust revive configuration"
In #1104 we abandoned golint because it was abandoned by the community that was maintaining it. Instead, we decided to use [revive](https://github.com/mgechev/revive) which provides more configuration options.

Currently our `revive.toml` which is a configuration file fo revive uses setup from tidb:
https://github.com/pingcap/tidb/blob/master/tools/check/revive.toml

We may consider adjusting used

[2020-09-08 08:35] turbaszek commented on #1092
By this we mean all repos in kedacore?

[2020-09-08 08:51] zroubalik commented on #1092
Yeah

[2020-09-08 08:53] tomkerkhove commented on #1105
Awesome, thanks! Would you mind updating our Helm charts as well?

[2020-09-08 08:55] tomkerkhove commented on #1092
If we sit back and wait, GitHub will do it for us; and probably break our automation 🤓

[2020-09-08 09:08] zroubalik commented on #667
Automated test suite is IMHO covered by our e2e tests, which runs periodically every day (night 😄) and runs with each commit merged to the main branch.

[2020-09-08 09:09] ckuduvalli commented on #1105
@tomkerkhove @zroubalik
For this change, I am not sure what to add and where to add documentation in keda-docs. Also, not sure about tests and changelog. Kindly help.

@tomkerkhove
could you please let me know how to update helm charts for this change?

[2020-09-08 09:12] zroubalik commented on #1105
Reopening for helm charts

[2020-09-08 09:13] zroubalik commented on #1105
@ckuduvalli tests are not needed imho, and for changelog. I'll include this note to my already opened PR for changelog:https://github.com/kedacore/keda/pull/1086

[2020-09-08 09:13] ckuduvalli commented on #1105
Thank you @zroubalik

[2020-09-08 09:48] tomkerkhove opened #1109 "Rename `queueLength` to `messageCount` for Azure Service Bus"
Rename `queueLength` to `messageCount` or `depth` for Azure Service Bus given it's a confusing name if you are using Service Bus topics.

Alternative approach would be to introduce `subscriptionLength` but that feels odd and requires you to change.

[2020-09-08 09:48] tomkerkhove commented on #1109
Thoughts on this @ahmelsayed?

[2020-09-08 10:36] sanprasingh opened #1110 "Custom Resources (CRD) file is not showing on AKS cluster after installing Keda"
Hi Team,
Below Custom Resources (CRD) file is not showing on AKS cluster after installing Keda.
scaledobjects.keda.k8s.io
triggerauthentications.keda.k8s.io

is it required for scaling ?

Thanks.

[2020-09-08 11:00] tomkerkhove commented on #1110
Yes it is, how did you install KEDA?

[2020-09-08 11:00] #1110 closed

[2020-09-08 11:03] ckuduvalli commented on #1105
@zroubalik @tomkerkhove
Have made the helm charts change
https://github.com/kedacore/charts/pull/66

[2020-09-08 11:18] tomkerkhove commented on #1105
Should we add this to https://github.com/kedacore/keda-docs/blob/master/content/docs/2.0/migration.md @zroubalik ?

[2020-09-08 11:22] zroubalik commented on #1105
@tomkerkhove IMHO it is not needed, it is covered in Changelog and this change is not something that is directly affecting users.

[2020-09-08 12:04] tomkerkhove commented on #667
I'll update it asap with that

[2020-09-08 15:04] zroubalik opened #1114 "Update .devcontainer config to comply with the latest changes"
We have introduced changes in the project layout etc. with the update to Operator SDK v1.0.0 #1007

It is needed update `.devcontainer` config, Dockerfile: https://github.com/kedacore/keda/tree/v2/.devcontainer

[2020-09-09 07:41] #650 closed

[2020-09-09 07:51] zroubalik commented on #1114
@kashifsoofi expressed an interest in covering this issue, thx

[2020-09-09 07:55] aman-bansal commented on #1096
Hi @zroubalik, I would like to take this issue. This seems an interesting issue and a good place to start with development. Secondly while looking at the code, I found other possible bug areas related to clients. For example, in [keda/pkg/scalers/artemis_scaler.go:166](https://github.com/kedacore/keda/blob/v2/pkg/scalers/artemis_scaler.go#L166) we are creating a new http.Client again and again. Th

[2020-09-09 08:11] zroubalik commented on #1096
@aman-bansal hi, thanks, that's great. Yeah I am aware of the problem of recreating the clients and that it is not ideal. But as you have mentioned, this applies to the all scalers and it was originally designed this way. To change this a bigger code change and broader discussion is required as it is not that simple.

I'd recommend to split those efforts into a separate issues. So please go ahead

[2020-09-09 08:30] zroubalik opened #1121 "Should scalers reuse opened connection/clients?"
I have been thinking about this for some time. Currently [we are creating a new Scaler](https://github.com/kedacore/keda/blob/9a904ccc6a3077323ea1582eddaabff56554498b/pkg/scaling/scale_handler.go#L366) (and creating a client and opening a connection) in every cycle after in the Scale Loop (after `pollingInterval` has passed) and we are doing the same in the Metrics Server when HPA is requesting th

[2020-09-09 08:30] zroubalik commented on #1121
CC @ahmelsayed @anirudhgarg

[2020-09-09 08:45] aman-bansal commented on #1096
Sounds good and reasonable. Thank you so much :+1: . I will start right away.

[2020-09-09 09:18] zroubalik opened #1122 "Azure Blob E2E test is unstable"
There are intermittent test failures in Azure Blob e2e test

https://github.com/kedacore/keda/runs/1090182094

[2020-09-09 11:06] #1080 closed

[2020-09-09 14:47] tomkerkhove commented on #789
It looks like we are missing migration docs as well or is it just me? https://keda.sh/docs/2.0/migration/#scaling-of-jobs

[2020-09-09 17:03] aman-bansal commented on #1054
Hi @turbaszek and @tomkerkhove, I picked this issue. Have raised the PR. Please review.

[2020-09-09 17:41] aman-bansal commented on #1096
Hi @zroubalik, I have raised the PR. There were two scalers whose client connections were not closed properly. I have fixed that. Keeping things consistent I have take inspiration from other implementations of scaler's like redis_streams_scaler. This PR along with #1087 should fix scaler's connection close issue. Please review it once.

[2020-09-09 23:56] #1096 closed

[2020-09-10 04:54] aman-bansal opened #1132 "Use http.Client instead of http.Get"
At many places, HTTP requests have been implemented using default HTTP client like `r, err := http.Get(s.metadata.url)`. As per HTTP package, default client is defined like this `var DefaultClient = &Client{}`. This has huge drawbacks as it doesn't allow the application to define timeout behaviors (among other things).  The default value of timeout is 0 which means no timeout. In production enviro

[2020-09-10 04:54] aman-bansal opened #1133 "Use http.Client instead of http.Get"
At many places, HTTP requests have been implemented using default HTTP client like `r, err := http.Get(s.metadata.url)`. As per HTTP package, default client is defined like this `var DefaultClient = &Client{}`. This has huge drawbacks as it doesn't allow the application to define timeout behaviors (among other things).  The default value of timeout is 0 which means no timeout. In production enviro

[2020-09-10 04:55] #1132 closed

[2020-09-10 05:38] aman-bansal commented on #1083
Hi @tomkerkhove, I would like to pick this issue. Based on this thread, I believe no one is doing any development on this. Just wanted to check if I can start.

[2020-09-10 05:38] aman-bansal commented on #1082
Hi @tomkerkhove, I would like to pick this issue. Based on this thread, I believe no one is doing any development on this. Just wanted to check if I can start.

[2020-09-10 05:43] tomkerkhove commented on #1082
Nope, that is correct. Thanks for picking this up!

[2020-09-10 05:43] tomkerkhove commented on #1083
Nope, that is correct. Thanks for picking this up!

[2020-09-10 05:51] aman-bansal commented on #1083
Perfect. So what I get from the description is that we wanted to integrate API Key (which will be available in the metadata) to be appended to the http URL like this `http://myapp/metric/endpoint?api_key=<metadata.APIKEY>`. I believe this is the standard implementation practice or do we need customization in defining the query param name?

[2020-09-10 05:57] aman-bansal commented on #1082
Great! I'm starting with this. Thanks!

[2020-09-10 05:57] tomkerkhove commented on #1083
Today, they have to provide the full URL to call - https://keda.sh/docs/2.0/scalers/metrics-api/

In theory they can add the API key in there already but I'd prefer not to. What we want to achieve here is:
- API key support through request header
- API key support through query parameter

For both I would provide a standard header/query parameter name, but with the option to define their own in ca

[2020-09-10 05:59] aman-bansal commented on #1083
Got it. All clear now. I am starting with this. Thanks!

[2020-09-10 07:36] #1054 closed

[2020-09-10 08:01] helloworlde opened #1134 "The TARGET result is not match with prometheus"
When I use prometheus as datasource, the hpa result looks different with prometheus result.

My config is :

[code]

## Actual Behavior

[code]

## Expected Behavior
Result should be about 744, not the 74100m, looks like not handle the result when has `.`

![image](https://user-images.githubusercontent.com/13172836/92697941-6db18200-f37e-11ea-8c6b-8ad7f4705198.png)

## Specifications

  - **KEDA V

[2020-09-10 08:20] #551 closed

[2020-09-10 08:35] #1043 closed

[2020-09-10 09:17] aman-bansal commented on #1133
There are two ways to look at this:
1. In cases of client-controlled logic like metricsAPIScaler, it makes more sense to define timeouts on a case by case basis based on their application logic, scale, and use cases.
2. For other scalers provided by Identity Providers like AWS, AZURE, it makes more sense to define a good enough default.

What I think is we should define one parameter in metadata f

[2020-09-10 09:23] helloworlde commented on #1134
And the other question is when prometheus result is about 10, but hpa stay in a high result about 800m for a long time. My `pollingInterval` is 5, but looks like it not work correcttly.

[2020-09-10 14:22] tomkerkhove commented on #1061
This is done, thanks man!

[2020-09-10 14:44] tomkerkhove commented on #997
Mockups are in the works.

[2020-09-10 15:25] turbaszek commented on #997
Nice <3

[2020-09-11 09:02] flyingfang commented on #1105
Hey, there is a a bug in the pr...The image key "metricsAdapter" in values.yaml has not been changed.

[2020-09-11 11:09] tomkerkhove commented on #711
Re-opening for docs

[2020-09-11 11:10] tomkerkhove commented on #1105
This you mean? https://github.com/kedacore/charts/pull/66/files#diff-c7bc2dee6b0e6a8755bd9c0383b7a103R7

[2020-09-11 12:07] #1090 closed

[2020-09-11 12:12] #1109 closed

[2020-09-11 12:46] #1044 closed

[2020-09-11 13:44] tomkerkhove opened #1143 "Propose to graduate to become a CNCF Incubation project"
We've seen a healthy adoption of KEDA by the community over time and received various contributions for running KEDA, operating it, and providing more scalers.

In the next couple of weeks, we will open a proposal to graduate to a CNCF Incubation project as we believe that we are approaching this next level in our project timeline.

Graduation process: https://github.com/cncf/toc/blob/master/proce

[2020-09-11 15:10] silenceper opened #1145 "build failed: github.com/zroubalik/pkg v0.0.0-20200714090639-88ee0a9b8a22 invalid version: unknown revision 88ee0a9b8a22"
https://github.com/kedacore/keda/blob/e9a9f9447dbfe0c3e4872e81bb2358172e111ccf/go.mod#L66

[2020-09-11 17:26] turbaszek commented on #711
@tomkerkhove should we close it as https://github.com/kedacore/keda-docs/pull/253 was merged?

[2020-09-11 17:29] #711 closed

[2020-09-11 17:29] tomkerkhove commented on #711
Yes, sorry!

[2020-09-11 17:53] TsuyoshiUshio commented on #1035
Hi @zroubalik and @ahmelsayed
Sorry, I forget to implement the push scaler case. The reason the comment is there is, You can see the hard corded value. It is scaleTo and MaxScale. I need to write one more method on scale_handler.go.
I have a question. For the startPushScaler method, why it calls RequestScale method for each loop? For the scaling, there are several scaler exists at the same time, t

[2020-09-11 18:41] ahmelsayed commented on #1035
The behavior of a push scaler is to push isActive state whenever there is an external event. Multiple push scalers don't have to coordinate that push with each other because they are not pushing a particular number to scale to, but rather just the isActive state. if multiple scalers push isActive at the same time, KEDA will only attempt to activate the deployment (scale to 1) for the first and deb

[2020-09-11 18:46] #1145 closed

[2020-09-11 20:06] TsuyoshiUshio commented on #1035
Thank you @ahmelsayed  Then for the scaled job for the Push Scaler, can I assume something like this? I can't understand the meaning of the debounces. Is it only the first one is executed?  If I assume so,

1.  MaxScale is applyed for the first push scaler. If the other pushscalers are fired, it will be ignored.
2. to scale is just one.  (That mean, if the push scaler is trigged, then 1 job is cre

[2020-09-12 02:48] silenceper opened #1147 "the address of a variable cannot be nil"
https://github.com/kedacore/keda/blob/6dfe7f7c389090378bfea4fe94f953f7f11df7f7/pkg/scaling/resolver/scale_resolvers.go#L23-L34

the `container` can not be nil

[2020-09-12 19:13] aman-bansal commented on #1057
I think we can close this issue. There are no more revive issues. Solved and merged here #1128 .
cc. @turbaszek @zroubalik

[2020-09-12 19:46] #1057 closed

[2020-09-14 02:20] mchmarny commented on #906
I was excited to see Keda v2.0.0-beta come so I've retested this issue with the new version using. I'm still seeing same issue, Keda sees the correct lag but does not scale the target.

I've updated the [demo](https://github.com/mchmarny/dapr-demos/tree/master/autoscaling-on-queue) so it's easier to reproduce. I'm seeing this on AKS Kubernetes version 1.16.13.

[code]

[2020-09-14 04:08] tomkerkhove commented on #906
Can you have a look please @ahmelsayed ?

@mchmarny can you share some info on what you are seeing? Does it stay with 0 instances or what happens?

[2020-09-14 08:36] zroubalik opened #1150 "Azure Log Analyitcs e2e test is failing"
Nightly job is failing on this test:

https://github.com/kedacore/keda/runs/1109700318?check_suite_focus=true

[code]

[2020-09-14 08:36] zroubalik commented on #1150
@spoplavskiy @ahmelsayed PTAL^

[2020-09-14 08:42] zroubalik commented on #906
@mchmarny would be great if you can take a look on KEDA Metrics Server logs, to check whether there is some problem

[2020-09-14 09:08] silenceper opened #1151 "[Suggestion]is there any plan to introduce golangci.run as a github action?"
For better code quality, is there any plan to introduce golangci.run as a github action.

Use the golangci.run tool to help detect potential bugs，like #1148 .

In addition, go code can be standardized.

[2020-09-14 09:32] turbaszek commented on #1151
@silenceper would you mind sharing a link to the tool you have in mind? Currently, we use [revive](https://github.com/mgechev/revive)  for static analysis of code, we tried golint but it's an abandoned project

[2020-09-14 09:39] silenceper commented on #1151
I use [https://github.com/golangci/golangci-lint](https://github.com/golangci/golangci-lint) as a code quality inspection tool (allowing custom configuration).

and there is a actions can use, [https://github.com/marketplace/actions/golangci-lint](https://github.com/marketplace/actions/golangci-lint)

[code]

[2020-09-14 09:46] #1147 closed

[2020-09-14 09:51] turbaszek commented on #1151
It looks interesting. If I'm not mistaken it's not a linter per se but a tool to configure and run multiple independent linters?

I'm just getting familiar with golang environment and I'm super surprised by the plenty of different tools that try to address nearly the same problem 👀

[2020-09-14 09:56] silenceper commented on #1151
yes, golangci contains a series of linter:[https://github.com/golangci/golangci-lint/tree/master/pkg/golinters](https://github.com/golangci/golangci-lint/tree/master/pkg/golinters)

I am very concerned about the keda project, so I hope to participate (improve code quality, bug fixes, etc.).

[2020-09-14 10:00] turbaszek commented on #1151
I think it make sens to be able to run `gofmt`, `govet` and other linters with one command, for me this sounds like a good way to unify linting. @silenceper do you have any suggested configuration for golangci?

@tomkerkhove @zroubalik what do you think?

[2020-09-14 10:14] silenceper commented on #1151
here is a example config file:https://github.com/golangci/golangci-lint/blob/master/.golangci.example.yml

Usually I use the following configuration：
[code]

[2020-09-14 10:55] silenceper opened #1152 "add new scaler for alibaba cloud sls product"
We collect Ingress log to [SLS](https://www.alibabacloud.com/help/product/28958.htm) (Log Service),analysis and make up metrics such as sls_ingress_qps,sls_ingress_latency_avg and so on. The external metrics can help developers from a different angle.

I want add alibaba sls product to keda.(like `azure-log-analytics`)

[2020-09-14 11:11] turbaszek commented on #1151
[code]
Does this mean that you can disable some `golint` rules? We had a problem with this because we wanted to avoid breaking change in https://github.com/kedacore/keda/pull/1088#discussion_r484253257

[2020-09-14 11:22] silenceper commented on #1151
Yes,you can disable some rules to avoid breaking change.   And I think we should try our best to write code that conforms to the go code specification.

[2020-09-14 11:37] alegmal commented on #759
Sorry I don't understand that - can you please tell if having the same names is a problem or not? And can they be arbitrary chosen or they should indicate something? I was under the impression that I could choose any metric name I want.

[2020-09-14 13:04] silenceper commented on #1151
linked this pr #1155

[2020-09-14 13:04] mchmarny commented on #906
The configured HPA doesn't seem to take effect. I'm seeing Keda doing its 0-1 and 1-0 scaling on target just fine. As the lag increases however, correct queue lag is being logged by operator but the configured HPA does not scale the target beyond 1, even when its target is 3. This is all on AKS with Kubernetes version v1.16.13

Here is the scaled object I'm using to replicate this issue:

[code]

[2020-09-14 13:15] zroubalik commented on #759
@alegmal multiple triggers in ScaledObject doesn't work correctly in KEDA v1. I'd recommend you to try KEDA v2 Beta.

https://keda.sh/blog/keda-2.0-beta/

[2020-09-14 13:21] zroubalik commented on #906
@mchmarny thanks! Seems like the problem is definitely somewhere between HPA and Metrics Server. Would you mind posting Metrics Server Debug logs?  https://github.com/kedacore/keda/blob/v2/BUILD.md#metrics-server-logging

[2020-09-14 13:30] mchmarny commented on #906
Last 200 lines. Anything specific I should look for I there?

[code]

[2020-09-14 13:33] tomkerkhove commented on #1151
How does this relate to our recent linting @turbaszek ?

[2020-09-14 14:07] zroubalik commented on #906
@mchmarny Could you please try to get the metrics, to se what is the returned value? (we should improve logging in Metrics Server anyway)

`kubectl  get --raw  "/apis/external.metrics.k8s.io/v1beta1/namespaces/default/kafka-metrics-autoscaling-subscriber?labelSelector=scaledObjectName%3Dsubscriber-scaler"`

[2020-09-14 14:08] zroubalik commented on #906
That's ^ basically the request that HPA is sending.

[2020-09-14 14:18] mchmarny commented on #906
[code]

[2020-09-14 14:20] mchmarny commented on #906
This is with the lag around `400` so 3 replicas is what I would expect.

[code]

[2020-09-14 14:57] mchmarny commented on #906
Oh ye, the one consumer per partition limit within a group... I was swapping things around to make this more reproducible and forgot to change back after last time. Thanks

[2020-09-14 15:11] turbaszek commented on #1151
As stated above, the main difference is that golangci runs different linters but is not linter on its own. I can see both pros and cons. On one hand, it seems to be more robust and configurable, on the other hand the number of checks can be problematic.

It seems that golangci has wider "adoption" (number of stars) and as @silenceper has more experience in go world than I have I would assume that

[2020-09-14 16:23] silenceper commented on #1151
yes, Golangci supports turning on or off a single linter, and also supports disabling a rule on per line basis like.

[code]

[2020-09-14 21:46] TsuyoshiUshio commented on #1035
Thank you @ahmelsayed to share the info with me offline.

I noticed that ScaledJob doesn't fit for the current implementation for using the go routine.
https://github.com/kedacore/keda/blob/b6c60a088a7ac5683638feba3692b40b0b613f29/pkg/scaling/scale_handler.go#L168
PushScaler could be more than 1,

My suggestion is,
1. `startPushScaler` method is called, if the object is scaled jobs, Loop through t

[2020-09-14 22:28] ahmelsayed commented on #1035
That sounds good to me.

[2020-09-14 22:53] nrutigs opened #1157 "KEDA v2 is not sending trigger metadata to the External Scaler"
I have a reachable external scaler on my cluster at `newrelicscaler.newrelicscaler.svc.cluster.local:8080`. I have setup my external trigger to hit this scaler, with metadata accordingly. The request object however has empty metadata. This was discovered while updating from v1 to v2 where this was not a problem previously.

## Expected Behavior

The IsActive request will have its metadata populate

[2020-09-15 01:51] silenceper commented on #1157
Does externalscaler.proto need to be upgraded to v2 version?

[2020-09-15 05:11] nrutigs commented on #1157
I'm using the v2 proto from here https://github.com/kedacore/keda/blob/v2/pkg/scalers/externalscaler/externalscaler.proto

[2020-09-15 05:14] tomkerkhove commented on #724
_First things first, sorry for the delay!_

Around April, @jeffhollan reached out to Daniel to let him know we are currently not planning on increasing our amount of maintainers but if there are long-term contributions we might consider changing our current maintainers board.

Given we haven't seen any contributions lately we will close this but feel free to re-open if you want to be reconsidered.

[2020-09-15 05:14] #724 closed

[2020-09-15 07:32] audunsol commented on #1021
I have upgraded to `keda-2.0.0-beta` on our test cluster now, and as far as I can see, this issue seems to be fixed there. Thanks!

I am happy to close this issue then, unless you would like to address this somehow for 1.x as well (behavior and/or its docs or something).

[2020-09-15 07:57] tomkerkhove commented on #1021
Let's close this then indeed, we don't have concrete plans to ship a new 1.x version.

[2020-09-15 07:57] #1021 closed

[2020-09-15 09:55] #1151 closed

[2020-09-15 10:03] turbaszek commented on #1151
@silenceper can you please create issues that will address additional linters that should be introduced in the future?

[2020-09-15 10:40] silenceper opened #1158 "[linter]enable linters for golangci"
In order to improve code quality, we should enable more linters in the golangci tool:
- [x] gofmt
- [x] golint
- [x] interfacer
- [x] goimports
- [x] ineffassign
- [x] misspell
- [x] scopelint
- [x] structcheck
- [x] bodyclose
- [x] deadcode
- [x] depguard
- [x] dogsled
- [ ] errcheck
- [ ] funlen
- [x] goconst
- [x] gocritic
- [x] gocyclo
- [x] gosimple
- [x] staticcheck
- [x] stylecheck
- [x] un

[2020-09-15 10:44] silenceper commented on #1151
@turbaszek  I was create issue #1158.

I think this is a good way to get more community members involved in this issue to make the keda project better(fix linter errors)

[2020-09-15 10:59] silenceper commented on #1158
golint,gofmt was add in #1159

[2020-09-15 12:35] flyingfang commented on #1105
should be  "metricsApiServer: docker.io/kedacore/keda-metrics-apiserver:1.5.0"

[2020-09-15 13:43] silenceper opened #1160 "[v2]What is the minimum Kubernetes version required to use keda?  "
Which place clearly indicates the minimum required Kubernetes version?

I think if it is marked in the Readme, it will be very useful for people who are new to this project.

[2020-09-15 14:04] silenceper commented on #1160
mybe v1.16+

[2020-09-15 14:44] silenceper opened #1161 "Want to be the maintainer of the project"
Hello KEDA community!

I want to join the project and become the maintainer of the project.

I have relatively rich experience in go projects, and I am very interested in improving the code quality of the project(such as #1155), maintaining new features, and fixing bugs.

At present, my work mainly revolves around Kubernetes to build a PaaS platform, and I often need to use the flexible scalabilit

[2020-09-15 15:12] #1093 closed

[2020-09-15 18:57] nrutigs commented on #1157
I'm not sure if this is this is it but it looks like the `ScaledObjectRef doesn't get the metadata on NewExternalScaler but does for NewExternalPushScaler

https://github.com/kedacore/keda/blob/45a6997a633b7166b2022d191e1299179e24329b/pkg/scalers/external_scaler.go#L77
vs.
https://github.com/kedacore/keda/blob/45a6997a633b7166b2022d191e1299179e24329b/pkg/scalers/external_scaler.go#L59

[2020-09-16 00:30] silenceper commented on #1157
As you said, I tried it and it was indeed caused by the bug

[2020-09-16 00:39] #1157 closed

[2020-09-16 06:13] tomkerkhove commented on #1105
Woops, thanks for letting us know! Fixing it now.

[2020-09-16 07:25] tomkerkhove commented on #1093
We've had a chat with Tomek offline and are happy to have him part of our community but our maintainer board is full at the moment so we cannot have him as a new maintainer.

That does not mean we do not appreciate his work and if our maintainer board changes, we will definitely consider him to become a maintainer!

Keep on doing what you do @turbaszek, we highly appreciate your work!

[2020-09-16 07:37] recet opened #1163 "Initial readiness delay with metrics api and prometheus metrics"
The equivalent of the Kubernetes HPA --horizontal-pod-autoscaler-initial-readiness-delay flag that can be set by providing the parameter initialReadinessDelay in the ScaledObject spec YAML.

Managed kubernetes platforms (for example GKE) does not allow to modify --horizontal-pod-autoscaler-initial-readiness-delay flag. Unlike the HPA this does not need to be set as a flag for the kube-controller-m

[2020-09-16 08:54] silenceper commented on #1163
Fundamentally, keda also creates an HPA object to control scaling.

I think that if the pod starts slowly, the indicator data may still maintain the previous state. In the worst case, it should only be a repeated setting of the replicas of workload (the replicas is still the same as the last time).   //Maybe i'm wrong

[2020-09-16 10:38] zroubalik commented on #1160
I think you should be able to deploy KEDA on v1.13+

If we change CRDs apiversion to `v1`, it will be v1.16+

[2020-09-16 10:50] silenceper commented on #1160
[code]
I failed to deploy on the 1.15 version and succeeded on the 1.16 cluster.

Because OpenAPI  `x-kubernetes-list-map-keys` was add in 1.16.

[2020-09-16 10:51] silenceper commented on #1160
I think it is necessary to add some compatibility tests for the k8s version and inform users of the minimum version requirements of k8s.

[2020-09-16 10:54] zroubalik commented on #1160
OK, thanks for the confirmation. We should add info on this to the documentation.

[2020-09-16 10:58] zroubalik commented on #701
As discussed on https://github.com/kedacore/keda/issues/1160, I think that we can safely require k8s v1.16+ for KEDA. That means that we can move to `apiextensions.k8s.io/v1`.

Any objections?

[2020-09-16 11:07] tomkerkhove commented on #701
Looks like that was released only on September 18, 2019; but makes sense to me. Maybe we can discuss tomorrow in standup?

[2020-09-16 11:08] #1105 closed

[2020-09-16 11:25] silenceper commented on #1158
/good-first-issue

[2020-09-16 12:06] spoplavskiy commented on #1150
@zroubalik , @ahmelsayed
Looks like not all parameters resolved from env. variables:

const la_workspace_id = process.env['TEST_LOG_ANALYTICS_WORKSPACE_ID']
const sp_id = process.env['AZURE_SP_ID']
const sp_key = process.env['AZURE_SP_KEY']
const sp_tenant = process.env['AZURE_SP_TENANT']

@ahmelsayed , can you double check those parameters exposed as env. variables on build machine? If they are n

[2020-09-16 12:11] recet commented on #1163
Not sure if I follow. To be precise, I was imagining a configuration at `horizontalPodAutoscalerConfig.behavior`.

For example this section from the [doc](https://keda.sh/docs/2.0/concepts/scaling-deployments/#details):

[code]

Also contained `initialReadinessDelay: 300` similar to `stabilizationWindowSeconds`. Does that makes sense?

[2020-09-16 12:33] turbaszek commented on #1163
@recet the initialReadinessDelay seems to be missing from what ScaledObjects support:
https://github.com/kedacore/keda/blob/f5489b8e229260817fdabcfb1b930bc38dba9337/config/crd/bases/keda.sh_scaledobjects.yaml#L70-L130

I think we may consider adding it? @zroubalik

[2020-09-16 12:41] recet commented on #1163
Thanks for the reply @turbaszek. Indeed the initialReadinessDelay is missing at the moment.

We have some applications that consume lots of resources on start-up (expected) and might need some extra time to startup, but we do not want it to scale up during this period. However, the default HPA behaviour scale these applications unnecessarily.

Adding this feature, if possible, would extend the def

[2020-09-16 13:14] silenceper commented on #1163
Maybe this parameter should be given to the hpa object setting in Kubernetes to be more appropriate.

like this https://github.com/kubernetes/kubernetes/pull/74525

[2020-09-16 21:38] carlwoodhouse opened #1165 "Support for pod identity for Azure Log Analytics scaler"
Other azure scalers such as azure monitor support the ability to use azure pod identity for authentication; currently the azure log analyics scaler only supports service principle; it would be great if we could make it use podidentity :)

[2020-09-17 04:59] tomkerkhove commented on #1165
Definitely agree, are you willing to contribute this or just open the request?

[2020-09-17 05:12] Sam8301-arch opened #1166 "Issue "Not the leader""
I had tried to restore KEDA but its operator failing with below messages and thus not starting up. Anyone face this issue?

{"level":"info","ts":1600307747.1605864,"logger":"cmd","msg":"KEDA Version: 1.5.0"}
{"level":"info","ts":1600307747.1606233,"logger":"cmd","msg":"Go Version: go1.14.4"}
{"level":"info","ts":1600307747.1606328,"logger":"cmd","msg":"Go OS/Arch: linux"}
{"level":"info","ts":1600

[2020-09-17 05:44] silenceper commented on #1166
From the log, it seems that the leader election failed. Have you started multiple of keda pod?

[2020-09-17 05:52] spoplavskiy commented on #1165
@carlwoodhouse , @tomkerkhove
Thanks for a feedback. This is something I'm working on right now.
I expect to introduce this feature till end of week.

[2020-09-17 05:55] spoplavskiy commented on #1150
I think we can close this issue, as the last nightly e2e test has been executed successfully: https://github.com/kedacore/keda/actions/runs/258467884

@zroubalik , what do you think?

[2020-09-17 07:05] zroubalik commented on #1150
Yes, thanks for the fix!

[2020-09-17 07:05] #1150 closed

[2020-09-17 07:15] tomkerkhove commented on #1165
Awesome, thanks @spoplavskiy!

[2020-09-17 07:26] zroubalik commented on #1166
Yeah, please check that there isnt any other KEDA operator pod running.

[2020-09-17 07:29] carlwoodhouse commented on #1165
Excellent ! Thanks @spoplavskiy

[2020-09-17 14:27] helloworlde opened #1167 "The prometheus metrics is not friend with Grafana"
The metrics from keda-metrics-apiserver is looks like this:

[code]

It hard to use for dashboard because I can't get the metrics name or datasource what defiend in ScaledObject.
It's should be convert as label and need to add some metrics like this:

[code]

[2020-09-17 15:53] vaikas opened #1168 "RabbitMQ queue name can cause problems in HPA external metric."
If I create a rabbitmq queue name something like namespace/name and set that as metadata.QueueName, this will cause a problem when Keda goes to create the HPA because this will then create an external metric name:
rabbitmq-namespace/name
which fails because its not DNS compliant.

## Expected Behavior
Any valid rabbitmq queue name should be scaleable.

## Actual Behavior
Fails to create the HPA.

[2020-09-17 15:53] vaikas commented on #1168
/assign

[2020-09-17 16:27] tomkerkhove commented on #1152
Are you suggesting a Alibaba Log Service scaler? I'm not sure I get your question fully.

[2020-09-17 18:58] vaikas opened #1170 "In the API types, optional structs should be pointers."
Some API fields are optional, but they should then be pointers as per:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#optional-vs-required

## Expected Behavior

There's couple of structs in the APIs that are marked as optional, but they are not pointers. This means that they get filled in as empties and that causes validation errors.
htt

[2020-09-17 22:13] Sam8301-arch commented on #1166
Hi Guys,

Log is keep popping up this leader election information and doing nothing, please see below information which you asked above.

kubectl get services,deployments,pods -n keda
NAME                                                              TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)             AGE
service/keda-operator-metrics                    ClusterIP   1xx.xx.xx.x6   <none>

[2020-09-18 05:53] #1168 closed

[2020-09-18 06:41] therahulbhati opened #1171 "Not encoding data in the secret AWS SQS"
In the documentation, in https://keda.sh/docs/2.0/scalers/aws-sqs/ its mentioned to store AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY directly without encoding, this works with KEDA. But if I want to use the same secret say with a POD by injecting the secret data and use as env variable as mentioned [here](https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/#conf

[2020-09-18 08:29] zroubalik commented on #1170
@vaikas good catch, we should convert those structs to the pointers. We have changed the API for v2 anyway, so it won't be a problem.

[2020-09-18 12:31] VojtechVitek commented on #965
"Maintain last known state" - I think this approach has its drawbacks, especially when autoscaling to zero via `minReplicaCount: 0`. Imagine that you can't wake up your system, because the Keda Operator can't temporarily reach the source of metrics.

I just hit this problem with `postgresql` trigger. After a security group change in our AWS account, the Keda Operator suddenly couldn't reach our Po

[2020-09-18 13:05] zroubalik commented on #965
@VojtechVitek makes sense. Is it something you are willing to contribute?

[2020-09-18 13:22] VojtechVitek commented on #965
Is there any process for getting a proposal officially accepted?

I'm thinking a better name for the field would be `defaultReplicaCount`, which would equal to `minReplicaCount` value by default unless explicitly specified.

Sorry, I don't think I have any free dev cycles in the next month or so. Perhaps later in the year.

[2020-09-18 14:48] zroubalik commented on #965
There isn't any official process. The best is to specify requirements in the issue and you can talk about it at the community call

[2020-09-18 15:01] vaikas commented on #1170
/assign
I can do this.

[2020-09-18 21:44] mboutet opened #1175 "[v2] starting container process caused "exec: \"keda\": executable file not found in $PATH": unknown"
Trying to install keda 2.0.0-beta chart on AKS cluster 1.18.6 fails (`keda-operator` pod does not start)

## Expected Behavior

It should work.

## Actual Behavior

The `keda-operator` pod fails to start. Here is the output of `kubectl describe pod -n keda keda-operator-559d647557-bt8gt`:
[code]

## Steps to Reproduce the Problem

  1. Create a fresh AKS cluster v1.18.6
  2. Install keda chart 2.0

[2020-09-18 22:11] mboutet commented on #1175
Comparing https://github.com/kedacore/keda/blob/v2/config/manager/manager.yaml#L30 and https://github.com/kedacore/charts/blob/master/keda/templates/12-keda-deployment.yaml#L49 shows that the chart is missing the leading front slash. Could that be the problem?

[2020-09-20 10:20] turbaszek commented on #1175
I got similar problem. I was building the image locally and using it on local k8s cluster. The most fascinating thing was that I published this image and @zroubalik tried it and there was no problem 😳 What helped me was to prune docker and restart the cluster 🤷🏼‍♂️

[2020-09-20 13:02] silenceper commented on #1158
If you add all lints at once, it will be a big change, so my suggestion is to split each lint into a separate pr for submission.

[2020-09-20 14:48] mboutet commented on #1175
Turns out it's an issue with the helm chart that still has the manifests for the v1 version (even if it was tagged with 2.0.0-beta). I opened a PR in the chart repo and it's linked in this issue.

[2020-09-20 23:06] Sam8301-arch commented on #1166
Hi again,  just want to follow up on this if you think what else is missing here. Thanks!

[2020-09-21 05:32] tomkerkhove commented on #1171
I'm updating the docs as this should not be the case: https://github.com/kedacore/keda-docs/pull/263

Can you share what you are seeing at runtime or is this purely when reading the docs?

[2020-09-21 08:34] dkuzmianok-sc opened #1176 "Up-down scaling behavior configuration is ignored in Kubernetes version >= 18.0"
Scaling up-down behavior configuration https://github.com/kedacore/keda/pull/805 is ignored in Kubernetes 19.0 and 18.8 (only 2 versions I checked on).
Here is info from logs
[code]

## Expected Behavior
Scaling behavior should be functioning

## Actual Behavior
It's not. Logs confirm that.

## Steps to Reproduce the Problem

  1. Install keda, create ScaledObject with scaledDown, scaleUp advanced

[2020-09-21 08:34] Sam8301-arch commented on #1166
@zroubalik @silenceper

[2020-09-21 08:39] lallinger-arbeit commented on #814
@zroubalik Yeah, we have 23 scaledobjects of which 17 use a kafka trigger and 6 a redis trigger

[2020-09-21 08:39] zroubalik commented on #1166
@Sam8301-arch have you tried to completely uninstall KEDA?

[2020-09-21 09:00] zroubalik commented on #1176
@dkuzmianok-sc Hm, it must be something with Minikube version string, would you mind sharing the beginning of the Operator log? There should be a log message like this:
`{"level":"info","ts":1600678755.6548228,"logger":"controllers.ScaledObject","msg":"Running on Kubernetes 1.18+"}`

[2020-09-21 09:06] Sam8301-arch commented on #1166
yes I have uninstalled KEDA and it worked when i did velero(backup/restore) of KEDA its stuck see both logs

**UNINSTALL LOG FILE:**
kubectl logs pod/keda-operator-xxx -n keda
{"level":"info","ts":1600305090.2607338,"logger":"cmd","msg":"KEDA Version: 1.5.0"}
{"level":"info","ts":1600305090.2607734,"logger":"cmd","msg":"Go Version: go1.14.4"}
{"level":"info","ts":1600305090.2607784,"logger":"cmd",

[2020-09-21 09:20] zroubalik commented on #1176
@dkuzmianok-sc there was a small bug in the version resolving, failing on some corner cases. Thanks for finding this! Will send a PR in a moment.

[2020-09-21 09:29] zroubalik commented on #1166
OK, I am not familiar with velero, but that is the root of the problem. It probably doesn't release the lock when you did backup and restore.

This is the leaderId used for the election:
https://github.com/kedacore/keda/blob/7a1fd919f5aea5af94939a84c371239c0fe2b364/main.go#L73

[2020-09-21 09:38] #1175 closed

[2020-09-21 09:40] Sam8301-arch commented on #1166
is it possible we can release the lock or check lock status?

[2020-09-21 09:57] lallinger-arbeit opened #1178 "scaleexecutor fails for scaledJob with v2.0.0-beta"
A clear and concise description of what the bug is.

Creating a scaledJob fails because of missing permissions.

## Expected Behavior
ScaledJob gets created successfully.

## Actual Behavior
Creation fails with:
[code]

## Steps to Reproduce the Problem

  1. Apply CR for scaledJob
  2. See logs of keda-operator pod

## Solution suggestion

Add permission for scaledjobs/finalizers here:
https://gi

[2020-09-21 10:10] dkuzmianok-sc commented on #1176
@zroubalik
[code]
Here are logs if still needed.
Thank you for quick response.

[2020-09-21 11:05] zroubalik commented on #1178
@lallinger-arbeit I think this is specific to OKD/OpenShift, that's why we haven't hit it yet. Thanks!

[2020-09-21 11:39] zroubalik commented on #1165
Fixed in #1173

[2020-09-21 11:39] #1165 closed

[2020-09-21 13:27] zroubalik commented on #1163
I don't see any problem with adding this option.

@recet I was quickly looking for this property in HPA spec, but wasn't able to find it? Could you please link here some details on this property (link to the HPA spec field of this property). And is this something, that you'd like to contribute? It should be just about adding this property to the created HPA resource, the same way it is done for th

[2020-09-21 18:35] rangp opened #1181 "Service Bus Scaler fails with = in connection String"
I'm not sure about the root cause, but when setting up my scaler, I find the following error message in the log

`azure_servicebus_scaler	error	{"error": "failed parsing connection string due to unmatched key value separated by '='"}`

Upon investigating I found that my SharedAccessKey contains a "=" since it is base64 encoded by default. I suspect that this could be the problem, as I copied the c

[2020-09-22 05:43] tomkerkhove commented on #1181
We'll look into it, thanks! Do keep in mind that `queueLength` was changed to `messageCount` since this is confusing for topics. See: https://keda.sh/docs/2.0/migration/

[2020-09-22 08:16] rangp commented on #1181
@tomkerkhove Thank you for the information. I saw both values in the documentation but did not see the migration guide

[2020-09-22 08:46] tomkerkhove opened #1183 "Provide CPU/Memory scaler"
Provide CPU/Memory scaler which acts as an abstraction on top of HPA functionality.

Today, you can already scale on CPU/Memory ([docs](https://keda.sh/docs/2.0/concepts/scaling-deployments/)) through `horizontalPodAutoscalerConfig.resourceMetrics` but it requires you to at least have one trigger defined.

This is not ideal given KEDA users should be able to fully rely on KEDA for autoscaling, and

[2020-09-22 09:35] tecoholic opened #1184 "Uninstall instructions on the documentation is outdated"
The deployment section on the website has Uninstall instructions which refer to missing YAML files.

[code]

## Expected Behavior

The instructions should be updated for a working solution

## Actual Behavior

The uninstall instructions aren't in working state

## Steps to Reproduce the Problem

  1. Follow uninstall instructions from [deploy](https://keda.sh/docs/2.0/deploy/) page
  2.
  3.

## S

[2020-09-22 10:03] zroubalik commented on #1166
@Sam8301-arch you can try to delete configmap `operator.keda.sh` in the `keda` namespace, if there's any.

[2020-09-22 10:05] zroubalik commented on #1184
You are using KEDA v 1.5 but following uninstall instruction for version 2.0.

If you check 1.5 documentation, you will see that it is referring to the correct files:
https://keda.sh/docs/1.5/deploy/

[2020-09-22 10:05] #1184 closed

[2020-09-22 10:07] tecoholic commented on #1184
Oh! I am sorry for the noise. That was stupid. :disappointed:

[2020-09-22 10:10] zroubalik commented on #1184
@tecoholic no worries at all 😃

[2020-09-22 10:59] tomkerkhove commented on #1181
Was it in 2.0 docs or 1.x?

[2020-09-22 15:00] christle commented on #1049
Today, i finally found the time to fix this issue on the v2 branch. But i realized that the issue is fixed with the change on v2: https://github.com/kedacore/keda/commit/4abddb39b30189c1af067bf93bead1ab67c77f1d

I think on v2 exists a dependency update for "github.com/Azure/go-autorest/autorest/azure/auth" and the commit above change the type for count from int to float.

So it is fixed on v2

[2020-09-22 15:36] tomkerkhove commented on #1049
Great to hear, ok if I close it?

[2020-09-22 15:51] christle commented on #1049
yes

[2020-09-22 15:54] #1049 closed

[2020-09-22 20:58] v-yarotsky commented on #470
Ran into this because datadog helm chart also [creates](https://github.com/DataDog/helm-charts/blob/0bd9b107a05b15fe8ddde7954e48e494b3ebe5cd/charts/datadog/templates/agent-apiservice.yaml#L5) the APIService object with the same name of `v1beta1.external.metrics.k8s.io`

[2020-09-22 22:14] #1178 closed

[2020-09-22 22:57] Zachery2008 commented on #877
It seems similar issue with my case. I have deployment, it has:
[code]

And I have an ScaledObject of KEDA Prometheus. KEDA version 1.5. The weird thing is the topologySpreadConstraints section in the deployment is missing/disappeared in the deployment or pod when I check them on dashboards. It leads to wrong topology of scaling, that is pods are assigned to wrong nodes.

Does v2.0 solve this issu

[2020-09-22 22:58] mboutet commented on #877
Yes, I tested with v2 and it seems to work.

[2020-09-23 06:58] rangp commented on #1181
In 1.x.

I started with the documentation for 2.0, then read this [sample](https://github.com/felipecruz91/sample-dotnet-consumer-servicebus-topic) which I believe is for 1.x only. This led me back to the 1.x documentation without realizing it.

I mean, if I can make a suggestion: For a beginner to keda it would proably be helpful if the samples specified which version is used at the beginning and

[2020-09-23 07:00] tomkerkhove opened #1185 "`kubectl get so` does not specify `SCALETARGETKIND`"
`kubectl get so` does not specify `SCALETARGETKIND`

## Expected Behavior

Provide information concerning the target it's scaling

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1.Run `kubectl get so`

## Specifications

  - **KEDA Version:** 2.0.0-beta
  - **Platform & Version:** Azure Kubernetes Service
  - **Kubernetes Version:** 1.17.7
  - **Scaler(s):** Azure Service Bus

[2020-09-23 07:52] #1170 closed

[2020-09-23 08:06] zroubalik commented on #877
@mboutet thanks for the confirmation. Closing this then.

[2020-09-23 08:06] #877 closed

[2020-09-23 08:13] #1176 closed

[2020-09-23 09:40] zroubalik commented on #1185
I can't reproduce:

[code]

What is the output of
`kubectl get so -oyaml` ?

[2020-09-23 09:59] tomkerkhove commented on #1185
This might be because wedon't explicitly state the kind in our spec:
[code]

Full output:

[code]

[2020-09-23 10:56] erickhun commented on #1002
One of the use case would be to use keda to grab altogether AWS cloudwatch metrics and  custom metrics in Datadog (such as APM).

Datadog provides their own [autoscaling solution](https://www.datadoghq.com/blog/autoscale-kubernetes-datadog/), but some metrics from your [cloud provider (AWS cloudwatch, GCP, Azure, etc...) are delayed up to 15 minutes](AWS, Azure, GCP) what isn't great when you need

[2020-09-23 11:43] zroubalik commented on #1185
The problem is that your scaledobject is missing status, not sure why. Is KEDA deployed correctly?

[2020-09-23 11:46] zroubalik commented on #1185
And is it actually scaling?

[2020-09-23 12:06] silenceper commented on #1183
Does this mean not rely on metrics-server?

[2020-09-23 13:52] tomkerkhove commented on #1183
Yes, it's jsut an abstraction on top of the HPA; but as a user I don't have to care about that as KEDA handles that for me.

[2020-09-23 13:54] tomkerkhove commented on #1185
AFAIK yes, because our minimum replica count is 0 but it scaled it to 1

[2020-09-23 14:21] zroubalik commented on #1185
but I bet it won't scale above 1.

The status field is important, the installation you have is broken. I'd recommend you to remove the whole KEDA installation and install once again.

[2020-09-24 06:24] karthikeyanVK opened #1189 "Problem deploying scaledJob"
A clear and concise description of what the bug is.

## Expected Behavior
Scaled Job to be deployed.

## Actual Behavior

Getting error `error: unable to recognize "deployjob.yaml": no matches for kind "ScaledJob" in version "keda.sh/v1alpha1"`

## Steps to Reproduce the Problem

  1. Copied the sample into yaml file from https://keda.sh/docs/2.0/concepts/scaling-jobs/#details
  2. Save the file n

[2020-09-24 09:07] QuintinBecker opened #1190 "KafkaScaler - Use Configmap for setting topics / bootstrapServers / consumerGroup"
We are using configmaps to configure the deployments for our Keda-Scaled service and would like to use same Configmap for the ScaledObject as well.

### Use-Case

By using configmaps to configure ScaledObject and Deployment at the same time, chenges only need to be done in configmaps.
As we use different brnaches for DEV/PROD we currently need to adopt the ScaledObject for each branch.

### Specif

[2020-09-24 09:48] tomkerkhove opened #1192 "Provide support for mounting GCP service key file for GCP scalers"
Provide support for mounting GCP service key file for GCP scalers instead of environment variables.

Original request on https://github.com/kedacore/keda/discussions/1188.

[2020-09-24 10:10] tomkerkhove commented on #1181
Thanks for the feedback, unfortunately we don't maintain that one but I'll try to update all of our samples to at least specify the version.

[2020-09-24 10:10] tomkerkhove commented on #1181
Ok to close this issue then?

[2020-09-24 12:58] gldraphael opened #1193 "v2.0.0-beta1.1 installs CRDs in keda.k8s.io"
## Expected Behavior

1. `keda-operator` should start without problems.
2. CRDs should be installed in the `keda.sh` apigroup.

## Actual Behavior

1. `keda-operator` doesn't start...

[code]

1. ...seemingly because it can't find the CRD:

[code]

## Steps to Reproduce the Problem

Install the helm chart version keda-2.0.0-beta1.1.

[2020-09-24 13:04] gldraphael commented on #1193
This is like noticing a typo after sending an email --

The issue seems to be fixed in the keda-2.0.0-beta1.2 chart. I had to uninstall the old chart first for it to work:

[code]

[2020-09-24 13:04] #1193 closed

[2020-09-24 13:30] zroubalik commented on #1193
@gldraphael thanks for the info!

[2020-09-24 14:10] anggao opened #1194 "Avoid exception when CRD doesn't follow Pod spec shape"
A clear and concise description of what the bug is.

## Expected Behavior
KEDA should be able to scale custom resources as long as the target CR defines /scale subresource

## Actual Behavior
For [SeldonDeployment CR ](https://github.com/SeldonIO/seldon-core/blob/master/operator/apis/machinelearning.seldon.io/v1/seldondeployment_types.go)

Got the following exception

[code]

It seems there is a r

[2020-09-24 14:56] zroubalik commented on #1194
@anggao expressed an interest in fixing this

[2020-09-24 14:59] zroubalik commented on #1189
@karthikeyanVK could you please confirm the KEDA version, in the description you mentioned KEDA 1.0.

But ScaledJob is present only for 2.0.0 (2.0.0-beta) to be specific.

You should chech that ScaledJob CRD is installed in the cluster

`kubectl get crd | grep keda`

[2020-09-24 15:03] zroubalik commented on #1189
this might be related: https://github.com/kedacore/keda/issues/1193

[2020-09-24 15:04] tomkerkhove commented on #1002
Great to hear, are you willing to contribute this? I think this would be a great addition!

[2020-09-25 08:06] rangp commented on #1181
No. I think the discussion has drifted a bit off-topic. The original issue is that our connection string cannot be parsed and is not related to the queueLength / messageCount confusion. At least I think it isn't

[2020-09-25 10:10] rangp commented on #1181
In fact I corrected the property name now and it doesn't have an influence on the error message

[2020-09-25 10:42] rangp opened #1197 "ResolveContainerEnv does not consider interdependent environment variables"
This is a follow up of #1181 . Turns out my connection string cannot be parsed because I am setting it up using [interdependent environment variables](https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/)

My setup looks like this:

[code]

Which I use, since I have around 20 topics and do not want to maintain 20 different secrets, as the connection

[2020-09-25 10:44] rangp commented on #1181
@tomkerkhove I suspect I know what you mean now by "we don't maintain that one". I did some digging on my own and found a different reason for the error message I am getting. I'm closing this issue since it was misleading and opened #1197.

Thanks for the support so far!

[2020-09-25 10:44] #1181 closed

[2020-09-25 10:53] zroubalik commented on #1197
Agree, we should support this. @rangp Are you willing to contribute this part?

[2020-09-25 11:02] rangp commented on #1197
@zroubalik in theory yes, in practice I have 0 experience in go. I suspect keda should use the logic here https://github.com/kubernetes/kubernetes/blob/88512be213159f87ed2dad07f75c02d355eadac5/pkg/kubelet/kubelet_pods.go, or at least emulate it.

But I don't think I will be able to contribute much in terms of a pull request.

[2020-09-25 11:13] zroubalik commented on #1197
@rangp okay, no worries.

For reference, this seems like relevant parts:
https://github.com/kubernetes/kubernetes/blob/88512be213159f87ed2dad07f75c02d355eadac5/pkg/kubelet/kubelet_pods.go#L681

 https://github.com/kubernetes/kubernetes/blob/3a7d7101c505cb2c373261dbd0491eae117deeb9/third_party/forked/golang/expansion/expand.go#L38

[2020-09-25 12:33] tomkerkhove commented on #1181
Oh thanks for that! Sorry, didn't have time yet to check.

[2020-09-27 03:54] mosesyou commented on #1197
Can I try to work on this? I am interested in this.

[2020-09-27 11:31] zroubalik commented on #1197
@mosesyou that's great, absolutely, go ahead 👍  Would be great to add some tests for env resolving as part of this effort.

[2020-09-28 09:17] karthikeyanVK commented on #1189
This one worked. I uninstalled and reinstalled the Beta version of KEDA using the below command.

`kubectl apply -f https://github.com/kedacore/keda/releases/download/v2.0.0-beta/keda-2.0.0-beta.yaml`

[2020-09-28 09:17] #1189 closed

[2020-09-28 13:43] recet commented on #1163
Unfortunately, the --horizontal-pod-autoscaler-cpu-initialization-period` and the `--horizontal-pod-autoscaler-initial-readiness-delay` flags are not configurable by the hpa spec today. [ref](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details)

Not even sure if it is feasible then? Maybe this should be a request to kubernetes project directly?

[2020-09-28 22:27] ycabrer opened #1200 "postgres scaler uses full connection string in metric name"
The metric name is exposing the full connection string as the metric name. Ideally, we wouldn't have a metric name with the credentials and URL to hit postgres.

## Expected Behavior
A metric name that does not expose DB credentials

## Actual Behavior
A metric name that exposes DB credentials

## Steps to Reproduce the Problem

  1. Create a postgres scaler with `s.metadata.connection` defined

[2020-09-30 07:40] zroubalik commented on #1163
Yeah, unfortunately that's not something that we can do from KEDA side, as we rely on HPA for the scaling part.

[2020-09-30 07:42] zroubalik commented on #1200
@ycabrer we are doing this, because we need a way how to generate unique Metric Name for each Trigger in the ScaledObject. Do you have any idea how to modify that part to not contain full connection string, but the resulting Metric Name is unique (and always the same for the same Trigger?).

[2020-09-30 09:16] #701 closed

[2020-09-30 09:25] silenceper commented on #1160
fixed in #1202

[2020-09-30 09:25] #1160 closed

[2020-09-30 17:33] ycabrer commented on #1200
@zroubalik That makes sense, I don't think it will work though if multiple triggers use the same connection string. Two triggers with separate queries and the same connection will end up with the same name.

What would be truly unique is somehow a combination of the query being used, database host, and name. A hash value? That's not very human friendly. Ideally, the metric name would be easy to id

[2020-09-30 19:17] zroubalik commented on #1200
@ycabrer yeah, that's true. We were thinking about this and the benefit is, that user don't have to care about this setting (as it is KEDA internal only) and another point is, that other scalers solve this programatically as well, so we have the same experience for all scalers.

Looking at the code, you are right about the the connection setting and uniqueness, we should fix that first, so it is a

[2020-10-01 08:12] silenceper commented on #1107
already use golangci #1155

/close

[2020-10-01 08:28] recet commented on #1163
thanks for the response @zroubalik. I guess we can close this issue in that case.

[2020-10-01 08:29] #1163 closed

[2020-10-01 08:29] recet commented on #1163
This parameter should be given to the HPA object setting in Kubernetes as KEDA relies on HPA for the scaling part.

[2020-10-01 08:34] #1107 closed

[2020-10-01 08:37] silenceper commented on #1158
`goimport` was add in #1205

[2020-10-01 17:46] ycabrer commented on #1200
@zroubalik

Issue 1 (Password in Metric Name):
We can remove the password from the connection string by parsing it as a URL, grabbing the password, and doing a string replacement. That's how the net/http package seems to handle masking credentials.

Issue 2 (Uniqueness of Metric Name):
I like the idea of basing it off of the connection string (without the password) and the query. My only concern i

[2020-10-01 17:48] ycabrer commented on #1200
Let me know your thoughts. I can't seem to get out of my thought loop. There might be a better way.

[2020-10-02 09:44] silenceper commented on #1183
I am interested in completing this feature.

I think there are two ways to achieve this:
1. Set the `triggers` field as an optional field, and use the settings in `horizontalPodAutoscalerConfig` to generate hpa objects.
2. Add a new scaler, which means cpu/memory built-in resources. Thus replacing `horizontalPodAutoscalerConfig.resourceMetrics`(abandon this field)

@tomconte  Which way is more app

[2020-10-02 09:55] tomkerkhove commented on #1183
Our idea is to use a scaler definition which defines the CPU/Memory needs and just use that for horizontalPodAutoscalerConfig.

Reasoning for that is:
1. We shouldn't reinvent the wheel and just use HPA
2. Provide a trigger for user experience
3. We enforce at least one trigger (which makes sense)

But I can see the confusion if the setting is still there. However, if we remove it then we should h

[2020-10-02 11:22] nithinkd-geon opened #1210 "watch all sub folders in azure blob storage scaler?"
is it possible to watch all subfolders in azure blob storage scaler
like can i provide blobPrefix as "RawData/Processing/{containername}" where {containername} is dynamic and need to listen files in and scale accrodingly

[2020-10-02 12:02] alena-ait opened #1211 "Pod of ScaledJob with Rabbitmq as Scaler lives during 12 minutes after got status "completed""
**## Expected Behavior**
We expected that pod will be deleted after it gets status completed and job is deleted(according to parameter  successfulJobsHistoryLimit). Job was deleted but its pod still present during 12 minutes in status completed

**## Actual Behavior**
Pod gets status "completed" , job get status "completed"  and is  deleted but its pod still present during 12 minutes in status com

[2020-10-02 12:29] silenceper commented on #1183
My idea is to add the following configuration, using `resourceMetrics` as a new trigger：
[code]

Of course, the wheel will not be repeated. The resource scaler is only responsible for generating an hpa resource object (in implementation, this scaler may need to be specially processed, instead of generating a `type:External` hpa object like other scalers)

[2020-10-02 12:34] tomkerkhove commented on #1183
I personnaly would intro `cpu` & `memory` instead of `resource` which is less user friendly

[2020-10-02 13:35] silenceper commented on #1183
like this :
[code]

if this design is ok, I plan to implement it.

PTAL @tomconte  @zroubalik

[2020-10-02 13:40] tomkerkhove commented on #1183
What if it's just this:
[code]

[2020-10-02 13:45] silenceper commented on #1183
yes, this will be more user-friendly.

[code]

[2020-10-02 13:58] tomkerkhove commented on #1183
LGTM, thanks!

[2020-10-02 13:59] silenceper commented on #1183
@tomkerkhove

In addition, this scaler is not applicable to ScaledJob.

 

[2020-10-02 14:00] silenceper commented on #1183
/assign me

[2020-10-02 15:28] silenceper opened #1212 "Docs on creating and building a local environment is missing(BUILD.md)"
missing doc `BUILD.md` file in the [CONTRIBUTING.md](https://github.com/kedacore/keda/blob/v2/CONTRIBUTING.md#creating-and-building-a-local-environment)

[2020-10-02 16:12] #1212 closed

[2020-10-04 20:13] audunsol opened #1222 "Calculation of number of scale does not consider number of running jobs properly"
When one job is already running, given that the queue target length is set to 1, and another message is added to the queue (making the visible queue length = 1), KEDA does not scale out a new job until the first job is completed (queue length = 1, number of running jobs = 0), or a new message is added (queue length = 2, number of running jobs = 1, which in turn makes the third job not start until

[2020-10-05 15:06] therahulbhati commented on #1171
@tomkerkhove its working for us. The problem was from our side earlier we creating secrets using YAML, when created secret from file it worked. Thanks for the quick support!!

[2020-10-05 15:06] #1171 closed

[2020-10-05 18:10] TsuyoshiUshio commented on #1211
Thank you for sharing, @alena-ait It was a bug. I solved it on the PR

[2020-10-05 19:29] audunsol commented on #1222
Should be solved by https://github.com/kedacore/keda/pull/1214

Thanks @TsuyoshiUshio !

[2020-10-05 19:29] #1222 closed

[2020-10-05 19:46] #1194 closed

[2020-10-05 23:11] silenceper commented on #1158
/open

[2020-10-06 10:58] prashantmait opened #1226 "Error while using keda 2.0.0-rc Azure servicebus scaler on AKS"
While using the helm install for the 2.0-rc on AKS getting this warning

[code]

Thereafter creating a Servicebus topic based scaler is not getting created properly , it remains in Ready=False state
Doesnt create any corresponding HPA either, so no scaling on events on the service bus topic either.

Tried this on newly created cluster on Azure, based on kubernetes version 1.18.8 and 1.17.9 both

R

[2020-10-06 16:40] ddmendes commented on #1084
Hello! I'd like to work on this issue

[2020-10-06 16:48] tomkerkhove commented on #1084
Thanks! But we already have a PR in the works, sorry..

[2020-10-07 06:53] steeling commented on #159
Any update on this? OSIRIS hasn’t had a commit in quite a while, and the readme has a warning on its stability.

[2020-10-07 10:49] ddmendes commented on #1084
Oh, sorry, didn't notice, just checked there was no one assigned

[2020-10-07 18:29] jmhoeft opened #1230 "Cloudwatch scaler - Support cloudwatch metrics with multiple dimensions"
Support cloudwatch metrics with multiple dimensions

### Use-Case

Right now the cloudwatch scaler only lets you specify a single dimension name and value.  This means you can't scale on any metrics with multiple dimensions.

### Specification

It would be great to be able to specify a list of dimensions in the ScaleTrigger:

[code]

[2020-10-07 22:03] jmhoeft commented on #1230
The cloudwatch GetMetricData call definitely supports multiple dimensions on the metric, the limiting factor here is the ScaleTriggers Metadata being `map[string]string`. I already did some work to prove this out but wanted to hear if you folks had any thoughts on how to implement this.

[2020-10-08 07:48] zroubalik commented on #1226
@tbickford @tomkerkhove any idea what could be wrong with helm in this case?

[2020-10-08 09:52] slayer opened #1231 "Namespaces stuck in Terminating state"
## Expected Behavior
Namespaces should delete successfully

## Actual Behavior
Namespaces stuck in `Terminating` state

## Steps to Reproduce the Problem

  1. Install keda to cluster

## Specifications

  - **KEDA Version:** 2.0.0-rc
  - **Platform & Version:** GKE
  - **Kubernetes Version:** 1.17.9-gke.1504
  - **Scaler(s):** prometheus

  - **Addons**: certmanager, argocd, nginx-ingress

I inst

[2020-10-08 12:47] ravikumarmistry opened #1232 "Service bus scaler not scaling to more then 1 instance."
I am defining a scaledobject using a service bus trigger but it is not scaling to more than 0 to 1 instance. service bus has 50 messages in topic.  following is the yaml file

[code]

here are some of the output of `kubectl` cmd
_kubectl get scaledobject.keda.sh -n demo-k
kubectl describe scaledobject.keda.sh/azure-servicebus-so -n demo-k_
[code]
_kubectl get pods -n keda
kubectl logs -f -n keda k

[2020-10-08 13:41] junhong-leanix opened #1233 "Provide environment injection for other fields in Postgres scaler other than password"
Provide support for using environment variables in fields other than `password` in Postgres scaler.

### Use-Case

In our company's setup, all required information for database connection such as host, port, dbname, user and password are only available as K8s secrets, and it is maintained by a separate infrastructure team. For us developer, it is completely transparent and we just need to know whi

[2020-10-08 17:17] TsuyoshiUshio commented on #1035
I think this issue ok for now.

[2020-10-08 17:17] #1035 closed

[2020-10-08 19:32] TsuyoshiUshio commented on #636
@zroubalik  Yes. I implement visible queue count for Azure Storage Queue.

[2020-10-08 19:37] TsuyoshiUshio commented on #636
Also, you can use Scaling strategy as `accurate` it will perfectly solve this issue. https://github.com/kedacore/keda/pull/1227

[2020-10-09 11:37] zroubalik opened #1234 "Add Argo Rollouts e2e test"
KEDA v2 can scale CustomResource, we should add scenario to cover [Argo Rollouts](https://github.com/argoproj/argo-rollouts).

We can reuse existing Scalers e2e tests, just add the target deployment as a Argo Rollout

E2E test: https://github.com/kedacore/keda/tree/v2/tests

[2020-10-09 11:50] zroubalik commented on #1231
What KEDA related objects are in those namespaces? If KEDA is still installed on the cluster and you remove ScaledObjects from the cluster, KEDA will remove finalizers on those objects and there should be any problem with deleting the namespaces.

[2020-10-09 11:55] zroubalik commented on #1232
The KEDA Metrics Server is not running correctly. Could you check the deployment is ok? And I can see you are running on Kubernetes v1.15, KEDA is supported only on k8s version >= 1.16. (see the note: https://keda.sh/docs/2.0/deploy/)

[2020-10-09 13:07] eashi commented on #994
Anyone working on this one? Maybe I can pick it up if not.

[2020-10-09 13:42] zroubalik commented on #994
@eashi I am not aware of that. That would be really awesome if tou could contribute this 🎉

[2020-10-09 20:26] slayer commented on #1231
I have KEDA in the cluster. I installed it for test and I created ScaledObjects only in one namespace - `review-keda-test`.
And I start experiencing problems with other namespaces (without ScaledObjects) and they stuck in `Terminating` state.

[2020-10-09 20:45] ravikumarmistry commented on #1232
@zroubalik thanks
it is working on 1.16 k8s

[2020-10-10 09:27] #1232 closed

[2020-10-11 13:09] gordonbondon commented on #1231
I've stumbled upon the same issue. In my case it was caused by leftover `apiserver`. To check this you can do:

[2020-10-11 13:35] itamarbitton opened #1238 "Azure Storage Queue Scaler "cooldownPeriod" Parameter Doesn't Work As Expected"
When overriding the "cooldownPeriod" parameter there seems to be no difference in behaviour, the downscaling of pods still happens after the default 300 seconds.

## Expected Behavior
Pods downscaling after X seconds where X is the new override "cooldownPeriod" parameter

## Actual Behavior
Pods always downscaling after 300 seconds (the default value for the "cooldownPeriod" parameter)

## Specifi

[2020-10-11 14:02] gordonbondon opened #1239 "InfluxDB metrics Scaler"
Provide a scaler based on a query to InfluxDB (similar to Prometheus or CloudWatch)

  - **Scaler Source:** [InfluxDB](https://github.com/influxdata/influxdb) is a popular timeseries DB.
  - **How do you want to scale:** Scale on target value from [Flux](https://docs.influxdata.com/influxdb/v2.0/query-data/get-started/) query. Similar to zalando metrics adapter [here](https://github.com/zalando-in

[2020-10-12 05:08] tomkerkhove commented on #1211
In that case, can we close this issue thanks to #1214?

[2020-10-12 05:11] tomkerkhove opened #1240 "Switch default namespace from `keda` to `keda-system`"
I'm seeing more and more project using `{project}-system` as a naming convention for the Kubernetes namespace.

What are your thoughts on following that? It feels more explicit in what the goal is with `keda-system` rather than `keda` but it might just be me.

[2020-10-12 05:19] tomkerkhove commented on #1226
Can you share the following please :
- Your raw ScaledObject YAML
- Logs from the KEDA operator

@zroubalik This is still the same issue. I would just remove support for Helm 2 since it's dead end and we can't manage to work around it so I would rather focus on some other features over fixing this one.

[2020-10-12 07:52] zroubalik commented on #1239
@gordonbondon PR would be great!

[2020-10-12 07:53] zroubalik commented on #1226
@tomkerkhove I don't have a problem with dropping Helm 2 support. It's up to you guys @tomkerkhove @tbickford

[2020-10-12 08:14] dmeytin commented on #1238
Just a note to the case: we tried setting X to be greater and less than 300s and it doesn't work.

[2020-10-12 09:19] zroubalik commented on #1240
I personally don't see a push to change this, but leave it up to others.

(my 2 cents: I don't see a particular benefit from this change and it could potentially break existing installations, if user does update)

[2020-10-12 12:40] tomkerkhove commented on #1240
Yeah, fair point! Closing.

[2020-10-12 12:40] #1240 closed

[2020-10-12 15:13] harshik9 opened #1241 "Unable to connect to confluent kafka"
I am trying to implement KEDA for Confluent Kafka.  I have tested out different scenarios but the error i get is

[code]

I deployed a scaled object as follows.

**Scenario 1 without TriggerAuthentication**
[code]

**Scenario 2 with TriggerAuthentication**
[code]

## Expected Behavior

After deploying the scaled object, it should get the hpa.

## Actual Behavior
`ERROR	controllers.ScaledObject	Fai

[2020-10-12 22:49] #1197 closed

[2020-10-13 03:14] chinnasamyb commented on #911
Were you able to deploy multiple KEDA operators with each watching single namespace to  handle the scalability issue of the scaler?

[2020-10-13 05:19] tomkerkhove commented on #1241
I'm not a Confluent Kafka expert, does it run inside your cluster or do they manage it? From the looks of it, the address (kafka.svc:9092) points to a local service (which is also the one from our docs), is that correct?

[2020-10-13 05:39] #1161 closed

[2020-10-13 06:44] #1094 closed

[2020-10-13 06:45] tomkerkhove commented on #1094
There's no added value for now

[2020-10-13 08:18] alash3al opened #1243 "(error) WRONGTYPE Operation against a key holding the wrong kind of value"
We have a redis-based queue (`zset` listType) in one of our apps and we consume from it very quickly, the case is
the code [here](https://github.com/kedacore/keda/blob/071d5a0732c547cf58199fab0772fcee5c9efc85/pkg/scalers/redis_scaler.go#L168) is trying to detect the type of key, when it returns none (redis returns none if the set is empty), then the code deals with it as `list`, so it executes `ll

[2020-10-13 08:33] zroubalik commented on #1243
Does the error message specify the correct type?

Other solution could be to handle the `none` type separately, ie.:
try `llen` first, if there's a type related error -> use correct type extracted from the error message or ask for the correct type once again.

[2020-10-13 08:47] alash3al commented on #1243
@zroubalik  the root cause is that the (getType then getLen) should be atomic somehow

[2020-10-13 09:03] zzxwill opened #1244 "behavior block lost in generated HPA instance"
With Keda 2.0-beta, I tried to deploy a `ScaledObject` to scale deployment `php-apache` with the following manifest.
[code]

## Expected Behavior
The `scaleUp` section should scale the replicas from 4 to 10 one by one as the percentage is 25%.

## Actual Behavior
It double the replicas 100% each time, from 4, to 8, and to 10 at last.
[code]

## Steps to Reproduce the Problem

  1. create a deploym

[2020-10-13 09:57] silenceper commented on #1244
Check the log in keda-operator, check the KEDA Commit ID, make sure to include this  #1177.

[2020-10-13 10:03] zroubalik commented on #1243
@alash3al yeah, I understant that. But since that is not atomic, we can try to recover from the error when accessing `none` type (there shouldn't be such problems with other types). What do you think about the solution I proposed?

[2020-10-13 10:56] alash3al commented on #1243
the error doesn't specify anything, it is as I posted in the issue title, so it invalidates your solution.

In my opinion the proper solution would be executing a lue code in redis directly.

[2020-10-13 10:56] harshik9 commented on #1241
Our confluent Kafka does not run on kubernetes cluster. Confluent Kafka bootstrap servers would look something like this pkc-xxxxx.eastus2.azure.confluent.cloud:9092

[2020-10-13 11:11] zroubalik commented on #1243
OK, so if it is this kind of error we can ask for the type again. And then do the proper request.

This is a better option for sure, are you willing to contribute this?

[2020-10-13 11:12] zroubalik commented on #1241
@harshik9 okay, so that's the value that should be in `bootstrapServers` section.

[2020-10-13 11:36] harshik9 commented on #1241
@zroubalik, yes. We tried by using that value in the bootstrapServers. What should be the sasl value when connecting to confluent Kafka.

[2020-10-13 11:36] #1183 closed

[2020-10-13 11:41] alash3al commented on #1243
Sure, I've no problem contributing to this issue

[2020-10-13 12:23] anggao commented on #1234
@zroubalik I can do this, if no one take it :)

[2020-10-13 13:06] zroubalik commented on #1234
@anggao great, go ahead!

[2020-10-13 13:24] domminiks commented on #1241
Same issue here running a Kafka cluster locally, alongside with Keda installed on an on-premise K8s cluster. As a test, I created a Pod and was able to curl Kakfa topics from inside that Pod on my K8s. Apparently, Kafka cluster is reachable from inside my K8s cluster (initially I thought that that was the problem) but it feels like it is Keda that cannot reach Kafka endpoints.

Currently running K

[2020-10-13 13:28] zroubalik commented on #1241
The scenario you described here above, is Kafka with or without authentication?

[2020-10-13 14:47] tomkerkhove commented on #788
Let's close since it's part of our YAML & chart?

[2020-10-13 15:24] domminiks commented on #1241
Without authentication.

[2020-10-13 15:31] OrenLederman opened #1247 "Keda keeps managing deleted ScaledJobs"
The Keda operator logs still show that it's querying the queues after the ScaledJob is deleted. I believe it also tries to instantiate Jobs (and fails) if there are work items in the queue. I used it with a GCP PubSub scaler

Workaround - restart the operator

## Expected Behavior
Keda should identify deleted ScaledJobs and stop querying their queue

## Actual Behavior
Keda keeps querying delete j

[2020-10-13 16:31] zroubalik commented on #1247
@TsuyoshiUshio PTAL

[2020-10-13 16:39] #788 closed

[2020-10-13 18:20] ddmendes commented on #1081
Hello, I'd like to work on this ticket

[2020-10-13 18:58] arschles commented on #1133
I would like to work on this. I'll send a draft PR as a start.

[2020-10-13 19:40] turbaszek commented on #1081
@aman-bansal is this ticker still open? Don't we support JWT in #1137?

[2020-10-14 08:00] jeffhollan commented on #1238
Also when you say downscale do you specifically mean from 1 instance to 0 instances? Scaling from n instances to n-1 (non zero) is handled entirely by HPA and this setting wouldn’t have an effect. How long is the queue message processing in your container?

[2020-10-14 12:39] jessm12 opened #1253 "IBM MQ Scaler"
Hi team KEDA! We have been working on an IBM MQ Scaler that we would like to contribute. We have had a chat with @zroubalik and we are ready to open Pull Requests for the scaler code, docs and sample to be linked that we have put together that we would love feedback on 🙂 We plan to attend Thursday's community meeting. You can take a look at our code at:

- https://github.com/ibm-messaging/mq-keda/

[2020-10-14 16:05] Lefthander commented on #1247
Just want to confirm the similar bug under AWS EKS platform:

KEDA Version: 2.0.0-RC
EKS Version: 1.17-eks.3
AMI release version: AMI 1.17.11-20201007
AMI type: AL2_x86_64
Scaler:  aws-sqs

[2020-10-14 23:13] TsuyoshiUshio commented on #1247
Thank you guys.
It seems an issue of the ScaledJob finalizer. I'll try to repro it.
I'm pretty busy for a couple of days, however, after that, I'll do it.

[2020-10-15 04:34] OrenLederman opened #1257 "[v2] Keda operator seems to have a memory leak when handling ScaledJob (with a pubsub scaler)"
Keda operator consumes increasing amount of memory. In a GKE installation with a single ScaledJob, it used 1.6gb of memory after 12 hours.

## Expected Behavior
Operator memory should remain mostly constant

## Actual Behavior
I observed this behavior on clean cluster installations, both on GKE and Minikube. Attempted the following:
* Keda only. Minor memory increase
* Keda with a single ScaledJob

[2020-10-15 06:08] OrenLederman commented on #1257
Another interesting piece of information - the cpu load and memory usage graphs seem correlated. If I had to guess, this is not exactly a memory leak. Instead, there's a data structure that the operator keeps adding data to (which explains the increase of memory), and it traverses this data structure periodically (which explains the increase of cpu load)

[2020-10-15 07:34] aman-bansal commented on #1081
No, #1137 supports basic, apikKey and tls. This hasn't been implemented yet.

[2020-10-15 08:36] zroubalik commented on #1247
@TsuyoshiUshio I can take a look on this one.

[2020-10-15 08:59] zroubalik commented on #1247
@OrenLederman good catch, thanks for the reporting!

[2020-10-15 09:50] #947 closed

[2020-10-15 09:50] zroubalik commented on #1063
@hila3000 is this still an issue?

[2020-10-15 09:52] #636 closed

[2020-10-15 09:53] #529 closed

[2020-10-15 09:54] #801 closed

[2020-10-15 09:56] zroubalik commented on #712
@tomkerkhove can we close this one?

[2020-10-15 09:57] #789 closed

[2020-10-15 10:02] zroubalik commented on #1243
Done

[2020-10-15 10:02] #1243 closed

[2020-10-15 10:02] zroubalik commented on #1185
@tomkerkhove any update on this? Or can we close this issue?

[2020-10-15 10:03] #1211 closed

[2020-10-15 10:06] #1069 closed

[2020-10-15 10:33] harshthakur9030 commented on #1192
Has anybody taken this up ?

[2020-10-15 10:52] zroubalik commented on #1192
I am not aware of anyone.

[2020-10-15 10:54] harshthakur9030 commented on #1192
Would be glad to take it up !  So I see that gcp scaler is reading auth creds from config.TriggerMetadata . So if I change it to read from config.Auth , will it just work or are there any other changes that I would need to do?
https://github.com/kedacore/keda/blob/v2/pkg/scalers/gcp_pub_sub_scaler.go

[2020-10-15 11:58] #1234 closed

[2020-10-15 12:27] aman-bansal opened #1262 "add e2e test for metric api scaler with all possible authentication"
API authentication was introduced in this PR https://github.com/kedacore/keda/pull/1137. We need to add e2e tests for this.

[2020-10-15 12:31] hila3000 commented on #1063
@zroubalik We encountered this in Production and didn't have the need to manually replace the image version name since then.
I'll try to replicate it in dev (where we deployed the version you built with the client close due to the other errors I reported) and let you know. Thanks for checking in.

[2020-10-15 12:37] aman-bansal opened #1263 "TLS client is build with InsecureSkipVerify"
`InsecureSkipVerify` while defined TLS client is not recommended in production systems. This is susceptible to man in the middle attack. Only for internal testing, this should be enabled.

## Expected Behavior
One of the hidden features of TLS is hostname verification. While defining client, `ServerName` verification is needed to detect if there is any routing via man in the middle attack. For thi

[2020-10-15 12:45] aman-bansal commented on #1262
@zroubalik I am starting with this :)

[2020-10-15 13:23] emedina opened #1264 "Support label selectors in the ScaledObject spec to allow fitting dynamic deployments"
Extend the current spec here:

https://keda.sh/docs/1.4/concepts/scaling-deployments/#scaledobject-spec

with label selectors (Kubernetes approach) to support deployments whose name is dynamic.

### Use-Case

Currently, the only way to select the target deployment to scale is through this spec:

https://keda.sh/docs/1.4/concepts/scaling-deployments/#scaledobject-spec

IMHO, this is very restricted

[2020-10-15 14:14] tomkerkhove commented on #712
Certainly!

[2020-10-15 14:14] #712 closed

[2020-10-15 15:59] OrenLederman commented on #1247
Happy to help. Thank you for working on this tool - it's just what I need for my long-running jobs.

[2020-10-15 16:01] #1247 closed

[2020-10-16 07:43] samuel-sujith opened #1266 "HPA does not reflect minpods change"
A clear and concise description of what the bug is.
I am trying to use the kafka trigger scaler. When i deploy the scaled object first time, I am using the below yaml

'''yaml
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: kafka-scaledobject-cic-adapter
  namespace: coper
  labels:
    name: coper-adapter # Required Name of the deployment we want to scale.
spec:
  scaleTargetRef

[2020-10-18 02:55] harshik9 commented on #1241
I was able to connect to confluent kafka with Authentication by going down on the KEDA version to 1.5.  https://keda.sh/docs/1.5/scalers/apache-kafka/
The authmode that I used is sasl_ssl_plain. I deployed all the files from here --> https://github.com/kedacore/keda/releases/tag/v1.5.0 from the deploy folder.

[2020-10-18 07:01] tomkerkhove opened #1269 "Change community standup to Tuesdays"
Chang community standup to Tuesdays after our recent standup.

Things to update are :
- Website
- Repo
- Google 🗓

[2020-10-19 03:07] silenceper commented on #1266
hpa not support set `MINPODS` to zero. see:
https://github.com/kedacore/keda/blob/4b4e4736e6c5e7f622c9771d46a8c136967b63a5/controllers/hpa.go#L192-L198

If `minReplicaCount` is set to 0, there is a task cycle in keda. When the triggers is not active, the replicas of the workload will be directly set to 0.

[2020-10-19 08:40] zroubalik commented on #1241
Hm that's strange, unfortunately I am not able to reproduce that. I am using in-cluster Kafka (instaled via Strimzi) and it is working (the same for our [e2e tests that are passing](https://github.com/kedacore/keda/runs/1272619367?check_suite_focus=true)).

Is there anything non standard in your Kafka config?

[2020-10-19 08:44] zroubalik commented on #1241
@harshik9 for that you used the same configuration of ScaledObject and TriggerAuthentication?

[2020-10-19 08:44] zroubalik commented on #1241
@harshik9 for that you used the same configuration of ScaledObject and TriggerAuthentication?

[2020-10-19 10:11] silenceper commented on #1158
@zroubalik  please reopen.

[2020-10-19 10:15] zroubalik commented on #1158
@silenceper thanks, it was automatically closed by the linked PR.

[2020-10-19 10:21] zroubalik commented on #1161
Hi @silenceper,

I am very sorry for the delay with a response.

Thanks a lot for your interested, we definitely welcome a help on improving the project. And thanks for your recent contributions too!
Unfortunately our maintainer board is full at the moment, so we cannot have you as a new maintainer. But as the maintainer board changes, we will definitely consider you to become a maintainer!

Pleae

[2020-10-19 10:31] silenceper commented on #1161
@zroubalik
Thank you for your attention to my request and reply.
I also look forward to the day when I become a maintainer. 😄

[2020-10-19 11:38] winjer opened #1271 "panic when creating a new hpa"
This is with v2.0.0-rc, I am getting:

[code]

scaledobject:

[code]

[2020-10-19 11:38] zroubalik commented on #1161
Btw joining our community call is a good starting point 🙂

[2020-10-19 12:57] tomkerkhove commented on #1185
Works now, must be corrupted state going from v1.x to v2.0-rc

[2020-10-19 12:57] #1185 closed

[2020-10-19 13:32] eashi commented on #994
On which branch should I do this this btw? I have been working on `master`, but I haven't gone too deep  yet and I can back track if necessary.

[2020-10-19 13:52] zroubalik commented on #994
@eashi `v2` please 🙂

[2020-10-19 16:22] steeling commented on #159
@yaron2 is this issue worth reopening? Looks like Osiris is unstable.. "Osiris, as a concept, is highly experimental and currently remains under heavy development.", although "heavy development" seems outdated, with the last commit to master that touched actual code (not just documentation or install scripts), being in Nov 2019.

EventGrid would be really nice to have since it provides a single ap

[2020-10-19 17:51] cwoolum commented on #159
I got this working fine with just Osiris. Based on the docs, it seems unstable but I didn't run into any issues.

It wouldn't really make sense to use Keda for this because EventGrid is not true Pub/Sub when using webhooks. When EventGrid receives messages and has a webhook subscriber, it's just begin sending messages to the endpoint without confirmation of actually having anyone listening. This i

[2020-10-19 18:29] steeling commented on #159
Can you expand on that? Looks like it does have built-in retry/dead lettering and waits for a 200 response from the eventhandler

https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#retry-schedule-and-duration

[2020-10-19 18:38] cwoolum commented on #159
EventGrid waits for a 200 to determine if the message was received successfully, but it doesn't wait to send the messages like something like RabbitMQ, Azure Service Bus, or EventHub would do. As soon as the messages are received, EventGrid will attempt to send them to a webhook subscriber.

The reason Osiris works well with this is that it will hold the request open until a pod spins up and is ab

[2020-10-19 21:20] harshthakur9030 opened #1273 "Provide trigger authentication support for GCP scalers"
GCP should support TriggerAuthentication like other scalers

### Use-Case
This is more secure

Would be happy to take this issue up with little guidance.
I see that gcp scaler is reading auth creds from config.TriggerMetadata . So if I change it to read from config.Auth , will it just work or are there any other changes that I would need to do?

[2020-10-20 00:32] steeling commented on #159
Gotcha that makes sense, thanks for clarifying that!

One last question: with what looks like osiris falling out of maintenance, and with this feature seeming to be highly desirable does it make sense to pull in this functionality into Keda itself? That would open up leveraging CloudEvents, Azure EventGrid, and many other push-based event queues. Just a thought, thanks again for all your help!

[2020-10-20 06:04] tomkerkhove commented on #1273
We are certainly open for contributions @harshthakur9030, thanks for the suggestion!

Adding @zroubalik for guidance

[2020-10-20 06:10] tomkerkhove commented on #1269
Google 🗓 is updated ✔

[2020-10-20 06:48] knepe opened #1275 "CPU/Memory scalers not working in 2.0.0-rc"
I'm trying to test out the cpu/memory scalers, but its keda-operator does not seem to recognize it.
Im getting this in the logs:
`2020-10-20T06:32:27.721Z	ERROR	controller	Reconciler error	{"reconcilerGroup": "keda.sh", "reconcilerKind": "ScaledObject", "controller": "scaledobject", "name": "scaled-obj-name", "namespace": "default", "error": "error getting scaler for trigger #0: no scaler found fo

[2020-10-20 07:47] zroubalik commented on #1275
Yeah, it is not a part of RC, we are gonna release RC2 soon (in a matter of days), which will contain this scaler.

[2020-10-20 07:47] #1275 closed

[2020-10-20 07:51] zroubalik commented on #1273
I think this should do the job :)

[2020-10-20 16:00] cwoolum commented on #159
You are welcome! @zroubalik and @yaron2 might be able to give feedback on bringing Osiris into Keda.

[2020-10-20 16:56] yaron2 commented on #159
Personally, I'd like to see Osiris functionality being pulled into KEDA. As a de-facto autoscaler for Kubernetes, KEDA needs to support both models of communications, being event driven (asynchronous) and request/response (synchronous) based.

[2020-10-20 17:10] ddmendes commented on #1081
Thanks, I'll work on it!

[2020-10-20 17:51] zroubalik commented on #159
I don't think we are going to add Osiris or it's subcomponents directly in the KEDA. But External push scaler could be a way how to plug things together. https://keda.sh/docs/2.0/scalers/external-push/

[2020-10-20 18:43] kenotsolutions commented on #1275
Thanks for the update,

I was testing and got the same error. When can you **release** it?

[2020-10-20 19:46] aman-bansal commented on #1082
@tomkerkhove this is done. can we please close this issue.

[2020-10-20 19:47] aman-bansal commented on #1083
@tomkerkhove this is done. can we close this issue :)

[2020-10-20 22:33] kenotsolutions opened #1277 "mysql-scaledobject no error no pod scale"
A clear and concise description of what the bug is.

## Expected Behavior
check MySQL query and scale pointed deployment

## Actual Behavior

I see the scaledobject is ready and there is no error on the kade-operator pod's log

## Steps to Reproduce the Problem

  1.  MySQL created and prepared for the query
  2.  php-apache deployment created
  3. scale object created

## Specifications

  - **KE

[2020-10-21 04:36] tomkerkhove commented on #1083
Thanks!

[2020-10-21 04:36] #1083 closed

[2020-10-21 04:36] tomkerkhove commented on #1082
Thanks!

[2020-10-21 04:36] #1082 closed

[2020-10-21 09:42] zroubalik commented on #1275
@kenotsolutions once this is fixed https://github.com/kedacore/keda/issues/1257

[2020-10-21 10:33] kmr0877 opened #1278 "Provide support for Kustomize"
- Be able to customize yaml files without modifying the original yaml file. Kustomize helps achieve this with greater simplicity
- Kustomize is extremely good at cases where helm can be real pain, few such scenarios can be found with detailed examples in [here](https://itnext.io/helm-is-not-enough-you-also-need-kustomize-82bae896816e)

[2020-10-21 20:51] arschles commented on #1121
Would  #1133 be a step toward this? in the PR for this #1251 creates a long-lived HTTP client that has an internal connection pool

[2020-10-21 20:52] arschles commented on #1070
I'm happy to take this on

[2020-10-22 07:46] zroubalik commented on #1121
@arschles yeah, that's definititely a step forward 👍

[2020-10-22 08:53] zroubalik commented on #1278
Well we are using Kustomize currently, what exactly are you missing?

[2020-10-22 08:55] cwhfa opened #1279 "Getting "no matches for kind "ScaledObject"""
I'm not able to use Keda on my Docker Desktop (Windows 10) Kubernetes cluster. I followed the tutorial here:
https://github.com/kedacore/sample-go-rabbitmq

But i'm getting an error on kubectl apply -f deploy/deploy-consumer.yaml

Output of my keda install:
[code]

## Expected Behavior

The deploy consumer is correctly installed

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1.

[2020-10-22 09:14] zroubalik commented on #1279
Seems like this sample hasn't been migrated to KEDA v2 yet. https://keda.sh/docs/2.0/migration/

@cwhfa Willing to pick this up?

[2020-10-22 12:38] cwhfa commented on #1279
Yes, I created a PR here https://github.com/kedacore/sample-go-rabbitmq/pull/21

[2020-10-22 13:17] tomkerkhove commented on #1040
This is setup to scan Dockerfile during PRs:
![image](https://user-images.githubusercontent.com/4345663/96877198-a4001800-1479-11eb-8934-3f19c95cbac4.png)

Maintainers can view the report in Snyk, unfortunately we cannot make it public.

[2020-10-22 14:22] jaythamke commented on #995
Hi @BretFisher ,
Any idea - how to measure the number images pulled by a non paid docker account? Thanks

[2020-10-22 15:14] BretFisher commented on #995
I don't believe Docker Hub provides pull stats to users beyond the "total pulls" estimate shown in the Web UI.

[2020-10-22 15:19] jaythamke commented on #995
Yes, I have also checked the docker hub api spec but did not find any related to my specific need. I thought I might have missed something, hence asked. Thanks for reply.

[2020-10-22 17:05] hacst opened #1281 "Enable KEDA as a single source of truth on scaler metrics"
Enable KEDA to always output the scaler metrics it determines through a prometheus metrics endpoint for `ScaledObjects` and `ScaledJobs`. This allows it to becomes the single source of truth on metrics on scaling.

### Use-Case
A very common requirement in a job queuing/event processing use-case is having metrics available for monitoring and alerting. The metrics allow alerting on work backing up

[2020-10-22 18:24] arschles opened #1282 "MQTT - based scaler"
I'd like to have a scaler listen to an MQTT source and scale up/down based on incoming messages. This would be useful for Kubernetes clusters that run on the edge (for example, in IoT scenarios and in scenarios where k8s is running on underpowered machines)

  - **Scaler Source:** A scaler to support scaling applications based on incoming MQTT messages. Not intended to support bidirectional commun

[2020-10-22 18:25] arschles commented on #1282
I would be happy to get started on this.

[2020-10-22 18:31] andschneider commented on #1282
I'd be interested in helping out as well!

[2020-10-22 19:15] tbickford commented on #1281
I think having a centralized way of pulling metrics (as opposed to having the metrics adapter and operator pull them separately) would be great but that would require some serious rework I believe.

As an interim step maybe it would make sense to look at what it would take to add Prometheus metrics collecting and exporting to the KEDA Operator first?

[2020-10-22 20:41] hacst commented on #1281
I have basically no knowledge about keda's internals so I'm definitely a good candidate to judge implementation complexity.

From what I understand adding a metrics endpoint to the operator would be able to provide ScaledJobs metrics and do so continuously? That would be a valuable thing on its own I think. We could use it.

Does the operator also have continuous knowledge of the ScaledObject metr

[2020-10-23 06:41] #1279 closed

[2020-10-23 07:22] djj0809 opened #1285 "Support non-public clouds for Microsoft Azure"
The resource name and the queue endpoint suffix should be configurable in triggers.

https://github.com/kedacore/keda/blob/57ffd4ee384db38f1169453cb16b31f00eacffa5/pkg/scalers/azure/azure_storage.go#L34-L64

## Task List

- [x] #1921
- [x] #1916
- [x] #1915
- [x] #1917
- [x] #1918
- [x] #1920
- [x] #1919
- [x] https://github.com/kedacore/keda/issues/2733
- [x] https://github.com/kedacore/keda/issu

[2020-10-23 09:40] silenceper commented on #1158
@zroubalik please  reopen ,thanks . 🤣

[2020-10-23 09:47] zroubalik commented on #1282
I like the idea. It's up to you guys, who wants to work on this! :) Thanks!

[2020-10-23 11:19] zroubalik commented on #1281
It polls continuously to find out whether the scaler is still active or not, so that should be doable.

Btw, KEDA is built on operator-sdk framework, which is based on Kubebuilder. There should be an API to expose metrics, see the docs: https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#metrics

[2020-10-23 11:36] Akhisar opened #1286 "Postgres Scalar: Only password field works on TriggerAuthentication"
#947  Expected Behavior

All other fields like host, database, username, ssl to work on reference to TriggerAuthentication object

## Actual Behavior

Only password works now with TriggerAuthentication. Others produce the below error:
[code]
## Steps to Reproduce the Problem

  1. Create a postgres scalar with authenticationRef.
  2. Define parameter other than password on the TriggerAuthenticatio

[2020-10-23 11:52] zroubalik commented on #1285
@djj0809 are you willing to contribute this?

[2020-10-23 12:00] djj0809 commented on #1285
Would like to, however I’m not quite familiar with go projects...

Zbynek Roubalik <notifications@github.com>于2020年10月23日 周五19:52写道：

[2020-10-23 13:31] OrenLederman commented on #1257
Fixed by https://github.com/kedacore/keda/pull/1284

[2020-10-23 13:31] #1257 closed

[2020-10-23 13:41] zroubalik opened #1287 "Add e2e test for IBM MQ Scaler"
IBM MQ Scaler issue: https://github.com/kedacore/keda/issues/1253

[2020-10-23 13:43] zroubalik commented on #1287
@rcoppen @jessm12 @cpilton @NisheekaNynan1

[2020-10-23 14:36] harshik9 commented on #1241
@zroubalik Our confluent Kafka is on azure. When we used the KEDA 2.0 BETA version. The Authentication parameters were sasl, Username and password. With sasl= plaintext, we were unable to connect but when I went down on the KEDA version 1.5, I had authentication parameters as authMode, username and password. The authMode that i gave was sasl_ssl_plain and this worked for me. I used the same scaled

[2020-10-23 15:04] hacst commented on #1281
Sounds good. If you think this could be a good first issue for someone and no one else already plans to tackle this short term I could try taking a stab at an implementation.

[2020-10-23 15:36] zroubalik commented on #1241
I belive the issue was fixed by #1288 please reopen if the problem still persists

[2020-10-23 17:02] zroubalik commented on #1253
Great job!

[2020-10-23 17:02] #1253 closed

[2020-10-23 17:03] zroubalik commented on #1275
FYI RC2 is out

[2020-10-23 23:03] bwkerbow commented on #1275
@zroubalik Fantastic and quick, thanks. I had this same issue and just installed RC2 into my cluster in hopes of scaling off of CPU.

I know it is just an RC, but if you/y'all are not already aware, it seems as though creating ScaledObjects does not create an HPA resources in RC2. That issue was not present in the 1.5.0 release, but I'm assuming the issue will be fixed in the real 2.0.0 release. P

[2020-10-24 03:06] eashi commented on #1271
I was going through this and then saw that this is fixed by commit https://github.com/kedacore/keda/commit/071d5a0732c547cf58199fab0772fcee5c9efc85#diff-6fc473c7ab48fd3313eaa7e64d19a2dfbff74ff111a4d86e11d12f582b0f83f0

[2020-10-25 13:43] alegmal commented on #476
Hi,

Could you please provide an example for multiple triggers for rabbitmq?

I have deleted KEDA 1.5 and deployed KEDA 2.0.0-rc2 in our dev cluster.

If I create following yaml (single trigger), everything works:
[code]
If I add triggers it breaks (I need 5 but even 2 breaks it):

[code]

Also, in the documentation:
https://keda.sh/docs/2.0/scalers/rabbitmq-queue/

It shows `apiVersion: keda.k8s.

[2020-10-25 13:55] alegmal commented on #759
@zroubalik thanks, I've tried v2 rc2 and encountered problems with multiple triggers for rabbitmq I described in #476. Was I wrong to assume rabbitmq would support multiple triggers too?

[2020-10-25 13:59] zroubalik commented on #476
@alegmal and what problem are you exactly facing?

[2020-10-25 14:14] zroubalik opened #1292 "Add e2e test for multiple scalers per ScaledObject"
Existing e2e tests are testing individual scalers, but in each e2e test, there is just a scenario where only 1 scaler is defined per ScaledObject.

We should add a test where we test multiple scalers (at least 2) in ScaledObject, we can reuse one of the extisting e2e tests for scalers and extend some.

[2020-10-25 14:15] zroubalik commented on #1271
@eashi thanks for the confirmation!

[2020-10-25 14:15] #1271 closed

[2020-10-25 14:38] alegmal commented on #476
Figured it out.

Apparently scaledobjects.keda.k8s.io was not really deleted and it did not let me delete it.
[Workaround](https://github.com/kubernetes/kubernetes/issues/60538#issuecomment-369099998) that worked was:
kubectl patch crd/scaledobjects.keda.k8s.io -p '{"metadata":{"finalizers":[]}}' --type=merge

After running that command it instantly deleted crd/scaledobjects.keda.k8s.io and now ev

[2020-10-25 14:44] zroubalik commented on #476
@alegmal glad to hear that :) Yeah it is important to delete the old CRDs first (https://keda.sh/docs/2.0/migration/#migrating-from-keda-v1-to-v2)

[2020-10-26 06:35] tomkerkhove commented on #995
Nope, they don't provide it indeed, however since the throttling is on the client side based on IP we are good to go for now.

[2020-10-26 06:35] tomkerkhove commented on #997
New mockups with the updated logo are in the works

[2020-10-26 06:35] #963 closed

[2020-10-26 07:22] tomkerkhove commented on #1285
Might be something interesting for @ahmelsayed @jeffhollan

[2020-10-26 07:27] tomkerkhove commented on #1281
Added it to our roadmap to consider and our standup to discuss.

I like the idea, but we need to think this through if we won't be trying to solve two problems badly. But I'm not opposed to it.

[2020-10-26 07:29] tomkerkhove commented on #1281
The reason why I'm saying that is that I also maintain https://github.com/tomkerkhove/promitor and it starts with just adding Prometheus support; until somebody asks for another metric system to support, etc etc.

So I'm just trying to avoid that KEDA become a metric scraper rather than focussing on app scaling.

[2020-10-26 07:31] tomkerkhove commented on #1281
If we just expose the metrics there, I don't see much of a problem to be honest.

[2020-10-26 07:31] tomkerkhove commented on #1281
Bottom line - We need a design doc on this I think :)

[2020-10-26 11:10] rhummelmose opened #1294 "Helm chart v2.0.0-rc2 fails to install on fresh k8s 1.18.8"
Attempting to install the chart fails with error

[code]
<img width="1538" alt="screenshot" src="https://user-images.githubusercontent.com/620878/97165574-378c5e00-1784-11eb-84de-248a92c472e8.png">

## Expected Behavior
It is able to install on a fresh cluster

## Actual Behavior
It does not install

## Steps to Reproduce the Problem

  1. Attempt to install

## Specifications

  - **KEDA Version:

[2020-10-26 15:57] tomkerkhove commented on #997
This will most likely be it!
![KEDA-tee-options-v5](https://user-images.githubusercontent.com/4345663/97196109-5f8fb780-17ac-11eb-8ee4-40fe6c0dea76.png)

[2020-10-26 16:38] kenotsolutions commented on #1277
with the new relase (rc-2) the problem fixed

[2020-10-26 16:38] #1277 closed

[2020-10-26 19:22] iennae commented on #1282
@zroubalik what does the "needs discussion" label mean? It's ok to start implementing right?

[2020-10-26 19:54] andschneider commented on #1282
I started looking into making the scaler and was trying to figure out what to use as the metric value.

Since MQTT brokers don't have the concept of a queue, using queue length or similar wouldn't work. I was then thinking of using number of messages received over a certain period of time. However, I'm not sure if time based scalers are possible. @arschles Is this what you meant with "volume of me

[2020-10-26 19:57] arschles commented on #1282
I didn't have anything specific in mind regarding "volume of messages" -  just an abstract idea. I think that number of messages received over a period of time could work. another idea is to maintain a rolling average of messages received over a window. according to you, @andschneider , you'd need to have KEDA be a subscriber to the queue - not sure if that's ok to do. @zroubalik thoughts on that

[2020-10-26 21:42] arschles commented on #1263
https://github.com/kedacore/keda/pull/1251/files makes some progress towards this. creation of HTTP requests is limited to 1-2 points in the code

[2020-10-27 06:15] tomkerkhove commented on #1263
Is this just for RabbitMQ @aman-bansal?

[2020-10-27 08:34] hinling-sonder commented on #470
We ran into the same situation as @v-yarotsky mentioned. We have datadog installed with datadog-cluster-agent-metrics-api:
[code]
It does not overwrite or break existing `v1beta1.external.metrics.k8s.io` APIService. It just won't install keda and complains about:
[code]

[2020-10-27 08:44] zroubalik commented on #1282
that means that this issue needs some clarification/specification/proposal on how it will be implemented, basically the stuff that you can see is happening.

[2020-10-27 08:47] zroubalik commented on #1282
@arschles so your idea is, that KEDA will subscribe to the topic and will do the calculation (messages received over a window etc) ?

[2020-10-27 10:44] tomkerkhove commented on #470
That issue might be related to https://github.com/kedacore/charts/issues/88

[2020-10-27 10:47] zroubalik commented on #470
@tomkerkhove unfortunately it is not. Looking at that issue and the last error message from the screenshot, it is missing some helm labels, so the validation is failing.

[2020-10-27 18:49] hinling-sonder commented on #470
I did naively try to remove the `24-metrics-apiservice.yaml` chart to work around the problem but of course then you run into another problem with  `v1beta1.external.metrics.k8s.io` routing traffic to `default/datadog-cluster-agent-metrics-api` not `keda-operator-metrics-apiserver` and HPA failed to retrieve the redis metrics...

[code]

I did see you @zroubalik have this issue: https://github.com

[2020-10-28 08:20] leonfibal opened #1297 "Cannot scale deployment with Prometheus and CPU scalers at the same moment"
## Expected Behavior
A deployment is scaled according to both scalers

## Actual Behavior
We have configuration as below:
[code]

Keda-operator-metrics-apiserver reports following error:

[code]

When we enable only one scaler (no matter prometheus or cpu) everything is ok.

## Specifications

  - **KEDA Version:** *2.0.0-rc2*
  - **Platform & Version:** *Ubuntu 16.04.6 LTS*
  - **Kubernetes Versi

[2020-10-28 20:16] bwkerbow commented on #1297
It sounds like this is being worked on, but want to chime in to say I am experiencing same issue. Thanks for PR, silenceper.

[2020-10-29 08:18] #1297 closed

[2020-10-29 08:34] zroubalik commented on #470
@hinling-sonder it is still just a proposal, I should have start working on this in a very near future. But to get it working, a change on Datadog side will be needed as well.

[2020-10-29 15:20] prathap-pft commented on #1277
@kenotsolutions.
Can you please provide an example on how to configure username,password and host with the below connection string from your documentation.

mysql_conn_str: user@tcp(mysql:3306)/stats_db

[2020-10-29 15:31] prathap-pft commented on #1277
OK, I figured out how to configure it finally.
Since the scaler is written in go, you will have to configure as below.
username:password@tcp(hostName:3306)/databasename.
Request you guys to update the document also.

[2020-10-29 16:22] tomkerkhove commented on #1269
I'll update it to 16 UTC as discussed in standup

[2020-10-29 16:44] tomkerkhove commented on #1281
We've discussed this on our standup and decide to provide metrics for all systems we scrape for metrics so they can be re-used in other systems.

[2020-10-30 05:55] andschneider commented on #1282
I'm by no means an MQTT expert either so take this all with a grain of salt, but I did a little more research and it seems that some brokers do expose metrics. As it's not part of the MQTT spec it's up to the broker's implementation for what they are though. For example, [mosquitto](https://mosquitto.org/man/mosquitto-8.html) and [HiveMQ ](https://www.hivemq.com/docs/hivemq/4.4/user-guide/monitori

[2020-10-30 06:04] andschneider commented on #1292
I'd be interested in helping with this. Not sure if I totally understand though. Would the multiple scalers in the ScaledObject be the same kind of scaler? Or different?

[2020-10-30 08:39] #1269 closed

[2020-10-30 09:16] zroubalik commented on #1292
Thanks @andschneider! I think the same kind of scaler is ok for this test case. The reason is to really test that scaling on multiple triggers really works in KEDA.

[2020-10-31 08:41] aman-bansal commented on #1263
No it's something that has been present at every place where we work with TLS. RabbitMQ, Kafka, Metric api everywhere.

[2020-11-01 17:11] pinkfloydx33 opened #1306 "Retrieve Azure storage queue Account Name from TriggerAuthentication"
When using podIdentity with the Azure Storage Queue trigger, the `accountName` parameter is required.

https://github.com/kedacore/keda/blob/a9e118f76d846a87d19d224a858009e7650f2fc5/pkg/scalers/azure_queue_scaler.go#L96-L103

 (Side note, the docs make no mention of this).

The scalar will only load the account name from the trigger meta data and not the Trigger Authentication.

This request is to

[2020-11-01 21:10] marchmallow commented on #1263
We could help support it for Redis TLS too

[2020-11-02 06:03] tomkerkhove commented on #538
Let's continue our conversation here, thanks for the cool demo @arschles!

Those who have missed it, you can check out https://github.com/osscda/kedahttp

[2020-11-02 09:32] knepe commented on #692
+1 on this feature. It would be a great improvement I think 👍

[2020-11-02 09:41] zroubalik commented on #692
Discussed this with @knepe and he is willing to contribute this for Rabbit MQ scaler 🎉

We will do the POC on Kafka and then follow up with other scalers.

[2020-11-03 04:37] dstrebel opened #1310 "Error with helm install on 2.0.0-rc2"
A clear and concise description of what the bug is.

## Expected Behavior
Successful install of Keda

## Actual Behavior
Receive the following error when installing with Helm

Error:  FAILED: rendered manifests contain a resource that already exists. Unable to continue with update: CustomResourceDefinition "triggerauthentications.keda.sh" in namespace "" exists and cannot be imported into the curr

[2020-11-03 15:53] NileshGule commented on #1310
I am also getting the same error with Kubernetes version 1.19.0

[2020-11-03 16:34] jeffhollan commented on #1310
Working to repro right now - thanks for reporting.

// @zroubalik @tomkerkhove

[2020-11-03 19:16] mykola-ivadolabs opened #1311 "Support metadata labels in ScaledJob template"
in version 2.0 `metadata` portion of ScaledJob `template` is ignored so it is impossible to setup a label for job to be created

### Use-Case

To support managed identity in AKS, a label "aadpodidbinding" has to be added to the object that needs pods to be running under managed identity.

To use ScaledJob to create pods that run under managed identity, ScaledJob should support `metadata` section w

[2020-11-04 00:42] mykola-ivadolabs commented on #1306
using Azure Managed Identity(as pod identity) with Storage Queue Data Reader role for the storage account or subscription helps a LOT here. It eliminates the need of providing connection strings with account keys. Works very well with account/queue name being variables in Helm templates.

[2020-11-04 07:46] pinkfloydx33 commented on #1306
I'm using managed identity (and pod identity) with the appropriate roles. I am **not** suggesting using account keys. I currently have no issues connecting, but I do have to repeat the account name across the trigger Metadata of all my scaled objects.

A queue name by itself is not enough to Identity the queue. You also need the account name. (you can have multiple storage accounts all with the sa

[2020-11-04 09:12] tomkerkhove commented on #995
One of the maintainers will have to fill in https://www.docker.com/community/open-source/application; happy to pick this up if need be @zroubalik @jeffhollan

[2020-11-04 18:59] knepe opened #1314 "Support "Value" metric type for RabbitMQ scaler"
Would like to be able to use "Value" metric type for the RabbitMQ scaler, instead of "AverageValue" as it is now.

### Use-Case

Want to have min replicas set to 0, so it will have 0 replicas when queue is empty, but as soon as the queue for ex contains 1 to 300 messages it should scale to 1 replica, and between 300-600 it should scale to 2 replicas and so on. There is another issue requesting thi

[2020-11-04 22:44] knepe commented on #1314
Please discuss this if/how you want to solve this in a more generic way :)
I have a working image I'm using in my cluster here: https://github.com/kedacore/keda/compare/main...knepe:main

[2020-11-05 06:35] mangareader opened #1315 "apiservice status False"
A clear and concise description of what the bug is.
Install via yaml file https://github.com/kedacore/keda/releases/download/v2.0.0/keda-2.0.0.yaml
and get error
[code]

## Specifications

  - **KEDA Version:** *v2*
  - **Platform & Version:** *GKE*
  - **Kubernetes Version:** *1.16.15-gke.3500*
  - **Scaler(s):** *Please elaborate*

[2020-11-05 07:02] zroubalik commented on #1315
Hi, this is a known issue of GKE , see our troubleshooting guide: https://keda.sh/docs/2.0/troubleshooting/

[2020-11-05 07:06] mangareader commented on #1315
Clusters with version 1.16.13+ will also have the fix.
Our gke version is  1.16.15

[2020-11-05 10:07] QuintinBecker commented on #1190
@grassiale
Do you think such a feature can be added to the ScaledObject definition ?
This would be a real benefit for everyone using seperate GIT branches for DEV/QUAL/PROD and would make updates/changes so much easier.

[2020-11-05 10:07] zroubalik commented on #1315
@mangareader are both KEDA pods running correctly? Anything suspicious in the logs?

[2020-11-05 10:18] mangareader commented on #1315
[code]

[code]

[code]

[2020-11-06 00:20] arschles commented on #538
You're welcome @tomconte - it was my pleasure to show the demo, and I'm really pleased that folks liked the idea. As promised in the last community meeting, I've written a proposal for how to integrate it into KEDA. Please see this link: https://hackmd.io/xoJQ20vERU2sDiVhMimUQw. It should be open to comment for everybody, but you'll have to sign in with your GitHub account.

[2020-11-06 16:06] Bliamoh opened #1317 "IBM MQ Scaler Admin REST Endpoint version support and structure"
This issue is half a question and half a bug report.

When I use the IBM MQ connection credentials my deployment is not able to scale correctly.

## Expected Behavior

When I use the IBM MQ connection credentials my deployment should scale correctly and I shouldn't have to modify the Admin REST Endpoint.

## Actual Behavior

I have an error:
`DEBUG   scalehandler    Error getting scale decision

[2020-11-06 16:09] zroubalik commented on #1317
@cpilton @rcoppen PTAL

[2020-11-06 17:08] cpilton commented on #1317
Hi @Bliamoh, thanks for raising this!

We'll look into it and get back to you via this issue in the coming days 😄

[2020-11-06 21:06] arschles commented on #1263
https://github.com/kedacore/keda/pull/1251#issuecomment-719905088 for related discussion on this

[2020-11-07 00:32] mboutet commented on #1064
@spacem, did you say that you had the same problem even by using the ScaledJob instead of ScaledObject?

[2020-11-07 05:55] yquansah commented on #1239
@gordonbondon Hello, are you taking a crack at adding this scaler? I was also thinking about submitting a PR.

[2020-11-07 06:26] gordonbondon commented on #1239
@yquansah I've been working on it, but it's a bit far from being ready right now

[2020-11-09 06:24] krish512 opened #1318 "no matches for kind CustomResourceDefinition"
A clear and concise description of what the bug is.

## Expected Behavior
On running `helm install keda kedacore/keda --namespace keda` it should install all CRDs and KEDA in the namespace

## Actual Behavior
When running either via helm or manually using deployment.yml file, I'm getting the following error,

[code]

## Steps to Reproduce the Problem

  1. Run a EKS cluster version 1.15
  2. `kube

[2020-11-09 06:25] krish512 commented on #1318
KEDA is supported only for Kubernetes >= 1.16

[2020-11-09 06:25] #1318 closed

[2020-11-09 22:06] knepe commented on #1314
Hey guys, have you had time to discuss this? @zroubalik

[2020-11-10 00:29] julienperignon commented on #1311
This was supported in version 1.5 through scaledobject. Not sure why this got removed in version 2 ...

[2020-11-10 04:08] n3wscott opened #1319 "[Go Modules] KEDA v2 does not work as you expect it."
Imports of KEDA v2 should look like this:
[code]

And then any imports in go use the v2 path.

But this will not work as the KEDA module did not correctly bump the source code to v2.

See https://github.com/kedacore/keda/blob/main/go.mod

You have two options: fork (copy) all of the code into a v2 folder and leave your go.mod file the same, or add a version to the go mod file and support for v1 up

[2020-11-10 12:00] zroubalik commented on #1311
ScaledObject is mirroing labels to the created HPA:
https://github.com/kedacore/keda/blob/50bec808f8b4656922797e4bcb7c2b61fabd6d0e/controllers/hpa.go#L67-L69

Would this help you?

[2020-11-10 12:28] zroubalik commented on #995
@tomkerkhove go ahead if you can do it, please.

[2020-11-10 13:04] leonidgorbachev opened #1320 "Removing of ScaledObject doesn't cause removing of HPA"
When you deploy ScaledObject - it automatically created HPA related to this ScaledObject.
But when you uninstall ScaledObject away - it "forgets" about HPA and you have to delete it manually, that is not always possible.
Kuber 1.17.11
KEDA 2.0.0-rc
Helm 3

[2020-11-10 13:10] zroubalik commented on #1320
Could you please check the created HPA to see whether it has ownerRef set?

eg. `kubectl get hpa HPA_NAME -oyaml`

[2020-11-10 16:20] jeffhollan commented on #1314
Discussed in our standup today - this seems like a good feature worth looking into. Adding to roadmap

[2020-11-10 17:15] JonasMatos0 commented on #1230
Got confirmation that this is a good feature to be implemented.
https://github.com/kedacore/keda/discussions/1321

I'm taking a look on the needed changes. If you want to collaborate yourself, please let me know what you have so far, @jmhoeft  .

[2020-11-10 18:28] leonidgorbachev commented on #1320
Yes, here we are:
    ownerReferences:
    - apiVersion: keda.sh/v1alpha1
      blockOwnerDeletion: true
      controller: true
      kind: ScaledObject
      name: webrtc-scaledobject-blue
      uid: a498d11f-157e-4604-863f-3eba216361a9

[2020-11-10 19:14] zroubalik commented on #1320
You have a typo in the second `get` command.

That's a problem of your k8s cluster, if the `ownerRef` is there k8s should handle the deletion, there's nothing that could KEDA do about that

[2020-11-10 20:25] julienperignon commented on #1311
Yeah something similar would work. I have 0 knowledge of Go unfortunately so not really able to submit a PR for this.

Unfortunately my jobs are in the same namespace s my microservices so cannot disable injection at the namespace level.

[2020-11-12 03:31] mosesyou commented on #1311
/assign I try to solve this issue.

[2020-11-12 11:17] girishramnani commented on #1114
@zroubalik is this issue taken? if not, I would like to work on this.

[2020-11-12 11:51] kiran-bjn opened #1323 "KEDA scaledjob with accurate strategy doesn't consider messages in flight when calculating Scale."
A clear and concise description of what the bug is.

     Keda job scaler spawns new pods indefinitely if the spawned pods don't consume the messages in the queue within the next polling Iteration.

When the strategy specified is accurate, It is expected that the Scaler's SDK can return queuelength not including messages that are being processed for queues like AWS-SQS etc. So that the scale depen

[2020-11-12 11:58] zroubalik commented on #1114
@girishramnani a couple months ago @kashifsoofi mentioned, that he would like to contribute this, but haven't heard from him since then. Would be great if you can take this :)

[2020-11-12 11:59] zroubalik commented on #1323
@TsuyoshiUshio PTAL

[2020-11-12 12:00] girishramnani commented on #1114
understood, moving forward on this.

[2020-11-12 13:09] zroubalik commented on #1315
@mangareader sorry for the delay. Have you been able to get it working? I'd recommend you that all ClusterRoles,Roles and Bindings were created in the cluster. There's nothing unusual in the logs.

[2020-11-12 14:17] kashifsoofi commented on #1114
thanks @girishramnani all yours, apologies guys i should have left comment on issue earlier, i did 1 pr to update, not sure if it covered everything required

[2020-11-12 14:41] zroubalik commented on #1114
Ouch, sorry for the confusion guys! @kashifsoofi I can see your PR now, I forgot about it completely, sorry.

Is everything solved then and we can close this issue?

PR for reference: https://github.com/kedacore/keda/pull/1140

[2020-11-12 14:44] kashifsoofi commented on #1114
Let @girishramnani have a look, there might be something missing.

[2020-11-12 18:37] XavierGeerinck opened #1325 "RabbitMQ - Unacked Messages"
I am currently seeing that unacknowledged messages are not being seen by the KEDA RabbitMQ scaler, disallowing the Deployment to scale out towards more pods.

My testing flow goes like this:

1. Create Kubernetes Deployment
2. Deploy KEDA ScaledObject config
3. Expose port `3500` (DAPR RabbitMQ Binding specific)
4. Post a message through HTTP and 3500 on RabbitMQ

All of the above works and I see

[2020-11-12 20:52] XavierGeerinck commented on #1067
SQS is not working here neither for me :( same issue, deployed as shown and it posts ` Post \"https://sqs.eu-west-1.amazonaws.com/\": net/http: invalid header field value \"AWS4-HMAC-SHA256 Credential`