[2021-05-24 07:49] zroubalik commented on #1809
Yeah agree on that

[2021-05-24 10:35] #1815 closed

[2021-05-24 10:49] #1755 closed

[2021-05-24 10:59] saurabrana opened #1820 "Cloudwatc scaler documentation page does not specify details of all parameters"
### Report

Hi All,
I was working on integrating keda and was going through the documentation for AWS CloudWatch, but on the documentation page, I am not able to find details about the following parameters
targetMetricValue
minMetricValue

### Expected Behavior

All parameters should be documented

### Actual Behavior

No documentation

### Steps to Reproduce the Problem

Open page  https://keda.s

[2021-05-25 10:10] zroubalik opened #1823 "Consider using Renovate instead of Dependabot"
### Proposal

Dependabot opens a PR for each dependency, it would be better to have all deps grouped and opened as one PR. Seems like Dependabot doesn't have this feature, but Renovate does:
https://github.com/dependabot/dependabot-core/issues/1190

https://github.com/renovatebot/renovate

https://dev.to/omaiboroda/try-to-update-your-dependencies-once-a-month-5dm5

### Use-Case

_No response_

###

[2021-05-25 14:48] tomkerkhove commented on #1823
Renovate is great, I use it myself 🙊

[2021-05-25 15:13] tomkerkhove commented on #1823
https://github.com/kedacore/keda/pull/1824

[2021-05-25 15:21] tomkerkhove opened #1826 "Provide information concerning HashiCorp Vault in CRD"
### Proposal

Provide information concerning HashiCorp Vault in CRD since it's not surfaced yet when doing `k get triggerauthentication`.

### Use-Case

_No response_

### Anything else?

This would be more consistent since other stores are shown.

[2021-05-26 12:20] NikitaGandhi commented on #1408
any update for this issue?

[2021-05-26 15:35] mo-saeed opened #1827 "failing or missing response from https://IP:6443/apis/external.metrics.k8s.io/v1beta1"
### Report

Keda was installed successfully without issues and both pods have clear logs with no errors

but with this command i see `kubectl get apiservice v1beta1.external.metrics.k8s.io -o yaml`

I get

[code]
my cluster is EKS with kubernetes v1.19

I am not sure what is the issue here, I saw this https://keda.sh/docs/2.2/troubleshooting/ but my EKS firewall looks fine.

Can you please help ?

[2021-05-26 23:03] coderanger commented on #1431
Might have been fixed by #1812.

[2021-05-28 05:28] tomkerkhove commented on #1827
Unfortunately this is not possible as you can only have 1 metric server in a cluster

[2021-05-28 05:28] #1827 closed

[2021-05-28 10:40] honnyzo commented on #1629
Hi everyone, I manage to make keda work with this azure log analytics.
But when I go over my threshold it displays something weird.

first: hitting my threshold
![image](https://user-images.githubusercontent.com/79460759/119971439-40ab0b00-bfb1-11eb-8116-aadcb0f8837c.png)

second: going over my threshold
![image](https://user-images.githubusercontent.com/79460759/119971806-bca55300-bfb1-11eb-8dd8-

[2021-05-28 10:42] Ritikaa96 commented on #1809
Hi @zroubalik . added the validation in [this](https://github.com/kedacore/keda/pull/1836) PR. PTAL.

[2021-05-28 10:44] tomkerkhove commented on #1629
Can you elaborate on what is being weird?

[2021-05-28 10:50] honnyzo commented on #1629
yes, for sure

31 is the sum
![image](https://user-images.githubusercontent.com/79460759/119972734-dbf0b000-bfb2-11eb-999c-2c1d396b55ba.png)

so on the target I am supposed to see 31/10
but why am i seeing 8750m/10 and not the amount that my overduetask is returning in the log analytics

[2021-05-29 12:11] philipp94831 opened #1838 "Allow HPA minReplicas other than 1 while still scaling to 0"
### Proposal

We currently have a scenario where we need to scale our deployments to 0 or have at least, e.g., 5 replicas available. We were not able to achieve this by overriding the HPA scale behavior. [In the code](https://github.com/kedacore/keda/blob/29febffc1ec32f41836082c587ba860b7c59d3cd/controllers/hpa.go#L215), the HPA minReplicas are always set to 1 if we want to scale to 0.

Therefore,

[2021-05-29 19:07] vivekpd15 commented on #853
Do we have a timeline on when this will get merged? We heavily rely on Pulsar and this feature would be of great help.

[2021-05-30 09:03] tomkerkhove commented on #853
The PR is still open since it was not ready yet but I've pinged the contributor on #1666

[2021-05-31 13:43] tomkerkhove commented on #1756
What do you think @zroubalik?

[2021-05-31 13:44] tomkerkhove commented on #1756
I'm reluctant for just using the MEtrics API to be honest. If we cannot provide a straight forward scaler spec, then I think it's best to just abandon it which would be a pity.

[2021-05-31 14:42] vivekpd15 commented on #853
Thank you @tomkerkhove.

[2021-06-01 05:21] tomkerkhove commented on #1838
Ha interesting so basically you want to have a minimum of 5 replicas, but when there is no work you want to scale to 0. So basically decoupling the min replica count from the scale to 0.

Is that a good summary?

[2021-06-01 05:23] philipp94831 commented on #1838
@tomkerkhove That is exactly what we want! :-)

[2021-06-01 10:30] Shubham82 opened #1849 "READY AND ACTIVE fields of ScaledJob are empty when we run "kubectl get sj""
### Report

When worked with ScaledJob i have noticed that it doesn't show the  `**READY**`  and   `**ACTIVE**`   status when we run `kubectl get sj` In both before and after the scaling. It always blank.

Before scaling
[code]
After scaling
[code]
Here is the Secrets, TriggerAuthentication and ScaledJob yamls which i have used to test it:

Secrets:
[code]
TriggerAuthentication:
[code]
ScaledJob:

[2021-06-01 11:22] Akhisar opened #1850 "Keda scales to 0 if metric API is not available"
### Report

It is observed that the keda autoscaler with metriapi scales a deployment to 0 if the metric api is not reachable.

### Expected Behavior

As in case of deletion of the scaledobject, the replica count should be retained to current replica even if the metric api endpoint is not available.

### Actual Behavior

Keda scales down to 0.

### Steps to Reproduce the Problem

1. Create a deplo

[2021-06-01 13:14] yosoku-games-user opened #1852 "Keda + GKE "Unable to read all metrics" issue"
### Report

We are using Keda 2.2.0 in GKE with k8s 1.18 to scale a Deployment based with the redis trigger. Both the scaled object and deployment are defined in the same namespace. The minimum amount of replicas is set to 0, max to 5. When adding items to the redis list, KEDA scales from 0 -> 1. The HPA does not scale any further as the autoscaler status is "Unable to read all metrics". When the

[2021-06-01 13:25] Shubham82 commented on #1849
@zroubalik @tomkerkhove
could you please take a look!

If my observation is correct then I am up for it

[2021-06-01 13:35] tomkerkhove commented on #1849
That would be great, thank you!

Are you up for also doing https://github.com/kedacore/keda/issues/1826?

[2021-06-01 13:35] tomkerkhove commented on #1852
Can you share the output of your kubectl commands please?

[2021-06-01 18:56] #1852 closed

[2021-06-01 18:56] yosoku-games-user commented on #1852
When diving into the documentation we found out that we needed to add the firewall rule, many thanks for replying, awesome technology :-)

[2021-06-02 03:27] Shubham82 commented on #1849
Thanks, @tomkerkhove for your response.
Sure I will try #1826 after this issue.

[2021-06-02 03:43] Shubham82 commented on #1826
Hi @tomkerkhove
Just for confirmation in this, you want that when we run `k get triggerauthentication` then it would show  HashiCorp Vault information also. if yes then in HashiCorp Vault there are the following fields:
[code]
which fields you want to show them in the `kubectl get ta` command.

[2021-06-02 06:09] tomkerkhove commented on #1826
I'd keep it simple for now and just show the address, what do you think?

[2021-06-02 06:23] Shubham82 commented on #1826
yha, I am also thinking of the address field as it is more suited than other fields.

[2021-06-02 10:39] #1809 closed

[2021-06-02 13:07] Savitha-Amaldev opened #1856 "Not seeing any HPA after deploying scaledobject"
After deploying scaled objects, I'm not able to verify whether it started scaling or not. when I describe the scaled object, I'm not seeing any events triggered. Before I used to see events as scaled object is active or if there is any warning or not How to check whether something is missing in my environment or not. Any help for debugging the scaled objects are greatly appreciated

[2021-06-02 13:09] Savitha-Amaldev commented on #1856
my scaled object looks like this:

---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: prometheus-keda-scaledobject
  namespace: aa
spec:
  scaleTargetRef:
    name: fastload-lcache-mem-only
  pollingInterval: 60 # Optional. Default: 30 seconds
  # cooldownPeriod: 30 # Optional. Default: 300 seconds
  minReplicaCount: 2 # Optional. Default: 0
  maxReplicaCount: 20 # Optional. Def

[2021-06-02 14:11] LH8PPL commented on #1788
I need that feature

[2021-06-02 14:47] tomkerkhove commented on #1856
Can you please provide the KEDA logs?

[2021-06-02 14:48] tomkerkhove commented on #1856
And what is the output of kubectl get scaledobjects?

[2021-06-02 16:14] #1849 closed

[2021-06-02 18:18] Savitha-Amaldev commented on #1856
I couldn't find much logs regarding this.. I used ">kubectl logs scaledobjects/<scaledobjectname> -n <scaledobject deployed namespace> -c keda-operator and got a one line error which I'm mentioning below
error: no kind "ScaledObject" is registered for version "keda.sh/v1alpha1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28"

[2021-06-02 18:59] Savitha-Amaldev commented on #1856
I can see my scaledobject in the namespace

[2021-06-02 22:12] coderanger commented on #1788
@LH8PPL Could you provide a more specific use case that you're looking for?

[2021-06-03 05:23] tomkerkhove commented on #1856
Our CRD doesn't provide any logs, you need to check the operator of KEDA itself, can you check the logs there and share the output please?

Also, can you run `kubectl get scaledobject` and share the output please?

[2021-06-03 06:50] zroubalik commented on #1856
And I would add `kubectl get crd | grep keda`, seems like your CRDs are not correctly installed

[2021-06-03 09:06] Savitha-Amaldev commented on #1856
NAME                                   SCALETARGETKIND      SCALETARGETNAME     MIN   MAX   TRIGGERS     AUTHENTICATION                   READY   ACTIVE   AGE
mssql-constr-hvr-keda-scaledobject                          yzxyzxyzxyzxyzoord     2     20    mssql        keda-trigger-auth-mssql-secret                    26m
mssql-constr-keda-scaledobject                             xyzxyzxyzxyzxyzxyzxy

[2021-06-03 09:10] tomkerkhove commented on #1856
Can you also share the logs of the KEDA operator please?

[2021-06-03 09:10] #1856 closed

[2021-06-03 12:47] zroubalik commented on #1838
That's viable ask, are you willing to contribute this?

[2021-06-03 12:49] philipp94831 commented on #1838
I am not experienced with developing in Go/Kubernetes modules so if you had the time to do it, I'd prefer that. However, I would have a look at it if you won't be able to work on it in the near future

[2021-06-03 12:52] zroubalik commented on #1850
I don't think this is a bug. It is just current behaviour, that in case of error the deployment is scaled to minReplicas. But I can see a usecase where we might want to have an option to scale to a specific number of replicas if there problems with connecting the trigger.
This option should be added for all scalers though, this issue is already covered here: https://github.com/kedacore/keda/issues

[2021-06-03 12:52] #1850 closed

[2021-06-03 12:55] zroubalik commented on #1756
Yeah, I agree we. We should get back to this scaler only if there's increased demand.

@melisatanrverdi great job on the investigation!

[2021-06-03 14:10] zroubalik commented on #1838
Unfortunately I can't promise anything :) So let's see.

[2021-06-03 14:12] philipp94831 commented on #1838
Do you have some hints maybe? Is it as simple as introducing a new config option and use it [her](https://github.com/kedacore/keda/blob/29febffc1ec32f41836082c587ba860b7c59d3cd/controllers/hpa.go#L215) if configured?

[2021-06-03 14:21] zroubalik commented on #1838
It is not just that, but the loop logic needs to be modified as well.

@philipp94831 OK, so ping me in two weeks and I'll let you know if I am able to implement this in near future.

[2021-06-03 14:52] Shubham82 commented on #1826
Hi @tomkerkhove @zroubalik

Please suggest the name from the following for the HashiCorp Vault field which shows on running `kubectl get ta`
[code]
Any other name you want to add other than this.

[2021-06-04 07:35] zroubalik commented on #1826
`HCVaultAddress` or `VaultAddress` or? I keep it on @tomkerkhove and his preference.

[2021-06-04 07:52] tomkerkhove commented on #1826
Let's go with `VaultAddress`

[2021-06-04 08:50] Shubham82 commented on #1826
Thanks, @tomkerkhove @zroubalik
`VaultAddress` seems good.

[2021-06-04 08:54] chirangaalwis commented on #538
@tomkerkhove when digging into @anirudhgarg's  blog [article](https://dev.to/anirudhgarg_99/scale-up-and-down-a-http-triggered-function-app-in-kubernetes-using-keda-4m42), one concern I encountered was as to how this solution could be integrated to a scenario which involves multiple Ingresses being managed by a single NGINX Ingress Controller installation (e.g. a multi application deployment in wh

[2021-06-04 12:26] Shubham82 commented on #1826
fixed for both ta and cta  here #1862

[2021-06-05 05:29] rajarajan-s-imanage opened #1864 "azure-servicebus scaler with Hashicorp Vault - keda-operator crashes when secret path is non-exsistent"
### Report

I attempted to use Azure Service Bus Scaler with Hashicorp Vault, accidentally in the secret path I used a path that didn't exist, also the vault roles and policies were configured for the same path which didn't exist.

Provided this circumstance, I deployed my app with scaledObject and TriggerAuth shortly after which the keda-operator crashed and went into a loop of starting up and cr

[2021-06-06 16:48] dmeytin commented on #1392
+1
We need this feature to support automated DR

[2021-06-06 16:49] dmeytin commented on #944
+1
We need this feature to support automated DR

[2021-06-07 05:41] tomkerkhove commented on #944
Anybody who wants to contribute this if we land on an approach?

[2021-06-07 07:22] #1826 closed

[2021-06-07 08:08] zroubalik opened #1868 "Replace `golint` linter with `revive`"
### Proposal

In our linter we are using `golint` plugin which is deprecated, we should replace it with `revive` and fix any potential linter problems in the codebase.

https://github.com/kedacore/keda/blob/d75dbee5b9ab29ddfb26ee972611cd87c5b03f95/.golangci.yml#L20

[code]

### Anything else?

Related: https://github.com/kedacore/keda/issues/1158

[2021-06-07 09:30] mishamo commented on #965
I had a go at this here https://github.com/mishamo/keda/commit/8aca785e1abba46e79809f28bc81dc2de5fc7c59

It works fine when there are no active triggers. I don't want to PR this just yet, as there are a couple of issues that I noticed and would like to discuss them a little here (let me know if it's better to do so elsewhere).

 - Prometheus unavailable, but then comes back -> This caused metrics

[2021-06-07 12:51] #1864 closed

[2021-06-07 13:04] Hassnain-Alvi opened #1869 "Custom Scaling Policies"
### Proposal

I want to scale my deployment based on metric so using KEDA but should be deployed in a different way. i want to restart all my deployment pods after each up scale / down scale. Reason for this is pod dependency on max replica count

### Use-Case

ave containers running thread of my application acting as a consumer on database and processing records. I need to keep track of replicas

[2021-06-07 23:10] Abhay2412 commented on #1868
I could give this a shot if you would like

[2021-06-08 06:53] tomkerkhove commented on #538
kedacore/http-add-on aims at scaling a single ingress component and not all of them combined so I'd recommend giving that one a try. @arschles can help you in case of issues, feel free to open a discussion on that repo.

The reason why we are starting kedacore/http-add-on  is that we don't want end-users having to rely on external components to be able to autoscale, unless they are using open stan

[2021-06-08 08:21] zroubalik commented on #1868
@Abhay2412 sure! that would be great :)

[2021-06-08 09:54] zroubalik commented on #965
So if I understand it correctly, once Prometheus comes back, the first getMetrics call returns 0 and not the correct metrics?

Generally if there are multiple triggers in SO, all metrics are fed into HPA and HPA then does the decision on the scaling (ie target replica count). The current HPA implementation chooses the greater value for the target replica count. So if one of the scalers is not avai

[2021-06-08 11:05] mishamo commented on #965
Yes, but I see that as a prometheus issue I guess. As the metrics we have defined are a `rate(...[2m])` it doesn't really make sense to look at the metrics until we have at least 2 minutes of data. Delaying the readiness probe by that duration basically resolves this issue. I only mention it as it may come up again.

:thinking: I'm either not following the suggestion or think it won't work very el

[2021-06-08 11:07] zroubalik commented on #1869
Unfortunately that's not possible with KEDA and I don't think that this is something that's supported by HPA either (but you should double check that).

As a workaround, you can implement an operator, that will be watching the deployments and if the replica count changes, it could kill all relevant pods.

[2021-06-08 14:17] Abhay2412 commented on #1868
Thank you for the opportunity :)

[2021-06-09 07:24] tomkerkhove commented on #1869
An alternative is triggering a Job to kill all pods with kubectl when the deployment is changing replica counts.

You can rely on the Kubernetes events for that.

[2021-06-09 07:46] JasonRD commented on #1239
is it supported influxdb 1.x?

[2021-06-09 11:09] mishamo opened #1872 "Fallback wrapper scaler"
### Proposal

A metrics source can become unavailable. This causes it to be ignored if there are multiple scalers present. The proposal is to add a new scaler that would delegate to a wrapped instance of another scaler. If that delegate fails, it would provide a fallback metrics of `fallbackReplicas`/`currentReplicas` (a little like the cron scaler).

### Scaler Source

A delegate scaler, falling

[2021-06-09 11:16] tomkerkhove commented on #1872
So to summarize, if it can't get metrics for Prometheus you want it to fallback to 8 instances, is that correct?

[2021-06-09 11:17] mishamo commented on #1872
Just to refine that; we would like this trigger/scaler to present as "8 instances" from the HPA. Other scalers would continue to work as normal and HPA would just take the maximum of all of them.

[2021-06-09 11:38] tomkerkhove commented on #1872
In that case, have you considered to change the configuration the other way around?

Something like this:
[code]

[2021-06-09 11:46] bharath-12345 commented on #1377
I too am facing this issue on eks clusters. We are running k8s 1.18. We observe latencies when running basic kubectl commands with keda setup.
**With keda:** /usr/local/bin/kubectl get pod  0.83s user 0.50s system 9% cpu 13.385 total
**Without keda:** /usr/local/bin/kubectl get pod  0.70s user 0.36s system 40% cpu 2.623 total

The reason for this latencies seem to be attributed to a lot of time be

[2021-06-09 11:57] tomkerkhove commented on #1377
I'm not able to open the output but it might be that control plane is pretty aggressive in polling KEDA, can you verify that?

[2021-06-09 12:00] bharath-12345 commented on #1377
Thanks for the super quick response! You should be able to access the file here.
[keda-kubectl-verbose-output.txt](https://github.com/kedacore/keda/files/6623543/keda-kubectl-verbose-output.txt)

That's an interesting point. Any suggestions as to how I can verify that?

[2021-06-09 12:14] mishamo commented on #1872
I think that looks good, but maybe we should even flatten to `fallbackReplicas` as a single property.

Without forgetting about implementation, I think this also simplifies the approach. A new scaler that acts with a delegate probably still makes sense.

[2021-06-09 12:39] tomkerkhove commented on #1872
The reason why I'm not keeping it flat is so that we can add more things alter on if we want to. For example, send a notification or something.

[2021-06-09 12:52] tomkerkhove commented on #1285
Thank you @amirschw!

[2021-06-09 12:53] tomkerkhove commented on #1285
Re-opening as we didn't cover all Azure scalers yet I think

[2021-06-09 13:42] mishamo commented on #1872
That makes sense. Implementation-wise we've realised it might be a bit difficult to define the target  (`GetMetricsSpecForScaling`) when the delegate `GetMetrics` call fails. The cron scaler works off the premise that the underlying metric will always be the average, but we can't assume that for an arbitrary delegate. :thinking:

[2021-06-09 13:45] amirschw commented on #1285
Indeed. Left to cover:
- Azure Event Bub
- Azure Log Analytics
- Azure Monitor
- Azure Service Bus

Azure Pipelines is only supported in public cloud AFAIK, so it's probably out of scope.

[2021-06-09 15:54] coderanger commented on #1872
This feels like a very overcomplicated solution? We would we not just let the current scale stay when things are broken? That seems like a safer behavior. Having a pinned fallback like this could get very flappy during partial failure scenarios.

[2021-06-09 15:57] mishamo commented on #1872
I think you would want more safety when your metrics sources are not available. If your application is scaled to its minimum replicas, and is suddenly hit with load while your metrics sources are down, it could easily be overloaded. If you have a safe fallback (it could be your maximum replicas to be extra safe), then you will always be able to handle that load.

[2021-06-09 16:02] coderanger commented on #1872
My worry is if Prom (or anything else) is overloaded and timing out on ~50% of requests, you could suddenly have a situation where your replica count is rapidly shifting between whatever it's supposed to be at and the fallback number. This would likely put a lot of stress on things. I guess that's fine as long as recommend people set their HPA cooldown parameters when using this feature? That way

[2021-06-09 16:05] mishamo commented on #1872
Yeah, that situation makes sense. But I think the fact that by default HPA scales up immediately when it needs to and has a default stabilisation window of 5 minutes would alleviate this. Yes, it might be worth documenting that aggressive scale-down configurations should be avoided when using this feature.

[2021-06-09 17:04] WhoAteDaCake opened #1876 "Getting error "pq: parameter "ssl" cannot be changed now " when connecting to postgres using tls"
### Report

When using **PostgreSQL** scaler with a `connectionFromEnv` and `?ssl=1` attached to url, the connenction will fail

### Expected Behavior

Connection should succeed

### Actual Behavior

Connection fails with

### Steps to Reproduce the Problem

1.**PostgreSQL** scaler with a `connectionFromEnv` and `?ssl=1` attached to url

### Logs from KEDA operator

[code]

### KEDA Version

2.3.0

[2021-06-10 05:00] tomkerkhove commented on #1872
I do get your concern but like @mishamo is saying I can see value in specifying a fallback. However, it should only kick in after x cycles of checking, not for every failure imo, and come with the required bells and whistles around it such as putting the SO in degraded state or so and emit kubernetes events.

[2021-06-10 07:36] jeje-ch commented on #879
Hello,

having the same issue, I was able to fix/workaround it by adding the namespace to the service name (with dot in the middle)... I mean:
- rabbitmq service name = my_rabbit
- namespace = my_namespace
- then, connection string => amqp://guest:guest@my_rabbit.my_namespace:5672/

Hope it will help ;-)

[2021-06-10 07:49] tomkerkhove commented on #879
That's a good tip from @jeje-ch, is it running in the same Kubernetes namespace?

Sorry I lost track of this one.

[2021-06-10 07:50] tomkerkhove commented on #879
@vinothav Can you open a discussion please? The real issue report here is related to Azure China and queues, not Kafka and we seem to be getting away from that report so want to separate it.

[2021-06-10 07:57] jeje-ch commented on #879
@tomkerkhove keda's yaml applied in `keda` namespace, and my scaledJob and rabbitmq in `my_namespace`; so yes, scaledJob and rabbit in the same namespace.

I didn't try if it works if they are on different namespaces, but with the appended ns I supposed it will => but I will let anyone being in such config to try and let us know :-)

[2021-06-10 08:06] tomkerkhove commented on #879
Yes, it has tobe configured from the KEDA namespace so namespace is required.

[2021-06-10 08:13] jeje-ch commented on #879
I forgot to mention that I'm neither on Azure China nor AWS EKS, but Jelastic... but pretty sure it doesn't matter the cloud for that issue

[2021-06-10 08:23] mishamo commented on #1872
Yes. I was thinking about this myself and came to the same conclusion; we would only want this to happen after a few (configurable) consecutive failed attempts. This likely complicates the implementation somewhat but is probably the right move.

[2021-06-10 11:34] zroubalik commented on #1876
I think that you should configure Promethes auth with these settings, not via url params: https://keda.sh/docs/2.3/scalers/prometheus/#authentication-parameters

[2021-06-10 11:42] zroubalik commented on #1872
Why not both? :)

In the fallback section, users could specify either the exact number of replicas or an option to stay on the current replicas number.

I agree with Tom's suggestion on keeping the configuration simple in this comment: https://github.com/kedacore/keda/issues/1872#issuecomment-857621978

[2021-06-10 12:16] mishamo commented on #1872
Isn't this the existing behaviour? If so, that would be the same as not including the fallback section at all.

[2021-06-10 12:31] WhoAteDaCake commented on #1876
I'm using https://keda.sh/docs/2.3/scalers/postgresql/ not prometheus?

[2021-06-10 14:15] zroubalik commented on #1872
If there's a problem in connecting the scaler `isActive()` returns false and the replicas will by scaled to `minReplicaCount`.
And this is the problem we are trying to solve here, right? So I thought that as a fallback, there could be a specific number of replicas (eg my Prometheus is down, let's not scale to min, but scale for example to 3 replicas, to handle average load) or the second option co

[2021-06-10 14:16] zroubalik commented on #1872
why?

[2021-06-10 14:28] mishamo commented on #1872
There's two separate issues:
 - If there's an issue with `isActive`, then things stay the same unless your `minReplicas` is set to 0 as per the logic here: https://github.com/kedacore/keda/blob/fb76638a5a8001b2fdc6417a4724c9df082d5cd8/pkg/scaling/executor/scale_scaledobjects.go#L57 . This only really applies if all scalers are inactive/broken due to this loop https://github.com/kedacore/keda/blob/

[2021-06-10 14:34] tomkerkhove commented on #1872
That is how it is today, no? You cannot define what to scale to on failure

[2021-06-11 05:38] BorisDr opened #1881 "Incorrect calculation of metric from Prometheus"
### Report

To scale deployment based on pods qty in namespace I am using this query to Prometheus:
`threshold: '10'
query: sum(kube_pod_status_phase{namespace="namespace",phase="Running"}) / sum(kube_pod_status_phase{namespace="namespace",phase="Running",pod=~"workload2.*"})`
While direct query to Prometheus show number 15 command `kubectl describe hpa` shows: `"prometheus-http---prometheus-serve

[2021-06-11 06:08] tomkerkhove commented on #1039
Closing due to no response

[2021-06-11 06:08] #1039 closed

[2021-06-11 06:37] tomkerkhove commented on #1041
This is pending the GitHub Container Registry support

[2021-06-11 06:57] tomkerkhove commented on #1342
This was implemented, closing

[2021-06-11 06:57] #1342 closed

[2021-06-12 09:30] ChayanBansal commented on #1838
Hey @zroubalik, can you please point out the loop where modifications need to be made along with some changes [here](https://github.com/kedacore/keda/blob/29febffc1ec32f41836082c587ba860b7c59d3cd/controllers/hpa.go#L211). I would glad if I could contribute. Hoping its not too complex! :)

[2021-06-14 08:43] #1489 closed

[2021-06-15 14:02] zroubalik commented on #1838
@ChayanBansal it might not be needed, but we need to be sure that the loop in here is working correctly with the new feature: https://github.com/kedacore/keda/blob/29febffc1ec32f41836082c587ba860b7c59d3cd/pkg/scaling/executor/scale_scaledobjects.go#L19

I mean setting the right number of replicas etc, I've been very briefly checking that and it should work as it is implemented currently, but I am

[2021-06-15 18:19] jordenk opened #1893 "ScaledJob with Cron trigger does not scale down on completion"
### Report

ScaledJob with cron trigger does not limit itself to a single, successful job execution.

I think the completions in steps to reproduce should limit this to a single job execution.

### Expected Behavior

The scaledJob executes on a cron trigger. After the triggered job completes n times, where n is `completions: n`, the job should no longer be triggered.

### Actual Behavior

The scal

[2021-06-15 21:23] whihathac commented on #246
@zroubalik - the link doesn't seem to work. Can you share an updated link?

[2021-06-16 08:14] zroubalik commented on #1876
Sorry, my mistake. But for postgresql, I can see there is`sslmode` parameter, have you tried that?

[2021-06-16 08:20] zroubalik commented on #246
https://github.com/kedacore/keda/blob/main/BUILD.md#setting-log-levels

[2021-06-16 08:48] mishamo commented on #1872
Ok. I think we have an approach that should work and feels acceptable to us. It is as follows:
 - We add an optional fallback config at the same level as triggers:
[code]
 - We also add an array of nameOfMetric -> FallbackStatus to the ScaledObject `Status`. Something like:
[code]
- We house the fallback logic in `provider.go`, which, for each scaler, would call `GetMetrics` on it, update the fall

[2021-06-16 11:29] #1876 closed

[2021-06-16 14:38] choppedpork opened #1894 "Volume missing from job spec after updating scaled job manifest"
### Report

Following a seemingly unrelated change to a `ScaledJob` configuration the `volumes` entry disappeared from the manifest within the cluster resulting in jobs failing to launch. This is the abbreviated change I was deploying (obtained via `helm diff revision`):
[code]

### Expected Behavior

Change deployed successfully

### Actual Behavior

Even though the `ScaledJob` manifest was rende

[2021-06-17 05:28] tomkerkhove commented on #1872
I would propose this instead: (nit)
[code]

In terms of the status, does it have to fall in the fallback category? Imagine I'm not using it, I would still be interested to see the # of failures in the status field.

[2021-06-17 08:22] adrianchifor commented on #894
@tomkerkhove @zroubalik This is currently a blocker to us using auth with the Prometheue scaler, as Openshift operator cannot run without auth & tls and uses the Prometheus svc account token for auth. We can implement a workaround which replicates the svc account token to every namespace that needs metrics autoscaling but it feels very dirty and insecure.

This format makes a lot of sense https://

[2021-06-17 08:33] coderanger commented on #894
You can now use ClusterTriggerAuthentication objects for cross-ns credentials. I think we can probably close this?

[2021-06-17 08:35] mishamo commented on #1872
No issue with the change of `fallbackReplicas` -> `replicas`.

[code]

The only limitation with moving the map out of `fallback`, is the `status` field we added. The current idea for this is that there would be three states of `Happy`, `Pending` and `Failing`, where Pending would be in place until the `failureThreshold` was reached. If the user isn't using the fallback feature, then no `failureThr

[2021-06-17 09:24] adrianchifor commented on #894
Oh yea I just noticed that in the docs https://keda.sh/docs/2.3/concepts/authentication/#authentication-scopes-namespace-vs-cluster, we can close this indeed. Thanks!

[2021-06-17 09:38] tomkerkhove commented on #894
@adrianchifor feel free to send a PR on https://github.com/kedacore/keda-docs but this applies to all scalers.

Instead we should maybe link to the conceptual docs instead of scoping to the TA CRD.

[2021-06-17 09:38] #894 closed

[2021-06-17 09:51] endejoli opened #1895 "hpa is not created as part of deployment"
### Report

we have a opensift 4.5 cluster. we installed KEDA through operator
[code]
we are trying to test mysql scaledobject  using the example mentioned here https://github.com/turbaszek/keda-example/blob/master/keda/mysql-hpa.yaml

Once we perform oc apply -f mysql-hpa.yaml, scaledobject resource gets created fine
[code]
But it doesnt create a hpa resource
[code]
How do we  debug this issue? N

[2021-06-17 10:22] zroubalik commented on #1895
Please see the `How to install KEDA in the cluster` section in the operator description, it can be seen here as well:
https://operatorhub.io/operator/keda

You need to create `KedaController` CustomResource named `keda` in namespace `keda`. This will trigger the installation of KEDA, which is being handled by the operator (KEDA-OLM-Operator) that you have just installed.

[2021-06-17 10:22] #1895 closed

[2021-06-17 10:31] tomkerkhove commented on #1872
What if we can it `health` because it basically comes down to that?

What do you think @zroubalik ?

[2021-06-17 20:39] TsuyoshiUshio commented on #1894
Hi @choppedpork

Thank you for the detail report!

I had a look the code, We just deep copy the jobTargetRef then create a new scaled job. Both the definition both https://github.com/kedacore/keda/blob/main/api/v1alpha1/scaledjob_types.go#L29 and logic https://github.com/kedacore/keda/blame/main/pkg/scaling/executor/scale_jobs.go#L106 hasn't change for a while. I can't find particular issue point.

[2021-06-19 17:19] kalyan123i commented on #868
I also have the same problem , it works as expected in HPA but , lot of spam in logs. We are using promethus in another name space. Our promethus is centralized.

[2021-06-20 10:05] kalyan123i commented on #868
@akramwaseem  @zroubalik I was able to resolve it by using the setting in new operator.

metricsServer:
  useHostNetwork: false

so it will not use your vnet DNS server to loop the prometheus host

[2021-06-21 07:04] zroubalik commented on #868
@kalyan123i great! Thanks for sharing :)

[2021-06-21 07:57] zroubalik commented on #1872
Sorry for the long response time, I was overhelmed with other stuff.

Pardon my ingorance, I am still trying to understand what is the specific ask, what is the scenario you'd like to cover? You want to define the fallback per ScaledObject or per Scaler(trigger)?

Let's say we have these triggers in a ScaledObject:
  scaler1: 10
  scaler2: 5
  scaler3: failure

1. You can have one trigger or mutli

[2021-06-21 08:31] mishamo commented on #1872
Hi @zroubalik, the original idea was to define the fallback per Scaler (trigger), but as this was more complicated to implement, we decided to shift the fallback definition to the ScaledObject (which is still a fallback per scaler, it's just that the same fallback would be used for all scalers on that object).

The use case described in 1. looks correct to me.

[2021-06-21 10:02] zroubalik commented on #1872
@mishamo  okay. Sounds good

[2021-06-21 10:40] zroubalik commented on #1872
How do you plan to count the number of failures? For example if you have 3 scalers and first one starts to fail and then another scaler starts to fail as well?

[2021-06-21 10:53] mishamo commented on #1872
The plan is to maintain a map of `external_metric_name` -> `fallback_status` in the `Status` field in k8s. Then the scalers can be looked up by their relative metric names and the number of failures can be read/bumped up/reset etc

[2021-06-21 10:54] zroubalik commented on #1872
Okay, so you don't plan to sum the failures from all scalers, ack.

Anything else you'd like to discuss? The proposal looks good for me 👍

[2021-06-21 11:06] mishamo commented on #1872
Nope, I think we're all good for now. We have some code that should work on https://github.com/mishamo/keda/tree/fallback-scaler, but there's quite a lot of testing to be done before we create a PR. Just to clarify there's 2 pieces of work:
 - `defaultReplicas` behaviour when `IsActive` throws an error (from #965), which is currently on the master branch of the fork linked above.
 - The work discu

[2021-06-21 14:13] choppedpork commented on #1894
@TsuyoshiUshio thanks for having a look. The volume did indeed exist at the time - after removing and redeploying the scaled job definition everything was back to normal. I was quite surprised with this - especially as the `volumes` key was the only key missing (ie. the spec wasn't just abruptly truncated), my assumption was that the jobspec part of the manifest would be just verbatim copied but w

[2021-06-22 06:17] philipp94831 commented on #1838
Hi @ChayanBansal, I really appreciate that you would like to contribute to this! Do you think you will be able to implement this? If so, how long do you estimate it to take?

[2021-06-23 17:03] choppedpork commented on #1894
Some more (thought I appreciate almost certainly not enough) info as I've just hit this issue again. This is the same cluster but a different application to which I've added scaledJob support - some variables are now removed from the equation:
- in this case the job uses two volumes, one being an emptyDir so I think we can discount network storage unavailability
- the only change between the subse

[2021-06-23 17:22] tomkerkhove commented on #1894
@zroubalik  should be able to help with that

[2021-06-23 20:21] burkel24 commented on #1756
Just chiming in to say that I would be interested using an ES scaler, though agree with above points re: complexity of universality.

Planning to implement an external scaler instead tailored to my usecase. Please feel free to reach out if you guys decide to pick this up and want context about my usecase.

[2021-06-24 08:36] zroubalik commented on #1872
I think that one PR is fine (if it is not huge, because reviewing is a bit harder in that case).

Yeah, those are all valid concerns. Thanks a lot for the investigation and the work on this. Once you feel that you are somehow happy with the solution, open a PR and we can follow up the discussion over there.

[2021-06-24 09:05] zroubalik commented on #1894
Log levels: https://github.com/kedacore/keda/blob/main/BUILD.md#setting-log-levels

Just to confirm, this is happening on one cluster with each ScaledJob that you apply there? Is there a fresh installation of KEDA or was it updated from some earlier version? I recommend you to fully install KEDA and install a new 2.3.0 version. And be sure that you have actually removed KEDA crds as part of the un

[2021-06-24 09:09] philipp94831 commented on #1838
Hi @zroubalik, do you think you will be able to implement this in the near future?

[2021-06-24 10:06] zroubalik commented on #1838
@philipp94831 I will give it a try :)

[2021-06-24 10:17] zroubalik commented on #1838
I am thinking how should we expose this configuration in ScaledObject [spec](https://keda.sh/docs/2.3/concepts/scaling-deployments/#scaledobject-spec), wrt naming and UX. `scaleToZero` boolean field?

[code]

@philipp94831 @tomkerkhove WDYT?

[2021-06-24 10:21] philipp94831 commented on #1838
I like that :-) I assume that scaleToZero will be true by default? Or at least if `minReplicaCount` is 0? So that nothing changes for users that used `minReplicaCount: 0`

[2021-06-24 10:22] zroubalik commented on #1838
Yeah, exactly. Let's wait what Tom's opinion is :)

[2021-06-24 10:24] zroubalik commented on #1838
The only concern I have, if this field  should be "hidden' in `spec.advanced` section.

[2021-06-24 10:39] tomkerkhove commented on #1838
Advanced or so might make sense since by default we should recommend scale to zero indeed;

What about `allowScaleToZero` or `useScaleToZero` though? Otherwise it's not clear what the intent is, maybe? (I think things through too much 😂)

[2021-06-24 10:39] #1868 closed

[2021-06-24 10:54] zroubalik commented on #1838
What about `alwaysScaleToZero` ?

[2021-06-24 11:14] tomkerkhove commented on #1838
Doesn't that imply it will always be scaled to 0? 😁

[2021-06-24 11:24] zroubalik commented on #1838
Fair enough 🤷‍♂️ 😅  But you can look at it this way: always scale to zero, even if minReplicas is > 0 ...

I don't know 😄

[2021-06-24 11:30] svmaris commented on #1838
I think the new `allowScaleToZero`  of `scaleToZero` boolean in the spec will cause confusion and allows for weird combinations. What if `minReplicas` is set to `0`, but `scaleToZero` is `false`?

Wouldn't it be better to keep the meaning of `minReplicas: 0` to be "allow scale to zero" and introduce a new field that specifies the minimum number of replicas you want to have running when there's act

[2021-06-24 11:39] zroubalik commented on #1838
The ScaledObject will be validated and returns error in this case.

I was thinking about similar approach using `initialReplicas`, but then we will need to cover cases where `minReplicas != 0` for example:
[code]
And IMHO that's way more complex logic that would need to be changed in KEDA, but checking that right know.

[2021-06-24 11:43] tomkerkhove commented on #1838
`allowScaleToZero` of `scaleToZero` are fine for me

[2021-06-24 11:54] zroubalik commented on #1838
So the question is, whether we want to support:
- scale to zero with `minReplicas > 0 `:
[code]
- arbitrary `minReplicas` with `initialReplicas` approach, allowing more flexibility:
[code]
or
[code]

[2021-06-24 12:02] svmaris commented on #1838
I think baselineReplicas is a better name, because I think otherwise people can assume that the number of replicas can/will drop *below* 5 replicas if there's work to do (but not enough to warrant 5 replicas). My point was mainly about the semantic meaning of minReplicas.

[2021-06-24 16:23] choppedpork commented on #1894
Thanks @zroubalik!

This has so far only happened on one cluster and I've had an issue with both of the two ScaledJobs we currently have there. We've started our Keda adventure on 2.2 so no upgrades yet - will try to get it up to 2.3 asap and bump the operator log level to debug.

I've had a look at both #1686 and the kubernetes-sigs/controller-tools bug and I'm increasingly thinking the problem i

[2021-06-25 05:38] tomkerkhove opened #1905 "InfluxDB does not support TriggerAuthentication while it is documented as such"
### Report

InfluxDB does not support TriggerAuthentication/ClusterTriggerAuthentication while it is documented as such

### Expected Behavior

Allow you to use TriggerAuthentication/ClusterTriggerAuthentication

### Actual Behavior

You can only use trigger metadata

### Steps to Reproduce the Problem

1. Configure trigger authentication1
2. Reference in ScaledObject with InfluxDB trigger

### Lo

[2021-06-25 09:20] tomkerkhove commented on #1905
@acobaugh is working on this - Feature is done, only [lacking the docs](https://github.com/kedacore/keda/pull/1904#pullrequestreview-692627702)

[2021-06-25 11:53] JorTurFer commented on #743
Hi,
Is there any update? :)

[2021-06-27 08:38] ianadavies commented on #175
@APuertaSales How do you delete the finalisers ?

[2021-06-27 12:57] yonahd opened #1906 "Allow namespaced installation"
### Proposal

The installation of Keda should be allowed to be run with role in specific namespaces and not cluster wide ones.

### Use-Case

An example of using this set of manifests is if you run your services in a in a cluster where teams have access to specific namespaces and cannot use cluster wide permissions, This would allow a keda per namespace

### Anything else?

This possibly would wor

[2021-06-27 20:50] arun1615 opened #1908 "SQS Scaler not working"
### Report

I have used docs from the website to setup sqs scaler, but giving error.

### Expected Behavior

It should be running

### Actual Behavior

Error

### Steps to Reproduce the Problem

Using helm for deployment with following config:

[code]

### Logs from KEDA operator

[code]

### KEDA Version

2.3.0

### Kubernetes Version

1.19

### Platform

Microsoft Azure

### Scaler Details

SQS

[2021-06-28 00:23] pierreyves-lebrun commented on #175
You should be able to edit the `scaledobject` and delete the two lines specifying the finalizer

[2021-06-28 06:26] tomkerkhove commented on #1906
You can limit KEDA to only scale a certain namespace, but we cannot reduce the cluster roles since this is a requirement for the metrics server that we have to use.

[2021-06-28 06:26] #1906 closed

[2021-06-28 16:39] maricneven opened #1912 "RabbitMQ connections not being closed"
### Report

My KEDA function is triggered by messages from a RabbitMQ queue.  When I check RabbitMQ, I am noticing that the number of connections keeps rising.  It seems that each time a message triggers my function, a new connection is opened.  For whatever reason, after the message is processed, it would seem that the connection is not being closed. Over time, this exhausts all the available con

[2021-06-29 08:17] ianadavies opened #1913 "connectionStringFromSecret"
### Proposal

Need the ability to set connection string from a source other than the deployment environment variables.

### Use-Case

I am using KEDA with Azure functions (Queue Trigger) + ACI (Virtual Nodes). The problem is that ACI Virtual Nodes do not support ENV variables and these need to be baked into the docker image.

This is means that I cannot use KEDA scaled objects with deployments tha

[2021-06-29 13:09] tomkerkhove commented on #1913
Are you sure about that? As far as I know that is not the case.

[2021-06-29 13:10] tomkerkhove commented on #1913
Also, what queue are you using? Depending on it, they provide various ways to authenticate.

[2021-06-29 13:10] #1913 closed

[2021-06-30 07:28] tomkerkhove opened #1915 "Support non-public clouds for Azure Event Hub"
### Proposal

Support non-public clouds for Azure Event Hub

### Use-Case

_No response_

### Anything else?

Relates to #1285

[2021-06-30 07:30] tomkerkhove opened #1916 "Support non-public clouds for Azure Log Analytics"
### Proposal

Support non-public clouds for Azure Log Analytics

### Use-Case

_No response_

### Anything else?

Relates to #1285

[2021-06-30 07:30] tomkerkhove opened #1917 "Support non-public clouds for Azure Monitor"
### Proposal

Support non-public clouds for Azure Monitor

### Use-Case

_No response_

### Anything else?

Relates to #1285

[2021-06-30 07:31] tomkerkhove opened #1918 "Support non-public clouds for Azure Service Bus"
### Proposal

Support non-public clouds for Azure Service Bus

### Use-Case

_No response_

### Anything else?

Relates to #1285

[2021-06-30 07:31] tomkerkhove opened #1919 "Support Azure DevOps Server for Azure Pipelines"
### Proposal

Support Azure DevOps Server for Azure Pipelines

### Use-Case

_No response_

### Anything else?

Relates to #1285

[2021-06-30 07:31] tomkerkhove opened #1920 "Support non-public clouds for Azure Storage Queue"
### Proposal

Support non-public clouds for Azure Storage Queue

### Use-Case

_No response_

### Anything else?

Relates to #1285

[2021-06-30 07:31] tomkerkhove opened #1921 "Support non-public clouds for Azure Storage Blob"
### Proposal

Support non-public clouds for Azure Storage Blob

### Use-Case

_No response_

### Anything else?

Relates to #1285

[2021-06-30 07:33] tomkerkhove commented on #1921
Done through https://github.com/kedacore/keda/pull/1863

[2021-06-30 07:33] #1921 closed

[2021-06-30 07:33] tomkerkhove commented on #1920
Done through https://github.com/kedacore/keda/pull/1863

[2021-06-30 07:33] #1920 closed

[2021-07-02 07:00] fgheysels opened #1932 "Support for automatic downscaling based on availability of dependencies"
### Proposal

It would be helpfull if a pod could be scaled down to 0 replicas if dependencies that are used by that pod are (temporarily) not available.

### Use-Case

Suppose you have a process which is consuming messages from a queue.   For each message that is being processed, the worker needs to call a dependency:  can be a database, a REST Api, ....

As we all know, external dependencies are

[2021-07-02 07:01] tomkerkhove commented on #1932
I like this idea @zroubalik as it would be a great addition, but it will not be easy

[2021-07-02 07:02] coderanger commented on #1932
I feel like this is out of scope for KEDA. You should not ack messages in your queue until they processes successfully.

[2021-07-02 07:02] tomkerkhove commented on #946
This will no longer happen

[2021-07-02 07:02] #946 closed

[2021-07-02 07:03] tomkerkhove commented on #1932
I think it does if we can standardize on a health endpoint because if the downstream service is having health issues, we should not be scaling out since we will only make it worse.

[2021-07-02 08:08] TestFed opened #1933 "Test"
Test

[2021-07-02 08:38] kevinmatthews-kpmg commented on #1789
It would be good to be able to a put a 'folder' (dynamic name) in the blob storage (with multiple files inside) and for that to count as 1 - maybe optional so it counts a folder as 1 or counts all of the files individually... i know they aren't folders as such, but its how azure represents them.

The use case behind this is we are using cognitive services and putting the results in to the blob sto

[2021-07-02 11:46] diegosanchez commented on #1134
https://pkg.go.dev/k8s.io/apimachinery/pkg/api/resource#Quantity

The meaning of `m` is described here.

I think it is not an issue.

[2021-07-02 16:07] ninghaocalgary opened #1934 "Compliance with automountServiceAccountToken = false"
should we look at Operator deployment mounted volume that use keda-operator service account, basically to comply with automountServiceAccountToken = false, currently if this line was added to service account, it breaks operator deployment.

Any thoughts?
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

[2021-07-02 20:00] coderanger commented on #1934
No? I mean we need the token so if you disable automount then all that means is manually replacing the same lines which would be generated.

[2021-07-05 12:12] diegosanchez commented on #1881
Do you have any news? We got similar behaviour with keda 1.5 as well.

[2021-07-05 12:17] BorisDr commented on #1881
@diegosanchez Nope, still waiting

[2021-07-05 12:35] tomkerkhove commented on #1881
@zroubalik Is this just because of how we report metrics to HPA or not?

[2021-07-05 15:27] amitherlekar opened #1936 "The last message on the scaler is blocked"
### Report

Basically, I want spin up a pod for every message. But the maximum number pods at a time is 2.

### Expected Behavior

Case A: If the number of messages = 6, then pods creation order should be [1 ,3, 5] and [ 2 , 4 , 6]
Case B: If the number of messages = 3, then pods creation order should be [1, 3]  and  [2]

### Actual Behavior

Case A: Pods [1,  3,  5] and  [2, 4] spin up correctly

[2021-07-05 16:18] philipp94831 commented on #1838
Hi @zroubalik, any update on this? :-)

[2021-07-06 08:21] mishamo commented on #1881
The prometheus scaler is an "average value" scaler. This means that the value you get from prometheus will be divided by the number of pods in the target deployment/job before being passed on to the HPA.

E.g. You target deployment has 2 pods, prometheus returns 15 for your metric, your threshold is 10. The HPA will show 7500m/10.

Does that explain this issue, or do you think there's still a bug

[2021-07-06 12:11] adrianchifor opened #1937 "keda-operator spamming apiserver with requests for scaledobjects"
### Report

I've checked our clusters apiserver audit logs and it seems that keda-operator service account is one of the biggest requesters. The total number of requests for scaledobjects is **26 million** (mostly gets) over the last 7 days. This is across 3 clusters, but only one cluster has 2 Prometheus HPAs, and the other two clusters don't have any scaledobjects whatsoever.

We are using Flux

[2021-07-06 15:25] tdolby-at-uk-ibm-com opened #1938 "Username used in place of password in IBM MQ scaler"
It looks like the username variable "val" is used instead of the password variable "value" in the IBM MQ scaler, which makes authentication fail in many (most?) cases.

https://github.com/kedacore/keda/blob/a84c5cc1534bec5a9bc5e027fcebedd3673ac3d3/pkg/scalers/ibmmq_scaler.go#L140

passwordFromEnv would work as expected.

[2021-07-06 15:28] tdolby-at-uk-ibm-com commented on #1938
Verified using netcat to dump the actual REST request made by the scaler; can submit a PR if needed.

[2021-07-06 17:25] diegosanchez commented on #1881
After several trials and errors, we (@ronalcelaya and I) bumped into a helpful piece of documentation: https://github.com/kedacore/keda/blob/v1.5.0/CREATE-NEW-SCALER.md#getmetricspecforscaling.

Could we refer to it from the documentation page?

[2021-07-06 17:42] tomkerkhove commented on #1881
Definately, feel free to open a PR!

[2021-07-06 19:47] tomkerkhove commented on #1938
That would be awesome, thank you!

[2021-07-06 20:38] tomkerkhove commented on #1838
I think he was mainly waiting for me but I forgot to circle back on this, sorry about that!

If we take a step back on what we want to achieve it is defining how many instances we want to have when there is no work to be done.

I think `baseline`/`base` is a bit too ambiguous but `initial` implies that it is only at the beginning. What about `idle`? Although that might be odd as well to some.

[2021-07-07 06:13] #1933 closed

[2021-07-07 07:15] svmaris commented on #1838
IMHO we already have that in the form of `minReplicaCount`. The use case here is that we want to define the minimum number of replicas when there *is* work to be done. But maybe this use case is a bit too exotic to support directly.

I was thinking: Would it be possible to take the use case described in #692, which is probably a bit more "generic" (scale down to 0 when there's no work, but scale u

[2021-07-07 07:23] philipp94831 commented on #1838
While scaling up by increments of 5 would allow us to immediately scale from 0 to 5, it would also mean that the next step would be 10 replicas while it would be preferable for us to still then scale normally, i.e., 6 as the next step

[2021-07-07 09:39] avdhoot opened #1940 "staefulset not scaled"
### Report

keda not able to scale StatefulSet even triggers condition meet. Check attached screen shot where threshold beyond the trigger(75) in keda metrics but StatefulSet not have scaled  .

![image](https://user-images.githubusercontent.com/1314627/124735641-da13f800-df33-11eb-9bcc-e67cf7831a60.png)

### Expected Behavior

After crossing threshold StatefulSet should have scaled.

### Actual B

[2021-07-07 09:58] #1938 closed

[2021-07-07 11:18] levya4 commented on #1408
Same issue here
Any updates?

[2021-07-07 12:04] zroubalik commented on #1838
Yeah, that's a different use case completely.

[2021-07-07 12:07] zroubalik commented on #1838
@tomkerkhove it is not about number of instances when there is no work to be done, that's clear -> `minReplicaCount`

It is about the inital number of replicas (if min is 0) that should be set when there is some work to do, so instead of scaling to 1 it should scale for example to 5.

[2021-07-07 12:36] tomkerkhove commented on #1838
That's if you think about how it is today, but if you ignore that and think purely conceptually I think we have it wrong today and `idle` feels better but it is what it is.

[2021-07-07 12:58] pazuzux opened #1941 "ScaledObject Cron Trigger 'end' expression is not working as expected."
### Report

Hello everyone!
I needed to use the cron trigger to schedule a scale by time in a deployment and the end expression doesn't act as expected.

I'm setting start and end to run within 10 minutes, but only start is taken into account.

I needed to do the configuration below to solve the scale down:
cooldownPeriod and stabilizationWindowSeconds must have the same value to work properly, in

[2021-07-07 13:10] svmaris commented on #1838
Are you proposing to add a new field `idleReplicaCount` that defaults to the value of `minReplicaCount` when not defined and "changes" the meaning of `minReplicaCount` when it *is* defined, but has a different value? So that:

[code]

means "Scale to 5 when there's no work" (`idleReplicaCount` is set to 5 implicitly in this case)

and

[code]

means "Scale to 0 when there's no work, but scale to a

[2021-07-07 13:15] zroubalik commented on #1838
Yeah, the other proposal is to not change the meaning of `minReplicaCount`, something like this:

[code]
Or the new property could be named `baseReplicaCount` as suggested above.

[2021-07-07 13:24] tomkerkhove commented on #1838
This sounds like what I had in mind as well, +1 on this

[2021-07-07 14:17] svmaris commented on #1838
I agree that this approach is easier to explain than `initialReplicaCount`/`baseReplicaCount`. I also think there's no real reason to allow `idleReplicaCount` to be anything other than `0`, so maybe the `scaleToZero: true/false` (that defaults to `false`) that @zroubalik originally proposed isn't so bad after all 😉

All in all I do think this use case is a bit too specific/exotic to warrant a togg

[2021-07-07 14:21] tomkerkhove commented on #1838
I do not agree since you might want to always have 1 instance up and running rather than 0 to have faster scaling/uptime. A simple scenario is cluster capacity running out and you want to scale from 0 to 1 but you can't since the cluster autoscaler still needs to kick in so you have to wait, which could have platform impact.

[2021-07-07 14:55] zroubalik commented on #1838
So should I go with the `idleReplicaCount` right in the spec root and then vhange the meaning of `minReplicaCount` a little bit?

[2021-07-07 15:05] tomkerkhove commented on #1838
I would introduce replicas with 3 fields underneath it and deprecate current but might be overkilling it

[2021-07-07 15:18] zroubalik commented on #1838
That's overkill imho and this would break 99,9% of currently deployed and defined ScaledObject. Optional `idleReplicaCount` on the other hand doesn't break anything as if it is not defined, the behaviour is still the same.

[2021-07-07 15:22] tomkerkhove commented on #1838
It would be backwards compatible though but just flat is fine for me for now as well

[2021-07-08 09:40] PieterVanZyl-Dev opened #1942 "Support "QueueLength/Value" metric type for Kafka scaler"
### Proposal

Would like to be able to use "QueueLength" metric type for the Kafka scaler, instead of "LagOffset" as it is now.
This would be useful for HPA and for anyone who isn't trying to scale on a lag value.

### Use-Case

Similar to #1314
We want to be able to have access to QueueLength in the KafkaScaler as an option.
For our use case we want to scale replicas on the total amount of messag

[2021-07-08 09:47] PieterVanZyl-Dev commented on #1942
@zroubalik is it possible there is already a POC somewhere in the PRs/Issues for Kafka that I can't find anywhere ?

[2021-07-08 11:04] amirschw opened #1943 "kubectl get scaledobject only displays one trigger"
### Report

For scaled objects with multiple triggers, `kubectl get scaledobject` only shows the first trigger:

[code]

### Expected Behavior

All trigger types should be displayed

### Actual Behavior

Only the first trigger is displayed

### Steps to Reproduce the Problem

1. create a scaled object with two triggers
2. run `kubectl get scaledobject`

### Logs from KEDA operator

N/A

### KEDA V

[2021-07-08 11:28] amirschw commented on #1943
I took a closer look and found it's actually a kubectl issue with CRDs: https://github.com/kubernetes/kubectl/issues/517.
LMK if you want me to close this one or keep it open until it's fixed upstream.

[2021-07-08 12:22] tomkerkhove commented on #1943
Thanks for checking! It's ok to keep it open.

[2021-07-09 09:03] zroubalik commented on #1941
Related: https://github.com/kedacore/keda/discussions/1759

[2021-07-09 09:06] zroubalik commented on #1940
Is this really related to StatefulSet? What happens if you use Deployment?

From the HPA logs seems like, that it doesn't need to scale. Are you sure that your query is correct?

[2021-07-09 09:08] zroubalik commented on #1937
@adrianchifor have you tried to create ScaledObjects without Flux?

[2021-07-09 09:10] coderanger commented on #1940
Also if all you want to scale on is CPU usage, normal HPA objects (or the passthrough for HPA's cpu/memory metric scaling) might be a better fit than roundtripping through Keda.

[2021-07-09 09:13] coderanger commented on #1937
Shouldn't this be hitting the informer cache anyway on our side?

[2021-07-09 09:29] zroubalik commented on #1942
I am not sure if I fully understand your request. IMHO there are mutliple different features/concepts mixed in this.

- Kafka & `queueLength` - is that even something that could be pulled from Kafka as a metric?
- > Want to have min replicas set to 0, so it will have 0 replicas when queue is empty, but as soon as the queue for ex contains 1 to 300 messages it should scale to 1 replica, and between

[2021-07-09 09:32] zroubalik commented on #1937
It should, it's strange.

[2021-07-09 09:36] zroubalik commented on #1936
@TsuyoshiUshio FYI^

[2021-07-09 09:39] zroubalik commented on #1587
I am happy to see any POC :)

[2021-07-09 09:52] adrianchifor commented on #1937
I will un-manage the scaledobjects from flux in a sec and report back EOD to see if it made a difference in requests.

[2021-07-09 09:56] avdhoot commented on #1940
@zroubalik  Sorry for confusion. I do not think so it related to StatefulSet.  I can change issue title if you want.

Looks like HPA controller divide current metrics by no. of current replica [ref](https://github.com/kubernetes/kubernetes/blob/e57e401192edb0ff125f0c21689be8ae903b49f5/pkg/controller/podautoscaler/replica_calculator.go#L367). In this situation Currently we have 2 pod hence current

[2021-07-09 10:03] coderanger commented on #1940
All metrics computations can be in either Value or AverageValue mode. In general this is currently hard-coded per scaler based on the first use case it dealt with. There is a vague plan to make it configurable and more consistent overall but for now just check each scaler's code to see which mode it uses.

[2021-07-09 10:06] coderanger commented on #1937
That's even weirder. controller-runtime wouldn't be requesting stuff without any objects. Do you have metrics ingestion from the keda manager pod set up? c-r exposes the reconcile counts which can show you if there's a reconcile loop, though even without the metrics you would be able to see the output spamming from the manager pod.

[2021-07-09 10:12] zroubalik commented on #1940
I think that it is pretty safe to say that all scalers are using AverageValue mode. https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details

[2021-07-09 10:15] zroubalik commented on #1940
Just for a reference: https://github.com/kedacore/keda/issues/1314 for enabling Value mode for Rabbit MQ, but I'd rather see it done on a global level, as @coderanger mentioned.

[2021-07-09 11:11] dmeytin commented on #1587
I have a list of use cases for multi-cluster support:
- the workload that is bigger than a single k8s cluster’s capacity
- gradual migration from the old cluster to the new one (due to control
plan breaking changes)
- BCP/DR due to full cloud provider’s regional failure (large workloads
will not scale fast enough in remaining regions because of the lack of
available resources, it’s recommended to

[2021-07-09 11:26] avdhoot commented on #1940
Thanks for confirming the behavior & providing ref. Any idea how you guys think it should get implemented?

[2021-07-09 13:10] adrianchifor commented on #1937
Here's the API Fairness flowschema requests from keda:

![image](https://user-images.githubusercontent.com/6370064/125082615-58e96c00-e0bf-11eb-986e-ecba7678053f.png)

[2021-07-09 19:03] coderanger commented on #1937
@adrianchifor On that cluster, do you see any output from either Keda pods?

[2021-07-10 10:07] adrianchifor commented on #1937
keda-operator
[code]

keda-operator-metrics-apiserver
[code]

Definitely looks like keda-operator-metrics-apiserver is stuck. Restarting it doesn't help.

[code]

[2021-07-10 10:19] coderanger commented on #1937
Okay, that definitely gives more to go on, thanks!

[2021-07-10 10:36] coderanger commented on #1937
@adrianchifor Do you see any lingering HPA objects that somehow escaped cleanup and are trying to access Keda metrics?

[2021-07-10 10:42] avdhoot commented on #1940
Suggestion Any thoughts on exposing `MetricTargetType` in scaler.metadata like.
[code]

[2021-07-10 10:48] adrianchifor commented on #1937
Nope
[code]

[2021-07-12 09:10] zroubalik commented on #1587
Yeah, that does make sense.

What I'd love to see is some actual proposal on how do we want to achieve this from technical point.

[2021-07-12 09:19] zroubalik commented on #1940
I would love to see some generic approach for all scalers.
So it might even be a new field next to metadata section (similar way how this PR adds Fallback: https://github.com/kedacore/keda/pull/1910/files#diff-33506d72fc24194f1ac7ad0a8963c2f19a49c4a46b6d559c70f8f2b5c27d0837R110).

The only thing I am concerned about is what would be the actual behavior when there will be mutliple triggers in one S

[2021-07-13 11:40] taragurung opened #1955 "Getting datatype error though the values passed is of string"
### Report

Getting the error `spec.triggers.metadata.queueLength in body must be of type string: "integer"` though the values passed is integer string.

I am trying to create ScaledObject via helm chart and passing the value for queueLength as following:
 **queueLength: "5"**

### Expected Behavior

successfully created helm release with Triggerauthentication and Scaledobject created with the val

[2021-07-13 11:43] #1955 closed

[2021-07-14 11:09] zroubalik commented on #1838
@tomkerkhove should `idleReplicaCount` live in `.spec` root next to the `minReplicaCount` & `maxReplicaCount` or in `.spec.advanced` ?

[2021-07-14 11:21] tomkerkhove commented on #1838
I'd say keep them next to the rest, in our next major version we'll move all of them to `replicas.xyz`?

[2021-07-14 12:51] tomkerkhove commented on #1872
Re-opening since code wasn't merged yet

[2021-07-14 12:54] #1872 closed

[2021-07-14 22:12] prashanth-volvocars commented on #871
I would like to contribute for this. I already some poc to make this work using metrics api scaler but since i know Golang i thought i can implement a new scaler for selenium. Let me how to proceed

[2021-07-15 05:34] tomkerkhove commented on #871
That would be great, thank you!

[2021-07-15 05:35] tomkerkhove commented on #871
Also, if you are already a KEDA user and want to be listed - Please let me know!

[2021-07-15 05:44] #1838 closed

[2021-07-15 07:07] philipp94831 commented on #1838
Thank you so much @zroubalik 🙏

[2021-07-15 07:40] zroubalik commented on #1838
@philipp94831 you can give a try if you want to and give me a feedback, just use images with `:main` tag

[2021-07-15 12:36] muralaris opened #1962 "Kafka Scaler not scaling down"
### Report

I wanted to a get a hand at the Kafka consumer pods auto-scaling capabilities using KEDA Kafka auto-scaler.
I tried to use references in https://tech.groww.in/event-driven-autoscaling-in-kubernetes-using-keda-c6aa27a10a80 ( https://github.com/leegin/KEDA-kafka). The scaling-up of consumers happen while it doesn't scale down after messages are consumed from the topic.

The ScaledObject

[2021-07-15 12:53] prashanth-volvocars commented on #871
We are experimenting with KEDA in our local setup to see how it suits our needs. Once we push it to production, we would be happy to be listed as an user. I will keep you posted on that.

[2021-07-15 13:01] prashanth-volvocars commented on #871
Regarding the Scaler for selenium grid. I just have quick question. How is it going to be. Is it going to be a external scaler or is it going to be a inbuilt scaler

[2021-07-15 14:46] adrianchifor commented on #1937
So I just created an HPA in this cluster and requests have dropped / are more consistent

![image](https://user-images.githubusercontent.com/6370064/125807605-7b9f1391-c07b-4d23-962f-23a3f1030e28.png)

The apiserver latency is also 10x faster, not sure yet if its correlated but sure looks like it

![image](https://user-images.githubusercontent.com/6370064/125807859-92a0860e-e64c-4b61-a7ff-b61f9ee3

[2021-07-15 14:48] yaronya opened #1963 "Support Pod conditions for calculating PendingJobCount in accurate scaling startegy"
### Proposal

Currently KEDA looks for the Pod phase (when scaling strategy is set to `accurate`) to determine whether a pod is pending or not in order to avoid excess triggers when pod is waiting to start or create. This feature was introduced in #1391.

I believe this could be enhanced by not only looking at the Pod's phase, but also its conditions. The conditions should be configurable like:
[c

[2021-07-15 17:15] choppedpork commented on #1894
The plot, unfortunately, thickens. My colleague just hit this issue on three separate clusters. Since my last update we've updated to k8s 1.20 and are using KEDA 2.3 (via 2.3.2 helm chart). These clusters are all in EKS. Interestingly (and rather annoyingly) the issue is 100% reproducible in all of them ie. we can't actually get it to work - my previous workaround of removing the scaled job defini

[2021-07-16 06:08] Oliver-Sellwood commented on #237
Not sure if my use case is totally related to this issue but I'll let you decide.

I have an environment where we ingest logs from external entities and store them in a database. We have another service running that reads the logs and fires alerts based on the data in the db. Some of the alerts are triggered by a stop in related events. If any part of the system becomes non-functional then events

[2021-07-16 07:04] tomkerkhove commented on #237
I think it's somewhat related and if we would be plugging in the Kubernetes events for a workload that we could identify it. What do you think @zroubalik?

Sounds like an interesting case though and another one is that we can scale workloads down if the downstream service is having issues.

[2021-07-16 13:22] choppedpork commented on #1894
Hello,

I think I've got some good news for yourselves as the last issue turned out to be a templating problem on our side - I was distracted by it looking so similar to the previous occurrence and started digging deeper instead of re-evaluating the basics...

I am currently reviewing whether the originally reported two instances of this issue could have been caused by the same problem - we have t

[2021-07-16 13:22] #1894 closed

[2021-07-16 13:47] tomkerkhove commented on #1894
Good to hear and sorry for not replying sooner!

[2021-07-17 15:27] dmeytin commented on #1587
we need to add a few operations:
1) join cluster - responsible to configure KEDA operator of other clusters
within the squad with the certificate of the current cluster
2) Scaling object extra configuration

      - capacity:

         cluster-eus: 20

         cluster-eus: 20

         cluster-wus: 60

the configuration done on any cluster is immediately synced with the
squad (if the configuratio

[2021-07-17 15:31] amitherlekar opened #1964 "Multiple pods spin up for ActiveMQ Artemis Scalar"
### Report

The issue is already reported for Azure Storage Queue. I am facing the same issue for ActiveMQ Artemis scalar with `ScaledJob`.

It is clearly explained here: https://github.com/kedacore/keda/issues/525#issuecomment-576249275

### Expected Behavior

I expected KEDA to trigger only once per message added to the queue, resulting in 1 pod per message.

### Actual Behavior

Currently, KEDA

[2021-07-17 17:06] dymitrs opened #1965 "Problem with fetching Azure custom metric through Azure Monitor scaler"
### Discussed in https://github.com/kedacore/keda/discussions/1946

<div type='discussions-op-text'>

<sup>Originally posted by **dymitrs** July 10, 2021</sup>
Hi all,
It seems that the Monitor scaler does not work with some custom metrics from Application Insights.
According to docs and the PR, Custom Metrics are supported after those changes https://github.com/kedacore/keda/pull/1883.

[code]

T

[2021-07-18 13:07] tomkerkhove commented on #1965
Let's take a look but for what it's worth, Azure Monitor custom metrics do not always have parity with Application Insights which can require different API usage.

[2021-07-19 11:45] zroubalik commented on #1963
@yaronya this is a great proposal, it sounds reasonable for me. Are you willing to contribute this one?

[2021-07-19 11:50] zroubalik commented on #1962
Are you sure that those messages were consumed from the Kafka topic? Maybe the offset hasn't been properly committed? You might want to change setting: `offsetResetPolicy: latest`

[2021-07-19 12:10] zroubalik commented on #1964
@TsuyoshiUshio FYI

[2021-07-19 13:33] yaronya commented on #1963
Sure thing.
I'm a little busy lately so I'll try to get to it in the forthcoming week or two.

[2021-07-19 16:57] aslom commented on #1431
I have similiar problem - no crashing but also no scaling happens - instead getting long stream of

[code]

That was with v2.1.0 and I am now testing with latest from git.

[2021-07-20 11:55] muralaris commented on #1962
It now works but with a caveat.
I tried with a clean setup with offsetResetPolicy: latest and offsetResetPolicy: earliest. In both cases, it scaled down after 5 mins (300s) to be precise although i have set my coolDownPeriod to a low of 30s. Is this the expected behaviour or something wrong ??

I also observer that it scales up from minReplicaCount to maxReplicaCount for any kind of load. In this

[2021-07-21 02:15] philomory commented on #320
@abhirockzz I think @sc-chad was asking for something rather different than what the Prometheus scaler provides; rather than connecting to a Prometheus server, he was asking for the RabbitMQ scaler to connect to the RabbitMQ cluster's `/api/metrics` endpoint; this endpoint happens to expose metrics in Prometheus' scrap format, but they can still be read if you don't have a Prometheus server scrapi

[2021-07-21 02:18] coderanger commented on #320
-1 on this, I think it's too deep in the weed for us to support.

[2021-07-21 02:33] philomory commented on #320
@coderanger That's fair enough, I sort of agree. I was just pointing out that the original feature request may have been misunderstood.

[2021-07-21 02:39] coderanger commented on #320
Hard to say what the original thought was but I would answer the same, even with it being a bit sideways. If someone doesn't use Prometheus, they aren't likely to care or know about the metrics API. And if they do use Prom then they could use the Prom scaler.

[2021-07-21 23:58] philomory opened #1973 "[InfluxDB Scaler] Allow queries that return integers in addition to those that return floats"
### Proposal

The InfluxDB scaler should continue to function if the query used returns an integer rather than a float. At the moment, there is an undocumented requirement that queries must return floats.

### Use-Case

I'd like to query values from InfluxDB that happen to be stored as integers (event counters and such) without having to remember to manually convert those values to floats in each

[2021-07-22 06:23] zroubalik commented on #1973
Seems like a fair requests, I don't think there is something that prevents us in using int there as well. @yquansah wdyt?

@philomory Are you willing to contribute this one?

[2021-07-22 15:27] TsuyoshiUshio commented on #1964
Hi @amitherlekar
According to your definition file, you don't use scaling strategy. I don't know about ActiveMQ Artemis, however, if the behavior of the queue length is the same as Azure Storage Queue, we can use `accurate` strategy. Could you try it and share the result? If not, we need more investigation for the behavior of the ActiveMQ Artemis.

https://keda.sh/docs/2.3/concepts/scaling-jobs/

[2021-07-22 17:07] amitherlekar commented on #1964
Thank you for your response, @TsuyoshiUshio . I tried as you requested. I added `accurate` strategy in the manifest. Then I posted 1 message via ActiveMQ console.  This job takes about 20 seconds to process 1 message. By then I see multiple pods spin up. And from the logs I see multiple pods processing the same message.

Updated manifest.
[code]

Pods spinning up...

[code]

If there anything you

[2021-07-22 17:17] amitherlekar commented on #1964
FYI - We are using ActiveMQ Artemis 2.6.0 and building docker image from it: https://github.com/apache/activemq-artemis/tree/main/artemis-docker

[2021-07-22 17:23] rtnpro opened #1975 "RabbitMQ scaler does not support custom metricName"
### Report

In our use case, workers consume from multiple RabbitMQ hosts on the same `queue` name, and failover if a host goes out of service. However, without support for custom `metricName` in `TriggerMetadata` like other scalers like `postgresql`, triggers on the same queue, mode but different RabbitMQ hosts create duplicate `metricName` in Keda, and hence there's an error during reconciling t

[2021-07-22 18:32] yquansah commented on #1973
@zroubalik I mean it eventually does get truncated to an integer https://github.com/kedacore/keda/blob/03d0f98fb4b9c81e04be0dbc1069bb4a3a03f5b5/pkg/scalers/influxdb_scaler.go#L193

but there is some assumptions being made here. Is there a particular error or something you are encountering? @philomory

[2021-07-22 19:08] philomory commented on #1973
@zroubalik Yes, I think I'd be able to contribute a fix. At the very least, I can give it a shot.

@yquansah Yes, if you start with a query that returns an integer the entire process fails, while logging the error "value could not be parsed into a float".

For example, if I try to use the following query:

[code]
... this will return the number of jobs in a backlog, which is an integer. Used as-is

[2021-07-23 03:03] TsuyoshiUshio commented on #1964
Hi @amitherlekar
In your case default strategy looks good. You can remove the scaling strategy part.  I also curious why you configure `parallelism` and `completion`.  I'd like to see the log of keda operator.
According to the behavior you reported, it looks like the, ActiveMQ scale keeps visible after you consume the message on the pod. (That is why it keeps creating message) Usually, it will be

[2021-07-23 04:27] amitherlekar commented on #1964
Hi @TsuyoshiUshio,

Ours is a python project. We are using STOMP protocol to communicate with ActiveMQ. We are using [this python module](https://stomppy.readthedocs.io/en/latest/quickstart.html). We have a Listener class where messages will be processed. We have set `client-individual` as the `ACKNOWLEDGEMENT` type on the connection. Once the message is fully processed, we send the acknowledgemen

[2021-07-23 06:45] amitherlekar commented on #1964
PFA - The keda-operator log file in a ZIP.
[keda-operator.zip](https://github.com/kedacore/keda/files/6866958/keda-operator.zip)

[2021-07-23 15:23] gabrielSoudry commented on #39
Some news ? The first case "No available partition" is common

[2021-07-24 20:17] sringel commented on #1627
With this [patch](https://github.com/kedacore/keda/issues/1311#issuecomment-801477202) applied to the ScaledJob CRD annotations defined the jobTargetRef template metadata are applied to the pod successfully. So if you are running into this issue check the ScaledJob CRD and ensure it has `x-kubernetes-preserve-unknown-fields: true`.

[2021-07-25 16:21] endejoli opened #1979 "ScaledObject is not honoring the resource quota"
### Report

I have the below resource quota configured in my project
[code]
But I am still able to create more than 1 scaledobject resource

[code]

### Expected Behavior

Since quota defines the count as 1, it should not allow to create second scaledobject

### Actual Behavior

Able to create more than one scaledobject

### Steps to Reproduce the Problem

1. define the quota with above yaml
2. cr

[2021-07-25 16:26] endejoli commented on #1979
This defect can be closed as Not a defect. I did a mistake with quota defenition. It should have been
[code]

[2021-07-25 19:44] coderanger commented on #1979
Even if this was a bug, it would be in Kubernetes itself.

[2021-07-25 19:44] #1979 closed

[2021-07-26 11:45] philipp94831 commented on #1838
Hi @zroubalik, due to vacation we only yet had the time to test it. We switched to `:main` tag for our KEDA installation but we are getting the following error when creating a scaled object: `error validating data: ValidationError(ScaledObject.spec): unknown field "idleReplicaCount" in sh.keda.v1alpha1.ScaledObject.spec` Do you know what causes this?

[2021-07-27 06:36] zroubalik commented on #1838
@philipp94831 you need to install the new CRD as well, so your k8s cluster knows the updated ScaledObject : https://github.com/kedacore/keda/blob/main/config/crd/bases/keda.sh_scaledobjects.yaml

[2021-07-27 06:50] #743 closed

[2021-07-27 07:45] philipp94831 commented on #1838
@zroubalik Ah yes. We install KEDA using helm. Is the chart also published in a `main` version or do we have to manually apply the definition?

[2021-07-27 07:48] zroubalik commented on #1838
@philipp94831  You will have to manually update the CRD, the rest of the resouces could be from the Helm.

[2021-07-27 09:29] philipp94831 commented on #1838
@zroubalik Everything works perfectly and as expected, thanks again!

[2021-07-27 09:44] zroubalik commented on #1838
@philipp94831 glad to hear that!

[2021-07-27 12:44] philipp94831 commented on #1838
@zroubalik Do you have any timeline on making a stable release?

[2021-07-27 16:52] jjcollinge commented on #1479
So it looks like listing sessions is partially supported in the [ASB Go SDK](https://github.com/Azure/azure-service-bus-go/blob/f9ea40a809f9b8f8f8789dc679d2088cc3935be9/message_session.go#L101) but is [limited to getting only sessions that state has been touched in the last 30 mins](https://github.com/Azure/azure-service-bus-go/issues/210). According to the JS SDK team, when they looked at impleme

[2021-07-27 17:03] yquansah commented on #1973
@philomory Got you. Okay this should be something I can write a fix for

[2021-07-27 17:18] zroubalik commented on #1973
@yquansah  the PR is already opened, feel free to do a review
https://github.com/kedacore/keda/pull/1977

[2021-07-28 05:39] zroubalik commented on #1838
A few weeks at maximum.

[2021-07-28 06:27] muralaris opened #1983 "Kafka scaler gradual scaling"
### Report

I tried to experiment with kafka scaler as in https://tech.groww.in/event-driven-autoscaling-in-kubernetes-using-keda-c6aa27a10a80 ( https://github.com/leegin/KEDA-kafka)

I tried with a clean setup with offsetResetPolicy: latest and offsetResetPolicy: earliest. In both cases, it scaled down after 5 mins (300s) to be precise although i have set my coolDownPeriod to a low of 30s. Is thi

[2021-07-29 08:30] dipen-epi opened #1989 "[Kafka Scaler] Kafka SASL SCRAM auth seems to not work with AWS MSK"
### Report

When trying to authenticate with AWS Managed Streaming for Kafka secured with `SASL_SCRAM_512` authentication KEDA ScaledObject seems unable to communicate with cluster and gives the following error

[code]

Tried using KEDA version `1.4` and `2.3.0`.

### Expected Behavior

KEDA should be able to create a new ScaledObject Custom Resource and subsequently a HPA for scaling the target D

[2021-07-30 14:32] jjoynsonerwin commented on #1629
Is there any update on this issue?

We are also getting:
`scalehandler Error getting scale decision {"Error": "failed to execute IsActive function. Scaled object: xxx. Namespace: default. Inner Error: error calling Log Analytics REST api. Inner Error: Post "https://api.loganalytics.io/v1/workspaces/xxx/query\": context deadline exceeded (Client.Timeout exceeded while awaiting headers)"}`

Sometime

[2021-07-31 10:03] endejoli opened #1990 "keda-olm-operator gets OOMKilled"
### Report

we have installed KEDA through the operator in one of our environments, as soon as it gets installed it crashes with OOMKilled error

### Expected Behavior

Should be up and running

### Actual Behavior

OOMKilled

### Steps to Reproduce the Problem

1. Install through KEDA operator
2.
3.

### Logs from KEDA operator

[code]
![oomkilled](https://user-images.githubusercontent.com/162518

[2021-07-31 10:05] coderanger commented on #1990
The default memory limit is set to work for most people but if you have an unusually large number of deployments or statefulsets you will need increase it like you would any other pods.

[2021-07-31 13:05] endejoli commented on #1990
This is a fresh install of KEDA.  So existing deployments/statefulsets can cause KEDA memory to shoot up?

[2021-07-31 13:07] coderanger commented on #1990
Yes, like most operators it keeps a local cache of objects driven from an informer.

[2021-07-31 15:10] JorTurFer commented on #1735
Any news about this? We have one use case where this option could help. In our case, we have one "RabbitMQ" hub which scale depending on the queues, but that hub does calls to other services. Now we are scaling them in base of the CPU this could improve our scaling rules taking in consideration the CPU and the amount of instances in the hub.
If you still think that this is useful, I can try to imp

[2021-07-31 17:57] #871 closed

[2021-08-02 06:13] #1973 closed

[2021-08-02 08:31] tomkerkhove commented on #1975
Thanks for your contribution on this @rtnpro!

[2021-08-02 13:58] tomkerkhove commented on #1735
My use-case is similar indeed and we are open for contributions so that would be great, thank you @JorTurFer!

[2021-08-02 14:53] JorTurFer commented on #1735
Hi @tomkerkhove
I will try to do it, it's a good task to improve my Golang :)

[2021-08-02 15:01] remixtj commented on #1286
Hello,

i can confirm the behavior with keda 2.2:

[code]

Error reported is:

[code]

We'd like to centralize parameters on a single secret, so we don't require to update several files when DB details is changed. Based on docs:

[code]
i was supposed to move parameter from ScaledObject to TriggerAuthentication and have it parsed, but looks like is not true.
Same problem also with artemis amq plug

[2021-08-02 16:33] JorTurFer commented on #1735
I'm starting this and I have some doubts about it.
What could be better, use match selectors and count the pods directly or use the controller (deployment or statefulset) to get the child pods?
I don't have a strong opinion, but I guess that is more powerful to use selectors instead of the controller.
WDTY?

[2021-08-02 16:57] zroubalik commented on #1989
What Kafka version are you using? You might have hit the same issue like mentioned here?

[2021-08-02 17:10] tomkerkhove commented on #1735
I would personally rely on the controller. What about you @zroubalik ?

[2021-08-02 17:23] zroubalik commented on #1735
Selectors on the other hand could be more generic - we can match mutliple Deployments 🤷‍♂️

[2021-08-02 17:38] JorTurFer commented on #1735
We can match multiple Deployments or workloads in general, not only Deployments, that is the reason why I'm doubting...

[2021-08-02 17:44] zroubalik commented on #1735
Yeah, that's what I thought.

[2021-08-02 18:18] JorTurFer commented on #1735
Okey,
If there isn't a strong opinion about it, I think that I will take the approach of match selectors. They can bring exactly the same capabilities as using controller, but also can another capabilities if you need them.
How do you feel with this approach @tomkerkhove ?

[2021-08-02 18:24] tomkerkhove commented on #1735
Sounds good to me!

[2021-08-03 06:30] dipen-epi commented on #1989
Looks like so @zroubalik
We're using Kafka version `2.7.0`

[2021-08-03 09:42] #1975 closed

[2021-08-03 10:47] #1963 closed

[2021-08-03 11:58] nidiculageorge opened #2004 "I am trying to upgrade the keda v 1.4.0 to 2.3.0 after uninstalling keda (1.4.0)"
AKS CLuster : 1.20.7
Keda Version :1.4.0

helm uninstall -n keda keda
W0803 11:45:45.714229     997 warnings.go:67] apiregistration.k8s.io/v1beta1 APIService is deprecated in v1.19+, unavailable in v1.22+; use apiregistration.k8s.io/v1 APIService
release "keda" uninstalled
nithin@Azure:~$ kubectl delete -f https://raw.githubusercontent.com/kedacore/keda/v1.4.0/deploy/crds/keda.k8s.io_scaledobjects

[2021-08-03 13:43] zroubalik commented on #2004
Did you removed all deployed ScaledObjects/ScaledJobs as well?

[2021-08-03 14:58] zroubalik commented on #1989
`2.7.0` should be supported by Sarama client that is being used by KEDA: https://github.com/Shopify/sarama#compatibility-and-api-stability

[2021-08-03 15:37] dipen-epi commented on #1989
Dynamic version support is part of KEDA release 2.4, if I'm not wrong?
We're currently using KEDA 2.3

[2021-08-04 10:59] tomkerkhove commented on #1627
Closing as it's already fixed.

[2021-08-04 10:59] #1627 closed

[2021-08-05 06:40] zroubalik commented on #1989
In KEDA 2.4 you will be able to select the Kafka (Sarama) client version, in case you need to target an older Kafka Broker.

I think that your setup should work on KEDA 2.3 out of the box, because the Kafka version is supported by the client. I'd check whether the Kafka is reachable from within the cluster (firewall), I'd check if provided credentials and Broker urls are correct (check typos).

[2021-08-05 19:20] #1918 closed

[2021-08-06 04:54] oleksdiam commented on #1067
@XavierGeerinck I've got the same errors. There was a mistake with encoding of secrets: the trailed '\n' has been included in the hashed value.
Everything has become well when I hashed values correctly:
`echo -n 'AKIASOMEAWSACCESSKEID'  | base64`

[2021-08-06 06:55] #1735 closed

[2021-08-06 10:46] nidiculageorge commented on #2004
Hi @zroubalik

The issue has been resolved after deleting the following from the Custom Resource Definitions

![image](https://user-images.githubusercontent.com/43850474/128499034-a4c63dce-8c01-4d97-9ff9-a01bbafd5588.png)

scaledjobs.keda.sh
scaledobjects.keda.k8s.io
scaledobjects.keda.sh
triggerauthentications.keda.k8s.io

These needs to be removed from the CRD's

[2021-08-06 10:46] #2004 closed

[2021-08-06 21:28] ahmelsayed commented on #1067
I'm unable to repro this using the following

[code]

note that `awsAccessKeyID` and `awsSecretAccessKey` are now `awsAccessKeyIDFromEnv` and `awsSecretAccessKeyFromEnv`. See v2 breaking change here https://github.com/kedacore/keda/releases/tag/v2.0.0

I'll close this issue based on that.

[2021-08-06 21:28] #1067 closed

[2021-08-09 15:15] AlexLast commented on #1937
We're also seeing the same on Kubernetes `1.20` with KEDA `2.3.0`, happy to provide any information that may help with investigation?

[2021-08-09 16:07] AlexLast commented on #1937
Can also confirm, after creating a single`ScaledObject`, requests/s drop back down to a more reasonable amount:

![Screenshot 2021-08-09 at 17 03 57](https://user-images.githubusercontent.com/5066324/128737901-c87ac48b-e4d0-4b9f-b1bb-7c699e4ce81c.png)

[2021-08-09 21:39] JorTurFer opened #2019 "devcontainer is using Python 2.7 for pre-commit"
### Report

When I try to execute `pre-commit run --all-files` using devcontainers I get an error related with outdated python version ([and also it's unmaintained](https://www.python.org/doc/sunset-python-2/))
There is also another problem related with the End Of Line in bash script because my local computer is windows and the container is UNIX.

[code]

### Expected Behavior

I expect to be able

[2021-08-09 21:44] coderanger commented on #2019
More or less nothing on the planet still supports Python 2. You'll need to use Python 3. 2.7 was end-of-lifed January 1 2020.

[2021-08-09 21:46] JorTurFer commented on #2019
Sure, but the devcontainer is using python 2, that's the problem :) https://github.com/kedacore/keda/blob/main/.devcontainer/Dockerfile#L73-L74

Also, there is another problem with the EndOfLine in bash scripts

[2021-08-09 21:49] coderanger commented on #2019
That's a more specific issue :)

[2021-08-09 21:51] JorTurFer commented on #2019
Sorry, my fault
I thought that the term dev container is enough explicit, but probably I was assuming more than I should assume

[2021-08-09 21:56] JorTurFer commented on #2019
Ouch, I have just seen that you created the PR first. Up to you to close mine if you want but please, take in consideration the `.gitattributes` file :)

[2021-08-09 22:54] #2019 closed

[2021-08-09 22:59] JorTurFer commented on #1465
Maybe can this issue be closed?

[2021-08-09 23:11] JorTurFer commented on #1081
Which is the state of this?
If you have abandoned it, I could continue from my side :)

[2021-08-10 06:49] #1465 closed

[2021-08-10 07:37] #1823 closed

[2021-08-10 08:25] zroubalik commented on #1081
@JorTurFer that's great! I think that you can work on that, thanks :)

[2021-08-10 12:33] tomkerkhove opened #2022 "Provide support for autoscaling Bitbucket Pipelines Runners"
### Proposal

https://bitbucket.org/blog/pipelines-runners

### Scaler Source

Bitbucket Pipelines Runners

### Scaling Mechanics

Scale Runners based on pending work for Bitbucket pipelines

### Authentication Source

TBD

### Anything else?

_No response_

[2021-08-10 21:51] akramwaseem opened #2025 "Keda pod crashes with HPA not find in version "autoscaling/v2beta2\"
### Report

Keda pod stuck in crashloop with error
[code]
Not sure why its crashing at the moment there are no autoscaling or hpa objects defined

V:2.4.0
Installed using helm no custom settings defined.

### Expected Behavior

Shoudnt it be constantly looking for scaledobjects if there are none ?

### Actual Behavior

Instead keeps crashing with the error.

### Steps to Reproduce the Problem

1.

[2021-08-10 22:05] JorTurFer commented on #1081
I'm taking a look to this and I have some doubts :/
Is it not supported yet? I mean, [it's already supported the use of API-KEY](https://github.com/kedacore/keda/blob/main/pkg/scalers/metrics_api_scaler.go#L37-L42) and the jwt token could be a specific config using it I think:
[code]

I have to try it tomorrow (today I have created the server authorized with jwt to test it) but I think that it wil

[2021-08-10 23:39] JorTurFer commented on #1081
I have just tried and it works fine
This is the config that I used:
[code]

I think that update the documentation to explain it explicitly could be enough

[2021-08-11 06:27] zroubalik commented on #1081
Hmm, sorry for confusion. @aman-bansal could you please confirm?

[2021-08-11 06:28] zroubalik commented on #1937
Interesting, @AlexLast thanks for the info!

[2021-08-11 06:30] tomkerkhove commented on #2025
It is having issues creating the HPA, but for some reason it's trying to use `autoscaling/v2beta2` instead of `autoscaling/v1`.

Do you know @zroubalik?

[2021-08-11 06:33] coderanger commented on #1937
That is super weird, I wonder if it's a bug in the underlying informer code?

[2021-08-11 06:40] zroubalik commented on #2025
KEDA is using `autoscaling/v2beta2`, this version was introduced in k8s ~1.12-1.13.

What `kubectl api-versions | grep autoscaling` gives you?

[2021-08-11 08:06] tomkerkhove commented on #1081
This is more of a user-friendly thingy imo - JWT will always use `Authorization` header and choosing `apiKey` authentication while it's JWT instead is fairly confusing imo.

I think a dedicated `authMode` that uses the fixed Authorization header would be a nice addition.

[2021-08-11 08:17] JorTurFer commented on #1081
so it's a more cosmetic change that a real feature gap, right?
I feel that if we have a specific mode, it could be more user-friendly (probably some users don't know that JWT is a specific case of apiKey). I have asked only to be at same page
I will do it ASAP if you agree

[2021-08-11 09:27] AlexLast commented on #1937
@zroubalik @coderanger Just to confirm, also seeing this in `2.4.0`. I noticed there is a new flag to rate limit requests https://github.com/kedacore/keda/pull/1944, however I guess if we set this it could potentially cause a knock on affect to proper requests if we're still maxing out the 20 req/s?

For now I think we will just work around this by creating a dummy `ScaledObject` in our clusters w

[2021-08-11 13:57] AlexLast commented on #1937
Also wanted to mention, we're seeing a high number of requests to the Kubernetes API, around 20req/s with around 100 `ScaledObjects` on the cluster. Is this expected? It seems excessive, all of the objects have a polling interval of 30s, so I wouldn't expect anywhere near that many requests.

I wonder if this is a symptom of the same issue?

[2021-08-11 16:18] akramwaseem commented on #2025
@zroubalik  -- Seems like there is no autoscaling api
Below is the output I get

[code]
We are on 1.20 k8s version.

[2021-08-11 16:40] zroubalik commented on #2025
Okay, so it needs to enabled by administrator. There's nothing we (KEDA) could do about it, sorry 😐

[2021-08-11 18:17] akramwaseem commented on #2025
@zroubalik  -- you are right.
Now i need to figure out a way to enable those apis
thanks for looking into the issue.

[2021-08-11 18:29] zroubalik commented on #2025
@akramwaseem happy to help. Good luck!

[2021-08-12 05:42] #2025 closed

[2021-08-12 11:27] amirschw opened #2030 "Add support for the "Value" metric type in addition to "AverageValue""
### Proposal

Except for the CPU and memory scalers, all scalers, including the external scaler, only support the `averageValue` metric type. The proposal is to allow for other metric types (specifically `value`).

**Edit**: Apparently, `Utilization` is not supported for external metrics, so the proposal is only to support the `Value` metric type in addition to `AverageValue`.

### Use-Case

There

[2021-08-12 13:04] Ritikaa96 opened #2031 "Cron: Target don't scale down if start and end are given same"
### Report

During testing when we apply same start and end time, the target scale up but doesn't scale down.
Applied :
[code]

### Expected Behavior

Cron should either give a warning on applying SO or target should scale down after the scheduled time.

### Actual Behavior

Target does not scale down at all until SO is removed or changed.

### Steps to Reproduce the Problem

1. Apply target Deplo

[2021-08-12 15:11] accnops commented on #746
Can I use this for a job queue? From my understanding and testing, when a message is added using `XADD`, the consumer's Pending Entries List (PEL) does not grow. It's only when a consumer executes `XREADGROUP` that the message is added to the PEL. This this makes this unusable, since it's specifically that consumer I want to scale.

Is this correct?

For now, I'll try using Redis lists.

[2021-08-13 09:54] raffis opened #2033 "Kafka scaler not scaling to zero when offset is not properly initialized"
### Report

How is scaling to zero supposed to work? I'd like to scale to 0 if there is a topic with no messages at all or all consumed so far.
However it always scales to 1.

[code]

### Expected Behavior

Scale deployment to 0.

### Actual Behavior

Scaled to 1 replica.

### Steps to Reproduce the Problem

1.
2.
3.

### Logs from KEDA operator

[code]

### KEDA Version

2.4.0

### Kubernetes Ver

[2021-08-13 13:27] jyaworski opened #2034 "Cron trigger does not support valid ranges"
### Report

Hello:

The fix for #1809 appears to have broken our cron setup. Checking for `-` removes some valid cron entries.

### Expected Behavior

Using the following, I would expect it to scale to 5 replicas in January, October, November, and December from 8:30 AM to 1:00 PM in the America/New_York TZ:

[code]

### Actual Behavior

[code]

### Steps to Reproduce the Problem

Apply any cron tr

[2021-08-13 13:37] saurabhvagrawal opened #2035 "Error "Operation cannot be fulfilled on scaledobjects.keda.sh" getting on all scaledobjects in all clusters"
### Report

We have recently upgraded keda to keda v2.4. Since yesterday we are getting this issue on all scaledobjects across all production clusters:

E0813 11:01:27.559601       1 fallback.go:96] keda_metrics_adapter/provider "msg"="Error updating ScaledObject status" "error"="Operation cannot be fulfilled on scaledobjects.keda.sh \"k8ssanityapp\": the object has been modified; please apply you

[2021-08-13 23:48] nakumgaurav commented on #746
@accnops is right. If I have an application adding messages to a stream, they are not delivered to any consumer group until an `XREADGROUP` is issued over that consumer group. This means that if the Job that KEDA is trying to scale consumes messages, it has to wait for someone to consume messages (!!!) using `XREADGROUP`, so that the messages are moved to the PEL of that group. This leaves Redis S

[2021-08-16 15:19] joachimgoris commented on #1789
This would also be useful for us. We process batch requests and based on the amount of blobs scale our functions. We separate our blobs in folders so batches don't get mixed.
Making it possible for the blob scaler to find blobs recursively would simplify our process.

[2021-08-16 18:45] ahmelsayed commented on #1789
Regarding recursive listing of blobs, @jasonpaige is right. The delimiter is valid as `""` and setting that should allow recursive listing.

Regarding your scenario @kevinmatthews-kpmg, I'm assuming what you mean is for example if you have a container `foo` that looks like

[code]

You want to be able to count the "folders" under `somefolder`, which will be 1 or

[code]

Would be 2 (`run1` and `ru

[2021-08-16 19:45] JorTurFer commented on #2035
hi @saurabhvagrawal ,
I think that the scaler you have problems with is `external` instead `prometheus`. If you check the operator log, the unreachable metric seems that is composed with the last trigger metadata.
Are you sure that the metric is available in the external server?

[2021-08-16 22:38] JorTurFer commented on #2034
I think that the change required to support ranges again could be small. The package that it's in use supports the creation of a Parser. Maybe it's possible to validate the values trying to parse them instead evaluate it they contain `-`.
Maybe something like this:
[code]

Reviewing the code, apart from this validation, all should work without any other problem. As I can see, the process (in high

[2021-08-17 05:27] tomkerkhove commented on #1789
Sounds good to me, let's open an issue for tracking this

[2021-08-17 06:25] tomkerkhove commented on #1789
Instead of counting folders, I think we should support scaling based on blob count and container count which go recusively through all sub-containers.

If I configure `somefolder`, I want to be able to scale to 4 since there are 4 text files. In container mode, that would be 2 since I have `run1` & `run2`.

[2021-08-17 07:25] zroubalik commented on #2034
@JorTurFer that sounds like a nice approach! Opening a PR is a good start 🙏

@Ritikaa96 FYI^

[2021-08-17 07:28] zroubalik commented on #2033
@raffis seems like the offset is not properly committed in the topic. Please try to fix that on the Kafka side (or try a new topic) and scaling should work.

[2021-08-17 07:30] raffis commented on #2033
Yes I am aware of that but I expected that it scales down still since there is no offset yet.

[2021-08-17 07:32] JorTurFer commented on #2034
Cool! You can assign to me if you want, I will do it during this week :)

[2021-08-17 07:35] zroubalik commented on #1789
I wouldn't be afraid to introduce this breaking change in the next release (with proper documentation), if y'all think that this change is something that would be beneficial for users in v2.

[2021-08-17 07:43] zroubalik commented on #2035
Thanks for reporting, the problem is probably here: https://github.com/kedacore/keda/blob/b27de0c1f5c48d1ea8b4cc140197c0328159c7df/pkg/provider/fallback.go#L94-L97

We should be sure that we are modifing the status on up-to-date object, or use patch for that.

[2021-08-17 07:47] zroubalik commented on #746
@nakumgaurav could you please open a separate issue for this?

[2021-08-17 07:49] zroubalik commented on #1937
That's weird, it shouldn't be that much imho. @coderanger any clue by chance?

[2021-08-17 08:31] zroubalik commented on #1962
Sorry for the delay, this get's lost somehow.

It should scale gradually as well, it is just a matter of setting the right threshold.

In which point (replicas count) do you see the 5mins scale down? It is from 1->0 replica?

[2021-08-17 09:42] kevinmatthews-kpmg commented on #1789
For my scenario, we use cognitive services and the output of which is stored in a storage account, however it outputs it in the container with a random string for the "folder"... so lets say the structure is as follows:

/cog1234/index.json
/cog1234/files/test.json

/cog4531/index.json
/cog4531/files/test.json

I'd want the above to count the "folders" in the top level so in this case 2, this woul

[2021-08-17 09:52] tomkerkhove commented on #1789
I certainly think it does, but it's different from @jasonpaige & @joachimgoris their scenario who want to scale based on the amount of blobs and not the containers.

So since this was originally reported for blob count, I'd recommend creating a new feature request and link to this one for context so we track both.

@ahmelsayed are you up for implementing both?

[2021-08-17 15:19] tomkerkhove commented on #1789
We've agreed to make the following changes:
- Add `globPattern: <glob>` option that takes place when specified, instead of the rest
	- This allows people to choose between using glob or delimiter/prefix, but not container name since that's required
- Add `recursive: "true"` which ignores the delimiter, when specified

[2021-08-17 15:21] tomkerkhove commented on #1121
@ahmelsayed is working on this one and will aim for v2.5 🎉

[2021-08-18 05:13] saurabhvagrawal commented on #2035
Thank you for quick action. Let me know once it is fixed. We will pull updated helm chart and deploy in our clusters.,

[2021-08-18 08:06] jasonpaige commented on #1789
Thanks so much everyone, great to see this getting added to v2.5 as well! :+1:
I'll close this issue off in light of https://github.com/kedacore/keda/pull/2036

[2021-08-18 08:29] zroubalik commented on #2030
Thanks for raising this issue 🎉

This is generally useful feature, I have a few remarks:
- we need to be sure that mixing different types of `metricType` in one `ScaledObject` works correctly - ie. define multiple triggers with different `metricType`. I am not sure how HPA handles that, we should investigate, most probably it won't be a problem
- we need to be sure that this works correctly with `

[2021-08-18 09:40] amirschw commented on #2030
Thank you @zroubalik for responding and for the good remarks! I will be happy to join the next community call to discuss this. Should I just hop on the call or sign myself up somewhere?

[2021-08-18 15:13] #2031 closed

[2021-08-18 23:13] JorTurFer commented on #1807
Maybe @msfidelis was talking about [this](https://github.com/kedacore/keda/blob/main/pkg/scalers/cron_scaler.go#L22).
Basically, we are scaling to 1 when we are out of the cron active time. Would it be nice if we support the selection of the amount of the replicas in case of active period and in case of inactive period?

[2021-08-19 05:55] tomkerkhove commented on #1807
The case of inactive is most probably covered by https://github.com/kedacore/keda/pull/1958 which is now in v2.4

[2021-08-19 06:13] JorTurFer commented on #1807
Nice!

[2021-08-19 18:44] JorTurFer opened #2040 "RabbitMQ Scaler exposes sensible information in logs in case of failure"
### Report

I was configuring KEDA with RabbitMQ Scaler in new workloads and configured the auth wrong. By chance I have checked the metrics server logs and I found this:

[code]
As you can see, the HOST is totally exposed

### Expected Behavior

KEDA should protect confitential data

### Actual Behavior

RabbitMQ Scaler exposes the HOST as part of the error message and it is sent to the log

###

[2021-08-19 18:48] JorTurFer commented on #2040
I think that this has an easy solution, replacing the password in the errors to ensure that we protect that kind of data.
I will create a PR with the fix ASAP

[2021-08-19 23:20] DaviPtrs opened #2042 "Scale StatefulSet to zero doesn't work"
### Report

This is my ScaleObject YAML

[code]

Already tried with

[code]

and

[code]

As you can see on HPA watch logs, it must be scaled to zero a few seconds after my HPA target goes to less than 10 (which is my Prometheus trigger threshold), but absolutely nothing happens.

[code]

### Expected Behavior

Scale the StatefulSet down to zero when HPA target < 10 (Prometheus threshold)

### Act

[2021-08-20 06:03] nakumgaurav opened #2044 "Using the KEDA scaler with Redis Streams: Ideal Usage Question"
### Discussed in https://github.com/kedacore/keda/discussions/2043

<div type='discussions-op-text'>

<sup>Originally posted by **nakumgaurav** August 19, 2021</sup>
[Continuing the discussion from #746 ]

<br>

**Problem:**
If I have an application adding messages to a stream, they are not delivered to any consumer group until an `XREADGROUP` is issued over that consumer group. This means that if

[2021-08-20 06:05] nakumgaurav commented on #746
Thank you @zroubalik I filed the new issue #2044

[2021-08-20 06:48] oksiquatzel opened #2045 "RabbitMQ Scaler should look for hostFromEnv in all Containers"
### Proposal

RabbitMQ Scaler should look in all Containers of the scaledTarget for the ENV Variable, or there should be a way to define in witch container the ENV is specified.

### Use-Case

sometimes you have multiple Containers in one deployment with different ENVs defined.
For example a RabbitMQ Worker Container and a Database Balance Container. Then we like to define the ENV for keda only in

[2021-08-20 07:23] zroubalik commented on #2040
@JorTurFer good catch, thx :)

[2021-08-20 07:29] JorTurFer commented on #2040
@zroubalik I had good luck. A typo in my release pipeline discovered this :rofl: :rofl:

[2021-08-20 07:30] tomkerkhove commented on #2044
Let's close in favor of #2043

[2021-08-20 07:30] #2044 closed

[2021-08-20 07:31] tomkerkhove commented on #2040
Thanks!

[2021-08-20 07:33] #2045 closed

[2021-08-20 08:30] JorTurFer commented on #2040
you're welcome :)

[2021-08-20 08:41] tomkerkhove opened #2047 "Provide capability to show multiple triggers in CLI"
### Proposal

Provide the capability to show multiple triggers in CLI.

If you create a ScaledObject with multiple triggers today, and run `k get so/<name>` you will have the following output:
[code]

However, it would be nice to see all applicable triggers, maybe something like this:
[code]

### Use-Case

Improve operational experience and avoid confusion.

### Anything else?

_No response_

[2021-08-20 08:53] coderanger commented on #2047
Technically possible but requires pre-computing the string and storing it in a status field so very slightly annoying :)

[2021-08-20 09:58] #2034 closed

[2021-08-20 15:49] hermanbanken opened #2048 "Support GKE Workload Identity"
### Proposal

https://keda.sh/docs/1.4/concepts/authentication/#pod-authentication-providers lists multiple Pod Identity providers, but none is available for GCP/GKE clusters. My proposal is to add "google" as an option in `podIdentity.provider`.

### Use-Case

Running a Google Cloud PubSub Queue scaler on GKE without hardcoding credentials.

### Anything else?

Some people are having the desire f

[2021-08-20 19:01] DaviPtrs commented on #2042
moved to #2050

[2021-08-20 19:01] #2042 closed

[2021-08-20 19:45] JorTurFer commented on #2047
Honestly, I have no idea about how to do this, but I'm open to try to implement it (at least to do my best). This could be a good task to learn more about how Golang and Kubernetes work. Of course, if another wants to do it, I don't have any problem either :)

[2021-08-21 22:23] rangarb885 commented on #158
Hi , I have the same problem when i change the configuration on scaled object. I have KEDA 2.4 running on EKS 1.21.  I don't remember having this problem when i was using KEDA 2.3 on EKS 1.16.

Does this error affect scaling?

[2021-08-23 06:18] tomkerkhove commented on #2048
That's a fair and nice request!

For Azure, the identity is assigned to KEDA itself since that is the client to get the metrics with. I don't know how GKE works, do you have a link to the corresponding docs?

[2021-08-23 06:40] hermanbanken commented on #2048
The documentation is at https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity, but I'd say that the most important thing to know is that you configure the cluster (addon) to inject different tokens for Kubernetes ServiceAccounts.

I don't know exactly at which time the injection happens. It could be both the file available in the ServiceAccount mount or the data in the Metadata

[2021-08-23 09:43] zroubalik commented on #2035
@saurabhvagrawal are you able to test the patch? Here are the images that contains the patch (of course this is not an official KEDA release):
KEDA Operator: `docker.io/zroubalik/keda:flbkpatch`
KEDA Metrics Server: `docker.io/zroubalik/keda-metrics-apiserver:flbkpatch`

Thanks

[2021-08-23 09:44] zroubalik commented on #158
@rangarb885 you are probably facing this issue, right? https://github.com/kedacore/keda/issues/2035
If so, comment there or try the patch if you can. To confirm that it is correct.

Thanks

[2021-08-23 11:12] zroubalik commented on #2047
Duplicate of: https://github.com/kedacore/keda/issues/1943

[2021-08-23 11:12] #2047 closed

[2021-08-23 18:50] JorTurFer commented on #624
@tomislater , could this be solved using [fallback feature](https://github.com/kedacore/keda/pull/1910)?

[2021-08-23 19:11] bpotaczek opened #2052 "KEDA Operator Crashing"
### Report

The keda operator crashes once I apply the file to create my ScaledObject and doesn't create the HPA.

### Expected Behavior

I expected the HPA to be created.

### Actual Behavior

The operator crashes before the HPA is created.

### Steps to Reproduce the Problem

1. Install keda v2.4.0 with helm
2. Apply yaml file with secret, triggerauthentication and scaledobject
3. Watch logs
4.

[2021-08-23 20:02] tomislater commented on #624
I think so 🤔

[2021-08-24 10:33] zroubalik commented on #2052
Thanks for reporting, by chance are you able to post here the stacktrace?

[2021-08-24 11:28] JorTurFer opened #2053 "Add support to specify custom http timeout only for RabbitMQ Scaler"
### Proposal

My proposal is to add the support to specify a specific timeout to use for each trigger when you are using RabbitMQ Scaler.
It could be something like this:
[code]
In cases where it's not defined, `KEDA_HTTP_DEFAULT_TIMEOUT` should be used

### Use-Case

When you are using http protocol with regex, it could need more time than `KEDA_HTTP_DEFAULT_TIMEOUT` to get the response. It's pos

[2021-08-24 12:13] tomkerkhove commented on #2053
Is there any reason why the http prefix would be required? Other protocols don''t support this?

[2021-08-24 12:23] JorTurFer commented on #2053
I don't know if AMQ client supports it, if it supports, the key can be `timeout` directly instead `httpTimeout`

[2021-08-24 13:07] bpotaczek commented on #2052
I didn't see a stacktrace. The logs just end right there when the pod restarts. If you have steps to get one though I'd be happy to.

[2021-08-24 13:51] JorTurFer opened #2054 "Bug getting queues with regex with RabbitMQ Scaler"
### Report

I have to apologize because the RabbitMQ Scaler is not working with regex :(

Idk why I totally forgot 2 important things which should be part of the query string, the page (with `pagination=false` is still needed the parameter `page=1` ) and the regex in url format.
I'm really sorry about it and I will fix it ASAP (I start with this now) and I will alse create idk how an integration t

[2021-08-24 13:55] zroubalik commented on #2054
OK, no worrries.

wrt testing, the best thing would be to extend current RabbitMQ e2e test and add regex scenario there:  https://github.com/kedacore/keda/tree/main/tests

[2021-08-24 14:00] JorTurFer commented on #2054
The problem is that I did the test, but it is wrong... I will fix it also :)

[2021-08-24 16:18] zroubalik commented on #2052
Does `kubectl logs <POD_NAME> --previous` works for you?

[2021-08-24 18:51] bpotaczek commented on #2052
I got the same thing (in a slightly different order)
[code]

[2021-08-24 21:24] KTAtkinson opened #2056 "Keda Operator Panics if MetricSpec.TargetSize is 0"
### Report

Keda operator panics when the target size for a metric is 0.

### Expected Behavior

The server shouldn't panic when the scale target size is 0, it should write an error or other information to the logs. In addition, if the metrics server returns an error, the resulting metric spec should probably not be saved.

### Actual Behavior

panic

### Steps to Reproduce the Problem

1. Create

[2021-08-24 22:04] rangarb885 commented on #1408
I too face the same issue.. When metric is reported on HPA but scaling doesn't get triggered. There is no log/event on hpa, keda operator as well as on keda metric server . How should i debug this. ?

[2021-08-25 07:50] zroubalik commented on #2052
Hmm, are you able to build KEDA locally? You can follow this guide, but omit step 1. - because you have KEDA already deployed. https://github.com/kedacore/keda/blob/main/BUILD.md#custom-keda-locally-outside-cluster

Basically you scale down the KEDA Operator pod deployed in the cluster to 0 and then will run KEDA locally from your laptop as a standard Go program.

[code]

This will start the opera

[2021-08-25 08:09] zroubalik commented on #2056
This has been solved already: https://github.com/kedacore/keda/blob/fe032ccc41f1af1aa4dcdcf4f1d05bba9150fdbf/pkg/scaling/scale_handler.go#L300-L302

Is there a particular reason you are using 2.0.0-beta version? I highly recommend you to update to 2.4.0.

[2021-08-25 08:09] #2056 closed

[2021-08-25 16:30] saurabhvagrawal commented on #2035
@zroubalik : I am working on to deploy it in our dev cluster and post that, will test its behavior. I will keep this thread updated. Meanwhile, when can we expect to get official fix/release for keda. Appreciate if we get some timeline.

[2021-08-26 04:06] rangarb885 opened #2058 "keda-operator-metrics-apiserver restarts frequently"
### Report

keda-operator-metrics-apiserver gets restarted frequently when there are 6 scalar (SQS). Metric is polled every 30s from SQS.  This cause metric report missing for the window of time when it restarts.

### Expected Behavior

keda-operator-metrics-apiserver needs to be stable

### Actual Behavior

keda-operator-metrics-apiserver restarts frequently.

[code]

### Steps to Reproduce the P

[2021-08-26 04:42] rangarb885 opened #2059 "Error in log for unrelated env variable in Metric server"
### Report

Keda metric server looks at unrelated environment variable on deployment & prints error message on log

### Expected Behavior

Keda metric server should only be interested on the env variables on the deployment which are used by trigger-auth related to that Scaled Object/deployment

### Actual Behavior

Keda metric server looks at unrelated environment variable on deployment & prints e

[2021-08-30 07:57] zroubalik commented on #2059
Are you able to test a Deployment without the potentially problematic ENV variable? `SIGNALFX_AGENT_HOST` ?

Would you mind pasting (redacted) `envs` section from the Deployment as it is defined, ie. not `describe` output, but `kubectl get -oyaml` ?

Thanks

[2021-08-30 08:38] zroubalik commented on #2052
KEDA Metrics Adapter is running correctly (in the cluster)?

[2021-08-30 08:43] renovate[bot] opened #2063 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

<details><summary>dockerfile</summary>
<blockquote>

<details><summary>.devcontainer/Dockerfile</summary>

</details>

<details><summary>Dockerfil

[2021-08-30 13:06] bpotaczek commented on #2052
It looks like the pod was being OOM killed. Apparently the default was not enough. It was using about 500MB so I increased the limit to 1Gi and it ran fine. Thanks for the help.

[2021-08-30 13:06] #2052 closed

[2021-08-30 13:32] zroubalik commented on #2052
That explains the missing stacktrace, thanks for letting us know.

[2021-08-30 16:26] rangarb885 commented on #2059
Unfortunately i cant remove `SIGNALFX_AGENT_HOST` as it fail the deployment.

Below is the result of `kubectl get deploy adapter -n sbx -o yaml`

[code]

[2021-08-31 00:07] mboutet commented on #2034
Any idea when the next release with this fix will be available? Thanks 😄

[2021-08-31 05:34] tomkerkhove commented on #2034
We typically ship every 2 months so that would be early October.

[2021-08-31 06:42] JorTurFer commented on #2034
If you need to try it before, you can use tag `main` to get the latest changes until the next release. For example, I have done that to use the latest changes related with RabbitMQ

[2021-08-31 07:42] zroubalik commented on #2034
Yeah, but bear in mind that `main` is not stable :)

[2021-08-31 07:53] zroubalik commented on #2059
Okay, I can see the problem. It is a `fieldRef` which is not supported and this env is skipped.

@rangarb885 do you actually see error messages in the Metrics Adapter? Or just a log message? Do you see the the message with default log level setting?

[2021-08-31 15:46] rangarb885 commented on #2059
@zroubalik  :
Log messages seen under `DEBUG` level. I have enabled DEBUG for our monitoring purpose.
I see this log entry on both `keda-operator` logs as well as `keda-operator-metrics-apiserver` logs.

[code]

[2021-08-31 15:51] zroubalik commented on #2059
Okay, so this is expected, it is defined to be printed as Debug message.

https://github.com/kedacore/keda/blob/0e4a01f55cec12e65d11041f40f9d98d179ae2e5/pkg/scaling/resolver/scale_resolvers.go#L312-L315

What do you suggest?

[2021-08-31 16:00] rangarb885 commented on #2059
IMO as keda is not going to use `fieldRef` and `resourceFieldRef` , we can safely ignore them from logging as well.

[2021-08-31 16:38] JorTurFer opened #2068 "Add support to browse over the pages using regex in RabbitMQ Scaler"
### Proposal

RabbitMQ Scaler should be able to browse the pages (the queues are paginated) when it uses regex

### Use-Case

In our most intensive case, we are getting 723 queues those match the regex. We are using `cloudamqp` as a RabbitMQ provider and, at least this provider, has limited the maximum amount of queues that you can get at once in 500 per page. (and the default value is 100 per pag

[2021-08-31 16:39] JorTurFer commented on #2068
As always, if you agree I'll do it

[2021-08-31 18:01] JorTurFer commented on #2058
If it's possible having more than one instance of metrics server, I think that we should explain it explicitly because it's important to maintain the HA

[2021-08-31 18:09] JorTurFer commented on #1081
Maybe can this ticket be closed? :P

[2021-08-31 18:56] JorTurFer commented on #2058
I knew that I read something about metric server limitation, and I did in [KEDA docs](https://keda.sh/docs/2.4/operate/cluster/#high-availability) xD
https://github.com/kubernetes-sigs/custom-metrics-apiserver/issues/70

[2021-08-31 20:45] mboutet commented on #2034
Thanks for the quick reply. I've built the images from `main` and I'm using this in the meantime. No issues so far.

[2021-08-31 22:15] JorTurFer commented on #2053
I have taken a look at this and in theory it's possible to set the timeout in amqp connection, but probably it's unnecessary because the [default timeout using amqp is 30 seconds](https://github.com/streadway/amqp/blob/master/connection.go#L25) instead `KEDA_HTTP_DEFAULT_TIMEOUT` (3s as default).
It could be totally enough for amqp purposes.
I'm not sure if this option is useful in amqp scenarios

[2021-09-01 05:16] tomkerkhove commented on #2053
It's ok to keep as-is then for me, thanks for checking.

[2021-09-01 05:17] tomkerkhove commented on #2058
Yes, it's documented in our HA docs indeed: https://keda.sh/docs/latest/operate/cluster/#high-availability

[2021-09-01 05:17] #1081 closed

[2021-09-01 14:19] sylvainmouquet opened #2083 "Google PubSub ack the message and send the message"
### Proposal

Currently, the google pubsub connector check the number of messages and the consume ack the message.
If the pod is crashed it could be good to do a retry with the same values.

By this way if the connector read the message, ack the message and send it to the consumer, it's more easy to manage the retry

### Use-Case

_No response_

### Anything else?

_No response_

[2021-09-01 15:38] chapurlatn opened #2084 "TriggerAuthentication/Vault: add support for vault namespace"
### Proposal

Support TriggerAuthentication for Vault Enterprise. For now, the Vault namespace feature can not be operate by TriggerAuthentication.

In the TriggerAuthentication spec, add an optional "spec.hashiCorpVault.namespace" in order to be compliant with all Vault install (and update the Vault authentication sequence accordingly).

Currently, it's not possible to setup a Vault TriggerAuthen

[2021-09-02 08:14] zroubalik opened #2090 "Add automatic mockgen for `pkg/mock`"
### Proposal

There are several mock interfaces generated from sources for testing purposes in `pkg/mock`. These interfaces were generated manually by running commands:
[code]

We should add a target to `Makefile` to regenerate this mock interfaces automatically when there is a change in the source files. `mockgen` installation should be handled by as well, similar way how `kustomize` or other too

[2021-09-06 15:36] sqerison commented on #2030
Hey guys. I am also looking forward to seeing this feature released. So +1

[2021-09-06 15:38] fbalicchia commented on #2030
Hi  @amirschw ,  I don't know if you start to implements feature. In the meantime I've written POC for my case
extending Scaler interface proving an enum, adding a utils to set default check and sanitize input.
this is little bit different approach to add a spec
https://github.com/fbalicchia/keda/commit/d20b88615610bc1158d47a463c1f796fbbfa3f88

[2021-09-06 19:35] JorTurFer commented on #935
I will take a look to this the next week

[2021-09-07 07:15] zroubalik commented on #935
Thanks a lot @JorTurFer

[2021-09-07 10:57] ckuduvalli commented on #935
I had the test ready
test/scalers/cron.test.ts

import * as fs from 'fs'
import * as sh from 'shelljs'
import * as tmp from 'tmp'
import test from 'ava'

const testNamespace = 'nginx-test'

test.before('Create a deployment', t => {
    sh.config.silent = true
    const tmpFile = tmp.fileSync()
    fs.writeFileSync(tmpFile.name, deployYaml)
    sh.exec(`kubectl create namespace ${testNamespace}`)

[2021-09-07 10:58] ckuduvalli commented on #935
However, I am unable to run it since other azure related tests will fail

On Tue, Sep 7, 2021 at 4:26 PM Chaitanya Kuduvalli ***@***.***>
wrote:

[2021-09-07 11:03] zroubalik commented on #935
@ckuduvalli so you can temporary disable other tests and run just this one. And then you can open a PR.

[2021-09-07 11:33] JorTurFer commented on #935
you can run also this test alone.
If you go inside the tests folder and run `npx ava scalers/yourfile.ts` it will execute only your file

[2021-09-07 13:18] nlamirault commented on #779
Any news on this feature ?

[2021-09-07 18:16] ordonezf opened #2093 "Install fails because v1beta1.external.metrics.k8s.io it's already installed"
### Report

Running `helm install keda kedacore/keda --namespace keda` fails with error

Error: rendered manifests contain a resource that already exists. Unable to continue with install: existing resource conflict: kind: APIService, namespace: , name: v1beta1.external.metrics.k8s.io

### Expected Behavior

`helm install keda kedacore/keda --namespace keda` installs keda on cluster

### Actual Beh

[2021-09-07 18:43] JorTurFer commented on #2093
Could this be related with this other issue?
https://github.com/kubernetes-sigs/custom-metrics-apiserver/issues/70

[2021-09-07 19:38] ordonezf commented on #2093
I didn't think to look there 😅
It seems to be the exact same problem. Do you have any idea if sharing the same resource between datadog and keda could be harmful?

[2021-09-07 20:17] JorTurFer commented on #2093
No problem!
Honestly, I haven't got any idea about it but maybe some one comment with extra information

[2021-09-08 09:13] adrianchifor commented on #1937
Any updates? This is still an issue on keda 2.4.0 with the default 20qps throttling / 30qps burst settings.

We had to setup a dedicated flowcontrol queue for keda and it's constantly hitting the ceiling (30qps max), with just 4 HPAs in the cluster. Most of the requests are still GET for ScaledObjects and a lot of POST to SubjectAccessReviews.

[2021-09-09 09:59] JatinSanghvi opened #2096 "Follow Protocol buffers style guide in file `externalscaler.proto`"
### Proposal

Creating this issue on behalf of https://github.com/kedacore/keda-external-scaler-azure-cosmos-db/issues/5. It seems the main ask here is to use snake_case for field names. As the other issue mentions, this would be a breaking change and can be taken up in next major release.

### Use-Case

_No response_

### Anything else?

_No response_

[2021-09-09 11:07] Ritikaa96 opened #2097 "ActiveMQ Artemis: Parameters provided in restApiTemplate are again needed to be set in metadata."
### Report

While testing ActiveMQ Artemis Scaler, it was found that even if I provide `restAPITemplate`, I still would need to provide the parameters : brokerName, brokerAddress, managementEndpoint,queueName.
The restAPITemplate can be generated by these parameters as it's as follows:
[code]
On further investigation I stumble upon this function to generate the restAPITemplate [here](https://githu

[2021-09-10 07:26] zroubalik commented on #2093
Duplicate of #470

[2021-09-10 07:26] #2093 closed

[2021-09-10 07:27] zroubalik commented on #2093
Unfortunately there could be only one instance of `v1beta1.external.metrics.k8s.io` in the cluster 🤷‍♂️

[2021-09-10 07:30] #2053 closed

[2021-09-10 08:15] zroubalik commented on #1912
Have you tried to update to latest KEDA 2.4.0?

[2021-09-10 08:15] zroubalik commented on #2096
Good catch.

@ahmelsayed FYI

[2021-09-10 08:33] zroubalik commented on #779
@jeffhollan ^

[2021-09-10 08:36] zroubalik commented on #2097
I think you are right, IMHO if a parameter is provided in `restApiTemplate` it shouldn't be needed to be set again in the metadata.

@balchua @spoplavskiy @bonky42  WDYT?

[2021-09-10 09:11] zroubalik commented on #1937
I think that the following function might be the culprit, k8s is asking for all available metrics that are provided by the KEDA metrics server and we are doing a round trip across all ScaledObjects to compile the list of used metrics.
https://github.com/kedacore/keda/blob/a223a0ee2a3ad0a5df8ca73308c41116a30af51e/pkg/provider/provider.go#L139-L140

This code has been on my radar for quite some time

[2021-09-10 09:56] balchua commented on #2097
I agree its either the restApiTemplate or the broker config.

[2021-09-10 09:58] bonky42 commented on #2097
I agree, make sense to not set both

[2021-09-10 10:14] Ritikaa96 commented on #2097
@tomkerkhove @spoplavskiy  @balchua  there is already a function to provide restAPITemplate from the parameters, the only thing we need is to make the four params optional and a parser to get these parameters from the template URL
I'd be glad to work on this if everyone agrees.

[2021-09-10 10:24] zroubalik commented on #2097
@Ritikaa96 that would be nice!

[2021-09-10 11:45] balchua commented on #2097
Thanks @Ritikaa96

[2021-09-10 17:07] arschles commented on #1937
@zroubalik only thing I might add is that the metrics server use the resource version of the CM, rather than the timestamp, to ensure it has an up to date cache.

[2021-09-12 14:55] etamarw opened #2098 "operator deletes all running jobs whenever the relevant scaledjob object gets updated, and recreates them based on the new scaledjob spec."
### Report

on version 2.2, whenever  a scaledjob object got updated, the operator used to create only new jobs with the latest changes -  leaving running jobs that were created by the older version of the scaledjob object to finish gracefully.
on version 2.4, the operator deletes all running jobs whenever the scaledjob objects gets updated.
this behaviour is very problematic since its causing ter

[2021-09-12 15:01] etamarw commented on #2098
@zroubalik suggested that this pr might be relevant to this change 2.2-> 2.4
https://github.com/kedacore/keda/pull/1970
maybe you guys are familiar with this topic? @TsuyoshiUshio @tomkerkhove

[2021-09-13 15:05] etamarw commented on #2098
worth mentioning that on v2.2 log looks the same "Deleting jobs owned by the previous version of the scaledJob"
but jobs are not being deleted

[2021-09-14 18:07] etamarw commented on #2098
i did some debugging and found a few issues with this function:
- [over here](https://github.com/kedacore/keda/blob/main/controllers/keda/scaledjob_controller.go#L170) controller is trying to fetch the number of jobs it needs to delete. it looks like Size doesn't work that way. i noticed that on version 2.2 it always returns 8 no matter how many jobs exists (line 171):
[code]
on version 2.4, numbe

[2021-09-15 08:20] zroubalik commented on #2098
Thanks for the information @etamarw ! @TsuyoshiUshio I don't recall the context of that, it has been implemented way too loong ago and not by me :)

I agree with suggested approach, to make this configurable. @etamarw are you willing to give it a try? Since you have already started with the analysis?

[2021-09-15 08:22] #1628 closed

[2021-09-15 08:29] pesarkhobeee commented on #470
We are using [k8s-cloudwatch-adapter ](https://github.com/amazon-archives/k8s-cloudwatch-adapter) which already deprecated, and we are planing for the migration to Keda.
As expected both of them are using the same adapter, therefore, we will appreciate any solution for a smooth migration.

[2021-09-15 17:49] bobstead commented on #1408
We too are hitting this issue.  Doing a describe on the scaled object shows an event from the operator:
[code]

Our ScaledObject is set to pod for IdentityOwner and our deployment has the correct service account assigned with the correct role.

[2021-09-16 19:43] m4ver1k commented on #944
We too are looking for a similar feature, if a deployment is manually scaled to 0 replicas , KEDA operator should not autoscale it, more like how [HPA's Implicit maintenance mode deactivation  work](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#implicit-maintenance-mode-deactivation).

Why we need it ?

We use [Flagger](https://docs.flagger.app/) for Canary deployment

[2021-09-17 07:07] TimShilov commented on #1286
Has anyone managed to make it work?
I just encountered the same problem on `keda 2.4.0` with MySQL scaler.

[code]

[2021-09-17 12:01] trojandg opened #2100 "Multiple Azure Log Analytics scalers doesn't work with the same workspace"
### Report

When trying to have at least two `Azure Log Analytics` scalers working for the same workspace/namespace we have an error with unique `externalMetricName` validation, since name for that is actually made like this: `azure-log-analytics- {{workspaceId}}`

### Expected Behavior

Having option to deploy more then one Azure Log Analytics scaler for specified workspace.

### Actual Behavior

[2021-09-17 12:27] silasfrigo commented on #1241
We are having the same issue over here. Can someone send some thoughts on how to fix it?
keda logs show the following:

[code]

And ScaledObject  status show 'Unknown' state.
![image](https://user-images.githubusercontent.com/47428195/133780988-97513dac-78f4-4468-b84b-0253c07e1255.png)

keda version 2.4

[code]

[2021-09-17 12:45] silasfrigo opened #2101 "ScaledObject status Unknown"
### Report

Our scaledObject status shows unknow
![image](https://user-images.githubusercontent.com/47428195/133782601-5fa35113-29fc-4bb9-b23b-c7490431a9da.png)
n

And keda logs shows the following:
[code]

### Expected Behavior

ScaledObject to show status and complete hpa creation.

### Actual Behavior

Status stays in unknown.

### Steps to Reproduce the Problem

1. Keda version 2.4
2. Create a

[2021-09-17 14:21] odilonjk commented on #2101
Hi!

It might be relevant to say: our applications running on this k8s cluster communicate with the kafka brokers without any problem. So it's not a network problem.

[2021-09-17 17:33] odilonjk commented on #2101
BTW, the account that we're using to test Keda auto-scale, has full access on Kafka cluster, so it also doesn't seem to be a permission problem.

[2021-09-17 22:27] JorTurFer commented on #2100
Hi
As you said, the problem is how [we are generating the metric name](https://github.com/kedacore/keda/blob/main/pkg/scalers/azure_log_analytics_scaler.go#L217)
[code]
Honestly, I don't have any idea about how we could generate it automatically without collisions in this case.
Maybe we can do here like we are doing in other scalers adding the option to set the metric name manually...
WDYT @zrouba

[2021-09-20 08:35] Ritikaa96 commented on #2097
Hi @zroubalik , @tomkerkhove , @balchua I've added the functionality to parse out the parameters from `restApiTemplate`. PTAL

Now there are two options.

1. we add a check to throw and error to users not to provide both restApiTemplate & brokerConfig in metadata
2. we just mention this information in our scaler's document because when we provide restAPITemplate the code don't try to search values

[2021-09-20 12:10] JorTurFer commented on #2068
Hi @zroubalik ,
Maybe this issue should still be opened till @coderanger answer :) (I know that it was closed automatically)

[2021-09-20 12:22] zroubalik commented on #2068
@JorTurFer yeah, thanks for the reminder :)

[2021-09-20 13:35] zroubalik commented on #2100
@JorTurFer agree, adding `metricName` field here seems like the best option how to solve this.

Side note: we should probably refactor the code and solve the `metricName` generation once and for all.

[2021-09-20 13:40] zroubalik commented on #2101
What Kafka Broker version are you trying to connect to? We are using https://github.com/Shopify/sarama Go client for connection. You might want to tweak the client version: https://keda.sh/docs/2.4/scalers/apache-kafka/#trigger-specification

[2021-09-20 13:43] JorTurFer commented on #2100
I will work on this today and I will create the PR ASAP

[2021-09-20 13:57] dmeytin commented on #944
From my understanding, the suggested field should be sufficient solution.
But why ‘paused’ instead of ‘disabled’?
The idea is to take the instance count gradually to zero.
Paused doesn’t necessarily mean that the entire workload is disabled, but
only the automatic scaling is paused, that is not the case.

On Mon, 20 Sep 2021 at 16:50 Zbynek Roubalik ***@***.***>
wrote:

[2021-09-20 14:05] tomkerkhove commented on #944
I agree that the label is the best approach as the "autoscaling" definition itself does not change, you are just pausing it.

[2021-09-20 14:53] tomkerkhove commented on #1286
I presume the workload have the specified environment variables?

[2021-09-20 15:17] lukasmrtvy opened #2105 "scaleTargetRef wildcard/regex/label selector support"
### Proposal

Would be nice to have support to use wildcard/regex/label selector for scaleTargetRef.

### Use-Case

Useful for cron scaler where everything can be descheduled to 0 or to maintainence mode https://github.com/kedacore/keda/issues/944#issuecomment-922959557 automatically to save infrastructure budget.

### Anything else?

It should be possible to use https://kyverno.io/docs/writing-po

[2021-09-20 15:55] odilonjk commented on #2101
Hi  @zroubalik
We already tried to tweak the kafka version, however without success.

We also don't know exactly how version is it running on Kafka, because it's on Confluent Cloud and they don't let the customers know what version is it (usually it's the latest version, as they support told me).

@silasfrigo also made a downgrade to Keda 1.5 and it worked as expected. But the problem appeared on

[2021-09-20 16:13] TimShilov commented on #1286
Yea, of course. I have also tried the `secretTargetRef` way as @remixtj mentioned because I'm mapping environment variables from secret initially which also doesn't work.

The only way I was able to make it work for MySQL scaler is to add a new key to the Secret for `connectionString` which basically duplicates and combines other variables that are already present in the Secret so it's not great.

[2021-09-20 16:21] silasfrigo commented on #2101
Hi @zroubalik. What bothers me is that in version 1.x we did not have to provide kafka brokers version. Why is that necessary now? And if it really is necessary, why is the field optional, with a default value? Just trying to figure out if this can really be our problem.
Thank you!

[2021-09-20 17:28] zroubalik commented on #2101
The version is not necessary, it is only if you would like to change it. Majority of users should be able to connect without tweaking it.

That strange, are you able to build a simple app (consumer) with the Sarama client and try the connection to the Kafka Broker, to see whether the problem is there.

Btw in KEDA v1, there's older version of Sarama client, so that might be the problem, your Broke

[2021-09-20 17:51] odilonjk commented on #2101
I don't think the broker is running an old version, based on the Confluent support answer:

Can it be a problem in the way the SASL credentials are being build?

Our application can communicate directly with the broker without any problem, however our apps are running on [confluent-kafka-go](https://github.com/confluentinc/confluent-kafka-go).

[2021-09-21 05:51] tomkerkhove commented on #1286
Ok, I just wanted to verify - Thanks!

We will definitely have to fix this then, it is not maintainable to use that workaround for sure.

Is this something you are wanting to look in to @JorTurFer?

[2021-09-21 05:54] #1942 closed

[2021-09-21 06:26] JorTurFer commented on #1286
I have just taken a look at this and is truth, we are not taking more than `password` or `connectionString` from TriggerAuthentication, rest of parameters must be provided from trigger metadata. It's the same behavior for MySQL, Postgres, MS SQL and MongoDB.

Support getting parameters from TriggerAuthentication shouldn't be a problem, but is it really necessary? I mean, could be better if we supp

[2021-09-21 06:29] tomkerkhove commented on #1286
We should no longer use `FromEnv` for new things and rely on TriggerAuthentication since it allows you to pull it from various secret sources (secret, env var, HashiCorp vault, and more later on)

I will open issues to track these changes later today.

[2021-09-21 06:53] JorTurFer commented on #1286
So basically we have to support getting the values from trigger metadata and trigger auth, right?
You can assign me directly in the issues, I will do them :)

[2021-09-21 13:40] tomkerkhove commented on #1286
In terms of trigger metadata we should not add `FromEnv`s but other than that, yes.

[2021-09-21 13:41] tomkerkhove opened #2108 "Provide support for configuring authentication through TriggerAuthentication for MS SQL scaler"
### Proposal

Provide support for configuring authentication through TriggerAuthentication for MS SQL scaler instead of only through the metadata.

### Use-Case

Bring secrets from other sources than the workload.

### Anything else?

Discovered through https://github.com/kedacore/keda/issues/1286

[2021-09-21 13:41] tomkerkhove opened #2109 "Provide support for configuring authentication through TriggerAuthentication for MySQL scaler"
### Proposal

Provide support for configuring authentication through TriggerAuthentication for MySQL scaler instead of only through the metadata.

### Use-Case

Bring secrets from other sources than the workload.

### Anything else?

Discovered through https://github.com/kedacore/keda/issues/1286

[2021-09-21 13:41] tomkerkhove opened #2110 "Provide support for configuring authentication through TriggerAuthentication for PostgresSQL scaler"
### Proposal

Provide support for configuring authentication through TriggerAuthentication for PostgresSQL scaler instead of only through the metadata.

### Use-Case

Bring secrets from other sources than the workload.

### Anything else?

Discovered through https://github.com/kedacore/keda/issues/1286

[2021-09-21 13:41] tomkerkhove opened #2111 "Provide support for configuring authentication through TriggerAuthentication for MongoDB scaler"
### Proposal

Provide support for configuring authentication through TriggerAuthentication for MongoDB scaler instead of only through the metadata.

### Use-Case

Bring secrets from other sources than the workload.

### Anything else?

Discovered through https://github.com/kedacore/keda/issues/1286

[2021-09-21 13:44] JorTurFer commented on #1286
I will add to them today :)

[2021-09-21 17:21] silasfrigo commented on #2101
Hello @zroubalik. We tested using Sarama and something weird happened. Using exactly the same configs we use on KEDA 1.5, we cannot send the message, and in order to make the message go, we had to do the following:

[code]
We had to set config.Net.TLS.Enable as True, even without having it on our kafka and without passing its config to Sarama.
Without TLS being enable, we could not send the messag

[2021-09-21 22:34] JorTurFer commented on #1286
All the PR are opened :)

[2021-09-22 13:04] silasfrigo commented on #2101
For anyone that faces this issue in the future, i found this Pull Request that solved our issue: https://github.com/kedacore/keda/pull/1288

Closing the issue for now.

Thank you @zroubalik for all the information, and @odilonjk for all the help you gave in the investigation process.

[2021-09-22 13:04] #2101 closed

[2021-09-22 19:14] Joshhw commented on #1163
Did you figure out how to do this? Im using the `v2beta2` version and also need the initial delay flag.

[2021-09-23 07:39] m4ver1k commented on #944
@dmeytin @tomkerkhove @zroubalik Is it an option to follow the same thing HPA controller does;

`If the target's desired replica count is set to 0, and the HPA's minimum replica count is greater than 0, the HPA stops adjusting the target (and sets the ScalingActive Condition on itself to false) until you reactivate it by manually adjusting the target's desired replica count or HPA's minimum replic

[2021-09-23 08:52] tomkerkhove commented on #1732
They have added webhook support but that's not really ideal: https://github.blog/changelog/2021-09-20-github-actions-ephemeral-self-hosted-runners-new-webhooks-for-auto-scaling/

[2021-09-23 17:35] msfidelis commented on #1807
I'm sorry for delay. I found the solution for my problem. I need create a pre-warmup for predictive throughput and return to normal capacity after that.

To Keda don't set my tasks to 0 after `cron` triggers ends, i just set `minReplicaCount` to my default replica count.

[code]

I'm sorry for the time the issue stay open and I appreciate your attention, folks!

[2021-09-23 17:36] #1807 closed

[2021-09-24 13:24] ubhanja opened #2117 "401 azure_servicebus_scaler error"
### Report

Hi Team ,

What could be the reason for the below error ?  My AKS is in Azure VNET and Azure Service Bus as well. But later on removed Azure service bus from VNET . But still the error persists. Attached is the Keda scaler yaml.

2021-09-24T09:47:37.242Z ERROR azure_servicebus_scaler error {"error": "error code: 401, Details: claim is empty or token is invalid. TrackingId:713a0ea4-ae27

[2021-09-27 21:31] melisatanrverdi opened #2120 "Provide scaler for ActiveMQ Classic"
### Proposal

Provide a scaler for ActiveMQ Classic

### Scaler Source

ActiveMQ Classic

### Scaling Mechanics

Scale based on ActiveMQ Classic broker. Contacts ActiveMQ Classic's management endpoint to determine the queue's message count and scale accordingly.

### Authentication Source

Require username and password for authentication.

### Anything else?

_No response_

[2021-09-28 06:28] tomkerkhove commented on #1697
Closing due to inactivity

[2021-09-28 06:28] #1697 closed

[2021-09-28 06:29] #1231 closed

[2021-09-28 06:31] tomkerkhove commented on #883
This is supported already.

[2021-09-28 06:31] #883 closed

[2021-09-28 06:32] tomkerkhove commented on #1210
Duplicate of #1789

[2021-09-28 06:32] #1210 closed

[2021-09-28 06:32] #1226 closed

[2021-09-28 06:33] tomkerkhove commented on #767
This is no longer applicable due to #1621

[2021-09-28 06:33] #767 closed

[2021-09-28 06:34] ringtail commented on #1152
@silenceper https://github.com/AliyunContainerService/alibaba-cloud-metrics-adapter/blob/master/docs/metrics/sls.md. Use external metrics adapter would help.

[2021-09-28 06:37] tomkerkhove commented on #1152
Thanks for sharing, but maybe it's nice to have this as a built-in scaler?

[2021-09-28 08:41] ringtail commented on #1152
Yes, I agree. External Adapter could share the basic code to built-in scaler.

[2021-09-28 09:47] rychuhardy commented on #1912
Upgraded to KEDA 2.4.0

I've beed observing open channels and connections for ~24 hours, but it was not increasing.

So it looks like upgrade solved the issue.

[2021-09-28 15:18] tomkerkhove opened #2123 "Improve metric name creation to be unique"
### Proposal

Improve metric name creation to be unique by:

- Using a hash of the complete trigger metadata, or
- Define a custom name through `metricName`

### Use-Case

This is required when using multiple triggers in the same `ScaledObject` so that they are unique, but end-users still have control.

### Anything else?

_No response_

[2021-09-28 15:19] tomkerkhove commented on #2100
We will use a similar approach for all scalers  #2123

[2021-09-28 15:47] JorTurFer commented on #2123
If there is not any volunteer, I can help with this :)

[2021-09-28 16:18] arschles commented on #1912
@zroubalik @rychuhardy Can this issue be closed then?

[2021-09-28 17:24] tomkerkhove commented on #2123
Certainly, thanks a ton!

[2021-09-29 08:01] rychuhardy commented on #1912
For me yes, although I did not open it

[2021-09-29 08:42] etamarw commented on #2098
ill try to dive it a try.
i hope its a good first issue ;)

[2021-09-30 16:19] dtsioumas opened #2124 "Add unsafeSsL parameter on InfluxDB scaler"
### Proposal

Add unsafeSsL parameter in the InfluxDB scaler, usnafeSsl disables SSL certificate verification. Use when connecting over HTTPS with a self-signed certificate.

### Use-Case

This could be useful for internal self-signed certificates or for internal CA signed certificates in order to troubleshoot or using it for testing.

### Anything else?

_No response_

[2021-09-30 16:21] dtsioumas commented on #2124
I have already a fork with the parameter, I could make a PR if you find also this feature useful.

[2021-09-30 18:07] amirschw commented on #2030
Hey @fbalicchia, thanks for sharing your POC and apologies for the delay, I just got back from a long vacation (Jewish holidays... 😄). I should hopefully have time to get back to this soon.

[2021-09-30 22:09] harshitak27 commented on #1241
I was also facing the same issue with newer version of KEDA 2.4.

https://github.com/kedacore/keda/discussions/2125

[2021-10-01 10:48] sammym1982 commented on #1788
We need support for vertical autoscaling for our case. In our case we gave background jobs which gets executed on the pods. The jobs are partitioned and a pod takes the lease for a partition. Our partitioning is already optimal as per our app demands but also our application is very spiky. Which means we do see a burst of jobs which gets executed and many pods starves for resources. Right now we h

[2021-10-01 11:55] tomkerkhove commented on #1788
In that case, is there anything that the VPA does not offer that blocks you?

[2021-10-01 14:52] harshitak27 opened #2136 "Unable to get KEDA working for new version 2.4 and confluent kafka"
### Report

We had been using an older version of KEDA (1.4). We were scaling applications based on Apache Kafka/Confluent Kafka. Now we are looking to upgrade the version of KEDA as our kubernetes cluster is on version 1.20.X.

I had uninstalled the older version and installed the newer version of KEDA and changed our scaled objects and trigger authentications as mentioned here https://keda.sh/do

[2021-10-01 15:02] tomkerkhove commented on #2136
Duplicate of #1241

[2021-10-01 15:02] #2136 closed

[2021-10-02 18:17] mihaitodor commented on #2090
I opened #2137 to address this.

[2021-10-04 08:06] zroubalik commented on #1241
@harshitak27 following approach might help you: https://github.com/kedacore/keda/issues/2101#issuecomment-924909906

Let us know and we can probably document this if it solves your issue.

[2021-10-04 08:13] #2100 closed

[2021-10-04 08:14] #935 closed

[2021-10-04 08:20] #2108 closed

[2021-10-04 08:23] #2109 closed

[2021-10-04 08:28] #2111 closed

[2021-10-04 08:52] #1912 closed

[2021-10-04 08:53] zroubalik commented on #2124
Sounds like a viable option, opening a PR would be great!

[2021-10-04 09:08] zroubalik commented on #2123
I am not sure hash is the best approach, the metric name becomes quite ugly. What if we index the scalers in the ScaledObject 0-x and use this index in the metric name?

[2021-10-04 09:15] JorTurFer commented on #2123
Honestly, this sounds better to me. We were talking about it and we decided to let users give their own name because the hashing method generates weird names. Maybe we can try to do something like `Ix-currentName`
 If we can ensure that metric name is unique, maybe we can deprecate the support of setting custom metric names in the future

[2021-10-04 09:20] JorTurFer commented on #2123
I will try this new approach in the afternoon :)

[2021-10-04 11:00] Sac-BRONGA opened #2139 "Keda Non-compliant for pods and containers should only run using approved user and group Ids"
### Report

We have enabled Azure Policy for "Kubernetes cluster pods and containers should only run with approved user and group IDs." but we received all the pods in all the containers are Non-Compliant. even we provide all the required parameters.

### Expected Behavior

The Keda Pods in the Cluster need to be Non Compliant. The Keda should run only in the provided user and group ids.

### Actu

[2021-10-04 12:37] #2110 closed

[2021-10-04 16:40] zroubalik commented on #2084
fixed in #2085

[2021-10-04 16:40] #2084 closed

[2021-10-04 19:08] harshitak27 commented on #1241
@zroubalik Thank you for the solution. So here's what I changed in the scaledobject.

1) I added the parameter "tls" and set the value as "enable". This was not required with the older versions (1.4)
2) The value for sasl parameter was set as "plaintext"

Except for the above changes and few template changes, rest all remains same.

Also, wanted to know what does "ACTIVE" and "FALLBACK" mean? This

[2021-10-04 21:25] JorTurFer commented on #2123
I have tried it and it seems doable.
My only concern is if we should add for example the scaledobject name as part of metric name. I mean, if we have the same metric in different scaledobject (same trigger, etc) we are going to have 2 metrics with the same name. The HPA handles it using extra info like match labels, but this could be a bit ugly if you need to query the metric directly using `kubec

[2021-10-05 09:23] zroubalik commented on #1241
Glad to hear that it works for you.

Active shows whether scaling is active - eg. some traffic in the trigger. Wrt Fallback you can read it in the docs: https://keda.sh/docs/2.4/concepts/scaling-deployments/

[2021-10-05 11:38] zroubalik opened #2156 "Cache metric names provided by KEDA Metrics Server"
### Proposal

Kubernetes API Server is asking for all available metrics that are provided by the KEDA Metrics Server. Internally we are doing a round trip across all ScaledObjects to compile the list of used metrics:
https://github.com/kedacore/keda/blob/a223a0ee2a3ad0a5df8ca73308c41116a30af51e/pkg/provider/provider.go#L139-L140

This code has been on my radar for quite some time. We should cache

[2021-10-05 13:41] runningman84 opened #2160 "kube-downscaler support"
### Report

We use kube-downscaler (https://codeberg.org/hjacobs/kube-downscaler) in order to scale down workloads at night in our dev/test environments.

This used to work fine with prometheus-adapter.

Our deployment annotions look like this:
downscaler/uptime: Mon-Fri 20:00-23:00 Europe/Berlin

### Expected Behavior

Do not touch deployments if they are scaled to 0

### Actual Behavior

Keda is

[2021-10-05 17:46] coderanger commented on #2156
+1 to the idea but I think the implementation suggested would be more work brittle over time. I would suggest the better fix is we merge the controller and metrics server into one daemon.

[2021-10-05 18:44] zroubalik commented on #2156
Merging controller and metrics server into one daemon could bring problems with potential HA setup of metrics server (some environments could have requirements for HA of k8s related services).

[2021-10-05 18:55] coderanger commented on #2156
Controller-runtime supports non-leader-elected runnables just fine, so not sure why that would be a problem.

[2021-10-05 19:57] zroubalik commented on #2156
Let's say we merge controller + metrics server into one daemon and available metrics are populated from the controller. And we have HA KEDA setup with 2 deployments:

Kubernetes api server will ask KEDA Metrics server for available metrics -> the deployment with running controller will properly list and return them, but what if the request will be load balanced to the controller that hasn't been s

[2021-10-05 20:08] coderanger commented on #2156
Yes? But that can use the same underlying cache so we don't duplicate effort.

[2021-10-05 20:13] zroubalik commented on #2156
We will have 2 Deployments (HA), where do you see the cache that's accessible from all KEDA Deployments?

[2021-10-06 16:02] runningman84 commented on #2160
From my point of view this problem is independent from kube-downscaler. Because even in normal operations you could also modify an existing deployment and set the replicas to 0. In this case the hpa would not touch it anymore.

For some reason this behaviour is different once you use keda which implements hpa in its own way.

We could also talk to the kube-downscaler team to implement a solution i

[2021-10-06 16:51] arschles commented on #2156
@coderanger could you go into some more detail why the original proposed solution would be brittle? I think it's worth talking about that because figuring out a way to have metrics reliably communicate with the operator would let us keep the two processes separate, and that would likely reduce the amount of work needed to get this done.

[2021-10-06 17:01] m4ver1k commented on #944
@tomkerkhove what are your thoughts on the above ? Why I'm leaning on it is there are tools like Flagger, which rely on this behaviour.

[2021-10-06 18:09] zroubalik commented on #2156
@coderanger yeah probably a small misunderstanding from both sides :)

+1 to @arschles's ask and maybe if you can talk a little more about the in-memory proposal, that will allow HA (multiple K8s Deployments).

[2021-10-06 19:47] JorTurFer commented on #2139
Hi,
How are you deploying KEDA? I have just tried and it's working, at least in my cluster. Maybe I'm doing something wrong
![image](https://user-images.githubusercontent.com/36899226/136272628-b957a38f-7547-426b-b9da-e4807bb276a8.png)

Basically I deployed the add-on to use Azure Policies and deployed KEDA into the cluster

[2021-10-07 05:54] tomkerkhove commented on #779
When we have some more info from @jeffhollan on how to set it up.

[2021-10-07 06:08] Sac-BRONGA commented on #2139
Hi Ferrero,

We are deploying the Container from the below repository using helm chat with version 2.2.2

repository : ghcr.io/kedacore/keda-metrics-apiserver

Thanks,
Santosh C.

From: Jorge Turrado Ferrero ***@***.***>
Sent: Thursday, October 7, 2021 1:18 AM
To: kedacore/keda ***@***.***>
Cc: Santosh C ***@***.***>; Author ***@***.***>
Subject: [External]Re: [kedacore/keda] Keda Non-compliant fo

[2021-10-07 07:49] tomkerkhove opened #2165 "Secrets openly shown in metric name"
### Discussed in https://github.com/kedacore/keda/discussions/2163

<div type='discussions-op-text'>

<sup>Originally posted by **TimShilov** October  6, 2021</sup>
I just noticed that the metric name is created based on the MySQL scaler connection string (which is a secret and is stored in a Secret) which I think is not great. Is there any reason why it's not hashed?

Secrets are secrets and they

[2021-10-07 08:49] Sac-BRONGA commented on #2139
We have provided the group ids as.

"ranges": [
                {
                  "min": 1,
                  "max": 65535
                }
              ]

Thanks,
Santosh C.
From: Jorge Turrado Ferrero ***@***.***>
Sent: Thursday, October 7, 2021 1:26 PM
To: kedacore/keda ***@***.***>
Cc: Santosh C ***@***.***>; Author ***@***.***>
Subject: [External]Re: [kedacore/keda] Keda Non-compliant for

[2021-10-07 11:37] Ritikaa96 opened #2166 "Provide support for configuring authentication through TriggerAuthentication for Stan scaler"
### Proposal

Provide support for configuring authentication through TriggerAuthentication for Stan scaler instead of only through the metadata.

### Use-Case

Bring secrets from other sources than the workload. We should use secrets to provide `natsServerMonitroingEndpoint` for security purposes.

### Anything else?

_No response_

[2021-10-08 05:17] tomkerkhove opened #2172 "Provide capability to use different queries for scaling out & in for MS SQL scaler"
### Discussed in https://github.com/kedacore/keda/discussions/2170

<div type='discussions-op-text'>

<sup>Originally posted by **Savitha-Amaldev** October  7, 2021</sup>
I have a scaled object which does autoscaling based on an MSSQL trigger. But according to my requirement, I want my services to be spun up based on a query, and downscaling of the same pods should happen based on a different SQL

[2021-10-08 14:07] coopstah13 opened #2174 "Websocket Stomp Support for RabbitMQ"
### Proposal

Currently the RabbitMQ scaler supports AMQP and HTTP (via the management API). It would be good to support stomp over websockets for use cases where an HTTP forward proxy is unavoidable (think on-premises data center to public cloud). I realize that there is HTTP support but that requires exposing the management APIs and RabbitMQ does not recommend using them in general anyway.

Woul

[2021-10-10 18:08] iarunpaul opened #2178 "KEDA scaler not working on AKS with trigger authentication using pod identity"
### Report

KEDA scaler not scales with scaled object defined with trigger using pod identity for authentication for service bus queue.
I'm following [this](https://github.com/kedacore/sample-dotnet-worker-servicebus-queue/blob/main/pod-identity.md) KEDA service bus triggered scaling project.
The scaling works fine with the connection string, but when I try to scale using the pod identity for KEDA

[2021-10-11 02:17] #2174 closed

[2021-10-11 15:20] JorTurFer commented on #2139
Hi @Sac-BRONGA ,
I have it working on my cluster
![image](https://user-images.githubusercontent.com/36899226/136814922-6c6e0a9c-732b-4dea-9e07-1f9a5d17011c.png)

I have edited the parameters and these are mine:
![image](https://user-images.githubusercontent.com/36899226/136815152-cad302fb-0684-45aa-a14e-9d937d26bf63.png)

Basically I added the range to all (userids and gropuids). I know that in th

[2021-10-12 04:29] JatinSanghvi commented on #232
The external scaler package is available now: https://github.com/kedacore/keda-external-scaler-azure-cosmos-db/pkgs/container/keda-external-scaler-azure-cosmos-db. The associated README file has the setup instructions.

[2021-10-12 07:12] jerbob92 opened #2182 "Improve Redis support"
### Proposal

The Redis support is a little outdated and does not support the following functionality:

- ACL support, because you can't give it a username
- Sentinel support

My proposal is to update go-redis v6.15.9 to v8.11.4 to support ACL in Redis 6+ and implement scalers for Redis Sentinel.

### Use-Case

### ACL
[Redis added ACL in Redis 6](https://redis.io/topics/acl): to make use of this,

[2021-10-12 18:23] JorTurFer commented on #2139
Did you try setting the [securityContext inside helm values](https://github.com/kedacore/charts/blob/master/keda/values.yaml#L93-L99)?

I'm trying it right now to ensure that it works

[2021-10-12 19:28] JorTurFer commented on #2139
It works @Sac-BRONGA ,
now it's compliant again (thanks @tomkerkhove  for the idea :) )
![image](https://user-images.githubusercontent.com/36899226/137016903-8929be0f-0163-4cf8-b852-d9072d4fc02f.png)

[2021-10-13 08:27] jerbob92 opened #2190 "Improve context propagation to Scalers"
### Proposal

At this point, the scalers only receive a context in the scaler methods `GetMetrics()` and `IsActive()`.

I think there are 2 issues that we face right now:

1. A lot of Scalers don't actually use the available context, while a lot of them just do HTTP requests which can use context just fine (just use `http.NewRequestWithContext()` instead of `http.NewRequest()`).
2. There is no con

[2021-10-13 10:55] #2166 closed, assigned to nobody

[2021-10-13 11:36] JorTurFer opened #2191 "Review and cleanup metric names inside scalers"
### Proposal

After https://github.com/kedacore/keda/issues/2123, we can ensure that metric names are unique inside ScaledObject. Before it, we used several mechanism inside scalers to avoid conflicts in metric names (like adding part of masked  connectionString) those are not needed right now.
IMHO, we should review all scalers and remove those mechanisms. This will clear the code, unify how we a

[2021-10-13 11:38] Keramblock opened #2192 "Support for gcp auth by token(mainly for vault integration)"
### Proposal

There is currently support of gcp authenticatation by key. But there is limitation by GCP to create more then 10 keys per account that is works badly with autoscaling. Information from: https://www.vaultproject.io/docs/secrets/gcp#access-tokens-vs-service-account-keys(I also checkd my myself)

### Use-Case

So could you please also start to work with token auth for google pub/sub, so

[2021-10-13 13:38] Keramblock commented on #2192
I dont know Go good enough. If anybody want to try - probably you will do it better then me. But for now I could try to.

[2021-10-13 14:14] Keramblock commented on #2192
I wrote simple todo and seems that I cannot handle this myself =(

[2021-10-13 18:57] MattJeanes commented on #1499
Upstream issue is not resolved still in https://github.com/Azure/azure-service-bus-go/issues/229

[2021-10-14 04:59] tomkerkhove commented on #1192
Ha, thank you! OK for you if we close this issue then @RealHarshThakur?

[2021-10-14 05:06] tomkerkhove commented on #208
/keep-alive

[2021-10-14 05:08] tomkerkhove commented on #215
/keep-alive

[2021-10-14 05:11] tomkerkhove commented on #1042
This has been setup already.

[2021-10-14 05:11] #1042 closed

[2021-10-14 05:19] tomkerkhove commented on #215
Sound good! I recall we did a change but was not sure - Thanks for confirming!

[2021-10-14 05:19] #215 closed

[2021-10-14 05:19] tomkerkhove commented on #1285
/keep-alive

This is still on-going

[2021-10-14 05:21] tomkerkhove commented on #1499
Thanks for the update!

[2021-10-14 06:29] jjoynsonerwin commented on #1629
Please do not close - we are still facing this issue.

[2021-10-14 07:08] JorTurFer commented on #2054
Hi,
next release will be in the first half of November, AFAIR. Probably you are getting errors with helm and chart because and argument has changed after the kubebuilder updates.
Before the release, you need to [update this line](https://github.com/kedacore/charts/blob/master/keda/templates/12-keda-deployment.yaml#L52) after release the chart, or maybe you can use the chart from your local

[2021-10-14 07:37] lallinger-arbeit commented on #1190
as #1329 is merged this could be closed @QuintinBecker could you close the issue?

[2021-10-14 08:03] #1190 closed

[2021-10-14 09:52] crisp2u commented on #2054
@JorTurFer yeah, that's the issue, i did not want to go into details of that. I've also tried to escape metricName and queueName and add `page=1` outside but still no luck

[2021-10-14 10:31] RealHarshThakur commented on #1192
Yes, please :)

[2021-10-14 12:57] fgheysels commented on #1932
Is this something that is going to be considered ?

[2021-10-14 23:54] ahmelsayed commented on #814
@lallinger-arbeit I think this was the same root cause as https://github.com/kedacore/keda/issues/1565 fixed in https://github.com/kedacore/keda/pull/1572

[2021-10-14 23:54] #814 closed

[2021-10-15 07:44] tomkerkhove commented on #779
Self-hosted ARM64 runner for GitHub Actions is available.

[code]

Anyone up for a contribution on changing our CI & release workflows?

[2021-10-15 12:40] tomkerkhove commented on #779
Unfortunately we'll need to install some dependencies on the VM such as Docker

[2021-10-15 17:39] mohsinonxrm commented on #779
Rebuilt the images using v2.4.0 tag

[2021-10-17 08:15] yogevyuval opened #2200 "Using 'Value' in CPU scaler results in an error (must set either a target raw value or a target utilization)"
### Report

When using 'Value' in the CPU scaler (in addition to SQS scaler), the keda hpa can't be intiailized, and logs show error in K8s hpa. When switching back to "Utilization" instead of "Value" this seems to work, but it doesn't suit my usecase.

My configuration is as follows:
[code]

And this is the outcome YAML in the HPA

[code]

### Expected Behavior

The autoscaler should have been cr

[2021-10-18 16:36] alexandery commented on #911
We ended up with changes to technologies and I haven't focused on this particular issue since.

[2021-10-18 18:36] MattJeanes commented on #1499
@tomkerkhove upstream issue is now resolved!

[2021-10-18 20:23] eze-kiel commented on #194
It's indeed the RabbitMQ scaler! That's awesome, I'm looking forward to the next release 🎉

[2021-10-18 22:38] arschles commented on #615
Specifically: https://github.com/kedacore/http-add-on/issues/6

[2021-10-18 22:42] arschles commented on #2190
@jerbob92 @zroubalik I can take on the first point in the original post. Is that ok?

[2021-10-19 05:53] tomkerkhove commented on #1499
Thank you for letting us know! Let's see if this fixes our issue after we bump the version.

Are you interested in helping a hand here?

[2021-10-19 08:28] MattJeanes commented on #1499
I don't actually work at the company I was having these issues with anymore so I'd have to set a few things up but sure, happy to help. Simplest repo I know of is to try and use the Service Bus scaler using a key with only Send/Listen permissions (not Manage) which should be easy enough to try out.

Just checked the KEDA documentation and it says that you need a key with Manage permission so hopef

[2021-10-19 12:47] dmeytin commented on #944
Do we have an agreement on annotation-based implementation rather than HPA
removal?

On Mon, Oct 18, 2021 at 2:55 PM Philipp Hellmich ***@***.***>
wrote:

[2021-10-19 12:52] dmeytin commented on #1587
@Tom Kerkhove ***@***.***>, What will happen if KEDA is
executed jointly with Admiralty?
Maybe it will achieve the requested functionality?

On Thu, Oct 14, 2021 at 9:47 AM stale[bot] ***@***.***> wrote:

[2021-10-19 18:40] TiagoGoddard opened #2201 "AWS CloudWatch Scaler Invalid Float64 Metric"
I'm having some problems using this metric:

[code]

The targetMetricValue is a Float64 variable, but it's being cast/converted to int64, causing this error:
[code]

It seems to be caused by: https://github.com/kedacore/keda/blob/eb50e5b0420a4d70f11c6b99bc2c795646ca5e4e/pkg/scalers/aws_cloudwatch_scaler.go#L217

Where it converts to an integer value.

[2021-10-19 23:46] happy-machine opened #2203 "RabbitMQ not scaling predictably"
### Report

Using RabbitMQ i want only one job to be created per cueuemember. ie. if i have 10 elements in the cueue i want 10 jobs up until they have completed.

the logs from the autoscalar are pretty confusing. At the moment im getting two job maximum no matter how many elements are in the cueue. I have tried with 10, where the two jobs bought alive ack 2 elements. See below:

  jobTargetRef:

[2021-10-20 04:32] matt-psaltis opened #2204 "Dynamically select the value of TargetRef for ScaledJob based on trigger metadata"
### Proposal

Right now, ScaledJobs are executed based on a hard coded target definition either by jobTargetRef or scaleTargetRef. I'm looking for a way to select the target based on trigger metadata. For example, if the MSSQL trigger query looks like this:

query: "SELECT COUNT(*) AS Count, Target FROM backlog WHERE state='running' OR state='queued'"
Then the jobTargetRef or scaleTargetRef could

[2021-10-20 07:17] zroubalik commented on #2156
@yquansah I am have been still thinking about the best option, currently I am more convinced that the best option would be to actually add a simple controller to Metrics Server, it will watch ScaledObjects and populate metrics names cache appropriately.

Wrt you question, it should do it with each change on ScaledObject.

[2021-10-20 14:23] ayushsearce opened #2208 "GCP Pub/Sub permission denied"
### Report

We have used the GCP Pub/Sub trigger and provided the permissions to service account as mentioned in the documentation.
logs provide the error "KEDAScalerFailed 3s (x16 over 7m39s) keda-operator rpc error: code = PermissionDenied desc = Permission monitoring.timeSeries.list denied (or the resource may not exist)."
Even after providing the Owner permissions to the service account it thr

[2021-10-20 19:13] #1646 closed

[2021-10-20 19:13] #186 closed

[2021-10-20 19:13] #1449 closed

[2021-10-20 19:13] #1908 closed

[2021-10-20 19:13] #868 closed

[2021-10-20 19:13] #1964 closed

[2021-10-20 19:13] #1983 closed

[2021-10-20 21:06] #572 closed

[2021-10-20 21:06] #1501 closed

[2021-10-20 21:06] #1498 closed

[2021-10-20 21:06] #1599 closed

[2021-10-20 21:06] #1607 closed

[2021-10-20 21:52] arschles commented on #2156
@zroubalik I believe that's a good solution as well, but we should think about failure modes if we do it. the big one on my mind right now is "drift" between metrics server and operator:

- what happens if they don't have the same set of `ScaledObject`s?
- can we / how do we ensure they converge on the updated set?
- can we give operators tools to inspect & measure drift at a given point in time?

[2021-10-20 22:07] #79 closed, assigned to nobody

[2021-10-20 22:07] #367 closed

[2021-10-20 22:07] #19 closed

[2021-10-20 22:07] #111 closed, assigned to Aarthisk

[2021-10-20 22:07] #780 closed

[2021-10-20 22:07] #295 closed

[2021-10-20 22:07] #48 closed, assigned to nobody

[2021-10-20 22:07] #98 closed, assigned to nobody

[2021-10-20 22:07] #53 closed, assigned to nobody

[2021-10-20 22:07] #305 closed

[2021-10-20 22:52] arschles commented on #1330
ok. how about I pursue adding unified file-based and/or environment variable based configuration? that way, people can put their configs in a `ConfigMap` and mount it in as a file, as @coderanger suggested. if it's file-based and we allow configuration to be changed at any time, should the controller automatically detect the change and reload configs?

[2021-10-20 23:06] #389 closed

[2021-10-20 23:06] #1097 closed

[2021-10-20 23:06] #906 closed

[2021-10-20 23:06] #1166 closed

[2021-10-21 06:49] JorTurFer commented on #2204
Hi
I think that this is not possible right now because metrics are recovered in the same way for ScaledObject and ScaledJobs (Basically it's the return of `scaler.GetMetrics()`).
This change requires splitting the current behavior in 2 different, and not all scalers will support it.
Something "similar" was discussed [here](https://github.com/kedacore/keda/issues/2105) and the decision was that it'

[2021-10-21 08:14] #640 closed

[2021-10-21 08:14] #886 closed

[2021-10-21 08:14] #1264 closed

[2021-10-21 08:14] #1064 closed

[2021-10-21 08:14] #1375 closed

[2021-10-21 08:14] #1869 closed

[2021-10-21 08:39] zroubalik commented on #965
@bschaeffer you can use https://github.com/kedacore/keda/issues/1872 to mitigate this problem.

[2021-10-22 23:38] vtruong008 opened #2209 "Azure Pipelines - keda_metrics_adapter/provider "msg"="error getting metric for scaler""
### Report

Get Metrics is intermittently failing with the following error.
I originally thought this was an issue due to the throttling of the PAT, but I reduced polling to 60 seconds.

E1022 22:56:40.523447       1 provider.go:99] keda_metrics_adapter/provider "msg"="error getting metric for scaler" "error"="Get \"https://dev.azure.com/pwc-us-adv-digital/_apis/distributedtask/pools/16/jobrequest

[2021-10-23 15:30] jeroenvandevelde opened #2210 "AWS Cloudwatch autoscaler giving invalid value suffixed with m in the targets of the HorizontalPodAutoScaler"
### Report

CloudWatch Autoscaler giving sometimes value suffixed with m in the Targets when using ApproximateNumberOfMessagesVisible.
M suffixed Value: 102500m/100 (avg)
While it should be: 205/100

### Expected Behavior

When i do a kubectl get on the created HorizontalPodAutoscaler, i get the actual value not suffixed with m.
Example: 205/300 (avg)

### Actual Behavior

When i do a kubectl get

[2021-10-25 14:18] awsvikram opened #2214 "Scaler for Amazon managed service for Prometheus"
### Proposal

AWS' managed solution for Prometheus lets customers ingest metrics without the need to manage environment. It would be nice to have a scaler support for Amazon Managed service for Prometheus

### Use-Case

Amazon Managed Prometheus requires sigv4 authentication and the prometheus scaler currently does not support authentication parameters.  Creating a scaler for Amazon Prometheus wil

[2021-10-25 18:13] arschles opened #2215 "Container registry page for KEDA is 404ing"
### Report

When I go to https://github.com/kedacore/keda/pkgs/container/keda, I get a 404 page when I am not logged into GitHub (i.e. in a private browsing window)

### Expected Behavior

The page does not 404

### Actual Behavior

The page 404s. The correct behavior exhibits when I am logged into GitHub

### Steps to Reproduce the Problem

1. Log out of GitHub or enter a private browsing window

[2021-10-26 17:09] bschaeffer opened #2217 "Prometheus backed metric reported way higher by the HPA than the actual metric in prometheus"
### Report

We have a prometheus backed scaler setup like so:

[code]

It is currently reporting `52443 ` undelivered pubsub messages:
![image](https://user-images.githubusercontent.com/74099/138926895-3dcbc87f-a9d6-486b-8e24-92d17cff048c.png)

The keda backed autoscaler appears 🤷‍♂️  to be working but the HPA is displaying wildly inaccurate numbers:

[code]

How is `140349` related to `52443 ` in

[2021-10-26 19:51] JorTurFer opened #2219 "Add e2e test for CPU Scaler"
### Proposal

https://github.com/kedacore/keda/tree/main/tests

### Use-Case

_No response_

### Anything else?

_No response_

[2021-10-26 19:52] JorTurFer opened #2220 "Add e2e test for Memory Scaler"
### Proposal

https://github.com/kedacore/keda/tree/main/tests

### Use-Case

_No response_

### Anything else?

_No response_

[2021-10-27 06:30] #2217 closed, assigned to nobody

[2021-10-27 07:37] #2200 closed, assigned to JorTurFer

[2021-10-28 10:31] abhi-vaidya opened #2222 "Found security vulnerabilities in go 1.16"
https://github.com/kedacore/keda/blob/f78c16e06f527a1b63277a41efa4d712a8b9e354/go.mod#L3

Hello,

We are using this repository for internal development and security appliance scan found severe vulnerabilities in  go 1.16.
https://nvd.nist.gov/vuln/detail/CVE-2021-29923.  Which is being fixed in go 1.17. Is there any plan to update it to go 1.17.

[2021-10-28 12:40] alegmal opened #2223 "RabbitMQ scaler scales on empty queues when using regex"
### Report

When using KEDA 2.4 and rabbitmq scaler with regex it scales deployment as it thinks there are messages when queues are empty. We're using cloudamqp to host our rabbit.

### Expected Behavior

Scale based on operation strategy and number of msgs in queues

### Actual Behavior

Scales even though queues are empty

### Steps to Reproduce the Problem

1. apply keda 2.4
kubectl apply -f ht

[2021-10-29 19:46] JorTurFer commented on #2223
Hi @alegmal ,
There is a known bug in RabbitMQ using regex in v2.4 (Basically I made a mistake and regex doesn't work at all :( ). The problem is fixed, and the next release will be during November.
You can try it using main branch or wait until next release :)

[2021-10-30 23:44] Friedrich42 opened #2226 "Google pubsub custom metrics support"
### Proposal

As a devops, I want to be able to add custom metrics to my scaledobject like "Oldest unacked message age", which are provided by GCP metrics (stackdriver). The only trigger I can use now is subscriptionSize which is "Unacked message count" in GCP.

### Use-Case

I want to scale my deployment if there are a lot of delays in message processing.

### Anything else?

_No response_

[2021-10-31 06:55] tomkerkhove commented on #2226
Good suggestion, are you willing to contribute this?

[2021-11-01 03:26] scubakiz commented on #1611
After extensive testing, it's been confirmed that this is not a bug.  This works exactly like the standard HPA with CPU/Memory.

The current average value is in **QuantityDecimalExponent**, not **QuantityDecimalSI**, which reports using the _m_ notation.

Test to confirm:
1. Create a RabbitMQ queue with 500 messages
2. Create a Scaled Object with the Queue size set to 10
3. When the HPA start, ass

[2021-11-01 08:58] zroubalik commented on #1611
@scubakiz this is excellent explanation, thanks a lot for this. It would be great if we can have something like this in https://keda.sh/docs/2.4/faq/

Do you think you can open a PR to https://github.com/kedacore/keda-docs and add something like this to FAQ (probably `Kubernetes` section)?

Thanks!

[2021-11-01 09:12] zroubalik commented on #2222
@abhi-vaidya thanks for reporting this.

 I don't think there's any problem in updating to go 1.17. We should do it for the next release.

[2021-11-01 11:27] zroubalik commented on #470
@roni-frantchi the resource needs to implement a specific interface to provide metrics for k8s server. And that implementation is specific to KEDA or Datatog or any other tool that would like to somehow provide metrics. Therefore it it can't be shared.

[2021-11-01 12:19] zroubalik opened #2227 "E2E tests are unstable"
### Report

E2E tests are unstable, Solace nad Cassandra e2e tests are failing the most of time. Then there are frequent issues with Selenium Grid and Redics Cluster related tests.

https://github.com/kedacore/keda/actions?query=workflow%3Anightly-e2e-test

### Expected Behavior

pass

### Actual Behavior

faliing e2e

### Steps to Reproduce the Problem

1. Run e2e tests

### Logs from KEDA operat

[2021-11-01 15:08] zroubalik commented on #2227
@nilayasiktoprak FYI:

Cassandra test logs:

[code]

KEDA Operator logs related to Cassandra:
[code]

[2021-11-01 18:14] nilayasiktoprak commented on #2227
I'm getting:
`ERROR	controller	Reconciler error	{"reconcilerGroup": "keda.sh", "reconcilerKind": "ScaledObject", "controller": "scaledobject", "name": "cassandra-scaledobject", "namespace": "cassandra-test", "error": "error getting scaler for trigger #0: no scaler found for type: cassandra"}
`

I'm not sure why it throws this error, however, I'm on it

[2021-11-01 18:21] zroubalik commented on #2227
@nilayasiktoprak you are probably using old code.

I think I have fixed the problem, see the two PRs mentioned above. Now waiting for a couple of test runs to see if my fixes helped. Let's wait until then.

[2021-11-01 18:22] nilayasiktoprak commented on #2227
I already applied your changes to my code yet somehow I get that error

[2021-11-01 18:25] zroubalik commented on #2227
@nilayasiktoprak you have probably old KEDA deployed :) you need to rebuild the code from the main branch.

[2021-11-01 18:30] nilayasiktoprak commented on #2227
I have 2.4. Have your changes passed the the tests?

[2021-11-01 18:47] zroubalik commented on #2227
The code with your scaler will be present with 2.5. You need to build KEDA from main branch until then.
The test is still running here, but it was passing for me locally: https://github.com/kedacore/keda/runs/4071362965?check_suite_focus=true

[2021-11-01 18:48] nilayasiktoprak commented on #2227
Oh yes, how come didnt i figure that out! Thank you for reminding that :))

[2021-11-01 20:59] scr-oath opened #2240 "Operator does not scale well: hits client-go rate-limiting issues"
### Report

While testing a KEDA deployment, 1000 scaledObjects were created, and hours later the corresponding HPA objects were not created.

There were many throttling messages such as

[code]

It seems that there are throttling flags available for the apiserver, but not for the operator.  The need for throttling at all, also hints that the implementation could be exceedingly heavy on its use of

[2021-11-01 21:12] zroubalik commented on #2227
@nilayasiktoprak there is still a problem, it is an intermittent failure, I can reproduce it locally sometimes, sometimes the test passes, see the logs:
[code]

The problem is, that it might take some time for Cassandra to actually start, even though both Cassandra and Cassandra client pods reports status as Ready, the application itself is still starting, you can see that by checking the logs dur

[2021-11-01 22:49] fivesheep opened #2242 "AWS Cloudwatch Scaler metrics pulling logic is not optimized"
### Report

The metrics pulling logic is not optimized for cloudwatch scaler, and it has a chance to not getting any data point back from aws due to cloudwatch's eventually consistent model, some of the well know tricks for exporting cloudwatch data with the GetMetricData API needs to be applied:

- Round down the start time and end time to improve the performance and chance to get data from cloud

[2021-11-01 22:49] fivesheep commented on #2242
cc @zroubalik

[2021-11-01 22:51] fivesheep commented on #2242
FYI https://www.linuxjournal.com/content/cloudwatch-devil-i-must-use-it

[2021-11-01 23:45] ahmelsayed commented on #2227
I'll take the redis ones. I've fought with them before.

[2021-11-02 06:50] Akhisar opened #2244 "Keda scale down to 0, suspected bug when metric api connection is not available."
### Report

Hello All,

It appears that the keda is scaling down the deployment to 0 when there is an issue with metric api. Also since upgrade to 2.4 we are observing weird error messages on the keda logs.

[code]

### Expected Behavior

I assume the default behaviour when a metric api is not reachable is not to propagate metric and hence retain the current replica.

### Actual Behavior

Keda loo

[2021-11-02 07:53] zroubalik commented on #2227
Redis Sentinel Streams test is still failing, @jerbob92 FYI:

[code]

[code]

[2021-11-02 08:46] jerbob92 commented on #2227
@zroubalik going to look into it today :)

[2021-11-02 10:39] JorTurFer commented on #2244
Could this problem be related with [this fix](https://github.com/kedacore/keda/pull/2037) @zroubalik ?

[2021-11-02 12:17] gcaracuel commented on #2033
Same problem here. Does anybody solved this?
It is a very common case to start with an oversized topic with let's say 20 partitions so consumer lag for most of those partitions is -1 hence produces this problem but still sum lag for the topic is 0 and not -1 so it is a valid metric.

In this case if you scale the deployment to 0 KEDA Operator will scale it back to 1.

[2021-11-02 14:39] zroubalik commented on #2242
This PR should fix this problem https://github.com/kedacore/keda/pull/2187 am I right @fivesheep?

[2021-11-02 18:16] fivesheep commented on #2242
@zroubalik Not exactly, they serve different purpose. what I mean is we can move the following code from `GetCloudwatchMetrics()` to the `NewAwsCloudwatchScaler` function
[code]

and let `awsCloudwatchScaler` owns a reference to the client, and use it directly in the GetCloudwatchMetrics call, to avoid creating the cloudwatch client all the time, as it can be reused since it will refresh token by

[2021-11-02 18:25] zroubalik commented on #2242
Yeah I see, you are right. Do you think that you can add this change in a separate PR once #2243 is merged? It would be nice improvement.

[2021-11-02 18:26] zroubalik commented on #2242
The AWS related stuff hasn't been updated for a while, so it definitely deserves some improvements. Unfortunately there hasn't been anybody with enough experience so far.

[2021-11-03 13:10] zroubalik commented on #2240
That's indeed a lot of ScaledObjects to be processed at once. Do you see any errors in the log? We are using client from controller-runtime and it should be cached, when we are trying to patch the ScaledObject.Status.

I am not sure what causes the delay, if it is KEDA Operator we could try to add more concurrent reconciliation loops, but for me it look more like limitation on k8s server.

@codera

[2021-11-03 13:24] zroubalik commented on #2033
I see, my only concern is that we might break existing behavior if we do this change. I am curious if there could exist a usecase where we would like to keep the current behaviour in this scenario?

@messense @grassiale @matzew @lionelvillard thoughts?

[2021-11-03 14:04] lionelvillard commented on #2033
For our use cases, the lag is the only thing that really matters.

[2021-11-03 14:56] Friedrich42 commented on #2226
Yep, but I'll need some support to understand the project structure

[2021-11-03 15:12] zroubalik commented on #2226
@Friedrich42 you can check the source code https://github.com/kedacore/keda/blob/cabe4b5132a64d1eff1cecc35dc0c5d701cedc06/pkg/scalers/gcp_pub_sub_scaler.go#L156

guides:
https://github.com/kedacore/keda/blob/main/CREATE-NEW-SCALER.md
https://github.com/kedacore/keda/blob/main/CONTRIBUTING.md
https://github.com/kedacore/keda/blob/main/BUILD.md

or feel free to ask on `#keda` or `#keda-dev` Slack ch

[2021-11-03 17:42] fivesheep commented on #2242
@zroubalik sure, I will send a separate PR after that

[2021-11-03 17:51] zroubalik commented on #2156
@arschles those are valid concerns, but I don't think that the list of metrics is that critical. It is just informative for k8s server, so in worst case it would ask for unknown metric, which we should handle in metric server.

[2021-11-03 18:55] kate-goldenring opened #2251 "Kubernetes Custom Resource Scaler"
### Proposal

KEDA has a [Kubernetes workload](https://keda.sh/docs/2.4/scalers/kubernetes-workload/) scaler, but it would be great if there was a scaler with Kubernetes Custom Resources as the trigger. Say if you wanted the creation of a custom resource to trigger the deployment of jobs. This would enable KEDA acting almost as a Kubernetes operator for CRDs.

### Scaler Source

Any custom resourc

[2021-11-03 19:42] JorTurFer commented on #2251
Hi!
sorry, maybe I'm missing anything, but... where is the improvement if you have to apply a manifest to spawn a job? I mean, you could apply the job manifest instead of another CRD, couldn't?

[2021-11-03 19:50] kate-goldenring commented on #2251
I am thinking of scenarios where the purpose of the CRD isnt just to kick off job creation -- I agree that that does seem a bit pointless.

I'm thinking of scenarios where custom resources are dynamically created and removed. Having associated resources (namely pods) be created and removed would be ideal.

This may be niche and something others are not interested, but I'll give some context on whe

[2021-11-03 20:06] arschles commented on #2251
I agree - letting users scale from CRDs _unrelated to KEDA_ would provide a good connection point to other systems.

@kate-goldenring what do you think the `trigger` section should look like?

[2021-11-03 20:56] JorTurFer commented on #2251
Oh! I got it!
It makes sense :)
I stay tuned to your vision of the trigger

[2021-11-03 21:52] JorTurFer commented on #2251
I'm thinking on this and I'm not sure about if this is doable. I mean, KEDA should work in clusters with and without RBAC. In clusters without RBAC, we can get all the resources that we want, but if the RBAC is enabled, I'm not sure about how we can query the resources.
My concert here is the required permissions for KEDA, we should list all resources all namespaces and I don't know if it's worth

[2021-11-04 06:35] tomkerkhove commented on #2251
If it doesn't have the permissions it will not see them and move on, so it's up to the cluster operator to manage that IMO, no?

I think this is a nice use-case, but probably not an easy one given we'd know what CRDs to look for and what to scale so echoing @arschles his question on what it would look like.

Also, that means that our operator will have to monitor Kubernetes resources for that CRD

[2021-11-04 07:23] JorTurFer commented on #2251
I'm still thinking on this...
Could this be a case for an external scaler? I mean, Akri (or other operator) knows its own CRDs and has enough permissions to manage them.
We already can use those values if another service wrappes them for us (external scaler, metrics api scaler)

For standard k8s apis I can imagin how to do it, but for CRDs...

[2021-11-04 07:35] tomkerkhove commented on #2251
External scaler is certainly one way, but I see a bigger fit for this than Akri.

[2021-11-04 07:41] JorTurFer commented on #2251
That's truth, I only wanted to give another extra option to evaluate if this is not doable :)

[2021-11-04 10:19] tomkerkhove opened #2252 "Provide support for HTTPS for Selenium Grid scaler"
### Proposal

Provide support for HTTPS for Selenium Grid scaler

### Use-Case

_No response_

### Anything else?

_No response_

[2021-11-04 10:29] zroubalik commented on #2251
I would like to see what the trigger section could look like as @arschles mentioned.

I am not 100% about this one, but might not understand the request properly. But the usecase for me looks like that we are trying to fit KEDA where the custom controller should be implemented. I mean, that's the Operator pattern - watch particular resources and do some stuff (ie deploy pods, services) once I crea

[2021-11-04 10:43] tomkerkhove commented on #2251
It feels like an extension to me of the operator but I do get your point - What I understood was that when a resource is created, the operator will do its magic and in parallel we want to scale another workloads.

[2021-11-04 10:52] JorTurFer commented on #2252
Is this not already supported? I mean, [we are using the url provided in the trigger](https://github.com/kedacore/keda/blob/main/pkg/scalers/selenium_grid_scaler.go#L164)
[code]

Do you mean adding support to skip certificate validation? (like we are already doing with influx scaler)

[2021-11-04 14:33] kate-goldenring commented on #2251
I havent looked deeply into the KEDA implementation but from my understanding it would be the scaler that would need to do the querying. Could steps be added to install instructions to make sure they have a role and rolebinding for the scaler to access the resource?

[2021-11-04 14:41] kate-goldenring commented on #2251
I could see it being similar to the kubernetes-workload one -- i feel like much of that implementation could probably be reused if the trigger was:
[code]
where `kindSelector` specifies the name of the CRD (Instance in this case) and value like the k8s workload specifies the number of pods (or jobs ideally) that would be deployed for each one.

[2021-11-04 14:45] kate-goldenring commented on #2251
This is a fair point -- this is putting KEDA in the role of monitoring resources and being an operator. So it might not be the right fit -- or it could be expanding KEDA to a new area. I imagine a simple prepackaged operator that is a one use case operator: see a resource and scale.

[2021-11-04 15:57] zroubalik commented on #2227
Seems like I have been able to reduce the number of problems on Redis tests, so marking them as done (FYI @ahmelsayed). Hopefully it will last 🤞

[2021-11-04 16:16] zroubalik commented on #2240
I generally agree, but sometimes it is hard to achieve this. We could spread out the processing of resources in Reconciliation loop and the requests to update metrics, but we still need to do the inital lookup to the external service and the creation of HPAs itself (which causes the increased load on k8s server in your case).

Yeah the HPA single worker for the cluster sucks a lot. There are certa

[2021-11-04 16:31] seuf opened #2254 "Rabbitmq Scaler with HashicorpVault TriggerAuth HPA no host setting given"
### Report

Hi,
I'm trying to configure keda to scale my deployment according to my rabbitmq queue length.

But the hpa created by keda is not working :
[code]

I think there is a bug during TriggerAuth parameters merging with rabbitmq metdata config.

### Expected Behavior

Hpa using configred host from Trigger Auth

### Actual Behavior

Hpa metrics error :
[code]

### Steps to Reproduce the Prob

[2021-11-04 16:52] zroubalik commented on #2244
Yeah the error in the Metrics Server has been fixed.

@Akhisar you can use `fallback` for exactly this scenario.

[2021-11-04 21:05] Friedrich42 commented on #2226
I think that there should be new parameter in metadata object named oldestUnackedMessageAge.

I wonder if it should be optional or required? Making it required seems unreasonable, because scaler object works without it as well, but what should the validation rules be if it will be optional? Should subscriptionSize be also optional, so user can select which metrics he needs for scaling?

Is there a

[2021-11-04 23:27] arschles commented on #2251
that's indeed true. I do think that this would be generally useful functionality because one could use it to tie KEDA into a vast array of other CRD-based systems.

@kate-goldenring is the intention of that trigger to just scale based on the _existence_ of an arbitrary CRD? I personally don't think that's out of scope of KEDA, assuming the project is willing to take on the documentation and (possi

[2021-11-05 06:39] tomkerkhove commented on #2251
Agreed. If we don't want to make this part of the core, this could also be an add-on similar to HTTP add-on that we provide but don't ship in the core due to the security burden.

Thoughts @zroubalik ?

[2021-11-05 10:07] zroubalik commented on #2226
https://keda.sh/docs/2.4/scalers/rabbitmq-queue/ has 2 modes.

In this case we can make it optional, but then validate that user specified at least one of the metrics.  Do you think draft here how would the triggers spec look like and we can discuss on that?