[2021-11-05 10:14] zroubalik commented on #2251
@tomkerkhove starting as a add-on is an approach I'd vote for.

[2021-11-05 15:15] visheyra opened #2256 "Support google pubsub scaling when pubsub is in another google cloud project"
### Proposal

When using keda along the google cloud pubsub scaler I want to be able to define in which google project the stackdriver metrics query should be performed.

### Use-Case

At my company, we have service account defined in google project A and pubsub in project B. And we allow access to pubsubs in project B from the service account in project A.

### Anything else?

The scaler is reque

[2021-11-05 15:41] jeroenvandevelde commented on #2210
@JorTurFer
This gives some strange values, below you can see the results of the commands i execute immediately after each other. According to the HorizontalPodAutoscaler i have the m value and according to the ExternalMetric i have 0.

[code]

[2021-11-06 12:11] iarunpaul commented on #2178
KEDA 2.0.0

[2021-11-06 12:24] trhumphries commented on #244
This issue seems have reared its ugly head again in  2.4 From our logs:
`2021-11-05T20:41:32.775Z ERROR controller Reconciler error {"reconcilerGroup": "keda.sh", "reconcilerKind": "ScaledJob", "controller": "scaledjob", "name": "importbundle", "namespace": "stratusjobs", "error": "error resolving secrets for ScaleTarget: error resolving secret name &SecretKeySelector{LocalObjectReference:LocalObj

[2021-11-06 18:10] JorTurFer commented on #2178
Hi @iarunpaul,
First, please ignore the github-bot reaction, it's an error in new workflow that we have merged a few days ago. We [are working to](https://github.com/kedacore/keda/pull/2257) fix it, but I'd like to apologize.
Second, I will try to test it ASAP. Are you getting this error after some time or directly?

[2021-11-06 18:31] JorTurFer commented on #244
Hi @trhumphries ,
First, please ignore the github-bot reaction, it's an error in new workflow that we have merged a few days ago. We [are working to](https://github.com/kedacore/keda/pull/2257) fix it, but I'd like to apologize.
Could you open a new issue to track your problem?

[2021-11-06 19:22] iarunpaul commented on #2178
Its an immediate failure as we try to change the trigger auth from connection string secret to pod identity of KEDA

[2021-11-06 19:35] #2059 closed

[2021-11-07 10:30] #2058 closed

[2021-11-07 14:03] iarunpaul commented on #2178
Hi @JorTurFer, Any updates on your run?

[2021-11-07 17:01] JorTurFer commented on #2178
hi @iarunpaul ,
I will take a look during this week sorry, today is Sunday and I don't touch the computer :)

[2021-11-07 17:29] #2083 closed

[2021-11-07 17:55] Friedrich42 commented on #2226
I think this should be ok enough

[code]

[2021-11-07 20:43] JorTurFer commented on #2178
hi again @iarunpaul ,
Finally I found time to take a look at this. I deployed KEDA (v2.4) using helm in a cluster with AAD Pod Identity (deployed with helm too) and a workload with Service Bus Scaler. It works without any other problem.

Reviewing the logs that you sent, the issue seems that is related with any misconfiguration in AAD Pod Identity side. You should take a look there because probabl

[2021-11-08 08:35] zroubalik commented on #2226
@tomkerkhove WDYT?

[2021-11-08 08:36] zroubalik commented on #2226
@Friedrich42 or we can allow only one of the metrics to be specified in the spec. And if users would like to scale on both of them, they can define multiple triggers in the ScaledObject.

[2021-11-08 08:39] tomkerkhove commented on #2226
I like that proposal, for the rest it looks fine to me

[2021-11-08 11:35] iarunpaul commented on #2178
Hi @JorTurFer,
I was not using the  helm for AAD Pod Identity deployment. I will check it and update

[2021-11-08 11:47] JorTurFer commented on #2178
How did you deploy AAD Pod Identity?
I think that the deployment method could not be important. If the logs in the AAD Pod Identity pods show an error, we have to solve it in order to can use it :)
You should check that them and if you can't see anything strange there, check that the MSI is correctly assigned to the node group VMSS

[2021-11-08 15:48] trhumphries opened #2259 "ScaledJob should retry when secret is not deployed yet"
### Report

ScaledJob should retry when secret is not deployed yet. If you deploy one template which includes deployment, scaledob and secret the HPA will not work due to parallel creation.

Below scenario is fixed if you create the secret up front after which the deployment for pod & scaledjob is done.

I think the fix here would be to automatically retry every x min/sec if the secret could not b

[2021-11-08 15:48] trhumphries commented on #244
Thanks New issue created

[2021-11-08 20:13] iarunpaul commented on #2178
I am installing the AAD Pod Identity using helm, assigning required roles for the cluster, "Managed Identity Operator" and "Virtual Machine Contributor"to the <NodeResourceGroup> and installing keda using helm
`kubectl apply -f .\deploy\deploy-app-autoscaling.yaml --namespace keda-dotnet-sample`
Still the KEDA operator logs give error as below:
[code]

[2021-11-08 20:19] iarunpaul commented on #2178
The pod **aad-pod-identity-mic-6497465fcb-6v7x8**  logs are:
[code]
And
for **aad-pod-identity-nmi-4gk7k**:
[code]
Not looking promising for me.
Could you please advise where to start digging?

[2021-11-08 20:22] JorTurFer commented on #2178
Hi @iarunpaul ,
The problem is in AAD pod identity side I think seeing these logs. Could you share the logs from the aad-pod-identity-mic pods? Probably there we can find any issue.

[2021-11-08 20:28] iarunpaul commented on #2178
aad-pod-identity-mic-6497465fcb-6v7x8 logs:
[code]

[2021-11-08 20:34] JorTurFer commented on #2178
Is there a second instance? I can see that this pod (aad-pod-identity-mic-6497465fcb-6v7x8) is waiting until leader election, so there are 2 options:
1- There is another instance which is the leader (and I will need its logs)
2- There isn't any other instance, so after a few seconds this pod will prompt other messages, and I need them :)

[2021-11-08 21:34] iarunpaul commented on #2178
the logs for aad-pod-identity-mic-6497465fcb-pjn5t:
[code]

[2021-11-08 21:38] iarunpaul commented on #2178
Iran this command to assign roles to the cluster:
`curl -s https://raw.githubusercontent.com/Azure/aad-pod-identity/master/hack/role-assignment.sh | bash`
and got the result:
[code]

[2021-11-08 21:39] iarunpaul commented on #2178
But still the AAD Pod Identity pods shows roles errors :(

[2021-11-08 21:52] JorTurFer commented on #2178
This line is strange:
[code]

The message basically says that your identity can't be assigned to the VMSS.
Please, review that this identity `fe0d7679-8477-48e3-ae7d-43e2a6fdb957` (I think that it is inside your nodes' resource group) has the permission to perform `Microsoft.Compute/virtualMachineScaleSets/write` in the resource group `MC_Arun_democluster_westeurope`.  If I'm not wrong, you can do

[2021-11-09 04:45] iarunpaul commented on #2178
Okay...Is this a rare case while configuring pod identity?
So you mean I have to assign roles to kubelet also to make it work...rt?
But it requires some research for me..
I will check it and update... Thanks for your help @JorTurFer

[2021-11-09 05:22] iarunpaul commented on #2178
[This ms documentation](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#bring-your-own-kubelet-mi-preview), says there is a limitation to bring your own kubelet id on system-assigned managed cluster.
Limitations
- Only works with a User-Assigned Managed cluster.
So I would think that I have to create a new cluster like:
[code]
and assign the roles to both cluster id and kubelet id.

[2021-11-09 07:24] JorTurFer commented on #2178
No no, don't worry about setting the ids.
You can create the cluster as usually, The point is that after cluster creation, inside the resource group where the nodes are created, a system managed identity has been created also. The name of this identity is like `{clusterName}-agentpool`.
![image](https://user-images.githubusercontent.com/36899226/140879565-37126fc3-251b-4db1-8f06-8f5be7030c86.png)

[2021-11-09 08:40] tomkerkhove opened #2262 "Automatically run end-to-end tests on ARM"
Automatically run end-to-end tests on ARM.

**Create a workflow to run on ARM:**
1. It should run on `main` branch together with https://github.com/kedacore/keda/actions/workflows/main-build.yml
2. Start Kind or similar k8s distro on ARM machine
3. Install KEDA on the machine
4. Run subset of e2e tests to check the functionality (Cron and some other scaler targeting external service so we don't ha

[2021-11-09 08:40] tomkerkhove opened #2263 "Automatically release container image for ARM"
Automatically release container image for ARM.

- CI on `main` branch: https://github.com/kedacore/keda/actions/workflows/main-build.yml
- Do the release as part of https://github.com/kedacore/keda/actions/workflows/release-build.yml

Relates to https://github.com/kedacore/keda/issues/779

[2021-11-09 08:41] tomkerkhove commented on #779
Open items:
- [ ] https://github.com/kedacore/keda/issues/2262
- [ ] https://github.com/kedacore/keda/issues/2263

[2021-11-09 10:26] nilayasiktoprak commented on #2227
We can also mark Cassandra as solved :)

[2021-11-09 12:43] endyrocket commented on #1955
What was the fix? Facing the same issue

[2021-11-09 13:18] endyrocket commented on #1955
Fixed by adding quotes in scaledobject value field

[2021-11-09 13:59] zroubalik commented on #2227
Unmarking Redis, because they are still faling.

[2021-11-09 21:17] #1121 closed

[2021-11-09 21:59] Friedrich42 commented on #2226
@zroubalik So I propose we do the same thing as in rabbitmq and we have mode field. Should look like this =>
[code]

[2021-11-09 22:55] arschles commented on #2190
Now that https://github.com/kedacore/keda/pull/2187 is merged, I can take (2). I'll submit a draft PR today to start it.

[2021-11-09 22:57] arschles commented on #2190
(I can also take on https://github.com/kedacore/keda/issues/2190 at the same time)

[2021-11-10 02:33] iarunpaul commented on #2178
![image](https://user-images.githubusercontent.com/64950552/141039063-e89fd8a6-501b-4599-aa77-7cdcab93aeae.png)

[2021-11-10 02:36] iarunpaul commented on #2178
When I check it the MSI fe0d7679-8477-48e3-ae7d-43e2a6fdb957 is assigned the roles correctly as the screen shot.
I reassigned the cluster roles again restarted the pods. still Im getting the logs with same error..
[code]

[2021-11-10 09:12] #2190 closed

[2021-11-10 12:24] zroubalik opened #2268 "Azure Queue Trigger Auth e2e test fails"
### Report

Following e2e test scalers/azure-queue-trigger-auth.test.ts fails, seems like some credentials expired or queue has been deleted.

@ahmelsayed could you please check Azure?

### Steps to Reproduce the Problem

https://github.com/kedacore/keda/runs/4380534012?check_suite_focus=true

### Test logs

[code]

[2021-11-10 14:47] jmalvarezf-lmes commented on #2256
Hi @visheyra,

Today you can do it if you use a credential whose associated project is different.

Hope it helps,

Regards,

Jose Maria.

[2021-11-10 16:03] jmalvarezf-lmes commented on #2256
Ah, I understood wrong. Sorry for that. I was in the middle of coding something similar and proposing to the keda team as a PR. Hope it will make sense for them.

Regards,

Jose Maria.

[2021-11-10 17:47] obean commented on #1064
Bump

[2021-11-10 17:48] theomessin commented on #1064
Bump

[2021-11-10 18:48] JorTurFer commented on #1064
Hi @obean and @theomessin
Do you have the same issue? Could you open a new issue with the info to track it?
This issue has more than a year

[2021-11-11 13:29] crisp2u commented on #2223
@alegmal https://github.com/kedacore/keda/issues/2054
@JorTurFer which November ? :)

[2021-11-11 13:33] JorTurFer commented on #2223
hi @crisp2u
Next release is already planned.  We would like to merge some PRs before it but between this week and the next week the new version should be released :)
You could check if you want the plans and decisions in the [Community Standup notes](https://hackmd.io/@jeffhollan/r127ErYiN?type=view)

[2021-11-11 19:00] arschles commented on #2251
@kate-goldenring and I spoke on a video call yesterday about this. It looks like an external scaler (i.e. add-on) will work fine for this. I believe (@kate-goldenring , please correct me if I'm wrong) she is going to do some more investigation on her side to figure out the best way to make Akri and KEDA play well together

[2021-11-11 19:57] kate-goldenring commented on #2251
From @arschles and I's discussion, i realized that while KEDA changes the # of replicas of deployments, it cannot modify the deployment itself (namely the `ScaledObjectRef`). With Akri, we'd want the pod to be modified (namely a resource request to be added) depending on the Instance (our CRD). This isnt a case that KEDA can cover currently. It looks like KEDA could scale deployments created by Ak

[2021-11-11 20:55] charan-amzn opened #2278 "Keda Operator is not using AWS STS regional endpoint when using IRSA in Amazon EKS"
### Report

I have a fully private EKS 1.21 Cluster with worker nodes having no NAT Gateway in the route table and leveraging VPC Interface Endpoints for pod to AWS service communications.

By default, VPC Endpoints support only regional endpoints while SDK leveraged by Operator seems to make API call to global endpoint, in my case, when Operator is leveraging IAM Role for Service Account, it has

[2021-11-12 08:22] pierDipi commented on #2033
What I would expect from KEDA is:

1. When there are no messages at all, the lag is 0 so scale to `minReplicaCount`
2. When there are messages and no committed offset, the lag depends on `offsetResetPolicy`, in any case, it should scale to _at least_ one `max(minReplicaCount, 1)`
3. When there is a committed offset use the consumer group lag, if the lag is 0, scale to `minReplicaCount`.

[2021-11-12 10:23] JorTurFer commented on #2178
hi @iarunpaul ,
Sorry for the delay. I see that you still have errors in the AAD Pod identity side
[code]

In the end of the lines, you could see the identity id that is trying to assign a permission, and what permission is needed. Before solveing these problems, KEDA will not be able to use MSI because it can't get the token from AAD Pod Identity

[2021-11-12 10:59] JorTurFer commented on #2278
I'm not an expert in AWS but this totally makes sense from my pov, @zroubalik ?
BTW, are you open to contribute with this?

[2021-11-12 11:15] iarunpaul commented on #2178
Let me create the cluster and install the AAD Pod Id again and update then today!

[2021-11-12 13:26] tomkerkhove commented on #2251
Feel free to circle back with how you have fixed it, if you can.Who knows there is some way we can help

[2021-11-12 14:33] zroubalik commented on #2242
@fivesheep I guess we can close this one, right? Or is there anything else to be done?

[2021-11-12 14:35] zroubalik commented on #2182
@jerbob92 we can close this one, right?

[2021-11-12 14:36] zroubalik commented on #2098
Fixed in #2164

[2021-11-12 14:36] #2098 closed

[2021-11-12 14:48] zroubalik opened #2282 "Cache metrics (values) in Metric Server and honor `pollingInterval`"
### Proposal

Currently KEDA Metrics Server scrapes metrics values from external services (triggers) with each request from k8s server. This could overload the external service.
https://github.com/kedacore/keda/blob/2446b8ea1b4bc1354b1cfa37ddaebf41fd035bb6/pkg/provider/provider.go#L72
We might want to cache the metric values in Metric Server to reduce the load on the external service and respond t

[2021-11-12 15:42] jerbob92 commented on #2182
@zroubalik Yep :)

[2021-11-12 15:42] #2182 closed

[2021-11-12 16:43] fivesheep commented on #2242
@zroubalik Yup, I think we can close this one now. thx!

[2021-11-15 10:50] #2242 closed

[2021-11-15 15:33] mbendtsen opened #2287 "RabbitMQ host secret password cannot contain '#' character"
### Report

RabbitMQ password cannot contain `#` character.

### Expected Behavior

Password should be able to contain all characters supported by RabbitMQ

### Actual Behavior

The Keda scaledobject fails connecting to RabbitMQ

### Steps to Reproduce the Problem

1. Create a RabbitMQ user: monitor:password#20
2. Create a ScaledObject using an TriggerAuthentication and Secret
3. Trigger the autos

[2021-11-15 19:12] coderanger commented on #2287
I think that's coming directly from the underlying RabbitMQ library so this may need to be raised upstream.

[2021-11-15 20:03] JorTurFer commented on #2287
Hi @mbendtsen ,
@coderanger is right, the error comes directly from `streadway/amqp` library. More in depth, the error probably is raised here https://github.com/streadway/amqp/blob/master/uri.go#L62.

The problem is that `url.Parse(uri)` doesn't support special characters, and that's why the error is raised. Maybe we could parse the connection string in "our side" using a regex or something like

[2021-11-15 20:06] coderanger commented on #2287
I think we just need to accept this as a limitation of Go URL parsing and call it a known issue. Trying to work around it is probably going to do more harm than good given how deep this is in Go's stdlib.

[2021-11-16 06:54] tomkerkhove commented on #2226
This might be fine, but we should at least be backwards compatible and deprecate the old field.

Would you mind updating the feature PR & docs to reflect that please?

[2021-11-16 07:36] zroubalik commented on #2287
Agree, I don't think this is something we should cover in KEDA.

[2021-11-16 08:02] #2252 closed

[2021-11-16 08:06] nilayasiktoprak opened #2289 "Provide Scaler for Oracle Database"
### Proposal

https://www.oracle.com/database/

### Scaler Source

Oracle Database

### Scaling Mechanics

Scale based on an Oracle SQL query outcome

### Authentication Source

Password authentication will be used

### Anything else?

_No response_

[2021-11-16 08:09] tomkerkhove commented on #2287
I think the best outcome is that we document this on https://keda.sh/docs/latest/faq/ as a known limitation.

Are you willing to contribute this @mbendtsen ?

[2021-11-16 08:24] tomkerkhove commented on #2289
Great idea, are you willing to contribute it?

[2021-11-16 08:34] marcelobartsch opened #2290 "Provide New Relic Scaler"
### Proposal

Would like to be able to scale on metrics gather from Newrelic data and queried using NewRelic Query Lang (NRQL)

New Relic is an observability platform that helps you build better software. (copied verbatim from their website)

### Scaler Source

metrics stored in newrelic and queried using NRQL

### Scaling Mechanics

Scale based on the result of a single float value returned by th

[2021-11-16 08:38] tomkerkhove opened #2291 "Provide support for metrics through OpenTelemetry"
### Proposal

Provide support for metrics through [OpenTelemetry](https://opentelemetry.io/docs/concepts/what-is-opentelemetry/) which allows end-users to use the destination that they prefer.

![image](https://user-images.githubusercontent.com/4345663/141951216-dcb998cd-d1c4-4f4c-96cc-35e420d9e514.png)

_Source: https://opentelemetry.io/docs/_

Ideally, end-users can use the OTLP collector and ta

[2021-11-16 08:46] nilayasiktoprak commented on #2289
Yes :)

[2021-11-16 09:22] leonids2005 commented on #1703
thank you, the item should be closed. I should have been more persistent in looking for solutions :)

[2021-11-16 09:41] #1703 closed

[2021-11-16 10:05] connatix-cradulescu opened #2292 "Client.Timeout exceeded while awaiting headers"
### Report

Keda is randomly timeout on Prometheus

[code]

### Expected Behavior

No timeouts

### Actual Behavior

Randomly timeout

### Steps to Reproduce the Problem

1.  Create a trigger with Prometheus metric
2. Pull internal 1m

### Logs from KEDA operator

[code]

### KEDA Version

2.4.0

### Kubernetes Version

1.19

### Platform

Amazon Web Services

### Scaler Details

Keda

### Anythin

[2021-11-16 11:42] DylanPrinsITScripts opened #2293 "error: "invalid character '<' looking for beginning of value""
Hi,

I am getting an error when I try to use scaled objects.
My goal is to create scalable azure DevOps agents

Keda operator log:
[code]

scaledObject.yaml
[code]

azureAgents.yaml
[code]

I Also tried scaledjobs but then obviously keda does not scale back and my agents keep existing.
who can help me?

[2021-11-16 11:46] Friedrich42 commented on #2226
I'll update both PRs soon to add backwards compatibility

[2021-11-16 12:05] tomkerkhove commented on #2289
Awesome, thank you @nilayasiktoprak!

[2021-11-16 12:06] tomkerkhove commented on #2293
Just to confirm - I presume your secret is base64 encoded?

[2021-11-16 12:35] DylanPrinsITScripts commented on #2293
yes correct! the agents use the same secret and are working fine.
even better... when I use scaled Jobs I have no problem scaling

[2021-11-16 12:46] tomkerkhove commented on #1041
It is now supported and we should be able to set it up

[2021-11-16 13:30] mbendtsen commented on #2287
I can try :)

Is this a general issue for all connection strings or only RabbitMQ amqp? If it is only applicable for RabbitMQ scaler, should it then be documented here: https://keda.sh/docs/2.4/scalers/rabbitmq-queue/

[2021-11-16 13:43] JorTurFer commented on #2287
At least, it happens in RabbitMQ Scaler because I tried with http protocol and the problem is there too

[2021-11-16 21:02] Tharun-Sabbu opened #2296 "NATS Authentication Support"
### Proposal

Currently NATS isn't supporting Authentication as per documents https://keda.sh/docs/1.4/scalers/nats-streaming/#authentication-parameters, we would like to see support for TLS Mutual Authentication

### Use-Case

_No response_

### Anything else?

_No response_

[2021-11-17 07:32] JorTurFer commented on #2296
Hi @Tharun-Sabbu ,
This sounds good, supporting authentication methods is always worth :)
Are you open to contribute with this?

[2021-11-17 07:37] JorTurFer commented on #2293
Do you mean that if you use ScaledJob instead of using ScaledObject, it works fine?
Just to understand the behavior

[2021-11-17 07:45] JorTurFer commented on #2292
Hi,
Could your prometheus have performance problems? You could increase [the timeout for HTTP Client](https://keda.sh/docs/2.4/operate/cluster/#http-timeouts) setting the environment variable `KEDA_HTTP_DEFAULT_TIMEOUT`.
Could you try to increase it to, for example, 10 seconds and try again? If the issue is solved increasing the timeout, probably you have performance issues in your prometheus serv

[2021-11-17 07:46] connatix-cradulescu commented on #2292
Hi @JorTurFer . I will try that!

Thank you!

[2021-11-17 08:45] DylanPrinsITScripts commented on #2293
Yes, that is correct

[2021-11-17 08:50] JorTurFer commented on #2293
This sounds weird...
Which KEDA version are you using? How are you deploying it?

[2021-11-17 08:52] DylanPrinsITScripts commented on #2293
Keda: Version 2.4
azure kubernetes: 1.20.9

[2021-11-17 08:53] DylanPrinsITScripts commented on #2293
I deployed keda through helm

[2021-11-17 15:47] ifutant commented on #1965
Any update on the status of this?

[2021-11-17 16:22] isugimpy opened #2299 "Scalers Should Use Numeric Types for Thresholds and Values"
### Proposal

It would be nice to have threshold and value fields accept plain numeric or integer values for scaling.  To retain backwards compatibility both strings which parse as numbers and actual numeric types could be allowed, if that's feasible in openAPIv3.

### Use-Case

YAML libraries are well known to cast values to different types based on how they look.  Because of this, even when prov

[2021-11-17 16:50] JorTurFer commented on #2293
I will take a look ASAP to this

[2021-11-17 16:57] prajithp13 opened #2302 "Cloudwatch scaler not working when there's no metrics"
### Report

The aws-cloudwatch metrics is not working as expected. When there's not metrics, the  endpoint /apis/external.metrics.k8s.io/v1beta1/namespaces/<namespace>/<metric_name> gets removed and showing some errors when describing both hpa and scaled object and also the desired value of hpa is not changing back to min.

hpa - warning
[code]
scaled object  - warning
[code]

### Expected Behavio

[2021-11-17 17:12] JorTurFer commented on #2299
Hi,
I think that using other type than string could be complicated because we should unify all the threshold names in order to have only 1 integer field.
Now we are using `map[string]string` for trigger metadata (including threshold) and that is super flexible, we can reuse the same CRD with the same section for all scalers, and each scaler can use it own values.
From my pov, this approach allows

[2021-11-17 17:20] isugimpy commented on #2299
I think `map[string]string` would still be viable to use internally, if the object from the CRD would accept either and it could be transformed at runtime to the necessary `string` value.  Looking at a glance, it looks like the `metadata` in the API spec is an `object`, so it should be feasible to do what would amount to the cast at runtime.  I could be wrong, though, I haven't written a CRD befor

[2021-11-20 09:58] yasiboni-max commented on #1488
Hi, would like to take this one :)

[2021-11-20 14:05] amirschw commented on #2030
Just got back to this issue now. I hope to have at least a draft PR by tomorrow.

[2021-11-21 09:05] amirschw commented on #2030
@zroubalik, @sqerison, @fbalicchia, here's the PR: #2309.

[2021-11-21 09:52] JorTurFer commented on #1286
I think that this can be closed because all the related issues are closed

[2021-11-21 09:52] #1286 closed

[2021-11-21 11:18] JorTurFer opened #2310 "Support skipping cert validation (for self-signed certificates)"
### Proposal

We have several services which could be self-hosted. When a service is self-hosted, the TLS certificate could be self-signed, explicitly in development/staging environments. It'd be nice if KEDA supported those scenarios, skipping the certificate validation.

Right now, KEDA already supports it for influx and selenium-grid using the parameter `unsafeSsl`, we could extend this support

[2021-11-21 12:25] JorTurFer commented on #2293
hi @DylanPrinsITScripts
I have tried and I can't reproduce the issue :(
Could you try recreating the token? I think that it will still fail, but just in case...

[2021-11-22 09:26] SebastianSchuetze commented on #900
How would the general approach be? I am a bit confused on how I would need to start on it if I wanted to contribute.

[2021-11-22 15:14] tomkerkhove commented on #900
We provide a contribution guide on https://github.com/kedacore/keda/blob/main/CONTRIBUTING.md but I'd ask @zroubalik @ahmelsayed @JorTurFer for more in-depth guidance.

We should, however, document how to add a new authentication source.

[2021-11-22 15:15] tomkerkhove opened #2313 "Provide guidance on how to contribute an authentication source"
Provide guidance on how to contribute an authentication source as part of our contribution guide so that the community knows what to do.

Relates to #900

[2021-11-23 08:07] mkuf opened #2314 "Scaling is flapping when idleReplicaCount != 0"
### Report

When creating a Scaledobject with `idleReplicaCount` > 0, the Target is scaled Up/Down every time the trigger gets polled.

### Expected Behavior

Referring to the Docs, the Deployment should be scaled to `idleReplicaCount` if there is no activity on triggers and only scale to `minReplicaCount` if there is activity.

### Actual Behavior

The Deployment is scaled to `minReplicaCount`, e

[2021-11-23 08:39] #2226 closed

[2021-11-23 08:47] #2287 closed

[2021-11-23 08:50] #2156 closed

[2021-11-23 11:05] kmdnexusvsts opened #2315 "KEDA won't scale when Secret is created by Secrets Store CSI Driver"
### Report

The problem is similar to the one described here: https://github.com/kedacore/keda/issues/555 when Deployment depends on Secret object that is not yet created. In our case the Secret is created by Secrets Store CSI Driver (https://secrets-store-csi-driver.sigs.k8s.io/topics/sync-as-kubernetes-secret.html) so it cannot exist before a pod is created. One of the solution suggested in issu

[2021-11-23 11:43] schoki040 opened #2316 "KEDA Metrics API Server not honoring Loglevels"
### Report

### What is happening?
Kede Matrics Api Server is spamming trace logs, even though logging is set to v=0

### Config
[code]
### Logs
[code]

### Expected Behavior

When setting loglevel to 0, only level 0 and below should be logged
( as per log documentation)

### Actual Behavior

Traces are logged

### Steps to Reproduce the Problem

1. Start Keda Metrics Server
2. Let it run for a wh

[2021-11-23 12:27] schoki040 opened #2317 "Metrics Scaler: Improve Error Handling on not-ok response"
### Proposal

### What's even going on?
The Metrics API Scaler is pretty quit on non-200 API responses. [(See this link for code)](https://github.com/kedacore/keda/blob/cbe929bcff6ee6d036283ad13423d6da083cf7e8/pkg/scalers/metrics_api_scaler.go#L214-L217)

At the moment we are using this for around 2000 scale targets and whenever something on API side goes wrong its a real hassle to even find out w

[2021-11-23 12:35] zroubalik opened #2318 "Fix code scanning alert - Incorrect conversion between integer types"
Tracking issue for:
- [ ] https://github.com/kedacore/keda/security/code-scanning/10

[2021-11-23 13:12] #2318 closed

[2021-11-23 15:51] mineshp100 opened #2324 "Keda - Azure Eventhub - multiple resources - duplicate name / defined multiple times"
### Report

We currently have 2 azure eveny hub namespaces - 'dm-r1ew1-reporting-1-eh-s' and 'dm-r1en1-reporting-2-eh-s'.
Inside these namespaces, each one has an eventhub called 'reporting'. The consumergroup is called 'v2'.

They are in different namespaces so they should be able to be setup inside one scaledobject.

However, when deploying 1 scaledobject which consists of the above, we get an e

[2021-11-23 17:20] abhi-vaidya commented on #2222
@zroubalik would you be able to provide eta on updating go version to 1.17 please.

[2021-11-23 17:44] amirschw commented on #879
The original issue was fixed in KEDA v2.4. Adding `cloud: AzureChinaCloud` to the ScaledObject's metadata as described in [the docs](https://keda.sh/docs/2.4/scalers/azure-storage-queue/) should work.

[2021-11-23 19:21] seuf commented on #2254
I missed to configure the vault ca cert on the keda metrics agent.
Now metric is found and my rabbitmq queues are watched to scale my apps.

[2021-11-23 19:21] #2254 closed

[2021-11-24 08:04] zroubalik commented on #2314
@mkuf thanks for reporting, I can reproduce the problem. I'll try to fix this for the upcoming release.

[2021-11-24 09:26] zroubalik commented on #2314
This problem is caused by HPA controller, when it finds out that the current replicas (`idleReplicaCount`) on the scale target is below min replicas(`minReplicaCount`) it will scale up:

https://github.com/kubernetes/kubernetes/blob/c8c81cbfbb381129c904ed1ab387744946cf807a/pkg/controller/podautoscaler/horizontal.go#L640-L642

To mitigate this problem we would need to refactor the current behavior

[2021-11-24 09:28] tomkerkhove commented on #879
Thanks for chiming in @amirschw - i lost track of this issue.

Can you please give this a go @heavenwing ?

[2021-11-24 09:37] tomkerkhove opened #2328 "Provide support for `capability` in Azure Pipelines scaler"
### Discussed in https://github.com/kedacore/keda/discussions/2308

<div type='discussions-op-text'>

<sup>Originally posted by **SebastianSchuetze** November 20, 2021</sup>
Hi,

I got an idea I need to share and see if I would give it a go for implementation

## Background / Motivation

I recently was able to run the new Azure Container Apps with Azure Pipelines and the KEDA scaler. Which is alre

[2021-11-24 09:38] heavenwing commented on #879
Thanks @amirschw . I will close this issue.

[2021-11-24 09:38] #879 closed

[2021-11-24 09:52] zroubalik commented on #2222
@abhi-vaidya we are planning to release KEDA 2.5.0 tomorrow (currently go 1.16). Then next release is at the moment scheduled to February 2022. You can check milestones: https://github.com/kedacore/keda/milestones

[2021-11-24 12:51] #2222 closed, assigned to nobody

[2021-11-24 14:02] SandipGorde-TomTom opened #2334 "azure pipelines scaler not working, using KEDA V2.4"
### Discussed in https://github.com/kedacore/keda/discussions/2332

<div type='discussions-op-text'>

<sup>Originally posted by **SandipGorde-TomTom** November 24, 2021</sup>
Hello,

I need a help in finding the exact problem as I do not see any errors or problems while running scaler for azure pipelines. However scaler simply do not work. Below are the more details.

1. Running EKS clsuter
2. dep

[2021-11-24 14:13] tomkerkhove opened #2336 "Validate TLS certificate check being disabled"
Validate if we are deliberately disabling our TLS certificate check or not.

This was raised on https://github.com/kedacore/keda/security/code-scanning/4.

[2021-11-24 14:15] tomkerkhove opened #2338 "Bump github.com/gin-gonic/gin to v1.7 (CVE-2020-28483)"
Bump github.com/gin-gonic/gin to v1.7.0 to mitigate security vulnernability

https://github.com/kedacore/keda/security/dependabot/go.sum/github.com%2Fgin-gonic%2Fgin/open

[2021-11-24 14:17] tomkerkhove commented on #2334
Closing as a discussion is already open

[2021-11-24 14:17] #2334 closed

[2021-11-24 14:35] mineshp100 commented on #2324
Thanks @zroubalik I will wait this week for the release. Will let you know the outcome!

[2021-11-24 14:48] tomkerkhove opened #2339 "Provide more thorough logs for Azure Pipelines scaler"
### Proposal

Provide more thorough logs for Azure Pipelines to provide insights on the configuration and how our integration with Azure Pipelines is.

### Use-Case

Improve the troubleshooting of failures given we are a bit in the dark in a few past reports.

### Anything else?

_No response_

[2021-11-25 00:04] JorTurFer opened #2342 "Throw error if the agent pool doesn't exist for Azure Pipelines scaler"
### Discussed in https://github.com/kedacore/keda/discussions/2323

Currently, the scaler doesn't throw any error if the poolId doesn't exist. Maybe we could validate if it exists IDK how to be more clear

[2021-11-25 05:44] tomkerkhove commented on #2339
Things it should log if not already, the organization name and pool ID.

#2342 will handle error if pool does not exist

[2021-11-25 06:27] allupaku commented on #2302
This pull request should fix this issue https://github.com/kedacore/keda/pull/2345

[2021-11-25 09:37] Ritikaa96 commented on #2220
Hi @JorTurFer Is anyone working on this issue? If not, I'll be happy to take this up.

[2021-11-25 09:37] Ritikaa96 commented on #2219
Hi @JorTurFer Is anyone working on this issue? If not, I'll be happy to take this up.

[2021-11-25 09:41] JorTurFer commented on #2219
Nobody is working on this AFAIK, so feel free to do it :)
Thanks for it!!

[2021-11-25 09:42] JorTurFer commented on #2220
Nobody is working on this AFAIK, so feel free to do it :)
Thanks for it!!

[2021-11-25 10:02] #2302 closed

[2021-11-25 10:49] #2336 closed

[2021-11-26 08:58] tomkerkhove opened #2353 "Provide an OpenTelemetry scaler"
### Proposal

OpenTelemetry allows applications/vendors to push metrics to a collector or integrate it's own exporters in the app.

KEDA should provide an OpenTelemetry scaler which is used as an [exporter](https://opentelemetry.io/docs/collector/configuration/#exporters) so we can pull metrics and scale accordingly.

### Scaler Source

OpenTelemetry Metrics

### Scaling Mechanics

Scale based on

[2021-11-26 12:07] tomkerkhove commented on #1002
@arapulido is working on this

[2021-11-26 14:00] mknet3 commented on #2353
It's a really good improvement, I will have a look to see if I can help with this topic 🙂

[2021-11-26 14:03] Nitesh-vaidyanath opened #2355 "Helm upgrade of kind ScaledObject is failing."
### Report

Hello,

    We are using helm to add scaledobject kind, whenever we do some modification to manifest file it is not getting updating with "helm upgrade" command.

### Expected Behavior

scaledobject should update values from helm upgrade.

### Actual Behavior

Update is not happening.

### Steps to Reproduce the Problem

1.
2.
3.

### Logs from KEDA operator

[code]

### KEDA Version

[2021-11-26 14:36] isugimpy commented on #2299
After further thought, I think I have a rough idea on how this could be done.

https://github.com/kedacore/keda/blob/7b9817325fd88f291af6a224899bd385cb86bb3c/config/crd/bases/keda.sh_scaledobjects.yaml#L268-L269

The `metadata` field specifies
[code]
which could be changed to
[code]
And checks/conversions could be put into place on the various scalers for the known fields to type check them and co

[2021-11-26 14:42] tomkerkhove commented on #2353
Awesome, thank you!

[2021-11-26 14:42] #2355 closed

[2021-11-27 00:36] JorTurFer commented on #2353
@mknet3 , ping me if you need help ;)

[2021-11-27 14:40] zroubalik commented on #1382
Done in #1692

[2021-11-27 14:40] #1382 closed

[2021-11-27 14:47] zroubalik commented on #1133
This has been done, we can close this issue.

[2021-11-27 14:47] #1133 closed

[2021-11-28 22:03] #39 closed

[2021-11-29 06:37] tomkerkhove commented on #754
Any update on this @yolossn?

[2021-11-29 06:38] tomkerkhove commented on #233
https://github.com/kedacore/keda-scaler-durable-functions is archieved but guidance is to use SQL backend for scaling.

[2021-11-29 06:38] #233 closed

[2021-11-29 06:39] tomkerkhove commented on #645
Support is available as of v1.3.0

[2021-11-29 06:39] #645 closed

[2021-11-29 06:48] tomkerkhove commented on #1623
It's been too long, closing and we'll see if it's still an issue.

[2021-11-29 06:48] #1623 closed

[2021-11-29 06:52] tomkerkhove commented on #1790
@kozdincer Just out of curiosity - Did you take it further with this scaler @kozdincer ?

[2021-11-29 06:59] tomkerkhove commented on #1241
@harshitak27 Is there something that can be improved in the docs of our scaler / FAQ that could have helped you?

Otherwise I think we can close this issue.

[2021-11-29 07:03] tomkerkhove opened #2357 "Provide e2e test for all scalers (Help Wanted)"
We must provide end-to-end tests for all our scalers.

However, the following are missing:

- [ ] #2220
- [ ] #1529
- [ ] #1526
- [ ] #1524
- [ ] #1525
- [ ] #1528
- [ ] #1527

[2021-11-29 07:09] kozdincer commented on #1790
@tomkerkhove No unfortunately

[2021-11-29 07:10] tomkerkhove commented on #1790
No problem at all!

[2021-11-29 07:32] JorTurFer commented on #2299
Any opinion @kedacore/keda-core-contributors ?

[2021-11-29 08:37] tomkerkhove opened #2359 "Provide schema for scaler configuration"
Provide schema for scaler configuration so that we can do diffs on PRs to detect (unwanted) breaking changes, allow community to build tooling (see #249) and more.

This should be automatically generated based on our Go-code, or our Go-code should be linted against it.

[2021-11-29 14:54] jrehnen opened #2363 "Azure Event Hub scaler doesn't log anything if the blob container name is wrong"
While querying the scaling metric, if the scaler for Azure Event Hub cannot find the blob storage container the error message never gets logged.
Instead, the total amount of events in the hub is used as the value for the metric, whether they have already been handled or not.

This is due to the codeblock starting from the line in this link:
https://github.com/kedacore/keda/blob/7b9817325fd88f291af

[2021-11-29 14:56] isugimpy commented on #2299
As a strawman, I opened the PR above with a potential implementation of the alternative I mentioned above.  It seems like this should fairly elegantly solve the problem while completely preserving existing backwards compatibility, and without extensive changes to the codebase.  I'd be glad to go through other references to ParseInt and ParseFloat and replace them with this if the team is willing t

[2021-11-29 20:03] bpinske opened #2366 "Graphite scaler is returning the earliest datapoint of a query, not the latest."
### Report

_No response_

### Expected Behavior

Graphite's scaler acts on the most recent data available from a given query.

### Actual Behavior

The scaler will act on the most outdated value returned by a query for a given time range.

### Steps to Reproduce the Problem

1. Define a scaler definition with a QueryTime of 1 hour
2. Observe scaling behaviours act on hour-old data.

### Logs from

[2021-11-30 08:21] JorTurFer opened #2367 "golangci-lint fails usually"
### Proposal

There are several failures produced by timeouts in golangci-lint task:

- [https://github.com/kedacore/keda/runs/4359169018?check_suite_focus=true](https://github.com/kedacore/keda/runs/4359169018?check_suite_focus=true)
- [https://github.com/kedacore/keda/runs/4356029088?check_suite_focus=true](https://github.com/kedacore/keda/runs/4356029088?check_suite_focus=true)
- [https://githu

[2021-11-30 10:48] zroubalik commented on #2366
@bpinske do you think, that there might be some usecase where keeping the current behavior (oldest) makes sense?

[2021-11-30 10:57] zroubalik commented on #2367
Yeah, we should fix that. The current timeout is 5m though. I am gonna try to extend it to 10m.

[2021-11-30 14:47] #2117 closed

[2021-11-30 16:41] bpinske commented on #2366
It seems very unlikely to me there is any legitimate use in allowing people to intentionally use out of date data.
Prometheus's scaler does not have any equivalent back-in-time functionality either.

[2021-11-30 22:27] JorTurFer commented on #2342
I'm working on this task, and I'm not sure in the best way to proceed. I mean, validate if the pool exists or not requires an extra request to check it because the Azure DevOps API returns 200 despite not existing pool (crazy).

Maybe we could add support to specify directly the pool name instead of the pooID, if we are going to do an extra request to check if it exists, why don't get the ID from

[2021-11-30 22:31] JorTurFer commented on #2342
These endpoints return the same json:

- https://dev.azure.com/{organization}/_apis/distributedtask/pools?poolIds={poolIds}
- https://dev.azure.com/{organization}/_apis/distributedtask/pools?poolName={poolName}

So maybe maintain the old method and add the new one it's not a drama (but again, honestly as a user I prefer to use pool name instead of a weird ID)

[2021-11-30 23:30] JorTurFer commented on #2342
I have to add tests and update e2e test also but my idea is something like this: https://github.com/kedacore/keda/pull/2370

[2021-12-01 11:19] #2366 closed

[2021-12-01 14:37] tomkerkhove commented on #2342
Can you share a payload?

Let's support both, end-users can then choose and most likely they will all use the name but let's give people options.

[2021-12-01 14:52] JorTurFer commented on #2342
Okey, I will take a look maintianing both :)
Related with the payload, I will add an example in half an hour (now I'm AFK)

[2021-12-01 15:09] tomkerkhove commented on #479
I will provide a more thorough proposal before we start on this.

[2021-12-01 16:41] JorTurFer commented on #2342
[code]

[2021-12-01 22:24] JorTurFer commented on #2363
Hi @jrehnen
Nice catch!, improvements in troubleshooting are always welcomed.
Thanks for noticing it ❤️
are you willing to contribute?

[2021-12-01 22:25] bpinske opened #2377 "Kafka scaler should concurrently query brokers and partitions for their message offsets"
### Proposal

Currently, the kafka scaler serially queries kafka brokers for partitions one at a time. For very large topics with many hundreds of partitions, this can be quite slow. During this slow query, the controller-manager hpa loop blocks preventing other HPA actions from taking place.

This has previously been optimized with only querying each broker once for the entire list of all partiti

[2021-12-02 06:19] tomkerkhove commented on #900
This should directly talk to Azure Key Vault as [Azure Key Vault Provider for Secrets Store CSI Driver](https://azure.github.io/secrets-store-csi-driver-provider-azure/) is another scenario to cover that should already work today.

[2021-12-02 06:20] tomkerkhove commented on #2363
I'm getting somebody to fix this, assigning to myself for now

[2021-12-02 06:33] tomkerkhove opened #2378 "Provide first-class support for Secrets Store CSI Driver"
### Proposal

Provide first-class support for using secrets through [Secrets Store CSI Driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver).

### Use-Case

Allow end-users to use more secure ways to use secrets. This should probably be a new trigger authentication source, but open to suggestions.

### Anything else?

Relates to https://github.com/kedacore/keda/issues/2315

[2021-12-02 23:19] arschles commented on #1282
@zroubalik it doesn't seem like there's much support behind the MQTT-based scaler. should we close this or let the stale bot do it in due time?

[2021-12-03 08:46] zroubalik commented on #1282
@arschles let's keep this open as it is a valid task, maybe someone else will pick it up in the future 🤞

[2021-12-03 17:26] arschles commented on #1282
Sounds good!

[2021-12-03 22:58] bpinske opened #2381 "Keda 2.5 does not cleanly update from 2.4"
### Report

There appears to be a bug that prevents a clean and safe upgrade from keda 2.4 to keda 2.5, possibly related to [this PR which changed metric names](https://github.com/kedacore/keda/pull/2161) or [This one](https://github.com/kedacore/keda/pull/2099/files) . This affects pre-existing ScaledObjects are are present at the time of the 2.4 upgrade.

The symptom would be that the HPA loop w

[2021-12-04 03:21] bpinske opened #2382 "Upstream core Kubernetes HPA loop is single-threaded"
### Report

I am leveraging Keda to query Prometheus for metrics to use in scaling decisions. Core Kubernetes appears to have some poor performance when it comes to operation with many external metrics based queries. The core HPA loop is single-threaded and acts on a single HPA object at a time in a blocking fashion on every loop iteration.

This core HPA loop should be concurrent and process ever

[2021-12-04 10:26] yasiboni-max commented on #1488
It's a really good improvement. I'd like to work on this one.

[2021-12-04 15:10] dominhhai opened #2383 "Does keda-operator ClusterRole need access to serviceaccounts?"
### Discussed in https://github.com/kedacore/keda/discussions/2348

<div type='discussions-op-text'>

<sup>Originally posted by **gdamjan-loka** November 25, 2021</sup>
Does the the `keda-operator` `ClusterRole` need access to `serviceaccounts` resources too?

I was getting these errors:
[code]

To get rid of the error I had to add `serviceaccount` here somewhere (I edited the release yaml file):

[2021-12-05 04:09] dominhhai commented on #2383
may be related to https://github.com/kedacore/keda/issues/837#issuecomment-789037326

[2021-12-05 13:07] jungopro opened #2385 "Azure Storage Queue scaler is reporting wrong number of messages in queue"
### Report

Hello
I think the azure_queue monitor is not reading the number of messages in the queue as it should
Looking at the code [here](https://github.com/kedacore/keda/blob/main/pkg/scalers/azure/azure_queue.go) I think that when Keda calculates the "visible messages" as 0 it returns 0, even though the actual number of messages in the queue is much higher

For example:
We see "showing 0 of 1

[2021-12-05 22:46] JorTurFer commented on #2381
Hi,
The change in the name is the expected behavior. Is the metric server updated to v2.5 too?
If you [query available metrics manually](https://keda.sh/docs/2.5/operate/metrics-server/#querying-metrics-exposed-by-keda-metrics-server), are you getting old names? The update should be automatic in both cases, the operator should update the HPA and the metric server should expose it without any extra

[2021-12-05 23:58] bpinske commented on #2381
This issue resurfaced on me again, after a several hour delay. This is the second time I have had the issue surface on me, each failing several hours after first release.  I will note that following the incident of the first time, I had deleted and recreated all scaledObjects and HPA objects while already deployed to keda 2.5 to ensure that there wouldn't be any potentially stale references left o

[2021-12-06 00:30] JorTurFer commented on #2381
But KEDA doesn't expose the same metric in different ways depending on the lifetime, I mean, maybe could you have more than 1 instance? The index is calculated inside the scaler in all `GetMetricSpecForScaling` and it's evaluated internally, so I can't understand for example this output:
[code]
Despite if the index had been wrong, you should have all with s0-xxxx 🤔
I'm not sure if the metrics are

[2021-12-06 00:34] JorTurFer commented on #2381
Just to double-check, you have tried deleting and creating again the ScaledObjects, right? I mean, in the clusters where you have problems, did you also delete and create them again?

[2021-12-06 00:36] bpinske commented on #2381
Here is a screenshot of the metric values over time. Note the flatline occurring in the middle of the night. That flatline continued until keda 2.4 was reverted at which points metrics began to flow again using the old name convention.

During the period of the flatline when the issue starts, the metrics server begins throwing 500s because it's unable to resolve requests for the metric name
[code]

[2021-12-06 00:48] JorTurFer commented on #2381
Could you run `kubectl get pods -n {KEDA_NAMESPACE} -o jsonpath="{..imageID}"` and paste the output please?

[2021-12-06 00:53] bpinske commented on #2381
[code]

[2021-12-06 01:09] JorTurFer commented on #2381
The images look good :/
Tomorrow I will prepare an environment with KEDA v2.4 and I will try to reproduce the problem with any ScaledObject with Prometheus triggers updating to v2.5 (here it's 2h00 now).

It's weird because the difference is not at trigger level, it's at ScaledObject level and I updated KEDA in our (company) clusters without any issues, basically the new version of the operator up

[2021-12-06 18:49] zroubalik opened #2386 "Add container image signing to released images"
### Proposal

Starting the new release we should support container image signing:

https://github.blog/2021-12-06-safeguard-container-signing-capability-actions/

https://github.com/kedacore/keda/blob/main/.github/workflows/release-build.yml

[2021-12-07 07:02] mohsinonxrm commented on #779
while we wait for 2.6.0 release, here are 2.5.0 arm64 versions:
https://hub.docker.com/repository/docker/mohsinonxrm/keda
https://hub.docker.com/repository/docker/mohsinonxrm/keda-metrics-apiserver

[2021-12-07 07:05] tomkerkhove commented on #2386
Agreed

[2021-12-07 07:05] tomkerkhove commented on #779
Like @zroubalik said, we are open for contributions to help close this upstream in KEDA itself :)

[2021-12-07 08:34] tomkerkhove commented on #1488
Awesome, thanks a ton @yasiboni-max!

[2021-12-07 09:42] zroubalik commented on #1937
I belive this has been fixed by #2279

@adrianchifor please reopen if you still see the problem with 2.5.0.

[2021-12-07 09:42] #1937 closed

[2021-12-07 09:44] zroubalik commented on #2382
Thanks for documenting this, we should try to work with SIG Autoscaling to tackle this.

[2021-12-07 12:21] JorTurFer commented on #2386
+100

[2021-12-07 18:51] shaunc opened #2391 "Provide scaler for NATS Jetstream"
### Proposal

Currently keda supports NATS streaming. However, [NATS  Streaming has been deprecated in favor of NATS Jetstream](https://docs.nats.io/reference/faq#jetstream-and-nats-streaming). NATS is simpler to run in-cluster than Kafka, and jetstream scales well. I hope that Keda will support it?

### Use-Case

I hope to use in [conjunction with fission](https://github.com/fission/fission/issue

[2021-12-07 21:01] mohsinonxrm commented on #779
@tomkerkhove , I had a look at GitHub Actions and I'll be honest, I don't think I'm familiar enough with it to modify to use build for arm64.

BTW, the only change I made for building these images is to update the Docker and Docker.adapter files with arm64 golang images and then in the makefile change the arm to ARCH ?= arm64.

I've also installed all the build tools locally on the PI 4 or Ampere

[2021-12-07 21:01] mohsinonxrm commented on #779
@tomkerkhove , I had a look at GitHub Actions and I'll be honest, I don't think I'm familiar enough with it to modify to use build for arm64.

BTW, the only change I made for building these images is to update the Docker and Docker.adapter files with arm64 golang images and then in the makefile change the arm to ARCH ?= arm64.

I've also installed all the build tools locally on the PI 4 or Ampere

[2021-12-07 21:10] JorTurFer commented on #2391
Hi @shaunc
Thanks for notify this. I think that KEDA should support NATS Jetstream being this the successor of NATS Streaming.
Are you willing to contribute with this?

[2021-12-07 21:16] mohsinonxrm commented on #779
@tomkerkhove , actually... let me take another look at it. I was approaching this the wrong way.

[2021-12-07 22:00] zroubalik commented on #779
It is not about the build tools I'd say. But more about building KEDA for arm64, start a small Kind (or similar k8s distro) on ARM machine and run some smoke check (a couple of e2e tests, eg. cron or additional simple ones).

[2021-12-07 22:05] shaunc commented on #2391
Thank you, @JorTurFer!

I'm not familiar with the codebase, and have many things to do. That said, getting this working would simplify a number of other things (like having to maintain a Kafka cluster). If you could give some pointers/a checklist, I can investigate, and depending on how much work there is make some contributions if not the full feature.

[2021-12-07 22:23] JorTurFer commented on #2391
hi @shaunc ,
As I understand this, it's basically another new scaler (because STAN is deprecated but still be there). This means that [this guide](https://github.com/kedacore/keda/blob/main/CREATE-NEW-SCALER.md) could be useful.
Probably the majority of the code will be similar to [already existing STAN scaler](https://github.com/kedacore/keda/blob/main/pkg/scalers/stan_scaler.go), also from unit/

[2021-12-07 23:12] mohsinonxrm commented on #779
I have a k3s cluster, so I'll play on that first, will report my findings here.

[2021-12-08 06:49] tomkerkhove opened #2392 "Provide workflow to deploy KEDA on various Kubernetes versions"
Provide workflow to deploy KEDA on various Kubernetes versions to ensure we support them correctly.

Relates to https://github.com/kedacore/charts/pull/213#issuecomment-988085409

[2021-12-08 06:53] tomkerkhove commented on #779
Thank you @mohsinonxrm - I will just assign this to me to keep track of this but feel free to keep on tinkering around!

[2021-12-08 07:26] fivesheep opened #2393 "KEDA creates broken HPA object for a deployment when a depending secret is not ready"
### Report

We are using CSI secret store provider to sync external secrets as k8s secret, then have it injected as env variables, the secret itself won't be when the first pod being created and the csi secret provider downloads the remote secret and store it as k8s secret, in between of this process, there's a gap that the POD is up, but some of the container is still waiting for the secret to be

[2021-12-08 08:36] tomkerkhove commented on #479
My goal with this issue is to allow end-users to subscribe to events emitted by KEDA that provide them insights into what is going on.

These should serve several purposes such as:
- Allow for autoscaling awareness (scaling)
- Allow for automated notifications for incidents (errors, misconfiguration)
- ...

From a high-level perspective, KEDA will be doing 3 things:

1. Scale workloads in a single

[2021-12-08 08:42] zroubalik commented on #479
I like this proposal, one minor nit, I'd use `apivVersion: events.keda.sh/v1alpha1` or similar, to distinguish from standard (scaling related) CRDs.

[2021-12-08 08:48] tomkerkhove commented on #479
Great idea, updated!

[2021-12-08 10:31] tomkerkhove commented on #479
As part of this or after the first iteration we should also provide:
- A "health" indication in our CRD to see if it was able to connect or not
- Prometheus metrics showing the success rate and amount of events forwarded.

[2021-12-08 11:47] zroubalik commented on #1937
@adrianchifor excellent, thanks for the confirmation.

[2021-12-08 11:51] JorTurFer commented on #1937
NICE!!!!! Thanks for sharing!! 💘 💘 💘

[2021-12-08 11:57] tomkerkhove commented on #1937
Boom! 🚀

[2021-12-08 17:15] JorTurFer commented on #2383
Hi @dominhhai
I have several clusters with KEDA running there so I believe that it's not necessary.
Could you run `kubectl get pods -n {KEDA_NAMESPACE} -o jsonpath="{..imageID}"` and paste the output please?

[2021-12-09 13:35] mkellermeier opened #2397 "Azure Monitor scaler stops to retrieve any external metrics and does not auto-recover - error getting azure monitor metric ActiveMessages"
### Report

Hi all,

we make use of the Azure Monitor Scaler to observer the ActiveMessages in AzureServiceBus queues. Yesterday night all implemented scalers stop to work with the error message:

[code]

We have the trigger defined as follows:

[code]

The scalers did not auto-recover. The issue could only be mitigated by re-configure the Azure-Monitor trigger in the respective ScaledObject items

[2021-12-09 18:32] zroubalik commented on #2383
What type of triggers are you using?

[2021-12-09 18:33] zroubalik commented on #2383
And how did you install KEDA? via HELM?

[2021-12-09 18:36] zroubalik commented on #2315
Related: https://github.com/kedacore/keda/issues/2393

[2021-12-09 18:37] zroubalik commented on #2317
This seems like a fair request, are you willing to contribut this?

[2021-12-09 19:59] schoki040 commented on #2317
I'd be happy to contribute, I'll look into the process and will link a PR

[2021-12-09 22:23] ahmelsayed commented on #2317
Also while you're at it, this defer https://github.com/kedacore/keda/blob/cbe929bcff6ee6d036283ad13423d6da083cf7e8/pkg/scalers/metrics_api_scaler.go#L219 should move above that `if r.StatusCode != http.StatusOK`

[2021-12-10 01:01] schoki040 commented on #2316
Yes, it's still present in 2.5.0

I did a little bit of digging and the traced line seems to come from the kubernetes-apiserver.
https://github.com/kubernetes/apiserver/blob/8280ed5606745dad4c442ac50cd757429f2aed87/pkg/endpoints/handlers/get.go#L283

I haven't found the section where this function is executed in Keda, but it seems to return the trace on v(0).Info level.
I only found two v(0)'s. On

[2021-12-10 23:58] ifutant commented on #1629
@enjlee @jjoynsonerwin I encountered a similar issue and I was able to solve this behavior by including the following parameters in my trigger authentication. Until I had those entries - the logic kept on defaulting to the CPU scalar.

`apiVersion: v1
kind: Secret
metadata:
  name: test-app-trigger-auth-secrets
  namespace: test-app
data:
  activeDirectoryClientId: encoded
  activeDirectoryClientP

[2021-12-12 12:54] tomkerkhove commented on #2160
Interesting use-case. So basically you use kube-downscaler to scale down based on time? If so, what if KEDA allowed defining scale-down through CRON scaler?

[2021-12-12 19:06] mknet3 commented on #2353
just to confirm, I'm on it and I will help with this scaler

[2021-12-13 06:14] brunodasilvalenga commented on #2314
Hey @zroubalik is there any way to have a workaround on it to when we have idleReplicaCount > 1 we use the number of messages always > 1. In that way, we always will have at least 1 pod running.

Keda is an awesome tool but we must have at least 1 pod running in our project.

[2021-12-13 06:30] tomkerkhove commented on #1905
This is available in v2.4.0, would you mind giving it a go @acobaugh ?

[2021-12-13 06:30] tomkerkhove commented on #2353
Great, thanks!

[2021-12-13 11:20] coderanger commented on #1793
Unstale, this really should happen some day :)

[2021-12-13 13:12] chintan-episource opened #2400 "KEDA Kafka not scaling from 0 to 1 based on messages produced but works fine for 1 to N scaling ."
### Report

Hello. We are doing KEDA (2.5) poc on EKS -
Findings -
Using EKS 1.20
Keeping minReplicacount of 1  and scaling to N pods works fine with KEDA scaler.
However, if i keep minreplicacount as 0 and try  with offsetResetPolicy as earliest/latest and wait for KEDA to find kafka messages and spawn new pod is not happening as expected.

[deployment.txt](https://github.com/kedacore/keda/files/

[2021-12-13 15:36] aslom opened #2401 "smoother scaling (predictive scaling)"
### Proposal

Currently KEDA scalers do not have an easy way to predict scaling targets and keep necessary history of measurements

### Use-Case

Kafka scaler scales number of Kafka consumers. Each new scaling triggers Kafka rebalancing as Kafka broker needs to re-assign consumers to Kafka topic partitions and that can take 10 seconds or longer. During rebalancing events can not be consumed and th

[2021-12-13 16:20] zroubalik commented on #2401
Yeah, we should try to implement this kind of stuff in Metrics Server, this is relevant issue that needs to be tackled first: https://github.com/kedacore/keda/issues/2282

For reference adding a link to HPA docs and it's scaling behavior configuration, this could help with mitigating and configuring the smoothnes of the scaling as well: https://kubernetes.io/docs/tasks/run-application/horizontal-p

[2021-12-13 17:42] arschles commented on #538
@tomkerkhove the HTTP Addon has a beta release, so do you think this is ok to close?

[2021-12-14 07:40] tomkerkhove commented on #538
I'd prefer to wait until the docs are on the website, is that OK for you?

[2021-12-14 10:25] tomkerkhove opened #2402 "Maintainers Time off (2021-12-20 - 2022-01-03)"
Maintainers are taking time off starting on 2021-12-20 until 2022-01-03, expect some delays in responses and see you in 2022!

[2021-12-14 17:10] arschles commented on #538
yes, absolutely :)

[2021-12-15 13:31] chintan-episource commented on #2400
Issue is resolved. Kafka authentication had failed and it reverted to default CPU scaler. Secrets were not encoded as expected.

[2021-12-15 13:32] #2400 closed

[2021-12-15 16:40] JorTurFer opened #2403 "Azure EventHub Scaler: don't expose connection string in metricName"
### Report

As a user has reported [here](https://kubernetes.slack.com/archives/CKZJ36A5D/p1639584761379300), [KEDA exposes the `EventHubConnection` in the metricName](https://github.com/kedacore/keda/blob/v2.5.0/pkg/scalers/azure_eventhub_scaler.go#L258)
[code]

### Expected Behavior

KEDA shouldn't expose secrets

### Scaler Details

Azure EventHub

[2021-12-15 21:44] Eldarrin commented on #2328
Interestingly I hit the same thought. Started looking at doing something like:
url := fmt.Sprintf("%s/_apis/distributedtask/pools/%s/agents?&demands=%s&api-version=6.1-preview.1", s.metadata.organizationURL, s.metadata.poolID, demands)
just trying to figure how I would instruct the correct scalar so I only increase on the correct ScaledJob profile

[2021-12-16 11:27] akshaygupta2208 commented on #2034
Is this feature included in 2.5.0 release ?

[2021-12-16 11:56] mKeRix commented on #2383
FWIW, we also ran into this issue on our test cluster with a fresh Keda installation. We install Keda via Helm (chart version 2.5.0) and tried to use the `TriggerAuthentication` pointing to a service account with IAM permissions (via IRSA). The `ScaledObject` had a trigger of type aws-sqs-queue. This failed in the error described above. Once we gave the operator access to read our queue, removed t

[2021-12-16 12:10] JorTurFer commented on #2034
yes it is

[2021-12-16 12:45] tomkerkhove commented on #2383
If @zroubalik agrees, are you open to send a PR for this @mKeRix ?

[2021-12-16 20:43] tomasspi commented on #2383
I comment on this because I had the same issue and solved it by giving permissions to `list` and `watch` service accounts to the `keda-operator` cluster role.
I deployed KEDA via Helm (`v2.5.0`) and ran into this when when using `ClusterTriggerAuthentication` with `identityOwner: oeprator`.

[2021-12-17 00:35] VerstraeteBert commented on #2377
Hey @bpinske

I've tried my [hand at implementing this](https://github.com/VerstraeteBert/keda/commit/e6073130304758ea5f87abf3f72f4f8bccf815eb). Haven't had the chance to properly test this myself, feel free to try it out :-). Note that I'm quite a golang novice still, especially its concurrency patterns.

[2021-12-17 08:33] tomkerkhove commented on #2383
Are you open to send a PR for this?

[2021-12-17 12:23] tomasspi commented on #2383
sure thing!

[2021-12-17 20:17] JorTurFer opened #2407 "Metric name (and other values) is not updated with the changes in the SO"
### Report

Metric name is not updated with the changes in the SO when instead of updating you delete and create it again.
I found that cache is not purged after ScaledObject deletion and if you delete and create the SO instead of updating, the generation will be 1 in both cases, so the old entry is used instead of building the scaler again.

### KEDA Version

2.5.0

[2021-12-18 12:46] MattJeanes commented on #1499
Upstream issue is resolved not sure if it's been pulled into KEDA yet

[2021-12-19 18:57] mknet3 commented on #2353
Hi @tomkerkhove, I have had a look at this issue and I would like to clarify some things. AFAIK the goal of this issue is to provide an scaler based on metrics exported by an exporter configured in the collector. This exporter will expose metrics in a KEDA format to be read by the scaler. Quick question, does the exporter already exist or is there a plan to develop it? (I suppose will be in [opent

[2021-12-20 08:06] tomkerkhove commented on #2383
A new Helm chart is out - https://github.com/kedacore/charts/releases/tag/v2.5.1

Thanks for reporting and fixing!

[2021-12-20 08:20] tomkerkhove commented on #1499
@kedacore/keda-core-contributors  Are we using the latest SDKs? If so, then we should be good

[2021-12-20 08:22] tomkerkhove commented on #2353
That would be part of the investigation but I think we'll need to build our own exporter to get the metrics in; or use the [gRPC OTEL exporter](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter) / [HTTP OTEL exporter](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlphttpexporter) as a starting point to push it to KEDA.

I'd pr

[2021-12-20 09:43] JorTurFer commented on #1499
[We are using](https://github.com/kedacore/keda/blob/main/go.mod#L11) the last version of `github.com/Azure/azure-service-bus-go` (0.11.5)

Note: I can see in the repository that it has been archived (2021-11-12) in favor of [`github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus`](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus) but this new package seems tha

[2021-12-20 09:44] #692 closed

[2021-12-20 09:47] #2383 closed

[2021-12-20 10:59] zroubalik commented on #911
We have done performance improvements in recent KEDA versions and identified some bottle necks in Kafka scaler, which should be fixed in 2.6.0:
https://github.com/kedacore/keda/issues/2377

[2021-12-20 13:44] #1521 closed

[2021-12-20 14:34] davidlm228 opened #2411 "Provide scaler for Dynatrace metrics"
### Proposal

Provide k8s autoscaling based on Dynatrace Metrics

### Scaler Source

Pods

### Scaling Mechanics

https://www.dynatrace.com/support/help/dynatrace-api/environment-api/metric-v2/get-all-metrics

### Authentication Source

https://www.dynatrace.com/support/help/dynatrace-api/basics/dynatrace-api-authentication

### Anything else?

_No response_

[2021-12-20 14:55] #2201 closed, assigned to nobody

[2021-12-20 15:09] tomkerkhove commented on #2411
Thanks! Are you willing to contribute this?

[2021-12-20 15:55] runningman84 commented on #2160
Our use case is to downscale deployments and cronjob (they are not so important because a corresponding cron schedule can do the sane thing) to zero at specific timeframes.

kube-downscaler is a well known product to do handle this usecase in k8s.

From my point of view I would be also fine if KEDA would have a similar native feature  to solve this usecase without kube-downscaler.

What I can tell

[2021-12-20 18:50] gigi-at-zymergen commented on #1797
This is still an issue, haven't managed to research what the k8s metric server returns. Will try and research and post back here.

[2021-12-21 09:55] tomkerkhove commented on #2160
So what I'm taking away from this is that we currently assume for scale-out and having scale-in support would be nice as well for our triggers.

If we do that, you could use our cron trigger to achieve this with scale-in scenario. This could also be a cron-scaler only feature as well.

Thoughts @kedacore/keda-maintainers?

[2021-12-21 10:46] #2105 closed

[2021-12-21 15:55] StepanKuksenko commented on #2160
also interested in this feature.
We want to scale down all workloads in test environment to zero, I tried to use keda cron scaler to achieve this but seems it can't do scale-down, just scale-up. Seems i need to use kube-downscaler as well, but it would be better to have this feature in keda because we already use it for other stuff.

[2021-12-21 18:27] davidlm228 commented on #2411
Yes

[2021-12-21 21:04] VerstraeteBert commented on #2401
I would love to see this as well in the future. A solid predictive scaling mechanic could turn KEDA into a very powerful tool, where users don't need to worry about tweaking any of the scaling parameters. e.g., a method that takes into account the number of events coming in per timespan vs historic data on the number of events processed per active replica in the same timespan.  One can dream right

[2021-12-22 06:46] tomkerkhove commented on #2411
Awesome, thank you @davidlm228!

[2021-12-22 06:48] tomkerkhove commented on #2208
Closing as there hasn't been response in a while, feel free to re-open if still an issue.

[2021-12-22 06:48] #2208 closed

[2021-12-22 07:49] tomkerkhove commented on #2401
Relates to #197

[2021-12-22 07:52] tomkerkhove commented on #944
So, what shall we do? Use labels? Thoughts @zroubalik ?

[2021-12-22 07:53] tomkerkhove commented on #2160
Let's do a POC to change the CRON scaler to achieve this and see what the impact is for the rest.
I agree this should become part of KEDA as a nice addition.

[2021-12-22 09:12] lpapudippu commented on #2268
@JatinSanghvi  Can you please look in to it ?

[2021-12-22 14:17] #2223 closed, assigned to nobody

[2021-12-22 14:27] alegmal opened #2414 "RabbitMQ regex - No matching metrics found"
### Report

regex with rabbitmq scaler is unable to get metrics - error is: No matching metrics found (screenshots are provided).
the httpConnectionString environment variable in deployment takes its value from a secret and its of this format:
http://<username:password>@<url>:<port>/host

Strangly it also complains in keda-metrics pod logs about being unable to resolve secret "for env AUTHZ_CLIENT

[2021-12-22 15:48] JorTurFer commented on #2414
hi @alegmal
Are the ScaledObject and the deployment in the same namespace?

[2021-12-22 15:50] JorTurFer commented on #2414
it's weird because I think that we don't use any variable `AUTHZ_CLIENT_ID` in the code :/
is it variable in your workload?

[2021-12-22 17:42] alegmal commented on #2414
@JorTurFer
1. just double checked and its in the same namespace.
2. yes - this is env of the workload it should scale (niffler). As I wrote, I have no clue why its in the logs as the hostFromEnv is set to "MQ_CONNECTION_STRING" env

[2021-12-22 21:35] pascallap opened #2415 "Scalers don't retry if connection is lost"
### Report

If the scaler rabbitmq is installed or launched while rabbitmq isn't up.
There is no reconnection attempt.

We only get an error:
`ERROR	scalehandler	error resolving auth params	{"scalerIndex": 0, "object": {"apiVersion": "keda.sh/v1alpha1", "kind": "ScaledJob", "namespace": "anamespace", "name": "servicename"}, "trigger": 0, "error": "error establishing rabbitmq connection: dial tcp x

[2021-12-23 10:56] glassnick commented on #2381
Hi there.

Has there been any update on this issue?

We're also seeing a similar issue. We have 3 clusters where we have upgraded from 2.4.0 to 2.5.0, and two of them are producing errors.
We are using Azure Service Bus for the events, and getting this output
As you see below, the metric "s1-azure-servicebus-st-xxx" is showing as 'unknown'.
.
[code]

[2021-12-23 11:20] JorTurFer commented on #2381
🤦
I have to apologize, I didn't have so much time and I totally forgot this issue :(
I will take a look during the next week
Sorry

[2021-12-23 11:46] glassnick commented on #2381
For this particular metric, when querying the metrics manually, we're seeing s0 instead of s1  in the metric name...
[code]
FYI, we are seeing issues with multiple metrics

[2021-12-23 12:34] JorTurFer commented on #2381
could your problem be related with [this](https://github.com/kedacore/keda/issues/2407)?

[2021-12-23 17:11] bpinske commented on #2381
^ That actually does sound somewhat related. I definitely observed mismatches between what the metricNames were according to the metricsServer and what the HPA loop was actually querying.

[2021-12-23 17:42] JorTurFer commented on #2381
okay, there are 2 different workarounds if you are affected by this error:
- Update the SO to bump the generation (update de manifest, not delete and create it again)
- Restart KEDA pods to recreate the cache

Could you check if these workarounds mitigate the problem? Just to know if this is the root cause and not invest time digging in the problem

[2021-12-23 17:48] bpinske commented on #2381
First I'll need to see if I can actually find a way to reproduce this issue reliably: So far I've only been able to trigger it in my largest 4 environments :)

I'll see about trying to reproduce this today in a dev space. If I find a way to reproduce, what I'll actually do is build keda myself and cherrypick in your cache deletion commit to see if that fixes it.

[2021-12-23 17:50] JorTurFer commented on #2414
Hi @alegmal
It's weird, I have at least 20-25 SO scaling in base of RabbitMQ with regex :(
Could you try [using TriggerAuthentication](https://keda.sh/docs/2.5/scalers/rabbitmq-queue/#http-protocol-queuelength-and-using-regex-useregex) instead of getting the value from the pod?
Please, to ensure that [this problem is not affecting you](https://github.com/kedacore/keda/issues/2407), be sure that yo

[2021-12-23 17:52] JorTurFer commented on #2381
nice!
Thanks for your help ❤️
I'm thinking and probably updating the SO name is enough to avoid the cache because the (cache) key is generated using the name and namespace

[2021-12-24 13:26] glassnick commented on #2381
Our team will be testing this in the new year.

[2021-12-25 00:54] #194 closed

[2021-12-25 00:54] #1263 closed

[2021-12-25 18:49] alegmal commented on #2414
@JorTurFer thanks for quick responses
I checked and generation of SO seems to be updated with new changes.
I created a new SO with different name and same regex configuration and I got the same erors.

I'll try triggerauthentication and update.

[2021-12-26 10:43] #2203 closed

[2021-12-27 07:59] #2204 closed

[2021-12-27 13:15] alegmal commented on #2414
@JorTurFer unfortunately triggerauthentication did not help solve the issue

[code]

This is the is what puzzles me in this error: LocalObjectReference{Name:piper-auth0,},Key:clientId
We have a secret piper-auth0 with key clientId but nowhere its reffered to in scaledobject as seen in a screenshot.
This also happens when using triggerAuthentication.

Maybe I need to clear some cache or something?

[2021-12-28 19:15] daniel-yavorovich commented on #197
@jeffhollan

We were dreaming about the same thing and developed this kind of solution. It works based on our simple, but working AI model and predicts pretty well.
Maybe it's not the "blue sky" you're looking for, but you should definitely take a look.

PR: https://github.com/kedacore/keda/pull/2418

[2021-12-28 19:15] daniel-yavorovich commented on #2401
@aslom

We had similar thoughts, but not specifically in the Kafka context, and created our scaler based on AI model. Take a look at how it can perform, maybe it will work for you too.

PR: https://github.com/kedacore/keda/pull/2418

[2021-12-29 13:13] qalinn opened #2419 "Selenium keda scaler doesn't support https for the url selenium grid graphql?"
### Report

Hello,

I have deployed selenium grid 4 on my eks using the k8s-deployment-full-grid.yaml file recommended on the selenium official documentation.
 I have installed keda using  the manifest and kubectl.
I have applied the keda-scaler.yml file.
I have two situations:
1. when I am deploying my selenium grid 4 with https(certificates), the keda scaler doesn't work properly. This means is

[2021-12-29 19:41] joebowbeer commented on #2359
Provide json schema for use with [kubeval](https://github.com/instrumenta/kubeval) or [kubeconform](https://github.com/yannh/kubeconform)?

[2022-01-02 16:23] #2209 closed

[2022-01-02 20:10] tsndqst opened #2430 "PostgreSQL scaler uses username instead of port number in 2.5.0"
### Report

The `postgreSQL_scaler` fails to start up with an error similar to the following:
[code]

https://github.com/kedacore/keda/pull/2114 broke the Postgresql scaler.  The `userName` argument overwrites the `port` argument.

Compare the `GetFromAuthOrMeta` calls for `port` and `userName`.  They both set `meta.port` so it ends up being set to `userName` not `port.
https://github.com/kedacore

[2022-01-03 09:03] JorTurFer commented on #2414
Hi @alegmal
I guess that you already tried updating the SO instead of deleting and creating it, but you could try also a simple restart of KEDA's pods, that will refresh the cache. (I know that it's not the best solution, but I propose it only for troubleshooting stuff)

[2022-01-03 10:06] #2120 closed

[2022-01-03 10:40] #2403 closed

[2022-01-03 10:42] #2377 closed

[2022-01-03 10:44] #2407 closed

[2022-01-03 11:09] zroubalik commented on #2430
@tsndqst good catch, thx. Are you wiling to open a PR with the fix?

[2022-01-03 11:45] zroubalik commented on #2419
You can try to set `unsafeSsl` https://keda.sh/docs/2.5/scalers/selenium-grid-scaler/#trigger-specification to see if that helps. Are you sure that the https enpoint is reachable? If you try to access it directly, not with KEDA.

[2022-01-03 12:32] zroubalik commented on #2415
Thanks for opening this issue, it seems like that this bug has been introduced by caching mechanism implemented in 2.5.0 https://github.com/kedacore/keda/pull/2187 and it is not exclusive to RabbitMQ.

[2022-01-03 12:37] Lyrositor commented on #2415
I can confirm this, I have experienced this with the Redis Lists scaler as well.

Reverting to 2.4.0 fixes the issue.

[2022-01-03 12:48] tsndqst commented on #2430
@zroubalik I created a PR but I don't know Go data structures well enough to come up with a test.

[2022-01-03 12:54] zroubalik commented on #2430
@tsndqst I think that it is fine, no need to add a test for this.

[2022-01-03 14:23] #2342 closed

[2022-01-03 14:30] #2290 closed

[2022-01-03 14:51] JorTurFer commented on #2339
I think this is solved since this other is solved (https://github.com/kedacore/keda/issues/2342).
Now KEDA logs an explicit error in case of not existing poolID or poolName

[2022-01-03 15:08] JorTurFer commented on #2385
Hi @jungopro
Could you share KEDA's logs? (from operator and metric server)

[2022-01-03 16:45] qalinn commented on #2419
@zroubalik Yes, the https endpoint is working. I found a workaround to use the k8s internal dns address. I haven't seen the `unsafeSsl `param. Thank you!

Have you found a solution to use selenium grid 4 and video recording?

[2022-01-03 16:50] zroubalik commented on #2419
Glad to hear that. I am sorry, but I am not using Selenium Grid, so cannot say much on grid 4 or video recording. But we are open to contributions in that space :)

[2022-01-03 16:50] #2419 closed

[2022-01-03 16:55] #2430 closed

[2022-01-03 16:55] #1408 closed

[2022-01-03 17:11] qalinn commented on #2419
@zroubalik Thank you! Could you see here the issue with video recording: https://github.com/SeleniumHQ/selenium/issues/10018

[2022-01-04 10:10] tomkerkhove commented on #2339
Ok to close then?

[2022-01-04 10:41] #2339 closed

[2022-01-04 12:08] JatinSanghvi commented on #2268
@zroubalik , @tomkerkhove - This one will require access to the repo secrets (used [here](https://github.com/kedacore/keda/blob/1fd686631115beac40e45e9fba1b4b5352a437d6/.github/workflows/main-build.yml#L87)). That will help me know the location of the Azure storage account and if required (but not preferably) replace the connection string to point to a new non-personal storage account.

[2022-01-04 12:18] JatinSanghvi commented on #2268
This might not be a result of credential expiry since the Azure Blob scaler tests are passing. Also the test itself creates the queue if it's not present, and fails sooner if the queue creation fails. I will try running the tests locally by pointing to another storage account and check the outcome.

[2022-01-04 13:03] tomkerkhove commented on #2215
It looks like this is no longer the case, can you verify please @arschles?

[2022-01-04 13:45] tomkerkhove commented on #2359
For example, yes.

[2022-01-04 16:18] tomkerkhove commented on #479
A new event that would be nice to have is "we have reached max instance count, but we believe we should keep on scaling" to help customer revise their max instance count.

[2022-01-05 08:36] or-shachar opened #2440 "Support custom formula for multiple metrics"
### Proposal

- KEDA metrics server knows how to get multiple metrics from various sources.
- Currently, the desired size computation works for each scaler individually and the final value is decided according to MAX.
- In real-world - sometimes you need to make decisions with more complex logic.

I think that a "Composed Scaler" that allows to put in a simple formula that references multiple othe

[2022-01-05 10:43] Ritikaa96 commented on #2219
Hi @JorTurFer Added the Cpu test . PTAL

[2022-01-06 15:08] zonnie opened #2445 "KEDA scalers that use authentication require access from keda namespace"
Hi,

So this is kind of something we are discussing in my team.
We deploy KEDA in `keda` namespace and for, i.e., MongoDB autoscaler we need to give the relevant credentials.
Also we deploy multiple MongoDBs in different namespaces.
What this means for us is that the operator in `keda` namespace essentially has credentials for MongoDBs in **all** namespaces.

We usually block all inbound communica

[2022-01-06 15:12] #2268 closed

[2022-01-06 15:24] JorTurFer commented on #2299
Hi @isugimpy ,
I have tried to support more than one type as `additionalProperties` but I couldn't figure out how to do it with kubebuilder.
Do you know how we could archive it? I mean, we use kubebuilder for CRD (and other manifests) generation during the build, so kubebuilder has to support it for supporting that feature in KEDA

[2022-01-06 16:57] loicmathieu opened #2446 "CPU/Memory scalers should allow scaling to 0"
### Proposal

There is legitimate use case where we want to have a CPU scaler and another one, and still want to scale to 0 (the other scaler will allow to scale back to 1).

For ex, you want to stop during closed hours your apps and want to scale based on CPU during open hours. For this you'll want to create a cron scaler and a cpu scaler.

As I understand, CPU scaler uses the default CPU autosca

[2022-01-06 17:00] loicmathieu opened #2447 "More flexible Kafka topic configuration"
### Proposal

Today, Kafka scaler only allow to scale based on the lag of one topic.

A lot of streaming applications uses multiple topics, using the Kafka scaler can be cumbersome if using tens of topics, or a regex of topics.

Multiple improvements can be added if the underlying Kafka client support them to configure multiple topics wich lags will be sumed:
- Configuring a list of topics
- Confi

[2022-01-06 17:02] loicmathieu commented on #2447
Just seen this one is handled here : https://github.com/kedacore/keda/pull/2409, great ;)
But I still think it would be great to have the other capabilities.

[2022-01-06 18:25] isugimpy commented on #2299
I don't actually know offhand.  I haven't had to work significantly with kubebuilder, so I've never had to dig into that.  It likely is possible through some means though.

[2022-01-06 21:04] sidprak opened #2449 "HPA reports incorrect metric value"
### Report

I used the Cloudwatch scaler. Using kubectl, I can see the correct metric value:
[code]

However, the HPA reports a totally different value, sometimes 0 and sometimes something very large. In addition, the HPA does not seem to scale up at all even though the reported value is much higher than the target. See output:
[code]

### Expected Behavior

I would expect the cloudwatch value to

[2022-01-07 06:12] tomkerkhove commented on #2447
Our current approach for all scalers is to add multiple triggers in your ScaledObject/Job. This should work for your scenario as well given it starts scaling as soon as one of them meets the criteria.

[2022-01-07 06:16] tomkerkhove commented on #2446
I've updated the issue name to include Memory scaler given that will be the same situation.

However, did you try doing this with the current version? In theory, if it doesn't meet your target value it should scale down to 0 but I might be wrong as it's been a while since I've used that one.

[2022-01-07 08:39] loicmathieu commented on #2446
@tomkerkhove yes, we did try it and it didn't scale to 0.
By the way, it's written in the documentation that it didn't work.

[2022-01-07 08:42] loicmathieu commented on #2447
@tomkerkhove some typical Kafka deployment involves multiple topic, for eg one topic by country. So you usually use a regex. And configuring hundreds of scaler is not very practical.

Moreover, it's different to have 100 scaler with a max lag of 100 and 1 scaler with a global lag of 10000, the scaler behaviour will not be the same.

[2022-01-07 08:42] zroubalik commented on #2446
Yeah, it cannot work, because the CPU/Memory load is being calculated from the pod that the app is running, so if you have 0 replicas it can't do anything :)

@loicmathieu let's say we implement this and allow to scale to zero after some threshold (eg. the 5% you mentioned), how would the scale 0->1 work in this case?

[2022-01-07 08:43] loicmathieu commented on #2447
I agree that a list of topic can be replaced by multiple scalers but not the usage of a regex (moreover, regex target topics can be un-known at build time).

[2022-01-07 08:44] zroubalik commented on #2447
Regex is not a bad idea imho (btw this is implemented for RabbitMQ scaler).

@loicmathieu would you be interested to draft some POC?

[2022-01-07 08:50] loicmathieu commented on #2446
By another scaler, in my use case I have Kafka based scaler.
So this functionality should not be enabled by default, if you want scale to 0 and use a CPU/Mem scaler you must have another scaler and opt-in in the CPU/Mem scaler via a threshold.

Another use case is to idle you apps during closed hours, it's very convenient to save money on cloud deployment.

Why I think it's important is also that

[2022-01-07 08:59] loicmathieu commented on #2447
@zroubalik well I would love to but I'm pretty new to Go and the Sarama client didn't allow pattern based consumption OOTB so it may not be a trivial implementation. If nobody else wanted to work on it I can give it a try but I'm pretty busy these days so it will not be soon.

[2022-01-07 09:07] zroubalik commented on #2447
@loicmathieu ok, so let's keep this open for the community.

[2022-01-07 09:08] #2402 closed

[2022-01-07 09:31] loicmathieu opened #2453 "Keda didn't honor "Implicit maintenance-mode deactivation" of HPA"
### Report

The HPA documentation explains that manually scaling the target to 0 deactivate the HPA, see https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#implicit-maintenance-mode-deactivation.

This is an important feature because it allows maintenance of the application (for example, stoping the consumption of a Kafka topic).

When using Keda, manually scalling to zero

[2022-01-07 09:47] tomkerkhove commented on #2453
This is by design given KEDA is in the driver seat and manual actions will be ignored.

What you are looking for is most probably https://github.com/kedacore/keda/issues/944

[2022-01-07 10:03] zroubalik commented on #2453
Yeah, that's duplicate of #944

[2022-01-07 10:03] #2453 closed

[2022-01-07 10:11] loicmathieu commented on #944
We too need this !

I think it would be done best by doing the same as the HPA, honour the target replicas count of 0 so when scaling manually a deployment to 0 Keda will disable/pause the scaled object.

Another solution would be to have a disabled/paused field on the scaled object that when set will disable the scaled object so Keda will not scaled anymore the target. This will have the caveat t

[2022-01-07 10:12] loicmathieu commented on #2453
I provided feedbacl on #944

[2022-01-07 10:39] tomkerkhove commented on #944
I do not agree on this, unfortunately, because if you scale with KEDA then KEDA should be in control.
This also assumes that 0 is the only supported amount of pods for maintenance while you might want to have just a few around but not scale automatically.

I do agree that label is not the correct fit because it will never be used for selectors, but I'm not a fan of having a field about this as wel

[2022-01-07 13:07] stanvit commented on #2201
We are experiencing the same issue as we're unable to scale our pods based on the `TargetResponseTime` ALB metric, which desired value is less than 1:

[code]

Relevant Keda operator logs:

[code]

Apparently, [at some point](https://github.com/kedacore/keda/blob/main/pkg/scalers/aws_cloudwatch_scaler.go#L292) the `0.015` value is converted to `"0"` instead of `"15m"` which prevents the controller

[2022-01-07 17:13] TrevinTeacutter opened #2455 "Google Cloud Pubsub Scaler factoring number of workers into scaling"
### Proposal

I would like to see the Pubsub scaler adopt the ability to do one of two things:
* Take the number of workers deployed into account when scaling. [Amazon has a decent article to explain the reasoning](https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-using-sqs-queue.html). This means allowing a target message count per worker.
* The above is really trying to get at the rate of

[2022-01-09 00:00] JorTurFer commented on #2415
I think that[ this PR](https://github.com/kedacore/keda/pull/2394) solves the problem

[2022-01-09 02:32] morganchristiansson commented on #779
One way to simply solve this is to cross-compile the binaries first, then use `docker buildx build --platform linux/arm64,linux/amd64` and COPY the arch-specific binary (instead of building it in Dockerfile).

I saw another go project using https://github.com/mitchellh/gox to cross-compile binaries.. It would then be easy to package these as multi-arch images. (using qemu)

[2022-01-09 09:33] or-shachar commented on #2314
Let’s say that just like @brunodasilvalenga -  we always need at least 1 pod running and using Cloudwatch scaler - is the following a valid workaround?

1. Scaler on `AWS/SQS/ApproximateNumberOfMessagesVisible` and I set the `minMetricValue` to some negative number.
2. Is it correct to claim that [`isActive` will always return True](https://github.com/kedacore/keda/blob/main/pkg/scalers/aws_cloudw

[2022-01-09 12:37] dmeytin commented on #944
Tom, I absolutely agree with you.
Do you think we can push this feature for the next Keda version?

On Fri, 7 Jan 2022 at 12:40 Tom Kerkhove ***@***.***> wrote:

[2022-01-09 15:39] tomkerkhove commented on #944
If we agree on the approach (my suggestion uses annotations above) then I can take a stab at this but no promises on timing as it will be my first time writing go.

[2022-01-09 18:24] kandeshvari opened #2456 ""kubectl get --raw" responses "Error from server: exactly one ScaledObject should match label" on multiple ScaledObjects"
### Report

I have a `ScaledObject` with prometheus trigger

[code]

After applying, I can succesfully request a metric value

[code]

After adding one more `ScaledObject` for another deployment

[code]

One more external metric appears in `external.metrics.k8s.io` list:

[code]

But when I try to make the same request I got:
[code]

### Expected Behavior

correct `ExternalMetricValueList` json sh

[2022-01-10 05:03] morganchristiansson commented on #2263
No binaries are currently published? Only docker images. https://github.com/kedacore/keda/releases

If so I don't think this task is required/blocker to add ARM support in #779

[2022-01-10 08:36] JorTurFer commented on #2299
I think that it's not possible right now :(
Let me review your PR in depth, my concern with it is the backward compatibility and I'd like to do some test

[2022-01-10 09:41] tomkerkhove commented on #1613
Documented on https://keda.sh/docs/latest/troubleshooting/ thanks to @lechnerc77

[2022-01-10 11:15] daniel-yavorovich opened #2458 "Provide an PredicetKube scaler"
### Proposal

[PredictKube](https://predictkube.com/) is a proactive KEDA scaler made by [Dysnix](http://dysnix.com/) for Kubernetes projects

### Scaler Source

Prometheus + PredictKube AI API

### Scaling Mechanics

It's based on an AI model trained on cloud traffic data: public, business, and custom metrics. It helps to deal with overprovisioning by predicting the traffic trend and timely resou

[2022-01-10 12:24] tomkerkhove commented on #2458
Relates to #197 & #2401

[2022-01-10 12:25] tomkerkhove commented on #2458
Can you share some more information related to the billing model & legal implications of PredictKube? For example, will you train the AI model based on the metrics that you use for KEDA?

[2022-01-10 12:27] tomkerkhove commented on #2458
Also, our [community standup](https://keda.sh/community/) is next week on Tuesday. Would you be able to join it and share more on this scaler?

[2022-01-10 19:23] dmeytin commented on #944
I'm trilled to see it in action!

[2022-01-10 22:54] alegmal commented on #2414
@JorTurFer so funny story happened... apparently "kubectl describe scaledobjects.keda.sh <scaler name>" is important in process of debugging... who knew *facepalm*

when using describe here is the problem:
error inspecting rabbitMQ: regex matches more queues than can be recovered at once

I would expect keda-metrics to output error that is as clear and relevant as the one when describing scaledobj

[2022-01-11 07:53] tomkerkhove opened #2462 "Support for autoscaling/v2-based HorizontalPodAutoscaler on Kubernetes v1.23+"
### Proposal

HPA has graduated to GA and we should use `autoscaling/v2` for all the HPAs that we create on Kubernetes v1.23+.

https://kubernetes.io/blog/2021/12/07/kubernetes-1-23-release-announcement/#horizontalpodautoscaler-v2-graduates-to-ga

### Use-Case

Provide alignment with Kubernetes upstream.

### Anything else?

_No response_

[2022-01-11 08:01] JorTurFer commented on #2414
oh 🤦
If the error is that, it should be shown also in the metrics server logs. The default value is 100 ,and you could modify it using the tigger value `pageSize`

but be careful because the rabbitmq cluster usually has its own limit ( usually `500`).

[2022-01-11 12:05] zroubalik opened #2467 "Stabilize tooling around `protoc-gen-go`"
### Discussed in https://github.com/kedacore/keda/discussions/2461

<div type='discussions-op-text'>

<sup>Originally posted by **bretagne-peiqi** January 11, 2022</sup>
Hi， I need to know protoc and protoc-gen-go version for externalscaler pb.go file generation.

I used version 3.19.2 but generated different file </div>

[2022-01-11 12:45] daniel-yavorovich commented on #2458
Hi Tom. Thank you for your questions. Regarding the legal issues of PredictKube, we can assure that:
Any personal data that we are asking for is used only for sending the API key and contacting our representatives to answer the questions about PredictKube. We may ask for the name, email address, company name, phone number—so people choose a way to communicate with us that is convenient for them.
W

[2022-01-11 12:46] daniel-yavorovich commented on #2458
we will be happy to join you, tell you about PredictKube, and answer all your questions!

[2022-01-11 14:57] #2240 closed

[2022-01-11 14:57] #2244 closed

[2022-01-11 15:48] charan-amzn commented on #2278
Thanks @JorTurFer I will try to investigate on how this can be incorporated

@zroubalik did you any thoughts in the meantime?

[2022-01-11 19:15] zroubalik commented on #2314
@brunodasilvalenga @or-shachar at the moment all you can do is to set `minReplicaCount = 1`, supporting `idleReplicaCount > 0` requires a substantial change (we would need to modify HPA on the fly).

[2022-01-11 21:48] arschles commented on #2215
Yup, looks like it's fine now. I checked the `kedacore/keda` package as well as the `http-add-on` interceptor package. Closing

[2022-01-11 21:48] #2215 closed

[2022-01-11 23:09] brunodasilvalenga commented on #2314
Thanks for the feedback @zroubalik. Do you still plan to have It in the next release as planned in the milestone [2.6.0](https://github.com/kedacore/keda/milestone/16)?

[2022-01-12 03:17] bretagne-peiqi opened #2473 "version 2.5.0, create hpa v1 version; expected to create hpa v2betav2 version"
### Report

_No response_

### Expected Behavior

expect to create a hpa " keda-hpa-*** "  with Apiversion: v2betav2

### Actual Behavior

hpa " keda-hpa-*** "  with Apiversion: v1

### Steps to Reproduce the Problem

1. using ScaleObject： targetRef: deployment
2.create
3.

### Logs from KEDA operator

[code]

### KEDA Version

2.5.0

### Kubernetes Version

1.18

### Platform

Alibaba Cloud

###

[2022-01-12 08:38] zroubalik commented on #2314
@brunodasilvalenga I think we are not going to make it for 2.6.0, nobody is commited to implement this atm. Willing to contribute this?

[2022-01-12 09:15] tomkerkhove commented on #2473
Hi, can you provide some guidance on reproducing this please?

Also, why is this a bug? Because you don't have v1 given you run Kubernetes v1.18? How did you install KEDA?

[2022-01-12 09:51] #2473 closed

[2022-01-12 09:52] bretagne-peiqi commented on #2473
It's alicloud k8s version related, not a bug.

[2022-01-12 09:52] tomkerkhove commented on #2473
Ok, thanks for letting us know!

[2022-01-12 14:43] alexbanditos opened #2476 "Metrics server suddenly stoped getting metrics from rabbitmq"
### Report

Without known reason keda metrics server started getting errors  for all auth triggers  -

E0111 20:51:14.833101       1 scale_resolvers.go:164] keda_metrics_adapter/scalehandler "msg"="Error getting triggerAuth" "error"="context canceled" "name"="service-hpa-rmq" "namespace"="default" "type"="ScaledObject" "triggerAuthRef.Name"="prod-something-rmq"
E0111 20:51:14.845428       1 provid

[2022-01-12 16:22] JorTurFer commented on #2476
Hi @alexbanditos
Could you share more logs please?

[2022-01-12 16:48] JorTurFer commented on #2456
I think that the problem is that labels are missing. HPA controller sends more info apart from the query. Let me check how to improve the docs to reflect this.
Meanwhile, are you facing with another issue during the operation? Did you query the raw metrics to troubleshoot anything?

[2022-01-12 16:55] kandeshvari commented on #2456
@JorTurFer yes, but maybe it's not an issue since a `hpa` works fine.
I have an `ScaledObject` in condition:
[code]

and I want to query the triggers metric via `ExternalMetricValueList`.

trigger's query is valid and I don't understand the reason of this state.

[2022-01-12 17:02] JorTurFer commented on #2445
Hi
What do you mean for mitigating the risk? It's KEDA process by itself who has the secrets, not the pod or namespace, I mean, KEDA queries them directly to k8s api or vault, so accessing to the pod is not enough to expose the secrets (they are not mount as a file nor env).
Limiting the access to the logs could be another action, we obviously try to avoid secret exposing but maybe by error we cou

[2022-01-12 17:05] JorTurFer commented on #2456
okey, so if I'm not wrong, KEDA is working fine and the problem is only that it's not possible to query the metric values manually, right?

[2022-01-12 17:10] JorTurFer commented on #2446
Hi @loicmathieu
For fallback scenarios, KEDA also supports a fallback configuration :)
[code]
using it, you could define the amount of replicas that you'd like to have in case of KEDA can't connect to the upstream, using CPU it's not necessary only for fallback situations

[2022-01-12 17:18] kandeshvari commented on #2456
Yes, it is.

[2022-01-12 17:22] #2210 closed

[2022-01-12 17:37] alexbanditos commented on #2476
@JorTurFer
from metrics server:
* HH:mm:ss.SSSSSS       1 provider.go:124] keda_metrics_adapter/provider "msg"="error getting metric for scaler" "error"="error parsing rabbitmq metadata: no host setting given"  "scaledObject.Name"="*" "scaledObject.Namespace"="lusha" "scaler"={}
 1 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"No matching metrics fo

[2022-01-12 17:56] loicmathieu commented on #2446
@JorTurFer I know fallback configuration, but CPU scaler allow to still scale when metrics cannot be gathered from Keda, this is different than just providing an hardcoded value.

[2022-01-12 20:08] JorTurFer commented on #2462
In this case, what approach are we going to follow? Supporting both depending on the cluster?

[2022-01-12 20:18] JorTurFer commented on #2456
Hi @kandeshvari ,
It's a bit weird and I'm thinking on how to explain it easily in the docs, but basically you could use the queryString for adding the labelSelector `scaledobject.keda.sh/name` in url format.  For example,in your case, something like this should work:
[code]

Maybe there is a typo, but this should work

[2022-01-12 20:28] JorTurFer commented on #2476
I think that there are missing logs :(
Could you collect more logs during the next time that this happens, please? Another thing, please paste them as a code because now they are super difficult for reading

[2022-01-12 20:44] JorTurFer opened #2477 "Create a FAQ entry explaining why the HPA could report incorrect values"
### Discussed in https://github.com/kedacore/keda/discussions/2451

[2022-01-12 21:14] zroubalik commented on #2476
Might be related to this: https://github.com/kedacore/keda/issues/2415

[2022-01-12 21:23] JorTurFer commented on #2476
The metrics server logs show one error, I think that not because #2415 is related with the operator

[2022-01-13 00:59] TheHunter opened #2478 "New scaler for KubeMQ"
### Proposal

Recently, It was developed a new modern native kubernetes message platform called KubeMQ, a very light and and kubernetes natively oriented.

The idea is to implement a new scaler for this great competitor of rabbitmq, activemq and kafka.

### Scaler Source

I want to scale the number of subscribers ( same implementation of rabbitmq scaler )

### Scaling Mechanics

The scaling mechan

[2022-01-13 02:20] brunodasilvalenga commented on #2314
I would, but don't have that much experience in Go :(

[2022-01-13 07:16] tomkerkhove commented on #2462
Based on the Kubernetes version it is installed on I'd try to use the latest

[2022-01-13 07:20] tomkerkhove commented on #2478
KubeMQ - https://kubemq.io/

Good idea, are you up to contributing this scaler? https://github.com/kedacore/keda/blob/main/CONTRIBUTING.md#contributing-scalers

[2022-01-13 07:38] JorTurFer commented on #944
What do you propose using `autoscaling.keda.sh/paused: true`?
Maybe entering in fallback mode to control the autoscaling?

[2022-01-13 07:41] tomkerkhove commented on #944
Yes, as an annotation

I would not use fallback here at all given adding the annotation basically means "don't scale this workload anymore" imo

[2022-01-13 07:55] JorTurFer commented on #944
Yes, but I can't imagine how to implement this (at high level).

[2022-01-13 08:47] #2456 closed

[2022-01-13 08:48] tomkerkhove commented on #944
Delete the HPA when the annotation is added, re-create if it is being removed?

[2022-01-13 09:52] JorTurFer commented on #944
leaving the current value? scaling it to 0? What about ScaledJobs?

[2022-01-13 09:54] tomkerkhove commented on #944
Keeping the current value, updated title to clarify

[2022-01-13 09:59] JorTurFer commented on #944
For the moment, only in ScaledObject, right?

[2022-01-13 10:05] tomkerkhove commented on #944
Not sure, why limit it to just that? (keeping technical implementation out for now)

[2022-01-13 10:07] JorTurFer commented on #944
No no, I'm trying to "draw in my mind" the scenario. My concert about ScaledJob is that KEDA manages them and keeping them alive till they end or killing them are different options with different impacts

[2022-01-13 10:27] tomkerkhove commented on #944
If somebody adds the `autoscaling.keda.sh/paused: true` to a `ScaledObject`/`ScaledJob`, then I see it as following:
- `ScaledObject` - We will not scale your workload and keep it the same amount of instances.
- `ScaledJob` - We will not start new instances, but don't touch the active ones either.

[2022-01-13 10:33] loicmathieu commented on #944
@tomkerkhove
So to enter maintenance mode one will need:
- to annotate the scaledobject
- to scale to 0 (or any other value that fit one's need) the target
Two steps (as opposite to only one with HPA that honor target scale to 0) but better than no way to do it ;)

+1 for me

[2022-01-13 10:38] tomkerkhove commented on #944
You will need to annotate it with a label to stop autoscaling it. If you decide that scaling to 0 is required, then that would be an additional step as KEDA doesn't handle the scaling anymore.

The reason why I'd do it this way is that not everyone would want to scale to 0 given you might want to keep a bunch of instances around to service the existing traffic/work while doing what you have to do.

[2022-01-13 10:44] dmeytin commented on #944
I think it will great to let KEDA to handle scaling to 0 before pausing, if needed.
So, in addition to annotation autoscaling.keda.sh/paused: true we can add additional annotation: autoscaling.keda.sh/scaleToZeroBeforePause: true
WDYT?

[2022-01-13 10:45] JorTurFer commented on #944
So many annotations from my pov... A new CRD could be better and more flexible 🤔

[2022-01-13 10:46] loicmathieu commented on #944
If it's two steps I prefere @tomkerkhove solution, seems more straightforward.
CRD has already been dismissed in the discussion as too complex.

[2022-01-13 10:46] JorTurFer commented on #944
So many annotations from my pov... If we w'd like to have more complex behavior, could a new CR be better and more flexible? 🤔

[2022-01-13 10:47] JorTurFer commented on #944
Okey

[2022-01-13 12:29] tomkerkhove commented on #944
So how about this:
- `autoscaling.keda.sh/paused: true` annotation pauses autoscaling
- `autoscaling.keda.sh/paused-replicas: 0` annotation allows you to define the amount of replicas to use during pause

[2022-01-13 12:43] zroubalik commented on #944
Can't this be merged into one field? If set, then define the number of replicas, if not set do the scaling as usual?

The annotations approach has a little negative side, currently in the reconcile loop, we are ignoring updates on ScaledObject that doens't change `.spec`, to reduce the number of reconcilations:
https://github.com/kedacore/keda/blob/53a81e9f12e9c1833b66e2e0e6fe514db1e9e47e/controll

[2022-01-13 12:48] tomkerkhove commented on #944
I think that's OK to do. The reason why I prefer an annotation is that it states that the autoscaling rules remain the same, but we just want to pause it.

This definitely can be the case, but as you know I'm a fan of explicit things 😄 I'd rather have a `paused` annotation without replica count than just the replica count one (`autoscaling.keda.sh/paused-replicas: 0`).

But that's just me, of cour

[2022-01-13 14:36] JackSilk opened #2479 "maxReplicaCount being ignored"
### Report

I have a ScaledObject monitoring a Kafka queue. I've set the maxReplicaCount value but I'm seeing the deployment scale well in excess of what I've set.

The maximum doesn't appear to exceed partition count / (consumer count per service * instance)
The HPA reports Maximum Replicas to be 100

### Expected Behavior

The deployment to not scale past the maxReplicaCount

### Actual Behavior

[2022-01-13 15:15] JorTurFer commented on #2479
Hi @JackSilk
Could you share your ScaledObject please (replacing sensible values if there are)?
It's weird because KEDA only passes the value from the ScaledObject to the HPA and is the HPA contoller which scales in/out.

Please also execute `kubectl describe hpa {yourHPA} -n {yourNamespace}` and paste the result here

[2022-01-13 15:21] JorTurFer commented on #2479
oh, wait
is your problem that the maximum amount of instances is less than the maximum you set?

[2022-01-13 15:25] JackSilk commented on #2479
ScaledObject YAML:
[code]

hpa:

[code]

[2022-01-13 15:26] JackSilk commented on #2479
@JorTurFer

No I'm seeing that the maximum amount is higher than the maximum I've set

[2022-01-13 15:28] JorTurFer commented on #2479
I have seen the problem! :)
You have a typo in the manifest, `maxReplicaCount` is not part of the triggers section, it should be at the same level of trigger. Something like this:
[code]

[2022-01-13 15:32] JackSilk commented on #2479
Ah! I figured it must be something relatively simple. I assumed it would just fail to apply the YAML if I had such a simple mistake! But I guess it is in the metadata section so probably doesn't have that level of validation.
Thanks for the help! :)

[2022-01-13 15:35] JorTurFer commented on #2479
You are right,
the metadata section is basically a `map[string]string` with the only validation of the type because we use the same section for all the scalers. If you have a typo in other section, it'd fail to apply

[2022-01-13 16:21] jamesdowning-chip opened #2480 "HPA FailedGetExternalMetric Warning while using Prometheus Scalar"
### Report

What seems to occur only during a period of no scaling triggers the HPA resource will emit the following error:

[code]

It should be noted that the error originally appeared immediately after deploying the scaledObject manifest while I was running KEDA 2.4.0. After reading https://github.com/kedacore/keda/issues/2381 I upgraded to `2.5.1` after first deleting the scaledObject resource

[2022-01-13 23:06] bpinske commented on #2033
Okay after reading through this and [reminding myself](https://stackoverflow.com/questions/32390265/what-determines-kafka-consumer-offset) what `offsetResetPolicy` really does.

There might people who depend on the existing behaviour, but it's probably an accident if they do.

If people do solely depend on the kafka lag **and** want to guarantee at least 1 pod to always be available, regardless of

[2022-01-13 23:34] samueleresca opened #2482 "AWS DynamoDb scaler"
### Proposal

Scaler based on the result of a DynamoDB table query.

### Scaler Source

The single numeric result of a DynamoDb query.

### Scaling Mechanics

The scaling mechanics is based on the result of a table query in DynamoDB (similar to what has been done for MongoDB).

### Authentication Source

It can reuse the `identityOwner` and the `TriggerAuthentication`  implemented for the SQS Scal

[2022-01-14 06:16] tomkerkhove commented on #2482
Are you willing to contribute this?

[2022-01-14 06:24] tomkerkhove commented on #944
Ok, I can live with `autoscaling.keda.sh/paused-replicas: 0` if the rest prefers just one annotation.

[2022-01-14 10:24] samueleresca commented on #2482
Yes, I can have a look 👍🏻

[2022-01-14 11:47] Eldarrin commented on #2328
Unfortunately I don't know go; but I had a play around and put some stuff together that may work (will need a proper dev to write  it well :) )

**Please note**, this only supports exists/not exists; not versions etc

First, add demands to the metadata:

[code]

Then in GetAzurePipelinesQueueLength:

replace:

[code]

with:

[code]

HTH, Andy

[2022-01-14 12:07] dariuszbz commented on #2178
@JorTurFer when you said:
 on Nov 7, 2021
hi again @iarunpaul ,
Finally I found time to take a look at this. I deployed KEDA (v2.4) using helm in a cluster with AAD Pod Identity (deployed with helm too) and a workload with Service Bus Scaler. It works without any other problem.

could you drop installation process, please? I kind of hard to find details around it.

I understand
helm install aad-po

[2022-01-14 14:41] JorTurFer commented on #2178
Hi @dariuszbz ,
There is a sample about how to use KEDA with AAD-Pod-Identity. You could find it [here](https://github.com/kedacore/sample-dotnet-worker-servicebus-queue/blob/main/pod-identity.md). 😄

[2022-01-14 15:30] dariuszbz commented on #2178
@JorTurFer thank You!

I'm not sure about that:

"After that, we create an orders queue in our namespace:

❯ az servicebus queue create --namespace-name <namespace-name> --name orders --resource-group <resource-group-name>
Next, we need to grant our identities to be able to authenticate to Azure Service Bus.

❯ az servicebus queue create --namespace-name <namespace-name> --name orders --resource-g

[2022-01-14 15:45] JorTurFer commented on #2178
I think that you could ignore one of them (it seems a typo) but maybe @tomkerkhove could confirm it

[2022-01-14 15:50] tomkerkhove commented on #2178
Yes, you can leave out the second one

[2022-01-14 17:08] dariuszbz commented on #2178
ok. So to make my life simple I created below .... and it won't work :( what is wrong below?

$resourceGroup = "<node resource group>"
$aksResourceGroup = "<aks resource group>"
$aksName = "<aks name>"

kubectl create namespace aad-pod-identity
helm repo add aad-pod-identity https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts
helm install aad-pod-identity aad-pod-identity/aad-po

[2022-01-14 18:12] JorTurFer commented on #2178
Hi @dariuszbz ,
You should troubleshoot the problem, from the script it's too difficult figure out it. Maybe in KEDA logs, but I bet the problem is in aad-pod-identity side. Please check aad-pod-identity  mic and nmi and check this thread because the solution surely is already here.
If you can't solve it, please paste the logs here 😄

[2022-01-14 18:44] #2259 closed

[2022-01-14 20:32] bilby91 opened #2484 "Kafka scaler stops working until pods are restarted"
### Report

We are experiencing an issue with the Kafka-based autoscaler that requires re-creating Keda pods in order to get it fixed.

The Leda operator metrics pod is throwing the following errors when autoscaling stops working:

[code]

### Expected Behavior

Kafka-based autoscaling should work correctly without the need of re-creating an pod.

### Actual Behavior

Metrics pod must be re-create

[2022-01-16 13:53] JorTurFer commented on #2484
Hi,
Are you using ScaledObjects or ScaledJobs? Could you share more logs please?

[2022-01-16 16:21] #2256 closed

[2022-01-16 17:16] iarunpaul commented on #2178
@tomkerkhove @dariuszbz @JorTurFer
**AAD Pod Identity is disabled by default on Clusters with Kubenet starting from release v1.7.**
We need to look at it if the cluster is configured with kubenet.
When I tried to install AAD Pod Id on the cluster with kubenet, with the command,
`kubectl apply -f https://raw.githubusercontent.com/Azure/aad-pod-identity/v1.8.4/deploy/infra/deployment-rbac.yaml`
the

[2022-01-16 21:58] bilby91 commented on #2484
@JorTurFer I'll try to capture more logs next time it happens. Other logs didn't look relevant to the problem (from my ignorant perspective) which is why I didn't include them.

We are using `ScaledObject` CRD.

[2022-01-17 07:40] tomkerkhove commented on #1965
Checking if this is still a problem yo are facing @dymitrs @ifutant ?

[2022-01-17 07:47] tomkerkhove commented on #2178
Thanks for letting us know, I was not aware of it! Once you have the outcome of CNI I will update our FAQ/troubleshooting.

[2022-01-17 08:35] JorTurFer opened #2487 "Support `Azure AD Workload Identity` as an identity pod"
### Proposal

*Azure AD Workload Identity is the next iteration of [Azure AD Pod Identity][1] that enables Kubernetes applications to access Azure cloud resources securely with [Azure Active Directory][2] based on annotated [service accounts][3].*
https://github.com/Azure/azure-workload-identity

[1]: https://github.com/Azure/aad-pod-identity
[2]: https://azure.microsoft.com/en-us/services/active-

[2022-01-17 08:41] tomkerkhove commented on #2487
We currently rely on pod identity and not AD workload identity, but we should support the new approach next to the current one indeed (same auth provider though, but config option + Helm support)

[2022-01-17 09:11] iarunpaul commented on #2178
I tried the workaround for kubenet , but not in success yet!
Here's what I did!
## Keda pod id with Managed Identity

### Recreate Issue

We create the aks with the commands:

Checked the providers are registered
[code]
Create the cluster

[code]
### Install AAD Pod Identity on cluster

`kubectl apply -f https://raw.githubusercontent.com/Azure/aad-pod-identity/v1.8.4/deploy/infra/deployment-rbac.y

[2022-01-17 09:23] dariuszbz commented on #2178
@JorTurFer I have followed documentation and I have dropped you the e2e script. Let me run that again and I'll drop you logs. Just which logs would you need, please? There is a plenty from K8s :) I don't want to keep you busy for a next few winters ;) as I need to test it and recommend for production or not recommend for productions environments.

[2022-01-17 09:33] dariuszbz commented on #2178
@JorTurFer is it somehow usefull?

0117 09:28:06.034191       1 mic.go:608] No AzureIdentityBinding found for pod keda-system/keda-operator-584cc6777-2fw9j that matches selector: autoscaler-aad-identity. it will be ignored
I0117 09:28:06.034225       1 mic.go:608] No AzureIdentityBinding found for pod keda-system/keda-operator-metrics-apiserver-6978dc5cb6-pcmx9 that matches selector: autoscaler-aa

[2022-01-17 09:35] iarunpaul commented on #2178
#### Tring everything I have assigned the `myAksCluster-agentpool` in the `$NodeResourceGroup` with the `Virtual Machine Contributor` and `Manage Identity Operator` roles on `$NodeResourceGroup` scope and now my KEDA trigger started working!!!

`kubectl get deploy -n keda-dotnet-sample -o wide`
[code]
Ofcourse my application is not consuming the messages but the happy moment is that the KEDA works

[2022-01-17 09:38] dariuszbz commented on #2178
Hi @iarunpaul contrats! If you have e2e script, could you share with me, please?

[2022-01-17 09:44] tomkerkhove commented on #2487
https://blog.identitydigest.com/azuread-federate-k8s/

[2022-01-17 09:46] tomkerkhove commented on #2178
Your `AzureIdentity` does not have labels which is why the `AzureIdentityBinding` is not able to find it.

[2022-01-17 10:02] dariuszbz commented on #2178
@tomkerkhove @JorTurFer  educated guess but 100% hit. selector is a problem there. I fixed and it works now. attaching e2e script it does everything except creating aks cluster. prvide aks name, aks rosource group name, node group name, and happy keda-ing :).

$resourceGroup = "MC_K8sScalingDemo_K8sScalingDemo_uksouth"
$aksResourceGroup = "K8sScalingDemo"
$aksName = "K8sScalingDemo"

kubectl creat

[2022-01-17 10:32] omer2500 opened #2488 "Scaledjob creates double amount of replicas on the first time"
### Report

I have a queue with 42 messages, I configured a scaled job that will consume the messages (42 jobs each with 1 pod in it)

I set the maxReplicaCount to 42 (in my use case it will always be 42)
when I trigger it for the first time keda creates 84 jobs instead of 42
on the second run of such an operation, keda created 42 as expected

im using keda 2.3 (helm chart on eks)

here is my yaml

[2022-01-17 12:42] #2219 closed

[2022-01-17 13:38] iAlex97 opened #2490 "[Kafka] keda-operator-metrics-apiserver begins failing SSL handshake"
### Report

I've set up a a few Keda scalers for deployments based off some Kafka topics, which begun scaling the deployment up. After some time, I've observed Kafka logs saying:

[code]

On all Kafka nodes I see the same warning about the same IP so all requests are coming from a single node. After finding out which node it was:

[code]

Scheduled pods on this node:
[code]

After seeing this I've

[2022-01-17 14:19] iAlex97 commented on #2490
CRDs used for scaling:

[code]

[2022-01-18 07:05] iarunpaul commented on #2178
@tomkerkhove
   #### `AzureIdentity` doesn't have  a Label as of now and made sure that the `AzureIdentityBinding` has proper selector to find the pods to get the identity asigned to.

Does it really need a label for `AzureIdentityBinding` to find it.
This is how I apply it.
[code]
   ### The 'mic` is assigning the identity to the pods correct but the pod fails to process messages.
   The `mic` lo

[2022-01-18 12:54] tomkerkhove opened #2493 "Provide logs on authentication issues for invalid access key in AWS SQS scaler"
### Discussed in https://github.com/kedacore/keda/discussions/2489

<div type='discussions-op-text'>

<sup>Originally posted by **vnmnm** January 17, 2022</sup>
I deployed Keda using Helm as described in the documentation.

I have a sample app that dequeues messages from AWS SQS queue and processes them. Its deployment yaml file is as below. I am deploying this in local Kubernetes cluster within t

[2022-01-18 15:10] djakielskiadesso commented on #1989
This is stil an open issue when you try to use iam authentication. See https://github.com/Shopify/sarama/issues/1985

[2022-01-18 16:33] tomkerkhove commented on #2381
@glassnick Did you manage to give this a try?

[2022-01-18 16:33] tomkerkhove commented on #2480
@JorTurFer is this similar to #2381?

[2022-01-18 17:02] bpinske commented on #2381
I tried myself to reproduce the error that I had originally seen in a dev environment, but I was unable to.

I had observed the error only in my largest environments so I had the suspicion that the error was related to number of objects in the cluster. Unfortunately just throwing large numbers of objects at a dev environment was not enough to reproduce at least the error cases I had seen.

My next

[2022-01-18 17:12] dmeytin commented on #944
Big like!

[2022-01-19 01:13] JacobHenner opened #2495 "Add support for temporary AWS IAM credentials (using session tokens) from secrets"
Hello,

In my environment there are situations where temporary (sts-generated) IAM role credentials are stored in Kubernetes secrets and updated as needed. In this environment IRSA is unavailable, and we cannot permit KEDA to assume-role.

Instead, it'd be great if we could use the existing static credentials mechanism, and add support for specifying session tokens (needed for temporary credential

[2022-01-19 14:14] tomkerkhove commented on #2495
That sounds like a reasonable ask and nice improvement. Thoughts @kedacore/keda-maintainers?

Thanks for suggesting to contributing this!

[2022-01-19 16:28] aditya7196 commented on #753
Is this thread still active?  I looked into the code and is it as simple as adding this line?
(unsure abut the syntax since I wanted this functionality in my code and I started going through this repo and I don't know golang well)  -
[code]
after the if block of getting queueName in servicebus scaler?

[2022-01-19 19:13] GrigorievNick commented on #470
I miss understand,  why do not make Service API name configurable?

[2022-01-19 19:23] JorTurFer commented on #2495
I'm not totally sure about this.
Providing a temporally token when the IRSA is unavailable seems like change the authentication method from pod-identity to another IMHO. It is possible to change it directly in the same moment when you'd add the temp token, isn't?
Maybe I'm missing something because AWS and I are not very friends... xD

Could you share a high level description about the solution yo

[2022-01-19 19:25] JorTurFer commented on #2484
is this problem present in v2.4? I don't remember, but I think that v2.5 doesn't introduce any big change in kafka, maybe you could try it to check if the problem it's in the scaler or in the cache system

[2022-01-19 19:31] JorTurFer commented on #2480
Hi @jamesdowning-chip
First, I think that you don't need this line in prometheus Scaler `identityOwnder: operator`  (not relevant but just for cleaning the SO xD)

if this is related with #2381 or not... When you have these errors, could you try to restart KEDA pods? (first the operator and then the metrics server)

[2022-01-19 19:44] JacobHenner commented on #2495
When I look at [the docs](https://keda.sh/docs/2.5/scalers/aws-sqs/#authentication-parameters) for the sqs scaler, I see `identityOwner: pod` broken down into three categories: pod-identity based authn, role based authn, and credential based authn. My proposal is to extend the credential based authn to optionally support a third value (`awsSessionToken`). If set, that value would replace the empty

[2022-01-19 19:57] bilby91 commented on #2484
I'm going to give 2.4 a shot and report back. Thanks @JorTurFer

[2022-01-20 08:01] tomkerkhove commented on #753
This is still open for contributions, yes!

Not sure about the code sample because it's not using the `%` notation?

[2022-01-20 12:02] PatrickGhosn opened #2496 "`mode: QueueLength, value: "##"` does not scale, but the legacy `queueLength: "##"` does."
### Report

When we use the new `rabbitmq` trigger configuration with `Keda 2.5`, it does not scale at all.

[code]

However when we switch to the deprecated configuration, the scaling works fine.

[code]

### Expected Behavior

The scaling to work with the new configuration.

### Actual Behavior

It only works with the deprecated config.

### Steps to Reproduce the Problem

1. Use the new config

[2022-01-21 07:43] cforce commented on #470
Indeed sounds like a solution that could allow running the metrics independent for each of them.

[2022-01-21 08:42] zroubalik commented on #470
The name `v1beta1.external.metrics.k8s.io` is reserved by Kubernetes and is expected that this enpoint provides external metrics. And this is a cluster wide object, so there could be just one per cluster.

[2022-01-21 08:45] zroubalik commented on #2033
OK cool, anybody willing to implement this for the upcoming release?

[2022-01-21 09:06] GrigorievNick commented on #470
Hi, @zroubalik thx for your answer.
But can you help me, find the source of this information, please?

I check https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/ docs, about how to add a new k8s Extension API.
And I don't find any rules from k8s about the name of your API to provide external metrics.
The only thing which I see, that there is already existed

[2022-01-21 11:35] zroubalik commented on #470
KEDA is interally using HPA and providing metrics to HPA throught the `v1beta1.external.metrics.k8s.io` endpoint.

[2022-01-21 11:41] zroubalik commented on #2490
KEDA Metrics Server needs to access Kafka to scrape metrics used for 1<->N scaling.

This is an open issure related to the not committed offset: https://github.com/kedacore/keda/issues/2033

Still I am not sure why is the Metrics Server not able to authenticate 🤷‍♂️

[2022-01-21 11:42] zroubalik commented on #2278
@charan-amzn sorry for the delay. Yeah it makes completely sense to have this feature. Would love to see the contribution :) Thanks!

[2022-01-21 13:36] crisp2u opened #2498 "[RabbitMQ] vHost is ignored when using regex"
### Report

We have a shared RabbitMQ instance with multiple vhosts and multiple deployments connecting to them and we get `"Error":"error inspecting rabbitMQ: regex matches more queues than can be recovered at once"}`
We use regex to scale our workers and looking at the code it seems that if `useRegex` is turned on the http call is not made using the vhost.

Relevant code is here https://github.c

[2022-01-21 13:48] #2393 closed

[2022-01-21 13:49] #2415 closed

[2022-01-21 15:22] #1241 closed

[2022-01-21 19:53] zroubalik commented on #2386
`cosing sign` fails:

https://github.com/kedacore/keda/runs/4901065794?check_suite_focus=true

[code]

[2022-01-21 19:54] steven0711dong opened #2503 "Upgrade KEDA dependencies to get rid of all the vulnerabilities"
### Report

We have found the following vulnerabilities in this repository and want to raise this git issue so that the community could upgrade the dependencies to get rid of these reported vulnerabilities. I've also emailed keda maintainers according to the security policy.

Go related:
- [x] k8s.io/kubernetes https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-25741
- [ ] golang.

[2022-01-21 19:58] JorTurFer commented on #2386
I think that there are some missing steps, I'll try in my own repo before open another PR

[2022-01-21 19:59] zroubalik commented on #2503
Thanks for bringing this up!

Could you please split the list into 2 parts? 1. Go related vulnerabilities and 2. JS/Typescript related ones?
JS/Typescript is being used only for e2e testing.

[2022-01-21 20:08] steven0711dong commented on #2503
Yup. I just did. Thank you

[2022-01-21 20:36] JorTurFer commented on #2386
The problem seems related with missing permission in `GITHUB_TOKEN` (basically it requires the `GitHub OIDC`)

[2022-01-22 00:13] JorTurFer commented on #2503
Maybe I could be wrong, but I think some of them don't affect us because they are already fixed in the package versions that we use or are not related with any dependency.
[This is related with k8s](https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-25741), [this doesn't affect our version (1.12)](https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-42836)
Am I righ

[2022-01-22 04:06] scubakiz opened #2505 "Scaled Object fails to find a RabbitMQ queue after working the 1st time it's used in Release 2.5.0"
### Report

I've been using this same ScaledObject for over 6 months with no issues:

[code]
After installing the latest version (2.5.0) in a new cluster, the object works as expected.

I uninstalled the Helm chart with the ScaledObject and then reinstalled it a few hours later.  With nothing changed in my chart, the ScaledObject can longer find the queue the second time.

[code]

Repeated uninsta

[2022-01-22 08:49] zroubalik commented on #2505
Hi you have probably hit an issue, that was introduced in 2.5.0 and has been already fixed and will be released in 2.6.0

https://github.com/kedacore/keda/pull/2408

[2022-01-22 13:14] cforce commented on #470
Is sharing of the resource (by not require to deploy it or skip if managed by other deployment) an option. The namespace for metrics shall be one parameter as well.
IF not then support custom dedicated metrics service besides v1beta1.external.metrics.k8s.io.

[2022-01-22 18:36] tomkerkhove commented on #2503
Out of curiosity - How did you find out about these vulnerabilities? Do you perform automated scanning?

We strive to patch as soon as we can, but it depends on our dependencies of course. Our current tooling is GitHub Security Scanning & Snyk which are all good (for those that are patchable) so curious to see how we can improve.

[2022-01-23 09:17] #2292 closed

[2022-01-23 10:56] LukasChenChen commented on #587
Hi Mashrin,

I'm a bit lost here. Do I need to append no_proxy=x.x.x.x to the end of the file or somewhere else?

Is the file refering to the file in the master node or every worker node?

Thanks in advance.

[2022-01-23 12:01] iAlex97 commented on #2490
I'll do some more investigating, maybe try with different versions of Keda as I've been using it for months and now is the first time I encounter such error.

[2022-01-23 13:57] tomkerkhove commented on #587
We've added an item to https://keda.sh/docs/latest/troubleshooting/ recently for workloads using Istio

[2022-01-23 16:59] bilby91 commented on #2484
@JorTurFer I have downgraded to 2.4 in all of our clusters and the issue is no longer happening. After reviewing the diff between 2.5 and 2.4, it seems highly likely that the new cache could be the culprit. The Kafka autoscaler itself looks almost unchanged.

[2022-01-23 17:00] LukasChenChen commented on #587
Thanks for getting back to me.

I don't have Istio installed.

According to Marshin's solution, I still have no clue where to add the no_proxy variable.

Should it be a new line at the bottom or somewhere else?

Appreciate it if you could give a short example,

[2022-01-23 18:04] iarunpaul commented on #2178
Finally I found it!
My set up is for a workaround with KEDA for kubenet interface.
I followed the e2e script by @dariuszbz, where my cluster is aks with the default kubenet network plugin.
The order application works fine without any `nmi` modifications and processes messages using the managed identity assigned to the application.
But when installed `KEDA` using helm and set the pod identity,  `ke

[2022-01-23 20:56] markrzasa commented on #1965
I believe this is still a problem. It does appear that Application Insights uses a different API than Azure monitor. Here's the doc:

https://dev.applicationinsights.io/reference

I created a PR to add an Application Insights scaler:
https://github.com/kedacore/keda/pull/2506
https://github.com/kedacore/keda-docs/pull/638

However, this scaler may not be necessary as the Azure Log Analytics scaler

[2022-01-24 00:26] sebastienle14 opened #2507 "Unable to upgrade nor delete a scaledobject"
### Discussed in https://github.com/kedacore/keda/discussions/2500

<div type='discussions-op-text'>

<sup>Originally posted by **sebastienle14** January 21, 2022</sup>
Greetings,

My Kubernetes env is stucked on the following issue, meaning the issue won't go away even after a clean restart of the entire cluster.

Yes, it has been caused by removing a deployment BEFORE removing the KEDA ScalingRu

[2022-01-24 07:54] #2386 closed

[2022-01-24 07:57] zroubalik commented on #2490
It might be related to the caching bug introduced in 2.5.0. This will be solved in 2.6.0, which should be released soon.

[2022-01-24 07:58] zroubalik commented on #2484
@bilby91 I think this is related to the caching problem, should be fixed in 2.6.0

[2022-01-24 08:09] zroubalik commented on #2507
Hi, plase try to remove finalizers from the ScaledObject that you are trying to delete.

[2022-01-24 08:37] sebastienle14 commented on #2507
greetings @zroubalik

Sadly, trying to remove the finalizers doesn't do much:
`$ kubectl get namespace z-myscalinapp -o=json | jq '.spec.finalizers = null' | kubectl apply -f -`

even tried :
`$ kubectl get namespace z-myscalinapp -o=json | jq '.metadata.finalizers = null' | kubectl apply -f -`

and when I check the namespace again, finalizers is still defined:
[code]

[2022-01-24 08:44] zroubalik commented on #2507
Try to remove finalizers from ScaledObjects in the namespace

[2022-01-24 09:42] sebastienle14 commented on #2507
Thank you, I managed to get further thanks to your advice:
[code]

After this, the object disppeared:
[code]

And I was able to clean install everything again! Thank you very much!

[2022-01-24 09:42] #2507 closed

[2022-01-24 10:09] dariuszbz commented on #2178
@iarunpaul would be nice to see your e2e example for kubenet - it can save some time for other geek :)

[2022-01-24 12:40] tomkerkhove commented on #2505
Closing as duplicate

[2022-01-24 12:40] #2505 closed

[2022-01-24 12:52] zroubalik commented on #2455
Interesting, are you willing to contribute this?

[2022-01-24 12:54] tomkerkhove commented on #1965
Yes that is correct, I have misread the original report - Sorry :)

This is true, for the workspace-based Application Insights instances. The [classic ones are still supported for 2-3 years](https://github.com/azure-deprecation/dashboard/issues/141) so think a dedicated scaler might be better indeed.

[2022-01-24 13:15] iordaniordanov opened #2513 "Rabbitmq scaler: Allow providing separate paremeters for user and password"
### Proposal

I would like to be able to provide username/password as separate parameters for the RabbitMQ scaler, in order to be able to get host from Environment variable and username/password from separate environment variables/secrets

### Use-Case

We are using single RabbitMQ deployment for multiple applications which have separate secrets containing their credentials. Since credentials are

[2022-01-24 14:43] iarunpaul commented on #2178
#### Posting e2e Script for AKS with kubenet plugin, if it is of any assistance to some:

[code]
##### Note: Read [this instruction](https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/) before you run AAD Identity On a Kubenet powered AKS.

[2022-01-24 16:03] steven0711dong commented on #2503
We clone the repo into our organization github and performance white source scanning. We also perform Snyk scanning as well and these two scanning tools reveals different results.

[2022-01-24 16:15] tomkerkhove commented on #2503
Thanks for letting us know - Does it have any patchable vulnerabilities?

[2022-01-24 17:02] steven0711dong commented on #2503
A lot of the vulnerabilities can be resolved by upgrading the dependency versions. Could you explain what you mean by patchable vulnerabilities?

[2022-01-25 07:49] tomkerkhove commented on #2503
Non-patchable vulnerabilities - Known vulnerabilities but the dependencies did not patch them yet so there is nothing we can do about it.

**Go:**
- Upgrade `jwt-go` to `v4.0.0-preview1` or above (https://www.whitesourcesoftware.com/vulnerability-database/CVE-2020-26160)
  - Let's go to a non-preview version from https://github.com/golang-jwt/jwt/releases
- Upgrade `gjson` to `v1.9.3` or above (ht

[2022-01-25 07:53] tomkerkhove opened #2515 "Setup WhiteSource Bolt for security scanning"
Setup WhiteSource Bolt for security scanning in conjunction with Snyk given not all vulnerabilities were caught as per #2503.

### Tasklist

- [ ] Setup WhiteSource Bolt
- [ ] Update Security Policy

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2516 "CVE-2022-0155 (Medium) detected in follow-redirects-1.14.1.tgz - autoclosed"
## CVE-2022-0155 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>follow-redirects-1.14.1.tgz</b></p></summary>

<p>HTTP and HTTPS modules that follow redirects.</p>
<p>Library home page: <a href="https://registry.npmjs.org/follow-redirects/-/follow-redirects-1.14

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2517 "CVE-2021-3918 (High) detected in json-schema-0.2.3.tgz - autoclosed"
## CVE-2021-3918 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>json-schema-0.2.3.tgz</b></p></summary>

<p>JSON Schema validation and specifications</p>
<p>Library home page: <a href="https://registry.npmjs.org/json-schema/-/json-schema-0.2.3.tgz">https://registr

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2518 "CVE-2021-23425 (Medium) detected in trim-off-newlines-1.0.1.tgz - autoclosed"
## CVE-2021-23425 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>trim-off-newlines-1.0.1.tgz</b></p></summary>

<p>Similar to String#trim() but removes only newlines</p>
<p>Library home page: <a href="https://registry.npmjs.org/trim-off-newlines/-/trim-off-newli

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2519 "CVE-2019-11253 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2019-11253 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2520 "CVE-2019-11254 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2019-11254 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2521 "CVE-2021-31525 (Medium) detected in github.com/hashicorp/vault-v1.3.1 - autoclosed"
## CVE-2021-31525 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2522 "WS-2021-0200 (High) detected in github.com/hashicorp/vault-v1.3.1"
## WS-2021-0200 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/hash

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2523 "CVE-2020-12757 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-12757 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2524 "CVE-2020-26160 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-26160 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2525 "CVE-2019-10743 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2019-10743 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2526 "CVE-2020-29652 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-29652 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2527 "CVE-2020-25594 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-25594 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2528 "CVE-2021-41190 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-41190 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2529 "CVE-2021-37712 (High) detected in tar-6.1.0.tgz"
## CVE-2021-37712 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-6.1.0.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-6.1.0.tgz">https://registry.npmjs.org/tar/-/tar-6.1.0.tgz</a></p>
<p>Path to d

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2530 "CVE-2020-10660 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-10660 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2531 "CVE-2020-16845 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-16845 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2532 "CVE-2021-41802 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-41802 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2533 "CVE-2021-42836 (High) detected in github.com/tidwall/gjson-v1.12.1 - autoclosed"
## CVE-2021-42836 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/tidwall/gjson-v1.12.1</b></p></summary>

<p>Get JSON values quickly - JSON parser for Go</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/tidwall/gjson-v1.12.1** (Vulnerable Library)
<p

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2534 "CVE-2021-3024 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-3024 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/h

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2535 "CVE-2021-3765 (High) detected in validator-9.4.1.tgz - autoclosed"
## CVE-2021-3765 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>validator-9.4.1.tgz</b></p></summary>

<p>String validation and sanitization</p>
<p>Library home page: <a href="https://registry.npmjs.org/validator/-/validator-9.4.1.tgz">https://registry.npmjs.org/v

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2536 "CVE-2021-44716 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-44716 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2537 "CVE-2021-29653 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-29653 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2538 "CVE-2021-43565 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-43565 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2539 "CVE-2020-14040 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-14040 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:26] whitesource-bolt-for-github[bot] opened #2540 "CVE-2020-7220 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-7220 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/has

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2541 "CVE-2021-3807 (High) detected in ansi-regex-4.1.0.tgz, ansi-regex-5.0.0.tgz"
## CVE-2021-3807 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>ansi-regex-4.1.0.tgz</b>, <b>ansi-regex-5.0.0.tgz</b></p></summary>
<p>

<details><summary><b>ansi-regex-4.1.0.tgz</b></p></summary>

<p>Regular expression for matching ANSI escape codes</p>
<p>Libr

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2542 "CVE-2021-32804 (High) detected in tar-6.1.0.tgz - autoclosed"
## CVE-2021-32804 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-6.1.0.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-6.1.0.tgz">https://registry.npmjs.org/tar/-/tar-6.1.0.tgz</a></p>
<p>Path to d

[2022-01-25 08:27] mend-bolt-for-github[bot] opened #2543 "CVE-2021-32923 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-32923 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2544 "CVE-2021-32803 (High) detected in tar-6.1.0.tgz - autoclosed"
## CVE-2021-32803 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-6.1.0.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-6.1.0.tgz">https://registry.npmjs.org/tar/-/tar-6.1.0.tgz</a></p>
<p>Path to d

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2545 "CVE-2021-37701 (High) detected in tar-6.1.0.tgz - autoclosed"
## CVE-2021-37701 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-6.1.0.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-6.1.0.tgz">https://registry.npmjs.org/tar/-/tar-6.1.0.tgz</a></p>
<p>Path to d

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2546 "CVE-2020-7919 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-7919 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/has

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2547 "CVE-2020-35177 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-35177 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2548 "CVE-2021-37713 (High) detected in tar-6.1.0.tgz - autoclosed"
## CVE-2021-37713 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-6.1.0.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-6.1.0.tgz">https://registry.npmjs.org/tar/-/tar-6.1.0.tgz</a></p>
<p>Path to d

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2549 "CVE-2021-29482 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-29482 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2550 "CVE-2020-13223 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-13223 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2551 "CVE-2020-8559 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-8559 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/h

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2552 "CVE-2021-27400 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-27400 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2553 "CVE-2021-43998 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2021-43998 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2554 "CVE-2020-9283 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-9283 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/has

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2555 "CVE-2020-16251 (High) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-16251 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/ha

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2556 "CVE-2021-3538 (High) detected in github.com/hashicorp/vault-v1.3.1 - autoclosed"
## CVE-2021-3538 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/has

[2022-01-25 08:27] whitesource-bolt-for-github[bot] opened #2557 "CVE-2020-25816 (Medium) detected in github.com/hashicorp/vault-v1.3.1"
## CVE-2020-25816 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/hashicorp/vault-v1.3.1</b></p></summary>

<p>A tool for secrets management, encryption as a service, and privileged access management</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/

[2022-01-25 14:44] zroubalik commented on #2503
@steven0711dong Whitesource reports vulnerabilties in `hashicopr/vault` in and created a bunch of issues, on for example is here: https://github.com/kedacore/keda/issues/2556

It reports issue in this dep: `github.com/hashicorp/vault`, but we don't use this in our code. We have just `github.com/hashicorp/vault/api` and `github.com/hashicorp/vault/sdk`, those are in a completely different versions

[2022-01-25 14:45] zroubalik commented on #2503
I think that https://github.com/kedacore/keda/pull/2559 should fix majority of those problems, except `crypto` where a fix is not available .

[2022-01-26 00:41] taylorchu opened #2561 "scaling job trigger should still be "active" if trigger value cannot not be obtained temporarily"
### Report

we sometimes see the job is under provisioned for a brief period because metrics-api times out.

But it should be applied to other scalers as well.

### Expected Behavior

https://github.com/kedacore/keda/blob/f6e4be8d7f4f98915bb71ea794358115f84a58c8/pkg/scalers/metrics_api_scaler.go#L240

it is common in keda that the trigger is inactive when trigger value cannot be obtained. but this

[2022-01-26 00:47] taylorchu commented on #2561
1. can we specify last trigger value for an error duration? similar to scaled object, we could add fallback duration to fallback config, and then expose fallback config in scaled job.
2. alternatively, expose hpa raw config like in scaled object. we could make hpa scale down slowly to wait for recovery.

[2022-01-26 08:12] JorTurFer commented on #2495
Hi @JacobHenner
I have to apologize because I have been busy last week :(
I misunderstood your plan, sounds totally reasonable, :)  I didn't know that you can use a session token instead of the other methods

[2022-01-26 09:19] JorTurFer commented on #2561
Hi @taylorchu
Did you try increasing the http timeout? This could improve the response in case of slow response from the upstream. Related with the fallback config for ScaledJob, I don't have any strong opinion, @kedacore/keda-core-contributors ?

Related with your second point, I don't get your point. What do you mean with hpa row config? The ScaledJob doesn't use HPA, it's the operator itself wh

[2022-01-26 13:00] JacobHenner commented on #2495
I've got the session tokens working, but only the keda-operator component seems to re-read the secret if auth starts failing due to token expiration. I've spent some time looking into how this could be handled in the metrics server component, and haven't yet figured it out. I'll revisit this in the next few days.

See also: https://github.com/kedacore/keda/issues/511, https://github.com/kedacore/k

[2022-01-26 14:19] #2458 closed

[2022-01-26 14:24] #2533 closed

[2022-01-26 16:51] TrevinTeacutter commented on #2455
I or somebody from the team I work with can make an attempt at this.

[2022-01-26 17:37] taylorchu commented on #2561
Timeout won’t help because it is due to the endpoint is restarting, or autoscaled down. It really needs retry.

Ignore my second point. I thought it uses hpa.

[2022-01-26 22:44] whitesource-bolt-for-github[bot] opened #2565 "CVE-2021-25741 (High) detected in github.com/kubernetes/utils-7d6a63dca704acaa0679df837cea69eabb2e5f67"
## CVE-2021-25741 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/kubernetes/utils-7d6a63dca704acaa0679df837cea69eabb2e5f67</b></p></summary>

<p>Non-Kubernetes-specific utility libraries which are consumed by multiple projects.</p>
<p>

Dependency Hiera

[2022-01-27 06:48] tomkerkhove commented on #2565
We don't control this, transitive dependency.

[2022-01-27 07:09] thotz opened #2566 "Accessing default prometheus server in Openshift for Scaled Objects"
### Report

Authenticate KEDA with the Thanos Query tenancy-specific endpoint. So that it can access the metrics provided by the default Prometheus server. Currently the Thanos-query service with TLS enabled, but we cannot create proper `ClusterTriggerAuthentication` resource in the `ScaledObject`

### Expected Behavior

Scaler need to access the thanos-querier endpoint for the required Prometheus

[2022-01-27 08:41] tomkerkhove commented on #2566
Can you elaborate a bit more what we need to change? Is it to support the authentication with Thanos?

Can you open another bug for ServerAddress  please? It should indeed be blocked.

[2022-01-27 08:44] zroubalik commented on #2566
+1

I think that this problem has been already resolved for 2.6 in: https://github.com/kedacore/keda/pull/2394

[2022-01-27 08:58] thotz commented on #2566
Sorry for the confusion.

I have read the Prometheus metrics can be read from Thanos query service, but for that, it needs to authenticate with that. So in short my request was the steps/documentation to add the default Prometheus metrics endpoint in Openshift to `ScaledObject`

[2022-01-27 09:58] tomkerkhove opened #2567 "Change "/run-e2e" to use GitHub's Checks API"
Change "/run-e2e" to use GitHub's Checks API instead of emojis so that PRs are blocked in case of failed tests.

- https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks
- https://docs.github.com/en/rest/guides/getting-started-with-the-checks-api

There seem to be some GitHub Actions in the marketplace,

[2022-01-27 10:36] neilclark-bgn commented on #1788
I would also be very interested in this. We have some workloads that are not well suited to scaling horizontally which we would like to scale vertically.

Our application has a predictable but unusual usage pattern, where load will be very low, then very high for a period of as little as 15 minutes, then return to being very low again. As some of our workloads take a while to perform a rolling res

[2022-01-27 14:33] #2293 closed

[2022-01-27 14:43] tomkerkhove opened #2569 "Use re-usable workflows for GitHub Actions"
Use re-usable workflows for GitHub Actions to remove the duplication that we have, for example for [doing e2e-tests](https://github.com/kedacore/keda/pull/2568).

[2022-01-27 15:11] chenele opened #2570 "ScaledObject ignoring triggers sometimes"
### Report

i have configured ScaledObject configuration to scale Statefulset based on pubsub metrics.

this is the configuration im using:

[code]

deployed on one Env worked OK, deploying it on Env2 it seems to ignore my triggeres configuration and defined the scale based on cpu.

### Expected Behavior

I should see the HPA with the pubsub metrics.

**kubectl get hpa -n utils**
[code]

**kubectl

[2022-01-27 17:31] wsugarman opened #2571 "TriggerAuthentication Support for External Scalers"
### Proposal

[`TriggerAuthentication`](https://keda.sh/docs/2.5/concepts/authentication/#re-use-credentials-and-delegate-auth-with-triggerauthentication) objects are a convenient way to share, and use identities for, accessing resources required by the scaler. However, external scalers can't easily take advantage of them. My proposal would be to add support for `TriggerAuthentication` in external

[2022-01-27 18:11] smoke opened #2572 "RabbitMQ ignores unacknowledged messages since >=2.0"
### Report

RabbitMQ scaler is using AMQP library and the method to get a total of messages returns only messages with ready status in queue.
https://github.com/streadway/amqp/blob/master/channel.go#L837

If the queue has messages with unacknowledged (because are processing in consumer) they will be ignored and the scaler can kill the pod that are processing messages making message returns to queu

[2022-01-27 19:28] coderanger commented on #2572
The amqp protocol only exposes unacked messages, to include those you have to use the http mode which talks to the Management API instead.

[2022-01-27 19:34] JorTurFer commented on #2570
hi @chenele
Is there any error in the logs? Could you try restarting keda pods (operator and metrics-server)? There is a known bug related with cache and restarting the pods solves it. If this is your case, next week we will release the v2.6 fixing this issue

[2022-01-27 20:24] JorTurFer commented on #2567
I have been checking `GitHub Checks API` and I think that it doesn't match our requirements. This API allows dynamic checks creation with custom messages, reports, etc... the problem is that those checks are not considered part of the PR checks, I mean, we cannot block the PR with it.

Maybe I have missed something, but I think that GH is not ready for this... 😢

I have another option that could w

[2022-01-27 21:11] smoke commented on #2572
@coderanger I have reverse engineered the code - regardless of the protocol they are not collected, this is something removed in other change sets :(

[2022-01-27 21:53] coderanger commented on #2572
https://github.com/kedacore/keda/blob/main/pkg/scalers/rabbitmq_scaler.go#L367 its right there :)

[2022-01-28 06:58] tomkerkhove commented on #2567
Normally you can link them to the PR as per the docs above. Did you give this a try?

The alternative is another approach but feels a bit like a hack, ideally we rely on checks IMO. If we link the running workflow job to the PR it should also work imo.

[2022-01-28 07:02] JorTurFer commented on #2567
Maybe I miss the part of the PR... Could you send me that link?

[2022-01-28 07:16] tomkerkhove commented on #2567
It is in the issue above: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks

[2022-01-28 07:36] JorTurFer commented on #2567
The closest thing that I found yesterday was [this](https://docs.github.com/en/rest/reference/checks#create-a-check-run).
We can create a check for a specific commit hash, but despite that either if the commit is in the PR, the check is not attached to the PR checks.

Anyway, I'll take another look

[2022-01-28 08:44] tomkerkhove commented on #232
Closing as we have this through an external scaler: https://github.com/kedacore/external-scaler-azure-cosmos-db

[2022-01-28 08:45] tomkerkhove commented on #2567
Was this the case?

Let me ask around

[2022-01-28 11:45] #2495 closed

[2022-01-28 12:14] zroubalik opened #2575 "Prometheus Scaler: suppport tenancy/namespaced queries"
### Proposal

HA Prometheus setups like https://thanos.io/ supports tenancy, it is achieved by namespaced queries, where the namespace is being set as part of the HTTP request with the query (`&namespace=foo`).

Prometheus scaler could support optional `namespace` parameter for namespaced queries.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-01-28 13:06] #2575 closed

[2022-01-28 15:15] wltbenade opened #2577 "Ability for keda-operator to connect out using proxy server"
### Proposal

Currently, there doesn't seem to be any mechanism to allow the keda-operator to connect out using a proxy server, rendering it impossible to connect to external services to pull metric data.

I've tried to set HTTP_PROXY, HTTPS_PROXY, as well as their lowercase counterparts, without result.

It would be highly beneficial to have the operator able to connect to external services using

[2022-01-28 15:49] tomkerkhove commented on #470
We have a scaler for datadog, but that's maybe not the point here :)

[2022-01-28 15:58] steven0711dong commented on #2503
@zroubalik for crypto. can we use this one?
[code]
We also had crypto vulnerability in our product and this is the version crypto we used and once we bump to this version, the whitesource vulnerability on crypto disappeared

[2022-01-28 18:50] arschles commented on #1330
I clearly haven't gotten to this yet. If someone else wants to take it, feel free. I probably won't be able to work on it for a while.

[2022-01-28 19:06] smoke commented on #2572
lol thank you @coderanger will give it a try and update the ticket accordingly!

[2022-01-28 23:44] JacobHenner opened #2578 "Refresh expired/rotated AWS credentials without emitting a scaler failure"
### Proposal

In https://github.com/kedacore/keda/pull/2573, support for AWS temporary credentials (using session tokens) was introduced.

This approach has a potentially undesired side effect - an HPA Scaler Error will be recorded in the metrics each time a temporary credential expires, even if the replacement scaler reloads valid credentials and succeeds immediately following the expiration fail

[2022-01-29 19:19] gabrieljones opened #2581 "Kafka Partitions Per Pod Scaling"
### Proposal

Enhance the Kafka Scaler or create a new KEDA Scaler to support scaling Kafka by partitions per pod as opposed to simple increase in pod count.

### Use-Case

Say I have 12 partitions for my topic.
At 3 pods I will have four partitions per pod:
`4 + 4 + 4 = 12`
At 4 pods I will have three partitions per pod:
`3 + 3 + 3 + 3 = 12`
If I naively scale to 5 pods, I will end up with 3 pods

[2022-01-30 11:30] tomkerkhove commented on #1330
No worries Aaron!

[2022-01-30 14:04] tomkerkhove commented on #1788
That's interesting, so it's purely for time-based/scheduled autoscaling?

[2022-01-30 14:05] #1965 closed

[2022-01-30 14:25] gabrieljones commented on #2581
Here is a list of pod scaling sequences based on partition count:
[code]

Here is the Scala code that generated the above list:
[code]

[2022-01-30 17:08] #2324 closed

[2022-01-30 22:52] alegmal commented on #2414
thanks, issue is solved, closing.

[2022-01-30 22:52] #2414 closed

[2022-01-31 09:34] crisp2u commented on #2498
Can anyone give any feedback on this ? This is blocking us and we only have the option of dropping Keda or forking it :(

[2022-01-31 09:43] RamCohen commented on #1488
Hi. Was there any progress made ?
Would like to take this on.

[2022-01-31 09:44] JorTurFer commented on #2498
Hi,
I have to apologize because I didn't see this...
I'm AFK now, in 20-30 min I'll review this

[2022-01-31 10:25] tomkerkhove commented on #1488
I haven't heard from @yasiboni-max so if you'd like to work on it - Be my guest!

Ok for you @yasiboni-max ?

[2022-01-31 10:29] JorTurFer commented on #2498
Hi,
I have review your issue, You could increase the `pageSize` in trigger.metadata section up to your server max pageSize.
Related with doing the queries using regex and vhots, IDK, I have to test it. I'll do during the day

[2022-01-31 10:33] #2518 closed

[2022-01-31 10:42] zroubalik commented on #2503
We bumped to the latest version: `golang.org/x/crypto v0.0.0-20220128200615-198e4374d7ed`, I hope it will solve the problem.

[2022-01-31 11:31] crisp2u commented on #2498
Already did that to get rid of the error. The problem is that I want to deploy another client on the same MQ cluster and the scaler will pick up the wrong queues without the vhost.

[2022-01-31 11:47] SebastianSchuetze commented on #900
still want this feature and I think it should come!

[2022-01-31 11:51] tomkerkhove commented on #900
We are happy to review PRs ;)

[2022-01-31 11:56] SebastianSchuetze commented on #900
I know. just wanted to keep this open for now 😜

[2022-01-31 11:57] tomkerkhove opened #2584 "Improve e2e tests to always cleanup resources in cluster"
Improve e2e tests to always cleanup resources in cluster, even if it was cancelled.

As per [the docs](https://docs.github.com/en/actions/managing-workflow-runs/canceling-a-workflow#steps-github-takes-to-cancel-a-workflow-run), this should be possible to use a `job` with condition `if: always()`.

This avoids a bad starting point for next test runs if the previous one failed or was cancelled.

[2022-01-31 12:02] JorTurFer commented on #2498
That depends on the rabbit management plugin itself.
Did you try if it's possible using vhost? (just to save some time)

[2022-01-31 12:14] JorTurFer commented on #2584
Maybe we could use a pattern for testing namespaces (now the naming is totally free) and during the test preparation, we can run the deletion to ensure that all resources are cleaned before the start.
WDYT @kedacore/keda-core-contributors  ?

[2022-01-31 12:16] tomkerkhove commented on #2584
Testing namespaces are good for me, but I'd prefer to clean things up at the end rather than the beginning to follow the boyscout rule - Clean up before you leave

[2022-01-31 12:45] crisp2u commented on #2498
yes. I've mentioned in the issue. The easiest way to check is if you go to the RabbitMQ Management UI and filter queues using regex on a vhost. It adds `/api/queues/<<vHost>>` to the request

[2022-01-31 13:14] JorTurFer commented on #2498
I think that supporting this new feature if we maintain the current behavior also is worth. Maybe something like: if useRegex and vhost, then /api/queues/<<vHost>> and if not, current behavior.
You said that you are open to open a PR, right? 😄

[2022-01-31 14:16] neilclark-bgn commented on #1788
Not necessarily only time-based. We have a time based need right now, but could definitely see us making use of vertical autoscaling based on other triggers. I'd say Kafka, Elasticsearch and Prometheus would be the most likely for us.

[2022-01-31 14:19] tomkerkhove commented on #1788
Regardless of the effort, because that will be a ton, I can see a lot of value there indeed. Thoughts on this @kedacore/keda-maintainers ?

[2022-01-31 14:52] neilclark-bgn commented on #1788
Thanks Tom.

This line from the limitations section of the VPA documentation sums up best why I'm looking for alternatives:

_Vertical Pod autoscaling does not generate recommendations based on sudden increases in resource usage. Instead, it provides stable recommendations over a longer time period. For sudden increases, use the Horizontal Pod Autoscaler._

We have several workloads that sit in th

[2022-01-31 14:57] yasiboni-max commented on #1488
I actually finished the implementation, but then I saw that you asked to use the SDK so I started to do so.
Currently I have an [issue](https://github.com/Azure/azure-kusto-go/issues/33#) with passing a predefined query to kusto client.

[2022-01-31 16:17] RamCohen commented on #1488
Try this:

// GetADXSingleRowFromQuery returns the only row from an ADX query result.
If there are more rows, an error is returned.
func GetADXSingleRowFromQuery(ctx context.Context, query string, client
querier) (*table.Row, error) {
    // Execute the query.
    iter, err := client.Query(ctx, "database", kusto.NewStmt("", kusto.
UnsafeStmt(unsafe.Stmt { true, false})).UnsafeAdd(query))
    if er

[2022-01-31 19:17] JacobHenner commented on #1002
I believe this can be closed (implemented in https://github.com/kedacore/keda/pull/2354)

[2022-01-31 19:23] #1002 closed

[2022-02-01 12:36] iAlex97 commented on #2490
I upgraded keda to 2.6.0 last night and the issue didn't come up, cheers!

[2022-02-01 12:36] #2490 closed

[2022-02-01 16:19] JorTurFer commented on #2353
@mknet3 prefer to keep it free for the moment because it's his first task with golang

[2022-02-01 16:28] tomkerkhove commented on #2401
Ok if we close this issue in favor of https://github.com/kedacore/keda/issues/197 @aslom?

[2022-02-01 18:23] aslom commented on #2401
@tomkerkhove I would liek to keep it open as I started a simple non-AI version and testing AI version to see side-by-side how they work for Kafka - my intuition is that simple version may be good for predictability and/or use together with AI version

[2022-02-01 20:32] andrewbrown248 commented on #857
Any update on this?  This would still be nice to be able to use GSSAPI SASL mechanism.

[2022-02-01 23:36] shulyakav commented on #1955
I had a similar issue.

Was fixed by a change:

**Myvalue: {{ .Values.cpuValue  }}**

to

**Myvalue: {{ .Values.cpuValue | quote }}**

[2022-02-02 08:17] zroubalik commented on #857
Nobody has yet picked this up, we are open to contributions though @andrewbrown248

[2022-02-02 16:39] masterphenix commented on #2572
Hello, I am having this same issue, both with HTTP and AMQP protocols
I am using Rabbitmq 3.9.11, and Keda 2.5.0
I use a TriggerAuthentication, and tried both AMQP and HTTP protocols
When creating a ScaledObject based on QueueLength, the metric shown in the HPA only takes into account ready messages, not the unacked ones.

[2022-02-02 17:09] JorTurFer commented on #2572
I've checked and can see that there is another property for `messages_unacknowledged`  but is not used anywhere since v1.5 https://github.com/kedacore/keda/blob/main/pkg/scalers/rabbitmq_scaler.go#L79
It was used in v1.4 and maybe there is the problem https://github.com/kedacore/keda/blob/v1.4.0/pkg/scalers/rabbitmq_scaler.go#L178
WDYT @coderanger ?

[2022-02-02 17:36] JorTurFer commented on #2572
Okey, digging into the returned json, I can see that there are 3 different keys, `messages_ready`, `messages_ready `  and `message_stats.publish`. As I understand,  `message_stats.publish= messages_ready + messages_unacknowledged`.
Am I right?
We are using `message_stats.publish` so if I'm right, the unacknowledged messages are already counted right now using `http` protocol

[2022-02-02 18:27] #2455 closed

[2022-02-02 18:52] rwkarg commented on #2581
This would be great for ensuring that only impactful scaling happens with Kafka consumers, especially since _all_ values between p/2 and p-1 are essentially noop for scaling (they all have at least one consumer with 2 partitions).

[2022-02-02 19:34] bartbkr commented on #2572
@JorTurFer Is the same counting mechanism used for `useRegex: true`? In other words, does it use `message_stats.publish` when `protocol: http` and `mode: QueueLength`? If the answer is yes, should this doc be ammended:

https://keda.sh/docs/2.6/scalers/rabbitmq-queue/

[2022-02-02 19:43] zroubalik commented on #2581
This would be great, but it's (almost) impossible to achieve atm. KEDA depends on HPA for scaling by providing the metrics, the desired replica count calculation is being made by HPA. This means there's no way how to tell HPA: "scale to X replicas".
See the [HPA algorithm details](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details). There is way how to twe

[2022-02-02 20:52] rwkarg commented on #2581
the Kafka scaler already fakes the metrics to cap the instance count at the partition count.
https://github.com/kedacore/keda/blob/28d0b69b124ab6a28c7fe736b47aa3246b4f37ee/pkg/scalers/kafka_scaler.go#L452-L457

Could similarly fake the metric value to result in the desired instance count. Not saying if that's a _good_ idea or not, but I think it would work.

[2022-02-02 21:06] zroubalik commented on #2581
That approach just caps the max reported metrics, not replicas. But yeah, you are right, it could be done somehow, but it would need to mimic HPA algorithm and report fake metrics, but not ideal imho.

But happy to see some POC :)

[2022-02-02 21:30] JorTurFer commented on #2572
I'm not sure @bartbkr. Depending on how it works, I'll update the docs according to the reality

[2022-02-02 22:00] coderanger commented on #2572
Not sure about the regex mode as I've never used it but it's pulling from the same `"messages"` field in the JSON so I would assume that's including messages of all states unless there is evidence to the contrary :) That field is defined as "the number of messages in the queue".

[2022-02-02 22:09] JorTurFer commented on #2572
so, `message_stats.publish` is the total amount of messages in the queue, including ready and unack, right? (ignore the regex part, you are right and using regex the json is the same)

[2022-02-02 22:10] yasiboni-max commented on #1488
Hi @tomkerkhove,  my e2e test requires some setup:

- Kusto cluster
- Kusto database
- Assign the necessary role to the AAD app & MSI that being used by pod identity
- Expose few values as environment variables.

Can you please elaborate with the right procedure to do so? I didn't find (or missed) the guidelines in the contribution guide for that.

[2022-02-02 22:21] coderanger commented on #2572
Yes, but we're not using that. We're using the `"messages"` key. We could switch to using the other struct but not sure it would change anything?

[2022-02-02 22:27] JorTurFer commented on #2572
yes, sorry. IDK I was focus on that even thought I checked it, but I guess that `messages` is also the sum between `ready` and `unack`
Probably we should update the docs because, from them, it seems that `unack` are excluded

[2022-02-02 23:03] rwkarg commented on #2581
It's essentially `totalLag = desiredInstances * s.metadata.lagThreshold`

The existing code do a max where `desiredInstances` == the partition count, but if we figure out that the break points are for the topic's partition count (following logic similar to @gabrieljones above), then we can compute with the naïve instance count would be (`totalLag / s.metadata.lagThreshold`), slide up to the next h

[2022-02-03 01:25] bartbkr commented on #2572
@JorTurFer Thank you and thanks for the clarification.

[2022-02-03 06:19] #2572 closed

[2022-02-03 06:54] tomkerkhove commented on #1488
We don't allow contributors to do this for now but if you can provide some more information then I'm happy to do everything that is required.

[2022-02-03 07:01] masterphenix commented on #2572
Hello,
Just tested with Curl on my 3.9.11 version, I don't get same results in messages and message_stats. At the time of the test, I have:
- 0 messages ready
- 247 messages unacked

This is the interesting parts of the json returned:
[code]

[2022-02-03 07:05] coderanger commented on #2572
@masterphenix _states is rolling counts since the node started. Useful for rate checks (which is why they are presented there) but not current sizes.

[2022-02-03 07:24] masterphenix commented on #2572
Ok @coderanger thank you for this explaination 👍

[2022-02-03 10:43] zroubalik commented on #2571
@wsugarman no longer an issue?

[2022-02-03 10:44] zroubalik commented on #2401
Yeah, this is a little bit different approach. It would use just a short window of the last couple of metrics to do the calculation.

[2022-02-03 11:38] zroubalik commented on #2581
In theory this could work, I am curious how precise the calculation will be and if we are able to really convince the HPA to scale accordingly.

@rwkarg keen to give it a try?

[2022-02-03 17:17] rwkarg opened #2592 "Metric names become incorrect if any of ScaledObject's triggers is unavailable"
### Report

After some amount of time of successful operation, the HPA reports that some of the metrics it is looking for are not available. This is because the name of the metric in the HPA has been changed to something that appears to be incorrect. Restarting the operator and metrics-apiserver will temporarily correct the metric names in the HPA.

Initial report from Slack: https://kubernetes.sl

[2022-02-03 17:53] zroubalik commented on #2592
@rwkarg do you see those incorrect metric names in metrics server? What metric names do you see in the `ScaledObject.Status`?

[2022-02-03 22:08] wsugarman commented on #2571
@zroubalik - Well, I think I misunderstood how `TriggerAuthentication` works with managed identities like AAD Pod Identity. If my reading is correct, if I had a `TriggerAuthentication` resource like the following:

[code]

Its usage in a `ScaledObject` simply tells the built-in scaler implementations to assume there is an AAD identity found in the pod to use with sufficient access. Similarly, we c

[2022-02-04 01:02] rwkarg commented on #2592
The ScaledObject has the same incorrect list of metric names (duplicate `s7-` in the above example).

The metrics server has the expected metrics (single instance of `s0-` through `s7-`)

[2022-02-04 01:09] rwkarg commented on #2592
Also noted that when this happens, the duplicate is always the last index
For Example, the above case has 8 metrics (`s0-` through `s7-`) and the duplicate, wrong metric name will always start with `s7-`, though the index that is missing (what the metric name actually is) appears to be random (`s1-` is missing above, but it could be any one of those).
Similarly, if there are only 4 metrics, then `

[2022-02-04 02:00] rwkarg commented on #2592
Maybe found something?
`ERROR	controller.scaledobject	Failed to check HPA for possible update	{"reconciler group": "keda.sh", "reconciler kind": "ScaledObject", "name": "global-processor", "namespace": "europa-us", "error": "metricName s9-rabbitmq-global-created-queue defined multiple times in ScaledObject global-processor, please refer the documentation how to define metricName manually`

Maybe t

[2022-02-04 08:21] #254 closed

[2022-02-04 09:37] zroubalik commented on #2592
I think that the `sn-` prefix should fix that, IMHO message vs rate based trigger is not the culprit here.

By chance, do you see any other errors? One of the rabbit instances might have some temporary issues, causing that scaler to being able not connect there?
I am trying to figure out where could be the problem, one thing that come across my mind is that it could be a problem in resolving the s

[2022-02-04 10:21] thotz commented on #2566
@zroubalik helped me in resolving the issue of accessing the thanos-query service for scaledobject in Openshift. Hence closing the issue

[2022-02-04 10:21] #2566 closed

[2022-02-04 11:25] zroubalik commented on #2592
I have probably found the bug: #2593 and we will most like release 2.6.1 release next week with this fix.

@rwkarg it would be great if you can check that fix on one of your setups, of course if there's a possibility to do:
`quay.io/zroubalik/keda:indexFix`, `quay.io/zroubalik/keda-metrics-apiserver:indexFix`
Thanks

[2022-02-04 12:02] jamesdowning-chip commented on #2480
Sorry for the slow response everyone. I'm yet to see this error again while deploying `scaledObjects` to a few clusters, I'll chime in on #2381  if it resurfaces. Will close the issue for now 👍

[2022-02-04 12:02] #2480 closed

[2022-02-04 15:29] siva-27 commented on #555
Hi, Keda is still throwing an error when we use the secretkeyref in the deployment with the latest version too, for example
[code]
Please let me know if need any other info.

[2022-02-04 15:50] jamesdowning-chip opened #2596 "Prometheus ingress request count metric displayed as wrong unit"
### Report

When using a trigger of type `prometheus` and in this case the `nginx_ingress_controller_requests` query, the HPA shows the current value as a memory unit rather than the query value.

E.G.:

`kubectl describe hpa <my-hpa> -n <namespace>`

[code]

### Expected Behavior

The actual value as returned by the external metrics API is displayed:

[code]

### Actual Behavior

As described in

[2022-02-04 18:11] rwkarg commented on #2592
Testing out `indexFix` and things are looking good so far. Will continue to monitor.

[2022-02-04 20:35] JorTurFer commented on #2498
Don't worry, but just for sharing information, we released v2.6.0 last week and according to our governance repo, next release will be in 3 months. The milestone v2.7 ends on May.
Probably we will do another release with bugfixes, but we don't plan to include new features on.

I'm explaining this because you said that you are close to your release date and maybe you expect that this feature will b

[2022-02-04 20:49] crisp2u commented on #2498
Yeah, I missed the release, I just saw it today. I'm also aware you are not doing bug fix releases, figured that out from the change log. We will either run from our fork or take the risk of running from keda master. Thanks for you help and I appreciate what you guys are doing.

[2022-02-05 00:57] pchaudhary1 opened #2597 "Keda Kafka Scaler not able to scale up"
### Report

Hi,

I am trying to use Keda's Kafka Scaler, but I see following error in the "keda-hpa-kafka-scaledobject" status.
The pods scale down to 0, but do not scale-up to the maxReplica count.

Warning  FailedGetExternalMetric  4s (x76 over 6h22m)  horizontal-pod-autoscaler  unable to get external metric keda/s0-kafka-my-topic-1/&LabelSelector{MatchLabels:map[string]string{scaledobject.keda.

[2022-02-05 09:14] JorTurFer commented on #2498
one tip, if you use KEDA from `main` tag, pull it and then push it into other registry and use it from that other registry. Doing that, you can "freeze" the version till next release

[2022-02-07 10:46] zroubalik commented on #2596
Those are not memory type units, that's just the way how kubernetes describe metric values, instead of decipal points it adds suffixes, ie.  `1500m` is `1.5` etc.

[2022-02-07 10:46] #2596 closed

[2022-02-07 10:46] khacminh opened #2598 "Allow IdleReplicaCount less than or equal to MinReplicaCount"
### Proposal

Keda doesn't allow IdleReplicaCount to be **equal to** MinReplicaCount. Therefore, I cannot keep my service at the minimum resource.

---

Here is an example:

I cannot configure the ScaledObject like this:

[code]

I have to set it as:

[code]

or

[code]

---

- The first approach doesn't make the service always available
- The second approach creates the redundant replica. It coul

[2022-02-07 10:47] zroubalik commented on #2597
Please check the https://keda.sh/docs/2.6/troubleshooting/ (GKE) section.

[2022-02-07 10:47] #2597 closed

[2022-02-07 10:51] dooferlad commented on #2440
Having had a dig through the code, the I would be tempted by implementing this using a Go template. In pkg.provider.KedaProvider.GetExternalMetric` to a new `CalculateDerivedMetric` function that took the above scaledObject inputs would derive the right context object based on triggers and the formula field would be a template, which would be rendered using that context. Probably using https://mas

[2022-02-07 11:07] IvanDechovsky opened #2599 "All externalMetricsNames with the same name broken if the data source for one of them is unavailable."
### Report

If you configure multiple ScaledObjects with the same `metricName` like so:
[code]
 but use different `serverAddress` and one of those data sources becomes unavailable, all of the scaled objects with that same `externalMetricName` break with the following error

[code]

### Expected Behavior

The expected behaviour would be that only the ScaledObject with the unavailable `serverAddress

[2022-02-07 11:57] zroubalik commented on #2599
@IvanDechovsky thanks for reporting this issue, we have indentified some problems with metric names and indexes in 2.6.0, even though this seems like a different issue. Are you able to try to reproduce the problem with images mentined here: https://github.com/kedacore/keda/issues/2592#issuecomment-1029900476

Thanks! feel free to ping me on slack for details.

[2022-02-07 13:12] IvanDechovsky commented on #2599
Hi, thanks for the quick response. Just switching to the images does not fix the issue for existing metric names but it does fix it if they were to be re-created or simply renamed ( to the same name). I guess that triggers them to be re-indexed and problem goes away.

Do you know when we can expect 2.6.1?

Do you know if there is a way to fix the problem for existing metrics without asking our dev

[2022-02-07 13:55] IvanDechovsky commented on #2599
I may have been too quick to call it resolved. Upon further testing, I can still reproduce the problem with the `indexFix` images. In the current version a restart of keda also "ocassionally" removes the issue for a certain period of time.
The `externalMetricNames` with 2.6.0 and with `indexFix` stay the same so the problem with non unique metric names still persists.

[2022-02-07 14:23] zroubalik commented on #2599
@IvanDechovsky thanks for the confirmation, I will take a look on it.

[2022-02-07 16:07] vazkarvishal opened #2600 "Authentication fails for Azure Pipelines scaler due to new line characters"
### Report

Trying to use the AzureDevOps pipeline autoscaler and keep getting a 401 with the following error:
[code]

When triggering the same API call using Postman I am getting a 200.

**UPDATE: 07-02-2022:17:35**

When replacing the ADO token to use `plain-text` instead of secrets, everything seems to work fine. So the issue seems to be in either **TriggerAuthentication** or the way the **Scal

[2022-02-07 17:01] rwkarg commented on #2592
Fix is looking good.

All HPAs across all clusters still have the correct metric names after the weekend.

[2022-02-07 17:11] zroubalik commented on #2592
@rwkarg excellent, thanks for the message!

[2022-02-07 19:50] zroubalik commented on #2599
@IvanDechovsky I haven't been able to reproduce the problem 🤔 I have 2 SO, with the same `metricName`, took down one service, the respective SO stopped working the other one was working correctly 🤷‍♂️

[2022-02-07 21:06] IvanDechovsky commented on #2599
Hey @zroubalik ,
I can consistently reproduce it on 2.6.0 and `indexFix` images. However, the key is to restart the keda-operator + keda-operator-metrics-server pods. The same way a restart of those pods can help fix the issues temporarily, it can also break working scaledobjects.

@JorTurFer i just tested with different deployments and the result is the same.
[code]
On initial inspection, it corr

[2022-02-07 21:12] JorTurFer commented on #2599
could you share your ScaledObject literary how they are (only removing the secrets if they are)?

[2022-02-07 23:34] zroubalik opened #2603 "Problem in a scaler during autoscaling is not properly logged and `ScaledObject.Status.Ready` is not properly set"
### Report

Problem in a scaler during autoscaling is not properly logged and ScaledObject.Status.Ready is not properly set.

### Expected Behavior

If all triggers defined in ScaledObject are failing-> set status to `"ConditionFalse" "TriggerError" "Triggers defined in ScaledObject are not working correctly"`

If mutliple trigger defined in ScaledObject and only some are failing -> set status to

[2022-02-08 01:43] khacminh commented on #2598
Hi @zroubalik
Thank you for your reply. I'll close the issue

[2022-02-08 01:43] #2598 closed

[2022-02-08 06:45] tomkerkhove commented on #944
So...?

Do we use this then or add `autoscaling.keda.sh/paused: true`? I'd like to have a look at this.

`autoscaling.keda.sh/paused: true` is still my preference since not everyone will want to define a paused replica count but I don't want to force this.

[2022-02-08 07:46] #2381 closed

[2022-02-08 07:46] #2592 closed

[2022-02-08 08:12] #2516 closed

[2022-02-08 08:51] IvanDechovsky commented on #2599
[code]

[2022-02-08 09:21] loicmathieu commented on #944
I too prefere `autoscaling.keda.sh/paused: true` but the other solution is OK

[2022-02-08 10:51] #2529 closed

[2022-02-08 10:54] #2542 closed

[2022-02-08 10:55] #2544 closed

[2022-02-08 10:55] #2545 closed

[2022-02-08 10:55] #2548 closed

[2022-02-08 12:11] #2541 closed

[2022-02-08 17:08] gunniwho opened #2608 "No way to specify TLS disabled for Kafka scaler"
### Report

When using the Apache Kafka scaler, you can set the auth parameter `tls` to `enabled` for the underlying kafka client to use tls when connecting to the brokers. There is no way however to set `tls` to anything else to configure tls to be disabled. See [here](https://github.com/kedacore/keda/blob/main/pkg/scalers/kafka_scaler.go#L170-L189). Now I know that the default behavior is that t