[2020-11-13 06:30] tomkerkhove commented on #995
✔

[2020-11-13 10:27] zroubalik commented on #1325
@holyketzer CC

[2020-11-13 16:33] Kesudan commented on #1311
We have run into the same issue and having to go back to 1.5 as this is a show stopper for us, unless there is any other way of assigning labels for ScaledJob in 2.0?

[2020-11-13 21:29] arschles opened #1330 "Convert our configuration parsing to viper?"
A clear and concise description of what you want to happen.

### Use-Case

When you run KEDA in a 12-factor environment, it's sometimes easier to configure it with environment variables (not commandline flags), in other cases, a pre-canned config file is more useful, and of course, we already have commandline flags, so those are certainly more useful to some people

I think we should support all 3

[2020-11-14 15:12] xq2005 commented on #1325
@XavierGeerinck You can run following command to get the number of messages in queue
[code]
**Metrics** part in the output shows the real queue length. HPA scales out/in deployment based on this value.

[2020-11-14 15:24] XavierGeerinck commented on #1325
Can be closed in favor of PR https://github.com/kedacore/keda-docs/pull/307, issue was due to Unacknowledged messages and was handled by switching to HTTP and utilizing correct ports.

[2020-11-14 15:24] #1325 closed

[2020-11-16 07:35] tomkerkhove commented on #538
Thanks, I did a first run-through and maybe @zroubalik might want to have a look at it.

I'm happy to see the move to CRDs & operators, for me the biggest concern is our proxy and how it works with other ingresses; we should be open for others as well so that we don't force this upon users.

My suggestion for the HTPP repo would be `keda-add-on-http`, `http-add-on` or so.

[2020-11-16 11:11] girishramnani commented on #1114
Sure, I will play around with it quickly and get back with my findings.

[2020-11-16 13:12] mangareader commented on #1315
@zroubalik i try get curl -kv https://keda-metrics-apiserver.keda.svc.cluster.local/apis/external.metrics.k8s.io/v1beta1
[code]
the output is correct ?

[2020-11-16 15:02] girishramnani commented on #1114
noticed a small nit that the devcontainer.json was using `ms-vscode.go` for the plugin extension id instead of `google.go` so updated that as part of the https://github.com/kedacore/keda/pull/1334

[2020-11-16 15:24] #1114 closed

[2020-11-16 16:04] zroubalik commented on #1330
viper is more relevant to the CLI based apps, right? And since the operator should be long running, the modification to the configuration should happen not just via arguments on the startup.
I was thinking about this before and the proper configuration for the operator is a `ConfigMap` that's being watched by the operator, user can modify the settings in the `ConfiMap` and KEDA will react to it pr

[2020-11-16 16:08] zroubalik commented on #1092
done

[2020-11-16 16:08] #1092 closed

[2020-11-16 16:32] zroubalik commented on #1200
@ycabrer sorry for the delay. It seems like you are right, for Postres scaler it would make sense to add a metric name field the same way it has been added to Prometheus, as both scalers are based on a long query.

To mitigate the problems with changing the scaler API, we could do:
1. add metric name to the spec as an optional field
2. if the metric name is not set, try to generate the name progra

[2020-11-16 16:52] zroubalik commented on #1067
@XavierGeerinck is this something that was fixed by #1332 and we can close this one?

[2020-11-16 17:09] XavierGeerinck commented on #1067
@zroubalik no this is unrelated sadly enough. SQS doesn't work at all for me, the bug fix I did was something I just found... when utilizing the SQS scaler the error as shown in my previous comment shows up.

[2020-11-16 18:58] arschles commented on #538
@tomkerkhove agreed. I'm glad you and others brought that up in the meeting. Regarding the proxy, I think it would certainly be optional, since it alone decides whether/when it is in the critical path based on the # of replicas a target deployment has (i.e. the Activator pattern). If a user decides to use the proxy, they can do so with the ingress of their choice because the proxy will only modify

[2020-11-16 19:23] girishramnani commented on #1158
I am currently working on enabling `gocyclo`

[2020-11-17 15:59] tomkerkhove commented on #538
Thanks for sharing! Can you expand a bit on what it would modify please?

[2020-11-17 20:06] girishramnani commented on #1084
Seems like the related PR #1137 was merged, can this issue be closed?

[2020-11-17 20:07] tomkerkhove commented on #1084
Jup, sorry about that!

[2020-11-17 20:07] #1084 closed

[2020-11-17 21:25] traviisd opened #1340 "HPA Not Scaling with Azure Function Kafka Trigger"
We installed Keda in AKS, with an Azure function as a consumer to a Kafka topic. Keda seems to scale the consumer from 0 to 1, but it doesn't scale beyond that. It also seems that a HorizontalPodAutoscaler is not being created however.

HorizontalPodAutoscaler:
[code]

Keda Operator Logs:
[code]

Keda Operator Metrics Api Server Logs:
[code]

## Expected Behavior

Under load the azure function sho

[2020-11-18 02:11] anirudhgarg commented on #1340
Were you able to figure out why hpa is not working. That is absolutely needed to scale from 1->n. AKS > v1.10 should have it enabled. https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-scale#autoscale-pods

[2020-11-18 08:26] zroubalik commented on #1340
You are using v1 ScaledObject, see the `apiVersion: keda.k8s.io/v1alpha1`, but it should be `apiVersion: keda.sh/v1alpha1` since you are using KEDA 2.0.0.
The ScaledObject is not even being detected.

[2020-11-18 09:25] #1319 closed

[2020-11-18 11:34] Shubham82 commented on #1158
I have created a PR for enable goconst in .golangci.yml #1341

[2020-11-18 11:43] girishramnani commented on #1158
It seems there is already a PR for goconst https://github.com/kedacore/keda/pull/1296

[2020-11-18 11:45] girishramnani commented on #1158
@zroubalik if you could please check off the `gocyclo` box so that it’s not picked up by mistake by someone.

[2020-11-18 13:08] bcorijn commented on #944
Being able to suspend scaling during operations without removing or touching object state would be ideal. With our HPA setup, we could scale down the target object to 0, without touching any of the min/max parameters of the HPA, and allow the HPA to kick back in afterwards by scaling the target back up to 1.
With the current keda approach, we need to keep track of those min/max values while suspen

[2020-11-18 13:27] traviisd commented on #1340
What a good catch, I feel dumb ha! That's all it was, the HPA is now being created and it scales the consumer as expected, thanks so much for your time!

You can mark this as resolved :)

[2020-11-18 13:28] #1340 closed

[2020-11-18 13:54] domminiks opened #1342 "New OpenStack Swift scaler"
My team ([@sidilabs](https://github.com/sidilabs)) and I want to contribute to KEDA by proposing and also implementing a RedHat/[OpenStack Swift](https://docs.openstack.org/swift/latest/) scaler.

More info about our proposal:

  - **Scaler Source:** Swift is the default object-store for OpenStack. It works much like AWS S3 or Azure Blob Storage.

  - **How do you want to scale:** The idea is to s

[2020-11-18 14:16] tomkerkhove commented on #944
Agreed, would you prefer a new CRD then for that or what would you expect from KEDA?

[2020-11-18 14:56] bcorijn commented on #944
@tomkerkhove a CRD would work for sure! It feels a bit elaborate compared to just setting an annotation/label on one of the involved objects, but it also leaves room for much more functionality I guess?

[2020-11-18 15:01] zroubalik commented on #944
I am more inclined towards annotation/label based solution. it is more clean and we don't reintroduce a new set of resources.

Out of curiosity, what benefits do you see behind the CRD based solution?

[2020-11-18 15:06] zroubalik commented on #1342
Looking good! That would be a great contribution.

Just a minor nit, implementing e2e tests with the scaler would be really great: https://github.com/kedacore/keda/tree/main/tests

[2020-11-18 15:09] tomkerkhove commented on #944
Oh I was just checking what the expectations were; either are fine for me but would be good if this got surfaced somehow if we can do `kubectl get so` so maybe we add it as a field instead?

[2020-11-18 17:22] domminiks commented on #1342
Ok, I took a note about it, thanks!

Letting the community know about our progress soon :smile:

[2020-11-19 04:32] TsuyoshiUshio commented on #1323
As we discussed `scheduledJobCount` might be help. I'm not sure who we can make it, so that, let me investigate it.

[2020-11-19 04:56] kiran-bjn commented on #1323
Thanks @TsuyoshiUshio , I am already using a longer polling Interval and exiting the job if queue is empty as a non-blocker. For our use-case, we want the scaling to be very responsive and not have any delay in the system due to the polling Interval. Will wait for your Update.

[2020-11-19 05:05] TsuyoshiUshio commented on #1323
Thank you for your feedback. I'm grad people using scaled job for many use cases!

[2020-11-19 06:36] tomkerkhove commented on #997
Happy to share that you can now buy merch on https://bit.ly/keda-merch, but we are looking into providing a nice DNS entry on keda.sh to make it easier to share once @jeffhollan is back from holiday.

[2020-11-19 07:13] wiseelf opened #1344 "apiserver received an error "exactly one scaled object should match label ""
Hello!

## Actual Behavior
Right after the installation keda-metrics-apiserver shows a lot of errors in the logs.
I haven't configured any ScaledObjects yet.
[code]
Why does this happen? Is it critical?

## Expected Behavior
No errors in the log

## Steps to Reproduce the Problem

  1. kubectl apply -f https://github.com/kedacore/keda/releases/download/v2.0.0/keda-2.0.0.yaml
  2. kubectl -n keda l

[2020-11-19 08:28] bcorijn commented on #944
Exposing it in the get would be nice for sure. At first glance I thought the `Active` field was an indication of this feature, but turned out it serves a different meaning.
I guess the main question is: do you just want to be able to "suspend" keda scaling for a while and take manual control (with a HPA or just scaling the target object), or do you want to explicitly set a replica count through th

[2020-11-19 08:45] lambohamp commented on #965
Hi. Is there any progress on this? Thanks.

[2020-11-19 09:32] zroubalik commented on #1314
My only small remark is, how do we handle multiple scalers per ScaledObject? Do we want to allow mixed scenario, I am curious what is the behavior then, whether it won't be confusing for users.

Maybe not 🐱

[2020-11-19 10:15] zroubalik commented on #1344
Do you have anything else installed on the cluster that could eventually use External Metrics? (Datadog, k8s-prometheus-adapter etc?)

[2020-11-19 10:16] wiseelf commented on #1344
Yes, I have the prometheus-adapter installed.

[2020-11-19 10:20] tomkerkhove commented on #944
This is already possible today by aligning min/max replica count

This is my current thinking actually to have a `State` field which has `Autoscaling` & `Paused` or so.

[2020-11-19 10:27] zroubalik commented on #1344
Both projects are using the same external metrics provider, they cannot be installed on the cluster at the same time. With your KEDA installation, you have just replaced the Metrics Server from prometheus-adapter, which is not working currently.

The errors you see are requests from prometheus-adapter, which is polling a wrong Metrics server.

Unfortunately this is a limitiation of kubernetes, see

[2020-11-19 10:52] wiseelf commented on #1344
got it. Thank you.

[2020-11-19 10:58] #1344 closed

[2020-11-20 15:12] zroubalik commented on #538
The proposal is looking good, the operator based approach is definitely the right direction!

[2020-11-22 13:01] eashi commented on #994
This is done in [PR 1306](https://github.com/kedacore/keda/pull/1305).

[2020-11-23 08:48] #994 closed

[2020-11-23 09:43] Shubham82 commented on #1158
Hi folks,
I have created a PR for enbale depguard and dogsled Linters in .golangcli.yml #1374

[2020-11-23 20:44] arschles commented on #538
@tomkerkhove as promised, here's the architecture diagram. It's a bit on the complex side because of all the communication between operators and k8s resources. I'm happy to lay it all out in the next community meeting.

![keda-arch](https://user-images.githubusercontent.com/70865/100013337-8a5c3400-2d89-11eb-9d65-577db63481c0.png)

@tomkerkhove the only thing we need modified in the ingress would

[2020-11-23 22:39] TsuyoshiUshio opened #1375 "Adding ca feature for SASL configuration"
In case of the
Bitnami image with IBM cloud looks required  CA cert with SASL.
However, it looks not available according to the code.

https://keda.sh/docs/2.0/scalers/apache-kafka/#authentication-parameters
https://github.com/kedacore/keda/blob/main/pkg/scalers/kafka_scaler.go#L173

### Use-Case
Wrote it as above.

### Specification

- [ ] Demand #1
   We need ca configuration for the Kafka scale

[2020-11-24 00:08] TsuyoshiUshio commented on #1375
Internally, https://github.com/Shopify/sarama library we use, however, it look not support it. Need more investigate.

[2020-11-24 04:36] arschles commented on #538
@tomkerkhove @zroubalik I've updated the proposal to be more clear about the Operator and the CLI. It removed some of your comments though, unfortunately. I'll be at the meeting tomorrow morning, in case you have more questions or would like to discuss.

[2020-11-24 06:53] tomkerkhove commented on #997
You can now buy merch on merch.keda.sh

[2020-11-24 06:53] #997 closed

[2020-11-24 10:56] trondhindenes opened #1376 "Documentation for AWS credentials is very hard to understand"
Before I post my comment, I do want to emphasise that I'm quite well versed in AWS and Kubernetes. Still, I'm having a very hard time understanding parts of the Keda documentation.

Sentences like "identityOwner - Receive permissions on the CloudWatch via Pod Identity or from the KEDA operator itself (see below)." - which pod are we talking about here? Isn't the keda operator running in a pod? Whe

[2020-11-24 12:14] trondhindenes commented on #1376
To add to this, on this page: https://keda.sh/docs/2.0/concepts/authentication/
"By using that identity, you can defer authentication to the pod & the service provider, rather than configuring secrets" again - this is confusing, since it doesn't state _which_ pod it's referring to.

[2020-11-24 13:49] tomkerkhove commented on #538
Thanks, certainly helps clarifying.

Will go through the updated proposal but something to keep in mind is that this should not only be compatible to be used with Ingresses but maybe HTTP more in general. So we would need to have a flexible model so that we can integrate SMI through this (instead of a scaler #615) and service-to-service comms maybe even.

Thoughts on this?

[2020-11-24 14:27] idonca opened #1377 "Increased latency on EKS after Keda has been deployed"
Hello,

We were facing some increase on the latency side because KEDA did calls to external.metrics.k8s.io.  This is increasing response time on kubernetes api queries.
Do you know how we can "isolate" keda to run on some specific k8s namespaces?
Can we deactivate that API? (external.metrics.k8s.io)

Or did you have this problem also?

Attached are some responses from k8s APIs:

[api-response.txt]

[2020-11-24 15:40] trondhindenes opened #1378 "Allow cpu/memory scaler to target a specific container in the pod"
### Use-Case
One limitation with Kubernetes' default hpa implementation, is that scaling happens based on the "sum" of all containers in the targeted pod. This means that sidecar metrics affect the scaling, and thus sidecar cpu/memory requests/limits have to be very carefully managed in order to achieve the desired scaling dynamics. Especially in cases where sidecar cpu/memory resources are tiny c

[2020-11-24 16:00] arschles commented on #538
I originally envisioned this for scaling based on external HTTP traffic coming from outside the cluster, so I want to say that's out of scope. I do believe this is modular enough to accommodate that because the external scaler can simply read metrics from SMI. As long as traffic is routed to the interceptor or directly to the app, this should still work.

[2020-11-24 16:47] arschles commented on #615
I'm not sure why it didn't show up, but we discussed this in https://github.com/kedacore/keda/issues/538#issuecomment-732984304

[2020-11-24 18:32] UNOPARATOR commented on #194
I believe this issue might be resolved with the current v2 release, but it is lacking the relevant documentation.
[This comment from issue #476](https://github.com/kedacore/keda/issues/476#issuecomment-716150571) provides a *hopefully working* sample.
But I would love to see an official documentation about how to use multiple trigger properly before trying *(although from the comment link I found,

[2020-11-25 01:58] silenceper commented on #1378
ref:https://github.com/kubernetes/kubernetes/pull/90691
I see that HPA has added the `ContainerResourceMetricSource` type, which should solve the problem you mentioned.

Maybe we can add this support in subsequent versions, when this feature is released in kubernetes 1.20

[2020-11-25 04:51] ycabrer commented on #1200
@zroubalik That's a good idea!

I will open a PR for the metric name issue.

I will also look into the reconciler loop check.

[2020-11-25 06:44] tomkerkhove commented on #194
We most definitely welcome PRs for docs on https://github.com/kedacore/keda-docs but if you need help; feel free to [start a conversation](https://github.com/kedacore/keda/discussions/new).

[2020-11-25 07:53] girishramnani opened #1379 "Create some helper functions to facilitate easy creation of scalers"
Currently it can be observed that a scaler developer is writing code in each scaler that can be extracted into helpers and then the scalers can be refactored.

### Use-Case

Making it easy for someone to write scalers, also clean up the code for existing scalers.

### Specification

TODO

[2020-11-25 07:56] girishramnani commented on #1379
@zroubalik creating a place holder right now - researching all the scalers to understand how the common functions could look like -

First goal of mine is to find common functions in config parsing

[2020-11-25 09:15] zroubalik commented on #1379
@girishramnani awesome, thanks for doing that!

[2020-11-25 09:16] trondhindenes commented on #1378
Oh - my impression was that Keda implements its own cpu/memory scaler and thus wouldn't be bound by the limitations in Kubernetes (which now seem to be mitigated).

[2020-11-25 09:19] silenceper commented on #1378
NO, cpu/memory scaler depend HPA.   keda not implemented separately.

[2020-11-25 09:20] tomkerkhove commented on #1378
Jup, we just provide a user-friendly scaler on top of it so that you can use the same experience for CPU/Memory as if it would be another scaler.

[2020-11-25 13:23] trondhindenes commented on #1378
makes total sense. Thanks for explaining! I guess we can close this.

[2020-11-25 13:31] tomkerkhove commented on #910
Done and up on https://keda.sh/blog/keda-2.0-release/

[2020-11-25 13:31] #910 closed

[2020-11-25 20:12] trondhindenes commented on #1376
From what I can see after looking at how Keda behaves:
If the `identityOwner` is set to pod, and type we're using kiam, it looks like the keda metrics pod tries to call AssumeRole on the role specified in the scale target deployment. That's a neat implementation and a valuable option to have, but the documentation doesn't even come close to covering the necessary staps and required configuration o

[2020-11-26 05:15] ycabrer commented on #1200
@zroubalik Is this what you were thinking of for the metric name uniqueness check?

It only checks for uniqueness within the same ScaledObject.

https://github.com/ycabrer/keda/commit/8427b620c485f515e0ea32a560a4cf384d2260ef

[2020-11-26 09:03] idonca commented on #1377
Hello,

Any help with this problem?

Thanks

[2020-11-26 09:14] coderanger commented on #717
I'm still on 1.x but if I'm reading this right, #1236 should have fixed this in 2.0?

[2020-11-26 09:52] #1273 closed

[2020-11-26 09:57] zroubalik commented on #1200
@ycabrer yeah that's exactly what I was thinking about :)

[2020-11-26 10:38] tomkerkhove commented on #1377
I haven't seen any reports on this but maybe @zroubalik can help in terms of the API server

[2020-11-26 10:59] zroubalik commented on #717
@coderanger yes!

[2020-11-26 10:59] #717 closed

[2020-11-26 13:21] Rodolfodc opened #1382 "New Openstack Metric scaler (Old AODH)"
Me and my team ([@sidilabs](https://github.com/sidilabs)) are aiming to contribute with Keda by building a new Keda scaler for [Openstack](https://docs.openstack.org/) project, based on [AODH](https://docs.openstack.org/aodh/latest/) service.

  - **Scaler Source:** AODH is the Openstack alarming system, similar to AWS CloudWatch.

  - **How do you want to scale:** The scaling will be based on how

[2020-11-26 14:07] tomkerkhove commented on #1382
Sounds great! Happy to have you contribute this!

[2020-11-27 02:48] mzupan commented on #837
The one thing that got me using the helm chart was thinking that worked setting the context's here

https://github.com/kedacore/charts/blob/master/keda/values.yaml#L76

That sets the context for the containers but the securitycontexts need to go in the section for the pod. I had to fork the helm chart to make that change

[2020-11-27 08:12] zroubalik commented on #1377
Hi, interesting, I have never seen this. You can limit namespaces watched by KEDA by setting env `WATCH_NAMESPACE` variable on both Operator and Metrics Server.
Is the scaling working correctly for you? Have you seen another errors somewhere around the cluster?

[2020-11-27 08:54] idonca commented on #1377
Hello,

Thanks for the reply.
That is a cool feature to only tell KEDA to look on only one namespace.

Yeah, the scaling is working correctly, the problem is this: in that eks cluster we run some automation tests that are triggering a lot of pods and new namespaces each day. Maybe that was the problem.

I am still looking and investigating, I uninstalled the keda helm chart and installed again and

[2020-11-27 10:28] tomkerkhove commented on #1377
We can definately do that! If you have suggestions to improve our docs on this as well, we are happy to welcome PRs on https://github.com/kedacore/keda-docs

[2020-11-27 10:54] Shubham82 commented on #1158
I am currently working on enabling gocritic

[2020-11-27 10:57] zroubalik commented on #837
@mzupan keen to send a PR for this?

[2020-11-27 10:59] zroubalik commented on #1377
Absolutely, happy to hear your findings.

[2020-11-29 19:49] goku321 commented on #883
Can I give it a try if that's okay?

[2020-11-29 19:50] mboutet commented on #883
Yes of course! I haven't done anything on my side.

[2020-11-30 11:44] leonfibal opened #1386 "Ability to delay scaling after deployment changes"
Hi,

We are facing some issues/problems with integrating our applications with keda.

## Background:
We have .net based applications with MassTransit/RabbitMQ. When an instance of application starts it configures exchanges and queues (adds proper exchanges mostly).

## Example:
The application X is deployed on kubernetes (with keda scaled object). Keda scales the application within 0-3 range. The

[2020-11-30 13:21] zroubalik commented on #1386
Hi, sorry I don't follow what is your problem. Could you please give us more details?

RabbitMQ queues defined where?

[2020-11-30 13:32] leonfibal commented on #1386
There is one queue per application, it changes rarely. The problem is with exchanges, because they configured when the application starts (basing on registered implementations of IConsumer<TEvent>). Example: https://masstransit-project.com/usage/consumers.html#consumer.

[2020-11-30 14:08] zroubalik commented on #1386
I still don't get it sorry 🤷‍♂️

1. So you have Deployment that's being scaled by RabbitMQ, this points to the `queue A` (the same queue is defined in the ScaledObject).
2. You change the Deployment to consume from `queue B` (and change the ScaledObject to point at `queue B` as well)
3. No scaling is happening... --> here I don't understand why and why it is related to KEDA.

[2020-11-30 14:24] leonfibal commented on #1386
Queue can be bound to many exchanges so an application can consume many types of events from one queue.

1. I have Deployment that's being scaled by RabbitMQ, this points to the queue A (the same queue is defined in the ScaledObject).
2. I change the deployment (the image version in fact) to consume more types of events (lets say - one more event). The deployment and ScaledObject point to queue A.

[2020-11-30 15:31] tomkerkhove commented on #1386
Maybe KEDA is not able to correctly decide if it should scale due to misconfiguration, there are a few options:
1. Change minimum replica count to always have 1 instance
2. Check the logs of KEDA to ensure there are no issues with the configuration

[2020-11-30 15:59] zroubalik commented on #1386
okay, gotcha. I am still not sure what could KEDA do about this as this is something very specific.

You can temporarily remove the ScaledObject, so the Deployment will be scaled to default number of replicas, let it do the configuration changes and the re-create SO, or you can set the `minReplicaCount` to 1 or in the future you can use this potential feature: https://github.com/kedacore/keda/issu

[2020-12-01 10:13] zroubalik commented on #1200
@ycabrer just checking the status. Are you planning to open another PR with the check, please? Or should we track it in some issue as something that's needs to be done. Thanks :)

[2020-12-01 11:03] zroubalik commented on #1311
Reopening, since the problem is not fully solved: https://github.com/kedacore/keda/pull/1322#issuecomment-736348450

[2020-12-01 14:17] beriberikix commented on #538
A third option might be to leverage the new [Service APIs](https://kubernetes-sigs.github.io/service-apis/) aka Ingress V2. Here's an example of a [simple Gateway](https://github.com/kubernetes-sigs/service-apis/tree/master/examples/simple-gateway).

[2020-12-01 15:37] ycabrer commented on #1200
@zroubalik Yes! Let me add a couple of tests for it first and update the changelog/docs.

[2020-12-03 05:20] bkruger99 opened #1392 "Add ability to disable scaling without removing object."
Discussion: https://github.com/kedacore/keda/discussions/1331

With HPA, you can set your deployment (for example) to zero and the HPA won't spin up new pods - disabling the HPA in the process.

What I do like with Keda that I don't want to see go that HPA doesn't allow is exactly the scale to 0 ability for a deployment for example.

### Use-Case

We have cases where I work where we backfill some

[2020-12-03 07:13] tomkerkhove commented on #1210
Adding @jeffhollan @ahmelsayed @anirudhgarg

[2020-12-03 07:34] tomkerkhove commented on #1392
Feels like there is a lot of overlap with https://github.com/kedacore/keda/issues/944 or do you have different needs?

[2020-12-03 11:44] Ritikaa96 commented on #1158
Hi, I'm working on enabling errcheck

[2020-12-04 18:16] goku321 commented on #883
I did a bit of homework and could think of two approaches to this:
1. Include a boolean field `clusterEnabled` and a `clusterClient` field:
[code]

Then, based on `clusterEnabled` field we would know which client to use for redis related operations..

2. Create separate cluster-aware redis scalers. This would have two implementations for each scaler type.

Would really appreciate any alternatives

[2020-12-04 19:47] arschles commented on #1330
Not necessarily @zroubalik. I've used it in several server/daemon projects ([most recent one](https://github.com/gomods/athens). It's really good for allowing users to pass in configs from a variety of different sources. I've used it as part of a configuration hierarchy:

- flags on the command line
- env vars / config files (viper would come in and standardize the file and env var naming scheme)

[2020-12-04 19:48] arschles commented on #1282
@andschneider would you be up for getting this started? A lot of my time is taken getting the [http-add-on](https://github.com/kedacore/http-add-on) started

[2020-12-07 04:41] andschneider commented on #1282
@arschles Yep, if everyone is cool with the direction I'll have some time towards the end of this week to get it going.

[2020-12-07 09:23] #1070 closed

[2020-12-07 13:37] tomkerkhove commented on #883
Although I'm not a fan of the name I think a flag sounds ok for me, wdyt @zroubalik? What about `isClustered` or so?

Are you able to contribute this @goku321?

[2020-12-07 13:58] goku321 commented on #883
Definitely @tomkerkhove. Will start working on it.

[2020-12-07 14:15] rindoze opened #1404 "ScaleDown behavior ignored when using Kafka Scaler"
## Expected Behavior

ScaleDown should scale all pods down, 200 to 0, when no lag exists (see attached scaler config).

## Actual Behavior

Pods are gradually scaled down:

Annotations:                                                                <none>
CreationTimestamp:                                                          Tue, 17 Nov 2020 16:03:03 -0500
Reference:

[2020-12-07 14:20] rindoze commented on #1404
[keda.yaml.zip](https://github.com/kedacore/keda/files/5653203/keda.yaml.zip)

[2020-12-07 14:27] rindoze opened #1405 "Kafka Scaling Doc update"
I had been stumped by a Kafka scaler that wouldn't scale up to my target maxReplicaCount.
After investigation it turned out that the replicas will not exceed the number of partitions on a topic.
This is good behavior, as additional replicas above the partition count would not do anything; however, I could not find any documentation that mentioned this upper bound.
It would be helpful to add this t

[2020-12-07 16:22] mboutet commented on #883
What would the trigger's OpenAPI spec looks like? Right now, the parameters are: `address`, `host`, `port`. For the cluster, they should be `addresses`, `hosts`, and `ports`. Unless `address`, `host`, and `port` are also used when in cluster mode, but it would be an inconsistent naming convention in my opinion. Also, the current redis scalers have the optional `databaseIndex` which is not supporte

[2020-12-07 18:58] jmhoeft commented on #1230
Hey! Somehow just saw this.  Let me remember what I was doing and get it pushed soon. Basically, what I was unsure about was that [this call](https://github.com/kedacore/keda/blob/main/pkg/scalers/aws_cloudwatch_scaler.go#L251) works just fine with multiple dimensions, but I wasn't sure the best way to get the inputs. It will probably require changes to CRDs.

[2020-12-08 05:34] tomkerkhove commented on #883
I'm not a redis expert so I expected those to be identical, but if it's different than a different scaler feels best indeed

[2020-12-08 06:38] tomkerkhove commented on #1404
Thanks for reporting! So the main issue here is that it's stuck on 23 instances instead of 0, is that correct?

[2020-12-08 15:20] goku321 commented on #883
When `hosts` and `ports` are given, I'm assuming there will be one to one mapping in the same order. For example: first host inside `hosts` will be used with the first port inside `ports`.

[2020-12-08 15:27] rindoze commented on #1404
It scales down to 0, the issue is that the defined behavior I have in the config is to immediately scale up to 200 pods (works fine) and then scale down by 200 pods when there is no more lag (lag threshold is 1). This is because I don't want to trigger a rebalance in Kafka by doing a gradual ramp up or down. However, as the log shows it scales down gradually.

[2020-12-08 18:11] fcoedno commented on #1315
I'm having the same issue here. Server version v1.16.15-gke.4300. It happens when installing either by the yaml file or with helm.

[2020-12-09 06:59] mangareader commented on #1315
@fcoedno i dont have any idea to fix the issue, i also try to upgrade to 1.17.13-gke.2001, but still get the error

[2020-12-09 10:11] zroubalik commented on #1404
The scaling is being handled by HPA, you can try to twek the scaling behavior a little bit: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#scaling-policies

You can find this setting under the `spec.advanced` [section](https://keda.sh/docs/2.0/concepts/scaling-deployments/#scaledobject-spec) in the ScaledObject.

[2020-12-09 10:17] fcoedno commented on #1315
Taking a look at the error message `failing or missing response from https://10.44.12.6:6443/apis/external.metrics.k8s.io/v1beta1: Get https://10.44.12.6:6443/apis/external.metrics.k8s.io/v1beta1: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)`, I've realized that this is the very same problem described in the first section of the [Troubles

[2020-12-09 10:55] #1315 closed

[2020-12-09 20:19] slengieza opened #1407 "Provide support for SecretProviderClass as identity provider in TriggerAuthentication"
A clear and concise description of what you want to happen.

### Use-Case

Based on this discussion https://github.com/kedacore/keda/discussions/1387#discussioncomment-176572 I would like to be able to use a SecretProviderClass to mount secrets in a deployment that is scaled using KEDA.

Currently when the deployment scales to 0 the SecretProviderClass is destroyed because nothing is using it, but

[2020-12-10 22:46] bkruger99 commented on #1392
So long as I can disable keda and make changes w/o having to mess with manifest, then yeah, that works.   I'll close this one as #944 seems to be the same.

[2020-12-10 22:46] #1392 closed

[2020-12-10 22:49] bkruger99 commented on #944
Ideally, it would be something where granular permission could be given in the event someone on-call can temporarily disable w/o touching real object w/ any git re-run / etc.  But yeah.  big +1 to this request.

[2020-12-11 06:24] tomkerkhove commented on #1133
Created https://github.com/kedacore/charts/issues/109 to surface this in our Helm chart as well.

[2020-12-11 06:27] tomkerkhove commented on #944
@zroubalik OK for you if we commit to this for our roadmap?

[2020-12-11 08:13] NikitaGandhi opened #1408 "SQS scaler not scaling when setup using role based authentication"
A clear and concise description of what the bug is.
When setting up KEDA scaler using AWS service account role based access as documented [here](https://keda.sh/docs/2.0/scalers/aws-sqs/), it scales down deployment to 0 but then doesn't scale deployment even there are messages in a queue. Also there is no clear example for how to setup SQS scaler using role based authentication.

keda Config file

[2020-12-11 11:28] tomkerkhove commented on #1408
Can you add logs from our KEDA operator please?

[2020-12-11 11:43] #1323 closed

[2020-12-11 13:34] tomkerkhove opened #1410 "Show min/max replica count when using kubectl get scaledobject"
Show minimum replica count when using kubectl get scaledobject.

### Use-Case

This allows operators to easily learn what the replica counts are for scaled objects.

[2020-12-11 13:35] tomkerkhove opened #1411 "Show current replica count when using kubectl get scaledobject"
Show current replica count when using kubectl get scaledobject.

### Use-Case

This allows operators to easily learn what the current count is for scaled objects.

[2020-12-11 13:45] tomkerkhove commented on #1411
We would need to poke HPA every time to check so not worth the resources

[2020-12-11 13:45] #1411 closed

[2020-12-11 15:55] mboutet opened #1413 "RabbitMQ connections are not closed when a cron trigger is active in the same ScaledObject"
RabbitMQ scaler does not seem to properly close connections leading to KEDA being OOM killed and unnecessary memory/cpu pressure on RabbitMQ. This happens when a `ScaledObject` has both an active cron trigger and rabbitmq trigger (active or not).

## Expected Behavior

The connection should be closed after use. In an ideal scenario, connections should be reused as suggested in https://github.com/k

[2020-12-11 16:03] NikitaGandhi commented on #1408
**keda operator logs**
[code]

**SQS queue** has messages
![image](https://user-images.githubusercontent.com/2030490/101925199-b995f080-3c25-11eb-8fde-cd31a6c274d9.png)

**kuberenetes deployment**
[code]

**hpa**
[code]

[2020-12-11 17:40] mboutet commented on #1413
Just to show the waste of resources on RabbitMQ when the cluster is idle (i.e. no load):
<img width="310" alt="Screen Shot 2020-12-11 at 12 38 08 PM" src="https://user-images.githubusercontent.com/52334444/101935998-eefef780-3bad-11eb-9c3a-4f37cf6134a6.png"><img width="289" alt="Screen Shot 2020-12-11 at 12 38 14 PM" src="https://user-images.githubusercontent.com/52334444/101936001-eefef780-3bad-1

[2020-12-12 01:48] balchua commented on #1413
Im not in anyway a rabbitmq expert, but seems like we are not closing the channel but only the connection is being closed.

https://github.com/kedacore/keda/blob/76fb858175075ab21328ebdf3726d6d1f7af064c/pkg/scalers/rabbitmq_scaler.go#L142-L151

If you get the chance to try this out by doing a `s.channel.Close()`.

[2020-12-12 19:42] mboutet commented on #1413
According to https://pkg.go.dev/github.com/streadway/amqp#Connection.Close, one does not need to manually close the channels. Closing the connection will also close all the underlying channels. And from my experience working with `pika` (the AMQP Python client), the behaviour is the same. This is because channels are multiplexed on the connection if I recall correctly.

There may be one or more co

[2020-12-13 18:29] mboutet commented on #1413
I discovered something interesting. I have around 10 `ScaledObject` with a spec containing a `cron` and one or more `rabbitmq` triggers such as:
[code]
In other words, the `my-deployment` will be scaled to zero during the night and weekends. So, the interesting part is that when I deployed in my test env today, I could not observe the excessive connections as I did during the week.

To convince my

[2020-12-14 09:35] zroubalik commented on #1413
@mboutet thanks for report and investigation!

[2020-12-14 09:37] #1413 closed

[2020-12-15 11:45] m-carter1 commented on #801
Has this been fixed in v2? We are unable to run more than 1 job at at time with azure service bus trigger

[2020-12-15 21:17] tomkerkhove commented on #1408
Hm this is odd. If it couldn't authenticate, shouldn't we have logs on that @zroubalik ?

[2020-12-17 12:27] mariusgrigoriu opened #1431 "Kafka Scaler - fatal error: concurrent map read and map write"
Keda sometimes crashes with concurrent map read and write. Our test involves 1000 ScaledObjects all using the Kafka scaler.

## Steps to Reproduce the Problem

Create many SO with the Kafka scaler and wait. We experienced a crash after about 10 minutes from startup with 1000 SO, but YMMV.

## Logs from KEDA operator

[code]

## Specifications

  - **KEDA Version:** 2.0.0
  - **Kubernetes Version:*

[2020-12-17 12:35] mariusgrigoriu commented on #814
+1 to CPU and memory usage rising over time. 1000 SO exclusively using the Kafka scaler:

<img width="803" alt="image" src="https://user-images.githubusercontent.com/415231/102488649-3b6c8c00-4021-11eb-93ef-240fde086302.png">

[2020-12-17 12:36] kwaazaar opened #1432 "Cluster autoscaling for AKS: Request Rate Throttling has been detected for your Cluster"
Out of the box on my first attempt to investigate Keda I run into scaling issues with my cluster.

## Expected Behavior
Cluster autoscaling should keep working. It's the only reason why running functions on AKS (or other auto-scaling clusters) makes sense.

## Actual Behavior
Keda is scaling to 100 replicas. My cluster needs to autoscale to provide the power to run these replicas (from 1 until its

[2020-12-17 15:01] tomkerkhove commented on #1432
Thanks for the report but can you explain a bit further please? This sounds more like an AKS problem rather than KEDA?

[2020-12-18 16:57] tomkerkhove commented on #1039
These should be mitigated in v2.0, can you have a look please?

[2020-12-18 22:58] mboutet commented on #1432
You don't give enough information on your deployment config, but some points to consider:
* Make sure to set adequate resources request for your deployment. Kubernetes uses these to calculate if a pod can be scheduled on a node. If you don't have resources request or if they are too low, k8s will schedule too much pods per node which can lead to resources starvation on that node.
* You can use the

[2020-12-21 05:40] andschneider commented on #1282
@arschles Apologies for the delay - I finally started working on it this weekend.

Here's a [repo](https://github.com/andschneider/keda-mqtt-example) with an example setup for running a MQTT broker and pub/sub components. The basic scaler seems to be working (its on the `mqtt-scaler` branch of my Keda fork). Main things left to do are auth, higher QoS messages, and general robustness.

[2020-12-22 10:14] lgmorand commented on #232
same here. customers are looking for it

[2020-12-22 14:25] tomkerkhove commented on #232
Paging @jeffhollan  to see if we can implement this.

@lgmorand @edrevo What are the scenarios you are looking at? Just change-feed or scale on other metrics/scenarios as well?

[2020-12-22 14:28] edrevo commented on #232
From my side, change feed is enough

[2020-12-22 14:40] lgmorand commented on #232
I have two customers with cosmosdb as the output of databricks and functions in AKS to consume them so changefeed should be perfectly fitted

[2020-12-23 08:27] tomkerkhove commented on #232
This should be feasible, but we need a Go SDK / REST API interface which is probably not available yet.

@jeffhollan  can you follow-up on this please? An alternative approach is to evaluate an external scaler which handles through .NET Core or so.

[2020-12-23 08:40] skyline09 opened #1446 "Failed to SetStatusConditions in kubernetes 1.14"
In kubernetes 1.14 cluster, KEDA 2.0.0 Failed to SetStatusConditions

## Logs from KEDA operator

[code]

But I can get the `ScaledObject` via kubectl 1.14
[code]
## Specifications

  - **KEDA Version:** *v2.0.0*
  - **Platform & Version:** *Bare-metal Linux 3.10*
  - **Kubernetes Version:** *1.14.3*
  - **Scaler(s):** *cron*

[2020-12-23 09:01] zroubalik commented on #1446
I am sorry but KEDA is supported on Kubernetes >= 1.16.0

[2020-12-23 09:01] #1446 closed

[2020-12-23 09:02] fauzankhan007 opened #1447 "After deleting Keda using command kubectl delete -f keda-2.0.0.yaml, kubernetes cluster goes down."
*A clear and concise description of what the bug is.*

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Logs from KEDA operator

*Provide logs from KEDA operator, if need be.*

[code]

## Specifications

  - **KEDA Version:** *Please elaborate*
  - **Platform & Version:** *Please elaborate*
  - **Kubernetes Version:** *Please elaborate*
  - **Scaler(s

[2020-12-23 09:13] fauzankhan007 opened #1448 "Kubernetes Cluster crashes And All namespaces in cluster stuck in terminating state"
When I delete keda using command "kubectl delete -f keda-2.0.0.yaml" my cluster crashes.

Later, I deleted every resources manually, cluster was running until I deleted CRD. once I deleted CRDs my cluster crashed.

`customresourcedefinition.apiextensions.k8s.io "scaledjobs.keda.sh" deleted
customresourcedefinition.apiextensions.k8s.io "scaledobjects.keda.sh" deleted
customresourcedefinition.apiext

[2020-12-23 10:06] tomkerkhove commented on #1282
Great to hear, thanks!

[2020-12-23 10:06] tomkerkhove commented on #1447
Closing as duplicate of https://github.com/kedacore/keda/issues/1448

[2020-12-23 10:06] #1447 closed

[2020-12-23 11:17] fauzankhan007 commented on #1448
@tomkerkhove is this issue has been closed before, if yes then please give me the link of the bug.

[2020-12-23 16:28] fauzankhan007 commented on #1448
Here is output of delete command..

`[root@hostname keda]# kubectl delete -f keda-2.0.0.yaml`
`namespace "keda" deleted
customresourcedefinition.apiextensions.k8s.io "scaledjobs.keda.sh" deleted
customresourcedefinition.apiextensions.k8s.io "scaledobjects.keda.sh" deleted
customresourcedefinition.apiextensions.k8s.io "triggerauthentications.keda.sh" deleted
serviceaccount "keda-operator" deleted
c

[2020-12-23 16:30] fauzankhan007 commented on #1448
Version:
Kubernetes: v1.16.1
Redhat: 7.5
olm: 0.16

[2020-12-23 19:31] tomkerkhove commented on #1448
Maybe @zroubalik can help on this one

[2020-12-23 23:07] mariusgrigoriu commented on #601
Seems like the `WATCH_NAMESPACE` environment variable is not being honored by the operator.

[2020-12-24 01:54] skyline09 commented on #1446
I change the keda-2.0.0.yaml  ScaledObject definition, Now keda-v2.0.0 can run on Kubernetes 1.14
[code]

[2020-12-24 06:30] coderanger opened #1449 "Scaling is slow with many scalers"
I finally go around to doing the 2.0 upgrade, and I'm a little confused at some performance issues.

I have around 700 RabbitMQ ScaledObjects. I wrote a script to convert all of them from the v1 to v2 format, and then did the upgrade. Just to see it reconcile every object once (to add the finalizers) took ~3 hours. And the logs are full of `Throttling request took 29.426205883s, request: GET:https

[2020-12-24 08:57] kwaazaar commented on #1432
The generated deployment (by func kubernetes deploy) does not contain resource requests. I had to add those indeed to prevent the node to become not ready. But my point was about cluster autoscaling of AKS: it's so slow and Keda is creating many replicas (100), that I run into throtling issues with Azure. So it's indeed not a bug in Keda, but a bit more guidance would be nice, so the cluster doesn

[2020-12-24 09:06] tomkerkhove opened #1450 "Provide resource requests/limits for KEDA deployment"
Provide resource requests/limits for KEDA deployment so that we guide our users and not flood a cluster.

[2020-12-24 09:06] tomkerkhove commented on #1432
Thanks for letting us know, would you mind opening an issue on http://github.com/azure/azure-functions-core-tools for the `func kubernetes deploy` please?

I've opened https://github.com/kedacore/keda/issues/1450 & https://github.com/kedacore/charts/issues/112 to provide these resources out-of-the-box as guidance

[2020-12-24 09:07] #1432 closed

[2020-12-26 06:47] coderanger commented on #1449
Aside from the /scale requests handled in #1453, I think the main issue is https://github.com/kedacore/keda/blob/fbfa738bcfd676d1035cb852954ac16c9db70f11/pkg/scaling/scale_handler.go#L378

I think that Get() call is not hitting the informer cache somehow and so is making it all the way to the apiserver. Will have to dig a bit on how the unstructured cache works.

[2020-12-26 06:59] coderanger commented on #1449
![Screen Shot 2020-12-25 at 10 58 20 PM](https://user-images.githubusercontent.com/128243/103146907-b52d0580-4704-11eb-9efa-d7df44296477.png)

The rate has been constant since the 2.0 upgrade so it's not a cold start issue, would have to be completely skipping the cache somehow.

[2020-12-28 04:57] coderanger commented on #1449
So from muddling around in the code I've confirmed there are three places that trigger requests that are getting throttled and generally gumming up the works. The first is the isScalable get which is fixed in #1453. The next is the unstructured object get mentioned above which _should_ be hitting the controller-runtime informer cache, will dig into the more later. And then the third is the scaling

[2020-12-28 05:19] coderanger commented on #1449
Hmm, actually I think lazy eval isn't going to help there. How would you all feel about making some special case implementation for the common core types (basically just Deployment I think?) that uses the plain object for the Get so it can use the informer cache and keep API overhead much lower? Would still need to fall back to /scale for custom resources and for setting things, but making a littl

[2020-12-28 10:52] coderanger commented on #1449
Updates on my performance adventures!

The calls in scale_handler, I just hallucinated that Unstructureds support caching at all, they do not. So I've reworked that code to use a typed get if possible which does hit the cache.

The executor, I put in the Deployment special case and it works very smoothly. Slightly annoying to have the special case but its well contained and with strong fallback.

[2020-12-28 20:34] coderanger commented on #1449
Okay all three issues have PRs open. I split them up for easier review but all three are important for different aspects of performance :)

[2020-12-29 23:45] mariusgrigoriu commented on #1449
Running a build with the 3 PR listed here greatly improves scaling using 1000 ScaledObjects with the Kafka scaler. The creation of HPA objects still takes a long time once there are around 500+ ScaledObjects, but that would probably be another PR.

Thanks to @coderanger for creating these patches. I hope we can see them merged soon.

[2020-12-30 02:14] messense opened #1463 "Kafka scaler fails with write: broken pipe"
## Expected Behavior

Kafka scaler report the error, but continue to work for other trigger.

## Actual Behavior

Kafka scaler report errors about `write: broken pipe` then it never recovery, and other kafka triggers stop working too. After restarting keda-operator it recovers.

## Steps to Reproduce the Problem

  Observed from production, didn't try to reproduce.

## Logs from KEDA operator

[co

[2020-12-30 03:56] messense commented on #1463
Similar issue in knative/eventing: https://github.com/knative/eventing/issues/427

[2020-12-30 03:57] messense commented on #1463
Sarama issue: https://github.com/Shopify/sarama/issues/1162

[2020-12-30 07:45] tomkerkhove commented on #965
Not that I'm aware of. Are you interested in contributing this @lambohamp ?

[2020-12-31 06:26] manvkaur commented on #1279
Hi @cwhfa  and @zroubalik ,
I am facing the similar issue in my AKS cluster. Is there any fix or workaround?

**Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "ScaledObject" in version "keda.k8s.io/v1alpha1"**

Below is my scaled object
`apiVersion: keda.k8s.io/v1alpha1
kind: ScaledObject
metadata:
  name: {{ .Chart.Name}}
  labels:

[2020-12-31 06:34] NUCsimple opened #1465 "Add mongoDB scaler"
Provide a scaler based on a query to mongoDB:

  - **Scaler Source:** *Mongo DB is a database with a large number of users.*
  - **How do you want to scale:** *Scale on target value from mongo query. Similar to mysql.*
  - **Authentication:** *MongoDB client require address and password for authentication*

[2020-12-31 06:51] manvkaur opened #1466 "Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "ScaledObject" in version "keda.k8s.io/v1alpha1""
*A clear and concise description of what the bug is.*

## Expected Behavior
On installing a release on kubernetes using helm 3.2.1. The function should get deployed automatically
helm upgrade --namespace funcapps --install --wait --create-namespace --set image.tag=placeholdertag,image.repository=acrplaceholder funreleasenam placeholderfunccharts

## Actual Behavior
Getting below error on helm inst

[2020-12-31 11:51] manvkaur commented on #1466
Observed the change in apiversion for scaled Object in release 2.0.0
from apiVersion: keda.k8s.io/v1alpha1
to apiVersion: keda.sh/v1alpha1

[2020-12-31 11:51] #1466 closed

[2021-01-01 13:31] tomkerkhove commented on #1466
Just FYI - If you are using Azure Function CLI, you might want to check https://github.com/Azure/azure-functions-core-tools/pull/2289

[2021-01-01 13:33] tomkerkhove commented on #1465
Thanks for the contribution @NUCsimple, we'll review it asap!

[2021-01-02 23:42] msf commented on #1314
I have a similar need. Immediate scale from zero if any message is present in the queue, and then some HPA behaviour based on the queue length size.

[2021-01-04 09:48] zroubalik commented on #1448
Not sure what could be the problem, but the part it is not liking is that namespace is deleted before the resources. You can try to delete the KEDA resources first and then delete the namespace as the last step.

[2021-01-04 09:49] zroubalik commented on #601
How so?

[2021-01-04 09:52] zroubalik commented on #1450
Don't we already have these? https://github.com/kedacore/keda/blob/2a2987ab0f6020cffa9e75e18005469ca3aaf426/config/manager/manager.yaml#L37-L42

[2021-01-04 09:57] tomkerkhove commented on #1450
Closing as we only need them in Helm then, thanks for pointing out!

Should we document them on https://keda.sh/docs/2.0/operate/ as well?

[2021-01-04 09:57] #1450 closed

[2021-01-04 10:05] tomkerkhove commented on #1449
Thanks for the thorough analysis! I'll leave it up to @zroubalik

[2021-01-04 10:08] tomkerkhove commented on #1279
Make sure to use `name` for your `scaleTargetRef` instead of `deploymentName` and that our CRD has been changed to `keda.sh/v1alpha1`. See https://keda.sh/docs/2.0/migration/

[2021-01-04 10:17] tomkerkhove opened #1469 "Provide support for cluster-scoped trigger authentication"
Provide support for cluster-scoped trigger authentication to be able to re-use the authentication across namespaces.

[2021-01-04 11:24] zroubalik commented on #1449
@coderanger that's really awesome. Thanks for the deep research and investigation. Unfortunately, we still don't have a way how to test KEDA behavior with that many scalers to spot this problem, so this will help a lot!

When implementing the relevant parts of code, first I was thinking about implementing a special cases for some resource such as `Deployments` and others when doing `/scale` reques

[2021-01-04 12:14] wiseelf opened #1470 "Unable to remove ScaledObject"
ScaledObject is not being deleted, namespace stuck in Terminating state.

## Expected Behavior
ScaledObject is deleted and namespace is removed.

## Actual Behavior
ScaledObject is not being deleted, namespace stuck in Terminating state.

## Steps to Reproduce the Problem

  1. Deploy ScaledObject into namespace test
  2. kubectl delete ns test
  3. namespace stuck in termination state.

## Logs f

[2021-01-04 13:19] zroubalik commented on #1450
Yeah, that make a sense.

[2021-01-04 13:25] zroubalik commented on #1470
You should delete the ScaledObject before removing the namespace, there are finalizers waiting to be handled in that namespace. You can refer to this blog about this problem: https://www.openshift.com/blog/the-hidden-dangers-of-terminating-namespaces
(if TLDR jump to the `Removing a Terminating Namespace` section)

[2021-01-04 13:25] #1470 closed

[2021-01-04 14:19] zroubalik opened #1473 "Ensure that all query based scalers handles multiple triggers correctly"
If there are multiple triggers in the ScaledObject, we need to be sure, that `metricName` used in `GetMetricSpecForScaling()` for each scaler returns unique `metricName` for the particualar ScaledObject. Most of the scalers should handle this correctly, as the `metricName` is usually based on a queue name or similar value. The `metricName` value should be immutable, eg. should be the same for the

[2021-01-04 15:16] zroubalik commented on #944
@tomkerkhove yeah :)

[2021-01-04 15:22] zroubalik commented on #1330
I agree that we should expose some unified endpoit for configuration. Flags or env Vars are nice to have to, but the solution should definitely provide a `ConfigMap`, that's being watched by the KEDA Operator and values are changed dynamically as they are changed in the CM.

[2021-01-04 16:51] zroubalik commented on #1463
@messense are you willing to fix this one?

[2021-01-04 18:00] mariusgrigoriu commented on #601
While the adapter does honor the variable, the operator does not. Set the variable for the operator to a single namespace and you'll see in the logs that it still operates on all namespaces.

Upon inspecting the operator's code, unlike the adapter, you'll see that the namespace is not set when calling `NewManager`. We will submit a PR soon.

[2021-01-04 18:17] tomkerkhove commented on #601
Thanks!

[2021-01-05 03:13] messense commented on #1463
I'd love to, but I am not sure what is the right way to fix it.

[2021-01-05 18:00] andschneider commented on #1282
Quick update - with holidays and whatnot I haven't been able to spend much time on this. Next week is finally looking all clear though and I should be able to make some progress!

[2021-01-05 18:30] tomkerkhove commented on #1282
That's great, thanks!

[2021-01-06 03:17] worldspawn opened #1479 "Scaling service according to number of active sessions"
### Use-Case

I have a large workload that is bound to a single session id. As a session can only be processed from a single listener (because it locks the session) scaling according to the number of messages in the queue is not... useful.

I've just added 620 messages to a queue all with the same session id and keda has scaled up the service to whopping 16 instances. But unfortunately 15 instance

[2021-01-06 11:20] abhi-dwivedi opened #1482 "My Kafka Consumer and producer are in same deployment but it keep scale up and scale down again and again"
HI Team

after deploy the Keda 1.5 because my k8s version is 1.15 and then I deploy the ScaledObject below is the configuration:

apiVersion: keda.k8s.io/v1alpha1
kind: ScaledObject
metadata:
name: kafka-scaledobject
labels:
deploymentName: kafka-consumer # Required Name of the deployment we want to scale.
spec:
scaleTargetRef:
deploymentName: kafka-consumer # Required Name of the deployment we wa

[2021-01-06 11:38] christle commented on #538
Hi,

this sounds very interesting! Here my 5 cents:

In our current project, we are using the eventhub-scaler. But HTTP autoscaling is of course also interesting, because we have some HTTP triggered Azure Functions within the cluster (I think http scaling is one of the most interesting part for a lot of projects). We are currently integrating the azure monitor scaler to get the corresponding metri

[2021-01-06 12:20] tomkerkhove commented on #1482
Closing as duplicate of https://github.com/kedacore/keda/discussions/1481

[2021-01-06 12:20] #1482 closed

[2021-01-06 12:26] tomkerkhove commented on #1479
That's a good scenario to cover. Are you using a specific scaler or more in general?

With Azure Service Bus you'd use sessions indeed, I'm just wondering how KEDA could know when to scale and when not?

[2021-01-06 12:37] tomkerkhove commented on #538
You can find our experimental add-on here: https://github.com/kedacore/http-add-on

Thanks for your thorough opinion and don't be afraid, we will definitely provide an SMI scaler for sure. We are just carving things out, for now, to come up with the best solution and evaluate the next steps. It is possible that we decide to move things out and integrate with another project, or move scalers back i

[2021-01-06 18:23] MattJeanes commented on #753
This has just bitten me pretty hard on Azure Service Bus / Blob Triggers, the KEDA operator spits out these messages (censored slightly)

[code]

This is marked under milestone 2.0, which I am using, but this doesn't appear to be fixed. I assume this one was missed out since this issue remains open.

For now I will have to work around and resolve these values manually in the ScaledObject though, b

[2021-01-06 19:48] tomkerkhove commented on #753
Sorry about that :/

I think we should add it to our roadmap, thoughts @zroubalik @jeffhollan ?

[2021-01-07 09:42] christle commented on #769
if no one already work on this issue, i think i can start with it, the next couple of days

[2021-01-07 09:46] tomkerkhove commented on #769
That would be great, thanks @christle !

[2021-01-07 10:51] zroubalik commented on #753
@tomkerkhove agree

[2021-01-07 12:59] tomkerkhove opened #1488 "Provide scaler for Azure Data Explorer"
A clear and concise description of what scaler you'd like to use and how you'd want to use it:

  - **Scaler Source:** *Azure Data Explorer*
  - **How do you want to scale:** *Scale based on a Kusto query*
  - **Authentication:** TBD
- **SDK**: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/golang/kusto-golang-client-library

[2021-01-07 13:01] tomkerkhove opened #1489 "Provide scaler for custom metrics in Azure Monitor"
A clear and concise description of what scaler you'd like to use and how you'd want to use it:

  - **Scaler Source:** *custom metrics in Azure Monitor which include Azure Application Insights metrics*
  - **How do you want to scale:** *Based on the value*
  - **Authentication:** *Managed Identity or service principle* (see [docs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metri

[2021-01-07 15:59] #1469 closed

[2021-01-07 22:47] worldspawn commented on #1479
I'm using the `azure-servicebus` trigger currently. I can't see any appropriate method on the REST api that would do this but "Service Bus Explorer" has the ability to produce a list of sessions for a queue (somehow).

[2021-01-07 22:53] worldspawn commented on #1479
Seems to use this method: https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.subscriptionclient.getmessagesessions?view=azure-dotnet#Microsoft_ServiceBus_Messaging_SubscriptionClient_GetMessageSessions

[2021-01-08 07:04] tomkerkhove commented on #1479
Reasonable ask. So if there would be a `useSessions: true` opt-in which would scale based on metrics and sessions that would help you?

[2021-01-08 13:43] zroubalik commented on #1122
Seems like this helped:
https://github.com/kedacore/keda/pull/1485

[2021-01-08 13:47] zroubalik opened #1491 "Redis Cluster e2e are unstable"
Redis Cluster e2e are unstable, most of the e2e tests run in parallel, so it might be worth checking whether there is not a problem.  See https://github.com/kedacore/keda/runs/1668376800?check_suite_focus=true or nightly runs.

**Logs of redis-cluster-streams test:**
[code]

**Logs of redis-cluster-lists test:**
[code]

[2021-01-08 13:48] zroubalik commented on #1491
CC @goku321

[2021-01-08 13:53] goku321 commented on #1491
@zroubalik Thank you for providing the details. I will start on this.

[2021-01-08 13:54] zroubalik commented on #1491
@goku321 thanks!

[2021-01-09 13:07] worldspawn commented on #1479
Yeah that would be great. In this particular case I wouldn't be interested in scaling based on the number of messages at all, only the number of sessions. Because of how the .net client manages concurrency I cannot imagine ever needing to scale based on both queue length and session count at the same time.

[2021-01-10 11:15] petro2050 opened #1494 "Support for Azure function CosmosDBTrigger"
I want to migrate my existing codebase to an AKS cluster, but I've noticed you don't have support for `CosmosDBTrigger` according to https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda. If possible, please add support for this trigger.

### Use-Case

By using a `CosmosDBTrigger`, I can listen to messages in `Change Feed` and create an event-driven architecture that lev

[2021-01-10 18:48] tomkerkhove commented on #1494
Definitely a good use-case, we are already tracking it on https://github.com/kedacore/keda/issues/232.

Thanks for suggesting!

[2021-01-10 18:49] #1494 closed

[2021-01-11 12:29] tomkerkhove commented on #1479
Makes sense, thanks for bringing this up!

[2021-01-11 14:12] surki opened #1498 "metrics server: random errors periodically"
I am seeing random errors periodically like below, which triggers our alerts, so was wondering if this is something known issue.

[code]

## Expected Behavior

Do not see any errors under normal circumstances

## Actual Behavior

## Steps to Reproduce the Problem

## Logs from KEDA operator

*Provide logs from KEDA operator, if need be.*

[code]

## Specifications

  - **KEDA Version:** *2.0*
  -

[2021-01-11 14:24] zroubalik commented on #1498
This might be relevant, we are using the same metrics-adapter library as that project:
https://github.com/DirectXMan12/k8s-prometheus-adapter/issues/292#issuecomment-741773310

Seems like it should be solved in upcoming k8s releases, once we do the update.

[2021-01-11 18:05] zroubalik commented on #1449
@coderanger would you be open to test more tweaks in your large setup? For a long time I'd like to get some data on defining `MaxConcurrentReconciles > 1` in the controller, to see whether there are any benefits.

https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/#controller-configurations

[2021-01-11 18:54] coderanger commented on #1449
@zroubalik I can try that but I don't think it will help. The limiting factor at this point isn't the reconcile time, it's the client-side API call rate limit. Doing more parallel reconciles will just leave more things blocked in a workqueue wait :)

[2021-01-11 22:14] MattJeanes opened #1499 "azure-servicebus scaler erroring with blank error"
I am using the latest KEDA v2 release and after setting up my scaled function and scaled object it outputs every 30 seconds a very non-descriptive error into the keda-operator container logs. My configuration as far as I'm aware is correct and even switching KEDA to use debug logging it still gives no useful information to help me solve this issue.

## Expected Behavior
The scaler should work and

[2021-01-12 06:11] tomkerkhove commented on #1499
Thanks for reporting, we'll get to the bottom of this.

@ahmelsayed can you pick this up?

[2021-01-12 09:46] zroubalik commented on #1449
Are you sure that the bottleneck is the client-side API call rate limit and not the calls to external services to get the metrics (in your case the RabbitMQ)? Just to clarify, I am not trying to say you are wrong, just wanted to double check ;-)

[2021-01-12 11:43] Alexander-Bartosh opened #1500 "Dynamic maxReplicaCount support"
A clear and concise description of what you want to happen.
I would like to be able to change maxReplicaCount based on any scaler

One possible implementation might be :
Change maxReplicaCount of a ScaledObject using a different ScaledObject.

### Use-Case
To maximize utility change maxReplicaCount of a Build agent scaler on cluster scaling.
Do not trigger cluster scaling, but react on it.

In oth

[2021-01-12 12:50] zroubalik commented on #1491
The stability has definitely, but `redis-cluster-streams` seems to still very often fail. @goku321 could you please take a look?

Logs:
[code]

[2021-01-12 12:53] zroubalik opened #1501 "InfluxDB e2e tests are unstable"
The e2e tests keep failing very often on the main build and in nightly run, mostly due to influxdb server is not ready.

Logs:
[code]

[2021-01-12 12:54] zroubalik commented on #1501
@yquansah would you mind looking at this please?

[2021-01-12 12:56] zroubalik opened #1502 "Azure Log Analytics scaler e2e tests are unstable"
There are intermittent e2e tests failures, happing quite often recently on main and nighly build.

Log:
[code]

[2021-01-12 12:57] zroubalik commented on #1502
@spoplavskiy @ahmelsayed FYI

[2021-01-12 13:14] goku321 commented on #1491
Sure @zroubalik I am already trying to figure this one out. I also noticed that `redis-streams` used to fail randomly in previous builds, not sure if this is related. Anyways, will try to fix it asap.

[2021-01-12 14:11] Alexander-Bartosh commented on #944
Guys would implementing something like this handle this case ?
https://github.com/kedacore/keda/issues/1500
If you can define "Maintenance" in a scaler things will work automatically

[2021-01-12 14:35] tomkerkhove commented on #1500
This is not possible but I'm interested in the scenario because if the cluster no longer has the resources, we'll scale them out but they will be in a pending state so not sure if there is an issue or what we are trying to fix here.

[2021-01-12 16:24] yquansah commented on #1501
@zroubalik Yes I can definitely take a look, thanks for addressing this. I wonder why it's taking so long for it to become ready.

[2021-01-12 16:28] Alexander-Bartosh commented on #1500
Pending pod will trigger cluster scale up.
Thus you can not scale you workload to optimally fill in existing resources

[2021-01-12 16:30] Alexander-Bartosh commented on #1500
The maintenance case is also a valid use-case.
 You might want all your "optional" workloads to scale to 0 when cluster gets into maintenance mode

[2021-01-12 17:05] zroubalik commented on #1501
@yquansah bear in mind that we are running a lot of e2e tests in parallel (currently 10) on the same cluster.

[2021-01-12 17:16] bpinske opened #1503 "Rate limiting of v1beta1.external.metrics.k8s.io"
I have keda deployed in all of my environments and I notice that I am getting spammed in all of them with rate limiting notices. Including environments which are not actually using Keda at all yet. Is there anything that I should be doing to address this, or is this a known issue of some sort? I don't see any documentation around this situation. I haven't seen any ill effect on keda's performance

[2021-01-12 18:27] mariusgrigoriu commented on #1449
We tested the PR listed in this issue with 1000 Kafka ScaledObjects. Running all three patches improved the response time for scaling from unusable to roughly equivalent to running 10 operators that each handle 100 Kafka ScaledObjects, which is good.

There are still performance issues with initial setup of HPAs as the number of ScaledObjects increase, however that does not affect scaling and shou

[2021-01-12 20:17] yquansah commented on #1501
@zroubalik Ahh I see. Okay i'll fidget around with this. But the problem is evident which is that the instance is failing to become ready. Other than that, the tests should work.

[2021-01-13 07:13] surki commented on #1498
Okay, will wait for the update and get back later on this.

[2021-01-13 07:21] surki commented on #1503
Thanks @bpinske . I am seeing those errors as well (in AWS EKS 1.18)

[2021-01-13 07:25] surki commented on #1503
Looks like we should do something like this?: https://github.com/DirectXMan12/k8s-prometheus-adapter/pull/335

[2021-01-13 09:53] kibnelbachyr commented on #1489
We have the same need here. can you advice please?

[2021-01-13 10:12] tomkerkhove commented on #1489
There is no scaler for it yet, but you might be able to use our Azure Log Analytics scaler to run a query to fetch them.

[2021-01-13 10:31] zroubalik commented on #1449
@mariusgrigoriu thanks for the info!

You mean that you had 1000 ScaleObjects deployed and ready (HPAs were created) and then you deployed ScaledObject number 1001, the operation for this SO takes ~2 minutes?

[2021-01-14 13:30] zroubalik commented on #1503
Yeah, update of the https://github.com/kubernetes-sigs/custom-metrics-apiserver deps and related code should help. Though it may not be that easy step, as there might be dependency conflicts between mainly (k8s) deps used by KEDA and the updated version of custom-metrics-adapter :(

[2021-01-14 16:11] tomkerkhove commented on #1500
I think I'm not fully getting your proposal. You suggesting to remove the max instance count, but how would we scale then? 🤔

[2021-01-14 17:52] mariusgrigoriu commented on #1449
The patches mentioned in this issue address the issue of scaling responsiveness. However, they don't address the issue of how long it takes for the HPAs to be created. In fairness, it should probably be logged as a separate issue.

The creation of HPA starts slowing down massively after around 500 Scaled Objects. We had 1000 SO, added one more, and waited a couple minutes for that to become ready.

[2021-01-15 06:44] messense commented on #1463
Encountered keda process uses 100% cpu and hangs the other day, strack trace https://gist.github.com/messense/edd2aa366e601c1e2b8cfb96e2bea3c5

[2021-01-15 13:03] medkbadri commented on #1190
@QuintinBecker  are the changes impacted?
when I use bootstrapServersFromEnv parameter, I'm getting this error:
ERROR   controller      Reconciler error        {"reconcilerGroup": "keda.sh", "reconcilerKind": "ScaledObject", "controller": "scaledobject", "name": "kafka-scaledobject", "namespace": "default", "error": "error getting scaler for trigger #0: error parsing kafka metadata: no bootstrapSe

[2021-01-15 14:25] knepe commented on #1314
Hey, any updates on this? :)

[2021-01-17 12:43] natdan commented on #779
+1 for Arm and even more for Arm64 support!
I've found harakka/keda docker images on docker hub that are supporting `keda` and `keda-metrics-apiserver` images which deploy without issues on Arm64, but then struggled with Python3 support (`azure-functions/python:3.0-python3.7` image) for Arm64. There is one and when I try to build it myself it fails at some point...

So, again can we have Arm64 sup

[2021-01-18 09:45] zroubalik opened #1509 "MongoDB e2e tests are failing"
MongoDB tests are constantly failing, see the error log:

[code]

[2021-01-18 09:46] zroubalik commented on #1509
@NUCsimple could you please take a look?

[2021-01-18 12:10] zroubalik commented on #779
@natdan for `azure-functions` ARM support you should raise an issue in the particular azure fn repository, there's nothing we can do from KEDA here.

[2021-01-18 12:24] natdan commented on #779
@zroubalik I know exactly what you're saying for azure-functions but there are two other ways to think about it:
- one can deploy non azure-function with KEDA anyway and benefit of scaling, etc...
- one can use different (if not homebrew/manually compiled) image for azure-functions and benefit from KEDA

There's already image in docker hub under harakka/keda (https://hub.docker.com/r/kedacore/keda

[2021-01-18 12:32] o0oRiCHQRD commented on #1033
@hila3000 surely some forwarding information would be helpful to add to this??? my team finally found a thread describing the same issue as we are experiencing and then it just dies with a reference to an unlinked problem.

Please update the post with some follow on context and a link?

thanks.

[2021-01-18 12:36] zroubalik commented on #779
@natdan absolutely agree on ARM support for KEDA, I was referring to your problems with `azure-functions/python:3.0-python3.7` image :)

Are you willing to contribute the ARM build? My only concern is the actual testing of ARM images, we will need ARM base runner for GH Actions.

[2021-01-18 12:39] natdan commented on #779
@zroubalik fair enough. I can't promise (that I can find another lazy Sunday like yesterday very soon) - but I'm happy to give it a go. As for Arm node - I've got couple of Raspberry Pi 4's with 64 OS on it to try it on. If someone else is to do it - we can try to make an arrangement of a sort, too.

[2021-01-18 12:43] zroubalik commented on #779
We will need a pernament env, that we can use to run the tests periodically. Maybe CNCF could help with this? @tomkerkhove

[2021-01-18 13:51] surki commented on #1503
@zroubalik I will make those changes and send a PR "soon" (have done similar changes for other customer metrics servers, so familiar with the details)

[2021-01-18 13:54] zroubalik commented on #1503
@surki that's great, thanks for doing that!

[2021-01-18 16:37] Alexander-Bartosh commented on #1500
The suggestion is not to remove it, but to make it dynamic, based on a scaler.
That will allow one to optimize resource usage for non-critical workloads.

Lets say you have a backlog of thing to do - MyWorkload
Doing one thing will take away one CPU for some time.
Your cluster is dynamic thought-out the day.
Your workload should not be a decisive factor on the current cluster size
You can tolerate

[2021-01-18 16:46] Alexander-Bartosh commented on #1500
Essentially your workload is running at its maxReplicaCount.
And based on a scaler you ask  yourself - can I ran one more or should I run 1 less ?

[2021-01-18 17:17] q26646 commented on #857
is there an update on this feature request? my guess is a lot of people running in Azure w/ HDInsight have a similar problem

[2021-01-18 22:39] yquansah commented on #1501
@zroubalik I'll have some time to work on this this week. To try reproduce should i just run the `run-all.sh` script?

[2021-01-19 02:10] NUCsimple commented on #1509
Now it should be OK. I passed the local test. Can you help me test again? @zroubalik
![image](https://user-images.githubusercontent.com/37863411/104979127-7dcd2280-5a3e-11eb-9ced-a892ddaa2166.png)

[2021-01-19 09:04] zroubalik commented on #1501
@yquansah cool! Yeah you can use that or  `make e2e-test-local`

FYI, the azure related tests are expected to fail, since you don't have all the credentials.

[2021-01-19 09:42] zroubalik commented on #1509
@NUCsimple I am ready to help you, how can I do that and where did you do the change?

[2021-01-19 12:39] hila3000 commented on #1062
@zroubalik are the fixes you did in -
KEDA Operator: docker.io/zroubalik/keda:gcpclose
KEDA Metrics Adapter: docker.io/zroubalik/keda-metrics-adapter:gcpclose

Also exist in keda 2.0.0 and forward?

[2021-01-19 12:41] hila3000 commented on #1033
@o0oRiCHQRD The issue got resolved by using the new images @zroubalik provided-
KEDA Operator: docker.io/zroubalik/keda:gcpclose
KEDA Metrics Adapter: docker.io/zroubalik/keda-metrics-adapter:gcpclose
+ setting min and max limits on the deployment.

I've asked in the relevant issue corresponding (https://github.com/kedacore/keda/issues/1062) if the fixes from the above images exist in keda 2.0.0 a

[2021-01-19 12:43] hila3000 commented on #1030
@zroubalik v2 is out :) Can you confirm this is working there as expected, and the issue I described here won't reproduce?

[2021-01-19 12:45] zroubalik commented on #1062
@hila3000 yeah, the fix is present in 2.0.0 and forward.

[2021-01-19 12:46] zroubalik commented on #1033
please note that those images are not official, I produced them just for testing purposes. I deifinitely recommend an update  to KEDA v2

[2021-01-19 13:22] zroubalik commented on #1030
It should be working as expected.

[2021-01-19 14:24] zroubalik commented on #1500
This sound more like an custom external scaler? In the scaler you can implement your own scaling logic and scale the target workload based on that.

[2021-01-19 15:17] hila3000 commented on #1062
Great, thanks!

[2021-01-19 15:17] hila3000 commented on #1030
I'll try to test it soon and see. Thanks

[2021-01-19 15:18] hila3000 commented on #1033
Yeah, I just mentioned it here to make sure the fixes are in the official v2.
Once you confirmed it, definitely should use v2 and not the ones I mentioned.

[2021-01-19 16:38] Alexander-Bartosh commented on #1500
The main strength of KEDA is variety of simple scalers.
IMO scalers should remain simple.
And the strength can be multiplied by combining them.

[2021-01-20 03:03] NUCsimple commented on #1509
@zroubalik I just upgraded the image. You don't need to make any changes. You just need to trigger the test again.

[2021-01-20 06:58] tomkerkhove commented on #779
Digging into this as part of https://github.com/kedacore/governance/issues/12 to provide a self-hosted runner.

[2021-01-20 08:35] zroubalik commented on #1509
@NUCsimple great, seems like the test is stable now. Thanks.

Could you please add the test image sources to this directory https://github.com/kedacore/test-tools/tree/master/e2e/images ?

Thanks!

[2021-01-20 10:17] NUCsimple commented on #1509
@zroubalik Okay, I'll add this image later.

[2021-01-20 11:29] hila3000 commented on #788
@zroubalik @tomkerkhove Where can I see the Yamls and Chart? I want to see examples of liveness/readiness configuration.

[2021-01-20 12:07] tomkerkhove commented on #788
Chart can be found here: https://github.com/kedacore/charts/tree/master/keda

[2021-01-20 12:24] #1503 closed

[2021-01-20 17:13] hila3000 commented on #788
@tomkerkhove I don't see there an example for scaledobject.yaml.

This is what I have from version 1.5.0. Should it tweaked to be compatible with v2.0.0?

`apiVersion: keda.k8s.io/v1alpha1
kind: ScaledObject
metadata:
  name: lf-scaledobject-{{ .Values.tenantId }}
  namespace: {{ .Values.lf_namespace }}
  labels:
    deploymentName: log-forwarding-{{ .Values.tenantId }}
spec:
  scaleTargetRef:

[2021-01-20 18:15] tomkerkhove commented on #788
The probes are for KEDA runtime, ScaledObject scales your workload, so you are in control of those probes.

[2021-01-20 18:15] tomkerkhove commented on #788
Or maybe I'm not fully getting your question.

[2021-01-20 18:49] zroubalik commented on #788
You can refer Migration Guide https://keda.sh/docs/2.0/migration/

[2021-01-21 10:28] hila3000 commented on #788
Exactly what I needed :) Thanks!

[2021-01-21 14:20] chinnasamyb opened #1521 "kerbros token based authentication support for kafka scaler"
Requesting a feature to use kerbros token based authentication support for  kafka scaler.   I would like this  feature to support both keytab and password to get kerbros token against Azure Active Directory Domain Services (AADDS)

### Use-Case

We are using Enterprise security package (ESP) enabled HDInsight Kafka cluster in Azure cloud.  The ESP uses Azure Active Directory Domain Services (AADDS

[2021-01-21 17:34] JonasMatos0 commented on #1230
@jmhoeft solution merged on
https://github.com/kedacore/keda/pull/1517
https://github.com/kedacore/keda-docs/pull/352

[2021-01-21 17:38] #1230 closed

[2021-01-21 17:42] zroubalik commented on #1122
Reopening since this test keeps falining.

[2021-01-22 12:27] zroubalik opened #1524 "Add e2e test for Huawei Cloudeye Scaler"
https://github.com/kedacore/keda/tree/main/tests

[2021-01-22 12:28] zroubalik opened #1525 "Add e2e test for AWS CloudWatch scaler"
https://github.com/kedacore/keda/tree/main/tests

[2021-01-22 12:29] zroubalik opened #1526 "Add e2e test for AWS Kinesis Stream Scaler"
https://github.com/kedacore/keda/tree/main/tests

[2021-01-22 12:30] zroubalik opened #1527 "Add e2e test for AWS SQS Queue Scaler"
https://github.com/kedacore/keda/tree/main/tests

[2021-01-22 12:31] zroubalik opened #1528 "Add e2e test for Google Cloud Pub/Sub Scaler"
https://github.com/kedacore/keda/tree/main/tests

[2021-01-22 12:33] zroubalik opened #1529 "Add e2e test for Liiklus Topic Scaler"
https://github.com/kedacore/keda/tree/main/tests

[2021-01-22 14:47] davidallyoung commented on #1479
Hi everyone, just to chime in, we also have a similar use case for sessions. Some context on how we use them:

We utilize the sessions to break up workloads per tenant and help facilitate "fast lanes". It's set up in such a way that some tenants could have more sessions than others, etc. If KEDA could scale based on sessions, it would definitely simplify and make more reliable our scaling strategy

[2021-01-25 11:02] Ritikaa96 commented on #1410
Hi @tomkerkhove are we adding the min/max? is this going forward?

[2021-01-25 11:05] surki opened #1531 "Continuous update of HPA objects"
Even when there are no changes to ScaledObject or HPA, keda-operator continuously updates the HPA after it "finds" the current HPA that's in apiserver and the new HPA that is computed from ScaledObject (in [here](https://github.com/kedacore/keda/blob/1b913f1a765aee1826202b7bd672b46c7123147a/controllers/hpa.go#L109)). We have hundreds of ScaledObjects. leading to too many unnecessary updates to api

[2021-01-25 11:14] Ritikaa96 commented on #1410
I had tweaked with the code to get these before so if it is going forward I can raise the pr. Also as they are fixed can we do something like
`kubectl get so`

`NAME       ......          **REPLICACOUNTRANGE**       READY      ACTIVE       AGE`
`scaledObjectName     .......   **1-30**                              TRUE          TRUE            ..... `

If this is what I think it is.

[2021-01-25 12:04] zroubalik commented on #1531
Thanks @surki for the detailed analysis. The current behavior is not good.

To fix this, we can probably append the generated Resources metrics always at the end the metrics list, in here: https://github.com/kedacore/keda/blob/1b913f1a765aee1826202b7bd672b46c7123147a/controllers/hpa.go#L135

[2021-01-25 12:05] tomkerkhove commented on #1410
We are certainly open for a PR if you want to contribute this @Ritikaa96 - Thanks!

[2021-01-25 12:47] surki commented on #1531
hmm, we don't suppor other HPA resurce types? wondering if should we do something like this

[code]

[2021-01-25 12:53] Ritikaa96 commented on #1410
Sure, thanks @tomkerkhove ! so to be certain we have to add minReplicaCount and maxReplicaCount both right? Like:

`kubectl get so`

`NAME       ......                      **MINREPLICACOUNT**      **MAXREPLICACOUNT**           READY      ACTIVE       AGE`
`scaledObjectName     .......             **1**                                        **30**                                    TRUE

[2021-01-25 12:57] tomkerkhove commented on #1410
I'd go for `MIN REPLICAS | MAX REPLICAS` - OK for you @zroubalik ?

[2021-01-25 13:21] zroubalik commented on #1531
@surki in KEDA we are using `Resource` metric type for CPU/Memory scaler and `External` for all the other scaler, no other types are used. Yeah, this could probably do the job :)

Would you mind sending a PR for this?

[2021-01-25 13:22] zroubalik commented on #1410
@tomkerkhove yeah, I like this

[2021-01-25 13:35] Ritikaa96 commented on #1410
@tomkerkhove  @zroubalik Great then, I'll change the column-names to MIN REPLICAS  &  MAX REPLICAS and raise the PR.

[2021-01-25 14:26] #1509 closed

[2021-01-26 09:48] Ritikaa96 commented on #1410
@tomkerkhove @zroubalik adding MIN | MAX for both scaledObject and scaledJob cases in [#1534](https://github.com/kedacore/keda/pull/1534) FYI.

[2021-01-26 10:51] #1410 closed

[2021-01-26 14:32] zroubalik commented on #1531
@surki we plan to release KEDA 2.1 tomorrow, so please let me know if you are willing to send a PR with this, if not, I'll do that :)

[2021-01-26 14:39] surki commented on #1531
I might not be able to get to this by tomorrow, can you please fix this?

On Tue, Jan 26, 2021 at 8:02 PM Zbynek Roubalik <notifications@github.com>
wrote:

[2021-01-26 14:47] zroubalik commented on #1531
@surki no worries, thanks for the heads up!

[2021-01-26 20:32] yquansah commented on #1501
@zroubalik `e2e-test-local` is not running for me. Doesn't seem to be any status output either.

[2021-01-27 09:31] zroubalik commented on #1501
If you look into the Makefile, you can see that's just a wrapper around:
[code]
These should work for you.

[2021-01-27 12:24] christle commented on #769
Update: i've tested a few frameworks in different languages ​​and searched for differences. I think I can make a PR proposal soon.

[2021-01-27 13:12] #1531 closed

[2021-01-28 06:53] surki commented on #1498
FYI: just upgraded to new version (2.1.0), doesn't help, still seeing these errors in the logs.

[2021-01-28 08:16] idvoretskyi commented on #1040
/cc @idvoretskyi

[2021-01-28 09:43] gordonbondon commented on #1239
I believe this is now released in https://github.com/kedacore/keda/releases/tag/v2.1.0

[2021-01-28 09:43] #1239 closed

[2021-01-28 10:18] zroubalik commented on #1498
@surki thanks for the info :( Based on this comment https://github.com/DirectXMan12/k8s-prometheus-adapter/issues/292#issuecomment-767444375, the issue might be solved by the latest custom-metrics-apiserver update.
Any chance that you can try to build KEDA with this dependency and give it a try? (I am not able to reproduce the issue).

[2021-01-28 13:29] zroubalik commented on #1040
@tomkerkhove I think this is alread done, am I right?

[2021-01-28 14:22] surki commented on #1498
@zroubalik I already updated custom-metrics-apiserver to latest version available (did it as part of adding openapi spec changes). See [here](https://github.com/kedacore/keda/blob/main/go.mod#L29)

Yes, the error doesn't seem to be critical (and our alerts already ignore that specific error). We could close this issue (unless someone wants to keep it open for following up later).

[2021-01-28 14:26] zroubalik commented on #1498
@surki you are right, I thought there's a newer version released in January, but sorry my mistake :)

I think we can keep this issue opened and close once it is resolved.

[2021-01-28 17:41] goku321 commented on #1491
Needs to be reopened 😅

This is fascinating. I couldn't reproduce the failure even for once. I'm surely missing something, will try to figure it out.

[2021-01-28 18:27] tomkerkhove commented on #1040
Yes, through their integration but checking with CNCF to get more insights and apparently GH Actions is the best way to go!

[2021-02-01 06:45] Shubham82 opened #1552 "Remove MIN field from kubectl get scaledjob."
In latest release of KEDA(2.1.0), we added the functionality to show minimum and maximum replicacount for scaledobject and scaledjob when we run `kubectl get scaledobject` and `kubectl get scaledjob` but There is no minRelicaCount kind of thing for scaledjob or not define such thing  when we creating scaledjob object, only maxRelicacount is there for scaledjob, see the scaledjob spec [here](https:

[2021-02-01 06:56] Shubham82 commented on #1552
Could you let me know if it is ok to remove the MIN field from kubectl get scaledjob. If this is valid i would like to work on this.
Thanks

/assign

[2021-02-01 11:56] zroubalik commented on #1552
@Shubham82 good catch. Yes, would be great to fix this!

[2021-02-01 12:10] Shubham82 commented on #1552
Sure thanks! @zroubalik  Will soon create a PR for it.

[2021-02-01 13:00] Shubham82 commented on #1552
@zroubalik i have  Created a PR for it in #1553

[2021-02-01 13:21] Shubham82 commented on #1552
Hi @tomkerkhove @zroubalik should we also update our Helm chart?

[2021-02-01 17:41] idvoretskyi commented on #1040
@tomkerkhove what is the issue with the Snyk app/integration?

[2021-02-02 01:10] dbarentine opened #1554 "Forbidden listing resource statefulsets at the cluster scope"
Fresh install of KEDA 2.1 using Helm and I tried to create a ScaledObject for a StatefulSet but I get the following error:
**ScaledObject doesn't have correct scaleTargetRef specification**

I verified that the statefulset did exist though. I then looked at the log for the keda-operator and saw the following:

2021-02-02T00:49:45.145Z	INFO	controllers.ScaledObject	Reconciling ScaledObject	{"Scaled

[2021-02-02 08:04] #1552 closed

[2021-02-02 09:12] connatix-cradulescu opened #1555 "scalingStrategy not applied on cluster"
Hello,

Scaling job scalingStrategy is not visible on the cluster side and from here I don't think is applied:

Initial yaml fie:
[code]

In cluster yaml:

[code]

I have been trying to add the option of scalingStrategy manually, but the changes shown in you official documentation are not accepted by the keda API,

We are using Kubernetes 1.18 and keda 2.1

Any ideas?

Thank you!

[2021-02-02 09:26] Vince-Chenal opened #1556 "Kafka Scaler - Be able to consider an average lag instead of an instant one"
As discussed within this [discussion](https://github.com/kedacore/keda/discussions/993), it would be very convenient to consider an average value of the consumer lag instead of an instant value.

### Use-Case
In my personal use case I have a topic which receives 30k/sec and behind that I have some consumers that I want to autoscale based on the lag they have. Due to the amount of messages ingested

[2021-02-02 10:38] zroubalik commented on #1554
@dbarentine I suppose you installed KEDA via Helm charts, you are right, we know about the issue. We have already shipped 2.1.1  Helm Charts release that include fix for this:
https://github.com/kedacore/charts/releases/tag/v2.1.1

[2021-02-02 10:38] #1554 closed

[2021-02-02 11:36] zroubalik commented on #1555
@connatix-cradulescu could you please check, that you have correct CRDs installed?

[code]

[2021-02-02 11:48] connatix-cradulescu commented on #1555
Seams is not 👍

[code]

[2021-02-02 11:57] zroubalik commented on #1555
Great, I am glad it is solved :)

[2021-02-02 11:57] #1555 closed

[2021-02-02 14:52] vfoucault commented on #1556
I had a look at this, (not really a keda specialist also) and as specified in the scaler documentation that no state is maintained between scaler's instantiations, what about the following:

- a struct with a `map[time.Time]int64` per scaler, that would be kept within the main loop
- Passed as a pointer to allow updates
- Default behavior to report only 1 value (last poke)
- Behavior with a timeWi

[2021-02-02 17:25] basilfx commented on #779
In the mean time: I've been using [Docker Buildx](https://docs.docker.com/engine/reference/commandline/buildx_build/) to cross-compile ARM64 images on a x64 machine using Qemu and binfmt_misc ([instructions](https://stackoverflow.com/a/65371609/1423623)). For the ones interested, I've applied the [following](https://gist.github.com/basilfx/1c53d8e729408aeab2102addc1b14633) changes to the source, t

[2021-02-02 18:26] goku321 commented on #1491
Searching through the logs, I found a few issues with the tests:
1. Sometimes Redis cluster fails to start with the default timeout, which is 300 seconds. Increasing the timeout might help.

2. I see `MOVED` errors in few logs coming from Redis cluster scaler. This happens when a key is moved(to a different node) from the node being queried. The redis client is supposed to handle this redirection

[2021-02-02 23:34] destumme commented on #769
Would very much appreciate if node was be added to the list of languages to support.

The node library stores the checkpoints at the same path as detailed in the Java issue: https://github.com/kedacore/keda/issues/767#issuecomment-616784583

The main difference it looks like with what is implemented (beyond that path) is the node library stores the properties `sequencenumber` and `offset` on the C

[2021-02-03 07:45] marpio opened #1559 "Add support for authentication (Bearer, Basic Auth and TLS) to the Prometheus scaler"
Add support for authentication (Bearer, Basic Auth and TLS) to the Prometheus scaler.
### Use-Case
I would like to use KEDA in a OpenShift 4 cluster and scale workloads using the Prometheus scaler. OpenShift's monitoring stack includes Prometheus which is accessible via Thanos Querier, which in turn has a oauth-proxy in front of it.
This means that the scaler would need to be able to pass OAuth To

[2021-02-03 09:04] connatix-cradulescu opened #1560 "Not being able to update ScalinJob jobTemplate metadata"
Hi,

I am trying to add a certain label and annotation to a job template but I am not able to do that. Here is my configuration:
[code]
Here is the result in cluster:
[code]

From the format, this would be the logical choice but seems the CRD is ignoring my setup.

Any advice please, on how I can update the metadata?

[2021-02-03 09:11] zroubalik commented on #1491
@goku321 thanks for the investigation! Btw, could be there a problem that all the redis tests run in parallel? Couldn't each test try to deploy and undeploy redis cluster?

[2021-02-03 09:40] zroubalik commented on #1559
Seems like a valid usecase, are you willing to contribute this?

[2021-02-03 10:43] surki commented on #1559
This is (auth) something we are looking for us well, came here to create an issue, found this.
We are looking for something simper though, like basic auth. If there is a consensus, I could add that.

[2021-02-03 11:07] marpio commented on #1559
@zroubalik yes, I can add that. @surki Are planning to add token auth as well or just basic auth?

[2021-02-03 11:12] zroubalik commented on #1559
@marpio @surki cool, I'll leave it up to you! Thanks!

[2021-02-03 11:13] zroubalik commented on #1559
Just please try to follow other scalers and how are they dealing with authentication. So we have consistent user experience. Thx!

[2021-02-03 11:23] zroubalik commented on #1559
@marpio OT, I'd be interested to know more about your usage of KEDA on OpenShift? Could you please contact me on [kubernetes slack](https://kubernetes.slack.com/) or on [email](zroubali@redhat.com)? Thanks!

[2021-02-03 11:35] zroubalik commented on #1556
@vfoucault this is definitely a valid usecase. You are right that no state is maintained between scaler's instantiations.

And we should be very careful wrt storing some data in the controller, since there could be hundreds/thousands of scalers activated. But should be manageable with some sane limiting/cleaning of the TSDB.

As a first step, I'd like to see some implementation of this https://git

[2021-02-03 11:51] zroubalik commented on #1560
Duplicate of: https://github.com/kedacore/keda/issues/1311

[2021-02-03 11:51] #1560 closed

[2021-02-03 14:19] surki commented on #1559
@marpio I am looking at just basic auth. If you are planning to add both, I could wait. thanks.

[2021-02-03 15:15] marpio commented on #1559
@surki yes, I'm planning to do both. I need this feature soon and will start implementing it tomorrow so it shouldn't take long.

[2021-02-03 17:11] goku321 commented on #1491
@zroubalik Thanks for the suggestion. I verified that parallel tests won't create problems. Creating a cluster once would be do.

[2021-02-03 22:08] #1491 closed

[2021-02-03 22:52] avivgold098 opened #1565 "KEDA Operator reaching OOM"
A KEDA operator deployment is suffering from a memory leak, leading to the operator being restarted.

## Expected Behavior

Keda operator is able to run with stable memory performance. Memory usage & connections should remain stable over time.

## Actual Behavior

Keda operator pod memory is increasing over time until the pod is reached to his memory limit, causing OOM.

## Steps to Reproduce the

[2021-02-04 12:39] saralpa commented on #158
Hi,

I am facing the same issue. How you resolved it?

[2021-02-04 13:04] glzbcrt opened #1566 "Azure Storage Queue scaler not working when using Azure Managed Identities"
## Expected Behavior

Use Azure Storage Queue scaler using Azure Managed Identity.

## Actual Behavior

The scaler is not able to authenticate using Azure Managed Identity because the Metadata HTTP header is not sent to Azure IMDS service.
The code where the request is created and sent can be found at the address below.

https://github.com/kedacore/keda/blob/d83a74703726a4625460b541ed51c09bc9186b5

[2021-02-04 13:45] zroubalik commented on #1565
Quickly looking at the logs, it is quite strange, on many lines `ScaledObject.Name` is empty:
[code]

How many ScaledObjects do you have deployed? And what is this giving you:
[code]

[2021-02-04 14:42] avivgold098 commented on #1565
@zroubalik Hey!
I've said in the description that `ScaledObject.Name` is removed (by me) from the logs

[2021-02-04 14:58] zroubalik commented on #1565
@avivgold098 sorry, I missed that note 🤦

Could you please enable debug log level?
https://github.com/kedacore/keda/blob/main/BUILD.md#setting-log-levels

[2021-02-04 16:53] avivgold098 commented on #1565
Yes :)
[keda-operator-debug-logs.txt](https://github.com/kedacore/keda/files/5927251/keda-operator-debug-logs.txt)

[2021-02-04 17:03] zroubalik commented on #1565
@avivgold098 by chance, isn't there something that could modify the scaledobjects? We shouldn't see that much reconciliation happennig on the scaledobjects

[2021-02-04 17:06] zroubalik commented on #1565
Have you run that setup with KEDA 2.0?

[2021-02-04 18:26] avivgold098 commented on #1565
@zroubalik Nothing is modified the `scaledobjects`.

We experienced the same behavior with `Chart: v2.0.1 | App: v2.0.0` setup, thought the upgrade will fix the issue.

[2021-02-05 00:33] ahmelsayed commented on #1565
I have a repro for the issue and I'm looking at it. The frequent reconciliation is odd, but shouldn't cause a memory leak. I had to artificially cause it and can see the memory building up.

[2021-02-05 07:15] tomkerkhove commented on #1040
Nothing, but I thought you wanted to use GitHub Actions instead of it because of our open Snyk Pro ticket?

[2021-02-05 23:17] #1565 closed

[2021-02-08 06:24] tomkerkhove commented on #530
Docs: https://github.com/kedacore/keda-docs/pull/361

[2021-02-09 16:58] dmeytin opened #1587 "KEDA for multi-cluster use-case"
Support workload expansion on multiple clusters
### Use-Case
HTTP/gRPC based workloads have first class support for multi-cluster expansion by several multi-cluster ingress controllers.
But queue workers are more challenging for multi-cluster scheduling.
The list of use-cases when multi-cluster is useful is as following:
-	Support huge workloads that can't fit single cluster's resources
-	Seamless

[2021-02-10 12:19] tomkerkhove commented on #1587
WDYT @zroubalik @jeffhollan @ahmelsayed @anirudhgarg ?

[2021-02-10 18:55] Fillo22 opened #1590 "Azure Functions Socket Error"
Hi everyone,
I'm trying to deploy an Azure Function (Event Hub Triggered), but after starting the pod crashes with the following error:
`
System.Net.Sockets.SocketException (13): Permission denied
`

Event Hub is connected via Private Endpoint and all ports are open.
Keda operator is the latest.
Has anyone ever had the same problem?

_Originally posted by @Fillo22 in https://github.com/kedacore/ke

[2021-02-10 20:29] coderanger commented on #1587
controller-runtime support for multi-cluster operators is still in progress. The latest versions have some basics but probably not ready for full use yet. I would very much avoid spending time on integrating with kubefed tooling given it's level of community uptake has remained extremely low, and last I heard the SIG was focusing on a kubefed2 rebuild.

[2021-02-10 20:45] dmeytin commented on #1587
That is correct , but the link below is to kubefed2 project.
Yet, I believe it could be a great showcase for expansion on multiple
clusters.
Queue workers are significant part of the modern workloads but it is left
without appropriate treatment for multiple cases of cluster’s day two
operations.

On Wed, 10 Feb 2021 at 22:29 Noah Kantrowitz <notifications@github.com>
wrote:

[2021-02-10 21:00] coderanger commented on #1587
The overall direction of controller-runtime is for multi-cluster operators to handle things directly (i.e. talk to the API of every cluster) rather than use a secondary federation backend. Not required, of course, but we're explicitly trying to support that use case.

[2021-02-10 22:10] dmeytin commented on #1587
Sounds great.
Can you please share please the link to PR that I can follow?

On Wed, 10 Feb 2021 at 23:00 Noah Kantrowitz <notifications@github.com>
wrote:

[2021-02-11 06:02] tomkerkhove commented on #1590
This looks more like an issue for Azure Functions team than for KEDA since we just spin up the instances, but don't handle what's inside of it. Makes sense?

[2021-02-11 06:59] coderanger commented on #1587
There's a lot of little pieces. https://github.com/kubernetes-sigs/controller-runtime/pull/1075 has already happened (there's now a Cluster struct distinct from Manager) and https://github.com/kubernetes-sigs/controller-runtime/pull/1192/files will allow multi-instantiation which is part of the same overarching use case in the end.

[2021-02-11 09:22] dmeytin commented on #1587
Awesome!
I would recommend opening a parent feature that will aggregate all pieces
together for simplicity of tracking.
I'm willing to be the better tester for this feature.
In general the solution will not be complete w/o multicluster ingress
controller and DNS service.
For the full reference implementation we should add these components from
the existing 3rd party projects.
WDYT?

On Thu, Feb 11

[2021-02-11 09:29] coderanger commented on #1587
Maybe? KEDA is usually scaling some kind of task worker or consumer system. These are not usually the same components as the web services, instead they communicate through some kind of broker which KEDA is monitoring and creating or removing consumers are needed :) The web tier 100% if you want a federated approach, would need the tools you describe. But the kinds of consumer pods/jobs/etc that KE

[2021-02-11 09:37] dmeytin commented on #1587
That is absolutely correct.
I agree - it's better to keep components loosely coupled and avoid
unnecessary integrations.
As an infra provider I will need to glue all components together for the
holistic solution and it would be great to ensure that integration will go
smoothly.

On Thu, Feb 11, 2021 at 11:30 AM Noah Kantrowitz <notifications@github.com>
wrote:

[2021-02-11 10:57] MCGPPeters commented on #1479
Somewhat connected to this issue.... When downscaling, are receiver instances that are locked taken into account? E.g. are these instances kept alive until the session has completed and the lock has been removed?

[2021-02-11 11:54] tomkerkhove commented on #1479
No because KEDA is not aware of what instances are doing. It just tells Kubernetes to scale from x to y, and the scheduler will kill the required amount of pods.

[2021-02-11 12:23] MCGPPeters commented on #1479
That would be really nice to have, since long running sessions could theoretically span days / months ... Any way you could work around this?

[2021-02-11 13:01] tomkerkhove commented on #1479
The only way to achieve this is to change the application that's running so that when a shutdown is initiated it gracefully abandons the session for somebody else to continue later on.

[2021-02-11 13:27] MCGPPeters commented on #1479
Thanks. That is the strategy I am following atm indeed. Was hoping I could remove some code :)

[2021-02-11 19:04] Fillo22 commented on #1590
It seems to be related with container's permissions. I'm investigating on the cause.

[2021-02-11 20:50] ahmelsayed opened #1599 "Add e2e test for AAD Pod Identity Auth"
**Proposal**

https://github.com/kedacore/keda/tree/main/tests

**Use-Case**

_No response_

[2021-02-12 09:00] tomkerkhove opened #1602 "ScaledObjectCheckFailed for Azure Service Bus should be improved"
**Report**

ScaledObjectCheckFailed for Azure Service Bus should be improved so that when I specify both queue & topic and/or subscription, that it reports that as the issue, not `Error checking metric name uniqueness`.

This is reported in the operator logs, though, so that gives users a pointer but it's a bit hidden.

Relates to https://github.com/kedacore/keda/discussions/1593

**Expected Behav

[2021-02-12 15:12] mjhuber commented on #1231
I ran into this issue on gke as well.  If you're running a VPC native cluster you'll need to add a firewall rule to allow the masters to talk with keda's apiservice (port 6443 by default)

[2021-02-13 05:06] mohsinonxrm commented on #1030
looks like this is still happening:
![image](https://user-images.githubusercontent.com/21046804/107842184-25a3ea80-6d76-11eb-8f6d-9a2938275fd8.png)

![image](https://user-images.githubusercontent.com/21046804/107842191-35bbca00-6d76-11eb-8299-147402271f81.png)

leader election lost...

[2021-02-15 06:47] tomkerkhove opened #1606 "KEDAScaleTargetDeactivated does not correctly specify the scale target kind"
**Report**

KEDAScaleTargetDeactivated does not correctly specify the scale target kind which causes the event message be:

`Deactivated  foo/demo-worker from 1 to 0`

**Expected Behavior**

Have a message such as:

**Actual Behavior**

Emitted message is :

**Steps to Reproduce the Problem**

1. Create deployment
2. Create ScaledObject without specifying kind

**Logs from KEDA operator**

N/A

**

[2021-02-15 06:54] tomkerkhove opened #1607 "Events for failures don't provide nice messages"
**Report**

All our events around failure currently just contain log lines with are not really nice from a consumer perspective.

We should try to improve them so that it's more user friendly.

**Expected Behavior**

Example:
[code]

**Actual Behavior**

Example:
[code]

**Steps to Reproduce the Problem**

1. Create an invalid scaler
2. Wait for events

**Logs from KEDA operator**

N/A

**KEDA Ver

[2021-02-15 08:29] #530 closed

[2021-02-15 10:15] tomkerkhove commented on #1566
@ahmelsayed I don't think we even support Managed Identity as a whole, no? At least it's not documented on https://keda.sh/docs/2.1/scalers/azure-storage-queue/.

[2021-02-15 10:22] #1566 closed

[2021-02-15 14:50] mtparet opened #1611 "Wrong kind of values reported in the HPA resources using AWS SQS"
**Report**

Hello,

We are using Keda 2.1.0 and we setup a scaledobject with a AWS SQS trigger.
We observe sometimes that the HPA is reporting wrong kind of metrics:
[code]

**Expected Behavior**

We should see the right value/kind of metric in the hpa.

**Actual Behavior**

It seems like metrics is reported like CPU `m` sometimes.

**Steps to Reproduce the Problem**

1. Create a scaledobject with

[2021-02-15 17:20] id27182 opened #1612 "Add support for multiple subscriptions to azure service bus scaler"
**Proposal**

Services, developed by my team is organised in a way, where same service listens for messages from multiple subscriptions, connected to same topic. Each topic have own list of subscriptions with unique names, it can be up to 30 subscriptions for same topic and service. It would be nice if there would be an option to specify multiple subscriptions for same scaler object. It would be p

[2021-02-15 17:55] FullyScaled commented on #587
We run into the same problem. The only difference is that there seems to be some issues with the certificates.

[code]

Since we run on a gardener managed kubernetes cluster (azure) we cannot just change the no_proxy variable. Is this the same issue as described here?

[2021-02-15 17:57] FullyScaled opened #1613 "Failed Discovery Check due to certificate problems"
We run into the same problem. The only difference is that there seems to be some issues with the certificates.

[code]

Since we run on a gardener managed kubernetes cluster (azure) we cannot just change the no_proxy variable. Is this the same issue as described here?

_Originally posted by @FullyScaled in https://github.com/kedacore/keda/issues/587#issuecomment-779375274_

[2021-02-16 06:33] #1612 closed

[2021-02-16 07:19] tomkerkhove commented on #1479
WDYT @ahmelsayed?

[2021-02-16 10:09] wagenrace opened #1615 "Azure storage queue: Keda scales down only on visable messages"
**Report**

Keda scales down the pods even when invisible message are still being processed

**Expected Behavior**

Send a message.
Keda scales to 1 pods
Pod processes message.
Pod finishes
Cool down time
Keda scales down to 0 pods

**Actual Behavior**

Send a message.
Keda scales to 1 pods
Keda things queue length is 0
Cool down time
Keda scales down to 0 pods

**Steps to Reproduce the Problem**

[2021-02-16 11:34] tomkerkhove commented on #1615
We do not guarantee that pods will run to completion given we just instruct Kubernetes how many instances we need. It's up to Kubernetes then to manage the pods, which could involve killing instances.

If your process needs to run to completion, you should consider using ScaledJob instead.

[2021-02-16 16:46] hbouissoumer commented on #470
hello all,

we are also experiencing the same issue here, we are using `kube-state-metrics` as a metric provider for our scaling strategy and they keep overriding the `v1beta1.external.metrics.k8s.io ` APIService; it has to be either one or the other, i would be glad to help if i can!

[2021-02-16 21:46] ahmelsayed commented on #1566
@tomkerkhove I think so, I assumed this meant podIdentity mentioned in the example of the TriggerAuthentication there, but I'm not sure if there are other Manged Identity features that we could consider?

[2021-02-17 04:33] jeffjen opened #1619 "Please add Expression field to AWS CloudWatch scaler"
**Proposal**

We'd like to add simple math aggregation to our metric data.

As it stands, we need to write a Lambda Function to poll and compute new metric data from a set of metrics, and then publish them back to cloudwatch.

Would be nice to be able to perform this kind of operation without need to provision Lambda

**Use-Case**

According to https://forums.aws.amazon.com/thread.jspa?threadID=30

[2021-02-17 06:32] tomkerkhove commented on #470
We are definately aware of this and that it's a pain point, sorry! We have a very smart guy in our team who will look into a POC for contributing this upstream.

[2021-02-17 06:37] tomkerkhove commented on #1619
Interesting request as this could be interesting for multiple scalers. What would the expression look like?

[2021-02-17 07:33] coderanger commented on #1619
I would imagine they mean a CloudWatch expression. We hardwire things to MetricStat here https://github.com/kedacore/keda/blob/main/pkg/scalers/aws_cloudwatch_scaler.go#L278 but CloudWatch allows asking for either a single metric or an expression https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_MetricDataQuery.html

[2021-02-17 09:40] tomkerkhove commented on #1619
Makes sense to have this as a field indeed! Are you willing to contribute this @jeffjen ?

[2021-02-17 10:45] wagenrace commented on #1615
Thank you for you response, ScaledJob is indeed a better fit for our problem.
But I still see the behavior that is only scales to visible items in the storage queue.

example:
I have 1 item in the queue. It scales to 1 pod.
Well the pod is running I send a second message (so now I have 1 visible and 1 invisible item in the queue) and it does nothing because 1 item and 1 visible item is correct acc

[2021-02-17 10:52] tomkerkhove commented on #1615
If you send the second message and wait for the polling period to pass; does it still not scale?

[2021-02-17 10:55] wagenrace commented on #1615
Nope, I changed the polling period to 5 seconds and nothing happens till the third message is introduced.

I also tried service bus (they lock message instate of making them invisible) and there it is scaling to the full queue.

Service bus is not an option for us unfortunately

[2021-02-17 14:03] tomkerkhove commented on #1566
Ha, we should document this then as it's not on https://keda.sh/docs/2.1/scalers/azure-storage-queue/

[2021-02-17 14:03] tomkerkhove commented on #1566
I'll pick it up

[2021-02-17 14:08] tomkerkhove commented on #1566
It is documented, I'm just blind 😂

[2021-02-17 14:10] bsstahl commented on #232
Would it be possible to get an update on this? I know it depends on other work outside of the scope of this project but it is also likely to become a blocking issue for me and my company very soon. Have we gotten an ETA on the Cosmos SDK work or REST API that is blocking this issue? Scaling based on the change feed is all I'd need at this point.

[2021-02-17 14:40] tomkerkhove commented on #232
I'll try to get some info

[2021-02-17 15:46] wagenrace commented on #1615
I did manager to work around it by changing the scalingStatergy from default to this:

`
scalingStrategy:
    strategy: "accurate"
    customScalingQueueLengthDeduction: 0
    customScalingRunningJobPercentage: "0"
`

[2021-02-17 16:09] tomkerkhove commented on #1615
Adding @TsuyoshiUshio

[2021-02-17 19:08] Fillo22 commented on #1590
Even if an http trigger is not used, the dotnet core runtime tries to expose a reserved port (1 - 1024), however it does not have the permissions to do this, so it fails. To work around the problem I added an environment variable
`
ENV ASPNETCORE_URLS=http://*:8080
`

and exposed a non-root port.

[2021-02-17 19:08] #1590 closed

[2021-02-18 02:44] jeffjen commented on #1619
I can work on this

My proposed change will be to not mess with multiple metrics in a query since it will change the struct to include an array of dimensions / namespace

The first step will be to just provide a way to add Math Expression for a single metric on designated dimension and namespace.

[2021-02-18 08:08] tomkerkhove commented on #1619
Thanks!

I don't know how the SDK works but I'd just add a new optional `expression` field which just passes through to AWS CloudWatch and let it handle everything?

[2021-02-18 11:39] MaxWinterstein commented on #814
Having only redis scalers and running on 2.0 I can confirm it is still existing for me.

![image](https://user-images.githubusercontent.com/5927148/108351793-46d96080-71e6-11eb-9590-174a6328e7ae.png)

Will try 2.1 and if it still is a thing create some own issue on that as is don't see a reference to redis directly in this one.

[2021-02-18 13:41] tomkerkhove opened #1623 "blobContainer is not validated by Azure Event Hubs scaler"
**Report**

blobContainer is not validated by Azure Event Hubs scaler which is causing issues (see https://github.com/kedacore/keda/discussions/1618)

**Expected Behavior**

KEDA writes log message saying it's missing and people have to fix it.

**Actual Behavior**

Nothing is reported

**Steps to Reproduce the Problem**

See https://github.com/kedacore/keda/discussions/1618

**Logs from KEDA oper

[2021-02-18 14:21] tomkerkhove opened #1624 "Support multiple subscription names in Azure Service Bus scaler"
**Proposal**

Support wildcard for subscription name in Azure Service Bus scaler so that KEDA will take an aggregate of all subscriptions on the topic.

Optional suggestion by Ahmed was to provide a list of subscriptions instead, which might also be a good option, but I would use a list then.

**Use-Case**

https://github.com/kedacore/keda/discussions/1614

[2021-02-19 15:13] MattJeanes commented on #1499
Hi @tomkerkhove / @ahmelsayed, I'm still getting this issue and it's blocking us using KEDA for "serverless" functions on AKS, is there any information I can provide to help out?

[2021-02-19 15:28] tomkerkhove commented on #1499
I'm afraid I'll need @ahmelsayed for this

[2021-02-19 19:56] ahmelsayed commented on #1499
sorry for missing this. taking a look now

[2021-02-19 20:04] ahmelsayed commented on #1499
@MattJeanes can you try updating the `--zap-log-level=info` arg on KEDA deployment to `--zap-log-level=debug` and share the logs?

[2021-02-19 20:24] MattJeanes commented on #1499
@ahmelsayed here is some output logs, note there are a bunch of scalers - one of them at least is working fine which is the nginx scaler, but the others under "test-app" are not. I believe the 'no blobContainerName given' error is likely on me as well, it's primarily the Error getting scale decision on the azure-servicebus triggers which I am trying to investigate here:

[code]

[2021-02-19 21:00] ahmelsayed commented on #1121
Sorry for not replying to this earlier @zroubalik, I know I promised I'll but wanted to take a look at all the scalers, and how they implement connections to get a better feel for what would be the best option here.

The following scalers are the ones that create a client/connection on `New*()` and implement a `Close()` method.

| scaler                     |
|----------------------------|
| azure

[2021-02-19 21:39] mboutet commented on #1121
@ahmelsayed, you can also add https://github.com/kedacore/keda/commit/154364276402783c08fa24e7968fd31b9f89b6a6 to your memory leaks list

[2021-02-20 02:01] pplavetzki commented on #1311
I've been testing this for a few hours and it seems that the metadata isn't being deserialized to the ScaledJob object.  When I submit a scaledjob like this:

[code]
The resulting `kubectl get scaledjob ...` returns

[code]
I've looked at the api and tried debugging through it but can't seem to find why the metadata isn't being deserialized correctly.  If someone points me to the correct location

[2021-02-22 06:37] tomkerkhove opened #1627 "Support metadata annotations in ScaledJob template"
**Proposal**

Support metadata annotations in ScaledJob template to control its behavior

**Use-Case**

https://github.com/kedacore/keda/pull/1322#issuecomment-781691004

[2021-02-22 11:50] shuoliu1 opened #1628 "graphite 支持"
**Proposal**

是否考虑支持 graphite 用作triggers

**Scaler Source**

graphite

**Scaling Mechanics**

水平伸缩

**Authentication Source**

api_key

是否考虑支持 graphite 用作triggers

[2021-02-22 12:52] enjlee opened #1629 "Azure Log Analytics Scaler: Scaled object is defined on http requests but the hpa is scaling on resource cpu on pods (as a percentage of request)"
**Report**

The configured Log analytics Scaler is based on a count metric
[code]

But when I describe the hpa it gives
kubectl describe hpa keda-hpa-kedaloganalytics-dev-us-server-scaled-object

[code]

**Expected Behavior**

Above the metrics should be as defined in the log analytics query which is a count not (resource cpu) .

 kubectl get hpa
[code]

**Actual Behavior**

[code]

**Steps to Rep

[2021-02-22 14:05] honnyzo commented on #1629
Hey, same issue!

[2021-02-22 14:09] kibnelbachyr commented on #1629
We have the exact same issue trying to use Keda to scale applications based on Azure Log Analytics query result !
_Keda version = 2.0.0 and Kubernetes version = 1.18._

[2021-02-22 14:10] id27182 commented on #1624
Hi, @ahmelsayed! Do you plan to work on this during next month ? If no - I'd like to try to implement it

[2021-02-22 14:24] tomkerkhove commented on #1624
That would be awesome! We are always happy to welcome contributions!

[2021-02-22 14:25] tomkerkhove commented on #1628
Would definately be interesting, are you able to contribute this?

[2021-02-22 14:34] tomkerkhove commented on #1629
Would you be able to help @spoplavskiy?

[2021-02-22 15:27] anggao opened #1630 "KEDA should make sure generate correct labels for HPA"
**Report**

2021-02-22T14:36:15.195Z        ERROR   controllers.ScaledObject        Failed to ensure HPA is correctly created for ScaledObj
ect     {“ScaledObject.Namespace”: “XXXXXXX”, “ScaledObject.Name”: “XXXXXXXX-0-model-pod”, “error”: “HorizontalPodAutoscaler.autoscaling \“keda-hpa-XXXXXXXX\” is invalid: metadata.labels: Invalid value: \“keda-hpa-XXXXXXXXXX-\“: a valid label must be an empty

[2021-02-22 20:46] sagar027 opened #1632 "Log Analytics scaler not taking effect"
**Report**

I followed the steps at https://keda.sh/docs/2.1/scalers/azure-log-analytics/  to create a Log Analytics trigger for scaling PODs. I am using the 'Managed Identity' flow for Azure Kubernetes Service (AKS).
All the steps executed fine but when I run the command to get HPA, it seems to be looking for CPU metric instead of the log analytics query result.

**Expected Behavior**

HPA should

[2021-02-23 06:48] sagar027 commented on #1629
Similar issue #1632 .

[2021-02-23 07:58] tomkerkhove commented on #1632
Closing as duplicate of #1629

[2021-02-23 07:58] #1632 closed

[2021-02-23 08:37] #1630 closed

[2021-02-23 09:12] #674 closed

[2021-02-23 09:25] ahmelsayed commented on #1624
Just echoing what @tomkerkhove said 👍

[2021-02-23 10:40] spoplavskiy commented on #1629
@tomkerkhove, could you assign me on this issue. I will have a look this week.

[2021-02-23 12:51] tomkerkhove commented on #1629
Thanks!

[2021-02-23 13:14] shuoliu1 commented on #1628
Consider implementing scalers in combination with Graphite render api

[2021-02-25 01:18] FullyScaled commented on #1613
Problem was caused by keda beeing part of the istio service mesh. Once it was removed out of the mesh everything worked.

[2021-02-25 01:18] #1613 closed

[2021-02-26 09:06] TBeijen opened #1636 "MySQL connections not closed"
**Report**

While experimenting with Keda ScaledObject using a MySQL trigger, we notice the number of connections to our MySQL database increasing indefintely. In an autoscaling cluster (AWS RDS Aurora) at some point we had 15 x ~600 connections. This was using Keda v2.0.0

Upgrading to Keda v2.1.0, hoping that #1416 would fix it, shows a slower ramp-up of connections, but the problem still exists

[2021-02-27 19:10] abhirockzz commented on #232
It *maybe* possible to implement this using a combination of External Scaler and [Change Feed Estimator](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-use-change-feed-estimator).

[2021-02-28 10:12] alegmal commented on #743
Hi,

Is there an update by chance on if this is going to be possible (using regex for queues)?

[2021-03-01 07:22] abowloflrf opened #1639 "memory leak of keda apiserver adapter"
**Report**

Adapter's memory usage keep incresing after i create about 50 ScaledObjects in cluster (about 2-26 11:00 +8:00), each ScaleObject contains two `cron trigger`.

2-26 container memory monitoring:

![image](https://user-images.githubusercontent.com/17028350/109464610-e7ab0400-7aa1-11eb-804e-413ff2880f33.png)

last two days from now(3-1):

![image](https://user-images.githubusercontent.com

[2021-03-01 08:17] tomkerkhove commented on #743
I don't think we've made any progress on this.

[2021-03-01 09:37] ycabrer commented on #1636
I think this one is my bad. The scalers are not being closed after validating the names.

@zroubalik What do you think?

https://github.com/kedacore/keda/blob/aac70e69cfb627f4addb1b8260df6599e8994c8c/controllers/scaledobject_controller.go#L255

[2021-03-01 09:43] abowloflrf commented on #1639
We're currently using Keda in our production cluster now. So I restarted the adapter Pod directly to avoid OOM . But it seems has not help with the memory increasing.

![image](https://user-images.githubusercontent.com/17028350/109479717-a45a9080-7ab5-11eb-9e88-343ae6607c2d.png)

[2021-03-01 11:08] zroubalik commented on #1636
@ycabrer yeah, seems like this is the root of the problem. I am glad we have (hopefully) found the problem quickly  :)

[2021-03-01 13:08] spoplavskiy commented on #1629
@sagar027, @kibnelbachyr, @enjlee
It looks like there was some changes in keda version 2.1.0 that breaks LA scaler.
While I continue to investigate this issue, you can try to run previous version of keda with LA scaler (I have tested it, it works).

You can do it by running the following command: `helm install keda kedacore/keda --version 2.0.1 --namespace keda`

[2021-03-01 17:39] #1606 closed

[2021-03-01 19:58] rwkarg opened #1642 "Document Control Plane to External Metrics Firewall requirements in GKE"
Kubernetes clusters with restrictive access from the Control Plane to Pods and that bypass Services and directly talk to the Pod IP:Ports (such as GKE) will require a Firewall ingress rule from the Control Plane IP range to port 6443 on the Pod subnetwork (or the Service Account of the node pool in the case of GKE).
GKE calls from the Control Plane to an in-cluster service will _not_ be sent to th

[2021-03-01 20:31] spoplavskiy commented on #1629
Update for today:
The issue is happening because of this error during scaler initialisation (in GetMetricSpecForScaling function):

`Post \"https://api.loganalytics.io/v1/workspaces/096b9a59-0c1c-412c-9bf2-61073d0f4309/query\": context deadline exceeded (Client.Timeout exceeded while awaiting headers)`

Sometimes, GetMetricSpecForScaling function executed without error, and scaler initialising suc

[2021-03-01 22:10] rwkarg opened #1643 "RabbitMQ rate based trigger (Published/sec.)"
### Proposal

Add a trigger based on the Published/sec. metric on a queue.

### Use-Case

We have a workload that has a Publishing rate that varies between 1k and 3k/sec. When we are keeping up with the throughput, the Ready count on the queue is 0 regardless of the Publishing rate. Even using the Unacked count, that stay around a few hundred, independent of the Publishing rate. While handling 3k/

[2021-03-02 08:09] tomkerkhove commented on #779
Just as an update - We are getting an ARM machine to run everything on. Stay tuned.

[2021-03-02 11:22] wiseelf opened #1646 "Auditing failed of request: encoding failed: no kind "Scale" is registered for version "apps/v1""
### Report

I see a lot of warnings in kube-apiserver logs about 'no kind "Scale" is registered for version "apps/v1"'
Probably these warnings can lead to increased apiserver latency.

### Expected Behavior

No errors/warnings
How to avoid such errors/warnings to appear?

### Actual Behavior

A lot of warnings in kube-apiserver logs:
[code]

At the same time in keda-operator logs I see this event:

[2021-03-02 16:32] NasAmin commented on #837
Sorry for taking such a long time to get back to this.
I can confim that setting [podSecurityContext](https://github.com/kedacore/charts/blob/master/keda/values.yaml#L73) fixes my problem
Given that:
* I have an IAM role with the appropriate SQS queue permissions
* I have annotated the operator service account with that IAM role
* I have set the security context like this for the operator
[code]

[2021-03-02 16:32] #837 closed

[2021-03-02 16:43] rwkarg commented on #1643
I can take a look at this.

[2021-03-02 21:28] rwkarg commented on #1643
Draft PR here: https://github.com/kedacore/keda/pull/1648

I appear to be having issues connecting to the http API over `https` so that's holding up verifying this locally.

[2021-03-03 06:38] tomkerkhove opened #1650 "Automatically push Docker images to GitHub Container Registry"
Automatically push Docker images to GitHub Container Registry next to our existing images on Docker Hub.

We have secrets already available which you can see here:
https://github.com/kedacore/http-add-on/blob/main/.github/workflows/build_release.yml#L19-L21

Relates to #995
Relates to https://github.com/kedacore/governance/issues/16

[2021-03-03 06:38] tomkerkhove commented on #1650
Since this is in the Makefile, would you be up for doing this @zroubalik?

[2021-03-03 06:40] tomkerkhove opened #1651 "Re-tag and push our existing images in Docker Hub to GitHub Container Registry (GHCR)"
Re-tag and push our existing images in Docker Hub to GHCR so that all our images are available in GitHub Container Registry as well.

Relates to https://github.com/kedacore/governance/issues/16

[2021-03-03 11:00] enjlee commented on #1629
@spoplavskiy @sagar027 Downgrading to keda version 2.0.0 worked.
Initially there were some errors regarding aadpodidentity when I redeployed keda pods.
The error was then patched using below commands.
[code]
Now we are getting the expected metrics in hpa
[code]

[2021-03-03 13:03] zroubalik commented on #1643
Makes sense!

[2021-03-03 13:10] zroubalik commented on #1651
Do we really want to retag the old images? What is the benefit? (In order to consume them, we would need to change the old (already released) manifests.

[2021-03-03 21:21] tomkerkhove commented on #1651
As discussed offline, this was mainly to have all our artifacts in the new place; not perse to regenerate old artifacts/manifests.

https://github.com/orgs/kedacore/packages?type=source

[2021-03-03 21:21] #1651 closed

[2021-03-04 12:09] #1639 closed

[2021-03-04 21:15] smalgin commented on #1281
Bumping this.

[2021-03-04 22:51] arjaiswa opened #1655 "Issue in Keda with Metric API"
I have used below scaled object. Whenever This is getting value from URL and value > target value then its performing scale up and as well as its deleting the same pod.
[code]

Events :
[code]

[2021-03-05 06:26] #1655 closed

[2021-03-05 09:57] EvgenyShv commented on #1629
I'm facing the same issue and, unfortunately downgrading to keda 2.0.0 didn't help.
HPA is trying to use the CPU as a metric.

[code]

ScaledObject:
[code]

No any specific logs from Operator:
[code]

[2021-03-05 10:18] sagar027 commented on #1629
We were able to discover issues after installing keda with verbose logging enabled and then fetching logs of the keda operator pods. I used this command :

helm install keda kedacore/keda --namespace keda --set logging.operator.level=debug --set logging.metricServer.level=4

If you can try and install keda using above commands, I hope you should be able to get better error messages in the keda ope

[2021-03-05 11:52] EvgenyShv commented on #1629
Thanks @sagar027 !
With debug logs I was able to find the issue - there were problems with Service Principal. Now it works.

[2021-03-05 15:22] pragnagopa opened #1657 "Fix documentation to point to right Yaml files"
Files mentioned  in https://keda.sh/docs/1.4/deploy/#yaml

- deploy/crds/keda.k8s.io_triggerauthentications_crd.yaml
- deploy/crds/keda.k8s.io_scaledobjects_crd.yaml

do not exist. Update docs to point to right files

[2021-03-05 15:43] tomkerkhove commented on #1657
Are you willing to contribute this?

[2021-03-05 15:47] pragnagopa commented on #1657
Sure! Let me where to send PRs to update docs

[2021-03-05 15:48] tomkerkhove commented on #1657
Thanks!

[2021-03-09 07:41] mmussett commented on #853
Any update on this? If not started can I pick this up?

[2021-03-09 07:42] tomkerkhove commented on #853
As far as I know, this has not been picked up, thanks for grabbing this one!

[2021-03-09 09:03] zroubalik commented on #1636
@dan-leanix we will discuss 2.2 release on a call next Tuesday, if everything is fine, we will release that week 🤞

[2021-03-09 09:19] dan-leanix commented on #1636
@zroubalik Thanks!

[2021-03-09 12:31] mlushpenko commented on #1636
+1 here, here's what happenned when I've restarted keda-operator that was running postgresql scaler:
![image](https://user-images.githubusercontent.com/2006610/110470741-85728480-80db-11eb-98ad-f149e58873e5.png)

Seems like you need to add `defer s.Close()` [here](https://github.com/kedacore/keda/blob/00400f87bf36edca69c9a9e48c004247130c44e8/pkg/scalers/postgresql_scaler.go#L186)

Is it already in

[2021-03-09 19:47] #1643 closed

[2021-03-10 18:24] arschles opened #1661 "Convenience CLI"
### Proposal

It would be helpful for some users -- as well as folks getting started -- to have a CLI tool that provides commands to submit a `ScaledObject` / `ScaledJob` and other KEDA-specific resources. It would not be complex, but it would provide an imperative interface for KEDA's functionality.

A few more notes:

- This tool would be roughly analogous to the `kubectl create ...` commands, w

[2021-03-10 20:04] scubakiz commented on #1611
We're seeing the exact same issue with RabbitMQ.  It shows 4300m for the value when there are just a 100 messages left in the queue.  It does seem to display the correct value when the message count goes below the value of queueLength.

The HPA works correctly, just the display is off.

[2021-03-11 09:16] tomkerkhove commented on #1661
Duplicate of https://github.com/kedacore/keda/issues/173 I think?

[2021-03-11 22:35] TyBrown opened #1663 "AWS SQS Queue Scaler fails to account for in-flight messages, premature scale down"
### Report

KEDA AWS SQS Scaler fails to account for any in-flight (aka: `NotVisible`) messages when determining if the ScaledObject should scale-in, and prematurely scales the object down, even if the message is still processing/in-flight.

### Expected Behavior

KEDA should wait to scale down until both `ApproximateNumberOfMessagesNotVisible` and `ApproximateNumberOfMessagesNotVisible` reach 0,

[2021-03-12 06:32] tomkerkhove commented on #232
This is coming through an external scaler that you can find here: https://github.com/kedacore/keda-external-scaler-azure-cosmos-db

It is still being developed though.

[2021-03-12 12:43] mlushpenko commented on #1636
@zroubalik sorry to bug you again, could you please confirm that the bug with closed connections will be discussed on Tuesday? I just see some PR referenced regarding memory leaks and not sure if that's related. To me, looks like not using close method is the root cause, but I may be totally off.

[2021-03-12 14:31] zroubalik commented on #1636
The `Close()` method is not called from within the individual scalers, so that's why you don't see that in the particular scaler.

This merged PR should fix this issue: https://github.com/kedacore/keda/pull/1640

Previously there was a code, which initialized scalers but didn't close the connections, now the code is being move to a location where the connections are closed.

[2021-03-12 16:19] devjoes opened #1667 "Metrics API scaler does not support Quantities"
### Report

The metrics API is unable to process Quantities (even simple numeric ones.) This is because they are serialized to strings. KEDA actually returns Quantities itself so this scaler would no be able to process them either.

### Expected Behavior

I receive an API response like this:

[code]

I am able to reference it like this

[code]

### Actual Behavior

The error:
valueLocation must po

[2021-03-12 17:07] mlushpenko commented on #1636
Thanks a lot for your answer, I've deleted one of my comments after re-reading the code, but an extra explanation is always useful. Very eager for the fix - the last obstacle before deploying keda to our production clusters.

[2021-03-12 17:10] zroubalik commented on #1636
@mlushpenko Glad to hear that!

[2021-03-12 20:30] bkrugerp99 commented on #1646
Confirmed seeing this in eks/1.18 w/ keda 2.1.0 as well.

[2021-03-12 22:59] fjmacagno opened #1669 "ScaledJob: index out of range with one broken External scaler"
### Report

When the KEDA operator tries to use a ScaledJob which has a misconfigured scaler address (though it may be any error with a ScaledJob), and there is only one ScaledJob, the operator will crash with the error `panic: runtime error: index out of range [0] with length 0`.

### Expected Behavior

Operator logs error and continues without crashing.

### Actual Behavior

Operator crashes.

#

[2021-03-13 06:20] yolossn commented on #754
@tomkerkhove I would like to work on this. Can you assign this to me?

[2021-03-13 07:30] tomkerkhove commented on #754
Great to hear, thank you!

[2021-03-15 07:07] tomkerkhove commented on #1650
Can we squeeze it in for our next release?

[2021-03-15 08:56] #1663 closed

[2021-03-15 10:10] hasansalimkanmaz opened #1670 "Scale deployments by pre-determined number"
### Proposal

Is it possible to define a scale parameter for scaling deployments by some number? Currently, it is only possible scale deployments by 1. Pods are going from 0 to maxReplicaCount by 1.

### Use-Case

I would like to scale my deployments by 5. For ex. 5-10-15-20. Currently, I can only do it by 1 as 1-2-3-4-5...

I need this for the following. I am using kafka for streaming and I am sc

[2021-03-15 10:24] tomkerkhove commented on #1670
That's a reasonable ask I think, WDYT @zroubalik?

[2021-03-15 10:35] coderanger commented on #1670
This would be a request for an hpa feature I think? Once supported in core then we could add a pass through but keda doesn’t own the pod count calculation.

[2021-03-15 10:58] zroubalik commented on #1670
Yes, we would need HPA to implement this.

For your scenario, you could try to tweak scaling behaviour: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-configurable-scaling-behavior

[2021-03-15 14:09] zroubalik commented on #1669
@fjmacagno  This is happening only if you use ExternalScaler, right?

[2021-03-15 14:15] #1650 closed

[2021-03-15 16:35] fjmacagno commented on #1669
Yes

[2021-03-15 19:10] coderanger commented on #1669
Unfortunately this is not limited to any one scaler. There's another issue open for it already but its a general thing. I'm 99% sure it's because we don't deepcopy the objects before launching the background scaler goroutines but haven't had cycles to check because work crunch time. Happens about once an hour to me using the rabbit scaler.

[2021-03-15 19:43] zroubalik commented on #1669
This is not the same issue, this is related to ScaledJob, when there is one External Scaler with incorrect metadata. Then there s a problem when returning metricSpecs, which are not returned and this could result in Operator panic.

[2021-03-15 20:56] fjmacagno commented on #1627
Are there any plans for this to be implemented?

[2021-03-15 21:30] #1669 closed

[2021-03-15 21:37] fjmacagno commented on #1311
I am using ArgoCD, and i have found that when i try to apply a ScaledJob with a metadata component it thinks that the metadata doen't exists.
Specifically, it notices a difference between the stored job and the actual manifest, where the stored one has `metadata: {}`, but the manifest has metadata populated.

On https://argoproj.github.io/argo-cd/user-guide/diffing/ it suggests that there could be

[2021-03-15 22:06] julienperignon commented on #1311
@fjmacagno

It should come from the PodSpec type (variable name Template)  under the JobSpec

See : https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/batch/v1/types.go#L137
and : https://github.com/kubernetes/kubernetes/blob/58814dbe3fc13602fb8a9ac67f9e046c9eb09326/staging/src/k8s.io/api/core/v1/types.go#L3728

[2021-03-16 03:24] MattJeanes commented on #1499
Hi @ahmelsayed, did you manage to get anywhere with this?

[2021-03-16 11:16] #1667 closed

[2021-03-16 13:08] honnyzo commented on #1629
Hey i did
helm install keda kedacore/keda --namespace keda --set logging.operator.level=debug --set logging.metricServer.level=4

KEDA INFO
CHART              APP VERSION
keda-2.1.3	2.1.0

downgrading version does not do the work either
still no evolution here.
error that i get is that i don't have the required permissions

2021-03-16T12:58:18.260Z	DEBUG	controllers.ScaledObject	All metric names a

[2021-03-16 16:08] hasansalimkanmaz commented on #1670
Thank you very much for your kind and fast replies. I will adapt my code accordingly.

[2021-03-16 16:08] #1670 closed

[2021-03-16 19:35] fjmacagno commented on #1311
@zroubalik I am trying to debug this issue locally, but it is my first foray into the KEDA source (and crds and operators and go unfortunately) so i lack context.

I have the local environment working and duplicating the issue; do you have any suggestions for where to begin the search? Is there any sort of post-processing for the crds, object translation, etc. that is a likely culprit?

[2021-03-17 00:14] fjmacagno commented on #1311
Discoveries so far:
1. If you add a batchv1.ObjectMeta to any other area of the crd, it has the same problem, and is empty.
2. Copying the batchv1.ObjectMeta definition into scaledjob_types.go and using it instead works fine.

[2021-03-17 02:35] mohsinonxrm commented on #779
built the arm64 images here:
https://hub.docker.com/repository/docker/mohsinonxrm/keda
https://hub.docker.com/repository/docker/mohsinonxrm/keda-metrics-apiserver

but looking forward to the above-mentioned solution.

[2021-03-17 09:12] etamarw opened #1681 "The KEDA metrics adapter should expose metrics for scaledjob objects"
### Proposal

The KEDA Metrics Adapter exposes Prometheus metrics for scaledobject.
In order to use scaledjob in production i think it is crucial to have the same metrics exposed for it.

From the docs:
keda_metrics_adapter_scaler_error_totals - The total number of errors encountered for all scalers
keda_metrics_adapter_scaled_object_error_totals- The number of errors that have occurred for each s

[2021-03-17 09:14] etamarw commented on #1681
@TsuyoshiUshio

[2021-03-17 09:43] dan-leanix commented on #1636
@zroubalik Any news if 2.2 gets released this week?

[2021-03-17 09:50] zroubalik commented on #1681
Just to correct the things, HPA and KEDA Metrics Adapter is not used when scaling ScaledJobs. Therefore it makes sense to expose similar metrics from the KEDA Operator.

[2021-03-17 09:51] zroubalik commented on #1636
@dan-leanix if everything will be fine, we are going to release on Thursday 🤞 😄

[2021-03-17 14:03] #654 closed

[2021-03-17 17:27] hopik007 opened #1682 "RoleBinding keda-auth-reader"
### Report

During deploying Keda 2.1.0 issue with starting metrics pod:

W0317 16:10:21.774104       1 requestheader_controller.go:193] Unable to get configmap/extension-apiserver-authentication in kube-system.  Usually fixed by 'kubectl create rolebinding -n kube-system ROLEBINDING_NAME --role=extension-apiserver-authentication-reader --serviceaccount=YOUR_NS:YOUR_SA'

### Expected Behavior

Met

[2021-03-17 17:36] hopik007 commented on #1682
Please check : https://github.com/kedacore/keda/releases/download/v2.1.0/keda-2.1.0.yaml

`kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/name: keda-auth-reader
    app.kubernetes.io/part-of: keda-operator
    app.kubernetes.io/version: 2.1.0
  name: keda-auth-reader
  namespace: keda
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: extension-apiserver-authenticatio

[2021-03-17 17:39] zroubalik commented on #1682
Interesting 🙄  Thanks for reporting, we should fix that for 2.2.

[2021-03-17 17:40] hopik007 commented on #1682
no problem
Thanks you for your effort and perfect job with Keda !

[2021-03-17 19:07] lionelvillard opened #1683 "[KafkaScaler] Scale beyond the number of partitions"
### Proposal

Add an option to disable the check that prevent KafkaScaler to scale beyond the number of partitions

### Use-Case

When KEDA is used to scale CRDs, the number of replicas does not necessarily match the number of Kafka consumers. For instance, KEDA can we used to increase/decrease the throughput (msgs/sec). In this usecase it makes sense to have more replicas than partitions.

[2021-03-17 22:14] fjmacagno commented on #1311
Found a workaround:
[code]
Not a good solution since this file is generated, but will solve it if anyone needs a fix badly.

[2021-03-17 23:54] fjmacagno commented on #1311
Problem is controller-gen is not including anything in metadata from nested contructs: https://github.com/kubernetes-sigs/controller-tools/issues/448

[2021-03-18 07:53] sagar027 commented on #1629
Hi,
I am ot what is exactly causing the error but ran into similar errors when the log analytics query was being sent using http and I realised that a newline (\n) character was getting encoded in the base64. It was getting copied when I was copying keys and then getting encoded too. Hence, I used the 'echo' with '-n' switch to encode the keys and it was good. Maybe you can try something similar :

[2021-03-18 09:03] zroubalik commented on #1311
@fjmacagno great job! I was suspecting problems related to this setting.

We can patch the CRD during the generation, same way it is done for https://github.com/kedacore/keda/issues/927 here:
https://github.com/kedacore/keda/blob/b9d350145c71fbd4680062aee478660d5025b886/config/crd/patches/scaledjob_patch.yaml

[2021-03-18 09:56] honnyzo commented on #1629
Hey @sagar027 thanks for the advice but it is still not working.

Btw forgot to mention that when i installed the previous version of KEDA i don't get this error message about authentication problem..

ChiliMeta_Tenant\\\":\\\"sabdev\\\",\\\"ChiliMeta_Region\\\":\\\"westeurope\\\"}\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"1.0.0.0\",\"\",\"cronjob-sabdev-monitorqueue-1612164600-j7pmr\",\"PC\",\"

[2021-03-18 15:06] #1311 closed

[2021-03-19 12:56] redyamsirisha commented on #624
how we can trigger a single workflow after all other workflows are completed in github actions?

[2021-03-19 12:57] redyamsirisha commented on #1096
how we can trigger a single workflow after all other workflows are completed in github actions?

[2021-03-19 17:00] Rodolfodc commented on #1382
Hi, I recently finished this scaler, but I found out that this scaler makes more sense as being an Openstack metrics scaler instead of being only Openstack AODH Scaler, cause Openstack alarm API (AODH) doens't provide metrics, as it is in AWS CloudWhatch API.
Here it is: https://github.com/kedacore/keda/pull/1689

[2021-03-22 01:16] TsuyoshiUshio commented on #1681
Thank you @etamarw and @zroubalik I'll have a look.

[2021-03-22 09:00] zroubalik commented on #1683
Fine by me!
@tomkerkhove wdyt?

[2021-03-22 09:07] tomkerkhove commented on #1683
Fine by me.

- Tom Kerkhove

________________________________
From: Zbynek Roubalik ***@***.***>
Sent: Monday, March 22, 2021 10:01:01 AM
To: kedacore/keda ***@***.***>
Cc: Tom Kerkhove ***@***.***>; Mention ***@***.***>
Subject: Re: [kedacore/keda] [KafkaScaler] Scale beyond the number of partitions (#1683)

Fine by me!
@tomkerkhove<https://github.com/tomkerkhove> wdyt?

—
You are receiving this

[2021-03-22 09:12] zroubalik commented on #1646
Weird, I am curious to here whether you face this issue with 2.2 as well.

[2021-03-22 09:52] wiseelf commented on #1646
I see the same errors with 2.2.0 as well.

[2021-03-22 12:29] mlushpenko commented on #1636
@zroubalik thanks for releasing, was running it over the weekend and connections seem stable.

[2021-03-22 12:48] zroubalik commented on #1636
@mlushpenko glad to hear that! Thanks for the feedback, closing this issue.

[2021-03-22 12:48] #1636 closed

[2021-03-22 18:02] arschles commented on #1661
Ah, thanks @tomkerkhove. I'll close this and move my comment over to there.

[2021-03-22 18:02] #1661 closed

[2021-03-22 18:17] arschles commented on #173
As I mentioned in #1661, I think there's another possible use case for a `keda` CLI or `kubectl` plugin, and that is to provide users a more convenient way to create `ScaledObject` / `ScaledJob`s (I added a use cases section over in #1661 for those interested). So a CLI could potentially do mutation operations as well.

What do folks think? I can work on this

[2021-03-22 18:22] coderanger commented on #173
I don't think this would be a good user experience to encourage. The use of existing tools like Kubectl's generators is highly correlated with new user confusion about how to maintain things over time. They are great for quick demos but terrible for long-term UX :-(

[2021-03-22 18:55] zroubalik commented on #173
I tend to agree with @coderanger.

And there are other aspects for example from maintenance POV: let' say  we implement this kind of CLI, then it should definitely support ScaledObject creation -> thus it should be able to create a Trigger definition and *validate* it on the client side. And because the triggers specs are not some CRDs, but just key value map, you will need to implement the valida

[2021-03-22 22:23] afine opened #1693 "Cloudwatch scaler support for metrics with no dimensions"
### Proposal

Some metrics do not have dimensions in Cloudwatch. For example, any metric created with a metric filter from cloudwatch logs will not have dimensions. There does not appear to be a way to configure the scaler to use such a metric without throwing an exception on startup.

### Use-Case

_No response_

[2021-03-23 15:03] anggao opened #1694 "Should remove app.kubernetes.io/version label from label selectors"
### Report

When upgrade from KEDA v2.0.0 to v2.2.0, we encountered the following issue

Deployment.apps "keda-operator" is invalid: spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{"app":"keda-operator", "app.kubernetes.io/part-of":"keda-operator", "app.kubernetes.io/version":"2.2.0"}, MatchExpressions:[]v1.LabelSelectorRequirement(nil)}: field is immutable

### Expect

[2021-03-23 15:20] zroubalik commented on #1693
Sounds reasonable, are you willing to contribute this?

[2021-03-23 18:38] zroubalik commented on #1646
Unfortunately I am not able to reproduce the issue (on OpenShift), but it looks to me as a problem in kubernetes apiserver. We are using kubernetes `Scale` kind to initiate the 0<->1 scaling, but the apiversion for this kind is `autoscaling/v1` not `apps/v1`.

[2021-03-23 18:38] zroubalik commented on #1646
Btw you haven't seen this with KEDA 2.0.0?

[2021-03-24 03:40] Rodolfodc commented on #1382
Here is the PR for this new scaler: https://github.com/kedacore/keda/pull/1692

[2021-03-24 10:06] zroubalik commented on #1694
Relevant kustomize issue: https://github.com/kubernetes-sigs/kustomize/issues/1009

[2021-03-24 10:09] #1559 closed

[2021-03-24 12:05] #1694 closed

[2021-03-24 12:37] wiseelf commented on #1646
IDK, didn't check the logs when KEDA 2.0.0 was installed.

[2021-03-24 21:47] nidomoko opened #1697 "Keda Pods CrashLoopBackoff - AKS"
### Report

I have a customer who is experiencing issues with their Keda install via Helm2 (V 1.4.1 and 1.5.0) Kubernetes Version 1.18.14. Pods are deployed, but go into a CrashLoopBackoff state immediately.

We are requesting assistance in trying to determine why this deployment fails when deploying Keda into the Keda namespace. When deployed to a different namespace, i.e. kube-system the deploym

[2021-03-25 06:42] tomkerkhove commented on #1697
We currently only support v1.5 or above, can you please upgrade first?

Also, it would be good to see all the resources that were deployed.

[2021-03-25 07:59] zroubalik commented on #1697
You should consider upgrading to KEDA v2 anyway.

Seems like there's something left in the keda namespace. You can try to wipe and delete this namespace and install again.

[2021-03-25 09:03] bishoybassem opened #1699 "Removing triggers from ScaledObject doesn't reflect in the HPA it manages"
### Report

I have a ScaledObject with several rabbitmq triggers, and when deleting one of them from the SO definition, changes are not propagated to the underlying HPA. Adding triggers work fine though.

Example SO:
[code]

which creates the following HPA:
[code]

modify the SO and delete the 2nd trigger:
[code]

check the HPA:
[code]

notice that KEDA's metrics server is indeed not exposing metr

[2021-03-26 05:27] sagar027 commented on #1629
Hi @honnyzo : sorry the previous reply didn't help. Not sure what could be wrong here. Sharing some additional thoughts : In my scenario, I was using AKS (Azure Kubernetes Service) with Managed Identity and keda was assigned an identity as well for 'Log Analytics Reader'. I see you have given KEDA an Contributor role, which would work if the Log Analytics workspace was in the same management group

[2021-03-26 15:08] smarcu92 opened #1702 "Helm upgrade fails to install clustertriggerauthentications crd"
### Report

Hi,
Not sure if this is the correct place for this however, here we go...
Helm upgrade from 2.0.0 to 2.2.0 fails to install (clustertriggerauthentications.keda.sh crd)
We're running keda v2.0.0 installed via helm 3 on v1.19.6 (AKS)
* Installed using --set=installCRDs=true --set=podIdentity.activeDirectory.identity=<aad_identity>

Since the crd is missing pod fails to start.
(no matches

[2021-03-27 08:06] tomkerkhove commented on #944
Shall we aim for 2.3 for this @jeffhollan @zroubalik ?

[2021-03-27 08:10] coderanger commented on #944
As prior art, CronJob objects have a boolean field for `paused`.

[2021-03-27 08:27] tomkerkhove commented on #944
That's fine by me to have that or something similar.

[2021-03-28 04:49] taxilian commented on #1465
very cool -- wish I knew Go well enough to add support for tls connections. It's certainly possible to specify tls in the connection string, but the most secure way to do mongodb uses tls authentication as well, meaning that you need to not only tell it "use TLS", you need to give it a CA certificate and a client key / certificate to use.

Seems like this could be done either by having the key, ce

[2021-03-28 12:19] leonids2005 opened #1703 "Multiline logs are not handled correctly by Fluentd"
### Proposal

A clear and concise description of what you want to happen.

I am using Fluentd to send logs to ELK and multiline KEDA logs are not handled properly.

Use-Case

### Use-Case

Obviously, it is possible to create a regex definition to handle multiline logs but
the ideal option will be if KEDA logs will be in Json format to make it easier to work with.

Specification
To be more specific

[2021-03-29 07:43] #1683 closed

[2021-03-29 07:45] zroubalik commented on #1465
@taxilian just give it a try, it is not that hard to contribute in Go :)
You can check other scalers how they handle certs referencing, for example Kafka, Metrics API scaler or other ones.

[2021-03-29 07:50] zroubalik commented on #944
Fine by me :) I am still not sure whether we should just explicitly scale to 0 (then I am up for using the same property like CronJob does) or whether we should scale to some specific numbers of replica (this would require a different property)

[2021-03-29 15:43] tomkerkhove commented on #944
Based on what I've heard and seen I think we should consider it explicitly scale to X and "disable/pause" autoscaling without removing the `ScaledObject`.

Then you can do maintenance jobs or so and just put it back to autoscaling when done.

[2021-03-29 15:51] derekperkins commented on #944
One feature that would be nice to have is a duration for the scaling override. It can be all too easy to scale things to 0 when something happens, and then somebody forgets to scale it back up. Being able to say "scale to 0, then return to normal in 4 hours" would solve that problem nicely.

[2021-03-29 16:58] coderanger commented on #944
@derekperkins That realllly doesn't work great in a convergent system :-/ At best you can do "disregard this config after timestamp X" but it's an inherently non-convergent behavior so the edge cases get gnarly.

[2021-03-29 20:08] charandas commented on #1278
The deploy docs shares the helm path, the operator hub (openshift) path, and the one using a yaml manifests.

A kustomization offering is slightly different from offering a single yaml as it will contain a root kustomization alongside the individual kube resources. From that point of view, @kmr0877's ask seems legit here.

[2021-03-29 22:22] Andycharalambous commented on #1181
I realize this is now closed, but I don't think #1197 resolves anything  - this problem is still there. I have a scaled-object that uses connectionFromEnv and the env var in the Deployment does not contain any other environment variable references - it's a pure connection string that just happens to have a "=" padding in the SharedAccessKey value. The only thing of note is that I use the following

[2021-03-30 08:23] tomkerkhove commented on #1278
So it's more a documentation and release artifact ask then?

[2021-03-30 14:10] tomkerkhove commented on #237
Bringing this back up - Should we do anything here?

Kubernetes will just scale the workload for us by using KEDA, but it's up to the workload to implement health checks. If we start monitoring these as well, I think it might go a bit far, no?

[2021-03-30 19:00] tomkerkhove opened #1705 "Provide support for autoscaling Azure Pipelines agent pools"
### Proposal

Provide support for autoscaling self-hosted Azure Pipelines agent pools

### Scaler Source

Azure Pipelines agent pools

### Scaling Mechanics

Scale out/in based on pending jobs

### Authentication Source

PAT Tokens

[2021-03-30 19:01] tomkerkhove commented on #1705
@troydn is working on this

[2021-03-30 19:40] charandas commented on #1278
It's probably this one we are after: https://github.com/kedacore/keda/blob/main/config/default/kustomization.yaml

So it does look like kustomize is already in use, and this becomes merely a documentation task; the release artifact part being taken care of by git tags.

[2021-03-31 07:01] knepe commented on #944
+1 on this feature, would help us **alot**!

[2021-04-01 06:56] davesave commented on #1629
Hi, Is this still an issue in 2.2.0 ? I'm experincing this:
`Inner Error: error calling Log Analytics REST api. Inner Error: Post "https://api.loganalytics.io/v1/workspaces/<REDUCTED>/query": context deadline exceeded (Client.Timeout exceeded while awaiting headers)`
from 10 "so" objects the exists together.
The so status is falpping between True and False for activity.
`Status:
  Conditions:

[2021-04-01 11:46] tomkerkhove commented on #1278
@zroubalik Can we automatically edit and attach this as a new artifact as well?

[2021-04-02 19:05] faun opened #1722 "Support for mutual TLS for Redis connections"
### Proposal

It appears that there is not currently support for mutual TLS when connecting to a Redis database. We use mTLS to connect to our Redis databases. Without this, the connection to the Redis database is rejected. Without the ability to connect to the Redis databases over mTLS means we cannot use the any of the Redis-based functionality in KEDA.

### Use-Case

In order to support connect

[2021-04-03 17:15] leonids2005 commented on #376
I have the same issue and I think the documentation should be updated to mention this.
I am using Azure Function written in C# and scaling does not work until you create azure-webjobs-eventhub container.

[2021-04-06 08:31] zroubalik commented on #1722
Makes sense to me, there are other scalers (eg. Kafka) that support TLS.
Is this something you'd like to contribute?

[2021-04-06 08:37] zroubalik commented on #1278
@tomkerkhove that artifact is basically a template that needs processing (setting versions and patches). Not sure what exactly @charandas would like to see.

@charandas Could you please draft a PR with resources you'd like to see as part of our release?

[2021-04-06 16:15] NasAmin commented on #470
@tomkerkhove Is there any update on this please.
We have the same issue and would really appreciate a solution.
Thanks!

[2021-04-06 16:41] faun commented on #1722
I think so. I'd need some guidance, but yes.

[2021-04-06 16:56] zroubalik commented on #1722
@faun great. As I said, you can check how other scalers implemented this.

[2021-04-06 17:24] tomkerkhove opened #1732 "Provide scaler for GitHub Actions Runner"
### Proposal

Provide scaler for GitHub Actions Runner
https://github.com/actions/runner

### Scaler Source

GitHub Actions Runner queue

### Scaling Mechanics

Automatically scale out based on the pending actions to run.

### Authentication Source

TBD

[2021-04-06 19:44] charandas commented on #1278
@zroubalik it's very little customization on top of what you are offering, basically the tags which could be set using 'kustomize edit set image'.

Currently, I am having to refer to the tag twice like so:

[code]

[2021-04-07 11:38] herrbpl commented on #1702
Have same issue

[2021-04-07 17:18] brianpsr commented on #186
It still seems like there is a real issue here.

keda-hpa-rabbitmq-consumer   Deployment/rabbitmq-consumer   9746600m/10k (avg)   1         30        5          2d

If you what you said true, then the real number the HPA is working with is 9746.6, and yet I have 5 pods. Now mind you 5 pods makes sense, because the real queuelength is around ~49,000 right now, so the HPA is working properly. But I

[2021-04-08 08:54] #1040 closed

[2021-04-08 11:47] MattJeanes commented on #1499
@ahmelsayed sorry to ping but we're still stuck on this issue - is there anything I can do to help this along?

[2021-04-09 05:43] tomkerkhove opened #1735 "Kubernetes Workload Autoscaler"
### Proposal

When workloads on Kubernetes depend on each other, they typically need to scale accordingly.

This helps to avoid flooding downstream services because of scaling out other components.

For example - Workload A processes a queue and interacts with workload B. Workload A can autoscale based on queue depth and workload B on CPU. But in some scenarios, you want to add 1 instance for work

[2021-04-09 22:06] faun commented on #1722
I think we've decided to use the Metrics API scaler instead to simplify things a bit for the first iteration. Thanks for the guidance, @zroubalik!

[2021-04-09 22:06] #1722 closed

[2021-04-12 07:41] andrekiba opened #1736 "[Azure Function] Remove jobs and related pods when work is done"
### Report

I have an Azure Function that processes one message at a time.
The processing takes 5-10 minutes (maybe more) so we diced to use the `ScaledJob` approach.
This is the configuration of the `ScaledJob`:

[code]

The idea of `messageCount=1` in the trigger is to create one job (and pod) for each new message.
The scale-up is ok...the problem is the scale-down...
Is it something related to

[2021-04-12 07:44] coderanger commented on #1736
This sounds like you're looking for more of a functions-as-a-service tool that is hosted in k8s? Not sure Keda is the right tool here. In Keda, it doesn't know anything about task routing or other data-level configuration, just "I should have N jobs" (or N replicas) and it's up to your code to implement a worker model system that matches.

[2021-04-12 08:46] andrekiba commented on #1736
@coderanger sorry what are you saying??? The same behavior works perfectly in case of `ScaledObject`.
So please try to explain eventually.
What I'm saying is that when the job is done Keda must remove the pods, no??

[2021-04-12 09:01] coderanger commented on #1736
Keda doesn't know anything about "when the job is done". It only sees the number of messages in your servicebus queue. And based on that and the queueLength parameter it will spawn some number of job pods. When the number of messages goes down, it will reduce the replica count and Kubernetes will eventually remove those pods. Or similarly if the pod command exits cleanly K8s will consider that job

[2021-04-12 09:10] tomkerkhove commented on #1736
Also note that your parallelism is `1` so you'll always have 1 instance. If your Azure Function never completes (which it doesn't do by default), it will just remain in Running status.

[2021-04-12 09:10] #1736 closed

[2021-04-13 18:33] nilayasiktoprak opened #1738 "Provide scaler for Cassandra"
### Proposal

I'd like to contribute to KEDA by adding a scaler for Cassandra.

### Scaler Source

Cassandra

### Scaling Mechanics

Scale based on query from Cassandra

### Authentication Source

Password authentication will be used.

### Anything else?

I created a "weather scaler" to learn how to write a real scaler. Wanted to share: https://nilayasiktoprak.medium.com/how-to-write-a-weather-sca

[2021-04-13 18:50] melisatanrverdi commented on #1732
Hi, I’ve been learning how to write a Keda scaler for a while. I wrote a basic scaler just to understand the scalers logic and wrote a blog about it, you can read my article here: https://melisatanrverdi.medium.com/how-do-i-cool-pods-with-keda-how-to-write-a-new-scaler-26b4671830bc
I am interested this issue now, could you please give more details about it?

[2021-04-14 00:35] jlewi commented on #1190
I tried it using the latest Keda and it seems to be working.

One issue I ran into is that my deployment had multiple containers and it looks like it was checking the first container from the environment variable.

[2021-04-14 09:07] tomkerkhove commented on #1738
Great suggestion! Are you willing to contribute it?

[2021-04-14 10:51] nilayasiktoprak commented on #1738
Yes, I am :)

[2021-04-14 11:51] tomkerkhove commented on #1738
Awesome, thank you!

[2021-04-14 12:01] zroubalik commented on #1732
Great article! :)

@tomkerhove is the right person that could give you more info.

[2021-04-14 12:02] zroubalik commented on #1738
Great article!

[2021-04-14 13:10] tomkerkhove commented on #1732
The goal here is to autoscale [self-hosted GitHub Actions runners](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners) to meet the current demand for it.

This would please a lot of people as per https://github.com/actions/runner/issues/395.

In order to achieve that, we need to be able to get the related information:
- How do we get the # of pending actions to r

[2021-04-15 10:59] AshutoshNirkhe commented on #946
So following steps mentioned in https://github.com/kedacore/keda/issues/946#issuecomment-675803662, Few comments/questions.
1] We also need to scale down the the v1 keda operator to 0 replicas so that deleted v1 HPA don't get recreated.
2] scaledjob crd has some issues, as I get error when I apply it -
$ kubectl apply -f https://github.com/kedacore/charts/tree/v2.2.0/keda/crds
error: error parsing

[2021-04-16 15:13] zroubalik opened #1744 "Azure Pipelines e2e tests are failing"
### Report

Test output:
[code]

[2021-04-16 15:13] zroubalik commented on #1744
@troydn FYI

[2021-04-19 06:55] zroubalik commented on #1744
Now the test is failing on:

[code]

[2021-04-19 12:15] zroubalik commented on #1744
@troydn ^^

[2021-04-19 18:01] JoeSainsburys commented on #1732
I've done something similar here https://github.com/devjoes/github-runner-autoscaler

[2021-04-20 06:55] troydn commented on #1744
I was able to reproduce this error on my environment after I deleted the branch/repo that was configured on the pipeline. @tomkerkhove Is the pipeline still linked to an existing repo/branch? Could you verify the pipeline runs manually?

[2021-04-20 08:24] tomkerkhove commented on #1744
Should be fixed now!

[2021-04-20 09:41] zroubalik commented on #1744
I can confirm that it is fixed and the test is passing :) thanks!

[2021-04-20 09:41] #1744 closed

[2021-04-21 02:56] shuoliu1 commented on #1628
https://github.com/kedacore/keda/pull/1749

[2021-04-23 18:07] JonasMatos0 commented on #1285
Hi, @djj0809 .

Can you please detail with examples what are the changes related to the Azure National clouds that are not supported on current scaler config implementation?

I'm planning on helping on this issues as soon as I get these details.

[2021-04-23 18:56] matthawley opened #1755 "Service Bus Scaler fails with metric name uniqueness if queue name is listed twice against different namespaces"
### Report

We have defined a scaled object in a way that we wish to monitor multiple namespaces (scale out scenarios) wherein the queue names are identical in each namespace.

[code]

### Expected Behavior

The scaled object should be allowed to scale across different namespaces with the same queue name.

### Actual Behavior

The following message is output "metricName azure-servicebus-tasks0 def

[2021-04-24 08:19] tomkerkhove commented on #1755
Thanks for reporting! We should include the namespace name in the metric name.

Are you willing to contribute this?

[2021-04-24 13:12] melisatanrverdi commented on #1003
Hi, I am interested this issue, could you please give more details about it?

[2021-04-24 23:58] matthawley commented on #1755
@tomkerkhove I would love to, except that I'm following the coding guide and I'm not able to get an remote container built. I could probably add the changes in a PR, but I couldn't verify anything.

[2021-04-26 05:55] tomkerkhove commented on #1732
That looks interesting, thanks for sharing! Feel free to send a PR to https://github.com/kedacore/external-scalers if you want.

However, this seems to rely on Prometheus which is a dependency we'd like to avoid. Can you share a bit on where you get the metrics from?

[2021-04-26 06:02] tomkerkhove opened #1756 "Provide scaler for Elasticsearch"
### Proposal

Provide scaler for Elasticsearch to scale on your metrics:

https://www.elastic.co/infrastructure-monitoring

### Scaler Source

Elasticsearch

### Scaling Mechanics

Scale based on query outcome

### Authentication Source

TBD

### Anything else?

_No response_

[2021-04-26 06:02] tomkerkhove commented on #1003
It looks like I've misread and it's just a way to use agents to get metrics into a variety of output systems such as [Elasticsearch and more](https://www.elastic.co/guide/en/beats/metricbeat/current/configuring-output.html) so I will close this issue, sorry.

I'm opening https://github.com/kedacore/keda/issues/1756 for Elasticsearch instead.

[2021-04-26 06:02] #1003 closed

[2021-04-26 09:38] tomkerkhove commented on #1755
Thanks! Maybe @zroubalik can help with that?

[2021-04-26 11:03] zroubalik commented on #1755
And what exactly is the problem? https://github.com/kedacore/keda/blob/main/BUILD.md#custom-keda-as-an-image should do the job.

[2021-04-26 16:12] matthawley commented on #1755
The remote containers dockerfile is failing to build my image. Attached is the log file.
[keda-logs.txt](https://github.com/kedacore/keda/files/6378537/keda-logs.txt)

[2021-04-27 16:31] JoeSainsburys commented on #1732
Thanks! PR is [here](https://github.com/kedacore/external-scalers/pull/7).

It doesn't rely on Prometheus, it just exports its own metrics which can be consumed by Prometheus if the user wants. Essentially it just exposes a custom metric like this:

[code]

It then uses KEDA's metrics-api trigger to scale on `items.0.value`.

The operator in that repo just wraps up the creation of StatefulSets and

[2021-04-27 18:50] dorroddorrod opened #1757 "Scale to zero with cron trigger"
### Report

Hi !,
I'm running few k8s dev cluster and i would like to scale few deployments to 0 during the weekend to save some costs.
I used the cron trigger to schedule a scale down but nothing really happen
[code]

I probably didn't configure something right.. didnt find any doc's regarding this use-case

### Expected Behavior

The number of replicas should decrease to 0

### Actual Behavior

[2021-04-27 20:50] arschles commented on #1330
Agreed regarding the `ConfigMap`. Would it be appropriate to create a config system that can provide configuration values at any point in time while also allowing a subscriber to get notified when something changed (regardless of the configuration's source)?

[2021-04-27 21:19] arschles commented on #1133
@aman-bansal after https://github.com/kedacore/keda/pull/1758, I don't see anywhere else that uses raw `http.Get` or `http.Client{}` values without timeouts. Do you see anywhere I'm missing?

[2021-04-28 05:52] #1757 closed

[2021-04-29 09:38] zroubalik commented on #1330
Yeah functionality like this would be nice. There are existing patterns for ConfigMap watchers in k8s ecosystem. We should reuse this, to not reinvent the wheel :)

[2021-04-29 18:28] coderanger commented on #1330
Rather than watching a ConfigMap directly, I think it would be better to mount it as a volume and watch the file. While we could use `resourceNames` to make a limited RBAC policy, letting the Kubelet do the API heavy lifting usually simplifies things and allows for a more complex deployment if someone wants to go off the rails ("make the config file however you want as long as you mount it here").

[2021-04-30 03:55] hieumoscow opened #1765 "azure_pipelines_scaler PAT base64 parsing"
https://github.com/kedacore/keda/blob/89da00b24fa961b0c2d58687b031d25cf26e3ce3/pkg/scalers/azure_pipelines_scaler.go#L125

@troydn thanks for this scaler, I am implementing this for one of my customer in Asia.
BTW, When referencing the PAT token, there seems to be an extra "\n" token at the end of the decode PAT value that I had to include a trim method to get rid of it.
[Changes](https://github.c

[2021-04-30 07:14] troydn commented on #1765
@hieumoscow the base64 encoding/decoding should be fine. I'm guessing you are using a secret with TriggerAuthentication?
How did you base64 encode your PAT? If you do this manually you should use `echo -n "PAT" | base64`. The -n option does not output a trailing newline.

[2021-05-03 03:52] hieumoscow commented on #1765
Thanks @troydn, that helped. I tried with both TriggerAuthentication & just pure secret / personalAccessTokenFromEnv like you test.
Works nicely now.

One question is during scaling in, it seems that we are not able to control which pod/runner it's going to terminate. Thus some running pipeline might break because of this. Is there a way to handle this (this is a general KEDA issue I believe)?

My

[2021-05-03 07:58] Shubham82 opened #1776 "MongoDB Scaler: ScaledObject give error when we specify port field value without database name."
### Report

When i have tried MongoDB scalar with the following ScaledObject yaml:
[code]
The ScaledObject is created with False status:
[code]
 And SO show following Warning:
`failed to ping mongoDB, because of connection() error occured during connection handshake: auth error: sasl conversation error: unable to authenticate using mechanism "SCRAM-SHA-1": (AuthenticationFailed) Authentication fai

[2021-05-03 09:16] Shubham82 commented on #1776
I think we should add [here](https://github.com/kedacore/keda/blob/89da00b24fa961b0c2d58687b031d25cf26e3ce3/pkg/scalers/mongo_scaler.go#L181)

[2021-05-03 11:32] zroubalik commented on #1765
Unfortunately there's no way how to control which pod will be scaled down (as KEDA relies on HPA for the scaling). The Pod Cost feature could help with this, but because KEDA is not controlling the applications or data itself, it is very hard for KEDA to actually set the priorities on the scaled pods. We will have to come up with some mechanism.

[2021-05-03 11:45] tomkerkhove commented on #1765
There is also a blog post in the works that talks about this - https://github.com/kedacore/keda-docs/pull/431

Bottom line; use Jobs, not Deployments

[2021-05-03 13:17] Shubham82 commented on #1776
Hi @tomkerkhove @zroubalik

Could you please take a look!

[2021-05-03 15:21] hieumoscow commented on #1765
This is very useful, thanks @tomkerkhove @zroubalik. I have been testing with --once in the agents.
Just running tests to ensure that we can scale out and in without impacting the jobs as well as putting affinity to upgrade k8s gracefully in production.

[2021-05-03 15:21] #1765 closed

[2021-05-04 00:47] coderanger opened #1780 "Docs for metrics-api scaler incorrectly label types of settings"
### Report

Most of the settings listed under Authentication Parameters are actually trigger metadata instead. The examples do show things correctly (I think) but it's hard to understand if you're trying to write a config yourself.

### Expected Behavior

The docs should match reality.

### Actual Behavior

They do not.

### Steps to Reproduce the Problem

1. Read the docs.
2. Write bad code.

###

[2021-05-04 06:16] tomkerkhove commented on #1732
So the statefulset is then in charge of getting the metrics with GitHub to see how many pending actions there are, is that correct?

[2021-05-04 07:29] Ritikaa96 opened #1781 "Stan Scaler: error message consist 'kafka' scaler mention instead of stan scaler"
### Report

While working with stan scaler I deployed this scaledbject:

[code]
As the queuegroup field name was incorrect,
ScaledObject created with False status and HPA not created and this warning shows up:
[code]
Checking in the scaler code i found the cause of this fallacious error:
[code]

### Expected Behavior

ScaledObject should show warning :
[code]

### Actual Behavior

ScaledObject is

[2021-05-04 07:41] Ritikaa96 commented on #1781
Hi , @tomkerkhove @ahmelsayed @zroubalik  . Please take a look.

[2021-05-04 08:35] #1781 closed

[2021-05-04 09:15] #1699 closed

[2021-05-04 16:45] zroubalik commented on #1776
@Shubham82 good catch, you are right. I think that the whole scaler (the input parameters) would really use refactoring on both code and docs side.

Would be great if you can open PRs and we can discuss the changes there, thanks!

[2021-05-04 19:21] JoeSainsburys commented on #1732
So the stateful set just runs https://github.com/myoung34/docker-github-actions-runner
The operator generates a ScaledObject with a trigger like this:
[code]
This queries a deployment called metrics, it is that deployment that checks the queued jobs

[2021-05-05 04:49] Shubham82 commented on #1776
Thanks @zroubalik  for the response.
Will soon create a PR for it.

[2021-05-05 06:10] #769 closed

[2021-05-05 06:29] tomkerkhove commented on #1732
A-ha, now I'm starting to get it - Thanks!

Basically the runner itself has the metrics on the queued jobs, thanks!

[2021-05-05 13:05] Shubham82 commented on #1776
Fixed it here #1787

[2021-05-06 10:39] tomkerkhove opened #1788 "Provide support for Vertical Pod Autoscaler (VPA)"
### Proposal

Provide support for Vertical Pod Autoscaler (VPA) instead of HPA.

### Use-Case

_No response_

### Anything else?

_No response_

[2021-05-06 14:52] jasonpaige opened #1789 "Azure Blob Storage Scaler doesn't list blobs recursively"
### Proposal

I'm not sure if this is a bug in the current implementation but given the default values, if I upload a blob to `foo/bar/blob.txt` the scaler will not "see" the file in order to count it. I _think_ (next to 0 Go knowledge) this is because https://github.com/kedacore/keda/blob/c2ad43eb9adbee0517e01afe60683faf13f8cb2a/pkg/scalers/azure/azure_blob.go#L26 calls `ListBlobsHierarchySegment

[2021-05-06 15:13] kozdincer commented on #1756
I think there are a lot of query types in elasticsearch to configure. Query structures also greatly depending on the document settings.[0]
I think it is very complicated to write a scaler specific to ES.

It can be worked on a generic http scaler with URL setting, CRUD requests (GET queries and POST data), the response handling and necessary auth mechanisms (basic auth, oauth etc.) can be implemen

[2021-05-06 15:18] kozdincer opened #1790 "Provide scaler for Riak TS"
### Proposal

Provide scaler for Riak TS to scale on your metrics:

### Scaler Source

https://riak.com/products/riak-ts/index.html

### Scaling Mechanics

It specifically for IoT and Time Series data. It ingests, transforms, stores, and analyzes massive amounts of time series data.

### Authentication Source

TBD

### Anything else?

I think riak TS and riak KV should be written as separate scale

[2021-05-06 17:35] coderanger commented on #1788
VPA doesn’t have any kind of interaction like we would need for custom metrics, at least not last time I looked. We would need that first. Overall not sure on this one, I think we should wait for some users to weigh in that they specifically need this :)

[2021-05-06 17:38] tomkerkhove commented on #1788
Yes, fully agree.

This came up a few times during our office hours so just using it to track demands.

[2021-05-06 17:39] coderanger commented on #1790
Basho, the company behind Riak, has been defunct since 2017. While it does live on a bit via open source I think this is probably too niche for core inclusion and should be a third party plugin. (Sadly)

[2021-05-06 18:12] kozdincer commented on #1790
New version for riak kv was released yesterday. But I understand your concerns. maybe 3rd part scaler is the best. I understand.
Thank you.

[2021-05-06 18:23] coderanger commented on #1790
Yes Riak KV and maybe CS have seen some continued life, I don’t think TS has? I can’t find much info on it post Basho.

[2021-05-06 18:32] kozdincer commented on #1790
Yes you are right. I don't even know how suitable the metrics to be taken from kv vs cs for using in keda.
Thanks for discussion.

[2021-05-06 18:51] kozdincer commented on #1756
I can prepare a more detailed proposal if you are interested. And there we can discuss there.

[2021-05-07 05:49] tomkerkhove commented on #1756
@melisatanrverdi is working on this

[2021-05-07 06:00] tomkerkhove commented on #1756
@kozdincer I see you've posted some input but have removed it; was it on purpose?

We have @melisatanrverdi working on it but feel free to share thoughts

[2021-05-07 08:01] tomkerkhove commented on #1790
So what I'd propose is to look at an external scaler then and see what the adoption is of it?

We're happy to have a reference to it on https://github.com/kedacore/external-scalers!

[2021-05-07 08:02] tomkerkhove commented on #1789
Thanks for the report! @ahmelsayed can you look into this?

[2021-05-07 13:20] tomkerkhove commented on #863
@ahmelsayed This has been open for a while, would you be able to pick this up?

[2021-05-07 13:32] timja commented on #1789
Based on my knowledge of the Java SDK list by hierarchy is non recursive.

If you want to list everything under a hierarchy you need to check the `isPrefix` field in the response and then recursively call the the list by hierarchy function until `isPrefix` is false.

[2021-05-07 16:11] jasonpaige commented on #1789
Looking at the REST API the Go lib is using that sounds like the same https://docs.microsoft.com/en-gb/rest/api/storageservices/enumerating-blob-resources

The following would have been in the response
[code]
Which indeed needs to be fed into a subsequent request.

Reading the Azure docs for the java sdk you can see the subtle differences between calling the
Hierarchy https://docs.microsoft.com/en

[2021-05-07 18:40] jasonpaige commented on #1789
Yup so testing using the following, I still don't get any jobs running when i upload a blob to a subdir
[code]

Which would suggest to be that somewhere the value for `blobDelimiter` is being populated back with the default value of `/`

[2021-05-07 18:44] jasonpaige commented on #1789
Again, not a golang dev by any stretch but this looks like the potential culprit:
https://github.com/kedacore/keda/blob/c2ad43eb9adbee0517e01afe60683faf13f8cb2a/pkg/scalers/azure_blob_scaler.go#L82-L84

I think a value of `""` is legitimate for `config.TriggerMetadata["blobDelimiter"]` so that I can count _all_ of the blobs in a container, regardless of what structure they may be in (in sub direct

[2021-05-08 08:23] kozdincer commented on #1756
There are too many query types for ES[0]. A wide variety of structured data is sent to the GET request. I don't know how we can make this into the YAML config.

Still, it seemed more appropriate to provide support for SQL[1] and EQL[2]. The only problem here is that EQL and SQL supports are "x-pack"[2]. What are your opinions? @tomkerkhove
@melisatanrverdi

[0] https://www.elastic.co/guide/en/elas

[2021-05-10 05:21] tomkerkhove commented on #1449
Can you give some more information on this or has this been resolved in a newer version?

[2021-05-10 05:22] #1705 closed

[2021-05-10 05:43] coderanger opened #1793 "Merge TriggerMetadata and AuthParams into one concept"
### Proposal

Right now we have two `map[string]string` for each trigger, one is the "metadata", these are coded into the ScaledObject/Job, the other is authentication parameters from The TriggerAuthentication and ClusterTriggerAuthentication types. While some scalers have code to allow some settings to be pulled from either, this is inconsistent. And in general having two parallel data sets incre

[2021-05-10 05:48] tomkerkhove commented on #1793
I'm not sure if I fully get your proposal in the sense that it's just internally merging things in the code, a separate way to configure or something else.

I think it's purely internally but just verifying.

[2021-05-10 05:50] coderanger commented on #1793
Yes, purely internal. I think in the future we could allow for something like embedding a triggerauth spec directly into a trigger definition but that's separate. This would be changing the API exposed to scalers, basically just taking the two existing maps and merging them into one `TriggerSettings map[string]string` or something, and then shifting all scalers to read from that instead of the two

[2021-05-10 08:58] recollir opened #1794 "Metrics for delete scaled objects not removed from keda_metrics_adapter_*"
### Report

keda_metrics_adapter metrics are generated with value 0 for scaled objects have been deleted but have existed previously.

### Expected Behavior

keda_metrics_adapter metrics for deleted scaled objects should not longer be generated

### Actual Behavior

keda_metrics_adapter metrics are still generated for deleted scaled objects (value is 0)

### Steps to Reproduce the Problem

1. Crea

[2021-05-10 09:03] tomkerkhove commented on #1794
Thanks for reporting, would it be possible to share the generated output or not?

[2021-05-10 09:22] recollir commented on #1794
Sure. Output of /metrics. I shortened the name metric for visibility. Other than that it is the output of /metrics for the metrics-server.

So the scaled object A that was removed use a cron scaler. Scaled object B that is still in the cluster is a prometheus scaler.

Since scaled object A is gone I would expect the metrics not longer to be generated for it. I have not tested this with different s

[2021-05-10 09:32] tomkerkhove commented on #1794
Looks like we are not adding times to our metrics, I think if we add that that you should be good to go.

Here is how I do it for promitor.io:
[code]

[2021-05-10 09:52] recollir commented on #1794
Shouldn't the metrics for non-existing Keda objects just be dropped and not longer be generated? If I restart Keda (the metrics-server) the metrics for the non-existing scaled objects are gone and not exported anymore.

I think that would be the cleaner solution as it also allows to do a `count` over the metric names to get a picture over the current keda usage in the cluster: how many scaled obje

[2021-05-10 12:58] tomkerkhove commented on #1794
I think it's not one or the other but both so that Grafana/Prometheus/... know when it was last measured and when it gets GC it will be removed.

[2021-05-10 13:30] vinothav commented on #879
Hi @tomkerkhove:

I face the same issue in AWS EKS.

Environment: AWS EKS
Region: Ireland
EKS Version: 1.19

apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: xxxx
  namespace: xxx
spec:
  scaleTargetRef:
    name: xxxx
  pollingInterval: 30
  cooldownPeriod:  300
  minReplicaCount: 1
  maxReplicaCount: 15
  triggers:
    - type: rabbitmq
      metadata:
        host: amqp://xxx:xx

[2021-05-10 13:31] vinothav commented on #879
@heavenwing: Did you manage to fix this issue with a workaround?

[2021-05-10 13:40] tomkerkhove commented on #879
What version of KEDA are you running? Also v1.4.1?

[2021-05-10 14:20] tomkerkhove commented on #1794
@tbickford can you give some guidance?

[2021-05-11 01:35] gigi-at-zymergen opened #1797 "external.metrics API returns empty resource list when no scaledObject or scaledJob defined using external.metrics"
### Report

The Keda 2 external.metrics api returns an empty resources list, if no scalers using external.metrics are defined. The Go kubernetes client will error on an empty resource list https://github.com/kubernetes/client-go/blob/release-11.0/discovery/cached/memory/memcache.go#L215 .

In our specific case Flux CD is using the Go client and logs the following error if we have no ScaledObjects

[2021-05-11 08:04] zroubalik commented on #1797
Thanks, although it is not clear to me what should be returned in this specific case?

[2021-05-11 08:07] coderanger commented on #1797
Can we compare to metrics-server when requesting for a pod that doesn't exist?

[2021-05-11 11:35] vinothav commented on #879
Hi @tomkerkhove

I am deploying the operator and metrics-api-server using helm chart version 2.2.1 and the application version is 2.2.0
Image: ghcr.io/kedacore/keda:2.2.0

[2021-05-11 12:16] #1776 closed

[2021-05-11 12:28] zroubalik commented on #1793
+1 for internal change towards unified map/config/whatnot. My only concern is actually that we would allow specifying credentials in the plaintext and not in the Secret or Vault or whatnot. Which is imho not a good practise.

[2021-05-13 06:24] benjaminhuo opened #1804 "Unable to scale to more than 1 replica"
### Report

I am unable to scale my dapr nodejs deployment to more than 1 pod even after I scaled my producer python app to 2 or 4 or 8 replicas, the replicas of the nodejs deployment is alway up to 1, scaling between 0 and 1 is always possible .

There’re remaining kafka messages for a while after I scale the python producer app to 0.

Here is my code https://github.com/benjaminhuo/quickstarts/tr

[2021-05-13 09:38] benjaminhuo commented on #1804
It turns out it's caused by my topic sample only have one partition

![image](https://user-images.githubusercontent.com/18525465/118108030-159db480-b412-11eb-9c9d-1175c9b37705.png)

[2021-05-13 09:41] #1804 closed

[2021-05-13 11:27] dmeytin commented on #1587
Do we have any news on this issue?

[2021-05-13 13:25] avivgold098 commented on #1314
Hey, this very useful also for the `Prometheus` Scaler as well

[2021-05-15 13:20] iferca opened #1806 "Allow maxReplicaCount > number of partition for Kafka scaler for Scaling Jobs"
### Proposal

Configure maxReplicaCount bigger than partition count in a topic for a scaling job with Kafka trigger resulting in effectively having more jobs running than partitions in the topic.

### Use-Case

I use Kafka as a trigger for long-running jobs. These jobs read a message, perform an action, and complete. At the moment I'm limited to have as many jobs as partitions. even when jobs cons

[2021-05-15 16:22] msfidelis opened #1807 "ScaledObject type Cron with Min Replicas"
### Proposal

Configs in `metadata.end` of cron scheduler type to not set desired replicas to 0, just adjust to deployment default value.

`defaultReplicas` or `minReplicas` to scale after the warm up period ends.

### Use-Case

Pre-warming deployments at certain times to prepare for access and periods

### Anything else?

_No response_

[2021-05-15 17:38] melisatanrverdi commented on #1756
Hi, I think the same as @kozdincer . There are so many query types[0] and also they are quite changeable. While one can takes 2 variables, the other can takes 10. And their position can also change. That means the POST is also different for each.
It seems like the real struggle is we have to handle lots of YAML file besides scaler itself[1].
So we thought two things:
1. We can provide POST support

[2021-05-17 06:04] tomkerkhove commented on #1806
This seems similar to https://github.com/kedacore/keda/issues/1683 which is coming in v2.3 ([PR](https://github.com/kedacore/keda/pull/1684)), can you check if this is what you need please?

[2021-05-17 06:04] tomkerkhove commented on #1314
Can you create a dedicated issue for Promehtues please?

[2021-05-17 08:58] tomkerkhove commented on #1807
Hi, can you clarify what you want to achieve, please?

Because from what you are describing, it sounds like you are describing what our Cron scaler does.

It scales a target to a given amount of replicas based on the schedule.

[2021-05-17 09:18] Ritikaa96 opened #1809 "Cron: no validation for range input in start an end field in metadata"
### Report

Cron standard include range as an input too. When i tried :

SO created with no error. Scaling happened with start at 13 and end at 18 minutes.
or

It started containers with terminating state and deployment available number become 0.  No error in operator or scaledObject log.
There should be validation for range value input too. May I ask , are we taking different  start and end input

[2021-05-18 07:46] tomkerkhove commented on #1809
I'm not sure I'm getting your questions/report, can you elaborate on it please?

[2021-05-18 08:16] adrianchifor commented on #1559
@zroubalik This was merged/closed almost 2 months ago, are you guys planning on doing a release? Really need this on Openshift to use the Prometheus scaler, would be much appreciated!

[2021-05-18 09:07] zroubalik commented on #1559
@adrianchifor we are going to do the 2.3 release next week at the latest :) if you have any further questions, feel free to ping me on slack.

[2021-05-18 09:16] tomkerkhove commented on #1587
Any thoughts on this @zroubalik?

[2021-05-18 11:29] recollir commented on #1794
I will start to try get an idea of this later during the week.

[2021-05-18 11:56] zroubalik commented on #1794
@recollir the prometheus metrics are implemented here: https://github.com/kedacore/keda/blob/main/pkg/metrics/prometheus_metrics.go

KEDA Metrics Adapter is implemented in:
https://github.com/kedacore/keda/blob/main/adapter/main.go
https://github.com/kedacore/keda/blob/main/pkg/provider/provider.go

Metrics are collected in this function which get called everytime when HPA (k8s apiserver) asks for

[2021-05-18 12:04] zroubalik commented on #1314
I'd prefer some umbrella issue where we can track this effort, because imho it should be done for all scalers.

[2021-05-18 13:15] zroubalik commented on #1755
Sorry for the delay, I missed your answer. By chance, are you able to build the image directly (linux/OSX)? I don't use remote containers and don't have Windows box and we should get that fixed!

[2021-05-19 11:16] iferca commented on #1806
Totally! Awesome then. closing this.

[2021-05-19 11:16] #1806 closed

[2021-05-19 15:08] matthawley commented on #1755
I don't have a linux machine, sorry - but it seems there's a PR out there, which is great.

[2021-05-20 01:32] MattJeanes opened #1815 "Azure Blob Scaler fails when using multiple triggers with different blobPrefixes"
### Report

The metricName uniqueness is not adequate when using multiple scalers with the same `blobContainerName` but a different `blobPrefix`

The current code only uses `blobContainerName` for uniqueness when it should include blobPrefix: https://github.com/kedacore/keda/blob/v2.2.0/pkg/scalers/azure_blob_scaler.go#L153

### Expected Behavior

The scaler should work correctly without error

##

[2021-05-20 12:54] zroubalik commented on #1815
Could you please send a fix so the `blobPrefix` is included into the `metricName`? Thanks!

[2021-05-20 13:04] MattJeanes commented on #1815
I'll give it a go! I don't have much experience with Go but looks to be a relatively simple change 😄

[2021-05-20 15:11] zroubalik commented on #1815
Thanks a lot, it should be an easy one! It could be a good starter for Go and KEDA developement :)

[2021-05-20 15:57] MattJeanes commented on #1815
I've raised this now, I tested it on my Kubernetes cluster with my own built image and it works!

I've also included the ability to manually specify the metricName while I was at it: https://github.com/kedacore/keda/pull/1816

[2021-05-20 20:48] MattJeanes commented on #1499
@ahmelsayed / others, as it turns out this was caused by a connection string without Manage permissions, I debugged right down into it in the end and found the error (or lack thereof) was being thrown from inside the `azure-service-bus-go` package, so I have raised an issue with them there: https://github.com/Azure/azure-service-bus-go/issues/229

I'm not sure whether you would like you handle any

[2021-05-20 23:56] houstonj1 opened #1818 "ScaledObject - Implicit maintenance-mode deactivation"
### Proposal

Similar to a native HPA for Kubernetes, it would be nice if the ScaledObject supported [implicit maintenance-mode deactivation](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#implicit-maintenance-mode-deactivation).

If the target of the ScaledObject is set to a number of replicas below the current minReplicaCount, autoscaling would be paused.

### Use-Cas

[2021-05-21 06:13] Ritikaa96 commented on #1809
Hi @tomkerkhove , What i want to know is

1. are we open for another metadata field for simple 'range' type input as cron syntax allow ranges too . For eg. schedule: 30-35 * * * * it will simply merge start and end. Here the trigger would be from 30th minute to 35th minute of every hour.
2. If we are not open for Range input, then a validation is needed for input values to start and end because i

[2021-05-21 06:15] Ritikaa96 commented on #1809
@tomkerkhove also giving values like **start**: -30 * * * * will result in pods initiated with a **state: terminating** . I understand there is rare case for such inputs but we have to add some tests  and validation for these too.

[2021-05-21 07:00] zroubalik commented on #1499
@MattJeanes  thanks for the investigation. We can keep this issue opened till https://github.com/Azure/azure-service-bus-go/issues/229 is resolved.

And if that issu won't get fixed in foreseeable future, we can try to validate the connection string in KEDA.

[2021-05-21 12:57] zroubalik commented on #1818
relevant: https://github.com/kedacore/keda/issues/944

[2021-05-21 13:00] zroubalik commented on #1809
Hi @Ritikaa96 as per the validation for values like `start: -30 * * * *`, we should definitely check that!

For the range, I don't have a strong opinion, it might bring additional complexity, because there will be more options how to specify the scaler, so I wonder if there's a real benefit. But if there's a demand for this, I am definitely open to that.

[2021-05-21 19:21] houstonj1 commented on #1818
Ah, totally missed this one. I'll close this in favor of the discussion happening in #944

[2021-05-21 19:21] #1818 closed

[2021-05-22 08:39] recollir commented on #1794
@zroubalik Thank you for the info and guidance.

[2021-05-22 14:04] zroubalik commented on #1818
@houstonj1 no worries! feel free to add your opinion on #944

[2021-05-23 03:24] houstonj1 commented on #944
+1 to this as well. For maintenance scenarios, I would like some way to be able to pause autoscaling, even if my workload is allowed to scale to 0. Ideally this would be possible without having to modify the ScaledObject itself.

I think a CRD would be great, or an annotation that lives on the target deployment or job. It would also be awesome to have a field on the ScaledObject that would indicat

[2021-05-24 06:22] Ritikaa96 commented on #1809
@zroubalik , Hi! I Don't think specific demand for range field is there. But we have to add validation for input with hyphens **(-)**, in case user try to add range or try some negative scenario because there is no validation for this in the code yet.