[2022-05-06 13:53] #1629 closed

[2022-05-06 14:15] zroubalik commented on #1629
@engineering-dotcms FYI we plan to release 2.7.1 very soon (matter of days), I recommend you to update to that version then.

[2022-05-06 14:50] #2775 closed

[2022-05-06 14:53] #3000 closed

[2022-05-06 16:54] #3016 closed

[2022-05-06 20:24] pragmaticivan commented on #2757
I kinda prefer what ArgoRollout did with AnalysisTemplate
[code]

^ `spec.args` seems like something that could workout anywhere for any query or type.

[2022-05-06 20:27] pragmaticivan commented on #2757
Perhaps key/value with defaults would work well enough here?

[code]

[2022-05-07 07:21] #2665 closed

[2022-05-07 15:23] catouc commented on #2906
@zroubalik I've tried to implement something that would pull out the function into the util package in https://github.com/kedacore/keda/pull/3020 but I'm a bit stuck on [one test](https://github.com/kedacore/keda/blob/main/pkg/scaling/executor/scale_scaledobjects_test.go#L158) failing and I can't really figure out why the mock calls are not hit. Especially when other tests that should in my mind f

[2022-05-07 23:44] #2385 closed

[2022-05-08 03:11] pragmaticivan commented on #2757
Not sure how far it could get, but here's what I think would be ideal to have args support:

[code]

A Rollout/Canary system could inject args to be used/replaced in the query above.

[2022-05-08 11:15] brainslush opened #3022 "Prefix for 'goSDK' checkpoint strategy for Azure Event Hub scalter"
### Proposal

I suggest to add the possibility to define a prefix for the 'goSDK' checkpoint strategy in the trigger specification of the Azure Event Hub scaler.

e.g.
[code]

The search path for the checkpoint file would look like:
`https://myaccount.blob.core.windows.net/name_of_container/someDir/dapr-dapreventhubname-daprconsumergroup-0`

### Use-Case

Allows usage of Keda together with DAPR an

[2022-05-09 05:28] tomkerkhove commented on #3022
There are two options here, we can do either or both:
1. Support a prefix/format, potentially requiring value injection as shown above
2. Support `dapr` checkpointing, but then this same problem might come up later on with another product

Thoughts @kedacore/keda-core-contributors?

[2022-05-09 05:53] SushmithaVReddy commented on #2920
@tomkerkhove if we have to do this separately we'll have to 1st migrate KEDA to 1.18 and only then push fix for https://github.com/kedacore/keda/issues/2920.

[2022-05-09 06:21] tomkerkhove commented on #2920
@zroubalik Any reason why we didn't go to 1.18 in https://github.com/kedacore/keda/pull/3019?

[2022-05-09 06:25] brainslush commented on #3022
I would go with the value injection approach as it leaves room for customization.

[2022-05-09 06:54] tomkerkhove commented on #3022
That is a good option, but doing both might be good as well given every Dapr end-user would otherwise have to do this customization which is less trivial from a UX standpoint.

[2022-05-09 08:42] aberenshtein commented on #2667
@JorTurFer @xoanmm
I'm trying to test it with keda 2.7.0
This is my keda scaledObject

[code]

And I get this error
[code]

If I make a direct query to http://<our cortex server>/prometheus?query=<query from above>
and I add the `X-Scope-OrgID` header I get a 200 response

If I remove the header, I'm able to reproduce the issue from above.

What am I doing wrong? It seems the header is not added p

[2022-05-09 08:45] aberenshtein commented on #2667
https://github.com/kedacore/keda/blob/main/pkg/scalers/prometheus_scaler.go#L197
Maybe this should be
[code]

[2022-05-09 08:58] JorTurFer commented on #2667
Hey,
Could you open another issue with this bug? Just to track it better 🙏

[2022-05-09 09:18] aberenshtein opened #3024 "cortex header is missing"
I'm trying to test it with keda 2.7.0
This is my keda scaledObject

 triggers:
    - metadata:
        cortexOrgId: saas-stg
        metricName: bull_queue_houzz1_waiting
        query: >-
          bull_queue_houzz1_delayed{queue="email"} +
          bull_queue_houzz1_waiting{queue="email"}
        serverAddress: `http://<our cortex server>/prometheus`
        threshold: '1'
      type: prometheu

[2022-05-09 09:19] aberenshtein commented on #2667
Sure. https://github.com/kedacore/keda/issues/3024
Can you add a bug label to my issue please

[2022-05-09 09:23] xoanmm commented on #3024
I would like to tackle this 😄

[2022-05-09 09:24] v-shenoy commented on #2718
I am not sure how to add a documentation that will be generic enough to cover all authentication sources. So, as far as my understanding goes, to add an authentication source, you would need to make changes to the TriggerAuth/ClusterTriggerAuth CRD and have the user provide information to query the auth provider.

Now using these values from the CRD, there need to be code changes to use these valu

[2022-05-09 09:26] zroubalik commented on #3024
@xoanmm awesome, if you are able to tackle this soon, we might want to include in 2.7.1 release which is about to happen.

[2022-05-09 09:29] aberenshtein commented on #3024
@xoanmm do you know what's the problem?
Maybe I can fix it and build the dockerfile localy?

[2022-05-09 09:36] zroubalik commented on #3024
@aberenshtein you can try to build docker images locally with the fix you have proposed in the discussion. Also don't forget to rebuild both Operator and Metrics Server images, once you do the changes in the code, you can run following command, which will build & push images to dockerhub and then deploy this version to your k8s cluster (please remove existing KEDA installation from the cluster):
[

[2022-05-09 09:44] aberenshtein commented on #3024
Cool. Thanks, @zroubalik
I think I'll wait for @xoanmm

[2022-05-09 10:38] xoanmm commented on #3024
I think that the problem is related with what you mention in the [issue](https://github.com/kedacore/keda/issues/2667)
Maybe you can try changing the file [https://github.com/kedacore/keda/blob/main/pkg/scalers/prometheus_scaler.go#L197](https://github.com/kedacore/keda/blob/main/pkg/scalers/prometheus_scaler.go?rgh-link-date=2022-05-09T08%3A45%3A08Z#L197):
[code]

[2022-05-09 10:49] aberenshtein commented on #3024
I found the problem...
It's just a typo. `cortexOrgId` instead of `cortexOrgID`

[2022-05-09 10:49] #3024 closed

[2022-05-09 10:50] zroubalik commented on #3024
@aberenshtein to clarify, a typo in your `ScaledObject`?

[2022-05-09 10:52] aberenshtein commented on #3024
yep, in mine

[2022-05-09 11:31] zroubalik commented on #2920
@tomkerkhove 1.18 is relatively new. I want to wait a couple of micro release for it. And also majority of dependent libs (k8s) aren't build on top of 1.18.

[2022-05-09 12:18] brainslush commented on #3022
A suggestion:

[code]
-> `{blobContainer}/dapr-{topic}-{consumerGroup}-{partitionId}`

[code]
-> `{blobContainer}/someDir/somePrefix-{partitionId}`

[2022-05-09 12:42] tomkerkhove commented on #3022
If we go that route, I wouldn't use `goSdk*` but something more generic in case we want to do this for other checkpoint strategies as well.

[2022-05-09 12:51] tomkerkhove commented on #2920
Let's put this on hold then @SushmithaVReddy!

[2022-05-09 21:09] brainslush commented on #3022
How about `checkpointStrategyTemplate` and `chekpointPrefix` ?

[2022-05-09 21:25] v-shenoy commented on #2941
The tests are passing, so we have everything. Let's just keep this open until the main PR is merged.

[2022-05-10 09:40] #3009 closed

[2022-05-10 11:22] tomkerkhove commented on #3022
Fine by me. Thoughts @zroubalik & @JorTurFer? I'd add a `Dapr` strategy as well though.

[2022-05-10 11:23] tomkerkhove commented on #2941
❤️

[2022-05-10 11:23] #2941 closed

[2022-05-10 13:31] v-shenoy commented on #2656
I will try to take this up after https://github.com/kedacore/keda/pull/2907 gets merged.

[2022-05-10 16:09] JorTurFer commented on #3022
I agree with @tomkerkhove adding a `Dapr` strategy because it has value itself and for future product integrations, we can support also the `checkpointStrategyTemplate/chekpointPrefix`

[2022-05-10 16:10] #2487 closed

[2022-05-10 16:45] kibnelbachyr opened #3031 "FailedGetExternalMetric unable to fetch metrics from external metrics API: no matching metrics found (Azure Log Analytics)"
### Report

I have a scaled object with Azure Log Analytics. The auto-scaling is working and our application can scale based on Azure Log Analytics query result. But, I see a persistent warning inside the events of the HPA :

`  Warning  FailedGetExternalMetric  3m47s (x333 over 4h3m)  horizontal-pod-autoscaler  unable to get external metric <namespace>/s0-azure-log-analytics-<id>/&LabelSelector{M

[2022-05-10 16:55] kibnelbachyr commented on #1629
I upgraded KEDA to v2.7.0, The auto-scaling is working and our application can scale based on Azure Log Analytics query result. But, I see a persistent warning inside the events of the HPA  :

`Warning FailedGetExternalMetric 3m47s (x333 over 4h3m) horizontal-pod-autoscaler unable to get external metric <namespace>/s0-azure-log-analytics-<id>/&LabelSelector{MatchLabels:map[string]string{scaledobje

[2022-05-10 20:37] miaooss opened #3032 "Upgrading from KEDA 2.5.0 to 2.7.0 with external scaler"
### Report

We are using au external scaler
Keda seems to be connecting to the service correctly.

But some expected metrics or metadata are missing

Here is our KEDA configuration:

[code]

This is the C# code we are using

[code]

### Expected Behavior

Expect KEDA to scale up the service

### Actual Behavior

We do return no actual job.

### Steps to Reproduce the Problem

1. We update KEDA ver

[2022-05-11 05:58] tomkerkhove commented on #1629
Does your cluster have access to that endpoint? Looks like it's timing out

[2022-05-11 06:00] tomkerkhove commented on #2487
Thanks a ton, this is a major addition - Thank you @v-shenoy!

[2022-05-11 06:01] tomkerkhove commented on #3022
Are you willing to still contribute this @brainslush?

[2022-05-11 07:10] kibnelbachyr commented on #1629
@tomkerkhove I assume that my cluster have access to Azure Log Analytics endpoint since it happens that the HPA can retreive the metric from Azure Log Analytics :

<img width="879" alt="Screenshot 2022-05-11 at 09 03 10" src="https://user-images.githubusercontent.com/31845236/167790222-52971b51-67d3-478c-bf11-8a66a9ac10ce.png">

[2022-05-11 08:13] tomkerkhove commented on #1629
That's a wrong assumption, because what you are seeing is that HPA is talking to KEDA but it might be that it sometimes can't reach KEDA or it's too slow in responding because the call from KEDA to Log Analytics is taking too long 🤔

Would you mind opening a new issue for this please given this is another problem as far as I see.

[2022-05-11 08:28] kibnelbachyr commented on #1629
@tomkerkhove I have created this issue : https://github.com/kedacore/keda/issues/3031

[2022-05-11 09:43] tomkerkhove commented on #2895
Do we have pending actions on this @v-shenoy @JorTurFer ?

[2022-05-11 09:48] JorTurFer commented on #2895
I think that all AAD-Pod-Identity resources are needed. We have added the needed resources/e2e-tests for AAD-Workload-Identity (but I'm totally missed on AAD side, @v-shenoy ?)

[2022-05-11 09:59] v-shenoy commented on #2895
I am sorry, I did not get you @JorTurFer

[2022-05-11 10:04] JorTurFer commented on #2895
AAD-Pod-Identity and AAD-Workload-Identity are 2 different identity pods. Right now we have integration/e2e test for the second one, but for AAD-Pod-Identity we only have the integration, we don't have e2e test because AAD-Pod-Identity it's not ready/configured, right?

[2022-05-11 10:05] v-shenoy commented on #2895
Yes. Those are independent and require different configurations. I will have to check and see what all needs to be done for pod identity.

[2022-05-11 11:07] kibnelbachyr commented on #3031
I redeployed the keda-operator and keda-operator-metrics-apiserver (v2.7.0) , I don't see this error anymore: `Inner Error: error calling Log Analytics REST api. Inner Error: Post \"https://api.loganalytics.io/v1/workspaces/<id>/query\": context deadline exceeded (Client.Timeout exceeded while awaiting headers)"` on the KEDA operator logs. The auto-scaling is working fine based on the Azure Log An

[2022-05-11 13:03] tomkerkhove commented on #2718
@kedacore/keda-maintainers What do you think? Is this valuable? I might be overthinking it but want to make it simple for people to contribute more auth providers.

[2022-05-11 14:40] v-shenoy commented on #2737
Bumping this issue. I think this switch would be highly beneficial and work on it should get started. There's no need for a project that's written entirely in Go, to have its e2e tests written in TypeScript. The more we delay this, the tougher it's going to get with more scalers and their typescript tests being added.

[2022-05-11 14:41] tomkerkhove commented on #2737
💯, we just need to find somebody who wants to go through it 😅

[2022-05-11 14:51] v-shenoy commented on #2737
First of all, there's the discussion of which Go testing framework to be used, and with which assertion framework. Currently, there's a bit of inconsistency with some unit tests using `testify/assert`, while some are using another, while some are using manual comparisons with the default testing framework.

Once the decision is finalized, a little bit of work would also be required to bring existi

[2022-05-11 18:39] zroubalik commented on #2718
Yeah, I think that even a simple documentation is great! It doesn't have to be complex, but something that gives users some general overview.

[2022-05-11 18:41] zroubalik commented on #2737
@v-shenoy that would be great! Please sync with @JorTurFer.

It doesn't have to be over complex, but we should have some general library with `wait/deploy/watch/log` methods.

[2022-05-11 19:05] JorTurFer commented on #2737
I did some tries, but nothing really important, if you are willing to contribute with this, I'll not be who blocks you xD
My only concern/request is that please, use a tool/framework that can be debuggable please 🙏 .
Developing e2e test with npx ava printing logs is a pain

[2022-05-11 19:08] v-shenoy commented on #2737
I'll send a draft PR with one test tomorrow for reference.

[2022-05-12 05:18] tomkerkhove commented on #2737
Thanks a ton @v-shenoy!

[2022-05-12 07:05] kefik commented on #2282
In my use-case, not being able to fully control `pollingInterval` on the Prometheus metrics results in starting more replicas than required. My metrics logic requires ~60s to settle on a new correct value after starting a new replica.

[2022-05-12 08:04] zroubalik commented on #2282
What if you specify this in the Prometheus Query?

[2022-05-12 08:31] #2715 closed

[2022-05-12 10:24] SushmithaVReddy commented on #2838
Looking in to this.

[2022-05-12 11:00] brainslush commented on #3022
I'll try. Haven't done coding in Go before but when I read the code I got the impression that this shouldn't be difficult.

[2022-05-12 11:13] SushmithaVReddy commented on #2838
@Evantage-WS

I tried replicating this issue but failed. Metrics and operator both seem to be healthy. Below is my precise versions info

KEDA Version: 2.7.1
Go Version: go1.17.9
Kubernetes 1.22  {"version": "v1.22.6"}

I understand you've mentioned you've updated aks cluster's version from 1.22.5 to 1.22.6. Does the same issue occur if your cluster is created directly with 1.22.6 version?

[2022-05-12 12:06] Evantage-WS commented on #2838
I have raised this issue over a month ago, so we removed this cluster and reïnstalled it. From that moment on it is working again. Because of the lack of support on Keda we are considering another solution.

[2022-05-12 13:18] tomkerkhove commented on #2838
For what it's worth, it's an open source product and this felt through the cracks as we have a lot of request. Feel free to nudge us again in the future.

[2022-05-12 13:27] Evantage-WS commented on #2838
I really understand this, but it has been 6 weeks between the answers................................

[2022-05-12 17:09] #3004 closed

[2022-05-12 17:16] JorTurFer commented on #3032
hey @miaooss
sorry for the slow response :(
We had problems related with the name generation in v2.6.0 but they have been solved in v2.7.0.
Is there any error in the external metric server?
In the log that you shared seems all normal, could you share more lines please?

[2022-05-13 07:21] tomkerkhove commented on #2838
Well it was opened on March 28 and last reply was on 29th, feel free to bump next time because we get a lot of requests and sometimes things fall through the cracks :)

Sorry.

[2022-05-13 07:23] #2838 closed

[2022-05-13 09:53] SushmithaVReddy commented on #2353
Working on this

[2022-05-13 11:08] tomkerkhove commented on #2353
Before we go all in, might be good to post a proposal here @SushmithaVReddy to avoid having to redo things but think relying on OTEL exporter is best

[2022-05-13 15:57] miaooss commented on #3032
Hi,

Thank you for the assistance.

Here is the logs for the keda-operator-metrics-apiserver
[code]

here is more log for the keda-operator
[code]

[2022-05-13 15:59] miaooss commented on #3032
Actually all the logs seems normal

In our code, we have a condition if Keda does not request the correct metric we send nothing.

It seems like Keda does not send the expected metric.

Thank you,
Jeremy.

[2022-05-13 16:29] JorTurFer commented on #3032
I have an idea about why this can be happening, I'm checking it, I'm checking it locally

[2022-05-13 18:02] isugimpy commented on #2299
Bumping again.  This reminds me that my PR probably needs love.

[2022-05-13 19:52] aslom commented on #2401
/remove-lifecycle stale

[2022-05-14 00:00] JorTurFer commented on #3032
I have found the problem and unfortunately there is not any workaround.
Basically, it's due to an internal changes introduced in v2.6 to generate unique metric names and how we use the metric names in ScaledJobs. I have opened a PR with a possible fix but next week is KubeCon so we'll be quite offline and we have to discuss the implementation I have done.
Sorry for the inconvenience 😞

[2022-05-16 14:53] harzallah commented on #1392
+1 also for automating DR

[2022-05-17 03:16] sebanazarian commented on #2930
Hi,

I tried Keda 2.7 with DatadogScaler and the deploy scaled.

But I have a problem when I want scale with Datadog Scaler.

1. It takes a long time for scale
2. Sometimes it throws me the following error and it fixes itself

**KEDA VERSION 2.7**

**ScaledObject**
[code]

**Log keda-metrics-apiserver**
[code]

**Log Keda-operator**
[code]

**Describe ScaleObject**
[code]

Thanks!!!!!

[2022-05-17 05:09] tomkerkhove commented on #1392
This is available today in KEDA v2.7: https://keda.sh/docs/2.7/concepts/scaling-deployments/#pause-autoscaling

See https://github.com/kedacore/keda/issues/944

[2022-05-17 05:14] tomkerkhove commented on #944
So to summarize: We will support ScaledJobs through the `autoscaling.keda.sh/paused`: true` but did we land on an agreement for ScaledObjects on this @JorTurFer @zroubalik?

Do we support it as well? Keeping in mind that this would be the order of application:
1. `autoscaling.keda.sh/paused-replicas` - Stops autoscaling and puts to given amount
2. `autoscaling.keda.sh/is-paused` - Stops autoscalin

[2022-05-17 09:07] JorTurFer commented on #944
TBH I prefer `autoscaling.keda.sh/paused` instead of `autoscaling.keda.sh/is-paused`, but I can live with it.
I agree with the rest. My doubt is if we should append the other annotation if only one 1 set.
I mean:
- if only `autoscaling.keda.sh/is-paused` we could set `autoscaling.keda.sh/paused-replicas: currentReplicas`
- if only `autoscaling.keda.sh/paused-replicas: N` we could set `autoscaling.

[2022-05-17 09:21] tomkerkhove commented on #944
The risk you have there is this:
1. End-user adds `autoscaling.keda.sh/paused-replicas: N`
2. KEDA automatically adds `autoscaling.keda.sh/paused`
3. End-user wants to scale again, so removes `autoscaling.keda.sh/paused-replicas: N`
4. KEDA still doesn't scale because `autoscaling.keda.sh/paused` is there

We could, in theory, automatically remove  `autoscaling.keda.sh/paused`` when `autoscaling.k

[2022-05-17 12:29] IvanDechovsky commented on #2599
Sorry for the delay, but I'm happy to report the issue has been resolved! Thank you for the support.

[2022-05-17 12:29] #2599 closed

[2022-05-17 14:04] arapulido commented on #2930
Hello @sebanazarian Thanks for trying out the Datadog Scaler with KEDA 2.7.

The HPA is what actually scales your deployment, not KEDA. You can see what value the HPA currently have by retrieving the HPA objects: `kubectl get hpa`.

The error of not metrics returned is not an error, but something that it can happen if you choose a period of time too short and no metrics are available for that peri

[2022-05-17 15:51] johnathan-walker opened #3051 "(2.7.1) ScaledObject creates HPA which cannot fetch metrics from external metrics api on GKE."
### Report

When creating a ScaledObject using any scaler (tested on both cron and rabbitmq) scaling falls back to the `fallback` configuration and the following error is seen in the HPA:

[code]

ScaledObject yaml

[code]

### Expected Behavior

ScaledObject creates an HPA that properly reads scaling metrics.

### Actual Behavior

ScaledObject seems to fall back to the `fallback` configuration.

[2022-05-18 06:17] sebanazarian commented on #2930
Hi @arapulido  thanks for answers. Well I put age: 500. And I have these results:
[code]
The times are when I put new message in SQS
**First Test** (age: 500)
0 to 1 scale at approx 9 minutes  (1 messages)
1 to 2 scales at approx 10 minutes (3 messages)
2 to 3 scales at approx 8 minutes (5 messages)
purge sqs: remove pods at approx 10 minutes (0 messages)

**Second Test** (age: 500)
1 to 2 scales

[2022-05-18 14:34] KasparWe opened #3052 "HPA and ArgoCD - scaling is disabled since the replica count of the target is zero"
Hi there,

I've created a Deployment without setting replicas and created a ScaledObject for scaling the deployment based on number of messages in AWS SQS.
The replica count is set to 0 because the application should act event driven. So whenever a new message appears in the queue it will scale up/down.

**The Problem**
The HPA shows `scaling is disabled since the replica count of the target is ze

[2022-05-18 14:39] KasparWe commented on #3051
Have you had a look into troubleshooting section?

Might be this issue
https://github.com/kedacore/keda-docs/blob/main/content/troubleshooting/proxy-network.md#solution-for-managed-kubernetes-services

[2022-05-18 15:49] prousso opened #3053 "KEDA Metrics API Server not honoring Loglevels"
### Report

Kede Matrics Api Server is spamming trace logs, even though logging is set to v=0

### Expected Behavior

When setting loglevel to 0, only level 0 and below should be logged
( as per log documentation)

### Actual Behavior

Traces are logged

### Steps to Reproduce the Problem

Start Keda Metrics Server
Let it run for a while
See logs

### Logs from KEDA operator

[code]

### KEDA Vers

[2022-05-18 17:07] johnathan-walker commented on #3051
I have. The status of the apiserver seems fine.

[code]

The suggestion to allow 6433 doesn't really make sense to me. We're not operating a private cluster, and I would assume that the metrics server would be internal to the cluster?

[2022-05-18 23:28] johnathan-walker commented on #3051
I turned up the logging on keda-metrics-apiserver to `1`.

I've noticed that periodically, when querying `kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1` the server responds with `Error from server (ServiceUnavailable): the server is currently unable to handle the request`.

This makes sense. The HPA's sometimes shows a reading.

[2022-05-19 06:32] zroubalik commented on #3052
HPA doesn't properly support scaling to 0, but that's something that KEDA does. So once the Deployment is scaled to 0, KEDA will activate it to 1 replica, you shouldn't do that. So your original ask (scale 0<->N replicas based on AWS SQS) should work properly, without your interaction.

But there should be only one controller that manages the number of replicas in the Deployment, so in this case i

[2022-05-19 12:51] kibnelbachyr commented on #3031
@tomkerkhove do you have any clue why this is happening?

[2022-05-20 09:12] #2720 closed

[2022-05-20 10:54] SushmithaVReddy commented on #2353
@tomkerkhove Will KEDA be acting as a collector that gets metrics data from an exporter? Is the idea to create metrics using https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#instrument and observe through hpa to scale accordingly? Slightly confused on the term exporter and collector w.r.t KEDA. Plausible solution looks like one where user has an

[2022-05-20 12:50] johnathan-walker commented on #3051
The `keda-metrics-apiserver` seems to be intermittently unavailable? Example shown here: https://asciinema.org/a/yC6MkXiL66SAG5IE4GMoG72R4

[2022-05-20 14:45] timja opened #3054 "Release notes point to INSERT_VERSION_HERE on how to deploy"
### Report

_No response_

### Expected Behavior

-

### Actual Behavior

-

### Steps to Reproduce the Problem

Click link in https://github.com/kedacore/keda/releases/tag/v2.7.1 with text "Learn how to deploy KEDA by reading [our documentation](https://keda.sh/docs/INSERT-CORRECT-VERSION/deploy/)."

You get sent to https://keda.sh/docs/INSERT-CORRECT-VERSION/deploy/

Possibly should automate tha

[2022-05-20 15:02] ryan-dyer-sp opened #3055 "kafka scaler doesnt appear to support security.protocol=SSL"
### Report

Cannot use the kafka scaler to talk with AWS MSK kafka brokers when TLS(encryption in transit; unauthenticated) is enabled.
![image](https://user-images.githubusercontent.com/16764971/169555529-cf16225e-5fa4-4c73-962a-73801c6c2d70.png)

### Expected Behavior

Able to connect to an MSK broker configured this way.

### Actual Behavior

No apparent way to enable kafka scaler to connect to

[2022-05-20 15:29] Wolfe1 commented on #2709
@zroubalik I have some time so taking a stab at this now.

[2022-05-20 15:33] jeffhollan commented on #3055
Are you setting TLS enabled on the trigger Authentication spec as shown in the docs? Do you have a scrubbed example of the config of the scaled object / auth? https://keda.sh/docs/2.7/scalers/apache-kafka/

[2022-05-20 17:22] lsolovey opened #3056 "Kafka scaler doesn't handle Sarama errors properly"
### Report

Sarama can report Kafka errors not just as Go standard `error` but rather use custom field on the returned data object.
_(I'm not a Go expert so please excuse my terminology)._

For example, `DescribeTopics()` in Sarama Admin client is declared as:

`DescribeTopics(topics []string) (metadata []*TopicMetadata, err error)`

And `TopicMetadata` is a struct with "custom" `KError` field.

[

[2022-05-21 08:15] amit337496 commented on #2618
@JorTurFer  Thank you.. I am able to see changes in 2.7 version.

How this scale down will happen in this scenario.. If node is still running will it kill that?

[2022-05-21 09:16] #2484 closed

[2022-05-21 11:42] lsolovey commented on #2908
I have a theory on what's going on here. See this line in the HPA status:

`"lagThreshold" (target average value): 3047620m / 3k`

Since your topic has 64 partitions, KEDA metrics server artificially "limits" the lag on your topic at `64*3,000=192,000` to prevent scaling more than 64 replicas and having idle consumers.

Next, HPA looks at lag of 192,000 and calculates current average metric as `19

[2022-05-21 15:59] JorTurFer commented on #2618
hi @amit337496
I'm not sure if I get your question. Do you mean how the scale in will be done?
If that's your question, KEDA doesn't take care about that because it's the HPA Controller who manages it. The HPA kills pods with task in progress, so your job could be interrupted. If you have use cases with long-running tasks or when your system doesn't retry non-acknowledge messages, [you should use

[2022-05-21 18:08] JorTurFer commented on #944
you are right, but if we don't add the extra needed annotation, I'd require both for doing anything, I mean, even thought we could work using only `autoscaling.keda.sh/paused-replicas` in current cases, I'd require both, to be consistent and not having more than 1 way for pause the autoscaling

[2022-05-22 08:37] #2314 closed

[2022-05-22 08:57] aviadlevy opened #3057 "Add support to customize HPA name"
### Proposal

Add new field to allow custom hpa name (and not just `keda-hpa-<name>`)

### Use-Case

For example:
[code]

Then keda will generate hpa named `my-prsonal-hpa-name`

### Anything else?

If you're thinking it's a good proposal, I would like to try implement it myself and open PR 🙏

[2022-05-22 13:55] tomkerkhove commented on #944
I'm not sure I understand what you mean, can you elaborate please?

[2022-05-23 06:43] JorTurFer commented on #944
Sure,
Right now, we support `autoscaling.keda.sh/paused-replicas` in `ScaledObject` and we are talking about introducing `autoscaling.keda.sh/paused` in `ScaledJob` and also in `ScaledObject`to be consistent between both CRDs.
With this new annotation, `ScaledObject` will have 2 different annotations that can be used, one for pausing the scaling with current replicas, and another one for pausing t

[2022-05-23 07:09] tomkerkhove commented on #944
I don't think that really makes sense nor adds value:
- In the case of pausing with fixed replicas, we can add the new annotation but it doesn't provide much added value other than consistency at the cost of duplication. Also, what do you do if only 1 of them is specified?
- In the case of pausing without wanting to specify a replica count, well this would no longer be possible given the above pro

[2022-05-23 07:12] tomkerkhove commented on #3054
Fixed, thanks for reporting!

[2022-05-23 07:14] tomkerkhove commented on #3053
Closing in favor of #2316 who has the initial report.

[2022-05-23 07:14] #3053 closed

[2022-05-23 07:19] tomkerkhove commented on #3057
Fair ask, I like it.

I would, however, suggest to do the following as we try to avoid using abbreviations and it's already in `horizontalPodAutoscalerConfig`

[code]

[2022-05-23 13:43] JorTurFer commented on #3057
I like the idea, I'm afraid about the implementation. I mean, right now it's easy to manage the resources (in k8s) created by KEDA because are deterministic in the names and they don't change,
if we proceed with this feature, we should ensure that we manage the resources properly in all edge cases like if we modify the custom name in the SO with the operator down. I mean, the old HPA has to be rem

[2022-05-23 14:54] lsolovey commented on #3056
As far as I understand - these Sarama `KErrors` correspond to Kafka Broker error codes as described here:
https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-ErrorCodes

So KEDA Kafka Scaler just needs to fail if `KError` is anything but zero.

Unfortunately I have no experience with Go - I don't think I can write quality Go code as of now.

**P

[2022-05-23 15:09] aviadlevy commented on #3057
Yep, saw that while I start browsing the code. Do you have any suggestion how to know that we changed the hpa name and we need to clean the "old" one?
I'll try to search also myself, but if you have an idea that will save me time, please let me know

[2022-05-23 15:35] Wolfe1 opened #3061 "Selenium Grid Scaler | Max Sessions implementation issue"
### Report

The MaxSessions implementation in #2774 is producing incorrect results. I ran into this while trying to create a fix for #2709.

### Expected Behavior

We need to take into consideration the count of the nodes we have in this calculation.

Something like:
`count = count / (gridMaxSession / nodeCount)`

1. 2 sessions running on 2 nodes, 3 sessions in the queue, each node accepts 1 sessi

[2022-05-23 18:34] JorTurFer commented on #3057
Maybe we could add the "currently created" hpa's name in the SO status 🤔
WDYT @zroubalik ?

[2022-05-23 18:39] JorTurFer commented on #944
okey, we can start with that and iterate if we find problems

[2022-05-23 18:45] Wolfe1 commented on #2709
I have a working solution for this but ran into a bit of a snag: #3061

Going to see about fixing that as well in this as it should be fairly simple.

[2022-05-23 19:09] JorTurFer commented on #3061
@adborroto does it make sense to you? [I remember we talked](https://github.com/kedacore/keda/pull/2774#discussion_r831235395) about the edge case of having only 1 pending message with high `gridMaxSession`.
It's true that right now, [1 pending job is enough to scale from zero to 1](https://github.com/kedacore/keda/blob/main/pkg/scalers/selenium_grid_scaler.go#L170) and we are working to change th

[2022-05-23 19:19] JorTurFer commented on #3031
hey @kibnelbachyr
Sorry due to the slow response, we have been in KubeCon last week. Is your query complex? I mean, maybe Log Analytics need more time than expected to process the query because it's too complex. [Could you try extending the timeout](https://keda.sh/docs/2.7/operate/cluster/#http-timeouts)?

[2022-05-23 19:22] xoanmm commented on #2513
I would like to tackle this issue

[2022-05-23 19:26] JorTurFer commented on #3051
hey @johnathan-walker
Is the KEDA pod running out of resources? How many ScaledObject do you have?

[2022-05-23 19:29] Wolfe1 commented on #3061
@JorTurFer @adborroto I think the confusion here (from what I can see in the tests) is that gridMaxSession is being treated as a variable representing the max session each node can take when in reality it is the max session count for the entire grid.

When running a grid where every node only can run one session at a time it looks like so:
![image](https://user-images.githubusercontent.com/3010366

[2022-05-23 19:32] johnathan-walker commented on #3051
[code]

[2022-05-23 19:45] JorTurFer commented on #3061
That makes sense totally!
Could you update it during the changes you are already doing?

[2022-05-23 19:48] JorTurFer commented on #2513
it's yours

[2022-05-23 19:58] Wolfe1 commented on #3061
@JorTurFer that is the plan, should have something soon just making sure im covering my bases with tests and docs.

[2022-05-23 20:38] JorTurFer commented on #2316
I'm checking this and I'm not sure if the problem is it the parameter itself, [checking the docs](https://pkg.go.dev/k8s.io/klog), it says:
[code]

They only use one dash, not 2 like we set on KEDA. Could this be the problem, or maybe this is not important in Golang? @zroubalik

[2022-05-23 20:55] JorTurFer commented on #2316
I have been checking [klog docs](https://pkg.go.dev/k8s.io/klog#section-documentation) and there they tell that we MUST call `flag.Parse` before any logging is done, but checking our implementation I can see that we print the version before it. Could we be facing with any internal race condition?
WDYT @zroubalik ?

[2022-05-23 21:45] johnathan-walker commented on #3051
Eh, no errors with log `--v=1`. My next step is to try to validate that all of the traffic is actually getting to the apiserver.

[2022-05-24 08:08] zroubalik commented on #2316
This might be the case, hard to tell 🤷‍♂️

Have you been able to test your propsed fix? To see if there aren't these messages anymore?

[2022-05-24 08:56] bamboo12366 opened #3064 "Should we return error when target lost for prometheus scaler"
### Report

when Prometheus target is lost, the prometheus query will return an empty result here:
https://github.com/kedacore/keda/blob/main/pkg/scalers/prometheus_scaler.go#L55

The hpa controller will get an 0 value and using the `minReplicas`. Maybe we should return an error when len(reslut) = 0? To let the hpa forget about this workload for a while until the prometheus is back to normal?

The

[2022-05-24 12:38] JorTurFer commented on #2316
I have checked e2e test output to be sure, but let me deploy it into a testing cluster for some days, just to double-check 😄

[2022-05-24 13:52] NaveLevi opened #3065 "Prometheus scaler - add option to consider null values as errors"
### Proposal

Add option to consider null values as errors

### Use-Case

We heavily rely on KEDA on our prod, had an incident and I’m looking for ways to circumvent such cases in the future.
We scale some of our deployments based on the number of requests they’re getting per second which works very well most of the time.
During this incident, we had an issue with our prometheus and all of our que

[2022-05-24 17:55] zroubalik opened #3066 "Use more readable timestamps in Operator logs"
### Proposal

Current logs in KEDA operator have not so nice timestamps:
[code]

We should change the format to something more readable

### Use-Case

_No response_

### Anything else?

_No response_

[2022-05-24 18:39] zroubalik commented on #3056
Great investigation. This is indeed a great feature that would help with investigation once there are problems with Kafka Scaler.

So maybe this is the time where you start with Go, WDYT? It is not that hard :)

[2022-05-24 18:39] #3066 closed

[2022-05-24 18:41] JorTurFer commented on #3057
Agree

[2022-05-24 18:54] zroubalik commented on #3057
@aviadlevy definitely! :)

[2022-05-25 11:16] tomkerkhove commented on #1281
So from how I see it we should provide an extension point so that end-users can consume and/or store the metrics that we use. This would also help us get data to eventually start doing predictive activation with (see #197).

My current proposal would be to start emitting all the metrics that we expose through the metric server towards an OpenTelemetry Collector. Optionally, we can add Prometheus a

[2022-05-25 11:27] zroubalik commented on #3064
@bamboo12366 is this somehow related to this?

[2022-05-25 12:19] zroubalik commented on #3056
Would be nice to print these extended error messages as a first step. Currently the standard Go error returned from Go client is very generic and it is not obvious where is the problem. This might help especially with debugging auth problems.

[2022-05-25 20:06] #2709 closed

[2022-05-25 20:06] #3061 closed

[2022-05-26 07:30] bamboo12366 commented on #3064
seems the same thing, can I give a try if no one is working on this?

[2022-05-26 07:45] zroubalik commented on #3064
@bamboo12366 yeah that would be great, let me close this issue and continue on the other one.

Duplicate of #3065

[2022-05-26 07:45] #3064 closed

[2022-05-26 08:20] zroubalik commented on #3065
@bamboo12366 is willing to contribute this 🎉

[2022-05-26 09:09] #3032 closed

[2022-05-26 09:11] JorTurFer commented on #3032
hey @miaooss ,
I have just merged a PR I expect solves your problem, if you can test it and give feedback about if it's solved or not, we can go deeper if it's not solved (just for not waiting till next release)

[2022-05-26 17:14] JorTurFer commented on #3032
it's in `main`

[2022-05-26 20:01] mguay22 opened #3072 "Inconsistent Prometheus Scaling Targets"
I've created a basic `ScaledObject` with the below config:

[code]

I'd expect to see the corresponding HPA to have target metrics that match what I see with that same query in Prometheus. However that is not the case. It seems to be switching back and forth between the actual query specified and then some CPU related query as you can tell by the change in units in the HPA. Any idea what is causin

[2022-05-27 01:51] wsugarman commented on #2656
Any update on when this will be picked up @v-shenoy?

[2022-05-27 05:51] bamboo12366 commented on #3065
@NaveLevi Just want to confirm, the query return null value, which means the result is empty list right, like below:
`
{
status: "success",
isPartial: false,
data: {
resultType: "vector",
result: [ ]
}
}
`
there how I got when prometheus target was lost in my case

[2022-05-27 06:42] amirschw commented on #3072
Hey @mguay22. I don't think it's related to CPU, this is just how quantities are displayed - in whole number ('30') or milli-units (30000m). See https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#quantities.

[2022-05-27 06:56] zroubalik commented on #3072
Yeah, that's correct.

[2022-05-27 06:56] #3072 closed

[2022-05-27 07:48] bamboo12366 commented on #3065
@zroubalik @NaveLevi guys, could you kindly help me review this PR(https://github.com/kedacore/keda/pull/3073)

[2022-05-27 18:04] danoliver1 commented on #2930
Hi @sebanazarian, have you ruled out Datadog and the metric itself being the issue by looking at the `aws.sqs.approximate_number_of_messages_visible` metric in Datadog? The reason I ask is that the metric name includes "approximate" and it looks like you're using a low volume of messages.

[2022-05-27 20:59] #2488 closed

[2022-05-28 05:49] ncs-nozomi-nishinohara opened #3074 "I would like to see support for AWS Role Changing."
### Proposal

I want you to support aws role changing because it doesn't seem to support it.

### Use-Case

AssumeRole is used to access the resources of multiple child accounts via the parent account, but it doesn't seem to work well when the parent account is also using IAM Role.

### Anything else?

I've never contributed much to OSS, so I don't know if I can modify it well, but can I give it a

[2022-05-28 06:58] #3074 closed

[2022-05-28 18:10] #2316 closed

[2022-05-29 10:32] jiujiujiujiujiuaia commented on #753
Hello, @tomkerkhove and the KEDA community!!! Glad to meet you guys here.

I read all of the above chat history and related doc, so our target is adding a new field named `queueNameFromEnv` below the trigger, right?

If yes, I would love to start add it to make the azure-serivcebus scaler have one more new option that read the value from env variable.

[2022-05-29 22:00] #2740 closed

[2022-05-30 01:06] mend-bolt-for-github[bot] opened #3076 "CVE-2022-28948 (High) detected in github.com/stretchr/objx-v0.4.0, github.com/mongodb/mongo-go-driver-v1.9.0 - autoclosed"
## CVE-2022-28948 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>github.com/stretchr/objx-v0.4.0</b>, <b>github.com/mongodb/mongo-go-driver-v1.9.0</b></p></summary>
<p>

<details><summary><b>github.com/stretchr/objx-v0.4.0</b></p></summary>

<p>Go package for de

[2022-05-30 05:37] tomkerkhove commented on #2656
The next release will be at early August so we have time:
https://github.com/kedacore/keda/blob/main/ROADMAP.md#upcoming-release-cycles

[2022-05-30 05:41] tomkerkhove commented on #753
This has been open for a long time so I'd say this is the current way we want to approach it: If a field has the `%something%` convention, then it would resolve `something` from environment variables.

This allows Azure Functions to better use KEDA and give end-users more advanced way of configuring triggers.

This was the main ask here but let's see if @kedacore/keda-maintainers still agree on th

[2022-05-30 05:45] tomkerkhove commented on #1281
Any thoughts on this @kedacore/keda-maintainers?

[2022-05-30 05:46] tomkerkhove opened #3078 "Provide operational metrics in OpenTelemetry Collector"
### Proposal

Provide operational metrics, [that we have for Prometheus](https://keda.sh/docs/2.7/operate/prometheus/) today, but push them to an OpenTelemetry Collector through OTEL.

### Use-Case

Allow end-users to choose which metrics platform to use, instead of only supporting Prometheus.

### Anything else?

A proposal is open on https://github.com/kedacore/keda/issues/1281 to bring scaler m

[2022-05-30 06:20] JorTurFer commented on #1281
I'm not 100% sure about this, if we expose the value, anyone in the cluster could go and get the value from there 🤔
Apart from that, I'd add it for the moment to prometheus server due to it's the metrics server that we support right now

[2022-05-30 06:32] JorTurFer commented on #753
Maybe we can simplify the current approach and code just having 2 ways for reading all the variables:

- metadata + env + auth
- env + auth

We could create 2 helpers for parsing in both scenarios and use them in every scaler, we could unify the parsing mechanism and cover this case. Right now, we try to read from every source for every parameter on every time
WDYT?

[2022-05-30 08:42] tomkerkhove commented on #753
I'm not sure I get what you are proposing - Would you mind elaborating a bit from a user-experience perspective please?

[2022-05-30 08:44] tomkerkhove commented on #1281
Certainly, but it's up to the team owning the OpenTelemetry Collector to secure it how it needs to be secured. We just push the metrics to them and that's where our responsibilities end.

Prometheus is just one metric platform, pushing to an OpenTelemetry Collector allows end-users to use the metrics wherever they want.

We can definitely add them in Prometheus as well, but I believe OpenTelemetry

[2022-05-30 09:32] sbuliarca opened #3081 "Make get secrets permissions optional in Metric Adapter"
### Proposal

In version 2.7.1, keda-metrics-apiserver requires the permissions to get secrets for resolving the container's environment for a targetted deployment( [code is here](https://github.com/kedacore/keda/blob/dcb9c1e2d157ba3a763acfdfba60d819874d2c16/pkg/scaling/resolver/scale_resolvers.go#L329)) without actually needing it. If it doesn't have the permissions, the metric for the scaled obj

[2022-05-30 12:09] zroubalik commented on #2990
@dodizzle would you mind sharing the error message?

Sarama client that we use to communicate with Kafka doesn't have the best error messages :) So it is sometimes hard to debug. There's a proposal to improve this though: https://github.com/kedacore/keda/issues/3056

[2022-05-30 12:37] tomkerkhove commented on #3081
That's a fair ask, but I don't know if we can do that. @zroubalik ?

[2022-05-30 12:39] tomkerkhove commented on #1281
Both are fine for me, but personally, I think OpenTelemetry is the required piece given it also allows end-users to use Prometheus.

So if OpenTelemetry Collector is supported, then I'm happy!

[2022-05-30 12:54] zroubalik commented on #3081
Reading Secrets from KEDA Operator is acceptable for you?

I think it is a fair ask, I prefer to 1. solution, the latter is not ideal imho.

[2022-05-30 13:45] christle opened #3082 "KEDA operator crashes on nil memory panic if the eventhub connectionstring for Azure Eventhub Scaler contains an invalid character"
### Report

The Azure Eventhub Scaler creates a storage path with `url.parse()` based on information from an eventhub connection string. If this connection string contains invalid characters like newline, the `url.parse` raise an error. This error is unhandled, so the operator crashes with a panic.

Invalid characters usually appear if the connectionstring contains an incorrect base64 encoding.

#

[2022-05-30 13:45] sbuliarca commented on #3081
Indeed this is acceptable, as the operator would run in the namespace it manages, so it would be ok to have access to the secrets in that namespace

[2022-05-30 13:46] kibnelbachyr commented on #3031
Hi @JorTurFer, Thank you for your answer! Actually the query is not that complex, it takes less than 1s (avg 500ms) in Azure to be executed. Regarding the http timeout in KEDA, it's configured to '3000s' should it be set to more?

![Screenshot 2022-05-30 at 08 59 36](https://user-images.githubusercontent.com/31845236/171005244-1478fc3e-8d7e-40bd-a1e4-e4ec78a6b141.png)

[2022-05-30 14:01] tomkerkhove commented on #3081
That's not possible though, see https://github.com/kedacore/keda/issues/2654 where we are tracking this.

But I presume you are interested in the multi-tenancy model there?

[2022-05-30 14:08] tomkerkhove opened #3083 "Provide support for preventing interference of autoscaling a single scale target when creating a new ScaledJob/ScaledObject"
### Proposal

We always recommend people to follow this guidance:
- Only have one ScaledJob/ScaledObject with multiple triggers, instead of multiple instances
- Do not mix and match ScaledJob/ScaledObject with your own HPA

However, we don't provide any prevention for this.

KEDA should automatically be rejecting new ScaledObject resources that are created which target a scale target which is alre

[2022-05-30 14:12] sbuliarca commented on #3081
Indeed, we're after the multi-tenancy model.

And we almost got to an acceptable solution with the current code, this being the only issue & the limitation of not being able to use TriggerAuthentications throught secrets & env vars, only through Hashicorp's Vault, as stated before.

[2022-05-30 15:27] smalgin commented on #1281
Yes, the opentele is a 'must have' piece. I agree that the security of the Collector is the responsibility of the Collector impl. Also, it will all run on a secure cluster subnet, so that's something.

[2022-05-30 16:07] JorTurFer commented on #3031
No, it shouldn't be necessary. Metrics server logs don't say anything else, right?

[2022-05-30 16:15] JorTurFer commented on #753
Sure, right now, we support reading the values from environment, metadata and also triggerauthentication. The thing is that not all parameters can be recovered from all sources and there could be parameters which can be recovered from different combination of sources. My proposal is unifying this just supporting 2 different types:

- From all (for non secrets)
- From env+auth (for secrets)

The id

[2022-05-30 16:37] kibnelbachyr commented on #3031
I see some errors in the metrics server logs :

`E0530 16:30:46.758637       1 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"no matching metrics found for s0-azure-log-analytics-<id>"}: no matching metrics found for s0-azure-log-analytics-<id>
I0530 16:30:46.758819       1 trace.go:205] Trace[895562437]: "List" url:/apis/external.metrics.k8s.io/v1be

[2022-05-30 16:46] christle commented on #3022
Hi,

As i checked the dapr behavior with container apps and the eventhub scaler, a view month ago, it worked well with the goSdk. But the eventhub component was rewritten:

https://github.com/dapr/components-contrib/pull/1292/commits/29e22a0d4308a1de861271a0fba1ec48fe737555#diff-3a38d7491c58638ad54630db869afd8fbd80db683f62dc62f18a9c5b214b0962

which is good, we are waiting for some changes too :-)

[2022-05-30 16:48] xoanmm opened #3084 "Devcontainer not working for ARM"
### Report

Trying to generate the image for devcontainer in a Mac with ARM arch is not working, throwing the following error:
[code]

### Expected Behavior

Image generated from Dockerfile located in `.devcontainer/Dockerfile` is generated successfully

### Actual Behavior

Throw an error due `docker-ce` binary is not installed properly like the following:
[code]

### Steps to Reproduce the Probl

[2022-05-30 16:52] hacst commented on #1281
Nice to see movement on this issue. Personally I would find native prometheus support quite useful. Having open telemetry collector (especially for metrics) is still quite rare. Native prometheus will stay the de facto standard for quite a while and it's also what was supported in keda up to now. I agree that OTEL is great going forward though.

[2022-05-30 17:52] #3084 closed

[2022-05-31 07:22] tomkerkhove commented on #944
So we'll start with this approach then? If so, I'll create a new issue for support in scaled jobs and one for this new flavor in scaled object.

[2022-05-31 07:23] tomkerkhove commented on #479
Any thoughts https://github.com/orgs/kedacore/teams/keda-maintainers?

[2022-05-31 07:31] tomkerkhove commented on #1281
Anyone who is eager to contribute this?

[2022-05-31 07:37] tomkerkhove commented on #2940
Adding additional labels to HPA is something that we can support, though.

[2022-05-31 07:41] tomkerkhove commented on #753
But why would somebody want to use `TriggerAuthentication` to configure a non-secret? That doesn't really make much sense, doesn't it?

Also, we are not fixing the actual request here though.

[2022-05-31 08:32] tomkerkhove commented on #753
Great, thanks! Let's wait until we have an agreement though :)

Thoughts  @zroubalik?

[2022-05-31 09:14] tomkerkhove opened #3087 "Provide support for preventing interference of autoscaling a single scale target with arbitrary HPAs"
### Proposal

If somebody creates an HPA while it is already being autoscaled by an ScaledJob/ScaledObject, we should prevent the HPA from being created by using an admission controller that rejects the HPA.

Alternatively, KEDA can just log a warning so that end-users become aware of it but this does not reject HPA resources and might get lost.

### Use-Case

Prevent end-users from having multipl

[2022-05-31 09:16] tomkerkhove opened #3088 "Provide support for preventing CPU/Memory autoscaling without setting resources on the scale target"
### Proposal

Use an admission controller to ensure that the deployment is correctly configured

### Use-Case

Provide support for preventing CPU/Memory autoscaling without setting resources on the scale target which will not be able to autoscale anyway.

### Anything else?

_No response_

[2022-05-31 10:10] JorTurFer commented on #753
BTW, I agree [this solution](https://github.com/kedacore/keda/issues/753#issuecomment-1016640840)

[2022-05-31 10:16] alpozcan opened #3089 "dimensionName field of ScaledObject is documented as optional but seems to be required"
### Report

According to https://keda.sh/docs/2.7/scalers/aws-cloudwatch/, the `dimensionName` field should be optional.

The metric for scaling has no dimensions:
<img width="558" alt="image" src="https://user-images.githubusercontent.com/9840837/171150202-2a3e00ac-060c-4926-9e88-af3f6cfee971.png">

However, after applying the below resource definition,

[code]

### Expected Behavior

The ScaledO

[2022-05-31 13:25] TimShilov commented on #2812
That's still an issue.

If that's okay I may try to make a PR myself. Since I've never contributed to this project yet any guidance will be appreciated (should I update on scaler or as @zroubalik mentioned it's best to do this for all scalers?).

[2022-05-31 16:46] JorTurFer opened #3092 "Unify the used tooling on different workflows and arch"
### Proposal

We have a docker image with all needed build-tools in one place, and we use it on several workflows. The current problem is that we are introducing more processes which run on ARM64 and the build-tools doesn't support running on ARM64 architecture. This produces more work on CI processes just for installing the needed resources when we run ARM64 processes.
For instance, [main-build](

[2022-05-31 18:40] JorTurFer commented on #479
I have been checking it and in general I agree with all. You have done great job!!!!
The only point I don't agree is with the event when they have reached the max replicas. IMO we shouldn't do it because that means monitoring the workload (at least I feel that).

It's a really good feature for an hipotetycal KEDA v3 😉😉

[2022-05-31 20:40] teebu opened #3095 "KEDA Servicebus scaler HPA metric showing incorrect value"
### Report

![image](https://user-images.githubusercontent.com/5531844/171279683-f3af5c37-a15f-40ad-b6f8-8181da36fcc6.png)
I submit 1000 messages to service bus, and check the metrics.

### Expected Behavior

It should be a number like `1000 / 5` to indicate how many message are currently in the queue/topic.

### Actual Behavior

Shows a large number like `14704m / 5`

### Steps to Reproduce the P

[2022-06-01 03:34] champly opened #3096 "ScaledObject ready condition changed will not fix HPA in some situation"
### Report

ScaledObject:
[code]

If my own `keda-external` service offline, `Keda metrics-apiserver` logic will update HPA resource current metrics, and will trigger `Keda operator` Reconcile to update `HPA.Spec`. And then, the `keda-external` service online, `Keda operator` just update `ScaledObject` Ready condition, but if the CPU metrics is zero, HPA resource will not modify, so `ScaledObject`

[2022-06-01 04:12] bamboo12366 opened #3098 "add prometheus-metrics for keda-operator"
### Proposal

We already using keda in live environment. The metrics is missing for keda-operator is kind of hard for me to debug problem.
Maybe we should consider to add some metrics for it? Currently we only using the `scaleObject`, not using `triggerAuthentication` and `scaleJob`, what I implement in my environment for SO controller is:
- Total scaleobject per ns
- The rate and error rate to up

[2022-06-01 04:15] bamboo12366 commented on #3087
I urgently need this one, if no one is working on this can I give a try?

[2022-06-01 05:47] JorTurFer commented on #2618
Did you check ScaledJob? It, s the solution for long term processes

[2022-06-01 07:48] tomkerkhove commented on #3087
That would be nice! But we need to close on the approach first, certainly if we introduce an admission controller we need to see where we will shove it in (core or separate).

Thoughts @kedacore/keda-maintainers?

[2022-06-01 08:03] tomkerkhove commented on #3087
Already got you covered with https://github.com/kedacore/keda/issues/3083 ;)

[2022-06-01 08:03] #3065 closed

[2022-06-01 08:06] tomkerkhove commented on #3098
We are already tracking some in https://github.com/kedacore/keda/issues/2638, https://github.com/kedacore/keda/issues/2637 & https://github.com/kedacore/keda/issues/2639.

We are open for contributions on those.

Can you elaborate on these metrics and their use-case please?

[2022-06-01 08:44] tomkerkhove commented on #3087
If you create an HPA manually and deploy it, there is no way for KEDA to stop it except without using an admission controller since KEDA doesn't manage the HPAs but Kubernetes vanilla does.

[2022-06-01 10:34] SushmithaVReddy commented on #214
@tomkerkhove @jeffhollan Adding to the alias discussion - I've observed there is a difference in connection strings obtained for the Event hub and IoT hub through portal and the event hub scalar code doesn't seem to handle the format used in IoT hub.

EvenHub connection string - Endpoint=sb://<NamespaceName>.servicebus.windows.net/;SharedAccessKeyName=<KeyName>;SharedAccessKey=<KeyValue>
IoT hub c

[2022-06-01 11:00] zroubalik commented on #3087
We would need a separate controller for watching HPAs in the cluster.

[2022-06-01 11:37] tomkerkhove commented on #214
Then we are out of luck I think - Either we go with an external scaler similar to the Cosmos DB Changefeed or we put it in the fridge until it's there.

[2022-06-01 12:47] zroubalik commented on #479
I don't want v3 ever 😄

Sorry for the delay on this, it is still on my radar, I just need to find a time for a proper review.

[2022-06-01 12:49] zroubalik commented on #3087
I mean to keep just the SO Status as the base feature and an option to fallback to for people which don't want to (or can't) use admission webhooks.

[2022-06-01 13:15] #2567 closed

[2022-06-01 13:27] JorTurFer commented on #479
I see the business value and I think it's easy to do xD The thing is that it requires information about the infrastructure status and I know KEDA can get it, but I'm not sure if KEDA should do it. I mean, why only max replicas and not min/current replicas?
I feel that monitoring this information like infrastructure/workload monitoring and that should be done by other tools, prometheus/newrelic/dat

[2022-06-01 13:42] tomkerkhove commented on #479
I don't see this as monitoring since neither Prometheus nor the rest will tell you when the workload needs 11 replicas but it's not scaling because 10 is the max.

Imagine having an event for which you can subscribe, page somebody and mitigate it before your system is flooded.

[2022-06-01 14:14] tomkerkhove commented on #479
But similarly to how we offer scale-to-zero, we can leverage this as well in my opinion. If it's technically possible, which I think it should be but I do agree that this could be in a separate component if need be.

[2022-06-01 19:58] artursouza opened #3119 "Dapr as secret source"
### Proposal

Today, Dapr has many secret stores (and the list grows over time). KEDA might take advantage of that by offering Dapr as a secrets source:

https://docs.dapr.io/developing-applications/building-blocks/secrets/howto-secrets/

This means that Keda would invoke the Dapr sidecar's API to retrieve secrets instead of invoking the service directly. The secret store component would still nee

[2022-06-01 23:02] johnathan-walker commented on #3051
@JorTurFer Thanks. That actually was the issue.

We use kustomize for our manifest deployments. We added a common label that was overriding the label of the service. This caused the operator to be included in the service selection (and to fail).

I tried this on both minikube and a new gke cluster and couldn't for the life of me figure it out. Thanks a lot.

Maybe we can add a warning about the la

[2022-06-02 03:22] bamboo12366 commented on #3087
For the base feature one, in the scaleObejct Controller main logic just to check no other hpa existing in the cluster binding with workload, if exist reporting in status and emit an event right?

[2022-06-02 04:22] bamboo12366 commented on #3098
our apiserver always keeps in overloaded. The update to hpa sometimes will fail or retry, and hpa resource is key point to me, so I monitor it to check everything goes right

I got around 1k SO in the cluster. After creating hpa resource, the one of main logic for so controller is keep checking SO, which will cause burden to other service(in our case, prometheus or kv system). It's will be easy fo

[2022-06-02 06:27] tomkerkhove commented on #3119
That's a nice suggestion for a new trigger auth provider, thanks Artur! Do you know if anyone from the Dapr side is willing to contribute and maintain this provider?

[2022-06-02 06:28] tomkerkhove commented on #3119
Currently supported secret stores in Dapr: https://docs.dapr.io/reference/components-reference/supported-secret-stores/

[2022-06-02 06:31] JorTurFer commented on #3051
Do you mean in the installation docs? Yes, for sure, every improvement in the docs is more than welcomed 😄
Are you willing to contribute with that?

[2022-06-02 09:48] #3098 closed

[2022-06-02 10:04] bamboo12366 commented on #2637
Can consider adding update hpa error and active polling rate/error rate as well IMHO
As I mention in this issue https://github.com/kedacore/keda/issues/3098, those are both key metrics in my use-case

[2022-06-02 10:11] IlyaAlexin commented on #1281
@tomkerkhove may I contribute this feature?

[2022-06-02 12:11] tomkerkhove opened #3120 "Provide a metric for metric server performance"
### Proposal

Provide a metric for metric server performance:
- The rate and error rate to update HPA
- The rate to query the so active

See https://github.com/kedacore/keda/issues/3098#issuecomment-1144421310

### Use-Case

Monitor integration between HPA & metric server

### Anything else?

Relates to https://github.com/kedacore/keda/issues/3098

[2022-06-02 12:11] tomkerkhove commented on #2637
This is nto really related here but created https://github.com/kedacore/keda/issues/3120

[2022-06-02 12:30] johnathan-walker commented on #3051
Yes in the installation. I'll provide a pr.

[2022-06-02 20:38] cheskayang commented on #2658
Running into the same issue, saw this has been marked as stale, is there any other feedback?

[2022-06-03 06:50] JorTurFer commented on #2990
Could [this vulnerability](https://www.volexity.com/blog/2022/06/02/zero-day-exploitation-of-atlassian-confluence/) be related?

[2022-06-03 06:56] JorTurFer commented on #3089
hey,
I have checked the docs and `dimensionName` is only optional using expression
![image](https://user-images.githubusercontent.com/36899226/171802780-85a3750c-e067-4f18-b308-20ea20572a04.png).

TBH, I don't know if this makes sense or not. @JonasMatos0 r @dekelev could know more due they have worked on things related inside the scaler

[2022-06-03 08:06] v-shenoy commented on #3082
Should this be closed after #3080?

[2022-06-03 15:08] Lp-Francois opened #3123 "Redis Strings pattern"
### Proposal

A scaler based on strings pattern.

Some tools such [Bull](https://github.com/OptimalBits/bull) and [BullMQ](https://github.com/taskforcesh/bullmq) are working with queues based on Redis with the following Redis KEYS pattern:

`tool`:`queue`:`jobID`

[code]

So the scaler could be based on this: `tool`:`queue`:`*` to count the number of items in the queue.

### Scaler Source

Redis

[2022-06-04 01:36] alpozcan commented on #3089
Thanks for the response JorTurFer.
When I was going through the docs, I did not go all the way into the detailed field explanations it seems, so must have missed this. So, not a bug.

[2022-06-04 01:36] #3089 closed

[2022-06-04 09:29] aditya7196 commented on #753
@tomkerkhove Sorry i've been inactive for a long time, but the `queueNameFromEnv` approach will enable us to add the queue name in the deployment.yaml, and I think we can directly refer it via the key in the @ServiceBusQueueTrigger ?

[2022-06-04 23:02] akhan-2020 commented on #2990
Hello, I am experiencing the same issue using the latest 2.7.1 Keda version integrating with confluent cloud, I also confirmed that the cluster has connectivity to the the broker on Confluent cloud, note: **TLS is** **disabled**.

Here is the error
/go/pkg/mod/sigs.k8s.io/controller-runtime@v0.11.2/pkg/internal/controller/controller.go:227
1.6543820732464771e+09	ERROR	controller.scaledobject	Recon

[2022-06-05 02:30] #2578 closed

[2022-06-05 10:13] JorTurFer opened #3124 "Add AWS DyanamoDB Streams Scaler"

[2022-06-06 05:07] SushmithaVReddy commented on #214
@raorugan any thoughts?

[2022-06-06 05:49] kunalchandratre1 opened #3126 "Allow active connections based scaling using KEDA"
The underlying nodes on Azure support 500K flows. If we translate this into connections; it will be around 2,50,000. If we are using websocket based application with AKS; then this connection limit per node might breach; at the same time CPU and memory may not increase significantly.

Therefore please provide a way to scale nodes/ pods if active number of connections being served by pod/ node reac

[2022-06-06 06:27] zroubalik commented on #3082
Fixed in #3080

[2022-06-06 06:27] #3082 closed

[2022-06-06 07:14] zroubalik commented on #2850
The documentation is still missing on this.

[2022-06-06 07:17] dalgibbard commented on #2850
Agreed; I still plan to do this.

[2022-06-06 07:34] zroubalik commented on #2990
We should really have https://github.com/kedacore/keda/issues/3056 implemented, so we can inspect those errors in details. Not it is very hard to tell, what is the actuall problem :(

[2022-06-06 07:36] zroubalik commented on #2658
@cheskayang are you willing to contribute a fix for this?

[2022-06-06 07:38] zroubalik commented on #3087
Yeah, but please make it configurable, so it is not enabled by default.

[2022-06-06 09:13] SushmithaVReddy commented on #2353
@tomkerkhove any thoughts on the scaled object here(ref below). The idea is to use OTEL (https://pkg.go.dev/go.opentelemetry.io/otel) and connect to the endpoint mentioned in the scaledobject and pull the metric value and compare to the threshold to scale.

apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: opentelemetry-scaledobject
  namespace: keda
  labels:
    deploymentName: d

[2022-06-06 11:38] Jouse82 opened #3127 "Redis 7.0 Streams - use Lag instead of pending"
Existing Redis Streams scaler uses the Xpending which may be completely false information. XPending only shows the number of read but unacked messages and therefore may not reflect the queue status.

Redis 7.0 has introduced a new metric "Lag", which shows the amount of unread messages for a Stream and Group.
XINFO _stream_ _group_

This should be the made available for the Redis streams scaler to

[2022-06-06 12:40] Axory opened #3128 "Add support for Hashicorp Vault Transit"
### Proposal

KEDA Auth supports Hashicorp vault as secret backend but only stores plaintext password in KV v2.

Suggestion to add 1 more parameter to allow the credentials to be encrypted.

`
hashiCorpVault:                                                      # Optional.
  address: {hashicorp-vault-address}                      # Required.
  namespace: {hashicorp-vault-namespace}          # Opti

[2022-06-06 15:07] JorTurFer commented on #3127
Hey @Jouse82
This sounds totally legit. My only concern is if this change can be done keeping the backward compatibility in any way or we will need to create (another) redis scaler 🤔

BTW, are you willing to contribute with this?

[2022-06-06 21:41] DanInProgress commented on #944
@tomkerkhove I have some spare cycles this week and could take on implementation for ScaledJob if you've not started already.

Currently in need of the ability to pause/prevent execution of Cron triggered ScaledJobs and working on a pull request seems less kludgy than any other workaround we've discussed.

[2022-06-07 04:35] tomkerkhove commented on #944
As far as I know, that's not been implemented yet so feel free to take a stab at it!

[2022-06-07 05:25] tomkerkhove commented on #3126
The ask is to scale based on used connections on nodes so that applications can be scaled out accordingly, if I'm not mistaken @kunalchandratre1?

If so, how would you envision this assuming KEDA does not know how many connections are being used on the nodes?

[2022-06-07 05:31] tomkerkhove opened #3133 "Provide support for scaling apps using AWS SQS Queue to include in-flight messages as well"
### Proposal

Provide support for scaling apps using AWS SQS Queue to include in-flight messages as well in addition to the already queued message count

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-07 05:33] tomkerkhove commented on #3133
@LiamStorkey is working on this

[2022-06-07 06:21] raorugan commented on #214
I think it will be good to get the roadmap of IOT hub if they have plans to enable Azure SDK for go lang

[2022-06-07 06:25] tomkerkhove commented on #214
Feel free to open an issue there and mention this issue so that they are linked, but for now we can't add it to KEDA core then.

[2022-06-07 06:26] tomkerkhove commented on #3127
We should have the capability to configure which approach to use given this is only in Redis 7 as well

[2022-06-07 06:30] tomkerkhove commented on #3123
Would it make sense to support this string pattern approach or rather a Bull scaler instead? I'm more wondering if we shouldn't do the latter?

[2022-06-07 06:30] tomkerkhove commented on #2871
Closing as issue is stale and above mentioned issues are closed

[2022-06-07 06:30] #2871 closed

[2022-06-07 06:35] tomkerkhove commented on #753
Frankly, I don't think we need to add `XXXFromEnv` for all settings which is very noisy and a lot of maintenance while a `%ENV%` convention helps us remove that churn.

[2022-06-07 06:42] v-shenoy commented on #2920
Even though the docs mention `go1.18` this package is already being used in the repo.
- [Azure Key Vault](https://github.com/kedacore/keda/blob/c00294c85561dd2e109f0ccdb30cb247fe9526fa/pkg/scaling/resolver/azure_keyvault_handler.go#L24)
- [Azure Monitor](https://github.com/kedacore/keda/blob/c00294c85561dd2e109f0ccdb30cb247fe9526fa/pkg/scalers/azure/azure_monitor.go#L27)

[2022-06-07 06:45] tomkerkhove commented on #2353
It's ok for me to use that package since that's the official SDK - Thanks for checking.

I don't see the difference between both proposals other than one vs multiple metrics though? Can you elaborate on it?

In terms of supporting multiple metrics - I'd argue that given we support multiple triggers it might be more aligned with other scalers to only support 1 metric per trigger to keep a consisten

[2022-06-07 06:45] JorTurFer opened #3135 "Use mili scale to support more precision"
### Proposal

K8s supports using different units to bring more precision to the values but right now, all the scalers return an integer quantity in the default unit. This can produce data lost in some cases.

### Use-Case

Imagine that you have one metric which is a rate from 0 to 1, with the current approach you can't use KEDA for scaling it without any other different solution but using `mili` i

[2022-06-07 07:02] SushmithaVReddy commented on #2353
Yes @tomkerkhove the proposals point out multiple metrics usage as you understood. I agree with the consistency over other scalars we have, but I'm concerned about how much value will our scaling add considering it can scale on a single metric where open-telemetry's  is majorly used to spit a lot of metrics.

nitpick: If we have one metric/scaled object and user wants to scale based on multiple me

[2022-06-07 07:38] tomkerkhove commented on #2353
It would be nice to also make the protocol configurable given OTEL supports both http and gRPC

[2022-06-07 08:28] tomkerkhove commented on #2920
Then we should revise this, unless the limitation is just for Azure Service Bus.

[2022-06-07 08:42] v-shenoy commented on #2920
They migrated to `1.18` in March as per this [PR](https://github.com/Azure/azure-sdk-for-go/pull/17308/files). But I don't think they're using any of the new `1.18` features.

[2022-06-07 08:47] SushmithaVReddy commented on #2353
Right, the below one makes sense?

[code]

[2022-06-07 08:50] zroubalik commented on #2353
Yeah, this is correct. Just one thing, the `metric.name` is related to otel?

[2022-06-07 08:52] SushmithaVReddy commented on #2353
metric.name will be used to pull the metric. It should match with the name user have in their instrumented application.

[2022-06-07 09:12] tomkerkhove commented on #2353
Sounds good to me.

[2022-06-07 10:07] MarekLani opened #3136 "Keda Operator and Metrics API Server unable to start in AKS"
### Report

When installing kEDA thru helm chart onto AKS cluster (behind firewall) we are getting following errors from keda operator and metrics api server:

[code]

[code]

### Expected Behavior

After running helm install KEDA initializes properly.

### Actual Behavior

Keda Operator and Keda Metrics API Server pods are getting into crash loop backoff state.

### Steps to Reproduce the Problem

[2022-06-07 10:54] #3096 closed

[2022-06-07 11:42] kibnelbachyr commented on #3031
Hi @JorTurFer, did you get a change to check these errors?

[2022-06-07 11:45] tomkerkhove commented on #3136
Did you verify that the ports used are enabled? Most probably that's the issue

[2022-06-07 14:39] Lp-Francois commented on #3123
Hello @tomkerkhove,

I quickly checked for another language like for python: https://github.com/rq/rq/blob/master/rq
and it seems they follow the same pattern https://github.com/rq/rq/blob/master/rq/queue.py#L42

So we could implement it only for BullQ, or try to make it more global with the Strings pattern?

As the only change would be how it checks the first "namespace"/"tool" value: `tool`:`que

[2022-06-07 14:53] Lp-Francois commented on #3123
So either we give the ability to specify a string matching pattern such:

[code]

or we make it more focused on bullq with something like:

[code]

And under the hood it will use `bull:myawesomequeue:`

But then later on, if someone wants to create a scaler for a similar use-case (such rq or asynq), it might be just copy paste and change 1 line in the scaler file.

[2022-06-07 15:02] Lp-Francois commented on #3123
Yes, I think the prefix option makes more sense (as for example in asynq package, they add a `:t:` that is not in rq or bullq: `asynq:{<qname>}:t:<task_id>`) .

So matching a pattern / prefix is probably a better idea 👍

[2022-06-07 16:36] #2819 closed

[2022-06-07 21:20] bakoontz2 opened #3140 "Disabling scaledown is ignored"
### Report

Kubernetes docs provide a means by which scaledowns can be disabled:

[code]
However, ScaledObject doesn't seem to support this:

[code]

### Expected Behavior

The expected behavior is that a triggering event would scale up to 1 pod, but once that triggering event was removed from the queue, scaledown to 0 would be disabled.

### Actual Behavior

When the event queue is empty, the sel

[2022-06-08 06:41] JorTurFer commented on #3031
hi @kibnelbachyr
I have checked them and I can't find anything (but I'm not an expert in Log Analytics). Maybe @v-shenoy can take a look if he has time

[2022-06-08 12:14] tomkerkhove opened #3141 "Provide dapr checkpoint strategy for Azure Event Hubs"
### Proposal

Provide dapr checkpoint strategy for Azure Event Hubs which uses `{blobContainer}/dapr-{topic}-{consumerGroup}-{partitionId}`

### Use-Case

_No response_

### Anything else?

See https://github.com/kedacore/keda/issues/3022

[2022-06-08 12:14] tomkerkhove commented on #3022
Created https://github.com/kedacore/keda/issues/3141 for Dapr checkpointing

[2022-06-08 13:11] tomkerkhove commented on #3140
@zroubalik Is this a bug or doc bug?

[2022-06-08 13:17] zroubalik opened #3142 "Error message in getting ServiceAccount for PodIdentityProviderAwsEKS is suboptimal"
### Proposal

Error message in getting ServiceAccount for PodIdentityProviderAwsEKS is suboptimal, ServiceAccount name is missing in the error message.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-08 13:44] #3142 closed

[2022-06-08 21:18] wsugarman commented on #2836
I'm also seeing this issue, and it's leading to noisy pod restart alerts in our AKS cluster. We are only running 1 replica of the KEDA operator, but as of now we're seeing container restarts ~3-8 times a day thanks to `"leader election lost"`

@zroubalik - Presumably you were talking previously about tweaking the lease-related settings? Perhaps there should be a hook in the helm chart for configur

[2022-06-09 11:16] tomkerkhove opened #3146 "Provide support for container-level metrics in CPU/Memory scaler"
### Proposal

Provide support for container-level metrics in CPU/Memory scaler

### Use-Case

Provide support for container-level metrics in CPU/Memory scaler to scale more granularly.

### Anything else?

_No response_

[2022-06-09 12:20] karolorlamowski opened #3147 "Authentication failures for Datadog scaler"
### Report

Getting 403 error when I try to use Datadog scaler following this steps https://keda.sh/docs/2.7/scalers/datadog/

There is no problems when I try invoke API from local machine via CURL using same apiKey and appToken.

### Expected Behavior

Activation of Keda Datadog scaler

### Actual Behavior

"error": "error establishing Datadog connection: error connecting to Datadog API endpoint:

[2022-06-09 13:34] v-shenoy commented on #3031
I don't think I can take this up for some time.

[2022-06-09 14:35] 3schwartz opened #3149 "Kafka scaler reports small number when some partitions are empty"
### Report

In our cluster I have enabled a Kafka trigger.

[code]

The topic have 100 partitions and only some with messages. The scaler reported 1836m/200  but there wasn't any lag on the consumer group.

After I had publish messages to all partitions the scaler ended up reported correct metric - hence reported zero lag after consumer had consumed all messages.

### Expected Behavior

Lag amount

[2022-06-09 16:34] ryan-dyer-sp opened #3151 "Possible connections leak in kafka scaler"
### Report

There appears to be a connections leak in the kafka scaler.

Scenario:
We had keda working fine with a kafka scaler.  The MSK cluster ran out of disk space which caused it to be unaccessible to keda.  We resolved the disk space issue by scaling the broker storage.  After this keda appears to have returned to normal, however one of the MSK brokers was reporting an unusually high amount

[2022-06-10 13:15] 3schwartz opened #3152 "Prometheus scaler unable to recover after missing metric response"
### Report

We are using the Prometheus scaler configured like below

[code]

Due to high traffic within our cluster requests to Thanos can sometimes take a higher amount of time. I believe a request timeout is happening. What we observe is the HPA reports `<unknown>/100`.

If I delete the HPA, and the ScaledObjects recreates it, it correctly gets the metric. Hence it seems like it isn't able to r

[2022-06-10 16:47] pragmaticivan opened #3154 "Ability to control an existing HorizontalPodAutoscaler"
### Proposal

Add the ability to reference an existing Horizontal Pod Autoscaler (HPA) by overwriting or expanding the existing HPA with the new scalers provided in the ScaledObject.

Such a feature would alleviate the need to delete existing HPAs and would support progressive add-ons in existing running applications.

### Use-Case

Application ABC has memory/cpu based HPA already.

ScaledObject w

[2022-06-10 17:45] kevin-staiger opened #3155 "Keda HPA scaling not working"
Hi I have an application that is scaling on kafka lag and my configuration is

[code]

I'm expecting that the max amount of pods that can be scaled down in a 20 min period to be 1 but i am consistently seeing it scale by more than one instance in a much faster time frame which is creating 'flapping' and spikes to my downstream calls due to constant scaling

events

New size: 6; reason: All metrics

[2022-06-10 19:36] kevin-staiger commented on #3155
Was using an outdated version, closing

[2022-06-10 19:36] #3155 closed

[2022-06-11 01:05] mend-bolt-for-github[bot] opened #3156 "CVE-2022-1996 (High) detected in github.com/knative/pkg-9c5a7317fa9de4a38ad8a4ed4cd483accbac9aae"
## CVE-2022-1996 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/knative/pkg-9c5a7317fa9de4a38ad8a4ed4cd483accbac9aae</b></p></summary>

<p>Knative common packages</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/knative/pkg-9c5a7317fa9de4a38ad8a4ed4c

[2022-06-11 08:16] itonyli commented on #3146
@tomkerkhove I want to try it, what kind of process do I need?

[2022-06-12 09:58] chenele opened #3158 "Keda failed to fetch PubSub metrics randomly"
### Report

Hi

We are using Keda 2.5.0 with GKE.

There is some kind of bug when using GCP PubSub with Keda, while from time to time it failed to fetch metrics from stackdriver and says the metric doesnt exist, although few minutes later all good.

anyone encounter this? any workaround?
10x

### Expected Behavior

fetch metrics all the time

### Actual Behavior

failed to fetch metrics randomly ,

[2022-06-12 14:05] aviadlevy commented on #3154
What is the expected behavior when the ScaledObject is deleted?
Does the original HPA restored?

[2022-06-12 14:22] JorTurFer commented on #2833
I can't reproduce the issue, maybe with any update in the scaler we have solved it

[2022-06-12 14:22] #2833 closed

[2022-06-12 14:37] JorTurFer commented on #3158
hey @chenele
There were problems related with the internal cache in KEDA v2.5, please update it to at least v2.6.1 (or to latest v2.7.1)
let me know if the problem persists after updating KEDA

[2022-06-12 14:38] pragmaticivan commented on #3154
@aviadlevy just like it would not delete the Deployment, I think the original HPA should be restored.

[2022-06-12 14:47] JorTurFer commented on #3140
I think that is a gap in the docs, the section `horizontalPodAutoScalerConfig` is passed to the HPA but the scaling from 1 to 0 is done by the operator.
IMO, KEDA shouldn't take case about HPA custom behaviours because that it's responsibility from the HPA Controller.

[2022-06-12 17:56] raravena80 opened #3159 "Azure Pipelines Scaled Object cannot reconcile due to wrong PAT config"
I've run into this:

[code]

To test that my PAT was working I used this [script](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops&tabs=Linux#use-a-pat) from the Azure Docs. (Works good)

[2022-06-12 18:03] raravena80 commented on #3159
Note: This is issue might be present in other scalers that use an Azure PAT.

[2022-06-13 07:28] tomkerkhove commented on #3146
Do you mean process for contribution or?

[2022-06-13 07:29] tomkerkhove commented on #3154
What does the HPA have configured that would want you to keep it?

[2022-06-13 07:30] tomkerkhove commented on #3159
Thanks for reporting and fixing it @raravena80!

[2022-06-13 07:31] tomkerkhove commented on #3140
I think the side question here is - Do we allow end-users to configure all advanced HPA settings or just a handful?

[2022-06-13 07:49] JorTurFer commented on #3140
I'm not sure, but in this case the user problem is from 1 to 0 and the HPA doesn't work there, it's the operator itself. I mean, if the issue had been scaling in from 2 to 1, could be a bug in the parameters that we pass to HPA, but in this case, the operator doesn't respect that parameter because it's for the HPA.
IMO the side question is more, should KEDA parse HPA advanced configs and respect t

[2022-06-13 08:06] zroubalik commented on #3140
We should improve docs, to clearly mention that this setting applies to 1<->N scaling. But we can definitely think about adding some of those capabilities to 0<->1 as well.

[2022-06-13 08:17] zroubalik commented on #3158
yeah, go straight to 2.7.1, there were also some improvements in GCP scalers.

[2022-06-13 09:01] v-shenoy commented on #2357
@tomkerkhove @JorTurFer @zroubalik We need to create new issues for scalers that have e2e tests in `ts` in need of migration, and add them here.

[2022-06-13 09:07] tomkerkhove commented on #2357
Feel free to open them, thanks!

[2022-06-13 09:09] v-shenoy opened #3169 "Migrate e2e test for CPU scaler to Go."
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-13 09:10] v-shenoy opened #3170 "Migrate e2e test for memory scaler to Go."
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-13 09:11] v-shenoy opened #3171 "Migrate e2e test for AWS Kinesis Stream scaler to Go."
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-13 09:11] v-shenoy opened #3172 "Migrate e2e test for AWS SQS Queue scaler to Go."
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-13 09:11] v-shenoy opened #3173 "Migrate e2e test for AWS Cloudwatch scaler to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-13 09:12] v-shenoy opened #3174 "Migrate e2e test for Google Cloud Pub/Sub scaler to Go."
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-13 09:13] v-shenoy opened #3175 "Migrate e2e test for external scaler to Go."
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-13 09:13] v-shenoy opened #3176 "Migrate e2e test for Hashicorp Vault to Go."
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-13 09:23] v-shenoy commented on #2737
Okay, I created a few. But I now realize that there's too many of them. What's the smoothest way here?

[2022-06-13 09:23] v-shenoy commented on #2357
Okay, I created a few. But I now realize that there's too many of them. What's the smoothest way here?

[2022-06-13 09:49] zroubalik commented on #2357
I'd create one umbrella issue, with tasks

- [ ] scaler X
- [ ] scaler Y

The task could be transferred into an issue if there's a person who is willing to contribute that.

[2022-06-13 10:03] v-shenoy commented on #2357
Here's a list. Maybe Tom can edit and add them as a section in this issue itself. Or maybe here https://github.com/kedacore/keda/issues/2737

- [ ] ActiveMQ
- [ ] Argo Rollouts
- [ ] Artemis
- [ ] AWS CloudWatch Expression
- [ ] AWS CloudWatch (#3173)
- [ ] AWS DynamoDB
- [ ] AWS Kinesis Stream (#3171)
- [ ] AWS SQS Queue (#3172)
- [ ] Azure App Insights
- [ ] Azure Blob
- [ ] Azure Data Explorer

[2022-06-13 10:43] zroubalik commented on #2357
Thanks!

[2022-06-13 10:44] zroubalik commented on #2357
Updated here: https://github.com/kedacore/keda/issues/2737

[2022-06-13 10:50] zroubalik commented on #3152
Can you reproduce the same with KEDA 2.7.1?

[2022-06-13 11:11] tomkerkhove commented on #3140
:100: and also if people can configure all advanced configuration options or not.

Sounds like a good idea; would you mind opening a feature request for this @zroubalik ?

[2022-06-13 13:48] aditya7196 commented on #753
@tomkerkhove One follow-up question, would that work in helm deployment yamls just like `XYZFromEnv` or `XYZ` works?

[2022-06-13 13:50] v-shenoy commented on #2737
`tests/READM.md` has already been updated with basic guide about tests in `Go`.

[2022-06-13 20:19] JorTurFer commented on #3147
hey
Could you share your scaleobject? (without secrets ofc)

[2022-06-13 20:27] JorTurFer commented on #2910
hey,
Sorry for the super slow response, I have to apologize because I didn't see the issue...
did you try adding `Terminating` to the `PendingPodConditions`? I theory you could specify there the status that you want

[2022-06-13 21:06] mhoppe-cedar commented on #3031
I saw a similar error when my keda metrics server did not have proper IAM permissions associated with it. Went back to check the keda metrics server deployment, the keda operator deployment, the scaledobject, and the keda operator serviceaccount roles/permissions. After ensuring they all agreed and were sufficient, it worked.

[2022-06-13 21:07] mhoppe-cedar commented on #3007
I saw a similar error when my keda metrics server did not have proper IAM permissions associated with it. Went back to check the keda metrics server deployment, the keda operator deployment, the scaledobject, and the keda operator serviceaccount roles/permissions. After ensuring they all agreed and were sufficient, it worked.

[2022-06-14 00:03] FullyScaled commented on #2910
Hi Jorge,
we already tried to add "Terminating" to those pending pod conditations. The pendingPodConditions seems to be something different than the pod phase which is "Terminating" in our case.

[2022-06-14 00:08] JorTurFer commented on #2910
your use case makes sense I'd say, are you willing to contribute it?

[2022-06-14 05:54] tomkerkhove commented on #753
Would you mind elaborating please? I'm not sure if I get what you mean.

If you'd use `%ENV%` KEDA would then look up the value for `ENV` on the scale target. Does that answer your question?

[2022-06-14 07:03] #3152 closed

[2022-06-14 09:20] zroubalik commented on #3151
Thanks for reporting this!

To clarify, you can see those connections only in KEDA Metrics Server not in the Operator, right? We need to track down, whether this is bad behavior in KEDA or whether the problem is in the Sarama client itself 🤔

[2022-06-14 12:50] FullyScaled commented on #2910
Hi,

[2022-06-14 12:54] FullyScaled commented on #2910
Hi, yes we could imagine to contribute this feature. When Keda receives a ScaledJob update it deletes the old Jobs. I

[2022-06-14 18:17] JorTurFer commented on #2790
I close this because KEDA since now, KEDA supports `mili` units so float64 target values make sense

[2022-06-14 18:17] #2790 closed

[2022-06-15 05:05] vivek-sciffer opened #3178 "Auto-scaling pods on the basis of messages in the queue with KEDA for processor intensive long running tasks.."
### Discussed in https://github.com/kedacore/keda/discussions/3177

<div type='discussions-op-text'>

<sup>Originally posted by **vivek-sciffer** June 15, 2022</sup>
**My requirement is to have long running processor intensive tasks to be performed in parallel**. As working stack am using **(Kubernetes, KEDA, Azure Storage Queue, Dockerized Azure funtions/Python scripts).** To perform the task I i

[2022-06-15 05:13] tomkerkhove commented on #3178
Closing as duplicate of https://github.com/kedacore/keda/discussions/3177

[2022-06-15 05:13] #3178 closed

[2022-06-15 11:49] zroubalik commented on #3151
1 SO and thousands of connections? 🤔 That's not good. Would be great if we can somehow isolate the problem and have reproducer that doesn't depend on your setup, Strimzi or something like that.

[2022-06-15 12:22] ryan-dyer-sp commented on #3151
Technically for the kafka cluster, there were two SOs pointing at it.  Two different k8s clusters with the SO above running with only the topic and consumer group being different.

[2022-06-15 13:23] zroubalik commented on #3151
Yeah. And until there aren't any problems with the broker you don't see any rise in the number of connections, right?

[2022-06-15 13:45] ryan-dyer-sp commented on #3151
Correct.  Until we ran out of storage space on the brokers, the connection count from the apiserver was minimal.
![image](https://user-images.githubusercontent.com/16764971/173842570-28c52407-50bc-4988-ae79-4c5bfa4a7fb9.png)

[2022-06-15 19:22] zroubalik commented on #3151
Are you able to somehow reproduce the problem? It would be awesome if you can do so. There's one part of code which could be the potential problem, though I'd need to have a way how to reproduce the problem to clarify that I am right and that the proposed fix works as expected.

[2022-06-15 19:46] ryan-dyer-sp commented on #3151
Sorry, no.  We do not have a test environment where I can reproduce this issue.  This happened on a semi-important system and we cant have another outage like this.

[2022-06-16 05:39] vivekjainx86 opened #3180 "PredictKube scaler ignores metricName value"
### Report

While using PredictKube scaler, I observed that it ignores given metricName value, and uses pre-defined prefix ([here](https://github.com/kedacore/keda/blob/2698fe1f47c100ef9b5ed4cdaa6c0359174e12f9/pkg/scalers/predictkube_scaler.go#L204)) . Because of this, the metric is not uniquely identified if I use multiple predictKube scalers.

Example:
[code]

### Expected Behavior

It should se

[2022-06-16 06:02] tomkerkhove commented on #3180
@daniel-yavorovich can you help on this?

[2022-06-16 07:53] vivekjainx86 commented on #3180
hello @tomkerkhove, can I work on this? I already made code changes, and working on test cases.

[2022-06-16 08:18] zroubalik commented on #3180
@vivekjainx86 sure, that's even better :) Thanks!

[2022-06-16 08:39] tomkerkhove commented on #3180
Thanks!

[2022-06-17 06:49] #3133 closed

[2022-06-17 19:46] #2852 closed

[2022-06-18 18:24] M-Adam opened #3188 "ActiveMQ scaler not respecting HTTPS protocol setting"
### Report

I have KEDA running on my local Docker Desktop cluster (Windows).
I am using ActiveMQ scaler
https://keda.sh/docs/2.7/scalers/activemq/
Here is my scaledObject setup:
[code]
Please note that I've used restAPITemplate that starts with HTTPS. However, I can see the following in the logs of `keda-metrics-apiserver-xxx` pod:
[code]

Note the HTTP protocol in front of the URL, while it shou

[2022-06-19 00:26] #2903 closed

[2022-06-19 06:55] ZviMints commented on #1183
Does the percentage are from container CPU usage or from k8s requests CPU usage?

[2022-06-19 11:51] tomkerkhove commented on #1183
It does not support per container usage yet (see #3146) but is only on pod-level.

[2022-06-19 20:33] JorTurFer opened #3190 "Add a check to validate the changelog on PRs"
### Proposal

Even it's documented the proper way to add entries in the changelog, there are cases where we still approve PRs with the entry unsorted or with other style errors.
It's difficult to review every thing without any error, but maybe we can create a bash script that checks the unreleased section to validate it and append it to pre-commit checks

### Use-Case

_No response_

### Anything

[2022-06-19 20:54] JorTurFer commented on #3188
hey @M-Adam
Thanks for reporting it, I have checked the code and the error seems that's here
https://github.com/kedacore/keda/blob/main/pkg/scalers/activemq_scaler.go#L203
Even KEDA parses the template (including the protocol), when it gets the endpoint to do the query against to, it still uses the default template, ignoring the user provide value

[2022-06-20 05:12] #3188 closed

[2022-06-20 06:30] JorTurFer commented on #3188
@M-Adam ,
We have merged a fix 1 hour ago. if you could use `main` tag to validate that the problem is solved would be nice

[2022-06-20 08:05] Ritikaa96 opened #3192 "Templates name aren't clear in the output in the error log for the latest e2e testing."
### Report

While doing negative testing on the latest migrated code for the e2e testing, the output for a test with erroneous template was this:

`cannot apply file - error: error parsing /tmp/tempTemplateFile393652011: error converting YAML to JSON: yaml: line 31: could not find expected ':'`

This proves to be confusing in case we have scalers with multiple templates.

### Expected Behavior

Th

[2022-06-20 08:08] Ritikaa96 commented on #3192
@JorTurFer @zroubalik @arschles WDYT?

[2022-06-20 08:12] champly opened #3193 "external server create too may gRPC connection"
### Report

When we use `external` and `external-push` extensions, `kdea` will create a gRPC connection for each request, and use metadata as hashkey will result in a gRPC connection per `ScalerObject`

### Expected Behavior

The same `address` use the same connection.

### Actual Behavior

Create too many gRPC connection

### Steps to Reproduce the Problem

create `external` server will got
[code

[2022-06-20 09:07] sam-orca commented on #828
have we tried anything to address the issue?

[2022-06-20 10:24] #3193 closed

[2022-06-20 11:34] JorTurFer commented on #3188
There is not any yaml to download because `main` tag is not "production ready" because it's unstable (every commit updates that tag), remember this if you try it to undo the change after checking it or to use any other mechanism to pin it.
The way to do use `main` is just editing the deployment and changing the image tag from `2.7.1` to `main`, ie `image: ghcr.io/kedacore/keda:2.7.1` -> `image: gh

[2022-06-20 11:36] mend-bolt-for-github[bot] opened #3194 "CVE-2022-33987 (Medium) detected in got-11.8.2.tgz, got-9.6.0.tgz"
## CVE-2022-33987 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>got-11.8.2.tgz</b>, <b>got-9.6.0.tgz</b></p></summary>
<p>

<details><summary><b>got-11.8.2.tgz</b></p></summary>

<p>Human-friendly and powerful HTTP request library for Node.js</p>
<p>Library h

[2022-06-20 13:00] JorTurFer commented on #3192
BTW, are you willing to contribute with this?

[2022-06-20 13:15] zroubalik commented on #828
You can define multiple triggers per ScaledObject.

[2022-06-20 13:23] #3057 closed

[2022-06-20 14:38] sam-orca commented on #828
nvm, I think https://keda.sh/docs/2.7/scalers/apache-kafka/ there is some example here

[2022-06-20 15:58] JorTurFer commented on #2910
Sorry again for the slow response. I have read your use case again, and I don't get the current problem. If you are using ScaledJob, your pods shouldn't receive the termination signal, at least form KEDA. KEDA creates the job and monitors them, but KEDA doesn't kill them (correct me if I'm wrong @zroubalik ).
Are you sure that is KEDA who is killing the jobs? Does KEDA update already existing jobs

[2022-06-20 16:01] JorTurFer opened #3205 "Use Golang 1.18"
### Proposal

Bump Golang version to 1.18

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-20 16:17] v-shenoy commented on #3192
I think having a template name parameter in the function is not that bad of an idea. I was thinking something like this -
[code]

[2022-06-20 17:54] JorTurFer commented on #3205
atm, there are linters without support to go 1.18
[code]
I think that kustomize and operator-sdk supports go 1.18 but doesn't make sense to update till linters have support for it

[2022-06-20 17:58] JorTurFer commented on #2916
For the moment, [KEDA doesn't support go 1.18](https://github.com/kedacore/keda/issues/3205) because there are some gaps in the tooling. I have checked and kustomize should work with go 1.18 but maybe requires an update

[2022-06-21 04:38] BlaneG commented on #1189
I was receiving a similar error when trying to deploy to kubernetes with `func kubernetes deploy`

[code]

I reinstalled the most recent version of keda from yaml described here: https://keda.sh/docs/2.7/deploy/#yaml

[2022-06-21 06:52] JorTurFer commented on #2787
I think this vulnerability has solved because we don't use this package. Just in case I have updated in also as part of [this](https://github.com/kedacore/keda/pull/3207)

[2022-06-21 06:52] #2787 closed

[2022-06-21 06:53] JorTurFer commented on #3194
we are migrating e2e test from ava to golang, doesn't make sense fix this

[2022-06-21 06:53] #3194 closed

[2022-06-21 13:14] #2926 closed

[2022-06-22 04:00] Ritikaa96 commented on #3192
hi @JorTurFer , i might have missed the comment here, sure I'd love to work on it. if @v-shenoy don't mind? any suggestion is also appreciated of how we can improve this even more.

[2022-06-22 05:41] Ritikaa96 commented on #2737
Hi @tomkerkhove Seems like the list doesn't have Cron scaler.

[2022-06-22 05:42] Ritikaa96 opened #3217 "Migrate e2e test for Cron to Go."
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 05:43] Ritikaa96 commented on #3217
/testing
/help-wanted

[2022-06-22 05:44] Ritikaa96 commented on #2737
Added #3217 for the same if it's alright.

[2022-06-22 05:47] Ritikaa96 commented on #3217
Hi @keda-core-contributors @tomkerkhove. I might as well work on it. Please let me know if we were waiting on something to add it into the migration list.

[2022-06-22 06:54] tomkerkhove commented on #3170
@aviadlevy is working on this

[2022-06-22 06:55] tomkerkhove commented on #3217
We're definitely happy to review PRs on this - Thanks!

[2022-06-22 06:56] tomkerkhove commented on #2737
Updated, thanks!

[2022-06-22 06:56] tomkerkhove commented on #2737
@v-shenoy Were you going to open issues for all of them?

[2022-06-22 07:03] #3147 closed, assigned to nobody

[2022-06-22 07:12] shalev123d opened #3221 "Could not wait for Cache to sync - Keda pod restarts"
### Report

Hi,

We have a ScaledJob object, which runs a long running job (around 45 min) upon a AWS SQS message received.
Randomly in the middle of the execution of the job, the Job terminates (and not because the job is finished running).
I've tailed Keda Operator logs while the execution rans, and I noticed the pod has crashed with the error - "failed to wait for scaledjob caches to sync: time

[2022-06-22 07:56] v-shenoy commented on #3192
Yes, please take it up. I was just adding my thoughts.

[2022-06-22 07:57] v-shenoy commented on #2737
@tomkerkhove Could you also pin this issue along with the other one for e2e tests?

[2022-06-22 08:41] tomkerkhove commented on #2737
Unfortunately, we need to have issues for all of them in order to have a representative backlog. I'll create all the missing issues later today.

[2022-06-22 08:43] tomkerkhove commented on #2357
Why do we have  Argo Rollouts in the list? This is not a scaler we have today.

[2022-06-22 08:45] tomkerkhove opened #3223 "Migrate e2e test for Azure Storage Queues scaler to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3224 "Migrate e2e test for ActiveMQ to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3225 "Migrate e2e test for Artemis to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3226 "Migrate e2e test for AWS CloudWatch Expression to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3227 "Migrate e2e test for AWS DynamoDB to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3228 "Migrate e2e test for Azure Application Insights to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3229 "Migrate e2e test for Azure Blob Storage to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3230 "Migrate e2e test for Azure Service Bus to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3231 "Migrate e2e test for Cassandra to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3232 "Migrate e2e test for Datadog to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3233 "Migrate e2e test for Elasticsearch to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3234 "Migrate e2e test for GCP StackDriver to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3235 "Migrate e2e test for GCP Storage to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3236 "Migrate e2e test for Graphite to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3237 "Migrate e2e test for InfluxDB to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3238 "Migrate e2e test for Kafka to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3239 "Migrate e2e test for Kubernetes Workload to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3240 "Migrate e2e test for Metrics API to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3241 "Migrate e2e test for MongoDB to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3242 "Migrate e2e test for MSSQL to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:51] tomkerkhove opened #3243 "Migrate e2e test for MySQL to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3244 "Migrate e2e test for NewRelic to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3245 "Migrate e2e test for OpenStack Swift to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3246 "Migrate e2e test for PostgreSQL to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3247 "Migrate e2e test for PredictKube to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3248 "Migrate e2e test for Prometheus to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3249 "Migrate e2e test for RabbitMQ to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3250 "Migrate e2e test for Redis Cluster (Lists + Streams) to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3251 "Migrate e2e test for Redis (Lists + Streams) to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3252 "Migrate e2e test for Redis Sentinel (Lists + Streams) to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3253 "Migrate e2e test for Selenium Grid to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3254 "Migrate e2e test for Solace to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:55] tomkerkhove opened #3255 "Migrate e2e test for Solace to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:56] tomkerkhove opened #3256 "Migrate e2e test for Stan to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:57] tomkerkhove opened #3257 "Migrate e2e test for Azure Data Explorer to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:57] tomkerkhove opened #3258 "Migrate e2e test for Azure Log Analytics to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:57] tomkerkhove opened #3259 "Migrate e2e test for Azure Pipelines to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 08:58] tomkerkhove commented on #2737
Done

[2022-06-22 09:02] tomkerkhove opened #3260 "Migrate e2e test for /scale subresource in CRDs to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 09:10] tomkerkhove commented on #3255
Duplicate of #3254

[2022-06-22 09:11] #3255 closed

[2022-06-22 09:44] JorTurFer commented on #2357
yes, we use argo-rollouts to test KEDA with custom resources with /scale but we don't support scaling base on them

[2022-06-22 10:34] #3170 closed

[2022-06-22 12:04] #3169 closed

[2022-06-22 12:38] aviadlevy commented on #3172
Hi,
I might be interested in working on this issue, but first needs to verify I understand the current behvior

In e2e test you querying an actual SQS queue in AWS? not mock?

[2022-06-22 12:41] v-shenoy commented on #3172
Yes, all of the e2e tests query actual resources.

[2022-06-22 13:34] aviadlevy commented on #3172
So I'll start take a look at this test. you can assign this to me 😎

[2022-06-22 13:39] v-shenoy commented on #3172
Ahaha, I am not in charge here ;) Just helping out.

[2022-06-22 13:50] tomkerkhove commented on #2838
If you are on Azure and want support, you can use the AKS add-on for KEDA: https://docs.microsoft.com/en-us/azure/aks/keda-about

[2022-06-22 13:53] v-shenoy opened #3262 "Resources required for e2e tests concerning permission segregation."
Require some new Azure resources for e2e tests -

1. Azure Service Bus instance with connection string in workflow env (AZURE_SERVICE_BUS_CONNECTION_STRING_ALT?)
2. Azure AD Application with client id present in workflow env (AZURE_SP_APP_ID_ALT?). This app should have Azure Service Bus Data Receiver permissions on the above created service bus instance.
3. There is already an Azure AD Application

[2022-06-22 13:54] aviadlevy commented on #3172
Can't assign myself, so let's wait for KEDA owners

[2022-06-22 16:16] JorTurFer commented on #3172
hey @aviadlevy
in fact, we prefer to use real resources for e2e always, where is possible. If e2e test fail and the resources are not deleted, we can delete them manually, going to the cloud provider console to do it 😄
if the test fails without a panic, the resources should be deleted, and even that, after solving the panic, the resources will be deleted (running and failing the test again).

The

[2022-06-22 17:23] aviadlevy commented on #3172
Thanks @JorTurFer for the elaborate explanation

[2022-06-22 18:29] Willzy-x opened #3265 "K8s client library for KEDA"
### Proposal

Hi, could you provide a Python library for KEDA just like this:
[kubernetes-client-python](https://github.com/kubernetes-client/python)

### Use-Case

I am currently deploying a series of deployments and auto scalers. [kubernetes-client-python](https://github.com/kubernetes-client/python) helps me to deployment a dozen of deployments easily by executing Python scripts. However, there

[2022-06-22 19:43] hgpepco opened #3267 "HTTP add-on: Error in interceptor while waiting for the backend pod to be up and running."
### Discussed in https://github.com/kedacore/keda/discussions/3266

<div type='discussions-op-text'>

<sup>Originally posted by **hgpepco** June 22, 2022</sup>
Currently trying keda http-add-on v0.3. and keda v2.5.1 I am facing 2 issues,
1. No healthy upstream error for the first try and the subsequent tries, the request is served.(Updated the KEDA_CONDITION_WAIT_TIMEOUT)
2. In the interceptor I s

[2022-06-22 20:17] v-shenoy commented on #3267
I know you have already been redirected, so sorry for doing that again. But you will receive a better response if you raise the issue here - [kedacore/http-add-on](https://github.com/kedacore/http-add-on)

[2022-06-22 21:19] hgpepco commented on #3267
Thanks and I raised it in http-add-on.

[2022-06-22 21:19] #3267 closed

[2022-06-23 04:05] Ritikaa96 commented on #3192
Thanks @v-shenoy

[2022-06-23 06:55] JorTurFer opened #3270 "Split e2e by type"
### Proposal

I'm thinking on e2e tests and how they are organized. Should we create more folders than scalers to split the tests by funcionality?
I said because for instance, hashicorp vault e2e test is using postgres, but the important thing of that test is not postgres scaler at all, and the same with aad-pod-identity/workload-federation, or for the HPA pause and custom names. Maybe we could sp

[2022-06-23 07:15] tomkerkhove commented on #3270
I'm ok with introducing a bit of structure, but I wouldn't go too far as it might make it more complex and reduce the efficiency of new contributions.

[2022-06-23 08:03] JorTurFer commented on #3270
no no, my proposal is having 3 or 4 folders maximum. We don't need more atm

[2022-06-23 09:22] kibnelbachyr commented on #3031
@mhoppe-cedar Thank you for your answer. Could you please elaborate a little bit more?
I am using a [Service Principal based authentication](https://keda.sh/docs/2.7/scalers/azure-log-analytics/#service-principal-based-authentication ) with "Log Analytics Reader" role over the Log Analytics workspace. The mechanism of scaling based on Log Search metrics in Azure Log Analytics is working but I stil

[2022-06-23 12:09] bjethwan opened #3272 "Scaling of pods is pausing abruptly sometimes"
### Report

I got below config

[code]

And I had Prometheus reporting no_of_agents as 34, so I was expecting up to 17 pods, but looking at KEDA logs KEDA said that it's saling to 15 pods, so I thought it will create another couple of pods in next poll, but the next 2 pods came after 15mins. There were no pending pods, and enough number of Azure AKS nodes.

What is wrong here?

### Expected Behavi

[2022-06-23 12:36] Ritikaa96 commented on #3169
Hi @JorTurFer  Just couldn't skip this one, I'm curious, we had a check last time for job status because sometimes jobs tend to be erroneous after they are successfully applied, or we can say the pods it will run may cause some error. if the e2e is passing on our ci/cd side for some reason now, don't we still need to check job status as a precaution for the future?
WDYT?

[2022-06-23 13:15] JorTurFer commented on #3169
as we discussed in slack, it's not required even it's a good idea

[2022-06-23 13:42] arnoldyahad commented on #944
@tomkerkhove  @DanInProgress
Hey guys,
We are looking to integrate KEDA at our organization.
do you know if its possible at the moment to specify: `autoscaling.keda.sh/paused-replicas: currentReplicas` ?
(using currentReplicas as a string, not specifying actual currentReplicas)
if not - is it something that is going to be implemented in this issue or should i open a new issue for that feature?

[2022-06-23 13:59] tomkerkhove commented on #944
So you want to basically pause autoscaling, without knowing what the current replica count is then, @arnoldyahad?

[2022-06-23 14:44] #3172 closed

[2022-06-23 15:06] mhoppe-cedar commented on #3031
@kibnelbachyr  - I have using the following:
- an IAM role for: keda api metrics server service, keda operator service, the scaledobject, and the keda operator serviceaccount. this is added under the "annotations" section.

- for example, my scaledobject looks a little weird but working:
---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: myname
  namespace: mynamespace
  annotat

[2022-06-23 16:02] JorTurFer commented on #3265
Can't you just use the dynamic client to provide the needed manifests for KEDA? I mean, we don't change them really often, maybe it's enough if you use it. AFAI can see, it's supported

[2022-06-23 16:26] shalev123d commented on #3221
Running on EKS, happened on different days so I don't think it is related to AWS.
Actually the cache error just appeared once, the second message happens way more frequently (Stopping and waiting for non leader election runnables)

[2022-06-23 18:15] #3217 closed

[2022-06-24 02:55] bjethwan commented on #3272
I got into another issue, while upgrading to 2.7.1

[code]

Any clue on this one?

[2022-06-24 04:20] bjethwan commented on #3272
Here are the complete logs from KEDA 2.7.1
[code]

[2022-06-24 04:58] Ritikaa96 commented on #3239
Hi @tomkerkhove I'd like to work on this one if no one's working on it already.

[2022-06-24 04:58] Ritikaa96 commented on #3239
Hi @tomkerkhove I'd like to work on this one if no one's working on it already.

[2022-06-24 06:28] tomkerkhove commented on #3239
Awesome, thank you @Ritikaa96!

[2022-06-24 07:26] Ritikaa96 commented on #3192
Hi @JorTurFer the changes according to what @v-shenoy and I proposed earlier look like [this](https://github.com/kedacore/keda/compare/main...Ritikaa96:template-variable-for-e2e-log)

[2022-06-24 07:34] Ritikaa96 commented on #3192
And there is another simple way to give a hint to the developer about which template file created the error.
We can add tags to the templateFile name itself, as the multipleTemplateFiles are always applied in sequence it's easier.

[Here](https://github.com/kedacore/keda/commit/4d337c250db2c4732b40b87d711047ee10632828) are the changes needed.

[2022-06-24 07:38] Ritikaa96 commented on #3192
Please let me know what you think.

[2022-06-24 08:16] v-shenoy commented on #3192
The problem I feel with the approach of using an index as the tag is, if you have code like
[code]

Now if there's an error in applying some template the error message might look like
`cannot apply file - error: error parsing /tmp/tempTemplateFile-1#393652011: error converting YAML to JSON: yaml: line 31: could not find expected ':'`

This still doesn't tell you whether the `deploymentTemplate` ca

[2022-06-24 09:54] tomkerkhove commented on #3262
I'll pick this up tomorrow!

[2022-06-24 10:11] Ritikaa96 commented on #3192
Agreed there is not complete clarity. the developer might have to go back to see `tempTemplateFile-1#393652011` and search for the 1st template file as the tag is `1` herethe files are applied as sequence but this method seems to uncertain i agree

[2022-06-24 10:13] Ritikaa96 commented on #3192
@JorTurFer @v-shenoy ,If everyone agrees on the variable approach with exact name of template, then i'll continue doing the required changes in other *_test.go files

[2022-06-24 11:06] JorTurFer commented on #3192
If you think that it's the best approach, we can give a try. Maybe I'm overthinking and one extra parameters it's not a problem at all, and in case of if it is, we can rethink this in the future.

[2022-06-24 13:19] #3262 closed

[2022-06-24 14:35] markallanson commented on #2353
Maybe I misunderstand something about this conversation, but given all pods in a replicaset will contain an otel collector, which one would the keda autoscaler talk to in order to make the decisions?

Also, how would you apply aggregates across metric labels?

[2022-06-24 19:27] dmendres commented on #2726
We have another use case. We'd like conditional deployment of the KEDA resources from a template (e.g. templates/keda.yaml) but Helm 3.x must process the CRDs in advance. We don't need conditional deployment of the CRDs.

[2022-06-25 19:00] JorTurFer opened #3281 "Add NSQ Scaler"
### Proposal

It seems that NSQ is an stable platform for messaging
https://nsq.io/

### Scaler Source

https://nsq.io/

### Scaling Mechanics

Based on messages

### Authentication Source

Supported auth mechanisms

### Anything else?

_No response_

[2022-06-26 07:48] arnoldyahad commented on #944
Thanks for the very quick reply @tomkerkhove
Yes exactly, We would like to pause autoscaling as is, without specifying current replica count.

our use-case right now is with spot.io and EC2 instances, where we can just press "pause autoscaling" in spot.io. and it pauses all autoscaling activities immediately. This is important to us as when production goes down - cpu drops to 0% and we begin a mas

[2022-06-26 13:28] aviadlevy commented on #3171
I'll take this

[2022-06-26 16:23] JorTurFer commented on #944
can't they just get the current replicas and set them? I mean, they can just run
[code]
and get the value from it, if they can annotate the SO I assume that they can get the current replica count

[2022-06-26 16:43] #3171 closed

[2022-06-26 17:24] tomkerkhove commented on #944
As I've mentioned before - while specifying a paused replica count is useful in some scenarios you, in other scenarios you don't really care what the current instance count is and just want to pause where you are today.

Using the command above helps with that, but is an additional step that we can/should avoid to make @arnoldyahad and others their life easier.

Our tag line is to make app automat

[2022-06-26 17:25] tomkerkhove commented on #944
This was what we landed on AFAIK but never got final "sign off" so did not create issues yet but would love to create them.

[2022-06-26 19:19] #3227 closed

[2022-06-27 00:44] KomTak001 commented on #3127
Prerequisites: The threshold for stream and consumer group is obtained from yaml.

If `XINFO GROUPS [streameName]` has `lag`
[code]
Then scale

If there is no `lag`
Get `last-delivered-id` and get the entry list with, count the number,
[code]
and,
[code]
Then scale

I think this will maintain backward compatibility to some extent, how about this?

[2022-06-27 05:56] tomkerkhove commented on #2705
Bump

[2022-06-27 05:58] tomkerkhove commented on #2353
KEDA will not manage the OTEL collector and is something you'd need to run separately next to KEDA/in your cluster.

Does that clarify it?

[2022-06-27 06:45] JorTurFer commented on #3127
I'm not an expert on Redis but it sounds good

[2022-06-27 11:29] #3124 closed

[2022-06-27 13:03] markallanson commented on #2353
Sorry maybe my question was not clear enough.

If you have 10 pods, all of which have otel sidecars running, which will keda talk to? If just one, it won't have enough information to base scaling decisions. If it talks to all of them then how will it generate aggregates of the data across all?

[2022-06-27 15:38] bjethwan opened #3291 "scaling issue when metric and threshold result in floating point, no recovery from that point onwards"
### Report

Consider below scaledobject, and a dummy k8s deployment called "demo"
[code]

Issue:
Prometheus reported visit_counter_total=38, everything good 19 pods got created.
Prometheus reported visit_counter_total=39, pods stayed 19 (which is fine)
Prometheus reported visit_counter_total=40, ISSUE: NUMBER OF PODS STUCK AT 19

[code]

LOGS: WHEN I INCREASED visit_counter_total FROM 38 TO 39 (WA

[2022-06-27 16:33] joebowbeer opened #3292 "Support `readOnlyRootFilesystem=true` in KEDA metric adapter"
### Proposal

Configure `keda-metrics-apiserver` to run with `readOnlyRootFilesystem=true`, or at least document how to configure this.

See [suggested solution](https://github.com/kedacore/keda/discussions/2880#discussioncomment-2686676) in discussion #2880

Relates to #2938 which [omitted](https://github.com/kedacore/keda/blob/main/config/metrics-server/deployment.yaml#L71-L72) this setting from

[2022-06-27 18:01] alenesho116 opened #3296 "Context Canceled with Azure Managed Identity"
Upgraded our cluster aad-pod-identity helm chart to 4.1.10 and we are now getting the following error when trying to use an Azure Queue Scaled Job with Keda:

[code]

This same managed identity worked with the same permissions before until we upgraded and it seems like it might be a permission timeout but not too sure.

## Expected Behavior

The Keda operator should be able to read the Azure queue

[2022-06-27 19:38] Willzy-x commented on #3265
Hi, I managed to do it by sending API calls directly. I think maybe more details about KEDA's API should be listed in the documents. So, people can customize their deployment jobs.

[2022-06-27 19:51] JorTurFer commented on #3265
I don't get your point, do you mean to expose the OpenAPI json in the docs for instance? To avoid the direct calls, you can use the dynamic client in python

[2022-06-27 20:24] #2656 closed

[2022-06-27 20:39] wsugarman commented on #2656
@v-shenoy That's wonderful news! Thank you very much

[2022-06-27 23:55] aslanpour commented on #3265
I usually use build a helm chart (e.g., for the ScaleObjects) and customize the deployment through the helm chart in Python, if no client library is available.

[2022-06-28 06:20] prasobhen commented on #1378
Getting error on EKS fargate cluster
one or more objects failed to apply, reason: HorizontalPodAutoscaler.autoscaling "platform-development-microservice-blueprint" is invalid: [spec.metrics[0].containerResource: Required value: must populate information for the given metric source (only allowed when HPAContainerMetrics feature is enabled), spec.metrics[1].containerResource: Required value: must po

[2022-06-28 06:21] prasobhen commented on #1378
Please share the fix for this issue

[2022-06-28 06:48] JorTurFer commented on #3265
the point is that you don't need client library, you can simply use the dynamic client and give the json, but reusing all the authentication stuffs from the k8s-client

[2022-06-28 07:14] zroubalik commented on #1183
@joeynaor yes, you need that.

[2022-06-28 07:43] tomkerkhove commented on #2353
There is no sidecar involved, there will be a separate deployment that KEDA integrates with through a Kubernetes service. End-users will have to bring their own OpenTelemetry Collector: https://opentelemetry.io/docs/collector/deployment/

[2022-06-28 08:01] kibnelbachyr commented on #3031
@mhoppe-cedar I am using an AKS cluster on Azure which doesn't have AAD/RBAC enabled. I am using a Service Principal to connect KEDA to the Azure Log Analytics scaler following this documentation : https://keda.sh/docs/2.7/scalers/azure-log-analytics/#service-principal-based-authentication

I confirm again that the auto-scaling is working but I still see those errors when the metric (based on whic

[2022-06-28 10:38] #3173 closed

[2022-06-28 15:38] bjethwan commented on #3291
I tried it again today, and found that it might take time to reproduce but it does happen, that after a point scaling pauses

[code]

I was working perfectly fine till I hit visit_counter_total=28
<img width="1037" alt="image" src="https://user-images.githubusercontent.com/5045325/176221490-5486ba3c-c406-4012-b5cf-6589ce789cc0.png">

[2022-06-28 16:41] bjethwan opened #3297 "Is this normal?"
### Report

At one point the target is shown as 5/2 and very next the target changes to 1667m/2...What does that mean?
[code]

### Expected Behavior

Just a display issue

### Actual Behavior

N/A

### Steps to Reproduce the Problem

1. N/A

### Logs from KEDA operator

[code]

### KEDA Version

2.7.1

### Kubernetes Version

1.23

### Platform

Other

### Scaler Details

_No response_

### Anythi

[2022-06-28 17:52] aviadlevy commented on #3233
I'll take that. it might take some time because I see some complexity here (some direct `exec` commands)

[2022-06-28 18:30] #3297 closed, assigned to nobody

[2022-06-28 18:40] JorTurFer commented on #3291
Hey,
I'd say that having that small difference between the target value and the current value, you could need a lot of time more. I suggest taking a look at HPA documentation and how to configure these advanced  behaviours.
In the docs they also say:
*The control plane skips any scaling action if the ratio is sufficiently close to 1.0 (within a globally-configurable tolerance, 0.1 by default).* Ma

[2022-06-28 18:42] JorTurFer commented on #3291
BTW, where have you found the parameter `disableScaleToZero`? I think that it's not used anywhere

[2022-06-28 18:43] JorTurFer commented on #3291
What do you mean? You can use the source code and troubleshoot your case with it

[2022-06-29 06:35] #3192 closed

[2022-06-29 06:36] #3159 closed

[2022-06-29 07:01] brainslush commented on #3296
What happens when you downgrade the aad-pod-identity helm chart?

We have seen similar flavoured but different issues since last Friday (24. June 2022) unrelated to Azure Managed Identities

[2022-06-29 10:54] #3008 closed

[2022-06-29 13:19] #3233 closed

[2022-06-29 16:05] rwkarg commented on #1587
We run in a multi-cluster scenario (for the ability to destroy/recreate individual clusters without impact) and I don't know that this can be addressed outside of a full scheduling manager.

One option is if KEDA knew how many clusters were participating, it could scale reported metrics based on that proportion (ex. with 2 clusters, report metrics at 50% value). This would have ~half the instances

[2022-06-29 17:32] dogzzdogzz opened #3302 "Support fields in scalers for identification"
### Proposal

Can KEDA scaler support some fields like ```name``` or ```labels``` for identification ?
It's very common that one scaledObject or job has multiple triggers for same scaler like prometheus or cron but just with different queries or conditions. Currently all KEDA scalers don't have fields for identification, this limitation makes us difficult to dynamically manage the triggers by some

[2022-06-29 18:19] Willzy-x commented on #3265
Hi, I'm actually new to K8S. Do you mean this procedure?
[code]
Like I just relace api version and kind in `api = client.resources.get(api_version="v1", kind="Service")` with KEDA's?

[2022-06-29 18:39] JorTurFer commented on #3265
You can check the examples in the python k8s client https://github.com/kubernetes-client/python/tree/master/examples/dynamic-client

[2022-06-29 18:44] Willzy-x commented on #3265
Yea, I copied that code snippet from `service.py` under this directory. So, like I can use
[code]
and this will discover KEDA's API automatically and avoid directly calling API `/apis/keda.sh/v1alpha1/namespaces/{namespace}/scaledobjects`?

If that's not the case, I think we cannot avoid calling APIs.

[2022-06-29 18:50] JorTurFer commented on #3302
Hey,
I think that this use case is more specific for your scenario than a generic scenario. I'd say that in this case, it's better if you create your custom metrics server by RestAPI ([MetricsAPI Scaler](https://keda.sh/docs/2.7/scalers/metrics-api/)) or gRPC ([External Scaler](https://keda.sh/docs/2.7/scalers/external/)). You could just implement the logic in your backend and KEDA will query the

[2022-06-29 18:54] JorTurFer commented on #3265
I guess that it could work 🤔
I have never used the dynamic client with python, but based on the samples, seems like that yes.
Doesn't it work?

[2022-06-29 20:35] zroubalik commented on #197
I'd love to see a generic interface that will be siting between metrics and HPA and where we can "manipulate" the metrics the way we would like to. For example adding more logic in evaluation of metrics from multiple triggers or pluging in some AI/ML model. The only option to manipulate metrics that we have today is the `fallback` feature, which is great. Though some generic interface would be muc

[2022-06-29 20:42] M-Adam commented on #3188
Finally, I had a moment to test this. All is working fine, can't see any errors in KEDA logs. My app gets scaled correctly. Looking forward to the production release :)

[2022-06-29 21:59] pragmaticivan commented on #3244
Can I take this one?

[2022-06-29 22:21] alenesho116 commented on #3296
Just tested a downgrade of aad-pod-identity helm chart and still getting same error.

[2022-06-29 23:27] Willzy-x commented on #3265
Yes, it worked. Thank you very much!

[2022-06-29 23:27] #3265 closed

[2022-06-30 02:22] dogzzdogzz commented on #3302
@JorTurFer Didn't know we can add some self-defined fields in metadata, this should be sufficient for identification, thank you !

[2022-06-30 02:22] #3302 closed

[2022-06-30 06:27] arnoldyahad commented on #944
@JorTurFer Thanks for the comment, meanwhile we will indeed use a workaround.

If someone is interested:
[code]

[2022-06-30 07:51] tomkerkhove opened #3303 "Provide support for explicitly pausing autoscaling of ScaledJobs"
### Proposal

Provide support for explicitly pausing autoscaling of ScaledJobs so that it no longer spins up new jobs.

This should be done by applying the `autoscaling.keda.sh/paused: true` annotation on the ScaledJobs resource.

### Use-Case

Avoid scaling when:
- Cluster is having resource starvation
- Doing maintenance
- ...

### Anything else?

Follow-up for https://github.com/kedacore/keda/i

[2022-06-30 07:55] tomkerkhove opened #3304 "Provide support for explicitly pausing autoscaling of ScaledObjects at the current replica count"
### Proposal

Similarly to https://github.com/kedacore/keda/issues/3303, it would be nice to provide support for explicitly pausing autoscaling of ScaledObjects at the current replica count so that it no longer scales out/in.

This should be done by applying the `autoscaling.keda.sh/is-paused: true` annotation on the ScaledObjects resource. When this is the case, the ScaledObject just sticks with

[2022-06-30 07:56] tomkerkhove commented on #944
Created https://github.com/kedacore/keda/issues/3303 & https://github.com/kedacore/keda/issues/3304.

[2022-06-30 07:56] #944 closed

[2022-06-30 08:28] brainslush commented on #3296
Just assume for a second this error is unrelated to the Helm chart. When did you see this error for the first time? I'm trying to pinpoint the source of the issue and somehow I get the feeling that Azure might be the source.

[2022-06-30 13:35] jonas-lomholdt commented on #215
If this has been fixed, I think the documentation needs to be updated. I will give it a try now with namespace level SAS.

[2022-06-30 15:27] aviadlevy commented on #3231
Unfortunately, I'm having trouble initiating Cassandra in my minikube on my personal laptop.

This is the progress I have so far and it should work, but I wasn't able to verify 1 cycle end to end: https://github.com/aviadlevy/keda/tree/e2e_cassandra

not sure how to proceed from here.
@zroubalik , do you think I can open a PR and we'll test it there? do you have any other suggestion?

[2022-06-30 15:58] zroubalik commented on #3231
@aviadlevy sure this, open a PR and we can iterate there, thanks for the work!

[2022-07-01 03:22] Ritikaa96 commented on #3237
Hi @tomkerkhove, I'll take this up if no one's working on it already

[2022-07-01 08:17] RPM8887 opened #3309 "Azure Pipelines Scaler - private CA issue"
### Report

When using KEDA with an onprem/privately hosted Azure DevOps Server instance with HTTPS enabled signed by a private CA operator is unable to connect to the provided endpoint:
`error parsing azure Pipelines metadata: Get \"[https://xxxx.private.int/tfs/XYZ/_apis/distributedtask/pools?poolName=k8s-pool-test\":](https://xxxx.private.int/tfs/XYZ/_apis/distributedtask/pools?poolName=k8s-poo

[2022-07-01 09:59] jonas-lomholdt commented on #215
Opened a PR to remove the comment since it's no longer an isseu https://github.com/kedacore/keda-docs/pull/800

[2022-07-01 13:59] RPM8887 commented on #3309
ended up injecting the needed certificates from a configmap as a volume:
[code]

[code]

[2022-07-01 13:59] #3309 closed

[2022-07-01 14:30] JaroVojtek opened #3320 "Keda operator - EventHub scaler - unable to get runtimeInfo for isActive: context canceled"
### Report

We encountered issues with auto-scaling pods with KEDA Eventhub scaler. Auto-scaling from 0 pods worked well two weeks. There were no application changes. no new deployments for particular application nor KEDA upgrades. Today we had a situation that pods were not scaled even there were pending messages in EventHub queue. When we manually increased `minReplicaCount` in scaledObject, aut

[2022-07-02 15:31] bjethwan commented on #3291
This was the issue. But now I am completely trapped. Because I have no way to configure this in my AKS clusters. I checked with Azure AKS teams, they are unable to help.

@JorTurFer
Do you know a workaround?

[2022-07-02 16:08] JorTurFer commented on #3291
the only workaround is setting the targetValue smaller, the problem is that in v2.7.1, the target value and the metrics have to be integers, so you need to have 1 instead of 2 and I guess that it's too much overscaling.
In main there is a commit merged to support float values for target and metrics, and using it you could set the `threshold` to `1.8` or `1.9` but next release will be in a month. Y

[2022-07-03 06:28] aviadlevy opened #3322 "e2e test cleanup method should wait for resources to actually get cleaned"
Here is an example of test trying to retry, but failed due to resources still getting terminated: https://github.com/kedacore/keda/runs/7144994425?check_suite_focus=true#step:6:541

The `DeleteKubernetesResources` cleanup method should verify that namespace is deleted

[2022-07-03 09:03] gcameo commented on #2391
Any updates?

[2022-07-03 18:49] zroubalik commented on #2915
What we can do, is to generate some UID suffix to name like, `keda-hpa-...` in case the standard generated name would be too long. This way we would keep the original design, but also offer solution for longer names.

[2022-07-04 00:31] yokawasa commented on #3243
I'm interested in working on the issue if no one else yet doing

[2022-07-04 06:10] tomkerkhove commented on #2391
Let's see where @goku321 is at and if he wants to contribute it.

[2022-07-04 06:10] tomkerkhove commented on #3243
That would be great - Thank you!

[2022-07-04 06:12] tomkerkhove opened #3325 "Provide e2e tests for Redis using Azure Cache for Redis"
### Proposal

Provide e2e tests for Redis using Azure Cache for Redis by re-using the existing test suite against an Azure-based instance.

### Use-Case

_No response_

### Anything else?

This is as a follow-up to https://github.com/kedacore/keda/discussions/3306

[2022-07-04 06:45] goku321 commented on #2391
@gcameo @tomkerkhove I still want to contribute. I had already started with the tests couple of weeks back but a bit caught up with production deployments these days. Will try to wrap up in the coming weekends or so. Appreciate your patience :)

[2022-07-04 06:49] JorTurFer commented on #2915
Yes, but in that case we should add the current name as an annotation IMO to having a simple way to track which is what without inspecting all the SO looking for the UID

[2022-07-04 06:59] tomkerkhove commented on #2915
What if somebody changes the annotation and breaks the link?

I think this is a more future-proof fix long term. We can work around it so that we can fit it in the current model but that feels more like a hack to me.

[2022-07-04 07:07] JorTurFer commented on #2915
No no, I'm not saying to link them using the annotation in the HPA, I see it as a helper for human discovery, KEDA should continue using the current approach of registering it in the SO Status. I know that the HPA is something internal for KEDA, but end-users check it, so if we change the name to another one with random names, IMO we should provide a workaround to know what HPA is related with wha

[2022-07-04 07:15] tomkerkhove commented on #2915
I agree, good idea 👍

[2022-07-04 11:41] nvtkaszpir opened #3326 "Set metric to null if target metric read is missing or scaledObject is removed"
### Proposal

If scaledObject is removed, then corresponding label is removed from exposed via keda-operator-metrics-apiserver (under metrics: 9022/TCP) which are scraped by Prometheus (via PodMonitor).

### Use-Case

We have a KEDA running and scaling based on metric scraped from service which exposes metric as JSON.

Now because we create/delete scaledObject per namespace and we create/delete na

[2022-07-04 11:58] pinkfloydx33 commented on #2487
Is there any ETA on when this will be available?

It's already exposed in the Helm chart, which mislead me into believing it was generally available (shame on me for not checking the release notes before getting excited and trying to use it).

[2022-07-04 12:02] penghuazhou opened #3327 "ScaledObject ignoring triggers when use custom resources"
### Report

It can not scale when i use custom resources, it can scale when i use deployment.

**scale custom resources fail, the status of fallback is Unknown. custom resources have scale status, which can use 'kubectl -n istio-ryanzhou scale --replicas=5 crontabs/my-new-cron-object.**
[code]

the HPA target's scale is missing a selector
[code]

**scale deployment success**
[code]

### Expected B

[2022-07-04 12:25] tomkerkhove commented on #2487
Soon - https://github.com/kedacore/keda/blob/main/ROADMAP.md#upcoming-release-cycles!

We merged the Helm PR too soon, unfortunately, but didn't revert it back so sorry for the confusion.
As the release is happening soon; there's no need to remove and re-add it though.

[2022-07-04 12:26] tomkerkhove commented on #2503
Closing this issue as we've taking measures to improve our detection and vulnerabilities are tracked seperately

[2022-07-04 12:26] #2503 closed

[2022-07-04 13:25] JorTurFer commented on #3326
Hey,
It sounds totally legit.
Are you willing to contribute it?

[2022-07-04 13:44] nvtkaszpir commented on #3326
sorry, but no - I have no experience in KEDA source code at all.

[2022-07-04 15:13] JorTurFer commented on #3326
okey, np at all 😄

[2022-07-04 15:18] FullyScaled commented on #2910
When Keda is not configured to use the "graceful rollout" feature, keda does delete the existing jobs and creates new jobs instead. In this case kubernetes will send a sig term to the underlying pods. Those pods will be in state "Terminating". As a consequence the amount of running pods will be off by the number of "Terminating" pods that dont have a parent job any more.

In our case we want that

[2022-07-04 17:39] #2939 closed

[2022-07-05 05:16] tomkerkhove commented on #1587
I tend to agree that this is more of a scheduling problem rather than autoscaling problem. We are working on CloudEvent (#479) support that should give insights on how apps are autoscaling but we can evaluate if we can add more events in the list that could be helpful in this scenario.

However, most probably it will be related to scheduling again which is the same question - Is this up to KEDA or

[2022-07-05 06:12] #3327 closed

[2022-07-05 06:48] #3231 closed

[2022-07-05 07:09] tomkerkhove opened #3328 "Provide capability to exclude Unacknowledged message counts from RabbitMQ QueueLength"
### Proposal

Optionally exclude Unacknowledged message counts from RabbitMQ QueueLength

### Use-Case

_No response_

### Anything else?

_No response_

[2022-07-05 07:09] tomkerkhove commented on #3328
Docs were done in https://github.com/kedacore/keda-docs/pull/801 and feature in https://github.com/kedacore/keda/pull/3323 by @sl1pm4t - Thanks!

[2022-07-05 07:13] tomkerkhove commented on #3327
@penghuazhou Is this still a problem?

[2022-07-05 10:19] #3322 closed

[2022-07-05 12:13] theauheral opened #3330 "Composed (Logical/Priority) Triggers"
### Proposal

I would like to suggest a new feature: composed (Logical/Priority) triggers.

### Use-Case

I would like to be able to compose triggers or define a logic/priority between triggers.

Example:
Scaling from 0 to 1<=n<=maxReplicas replicas on a fixed CRON schedule (On/Off) with n managed by the metric (kafka) trigger during the runtime window.

The current design only enables "OR" logic

[2022-07-05 12:28] JorTurFer commented on #3330
hey @theauheral
Could this be duplicated? https://github.com/kedacore/keda/issues/2614

[2022-07-05 12:38] JorTurFer commented on #3272
I can see in the logs that is the prometheus server who refuses the connection,
[code]
I think that the problem it's not in KEDA, could you check if there are problems in the prometheus server?

[2022-07-05 13:26] FullyScaled commented on #2910
Yes, you are right. This is what adds the complexity here :/...

In order to achieve this, we would require some logic to find ther pods that are labeled with the according `scaledjob.keda.sh/name` that dont have a parent job any more and add this amount to the already running jobs for a scaled job. This is somehow ugly and I dont think this is a implementation direction you would be willing to ac

[2022-07-05 14:59] FullyScaled commented on #2910
According to the kubernetes docu the deletion of the parent resource (job) is delayed until the child (pod) was deleted when setting ownerReference.blockOwnerDeletion=true:

`Once the “deletion in progress” state is set, the garbage collector deletes the object’s dependents. Once the garbage collector has deleted all “blocking” dependents (objects with ownerReference.blockOwnerDeletion=true), it d

[2022-07-05 16:36] dmeytin commented on #479
Can you please help me to understand how rising Cloud Events will help with multi-cluster use-case #1587 ?

[2022-07-05 16:57] theauheral commented on #3330
Yes maybe. Different use cases but same technical implementation I suspect. I would say related but not identical.

I see "Combination of triggers can be used, either with an OR or AND fashion." which is similar yes.
but I also suggest priorities and composability. I guess #2614 has two feature requests with the second one being similar.
The example of Microsoft Azure autoscale has multiple rules

[2022-07-05 18:20] JorTurFer commented on #3330
Yes, you are right.
I link this too because this is more related (https://github.com/kedacore/keda/issues/2440).
Just to clarify this a bit, KEDA delegates the scaling to the HPA Controller so applying an AND or prioritize the metrics it's not possible. The only doable option is the creation of composite scaler IMO

[2022-07-05 23:13] JorTurFer commented on #2986
I think that go 1.18 is required because to bump these deps we need to use the new package for service bus

[2022-07-06 05:44] tomkerkhove commented on #3303
Thank you @keeganwinchester-shipt!

[2022-07-06 07:11] FullyScaled commented on #2910
I guess all we have to do is making the propagation policy configurable here: https://github.com/kedacore/keda/blob/2fc37964fb0aaf715957555be49da1ac9ca7f4a0/controllers/keda/scaledjob_controller.go#L190

I will prepare a PR for this. This will solve the issue described here.

[2022-07-06 07:19] tomkerkhove commented on #479
Events will allow you to extend KEDA to close our current multi-cluster gap and take required actions. For example if we're at max replicas you can scale out in another region or if it fails to scale, etc.

However, we are open to event requests that can help you more though.

[2022-07-06 07:28] #2543 closed

[2022-07-06 07:49] JorTurFer commented on #2910
nice investigation!
Maybe adding a parameter to configure it in the ScaledJob?
WDYT @zroubalik ?

[2022-07-06 08:32] FullyScaled commented on #2910
Yes, we are currently preparing such a parameter.

Do you prefer something like this:

[code]

or something like this:

[code]

We would prefer option 1 but this change would be incompatible.

[2022-07-06 09:13] JorTurFer opened #3333 "Push dependencies using Dependency submission API"
### Proposal

The Dependency submission API lets you submit dependencies for a project. This enables you to add dependencies, such as those resolved when software is compiled or built, to GitHub's dependency graph feature, providing a more complete picture of all of your project's dependencies.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-07-06 10:41] #3333 closed

[2022-07-06 12:34] JorTurFer commented on #2986
https://github.com/kedacore/keda/issues/3205

[2022-07-06 23:19] JorTurFer commented on #3325
as [I said in the discussion](https://github.com/kedacore/keda/discussions/3306#discussioncomment-3095812), I'm not sure if we need to cover it with e2e tests TBH, adding a simple test to cover the same scenario as already existing e2e tests without adding anything new IMO only add more code to maintain and more time to execute e2e tests

[2022-07-07 01:33] aslanpour opened #3334 "Support for ARM 32 bit (armhf )"
### Proposal

Hi All,

Thank you for the amazing job you have done to develop KEDA.
I just tried to install KEDA on my Raspberry Pi cluster that uses Kubernetes K3s, but apparently KEDA docker images are not built for ARM 32-bit architecture (it already supports ARM 64-bit). I would appreciate it if you would consider this support.

### Use-Case

I would like to run KEDA on devices with ARM 32-bit

[2022-07-07 06:16] bjethwan commented on #3291
FYI: https://github.com/Azure/AKS/issues/3068

[2022-07-07 06:18] bjethwan commented on #3291
This is not on KEDA but AKS

[2022-07-07 07:32] JorTurFer commented on #3334
I have checked the supported arch of `gcr.io/distroless/static:nonroot` and also supports `arm` so I'd say that it's doable. My only concern is that we don't have any machine with that arch to run at least the smoke test...
WDYT @kedacore/keda-core-contributors ?
I have tried building it from my local and at least it can be built only adding the new target

[2022-07-07 08:12] BenH-Puregym opened #3335 "azure pipeline agents don't always remove"
### Report

i've got scaledjob setup and a placeholder agent in ADO. Sometimes the agents are remove when their job is finished and sometimes they're not. Some agents which don't get removed will have a job lasting 13 minutes and others 1hr so doesn't seem to be consistent.

### Expected Behavior

the agents should remove each time a job has finished

### Actual Behavior

some do, some don't. leav

[2022-07-07 08:31] JorTurFer commented on #3325
Agree, having the issue doesn't hurt xD
Maybe you achieve a huge wallet for that subscription and makes sense having that Redis 😄

[2022-07-07 10:06] barndawe opened #3337 "Allow overriding EndpointUrl for AWS-related scalers"
### Proposal

AWS Go SDK client allows for passing in an EndpointUrl parameter to override the AWS endpoint url (see [Config struct for AWS client](https://docs.aws.amazon.com/sdk-for-go/api/aws/#Config). Currently Keda does not allow for specifying this, e.g. for the SQS scaler, so it is not possible to run Keda against anything but full-fat AWS.

### Use-Case

Adding the ability to override the

[2022-07-08 10:48] sachinagarwal010 opened #3341 "Keda Not able to Scale job based on Azure queue message"
### Report

We have Azure Storage Queue having few messages there and Keda is creating the scaled Job based on Azure queue message available (Auto Scaling max Replica Set was set to 30) but when we already have scaled 30 jobs and those jobs are finished then keda started picking the azure queue messages 1 by 1 not based on the Auto Scaling max Replica Set was set to 30.

### Expected Behavior

Ked

[2022-07-08 11:41] tomkerkhove commented on #3341
Duplicate of https://github.com/kedacore/keda/discussions/3340

[2022-07-08 11:41] #3341 closed

[2022-07-08 11:57] JorTurFer commented on #3335
hey,
Is the agent pod finishing? I mean, KEDA doesn't know if the pod has finished or not its work, KEDA removes the pod/job once it has finished with success or failure, so if your pod is still alive without finishing (like a job should do), KEDA will not remove it

[2022-07-08 12:28] #3239 closed

[2022-07-08 12:55] BenH-Puregym commented on #3335
Hey  @JorTurFer , So the agent is left in an offline state in the ADO agent pool but when you check back in AKS, the pod is no longer there so requires to be manually removed from ADO.

[2022-07-08 13:02] JorTurFer commented on #3335
Just to clarify it, it's your problem related with agent pods not deleted from the AKS or with orphan agent in Azure DevOps?

[2022-07-08 13:23] BenH-Puregym commented on #3335
maybe would be best for me to explain the problem again:
job is run on ADO
keda starts jobs and adds pods to the ADO pool
job finishes on ADO
keda deletes the pod and stops the job
agents still exist in ADO pool as offline

[2022-07-08 20:03] JorTurFer commented on #3335
hey,
I got it. KEDA doesn't handle ADO at all, the only goal of KEDA is to make the autoscaling dead simple, but not to manage the upstreams.
I mean, in the same way that you register the agent by yourself in AzDO (it does automatically on pod agent) you should unregister it. My suggestion is to unregister the agent after executing the pipeline, before finishing the job execution.

[2022-07-08 22:55] JorTurFer commented on #3230
This is already done

[2022-07-08 22:55] #3230 closed

[2022-07-09 11:08] #3243 closed

[2022-07-10 00:34] #3258 closed

[2022-07-10 01:23] JorTurFer commented on #3225
/run-e2e *artemis*

[2022-07-10 12:49] #3257 closed

[2022-07-10 13:18] #3328 closed

[2022-07-10 13:25] v-shenoy commented on #3192
There's one issue that I have noticed cause due to the use of `map` for template names, and config. When multiple templates are applied / deleted, they're done by iterating over the keys of the map. But the order of keys when iterating is not same as the order of dependencies.

As an example, when applying the order should be secret -> deployment -> trigger auth -> scaled object
And the reverse or

[2022-07-10 13:33] JorTurFer commented on #3192
mmm...
It's true that doesn't affect to the test, but it's hard to read the logs when you are troubleshooting... Maybe we can iterate the values in the opposite order in case of deletion. WDYT?

[2022-07-10 13:38] v-shenoy commented on #3192
This will require changes to the apply / delete multiple method signature, and all the tests that are currently there. We should pick a consistent signature that would not require changes in the future. @JorTurFer @Ritikaa96

[2022-07-10 13:39] v-shenoy commented on #3192
This is kind of my bad, as I suggested the map approach and forgot about the iteration order.

[2022-07-10 13:43] JorTurFer commented on #3192
don't worry, we are iterating to figure out the best solution. You have done an awesome work, really!!

[2022-07-10 21:14] #3223 closed

[2022-07-11 05:07] #3335 closed, assigned to nobody

[2022-07-11 05:13] tomkerkhove commented on #3337
Makes sense, are you willing to contribute this?

[2022-07-11 05:15] tomkerkhove commented on #3292
I will let @zroubalik determine if we want to do this, because from what I'm seeing on https://github.com/kedacore/keda/discussions/2880 this is something that the end-user has to do and we should provide better docs on.

We cannot run KEDA with full readOnlyRootFilesytem as far as I know.

[2022-07-11 05:17] tomkerkhove commented on #2927
Yes you are being throttled. I'm not an AAD Pod Identity expert though, how many nodes are running in your cluster?

[2022-07-11 06:40] tomkerkhove opened #3351 "Bump github.com/emicklei/go-restful to 3.8.0 or above to mitigate CVE-2022-1996"
[code]

https://avd.aquasec.com/nvd/2022/cve-2022-1996/

[2022-07-11 07:04] v-shenoy commented on #2802
Think this can be closed as the tests are being moved to Go.

[2022-07-11 07:10] #3224 closed

[2022-07-11 09:17] aviadlevy commented on #3337
I can take a look if the issue reporter don't want to (I think we can give him few more days to respond)

[2022-07-11 09:44] #3225 closed

[2022-07-11 10:19] #3229 closed

[2022-07-11 10:29] zroubalik commented on #3334
We can try to ask CNCF if they have some spare machine to cover this?

[2022-07-11 10:37] zroubalik commented on #3056
@liortct any update on this?

[2022-07-11 10:48] #2802 closed

[2022-07-11 11:22] JorTurFer commented on #3334
Does it make sense? I mean, do we need to run smoke test as a requirement for this arch? AFAIK, it's not an arch to use in prod. I agree that test everything is always better, but if it's not doable I'm not sure if it's a blocker in this case

[2022-07-11 11:41] tomkerkhove commented on #3334
Yes, everything that we offer should be verified and tested IMO.

Who says this will not be used in production? 😄 We cannot make that assumption if we offer it as part of our image imo.

[2022-07-11 11:43] zroubalik commented on #3334
💯

[2022-07-11 11:57] JorTurFer commented on #3334
let's open a ticket to CNCF asking for the machine then 😄

[2022-07-11 12:50] tomkerkhove commented on #3334
Did you check if Equinix has ARM 32 machines already?

[2022-07-11 15:41] JorTurFer commented on #3334
I have checked and I think that they don't offer it https://metal.equinix.com/product/servers/

[2022-07-12 15:23] miaooss commented on #3032
It seems I still see the issue with the 2.7.1.

We are using a ScaledJob with an external trigger

[2022-07-12 17:02] miaooss commented on #3032
Thank you for the clarification.

[2022-07-12 17:05] JorTurFer commented on #3032
No worries, happy to help :)

[2022-07-13 10:31] biohazd opened #3365 "docker logs are going into Datadog as ERROR"
In Datadog the Dcoker logs are showing as ERROR

1.657708213349751e+09	INFO	scaleexecutor	Scaling Jobs	{"scaledJob.Name": "azdevops-scaledjob-build-agents-java", "scaledJob.Namespace": "default", "Number of pending Jobs ": 0}

## Expected Behavior
The logs should show as INFO

## Actual Behavior
Logs are showing as ERROR logs

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

[2022-07-13 12:30] MahajanSanjana29 opened #3362 "Pod which is on old node is getting terminated while using keda autoscaling"
### Report

Let's say we have 2 nodes initially A,B and one service has one pod(P1) which is on node(A).We have configured keda auto-scaling for that service and then 2 more pods(p2 and p3) got scaled up.Now p2 is running on B and new node(C) got scaled up.
Now p3 got up and running on Node C.
So afterdown scale p1 and p2 got terminated and the pod(p3) which on new node(C)  is running.Ideally we w

[2022-07-13 14:06] JorTurFer commented on #3362
Hey @MahajanSanjana29
Are you using `Deployment`? I mean, KEDA doesn't manages the autoscaling itself, KEDA delegates to the HPA Controller the job and it's the HPA Controller who decides which pods should be removed (like with the normal CPU HPA).
If you want to remove the pods in the opposite order from the order they were created, I'd suggest to use `StatefulSet` (scaling with KEDA in the same

[2022-07-14 03:43] isugimpy commented on #2299
Continuing to bump, as the PR needs review and a label.

[2022-07-14 07:23] jrehnen opened #3364 "Increase limit for scaler metric value"
### Proposal

Currently, the maximum value of a scaler metric (at least for Azure EventHub) is 6400. If there are more unprocessed events in the hub, the value is capped at 6400 instead. I'd like to have this cap removed or increased.

### Use-Case

While the precise number of unprocessed events becomes irrelevant at higher numbers, it is still very relevant whether it decreases or increases over

[2022-07-14 07:48] tomkerkhove commented on #3334
Ok, feel free to open a ticket with CNCF in that case.

[2022-07-14 08:26] biohazd commented on #3365
I'm not sure if you can fix it on the KEDA side.   Im happy with my solution.

Do the Docker logs goto STDERR or STDOUT ?

[2022-07-14 10:42] zroubalik commented on #3303
`autoscaling.keda.sh/is-paused: true` - I personally don't like the `is-` part of this at all. It gives me an impression that it describes a state rather than setting the action.

I'd use `autoscaling.keda.sh/paused: true` instead

@tomkerkhove @JorTurFer ^^

[2022-07-14 11:08] tomkerkhove commented on #3303
Fine by me, I thought that was what we agreed on but I'll update the spec

[2022-07-14 11:15] JorTurFer commented on #3303
I agree

[2022-07-14 11:23] JorTurFer commented on #3364
I have checked the code and I think KEDA doesn't limit it.
I'd say that it's a limitation of the `Azure EventHub` itself or in the configuration (or maybe the underlying SDK limits it 🤔 ).
@tomkerkhove ?

[2022-07-14 11:27] Stii opened #3366 "Setting lagThreshold to 0 causes the keda-operator to panic"
### Report

The `lagThreshold` for a scaledobject was set to `0` in an attempt to disable the SO, but this caused the keda-operator to panic, resulting in the operator going into a CrashloopBackoff state.

### Expected Behavior

Warn that the scaledobject has an incorrect value or prevent lagThreshold to be set to 0

### Actual Behavior

The keda-operator produces `panic: runtime error: integer di

[2022-07-14 12:23] zroubalik commented on #3366
Thanks for reporting, though I am not able to reproduce the problem, if I set `lagThreshold` to 0, the HPA is not even created:
[code]

[code]

But adding an extra check before the division doesn't hurt.

[2022-07-14 13:22] zroubalik commented on #3151
Just for a reference adding the link to the potential problem:
https://github.com/kedacore/keda/blob/af80d84b4e95536bde4d3b4ee51785214d01dac9/pkg/scaling/cache/scalers_cache.go#L209

[code]

->
[code]

[2022-07-14 14:35] #3366 closed

[2022-07-14 14:54] JorTurFer commented on #3334
I have reviewed the previous request for ARM64 and checking the catalogue there, there isn't any ARM32 machine in Equinix. I'm going to open a support ticket

[2022-07-14 18:17] #3236 closed

[2022-07-15 07:27] #3175 closed

[2022-07-15 08:26] #3235 closed

[2022-07-15 08:51] #3246 closed

[2022-07-15 09:53] JorTurFer opened #3378 "Fix code scanning alert - CVE-2022-27191"
Tracking issue for:
- [ ] https://github.com/kedacore/keda/security/code-scanning/18
- [ ] https://github.com/kedacore/keda/security/code-scanning/19
- [ ] https://github.com/kedacore/keda/security/code-scanning/20

[2022-07-15 10:49] v-shenoy commented on #2737
Halfway there, phew!

[2022-07-15 13:24] rossf7 opened #3381 "Add experimental Carbon Aware queue scaler for RabbitMQ"
### Proposal

Add an experimental carbon-aware queue scaler for RabbitMQ. It will scale to 0 when the marginal carbon intensity of the electricity grid is outside the configured range.

https://www.watttime.org/api-documentation/#introduction

This can be used to schedule when non time-sensitive tasks are run so they reduce emissions. Tasks can also be scaled to 0 when emissions are high.

It is a

[2022-07-15 13:48] Wildpipe commented on #3365
I'm encountering this issue as well. Do you mind providing the configuration for the GROK parser to fix this @biohazd ?

[2022-07-15 13:58] Wildpipe commented on #3365
Thank you!

[2022-07-15 14:16] Wildpipe commented on #3365
I'm also recieving lines like these where Datadog sees them as one unique message per line:

[code]

I'm guessing these lines are part of the stacktrace to whatever went wrong and should be submitted as a multiline log to Datadog. I think part of the problem here is that Datadog does not provide an out-of-the-box parser for the keda service as they do to many other services.

[2022-07-15 14:23] tomkerkhove commented on #3365
@zroubalik We're writing to STDOUT right?

[2022-07-15 15:30] JorTurFer commented on #3381
Thanks for opening the issue!
Nice proposal, we already have this in our mind but it requires some changes before in the scaling logic to allow more complex logic than already supported. Just in case, I have added the label `cant-touch-this` to ensure that stale bot doesn't close this issue because it's important and we need some time to address the prerequisites before doing this.

[2022-07-15 15:48] #3378 closed

[2022-07-15 16:00] #3241 closed

[2022-07-15 17:20] rossf7 commented on #3381
Thanks @JorTurFer! Great you already have this in mind and I can see how this would need changes to the scaling logic.

[2022-07-15 17:24] JorTurFer commented on #3381
https://github.com/kedacore/keda/issues/3330

[2022-07-17 07:24] tal-testim opened #3453 "selenium-grid-scaler: Add abilty to scale more then the request coming to grid by Percentage"
Hi team, it would be great if the selenium-grid-scaler had the option to scale not only when there is more request than browsers,
but also to leave some more browsers up than needed.
for example, if there are 20 requests for the browser instead of scaling to 20 It will be great to have the ability to scale 20% more than the requested, in this case, 24.
that way I can leave some space between the n

[2022-07-17 20:11] JorTurFer commented on #3334
They answered me redirecting me to the CNCF repository and there they request the server model from Equinix catalogue, but Equinix doesn't have arm32 machines. I'll check if we can use emulation for running this smoke tests but checking, kind doesn't have either an image for arm32, we should compile it if we want use.
I think that we could give another try in few months, but atm it could be a lot

[2022-07-18 06:23] #2927 closed

[2022-07-18 07:24] Stii commented on #3366
Ah, thank you so much!

[2022-07-18 07:41] #3076 closed

[2022-07-18 07:53] zroubalik commented on #3365
@tomkerkhove yeah

[2022-07-18 10:36] nikhil-bhat opened #3387 "KEDA metric server is leaking tcp connections"
### Report

we noticed following errors E0716 16:51:54.766808 1 provider.go:124] keda_metrics_adapter/provider "msg"="error getting metric for scaler" "error"="Get \"http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=redacted\": dial tcp 169.254.169.254:80: connect: cannot assign requested address".

after entering the network namespaces of the metrics adaptor we

[2022-07-18 11:34] JorTurFer commented on #3387
hey,
we should address it, are you willing to contribute? There are other issue related and maybe the problem in both cases comes from the same code https://github.com/kedacore/keda/issues/3151#issuecomment-1184443468

[2022-07-18 11:46] JorTurFer commented on #3387
I don't want to put pressure in your back, but just for giving the whole picture. We will do a release during the first half of August and having this fix would be nice.
As I said, don't feel it as a pressure, we have plans to check this before the release, so if you don't have time it's not problem at all

[2022-07-18 11:49] JorTurFer commented on #3364
Do you know if there is any limit @v-shenoy ?

[2022-07-18 11:49] zroubalik commented on #3387
@nikhil-bhat would you mind trying a KEDA distribution with a proposed fix to confirm whether the issue has been fixed or not?

[2022-07-18 12:14] JorTurFer commented on #3387
that's true, maybe the problem in Azure scalers it's different and related with not closed connections 🤔

[2022-07-18 12:19] nikhil-bhat commented on #3387
maybe what we need is this http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/index.html#close_http_resp_body

[2022-07-18 12:49] #3232 closed

[2022-07-18 13:06] #3256 closed

[2022-07-18 16:24] rarampasso commented on #2838
Hello,

I recently had the same symptom when upgrading to AKS 1.22.6 version.

With that I'm having problems with keda, I'm not able to remove it also due to v1beta1.external.metrics.k8s.io

**Erro.......**

ramps@NT0876526MT1580:~$ helm uninstall keda -n keda
Error: uninstallation completed with 1 error(s): unable to build kubernetes objects for delete: resource mapping not found for name: "v1bet

[2022-07-18 17:23] amirschw opened #3394 "Migrate from azure-service-bus-go to azservicebus"
### Proposal

The azure-service-bus-go package [was replaced](https://github.com/Azure/azure-service-bus-go#readme)  by the new azservicebus package. It is recommended to migrate to the new package. Migration guide: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/messaging/azservicebus/migrationguide.md/

### Use-Case

Azure service bus scaler

### Anything else?

_No response_

[2022-07-18 17:47] davidlanouette commented on #2916
I just hit this same issue with go 1.18 installed on my machine.

The _fix_ is to use `go install` (instead of `go get`) in `go-get-tool`.  `go install` works on go 1.17 and 1.18.

However, 'kustomize` v3 doesn't work with `go install`, and needs to be bumped to v4.  I don't know how the team feels about this last part.

But, I can put up an MR for you to look at.

[2022-07-18 17:55] nikhil-bhat commented on #3387
mostly imds @amirschw

[2022-07-18 18:01] JorTurFer commented on #2916
Hey,
Sure, we can give a try to it :)

[2022-07-18 20:26] JorTurFer commented on #3394
we need to use [golang 1.18](https://github.com/kedacore/keda/issues/3205) before because tnhe new pkg requires 1.18. It's in my radar to update the library once we use go 1.18

[2022-07-18 20:45] #2910 closed

[2022-07-18 20:55] #2916 closed

[2022-07-18 20:56] #3242 closed

[2022-07-19 12:34] #3248 closed

[2022-07-19 12:37] zroubalik opened #3401 "Refactor MS SQL e2e test"
### Proposal

MS SQL e2e test is using image `docker.io/cgillum/mssqlscalertest:latest` for consumer/producer part of the test. We don't own the sources and the app is written in C#.

We should refactor the test to directly use Go library to talk to MS SQL (produce/consume load) , this way we can reduce the number of images needed for the test.

current implemenatton:
[code]

### Use-Case

_No res

[2022-07-19 12:52] #3228 closed

[2022-07-19 12:52] #3259 closed

[2022-07-19 13:21] #3174 closed

[2022-07-19 13:21] #3234 closed

[2022-07-19 13:48] JorTurFer commented on #3237
@Ritikaa96 , are you on this? if not, I'll tackle it

[2022-07-19 16:08] ivan-santos-eq commented on #3244
Howdy! I made some progress, but have not finished yet. Sorry for the delay (and by commenting with a different account 😂 )

[2022-07-19 19:52] joebowbeer commented on #3292
@tomkerkhove in #2880 @zroubalik asked for someone to create a doc PR.

@ygnr was able to [accomplish this](https://github.com/kedacore/keda/discussions/2880#discussioncomment-2686676) by setting mountPath to `/apiserver.local.config/certificates/`

[code]

and then setting readOnlyRootFilesystem to true in the securityContext of metricServer

[2022-07-20 07:42] arapulido commented on #2930
Hello @sebanazarian ! Any updates on this issue? Thanks!

[2022-07-20 09:20] zroubalik commented on #3292
Yeah, it is partly covered in FAQ: https://keda.sh/docs/2.7/faq/

Though we can definitely improve it, @joebowbeer mind opening a RP on https://github.com/kedacore/keda-docs with changes that will make it more clear for you?

[2022-07-20 11:13] amirschw commented on #3387
It's worth mentioning that we didn't notice this behavior in previous versions (we upgraded from 2.4 directly to 2.7.1). Another thing we noticed after the upgrade was a big increase in the rate of token requests sent to IMDS from both the metrics server and the operator.

[2022-07-20 13:02] #3240 closed

[2022-07-20 15:28] zroubalik commented on #3387
interesting, that would mean that this might be caused by the same problem as described here: https://github.com/kedacore/keda/issues/3151

[2022-07-21 06:27] joebowbeer commented on #3292
Created PR https://github.com/kedacore/keda-docs/pull/830 to improve FAQ answer

[2022-07-21 06:27] #3292 closed

[2022-07-25 06:59] RamCohen commented on #3394
I can do that once it's possible

[2022-07-25 08:27] timown commented on #3387
happens also with keda operator

[2022-07-25 08:44] JorTurFer commented on #3394
Nice!
Maybe after next release we can take a look. AFAIR, there are problems related with the golint because some chacks are not ported due to a limitation in some libraries

[2022-07-25 10:42] mend-bolt-for-github[bot] opened #3417 "CVE-2022-29526 (Medium) detected in multiple libraries"
## CVE-2022-29526 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>github.com/fatih/color-v1.9.0</b>, <b>github.com/knative/pkg-9c5a7317fa9de4a38ad8a4ed4cd483accbac9aae</b>, <b>github.com/hashicorp/go-sockaddr-v1.0.2</b>, <b>github.com/nxadm/tail-v1.4.8</b></p><

[2022-07-25 10:42] mend-bolt-for-github[bot] opened #3418 "CVE-2021-35065 (High) detected in glob-parent-5.1.2.tgz"
## CVE-2021-35065 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>glob-parent-5.1.2.tgz</b></p></summary>

<p>Extract the non-magic parent path from a glob string.</p>
<p>Library home page: <a href="https://registry.npmjs.org/glob-parent/-/glob-parent-5.1.2.tgz">ht

[2022-07-25 10:51] zroubalik opened #3419 "Reference ScaledObject's/ScaledJob's name in the scalers log"
### Proposal

Reference ScaledObject's/ScaledJob's name in the scalers log, together with a namespace of the SO/SJ.

This should help with debugging KEDA logs, when there are hundreds of SOs/SJs it is hard to assign particular log message to a SO/SJ.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-07-25 12:06] tomkerkhove commented on #3381
I don't think this depends on #2440 though @JorTurFer. In this case, what we want is to have an AND behavior when using multiple triggers, instead of an OR. It's not specifically the need for doing custom formulas IMO.

Another aspect of this is that we can simply introduce a "marginal carbon intensity" scaler that uses this API which end-users need a license with (similar to other scalers).

We c

[2022-07-25 12:19] JorTurFer commented on #3381
That is exactly the problem. It's the HPA Controller who does the OR, KEDA only exposes all the metrics split. If we want to do the AND, we have to do it inside our own metrics server and expose only that calculated metric inteaf of all of them.

[2022-07-25 12:22] JorTurFer commented on #3381
Of course, advanced scenarios are not needed but at least a simple formula scenarios is required. Other option could be introduce this as par of every scaler and apply this formula for all of them as part of their own metrics request. Honestly, I don't like this second option because why carbon yes and others no, that's why I think that we need to wait till formulas are integrated.
@zroubalik ?

[2022-07-25 12:30] tomkerkhove commented on #3381
I don't see why this has to be with a formula and this cannot be a standalone scaler like any other one?

Simple, carbon-friendly processing. Only scale if it is allowed wrt sustainability. If we are not allowed to, then we should not run our secondary/optional workloads.

[2022-07-25 12:52] JorTurFer commented on #3381
How do you propose that we can include the carbon variable without adding the formula feature? At ScaledObject level instead of inside trigger?

[2022-07-25 12:59] tomkerkhove commented on #3381
Just as simple as this (not spec, just example):
[code]

[2022-07-25 19:03] JorTurFer commented on #3381
That's the point, we could introduce it outside triggers or inside each trigger, but not as a trigger itself. Every trigger is mapped to a metric in the HPA and from there, we don0't have control about how it's evaluated because it's the HPA Controller who does it. We could introduce this maximum impact as a variable for the whole scaledobject or inside each trigger and then calculate the value in

[2022-07-26 09:22] glindstedt commented on #2048
Started looking into keda but ran into this roadblock, so chiming in here with our use case, although it might be a bit niche. We use Identity-Aware Proxy extensively for all our self-hosted services and have our prometheus service behind it. So in order for us to be able to use the prometheus scaler without exposing it in a different way keda would need to support Workload Identity (with custom a

[2022-07-26 09:37] Ritikaa96 commented on #3237
Hey @JorTurFer , Sorry for missing out on your comment, yes im working on this one. if you have already started working you can take it up.

[2022-07-26 09:43] JorTurFer commented on #3237
Do you think that you could add the activation feature too? We plan to do a release aiming to the end of next week and we'd like to have that feature implemented. If you don't have time, it's not a problem at all, no pressure from our side, we can tackle it before the release if next week you haven't had time 😄

[2022-07-26 09:53] dalgibbard opened #3423 "Datadog Scaler: Support Multi-Query Results"
### Proposal

In the Datadog scaler code currently, we check if the number of ```Series``` returned is only 1, and then grab the last (newest) from the ```Pointlist```: https://github.com/kedacore/keda/blob/main/pkg/scalers/datadog_scaler.go#L273

It would be very handy to support multi-query calls (defined in the form of comma-seperated queries) in a single call; eg: ```sum:http.requests{service:

[2022-07-26 11:21] dgibbard-cisco commented on #3423
I started having a little look; but i'm a golang noob - I have this so far: https://github.com/dgibbard-cisco/keda/pull/1/files
What do you think?

[2022-07-26 11:46] #3254 closed

[2022-07-26 15:14] FrittenToni opened #3426 "Add minReplicaCount support for scaledjob"
### Proposal

Keda scaledjob should be able to scale to minReplicaCount by default to ensure that there is always a specified amount of jobs/pods available to pick up work immediately.

### Use-Case

For our project it would be helpful if Keda could scale to minReplicaCount by default in order to avoid pod bootstrapping time.
The feature could be used in combination with "custom" strategy and "cus

[2022-07-26 19:41] #3176 closed

[2022-07-27 01:33] pragmaticivan commented on #3244
@zroubalik PR opened.

[2022-07-27 02:49] pragmaticivan commented on #3120
What's going to be the client producer for the metrics? OpenTelemetry SDK or prom client?

[2022-07-27 03:46] pragmaticivan commented on #508
This seems to be fixed

[2022-07-27 03:54] pragmaticivan opened #3431 "Support Kafka SASL MSK IAM authentication"
### Proposal

MSK (Kafka Managed Services from AWS) supports IAM for authentication via SASL.

ref: https://github.com/segmentio/kafka-go/issues/661

### Use-Case

ServiceAccount should be able to be used for Kafka authentication.

### Anything else?

_No response_

[2022-07-27 04:58] Ritikaa96 commented on #3237
are you talking about this one: https://github.com/kedacore/keda/issues/2800 ? I might need a little reference but I'll definitely try adding this feature. if you have any other references please let me know.

[2022-07-27 05:26] ReneeRuth opened #3433 "Keda scaler for blob trigger"
Hi,
We have configured a blob trigger which should be trigged when we upload any files to Folder1 or Folder2 (SubFolders).
This is my blob container structure:

ContainerName
   |__ FolderA
            |__ Folder1
                    |__test1.csv
                    |__test2.csv
            |__ Folder 2
                    |__ test.csv

We were using KEDA scaled object for deployment

apiVersion:

[2022-07-27 07:17] JorTurFer commented on #3237
hey @Ritikaa96 ,
Sure, these are some samples:
https://github.com/kedacore/keda/pull/3408
https://github.com/kedacore/keda/pull/3405
https://github.com/kedacore/keda/pull/3402

[2022-07-27 07:18] JorTurFer commented on #3237
Once you have migrated the e2e test, the changes are quite easy :)

[2022-07-27 08:13] Ritikaa96 commented on #3237
Thanks @JorTurFer , i'm on it.

[2022-07-27 11:20] vinod827 opened #3434 "Added multiple triggers in same scaledobject YAML file but KEDA failed to recognize others except first one in the list"
### Report

I tried to add two scalers i.e. CPU and Memory in the triggers attribute in its specification YAML file and deployed the code as well. When I do get on the cluster then it appears like the trigger is enabled only on first one in the list which was **cpu** and not on **memory**.

This is my code chunk here for a particular scaled object YAML file

[code]

Here is the output when I do  `

[2022-07-27 11:27] #3249 closed

[2022-07-27 11:32] v-shenoy commented on #3434
https://github.com/kedacore/keda/issues/1943

This is the problem.

[2022-07-27 11:36] v-shenoy commented on #3433
Could you post logs from the operator pod?

[2022-07-27 12:00] JorTurFer opened #3435 "Migrate e2e test for `Value metricType` to Go"
### Proposal

Relates to https://github.com/kedacore/keda/issues/2357, https://github.com/kedacore/keda/issues/2737.

### Use-Case

_No response_

### Anything else?

We should port this test to another simpler upstream to check it as internal feature
https://github.com/kedacore/keda/blob/main/tests/scalers/prometheus-value-metric-type.test.ts

[2022-07-27 12:10] zroubalik commented on #3435
+1 probably using `Kubernetes Workload Scaler` or some similar, that doesn't require addional service.

The current internal e2e tests should be transfered to this simple scaler as well.

[2022-07-27 12:11] #3247 closed, assigned to JorTurFer

[2022-07-27 12:12] zroubalik opened #3436 "Migrate internal e2e tests to use simple scaler"
idle_replicas, pause_replicas, restore_original tests are using Azure as a scaler.

These tests should be migrated to use some not cloud or external services scalers, such as Kubernetes Workload or something similar, probably in sync with #3435

[2022-07-27 13:03] zroubalik commented on #3434
Yeah, it is just that the cli is not able to display multiple scalers. They are functional and working properly, you can check that with `kubectl get scaledobject -oyaml` or `kubectl describe scaledobject`

[2022-07-27 13:04] zroubalik commented on #3434
Duplicate of #1943

[2022-07-27 13:04] #3434 closed

[2022-07-27 13:37] #2908 closed

[2022-07-27 14:17] rh-voice opened #3438 "ScaledJob "Target Average Value" prometheus"
### Discussed in https://github.com/kedacore/keda/discussions/3437

<div type='discussions-op-text'>

<sup>Originally posted by **rh-voice** July 27, 2022</sup>
Hi there,

So I am trying to scale some jobs that run agents for our CI/CD; I can read pipeline demand metrics from prometheus (I have an exporter for that); Now this works fine with ScaledObjects; but I am trying to switch those to jobs.

[2022-07-27 15:39] JorTurFer opened #3439 "Use `gophercloud` in Openstack scalers instead of interacting with the REST Api"
### Proposal

Right now, we have our own code to interact with openstack instead of using any native SDK. https://github.com/gophercloud/gophercloud is a native Golang SDK for Openstack that we are already using for e2e tests and it seems that brings all the capabilities that we need.
Using a documented and maintained SDK is easier and better for KEDA maintainability

### Use-Case

_No response_

[2022-07-27 17:38] vickithedeveloper opened #3441 "Blob container : 'name' not found to use checkpoint strategy, getting unprocessed event count without checkpoint"
### Report

We are using custom function app within AKS cluster for processing data coming from the Azure Event Hub. The function app is written in python and is designed to consume the data from input event hub, transform the data and write it to an output event hub. As it’s an AKS based deployment we create a container image out of the function app definition.

For up scaling and downscaling the

[2022-07-27 21:28] v-shenoy commented on #3441
The scaled object definition seems to be incorrect. If you want to use connection strings for both the event hub, and the storage account, maybe a definition like follows should be used instead.
[code]

When configuring KEDA with helm you set the pod identity label, but you are not using pod identity anywhere in your trigger auth resource.

The following is a bit of an assumption, but looking at t

[2022-07-28 08:59] JorTurFer commented on #3418
We are moving e2e to golang, so this issue doesn't make sense

[2022-07-28 08:59] #3418 closed

[2022-07-28 09:11] v-shenoy commented on #3441
The scaled object definition seems to be incorrect. If you want to use connection strings for both the event hub, and the storage account, maybe a definition like follows should be used instead.
[code]

When configuring KEDA with helm you set the pod identity label, but you are not using pod identity anywhere in your trigger auth resource.

The following is a bit of an assumption, but looking at t

[2022-07-28 09:28] #3245 closed

[2022-07-28 10:03] ReneeRuth commented on #3433
I can see that the installed KEDA Version: 2.4.0.
How do I upgrade to the latest?

[2022-07-28 10:53] v-shenoy commented on #3433
The `globPattern` parameter for blob trigger was introduced in KEDA 2.7.

[2022-07-28 12:35] JorTurFer opened #3447 "Bump version golang and deps before the release"
### Proposal

We should update all resources before the release

### Use-Case

_No response_

### Anything else?

_No response_

[2022-07-28 12:36] JorTurFer commented on #3447
https://github.com/kedacore/keda/issues/3417

[2022-07-28 12:51] arapulido commented on #3423
hey @dgibbard-cisco Thanks for the suggestion and the patch! I will have a look to that PR in the following days

[2022-07-28 12:59] arapulido commented on #3423
@dalgibbard  Before starting reviewing the code, I want to clarify a bit more what you want to do here, from a logic point of view.

Can you put an example on how you would use two queries (and an aggregator) to scale an object and why?

Thanks!

[2022-07-28 13:18] dgibbard-cisco commented on #3423
@arapulido yeah sure thing - the short version is that it allows you to condense multiple API requests into a single API query, which eases strain on Datadog Rate Limiting - this was one of the main drivers, and stemmed from a Discussion with Datadog support recently when discussing how to aggregate multiple queries on our own proprietary autoscaling software, which uses Datadog on the backend, fo

[2022-07-28 16:53] #3092 closed

[2022-07-28 16:54] JorTurFer commented on #3351
This is already fixed

[2022-07-28 16:54] #3351 closed

[2022-07-28 17:17] dogzzdogzz opened #3448 "DataDog scaler makes errors in keda-metrics-apiserver and causes keda-operator crashing loop back"
### Report

When I use the query ```sum:trace.express.request.hits{*}.as_rate()/avg:kubernetes.cpu.requests{*}``` in datadog scaler, the metrics-apiserver will have ```panic: runtime error: invalid memory address or nil pointer dereference``` and causes keda-operator crashing

Here is my scaledobject manifest
[code]

I already confirmed that the query works without problem on datadog UI and with c

[2022-07-28 17:31] vickithedeveloper commented on #3441
@v-shenoy Today we tried the method you suggested above. But the error was still present.
Hence we redeployed the original code and the "blob not found" error has magically gone away.

But the deployment is still not scaling. From the KEDA operator metrics as well as from the hpa logs we could see the following error

Warning  FailedComputeMetricsReplicas  21s (x2 over 81s)  horizontal-pod-autosca

[2022-07-28 18:45] JorTurFer commented on #3151
I'm trying to replicate this issue but I cannot do it. Could you give me any tip to reproduce this? I'm trying dropping the cluster connection but I can't see any connection leak. I'm deploying a MSK and I'll try to replicate disk issues, but maybe you can give me some tips

[2022-07-28 18:54] v-shenoy commented on #3441
I am still confused as to whether you're using pod identity or not. You say that you're pod identity but your trigger auth definition does not contain
[code]
and you're also providing connection strings in the scaled object.

1. Could you clarify on this, and post update (if any changes) to the scaled object / trigger auth CRDs?
2. Could you post more detailed logs from the KEDA operator and metri

[2022-07-28 23:05] JorTurFer commented on #3151
I have tried the same, locking the disks filling them (with KEDA connected all the time) and I haven't been able to reproduce your issue, once I have solved the issues with disks increasing the disk size, KEDA has started again without any huge increase of connections. I'd need more info about how to reproduce it to continue.
I have tried with a kafka cluster deployed using `strimzi`

[2022-07-29 06:42] vickithedeveloper commented on #3441
@v-shenoy I am using connection strings in the scaled object.

When I ran the command "kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1" , I got the below output.

**{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"external.metrics.k8s.io/v1beta1","resources":[{"name":"s0-azure-eventhub-$Default","singularName":"","namespaced":true,"kind":"ExternalMetricValueList","verbs":["get"

[2022-07-29 07:36] ReneeRuth commented on #3433
It worked fine after upgrading the version to 2.7.1. Thanks :)
Is there a more elegant way of upgrading the version to the latest apart from having to run the below uninstall commands?
kubectl delete $(kubectl get scaledobjects,scaledjobs -oname)
helm uninstall keda -n keda

[2022-07-29 07:44] tobiaskrause opened #3449 "Allow Kafka Scaler to use encrypted private key"
### Proposal

The Kafka Scaler should be able to use an encrypted private key (PKCS#8) for TLS. The passphrase for the private key is passed through the Kafka Scaler config.

### Use-Case

In certain infrastructure setups it's prohibited to store private keys unencrypted

### Anything else?

_No response_

[2022-07-29 08:01] JorTurFer commented on #3448
I have tried to reproduce the issue and I can't. Not with v2.7.1 nor with main branch, on every call it works. Surely it's because my scenario is spin up using the e2e test and that's not enough.
Could you give us the result of the request using ´curl' to check the returned json?  If not, could you debug the problem to give us some extra info?
FYI @arapulido

[2022-07-29 08:58] JorTurFer commented on #1281
@ilyalexin
We aim to do a release next week, do you have any update about this topic? No rush at all, we can just postpone this to next release

[2022-07-29 08:59] JorTurFer commented on #3156
This is already solved with the `replace` with the fixed version in go.mod

[2022-07-29 08:59] #3156 closed

[2022-07-29 10:43] tomkerkhove commented on #3381
I don't get why this cannot be a standalone scaler though?

[2022-07-29 11:03] JorTurFer commented on #3381
Because we cannot change the OR/MAX done by the HPA Controller AFAIK, it's outside KEDA scope, we can expose all the metrics and HPA Controller will apply its logic, if we want to "hack" that logic, we need to do it internally and expose a single metric

[2022-07-29 12:43] ilyalexin commented on #1281
@JorTurFer
I am working on this feature but it will not be completed next week.
Please postpone it to the next release

[2022-07-29 12:57] dogzzdogzz commented on #3448
Hi @JorTurFer
Here is the curl's response
[code]

[2022-07-29 15:40] vickithedeveloper commented on #3441
The issue was resolved partially by commenting the "aadpodidbinding"  label as shown below in the deployment file below. Now KEDA is able to scale the function app.
Following are the new observation's -
1.  The error mentioned in the above comment is still occurring but intermittently. KEDA is now able to scale the deployment from 0 to higher number.
2. However the user code within function app th

[2022-07-29 16:05] v-shenoy commented on #3433
I think [helm upgrade](https://helm.sh/docs/helm/helm_upgrade/) should work.

[2022-07-29 18:01] tomkerkhove commented on #3381
You're thinking too much from a technical point of view :) Let's take a step back - The initial ask was to combine carbon information with RabbitMQ which is not possible indeed.

However, my proposal is to introduce it as a standalone scaler for now so that end-users can already use it similar to this brain dump:
[code]

This would allow people to already scale based on the impact that they have a

[2022-07-29 18:36] JorTurFer commented on #3381
Okey,
After a talk, we have understood ourself, atm creating a carbon scaler is doable (and good idea) but only for working like any other scaler, not to modify other scalers based on this.
To achieve that goal, we need the formula feature implemented.

[2022-07-29 18:45] JorTurFer commented on #1281
No problem at all! Thanks for the update 😄

[2022-07-29 18:50] JorTurFer commented on #3448
In fact, my suspicions are correct, the latest point doesn't have value. IDK if it's correct just failing (current behaviour) or we should get the latest valid value. I don't have any expertise on this, let's wait till @arapulido gives her opinion. Maybe we can add this change as optional 🤔

[2022-07-29 18:56] tomkerkhove commented on #479
Last call for reviews before we close it on Tuesday EOB European time.

/cc @kedacore/keda-maintainers

[2022-07-29 18:56] tomkerkhove commented on #2737
Nice progress on this!

[2022-07-29 18:56] #3433 closed

[2022-07-29 19:13] JorTurFer commented on #479
I have taken another look and I agree with all but `Maximum replicas exceeded for workload`, I still think that it's not under KEDA scope because KEDA doesn't know the current needed replicas, it's the HPA Controller who knows that.
You have done a great job designing this

[2022-07-30 03:22] dogzzdogzz commented on #3448
Let me also ask datadog support if this is expected behavior

[2022-07-30 21:57] JorTurFer commented on #2940
I agree with @tomkerkhove , we can just add support to adding additional annotations, how end users use them is their scope.
Maybe we could add a section in the SO or just pass SO labels to HPA. WDYT?

[2022-07-30 22:04] JorTurFer commented on #3438
Let's talk about this in the discussion

[2022-07-30 22:04] #3438 closed

[2022-07-30 23:03] JorTurFer commented on #2391
hey @goku321
Any update? we aim to do a release next week

[2022-07-30 23:10] JorTurFer commented on #2844
When are we going to remove this? maybe we could follow k8s deprecation policies, WDYT?

[2022-07-31 01:41] JorTurFer commented on #1619
I'd say that this is done by https://github.com/kedacore/keda-docs/pull/755. Feel free to reopen the issue if it's not done

[2022-07-31 01:41] #1619 closed

[2022-07-31 13:26] JorTurFer commented on #3056
I'm going to do it before the release

[2022-08-01 05:43] tomkerkhove commented on #3447
As long as they are covered by tests I'm ok, but I don't want to bump them the week of the release if it's a risk :D

[2022-08-01 06:46] tomkerkhove commented on #479
I tend to disagree and say that this is implementation detail because KEDA's focus is making application autoscaling simple and using HPA is just an implementation detail that some/most KEDA end-users don't even know about.

Because of that, it's up to us to provide a unified autoscaling solution imo.

[2022-08-01 06:46] v-shenoy commented on #3441
If the KEDA pod was using pod identity and the context is being cancelled, the error might be related to another issue - https://github.com/kedacore/keda/issues/3296. But going by the updated scaled object, trigger auth definitions, you are using connection strings. So, I am not yet sure what's causing this, I'll have to spend a more time and try to repro the issue in detail.

As for removing the