[2019-03-01 16:30] jeffhollan opened #8 "Build a Kafka Scaler"

[2019-03-01 16:33] #8 closed, assigned to nobody

[2019-03-01 17:08] jeffhollan opened #9 "Add kafka trigger to Azure Functions host"
To support Kafka with the Azure Functions runtime in Kore, we'll need corresponding logic in the Azure Functions host.

[2019-03-01 21:47] bbrowning opened #10 "examples/scaledobject.yaml out of date"
The example `ScaledObject` in examples/scaledobject.yaml has fields that don't match the spec. I can look at the source and figure out what's expected here, but just adding an issue to remember to update the example.

[2019-03-01 23:41] jeffhollan opened #11 "[Scaler] Azure queues"
Component that can drive scaling decisions and metrics specific to Azure queues.

[2019-03-01 23:42] jeffhollan opened #12 "Func cli command to generate deployment artifacts"
Using the [functions command line tools](https://github.com/azure/azure-functions-core-tools) I should be able to do a `deploy` of a function project and have the necessary artifacts generated.  This would include:

- [x] Ability to create scale controller resources per cluster (either idempotently or an explicit gesture once per cluster) (Needs linked issue)
- [x] Ability to generate the appropri

[2019-03-01 23:44] jeffhollan opened #13 "[Scaler] Kafka"
Creates the appropriate metrics and drives logic for scaling Kafka event sources.

[2019-03-01 23:45] jeffhollan opened #14 "[Scaler] Azure Event Hubs"

[2019-03-01 23:45] jeffhollan opened #15 "[Scaler] Azure Service Bus"

[2019-03-04 13:19] bbrowning opened #17 "Consider updating repo layout to align with operator-sdk or kubebuilder"
This repo is based on the Kubernetes sample-controller, which is a bit outdated in its layout. [Operator SDK](https://github.com/operator-framework/operator-sdk) and [kubebuilder](https://book.kubebuilder.io/getting_started/what_is_kubebuilder.html) are both tools that have a more modern approach to generating Kubernetes controllers. Specifically, if this repo ever evolves to contain more than one

[2019-03-04 14:11] bbrowning opened #19 "Keda as a generic pull-based autoscaler for K8s and Knative"
I'd love to see Kore become a generic pull-based autoscaler for Kubernetes and Knative. Below are the general high-level things I believe are needed to make that happen:

- [ ] Open source Kore
- [ ] Define an extension or plugin mechanism. If Kore supports various Azure services and Kafka out of the box, how would a user add support for another service? AMQP, other cloud provider services, etc? W

[2019-03-04 15:59] markusthoemmes opened #20 "Kore metrics as custom/external Kubernetes metrics"
Kubernetes defines [APIs to get custom/external metrics into the system](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-metrics-apis). They can also be used to feed the HPA for example.

As Kore progresses, we could think about organizing the code in a way, that makes it straightforward to eventually plug it into the HPA (or other autoscalers). I think these

[2019-03-04 22:02] Aarthisk opened #21 "Kore metrics adapter for integration with HPA"
Metrics adapter layer for HPA to query. Includes integration with scalers to query for said metrics

[2019-03-04 22:03] Aarthisk opened #22 "Publishing HPA specs for different scaled objects"
Querying scalers for HPA definitions and creating HPAs based on the spec.

[2019-03-04 23:00] ahmelsayed opened #23 "Create helm chart for deploying"

[2019-03-04 23:01] ahmelsayed opened #24 "Create OpenAPI3 validation schema for ScaledObject"

[2019-03-05 01:24] ahmelsayed opened #25 "Set proper logging level for debug output"

[2019-03-05 23:55] #10 closed, assigned to ahmelsayed

[2019-03-07 02:18] ahmelsayed opened #31 "move scale_handler to its own package"
I think the handler should be in a separate go package from the scalers... right?

[2019-03-07 02:22] ahmelsayed opened #33 "Update ScaledObject status on scale in/out"

[2019-03-07 03:34] jeffhollan opened #34 "Validate that Kore works with Virtual Nodes / Kubelet"
We should check that you could have a cluster with very few real nodes and have your "functions" scale out exclusively on Kubernetes virtual nodes in AKS or the virtual kubelet.

[2019-03-07 03:36] jeffhollan opened #35 "Ability to set a minimum number of instances for a deployment"
Rather than force all functions to scale to 0 on no events, you may want some functions (e.g. HTTP ones) to only ever scale down to 1.  You still want them to scale 1 -> n if the event source gets noisy, but that would allow you to protect against cold start.

[2019-03-07 20:44] #31 closed, assigned to ahmelsayed

[2019-03-08 00:33] #23 closed, assigned to ahmelsayed

[2019-03-14 21:30] jeffhollan opened #39 "Stop scaling out new resources if the function isn't successfully processing"
There are two scenarios we have today where we stop scaling new instances even as the queue length increases:
1. No available partitions.  If you have an event hub with 5 partitions that is growing in event lenghts, we will scale to 5 instances, and then 6.  The 6th one gets scaled out but can't get a lock on a partition so never actually consumes any events.  We never scale to a 7th because we lo

[2019-03-19 21:08] ahmelsayed opened #40 "core-tools kubernetes commands design"
### Install:
[code]

### Remove
[code]

### Update
[code]

### Deploy

[code]

### Generate

[code]

[2019-03-20 21:44] ahmelsayed opened #42 "Allow loglevel change through a commandline option for debugging"

[2019-03-20 22:00] ahmelsayed opened #44 "Add end to end tests"

[2019-03-21 22:38] #42 closed, assigned to ahmelsayed

[2019-03-22 05:43] ahmelsayed opened #48 "handle disabled functions"

[2019-03-22 16:43] markito opened #49 "Validate kore installation in OCP4 (func install)"
We should validate that Kore can be installed in OCP4 using the CLI and that we can use custom metrics to scale functions 1-N.

[2019-03-22 21:00] ahmelsayed opened #51 "update scaled object status with error if it's in error state"

[2019-03-26 20:02] #44 closed, assigned to ahmelsayed

[2019-03-26 20:26] yaron2 opened #53 "Keep track of k8s api server usage"
This issue is to examine KEDA's CPU and Memory implications in regards to the Kubernetes API server.
This is to ensure that KEDA does not cause over-utilization of the API server, as it communicates in a bi-di manner with the API server (KEDA controller being asked for metrics and looking up Kubernetes objects using the Kubernetes API).

[2019-03-26 20:27] yaron2 opened #54 "Use Operator SDK"
Waiting for https://github.com/Azure/Kore/pull/47 and https://github.com/Azure/Kore/pull/41.

[2019-03-26 22:28] Aarthisk opened #55 "Have scaled objects override min and max replica counts"

[2019-03-26 23:20] Aarthisk opened #56 "Helm chart deployment of metrics adapter"

[2019-03-28 02:39] jeffhollan opened #59 "HTTP integration into Keda tooling (func)"
People deploying a function set to consume HTTP events or a function set to consume queue events should work through the same publishing flow.

I understand from a meta-point of view, the decision on where or how to handle HTTP scale-to-zero and scale-to-n is slightly different than our non-HTTP triggers, and there are concepts like endpoint controllers, and forwarding of events.  In addition, the

[2019-04-02 22:21] ahmelsayed opened #63 "Log commit id on startup"

[2019-04-03 04:31] #33 closed, assigned to ahmelsayed

[2019-04-03 23:36] #25 closed, assigned to ahmelsayed

[2019-04-04 01:34] #21 closed, assigned to Aarthisk

[2019-04-04 01:35] #22 closed, assigned to Aarthisk

[2019-04-04 20:32] jeffhollan opened #68 "Understand the story for multiple namespaces and a single or multiple kore deployment"
Sounds like cross namespace custom metrics isn't supported today.

[2019-04-04 20:40] #63 closed, assigned to nobody

[2019-04-08 19:00] #35 closed, assigned to ahmelsayed

[2019-04-08 19:00] #55 closed, assigned to nobody

[2019-04-13 05:26] #34 closed, assigned to nobody

[2019-04-13 05:28] #12 closed, assigned to nobody

[2019-04-13 05:31] #59 closed, assigned to nobody

[2019-04-13 05:37] #40 closed, assigned to nobody

[2019-04-15 20:11] jeffhollan opened #77 "Get logging out of only debug level"
Some logs should be emitted by default to help with debugging.  Specifically I think these logs would be interested:

* When a new scaledObject is detected / registered
* When activation occurs
* When a scaling decision is made

[2019-04-15 23:27] ahmelsayed opened #79 "Log errors once for unsupported triggers"

[2019-04-15 23:28] #77 closed, assigned to ahmelsayed

[2019-04-16 17:53] jeffhollan opened #80 "Removing a deployment doesn't get rid of autoscale rules"
When I delete a deployment to Kore I still see the `horizontalpodautoscaler.autoscaling` resource floating around.  Ideally that would be removed after I remove a deployment

[2019-04-16 20:46] #80 closed, assigned to nobody

[2019-04-16 23:43] ahmelsayed opened #83 "Update the HPA definition on scaledObject update"

[2019-04-17 19:54] #13 closed, assigned to yaron2

[2019-04-18 05:43] ahmelsayed opened #89 "Move rabbitmq password to environment."
I think the current rabbitmq spec contains a password 'guest' https://github.com/Azure/Kore/blob/master/examples/rabbitmq_scaledobject.yaml#L15

This should probably move to env vars like we handled all other secrets, right?

/cc @yaron2

[2019-04-18 10:41] jeffhollan opened #90 "Issue with api-resources and custom.metrics.k8s.io"
After deploying via the current `master` branch deploy, things seem to setup ok but when I run `kubectl api-resources` I get the following:

Tried on a fresh install and same thing.

Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.9", GitCommit:"16236ce91790d4c75b79f6ce96841db1c843e7d2", GitTreeState:"clean", BuildDate:"2019-03-25T06:30:48Z", GoVersion:"go1.10.8", Compiler:"g

[2019-04-18 20:18] #56 closed, assigned to Aarthisk

[2019-04-18 23:14] jeffhollan opened #91 "Core tools generation fixes"
Per my investigation I ran into two issues for the core tools. Creating them here for the detail instead of core tools repo.

- [x] `ScaledObject` needs to be deployed after the `Deployment`.  Today running `func kubernetes deploy --dry-run` has `ScaledObject` serialized first.
- [x] The `ScaledObject` needs a label to hook up the custom metrics adapter for `deploymentName` which the value should

[2019-04-19 06:06] yaron2 opened #92 "Allow non string values for ScaledObject metadata"

[2019-04-19 20:24] #9 closed, assigned to nobody

[2019-04-19 21:08] jeffhollan opened #93 "Kafka trigger - recover broken function instances?"
Not sure the right fix for this.  Was playing with the kafka trigger again today, here's the cycle:

1. Created a kafka topic with a single partition
1. Deploy a function with KEDA.  KEDA activated, the first function locked the partition
1. KEDA kept scaling out (which is fine for now) until I had 4 instances.  Only 1 was active (the first one).  Once it caught up KEDA scaled down to 1 instance.

[2019-04-19 23:17] lee0c opened #96 "Provide clearer documentation for ScaledObject yaml files"
Documentation should include:

- examples do not conflict w/ each other
- one scaledobject example per scaler
- clear documentation on which fields are optional vs necessary
- explanation of where fields are drawn from

[2019-04-19 23:23] lee0c opened #97 "Align func core tools & trigger naming conventions"
There are mismatched naming conventions for triggers when going between func core tools uses, function container env vars, & kore go files.

ex: storage queue functions have trigger type queueTrigger in functions, then type azure-queue in Kore.

If something in func core tools is deliberately standardizing those names for the k8s setting,

1. that should be documented somewhere for cases where som

[2019-04-20 00:00] lee0c opened #98 "Provide default values for as much trigger metadata as is reasonable"
~- [ ] RabbitMQ Scaler could have default/fallback queueLength value~ n/a
- [x] Kafka Scaler could have default/fallback lag threshold

[2019-04-21 19:52] lee0c opened #102 "Add information to NOTES.txt in helm chart"
Add installation notes, next steps, methods to see output, etc to NOTES.txt - some general information that would be useful to someone who has just installed the chart.

Most likely: note about config-ing scaledobjects, note about seeing which External Metrics are in use via apis/external.metrics... link, how to see current hpas, etc

[2019-04-21 20:36] anirudhgarg opened #103 "Change code and documentation to replace Kore with Keda"

[2019-04-22 17:56] #96 closed, assigned to nobody

[2019-04-22 18:32] lee0c opened #105 "Have helm chart delete CRD or add option to not create CRD"
Deleting a helm release of keda & then re-installing fails currently as helm does not delete CRDs by default. There are a few possible work arounds:

1. Add a values file flag that sets whether or not CRDs are created
2. Add a hook that cleans up the ScaledObject CRD post-deletion
3. Add a hook that cleans up the ScaledObject CRD pre-install (wipes old versions if they exist)

Might want to do 1.

[2019-04-22 20:30] jeffhollan opened #108 "Reduce level of logs"
Seeing noisy logs on service-controller, lots of requests to create Kubernetes resources, and lots of custom and external metrics requests and responses.  Would be good if we could move those to debug logs.

/cc @Aarthisk

[2019-04-22 22:23] #20 closed, assigned to nobody

[2019-04-23 00:19] #15 closed, assigned to nobody

[2019-04-23 17:28] #11 closed, assigned to Aarthisk

[2019-04-25 18:35] Aarthisk opened #111 "Authentication and Authz of API server"
1. The API server should not use self signed certs ina  true production environment
2 The HPA should have access to the API server for scaling without running as cluster-admin.

[2019-04-27 19:45] jeffhollan opened #113 "`func kubernetes install` threw exception in GKE"
Got a fresh cluster, ran `func kubernetes install` with version 2.7.46.  I get the following exception thrown:

Unrelated, but may also be nice if we named the osiris deployment `keda` instead of `osiris` so the services it creates aren'ts `osiris-osiris-edge....` but `keda-osiris-edge...`

[2019-04-27 20:01] #113 closed, assigned to nobody

[2019-04-27 22:43] jeffhollan opened #114 "CLI needs to map `brokerList` to `brokers` for Kafka"
`function.json` has `brokerList` but the scaler expects `brokers`

[2019-04-29 20:28] jeffhollan opened #115 "Release KEDA"
Meta-issue to track the final week:

@yaron2 :

- [x] Operator SDK (may need to punt. Waiting for call #54 )

@ahmelsayed :

- [x] Update CLI to map "brokerList" to "brokers" for Kafka metadata (#114)
- [x] Make sure OpenShift / Knative is unblocked for Az Function deploy (sent an email)
- [x] Make sure CI/CD to dockerhub is setup.  Helm chart would need to be updated too.
- [ ] Release the CLI wi

[2019-04-29 23:48] #114 closed, assigned to nobody

[2019-05-02 14:25] #17 closed, assigned to nobody

[2019-05-02 17:37] lee0c opened #131 "ServiceBus scaler should not fall back to AzureWebJobsStorage as a connection"
Was planning to change this in my PR as I realized it late yesterday but the PR got merged this morning. Using AzureWebJobsStorage as a default connection came from the Azure Queue scaler, but doesn't apply to the SB scaler as it *needs* a service bus connection string, not a storage connection string

[2019-05-02 18:04] #131 closed, assigned to lee0c

[2019-05-02 18:06] #108 closed, assigned to nobody

[2019-05-02 18:43] #97 closed, assigned to nobody

[2019-05-02 22:28] #83 closed, assigned to Aarthisk

[2019-05-02 22:45] #105 closed, assigned to lee0c

[2019-05-03 14:26] #103 closed, assigned to nobody

[2019-05-03 14:29] #93 closed, assigned to nobody

[2019-05-03 14:37] #68 closed, assigned to nobody

[2019-05-03 14:44] jeffhollan opened #138 "[Scaler] AWS SQS"
A scaler that could activate / deactivate and provide metrics for SQS

[2019-05-03 17:27] #91 closed, assigned to ahmelsayed

[2019-05-03 20:06] #115 closed, assigned to nobody

[2019-05-03 20:07] #49 closed, assigned to nobody

[2019-05-04 06:59] jeffhollan opened #141 "[Scaler] Google Pub/Sub"

[2019-05-06 16:46] yaron2 commented on #51
What constitutes an error state?

[2019-05-06 17:04] ahmelsayed commented on #51
The ones I had in mind were:

* Deployment doesn't exist
* trigger connection secret doesn't exist
* bad connection to event sources (invalid connection string, password/username, not found, etc)

I think it'll make debugging issues easier if you can just lookup the status of a ScaledObject that's not behaving as you'd expect instead of going through keda logs.

[2019-05-06 17:37] technosophos opened #143 "Why is there code in here attributed to/copyrighted by the Kubernetes Authors?"
https://github.com/kedacore/keda/blob/master/pkg/apis/keda/v1alpha1/zz_generated.deepcopy.go

[2019-05-06 17:38] yaron2 commented on #51
Yeah that makes sense, however bad connection to event sources is a pretty volatile and changing thing..

[2019-05-06 17:41] ahmelsayed commented on #143
It's an auto-generated file using kubernetes' [client generator](https://github.com/kubernetes/code-generator). It probably make sense to keep their license notice like with other open source dependencies, but IANAL

[2019-05-06 17:44] jchesterpivotal commented on #143
The license header is configurable by design: https://github.com/kubernetes/code-generator/blob/master/hack/boilerplate.go.txt

[2019-05-06 18:05] ahmelsayed commented on #143
Thank you @jchesterpivotal  and @technosophos. I didn't know that. I opened a PR with a fix. I just copied our license file there. I hope that's correct...

[2019-05-06 18:07] #143 closed

[2019-05-06 20:54] aminebizid opened #146 "Unable to get Azure Service Bus subscription ActiveMessageCount"
My deployment don't scale because no metrics from Azure Service Bus

[code]

No errors on keda
[code]

# My bus
- topicName: testk8s
- subscriptionName: testk8ssub
- I created a policy called demorule under the topic with Manage rights

# My secret
[code]

# My consumer deployment:
[code]

# My ScaledObject
[code]

Could you please give me the az command you use to get the connection string.
The c

[2019-05-06 21:35] lee0c commented on #146
I believe you want to set the connection value in your ScaledObject to the secret key, not the name of the container's environment variable.

Additionally, ScaledObjects need a label that sets the deploymentName:
[code]

[2019-05-06 22:07] aminebizid commented on #146
@lee0c I did the changes as you mentionned
I tried
[code]

then
[code]

but still not work
And I get a strange behaviour because the HPA is looking for a CPU metrics

[code]

[2019-05-06 22:26] aminebizid commented on #146
Could you please send me what do you obtain as hpa
[code]

[2019-05-06 23:04] ahmelsayed opened #148 "Keda crashes if the deployment doesn't exist"
[code]

[2019-05-06 23:39] lee0c commented on #146
[code]

The CPU scaling instead of using an external metric will happen if external metrics aren't successfully added to the HPA - likely that there's still an issue with the connection string or you're otherwise missing something necessary to create the external metric spec that gets attached to the HPA.

I did some digging & think I found a bug that is causing this. I'm going to look into it mor

[2019-05-07 00:41] lee0c commented on #146
The linked PR should sort this out, looks like there was a bug in how environment variables set with KeyRefs were resolved.

[2019-05-07 00:48] #148 closed

[2019-05-07 05:33] szuecs opened #151 "Create e2e tests"
A major enhancement of complex tools need e2e tests to make updates of the component, dependencies  and depending workloads not error prone.
I remember for example we had an issue that a wrong metrics object let controller-manager panic. I would like to see an error before we update for example Kubernetes. :)

[2019-05-07 07:27] aminebizid commented on #146
Now I get this issue:
time="2019-05-07T07:25:54Z" level=error msg="Error updating scaledObject (hp/azure-servicebus-queue-scaledobject) status: Operation cannot be fulfilled on scaledobjects.keda.k8s.io \"azure-servicebus-queue-scaledobject\": the object has been modified; please apply your changes to the latest version and try again"
time="2019-05-07T07:25:59Z" level=error msg="Error updating sca

[2019-05-07 07:44] tomkerkhove opened #152 "Support Azure k8s Metrics Adapter for integration with HPA"
_Disclaimer: I haven't checked the code so this might already be the case_

Why does Keda use MSFTs own metrics adapter instead of adopting the [Azure k8s Metrics Adapter](https://github.com/Azure/azure-k8s-metrics-adapter) to integrate with the HPA?

Is it because it's based on other metrics than Azure Monitor or a different reason?
Based on the docs it's not really clear to me where it's getting

[2019-05-07 08:45] aminebizid commented on #146
@lee0c Could you push a complete sample for Scaling on Azure Service Bus topic
ScaledObject and deployment yaml files

[2019-05-07 11:48] pushthat opened #153 "Changing wiki ScaleObject-spec.md"
Thanks for the work ! I tried keda with virtual node on aks and I worked very well ! This impressive event driver tool powered by virtual node scaling capacity open new doors !

I changed some link references as well as anchor to make the wiki more accessible.

I followed this instruction https://gist.github.com/larrybotha/10650410 to fork the wiki, there's also documentation for the merging part.

[2019-05-07 13:51] pushthat opened #154 "[Scaler] Azure Storage Blobs"
Is it plan to subscribe to event grid to get event from Azure Storage blobs ?

Also, what do you think the metadata will look like ?

[2019-05-07 14:03] yaron2 commented on #152
KEDA is a cloud agnostic, vendor neutral project and thus cannot use an Azure only software component.

Even for Azure services, the reliance on Azure Monitor is problematic for a multitude of reasons.

[2019-05-07 14:04] jeffhollan opened #155 "[Scaler] Azure Monitor"
A generic Azure Monitor trigger for resources that support monitor but don’t yet have a scaler.

/cc @jsturtevant

[2019-05-07 14:16] tomkerkhove opened #156 "[Scaler] Prometheus"
Provide a scaler based on metrics stored in Prometheus

[2019-05-07 14:18] tomkerkhove commented on #152
That makes sense, I think my question is more why doesn't Keda integrate with existing metric servers which we can plug in.

For example Ive just opened #156 for Prometheus support, which has a metrics server already, and #155 which improves Monitor support while we could plug in the one mentioned above.

/cc @jeffhollan

[2019-05-07 14:20] yaron2 commented on #152
Was just talking about Prometheus yesterday :)

Thats indeed a very powerful feature.

[2019-05-07 17:27] yaron2 commented on #152
Closing this as we have #155 and #156 to track

[2019-05-07 17:27] #152 closed

[2019-05-07 17:38] ahmelsayed commented on #153
Thank you very much @pushthat for your contributions. I merged your Wiki changes https://github.com/kedacore/keda/wiki/ScaledObject-spec/_history

[2019-05-07 17:38] #153 closed

[2019-05-07 17:51] tomkerkhove commented on #152
Fair enough, thanks for following-up!

[2019-05-07 18:33] ahmelsayed commented on #154
/cc @jeffhollan

[2019-05-07 18:34] ahmelsayed commented on #151
Are there any particular testing tools or frameworks used in general for k8s controllers or operators? I have some basic test setup I'm putting together here (https://github.com/kedacore/keda/tree/master/tests) just using shell scripts. But I'm curious if there's a more conventional way for kubernetes projects in general.

[2019-05-07 19:13] whilke opened #157 "Long Running Workloads"
I've been browsing through the source code, so apologizes if this is supported and I just missed it.

Does keda scaling support long running workloads from queues?

If keda scales up a deployment to 1 pod because there is a queue with an item (assuming that's your scale config), and that pod pulls down the job to work on it and it's long running (say hours), will keda scale the deployment back dow

[2019-05-07 19:27] ahmelsayed commented on #157
Yes today that will happen based on the [`cooldownPeriod`](https://github.com/kedacore/keda/wiki/ScaledObject-spec) which defaults to 5 minutes. It's however a static value per ScaledObject. So if the long running workload is not consistent in how long it takes, you'd have to set the largest possible value.

Ideally the scaledown logic should measure the `cooldownPeriod` from the last function exe

[2019-05-07 20:01] whilke commented on #157
I guess one gross hack today is to have pod workers continue to update the ScaledObject update stamp while processing a long job.

That should prevent the cool down from triggering? Assuming you update faster then the cool down time.

[2019-05-07 20:16] #146 closed

[2019-05-07 20:18] yaron2 commented on #157
Currently no plans to address this, but I don't think the use case isn't valid.

Like @ahmelsayed, if you know your processing time takes X, you can set the ```cooldownPeriod``` to X.

Having the pods report ongoing work to Keda or have Keda probe pods for ongoing work is a path one does not take lightly..

[2019-05-07 20:21] aminebizid opened #158 "Error updating ScaleObject: the object has been modified"
I get this error when trying to scale active ScaleObject

[code]

The error is thrown here:
scale_handler.go:269
[code]

[2019-05-07 20:23] yaron2 commented on #158
I think I know why this might be happening.
Did if actually affect scaling in any way, though?

[2019-05-07 20:25] aminebizid commented on #158
It scales only once from 0 to 1

[2019-05-07 20:30] aminebizid commented on #158
My cluster scaling configs

horizontal-pod-autoscaler-sync-period | 30s
-- | --
horizontal-pod-autoscaler-downscale-delay | 5m0s
horizontal-pod-autoscaler-upscale-delay | 3m0s

[2019-05-07 20:31] yaron2 commented on #158
Is that error showing up repeatedly in the logs?

[2019-05-07 20:37] aminebizid commented on #158
yes it's showing repeatedly  and I get <unknown> in the HPA
[code]

[2019-05-07 20:39] yaron2 commented on #158
Can you try to delete the keda controller pod running under the keda namespace, wait for it to come back up and see if the error keeps popping up?

[2019-05-07 20:41] aminebizid commented on #158
Same behaviour.
How do you do to debug the container running in the cluster?

[2019-05-07 20:45] yaron2 commented on #158
You can try and debug locally by running the setup on minikube.

Can you delete and recreate the scaledobject?
Also, what trigger are you using?

[2019-05-07 20:48] aminebizid commented on #158
Already done hundreds time

my templates:

[code]

[2019-05-07 20:53] aminebizid commented on #158
after delete keda pod:

[code]

[2019-05-07 21:06] lee0c commented on #146
@aminebizid Glad you opened a new issue for the new problem. My deployment used Azure Functions so it likely won't be super useful to you unfortunately.

[2019-05-07 22:12] cwoolum opened #159 "Cloud Events/Event Grid Webhooks"
The documentation says that this works with Cloud Events/ Event Grid webhooks. Is there an example of this somewhere?

[2019-05-07 22:24] yaron2 commented on #159
We dont yet support Event Grid.

Where in Keda docs have you seen this?

[2019-05-07 22:35] cwoolum commented on #159
Aaah, I guess it was only on the Azure functions blog. It says that it's supported now.

"Today KEDA and supporting tooling works with Kafka, Azure Queues, Azure Service Bus, RabbitMQ, HTTP, and Azure Event Grid / Cloud Events"

https://cloudblogs.microsoft.com/opensource/2019/05/06/announcing-keda-kubernetes-event-driven-autoscaling-containers/

[2019-05-07 22:52] yaron2 commented on #159
Yeah that shouldnt have been mentioned in the blog post..

[2019-05-07 23:12] Aarthisk commented on #158
Can you share the output of kubectl describe hpa keda-hpa-consumer?

[2019-05-08 02:28] anirudhgarg commented on #159
Event Grid just needs a Http Webhook to be registered for the Consumer. So since we support Http through Osiris - theoretically it can work as a Consumer of Event Grid events

[2019-05-08 02:47] yaron2 commented on #159
True, but that'd only take you from/to zero without 1:n.

[2019-05-08 02:51] yaron2 opened #160 "Release ARM container image to support Edge deployments"
KEDA can run on edge ARM devices.
All we need to do is publish an armv7 container image.

The image can then be set via Helm.

[2019-05-08 03:38] jeffhollan commented on #159
It works (1:n with traditional autoscaling rules) - but I should document (e.g. I tested this with osiris and the Azure Functions tooling).  That's why I was conscious in wording "and supporting tooling."

@cwoolum were you looking to use the Azure Functions HTTP / Event Grid trigger or just a generic trigger? For generic I'd recommend Osiris.  For Azure Functions tooling I can send you my sample

[2019-05-08 03:55] jeffhollan commented on #154
Yes my hope here is that the Azure Storage blob trigger will leverage Event Grid to activate / deactivate.  I'm not quite sure the right way to expose a custom metric to drive 1:n scaling though.  I'm not quite sure if there's a clean way to track that - but I need to understand more how we do 1:n scaling in the Azure Functions service.

If I had to guess the metadata would be something like:

[co

[2019-05-08 04:04] yaron2 commented on #159
To get "full" EventGrid support, the users needs to use Osiris for to/from zero and then manually enable an HPA for cpu/memory 1:N.

Since KEDA is not in play for this scenario and does not support EventGrid, I suggest we close this issue.

We could open another issue to track whether or not there are metrics available for pending events in an EventGrid subscription topic. If so, we could easily c

[2019-05-08 04:16] yaron2 commented on #159
Relating to #155 , there [seem to be metrics](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsofteventgridtopics) we could work with for an Event Grid KEDA scaler.

[2019-05-08 04:23] jeffhollan commented on #159
Agree. @cwoolum still happy to chat though on this item specifically and help out even though the work to improve the scenario may land on the core tools or Osiris repos. Let me know what you were hoping to achieve and I can help route and assist.

[2019-05-08 06:06] tomkerkhove commented on #154
Just some small nitpicking but it should be the following to align with Grid terminology
[code]

I'm also not sure if we know this information as it's abstracted for us, we only wee that for custom topics.

[2019-05-08 06:09] tomkerkhove opened #161 "Provide support for AAD Pod Identity"
Provide support for AAD Pod Identity to make it easier to authenticate to certain Azure workloads.

https://github.com/Azure/aad-pod-identity#getting-started

[2019-05-08 06:10] jeffhollan commented on #154
@tomkerkhove my thinking here isn't that it would publish to an Event Grid topic (the naming you had here), but *subscribe* to a first party event grid event (StorageBlobCreated).  However, if we wanted to allow Event Grid to reach KEDA in Kubernetes, it means KEDA would need to expose a TLS enabled endpoint that Event Grid could send events to.  I'm a little wary of the forcing an exposed endpoin

[2019-05-08 06:12] tomkerkhove commented on #154
Or you need an additional add-on for native grid integration which exposes the endpoint being called by Grid and flows it into KEDA via a side-car?

Queueing events feels a bit strange to me personally but I can see why you want to do it.

[2019-05-08 06:15] jeffhollan commented on #154
Sure, but in my proposal the thing that "flows it into KEDA" is an Azure queue.  We need some broker to flow it into KEDA.  If it's HTTP it means opening up an endpoint.  Maybe it's not a big deal? I think the TLS part makes it a bit tricker, but maybe people would rather have to do the song-and-dance to get a TLS endpoint than have to think proxy through queues.

[2019-05-08 09:13] szuecs commented on #151
@ahmelsayed We have some of our tooling tested in https://github.com/zalando-incubator/kubernetes-on-aws/tree/dev/test/e2e. I think it would be quite nice to have more projects adapt the kubernetes e2e tests, such that users can have test infra that actually tests all the tools they use.

[2019-05-08 14:19] #159 closed

[2019-05-08 14:34] cwoolum commented on #159
@jeffhollan , I was specifically looking to us this with EventGrid and the CloudEvents schema. We currently have a pod deployed as a AspNet Core web service but I really would like the scale to 0 functionality that Keda provides.

[2019-05-09 06:36] aminebizid commented on #158
[code]

[2019-05-09 17:23] Aarthisk commented on #158
Can you share the scaled objects deployed to minikube (if there are more than 1 with the same deployment name)? When the HPA queries the metrics adapter for the metrics, the metrics adapter queries for the scaled objects matching the label deploymentName=*** If exactly one scaled object does not match (so 0 or 1+) then this error gets returned. I have seen this error when the scaled object deploye

[2019-05-09 17:46] jeffhollan opened #164 "Validate scenarios work as expected on minikube and update README"

[2019-05-09 17:48] jeffhollan opened #165 "[Scaler] Kubernetes Events"
Especially interesting for the activation / deactivation

[2019-05-09 17:49] jeffhollan opened #166 "[Docs] Explain how we deal with HPA autoscaling resources"
We don't document how we autogen and autoremove HPA autoscaling along with the scaledObject

[2019-05-09 17:51] jeffhollan opened #167 "KEDA Dashboard"
The option to expose a dashboard that would surface details on the cluster and what KEDA sees / how it is behaving.  Potentially also could show Azure Functions and info on the triggers and health

[2019-05-09 18:41] tomkerkhove opened #168 "[Docs] Keda is more than running Functions"
As discussed in the community standup Keda is more than running Functions.

However, the Keda overview here only shows Function pods, maybe we should add just "Pods" next to it?

![Keda Overview](https://raw.githubusercontent.com/kedacore/keda/6157e65eedc1d0319fe44173a468974903c229d0/images/keda-arch.png)

[2019-05-09 21:40] yaron2 commented on #168
I agree, Function pods should just be pods.

@jeffhollan

[2019-05-09 21:42] yaron2 commented on #167
+1 on the dashboard, but a KEDA dashboard probably shouldn't have an Azure Functions specific functionality.

It may be interesting to create an Azure Functions Dashboard for Kubernetes that has much more metadata than things related to the scope of KEDA.

[2019-05-09 22:11] yaron2 commented on #92
After some digging around, it looks like the k8s deepcopy tool [purposefully](https://github.com/kubernetes/gengo/issues/138) does not let you define ```map[string]interfade{}``` and consider the open ended ```interface{}``` an [unsupported type](https://github.com/kubernetes/gengo/pull/140).

Kubernetes labels which are dynamic are defined by ```map[string]string``` and force users to use strings

[2019-05-09 22:11] #92 closed

[2019-05-09 22:28] Aarthisk commented on #167
Maybe a KEDA dashboard that can be extended then? I think of the Keda dashboard as showing the scaled objects, triggers, + last scale times, current metrics . HPA description for each scaled object and the scale controller logs and especially errors. The functions part of it can include function logs and runtime logs.

[2019-05-09 22:28] Aarthisk commented on #166
I can take this on.

[2019-05-09 22:46] jeffhollan commented on #168
Not sure if that is *enough* to close this issue but linked PR

[2019-05-09 23:23] jeffhollan commented on #111
What's the status of this? Is it in your "current" set of work items or should we punt?

[2019-05-09 23:24] jeffhollan commented on #24
What's the status / urgency of this? Wondering if we should add to the "current" milestone or just leave for now

[2019-05-09 23:25] jeffhollan commented on #160
Do you plan to tackle this in the next week or too or should we punt to the "Triaged" milestone as a P1/P2?

[2019-05-09 23:30] jeffhollan opened #170 "[Docs] Create an FAQ"
I think the best place is a wiki page.  We could potentially link to it from the README.  A few questions:

- Does this only work with Azure Functions containers?
- How does this compare to Knative?
- How can I get involved?

Some other questions I've gotten but I'm not sure if we should include or not:

- How much does KEDA cost (mostly people coming at it from the Azure side I think)
- Do all th

[2019-05-09 23:32] jeffhollan opened #171 "[Sample] Azure Monitor -> Prometheus -> KEDA"
Will assign @tomkerkhove once he accepts the invite to the org :)

Depends on https://github.com/kedacore/keda/issues/156

[2019-05-09 23:33] yaron2 commented on #160
In the next week.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jeff Hollan <notifications@github.com>
Sent: Thursday, May 9, 2019 4:25:47 PM
To: kedacore/keda
Cc: Yaron Schneider; Assign
Subject: Re: [kedacore/keda] Release ARM container image to support Edge deployments (#160)

Do you plan to tackle this in the next week or too or should we punt to the "

[2019-05-09 23:36] jeffhollan opened #172 "[Samples] Add samples for triggers we don't have"
Here's the current table.  I think this is a bit of an "epic" issue and potentially could break into smaller:

|Trigger|Sample with container|Sample with Functions|
|RabbitMQ|✅|N/A|
|Kafka|❌|✅|
|Service Bus|❌|✅|
|Storage Queues|❌|✅|

[2019-05-09 23:37] jeffhollan commented on #172
@izzymsft if you want to sign up for one of these let us know and I'll help track.  Thanks!

[2019-05-09 23:46] thdotnet commented on #168
you can leave the image as it is, just include a disclaimer in the overview.

[2019-05-10 00:05] jeffhollan opened #173 "KEDA CLI Commands"
Related closely to #167 I think, but would be nice for the insights that the dashboard provides through some CLI (maybe the `func` CLI, not sure if KEDA needs its own).

It's possible that the dashboard won't surface much more than the `kubectl` would, but just had an ask from some users that it was hard to know after deploying if things were working or not.  Ideally an experience a bit more than

[2019-05-10 00:12] yaron2 commented on #173
If I understand correctly, the ask is "how do I monitor KEDA and know if something went wrong with scaling my deployment".

Either cli or ui, currently we have two sources of truth: the controller logs and the status fields of ScaledObjects.

I can assume for the cli a command like ```keda get all``` would show the names of scaled objects, the trigger, and the latest status.

We could also parse t

[2019-05-10 00:13] yaron2 commented on #173
Relates to #51

[2019-05-10 00:19] yaron2 commented on #173
Actually,

This is very similar to how you would get visibility into a service mesh.

In that case, I think the correct way to go would be to expose a Restful API from the controllrr to get detailed view of all the scaled objects.

The UI will visualize that data.

A KEDA cli would mean Azure Functions/kubeless/openFaaS/other users would need to have two clis in place. One for their framework and

[2019-05-10 03:26] ahmelsayed commented on #24
sorry I know I missed the standup. Is current milestone 2 weeks from now?

It'll let the server validate the scaled object so you can't submit a string for `pollingInterval` or a scaledObject without a deploymentName for example. It would certainly be nice to have.

[2019-05-10 03:36] ahmelsayed commented on #173
What kind of information are you thinking about surfacing from keda directly?

We could have a simple [kubectl plugin](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/) and get `kubectl keda ....` style commands? It could wrap kubectl or communicate with that API depending on what data we're interested in showing. Most of the state we have is already stored in the crd for each scal

[2019-05-10 03:39] jeffhollan commented on #24
No set timeline but thinking is work that will finish in the next two week. So yeah I guess so. If it’s an item you intend to close in next 2 weeks we can set to that milestone. If further out I’ve been setting to Triaged with a priority tag (what you said above sounds like a strong P1)

[2019-05-10 03:40] yaron2 commented on #173
Yep a kubectl plugin is a good idea - it would communicate with our API that feeds the dashboard as well as direct user queries for more advanced cases.

[2019-05-10 06:18] jeffhollan opened #175 "Deleting the ScaledObject before Deployment results in a crash"
### Steps to repro

Was following the steps for the rabbitMQ and Go sample.  If I delete the deployment before the scaled object I noticed from the logs the keda pod crashed and restarted.  It also left my HPA hanging around and I had to delete it manually even after removing the `ScaledObject`

### Expected behavior

Potentially just catch and throw a safe exception.  I wonder if it makes sense f

[2019-05-10 06:20] tomkerkhove commented on #171
Done, feel free to assign me!

[2019-05-10 06:23] jeffhollan opened #176 "Explicitly setting minReplicas to 0 results in an error"
The default for minReplicas on a ScaledObject is 0.  If you explicitly set it to 0 it throws an exception that it needs to be >= 1.  If you leave nil it does set it to 0.

[This appears to be the offending conditional block](https://github.com/kedacore/keda/blob/eefb318a67240df1779f1a6c9c92776bc8249fcc/pkg/handler/scale_handler.go#L131-L136)

[2019-05-10 06:34] tomkerkhove commented on #170
Maybe another one would be in terms of support.

It's still in experimental phase so good to mention that *and* what support to expect, presumably best-effort on GH?

[2019-05-10 06:35] jeffhollan commented on #158
I think this may be a bit of a double-bug.  I get this error after the first activation where it fails to update scaledObject - repros consistently just following the tutorial for the RabbitMQ and Go sample.  However my scaling does work and the error shows repeatedly in the logs whenever a deployment has been activated.  The logs stop repeating after it scales down to 0.

Deleted and recreated en

[2019-05-10 06:36] tomkerkhove commented on #167
Agreed!

[2019-05-10 06:38] tomkerkhove commented on #168
That's good enough for me @jeffhollan but if you'd like to add a separate icon with Function Pods that's fine for me as well - Up to you.

From my side, it's ok to close - Thanks!

Having this in the overview would be good as well but it should be in the image as well. Personally, I'd rather look at a visual overview to get a quick glance rather than reading the full into, but that might just be m

[2019-05-10 08:38] tomkerkhove commented on #176
I have not written Go before, but this might be a good opportunity to dive into it

[2019-05-10 09:34] aminebizid commented on #158
@jeffhollan you are right, I get 2 kind of errors and the second one is fatal:

[code]

[code]

Here are my used templates:
If you want, I can send you my bus topic  connection string in a private message.

### consumer
[code]

### scaledObject

[code]

I create the secret in hpa namespace like follow:

[code]

[code]
[code]
[code]
[code]
[code]

[code]
[code]

[code]
[code]

[2019-05-10 13:11] zach-dunton-sf commented on #158
The scaledobject yaml examples have a typo, .metadata.label should be .metadata.labels, I'm preparing a pull request for SQS right now and will include that also.

[2019-05-10 14:16] jeffhollan commented on #158
Thanks @zach-dunton-sf - just opened a PR on the example one.  I'll also send you an invite to the repo as a member so I can assign you to the SQS issue. Great to hear you are working on that.

Will keep this issue open though as we still have the error in the title that does show up.  I also should note that I mentioned I see the error every 5 second. I also have a polling interval of 5 seconds s

[2019-05-10 14:19] jeffhollan commented on #138
Sounds like @zach-dunton-sf is working on this.  If so happy to assign.  Thanks @zach-dunton-sf!

[2019-05-10 14:22] yaron2 commented on #175
I fixed this bug with PR https://github.com/kedacore/keda/pull/149.

It hasn't been pushed to the docker image. (verified it with the stack trace you put here).

[2019-05-10 14:24] yaron2 commented on #175
@ahmelsayed can you push master to latest?

[2019-05-10 14:27] zach-dunton-sf commented on #158
I have the SQS bit done, but still have the issue from the title of this one also. I will post more if I find a root cause.

[2019-05-10 14:29] yaron2 commented on #168
The KEDA description says: ``` KEDA is a Kubernetes-based Event Driven Autoscaling component. It provides event driven scale for any container running in Kubernetes ```.

We replaced the image to show only pods, and we say KEDA can be used with any type of container under the ```Azure Functions Integration```.

Is this good enough to close this issue?

[2019-05-10 14:31] yaron2 commented on #176
@tomkerkhove I have time to close this today, but I'll leave it to you if you explicitly state you're on it :)

[2019-05-10 14:33] tomkerkhove commented on #168
Certainly, thank you very much!

[2019-05-10 14:34] yaron2 commented on #175
duplicated of https://github.com/kedacore/keda/issues/148

[2019-05-10 14:37] #168 closed

[2019-05-10 14:52] tomkerkhove commented on #176
No no, feel free to fix it @yaron2 I will be too slow anyway!

[2019-05-10 15:01] yaron2 commented on #176
@jeffhollan can you please paste the exception log?

[2019-05-10 16:23] jeffhollan opened #179 "Add validation of submitted .yaml files for scalers"
Inspired by this issue https://github.com/kedacore/keda/pull/177 and a suggestion to potentially use https://github.com/apps/kubevalidator

[2019-05-10 16:54] tomkerkhove commented on #179
You can assign this to me

[2019-05-10 17:43] ahmelsayed commented on #175
Done.

[2019-05-10 17:43] #175 closed

[2019-05-10 17:51] #176 closed

[2019-05-10 18:23] yaron2 opened #182 "Update diagram"
Kubernetes store should be Kubernetes API server in the diagram

[2019-05-10 21:05] jeffhollan opened #184 "Allow scalers to be dynamically pluggable"
Today each scaler has to be included in the KEDA release.  That means if you wanted to use a custom or specific scaler for your events, you'd have to fork our project.  Would be nice to implement some way to discover or plugin custom scalers

/cc @asavaritayal FYI

[2019-05-10 21:06] jeffhollan opened #185 "Integrate CI/CD with GitHub releases"
Whenever we release a version of the docker container there should be a corresponding GitHub release to track releases and changes.

/cc @ahmelsayed

[2019-05-10 21:31] jeffhollan commented on #89
This may be P0 only because I think it would be a breaking change?

[2019-05-10 22:15] agolomoodysaada opened #186 "milli values scale incorrectly"
I'm using the kafka ScaledObject. The HPA sees milli values incorrectly scaling them too high up.
In my case lagThreshold is set to "1". And the HPA sees the target as `1438m/1 (avg)`.
What's strange is that it's scaling up replicas to the max possible number based as though it's "1438/1" which is definitely incorrect!
Change the target from "1" to "1000" seems to fix the issue? This is definitely

[2019-05-10 22:57] yaron2 commented on #186
Can you look at the logs of the keda controller and put the output here?
You should see messages like ```Group X has a lag of X for topic X and partition X```

[2019-05-10 23:54] jeffhollan commented on #186
Note for this I think you'll need to modify the default KEDA config and set the log-level to debug as this doesn't show right now as info (though debatably it should).  I'll also see if I can repro later today

[2019-05-11 01:23] elucidsoft opened #187 "Bug in updating a deployment?"
Note sure if this is me or its a bug but I deployed an HttpFunction. I accidentally had the authLevel set to user so I was getting a 401 error. I updated it to "anonymous" and redeployed, but it did not appear to take affect at all.  Which is odd...

[2019-05-11 01:31] elucidsoft commented on #187
Yes so I was able to verify the deployment doesn't work correctly, when I deleted the pod and let Kubernetes automatically recreate it from the ReplicaSet the changes appeared. I think if you do a deployment it should pick up on this automatically no?

[2019-05-11 01:35] yaron2 commented on #187
This is probably an Azure Functions Core Tools issue and not a KEDA issue.

@ahmelsayed can you assist?

@elucidsoft if you do ```kubectl get pod <id> -o yaml``` do you see the imagePullPolicy?
Unless you see imagePullPolicy: always it means if you push a new version to the same image k8s wont pick up on it. If you use a different image name it should work.

[2019-05-11 01:46] elucidsoft commented on #187
Yes, it's set to Always

[2019-05-11 01:50] elucidsoft commented on #187
What I did notice though is if you let it scale down to 0, and then hit it has latest version. I mean that is pretty obvious but just thought I would mention it.

[2019-05-11 01:53] yaron2 commented on #187
Yeah, because the pod gets recreated and pulls latest.

Its an issue with Core Tools, we should probably check if a deployment already exists we call the set image command for the deployment.

[2019-05-11 02:13] elucidsoft commented on #187
Yes I agree...

[2019-05-11 02:14] ahmelsayed commented on #187
thanks @yaron2, @elucidsoft. I'll take care of it in the core tools.

[2019-05-11 06:18] yaron2 commented on #187
Closing as a core tools issue.

[2019-05-11 06:18] #187 closed

[2019-05-11 12:47] elucidsoft commented on #187
Did you file this over at the core tools repo because I didn't see where
you did that and before it's closed at least that needs to happen.

On Sat, May 11, 2019, 2:18 AM Yaron Schneider <notifications@github.com>
wrote:

[2019-05-11 14:08] yaron2 commented on #187
Yeah just did.

https://github.com/Azure/azure-functions-core-tools/issues/1301

[2019-05-11 18:14] jeffhollan opened #188 "Add automated tests for PRs"
Ideally could validate that the scaling logic is working so when folks open up pull requests it can validate and run through tests

[2019-05-12 15:48] aminebizid opened #190 "Début outside cluster"
Someone could write a walkthrough on how to debug Keda outside the cluster using vscode.

[2019-05-13 08:55] zach-dunton-sf commented on #138
In progress PR is here https://github.com/kedacore/keda/pull/191

[2019-05-13 09:10] tomkerkhove opened #192 "Suggestion - Install WIP app to block WIP PRs"
Install WIP app to block WIP PRs being merged.
https://github.com/apps/wip

[2019-05-13 13:06] Renader opened #194 "[Question] Scaler Metric Extensibility"
Hi,

I'm in a situation where I have to monitor around 100 queues and scale a specific pod type accordingly. The queues are set up with AWS SQS but that is not too important. They are separated since SQS doesnt allow a filtered subscribe. Single queues can be considered hot queues for a time, but which queues are hot or cold changes frequently.

If one of the queues holds many a specific amount of

[2019-05-13 13:12] agolomoodysaada commented on #186
I'm using the helm chart but I don't see these logs. Here's my values file.

[code]

[2019-05-13 17:53] ahmelsayed commented on #192
Thanks for the suggestion @tomkerkhove I installed it.

[2019-05-13 17:53] #192 closed

[2019-05-13 18:01] #158 closed

[2019-05-13 18:04] tomkerkhove commented on #192
My pleasure @ahmelsayed !

[2019-05-13 20:53] Aarthisk commented on #190
aminebizid- I have hard a hard time doing this due to the metrics adapter. I could not get a version of it running stand alone outside the cluster. Without this, KEDA is debuggable as a stand alone app. So a workaround is to comment the adapter setup portion in main.go and start it up.

[2019-05-14 02:20] jeffhollan commented on #194
If I understand correctly, you have 100s of SQS queues but a deployment may contain pods that listen to a group of those queues?  And what you are hoping for is a way to feed KEDA with some custom metric that could be prometheus query or could just be some API signature which would be used to create the custom metric adapter and scale the pods?

The simplest way that KEDA would "just work" would b

[2019-05-14 04:45] aminebizid commented on #190
Could you show us an example of vscode launch.json

[2019-05-14 06:59] tomkerkhove commented on #194
This somewhat feels like what we are changing on Promitor as well - https://github.com/tomkerkhove/promitor/issues/513

We used to have a 1-on-1 mapping from resource to metric, in Keda's case scaling action, where it would be easier to manage if you could have an n-to-1 mapping instead.

In the case of Azure Storage Queue we have the following as of today:
[code]
_based on [sample](https://github

[2019-05-14 07:11] Renader commented on #194
@tomkerkhove yes you are right - a queueName**s**  would fulfill my need.

@jeffhollan, the scenario is little bit different, it is not one deployment for per queue but one deployment for all that needs to scale for what ever the hottest/longest queue is. This is due to unique resource usage on the nodes. The pods get scheduled with an specific antiAffinity... But yeah, that is my implementation d

[2019-05-14 14:26] jeffhollan commented on #194
This helps.  So if breaking this down:

- Best case: we allow you to listen to multiple queues / event sources for a single `ScaledObject` and KEDA will optimize for the event source that requires the most scaling
- Also ok, but not best: Allow a dynamic custom scaler where you could write the above logic in your own custom logic

Let me know if that's accurate and we can chat about it in our sync

[2019-05-14 16:37] Renader commented on #194
Yes, exactly for my use case, that would be the best approach.  Of course, I don't need Keda to do all the work for me. The main thing is that I can do it somehow. Thank you very much so far!

[2019-05-14 19:40] yaron2 commented on #157
@whilke The best solution is to remote the item from the queue after you finish processing your job, and not before.

[2019-05-15 03:19] TAnas0 opened #196 "queueLength Variable"
Hello,

I am having trouble understanding the meaning of the variable: `triggers.metadata.queueLength` especially in the case of RabbitMQ.

I am having trouble with scaling my deployment above 8 replicas. I have auto scaling enabled on the whole cluster, yet my deployments stagnates at 8 replicas even if I have 200+ messages in my queue.

I am asking because I am wondering if this problem is by an

[2019-05-15 03:27] yaron2 commented on #196
Hi TAnas0,

Can you please provide us with the ScaledObject yaml?

The queueLength represents the amount of messages in the RabbitMQ by which the HPA knows to scale more pods.
For example, if queueLength is set to 50 and you have a 100 messages in the queue, you should be seeing 2 pods.

Regarding what you said about autoscaling enabled in your cluster - KEDA doesn't have anything to do with node

[2019-05-15 05:43] TAnas0 commented on #196
Thanks @yaron2.

That's what I suspected the `queueLength` to be. Thanks you for clearing that out.
I set it to `1` but my deployment still does not scale above 4 replicas for some reason.

The ScaledObject YAML, is as follows, where I am using it in the middle of a Helm chart:

[code]

I believe the configuration is right, and I suspected that there might be something wrong with my cluster, so I

[2019-05-15 05:43] #196 closed

[2019-05-15 14:24] jeffhollan opened #197 "Use predictive analytics to activate a pod"
A very “blue sky” feature but would be amazing to have KEDA look at historic data and patterns for deployments to try to predict when events may be coming in and scale proactively

[2019-05-15 18:37] aminebizid commented on #197
Ok let's run this in kubeflow😁

Le mer. 15 mai 2019 à 16:24, Jeff Hollan <notifications@github.com> a
écrit :

[2019-05-16 16:03] jeffhollan opened #199 "Enable KEDA to create and scale Kubernetes Jobs instead of only Deployments"
Today KEDA works to scale Deployments that are assumed to continue to consume messages while active.  However, this means it's expected the event consumers are written to be very idempotent with no guarantees on how long a deployment will live for (not just because of KEDA, but also because of the HPA [as discussed here](https://github.com/kedacore/keda/issues/157)).

Potentially KEDA could see ev

[2019-05-16 16:03] jeffhollan commented on #157
Circling back on this one as it's an area we've discussed some and wanted to get thought down.  I think there are 2 scenarios here:

1. Preventing KEDA from scaling a deployment to zero if there is work being executed
2. Preventing the HPA from scaling down a deployment that may have active work happening on it

In the case of #1 I think the recommendations for now would be to:
* Don't remove the

[2019-05-16 16:52] jeffhollan commented on #196
@TAnas0 did this end up working for you? Just wanted to understand why you closed.  The scaling logic is the same as the HPA autoscaling algorithm because the HPA autoscaling is what is driving scale from 1->n and n-> 1

[2019-05-16 16:55] jeffhollan commented on #184
Discussed this some in our weekly KEDA sync.  It doesn't appear there is a very easy way to do reflection around new pluggable components you could reference in KEDA and dynamically discover.  Main thinking is you'd have to deploy some "service" that could communicate with KEDA over gRPC or something and call it that way.

[2019-05-16 16:56] yaron2 commented on #196
I believe he closed because its working as expected.

The Kubernetes HPA polls KEDA on an interval, and then begins autoscaling for the metrics it was given for that moment in time.

It stops when the threshold specified is not crossed with the latest values provided - meaning you have enough workers to keep the number of items below or equal to the threshold.

[2019-05-16 17:07] jeffhollan commented on #156
Planned to start work Monday

[2019-05-16 17:08] jeffhollan commented on #160
Yaron planning to release by end of week

[2019-05-16 17:16] lee0c commented on #157
Related: https://github.com/kubernetes/kubernetes/issues/45509

[2019-05-16 17:35] lee0c opened #200 "Add ScaledObject shortname to CRD"
[CRD example with shortNames field](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition)

It'd be awesome to see a shorthand for "ScaledObject" - I've been using `sco` in my cluster but I'd like input on what you'd all want to see as a shorthand. I'm happy to put in the PR for it once it's decided as it's a one line

[2019-05-16 17:40] lee0c opened #201 "Should Helm chart deploy a service?"
Currently, the keda Helm chart deploys a ClusterIP service but I don't believe it's used for anything.

Last I checked the `func kubernetes install` setup for keda does not deploy this ClusterIP, so I'm guessing it's a holdover from the default Helm chart & hasn't been removed.

Also something I'm happy to put a PR in for once there's an answer in place.

[2019-05-16 17:45] lee0c commented on #90
@Aarthisk @jeffhollan Is keda actually serving custom metrics? If not, should the custom metrics api be registered if KEDA isn't providing anything there & doesn't intend to?

[2019-05-16 17:45] tomkerkhove commented on #200
I think `sco` & `so` would make sense indeed!

[2019-05-16 17:46] tomkerkhove commented on #90
My bet would be yes given it needs to give input to the HPA, but that's a guess

[2019-05-16 17:51] tomkerkhove opened #202 "Improve Helm Chart"
Improve Helm Chart in order to make it easier to onboard:
- Provide a README with more info: _(see [CHART LICENSE, README AND NOTES](https://helm.sh/docs/developing_charts/#chart-license-readme-and-notes))_
	- A description of the application or service the chart provides
	- Any prerequisites or requirements to run the chart
	- Descriptions of options in values.yaml and default values
	- Any other

[2019-05-16 17:51] tomkerkhove commented on #202
I'm happy to pick this up if you want.

[2019-05-16 17:51] tomkerkhove opened #203 "List Keda Helm Chart on hub.helm.sh"
List Keda Helm Chart on [hub.helm.sh](https://hub.helm.sh) to make it more discoverable.

[2019-05-16 17:51] tomkerkhove commented on #203
I'm happy to pick this up if you want, presuming the Helm chart repo won't change soon?

[2019-05-16 18:04] lee0c commented on #202
Related: #102

[2019-05-16 20:52] lee0c commented on #90
@tomkerkhove AFAIK keda is only serving external metrics, not custom (there are two separate metric apis for adapters to use).

[2019-05-16 23:23] TAnas0 commented on #196
I closed this issue because I understand now the `queueLength` variable (original question), and because my deployment is scaling higher than before (stopped at 8, now at 30, which *somehow* works for me).

But I am not sure I understand:

Which threshold? where did I define it? I believe it should stagnate at the `maxReplicaCount` (100)
Were you guys able to reproduce the behavior?

[2019-05-17 09:22] tomkerkhove opened #205 "Conflicting Helm Chart naming"
Duplicated of #205 made by mistake

[2019-05-17 09:22] tomkerkhove opened #206 "Conflicting Helm Chart naming"
I was looking around and noticed that the [Helm docs](https://github.com/kedacore/keda/#install-keda-edge-chart) are referring to the Helm chart as `kedacore/keda-edge` which is also on the Helm Chart repo.

However, in the codebase it is referred to as `keda`.

I'd like to align this, if I may, but was wondering what the expected name would be?

[2019-05-17 09:31] #205 closed

[2019-05-17 09:55] tomkerkhove commented on #203
I'm ready to send a PR to https://github.com/helm/hub if you agree.

I've called it *KEDA Core* repo which is pointing to https://kedacore.azureedge.net/helm.
It lists @ahmelsayed as maintainer which is same as chart but can change it if you want.

Details:
  - See https://github.com/tomkerkhove/hub/blob/keda-helm-repo/repos.yaml#L269
  - See https://github.com/tomkerkhove/hub/blob/keda-helm-repo/

[2019-05-17 09:56] tomkerkhove commented on #203
@jeffhollan I'd consider this important for v1.0

[2019-05-17 09:57] tomkerkhove commented on #161
@jeffhollan I would consider this as required for v1.0

[2019-05-17 09:57] tomkerkhove commented on #166
@jeffhollan I would consider this as required for v1.0

[2019-05-17 09:58] tomkerkhove commented on #102
@jeffhollan I would consider this as required for v1.0

[2019-05-17 09:58] tomkerkhove commented on #200
@jeffhollan I would consider this as required for v1.0

[2019-05-17 16:01] jeffhollan opened #208 "Integrate KEDA scale logic with coming HPA scale to zero features"
https://github.com/kubernetes/kubernetes/pull/74526

[2019-05-17 16:03] jeffhollan opened #209 "Integrate KEDA ScaledObject to leverage configurable scale behavior coming to HPA"
https://github.com/kubernetes/kubernetes/pull/74525

[2019-05-17 16:06] jeffhollan commented on #201
Good question.

/cc @Aarthisk @ahmelsayed

[2019-05-17 16:48] jeffhollan commented on #161
Could this be used as a connection mechanism for the Service Bus scaler? Can I think of it like Managed Identities for Azure Resources, but in Kubernetes?

[2019-05-17 17:25] lee0c opened #210 "External metrics endpoint should provide a list of metrics currently available"
Querying `k get --raw "/apis/external.metrics.k8s.io/v1beta1/"` should provide similar output to `k get --raw "apis/metrics.k8s.io/v1beta1/"`:

[code]

[2019-05-17 20:14] lferreirad1 opened #212 "i try this and i received the error"
PS D:\Developer\POC\FuncDocker> func kubernetes install --namespace keda
customresourcedefinition.apiextensions.k8s.io "scaledobjects.keda.k8s.io" created
serviceaccount "keda" created
clusterrolebinding.rbac.authorization.k8s.io "keda" created
clusterrolebinding.rbac.authorization.k8s.io "keda-hpa-role-binding" created
service "keda" created
deployment.apps "keda" created
apiservice.apiregistrati

[2019-05-17 20:47] whilke commented on #157
@jeffhollan, Jobs as they are implemented today would have a lot of problems handling queue based long running work loads.

They work well for processing through a queue of items, and can scale the jobs based on your own parallel logic, but once the queue goes cold and all the jobs finish you'd need some middleware watching the queue to spin up a new job when new items come back in.

Sounds ripe f

[2019-05-17 20:51] whilke commented on #157
@yaron2 That doesn't solve the problem, and in fact wouldn't that result in spinning up to max pods? If you have a scale metric set for 1 queue item, and you start processing the only item but keep it in the queue, keda & hpa is going to see you still have items in your queue and will keep scaling up to try and handle it.

I also don't know of any queue implementations that will keep the item visi

[2019-05-17 21:25] yaron2 commented on #157
No, that's not the case. the HPA will scale to meet the threshold, it (for good or for bad) has no knowledge of whether or not you actually finished processing the work. It will bring up the number of pods that meet the threshold metrics.

Basically every queue system I know has a Peek-Lock functionality or means of achieving it. (```noAck``` for Rabbit).

A consumer can lock and get the message,

[2019-05-17 21:42] pragnagopa opened #213 "Add configuration for enabling only HTTP or only non-HTTP functions #4412"
cc @anthonychu

From https://github.com/Azure/azure-functions-host/issues/4412

#### What problem would the feature you're requesting solve? Please describe.
When deploying function apps containing HTTP and non-HTTP functions to Kubernetes running KEDA/Osiris, we need to split the app into 2 deployments. The Functions Core Tools figures out which functions need to be enabled/disabled in the HTTP a

[2019-05-17 21:46] ahmelsayed commented on #212
`--registry` should be private registry FQDN (`name.azurecr.io` forexample) or your dockerhub alias. you need to make sure you can push to that registry using `docker push`

If you're using a private registry, then you'll need to make sure your cluster [has the secrets to that registry ](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/) and then put that secret

[2019-05-17 21:46] #212 closed

[2019-05-17 21:49] ahmelsayed commented on #201
I think the ClusterIP service is needed for the custom metrics adapter to work. Kubernetes gets those metrics over http, though @Aarthisk would know more. The core-tools should be [creating the same service](https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/StaticResources/keda.yaml#L50-L67) as well.

[2019-05-17 22:10] ahmelsayed commented on #213
@pragnagopa this is a runtime ask. The ask is to be able to start the runtime in a way that will only load http functions or only load non-http functions. As far as I'm aware there is no way to achieve this today from the runtime, right? the runtime will either load all functions, or ones defined in the host.json "functions" array.

[2019-05-20 07:14] tomkerkhove commented on #179
Since this is not working smoothly yet due I'm wondering if we should maybe leave it out for now until we've fixed the config issue and it does not work nicely with custom resources & Helm.

Or is this not bothering you @ahmelsayed? Not sure if it has any value if those are not covered.

_I wasn't aware of that, my bad_

[2019-05-20 13:34] tomkerkhove commented on #161
That is correct @jeffhollan - AAD Pod Identity allows you to assign AD Apps to Pods which will use MSI ([concept](https://github.com/Azure/aad-pod-identity/blob/master/docs/design/concept.md))

This would allow us to connect to Azure Storage, Monitor, et al without using secrets.

[2019-05-20 13:40] yaron2 commented on #161
Important to note this only works for clusters running in **Azure**.

[2019-05-20 13:41] tomkerkhove commented on #161
That's a good point, I was just reading about that.

Are there plans to support this kind of things via some sort of vendor plugins or so? It would be really good to be able to opt-in for this.

[2019-05-20 14:48] yaron2 commented on #161
Unfortunately its coupled to metadata coming from Azure VMs for aks/aks-engine.

[2019-05-20 15:50] tomkerkhove commented on #161
This is decoupled from Keda by using the framework and handled by AAD Pod Identity for us, all we would need to do is provide the capability to choose to use ADAL instead.

[2019-05-20 15:52] yaron2 commented on #161
Yep.

[2019-05-20 16:51] tomkerkhove opened #214 "[Scaler Proposal] Azure IoT Hubs"
Proposal - Azure IoT Hubs would be a great scaler for IoT scenarios

[2019-05-20 16:53] thdotnet commented on #214
Agreed

[2019-05-20 17:56] jeffhollan opened #215 "Service Bus Scaler doesn't work with namespace SAS"
If you use a namespace (e.g. Root) policy, it throws an error about no claims being present?  The same app works fine if you do a queue specific connection string SAS

[2019-05-20 17:58] jeffhollan commented on #214
IoT Hub and Event Hubs "consume" the same way today.  For example, with Azure Functions the IoT Hub trigger and Event Hub trigger are both really just 'event hub' trigger.  Would that also work here?  Is there any need to build something specific to Azure IoT Hubs, or would it be more or less an alias to Event Hubs?

[2019-05-20 18:02] tomkerkhove commented on #214
That's correct but as you suggest I think we need to have an alias for this as a lot of customers are not aware of it (and frankly they shouldn't care).

So I'm fine with just an alias, unless there is another reasonable scenario in which people would want to scale.

[2019-05-20 18:05] jeffhollan commented on #214
Awesome.  Let's see if we can add it as an alias and will call it out in the docs as such as well.

https://github.com/kedacore/keda/issues/14

[2019-05-20 18:06] jeffhollan commented on #14
For the `type` would be good to have both `azure-eventhub` or `azure-iothub` as alias as people may be approaching this from either #214

[2019-05-20 18:15] tomkerkhove commented on #14
That means that we should also have an alias for `metadata.eventHubName` to avoid confusion.

Happy to review configurations in case there is a need.

[2019-05-20 18:16] tomkerkhove commented on #214
@jeffhollan would you mind adding it to the Scaler Prio wiki please?
Thanks!

[2019-05-20 18:19] tomkerkhove opened #216 "[Samples] .NET Core 3.0 Worker"
I'd be happy to contribute a .NET Core 3.0 Worker sample.

My initial thought was to create a Service Bus message pump but I'm open for suggestions.

[2019-05-20 19:22] ahmelsayed commented on #213
@pragnagopa I'm closing this issue and re-opening the one on the host. Let me know if there is a way to achieve this without explicitly setting the functions array in the config system, if there is, we can move this issue to the core-tools to use it.

[2019-05-20 19:22] #213 closed

[2019-05-20 19:22] ahmelsayed commented on #201
Closing this issue.

[2019-05-20 19:22] #201 closed

[2019-05-20 20:20] jeffhollan commented on #216
You cool if I assign this to you?

[2019-05-20 20:20] tomkerkhove commented on #216
Sure!

[2019-05-21 18:21] tomkerkhove commented on #203
Thoughts anybody? @jeffhollan maybe?

[2019-05-22 02:48] jeffhollan commented on #203
Looks good to me. Thanks @tomkerkhove

[2019-05-22 02:51] jeffhollan opened #217 "[Epic] Enable KEDA to be reliably scaled out"
Today KEDA runs as a single replica in the cluster.  Ideally before we go 1.0 we would have a way for KEDA to scale out and partition across the available `ScaledObjects` for better reliability? (what would happen if KEDA crashed? Does it gracefully recover?).  Also if I had hundreds of scaled objects each polling, I may need to scale out my KEDA controller.  Ideally there would be some logic that

[2019-05-22 09:43] tomkerkhove commented on #217
That's a fair point actually, we should see if we need to:
- Make sure our instances are spread across the nodes
- # of `ScaledObjects` are partitioned across instances

[2019-05-22 19:01] lferreirad1 opened #218 "increase function Timeout"
how can i´m increase function Timeout more then 5 minutes?

[2019-05-22 20:16] yaron2 commented on #218
Hi,

This is related to Azure Functions and not KEDA directly.
In any case, an example of how to set the timeout for your function to 10 minutes:

(in ```host.json```):

[code]

Read more [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout).

[2019-05-22 20:16] #218 closed

[2019-05-23 04:03] ahmelsayed commented on #217
The pod will always get restarted on a crash. KEDA itself is stateless, so it always recovers.

Given Kubernetes controller pattern of listing objects by type or by selectors on the objects themselves, what are the options there for multi instance controllers?

I was thinking we can let keda listen on all namespaces by default, but allow configuration to set the namespaces it listens to. That way

[2019-05-23 05:56] tomkerkhove commented on #200
I think this one is finished and ready to close

[2019-05-23 06:21] #200 closed

[2019-05-23 06:22] yaron2 commented on #200
Closed with #211

[2019-05-23 07:43] David-Stark opened #219 "Why should we use KEDA if we are already use Azure Functions in Azure?"
Hello!

I find KEDA to be a very interesting, but can you explain to me why should we use KEDA if we are already use Azure Functions in Azure?

Thanks in advance!

[2019-05-23 08:12] tomkerkhove commented on #219
Because you might want to move your application to Kubernetes and run it alongside your other apps inside the cluster.

It depends on how much control and alignment you want to have.

[2019-05-23 08:45] genadyk opened #220 "KEDA does not support PODs with multiple containers"
From the code scale_handler.go:348 (b1ea9ca), multi-container is not supported by design.
In my case it prevents me from adding fluend side-car container.
I think it's pretty common use-case that is blocked by design choice.

Referenced envVars or secrets can be prefixed by container name for example or trigger configuration can be more explicit.

[2019-05-23 09:24] tomkerkhove commented on #220
This is a valuable ask and would argue this is a must for v1.0 @jeffhollan

[2019-05-23 11:18] idanshahar opened #221 "[Question] How to modify the CORS"
I want to allow Azure Static Web Page to access to HTTP function that runs on KEDA on AKS.
The local setting is valid for debug mode. Is it possible to allow CORS at this moment?

[2019-05-23 15:01] tomkerkhove commented on #203
We are live on hub.helm.sh - https://hub.helm.sh/charts/kedacore/keda-edge

[2019-05-23 15:01] #203 closed

[2019-05-23 17:06] jeffhollan commented on #14
Starting work on Monday, doing some validation around the capabilies of the Azure Go SDK

[2019-05-23 17:11] jeffhollan commented on #164
@bbrowning has done some testing here, @Aarthisk done some too. I'm cool to close this but if @Aarthisk you want to do one last validation pass?

Sounds like idea is to track a quick 5 min README for any notes with minikube we can just use this issue to do

[2019-05-23 17:37] ahmelsayed commented on #221
Nope. The runtime doesn't handle CORS. It's handled either by the cli or the platform. You can open an ask [here](https://github.com/Azure/azure-functions-host) to add CORS support to the runtime itself.

[2019-05-23 17:37] #221 closed

[2019-05-23 17:55] ahmelsayed commented on #220
It's throwing the error today for correctness since we can't tell which container to load the envVars from. I'm not sure about prefixing the secret name with the container name. We will still have to figure out which container name to pick.

* we could just always pick `Container[0]`, though I'm not sure if kubernetes guarantees the order.
* we could merge all envVars for all containers, though ob

[2019-05-23 17:58] yaron2 commented on #220
We could introduce containerName into the ScaledObject spec.

This way behavior is clear and users are well aware of what to expect.

[2019-05-23 18:40] joshdcar commented on #219
@David-Stark  -  My Two Cents - It's all about your workload. I firmly believe that the Azure Function Service should be the first place you go to run Azure Functions on Azure but if you run into a use case where you are running into blockers due to limitations of the service then you now have the flexibility of running that workload in an environment that gives you more knobs and dials (e.g. your

[2019-05-24 07:28] tomkerkhove commented on #219
Agreed!

[2019-05-24 07:31] David-Stark commented on #219
Thanks for the fast responses!

I think I understand now the idea with KEDA. Thanks very much =)

[2019-05-24 08:37] tomkerkhove commented on #216
Will show up on https://github.com/tomkerkhove/sample-dotnet-queue-worker-servicebus-queue until it's finished

[2019-05-24 12:12] tomkerkhove commented on #220
After thinking about this again I think I'm not getting the point. _(not used to Go)_

But conceptually I think KEDA should be scaling the deployment which will implicitly scale the whole pod with all containers inside of it. What am I missing?

[2019-05-24 14:55] tomkerkhove opened #224 "[Docs] "Supported Triggers" documentation is not discoverable"
I was looking for a list of supported triggers and noticed a few things:
- The list in the README is out-of-sync
   - We should update it (#223) or point to the wiki for latest overview
- The supported scaler configuration is buried in ["ScaledObject spec"
 wiki page](https://github.com/kedacore/keda/wiki/ScaledObject-spec).
  - Maybe it's interesting to move this to a subpage and list it in the n

[2019-05-24 15:02] ahmelsayed commented on #220
The issue is keda will not do that if your deployment is for a pod that contains more than [1 container](https://github.com/kedacore/keda/blob/0feeec05401a95ee36cfa9b28a4184d3ecea0eef/pkg/handler/scale_handler.go#L349)

Each container in a pod gets to have its own set of environment variables and secrets. Keda needs to be able to resolve the secrets (connection strings, passwords, etc) of the even

[2019-05-24 15:25] tomkerkhove commented on #220
Oh, now I get it, sorry for that!

Using `containerName` is one option, but where does that leave your sidecar? If I go from 1 to 50 instances, I will only have 1 sidecar who might not be able to keep up.

What if we would:
- Scale the whole pod and enforce that the environment variables are on all containers
- Allow them to specify a different name of env variable if the container has conflicting

[2019-05-24 15:29] yaron2 commented on #220
@tomkerkhove you cannot scale individual containers within a Pod - we always scale the entire pod with all its containers, as this is the way Kubernetes works.

So if you go to 1 to 50 instances, you will have 50 sidecars.

We cannot expect users to copy and paste all the env vars to all containers..

A simple ```containerName``` property on the ScaledObject solves this problem as it tells KEDA wh

[2019-05-24 15:38] tomkerkhove commented on #220
That's what I figured but did not get with the above so I'm happy that you verify this

Now I get it, the `containerName` is to point to the container that has the required environment variables that KEDA needs to determine if the whole pod needs to scale or not. Gotcha. Sounds like a good idea imo.

_Now I will shamefully start my weekend after making no sense in this thread, sorry guys._

[2019-05-25 07:36] jeffhollan commented on #219
Going to close this but in addition to these here's the big 4 we talk about:

- Want to run functions on-premises (potentially in something like an 'intelligent edge' architecture)
- Want to run functions alongside other Kubernetes apps (maybe in a restricted network, app mesh, custom environment, etc.)
- Want to run functions outside of Azure (no vendor lockin)
- Specific need for more control (G

[2019-05-25 07:36] #219 closed

[2019-05-25 07:36] jeffhollan commented on #219
This should likely pop up in the FAQ assigned to @anirudhgarg  though #170

[2019-05-25 19:03] aminebizid opened #225 "keda conflict with ambassador"
After installing Keda, [Ambassador](https://github.com/datawire/ambassador?files=1) stop working.
The issue is cauded by **v1beta1.custom.metrics.k8s.io**
[code]

as workaround to let ambassador works:
[code]

Why do we need custom.metrics in keda?

[2019-05-26 20:37] genadyk opened #226 "Fix for bug #176 (Explicitly setting minReplicas to 0 results in an error) missed "scaleFromZero" function"
The default for minReplicas on a ScaledObject is 0. If you explicitly set it to 0 and the deployment is scaled to zero it will never leave that state.

**if scaledObject.Spec.MinReplicaCount != nil** {
		deployment.Spec.Replicas = scaledObject.Spec.MinReplicaCount
	} else {
		*deployment.Spec.Replicas = 1
	}

the if condition should be :
if scaledObject.Spec.MinReplicaCount != nil && *scaledObject

[2019-05-26 20:41] yaron2 commented on #226
That was already fixed with #178.

[2019-05-26 20:50] genadyk commented on #226
Please look at https://github.com/kedacore/keda/blob/0feeec05401a95ee36cfa9b28a4184d3ecea0eef/pkg/handler/scale_handler.go#L310

[2019-05-26 20:57] yaron2 commented on #226
Correct, #178 fix needs to be applied to ```scaleFromZero``` too. I'll submit a fix soon.

[2019-05-27 02:23] karoldeland opened #230 "Is short polling intervals a problem?"
The default polling interval is 30 seconds in scaledobjects. For low latency scenarios, we could update the default value to something shorter. May this setting cause performance problems at scale? With 30 seconds, we have a loooong cold start…

Thanks in advance for guidance.

[2019-05-27 04:49] jeffhollan commented on #230
I believe polling interval really only impacts the time-to-activation (scaling from 0 to 1) but once scaled to one it's really up to the HPA to poll the custom metrics.  I'm not really sure if polling interval is still at play for publishing custom metrics though.  So I think the considerations for doing a more aggressive polling interval:
- If you have lots of `ScaledObjects` your KEDA controller

[2019-05-27 04:50] jeffhollan commented on #225
Suspect it's the same issue as this one #90

[2019-05-27 04:58] yaron2 commented on #230
HPA is polling KEDA on its own interval set by the Kubernetes api server.

The polling interval will affect activation/deactivation.

[2019-05-27 05:00] jeffhollan commented on #230
@anirudhgarg not sure how many FAQs you were thinking of adding but this may be good one 😸

#170

[2019-05-27 13:48] GokGokalp commented on #158
This issue seems like done but I'm still getting this error while scaling: "level=error msg="Error updating scaledObject (default/test-consumer) status: Operation cannot be fulfilled on scaledobjects.keda.k8s.io \"test-consumer\": the object has been modified; please apply your changes to the latest version and try again""

Btw: scaling works correctly.

[2019-05-27 14:47] aminebizid commented on #90
Ok for you if I PR to remove the custom metrics?

[2019-05-27 15:41] yaron2 commented on #158
Are you using the Helm chart? Its possible that the changes didnt get pushed to our ```:master``` image yet.

Best way to verify is to build your own KEDA controller and test with that one.

[2019-05-27 17:17] jeffhollan opened #231 "Find a way to monitor adoption and basic usage"
Not sure what flavor this will take (docker pulls, optional phone home? Etc) but would be good to have some pipeline to know how many people are using KEDA, and ideally which features, to help us plan and prioritize better. Realize this may not be possible given the open nature but wanted to at least have the conversation

[2019-05-27 17:26] GokGokalp commented on #158
Ah okey, I used the helm chart. It's okey now. Thanks!

[2019-05-27 18:10] GokGokalp commented on #197
Especially for RabbitMQ scaler, that would be great. If we can use some additional variables too such as "consumer utilization", "consumer ack" and "delivery" with the "queueLength" variable, maybe we can scale pods in a reactive way?

These days I'm playing with KEDA and testing it on our staging area. And KEDA currently scaling our pods based on the "queueLength" variable. It's great. But our so

[2019-05-27 22:08] #226 closed

[2019-05-27 22:14] yaron2 commented on #90
Not yet please.
@Aarthisk did you get to test KEDA without custom metrics?

[2019-05-28 04:20] jeffhollan opened #232 "[Scaler] Azure CosmosDB"
Scale on the Azure CosmosDB change feed.  Would require Go SDK support most likely, or work to make scalers extensible.

[2019-05-28 04:29] jeffhollan opened #233 "[Scaler] Azure Functions Durable Orchestration and Activity"
Today I believe this leverages the [Durable Task Framwork](https://github.com/Azure/durabletask) SDK (in .NET) to assess if work is scheduled and how work needs to be done.

[2019-05-28 04:37] yaron2 commented on #217
Another way to partition in a single namespace also is to allow custom taints/tolerations on the ScaledObject which will allow users to decide on which ScaledObject goes to which KEDA controller instance.

[2019-05-28 06:44] tomkerkhove commented on #231
Docker pull sounds feasible indeed, a phone home is more tricky as this can be "an issue" from a security perspective.

If the goal is to prioritize scalers then I think this will grow over time once the community starts to grow.

[2019-05-28 19:24] Aarthisk commented on #217
Letting the scaled objects dictating partitions though might push more onus on the cloud operator when they don't know the scale we can support in KEDA per scale controller. I like the partitioning on namespaces though that might be too corase grained or can we can auto-assign the labels that @yaron2 is mentioning so we keep the partitioning logic internal? A scale controller when it sees a new sc

[2019-05-28 20:08] karoldeland commented on #230
Thanks a lot!

[2019-05-28 20:08] #230 closed

[2019-05-28 20:51] #220 closed

[2019-05-28 23:42] lee0c opened #236 "HPA creation should fail or produce useful error logging on bad scaledobject spec"
Incorrect ScaledObject specs (such as a connection string value that can't be resolved as in the case of #146) create an HPA that doesn't use external metrics but instead falls back to default CPU metrics, & info-level logs don't reflect an error (just says that an HPA was created). This should at the very least create error logs, and potentially not create an HPA if a useful HPA can't be created.

[2019-05-28 23:42] jeffhollan opened #237 "KEDA integrate with readiness and liveness probes"

[2019-05-29 08:46] tomkerkhove opened #238 "Unify configuration for logging"
As of today, you can configure the logging in the Helm chart via `glogLevel` & `logLevel`.

We should try to unify them to make it easier to configure the runtime.

This was initially found in #222

[2019-05-30 02:28] VenkateshSrini opened #239 "Keda .NEt core and RabbitMQ"
Hi All,

This there a sample application that run on Keda written in .NET core and RabbitMQ.

[2019-05-30 08:45] tomkerkhove commented on #239
We don't have one as of today, you can find all samples here: https://github.com/kedacore

That said, we have one for Go but the configuration part is the same.

[2019-05-30 15:10] cristianoveiga opened #240 "Support to Redis event source?"
Hi,

I noticed that Redis is currently not supported and also is not present on the planned scalers.

Have you considered some sort of integration?

[2019-05-30 16:38] jeffhollan commented on #232
Chatted with the CosmosDB team.  The Go SDK doesn't currently have support for the change feed, but they are willing to work with us and help write the logic that would be needed to check the leases collection and know how much remaining work is there in a Go variation of the code

[2019-05-30 16:40] jeffhollan commented on #237
The hope here is that if a deployment state is unhealthy for any reason, the autoscaling will be configured in a way that scaling out will stop.  There is likely related work needed for Azure Functions specifically to make sure it exposes a liveness and readiness probe endpoint to drive this for KEDA scenarios with functios.

[2019-05-30 16:42] jeffhollan commented on #238
I believe these are two separate values I'm not sure if we should combine but should at least document.  `glogLevel` determines how many of the Kubernetes system logs get surfaced (when we first had KEDA your logs would be muddied with a bunch of "saw create of deployment `foo`" that wasn't really relevant to KEDA.  `logLevel` is about exposing the level of logs from the KEDA controller itself.

[2019-05-30 16:44] jeffhollan commented on #240
Great question.  I think the trick with Redis for me has always been what "metric" we can pull from redis to know if there is work to be done, and how much work is done.  What I've read in the past from Redis docs is that if you don't have an active client listening for events, an event is sent but lost.  Since KEDA uses a polling interval to check for messages, I suspect it means that unless the

[2019-05-30 17:02] cristianoveiga commented on #240
In my use case, I would like to be monitoring the size of a queue (internally implemented as a list in Redis), so I guess the simplest implementation would creating a custom metrics (most likely using [custom metrics](https://github.com/kubernetes-incubator/custom-metrics-apiserver) ) that returns the length of the specified key or a range of keys.

[2019-05-30 17:06] jeffhollan commented on #240
Yeah that one would work I think.  Do you remove the item from the list after processing?  So that the length of the list could always == the amount of unprocessed work?

[2019-05-30 17:13] yaron2 commented on #240
@cristianoveiga would using LLEN for a list for our Redis scaler do the trick?

https://redis.io/commands/llen

[2019-05-30 17:16] cristianoveiga commented on #240
Correct @jeffhollan @yaron2 !

The length of the list (s) would give me metric of how much work I have pending.

Please note that Redis has other data types/structures, but this could be a good start.

[2019-05-30 17:16] yaron2 commented on #240
Good :)

[2019-05-30 17:25] jeffhollan commented on #240
Yes scoping to that is very do-able.  Not sure if you want to take a pass at it. I flagged it as help wanted and will update the wiki, but assuming you just did pretty much exactly what the rabbitMq and azure queue scalers are doing, but instead of lenght of queue it's length of list you'd have what you wanted

[2019-05-30 18:35] cristianoveiga commented on #240
awesome, thanks!

I'm trying to understand the whole custom metrics workflow. If I manage to get it sorted, I would be glad to help send a PR.

I will keep you posted.

[2019-05-30 22:06] Aarthisk commented on #236
I will take this- I think a testconnection method in the scaler can check that the creds are valid before the HPA gets created so we don't monitor scaled objects with incorrect credentials.

[2019-05-30 22:59] lee0c commented on #236
@Aarthisk afaik this is less an issue due to bad credentials, and more an issue with metadata that doesn't parse incorrectly. It happens when the ExternalMetric struct that would be passed to the HPA is poorly formed. I think all that is needed is better errors and error handling in scalers' creation & parseMetadata functions - happy to point out where I've seen this coming from previously (unfort

[2019-05-31 08:34] GokGokalp commented on #239
I can prepare a sample for .NET Core and RabbitMQ.

[2019-05-31 11:15] tomkerkhove commented on #238
If that is the case then I would suggest improving the docs a bit on this as it's not clear, at least to me, what they were for.

Thanks for letting me know!

[2019-05-31 13:20] tomkerkhove opened #241 "CRD is not installed via Helm"
CRD is not installed via Helm, even though it will be deployed by default  (https://github.com/kedacore/keda/blob/master/chart/keda/templates/scaledobject-crd.yaml#L1)

## System information
- Kubernetes on Windows Laptop (Docker for Windows)

## Repro
1. Spin up new cluster
2. Run `helm install kedacore/keda-edge --devel --set logLevel=debug --namespace keda --name keda`
3. No CRD is available

#

[2019-05-31 14:04] tomkerkhove commented on #238
Actually, #222 is still open so if we could clarify this a bit more then I can update it in the Helm chart already.

[2019-05-31 14:12] tomkerkhove commented on #241
Hm that's odd, it works when connecting to AKS cluster.

[2019-05-31 14:28] tomkerkhove commented on #241
There is something going on but can't put my finger on it.

What I've noticed on the AKS cluster is when I remove the installed chart, the CRD is not removed.

Here is the full log:
[code]

[2019-05-31 15:09] tomkerkhove opened #242 "Clarification for deploymentName"
I've noticed that `deploymentName` needs to be labeled on the `ScaledObject` as well and I think this is what the following docs are referring to:

https://github.com/kedacore/keda/wiki/ScaledObject-spec#details

So what I'm understanding from this is that we **have** to include it in the label because otherwise you cannot access the data on the `ScaledObject` itself, is that correct?

In order to

[2019-05-31 15:36] tomkerkhove opened #243 "Unable to connect to Azure Service Bus namespace via secret"
While working on the .NET Core sample for Azure Service Bus I've been struggling to wire up KEDA to my Service Bus Namespace.

When using a `secretKeyRef` ([code](https://github.com/tomkerkhove/sample-dotnet-worker-servicebus-queue/blob/master/deploy/deploy-queue-processor.yaml#L21)) I received the following error:

However, it means that somehow it was able to read the secret but not allowed in g

[2019-05-31 17:22] ahmelsayed commented on #242
I personally don't like the duplication of the deploymentName in the scaledObject. Since the label is required for HPA to work, I wonder if we can remove it from the scaleTargetRef.

[2019-05-31 17:26] ahmelsayed commented on #241
helm has some odd behavior around CRDs (see https://github.com/helm/helm/issues/4440)
@lee0c also did some investigations here https://github.com/kedacore/keda/pull/107

[2019-05-31 17:50] tomkerkhove commented on #242
Would be great to remove the duplication idd!

From a user perspective I'd prefer to keep the scaleTargetRef and delete the label, but that is probably not possible given the statement above?

[2019-05-31 18:20] lee0c commented on #241
Not sure about the first issue, but I can speak to the second:

Helm uses a specific crd-install hook for CRDs as mentioned in the linked issue, and it won't delete the CRD by default. There is a value in the helm chart for keda (customResourceDefinition.create) that allows you to bypass the CRD install so you don't need to manually delete when reinstalling - and this also allows you to keep your

[2019-05-31 19:45] Aarthisk commented on #242
Ahmed is right, we need it in the label as the External metrics adapter gets limited information (not the deployment name) and we need a means of finding the scaled object. We can auto populate the label based on the ScaleTargetRef  to avoid user-duplication?

[2019-05-31 19:47] Aarthisk commented on #236
@lee0c Please go ahead and share where you have seen this.

[2019-05-31 20:59] lee0c commented on #236
From what I've seen, it comes about when [the scaledObjectMetricSpecs set in the HPA](https://github.com/kedacore/keda/blob/master/pkg/handler/scale_handler.go#L151) are nonexistent, which happens when [no scalers are returned](https://github.com/kedacore/keda/blob/master/pkg/handler/scale_handler.go#L117) due to an error in scaler creation, likely metadata parsing. If scaler creation returns an e

[2019-05-31 21:00] lee0c commented on #236
I last saw it when I failed to set a queue name in a scaled object spec, but theoretically any failure to include necessary metadata in a scaled object's trigger metadata should do it.

[2019-05-31 23:47] jeffhollan commented on #242
Sounds good.  Is there consensus then to remove `scaledObjectRef` and just derive all info from the `deploymentName` label?

[2019-05-31 23:49] jeffhollan commented on #243
I got this when I used the NAMESPACE key(like you have here). I had to generate a key on the queue directly and use that key.  I opened a bug to track this #215

[2019-05-31 23:51] yaron2 commented on #242
No. ScaleObjectRef also contains ```containerName``` which tells you which container in what might be a multi container pod is the one that needs scaling.

[2019-06-01 03:54] VenkateshSrini commented on #239
@GokGokalp ,
Yes that would be of immense help. Also when you are containerizing, please see if it can access a RabbitMQ cluster that runs on the local machine bit not as a separate docker. Also if you can see of this runs on KEDA then it will be a good starting point for us

[2019-06-01 06:32] tomkerkhove commented on #241
That wild guess is probably true.

So given it's how helm works I'm closing the issue, feel free to reopen if needed.

[2019-06-01 06:32] #241 closed

[2019-06-01 07:16] tomkerkhove commented on #242
I like the idea of sticking with scaledObjectRef and automatically applying the labels ourself. Can we do that?

[2019-06-01 09:35] tomkerkhove commented on #243
I'll give that a try but doesn't really explain why it works with a plain text environment variable 🤔

[2019-06-01 14:37] jeffhollan commented on #243
References to things like connection strings will check both secrets and environment variables for the target container to resolve the secret. The one that won’t work is putting connection string directly in metadata

[2019-06-03 08:23] tomkerkhove commented on #215
I've tested this and I think this is more a side-effect of #243.

From what I'm seeing the Service Bus scaler does not have issues with different namespaces.

## Queue-based Connection String Repro

When deploying https://github.com/tomkerkhove/sample-dotnet-worker-servicebus-queue/blob/repro/keda-215/deploy/deploy-queue-processor-queue.yaml which uses a Queue-based connection string which is pass

[2019-06-03 09:00] tomkerkhove commented on #243
That's right, I was more referring to passing the raw connection string on the environment variable on the container, not ScaledObject configuration.

Anyhow there is too much overlap with #215 so I'll close this one. Thanks.

[2019-06-03 09:00] #243 closed

[2019-06-03 09:12] tomkerkhove commented on #215
I've done the same experiment for passing the connection strings via secrets and that's when the issues start to occur.

At first, I figured it might be because my app was running in a separate namespace but that does not seem to be the issue.

It seems to be caused when the namespace connection string is being passed via secret and used for auth.

## Queue-based Connection String Repro with Secre

[2019-06-03 10:12] tomkerkhove opened #244 "ScaledObject should retry when secret is not deployed yet"
ScaledObject should retry when secret is not deployed yet. If you deploy one template which includes deployment, scaledobject and secret the HPA will not work due to parallel creation.

Below scenario is fixed if you create the secret up front after which the deployment for pod & scaledobject is done.

I think the fix here would be to automatically retry every x min/sec if the secret could not be

[2019-06-03 21:40] Aarthisk commented on #244
Tom,
Thanks for reporting. I will take this and fix it with the HPA metrics one.

[2019-06-04 04:19] jeffhollan commented on #244
Thanks @Aarthisk !

[2019-06-04 05:22] tomkerkhove commented on #244
Thanks!

[2019-06-04 07:26] tomkerkhove commented on #216
We've been checking out KEDA at Codit and worked on the following sample - https://github.com/tomkerkhove/sample-dotnet-worker-servicebus-queue

We are happy to donate this to https://github.com/kedacore if you are interested.

[2019-06-04 07:30] jeffhollan commented on #216
Absolutely.  This looks great

From: Tom Kerkhove <notifications@github.com>
Reply-To: kedacore/keda <reply@reply.github.com>
Date: Tuesday, June 4, 2019 at 12:26 AM
To: kedacore/keda <keda@noreply.github.com>
Cc: "jeffhollan@outlook.com" <jeffhollan@outlook.com>, Comment <comment@noreply.github.com>
Subject: Re: [kedacore/keda] [Samples] .NET Core 3.0 Worker (#216)

We've been checking out KEDA a

[2019-06-04 08:03] tomkerkhove commented on #216
Happy to hear! I suggest that somebody gives it a try as well before giving a sign-off.
Then we can move it to this org.

[2019-06-04 23:10] Aarthisk commented on #166
https://github.com/kedacore/keda/pull/245

[2019-06-04 23:10] #166 closed

[2019-06-04 23:10] Aarthisk commented on #164
https://github.com/kedacore/keda/pull/245

[2019-06-04 23:11] Aarthisk commented on #164
There was not much with regards to minikube that I added except that you can deploy using the yaml if Helm is not an option.

[2019-06-04 23:11] #164 closed

[2019-06-05 08:58] zroubalik commented on #54
Are there any updates on this issue? If not, I can start working on this.

[2019-06-06 16:55] aslom opened #246 "keda controller enable verbose logging and debugging"
How do I enable additional debugging and/or build version of keda controller I can debug?

I am gettign endless stream messages in keda operator logs (every second ...):

[code]

[code]

Thank yo for any pointer/help in advance.

[2019-06-06 16:57] aslom opened #247 "fix wiki kafka topicName to topic example"
This is incorrect

[code]

it should be topic?

[code]

https://github.com/kedacore/keda/wiki/ScaledObject-spec

The linked example is correct:

https://github.com/kedacore/keda/blob/master/examples/kafka_scaledobject.yaml

[2019-06-06 17:04] jeffhollan commented on #247
Yep you're right.  Thanks.  Will fix

https://github.com/kedacore/keda/blob/f4dfb6626b77e72fe974b945fd8ce96733ecd66a/pkg/scalers/kafka_scaler.go#L72

[2019-06-06 17:09] jeffhollan commented on #138
Merged in and fixed up.

[2019-06-06 17:09] #138 closed

[2019-06-06 17:17] jeffhollan opened #248 "VS Code plugin support KEDA"

[2019-06-06 17:17] jeffhollan opened #249 "VS Code plugin support KEDA"

[2019-06-06 17:41] jeffhollan commented on #199
@lee0c gave an update in our [community meeting](https://hackmd.io/cEi_FerdQvyTvB1i-5U0kg?both#June-6-Meeting) today (🎉 thanks @lee0c ) as he's been working with a customer on using queue-based scaling.

He found that you can use the SIGTERM and termination channel to delay termination of a deployment from HPA for a really long time.  However, it does display as "Terminating...." during the entire

[2019-06-06 17:43] jeffhollan commented on #157
@lee0c is working on a proposal for the "job dispatch" pattern.  Any questions, comments, upvotes, etc. should be focused on #199 to see if that's one viable option to solve this that KEDA could provide.  I provided some background and questions [on that issue] as well.  Thanks @lee0c

[2019-06-06 17:44] jeffhollan commented on #249
Thanks @markito for the idea!  Feel free to chime in with other thoughts as well

[2019-06-06 18:13] ahmelsayed commented on #248
duplicate of #249 ?

[2019-06-06 18:18] ahmelsayed commented on #247
[fixed](https://github.com/kedacore/keda/wiki/ScaledObject-spec/_compare/50347167be2cfdfb77361e62ec38e2155e0c1272...b00a56bd0c6a3cf7436d05214bed992ea2fbf88d)

[2019-06-06 18:18] #247 closed

[2019-06-06 18:18] jeffhollan commented on #248
Ah thanks

[2019-06-06 18:18] #248 closed

[2019-06-07 00:26] jsturtevant commented on #199
For easy finding, there is some discussion around this issue in a [long thread on scaling down specific pods](https://github.com/kubernetes/kubernetes/issues/45509):

- [description of job pattern ](https://github.com/kubernetes/kubernetes/issues/45509#issuecomment-380917928)
- [someone using job pattern](https://github.com/kubernetes/kubernetes/issues/45509#issuecomment-387784103)
- [description

[2019-06-07 07:11] tomkerkhove commented on #249
Good idea!

[2019-06-07 07:13] tomkerkhove commented on #246
You can define it if you're using the helm chart, docs are being added here: https://github.com/kedacore/keda/pull/222

Will improve the description for them a bit so that it's clear what defines what

[2019-06-07 07:26] tomkerkhove commented on #249
Another option is to build it on top of the CLI that's coming in #173

[2019-06-07 11:26] aminebizid commented on #90
Keda works great even without custom metrics.

[2019-06-07 13:30] GokGokalp commented on #239
I prepared a sample project with RabbitMQ .NET Core client - https://github.com/GokGokalp/sample-netcore-keda-rabbitmq

I also wrote an article about it: https://www.gokhan-gokalp.com/en/kubernetes-based-event-driven-autoscaling-with-keda-rabbitmq-and-net-core/

[2019-06-07 16:24] patnaikshekhar commented on #172
@jeffhollan I'm happy to sign up for the missing samples for Kafka, Service Bus and Storage Queues with containers.

[2019-06-07 18:00] tomkerkhove commented on #172
Service Bus is covered via #216

[2019-06-10 15:44] tomkerkhove commented on #216
The sample got donated to https://github.com/kedacore and is available [here](https://github.com/kedacore/sample-dotnet-worker-servicebus-queue).

[2019-06-10 15:44] #216 closed

[2019-06-12 07:13] tomkerkhove commented on #171
Given most of it works via KEDA by default I'm not sure if this sample even makes sense anymore, or does it?

This is based on #252 /cc @yaron2

[2019-06-12 07:32] yaron2 commented on #171
Can you please provide a brief description of this sample?

[2019-06-12 07:35] tomkerkhove commented on #171
Pull Azure Monitor metrics in Prometheus and autoscale on that metric

[2019-06-12 07:42] yaron2 commented on #171
IMO you are right, this is redundant now. There can be a sample for Prometheus that demonstrates multiple metrics examples, Azure Monitor can be one of them.

[2019-06-12 07:54] tomkerkhove commented on #171
Then I would close this issue.

If we add the sample that pulls in metrics from Azure Monitor to Prometheus we can refer to Promitor to achieve this.

[2019-06-13 17:06] #171 closed

[2019-06-13 17:06] asavaritayal commented on #160
Looking at mid-next week for next update.

[2019-06-13 17:08] asavaritayal commented on #160
Will need experience in the func Core Tools to specify which image.

[2019-06-13 17:10] asavaritayal commented on #14
Working on validation/bug fixes.

[2019-06-13 17:15] asavaritayal opened #253 "Sample queries for Prometheus"
- HTTP
- Azure Monitor
- Generic

[2019-06-13 17:16] asavaritayal commented on #171
Closing issue in favor of adding a sample - https://github.com/kedacore/keda/issues/253

[2019-06-13 17:23] asavaritayal opened #254 "Sample for SQS scaler"

[2019-06-13 17:25] yaron2 opened #255 "dep ensure hangs"
```dep ensure -v``` seems to hang.

Can anyone else confirm this is the case?

[2019-06-13 18:17] ahmelsayed commented on #255
It does for me too

[code]

After killing the git process I see these errors

[code]

[2019-06-13 18:18] ahmelsayed commented on #255
btw, installing mercurial fixes it for me.

[2019-06-13 18:23] markusthoemmes commented on #255
Yep, goautoneg is a mercurial based repo. Dep hanging if you haven‘t installed mercurial is a known (annoying) bug.

[2019-06-13 18:28] yaron2 commented on #255
Ok. closing then.

[2019-06-13 18:28] #255 closed

[2019-06-13 18:29] #156 closed

[2019-06-13 23:16] Aarthisk commented on #210
https://github.com/kedacore/keda/commit/0cf7c442e780a2d1366ed01991fc4ec0f77dd62b

[2019-06-13 23:16] #210 closed

[2019-06-13 23:17] Aarthisk commented on #90
https://github.com/kedacore/keda/commit/0cf7c442e780a2d1366ed01991fc4ec0f77dd62b

[2019-06-13 23:17] #90 closed

[2019-06-13 23:31] lee0c commented on #199
@jeffhollan Wanted to finally get this in so excuse the lack of polish, I was out sick earlier this week & my schedule took a bit of a hit! Here's all the notes I have on KEDA design to add jobs. A lot of the major changes are things I have already implemented or mostly implemented, most of what would be left is smaller tweaks and more testing.

# KEDA proposal to support K8s Jobs for long-running

[2019-06-14 08:48] patnaikshekhar commented on #254
Hi @Aarthisk would you be able to assign this issue to me.

[2019-06-14 08:51] patnaikshekhar commented on #172
@jeffhollan here is a [sample](https://github.com/patnaikshekhar/KEDA-Azure-Storage-Queues-Node) for Storage queues using a container.

Could you please review and let me know? Will this need to be published in the KEDA repository or will it continue to live in my account.

More coming soon...

[2019-06-14 23:31] TAnas0 opened #260 "Scaling with RabbitMQ and MINPODS of deployment"
Hello,

I am using KEDA successfully to scale a deployment relatively to a RabbitMQ queue.
Unfortunately, I am facing a problem with KEDA, where insists that the minimum number of pods of my deployment is 1, leading it (I suspect) to scale it back up every time it is supposed to be scaled to 0.

Here is the output of the command `kubectl get hpa`. Notice the value of the field `MINPODS`:

[code]

[2019-06-14 23:49] lee0c commented on #199
Oh, link to current jobs manager (consumer folder is empty rn, consumer image is in docker hub though): https://github.com/lee0c/k8s-jobs

[2019-06-17 17:26] jeffhollan commented on #199
Thanks @lee0c for putting this together.  I think this looks good to me.  Only 2 questions I have

1. Can you explain a bit what each of these do?  I assume `parallelism` is how many concurrent jobs at a maximum may run.  The other ones I'm not as sure

[code]

2. How much effort is left? Sounds like you have a lot of this mostly working.  I can't speak much to if there are any concerns from a cod

[2019-06-17 17:50] yaron2 commented on #199
IMO it should not be mandatory. If for any reason, in general, we do decide on breaking changes, then we should introduce new objects with a different ```apiVersion```.

How about we use the ```.metadata.name``` for ```ScaledObject```  as the base name?

In terms of a Kubernetes ```Job```, we should aim for work queue based parallelism, meaning we should not allow for fixed completions. parallelis

[2019-06-18 15:20] lee0c commented on #199
@jeffhollan

Number of pods a job will run at once

Number of pods that must complete in order for a job to finish

How long a pod can be active w/out succeeding(completing) before it is considered failed & terminated

How many times a pod will retry starting in case of a crash or failure

[2019-06-18 15:24] lee0c commented on #199
@jeffhollan Work left really depends on the flexibility of this - the more options & customizability you want, plus the more we want the scaling setup to be able to change to suit many workloads, the more time it will need. A very basic amount of customizability would likely be a day or two of work, more would be a bit long (& I would likely want some extra feedback from @yaron2 or someone else on

[2019-06-18 15:29] patnaikshekhar opened #261 "SQS Scaler not scaling out"
I'm trying to use the SQS scaler. It does scale the deployment down to 0 but does not seem to be scaling out even after a number of messages are added to the queue. Full code is [here](https://github.com/patnaikshekhar/KEDA-AWS-SQS-Python).

The following is the scaled object definition

[code]

and this is the deployment

[code]

These are the logs from the Keda Controller Pod
time="2019-06-18T15

[2019-06-18 19:24] jeffhollan commented on #199
Ah very interesting and thanks for the insight.  Curious on how the customer is looking to solve this problem?  It's still interesting functionality but I'm almost apt to say we check it into a release branch and wait for more people to ask for this pattern before fully merging it in?  Ideally we have at least one interested user before adopting the code.  I suspect they will come, but may influen

[2019-06-18 21:50] TAnas0 commented on #261
Hey there,

Has this problem just started happening lately for you?

I had been able, until very recently, to scale a deployment using KEDA relatively to a RabbitMQ instance. But now I am facing a similar issue as yours where KEDA won't scale up my deployment even if I add messages to the queue.
I suspect the there was a recent change in the KEDA helm chart.

I can give more details about my situa

[2019-06-18 22:27] yaron2 commented on #261
@TAnas0 Can you try using the image ```kedacore/keda:master```?

The Helm chart actually uses an older version which has not been yet updated.

@patnaikshekhar The last line in your logs show a Kubernetes internal error, this may be related. Can you run the keda helm chart again with log level set to verbose and output any new logs you'll capture?

[2019-06-18 22:30] yaron2 commented on #261
To set the log level, add the following to your helm cmd: ```--set logLevel=debug```.

[2019-06-19 07:55] lee0c commented on #199
The customer is going to be checkpointing work within their app due to several reasons, which removes most of the need to have run-to-completion jobs with no interruption.

That sounds like a good plan, I'll put some more time into it when I'm back in Redmond so it can get to a proper code review & then it can stay in it's own branch for a while. I'm also considering cleaning up my standalone vers

[2019-06-19 10:46] lee0c commented on #161
@jeffhollan This is something we will actually need for the current customer's setup to get to production. Having secrets stored on the cluster isn't doable for security reasons & all authentication & secret management is done with MSI. Is this on your radar as something that will be implemented?

[2019-06-19 10:55] tomkerkhove commented on #161
I consider this a v1.0 requirement

[2019-06-20 07:11] patnaikshekhar commented on #261
@yaron2 it works now if I use the kedacore/keda:master image

[2019-06-20 07:11] #261 closed

[2019-06-20 08:47] patnaikshekhar commented on #254
Hi @Aarthisk here is the URL for the SQS [sample](https://github.com/patnaikshekhar/KEDA-AWS-SQS-Python). Could you please review?

[2019-06-20 08:48] patnaikshekhar commented on #172
@jeffhollan here is a [sample](https://github.com/patnaikshekhar/KEDA-AWS-SQS-Python) for SQS. I've also updated this on [issue 254](https://github.com/kedacore/keda/issues/254)

[2019-06-20 17:10] asavaritayal commented on #253
@yaron2 can provide some scenarios for the queries.

[2019-06-20 17:18] asavaritayal commented on #161
Capturing the discussion from standup - this shouldn't be a blocker but we'd like to align it with the v1.0 release in order to cater to multiple customer scenarios.

[2019-06-20 17:19] asavaritayal opened #262 "Image releases"
We need to setup GitHub releases for the KEDA image. There already seems to be a CircleCI setup. We should have a nightly build to update master as well.

[2019-06-20 18:20] patnaikshekhar commented on #240
@jeffhollan I'm happy to help with this one

[2019-06-20 21:54] yaron2 commented on #260
Can you try to reinstall KEDA on your cluster? we recently pushed a new version that should fix this.

[2019-06-20 23:35] yaron2 commented on #246
Hi, can you please try reinstalling KEDA using helm and report back if you encounter these errors?

[2019-06-21 08:52] lee0c opened #263 "Allow connection strings to be set via Secret or ConfigMap reference that *is not* referenced from the deployment"
Currently, KEDA resolves environment variables by pulling all literals, secretrefs, and configmaprefs from the target deployment's environment variables. KEDA should also be able to take in a secret ref or config map ref without referencing the container's env/envfrom fields at all.

[2019-06-21 08:54] lee0c commented on #263
@jeffhollan double checked on this after our conversation yesterday & it looks like this is **not** possible (also not in the docs). KEDA resolves secret refs/config map refs in the container spec, but cannot resolve a secret ref handed to it as far as I can tell.

[2019-06-21 09:34] tomkerkhove commented on #263
That is my understanding as well and agree that it would be great to have option to decouple this

[2019-06-21 11:37] tomkerkhove commented on #253
Hi @asavaritayal 	I think we were more talking about me taking up #171 rather than defining queries, right @yaron2 ?

[2019-06-21 13:38] TAnas0 commented on #260
I have installed the latest version of KEDA, and the problem seems gone and resolved. My deployment scales back to 0 when the queue is empty.

But to give you more context, I further investigated the pod that was restarting before, and that *can* be due to other reasons, out of KEDA's scope. Just letting you know in case you are still debugging, and to review the changes.

About the `MINPODS` valu

[2019-06-21 15:50] jeffhollan commented on #263
Ah thank you - I failed to realize that often the secret spec I've been using has been added as config to the deployment.  Yes this is a good feature.

[2019-06-21 16:26] yaron2 commented on #260
The min pods in the HPA will not show 0 because the HPA doesn't (today) support 0 minReplicas, so that's OK.

Regarding min and max for KEDA, you can set ```minReplicaCount``` and ```maxReplicaCount``` on the spec.

See [here](https://github.com/kedacore/keda/blob/master/examples/scaledobject.yaml).

Closing this issue for now.

[2019-06-21 16:26] #260 closed

[2019-06-21 16:27] TAnas0 commented on #260
Can you explain to me the targets attribute?

It shows some values that I can understand, like the example above.

[2019-06-21 16:30] yaron2 commented on #260
The HPA targets value shows the current avg for the metric value across all pods / desired threshold.

[2019-06-21 16:33] TAnas0 commented on #260
So, it shows the number of message in the queue? What is the metric in question? `667mm`, what does the `mm` means?

Please bare with me, I can't find a precise description in the doc about this.

[2019-06-21 16:38] yaron2 commented on #260
The HPA is not a KEDA resource.

The values you see on the HPA are not representative of the ones used in KEDA. Its based on Kubernetes HPA metric values, in this case mili quantities.

[2019-06-23 17:24] patnaikshekhar commented on #240
@jeffhollan @yaron2 I've created a pull request for this. Could you verify?

[2019-06-24 03:59] #160 closed

[2019-06-24 06:28] tomkerkhove commented on #202
The chart configuration is documented via #265

[2019-06-24 06:31] tomkerkhove commented on #202
I can pick up the notes as well - My suggestion would be to drop a small note that ScaledObjects need to be installed or do you have other suggestions?

The license is just a file [in the folder structure](https://helm.sh/docs/developing_charts/#the-chart-file-structure) which I would copy during the release process rather than duplicating it. Thoughts?

[2019-06-24 07:30] patnaikshekhar commented on #141
@jeffhollan it looks like the length of a topic / subscription is not available through an API yet. The only way to get the number of messages in a subscription is to call the stackdriver API and fetch the external metric pubsub.googleapis.com/subscription/num_undelivered_messages.

[2019-06-24 08:24] ahmelsayed commented on #199
As a job author, how do I figure out what number of `completions` makes sense for my job? My understanding is that jobs run to completion, right? So if we scale to 3, don't all 3 have to finish for the job to be completed? Maybe I'm misunderstanding how this works.

[2019-06-24 08:24] ahmelsayed commented on #157
I have a slightly alternative proposal for long running jobs that would also work for functions and other "listener" style applications rather than job style application.

Similar to this proposal, we would have a `scaleType: ` with current behavior being `hpa`, and options are `simple`, `hpa`. In `simple` scale mode, there is no HPA. Keda handles the scaling. This will mean that you'll loose HPA

[2019-06-24 09:34] tomkerkhove commented on #141
Maybe that's a good workaround until they support it in the Google Pub/Sub API?

[2019-06-24 09:37] tomkerkhove commented on #157
Does the app have to initiate it or does KEDA initiate it? Personally I'd prefer not to change my app because we choose to use KEDA. Having a "busy" endpoint next to (or even same as) my health endpoint would be a better fit which can be consumed.

[2019-06-24 12:41] whilke commented on #157
This is the approach we went (having the scaler check an instance if it's busy). It follows the normal health/ready check pattern. Also reduces race type conditions as it's a live check when the scaler is looking to scale down a set.

[2019-06-24 17:34] ahmelsayed commented on #157
We could do that too. My only reservation is on expecting the pod to have an HTTP endpoint. Since all KEDA applications are meant to process polling-based events. I'm not sure most pods would need to expose an http endpoint, which depending on the framework you're using, it might not be as simple to add to a simple queue or topic consumer app.

Since KEDA doesn't require deployments to expose a se

[2019-06-24 18:19] whilke commented on #157
option #1 and option #2 smell, a lot.

#1 makes your data very stale and introduces easy race conditions from when keda last got status and when it's terminating pods (where the pod might have picked up a new job by then).

#2 requires workers to implement the status file correctly or it's worse then #1 (same race condition issue plus all the overhead of requiring a exec stat. Still doesn't stop r

[2019-06-24 19:01] ahmelsayed commented on #157
I'm not sure how exposing an endpoint resolves the race condition though. KEDA could query the endpoint and get "not busy", then start terminating the pod while the pod has picked up a new work item in the mean time. To eliminate that race condition we'll have to re-implement the `SIGTERM`, `SIGKILL` approach of kubernetes where we inform a pod that we want to shut it down, and the pod says "yes o

[2019-06-25 20:31] lee0c commented on #199
@ahmelsayed Apologies for slow response.

A job can manage multiple pods. The completions metric specifies how many pods, of the pods it is managing, must run to completion for the job to be considered done & end. [This page] goes into more depth about different patterns around k8s jobs, & when they might be good vs. bad

[2019-06-25 20:31] lee0c commented on #202
+1 to the note idea. The notes should cover anything required for KEDA to function that doesn't happen in the helm install command

[2019-06-25 20:34] lee0c commented on #161
To follow up from standup, it is a blocker in cases where there are enterprise security restrictions to keep in mind. Our customer case had very stringent security & would need their design to pass review (by people who may not be familiar with namespacing). In a scenario where the rest of the application is working through Pod ID, it is highly preferable to have KEDA fit that story to meet securi

[2019-06-25 20:35] lee0c commented on #161
@jeffhollan @anirudhgarg My next two weeks will be fairly busy but I'm willing to look into this & potentially put in a PR if you're alright with a bit of delay 😄

[2019-06-26 06:42] tomkerkhove commented on #202
Well, it was your good idea as part of #102 :D

From my initial POC with it there wasn't much more to do than deploy app & scaled object so will just do that then maybe?

[2019-06-26 07:01] patnaikshekhar commented on #240
@jeffhollan @yaron2 @cristianoveiga this has now been merged into master. Can this issue be closed?

[2019-06-26 07:02] patnaikshekhar commented on #172
@jeffhollan here is the sample for [redis](https://github.com/patnaikshekhar/KEDA-Redis-Sample).

[2019-06-26 07:04] jeffhollan commented on #240
Awesome work @patnaikshekhar!  Thanks a ton for the contribution 🎉.

@asavaritayal can you help just to track work to make sure
1. The wiki is updated with the schema of the `ScaledObject` for Redis
1. The `README.md` is updated with this in the list of triggers (not sure if that was already taken care of in the PR)

Once that's in I think it's officially now a supported KEDA trigger.

[2019-06-26 07:13] patnaikshekhar opened #267 "Missing Tests for Rabbit MQ Scaler"
The RabbitMQ Scaler is missing tests that check the metadata. These tests are present for all other scalers.

[2019-06-26 07:27] tomkerkhove commented on #161
I fully agree, but I think we should not underestimate the impact of adding that because:
- How will the AD App be configured? Part of the KEDA deployment I presume?
- Will you enforce using that for all ScaledObjects that support Azure AD Auth, or will it be configurable on the ScaledObject?

[2019-06-26 13:25] cristianoveiga commented on #240
This is great! Thanks @patnaikshekhar !

I will take some time this week to try it out.

[2019-06-26 17:34] lee0c commented on #161
Not sure on the first question - I'm guessing that most if not all of the set up would be left to the user, since it's unlikely only KEDA would need that set up. To the second, I would assume it would be configurable - for any given ScaledObject you could choose to opt in to pod id & provide pod ID client details. I need to look into it more though!

[2019-06-26 21:58] Aarthisk commented on #236
Should be fixed in above PR.

[2019-06-26 21:58] #236 closed

[2019-06-26 22:00] Aarthisk commented on #244
Should be fixed in PR https://github.com/kedacore/keda/pull/264

[2019-06-26 22:00] #244 closed

[2019-06-26 22:35] ahmelsayed commented on #199
I think you forgot the link to the page :)

[2019-06-26 22:36] #267 closed

[2019-06-26 22:39] ahmelsayed commented on #240
btw, make sure to use `kedacore/keda:master` instead of `kedacore/keda:latest` to get @patnaikshekhar changes.

[2019-06-26 22:45] lee0c commented on #199
You're totally right - here you go: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#job-patterns

[2019-06-26 23:43] brobichaud opened #269 "[Question] Scale in chunks based on queue depth"
I'm wondering if the intention is for KEDA to remain purely an event driven model? My scenario is a bit of a hybrid of event-driven and reactive, yet it feels close to the core design of KEDA.

An example: I'd like to tell KEDA to monitor my Azure Storage Queue and once the queue depth exceeds 10 scale a deployment out by 1 pod for every 5 messages above the 10 threshold. So if there were suddenly

[2019-06-27 03:54] jeffhollan commented on #161
Yes @lee0c that would be awesome if you could help tackle.  And to clarify thinking being this isn't a blocker to 1.0 (meaning it may come a little further down in the backlog from priority POV) but absolutely agree this feature would be a blocker for some customers adopting KEDA.  So would be awesome to get some help to get this in even sooner than some of the other work items on @Aarthisk and ot

[2019-06-27 04:27] jeffhollan commented on #172
Amazing!  @asavaritayal flagging you in case you can merge and potentially move some of these to kedacore org and update chart above

[2019-06-27 07:28] patnaikshekhar commented on #141
@jeffhollan I'm happy to pick this one up next

[2019-06-27 17:09] asavaritayal commented on #172
Assigning to update README.

[2019-06-27 17:10] asavaritayal commented on #237
@Aarthisk do you want to keep this in the Current milestone?

[2019-06-27 17:15] izzymsft opened #270 "Add Clarifying Documentation for Kafka Samples"
Sometimes, at first glance users have have the impression that the tutorial is intended to scale the kafka brokers as more messages arrive. We need to clarify this in the objective section of the sample tutorial.

The instruction on installing the Kafka cluster via Helm could also be updated to explain the purpose of the different components of the Kafka cluster installed via Helm.

[2019-06-27 19:02] Aarthisk commented on #269
@brobichaud The scale for Azure Queues is fairly close to what you describe. You can modify the Scale object and set the queueLength' to be what you want. This is the per-pod message length at which HPA will spin up a new pod. The schema for the scaled object is here: https://github.com/kedacore/keda/wiki/ScaledObject-spec

[2019-06-27 19:03] Aarthisk commented on #237
@asavaritayal Asavari, yes. I am investigating this right now.

[2019-06-27 19:11] brobichaud commented on #269
I agree it is close, but really not close enough. I don't want to create a new pod for every pending message above a threshold, that would be way to aggressive. The most concise way to describe what I'm after is:

I want to create a new pod for every X pending messages above a threshold.

[2019-06-27 23:17] Aarthisk commented on #269
@brobichaud ha I see. Thanks for the clarification. This is similar to the setting --horizontal-pod-autoscaler-tolerance. I don't think AKS lets us configure this per cluster but GKE might. I will leave this issue open for us to consider a tolerance value for metrics returned configurable in a scaled object.

[2019-06-28 21:13] brobichaud commented on #269
I feel like I have misunderstood the core of how KEDA scales.

The core of what I'm after is something like this:
When my Azure Storage Queue exceeds X then start scaling out, making sure there is one pod for every Y queue messages above X. I also of course need a min and max pod count to scale between.

A real-world example for me is:
I run with 1-20 messages in my queue at any given time and 2 p

[2019-06-29 07:00] patnaikshekhar commented on #141
@jeffhollan @tomkerkhove @yaron2 I've submitted a pull request for this now

[2019-07-01 10:40] patnaikshekhar commented on #161
@jeffhollan @lee0c @yaron2 I've created a pull request that includes new fields to support Azure AD Pod Identity for Azure Storage Queue.

[2019-07-01 11:41] tomkerkhove commented on #161
Thanks for your PR @patnaikshekhar!

Before we move forward I'd love to challenge the suggestion to use `metadata` for indicating this as this is a more general concept than trigger concepts.

Would it make sense to introduce a section called `trigger.authentication` for this?

This would allow us to keep the trigger metadata purely on the trigger while the authentication node describes *how* to a

[2019-07-01 17:39] patnaikshekhar commented on #161
@tomkerkhove I'm open to ideas :) That would mean a major change to the spec and I meant this to be more of a patch. If we plan to add an authentication section to the spec then we should probably bump up the API version as well. Maybe we should discuss this in the next Keda community meeting?

Current spec is

[code]

[2019-07-01 22:15] Aarthisk commented on #269
@brobichaud The scaling by HPA is already chunky- and is not for every pending message. Have you tried your scenario with our existing scaler - depending on your consumer's speed this is the behavior you should see with Keda.

[2019-07-02 18:12] Aarthisk commented on #14
Closed via PR: https://github.com/kedacore/keda/pull/276

[2019-07-02 18:12] #14 closed

[2019-07-03 01:04] kulkarnisonia16 opened #281 "Tooling support for Java functions"
Should be able to deploy an java function app via functions CLI to Keda cluster

[2019-07-03 02:13] ahmelsayed commented on #281
moved here https://github.com/Azure/azure-functions-core-tools/issues/1424

[2019-07-03 02:13] #281 closed

[2019-07-03 06:23] tomkerkhove commented on #161
I fully get why you used this route, I'm just wondering if that's the correct one.

KEDA is not in v1.0 stage so if we want to make breaking changes, now would be the good time for that imo.

Let's discuss in the standup next week.

[2019-07-03 21:15] #151 closed

[2019-07-03 21:15] #188 closed

[2019-07-03 23:00] ahmelsayed commented on #188
I added E2E tests that run once a day. I had the same basic E2E setup but it got broken by few access changes on azure and it was using bash scripts so it was a bit hard to setup, debug, add to, etc.

The new e2e setup uses typescript and should be a lot simpler to add tests to or debug existing tests. I added a readme here https://github.com/kedacore/keda/tree/master/tests

[2019-07-03 23:06] ahmelsayed commented on #151
Thanks @szuecs. After looking at few options I decided to go with Typescript for tests and using the node client for kubernetes or shelljs+kubectl. I added a readme here https://github.com/kedacore/keda/tree/master/tests and an E2E test for azure-queues scalers. Will slowly add tests for the rest of the event sources next.

[2019-07-09 22:43] Aarthisk commented on #157
@ahmelsayed sorry for resurrecting an old thread. Isn't this exactly what liveness probes does? Are you suggesting using it or implementing it as brand new? I am playing with the pod disruption budgets to see if HPA respects it. If thats the case, we can have the pod clear the label when it is not "busy" and let HPA scale it down

[2019-07-10 05:10] rahulpr17 opened #287 "HTTP Trigger not scaling up"
I am trying to deploy an HTTP Trigger to keda. I have installed Osiris components for the same. It helped me to scale to zero when no request is coming, but it is not scaling up from 1 instance. I have removed all replica-constraints from deploy.yaml file still no effects. Can you help me with any supportive links?

[2019-07-10 18:06] asavaritayal opened #288 "Remove Functions specific info from the Trigger metadata"
`direction`, `name` and `type` are Functions specific constructs that we should remove from the deployment.yaml and SO metadata.

[2019-07-11 15:49] izzymsft commented on #270
@jeffhollan @asavaritayal, I have submitted a pull request for this in the other repo.

https://github.com/kedacore/sample-python-kafka-azure-function/pull/2

What is the process for reviewing and merging it into the docs?

[2019-07-11 17:09] asavaritayal commented on #270
Adding @anirudhgarg and @priyaananthasankar to review.

[2019-07-11 17:20] asavaritayal commented on #287
@asavaritayal to find the right place for the issue. This looks like an Osiris issue.

[2019-07-11 17:25] asavaritayal commented on #269
Needs further discussion to evaluate for the 1.0 milestone.

[2019-07-11 17:29] asavaritayal commented on #254
@asavaritayal to validate the sample.

[2019-07-11 17:33] asavaritayal commented on #167
[Dashboard Mocks Part 1.pdf](https://github.com/kedacore/keda/files/3383245/Dashboard.Mocks.Part.1.pdf)

[2019-07-11 23:10] priyaananthasankar commented on #270
Reviewed and merged PR with README changes: https://github.com/kedacore/sample-python-kafka-azure-function/pull/2

[2019-07-12 04:41] rahulpr17 commented on #287
Thanks for looking into the issue. Can you please confirm if it is an issue with Osiris? I have been trying from days to test this and no luck on autoscaling Http Trigger. But Queue trigger is working without any issue.
Also please let us know if Keda support for TimeTrigger will be available in near future?

[2019-07-12 04:48] yaron2 commented on #287
I assume by HTTP Trigger you mean an HTTP Azure Function?

The scale to/from zero you are referring to is only achieved via Osiris, KEDA is not in play here at all, and thus this has to be a (potential) Osiris issue.

You can look for Osiris logs for the different Osiris components under the ```osiris-system``` namespace to help you understand if something went wrong.

[2019-07-12 21:07] ahmelsayed commented on #141
Merged

[2019-07-12 21:07] #141 closed

[2019-07-15 05:31] rahulpr17 commented on #287
Thank you for the response. I have raised a bug to the osiris team and checking with them.

[2019-07-15 19:53] Aarthisk commented on #269
@@brobichaud  Did you get a chance to try out the Queue scaler? let us know if you run into any issues or have any feedback.

[2019-07-15 21:15] ageekymonk opened #293 "Add documentation for aws cloudwatch"

[2019-07-15 21:16] ageekymonk commented on #293
I would like to add the documentation, how do i edit / raise pr for doc ?

[2019-07-17 15:48] tomkerkhove commented on #161
In the last community standup, we've discussed to do a **technical discussion** on this feature.
**If you want to participate, please fill in [this Doodle]**(https://doodle.com/poll/gxnxq4texw6av3mf) which lists some proposed slots.

**Please include your email address** in the Doodle or write me at [kerkhove.tom@gmail.com](mailto:kerkhove.tom@gmail.com) so I can send the invite.

Depending on the

[2019-07-18 09:38] patnaikshekhar commented on #184
Proposal
---
This is a proposal for the gRPC interface between external scalers and KEDA.

**Advantages**

1. New scalers can be created independently to changes in core​. When scalers / dependent libararies are updated they won't effect core.
2. Support creating scalers in multiple languages (nodejs, c#, etc) to allow for missing functionality in the go SDK – example Cosmos DB Change feed​
3. Add

[2019-07-18 15:00] patnaikshekhar commented on #217
Another possible option is to perform a leader lock. The idea here is that we can set the replicas to > 1 on the keda deployment. The first controller to come up sets two annotations on the keda deployment. The first annotation is the unique GUID for the controller itself eg. leader: AAAA-AAA-AAAA-AA. The second annotation is the time last updated. If the annotation is already set then the other p

[2019-07-18 16:58] izzymsft opened #295 "[Docs] Video Tutorials for KEDA"
A lot of developers and admins learn faster by watching video tutorials.
We need some guidance videos to demonstrate installation, setup and configuration of scalers.

[2019-07-18 17:12] jeffhollan commented on #263
@priyaananthasankar was brought up that you may be working on this? Can I assign it to you and you can share details on how you are looking to implement.  @ahmelsayed had a few questions in our standup

[2019-07-18 17:14] priyaananthasankar commented on #263
Yes. I am looking into this and will share some details after one week hack.

[2019-07-18 17:14] jeffhollan commented on #161
Thanks @tomkerkhove - let me know if we have a slot now and I can help schedule too

[2019-07-18 17:19] jeffhollan commented on #295
Potentially broken up in to several other items:
 - Overview - why use KEDA
 - How to install and get started
 - Scaler specific videos

@izzymsft to help. If you want to create a sub issue for any of these or all of these I can assign

[2019-07-18 17:28] tomkerkhove commented on #161
Only 4 people filled it in already, would be good to have more people fill it in or need to add slots.

Tom Kerkhove
Azure Architect at Codit, Microsoft Azure MVP

________________________________
From: Jeff Hollan <notifications@github.com>
Sent: Thursday, July 18, 2019 7:14:25 PM
To: kedacore/keda
Cc: Tom Kerkhove; Mention
Subject: Re: [kedacore/keda] Provide support for AAD Pod Identity (#161)

[2019-07-18 17:34] jeffhollan commented on #54
@yaron2 any updates here? Do you have a more recent ETA?  @zroubalik has offered to help as well in our weekly stand up

[2019-07-18 17:41] tomkerkhove opened #296 "Move scaler specifications to GitHub repo instead of wiki"
As of today, the [scaler specifications](https://github.com/kedacore/keda/wiki/ScaledObject-spec) are documented in the wiki and are easy to read.

However, there are a few downsides:
- You cannot propose changes to it along with a review process (PR)
- You cannot add/change them along with your feature in a PR
- Somebody with the required permissions has to jump in and maintain them.

In order to

[2019-07-18 17:42] tomkerkhove commented on #263
Let's take this along with the AAD Pod Identity discussion as this is very similar and should be taken along.

[2019-07-18 17:44] tomkerkhove opened #297 "[Scaler Spec] Change Scaler specification to provide more flexible authentication mechanisms"
We have a couple of issues where we'd like to be more flexible in the way we authenticate with scalers and where they are configured.

This issue tracks this discussion and will be used in the technical meeting to revise the current ScalerObject specification to support this.

Relates to #263 & #161

[2019-07-18 17:46] tomkerkhove commented on #297
A technical discussion on this is being organized. If you want to participate, please [fill in this Doodle](https://doodle.com/poll/gxnxq4texw6av3mf) which lists some proposed slots.

Please include your email address in the Doodle or write to kerkhove.tom@gmail.com so I can send the invite.

[2019-07-18 17:47] tomkerkhove commented on #297
I think the last required people I'd like to have on the call are @jeffhollan @anirudhgarg	 @yaron2 	but don't feel obliged.

[2019-07-19 06:37] tomkerkhove commented on #297
A meeting is scheduled for Tuesday 23rd of July at 6:00 PM UTC / 11:00 AM (PDT).

[2019-07-19 06:38] tomkerkhove commented on #296
Paging @jeffhollan 	as FYI

[2019-07-19 08:46] patnaikshekhar opened #298 "Add GCP PubSub Sample to Wiki"
I've added a GCP PubSub sample to the org which needs to be added to the wiki under **Samples and Blog posts**

* [GCP PubSub messages consumed by a Go Container](https://github.com/kedacore/sample-go-gcppubsub)

[2019-07-19 08:55] tomkerkhove commented on #296
Or maybe even move the whole wiki to the repo, see #298

[2019-07-19 16:16] tomkerkhove opened #299 "[Docs] No documentation is available for Redis Lists trigger"
No documentation is available for Redis Lists trigger in the [wiki](https://github.com/kedacore/keda/wiki/ScaledObject-spec).

[2019-07-19 16:16] tomkerkhove opened #300 "[Docs] No documentation is available for Prometheus trigger"
No documentation is available for Prometheus trigger in the [wiki](https://github.com/kedacore/keda/wiki/ScaledObject-spec).

[2019-07-19 16:16] tomkerkhove opened #301 "[Docs] No documentation is available for GCP PubSub trigger"
No documentation is available for GCP PubSub trigger in the [wiki](https://github.com/kedacore/keda/wiki/ScaledObject-spec).

[2019-07-19 16:16] tomkerkhove opened #302 "[Docs] No documentation is available for AWS Simple Queue Service (SQS) trigger"
No documentation is available for AWS Simple Queue Service (SQS) trigger in the [wiki](https://github.com/kedacore/keda/wiki/ScaledObject-spec).

[2019-07-19 16:16] tomkerkhove opened #303 "[Docs] No documentation is available for AWS CloudWatch trigger"
No documentation is available for AWS CloudWatch trigger in the [wiki](https://github.com/kedacore/keda/wiki/ScaledObject-spec).

[2019-07-20 18:30] flowerinthenight opened #305 "SQS scaler not scaling out (again?)"
I'm trying to use the SQS based autoscaler. I followed the instructions from https://github.com/kedacore/keda/issues/261, using the master image. I used both the `helm` way of installation and installing using the YAML file https://github.com/kedacore/keda/blob/master/deploy/KedaScaleController.yaml. I got the same logs.

[code]

It only scales to 0. But no matter how many messages I put to the qu

[2019-07-24 06:53] tomkerkhove commented on #297
Our current proposal is to introduce `authentication` which allows you to configure the mapping between trigger parameters (such as connection string, client id and/or client secret) across a variety of providers.

It's up to the trigger to clearly document the required parameters and provide validation around them.

[code]

More on it tomorrow during the community standup.

[2019-07-24 11:07] patnaikshekhar commented on #165
@jeffhollan @ahmelsayed I've created a [pull request](https://github.com/kedacore/keda/pull/306) for this.

This is what the spec for the scaled object looks like:

[code]

It allows you to filter Kubernetes events based on a field selector. So you can filter by events with a reason such as ImagePullFailure or type such as Warning.

The Scale down period is what is used to check if there have been

[2019-07-25 06:35] tomkerkhove commented on #296
Merged and good to go!

[2019-07-25 06:35] #296 closed

[2019-07-30 06:07] tomkerkhove commented on #298
@jeffhollan 	Can you pick this up or shall we move this to the GitHub repo as well?

[2019-07-30 06:08] tomkerkhove commented on #300
Hi @yaron2, looks like you've contributed this scaler. Would you mind taking this up or don't have the bandwidth?

[2019-07-30 06:09] tomkerkhove commented on #303
Hi @ageekymonk, looks like you've contributed this scaler. Would you mind taking this up or don't have the bandwidth?

[2019-07-30 06:09] tomkerkhove commented on #302
Hi @zach-dunton-sf, looks like you've contributed this scaler. Would you mind taking this up or don't have the bandwidth?

[2019-07-30 06:39] tomkerkhove commented on #102
Feel free to assign this to me, but we'll need to lock down what we want to list

[2019-07-30 06:41] tomkerkhove commented on #202
I think what's left open is the license. Feel free to assign this to me

[2019-07-30 06:41] tomkerkhove opened #311 "Provide HTTP scaling sample"
Provide HTTP scaling sample which is using Osiris.

Noticed that this scenario is still a bit rough on the edges and not clear how to set this up so we might want to provide some guidance there.

[2019-07-30 06:46] tomkerkhove commented on #262
And I'd like to add to that that we need to:
- Create a separate image for CI/official release
- Create separate Helm charts for CI/official release

That way we have a **stable & experimental** release stream.

As an example, our [Helm chart](https://hub.helm.sh/charts/kedacore/keda-edge) Helm chart is polluted with all CI/nightly versions while we should have a stable stream.
![image](https://us

[2019-07-30 06:47] tomkerkhove commented on #262
Happy to help, but only used to use Azure DevOps 😅

[2019-07-30 08:07] zach-dunton-sf commented on #302
Yes, I'll block out an hour this week to add some.

[2019-07-30 08:15] tomkerkhove commented on #302
Awesome, thank you!

[2019-07-30 08:21] tomkerkhove opened #313 "[Spec] More documentation is required for Rabbit MQ trigger"
More spec documentation is required for Rabbit MQ trigger beyond just a sample spec.

[2019-07-30 08:21] tomkerkhove opened #314 "[Spec] More documentation is required for Kafka trigger"
More spec documentation is required for Kafka trigger beyond just a sample spec.

[2019-07-30 15:22] jralph commented on #302
Was just looking for docs on this. Would also be good to know if the scaler can use iam profiles instead of env variables from the container. I believe the aws library checks for this by default, but keda throws an error when the env doesn't exist.

Is this possible? Or should I raise an issue for this?

[2019-07-30 17:00] tomkerkhove commented on #302
I'm not sure but I doubt that this works, can you confirm this @zach-dunton-sf 	?

[2019-07-31 01:44] ageekymonk commented on #303
I can take it up but i do not have access to wiki.

[2019-07-31 06:16] tomkerkhove commented on #303
No problem, I didn't have access as well and just copied it as is.
Feel free to let me know if you have issues.

[2019-07-31 08:11] zach-dunton-sf commented on #302
It tries to use the default provider chain first, then looks for environment variables. IF you set a role for the keda deployment it should work. I have some work in progress such that you can define the role to be assumed in the CRD.

[2019-07-31 08:44] tomkerkhove commented on #302
Can you elaborate on this, please?

Keep in mind that the ScaledObject spec is subject to change (#294) which might impact you or you'd want to provide feedback on it

[2019-07-31 09:06] zach-dunton-sf commented on #302
In the AWS SQS Scaler configuration.

https://github.com/kedacore/keda/blob/master/examples/awssqsqueue_scaledobject.yaml#L42

[2019-08-01 16:45] jralph commented on #302
Currently it doesn't work as it throws an error if the environment variables aren't found in the deployment.

I use kube2iam to apply instance profiles to containers, so an option for it to use the iam policy found when running on the keda container would be awesome. That way I can give the keda deployment a read only iam policy for sqs.

[2019-08-01 16:47] tomkerkhove commented on #302
Can you open a seperate issue please?

Tom Kerkhove
Azure Architect at Codit, Microsoft Azure MVP

________________________________
From: Joseph Ralph <notifications@github.com>
Sent: Thursday, August 1, 2019 6:45:34 PM
To: kedacore/keda <keda@noreply.github.com>
Cc: Tom Kerkhove <kerkhove.tom@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [kedacore/keda] [Docs] No documentation is av

[2019-08-01 17:28] tomkerkhove commented on #102
Let's start with just providing a command to show how to get the installed ScaledObject & HPAs.

I will pick that up.

[2019-08-01 17:30] jeffhollan commented on #202
Notes.txt could include:
 - A link to the scaled objects ref doc or quickstart
 - How to view any scaled objects
 - How to view any HPA that gets created
 - Info on the dashboard

[2019-08-02 03:19] sc-chad commented on #217
Seeing this as an issue already in our staging environments in testing.

For reference we have about 200 queues across two different namespaces / rabbitmq clusters.

Using the keda deployment works, but it's not keeping up with low interval patterns.

Reliably scaling out the pieces needed to ensure the intervals are kept would be great.

[2019-08-02 10:35] jralph opened #316 "AWS SQS/CloudWatch Scaler - Instance Profile On Keda Deployment"
The current behaviour of the AWS SQS/CloudWatch scaler is that it looks for AWS environment variables on the deployment you are trying to scale, and if they are not found, it throws an error.

It would be good for this to not throw an error and to allow the go AWS library to attempt to load credentials in a usual way (using the default credential chain) and to search the environment variables on t

[2019-08-02 10:35] jralph commented on #302
Done, see #316

[2019-08-02 12:06] sc-chad commented on #217
I was able to fix most of my performance issues by changing the default replica count from 1 to 8.  Just in case anyone else runs into the same issue.

Also a note the deployment from the helm chart seems to be an older version that what is deployed via the KedaScaleController.yaml.

[2019-08-02 21:07] sc-chad opened #318 "keda operator not closing connections to rabbitmq"
Been playing with the rabbitmq trigger and everything was working well.

Somewhere in the testing keda quit closing connections to one of our clusters.  I've gone as far as deleted all the kubernetes templates of keda, rebuilt the rabbitmq cluster, rebuilt all the templates that were using triggers and it's still causing my rabbitmq cluster to gain connections.

If I delete the keda pods the conne

[2019-08-02 23:39] brobichaud commented on #269
I am circling back to give keda a try and am having trouble getting things setup. @Aarthisk perhaps you can help me debug?

I've got keda installed on my AKS cluster. I should note I'm running Windows nodepools so I had to add a nodeAffinity to KedaScaleController.yaml so that it deploys to a linux nodepool. Here's a snippet of the modified yaml:

[code]

It seems to be running normally under the

[2019-08-04 12:08] genadyk opened #319 "keda doesn't support env resolution from pod fields"
I see "Error getting scalers error resolving secrets for deployment: cannot resolve env K8S_NODE_NAME to a value. fieldRef and resourceFieldRef env are skipped" errors in KEDA logs.
By looking at the code it looks like env resolution doesn't support my configuration.
Example of container env section:
`    spec:
      containers:
      - env:
        - name: K8S_NODE_NAME
          valueFrom:

[2019-08-08 17:06] jeffhollan commented on #199
@seushermsft happy to assign this to you if you accept the invite to the org

[2019-08-08 17:08] seushermsft commented on #199
@jeffhollan  - Thought I had, but it seems I ignored your invite instead. :) I've joined the org now, so please assign this.

[2019-08-08 19:08] Aarthisk commented on #269
Hey @brobichaud Ca you do a kubectl logs on the scale controller? You can enable debug logs using helm value --logLevel so we can see what is going on.

[2019-08-08 19:30] brobichaud commented on #269
@Aarthisk I'm not helm savvy so I didn't change the logging level. Also note I installed keda via yaml. However in looking at the logs I see this:

[code]

The CLOUD_K8S_POD  env variable is something defined in my pod, but I don't reference it in my ScaledObject so I am not sure why keda is doing anything with it.

[2019-08-13 19:00] sc-chad opened #320 "[ Enhancement ] Use rabbitmq-exporter endpoint instead of native api?"
Via the prometheus-rabbitmq-exporter plugin https://github.com/deadtrickster/prometheus_rabbitmq_exporter

This would allow Keda to poll the /api/metrics endpoint and not need credentials to be stored.

[2019-08-14 02:47] NileshGule commented on #239
@GokGokalp Your example is great. I like the usage of MetroBus package which provides higher level API to interact with RabbitMQ. I built a similar application with .Net Core and RabbitMQ client. The source code is available at https://github.com/NileshGule/pd-tech-fest-2019

[2019-08-14 05:19] NileshGule commented on #239
@jeffhollan I would like to add the repo https://github.com/NileshGule/pd-tech-fest-2019 as sample code for .Net Core consumer for RabbitMQ. What are the steps to include this in the list of samples & blog posts?

[2019-08-14 22:51] jeffhollan commented on #239
Thanks @NileshGule - this looks great.  One option is we let the repo continue to live where it is today and we link to it in our README and Wiki.  The other is we move the content over to the Kedacore org.  I'm really open to either. I imagine eventually we may move to a single repo called "KEDA Samples" that has samples for lots of stuff, but in the meantime while we still have only a handful of

[2019-08-14 23:35] NileshGule commented on #239
@jeffhollan Thanks for quick response. Lets keep the repo where it is currently. Please help to add the link to Wiki and README. If you can add me to the contributors list for KEDA, I can do it myself.
I am also working on the Kafka sample with .Net core. Will share the link to that soon.

[2019-08-16 07:14] tomkerkhove opened #321 "Create a samples GitHub repo"
[Jeff suggested](https://github.com/kedacore/keda/issues/239#issuecomment-521448870) before that we might need a dedicated repo for listing all the samples out there - Either part of the org or externally.

This allows folks to just send a PR rather than having to create an issue and ask somebody to list it.

I'm happy to pick this up and create a new repo.

[2019-08-19 22:45] jeffhollan commented on #154
The work on the function runtime for this is a bit out. Moving this out of the milestone for now but for now adding this to discussion

[2019-08-22 10:48] edganiukov commented on #51
In any case, if keda can't create HPA, it should report status to ScaleObject (prometheus query is invalid, some parameters are invalid, etc)

[2019-08-26 13:19] edganiukov opened #324 "Keda panics when I am trying to get a metric that doesn't exist"
After trying  to execute `kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1/namespaces/default/asdasd"` I got 500 error, instead of 400, because this metrics dosn't exist.
[code]

[2019-08-31 03:17] keikumata commented on #319
Any news on this? I'm hitting this issue as well

[2019-08-31 07:23] tomkerkhove opened #328 "Idea - Sync standup notes with repo"
It looks like HackMD allows you to sync notes with GitHub.
https://hackmd.io/c/tutorials/%2Fs%2Flink-with-github

We could link this repo and move every meeting in a `meeting`/`standup` folder.

This is just an idea but not that important, not sure if it will work nicely as well with PRs/locked master branch.

[2019-09-02 06:47] anirudhgarg commented on #303
#293

[2019-09-02 06:51] anirudhgarg commented on #293
Please add the documentation here: https://github.com/kedacore/keda/tree/master/spec and submit a PR. We are requesting all scaler authors to add documentation and spec here instead of the wiki

[2019-09-02 06:56] anirudhgarg commented on #170
Finally closing this out - have added a FAQ here:  https://github.com/kedacore/keda/wiki/FAQ

[2019-09-02 06:56] #170 closed

[2019-09-02 08:45] patnaikshekhar commented on #299
@tomkerkhove can you close this now that the spec has been added to the docs

[2019-09-02 08:45] patnaikshekhar commented on #301
@tomkerkhove can you close this now that the spec has been added to the docs.

[2019-09-02 08:49] #301 closed

[2019-09-02 08:49] #299 closed

[2019-09-02 08:49] tomkerkhove commented on #301
Done via #327

[2019-09-02 10:36] tomkerkhove opened #331 "Change runtime to provide access to deployed TriggerAuthentication CRDs"
Change runtime to provide access to deployed TriggerAuthentication CRDs so that scalers can access them for retrieving authentication information.

This allows scalers to just use the parameters rather than having to lookup all the CRDs themselves.

This is a follow-up action for #307

[2019-09-02 10:36] tomkerkhove commented on #331
If I remember correctly you were going to work on this @patnaikshekhar, is that correct?

[2019-09-02 10:37] tomkerkhove opened #332 "Change AWS SQS trigger to use new authentication approach"
The AWS SQS trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthentication.

[2019-09-02 10:38] tomkerkhove opened #333 "Change AWS CloudWatch trigger to use new authentication approach"
The AWS CloudWatch trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthenti

[2019-09-02 10:39] tomkerkhove opened #334 "Change Azure Event Hubs trigger to use new authentication approach"
The Azure Event Hubs trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthen

[2019-09-02 10:39] tomkerkhove opened #335 "Change Azure Storage Queue trigger to use new authentication approach"
The Azure Storage Queue trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAut

[2019-09-02 10:40] tomkerkhove opened #336 "Change Azure Service Bus Queue trigger to use new authentication approach"
The Azure Service Bus Queue trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/Trigge

[2019-09-02 10:40] tomkerkhove opened #337 "Change GCP Pub/Sub trigger to use new authentication approach"
The GCP Pub/Sub trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthenticat

[2019-09-02 10:41] tomkerkhove opened #338 "Change Kafka trigger to use new authentication approach"
The Kafka trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthentication.md

[2019-09-02 10:41] tomkerkhove opened #339 "Change liiklus trigger to use new authentication approach"
The liiklus trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthentication.

[2019-09-02 10:41] tomkerkhove opened #340 "Change Prometheus trigger to use new authentication approach"
The Prometheus trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthenticati

[2019-09-02 10:42] tomkerkhove opened #341 "Change Rabbit MQ trigger to use new authentication approach"
The Rabbit MQ trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthenticatio

[2019-09-02 10:42] tomkerkhove opened #342 "Change Redis trigger to use new authentication approach"
The Redis trigger should be changed so that it uses the new authentication approach documented in the [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/README.md#authentication).

This includes:
- Changing the scaler to retrieve the authentication information from the configured [`TriggerAuthentication` CRD](https://github.com/kedacore/keda/blob/master/spec/TriggerAuthentication.md

[2019-09-02 10:47] tomkerkhove commented on #161
The scaler spec changes are finalized and general info is surfaced via #331.

We should provide Pod Identity support for following scalers:
- Azure Event Hubs (#334)
- Azure Storage Queue (#335)
- Azure Service Bus Queue (#336)

[2019-09-03 17:29] patnaikshekhar commented on #331
Yes, @tomkerkhove I'll create a pull request for it this week

[2019-09-05 17:09] jeffhollan opened #345 "Add README / docs on external scaler"
So people know when use, how to build, etc.

[2019-09-05 17:17] jeffhollan commented on #237
Update from standup: A bit more work than we expected, @Aarthisk to chat with Fabio on if this is feasible or what is feasible.  Needs discussion on if this is a blocker.

Should probably just check that this works for any container that's in a broken state, can figure out functions runtime in future

[2019-09-09 21:25] #89 closed

[2019-09-10 20:18] jeffhollan commented on #217
Thanks @sc-chad - think there is a valid work item as well to do some load testing with KEDA to see how many queues are expected to be handled for a single replica on something like a standard AKS / GKE node

[2019-09-13 15:53] zodraz commented on #318
This only happens on the sample project provided. Works perfectly on properly producers/consumers.

[2019-09-13 16:02] sc-chad commented on #318
Well I may be missing something, but this was happening on our live staging environments.  Can you point me to what I should be using instead?

[2019-09-13 17:22] lee0c commented on #199
@seushermsft Any updates on this?

[2019-09-13 17:32] seushermsft commented on #199
@lee0c - PR #322 has been out to handle this change - It has one sign-off already. @stgricci is the person on my team making the actual change.

[2019-09-13 20:05] sc-chad opened #350 "Error updating scaledObject"
```time="2019-09-13T20:03:51Z" level=error msg="Error updating scaledObject (twitter-worker) status: Operation cannot be fulfilled on scaledobjects.keda.k8s.io \"twitter-worker\": the object has been modified; please apply your changes to the latest version and try again"```

I'm getting these messages on pods even after scaling down to zero.  What changes need to be applied here?

[2019-09-13 20:45] sc-chad commented on #350
So this looks like it happens from changing something on the scaledobject.  For example if you change the cooldownperiod or add/remove a label.

Once I manually deleted the scaledobject and recreated the errors went away.

[2019-09-14 02:51] ahmelsayed commented on #102
Closed in #315

[2019-09-14 02:51] #102 closed

[2019-09-14 02:51] ahmelsayed commented on #202
Closed in #315

[2019-09-14 02:51] #202 closed

[2019-09-15 22:31] anirudhgarg commented on #350
Closing this issue.

[2019-09-15 22:31] #350 closed

[2019-09-15 22:33] anirudhgarg commented on #321
Jeff created this repo and I have trasferred all known samples to a readme in that repo.

[2019-09-15 22:33] #321 closed

[2019-09-16 07:29] zodraz commented on #318
I can confirm that a properly RabbitMQ producer /consumer frees the connections after the HPA resizes down to the original state. I am using NServiceBus BTW.

And like I said if you tested with the sample project on Keda, it has some bug that the consumers are not scaled down and of course the connections per se on those consumers are not.

Cheers

[2019-09-16 09:59] tomkerkhove commented on #321
That's great!

We've once discussed this during the standup but should we assign owners per sample to know whom to contact?

/cc @jeffhollan

[2019-09-16 21:13] anirudhgarg commented on #305
Looks like there is an issue with RBAC. We require RBAC to be enabled on the Kubernetes cluster, can you please confirm that is the case.

[2019-09-18 06:51] sahanw1989 opened #353 "Keda Azure EventHub Scaler Support for Checkpoints Created by EventHub Python Library"
Raising this issue as we've noticed that the checkpoint struct in azure_eventhub.go has the following:
[code]
Note the JSON parameters in the checkpoint object are correct when using the .NET EventHub library. If the Python library is used the JSON strings are `partition_id, sequence_number, owner, token, epoch, event_processor_context, offset`. Note the case and the `_` in the values.

Just to co

[2019-09-18 09:39] joskfg opened #354 "Invalid error message"
In this message it indicates that the queue name is not provided, but it is actually the queue length

https://github.com/kedacore/keda/blob/ce639ecc577d922c6b55f02494e0d973fc2722cb/pkg/scalers/rabbitmq_scaler.go#L81

[2019-09-18 09:58] joskfg opened #356 "RabbitMQ scale down is not reliable"
**Description**
Currently KEDA checks the amount of messages that are in ready statement as we can see here

https://github.com/kedacore/keda/blob/ce639ecc577d922c6b55f02494e0d973fc2722cb/pkg/scalers/rabbitmq_scaler.go#L132

**Problem**
When you have only one consumer that is consuming a single message and there are no more ready messages in the queue. In this situation KEDA is going to scale the

[2019-09-18 19:36] ahmelsayed commented on #356
Thanks for the detailed issue and workaround @joskfg

I think your proposed solution makes sense to me. I need to read about message acknowledgement in rabbitmq and see what we can do.

[2019-09-18 19:36] ahmelsayed commented on #354
Closed in #355

thanks @joskfg!

[2019-09-18 19:36] #354 closed

[2019-09-19 17:13] jeffhollan commented on #217
@zroubalik - @anirudhgarg was going to look at some other ways we may be able to scale.  Would be good if you could coordinate if you were looking at the namespace 'short term' fix

[2019-09-20 02:03] eashi commented on #184
Is this proposal finalised? I see that the code has made it to the repo. I have been playing with a demo scaler and would like to know if I should switch to this approach?

[2019-09-20 02:08] jeffhollan commented on #184
Just merged in today. We’re still receiving scalers directly to the keda pkg if you want to submit but in meantime if you use the :master tag this should now be live and can play with it. Let us know how it goes

[2019-09-20 03:43] eashi commented on #184
Ah great, thanks Jeff :)

[2019-09-20 12:59] zroubalik commented on #217
Operator built by operator-sdk (I am currently workin on this) by default listens to a single namespace, it can be easily [changed](https://github.com/operator-framework/operator-sdk/blob/master/doc/operator-scope.md) (it is just a configuration change) to listen to all namespaces.

There might is an option to scale the number of goroutines handling reconciliations in the operator via [MaxConcurre

[2019-09-20 16:56] sc-chad commented on #356
If ```return items.Messages, nil``` is returning `Ready` messages then I think this could be avoided by using `Total` instead.  As that message count will stay at 1 until the message has been Acked.

[2019-09-20 17:07] joskfg commented on #356
I totally agee. The best solution is to use the total messages (ready+ack) .

[2019-09-24 03:28] abhirockzz opened #358 "Mention Azure Event Hub scaler limitations to avoid confusion"
As mentioned in the sample here https://github.com/kedacore/sample-javascript-eventhub-azure-function, *"As of now, the Event Hub scaler only supports reading from Blob Storage, as well as scaling only Event Hub applications written in C# or created with Azure Functions."* - This should be explicitly called out (probably as a README note in this section https://github.com/kedacore/keda#event-sourc

[2019-09-24 06:27] tomkerkhove commented on #358
Given KEDA does not care how the app was written I'm more wondering if this is an Azure Function limitation or not? 🤔

Do you know @ahmelsayed?

[2019-09-24 20:54] ahmelsayed commented on #358
It's an eventHub checkpoint format limitation. Eventhub checkpoints using storage, the format it uses for checkpointing is different per language. When Azure Functions is processing eventHub, it uses the EventHub C# sdk, which writes check points in C# format.

When Keda is reading the checkpoint, it's only handling C# format which is [defined here](https://github.com/kedacore/keda/blob/ec7430c63f

[2019-09-24 22:41] ahmelsayed commented on #179
Sorry for the delay in getting to this. I'll remove kubevalidator for now until either this https://github.com/urcomputeringpal/kubevalidator/issues/57 is available or we find a way to make it not always fail.

https://github.com/kedacore/keda/pull/363

[2019-09-24 22:54] ahmelsayed commented on #184
Closed in https://github.com/kedacore/keda/pull/294

[2019-09-24 22:54] #184 closed

[2019-09-25 05:38] tomkerkhove commented on #179
Agreed, sorry for that!

[2019-09-25 05:39] tomkerkhove commented on #358
Thanks for updating the docs @ahmelsayed ! Think that should be good enough to close the issue

[2019-09-25 05:43] #179 closed

[2019-09-25 05:44] #358 closed

[2019-09-25 18:59] #24 closed

[2019-09-25 19:00] #318 closed

[2019-09-25 21:15] aletc1 commented on #287
Keda team, please review this:
https://github.com/deislabs/osiris/issues/34?_pjax=%23js-repo-pjax-container#issuecomment-513327042

The issue is with the func toolset that has a missing configuration. e.g if you add this then everything work as expected:

"osiris.deislabs.io/loadBalancerHostname": "locahost"

In my case, localhost was the loadbalancer (Docker Desktop/Kubernetes) but it should be t

[2019-09-26 12:15] abhirockzz opened #367 "Support Go checkpoint format for Event Hubs"
similar to #353

In Go SDK for Event Hubs, `Checkpoint` (https://github.com/Azure/azure-event-hubs-go/blob/master/persist/checkpoint.go) looks like this:

[code]

[2019-09-26 17:30] seushermsft opened #368 "KEDA w/ AAD Pod Identity only works after killing pod"
When we deploy KEDA with AAD Pod Identity enabled using the Azure Storage Queue scaler, the scaler calls the managed identity api, gets a token, and then fails when reaching out to storage with the following error:

The first time, it gets past the MSI token [art and tries to hit storage with this error:

[code]

This happens each time we deploy KEDA with pod identity, even when other non-KEDA pod

[2019-09-26 17:53] jeffhollan commented on #368
@ahmelsayed as FYI to potentially test while looking at the Auth spec work items

[2019-09-26 18:15] abhirockzz commented on #320
KEDA supports Prometheus scaler (https://github.com/kedacore/keda#event-sources-and-scalers). You can choose to scale RabbitMQ based deployments based on any metric you want (without using the actual RabbitMQ scaler)

[2019-09-26 18:16] #353 closed

[2019-09-26 18:19] ahmelsayed commented on #367
I'd expect this to work since `sequenceNumber` and `offset` are there and they match the C# format (go json is case insensitive)

[2019-09-28 02:03] abhirockzz commented on #367
Thanks. I'll give it a try and update this thread

[2019-09-28 18:37] mikhailshilkov commented on #208
If I read it correctly, the scale to/from zero feature of HPA has been released in 1.16. Does it mean that it will replace the KEDA way of enabling/disabling the deployment any time soon? Does it make the whole controller obsolete?

[2019-09-28 19:24] jeffhollan commented on #208
A few things to note

- While HPA can scale custom metrics to zero, it still needs metrics to scale. So KEDA still relevant in being a single spot for a bunch of metric publishers and authentication with them

- Will also be some time before 1.16 is widely adopted so in interim good to have.

We should do it but just means one of the things KEDA does today it can offload to HPA, but would still ne

[2019-09-28 19:52] mikhailshilkov commented on #208
Yes, I'm not questioning KEDA, I guess `the whole controller` was an exaggeration but `handleScaleLoop` can probably go.
Thanks for the quick response!

[2019-09-28 21:30] jeffhollan commented on #208
Makes sense. The other thing I want to check out (let me know if others know in meantime) is the polling interval and latency of HPA scaling from 0. In KEDA it’s configurable. Not sure if we’d leave KEDA as an option to still drive if it’s providing some additional features

[2019-09-29 12:16] SubX7 commented on #319
same here with datadog's host's IP value:

          env:
            - name: DD_AGENT_HOST
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP

the error msg is mentioned at line 527:
https://github.com/kedacore/keda/blob/master/pkg/handler/scale_handler.go

[2019-09-30 03:43] scotty-c opened #369 "Error deploying keda via Helm"
If you run the standard deployment via Helm
[code]
you get the following error
[code]

[2019-09-30 06:44] tomkerkhove commented on #369
Thanks for reporting @scotty-c!

Would it be possible to get a full error log or some more info please?

@ahmelsayed Would it be possible that this is due to our recent validation/spec changes?
Happy to take a look, but will only be next week I'm afraid.

[2019-09-30 06:57] scotty-c commented on #369
@tomkerkhove  That is the only logs I have at the moment, keda wont install on the cluster. You can reproduce the error by just installing the chart with `helm install kedacore/keda-edge --devel --set logLevel=debug --namespace keda --name keda`

[2019-09-30 16:58] flowerinthenight commented on #305
The cluster is running on GKE with RBAC enabled.
[code]

[2019-10-03 07:49] sebastianspross opened #370 "[Question] Application Insights support"
Since I did not find any documentation or a tutorial for that I am totally stuck by implementing application insights in KEDA with a NodeJs function. Any ideas or hints? Is there something like a startup file where I can call and initialize the application insights library?

[2019-10-03 08:02] sebastianspross commented on #369
Same here. Recording to this [stackoverflow question](https://stackoverflow.com/questions/58166426/unable-to-install-keda-on-aks-with-helm) I downloaded the keda chart and changed `"helm.sh/hook": crd-install`  to `"helm.sh/hook": pre-install`

[2019-10-03 17:18] jeffhollan commented on #369
Thanks - @ahmelsayed agreed to look into this

[2019-10-04 15:32] sbawaska commented on #369
This issue was introduced in helm 2.14: https://github.com/helm/helm/issues/5806

[2019-10-04 15:38] sbawaska opened #371 "error installing alongside knative"
I have [knative](https://knative.dev/) installed in my k8s cluster. I then tried to install keda and got the following error:
[code]
there are at-least a couple of resources that have name conflicts with knative.
1. clusterrolebinding: hpa-controller-custom-metrics
1. clusterrole: custom-metrics-server-resources

[2019-10-06 08:57] tomkerkhove commented on #371
I can take a look at this if you want @ahmelsayed

[2019-10-09 23:22] ericbottard opened #373 "Move replica capping decision out of scaler"
Individual scaler implementations currently implement some mechanism to cap the number of replicas based on _e.g._ a number of partitions. Indeed, it makes no sense to _e.g._ have 5 consuming pods to a 3 partitions Kafka topic, as 2 of them would be starved. Examples of such logic can be found [here](https://github.com/kedacore/keda/blob/master/pkg/scalers/liiklus_scaler.go#L63-L65) and [here](htt

[2019-10-10 20:33] anirudhgarg commented on #371
That will be great @tomkerkhove. I will assign it to you

[2019-10-11 12:43] tomkerkhove opened #374 "Provide stable Helm chart releases"
As of today, we generate a new version of the helm chart for every change which results in a lot of new releases:
![image](https://user-images.githubusercontent.com/4345663/66652157-45cd1200-ec35-11e9-8c57-711a3d31ecf5.png)

Given that those are not stable versions, you have to specify the version of the chart you want to install and `helm install kedacore/keda-edge --devel --set logLevel=debug --

[2019-10-11 12:49] tomkerkhove commented on #371
`custom-metrics-server-resources` is only used in `KedaScaleController.yaml` which is not shipped as part of our Helm chart.

Did you run it manually yourself or where did you see this pop up?

[2019-10-13 19:28] abhirockzz opened #376 "Using Azure Event Hubs scaler results in "unable to download file from blob storage" error"
After creating the scaled object for Azure Event Hub along with a Event Hub consumer app in form of a `Deployment`, results in the following error:

_time="2019-10-13T17:39:33Z" level=error msg="error getting metric for scaler : unable to get checkpoint from storage: unable to download file from blob storage: -> github.com/kedacore/keda/vendor/github.com/Azure/azure-storage-blob-go/azblob.NewRespo

[2019-10-14 22:51] balchua opened #379 "Keda is rejecting pods when using downward apis"
When one of the pods uses the downward apis (i.e. fieldRef), keda is rejecting it.

Relevant code is here. https://github.com/kedacore/keda/blob/81cd511e89f75fd8cc39e1d5d244c7c4ee34bd03/pkg/handler/scale_handler.go#L411

Can we simply skip and ignore it and not return an error?

[2019-10-15 10:34] abhirockzz opened #381 "Prometheus scaler "disableScaleToZero" attribute"
The example for [Prometheus ScaledObject](https://github.com/kedacore/keda/blob/master/examples/prometheus_scaledobject.yaml#L19) includes the `disableScaleToZero` attribute. I don't see it being used in the [metadata definition](https://github.com/kedacore/keda/blob/master/pkg/scalers/prometheus.go#L31-L36). Is this valid ?

[2019-10-15 17:27] sbawaska commented on #371
I found `custom-metrics-server-resources` while manually applying KedaScaleController.yaml.  I was trying to work around the helm bug https://github.com/kedacore/keda/issues/369

[2019-10-15 22:35] sbawaska commented on #371
@tomkerkhove It looks like the ClusterRole `custom-metrics-server-resources` is not used to define any ClusterRoleBindings in the entire github org, so I think can be safely removed.

[2019-10-16 00:55] ahmelsayed commented on #369
Fixed in https://github.com/kedacore/keda/pull/382

[2019-10-16 00:55] #369 closed

[2019-10-16 06:10] tomkerkhove commented on #371
Do we still maintain the files in `deploy` @ahmelsayed?

I see we've recently changed them but not sure if it's just to keep them up to date or because of the strategy for KEDA.

[2019-10-16 06:11] tomkerkhove commented on #371
Not that I'm aware of.

[2019-10-16 06:28] shahiddev opened #383 "Impact of HPAScaleToZero feature in K8s upstream"
Hi All,

It looks like upstream K8s has support for scale to zero (behind a feature gate).
https://github.com/kubernetes/kubernetes/issues/69687

What does that mean for KEDA/Osiris?

[2019-10-16 07:20] tomkerkhove commented on #383
This is being discussed in #208 AFAIK

[2019-10-16 21:57] ahmelsayed commented on #161
Closing this issue as this is a per-scaler change

[2019-10-16 21:57] #161 closed

[2019-10-16 21:57] ahmelsayed commented on #335
https://github.com/kedacore/keda/pull/380

[2019-10-16 21:57] #335 closed

[2019-10-16 22:55] balchua commented on #381
@abhirockzz, you're right.  i dont think its used at all. The sample is obsolete.
Having the minreplicas=1 defined is sufficient.

[2019-10-16 23:31] shahiddev commented on #383
Thanks @tomkerkhove  - I searched but clearly not well enough! I'll close this

[2019-10-16 23:31] #383 closed

[2019-10-17 06:27] tomkerkhove commented on #335
@ahmelsayed I see that the old approach is still included here:
https://github.com/kedacore/keda/blob/master/spec/triggers/azure-storage-queue.md

Is that for sake of keeping docs for older versions or?

We might want to re-open this one to update the samples:
- https://github.com/kedacore/keda/blob/master/examples/azurequeue_scaledobject_jobs.yaml
- https://github.com/kedacore/keda/blob/master/ex

[2019-10-17 06:28] #297 closed

[2019-10-17 19:13] sbawaska commented on #371
Since `KedaScaleController.yaml` is advertised as being usable in the README, I submitted another PR: https://github.com/kedacore/keda/pull/388

[2019-10-18 06:08] tomkerkhove commented on #371
Thanks man!

[2019-10-19 18:04] daniel-habib opened #389 "RabbitMQ scaler documentation should be more clear abuot vhost"
RabbitMQ can have many vhosts (each holding many queues)
a user might be permitted to read just some vhosts.
when one tries to use a user that can access just some vhost - one get the following messages:
`error establishing rabbitmq connection: Exception (403) Reason: \"no access to this vhost\""`

using url notation like specified here: https://www.rabbitmq.com/uri-spec.html (e.g. amqp://1.1.11:5

[2019-10-21 17:36] #371 closed

[2019-10-21 18:49] gohar94 commented on #345
Any instructions on how to build from source? I want to make some source changes and build again. Any instructions for the recommended process to do this would be really helpful, considering this is an open source project and folks from all around should be encouraged to contribute. :)

[2019-10-21 19:02] jeffhollan commented on #345
It's a great callout.  @ahmelsayed @Aarthisk @anirudhgarg would be fantastic in advance of KEDA 1.0 you could help write a contributor guide?  Things like:

1. How to build out KEDA to test locally / with your own bits
1. How to build a scaler (any tips, places to start, general guidance on what it is)
1. How to test your bits before opening a PR
1. Any general guidance on what a PR should or shou

[2019-10-22 13:46] abhirockzz opened #393 "Provide Scaled Object spec for Prometheus"
Provide Scaled Object spec for Prometheus

[2019-10-23 14:12] abhirockzz commented on #376
Can this be confirmed as a valid issue? If yes, I would be happy to dig in further

[2019-10-23 14:14] abhirockzz commented on #338
I see work in progress for other scalers to integrate trigger authentication. Happy to take this up if I can get some "getting started" hints

[2019-10-23 15:23] tomkerkhove commented on #338
Thanks man!

[2019-10-24 17:23] jeffhollan opened #398 "Add the helm install to the nightly end to end test"

[2019-10-24 17:23] jeffhollan opened #399 "Remove the vendor directory once the operator SDK is merged"
#54

[2019-10-25 09:25] abhirockzz opened #400 "Unable to create NATS streaming scaler"
Creation of a `ScaledObject` for NATS streaming failed. Here is the error log from KEDA operator `Pod` - `Error getting scalers error getting scaler for trigger #0: no scaler found for type: stan"` - this is merged but not yet released?

(sorry I am not familiar with the end to end process)

[2019-10-25 09:29] abhirockzz opened #401 "Error installing KEDA using Helm chart"
Steps:

- helm repo add kedacore https://kedacore.azureedge.net/helm
- helm repo update
- helm install kedacore/keda-edge --devel --set logLevel=debug --namespace keda --name keda

Error:

`Error: release keda failed: clusterrolebindings.rbac.authorization.k8s.io "keda-keda-edge" already exists`

[2019-10-25 09:35] abhirockzz commented on #400
cc @balchua - I was writing an example. Everything is ready but unable to install the scaler

[2019-10-25 10:17] balchua commented on #400
Using the latest image?  May i know the error you're getting?

[2019-10-25 10:47] tomkerkhove commented on #401
Can you provide some information such as chart version please?

[2019-10-25 10:59] balchua commented on #400
Im also not sure of the release process but i think there is a `master` tag which was released 4 days ago.  I think this tag is taken from the master branch.

[2019-10-25 13:56] abhirockzz commented on #400
@balchua the error message is included in the description

I am simply using `kubectl apply -f https://raw.githubusercontent.com/kedacore/keda/master/deploy/KedaScaleController.yaml` to deploy KEDA ([facing a problem with Helm](#401 )) - the operator `Deployment` does refer to the `latest` tag.

[2019-10-25 13:59] abhirockzz commented on #401
@tomkerkhove steps are from [the KEDA README](https://github.com/kedacore/keda#deploying-with-a-helm-chart) which does not refer to the chart version

[2019-10-25 14:20] balchua commented on #400
That yaml you are using is pointing to the `latest` tag (`image: kedacore/keda:latest`).

Try the master tag `image: kedacore/keda:master`

[2019-10-25 17:20] ahmelsayed commented on #401
fixed in #402. This should track improving this https://github.com/kedacore/keda/issues/398

[2019-10-25 17:20] #401 closed

[2019-10-26 00:30] balchua commented on #400
@abhirockzz i confirm that the image `kedacore/keda:master` contains the nats streaming scaler.  I tend do it like this. `helm template --namespace keda -n keda --set image.repository=kedacore/keda --set image.tag=master .  | kubectl apply -f -`

[2019-10-26 02:51] abhirockzz commented on #400
@balchua Thanks for confirming. It works for me too - I simply updated the image in the YAML mentioned above. But this should simply work out-of-the-box when KEDA is installed using the steps in README (just like it does for other scalers). I guess it's a matter of time? maybe @ahmelsayed can comment ?

[2019-10-26 07:39] balchua commented on #400
Thanks for confirming @Abhirockzz

[2019-10-28 06:50] TsuyoshiUshio opened #405 ".vscode should be ignored by .gitignore"
`.vscode` should be configured for each development environment and should be in the .gitignore, IMO. It might helpful people configure their own configuration without committing their change to the repo.

[2019-10-30 13:02] abhirockzz commented on #376
@tomkerkhove  / @ahmelsayed / @Aarthisk - just wanted to check if you have any insights? Happy to work on a PR once I have some clarification

[2019-10-30 16:00] jeffhollan commented on #376
I see what this code path is trying to do.  Assuming you provide a storage account connection string in the metadata as described in the sample:
https://github.com/kedacore/keda/blob/master/spec/triggers/azure-event-hub.md

It will create a blob container to manage the checkpoints.  Does your metadata not include the connection string secret reference?

[2019-10-31 04:02] jeffhollan opened #406 "Update helm repo for Helm 2.16 and 3.0"
A few errors reported when trying to use Helm 3 to install (now in RC).  I'm seeing this error:

I wonder if we should just remove the `appVersion` from our index anyway as it's optional and I'm not sure if it's needed.  I also don't know why helm 3 is complaining as they all look like strings to me, but nonetheless likely need to do some work here to make sure it works.

[2019-10-31 16:21] abhirockzz commented on #376
@jeffhollan yes, I do have the right metadata (as env variable) for blob storage.

Just to clarify again, the problem right now is that blob storage which KEDA is using (https://github.com/kedacore/keda/blob/master/pkg/scalers/azure_eventhub.go#L88) is not as per the format which is actually created by the Event Hubs Go client (`https://<STORAGE_ACC_NAME>.blob.core.windows.net/<STORAGE_ACC_NAME>/$

[2019-10-31 17:26] jeffhollan opened #408 "Create a landing page for https://keda.sh"
We can host, but we'd love to have a page for people to find and learn more about the project / link to the page.

Static hosting on GitHub pages is sweet, whatever

// @tomkerkhove

[2019-10-31 17:38] jeffhollan commented on #336
@ahmelsayed or @SatishRanjan was this one you already did? Or are doing?

[2019-10-31 18:30] tomkerkhove commented on #406
Have no experience with Helm 3 but could also be based on where it is hosted. For example, I don't know if ACR for example supports Helm 3 yet.

[2019-10-31 22:04] #381 closed

[2019-10-31 22:07] zroubalik commented on #405
this should be fixed as part of #387

[2019-10-31 22:22] #399 closed

[2019-10-31 23:54] bacongobbler commented on #406
a similar issue was reported upstream. https://github.com/helm/helm/issues/6849

Removing the appversion from the index.yaml would help.

[2019-11-01 16:57] zroubalik commented on #54
@jeffhollan this can be closed since the PR is merged. I am not able to close this issue.

[2019-11-01 17:06] zroubalik opened #417 "ScaledObject Status fields are not updated"
ScaledObject Status has `DesiredReplicas` and `CurrentReplicas` fields which are not updated, they are currently set to `0`.

We should fix this or remove this fields from the Status as they are present in HPA.

[2019-11-02 21:26] TsuyoshiUshio commented on #405
Great. Now I can't see .vscode on the master branch. Thank you for letting me know.

[2019-11-02 21:26] #405 closed

[2019-11-03 12:02] christophwille opened #420 "Deploy expects keda namespace"
Following instructions on readme for kubectl,  `kubectl apply -f deploy/` fails with

Error from server (NotFound): error when creating "deploy/operator.yaml": namespaces "keda" not found
Error from server (NotFound): error when creating "deploy/service.yaml": namespaces "keda" not found
Error from server (NotFound): error when creating "deploy/service_account.yaml": namespaces "keda" not found

P

[2019-11-03 14:22] tomkerkhove commented on #167
Dashboard is available here: https://github.com/kedacore/dashboard

[2019-11-03 14:24] tomkerkhove commented on #408
I'll give Hugo a try, any preference for a theme?
https://themes.gohugo.io/

[2019-11-03 16:17] tomkerkhove commented on #408
@jeffhollan feel free to assign it to me.

WIP - https://keda-staging.netlify.com/

[2019-11-03 18:16] tomkerkhove opened #422 "Document how to contribute a new scaler"
Document how to contribute a new scaler so that folks can jump in and help.

This comes from https://github.com/kedacore/keda/wiki/FAQ while migrating to our doc page

[2019-11-04 17:04] #420 closed

[2019-11-04 20:59] ahmelsayed opened #425 "Re-enable nightly tests"

[2019-11-05 22:36] amrmahdi opened #427 "RabbitMq scaler error: no host setting given although the host is specified"
I was going through the [go example](https://github.com/kedacore/sample-go-rabbitmq) and I hit an error from the keda containers (operator & metrics server):

[code]

Although the host is specified:

[code]

I verified that rabbitQ is running and both consumer and publisher are receiving/sending messages properly to the same host.

[2019-11-06 15:43] amrmahdi commented on #427
The issue was that the sample is outdated that is it is using the host as the value, but according to the following [spec](https://github.com/kedacore/keda/blob/master/spec/triggers/rabbit-mq-queue.md) the host is just a key name pointing to a secret or a config map. Updating the deployment according to the spec worked.

[2019-11-06 15:43] #427 closed

[2019-11-07 22:41] tomkerkhove opened #435 "Create a Twitter account"
Create a Twitter account for folks to approach us or share interesting projects

[2019-11-07 22:42] tomkerkhove opened #436 "Provide an IM Channel"
Provide an IM Channel where a community can grow to talk about things that don't relate to issues/PRs

[2019-11-07 23:42] balchua commented on #379
Im going to close this since https://github.com/kedacore/keda/pull/404 is merged.

[2019-11-07 23:42] #379 closed

[2019-11-07 23:44] balchua commented on #436
Is the keda channel in kubernetes not the place? But i have to admit its quiet over there.

[2019-11-07 23:52] tomkerkhove commented on #436
Frankly, I was not aware of that one. Wouldn't gitter be a better place for this? That's a big Slack to join ??

Tom Kerkhove
Azure Architect at Codit, Microsoft Azure MVP

________________________________
From: balchua <notifications@github.com>
Sent: Thursday, November 7, 2019 6:44:34 PM
To: kedacore/keda <keda@noreply.github.com>
Cc: Tom Kerkhove <kerkhove.tom@gmail.com>; Author <author@noreply

[2019-11-07 23:57] balchua commented on #436
True that its a big slack to join, but i guess most kubernauts perhaps are already there. Ive only seen @jeffhollan  and @zroubalik there. 😁

[2019-11-08 00:00] tomkerkhove commented on #436
Frankly, I don't really care so if that's good, I'm good😁

We just have to document it then.

[2019-11-08 02:24] #54 closed

[2019-11-08 02:32] ahmelsayed opened #437 "Reconcile doesn't fire sometimes after adding a finalizer"
@zroubalik I'm not sure what the issue is here, and I might need your help.

I have 2 nightly tests that deploy those yamls ([test 1](https://github.com/kedacore/keda/blob/master/tests/scalers/azure-queue.test.ts#L103-L159), [test 2](https://github.com/kedacore/keda/blob/master/tests/scalers/azure-queue-trigger-auth.test.ts#L109-L172))

In test 1 the ScaledObject looks like this

[code]

and in te

[2019-11-08 02:48] zroubalik commented on #437
thanks for letting me know @ahmelsayed I'll take a look what's the problem

[2019-11-08 05:00] anirudhgarg commented on #400
The old yaml file which you are trying to use no longer works after we merged in the operator sdk integration. We are going to be updating the documentation very soon.

[2019-11-08 05:00] #400 closed

[2019-11-08 11:58] balchua commented on #342
Im interested in taking this up, if we have some samples or getting started guide, that will be great.

[2019-11-08 18:59] tomkerkhove commented on #422
@jeffhollan you're mention that you want to work on this, right?

[2019-11-08 19:02] jeffhollan commented on #422
I’m happy to but haven’t started yet. Was just what we chatted about yesterday. So saying they need to include unit tests and doc references and update README and include an example. I won’t get to this until next week so if you get the chance before then go for it and we can collaborate on the PR. Let me know

[2019-11-08 19:10] tomkerkhove opened #439 "Define & document versioning/release strategy"
Define & document versioning/release strategy which would help new customers guide how to use KEDA and what to expect.

[2019-11-08 19:12] tomkerkhove commented on #422
Not perse but *might* see if I have some more time later next week, need to finalize the docs first!

[2019-11-08 23:04] ahmelsayed commented on #425
#440

[2019-11-08 23:04] #425 closed

[2019-11-08 23:12] ahmelsayed commented on #185
CI/CD part is mostly done. There are 3 workflows:

* [master build](https://github.com/kedacore/keda/blob/master/.github/workflows/master-build.yml)
* [pull request validation](https://github.com/kedacore/keda/blob/master/.github/workflows/pr-validation.yml)
* [nightly e2e test](https://github.com/kedacore/keda/blob/master/.github/workflows/nightly-e2e.yml)

[2019-11-09 03:59] balchua commented on #437
I am also experiencing this one, while working on the Redis scaler with TriggerAuthentication.

[2019-11-09 08:03] tomkerkhove commented on #185
Awesome - Thanks!

Will it create a GitHub release for official releases as well or not?

[2019-11-09 12:40] eashi commented on #422
I have started with some content before: PR #395 . I guess the PR has the wrong title now; it started with how to run locally but I added a commit that is related to the documentation by mistake, should have been another PR.

What do you think? I can abandon PR #395 and create another one that fits your vision for the documentation, I am hoping that we don't fit everything in the FAQ.

[2019-11-09 23:12] #341 closed

[2019-11-10 02:47] VenkateshSrini opened #442 "Unable to get access Keda service in docker for windows desktop"
I have created the attached deployment.yaml file. When I do a kubectl -f <deploy.yaml> the service is getting created but not the external load balancing ip. Could you please let me know what is wron in this. I generated this using the below command only
`func kubernetes deploy --name petshoporders --registry <your-docker-registry-name> --dry-run > deploy.yaml`

deploy.yaml file is as below

[code

[2019-11-10 07:34] balchua commented on #342
This can now be closed after merging #441 .

[2019-11-11 16:03] zroubalik commented on #437
TLDR: optional structures in ScaledObject type should be pointers, to prevent client with initializing them with an update.

So the problem is in inconsistency `ScaledObject` type, sometimes adding a finalizer on the object incremented Object's `Generation`, sometimes not -> that' why the Reconcile loop doesn't fire sometimes.

Adding a finalizer should not increment Generation. But when we [updat

[2019-11-11 18:07] #437 closed

[2019-11-11 18:12] agowdamsft commented on #157
Is this still open? I see https://github.com/kedacore/keda/pull/322 merged which gives external checkpoint functionality, was wondering if these 2 issues are different.

[2019-11-11 18:27] jeffhollan commented on #157
Yes the only gap now is documentation.  I think the two recommendations are:

1. Leverage the pre-hook for termination to delay scaling down of a pod until your application returns the correct SIGTERM to let Kubernetes know it’s ok to scale down.  The upside of this approach is you can still use standard deployments / concurrent containers.  The downside is if a job is delaying scale down for a lo

[2019-11-11 18:36] jeffhollan commented on #217
@zroubalik just confirming if the `WATCH_NAMESPACE` will work with KEDA now given that we are running on operator SDK?

[2019-11-12 04:16] jeffhollan commented on #435
Have one. Not sure how active we will be on it as it has no followers :)

https://twitter.com/kedaorg

[2019-11-12 04:16] #435 closed

[2019-11-12 04:16] jeffhollan commented on #436
Will document as part of README refactor

[2019-11-12 04:17] jeffhollan commented on #439
Will document as part of README refactor.

[2019-11-12 04:18] jeffhollan commented on #422
This is awesome.  Almost close-worthy per @eashi great contribution of #443 .  I'll also include some contributor guidance around including docs and such when adding scaler and how to do that.