[2022-08-01 07:02] tomkerkhove commented on #3120
We should have both but we can start with just Prometheus for now.

Are you willing to contribute this?

[2022-08-01 07:07] tomkerkhove commented on #3431
Fair ask! Are you willing to contribute this?

[2022-08-01 07:08] tomkerkhove commented on #2940
I think that's fair

[2022-08-01 07:34] zroubalik commented on #2844
We are still `v1alpha1` so I don't think we need to wait till v3.0 and actually I wouldn't like to wait. What about deprecation period of 3 releases?

[2022-08-01 07:49] tomkerkhove commented on #2844
Fair enough, but there are a lot more of them AFAIK so better build a whole list.

Another approach is introduce version per scaler for this to have more granular control (see https://github.com/kedacore/keda/issues/613)

[2022-08-01 09:50] goku321 commented on #2391
Hi @JorTurFer In the process of testing the scaler. Will try to create a PR by today.

[2022-08-01 11:53] vickithedeveloper commented on #3441
I was continuing my testing today on the same code as in the previous comment and observed following issues -
1. Today I tested the code with the AAD pod id binding in the YML . It was working and was able to scale from 0 to 10. How ever the errors mentioned earlier are still present, but intermittently.  Also scale down is not working.
2. As part of additional testing I removed the checkpoint fol

[2022-08-01 18:49] evenh commented on #2838
After upgrading from K8s 1.21 to 1.22.11 I observed the following error when trying to run a third-party tool locally (popeye):

After digging around I came up with the following `NetworkPolicy` which resolved my problem.
[code]

I'm not sure if this helps the issue reported, but I thought I'd share so it might help someone.

[2022-08-02 06:00] tomkerkhove opened #3467 "Introduce carbon aware scaler"
### Proposal

Provide a carbon aware scaler that allows end-users to scale based on their impact on the environment.

As per @rossf7 on https://github.com/kedacore/keda/issues/3381:

Also:

### Use-Case

Automatically scale workloads out while the impact on the environment is low, scale in if the impact is too high.

This is useful for batch-like workloads.

### Anything else?

Relates to https://

[2022-08-02 06:00] tomkerkhove commented on #3381
I have created https://github.com/kedacore/keda/issues/3467 as a dedicated scaler. I will close this one given the main ask is for combining scalers with an OR which we are already tracking.

[2022-08-02 06:00] #3381 closed

[2022-08-02 07:07] tomkerkhove commented on #3467
I'm leaning towards using the Green Web Foundation's Go SDK but open to thoughts

[2022-08-02 08:42] tomkerkhove opened #3470 "Change workflows to auto-add issues to GitHub Project because of deprecation"
Change workflows to auto-add issues to GitHub Project

https://www.cloudwithchris.com/blog/github-projects-ga-automation-updates/

[2022-08-02 11:19] #3448 closed

[2022-08-02 11:33] rootfs commented on #3467
I like this idea!

A couple of questions:
- How does the carbon API help? If all the deployments are in the same data center/same geo, does carbon intensity change the anything in compute? It looks to me the best use case is the multi-cluster, multi data center case (see some prior study [here](http://ceur-ws.org/Vol-2382/ICT4S2019_paper_28.pdf) )
- Does it make sense to schedule *every* deploymen

[2022-08-02 11:59] #3449 closed

[2022-08-02 12:36] JorTurFer commented on #2737
Redis is almost done, I have the PR opened

[2022-08-02 12:47] rossf7 commented on #3467
@tomkerkhove Thanks for adding this and improving the design. So we can implement this scaler sooner and combine with more scalers once the OR support is in place.

Of course we'd love it if you can use the SDK!

Just a heads up that we need to make some breaking changes in https://github.com/thegreenwebfoundation/grid-intensity-go/issues/44 to be able to support more providers of carbon intensity

[2022-08-02 13:07] tomkerkhove commented on #3467
Correct!

Good to know, thanks for sharing! If you are contributing to the SDK; are you willing to contributing the scaler as well?

[2022-08-02 13:12] mrchrisadams commented on #3467
Hi @rootfs, I've been working with @ross7 on the grid intensity go SDK thing. I've tried to provide some more background to the answers

The above example works by moving workloads geographically (as in, it moves them through space).

You can also move workloads temporally (as in move them through time).

The carbon intensity changes based on the time of day, so the same workload run at different

[2022-08-02 13:50] rossf7 commented on #3467
@tomkerkhove Yes definitely, I'd like to contribute the scaler. We need to finish up the SDK changes and some other dev but I should be able to start on this later in the month.

[2022-08-02 14:28] AmmarRami commented on #3061
Hello,
When this fix will be released please? It's opened on 2.7.1 and it's the last release.

Thanks

[2022-08-02 16:26] #3056 closed

[2022-08-03 08:56] christle commented on #3441
Hi,

what about your consumer group? It looks incorrect in your error message "BlobNotFound". Did you replace that just for your GitHub post, or is that your real error message?

[2022-08-03 09:22] JorTurFer commented on #2737
@goku321 , do you know about Redis Stream in general? Could I ask if you could answer [this](https://github.com/kedacore/keda/pull/3415#issuecomment-1193181474)?

[2022-08-03 10:37] ShineSmile commented on #3326
Sorry, I found that there is no other metrics could be found besides *keda_metrics_adapter_scaler_errors_total*. I have confirmed that there is a ScaledObject working in the cluster.
![image](https://user-images.githubusercontent.com/8800442/182587598-fc944e5d-75a9-496e-bad1-3177f3bf2a62.png)

Helm Chart version 2.7.2
I think it is caused by there is no error just occurred for exist ScaledObject u

[2022-08-03 10:41] zroubalik commented on #3326
@ShineSmile cool thanks, just FYI, we plan to do release next week (Aug 10), so if you happen to fix this before the release, we can include it in.

[2022-08-03 11:00] #3419 closed

[2022-08-03 12:48] #3250 closed

[2022-08-03 12:48] #3251 closed

[2022-08-03 12:48] #3252 closed

[2022-08-03 12:56] #2645 closed

[2022-08-03 18:36] #3426 closed

[2022-08-04 08:01] #3436 closed

[2022-08-04 13:26] #3237 closed

[2022-08-04 13:29] mend-bolt-for-github[bot] opened #3503 "CVE-2022-2596 (Medium) detected in node-fetch-2.6.7.tgz"
## CVE-2022-2596 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-fetch-2.6.7.tgz</b></p></summary>

<p>A light-weight module that brings window.fetch to node.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/node-fetch/-/node-fetch-2.6.7.tgz">

[2022-08-04 13:43] #3503 closed

[2022-08-04 14:02] #3260 closed

[2022-08-04 14:13] dmeytin commented on #479
I hope we'll agree to start mult-cluster support for KEDA.
It's a crucial feature for enterprise scale systems.

On Mon, Aug 1, 2022 at 9:46 AM Tom Kerkhove ***@***.***>
wrote:

[2022-08-04 14:19] #3238 closed

[2022-08-04 18:11] sanasz91mdev commented on #2566
So helpful! thanks!

[2022-08-04 18:29] pragmaticivan commented on #3154
@tomkerkhove Just the take-over control via CD pipeline. If someone already has an HPA, there will be no need to delete that resource and add keda after that. The same applies to just removing the ScaleObject, the existing hpa would take over as a fallback.

[2022-08-04 18:31] pragmaticivan commented on #3431
I might be able to help but will take quite some time (Still refreshing my skills with go) 😂 If anyone else has the need for this feature asap.

[2022-08-04 22:32] #3244 closed

[2022-08-05 02:53] JorTurFer opened #3504 "Fix code scanning alert - GHSA-8c26-wmh5-6g9v"
Tracking issue for:
- [ ] https://github.com/kedacore/keda/security/code-scanning/22

[2022-08-05 02:58] JorTurFer commented on #3504
false positive

[2022-08-05 02:58] #3504 closed

[2022-08-05 08:27] Hello-Linux opened #3506 "CPU/MEM percentage in HPA should be based on limits!"
### Proposal

I think the cpu and mem should base on pod limit not request
like this issue https://github.com/kubernetes/kubernetes/issues/72811

### Use-Case

_No response_

### Anything else?

_No response_

[2022-08-05 09:14] zroubalik commented on #3506
We rely on the upstream HPA implementation, so this change would need to be driven there.

[2022-08-05 09:18] Hello-Linux commented on #3506
@zroubalik  The official processing speed is very slow. I feel that keda should implement this function by itself. If you rely on them to solve it, you may have to wait until the earth is extinct!

[2022-08-05 09:21] zroubalik commented on #3506
This would require us to reimplement the whole autoscaler and I don't feel like that's something we should do at the moment.

@Hello-Linux if you feel the upstream is slow, then I think that sending a PR with the feature might speed up things a little bit :) I can see this feature as a optional setting on HPA, to not break existing stuff. Are you up to implement that?

[2022-08-05 09:22] #2737 closed

[2022-08-05 09:22] #3435 closed

[2022-08-05 09:34] v-shenoy commented on #2737
Took a while, but we got there :)

[2022-08-05 09:36] Hello-Linux commented on #3506
@zroubalik  Okay, let me urge the official

[2022-08-05 10:01] zroubalik opened #3509 "Produce reproducible builds"
### Proposal

Produce reproducible builds - we should be able to rebuild the same binary release everytime.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-08-05 13:47] JorTurFer commented on #3509
Once we fix this, we need to update best practices[ survey to reflect the status](https://github.com/kedacore/governance/issues/8)
FYI @tomkerkhove

[2022-08-05 14:37] lgklkh opened #3514 "Wrong calculation in selenium_grid_scaler when minReplicaCount defined"
### Report

You have wrong calculation in selenium_grid_scaler.
`maxSession` and `NodeCount` are the total aggregated indicators for hub (not only from nodes with expected browserName and browserVersion)
For example I have grid:
2 chrome pods, 2 firefox pods and 2 msedge pods.
NodeCount = 2 chrome + 2 firefox pods + 2 msedge = 6
I set MaxSession=1 for each pod and got maxSession = NodeCount * 1 =

[2022-08-05 19:28] #3417 closed

[2022-08-06 13:04] christle commented on #3022
FYI: I've created a PR on Dapr to bring that topic forward: [https://github.com/dapr/components-contrib/pull/1940](https://github.com/dapr/components-contrib/pull/1940)

[2022-08-06 14:37] #2812 closed

[2022-08-07 08:09] tomkerkhove commented on #2353
Any update on this @SushmithaVReddy ?

[2022-08-08 05:08] tomkerkhove commented on #479
@dmeytin Feel free to post in https://github.com/kedacore/keda/issues/1587

[2022-08-08 05:12] tomkerkhove commented on #3022
Does that mean we will only support the new Dapr version or not? (just to verify)

[2022-08-08 05:13] tomkerkhove commented on #3141
This is being picked up by @christle

[2022-08-08 06:35] tomkerkhove commented on #3154
So the ask is to not only be able to bring-your-own HPA, but also preserve it after deleting the ScaledObject; is that correct?

[2022-08-08 06:48] zroubalik commented on #3154
And what if the original HPA is owned by another tool/controller? Then we will have a conflict in ownerRefs. I am not a fan of this proposal TBH.

[2022-08-08 06:57] tomkerkhove commented on #3154
Yes, I have some doubts as well as there can be decent chunk of implications.

[2022-08-08 07:08] #2328 closed

[2022-08-08 07:35] tomkerkhove commented on #2737
Congrats and thanks to everyone who has contributed to this! 🎉

[2022-08-08 07:39] goku321 commented on #2391
Hi all. Can anyone from this thread with JetStream experience please review this scaler (https://github.com/kedacore/keda/pull/3468)? Would really appreciate the help :)

[2022-08-08 08:02] #1378 closed

[2022-08-08 14:09] #853 closed

[2022-08-08 14:44] pragmaticivan commented on #3154
All good on that one :D Was just thinking if there would be a way to easily change things progressively. You have good points.

[2022-08-08 14:44] #3154 closed

[2022-08-08 14:52] v-shenoy commented on #2800
Is every scaler done now?

[2022-08-08 15:03] zroubalik commented on #2800
Redis Streams is missing because we are not sure about the functionality. If you happen to have Redis Streams knowledge, or know anybody, open a PR for that please!

[2022-08-08 19:03] #2391 closed

[2022-08-08 20:44] #3051 closed

[2022-08-09 03:28] ShineSmile commented on #3326
@zroubalik Sorry, I'm afraid I couldn't catch up with it. Please give me one more iteration.

[2022-08-09 07:12] tomkerkhove opened #3522 "Provide CloudEvents around the management of ScaledObjects resources"
### Proposal

## Event Types

- [ ] `keda.scaledobject.created.v1`
- [ ] `keda.scaledobject.updated.v1`
- [ ] `keda.scaledobject.removed.v1`

## Payload:
[code]

### Use-Case

Allow end-users to react to changes to their ScaledObjects by using our `EventSource` CRD

### Anything else?

Relates to https://github.com/kedacore/keda/issues/479

[2022-08-09 07:12] tomkerkhove opened #3523 "Provide CloudEvents around the management of ScaledJobs resources"
### Proposal

## Event Types

- [ ] `keda.scaledjob.created.v1`
- [ ] `keda.scaledjob.updated.v1`
- [ ] `keda.scaledjob.removed.v1`

## Payload:
[code]

### Use-Case

Allow end-users to react to changes to their ScaledJobs.

### Anything else?

_No response_

[2022-08-09 07:12] tomkerkhove opened #3524 "Provide CloudEvents around the management of (Cluster)TriggerAuthentication resources"
### Proposal

## Event Types

- [ ] keda.authentication.triggerauthentication.created.v1
- [ ] keda.authentication.triggerauthentication.updated.v1
- [ ] keda.authentication.triggerauthentication.removed.v1
- [ ] keda.authentication.clustertriggerauthentication.created.v1
- [ ] keda.authentication.clustertriggerauthentication.updated.v1
- [ ] keda.authentication.clustertriggerauthentication.remove

[2022-08-09 07:12] tomkerkhove opened #3525 "Provide CloudEvents around the management of EventSources resources"
### Proposal

## Event Types

- [ ] keda.eventsource.created.v1
- [ ] keda.eventsource.updated.v1
- [ ] keda.eventsource.removed.v1

## Payload:
[code]

### Use-Case

Allow end-users to react to changes to their EventSources.

### Anything else?

Relates to https://github.com/kedacore/keda/issues/479

[2022-08-09 07:17] tomkerkhove opened #3526 "Provide CloudEvents when workload(s) are scaling in/out"
### Proposal

## Event Types

- [ ] keda.workload.scaling.scaleout.v1
- [ ] keda.workload.scaling.scalein.v1

## Payload:
[code]

### Use-Case

Allow end-users to get notified when a workload is actively scaling out/in.

### Anything else?

Given we rely on the HPA, we need to find a way to integrate with it to leverage this.

Relates to https://github.com/kedacore/keda/issues/479

[2022-08-09 07:17] tomkerkhove opened #3527 "Provide CloudEvents when scaling workload(s) from/to 0"
### Proposal

## Event Types

- [ ] keda.workload.scaletozero.v1
- [ ] keda.workload.scalefromzero.v1

## Payload:
[code]

### Use-Case

Allow end-users to get notified when workloads are scaling to/from 0.

### Anything else?

Relates to https://github.com/kedacore/keda/issues/479

[2022-08-09 07:20] tomkerkhove opened #3528 "Provide CloudEvents around workloads that are exceeding maximum replicas"
### Proposal

## Event Types

- [ ] `keda.workload.scaling.maxreplicasexceeded.v1`

## Payload:
[code]

### Use-Case

Allow end-users to react to applications that are at maximum replicas, but need more instances so they can re-assess their autoscaling rules and mitigate performance degradations.

### Anything else?

Relates to https://github.com/kedacore/keda/issues/479

[2022-08-09 07:26] tomkerkhove opened #3529 "Provide CloudEvents around autoscaling being paused/resumed"
### Proposal

## Event Types

- [ ] keda.workload.scaling.paused.v1
- [ ] keda.workload.scaling.resumed.v1

## Payload:
[code]

### Use-Case

Allow end-users to get notified when autoscaling is being paused/resumed.

### Anything else?

Relates to https://github.com/kedacore/keda/issues/479

[2022-08-09 07:27] tomkerkhove opened #3530 "Provide CloudEvents around failed authentications for scaling triggers"
### Proposal

## Event Types

- [ ] keda.scaledobject.authentication.failed.v1
- [ ] keda.scaledjob.authentication.failed.v1

## Payload:
[code]

### Use-Case

Allow end-users to get notified when authentication to one or more scalers has failed.

### Anything else?

Relates to https://github.com/kedacore/keda/issues/479

[2022-08-09 07:28] tomkerkhove opened #3531 "Provide CloudEvents system metrics in Prometheus & OpenTelemetry"
### Proposal

In order to provide cluster operators the tools they need to operate KEDA, we should extend our Prometheus metrics to include the following new metrics:
- `keda_event_sink_error_totals` - Provides an indication of all the errors related to pushing events to a given event sink
- `keda_event_sink_totals` - Provides an indication of all the events that have been emitted, per event sink

[2022-08-09 07:31] tomkerkhove opened #3532 "Provide capability to configure a "cluster name" in KEDA for CloudEvents"
### Proposal

Provide the capability to configure a cluster name through an environment variable on the KEDA operator.

Proposal: `KEDA_CLUSTER_NAME` or  `KEDA_CLOUDEVENTS_CLUSTER_NAME`

### Use-Case

Event Sinks allow KEDA end-users to use events as an extension of KEDA by forwarding them to dedicated workloads. These workloads can be located in the same Kubernetes cluster or outside of the clust

[2022-08-09 07:41] tomkerkhove opened #3533 "Introduce (Cluster)EventSource CRD to subscribe to CloudEvents emitted by KEDA"
## Use-Case

From the [design proposal](https://docs.google.com/document/d/14Z04AWiMBkSX88uiaVS-kg-8QjjNcDhVy6-u5FMUk_w/edit?usp=sharing):

### Goal
Allow end-users to subscribe to events emitted by KEDA allowing them to gain insights into what is going on and how their applications are being scaled.

These should serve several purposes such as:

- Allow for autoscaling awareness (scaling)
- Allow

[2022-08-09 07:42] tomkerkhove commented on #3533
@kedacore/keda-maintainers I don't have a preference on the implementation - We can start doing things in our current operator and later on introduce a dedicated container (if we really have to)

[2022-08-09 07:53] tomkerkhove commented on #479
All work items have been created and can be progress can be found on https://github.com/orgs/kedacore/projects/2/views/23?query=is%3Aopen+sort%3Aupdated-desc

[2022-08-09 07:53] #479 closed

[2022-08-09 08:40] christle commented on #3022
For older versions, the goSdk Checkpoint Strategy works like before. But since January 2022, this strategy doesn't work anymore for pubsub because of the naming chance. But still for bindings.

With the small dapr change, for new dapr versions, a new checkpoint strategy "dapr" is needed. For older versions, the goSdk checkpoint strategy works well.

[2022-08-09 11:29] tomkerkhove commented on #3022
Oh boy, this will be fun for support cases - Thanks for following up and let's make sure we have good docs on this :)

[2022-08-10 05:54] topikachu commented on #3514
@lgklkh
It's fixed at main branch but not released yet.

@JorTurFer Are you going to release a fix? The latest version has a critical bug which makes selenium_grid_scaler doesn't work as expected.

[2022-08-10 06:38] tomkerkhove opened #3540 "Trivy should only scan when there are code changes"
Trivy should only scan when there are code changes and not block documentation changes.

[2022-08-10 06:38] tomkerkhove commented on #3540
It is blocking https://github.com/kedacore/keda/pull/3539 while it is not related

[2022-08-10 06:39] tomkerkhove opened #3541 "Release: KEDA v2.8 rollout"
This issue template is used to track the rollout of a new KEDA version.

For the full release process, we recommend reading [this document](https://github.com/kedacore/keda/blob/main/RELEASE-PROCESS.MD).

## Progress

- [x] Prepare changelog
- [x] Add the new version to GitHub Bug report template
- [x] Create KEDA release
- [x] Publish new documentation version
- [x] Setup continous container scan

[2022-08-10 06:43] JorTurFer commented on #3514
Today we will release v2.8

[2022-08-10 07:08] JorTurFer commented on #3540
I'll move it to another different CI

[2022-08-10 08:41] #3541 closed

[2022-08-10 08:49] JorTurFer commented on #3514
[v2.8 is available 🥳 ](https://github.com/kedacore/keda/releases/tag/v2.8.0)
Please update your KEDA version and try again, as @topikachu said, this issue should be already solved. If you still have the problem, feel free to reopen this.

[2022-08-10 08:49] #3514 closed

[2022-08-10 09:08] #3540 closed

[2022-08-11 13:17] vazkarvishal commented on #3159
same as the issue I raised a while ago: https://github.com/kedacore/keda/issues/2600#event-6485158588

Glad it is fixed!

[2022-08-12 18:42] #2658 closed

[2022-08-14 06:57] #3126 closed

[2022-08-14 15:06] Pwd9000-ML commented on #1732
For anyone on this thread who is interested, I wrote a little post/tutorial on [Autoscaling self hosted GitHub runner containers with Azure Container Apps (ACA)](https://dev.to/pwd9000/run-docker-based-github-runner-containers-on-azure-container-apps-aca-1n13)

[2022-08-14 23:40] #2836 closed

[2022-08-15 01:22] wallflower762 commented on #2385
Did anything happen with this?

I am in exactly the same situation as [jungopro](https://github.com/jungopro) both with the scaling issue with visible messages, and the viability of scaled jobs.

Not including invisible messages doesn't seem right. If I have KEDA set to scale 5 messages per pod, and I have 5 messages in progress, it would take another 6 messages to make KEDA request a second pod.

[2022-08-15 05:19] sillyfrog opened #3554 "/metrics (Prometheus) endpoint always returning a value of 0"
### Report

Running Keda v2.8.0 the `/metrics` endpoint is always returning a value of zero. I have both _AWS SQS Queue_ and _Cron_ scalers.

My deployment is using the kedacore/keda v2.8.1 helm chart.

If I deploy the helm chart version v2.7.2, things work as expected.

### Expected Behavior

Correct values be reported to the `/metrics` endpoint.

### Actual Behavior

Values to the `/metrics` end

[2022-08-15 06:21] wallflower762 opened #3555 "Azure storage account queue scaler should allow users to select peek or approximate method"
### Proposal

Azure storage account queue scaler supports users defining the "peek" or "approximate" methods for evaluating the queue length.

### Use-Case

Using Azure storage account queues to trigger a mix of short and longer running jobs using the [Azure Functions runtime](https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda).

### Anything else?

I have encountered

[2022-08-15 06:23] wallflower762 commented on #2385
I am not sure if my earlier comment will trigger this issue to be reopened, so I raised a feature request as well.

[2022-08-15 18:37] cesarqdt opened #3556 "KEDA not austoscaling jobs even when the metrics api is higher than the expected value"
### Report

I have a ScaledJob definition that uses the metrics-api to scale jobs when the targetValue is higher than 1. The jobs are scaled but not all of them, even when the value in the API is higher than 1, the ScaledJobs are not picking them all and leaving the value to 0.

So the scenario for example is this:
1. The API shows a value of 50. This value is available in https://get-values-for-k

[2022-08-15 19:36] #3149 closed

[2022-08-16 05:33] sunshineing opened #3557 "hope the dependency of pacakge "github.com/hashicorp/vault/sdk:v0.5.1" and "github.com/hashicorp/vault/api:v1.7.2" to upgrade version to "v1.10.1""
### Report

there are security holes in go module package in
 "github.com/hashicorp/vault/sdk:v0.5.1"
 "github.com/hashicorp/vault/api:v1.7.2"

the security holes details:

CVE-2021-28156
CVE-2021-27400
CVE-2020-13223
CVE-2021-32074
CVE-2018-19786
CVE-2020-25594
CVE-2021-38554
CVE-2021-3024
CVE-2021-41802
CVE-2021-45042
CVE-2021-38553
CVE-2021-38554
CVE-2021-41802
CVE-2021-43998
CVE-2021-45042
CVE

[2022-08-16 05:35] amit1-100ms opened #3558 "Keda stuck in error loop calculating lag from kafka"
### Report

We are using keda with kafka scaler(confluent). At same time in different gke clusters, there was probably a network glitch in keda kafka communication. Then keda-operator pod got stuck in error loop in calculating lag from kafka. Same error log in keda operator logs for 6 hours while other kafka consumers were working fine.

### Expected Behavior

Even if there's an error once, keda s

[2022-08-16 07:11] tomkerkhove commented on #1732
Nice workaround

[2022-08-16 08:51] zroubalik commented on #3557
Hi, thanks for reporting, could you please open a PR to fix this? Thanks 🙏

[2022-08-16 09:50] tomkerkhove commented on #3557
Re-opening https://github.com/kedacore/keda/pull/3166 to see @dependabot will update it to 1.10.x

[2022-08-16 09:51] tomkerkhove commented on #3557
@dependabot  says no!

[2022-08-16 10:41] JorTurFer commented on #3557
I bumped them before the release,  v1.7.2 is already in use (that's why dependably says no) ,  but maybe any transitive dependency...
Where did you find the vulnerabilities? I mean,  maybe in any other repo you have been notified by an external tool?

[2022-08-16 11:12] zroubalik commented on #3557
@tomkerkhove that issue is about previous version bump. That one already happened.

[2022-08-16 12:40] kamilglod commented on #3556
I have the same issue, I'm using GCP PubSub and jobs are not being scaled occasionally when there are some messages in the topic:
![Screenshot from 2022-08-16 14-35-48](https://user-images.githubusercontent.com/8168459/184880984-e2de4be3-a668-47d2-8c1d-e30cf738b152.png)
As you can see there is a single message in the queue with increasing lifetime, and here are logs from `keda-operator`:
[code]

a

[2022-08-16 19:23] johnnytardin commented on #2647
In version 2.7.1 it still happening.

[2022-08-16 20:23] JorTurFer commented on #3556
Could you try to do the query manually (against the metrics server) ? The scaler is cached but the metric value request is done on every request.
I mean,  if KEDA doesn't return the updated value could be due to the upstream has some delays too

[2022-08-16 20:24] JorTurFer commented on #3556
Does the issue persist on v2.8?

[2022-08-17 08:50] kamilglod commented on #3556
I tried to reproduce GCP metrics query that gcp_pubsub scaler is using (using python client) and I can confirm that the value returned by GCP API is correct:
[code]
`int64_value: 1` means that there is one message left in the queue.

[2022-08-17 09:53] JorTurFer commented on #3556
Could you try also using querying the metrics manually using kubectl?
https://keda.sh/docs/2.8/operate/metrics-server/
If you get the same values in both cases (python and manually),  the issue is related with the HPA Controller and its scaling behavior,  if they mismatch,  something inside KEDA is producing it

[2022-08-17 10:46] kamilglod commented on #3556
@JorTurFer is it possible to get it for `scaledjob` that is using pubsub scaler?

[2022-08-17 12:07] JorTurFer commented on #3556
No...  ScaledJobs don't expose metrics in the metrics server because it's the operator who manages them.
Maybe you can deploy a dummy ScaledObject to test it

[2022-08-17 17:28] joebowbeer opened #3561 "Add seccompProfile.type RuntimeDefault for secure-by-default"
### Proposal

Add seccompProfile.type RuntimeDefault to Deployments as per PSS/restricted spec:

https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted

### Use-Case

This would bring the default manifests into compliance with PSS/restricted policies.

The policies currently fail because the containers in the two Deployments are missing an explicit seccompProfile type.

[c

[2022-08-17 20:16] tomkerkhove commented on #2353
Apparently @SushmithaVReddy no longer has time to unassigning

[2022-08-18 01:53] amit1-100ms commented on #3558
can anyone check and comment please?

[2022-08-18 02:27] protonyx opened #3563 "Panic when using Azure Service Bus queue that doesn't exist"
### Report

When using an Azure Service Bus scaler using a queue that doesn't exist, KEDA enters a crash loop. In the logs, we see the message: "panic: runtime error: invalid memory address or nil pointer dereference"

### Expected Behavior

The scaledObject should be marked as failed or inactive with a message about an invalid subscription

### Actual Behavior

Crash loop in the KEDA operator

##

[2022-08-18 04:24] benjaminwood commented on #2930
I noticed in @sebanazarian's post above that one of the warnings is related to a timeout (seen in the `Describe ScaleObject` section`

[code]

I've bumped into this as well. Where is the request timeout limit determined?

[2022-08-18 06:53] tomkerkhove commented on #3563
@v-shenoy Is this something you can quickly check please?

[2022-08-18 06:59] tomkerkhove commented on #1732
I've been in contact with GitHub related to https://github.com/github/roadmap/issues/555

[2022-08-18 07:34] v-shenoy commented on #3563
I tried to reproduce the issue with the following ScaledObject
[code]

The operator logs an error, instead of panicking.
You mention that you are using a topic/subscription but the stack trace contains a call to `getQueueEntityFromNamespace` which should not happen.

Could you share your ScaledObject / TriggerAuth (if any) definitions?

[2022-08-18 08:11] kamilglod commented on #3556
Ok, I can confirm that metrics received from kubectl showing correct value (the same as python API call and the same as GCP Metrics explorer). What's more interesting - scaledobject is scaled properly - I can see that when there is a message in the queue, deployment is scaled up to expected value. But scaledjob's job is not created for a long time (in my last test it was 15 minutes between seeing

[2022-08-18 10:35] JorTurFer commented on #3556
No no,  I was wrong,  if you are using ScaledJobs,  it's KEDA who is failing because we don't use the HPA Controller for scaling jobs. Could you share your ScaledJob to check if there is any miscofiguration or error?

[2022-08-18 10:37] JorTurFer commented on #3556
I'm AFK this week but next week I can take a look deeper

[2022-08-18 12:15] raorugan commented on #2353
This scaler work is not active at the moment. We will revisit this in the future. In the mean time if anyone is interested to pick this up please notify here so we know that you are working on this. Thanks for your contributions!

[2022-08-18 12:43] kamilglod commented on #3556
Here is my scaledjob definition:
[code]

[2022-08-18 15:17] protonyx commented on #3563
You are absolutely right, we were attempting to use a topic/subscription, but the scaledObject was referencing a queueName instead of the topicName/subscriptionName. When referencing a subscription that doesn't exist, there is no error. But I was able to reproduce the issue with an invalid queueName using this set of objects:

[code]

[2022-08-18 15:41] vickithedeveloper commented on #3441
@christle The "BlobNotFound" is present in the actual error. it has not been modified.
Regarding consumer group , we are using the same consumer group for both the KEDA scaled object as well as for the function app deployment.

We tested the function app deployment using the KAFKA scaler against the same Azure event hubs. It is working with the KAFKA scaler. But the event hub scaler is still showi

[2022-08-18 21:52] v-shenoy commented on #3563
I have a Service Bus with queues `valid-queue-1` and `valid-queue-2`. I created a SAS Policy for `valid-queue-1` and used the primary connection string in the secret (exact yaml as you provided). In the ScaledObject definition, I provided the `queueName` as `valid-queue-2`.

Here's the error I get in the operator pods -
[code]

I can't seem to get the operator to panic. Am I missing something here

[2022-08-18 22:15] ahmelsayed opened #3565 "Extend TLS support for external scaler"
## Current State:

Today external scaler metadata has the following:

[code]

the Grpc connection is created using:

[code]

This means that is `tlsCertFile` is provided, the grpc connection will be tls. `tlsCertFile` is expected to be the CA file the client expect to validate the server cert with [`credentials.NewClientTLSFromFile()`](https://pkg.go.dev/google.golang.org/grpc/credentials#NewClien

[2022-08-19 08:51] tomkerkhove commented on #3467
After discussing with @vaughanknight & @yelghali I've noticed that my proposal for just having a trigger does not make much sense because it will scale straight from min to max replicas given the emission does not change that often.

Instead, I'm wondering if we should not make this part of the `ScaledObject`/`ScaledJob` definition as a whole similar how we handle fallback:

Imagine the following:

[2022-08-19 08:56] tomkerkhove opened #3566 "Introduce new time-window trigger"
### Proposal

Introduce new time-window trigger which allows you to scale based on a defined time window.

We could use inspiration from the [kube-green project](https://kube-green.dev/docs/real-usecase/node-downscale/):
[code]

The `cron` scaler uses `desiredReplicas` but I believe it should just rely on min/max replica defined on the ScaledObject/ScaledJob.

This trigger should replace the `cron

[2022-08-19 08:57] tomkerkhove opened #3567 "Provide support for using AND logic for triggers"
### Proposal

Allows end-users to scale out/in when the queue depth is high enough, and it is within a given time window, for example

### Use-Case

Provide support for using AND logic for triggers so that it scales when all triggers meet the criteria

### Anything else?

_No response_

[2022-08-19 08:58] tomkerkhove commented on #3467
Should we do this instead of a carbon aware scaler? No. But I think that one only makes sense once we do  https://github.com/kedacore/keda/issues/3567 and with the above proposal we don't need a trigger for it anymore.

[2022-08-19 10:46] coolibre opened #3568 "Keda scale error with optional secrets or configmaps"
### Report

Keda operator reports

[code]

when optional secret is defined in scaledjob.yaml but the secret is not provided in the currently created kubernetes environment because its optional.

[code]

### Expected Behavior

The scaler should ignore the missing secret or configmap and scale a job.

### Actual Behavior

The scaler searches for the optional secret or configmap and raises an error

[2022-08-19 10:51] yelghali commented on #3566
thanks Tom, i think it's a useful feature. Maybe we should keep desiredReplicas or some other way to specify the target behavior
* during the time window, I (as an Admin) **could need to scale down to min,** during that window (say during weekends)
* or in a another scenario, **I'd want to scale to maximum** because i know i would have  a predictible spike during that window (say for ecommerce)

[2022-08-19 11:54] tomkerkhove commented on #3566
How would you compare  that to the  already existing `minReplicaCount` & `maxReplicaCount` then? I think `desiredReplicas` would be redundant.

[2022-08-19 12:03] yelghali commented on #3566
perhaps something like:
* desiredReplicaCount = max
* desiredReplicaCount = min

what I couldn't see, is how to tell the difference between when to scale In Or Out, during this window

[2022-08-19 13:03] yelghali commented on #3467
I think it would make sens to have both features
one small point about "Carbon Awareness":

* The Info provided by the APIs (WattTime, ElectricityMap, etc.) is **Electricity Carbon Intensity** **(I) in gCO2eq/KHw.** e.g how much carbon is contained in the Electricity / Power we are using now ; and it is an external metric (independent of the workloads)

* Energy or **power consumed** by a workload

[2022-08-19 13:15] tomkerkhove commented on #3566
Hm so during a given time window, you might want to scale in instead of out then? Why not invert the window then? To me it feels more natural to always scale to max during window and min outside of window.

[2022-08-19 13:21] yelghali commented on #3566
makes sens, as long as we define the rule (what you just did). I was seeing it as a time window where I could do both

[2022-08-19 13:32] tomkerkhove commented on #3467
We can add this but before we start building scalers we'd need to be sure what they look like though as once a scaler is added we can't simply introduce breaking changes.

However, if my above proposal is agreed on then we can open a separate issue for it.

I think this is something we can document as details though, no need to be that verbose IMO. We can rename it to `measuredIntensity` though.

[2022-08-19 13:37] yelghali commented on #3467
agreed, the scaler can be the next step

[2022-08-19 16:13] andyatwork opened #3569 "Support Managed identity auth for Blob Storage checkpointing in Event Hub scaler"
### Proposal

Accessing the blob storage for Event Hubs requires a connection string to be supplied by means of `triggers.metadata.storageConnectionFromEnv` . azure_eventhub_checkpoint.go could be modified to pass the PodIdentity from EventHubInfo with the required account name and endpoint to enable pod identity based authentication.

Suggest to pass PodIdentity to `ParseAzureStorageBlobConnectio

[2022-08-19 16:14] andyatwork commented on #3569
I'd be happy to contribute this feature to the project.

[2022-08-19 18:37] doctorpangloss opened #3570 "Setting portHttpTarget and portHttpsTarget in the helm chart should change the port the adapter listens on. It does not."
### Report

Even though the container in a pod is correctly started with a custom port via the helm chart, the logs show the metric server is listening on the wrong port.

This manifests as a crash on hostNetwork: true when the port is in use, as it is for me.

Based on the logs and pod, it looks like the error is that `keda-adapter` in the chart and distribution yamls is invoked only with a `--se

[2022-08-19 18:37] doctorpangloss opened #3576 "Setting portHttpTarget and portHttpsTarget in the helm chart should change the port the adapter listens on"
### Report

Even though the container in a pod is correctly started with a custom port via the helm chart, the logs show the metric server is listening on the wrong port.

This manifests as a crash on hostNetwork: true when the port is in use, as it is for me.

Based on the logs and pod, it looks like the error is that `keda-adapter` in the chart and distribution yamls is invoked only with a `--se

[2022-08-19 22:23] protonyx commented on #3563
I ran the same steps that caused it to panic yesterday and am no longer getting the same output. Now I get the same "401 Unauthorized" error that you posted. I looked back through our scaledObjects and found 7 other misconfigured scaledObjects, but only 1 of them was causing the panic (along with the example I was using). Now that I can't reproduce it, I am not sure how to go about getting more in

[2022-08-20 13:22] v-shenoy commented on #3563
That's weird :(.

I am going to close this issue, as there isn't a way to reproduce the problem currently. Feel free to re-open this or create another issue if you can figure out the scenario that's causing this.

Sorry for the trouble.

[2022-08-20 13:24] #3563 closed

[2022-08-20 20:13] zerodayyy commented on #3554
I've got the same issue on Keda 2.8.0, with Azure Storage Queue scaler

[code]

For comparison, same metrics on KEDA 2.7.1:

[code]

[2022-08-21 08:51] dmeytin commented on #1587
Any plans to PoC CloudEvents for multi-cloud support?

[2022-08-22 06:41] tomkerkhove commented on #1587
Not at the moment since CloudEvents is still being added but curious to hear what events you would like to have.

[2022-08-22 07:04] zroubalik commented on #3554
Thanks for reporting, do you think you can try to investigate what is the cause of the problem?

[2022-08-22 07:39] dogzzdogzz commented on #3448
@JorTurFer @zroubalik

The issue still exists in 2.8.0

### keda-metrics-apiserver logs
[code]

### keda-operator logs
[code]

[2022-08-22 20:59] kevinnesta commented on #3558
Hey @amit1-100ms ,
I've got the same kind of issue from Azure environment.
We do also suspect issue due to network glitch.

the only workaround we found is to restart the KEDA operator deployment (to start a new pod) then all is fine.

Also really interested in a fix on KEDA side.

[2022-08-22 21:18] teebu opened #3578 "Keda HPA is creating and immediately terminating pods"
### Report

I have a function that scales based on a topic. It gets created and immediately terminates the newly created pods.

I send 1000 messages to topic to try to get it to scale.

### Expected Behavior

Create pod, finish work.

### Actual Behavior

Created pods are immediately terminated.

### Steps to Reproduce the Problem

1.
2.
3.

### Logs from KEDA operator

[code]

### KEDA Version

2

[2022-08-22 22:49] kevin-staiger opened #3580 "Scaledobject check fails for cpu trigger in keda v2.0.0 beta"
### Discussed in https://github.com/kedacore/keda/discussions/1280

<div type='discussions-op-text'>

<sup>Originally posted by **simhan95** October 22, 2020</sup>
I deployed keda v2.0.0 beta version and deployed a scaled object for cpu trigger. But it fails to create a scaledobject with below error

Status:
  Conditions:
    Message:               Failed to ensure HPA is correctly created for Sca

[2022-08-23 03:15] teebu commented on #3578
I concluded that ArgoCD was fighting with deployment replicas value and ended up removing the value. I'm letting the scaled object set the value for the deployment.

[2022-08-23 03:15] #3578 closed

[2022-08-23 09:21] tomkerkhove commented on #3580
As per https://github.com/kedacore/keda/discussions/1280#discussioncomment-3453867, what version are you running? If you are still using 2.0.0-beta; please upgrade to a newer version.

[2022-08-23 09:26] cliveseldon opened #3582 "Scaling Custom Resources without HPAs"
### Proposal

We would like to use KEDA Scalers to scale a custom resource replica count in cases where the custom resource does not manage any underplying Pods and thus there is no HPA to connect to. In essence, can we switch off the HPA wiring but leave the metrics collection and replica update decisioning?

### Use-Case

Custom resources which manage non-pod internal application components.

##

[2022-08-23 09:32] zroubalik commented on #3558
Is anybody able to reproduce the issue?

[2022-08-23 09:34] zroubalik commented on #3566
+1 to this approach. I'd extend cron scaler to do this

[2022-08-23 09:35] amit1-100ms commented on #3558
@zroubalik simulating network error on kafka side should reproduce it once in a while
@kevinnesta we had to deploy custom keda code which throws error on this as a stop gap solution. What fix did you guys do?

[2022-08-23 09:44] tomkerkhove commented on #3566
@zroubalik The proposal is actually to introduce a new scaler and deprecate the cron-scaler.
See issue description for context

[2022-08-23 11:03] zroubalik commented on #3566
okay, good to me as well.

[2022-08-23 12:29] tomkerkhove commented on #2569
This should now be easier to achieve: https://github.blog/changelog/2022-08-22-github-actions-improvements-to-reusable-workflows-2/

[2022-08-23 17:21] kevinnesta commented on #3558
@amit1-100ms we monitor the KEDA operator service logs to trigger automatic restart ...

[2022-08-23 19:55] JorTurFer commented on #3448
by chance, could you debug the operator locally? I can't imagine how this could be happening, both accessors are covered by the previous ifs...

[2022-08-24 01:42] JorTurFer opened #3586 "Merge prometheus servers exposed by metrics-server"
### Proposal

Right now, metrics server exposes 2 different prometheus servers, the default controller-runtime prometheus server and other with KEDA metrics only, we should merge both and expose only the default.
To avoid breaking changes, we can expose KEDA metrics in both for some versions more and mark it as a deprecated, removing it in the future

### Use-Case

_No response_

### Anything else

[2022-08-24 05:06] tomkerkhove commented on #3586
I think we might want to make this configurable as well given I'm not sure what Prometheus will do when you scrape the same metric twice. I think it should be OK, but you never know.

That way, if people deliberately choose to merge them then the deprecation log will be gone.

So:
- Default writes to the ones we have today
- Configured to merge, only writes to the 8080 one.

That's how I would do

[2022-08-24 06:06] tomkerkhove opened #3587 "Introduce Azure Event Grid as event destination"
### Proposal

Introduce Azure Event Grid as event destination:
[code]

### Use-Case

Automatically forward CloudEvents to Azure Event Grid without HTTP endpoint in the middle.

### Anything else?

_No response_

[2022-08-24 06:07] tomkerkhove commented on #3587
@kedacore/keda-maintainers Let me know what you think of the spec design but I'm open to suggestions

[2022-08-24 08:32] cdlliuy opened #3588 "[azure-data-explorer-scaler] Same metric name with multiple scaled object defined"
### Report

We had multiple scaling metrics with azure-data-explorer-scaler when the metric extracted from the same azure-data-explorer-db, but from different query.

i.e  I created a trigger using metricName "metric-A"  to run query "query-A", then "metric-B" with run with "query-B"
[code]

With current implementation,   both of the scaled object has the same metric name:
[code]
It is hard to rem

[2022-08-24 10:13] amirschw opened #3591 "cron scaler metricType shouldn't be configurable"
### Proposal

For the cron trigger to scale to the number specified in `metadata.desiredReplicas`, it must use the `AverageValue` metric type. Otherwise (if `Value` is used), based on the HPA algorithm, it will scale to [currentReplicas * desiredReplicas] instead. Therefore, we should probably disallow changing the metricType for this specific scaler.

### Use-Case

_No response_

### Anything els

[2022-08-24 10:15] amirschw commented on #3591
Will be happy to do it myself if there's no objection

[2022-08-24 10:44] JorTurFer commented on #3588
I think that we shouldn't do this. The metric name is an internal KEDA thing that it's used to avoid conflicts. Previously we gave the option to "customize it" to avoid conflicts with duplicated metric names, but that it's already solved, and every metric is unique inside the SO. Some scalers have that option because they had it before the changes, and we are removing the support to it.

[2022-08-24 10:52] JorTurFer commented on #3586
Okey, seems good to me, we can introduce this as an optional feature now logging the deprecation and drop the old way in 2 versions, aiming to KEDA v2.11. How does it look to you?

[2022-08-24 11:01] JorTurFer commented on #3591
Makes sense, excellent catch!

[2022-08-24 11:06] JorTurFer commented on #3582
hey,
Could you explain a bit more about your user case? I can see the goal you are trying to achieve

[2022-08-24 11:08] JorTurFer commented on #3580
As @tomkerkhove  said, please update to a newer version, v2.0.0 is a bit old. Apart from that, do you have the Kubernetes metrics server installed? It's a requisite because KEDA delegates CPU and memory to the k8s metrics server

[2022-08-24 11:29] tomkerkhove commented on #3586
If we want to drop it, then we can only do that in KEDA 3.0 as this is a breaking change.

[2022-08-24 11:31] zroubalik commented on #3582
I think that it should work this way even now. If your CustomResource correctly implements `/scale` subresource, then the HPA just talks through this interface and the CustomResource does the final decision on how to actually scale.
Can you double check that?

[2022-08-24 12:27] tomkerkhove commented on #613
Re-opening as I think it's time to do this.

[2022-08-24 12:32] tomkerkhove commented on #3588
Is the composition of the internal metric name specific per scaler or in general? Because from the example above, it looks like it's scaler specific (except for the s{n} previx)

[2022-08-24 13:30] tomkerkhove commented on #3591
Not sure if we should continue investing in cron-scaler or should start #3566 with this instead

[2022-08-24 14:49] tomkerkhove commented on #3566
What scenario would you need that does not fit the above? Specify the exact second? Hour? Minute? or?

[2022-08-24 14:59] cdlliuy commented on #3588
I think this is a scaler specific issue.
The Azure-data-explorer scaler used "s{n} + databasename" as metricName when creating the metric object, which does make troubles for monitoring purpose.

i.e. when monitoring the metric from Prometheus,  the "metric" name is too similar and hard to explain its exact meaning to others.
[code]

When the user has defined a meaningful metric name, I think the

[2022-08-24 15:11] JorTurFer commented on #3566
During X time every hour for instance. A real user case (from my previous work):
Every hour a process generates KPIs scraping data from several places with heavy actions, using cron expressions you can specify that every hour from 0 to 15 with a single trigger instead of one trigger per hour

[2022-08-24 15:23] JorTurFer commented on #2569
I'm implementing reusable workflows, thanks for staying tuned to every change on their side @tomkerkhove

[2022-08-24 16:36] cliveseldon commented on #3582
We have resources such as machine learning models which we manage ourselves and which do not have a 1-1 mapping to pods. However, we would still like to use KEDA scalers to allow metrics from some source to determine the replica count of the custom resource its just there are no Pods for an HPA to manage.

From [here](https://github.com/kubernetes/kubernetes/blob/963adda7f9a58e7d8ef803e5052c07e9fc

[2022-08-24 16:45] vickithedeveloper commented on #3441
@christle @v-shenoy In the documentation it says that "The Azure Storage connection string is not compatible with connection string created from a Shared Access Signature." Could you please share the format accepted by the KEDA

[2022-08-24 17:12] tomkerkhove commented on #3566
Then I'd argue that we should not deprecate the cron scaler and just add it next to it, no?

[2022-08-24 17:44] amirschw commented on #3566
The cron trigger seems to be more flexible, both because of the use of cron format and the ability to set `desiredReplicas` independently of min/max replicas. I don't think that the proposed scaler can fully replace cron (at least not for our use cases), so +1 for keeping them side by side or extending cron as @zroubalik suggested.

[2022-08-24 17:47] amirschw commented on #3591
Thanks, I'll wait for the outcome of the discussion there before starting this.

[2022-08-24 19:10] JorTurFer opened #3594 "e2e tests are unstable"
e2e tests are unstable, we should improve their reliability

[2022-08-24 19:23] JorTurFer commented on #3566
I don't have any strong opinion about both solutions. Maybe we could extend cron trigger or create another one. I'm not sure about the implementation because right now scalers don't have access to min/max values from SO/SJ and I'm not sure if they should know that info, but in any case it's more related with the implementation than with having or not other scaler

[2022-08-24 19:34] JorTurFer commented on #3588
I'm not an expert on that scaler, but based on docs, users don't have any parameter to provide metric name, I guess that's because the scaler doesn't need that information for working. We try to avoid supporting extra metric name parameters because as I said, we used it to avoid conflicts that now don't happen any more.

Is the ScaledObject name not enough for monitoring proposes? I mean, with the

[2022-08-25 01:37] cdlliuy commented on #3588
@JorTurFer , scaledobject name is not enough.

Per KEDA docs,  it is recommended to define multiple triggers for the same scaling target,

[code]

That means,  if you have a deployment A,  and you hope to auto scale A under different conditions , you need to define a single scaledobject for A.

Then, I will name the ScaledObject as "ScaledObject-for-deployment-A", and I will define multiple trigge

[2022-08-25 05:22] tomkerkhove commented on #2569
Happy to help!

[2022-08-25 06:51] tomkerkhove commented on #3566
@amirschw  I'm curious about this remark because this creates a lot of confusion for the majority of people. Why would you want to specify desiredReplicas and how do you see it relate to min/max replicas which is redundant?

[2022-08-25 08:56] christle commented on #3441
inside your error message `GET https://staccoutnname.blob.core.windows.net/azure-webjobs-eventhub/namespace.servicebus.windows.net/eh-name/<consumer group/checkpoint/1005` the consumergroup `/<consumer group/` looks like a misconfiguration.

I've looked in our projects and we use the basic storage account connection string: `DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountNam

[2022-08-25 10:30] JorTurFer commented on #3556
I'm checking this with the original data (metrics-api is easier to use in my case). I'll post any update

[2022-08-25 10:35] JorTurFer opened #3596 "Remove deprecated field `rolloutStrategy`"
### Proposal

In https://github.com/kedacore/keda/pull/3338 we introduced a new section that extends this.
We need to remove the deprecated `rolloutStrategy`

### Use-Case

_No response_

### Anything else?

_No response_

[2022-08-25 11:36] JorTurFer commented on #3556
I have tried with several versions and I can't reproduce the issue.
[code]

Could you check if your jobs are marked as `Succeeded/Failed`? If they jobs don't finish (they are still running), KEDA won't spawn more.

[2022-08-25 11:41] JorTurFer commented on #3567
I think we can close this because it's not doable without formulas (and they already have its own issue) because it's the HPA Controller who does it, KEDA only exposes the raw metrics.
WDYT?

[2022-08-25 11:45] IliaGe opened #3597 "Fresh install generates "exactly one ScaledObject should match label""
### Report

A fresh install of Chart version: 2.8.1 (appVersion: 2.8.0) on EKS 1.22 (v1.22.11-eks-18ef993) enters a loop of errors in the keda-operator-metrics-apiserver
[code]

### Expected Behavior

Clean & silent run :)

### Actual Behavior

Bombarding with errors logs

### Steps to Reproduce the Problem

1. helm install
2.
3.

### Logs from KEDA operator

[code]

### KEDA Version

2.8.0

### K

[2022-08-25 12:22] kamilglod commented on #3556
In my use case it wasn't deterministic, so it happened roughly once per day. I don't know how the author of this issue @cesarqdt but from my side it was a matter of creating new job when new, single message was present in the queue. So it's not a problem with still running jobs that used all allowed space for running jobs. I think it might be connected with metrics cache and it's hard to reproduce

[2022-08-25 12:35] tomkerkhove commented on #3567
I don't really agree as the formula should be transparent to the end-user.

If I have two triggers, I should simply be able to say scale when both meet the criteria and not worry about writing formulas.

(That does not mean formulas are bad, but they serve a different audience)

[2022-08-25 13:12] tomkerkhove commented on #3567
#3330 is related but not 100% the same, #2440 is what this feature should build on but not solve my needs.

And then there is also https://github.com/kedacore/keda/issues/2614 but that's more advanced and for later on imo

[2022-08-25 14:13] zroubalik commented on #3588
I also vote for not including this parametr in the scaler metadata. We are actively trying to get rid of these, to avoid confusion.

[2022-08-25 14:23] cdlliuy commented on #3588
@zroubalik ,  then how to resolve the monitoring pain point? See my example:

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/17263036/186689824-6b77e67a-4584-4153-b628-bebf16729f35.png">

When creating the trigger,  I set 2 different trigger.metadata.metricName , one is "inProgressTaskNumber", another is "pendingTaskNumber", but from the monitoring metric,  all the me

[2022-08-25 14:31] zroubalik commented on #3582
I think that if your CR sets the proper status, then it should be enough and the HPA will not actually monitor Pods.

I know I discussed this with someone while ago, but I am not sure what was the final verdict on this 😄  @lionelvillard I know I ask you a couple times about this, can you please confirm? 😅

@cliveseldon so can you cofirm, that you have actually tried that and HPA complains?

[2022-08-25 14:34] tomkerkhove commented on #3588
Isn't the best solution that end-users can specify a suffix that we use after `s{n}` which has to be unique for the SO?

[2022-08-25 14:41] cdlliuy commented on #3588
@tomkerkhove , yes, `suffix` can work, but it should be unique for each trigger, not for "SO" (considering multiple triggers for one SO).

[2022-08-25 14:42] zroubalik commented on #3588
I completely understand the UX problem. Though I don't think this is the best solution.

What I would suggest to use this (at the moment unused field) https://github.com/kedacore/keda/blob/40da2e2bb4f06ecbd591d1a48fc3fabbb321997a/apis/keda/v1alpha1/scaledobject_types.go#L126

Basically to give a custom name to each trigger, that will be completely unrelated to the internal metric names. We can exp

[2022-08-25 14:45] tomkerkhove commented on #3588
Sounds good to me

[2022-08-25 14:47] zroubalik commented on #3588
That^ change should come hand in hand with a slow deprecation of `metricName` field for scalers that have it at the moment. Probably starting by making this property optional.

[2022-08-25 14:51] cdlliuy commented on #3588
@zroubalik ,  if my understanding is correct, I can start to define trigger.name directly in current KEDA version.  But to show the "name" in grafana,    additional code changes to enable "name" as a label is required. Correct?

[2022-08-25 14:53] zroubalik commented on #3588
Correct.

[2022-08-25 17:14] #3554 closed

[2022-08-25 17:24] vickithedeveloper commented on #3441
@christle  I rechecked it and error messages is having the following pattern -
GET https://staccoutnname.blob.core.windows.net/azure-webjobs-eventhub/namespace.servicebus.windows.net/eh-name/consumerGroupName/checkpoint/

I am revisiting the entire set up to check if I have missed out anything. In the case where the scaled object is making use of connection strings, do we require to any specific I

[2022-08-25 17:30] JorTurFer commented on #3556
do you have other scaler types? How many ScaledObjects/ScaledJobs do you have? Could be a performance problem? I'm trying to replicate the behaviour but I can't :(

[2022-08-25 17:36] tomkerkhove commented on #2359
Any thoughts on how to do it @kedacore/keda-maintainers?

[2022-08-26 02:36] spwangxp opened #3600 "scaler[ postgresql ] cannot use scaledobject.spec.triggers.passowrd as connection password"
### Report

when i set scaledobject.spec.triggers.passowrd as connection password, it's not work ❌, the log shows "password" are not set;
when i set scaledobject.spec.triggers.passowrdFromEnv as connection password, it's worked fine ✅;

![image](https://user-images.githubusercontent.com/24298044/186804219-e922945f-d272-4952-b8ae-aa374a554cb4.png)

### Expected Behavior

the scaledobject.spec.trigg

[2022-08-26 06:47] kamilglod commented on #3556
We're having 4 different scaled objects, but as I wrote [here](https://github.com/kedacore/keda/issues/3556#issuecomment-1219170621):

So scaledobject based on the same metric was reacting properly, only scaledjob was affected

[2022-08-26 06:50] tomkerkhove commented on #3600
I don't think we should do this as this would mean there are hardcoded passwords, we should use trigger authentication instead (which should already be supported I think)

[2022-08-26 06:54] tomkerkhove commented on #3600
this is also not really a bug as `password` is supported, but through trigger authentication:
https://keda.sh/docs/2.8/scalers/postgresql/#authentication-parameters

[2022-08-26 07:09] spwangxp commented on #3600
https://github.com/kedacore/keda/pull/3601?w=1#issuecomment-1228127320

[2022-08-26 08:33] tomkerkhove commented on #3600
The docs that you are referring to is purely for TriggerAuthentication and not for trigger metadata.

[2022-08-26 11:04] JorTurFer opened #3602 "RabbitMQ Scaler doesn't parse vhost correctly if provided in the host url"
### Report

After v2.7.0, the vhost it's not correctly parsed from the url

### Expected Behavior

`http://guest:guest@pecan-rabbitmq.default:15672/` should parse the vhost as `/`

### Actual Behavior

`http://guest:guest@pecan-rabbitmq.default:15672/` should parse the vhost as `""`. To parse the vhost has `/` we need to set `http://guest:guest@pecan-rabbitmq.default:15672//`

### Steps to Reprodu

[2022-08-26 11:39] v1ferrarij opened #3603 "ScaledObject minReplicaCount Default is not working as described."
### Report

I believe I have found a bug / issue with the ScaledObject value minReplicaCount.

I created a ScaledObject where I did not complete the value minReplicaCount as on your website it states that this defaults to 0:

![image](https://user-images.githubusercontent.com/94917970/186894452-d26b95ef-789f-487b-b529-60596c773f86.png)

I was having issue's with my deployment as it was never scali

[2022-08-26 11:41] tomkerkhove commented on #3603
Can you define what you mean with this please?

Is that based on the describe output? If so, that's normal given the default is used internally AFAIK.

[2022-08-26 11:54] v1ferrarij commented on #3603
Your documentation states that this input is optional and the default value is 0.

![image](https://user-images.githubusercontent.com/94917970/186896953-6063edbf-356e-4d30-a0c1-555ab1b8adea.png)

I have found that this is not being set to 0 unless you specify it in your code.

code that does not work, deployments ARE NOT scaled down to 0.

[code]

working code, deployments ARE scaled down to 0.

[

[2022-08-26 12:07] tomkerkhove commented on #3603
So what is it scaled to then if you don't specify it?

It's not because it's not in the YAML that it works, let's focus on the behavior

[2022-08-26 12:33] v1ferrarij commented on #3603
It doesn't scale down, it just sits on 1 pod.

[2022-08-26 12:44] tomkerkhove commented on #3603
Can you share the output of `kubectl get so/<name> -o wide` & `kubectl describe so/<name>` please?

[2022-08-26 15:16] JorTurFer commented on #3556
only 4 scaledjob doesn't justify performance issues :/
just in case, could you try defining the envrionment variable `KEDA_SCALEDJOB_CTRL_MAX_RECONCILES` with value 5 for instance?
It will set the same value as `KEDA_SCALEDOBJECT_CTRL_MAX_RECONCILES` (which is 5 as default), just to check if the problem is that we have a log reconciliation loop in some of them and this is causing slow responses is

[2022-08-26 16:07] JorTurFer commented on #3556
Could you enable debug logs and share them? You can do it, modifying the deployment and setting the arg `--zap-log-level=debug`. If you are using helm, you can do it with the parameter [`logging.operator.level=debug`](https://github.com/kedacore/charts/blob/main/keda/values.yaml#L135).

Once you have enabled debug logs, you should see a trace every cycle with the message `No change in activity` if

[2022-08-29 17:20] koolwithk opened #3609 "Scale to zero with cron triggers"
### Proposal

Currently, We cannot achieve cron based scale down to zero with Keda.
If I apply below CRD it set `nginx-deployment` **replicas=0** and It does not wait for `triggers.metadata.start`.

[code]
Keda Helm chart : **Keda-2.8.1**
Kubernetes: **v1.20**

Here are some previous discussions regarding the same issue https://github.com/kedacore/keda/discussions/1759 https://github.com/kedacore/

[2022-08-29 20:08] tshaiman opened #3610 "many "Client.Timeout Exceeded while waiting header" on keda operator log"
### Report

when Keda pod launches it starts normally and manage to reconcile all queues and all definition correctly.
there are lot of "healthy" info report .

then after few mintues the log is floaded with "Client.Timeout exceeeded while waiting header".

### Expected Behavior

- we want to understand what this error represent
-  we want to see how and where those timeout can be configured
-  we

[2022-08-30 06:31] kranthikumar-kvs-by commented on #3555
Can't this issue be resolved by using the accurate strategy for sclaed job configuration?
https://github.com/kedacore/keda/pull/1227

[2022-08-30 10:29] JorTurFer commented on #3610
The url seems to be the aad-pod-identity instance. Could you check the logs you have there?

[2022-08-30 11:06] JorTurFer commented on #3588
I think atm that field it's not documented but I'm willing to open a PR adding the field to the exported metrics and also documenting.
could this solve the issue?

[2022-08-30 11:24] BitProcessor opened #3611 "Apache Kafka scaler: sasl and tls config are not secrets"
### Report

When configuring the Apache Kafka scaler, one needs to configure the `sasl` and `tls` configuration options in a `TriggerAuthentication`, referencing a `Secret`. This is confusing.

### Expected Behavior

Wether the `username` is a secret or not is debatable, but `sasl` and `tls` are configuration options and not secret.

### Actual Behavior

Allow setting at least `sasl` and `tls` as

[2022-08-30 11:44] tshaiman commented on #3610
@JorTurFer  : that make sense as there is a limitation of max 20 calls concurrently to the IMDS , and we are doing much more.
will move to workload identity soon ;-)

[2022-08-30 12:31] JorTurFer commented on #3610
so, could this issue be more related with that than KEDA itself? I mean, do you think is KEDA related? We can keep this open till you move from pod identity to workload identity, but just to know if we need to go deeper or not

[2022-08-30 12:38] tshaiman commented on #3610
I think the ask from the Keda team is maybe to catch this exception and either ignore it if the 2nd / 3rd attempt succeeded
(in other words : don't throw if the retry mechanism is working )
and also try to be more verbose : what is the timeout , on which component/scaler , how can we configure longer timeouts etc.

[2022-08-30 13:02] tomkerkhove commented on #3610
We should also check if there is a way to optimize the integration to reduce amount of calls, what do you think?

[2022-08-30 13:04] JorTurFer commented on #3610
I don't think that we should ignore the error because we don't retry it in the same cycle. The reconciliation loop fails and it will be retried, but not only the request, the whole reconciliation loop. I mean, we don't know inside the cycle if another cycle will be executed, we could assume it, but we are not 100%, so we cannot trust on future executions.
WRT timeouts, this uses the default timeou

[2022-08-30 13:06] tshaiman commented on #3610
yes that was my thoughts as the go stack is almost meaningless.
thanks for pointing out the ENV Variable to increase timeout ,I will Definity try it .
and yes, I do see the log is quite verbose , thank you

[2022-08-30 13:06] JorTurFer commented on #3610
@zroubalik and I have been talking recently about how to apply [this](https://github.com/kedacore/keda/issues/2282). It'll improve amount of calls for sure, but maybe we can try to improve it more, IDK

[2022-08-30 13:09] JorTurFer commented on #3610
do you think that adding something like `error getting aad-pod-identity token:` in the error message would help to detect this in the future? It's a simple thing to do if it helps

[2022-08-30 14:57] tomkerkhove commented on #3610
I think that would be helpful, yes

[2022-08-30 15:23] mwarkentin opened #3613 "New scaler: Google Cloud Tasks"
### Proposal

I would like to be able to set up autoscaling for Google Cloud Tasks.

### Scaler Source

api/request_count, queue/depth

### Scaling Mechanics

I see this as being similar to the existing RabbitMQ triggers where you could define a request rate trigger to scale up with the number of incoming items, as well as a queue depth trigger in case consumption slows down and you begin to accum

[2022-08-30 18:43] kevin-staiger commented on #3580
@JorTurFer Im running version: 2.7.3, Ive tried formatting the certs in several different ways, this was working before on an insecure cluster but adding the trigger auth has been difficult to debug, my comment was inline as it was related to the issue above

[2022-08-30 18:47] JorTurFer commented on #3580
Could you share your ScaledObject and keda-operator logs?
Last SO you shared uses CPU and memory, so TriggerAuthentication is not needed.
Do you have kubernetes metric server installed?

[2022-08-30 18:49] kevin-staiger commented on #3580
This is my scaledobject, the above is the config from the related issue, mine does need auth its scaling on secure kafka cluster
[code]

[2022-08-30 18:56] kevin-staiger commented on #3580
@JorTurFer  do you know how I access the keda-operator logs? I typically access my cluster through Lens the only message i see is
 - message: Failed to ensure HPA is correctly created for ScaledObject
      reason: ScaledObjectCheckFailed

I have my cert in a PKS format and tried to convert cert key ca format, and i see kubernetes secrets decoding the base64 properly but im not sure if its authori

[2022-08-30 20:46] karl-sprig opened #3614 "aws-cloudwatch scaler only works with expressions that return a value greater than `activationTargetMetricValue`"
### Proposal

I would like greater control over the logic in the `IsActive()` function for the `aws-cloudwatch` scaler.

For my needs (outlined below) there are a few different ways this could be implemented:

- just a simple way to indicate that the `IsActive()` logic should be negated. This could be a simple `targetMetricComparisonOperator` field which defaults to the current `>` but would also

[2022-08-30 21:56] JorTurFer commented on #3580
But that trigger is not CPU, it's kafka.
In the namespace you installed KEDA (usually `keda`) you should have 2 pods, the operator and the metrics server. Share the operator logs please

[2022-08-30 22:04] JorTurFer commented on #3614
I answered you but let's talk about this here to track the conversation.
why do you need 2 queries? why not just `if(select count(invocations)>0, 1,0)` ?
I have seen that selecting the symbol used for the activation could be enough to you. AFAIK AWS CloudWatch supports arithmetic operations, just multiply you value for `-1` and you have already changed the symbol in the upstream, any change is nee

[2022-08-31 00:04] #3180 closed

[2022-08-31 00:04] #3007 closed

[2022-08-31 06:51] tomkerkhove opened #3615 "Upgrade test cluster to Kubernetes v1.23"
Upgrade test cluster to Kubernetes v1.23 as per our support policy.

[2022-08-31 06:51] tomkerkhove commented on #3615
@JorTurFer @zroubalik am I OK to start this?

[2022-08-31 06:59] tomkerkhove commented on #3613
That's a good idea! Are you willing to contribute it?

[2022-08-31 08:15] vflaux commented on #3448
Hi, we encountered the same issue with 2.7.3 & 2.8.0.
I tested a local build with an additionnal check at the end of `datadogScaler.getQueryResult()`:
[code]
And we get this error instead of a panic (in keda-operator):
[code]

[2022-08-31 08:34] kamilglod commented on #3556
Here are logs that I was able to catch during the time when we had problems with starting new job:
[code]

There were 12 minutes when it should scale up but it didn't.

![Screenshot from 2022-08-31 10-34-25](https://user-images.githubusercontent.com/8168459/187634199-19691810-d026-456f-9187-64d2e2562db0.png)

[2022-08-31 09:46] JorTurFer commented on #3615
Yes, go ahead. Currently, KEDA works perfectly on 1.23 so we can proceed

[2022-08-31 11:21] tomkerkhove commented on #3615
Done, all nodes run 1.23.8 now

[2022-08-31 11:21] #3615 closed

[2022-08-31 12:10] JorTurFer commented on #3557
I'm not totally sure if these vulnerabilities are related with the packages you linked. They affect to `github.com/hashicorp/vault` but `github.com/hashicorp/vault/api` is another package with other versioning.
We are using `v1.7.2` [which is latest](https://pkg.go.dev/github.com/hashicorp/vault/api?tab=versions) for `github.com/hashicorp/vault/api` and `v0.5.1` for `github.com/hashicorp/vault/sdk

[2022-08-31 14:51] JorTurFer commented on #3556
Hey,
I have reviewed the logs you sent and it seems KEDA is working properly, I mean, every time when queueLenght is 1, you have 1 running job. Could you double-check if there is any stuck job which is `running` but not processing messages? The delay that you see could be the time until the pod is killed/restarted.
[code]
I assume that metrics are not processed in time, but I'd like to know why KE

[2022-08-31 16:56] karl-sprig commented on #3614
Not to worry. AWS does not explicitly spell this out anywhere that I can find. It's implied from _all_ of [the examples](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html) though.  You can also confirm this experimentally as i'll show below.

**Cloudwatch does not support nested queries in the form of `Select SUM($thing) where $thing_id in (Select from ....)`**

[2022-08-31 19:11] mwarkentin commented on #3613
@tomkerkhove I'm working on a proposal for using KEDA at Sentry - if that goes through and we implement it it may be something I can look at.. don't think I can put in the time if we're not using KEDA yet though. :D

[2022-08-31 20:09] tomkerkhove commented on #3613
Sounds great though!

[2022-09-01 06:17] kamilglod commented on #3556
Hm, I was expecting that, because we're acknowledging the message right after the start of the job, the new job would be created if we have still single job that is processing previous message. But I understand now that it's not working like that. It would require some sort of assigning specific message to the specific job which is not a design of Keda.

Ok, so it looks like we need to rethink how

[2022-09-01 06:50] ChandniSuresh opened #3620 "Selenium Grid Scaler | Multiple browser nodes are not scaling parallel"
### Report

When we run browser nodes separately they are autoscaling as expected. For example, if we run the Firefox test the Firefox nodes are scaling as per the count in the session queue.
But the issue is when we start multiple browser tests eg: Chrome, and Firefox together then at a time only one browser is autoscaling.
The other browser will stay in the queue until all current running browse

[2022-09-01 08:46] tomkerkhove opened #3623 "Provide capability to disable Kubernetes events"
### Proposal

Provide capability to disable Kubernetes events

### Use-Case

End-users relying on other features, such as CloudEvents, want to reduce the noise in Kubernetes events to avoid re-processing things.

### Anything else?

_No response_

[2022-09-01 08:53] tomkerkhove opened #3624 "Provide annotation information from resource in all CloudEvents"
### Proposal

Introduce a `metadata` section in all our events which has all the annotations of the subject in `annotations`:
[code]

If we want, we can introduce more information to `metadata` going forward.

### Use-Case

End-users want to have metadata about the subject of the CloudEvent.

### Anything else?

_No response_

[2022-09-01 09:53] #3602 closed

[2022-09-01 10:42] JorTurFer opened #3626 "Release: v2.8.1"
This issue template is used to track the rollout of a new KEDA version.

For the full release process, we recommend reading [this document](https://github.com/kedacore/keda/blob/main/RELEASE-PROCESS.MD).

## Progress

- [x] Prepare changelog
- [ ] Add the new version to GitHub Bug report template
- [ ] Create KEDA release
- [ ] Publish new documentation version
- [ ] Setup continous container scan

[2022-09-01 10:58] tomkerkhove commented on #3626
For Helm, these are the changes to be added to release notes - https://github.com/kedacore/charts/milestone/10?closed=1

Do make sure to check the chart version as I think it was already bumped but not shipped yet

[2022-09-01 11:13] #3556 closed

[2022-09-01 12:18] tomkerkhove opened #3629 "Provide information in ScaledObject/ScaledJob CRD events for failed authentication & scaled target not found"
### Proposal

Provide information in ScaledObject/ScaledJob CRD events for failed authentication & scaled target not found so that end-users can see failures on the CRD instead of having to go to the logs

### Use-Case

Understand why autoscaling is not happening based on the CRD info.

### Anything else?

_No response_

[2022-09-01 15:04] JorTurFer commented on #3626
Release completed! ❤️

[2022-09-01 15:15] JorTurFer commented on #3614
mmm, in that case, seems that ATM your request is not supported by KEDA, sorry.
Once formulas feature is ready this could work, but I don't have any idea for the moment :(

[2022-09-01 15:17] JorTurFer commented on #3614
one thing that you could do is create your own RestAPI/gRCP service which queries cloudwatch and applies the formulas that you need, and use Metrics API Scaler or External Scaler to query your service from KEDA

[2022-09-01 15:52] #2569 closed

[2022-09-01 16:07] JorTurFer commented on #613
I think this could be a huge headache because we'd have potentially twice or 3 times more code to maintain. I'm not saying no to this, but before starting with this, I'd like to have the versioning lifecycle defined and what users can expect from each version.
Are we going to apply backports with fixes or we only actively maintain latest versions? What about e2e tests? How long are we going to sup

[2022-09-02 08:08] #3561 closed

[2022-09-02 08:34] tomkerkhove commented on #613
Oh yes, I'm not saying that we should already implement this straight away but I think we _have_ to do it. It's either this way, or we cannot make breaking changes to triggers unless we bump the API version for our _whole_ CRD.

Before I went in to detail, I wanted to see if we all agree this is something we should do. In terms of duplication, I'd say that this is just something we can isolate fro

[2022-09-02 12:46] #3610 closed

[2022-09-02 20:42] dejongm opened #3643 "EKS vanilla install of 2.8.1 results in api-server crashloop"
### Report

Launching a vanilla install of Keda version 2.8.1 Helm Chart on EKS version 1.22 results in a crashloop of the Keda api-server. Launching version 2.7.2 of the Keda Helm Chart on the same cluster results in a successful deployment.

Output from : kubectl get  apiservice
[code]
The metrics-apiserver readiness probe fails to connect.
`Readiness probe failed: Get "https://10.168.1.93:6443/

[2022-09-03 07:17] tomkerkhove commented on #3643
Can you show a describe of the deployment please?

[2022-09-03 11:31] dejongm commented on #3643
[code]

[2022-09-05 05:17] wallflower762 commented on #3555
I believe that feature is for `jobs` rather than `deployments`. Please correct me if I have understood

[2022-09-05 09:58] bboreham opened #3644 "Detect Inf before casting float to int"
### Report

This line: https://github.com/kedacore/keda/blob/4e7203066425ee20dc5f5ab3743d00cb336f94e8/pkg/scalers/prometheus_scaler.go#L310

is called on output from Prometheus, which may be `+Inf`.

It calls https://github.com/kedacore/keda/blob/4e7203066425ee20dc5f5ab3743d00cb336f94e8/pkg/scalers/scaler.go#L189
where the value is cast to an int.  This does not go well; it might result in a numbe

[2022-09-05 10:02] dannykopping commented on #3644
It would be greatly appreciated if the fix could be backported to v2.7 as we (Grafana Labs, who :heart: KEDA!) are currently staying one minor version behind for stability.

[2022-09-05 18:17] vineetsharma883 commented on #654
hey is this solved ?

[2022-09-06 05:06] v-shenoy commented on #3644
Would you be willing to list Grafana as a user?
https://github.com/kedacore/keda#adopters---become-a-listed-keda-user

[2022-09-06 14:33] mwarkentin commented on #2581
Generally this has been how we've scaled our Kafka consumers when managing replica count manually, so some way to do so with autoscaling would be great as well to help guarantee that we have an even distribution of work (assuming relatively even distribution of messages across partitions) for our consumers.

[2022-09-06 14:38] khateeb15 opened #3646 "support multiple cron triggers for multiple schedules with different replicas"
### Proposal

to be able to have different cron schedules with different desiredReplicas for the same target without them conflicting with each other, for example, the following code will result in the two scaledObject conflicting, during the operation hours of the first, it will try to scale up to 2, but since it's out of operation hours for the second, it will try to scale to 0, causing the serv

[2022-09-07 08:53] zroubalik commented on #2581
@mwarkentin are you willing to contribute this? :)

[2022-09-07 13:37] #3221 closed

[2022-09-07 14:12] StManolo opened #3648 "Azure Agent offline when scale down"
### Report

Hello,
When keda scales multiple pods, they are not always deleted in VSTS console and have gone offline.

![image](https://user-images.githubusercontent.com/38782268/188897337-cafcab8b-6e78-4e4c-8cf5-7f0c2b74bc57.png)

### Expected Behavior

All pods deleted by Keda should disappear from the VSTS console

### Actual Behavior

Sometimes, pods deleted by Keda don't disappear from the VS

[2022-09-07 21:41] philomory commented on #3565
This would be so nice. Needing to mount the CA certificate into the KEDA pod is a bit of a pain (it's also not _terribly_ well documented).

[2022-09-08 03:35] cdlliuy commented on #3588
@JorTurFer ,  I didn't notice your comments ....
Instead, I created a PR to fix the issue https://github.com/kedacore/keda/pull/3650 per the suggestion in above https://github.com/kedacore/keda/issues/3588#issuecomment-1227355883 by @zroubalik

can you help to review?

[2022-09-08 12:21] JorTurFer commented on #3588
sure, I'll do it

[2022-09-08 20:45] fraozy opened #3655 "Date at keda operator logs not in correct format"
### Report

The keda-operator show logs with incorrect LEVEL TIME format. Example:

[code]

This is preventing the monitoring tool to correctly identify the error level at log message. The error was not happening at previous version used, **KEDA version 2.5.0**

### Expected Behavior

The date/time should be in the correct format, like :
[code]

### Actual Behavior

All the logs at keda-operator a

[2022-09-09 09:49] zroubalik commented on #3565
Make sense, I would vote for using exclusively TriggerAuthentication for this and don't use trigger metadata to hold secrets (3.).

[2022-09-09 13:00] #3205 closed

[2022-09-09 16:04] 2022H1030014G commented on #3401
Hi @JorTurFer ,Hope you are doing great. Can you assign this issue to me.

[2022-09-09 16:07] JorTurFer commented on #3401
hey!
sure, thanks for contributing! ❤️

[2022-09-09 18:25] tomkerkhove commented on #3330
Keep-Alive

[2022-09-10 13:25] #3140 closed

[2022-09-10 13:25] #3272 closed

[2022-09-11 17:02] JorTurFer commented on #2895
any update here?

[2022-09-11 17:43] v-shenoy commented on #2895
I'll try to see if I can get this done soon.

[2022-09-11 20:32] JorTurFer commented on #2895
I have followed [this doc](https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity) to spawn add-pod-identity on my own cluster and it's quite easy

[2022-09-12 04:54] amirschw commented on #3394
Hey @JorTurFer, are there any other blockers or can this be started now that #3653 is merged?

[2022-09-12 06:12] JorTurFer commented on #3394
It's already done here :smile:
https://github.com/kedacore/keda/pull/3639

[2022-09-12 07:03] tomkerkhove commented on #3646
I would need to check if using multiple crons are supported, but you should only use 1 ScaledObject instead of 2

[2022-09-12 07:06] tomkerkhove commented on #2895
What do you need?

[2022-09-12 09:02] amirschw commented on #3394
Cool! Missed the reference 😀

[2022-09-12 17:50] deepakguna opened #3657 "Keda Selenium scaler: scalehandler Error getting scale decision context deadline exceeded (Client.Timeout exceeded while awaiting headers)"
### Report

Keda Selenium scaler: scalehandler Error getting scale decision context deadline exceeded (Client.Timeout exceeded while awaiting headers)
I am trying to use keda selenium scaler for my grid in AWS k8s - however it is having issue with keda-operator and metrics server.

Any help much appreciated.

Following is my keda scaledobject definition:
apiVersion: keda.sh/v1alpha1 kind: ScaledOb

[2022-09-12 19:29] #3423 closed

[2022-09-13 01:43] deepakguna commented on #3657
@zroubalik @prashanth-volvocars @arschles your help much appreciated. I have created this bug from my unresolved discussion at https://github.com/kedacore/keda/discussions/3649.

[2022-09-13 18:01] khateeb15 commented on #3646
so it would be two triggers one ScaledObject?

[2022-09-13 18:53] dejongm commented on #3643
Hello, Just following up to see if you may have any thoughts on this issue. Let me know if I can provide anything else.

[2022-09-13 20:08] JorTurFer commented on #3644
hey,
This make sense totally, are you willing to contribute with the fix?

[2022-09-13 20:10] JorTurFer commented on #3644
For the moment, we don't backport changes, each release is distributed as it is, sorry :(

[2022-09-13 20:10] JorTurFer commented on #3655
hey,
Could you check if the operator receives these parameters?
[code]
This is how it should look (ignoring that I'm using my own registry)
![image](https://user-images.githubusercontent.com/36899226/189998840-3d6130ba-1c09-4332-a4a6-3a4949e9dc27.png)

[2022-09-13 20:19] JorTurFer commented on #3643
Hey,
Sorry for the late response :(
What event are raised by k8s? OOMKill? I can't see anything in the log apart from `Shutdown signal received`. From KEDA logs, it seems like an external killing.

[2022-09-13 20:24] JorTurFer opened #3659 "Cover with e2e test every scaler with pod identity"
### Proposal

At this moment, we are treating pod identity as a secret provider but they aren't. Pod identity implementations have to be integrated in the scaler code and test one scaler doesn't guarantee that other scalers with the same pod identity will work.

For instance, we are testing service bus with pod identity, but other azure scalers aren't covered and pod identity could fail without an

[2022-09-14 05:49] tomkerkhove commented on #3646
Yes, but I have not tried that with a cron - @zroubalik @JorTurFer Any concerns here with cron scaler?

[2022-09-14 06:00] zroubalik opened #3661 "Extend e2e test coverage for ScaledJob"
### Proposal

Cover advanced options/scaling strategies of ScaledJob in e2e tests.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-09-14 07:33] tomkerkhove opened #3663 "Provide operational insights on # of triggers per trigger type"
### Proposal

Based on the current docs, we provide the following metrics today:

- `keda_metrics_adapter_scaler_error_totals` - The total number of errors encountered for all scalers.
- `keda_metrics_adapter_scaled_object_error_totals` - The number of errors that have occurred for each scaled object.
- `keda_metrics_adapter_scaler_errors` - The number of errors that have occurred for each scaler.

[2022-09-14 08:46] v-shenoy commented on #3663
Would like to hear some thoughts on this from @JorTurFer @zroubalik

[2022-09-14 13:07] Anoojak commented on #3031
Hi All
Even same issue exist here unable to fetch the external metrics the query which am using is executed on prometheus ui i could see the metrics collected but when i deployed hpa file using the metric query facing issue error is unable to fetch external metrics
 i restarted keda but still the issue is same
keda version installed is 2.7.1
kubernetes version 1.21
![Screenshot_20220914-182745_Gma

[2022-09-14 14:05] kevinteng525 opened #3668 "Remove the secret from clusterrole"
### Proposal

Greetings,

We want to leverage KEDA for autoscaling, however KEDA will require list/watch/get all secrets across all namespaces. This will introduce security risks and could not deploy on production env.

So we want to limit the secret permission to only list/watch/get on KEDA namespace, and we will only use ClusterTriggerAuthentication.  Currently we have 2 proposals:
1. Add secret

[2022-09-14 15:44] v-shenoy commented on #3031
@JorTurFer Could this be a broader issue, rather than something specific `Log Analytics`?

[2022-09-14 16:22] JorTurFer commented on #3663
I think that we can add these metrics about adoption, it's true that from monitoring pov could not give a lot of information, but from adoption pov it gives. I mean, as a cluster operator I could want to know the aggregated values of trigger types to apply some improvements, .e.g: If I only have 1 azure scaler, maybe doesn't make sense to use managed identities.
This also gives useful information

[2022-09-14 17:06] JorTurFer commented on #3668
Hey,
I have reviewed the code and you are right. KEDA gets the secrets for each deployment during the scaler build.
I think that you requirement makes sense totally but I'd go with the second one because I'm not sure if the 1st solution works, with or without cache, you will request the secret.
Are you willing to contribute with it?

Maybe we could add a flag like `strictSecretAccess` or similar a

[2022-09-14 19:17] dejongm commented on #3643
[code]

[code]

[2022-09-14 19:25] v-shenoy commented on #3663
If there's agreement, I can work on implementing these.

[2022-09-14 19:25] v-shenoy commented on #3663
I can work on implementing this.

[2022-09-14 20:07] cdennison opened #3669 "metrics-api trigger giving averageValue Invalid value"
### Report

Here's my deployment yaml

For non-arm you can use just "nginx" for image

Trying to use this trigger: https://keda.sh/docs/2.8/scalers/metrics-api/

[code]

### Expected Behavior

Nginx to be scaled to 3 instances

### Actual Behavior

The main error appears to be this:

"HorizontalPodAutoscaler.autoscaling \"keda-hpa-http-scaledobject\" is invalid: spec.metrics[0].external.target.ave

[2022-09-14 20:30] JorTurFer commented on #3643
This is weird because from KEDA logs I think the error it's outside, but from outside logs I think is in KEDA. Could you enable debug logs and share them please? You can do it modifying the argument `- '--v=0'` to `- '--v=3'`
![image](https://user-images.githubusercontent.com/36899226/190256140-3a7c2ee4-0259-42e2-bc0b-895109c7c0ef.png)

BTW, there is a bug with Prometheus metrics generated by KEDA

[2022-09-14 21:04] JorTurFer commented on #3646
Hey,
Yes, you can have multiple cron triggers, they will be evaluated as MAX between them, so in case of overlap but that's all.
You shouldn't have multiple ScaledObject per workload, because that will create multiple HPA per workload and the HPA Controller will scale out/in all the time, 1 ScaledObject per workload, all the triggers you want in that ScaledObject

[2022-09-15 05:11] #231 closed

[2022-09-15 06:17] kevinteng525 opened #3670 "Timeout or abort while handling GET external metrics with 1500 scaledobjects"
### Report

Greetings,

We are running some lnp test with KEDA scaledobjects, we created 1500 namespaces with deployments and scaledobjects, each scaledobjects includes 4 prometheus triggers + 1 cron trigger, so totally there will be 1500 x 5 = 7500 external metrics, the polling interval is set as 300.

And we found following errors from keda-metrics-apiserver logs, although most metrics will retu

[2022-09-15 06:42] JorTurFer commented on #3648
Hey,
Sorry, I haven't seen this issue before :(
KEDA doesn't manage the upstreams, the only thing it does is querying them to get the metrics. Your agent docker image should unregister the agent during the stop. If you are already doing it, maybe it's because the grade period is too short and it doesn't have time to unregister itself

[2022-09-15 07:50] Anoojak commented on #3031
Hi JorturFer

please find the attached logs from metric server
i checked the query in prometheus UI its executing fine
![20220915_125256](https://user-images.githubusercontent.com/50958509/190345705-9e74b5e0-0fd8-4e29-92cf-d37136890ffa.jpg)

[2022-09-15 08:58] penghuazhou opened #3671 "Can provide keda-api as single github project?"
### Proposal

I only want use keda api，but I want not use go module witch keda have dependence.

### Use-Case

for example
[code]

<img width="1396" alt="image" src="https://user-images.githubusercontent.com/13001038/190360971-4653d5d7-5a96-479f-8579-290838942d7c.png">

I copy keda api to my project，because  I want not use go module witch keda have dependence.
<img width="356" alt="image" src="htt

[2022-09-15 09:01] zroubalik commented on #3031
@JorTurFer might be worth checking this in the Prometheus scaler code, right?

[2022-09-15 09:09] JorTurFer commented on #3031
the error says `prometheus query %s returned multiple elements`. I guess that the error here is clear, but the docs isn't clear enough, but we could modify the message clarifying the limitation in code too. Maybe something like `prometheus query %s returned multiple elements but only single element is supported`

[2022-09-15 09:17] #2986 closed

[2022-09-15 09:17] #3394 closed

[2022-09-15 18:06] luisg707 commented on #2654
+1 on this ask.

[2022-09-16 06:58] #3320 closed

[2022-09-19 03:23] jakond1 opened #3674 "Keda scaler object abruptly kills the pods in middle"
One of user  is using KEDA to scale up and down the pods according to service message count which is working as expected

However customer pods are abruptly terminating as part of scaledown while the pod is handling application requests or processing data .this causing loss of application connection in between..

So user wants to know if there is option or possiblity so that keda waits for pod til

[2022-09-19 06:02] #2299 closed

[2022-09-19 07:35] alon-mo opened #3675 "Kafka scaler undocumented bootstrapServersFromEnv is not working"
Hi, does anyone knows whether this functionality actually works or not?

My deployment is as follows:

[code]

and I set my ScaledObject as follows:

[code]

but the environment variable value is not picked as expected.

I would appreciate any assistance on this. Thanks!

_Originally posted by @alon-mo in https://github.com/kedacore/keda/issues/1329#issuecomment-1250240879_

[2022-09-19 07:52] Ritikaa96 commented on #3596
Hi, @JorTurFer , I'd like to take this up. What I understood is we have to remove `rolloutStartegy` from :

- apis/keda/v1alpha1/scaledjob_types.go
- controllers/keda/scaledjob_controller.go
- config/crd/bases/keda.sh_scaledjobs.yaml

There is no mention of rolloutStrategy anywhere else so we are safe to deprecate it through these.

[2022-09-19 11:10] tomkerkhove commented on #3596
Thanks! Unfortunately we cannot do this yet as this is a breaking change and we have to wait for KEDA 3.X.

[2022-09-19 11:14] tomkerkhove commented on #3596
No problem and thanks for looking for contribution items!

[2022-09-19 13:06] zd9KgA opened #3676 "ScaledJob fails to support repeated containerPort with different names in container template"
### Report

In the definition of a ScaledJob.spec.jobTargetRef.template.containers, I'd expect to be able to state something like this:

[code]

That is, to refer to the same physical port by different names (e.g., metrics and probes in the given example). This works for a Pod, and I did not find any restriction why the same PodSpec shouldn't work in the definition of a ScaledJob.

Unless I am mis

[2022-09-19 13:41] kevinteng525 commented on #3668
Hey JorTurFer,

Sure, pls. help to review https://github.com/kedacore/keda/pull/3677

[2022-09-19 13:54] djsly opened #3678 "KEDA frequent reconciling causing ApiServer LIST verb Saturation"
### Report

Keda operator goes into a "restart" loop causing a constant reconciliation loop. Due to the non cache LIST operation the apiserver was not able to answer LIST request for other services as well.

### Expected Behavior

Keda Operator should use cached List operation and it should also not get into reconciliation loop

### Actual Behavior

Graph showing the apiserver saturation time

<im

[2022-09-19 14:21] zroubalik commented on #3678
Hi, this is probably a duplicate of https://github.com/kedacore/keda/issues/2914

This issue has been solved most likely By chance, could you please update KEDA version to the latest one?

[2022-09-19 14:39] omarculescu commented on #3669
It looks like your metrics API url responds with `Content-Type: text/html; charset=utf-8`. It should respond with `Content-Type: application/json` instead. Try this mockbin: https://mockbin.org/bin/336a8d99-9e09-4f1f-979d-851a6d1b1423

[2022-09-19 14:57] trimbleAdam opened #3679 "Azure DevOps Scaler as Job scales out spuriously and orphans pipeline stages"
### Report

Using the ScaledJob means of autoscaling Azure DevOps self-hosted agents, we see that the ScaledJob is creating a bunch of pods that are listening for jobs to run, a couple of which are actually running pipeline stages/steps.
We end up with our maximum number of jobs/pods, but most are not doing anything.

### Expected Behavior

A pipeline which requires 2 agents will create 2 k8s jobs

[2022-09-19 15:54] djsly commented on #3678
we certainly can, what do you mean "by chance" ?

[2022-09-19 16:45] JorTurFer commented on #3679
Hey,
Sorry but KEDA isn't the responsible for scheduling jobs in agents. I mean, KEDA get the pending agent pool queue and spawn  k8s jobs based on the pool queue. It's the agent who has to register itself, and do whatever is needed to get the jobs from AzDO.
What do you see in the logs from not working agents? Could you share your ScaledJob?

[2022-09-19 17:26] JorTurFer commented on #3675
Hey,
I have checked and it's true, it's undocumented and it should work.
How many containers does your pod have? the environment variables are gathered only for a single container, being the index 0 the default.
If you have more than 1, you should specify in the yaml which container should be used for env using `envSourceContainerName`
![image](https://user-images.githubusercontent.com/36899226/19

[2022-09-19 17:28] JorTurFer commented on #3674
If you have long executions processes, I'd recommend to use ScaledJobs for it because you can guarantee that the job finishes.ç
ScaledObject delegates in the HPA Controller and KEDA doesn't have any control about which pods are killed. You could set the grace period in the deployment or intercept the stop using hooks, but I'd recommend the jobs

[2022-09-19 17:50] trimbleAdam commented on #3679
Understood. What we need is to know _why_ the scaler is doing this.  We originally tried to use the Deployment model with ScaledObject, but scale-in would wind up occurring on pods which were running jobs still, so we thought that ScaledJob would be better for this, coz you get a 1:1 between agent and item-in-queue.

All the non-working agents bootstrap in the normal way, and we see "Listening for

[2022-09-19 18:07] JorTurFer commented on #3679
Are you able to see them in the AzDO UI? The error you are seeing is related with AzDO API, maybe it's there the issue, but KEDA doesn't assign the jobs to the agents, so even if you don't have that timeout, you will continue with your issue.
You can increase the global KEDA timeout using the env `KEDA_HTTP_DEFAULT_TIMEOUT` https://keda.sh/docs/2.2/operate/cluster/#http-timeouts

[2022-09-19 18:17] trimbleAdam commented on #3679
Ya, we can see the agents in the AzDO UI, both agents working on something, and the rest of the idle agents:
<img width="1485" alt="image" src="https://user-images.githubusercontent.com/38919772/191086180-4c766bc3-823c-4c98-bf1f-012c7f69d23c.png">

[2022-09-19 18:29] trimbleAdam commented on #3679
We _are_ trying to leverage ScaledJob controllers in multiple namespaces; could be need to bump up the number of reconcilers re: https://keda.sh/docs/2.8/operate/cluster/#configure-maxconcurrentreconciles-for-controllers?

[2022-09-19 18:31] zroubalik commented on #3678
the original sentece was missing a `.` hope that it makes sense now ;)

[2022-09-19 18:37] JorTurFer commented on #3679
I can see that KEDA is working because you have multiple instances. KEDA doesn't have any control over how the agents take the jobs from AzDO

[2022-09-19 18:46] JorTurFer commented on #3676
Hi,
Does this work on a regular job? I'm checking and we use [`batchv1.JobSpec`](https://github.com/kedacore/keda/blob/main/apis/keda/v1alpha1/scaledjob_types.go#L46), so basically we are using the same definition as k8s with jobs, if something is available there, should be available with ScaledJobs

[2022-09-19 18:47] JorTurFer commented on #3671
I think that this is overengineering for us atm. WDYT @kedacore/keda-core-contributors ?

[2022-09-19 18:54] JorTurFer commented on #3670
Hey,
We are working to redesign KEDA to improve the mechanics with an internal cache but I can't provide any ETA atm, sorry :(
I expect to have it aiming to v2.10, but we are discussing how to proceed yet

[2022-09-19 19:06] JorTurFer commented on #3668
Sure, I'll review during the week, I'm a bit busy atm

[2022-09-19 19:23] zd9KgA commented on #3676
Hi,
`batchv1.JobSpec.template` is a `PodTemplateSpec [core/v1]`, and it's `spec` entry is a `PodSpec [core/v1]`. The `containers` entailed are of type `Container [core/v1]`.

I didn't have a `Job` at hand, but quickly checked with a `CronJob`. Adding a repeated port as described above does work.

Many thanks for looking into this!

[2022-09-19 19:43] JorTurFer commented on #3676
okey,
Thanks for the verification, seems totally legit that KEDA should support it if it works with other manifests that embedded podSpecs.
Are you willing to contribute with this?

[2022-09-19 19:59] zd9KgA commented on #3676
Hi @JorTurFer,
Willingness is not the limitation. I lack sufficient acquaintance with `golang` to be of good help. But I certainly have a set-up using  which I could assist testing based on Docker images - provided this is of any benefit.
My suspicion is that the problem is caused by an incomplete consideration of input during validation. Seemingly the optional field `name` is not used for disambi

[2022-09-20 02:50] khacminh opened #3680 "Add pod-deletion-cost as a new option"
### Proposal

Hello Keda team,

I have a suggestion that keda should have an option to use [Pod deletion cost](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#pod-deletion-cost).  With the option set to true, the pods that come later will have the lower deletion cost. It will make the deployment scale up and down in order.

### Use-Case

As usual, I would like to have my upsc

[2022-09-20 07:35] tomkerkhove commented on #3680
Are you referring to have this option on the scale target? Because that is fully up to KEDA end-users as we do not define that. Or am I misinterpreting your suggestion?

[2022-09-20 08:05] #2920 closed

[2022-09-20 09:28] alon-mo commented on #3675
Hi @JorTurFer, thanks for replying. I have a single container per pod.

Regarding documentation sure, I would be glad to contribute it. I just need to make it work first.

[2022-09-20 10:39] JorTurFer commented on #3675
Can you share KEDA logs? It's weird because the env should be used

[2022-09-20 10:39] JorTurFer commented on #3675
what KEDA version are you using?

[2022-09-20 11:11] #3557 closed

[2022-09-20 11:12] sunshineing commented on #3557
OK,thanks

[2022-09-20 11:23] khacminh commented on #3680
Hi @tomkerkhove,

Thank you for your reply. Let me describe more about my suggestion with this example:

My 3-node cluster has keda and cluster auto scaler (or Karpenter) configured. My scaler is configured to scale my deployment from 5 to 15 pods.

## Without down Pod deletion cost

### Scaling up

At the high traffic, my deployment is sequentially scaled to 15. There are 3 more worker nodes are

[2022-09-20 11:25] alon-mo commented on #3675
we're using keda operator v2.6.2 chart using keda 2.6.1 image.
It looks like it's supported in this version:  https://github.com/kedacore/keda/blob/v2.6.1/pkg/scalers/kafka_scaler.go#L100

[2022-09-20 14:34] JorTurFer commented on #3680
I think that this is useful but I'm not sure if it's something we can do from KEDA side. We could check the pods annotations and annotate them from max to 0, reducing the cost for every new instance, but I'm not totally sure if this could solve your problem.
I mean, the only thing KEDA can do is annotate every new pod with less cost, but it doesn't mean that is correct because in your scenario, th

[2022-09-20 14:56] DevinGillman opened #3681 "Apache Kafka Scaler: SASL/OAuthbearer Implementation"
### Proposal

Add support for Kafka SASL/OAuthbearer authentication.
https://kafka.apache.org/documentation/#security_sasl_oauthbearer

### Use-Case

We often deploy our consumers/producers outside of the Kafka infrastructure. Because of this we are looking for ways to use OAuth Providers like Azure AD or KeyCloak with the Keda Apache Kafka Scalers.

### Anything else?

_No response_

[2022-09-20 15:13] JorTurFer commented on #3681
Hi,
This proposal is related with adding a new authentication mechanism for Kafka scaler, right?
It sounds totally legit, are you willing to contribute this?

[2022-09-20 15:26] DevinGillman commented on #3681
Working on the PR now.

[2022-09-20 15:33] tomkerkhove commented on #3680
I think this scenario is nice, but as far as I can see this is fully managed on the scale target and more related to workload scheduling.

If we were to add this, hypothetically, how would you see this work?

[2022-09-20 17:27] cdennison commented on #3669
Thanks yes that worked - I still suggest you fix that error because it makes no sense. E.g. an error like "wrong content-type" would be more helpful than "target.averageValue not greater than 0."

[2022-09-20 17:36] tomkerkhove commented on #672
https://www.cncf.io/announcements/2022/09/20/spiffe-and-spire-projects-graduate-from-cloud-native-computing-foundation-incubator/

[2022-09-21 00:05] ahmelsayed commented on #3676
I took a brief look at this when I saw the discussion thread, but couldn't quite figure out what the issue was either.

The validation is just a schema validation that's happening here https://github.com/kedacore/keda/blob/fc06165031509bb3f25506fbd97d307ca18eea79/config/crd/bases/keda.sh_scaledjobs.yaml#L1819-L1822

However, that schema is autogenerated from this type https://github.com/kubernetes

[2022-09-21 02:58] khacminh commented on #3680
Hi @JorTurFer and @tomkerkhove

Thank you for your replies.

I think this use-case is common and useful for any cluster running on clouds. The ability to schedule the min/max replicas based on the predictable time frame in date is great. In my opinion, combining with dynamic scaling is better.

About the implementation, I think we should take an assumption that pod-deletion-cost works as it is des

[2022-09-21 11:36] tomkerkhove commented on #3680
I'm afraid this is entering the scheduler territory more than autoscaling. KEDA is not aware of what pods are being spun up so we can actually not achieve this ATM. What do you think @zroubalik @JorTurFer?

What could be done is use an admission controller and re-balance pods based on the new # of pods but again, more of a scheduling feature rather than autocsaling.

I do get why you want to have

[2022-09-21 15:00] kush-work opened #3683 "Kafka Scaler: SASL_plaintext doesn't work with TLS false"
### Report

When we configure authMode as sasl_plaintext, TLS needs to mandatorily enabled or else we were getting error of failed authentication.

### Expected Behavior

Set TLS to enabled by default when authMode is sasl_plaintext

### Actual Behavior

Scaler fails to authenticate

### Steps to Reproduce the Problem

1. Create kafka scaler
2. disable TLS in triggerAuth
3. See error

### Logs fro

[2022-09-21 15:02] kush-work commented on #3683
I can make fix for this if the maintainer validates this as a bug

[2022-09-21 16:59] PSKP-95 commented on #3602
The error looks like this. I think.
![image](https://user-images.githubusercontent.com/35999328/191566225-27f79806-cebf-447c-a0a1-b9cff267a034.png)

[2022-09-21 17:16] JorTurFer commented on #3602
Do you still have the issue? If you are running with KEDA v2.8.1 (chart v2.8.2) and you still have issues, could you open another  issue to track it?

[2022-09-21 18:04] dejongm commented on #3643
Thanks for the feedback! It seems upgrading to Helm chart v.2.8.2 resolved the issue.

[2022-09-21 18:04] #3643 closed

[2022-09-21 20:40] JorTurFer commented on #3683
@zroubalik , WDYT?

[2022-09-22 02:43] khacminh commented on #3680
hi @tomkerkhove

I know that KEDA doesn't manage the pods and it may take more effort to manage them. My request is based on the priority of downscaling pods. And of course, it's all about the cost-saving without manual effort or pod rescheduling. Kubernetes doesn't come with pod deletion cost until v1.21 (alpha). And it's great if KEDA supports this feature.

---

About time-based configuration.

[2022-09-22 17:02] DevinGillman commented on #3681
PR is now open. Let me know if there are any questions or concerns. I've been able to test this with a local Strimzi Minikube cluster using Azure AD. If there are ways to add e2e tests for this please let me know.

All the best,
Devin

[2022-09-23 07:53] zroubalik commented on #3683
I am not sure if we should do this. Isn't there any usecase where TLS=false is needed? We can probably update our docs with a note, where we suggest setting TLS=true when sasl plaintext is being set.

[2022-09-23 07:56] zroubalik commented on #3596
Honestly I think we can drop it :D it's change in crd which is v1alpha1.

[2022-09-23 08:31] JorTurFer commented on #3596
IMO, we should keep at least 1 version the old code with a warning to avoid breaking changes, giving some time (2-3 months) to update the manifest. Something like, `WARNING: this field XXX has been deprecated and wil be removed in vYYYY`(like k8s does)

[2022-09-23 08:34] JorTurFer commented on #3596
I mean, I agree with removing the fields, but giving info to the users and time to update, we could improve the user experience. In the case of we notify it and they don't update their manifest, it's totally their fault.
Anyway, we should document this also in https://github.com/kedacore/governance/pull/70

[2022-09-23 08:40] zroubalik commented on #3596
Absolutely, this is the way.

[2022-09-23 09:13] tomkerkhove commented on #3596
Which is a good reminder to ask to re-review open comments on https://github.com/kedacore/governance/pull/70 :)

[2022-09-23 11:03] Eldarrin commented on #3679
I'll run some tests here and see if I can duplicate it

[2022-09-23 12:40] Eldarrin commented on #3679
If you run curl -u user:pat https://dev.azure.com/FOO/_apis/distributedtask/pools/90/jobrequests it should spin up an agent for each item in that list that has value.n.results = nil

[2022-09-24 19:59] JorTurFer commented on #3680
I have been thinking about this.  Let's say that we agree to implement this, we could use the operator reconciliation to check if there is any pod (from workload) without the annotation and in case of existing, annotate it with less weight than others.

Could this be enough? I mean, KEDA won't guarantee that "easier to remove" pods are in latest created nodes because there could be several events

[2022-09-25 07:23] khacminh commented on #3680
Hi @JorTurFer

What do you think if the KEDA operator can reset the weight of all pods to maximum value on scaling to minimum/idle replica(s)?

[2022-09-25 08:52] JorTurFer commented on #3680
Yes, my idea was to define a constant max value and do something like this during the reconciliation loops:
1. List all pods
2. Get currentValue from them (if all of them are empty, max value is the currentValue, if not, currentValue is the minimum between all of them)
3. Annotate each pod with currentValue - 1 (calculated for every pod) .

In this scenario, during scale to zero we will reset the

[2022-09-25 09:34] khacminh commented on #3680
Hi @JorTurFer,

I think scaling to the minimum or idle replica(s) occurs frequently. So, resetting the counter on this event will help.

[2022-09-26 06:16] tomkerkhove opened #3686 "Prepare for Hacktoberfest"
As Hacktoberfest registrations are openening, we should prepare by tagging issues with `help-wanted` and `hacktoberfest`.

[2022-09-26 06:16] tomkerkhove commented on #3686
@JorTurFer @zroubalik I'll go through some of them today but feel free to do the same

[2022-09-26 07:40] tomkerkhove commented on #3680
I'm not sure if this logic is actually correct, and, if we should do it because it's better to not do anything rather than to do it wrongly.

Given this is tightly related to the nodes and its current workload I'm not sure if KEDA should do this (Hello scheduler :wave:)

Just listing all pods with the same maximum value on scale to zero is just a no-op since it will have no impact. I might not get

[2022-09-26 07:43] v-shenoy commented on #3663
Reposting a query from Slack -

The value for this metric might change every time a `ScaledObject` / `ScaledJob` is reconciled, as the triggers for them might be changed by the user. Considering the reconciliation happens in the operator, I am not sure how best to expose the Prometheus metrics through the metrics adapter. Need some guidance on this.

@zroubalik @tomkerkhove @JorTurFer

[2022-09-26 08:00] tomkerkhove commented on #3663
I'd expose them on the operator instead of the metrics adapter as it's not related to the metric adapter at all. So I'd introduce a new endpoint there

[2022-09-26 08:02] v-shenoy commented on #3663
Well, if we're okay with exposing a new endpoint on the operator, then it shouldn't be a big task (I think?). Should the metric be named `keda_operator_trigger_totals` then?

[2022-09-26 08:35] JorTurFer commented on #3663
Don't expose another endpoint in the operator please, we are already exposing a single endpoint with the runtime-metrics (operator-sdk does it). Recently [we have talked about unifying them](https://github.com/kedacore/keda/issues/3586) in the metrics server, so let's do it directly in this case

[2022-09-26 08:37] JorTurFer commented on #3663
Basically, instead of starting another server, you should register the metrics in the already existing server by global configuration
https://book.kubebuilder.io/reference/metrics.html#publishing-additional-metrics

[2022-09-26 08:38] JorTurFer commented on #3686
I'll tag some of them 😋

[2022-09-26 08:50] v-shenoy commented on #3663
The link mentions this -

But the reconcile loop is running within a separate pod.

[2022-09-26 09:04] JorTurFer commented on #3663
You asked about adding this metric to the operator, there you have reconciliation loops xD
In the metrics-server already have 2 Prometheus metric servers (which we should unify)

[2022-09-26 09:10] v-shenoy commented on #3663
Oh, so you're suggestion that we should reuse the Prometheus endpoint used for the runtime metrics in the `operator` pod, instead of exposing another one.

I just got confused and thought that you wanted to not expose the metrics in the operator and expose them in the adapter itself.

[2022-09-26 09:13] tomkerkhove commented on #3663
Agreed, sorry I was more referring to exposing them on the operator rather than introducing a new endpoint.

[2022-09-26 09:15] JorTurFer commented on #3663
Lost in translation xD
I meant , let's reuse the current Prometheus endpoint in the operator and avoid duplication like in the metrics server

[2022-09-26 10:01] JorTurFer commented on #2467
I close this because it's already done by https://github.com/kedacore/keda/pull/3618

[2022-09-26 10:01] #2467 closed

[2022-09-26 10:05] JorTurFer commented on #3364
@jrehnen , Any update here?
I'll remove the tag and the issue will be closed by inactivity if there isn't any answer

[2022-09-26 10:17] JorTurFer commented on #3669
Hey
Improving the message makes sense totally. Are you willing to contribute with it?

[2022-09-26 10:19] JorTurFer commented on #3675
Could you share your KEDA logs?

[2022-09-26 10:24] kevinteng525 commented on #3670
Oh, great! BTW, What will be cached in the internal cache?

[2022-09-26 11:01] JorTurFer commented on #3670
KEDA already has cache now, but only for the scalers itself, not the values. When the HPA Controller ask the value, KEDA needs to go directly to the upstream, and that requires some time, that's why in huge clusters with a lot of ScaledObjects, there are problems like yours.

The "draw" of the idea is basically to querying the values constantly in the operator (every X seconds) and send that value

[2022-09-26 11:21] tomkerkhove commented on #3686
Done from my end

[2022-09-26 13:27] JorTurFer commented on #3686
I have reviewed and I don't have any more either

[2022-09-26 14:28] #3686 closed

[2022-09-26 14:32] JorTurFer opened #3689 "Add Min column to ScaledJob visualization"
### Proposal

We added support to `minReplicaCount` in the ScaledJobs as part of https://github.com/kedacore/keda/pull/3425 but we didn't modify the ScaledJob manifest to show the Min value like it does with Max or like ScaledObject does with both

### Use-Case

_No response_

### Anything else?

_No response_

[2022-09-26 14:59] #3689 closed, assigned to nobody

[2022-09-26 15:00] mend-bolt-for-github[bot] opened #3690 "CVE-2022-3172 (Medium) detected in k8s.io/apimachinery-v0.24.4"
## CVE-2022-3172 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>k8s.io/apimachinery-v0.24.4</b></p></summary>

<p>null</p>
<p>Library home page: <a href="https://proxy.golang.org/k8s.io/apimachinery/@v/v0.24.4.zip">https://proxy.golang.org/k8s.io/apimachinery/@v

[2022-09-26 15:15] jbilliau-rcd commented on #3304
When the annotation is set to `is-paused`, is the goal that the user would be able to manually control their deployment replicas at any number and autoscaling as a whole is paused, and won't overwrite the users changes? Or is it "paused" at that specific, current replica count, and any different number will be snapped back? If the former, that would be great; we have users who want to be able to,

[2022-09-26 17:10] JorTurFer commented on #3611
hey,
It makes sense IMO, WDYT @kedacore/keda-core-contributors ?
BTW, are you willing to contribute?

[2022-09-26 17:39] hochuenw-dd opened #3692 "Visualize the cron scaler schedules"
### Proposal

When cron schedules get complicated, it's harder for users to see and understand what's the expected replica counts (cron schedule) for a given service by looking at the cron schedules in the scaledobject.

### Use-Case

For example,
[code]
Does it make sense to create a metric to visualize future expected replica counts for predictive-based scalers such as cron scaler.

### Anything

[2022-09-26 17:43] BitProcessor commented on #3611
Sorry, my Go knowledge is non-existing 😢

[2022-09-26 19:32] JorTurFer commented on #3609
Hey,
I'd say that behaviour is doable, just using multiple cron triggers in the same SO. I mean, if you need to specify different values for different cases, you could just use multiple triggers.
The only point here, is that the HPA Controller will take the MAX value between all the metrics, so if you want to scale to zero, all triggers should be outside the enabled period

[2022-09-27 03:16] khacminh commented on #3680
hi @tomkerkhove,

Could you please tell me why you suggest resetting pod deletion cost on scaling to zero, instead of scaling to minimum/idle replicas?

[2022-09-27 06:11] #3690 closed

[2022-09-27 06:15] tomkerkhove commented on #3692
I'm not sure how much we can cover on this, we could introduce a log message providing the schedule with expected replica count but everything beyond that would be around tooling.

I think a CLI would be useful here, but we don't have one today

[2022-09-27 06:23] tomkerkhove commented on #3680
I have just used that because I was reading through the conversation, we'd have the same problem when scaling to min/idle replica count imo.

[2022-09-27 06:40] tomkerkhove commented on #2663
We have agreed not do to this as @JorTurFer @zroubalik thought it was overkill if I still recall (it's been a while :))

[2022-09-27 06:40] #2663 closed

[2022-09-27 06:43] tomkerkhove commented on #3609
I think the cron scaler is just confusing as it only scales to the desired replicas and ignores majority of replica count on the metadata directly.

This proposal, to be honest, would make that even worse/more confusing (no offense):
[code]

So in summary - You want to define a window and scale to x; outside of that window you want to scale to 0. Is that correct?

[2022-09-27 06:50] tomkerkhove commented on #3304
This will be a side-effect, but should not happen actually. Instead, end-users should apply the `autoscaling.keda.sh/paused-replicas: <replica-amount>` annotation on the SO/SJ. That way the autoscaling rules don't change nor the effective deploy target as KEDA manages the scaling on that.

So once you apply that annotation, KEDA will scale the target workload to the specified instance count (impli

[2022-09-27 06:51] JorTurFer commented on #3692
Are you willing to contribute creating the cli @hochuenw-dd ?

[2022-09-27 10:25] nelsonpraveen opened #3696 "Prometheus custom metrics not queried by KEDA when using push mode"
### Report

When Prometheus works in push mode (application pushes the metrics to the Prometheus pushgateway), the custom metrics are not appearing in HPA. When using Prometheus pull mode (Prometheus scrapes from application), the custom metrics appear in HPA.
The metrics are visible when queried from thanos-querier svc which means KEDA has some issue in pulling the metrics.

HPA output:
[code]

S

[2022-09-27 11:07] zroubalik commented on #3696
Hi, could you please put all the referenced yaml objects into code blocks, so it is readable and we can see the intendation? https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks#fenced-code-blocks

Also, could you please attach here logs from both KEDA Operator and Metrics Server?

[2022-09-27 12:56] jbilliau-rcd commented on #3304
Yeah, would be nicer if it just paused autoscaling entirely, basically pretending like the HPA object doesnt exist, effectively giving control back to the user. I can already achieve what `autoscaling.keda.sh/paused-replicas: <replica-amount>` will do; just set the min and max to the same number. That effectively "pauses" scaling since, well, they are the same number :)

[2022-09-27 13:00] koolwithk commented on #3609
@tomkerkhove yes correct.
- scale_up = define a window and scale up to x
- scale_down = define a window and scale down to 0

[2022-09-27 13:21] tomkerkhove commented on #3609
Then all you need is this AFAIK:
[code]

[2022-09-27 13:21] tomkerkhove commented on #3609
(nit: scale_up -> scale_out; scale_down -> scale_in)

[2022-09-27 15:21] tomkerkhove commented on #2291
Duplicate of https://github.com/kedacore/keda/issues/3078

[2022-09-27 15:21] #2291 closed

[2022-09-27 15:23] tomkerkhove opened #3698 "Integrete KEDA with OpenTelemetry Collector"
This is an epic to track integration with OpenTelemetry Collector:

- [ ] https://github.com/kedacore/keda/issues/2353
- [ ] https://github.com/kedacore/keda/issues/3078
- [ ] https://github.com/kedacore/keda/issues/3120
- [ ] https://github.com/kedacore/keda/issues/1281

[2022-09-27 15:27] tomkerkhove commented on #3078
@ilyalexin this is the issue that we discussed as a good starting point for OTEL Collector integration.

This should be supported in both Operator & Metric Server and have parity with https://keda.sh/docs/2.9/operate/prometheus/.

[2022-09-27 15:29] tomkerkhove commented on #3078
Related: https://github.com/kedacore/keda/pull/3695

[2022-09-27 15:37] tomkerkhove commented on #3304
If you just want to pause in current replica count, you can already do that today: https://keda.sh/docs/latest/concepts/scaling-deployments/#pause-autoscaling

[2022-09-27 16:02] neelanjan00 opened #3699 "Provide a Loki Scaler"
### Proposal

Grafana Loki is an open-source, horizontally scalable, brute-force log aggregation tool inspired by Prometheus. KEDA should provide a Loki scaler to autoscale k8s resources based on quantifiable LogQL (Loki's query language) query results.

### Scaler Source

Loki

### Scaling Mechanics

Scale based on quantifiable LogQL query results i.e. queries that result in a numeric value.

###

[2022-09-27 16:08] neelanjan00 commented on #3699
I would like to be assigned to this issue.

[2022-09-27 18:38] nelsonpraveen commented on #3696
Changed the indent for yaml definitions. Attached the logs from api-server and operator.

[keda-operator.log](https://github.com/kedacore/keda/files/9658764/keda-operator.log)
[keda-metricsserver.log](https://github.com/kedacore/keda/files/9658769/keda-metricsserver.log)

[2022-09-27 22:34] jbilliau-rcd commented on #3304
hmmm maybe we have different definitions of what I'm trying to say, haha. I just tried that, and by setting my `ScaledObject` with that annotation, `autoscaling.keda.sh/paused-replicas: "0"`, it scaled my deployment down to 0 (was running 2 replicas). If I try setting my deployment replicas to 3, they instantly get terminated as soon as they spawn.

It seems the pause functionality still gives Ked

[2022-09-28 02:55] khacminh commented on #3680
Hi @tomkerkhove,

IMO, if a deployment is scaled to zero multiple times per day, it should be the scheduler task. The operation team should end up with serverless schedulers. However, in case the minimum/idle replicas is greater than 0, adding pod-deletion-cost will make the service more stable.

[2022-09-28 08:00] tomkerkhove commented on #470
FAQ update: https://github.com/kedacore/keda-docs/pull/950

[2022-09-28 08:24] timown commented on #3387
still an issue

[2022-09-28 08:33] Eldarrin opened #3702 "Speed Up JSON filtering on large objects (AzDO)"
### Proposal

Improve the speed of json object searching by using filtering as opposed to loop iteration. Particularly around:

https://github.com/kedacore/keda/blob/main/pkg/scalers/azure_pipelines_scaler.go#L260

	for _, value := range jobs { <stuff>

### Use-Case

Where queue lengths can consistantly grow, this causes keda scalers to slow down and may cause an event to happen slower than liked.

[2022-09-28 08:53] tomkerkhove commented on #3699
Awesome, thanks! Nice addition.

[2022-09-28 13:17] jbilliau-rcd commented on #3304
@tomkerkhove  what do you mean it's not implemented yet? It's in the offical docs! https://keda.sh/docs/2.8/concepts/scaling-deployments/#pause-autoscaling

It was implemented in #944

[2022-09-28 13:45] tomkerkhove commented on #3304
Oh yes, I have it the other way around - Sorry! Would you mind opening a separate bug for this please? This feature is to allow `autoscaling.keda.sh/is-paused: true` which just stops at the current instance count.

[2022-09-28 13:52] jbilliau-rcd commented on #3304
Right, that's fine, just wanted to confirm that's what it did and not just pause scaling entirely, regardless of manually modified deployment replica count. We good!

[2022-09-28 14:09] tomkerkhove commented on #3304
Well just for sake of clarity, if you apply `autoscaling.keda.sh/paused-replicas: 10` and manually change the deployment KEDA should scale back to 10.

The goal of `autoscaling.keda.sh/is-paused: true` is basically saying stop scaling, regardless of how many instances we have now.

[2022-09-28 16:53] jcogilvie commented on #2378
I'm not so sure the scope of this is correct.  If for instance I'm using IRSA, then the pod role should already have access to read the secrets being injected, yet it still fails per the related issue.

Maybe we just need another place to attach a trigger auth for use in this case?

[2022-09-29 06:40] tomkerkhove commented on #2378
The idea here is to have it as one option in https://keda.sh/docs/latest/authentication-providers/ for (Cluster)TriggerAuthentication

[2022-09-29 10:02] Hema-Waters commented on #2632
@vujadeyoon Can you share the steps on how you have solved your issue.
I'm also getting same issue, not sure how to solve it.

[2022-09-29 10:11] vujadeyoon commented on #2632
Dear Hema-Waters,

I wrote the [way](#https://github.com/kedacore/keda/issues/2632#issuecomment-1040196913) to solve the issue above, as far as you can see.

I recommend you should follow the above my reply.

If you have additional questions, please give me details.

Best regards,
Vujadeyoon

[2022-09-29 19:10] #3663 closed

[2022-09-29 21:26] Wolfe1 commented on #3620
@ChandniSuresh Are you positive on your version? Not sure if a version 2.7.2 exists from what I can see but 2.8.0 had a few bug fixes for selenium grid that you should probably check out:

https://github.com/kedacore/keda/releases/tag/v2.8.0

https://github.com/kedacore/keda/issues/2709
https://github.com/kedacore/keda/issues/3061

[2022-09-30 08:54] penghuazhou commented on #3670
@JorTurFer It also happen when I only use 60 scaledobject

KEDA Version
2.8.1

Kubernetes Version
1.20.11

Platform
ack

Scaler Details
Prometheus

[code]

[code]

[2022-09-30 09:52] tal-testim commented on #3453
Please don't close this, I do hope you will do this at some time

[2022-09-30 09:53] djetelina commented on #3024
That's a typo in documentation: https://keda.sh/docs/2.8/scalers/prometheus/

[2022-09-30 15:13] JorTurFer commented on #3670
@penghuazhou
Could you prometheus server have slow responses too? I mean, the HPA Controller requests the metric to KEDA and KEDA requests it to prometheus server, if prometheus server has slow responses, KEDA could fail.
Do you have any monitoring on that?
Could you share operator logs too? they are cleared in some places

[2022-09-30 21:00] JorTurFer commented on #2792
@raorugan , I'm going to tackle this :)

[2022-09-30 22:49] jcogilvie commented on #2378
How much have you dug into the secrets provider?  It works through the container storage interface by writing its secrets to disk, and then optionally adding them back to k8s as `Secrets` retroactively, so you have to have access to the mount volume (or the generated `Secrets`).

When I think about "first class support" per the issue description, I'm thinking about the case where the CSI driver is

[2022-10-01 07:28] joebowbeer commented on #2378
@jcogilvie wrote:

Attaching secrets to the trigger pod in an ephemeral volume is deemed to be more secure than creating a k8s secret in the namespace, right? (According to CIS Benchmark recommendations, which favor files over env vars, and eliminating k8s secrets altogether if possible.)

I definitely want Secrets Store CSI Driver to be supported as a means of trigger authentication.

However, I

[2022-10-01 16:46] jeffhollan commented on #3334
To confirm as well, newer Raspberry Pis support ARM64 correct? Not saying we shouldn't do this if we can, but wondering if this is a point-in-time limitations and hopefully newer gens will be good with current ARM bits

[2022-10-01 16:48] jeffhollan commented on #508
@pragmaticivan to be clear - you see now with current behavior if you update a K8s secret referenced by a scaledobject it's automatically / instantly being picked up?

[2022-10-01 16:49] jeffhollan commented on #538
Updating this issue on roadmap with latest on the discussion here: https://keda.sh/blog/2022-09-27-http-add-on-is-on-hold/

[2022-10-01 17:41] JorTurFer commented on #3334
wow, you're right @jeffhollan , this is locked indeed due to hardware limitations that we have to test them. Maybe we could emulate ARM32 in the ARM machine to support it, but for sure this shouldn't be high prio

[2022-10-02 11:08] Eldarrin commented on #3702
Ok, so written some performance tests. durations are: original, using struct json, pre-stripping the jobs+struct. 3 models, parent template, demand style, base style.

TL;DR; pre-stripping and structing combined gives the best performance on large queues. On small queues there is no effect (sub 50 µs),

Data @ 1000 length finished job queues

PARENT MODEL
loadvars:  dotnet60-keda-template  1000
el

[2022-10-03 05:48] tomkerkhove commented on #2378
The goal with this issue is to support the secrets in files that are being mounted indeed.

The only caveat will be that we need to check where they will be mounted - Operator or scale target. That is because if it scales down to 0 there would no longer be any secrets so it can never scale from 0 to 1 (or that's a known limitation).

[2022-10-03 06:48] tomkerkhove opened #3720 "Setup Azure infrastructure to introduce Azure Event Hubs for e2e tests"
Setup Azure infrastructure to introduce Azure Event Hubs for e2e tests:

- Create new Azure Event Hubs namespace
- Introduce `manage` connection string in `AZURE_EVENT_HUB_CONNECTION_STRING`

See https://github.com/kedacore/keda/pull/3717#issuecomment-1264666311 for context

[2022-10-03 10:04] #3720 closed

[2022-10-03 11:36] #2792 closed

[2022-10-03 16:48] Barney241 opened #3723 "keda cant connect to Nats monitoring endpoint"
### Report

My keda scaler cant connect to nats monitoring endpoint.

### Expected Behavior

Keda connects to monitoring endpoint

### Actual Behavior

i get this error

[code]

### Steps to Reproduce the Problem

My scaler config:
[code]

I am deploying nats using tilt and helm

[code]

### Logs from KEDA operator

[code]

### KEDA Version

Other

### Kubernetes Version

1.24

### Platform

Other

[2022-10-04 02:37] #3362 closed

[2022-10-04 02:37] #3365 closed

[2022-10-04 04:37] #3151 closed

[2022-10-04 09:55] JorTurFer commented on #3696
Hey,
I have checked the logs and metrics-server has errors related with timeouts querying the metrics:
[code]

Has KEDA access to the namespace where the prometheus server is? I mean, do you have any firewall/netpol that could block the access? Other possibility is that the query is to heavy to be executed in the default timeout and you [need to extend it](https://keda.sh/docs/2.8/operate/cluster/

[2022-10-04 13:31] v-shenoy commented on #2990
@raorugan was trying the Kafka scaler recently and ran into the same problem. The workaround with setting `tls: enable` fixed it, without specifying cert, key.

[2022-10-04 15:24] tshaiman opened #3724 "Scaling a deployment to Zero by setting MaxReplicaCount to "0" is not supported"
### Report

- I am trying to set MinReplicaCount = 0 , and MaxReplicaCount =0 which is effectively scale to zero
- The scenario we try to do is similar to Blue/Green Deployments where we want on some cases to allow Blue deployment be active while the "Green" deployment is idle.
- both deployment read from the same Source ( Azure Service Bus Queue in this case ) but the connector is not the issue h

[2022-10-04 19:28] JorTurFer commented on #3724
hey,
I'd suggest to pause the autoscaling instead of setting min/max to 0. You can pause the autoscaling with the instances you want just adding an annotation, so I guess that having to modify the SO in both cases, using the annotation isn't a problem (and it's already supported)
https://keda.sh/docs/latest/concepts/scaling-deployments/#pause-autoscaling

[2022-10-04 19:32] tshaiman commented on #3724
@JorTurFer  : absolutely, great suggestion.
in addition don't forget that there is indeed a bug in the error message saying I chose scale =1 , where It wasn't the case

[2022-10-04 19:32] #3724 closed

[2022-10-04 20:42] JorTurFer commented on #3509
Do we want this even it's not mandatory? IMO it's a good improvement

[2022-10-05 08:28] tomkerkhove commented on #3724
Let's open a dedicated bug for that @tshaiman

[2022-10-05 11:36] #3723 closed

[2022-10-05 11:37] Barney241 commented on #3723
my bad i didnt realize i need to add keda to tilt file

[2022-10-05 11:41] nelsonpraveen commented on #3696
As I mentioned in the same OCP cluster, the Prometheus pull mode worked fine. KEDA was able to fetch the metrics from the Prometheus running in the openshift-monitoring namespace.

Only when using the Push mode, (application pushing metrics to prometheus-pushgateway), the HPA does not show any custom metrics.

I can try the timeout option.

[2022-10-05 12:55] JorTurFer commented on #3696
You are right, KEDA can reach the server :)
Try with the timeout because usually push mode requires more resources in Prometheus than pull mode because with pull mode, Prometheus is who decides when do the things, if it's overloaded, the scraping job could be executed with delay.
In case of push mode, is your app who decides when push metrics and the amount of them (depending on the sampling).

[2022-10-06 08:46] KSemenenko opened #3726 "Keda metrics-api starts and stop pods immediately"
### Report

Scaling works in a strange way. The pods are created and immediately stopped.
the lifetime of the new pods is about 7 seconds.
After stopping, the pods are created again.

### Expected Behavior

pods should not start and stop immediately. they should start accepting requests.

### Actual Behavior

two new pods are created, after which they immediately stop. and the load is still there.

[2022-10-06 21:51] Shulammite-Aso commented on #3613
Hi @tomkerkhove I would like to take this up

[2022-10-07 07:48] JorTurFer commented on #3726
Hey
This seems like 2 HPA operating the same workload. Do you have by chance 2 ScaledObjects with the same target, or 1 HPA and 1 ScaledObject?

[2022-10-07 07:52] JorTurFer commented on #3726
You can find this info in [FAQ](https://keda.sh/docs/2.8/faq/)

![image](https://user-images.githubusercontent.com/36899226/194501474-e60f5017-4417-44c7-b66c-03901ea10637.png)

[2022-10-07 08:05] JorTurFer commented on #3702
Sorry for the slow response,
I don't understand totally the thing. We are earning in average 1ms, right? How had you taken the metrics? Using the scaler code?
I agree that we should be the most efficient as possible, but IDK if 1ms is a differential value.

Any way, if the changes required don't make the code unreadable, I think that every performance improvement is worth, my concern here is that

[2022-10-07 08:07] JorTurFer commented on #3702
are you willing to contribute with this?

[2022-10-07 09:48] KSemenenko commented on #3726
for  chance 2 ScaledObjects it's possib le

[2022-10-07 10:02] JorTurFer commented on #3726
a ScaledObject is a manifest like any other
[code]

[2022-10-07 10:02] JorTurFer commented on #3726
have you tried with `kubectl get hpa -A`? Do you have 2 HPA targeting the same deployment?

[2022-10-07 10:29] penghuazhou commented on #3670
@JorTurFer, prometheus server response 35ms.

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/13001038/194532511-70b14ab6-f467-4107-b6d1-4cd77518b40e.png">

<img width="1417" alt="image" src="https://user-images.githubusercontent.com/13001038/194532387-b7b94246-f779-4b17-864d-d856e66f4f8d.png">

operator logs is below. there be no errors.
[code]

[2022-10-07 10:37] Eldarrin commented on #3702
Here is the new code:

https://github.com/Eldarrin/keda/blob/main/pkg/scalers/azure_pipelines_scaler.go#L326

[2022-10-07 10:53] JorTurFer commented on #3702
True, it's quite cleaner :)
So if it's cleaner and performs better.. we should merge it ❤️
Could you open a PR?

[2022-10-07 10:53] JorTurFer commented on #3702
BTW, thanks a ton for the in depth research 🙇

[2022-10-07 10:55] Eldarrin commented on #3702
no worries, I'll give it a final tidy and raise a PR

[2022-10-07 12:21] KSemenenko commented on #3726
<img width="1425" alt="Screenshot 2022-10-07 at 14 21 27" src="https://user-images.githubusercontent.com/4385716/194552118-1e8f9e4c-1ff6-4146-9f86-40bb753eb052.png">

seems it's true. a lot of HPA

[2022-10-07 12:23] KSemenenko commented on #3726
so hpa-silo did mess, thanks a lof for your help!

[2022-10-07 12:23] #3726 closed

[2022-10-07 13:01] JorTurFer commented on #3726
you don't need to lose the CPU/Memory autoscaling, but you need to configure everything through KEDA. Remember that you can have multiple triggers inside the same ScaledObject or ScaledJob 😄

[2022-10-07 13:15] KSemenenko commented on #3726
all is fine, before I was used HPA for CPU/Memory, then with keda I just remove it from saml file :)
and didnt remove it from kubernetes

[2022-10-07 15:25] vflaux opened #3730 "Allow to configure QPS & Burst of kubernetes client"
### Proposal

Allow to override defaults kubernetes client QPS & Burst options, like we can do with KEDA metrics apiserver.

### Use-Case

We have a cluster with ~1600 ScaledObjects and we encounter heavy client-side throttling (more than a minute).
ScaledObjects takes minutes (or hours?) to be reconciled by the manager (a new ScaledObject was still not reconciled after 45min).

### Anything else?

[2022-10-07 16:40] nelsonpraveen commented on #3696
I need a bit help on the timeout setting. Where do I set this - export KEDA_HTTP_DEFAULT_TIMEOUT=1000 ?

Is this before deploy of KEDA ? With KEDA already running, can I set this ? If yes, where and how exactly ?

[2022-10-07 17:38] #2940 closed

[2022-10-07 19:58] chrism417 commented on #3597
I'm having this same issue with ZERO ScaledObjects on version 2.8.1.

[2022-10-07 23:24] JorTurFer commented on #3597
This could be because you have something in the cluster that is querying `external.metrics.k8s.io` endpoint for any reason (eg. AFAIK, GKE Backups uses this api for something)

You can try requesting a metric that doesn't exist with `kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1/namespaces/default/fake-metric"`, if my suspicious are right, you will see the same error in log on every req

[2022-10-07 23:25] JorTurFer commented on #3597
Could you try and share how it goes?

[2022-10-08 00:00] JorTurFer commented on #3696
You need to add the environment variable to KEDA pods, you can do it modifying manually the deployment, but if you are using helm to deploy KEDA, you can just modify [this value](https://github.com/kedacore/charts/blob/main/keda/values.yaml#L256)

[2022-10-08 11:39] penghuazhou commented on #3670
@JorTurFer, can you help me, thanks?

[2022-10-08 14:05] JorTurFer commented on #3670
Could KEDA pod be limited by CPU? I mean, are you monitoring the CPU usage per pod?  It seems that KEDA is responding slowly due to whatever

[2022-10-09 02:04] kevinteng525 commented on #3668
Hey JorTurFer, I reviewed all your comments and also replied, pls. have a check on this PR again, https://github.com/kedacore/keda/pull/3677
BTW, I tried to pass all CI jobs, however there is still one job failed, `CI / Static Checks (pull_request) `, error as following:
[code]
Actually I didn't touch line 34 and line 36, only added line 54, not sure why it will be failed, would you help me to und

[2022-10-09 07:42] penghuazhou commented on #3670
<img width="1703" alt="image" src="https://user-images.githubusercontent.com/13001038/194744312-78901f6b-a995-4962-be7e-ddf8e021660c.png">

[2022-10-09 09:00] JonasSamuelsson commented on #2614
Is this something anyone is working on?
It would be a great addition to avoid flapping (https://learn.microsoft.com/en-us/azure/azure-monitor/autoscale/autoscale-flapping).

[2022-10-09 10:54] penghuazhou commented on #3670
@JorTurFer It also timeout or abort while handling when i only use cron scaler.

[code]

[code]

<img width="350" alt="image" src="https://user-images.githubusercontent.com/13001038/194752862-4911c5b7-675a-408c-ad4a-5244a203fe31.png">

<img width="1196" alt="image" src="https://user-images.githubusercontent.com/13001038/194752844-e787f65f-d08d-42db-8b1b-13c8f012be10.png">

[2022-10-10 04:52] tomkerkhove commented on #3613
Awesome, thank you! Let us know if you need help, you can learn more in our contribution guide.

[2022-10-10 08:01] JorTurFer commented on #3668
I have reviewed the PR 😄
WRTconfigMaps and docs, no worries doing configMaps in another PR, but the docs about secrets should be ready to be merged at the same time we merged the feature. We follow this approach to have synced both and also to have the capability to discuss the approach from both POVs. (I have seen that you already opened the PR to docs ❤️ )

[2022-10-10 08:23] tomkerkhove commented on #3081
@sbuliarca Can you check if https://github.com/kedacore/keda/issues/3668 helps you? This feels like a duplicate

[2022-10-10 08:26] tomkerkhove commented on #2614
Not at the moment because we need to spec it out and probably will face issues since we rely on the HPA but I agree this would be a good one to have because of flapping indeed.

If it would be specced out, would you be interested to contributing to this?

@zroubalik We are blocked because of HPA, right?

[2022-10-10 08:42] #3681 closed

[2022-10-10 11:13] #3568 closed

[2022-10-10 15:52] hugogirard opened #3744 "MaxreplicaCount doesn't seems to work properly with Keda Job"
### Report

I am sending messages to an Azure storage queue, for every message I see one job is created in K8s. So, this part it's working without any problem.

For example, if I sent 10 messages to the queue this will create 10 jobs in K8s.  I would like to have a max replica of 5 jobs at the time no matters how many messages are in the queue.

Even with setting the maxReplicaCount to 5 seems it'

[2022-10-10 16:03] #3702 closed

[2022-10-10 16:14] JorTurFer commented on #3744
hey
Could you share operator logs? There we can see how it's working

[2022-10-10 17:30] JonasSamuelsson commented on #2614
I've never written a single line of go in my life but I would be happy to help in any way I can.

[2022-10-10 21:16] chrism417 commented on #3597
That's correct the log message shows up.

[2022-10-11 07:24] kush-work commented on #3683
Plaintext auth doesn’t happen when tls is disabled, although there can be
use-case for this when the broker is running on localmachine or in-cluster
where you would want tls disabled.

On Fri, 23 Sep 2022 at 1:24 PM, Zbynek Roubalik ***@***.***>
wrote:

--

Kush T.

Member of Technical Staff @ DevRev <https://devrev.ai/>

9340582488 | ***@***.***

Bringing Dev and Rev Together.

[2022-10-11 08:11] JorTurFer commented on #3597
@IliaGe , by chance, have you been able to test it?

[2022-10-11 08:35] penghuazhou commented on #3670
@JorTurFer, can you help me, thanks?

[2022-10-11 08:50] JorTurFer commented on #3670
Could you try to list metrics manually the metrics?
`kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1"`
How much time does it need?
Are you running your cluster in some cloud provider or on-prem?

[2022-10-11 13:19] penghuazhou commented on #3670
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/13001038/195099125-33d46da2-88f6-4252-87bf-7960aaa4c7b1.png">

[2022-10-11 14:13] hugogirard commented on #3744
With doing more investigation in the log and watch on the job, I confirm the maxReplicaCount is working.

[2022-10-11 14:13] #3744 closed

[2022-10-11 15:20] v-shenoy opened #3745 "Test if upgrading to KEDA v2.9 will break existing scaler due to HPA apiVersion changes."
Steps -

1. Have a K8s cluster `v1.23`.
2. Install KEDA `v2.8` via Helm.
3. Deploy a ScaledObject, this will create an HPA from the apiVersion - `autoscaling/v2beta2`
4. Upgrade KEDA via Helm to `v2.9` (or the `main` tag).
5. Make sure nothing breaks.

[2022-10-11 16:33] Friedrich42 commented on #2353
I'm willing to help with this scaler. I will read these discussions couple more times, summarize everything in one comment and then start development.

[2022-10-11 19:08] JorTurFer commented on #3745
just to clarify, is this a bug or a pending task?
I have just tried and it works, I have deployed a ScaledObject with KEDA v2.8.1 and once the HPA was created and the workload is scaling, I have deployed `main` tag and it works. No error logs in operator nor metrics-server

[2022-10-11 19:11] JorTurFer commented on #3745
f**k, I misunderstood the title (long day...)
I'd say that the test is done @v-shenoy , I have done it because I understood this issue as a bug 😄

[2022-10-11 19:16] #3506 closed

[2022-10-11 19:22] v-shenoy commented on #3745
Ooh, thanks for doing it, makes my life easier :P @JorTurFer
So, to clarify, when you create a ScaledObject on KEDA < = `v2.8.1`, it creates an underlying HPA of the `apiVersion` - `autoscaling/v2beta`

When you update the KEDA to >= `v2.9.0`, does it delete the existing HPA and create a new one from `autoscaling/v2`?

[2022-10-11 20:28] JorTurFer commented on #3745
No, internally the API server translates it AFAIK, in my cluster I don't have it duplicated, maybe @zroubalik can explain this better

[2022-10-12 06:14] tomkerkhove commented on #2353
Awesome, thank you @Friedrich42! Just so you know, KEDA 2.9 will ship in less than a month so be aware of that if you want to have it in there but no pressure from our side as 2.10 is fine as well.

[2022-10-12 06:17] tomkerkhove commented on #3745
The main question is: Once you've installed 2.9; what is the API version of the HPA?

The idea is to see if it migrates to lates API version, otherwise there will be issues in the future when `v2beta` will be removed regardless of us enforcing a Kubernetes version.

Context: https://docs.google.com/document/d/1zdwD6j86GxcCe5S5ay9suCO77WPrEDnKSfuaI24EwM4/edit

[2022-10-12 07:47] v-shenoy commented on #3745
So, I installed `v2.8.1` on my Kubernetes cluster `v1.23`
[code]

and created a ScaledObject with Kubernetes Workload trigger. The underlying HPA that was created was from `autoscaling/v2`.

I even created an HPA directly using YAML
[code]

[code]

But the underlying created HPA is still in `autoscaling/v2`
[code]

[2022-10-12 08:15] v-shenoy commented on #3745
Also, in the deprecation guide - https://kubernetes.io/docs/reference/using-api/deprecation-guide/ they mention that `All existing persisted objects are accessible via the new API`, which if I am understanding correctly means any objects in the `autoscaling/v2beta2` can still be managed through the `autoscaling/v2` API.

[2022-10-12 08:34] sbuliarca commented on #3081
Hey @tomkerkhove ! Indeed I think that issue would solve ours too. Thank you for pointing it out

[2022-10-12 09:45] tomkerkhove commented on #3745
So I think we can close this one as "works fine"?

[2022-10-12 09:58] v-shenoy commented on #3745
Think so.

[2022-10-12 09:58] #3745 closed

[2022-10-12 12:18] tomkerkhove commented on #3081
Duplicate of https://github.com/kedacore/keda/issues/3668

[2022-10-12 12:18] #3081 closed

[2022-10-13 09:32] Friedrich42 commented on #2353
As far as I understood, please correct me if I'm wrong, user will have to deploy otel agent in cluster and this scaler will be consumer.

Config will look something like:

[code]

Question: how will authentication object look like for this scaler? Or are all auth objects the same?

Assumption: we will use only one metric from otel for scaler, correct me if I'm wrong

[2022-10-13 10:08] JorTurFer commented on #2353
How are we going to aggregate opentelemetry metrics? I mean, we can't assume that users will use a single collector instance, in fact, we should assume that there are multiple instances, and AFAIK, each instance could have different metrics because the apps don't push the metrics to all of them.
Even worse, if users use opentelemetry operator, the collector could be a sidecar container on each pod

[2022-10-13 10:30] 26tanishabanik opened #3746 "Provide a CouchDB Scaler"
### Proposal

CouchDB is an open source NoSQL database developed by Apache software foundation. It is written in the Erlang programming language. It powers a lot of innovative and modern cloud-native applications. KEDA can provide a CouchDB scaler to autoscale kubernetes resources based on couchdb queries.

### Scaler Source

CouchDB

### Scaling Mechanics

Scale based on CouchDB query results, wh

[2022-10-13 10:30] 26tanishabanik commented on #3746
Please assign this issue to me

[2022-10-13 13:09] JorTurFer commented on #2353
Are we going to store the metrics internally? I mean, that exporter pushes the metrics to another server, it's not a pulling endpoint AFAIK https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/otlpexporter/otlp.go#L103-L119.

In the other hand, as a user I'd not like to have the collector without HA to use it with KEDA, observability is crucial and having HA it's required,

[2022-10-13 17:27] JorTurFer commented on #2353
Most probably I have missed some important point in the thread :/
Are the collector instances going to push metrics to KEDA, or is KEDA who will connect to the collector?

- If it's KEDA who established the connection, we need to take care about the collection instances because each collector instance could have different values (and we need to connect to all of them, not just with one).
- If the

[2022-10-13 19:21] JorTurFer commented on #3670
It's weird, IDK what's happening, maybe @zroubalik or @v-shenoy have more experience with k8s api.
I have been reviewing and it seems that the [HTTP request is throwing a timeout](https://github.com/kubernetes/apiserver/blob/master/pkg/server/filters/timeout.go#L123), but the default value AFAI can see is 1 minute.
Are you facing with scaling issues or the problem is only related with the logs?

[2022-10-13 20:16] aavarghese opened #3751 "KEDA operator deployment has error when deployed locally"
### Report

`make deploy` of `main` branch causing keda-operator deployment to throw error below

[code]

### Expected Behavior

No errors in deployment.

### Actual Behavior

Error in keda-operator pod (Error pasted above).

And pods restarting due to it:

[code]

### Steps to Reproduce the Problem

1. `make docker-build`
2. `make publish` (changed ghcr repo to my personal docker hub repo)
3. `VE

[2022-10-13 21:35] endersonmenezes commented on #2293
If you fell here in this Issue recently, pay attention to the way you are generating your Token, it may have unwanted characters going along with your token.

Tip:
[code]

[2022-10-14 02:49] penghuazhou commented on #3670
yes, only related with the logs

[2022-10-14 06:32] JorTurFer commented on #3751
Hey,
What k8s version are you using? It seems that you are using <= v1.22 which currently is not supported because KEDA (in ´main´ tag) is already [using](https://github.com/kedacore/keda/pull/3606) `autoscaling/v2` and that's API was introduced in k8s v1.23.
[We follow N-2 support policy](https://github.com/kedacore/governance/blob/main/SUPPORT.md#kubernetes-support) and due to `autoscaling/v2bet

[2022-10-14 08:39] Friedrich42 commented on #2353
@JorTurFer I'm trying to find the answer to the same question about aggregation of multiple otel agents, but I have no answer yet. Probably need to take a look at how jaeger or any other visualizer for otel did this

[2022-10-14 11:05] tomkerkhove commented on #2353
We didn't spec this out to this detail yet, but in my opinion push is the best way to avoid polling constantly and just let them send the metrics to us.

That's the problem of OpenTelemetry Collector as this is just how their receivers work :shrug: That's something they have to fix if they offer push-based metrics.

I'm eager to know what @zroubalik thinks

[2022-10-14 11:41] zroubalik commented on #3680
I share the concern that this might be not a job for KEDA, on the other hand I can see the benefits.

What if we implement this as an add-on? A separate controller deployed next to KEDA Operator to manage this? This could be an optional component and then we can evaluate whether we would like to include it directly into KEDA Operator.

[2022-10-14 11:51] JorTurFer commented on #3680
I like this approach

[2022-10-17 13:22] zroubalik opened #3755 "KEDA should check whether scale target is already managed by another ScaledObject"
### Proposal

When a new ScaledObject is reconciled by Operator, it should be checked whether the scale target referenced by the new ScaledObject is being already managed by another ScaledObject, if so an error should be raised.

### Use-Case

_No response_

### Anything else?

_No response_

[2022-10-17 13:42] JorTurFer commented on #3755
Nice idea!
What are you thinking about? Maybe an admission controller?

[2022-10-17 14:01] zroubalik commented on #3755
As a start error while creating the new ScaledObject is enough imho.

[2022-10-18 09:16] Friedrich42 commented on #2353
Are there any new thoughts? @zroubalik?

[2022-10-18 13:32] JorTurFer commented on #3644
@kedacore/keda-core-contributors ?

[2022-10-18 13:32] JorTurFer commented on #3644
https://github.com/kedacore/keda/issues/3644#issuecomment-1245903669

[2022-10-18 15:45] wrdls opened #3756 "Add prefix support to Google Cloud Platform Storage scaler"
### Proposal

Add prefix support to Google Cloud Platform Storage scaler.

Similar to `blobPrefix` in [Azure Blob Storage](https://keda.sh/docs/2.8/scalers/azure-storage-blob/).

This value is currently hardcoded to `""` in the code: https://github.com/kedacore/keda/blob/main/pkg/scalers/gcp_storage_scaler.go#L194

### Use-Case

This allows us to only watch part of a bucket.

### Anything else?

I

[2022-10-19 06:16] penghuazhou commented on #3670
@JorTurFer, Can you work well when you have 200 scaledobject?

[2022-10-19 08:33] zroubalik commented on #3756
This is definitely useful improvement, shall I assign the issue to you @wrdls ?

[2022-10-19 08:54] JorTurFer commented on #3756
Agree, this is a really useful improvement 😄

[2022-10-19 09:03] vickithedeveloper commented on #3441
@Christle The issue is resolved by upgrading the storage account the premium and changing the storage account to have the blob configuration. Earlier the storage account was having ADLS2 configuration.

[2022-10-19 09:03] #3441 closed

[2022-10-19 11:38] JorTurFer commented on #3670
I haven't noticed issues with > 150 ScaledObjects in the same cluster, but it depends directly on the amount and type of the triggers. We are working on improving this, but atm we are totally dependent of that.
I know about end users with > 500 ScaledObjects working together, but IDK about the exact usage they are doing. In fact, there is an issue reporting problems with more than 1000 https://git

[2022-10-19 23:05] #3158 closed

[2022-10-20 03:37] penghuazhou commented on #3670
@JorTurFer, I modify ListAllExternalMetrics method return a small response. Then it work well。
<img width="1842" alt="image" src="https://user-images.githubusercontent.com/13001038/196850402-d9255843-0a31-4b65-828f-bb1c90e87d33.png">

[2022-10-20 07:55] erikkn opened #3758 "o11y: add Prometheus metric for scaledObject condition array"
### Proposal

The `scaledObject` object has a `condition` attribute that shows an array of conditions the object has passed through. An example:

[code]

I would like to add a Prometheus metric for this which in the core is very similar to the HPA condition metric `kube_horizontalpodautoscaler_status_condition` ([here](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/horizontalpod

[2022-10-20 08:12] tomkerkhove commented on #3758
That's OK for me, @zroubalik @JorTurFer?

[2022-10-20 08:50] JorTurFer commented on #3758
Agree

[2022-10-20 09:33] zroubalik commented on #3758
I like this idea as well.

[2022-10-20 09:40] tomkerkhove commented on #3758
Let's do it @erikkn! Thanks for picking it up.

[2022-10-20 09:41] tomkerkhove commented on #2633
No, are you willing to contribute this?

[2022-10-20 10:29] dgibbard-cisco opened #3759 "FedRAMP - FIPS 140-2/140-3 Compliant Images"
### Proposal

To support users operating in a FedRAMP environment (platforms supporting the US Federal Government), it would be great to support FIPS140-2/FIPS140-3 to meet the minimum requirements to be "FIPS Compliant".

Some quick background context on this:
* What is FedRAMP?: ```The Federal Risk and Management Program (FedRAMP) is a cyber security risk management program for the purchase and

[2022-10-20 10:37] eldada commented on #2633
Nope. Sorry. I don't. have the skill 😞

[2022-10-20 15:46] neelanjan00 opened #3760 "Add instructions for importing packages that use e2e build tag"
### Proposal

When trying to import packages that use the `e2e` build tag (for e.g. `helper` package), the IDE is not able to import it because of the build tags. This can be resolved by updating the IDE to use the appropriate build tags. The same can be updated in the `tests/README.md` file.

### Use-Case

This will help all the developers trying to develop E2E tests.

### Anything else?

_No res

[2022-10-20 15:46] neelanjan00 commented on #3760
I would like to be assigned to this issue.

[2022-10-20 18:41] JorTurFer commented on #3644
hey @bboreham
Do you think this change could be enough? https://github.com/kedacore/keda/pull/3762

[2022-10-20 19:16] #3699 closed

[2022-10-20 19:31] JorTurFer commented on #3755
BTW, this is duplicated I think https://github.com/kedacore/keda/issues/3087

[2022-10-21 06:04] tomkerkhove commented on #2633
No worries!

[2022-10-21 07:54] tomkerkhove opened #3764 "Improve CRDs to write events to the resources"
### Proposal

Improve CRDs to write events to the resources so that cluster admins/app operators can inspect the CRDs and see what is going on.

Things that come to mind is:
- Scale to/from 0
- Authentication failures
- Fallback of trigger
- Triggers becoming active
- ...

### Use-Case

Improve experience for cluster admins/app operators troubleshooting issues.

### Anything else?

_No response_

[2022-10-21 09:05] penghuazhou commented on #1797
@zroubalik, I think we shoud return like this below. when execute "kubectl api-resources", it return "configmaps" for example，not return every configmap object name.

[code]

[code]

[2022-10-21 11:43] ShimonOhayon commented on #3670
To add to this issue , i have the same errors from keda metric server:
[code]
Latest version of keda.

querying  only 13 Prometheus type triggers each has 1 simple query  , This is what i tried so far:

Resizing resources (CPU+Mem) and replicas of
        - Prometheus server
        - Keda metric server
        - K8s metric server x2
 Increasing pollingInterval: 60

nothing helped, Prometheus resi

[2022-10-21 12:59] #3576 closed

[2022-10-21 15:45] Marcin250 opened #3766 "KEDA Redis Scaler dbIndexFromEnv proposal"
### Proposal

Providing dbIndex value directly from env as host and port, ex. yaml element `dbIndexFromEnv`

### Use-Case

Now i set host and port in single config file for whole project, but for dbIndex i need to duplicate it in every scaler.

### Anything else?

_No response_

[2022-10-22 03:15] penghuazhou commented on #3670
I think we can discuss here，can we reopen this issue?
https://github.com/kedacore/keda/issues/1797
<img width="984" alt="image" src="https://user-images.githubusercontent.com/13001038/197316624-3674d68f-ed73-4c12-9695-721727dd59f7.png">

[2022-10-22 12:02] penghuazhou commented on #3670
@JorTurFer, can you help me?

[2022-10-22 19:01] 2022H1030014G commented on #3401
Hi @JorTurFer ,i am unable to understand how to approach this issue. As i am new to open source. I have build keda inside vscode . As this is labelled as good first issue it means any beginner can solve it right? I just need little guidance for this issue.

[2022-10-23 19:44] noamgreen opened #3770 "AWS Sqs queueURL filter or Regex"
HI , new to keda

i wander if we can regex "queueURL"
queueURL: https://queue.amazonaws.com/xxxxxxxxxxxxx/my-q-func-* <---- regex
as i can have one server that listen to many queues
my-q-func-1
my-q-func-2
etc ....

and can we add list of queues

[code]
Thanks

[2022-10-23 22:09] JorTurFer commented on #3401
Hey @2022H1030014G ,
To do this issue, you don't need to build KEDA locally, basically this issue is for updating [mssql e2e test](https://github.com/kedacore/keda/blob/main/tests/scalers/mssql/mssql_test.go) because currently it's using a 3rd party image outside kedacore organization for enqueueing things in the database.

The idea is to figure out how to avoid the usage of that image, @zroubalik

[2022-10-24 07:58] JorTurFer commented on #3770
This sounds totally legit indeed, other upstreams like RabbitMQ or Azure ServiceBus supports this feature (regex), but I think that SQS SDK doesn't support it, am I right? I mean, on those scalers, it's the upstream who receives the request with the regex and who returns the values for them in a single request.

In SQS we need to get the queues list, apply the regex with the result, and then make

[2022-10-24 08:25] JorTurFer commented on #3766
This sounds totally legic!
Are you willing to contribute with it?

[2022-10-24 13:09] #2930 closed

[2022-10-24 15:33] AnthonyDewhirst commented on #2656
I know this is closed. But I am banging my head trying to get this to work.
Is there any chance or a sample for this to live alongside https://github.com/kedacore/sample-dotnet-worker-servicebus-queue/blob/main/pod-identity.md that can include the above.
I don't want to add the fallback option if possible as I don't want an msi with super permissions. So I have been trying to get this working with

[2022-10-24 20:22] zroubalik commented on #2353
I am probably not fully up to speed with all the conversation here, but how does other metrics related tools handle this (jaeger,..)? I don't think we are the first one that hit this issue. We should stick to what is common in this domain.

By chance, can we use push scaler with this scenario?

[2022-10-25 05:48] v-shenoy commented on #2656
Could you share the steps that you have taken, and any logs?

[2022-10-25 07:05] JorTurFer commented on #2656
Please, share also the AAD pod identity logs, this case usually is produced because something sin't correctly assigned in pod identity side and in that case, those pods are who have the errors in the logs

[2022-10-25 09:28] tomkerkhove commented on #2656
We are discussing this offline and will open a discussion so we can move the conversation there.

[2022-10-25 09:35] JorTurFer commented on #2656
so, do we need to update the sample? Could you open an issue for that?

[2022-10-25 09:46] AnthonyDewhirst commented on #2656
No, I missed the Big obvious Note on the documentation which states the permission needed (hangs head), I am still working out now how I think I want this to work, but will open a discussion as per Toms advice (much appreciated).

One clarification I would like if we could though:
Inside the TriggerAuthentication, the value for spec: podIdentity: identityId, what should this be? The clientId from

[2022-10-25 10:33] JorTurFer commented on #2656
This value is optional and will override the value set during helm installation. This is explained in the[ Authentication Provider section for AAD Pod Identity](https://keda.sh/docs/2.8/authentication-providers/azure-ad-pod-identity/)
![image](https://user-images.githubusercontent.com/36899226/197751241-853d2eaa-7a56-4c28-abe9-5c8d952371c1.png)

[2022-10-25 10:34] JorTurFer commented on #2656
But I think @v-shenoy can explain this better "as the father" of the feature :)

[2022-10-25 10:36] AnthonyDewhirst commented on #2656
Yes, this appears to be the part that isn't working for me. I have read this and it's just not clear to me. I wanted to make sure I was using the correct value here, before I raise the issue.
If someone can tell me what value to put here, I will test it, then can provide logs and examples in the other forum.
Appreciate everyone's patience with me on this

[2022-10-25 11:15] tomkerkhove commented on #2656
Can we please move this to a discussion given this is unrelated to this issue please? :)

`identityId` allows you to use another identity than the one that was assigned to KEDA during installation.

[2022-10-25 11:51] AnthonyDewhirst commented on #2656
I have created https://github.com/kedacore/keda/discussions/3776

[2022-10-25 16:44] octothorped opened #3777 "Stackdriver scalar returns 0 for gauge values of type double"
### Report

When using the GCP Stackdriver scalar to retrieve metrics that have a [value type of double](https://cloud.google.com/monitoring/api/v3/kinds-and-types#value-types) it always returns a value of 0. Since it does not create any errors, it triggers a scale down to zero but can never scale back up.

### Expected Behavior

Since double is a valid metric value type and can still have a simil

[2022-10-25 18:30] #3760 closed

[2022-10-25 19:56] JorTurFer commented on #3777
You are right
Are you willing to contribute with the fix?

[2022-10-25 21:09] octothorped commented on #3777
@JorTurFer I am willing to help contribute with a fix.

[2022-10-26 01:21] yuyuvn commented on #3337
@aviadlevy

did you start to do it? (or still want to do it?)
It was a few months and I don't see any response from reporter...

[2022-10-26 10:39] aviadlevy commented on #3337
I didn't start working on that. Feel free to take it

[2022-10-27 06:24] GudaboinaSuhas opened #3778 "Apiservice (v1beta1.external.metrics.k8s.io) status FailedDiscoveryCheck: Address is not allowed"
### Report

Tried to install KEDA on EKS 1.23 using helm.

Getting the following error on API Service v1beta1.external.metrics.k8s.io:
[code]

Status of API Service
[code]

Versions:
[code]

Health of KEDA pods:
[code]

Logs KEDA operator:
[code]

Logs KEDA Metrics API Server:
[code]

[2022-10-27 15:59] JorTurFer commented on #3778
hi @GudaboinaSuhas ,
The message `Address is not allowed` suggests me that you have any type of policy blocking the traffic. Could you check if you can reach KEDA service? Do you have any network policy deployed?

[2022-10-27 16:02] #3588 closed

[2022-10-27 16:22] scr-oath commented on #2240
Hi, we're starting to look at this again for various reasons - is there anything in the past year's worth of releases that has tackled this <single-reconcile-loop-used-for-everything> scalability issue?

I would _LOVE_ to see the loop split into one to convert ScaledObjects (e.g.) to HPA's and another for metrics gathering - and that one even to be asynchronous - if you wanted to use it just for "

[2022-10-27 16:35] scr-oath commented on #2240
Thinking about this a little bit - it feels like something more event-driven would be really great here…

Even if you stayed with the reconcile loop - you could fire off events: "I want to inspect such and such metric" and the event listener for that could do the work and return a new event "please update such and such ScaledObject with this observation" whose listener would do the update…

I real

[2022-10-27 18:55] SusheelReddy00 opened #3780 "Service bus connection string not detected when referred as secret referencec"
### Report

As per document connectionFromEnv refers to the environment variable of a K8 deployment from which the Keda object would obtain the connection string. However this does not work when environment variable is a secret reference.

It works only when the connection string is added as a plan variable

### Expected Behavior

Secret referenced environment connection string should be usable by

[2022-10-28 08:39] #3337 closed

[2022-10-28 09:51] JorTurFer commented on #3780
hi,
Could you check the secret to ensure it's correct? The message `Invalid authorization token signature` is weird.
I'll test your scenario in parallel to check from KEDA side, but maybe the secret contains `\n` at the end or something like that...

[2022-10-28 10:57] mohite-abhi opened #3781 "RabbitMQ auth not working when username contains backslash"
### Report

We tried to connect to RabbitMQ in local machine with the following host and it was working fine
[code]

But when we were connecting to a remote RabbitMQ Queue with the username that contained '\' to separate domain:
[code]

then Keda scaler is displaying queue depth as unknown:
![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/39857042/198570028-3f7fbdd5-e98c-4fab-

[2022-10-28 12:23] tomkerkhove commented on #3780
That's definately something I've seen before

[2022-10-28 12:28] JorTurFer commented on #3780
The error reading the secret or the secret containing `\n`?

[2022-10-28 12:38] tomkerkhove commented on #3780
Remaining space or \n at the end; but think we cleaned that up then - But valuable route to verify

[2022-10-28 12:49] JorTurFer commented on #3780
This was solved in Az Pipelines Scaler if I'm not wrong

[2022-10-28 12:57] SusheelReddy00 commented on #3780
Thanks for looking into. The secret variable is Service bus connection string. Posting here replacing the access key with dummy for your reference:

[code]
 but contains "=" and "+"
 fyi.

[2022-10-28 12:58] SusheelReddy00 commented on #3780
The key is correct which I am sure since I was able to get Keda working when I configured the same as plain environment variable

[2022-10-28 13:49] Eldarrin opened #3782 "ScaledJob Scaling Issue with secondary matching batch"
### Report

This is a bit esoteric, but when using a ScaledJob if I scale 20(n) jobs as a first pass, then scale another 20(n-x) jobs as a second pass (after the first 20(n) are initiated and running) the second batch does not scale. Eventually it will catch up and scale to do the jobs, but only when the previous pods have terminated. First n is great than second n-x shows it best.

**This is only

[2022-10-28 14:24] Eldarrin commented on #3782
Just a thought, should my queuelen be also reporting running jobs? Is it that simple :)

[2022-10-28 15:19] JorTurFer commented on #3781
Hello @mohite-abhi
Could you share KEDA logs? Have you tried escaping it? `https://<<domain-name>>\\<<username>>:<<pwd>>@<<host>>:<<port>>/<<vhost>>` KEDA should code it as a valid url, but maybe it's parsing the backslash as a command with the first letter from the username

[2022-10-28 15:40] JorTurFer commented on #3780
hey @SusheelReddy00 ,
I have tried your scenario with, and I can't reproduce your issue. Instead of adding the connection string in plain text, could you add the whole secret as environment variables? I'm sure that the connection string is correct and has access, but I'm afraid about typos encoding it as base64.
It's quite usual cases where during the encoding to base64, a new line is introduced a

[2022-10-28 15:48] JorTurFer commented on #3780
To clarify what I'm talking about, it's not the same `echo "test" | base64` than `echo -n "test" | base64`.
In the first case, it appends a new line at the end, in the second case it doesn't
`echo "test" | base64` --> `dGVzdAo=` --> `echo "dGVzdAo=" | base64 -d` --> `"test\n"`
`echo -n "test" | base64` --> `dGVzdA==` --> `echo "dGVzdA==" | base64 -d` --> `"test"`
both are similar, but the second o

[2022-10-29 14:01] rcbop opened #3785 "Scaler support for ElasticSearch Service on Elastic Cloud"
### Proposal

Support connection with ElasticSearch on Elastic Cloud by adding two new parameters `cloudID` and `apiKey` to be used in the [go-elasticsearch](https://github.com/elastic/go-elasticsearch) client initialization:

[code]

- These new parameters should be passed via Metadata or Auth sections.
- The scaler should exit with error if an user attempt to provide both endpoint addresses and

[2022-10-29 21:10] #3558 closed

[2022-10-30 20:30] toniopelo opened #3787 "[NATS Jetstream] Do not take message retries into account when scaling"
### Report

Messages that have already been delivered once but need to be redelivered (did not reach the max number of delivery attempt) are not counted by the scaler and the deployment is not scaled up.

### Expected Behavior

Messages in a redelivery state should be taken into account when computing the number of pending messages to be processed by a consumer.

### Actual Behavior

These message

[2022-10-31 02:10] #3591 closed

[2022-10-31 08:14] noamgreen commented on #3770
@JorTurFer HI
My case is that i have micro service that listen to sqs that reprised priority
so one service listen to 10 SQS that reprised "high " all the SQS have same name except the suffix

Noam-Notification-Organization-0...4
Noam-Notification-User-0..4
Noam-Notification-Login-0...4

so i have one service that listen to all "0" and one for "1" etc ....
i need to be able to create one target th

[2022-10-31 09:47] JorTurFer commented on #3770
I totally understand the requirement, but SDK has to support that feature because if the server doesn't do the filter, in client could be a problem if regex returns a lot of queues because we should do a request per queue instead of a single request with the regex.

[2022-10-31 14:36] SusheelReddy00 commented on #3780
Team thanks for your time to help here. It was indeed some problem with the base64 encoding I encoded again and created a new secret, then referred the secret as variable in my deployment and it works. I sm fetching the secrets from Azure keyvault using azure provider probably causing the issue. I will play around with it.

[2022-10-31 14:36] #3780 closed

[2022-10-31 19:41] tehlers320 opened #3789 "'(' is not sanitized from datadog scalar"
### Report

Not sure if this is a bug or working as intended but having "(" in kubernetes objects doesnt feel right.

metrics name:

[code]

### Expected Behavior

metrics name:
[code]

### Actual Behavior

metrics name:

[code]

### Steps to Reproduce the Problem

1. use query
[code]

### Logs from KEDA operator

[code]

### KEDA Version

2.8.1

### Kubernetes Version

1.25

### Platform

Any

##

[2022-11-01 02:31] #3582 closed

[2022-11-01 19:35] JorTurFer commented on #3789
Hey,
Thanks for reporting it, one question, does KEDA works properly? I mean, is it just a visual thing, or you are facing with problems with autoscaling? I mean, that function sanitize some characters that produce issues with url formats, but IDK if this is the case

[2022-11-01 19:41] JorTurFer commented on #3787
Hi @toniopelo ,
This seems totally legit. There are [other fields](https://github.com/kedacore/keda/blob/1d6d0f100d06e9fdb1e42275fc1e03160af09a72/pkg/scalers/nats_jetstream_scaler.go#L72-L75) in the response that could be used. I'm not an expert on NATS, but it's true that seems not enough only with `NumPending`. Maybe we could add a parameter in the metadata to include or not other fields.
Are yo

[2022-11-01 20:12] JorTurFer opened #3805 "Support HTTPS protocol in NATS Scalers"
### Proposal

Currently, the scalers have hardcoded the protocol ([1](https://github.com/kedacore/keda/blob/main/pkg/scalers/nats_jetstream_scaler.go#L156) [2](https://github.com/kedacore/keda/blob/main/pkg/scalers/stan_scaler.go#L171)), we should add an option to use https if it's needed

### Use-Case

_No response_

### Anything else?

_No response_

[2022-11-01 21:04] toniopelo commented on #3787
Hi @JorTurFer, thanks for you reactivity! I'm not an expert on NATS either but I stumble across this issue so I guess this is a limitation of the current implementation.
I would gladly contribute, I just have zero experience in `golang` (except a debug once or twice), but this seems definitely feasible, even for a `golang` newbie like me :).
I'll give it a try if I manage to have a proper dev envi

[2022-11-01 21:27] JorTurFer commented on #3787
Nice!
You could use [devcontainers](https://code.visualstudio.com/docs/devcontainers/containers) to have a dev environment ready to run, KEDA [supports it](https://github.com/kedacore/keda/tree/main/.devcontainer), so you don't need to battle with that.
[The section about debugging](https://github.com/kedacore/keda/blob/main/BUILD.md#debugging-with-vs-code) could be useful to you too in order to d

[2022-11-02 12:52] Eldarrin opened #3808 "Octopus Worker Scaler"
### Proposal

A docker container running an Octopus Tentacle which can be scaled according to queue requirements; focusing on using kubernetes to scale Octopus Workers

### Scaler Source

Octopus Task Queue length

### Scaling Mechanics

Queue Length > metric initiate a new worker in a pool

### Authentication Source

Octopus API Key

### Anything else?

Happy to write it if it gets enough appreci

[2022-11-02 13:07] tomkerkhove commented on #3808
Do you have a URL to that product? Never heard of it, but thanks for the suggestion!

Are you interested in contributing it?

[2022-11-02 20:27] #3603 closed

[2022-11-03 14:06] ivan-santos-eq opened #4066 "Add documentation for replacing existing HPA with an Scaled Object without deleting the existing resource"
### Use-Case

In a company where most of the services already have HPA, it would be ideal to have a backward compatible transition to ScaledObjects where it would take over the existing HPA, while the user would only need to delete the HPA yaml file (not using git ops).

[2022-11-03 20:20] Tazer opened #3810 "Keda Operator very slow with 1088 scaled objects. (using RabbitMQ scaler) on AWS EKS 1.20"
### Report

Keda seems not be scaling well when there is many scaled objects.
Seems it's hitting a lot of rate limits against the kubernetes api also.

Seeing loads of
[code]

And with 1088 scaled objects and rate limits hitting up to 30seconds per check it will take forever and it will always be behind.

We are using `idleReplicaCount: 0`

The spec of the scaledObjects look something like this:
[

[2022-11-03 20:27] tomasgiden opened #3811 "Segmentation violation"
### Report

Starting up, Keda Operator has a segmentation violation in logger. Presumably because Azure Blob Scaler is missing to store the initialized logger on line 70 in azure_blob_scaler.go. I will contribute a PR and link to this issue.

### Expected Behavior

I expect Keda Operator to not have a segmentation violation. If my scaler credentials are bad, I expect Keda to handle it gracefully.

[2022-11-03 20:40] JorTurFer commented on #3810
Hello @Tazer
Sadly, we have detected performances issues in huge clusters, this is a work in progress, but I don't have any ETA for it. I think that will be ready soon, but IDK

[2022-11-03 20:44] JorTurFer commented on #3810
Said that, your issue is not related with the performance issues we have detected, it's related with throttling in the API server, you could try[ configuring the throttling in KEDA](https://keda.sh/docs/2.8/operate/cluster/#kubernetes-client-parameters) to give more resources considering you are using a huge cluster

[2022-11-03 20:50] Tazer commented on #3810
Cause we do have problems with both scaling 1 > 0 but also 1 .. N

Currently the biggest problem for us that is affecting production is 1 > 0 meaning it's the keda-operator pod.

To my understanding I can only change `MaxConcurrentReconciles` on the keda-operator ?

The other settings is for the keda-metrics right?
[code]

[2022-11-03 20:58] JorTurFer commented on #3810
mmm... you are right, v2.8.1 doesn't support setting it in the operator, next release will support it because the changes [are already on main branch](https://github.com/kedacore/keda/blob/main/main.go#L76), if you need them you could use main tag (or even better, pull it and push to your own registry to freeze the changes because main isn't stable branch).

If your major blocker is with 1 > 0 > 1

[2022-11-03 21:09] Tazer commented on #3810
Tried `main`

But crashed on
[code]

Will have a look if I can figure it out

[2022-11-03 21:13] JorTurFer commented on #3810
oh, right, you are using EKS 1.20 and KEDA in main requires 1.23 (due to the deprecation of `autoscaling/v2beta2`...) In that case, you the only option is an operator per namespace or backporting that change to the tag 2.8.1 by yourself 😢

[2022-11-03 21:14] JorTurFer commented on #3810
You could set it for the metrics server in the meantime and check if that improves the behavior

[2022-11-03 21:17] JorTurFer commented on #3670
The case here is that we should respond with all the metrics available in the server because this method is for listing metrics, and we should respect it. I'm checking if there is any improvement we can do there to improve this method, but atm I don't have any idea

[2022-11-03 21:22] JorTurFer commented on #1797
This is interesting @penghuazhou , you are right and we are exposing all the metrics there, let me go depeer in this

[2022-11-03 21:23] Tazer commented on #3810
Feels actually that made a huge difference on the metrics server.

Gonna see if I can backport it quickly

[2022-11-03 21:32] JorTurFer commented on #3810
Give me a sec, I'll send you the PR where that change was done

[2022-11-03 21:36] JorTurFer commented on #3810
[This is](https://github.com/kedacore/keda/pull/3731/files), there are a few lines to change.

Disclaimer: I know it's totally outside my scope, and I also know that in organizations this changes requires time. This is only a suggestion
One more thing, remember that next KEDA version will support k8s >= 1.23. I say this because sadly, we had to drop the support due to `autoscaling/v2beta2` depreca

[2022-11-03 21:50] Tazer commented on #3810
Thanks ported the changes in a fork and waiting for the build.

Understand, it's not a major issue we do have a few 1.23 clusters already so we have a upgrade path at least.
But gonna see how it behaves with the fork soon.

[2022-11-03 21:57] JorTurFer commented on #3810
🤞 , let me know how it goes

[2022-11-03 22:04] JorTurFer opened #3813 "Add pod identities to Azure Key Vault provider"
### Proposal

At this moment, the Azure Key Vault provider code supports pod identities but it's not documented anywhere. There is also a race condition in the way that is implemented because it uses the section `podIdentity` but scalers use that section too, so depending on scaler implementation will take secrets from the vault or use pod identity, we should redesign this, maybe placing that sect

[2022-11-03 22:20] Tazer commented on #3810
@JorTurFer so it helped a lot.

So going from hours to reconcile to around 4-5 minutes. It's still a bit too slow but a great improvement.
But still now it "works". So really looking forward for those performance improvements also.

[2022-11-03 22:39] v-shenoy commented on #3813
I didn't take into account the race-condition. I thought if a TA had a Key Vault and pod identity, any Azure scalers would still work with the pod identity.

In my head the main use-case for this was, if a user had a non-Azure scaler in use such as RabbitMQ. We will use pod identity to access the key vault, but the scaler itself will use the secrets stored in the key vault.

[2022-11-03 22:52] JorTurFer commented on #3810
Can we close this issue then?

[2022-11-03 23:00] JorTurFer commented on #3813
The use case how I discovered this was:
We have a Key Vault to store all the secrets and an identity with access to that Vault, when I tried to use the identity, the EventHub scaler jumps to pod identity in [this switch](https://github.com/kedacore/keda/blob/main/pkg/scalers/azure_eventhub_scaler.go#L190), but the manage identity we use doesn0t have access to the eventhub or storage, only to the K

[2022-11-03 23:42] mknet3 commented on #3805
I can do it

[2022-11-03 23:53] #3756 closed

[2022-11-04 05:35] v-shenoy commented on #3813
Sorry about the bug, but it's nice that you were able to discover it before some user did.

[2022-11-04 06:42] Tazer commented on #3810
@JorTurFer you don't want to patch 2.8.1 and do a 2.8.2 ? :) so more ppl have access to the QPS ?

But yeah we can close this for now.

[2022-11-04 06:42] #3810 closed

[2022-11-04 07:22] JorTurFer commented on #3810
Usually we don't backport features, it's versión is provided as it is and now we are aiming to v2.9 directly for supporting all new things.
This makes our life's easier with version management 😊

[2022-11-04 07:26] JorTurFer commented on #3813
No worries at all, my first contribution broke the rabbitmq scaler... it happens 😉😉
You do an awesome job ❤️
I guess end users haven't noticed it because it isn't documented, so maybe they don't know it supported that feature. I saw in the code when I was checking if it's supported or not

[2022-11-04 08:22] arkadipdigite opened #3817 "SealedJob image update"
I am deploying a `SealedJob` using Keda. It is working fine. But I don't know how to update the image which is running in the jobs.

I am using `Keda 2.7.1`.

My SealedJob object has `rolloutStrategy: gradual`, but to update the image I am currently removing the entire object by `kubectl delete` and redeploying it.

If anyone knows the any better command, please help.

[2022-11-04 09:23] v-shenoy commented on #3569
Completed in https://github.com/kedacore/keda/pull/3573.

[2022-11-04 09:23] #3569 closed

[2022-11-04 09:41] #3811 closed

[2022-11-04 10:18] zroubalik commented on #3810
@Tazer would you mind sharing the settings that you used? We might think about redefining the defaults, maybe?

[2022-11-04 11:27] darkmatter18 commented on #3817
@JorTurFer

Hi, so the way we can update the image of a deployment using the `kubectl set image` command, that same way I wanted to update the `ScaledJob` image.

And by using `rolloutStrategy: gradual`, I wanted to use the image for the next triggered jobs.

[2022-11-04 11:39] JorTurFer commented on #3817
oh, did you mean a single kubectl command for setting that parameter instead of applying the whole manifest?

[2022-11-04 11:41] darkmatter18 commented on #3817
@JorTurFer

Yes, just to update the image.

[2022-11-04 11:42] JorTurFer commented on #3817
You could just redeploy it doing again `kubectl apply -f MANIFEST.YAML`

[2022-11-04 11:52] JorTurFer commented on #3817
You could use `kubectl patch` to modify the images

[2022-11-04 13:53] zroubalik commented on #1797
@penghuazhou could you please open a PR with a proposed solution from your case? We can try to test from your solution from that branch.

[2022-11-04 14:00] zroubalik opened #3821 "KEDA Metrics API Scaler - ability to skip tls check"
`InsecureSkipVerify` feature should be implemented for this scaler

### Discussed in https://github.com/kedacore/keda/discussions/3728

<div type='discussions-op-text'>

<sup>Originally posted by **wymangr** October  6, 2022</sup>
I'm trying to setup the Metrics API KEDA scaler. I have an internal API setup with a self signed certificate, but when I deploy it I'm getting the following error:

[cod

[2022-11-04 14:55] 26tanishabanik opened #3822 "A kubectl plugin for listing scaling events"
### Proposal

A simple kubectl plugin which will list the current scaling events under the deployed keda replicas.

Examples:

`kubectl get scaling-events`
[code]
What do you guys think?
I would be glad to pick this up as soon as this issue receives any positive feedback from the community.

### Use-Case

Show the different scaling events of different scalers listed under the keda operator

### An

[2022-11-04 15:06] #3813 closed

[2022-11-04 15:15] zroubalik commented on #3822
Do you think this use case is worth implementing?

[2022-11-04 15:18] 26tanishabanik commented on #3822
I think it is, in context that, suppose I would want to know as an user what scalers are available in my cluster currently, just using `kubectl` only

[2022-11-04 15:29] neelanjan00 commented on #3822
Since scalers are defined as part of ScaledJobs/ScaledObjects triggers, I think it will be worth it if we can list them, the trigger(s) that they are using, and the parameter config of the triggers.

[2022-11-04 15:33] 26tanishabanik commented on #3822
Agreed, that way it will be easier to view all the triggers @neelanjan00

[2022-11-04 15:34] 26tanishabanik commented on #3822
That will also be a long list, true @zroubalik , what do you suggest?

[2022-11-04 15:37] neelanjan00 commented on #3822
That's a valid concern, I think. We can have a verbose flag for listing the config options maybe. Otherwise it might be done on a per ScaledJob/ScaledObject basis rather than for all of them at once.

[2022-11-04 15:39] tomkerkhove commented on #3822
I think writing them to our SO/SJ resources would be better: https://github.com/kedacore/keda/issues/3764

[2022-11-04 15:43] zroubalik commented on #3764
I suppose this proposal is about improving the `Status` of the CRs created by users in the cluster. Not about the CRDs created by installation. I agree, the status exposed by each resource should be improved.

[2022-11-04 15:45] zroubalik commented on #3822
I don't think I follow.

[2022-11-04 16:19] 26tanishabanik commented on #3822
Can't we just define a parameter in keda itself to define what the event is, and then fetch it? @zroubalik

[2022-11-04 21:27] #3821 closed

[2022-11-05 15:14] penghuazhou commented on #1797
OK, I will open a PR tomorrow.

[2022-11-06 03:57] #3580 closed

[2022-11-06 17:04] mknet3 commented on #2310
I can do this issue :)

[2022-11-06 17:29] JorTurFer commented on #2800
I think this is ready. I close it for the moment

[2022-11-06 17:29] #2800 closed

[2022-11-07 00:44] v-shenoy commented on #3770
Actually, even the service bus doesn't SDK doesn't support regex. The implementation is fetching all queues / subscriptions and then checking the regex on them.

[2022-11-07 00:45] wallflower762 commented on #3555
Leaving a comment to prevent the issue from being closed as stale. This is still critical to use Azure storage queues effectively.

[2022-11-07 05:27] arkadipdigite commented on #3817
@JorTurFer

Can you give me any command?

[2022-11-07 07:28] JorTurFer commented on #3817
`kubectl patch`

[2022-11-07 07:31] JorTurFer commented on #3770
Lol, you are right :(
Isn't this way a bit unsafe? I mean, what will happen if we have 100-200 queues in the ServiceBus / SQS / Etc? Will we request all of them every time? 1 single metric means a random number of queries to the upstreams?

[2022-11-07 07:52] arkadipdigite commented on #3817
With this command

[code]

I am facing this error
[code]

[2022-11-07 08:33] v-shenoy commented on #3770
I wouldn't say unsafe, but obviously it isn't going to be performant. Maybe we can mention this in the docs noting the limitation of the SDK.

[2022-11-07 09:09] tomkerkhove commented on #3822
https://github.com/kedacore/keda/issues/3764#issuecomment-1305301918 should clarify this, but basically give insights to how your SO/SJ is doing and when it has last scaled

[2022-11-07 09:10] v-shenoy commented on #2637
Closed in #3719

[2022-11-07 09:10] #2637 closed

[2022-11-07 09:10] v-shenoy commented on #2638
Closed in https://github.com/kedacore/keda/pull/3719

[2022-11-07 09:10] #2638 closed

[2022-11-07 09:10] v-shenoy commented on #2639
Closed in https://github.com/kedacore/keda/pull/3719

[2022-11-07 09:10] #2639 closed

[2022-11-07 13:04] JorTurFer commented on #3817
I have tried this and works:
`kubectl patch ScaledJob test --type='merge' --patch '{"spec": { "jobTargetRef": { "template": { "spec": { "containers": [{ "image": "nginx", "name": "test" } ] }}}}}'
`
probably you have any typo in your command
In any case, I suggest reapplying the manifest, using `kubectl apply -f manifest.yaml` you can modify the manifest and reapply it with the same command, if yo

[2022-11-07 16:32] Eldarrin commented on #3782
I've fixed the issue, but going to test more before I re-open the commit. Basically if you queue up a lot of jobs and the cluster doesn't spin up the agents and assign them to AzDO before the next keda cycle it queues another n jobs. I've added an activejob register so it won't re-add unique jobs

[2022-11-07 22:25] sergio-ferreira-jscrambler commented on #3127
I'm worried of the performance hit this brings with the XRANGE command, which iterates all entries from the `last-delivered-id` to the last entry (+).

My team is using Redis 6 in production and since we don't have the `lag` value directly from Redis, we're using a script which does pretty much the same as your code to get the lag. It iterates with XRANGE since the last-delivered-id to the last me

[2022-11-08 03:11] #3614 closed

[2022-11-08 12:25] zroubalik commented on #2282
So the idea is following:

1. Introduce a new option for specifying `pollingInterval` for 1<->N scaling:
    1. this could be either on a ScaledObject level
    2. or on a Scaler (trigger level)
2. This would be an optional value, if it is not set, the current behavior is preserved.
3. If the option si specified, the metric value would be cached for the specified interval, if there's a request com

[2022-11-08 13:30] AndreasBergmeier6176 opened #3830 "Limit Kafka Partitions KEDA operates on"
### Proposal

Instead of scaling on all *Partition*s, provide (sparse) lists and ranges of *Partition*s.
A particular KEDA instance should then only listen and act upon metrics on these *Partition*s.

### Use-Case

1. A Test deployment which should test data semantics on live _Topic_ (hundreds of *Partition*s). To ensure that costs are not getting out of hand for the test only one or a few of thes

[2022-11-09 07:30] JorTurFer commented on #3770
Yeah, I think we should mention this in docs if we do it, because maybe someone uses a regex that returns a huge amount of queues, and the disclaimer there isn't wrong. With a few queues it won't be efficient but at least either be a problem, but imagine the hypothetical case where > 100-200 queues match with the regex...

[2022-11-09 07:51] #3787 closed

[2022-11-09 10:27] yuvalweber commented on #2720
By the way I see that under the behavior annotation in the HPA the scaleUp is based on Pod will in the keda-hpa is based on percentage. Maybe this could be one of the factors?

[2022-11-09 10:51] zroubalik opened #3832 "Load testing"
### Proposal

We should set up some load test, that will stress KEDA and run it regurarly to catch perf regressions.

Steps:
1. Design the test case
2. Implement the test
3. Make it part of CI and set up to run periodically (nightly?)

### Use-Case

_No response_

### Anything else?

_No response_

[2022-11-09 12:52] tomkerkhove commented on #3832
What is the scope of perf testing, we should define that as well.

For example, we need to perf test metric server, but also our external scaler approach (mainly push)

[2022-11-09 15:16] JorTurFer commented on #3832
Let me work on this as part of the testing proposal I'm working on to improve trust in KEDA and I'll link this there

[2022-11-09 19:55] michaeljmarshall opened #3833 "Apache Pulsar: Support Partitioned Topics"
### Proposal

The current Apache Pulsar Scaler does not integrate with partitioned topics because the stats endpoint is slightly different.

### Use-Case

By adding support, users can scale based on the cumulative backlog for a subscription on a partitioned topic.

### Anything else?

_No response_

[2022-11-09 19:59] Fouz opened #3855 "Issue with scaling to more than 1 replica"
I have a deployment with 0 replicas i’m trying with keda to be able to scale out the replicas from 0 and back based on a metric that measures the latency, having keda scaledobject spec as follows

[code]
the issue is it stops scaling at 1 replica after it reaches threshold so I guess it’s an issue with the hpa not able to scale from 1 to N, the hpa status :
[code]
[code]

## Specifications

  - **

[2022-11-09 19:59] michaeljmarshall commented on #3833
I am working on this and plan to open a related PR later today.

[2022-11-10 00:16] swaradgat19 opened #3835 "Hi @rootfs, I've been working with @ross7 on the grid intensity go SDK thing. I've tried to provide some more background to the answers"
Hi @rootfs, I've been working with @ross7 on the grid intensity go SDK thing. I've tried to provide some more background to the answers

The above example works by moving workloads geographically (as in, it moves them through space).

You can also move workloads temporally (as in move them through time).

The carbon intensity changes based on the time of day, so the same workload run at different