[2019-11-12 04:19] jeffhollan commented on #417
@Aarthisk would be get to get your inputs on this

[2019-11-12 04:19] jeffhollan commented on #389
Thanks @daniel-habib - makes sense

[2019-11-12 11:15] balchua commented on #442
@VenkateshSrini service type loadbalancer will only work if you have the corresponding cloud controller or metallb.
If this is on your laptop, dont think it will give you an LB ip address.

[2019-11-12 16:30] tomkerkhove commented on #435
There you have it - Your first follower!

[2019-11-12 18:29] tomkerkhove commented on #298
@patnaikshekhar can you send a PR to our samples repo, if not done already please?

If we're good to go, I'd like to close this issue.

[2019-11-12 18:30] tomkerkhove commented on #199
This is now merged so this issue can be closed I presume, right @jeffhollan  @ahmelsayed ?

[2019-11-12 18:31] tomkerkhove commented on #240
Anything left open for this one?

It's merged and documented to scale on Redis Lists AFAIK

[2019-11-12 18:31] tomkerkhove commented on #240
Anything left open for this one?

It's merged and documented to scale on Redis Lists AFAIK

[2019-11-12 19:37] #199 closed

[2019-11-12 23:42] zroubalik commented on #217
@jeffhollan yes, setting this env should do the job and operator will serve just that namespace. This variable is on 2 places in the Deployment, one for operator container and one for metrics adapter container, you need to modify both.

You can run mutliple instances of KEDA on the cluster with this setting, but you need to modify the other resources, ie. ClusterRoles,APIService,... to avoid confl

[2019-11-13 00:36] jeffhollan commented on #374
@ahmelsayed  do you know if this will be addressed by any of the helm changes you made?

[2019-11-13 00:37] jeffhollan commented on #313
I'll grab this and do on the docs repo

[2019-11-13 00:37] jeffhollan commented on #300
I'll see if I can grab this and do on the docs repo.  Haven't used before but expect I can get to work 🤞

[2019-11-13 00:38] jeffhollan commented on #167
I'll take the action to at least document how to use the dashboard from the keda-docs repo

[2019-11-13 00:48] ahmelsayed commented on #374
That's part of the change in https://github.com/kedacore/keda/pull/446, though I need to update the README with the stable helm instructions.

[2019-11-13 03:44] VenkateshSrini commented on #442
@balchua,
Usually the external IP would be localhost. But that is also not getting set. You can see the output of `Kubectl get services` in attached image. I tried accessing the services using the cluster-ip and the port 31397. But that also did not work
![Annotation 2019-11-13 091225](https://user-images.githubusercontent.com/1167152/68731401-f1cb9980-05f5-11ea-8cbe-643ffc7b4cb6.png)

[2019-11-13 06:53] balchua commented on #442
Port 31397 is a node port. You can access it using the host's ip not the clusterip.

[2019-11-13 08:40] tomkerkhove commented on #374
Would you mind updating it here instead https://github.com/kedacore/keda-docs/blob/master/content/deploy.md#deploying-with-a-helm-chart?

I'll send a PR to cleanup this repo once migration has been done.

[2019-11-13 08:40] tomkerkhove commented on #374
Thanks!

[2019-11-13 11:24] tomkerkhove commented on #167
Already working on it!

[2019-11-13 15:12] ericbottard commented on #373
Pinging @ahmelsayed (sorry), as this issue was created more than a month ago and hasn't been commented on. Nevertheless, I think it puts into light quite an important problem (or my total lack of understanding :) ). Would be happy to
- make sure the problem is real
- discuss possible solutions (the above report contains an approach, but there may be others)
- contribute an implementation if it mak

[2019-11-13 18:30] tomkerkhove commented on #336
Reopening for https://github.com/kedacore/keda/pull/450 & https://github.com/kedacore/keda/pull/450

[2019-11-13 18:36] tomkerkhove commented on #393
Docs are now live - https://keda.sh/scalers/prometheus/

[2019-11-13 18:36] #393 closed

[2019-11-13 18:36] tomkerkhove commented on #300
Docs are done - https://keda.sh/scalers/prometheus/

[2019-11-13 18:36] #300 closed

[2019-11-13 18:37] tomkerkhove commented on #313
Docs are available here - https://keda.sh/scalers/rabbit-mq-queue/

[2019-11-13 18:37] #313 closed

[2019-11-13 18:38] tomkerkhove commented on #302
Docs are available here - https://keda.sh/scalers/aws-sqs/

[2019-11-13 18:38] #302 closed

[2019-11-13 18:39] tomkerkhove commented on #314
Docs are available here - https://keda.sh/scalers/apache-kafka-topic/

[2019-11-13 18:39] #314 closed

[2019-11-13 18:39] tomkerkhove commented on #224
Docs are now discoverable on https://keda.sh/

[2019-11-13 18:39] #224 closed

[2019-11-13 20:41] ahmelsayed commented on #374
will do.

[2019-11-14 02:02] VenkateshSrini commented on #442
@balchua,
I tried accessing the same. But that also is not working. I did a kubectl logs of my pod and I see the below error

My class and functions are public with function level as anonymus

[2019-11-14 04:32] jeffhollan commented on #406
@ahmelsayed I know there's a ton going on right now but since Helm 3 just went GA today I'm wondering if we may be able to fit this in before KubeCon?

[2019-11-14 04:39] jeffhollan commented on #406
Though good news at least is apparently helm 3 won't just auto-upgrade with like `brew install kubernetes-helm` [so that should](https://github.com/Homebrew/homebrew-core/pull/45789) buy us some time too.  I think this could come after 1.0

[2019-11-14 04:46] jeffhollan commented on #406
Sorry know I'm spamming this, while it does work on helm 2.15.2, it *does not work* on the latest helm 2.16 release.  So renaming thread and FYI to others, to use helm to install you'll need to use a version < 2.16

[2019-11-14 04:58] bacongobbler commented on #406
https://github.com/Homebrew/homebrew-core/pull/46708

[2019-11-14 05:49] balchua commented on #442
So the pod is running, but not getting traffic.  Will it be possible to use `NodePort` instead of `LoadBalancer`?  And for the meantime remove any osiris annotation. Just trying to isolate the issue.

[2019-11-14 07:07] tomkerkhove opened #453 "Is our new authentication backwards compatible?"
While working on the docs we were not sure if the new authentication is backwards compatible (and thus supports configuration on `ScaledObject`) or not?

From what I'm seeing I'd say it is.

Either outcomes are fine but would just be good to know so we can align the docs.

/cc @jeffhollan

[2019-11-14 07:09] tomkerkhove opened #454 "Rename CRD api version to keda.k8s.io/v1"
With v1.0 coming up I was wondering if we should update our API version to `keda.k8s.io/v1` instead of `keda.k8s.io/v1alpha1`

[2019-11-14 08:38] zach-dunton-sf commented on #453
When adding TriggerAuth support for AWS Cloudwatch, I was asked to remove the scaled object configuration https://github.com/kedacore/keda/pull/397#discussion_r338602074

I have done the same for AWS SQS Scaler.  I can add them back if necessary.

[2019-11-14 09:43] zach-dunton-sf commented on #453
I found this today, there is now an official pod identity provider for AWS https://github.com/aws/amazon-eks-pod-identity-webhook it's a mutating webhook that injects the AWS_ROLE_ARN into the pod based on an annotation from the Service Account of the pod. Maybe we should consider re-adding pulling at least AWS_ROLE_ARN from the pod, possibly only if podIdentityProvider == "aws"

[2019-11-14 11:18] tomkerkhove opened #455 "Provide a Security Policy"
Provide a Security Policy that helps customers and researchers to report security vulnerabilities.

We should provide:
- Introduce a [Security Policy](https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository)
- Issue template to report vulnerabilities

[2019-11-14 11:20] tomkerkhove opened #457 "Provide support for Amazon EKS Pod Identity Webhook"
Provide support for [Amazon EKS Pod Identity Webhook](https://github.com/aws/amazon-eks-pod-identity-webhook) that would simplify authentication with AWS.

[2019-11-14 11:20] tomkerkhove commented on #457
Not sure how stable this is at the moment though.

[2019-11-14 11:22] tomkerkhove commented on #453
I've created #457 for that - Even if we keep the environment variables I think we should make it automagically for AWS customers.

My comment (https://github.com/kedacore/keda/pull/397#discussion_r338602074) was based on the assumption that we were killing backwards compatibility but @jeffhollan brought this up and I'm not longer sure if my assumption is correct - If this is the case, I'm sorry fo

[2019-11-14 11:51] zach-dunton-sf commented on #453
I have a PR ready for #457 that is pulling the annotation from the service
account. I’m waiting on one of the other two to be merged first so I can
rebase to that branch and push it.

On Thu 14. Nov 2019 at 12:22, Tom Kerkhove <notifications@github.com> wrote:

[2019-11-14 12:01] jeffhollan commented on #453
Yes I think in general we’ve preserved the way to inline authentication to both preserve backwards compatibility and also to provide an easy way to create a scaled object with secrets. I don’t know if there’s a compelling reason to force trigger auth and somewhat like what other scalers have done to show you can do both

https://keda.sh/scalers/azure-service-bus/

Thanks @zach-dunton-sf thesr PRs

[2019-11-14 12:02] tomkerkhove commented on #457
@zach-dunton-sf What is the status of that project? Is it considered stable or still experimental?

If experimental, not sure if we should go there already imo.

[2019-11-14 12:03] tomkerkhove commented on #453
Sounds good to me, but then we'll have to do a sweep to ensure that all scalers use this approach!

[2019-11-14 13:11] zach-dunton-sf commented on #457
It’s still experimental, I’m going to put together a build in a couple
hours to test it out. The PR itself is pretty simple, 15-20 lines.

On Thu 14. Nov 2019 at 13:02, Tom Kerkhove <notifications@github.com> wrote:

[2019-11-14 13:14] tomkerkhove commented on #457
That's fine for me but I don't know if we want to support this until it's a bit more stable. We'll have to support something that might cause issues on our side.

What do you think @jeffhollan?

[2019-11-14 13:53] zach-dunton-sf commented on #457
I misread your question. I think the project from AWS is stable since recently. It's been an option in EKS since September 3, 2019. The PR I was working on also supports 3rd party solutions such as Kiam and kube2iam, which were the official "un-official" tools until this came out.

https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html

[2019-11-14 14:02] tomkerkhove commented on #457
In that case I think we're good to go with the official support, not sure on Kiam though if I may be frank. All providers that we add are good, but also have to maintain them.

In this case, I'd wait until there is customer demand for Kiam over AWS-based project and learn where it is lacking, but that's just my view

[2019-11-14 14:12] zach-dunton-sf commented on #457
We are currently using kiam, It's just grabbing an annotation from the PodSpecTemplate, it's even smaller than AWS official solution. I think that until support for non EKS clusters is better for the webhook that kiam should be supported, the helm chart is still in progress.

In both cases the PR just grabs the role name from the annotation and is using it to fill awsRoleArn in the trigger auth.

[2019-11-14 15:32] tomkerkhove commented on #457
What do you think @jeffhollan @ahmelsayed ?

[2019-11-14 16:25] tomkerkhove commented on #408
We're done and available on https://keda.sh.

[2019-11-14 16:25] #408 closed

[2019-11-14 16:28] tomkerkhove commented on #334
@ahmelsayed Did we finish this already? I think so but not sure

[2019-11-14 16:28] tomkerkhove commented on #293
Done

[2019-11-14 16:28] #293 closed

[2019-11-14 16:28] tomkerkhove commented on #303
Done

[2019-11-14 16:28] #303 closed

[2019-11-14 16:30] tomkerkhove commented on #167
Done via https://github.com/kedacore/keda-docs/pull/18 & https://github.com/kedacore/keda-docs/pull/16

[2019-11-14 16:30] #167 closed

[2019-11-14 18:20] jeffhollan commented on #454
@zroubalik and @ahmelsayed mentioned operator SDK may be able to help here with version translations.  @zroubalik mentioned it may make sense to keep as v1alpha1 in case we end up breaking out into jobs / deployments from a single `scaledobjects`.  So may be ok?

@ahmelsayed will take a look and make the call

[2019-11-14 19:56] zroubalik commented on #417
@jeffhollan @ahmelsayed @Aarthisk  I forgot to mention this on standup. I think it'd be great to fix this for v1.0, because these fields are showing misleading information for user atm.
At least we could remove those fields from `ScaledObject` and we can reintroduce them later if needed. It is a very simple change and I can send a PR in a few.

[2019-11-14 23:08] jeffhollan commented on #457
LGTM

[2019-11-14 23:35] jeffhollan commented on #422
Working on a `CONTRIBUTING.md` file right now that will cover this

[2019-11-15 00:07] Aarthisk commented on #417
@zroubalik Yes, I agree. I don't remember if these ever worked or the refactoring changed them. Sure, if you can get to it that will be great.
@ahmelsayed I believe you might have had these for 0-1 scaling. is it still relevant with the operator sdk?

[2019-11-15 03:55] #422 closed

[2019-11-15 09:38] tomkerkhove opened #460 "Remove wiki in favor of keda.sh"
Now that almost everything is on keda.sh I think we should remove the wiki from the repo.

Does that sound fair?

[2019-11-15 11:48] balchua commented on #453
Ive kept the environment variable auth for redis while `TriggerAuthentication` takes precedence.

[2019-11-15 19:12] zroubalik commented on #417
@Aarthisk I think it didn't worked even before the refactoring.

[2019-11-15 19:28] aslom opened #463 "Missing create keda namspace step in Deploying using the deploy yaml?"
Following Deploying using the deploy yaml? from https://keda.sh/deploy/

[code]

after creating namespace

[code]

[2019-11-15 19:30] aslom commented on #19
Started exploratory work on it with @zroubalik on it in https://github.com/knative/eventing/issues/2153

[2019-11-16 05:39] #406 closed

[2019-11-16 18:55] #463 closed

[2019-11-17 03:45] jeffhollan commented on #237
I believe only work here is on the Azure Functions Runtime to correctly expose a liveness and readiness endpoint.  Other deployments that do should just work today.  Keeping to track the work on that team but not KEDA specifc

[2019-11-17 03:46] jeffhollan commented on #185
@ahmelsayed and @anirudhgarg will manage releases going forward.  Much of it is automated, but will still require human aspects for some parts.  No immediate plans to improve from what we have done for 1.0.0 so far.  Closing for now

[2019-11-17 03:46] #185 closed

[2019-11-17 03:47] jeffhollan commented on #345
Created a contributor guide, added build steps to README, we have a scaler doc on external, and a sample of an external scaler.  Any objections to closing this?

[2019-11-17 03:47] jeffhollan commented on #374
Completed and tracked at https://github.com/kedacore/charts

[2019-11-17 03:47] #374 closed

[2019-11-17 03:49] jeffhollan commented on #336
Completed, merged in, and documented

[2019-11-17 03:49] #336 closed

[2019-11-17 04:53] jeffhollan commented on #217
Thanks @zroubalik - I'm going to keep open until we get something like a helm chart or some deployment yamls that make what you described a bit easier to pull off.

[2019-11-18 02:36] zroubalik opened #467 "add default log level for Operator"
For Keda Operator, we should add default log level to the right section of deployment.yaml.  So users can easily find the right place in the Deployment, in case they would need to change the log level.

[2019-11-18 12:33] tomkerkhove commented on #417
Well wouldn't it be nice if they were working rather than deleting them? 🤔

You could say, check the HPA but I think the added value of KEDA is that it obfuscates this from the users.

[2019-11-18 12:34] #345 closed

[2019-11-18 12:45] tomkerkhove commented on #237
Is there another GitHub issue for that?

[2019-11-18 14:33] tomkerkhove commented on #173
v1.0 has shipped (:tada:) and I'd love to get working on this for v1.x so we can build the dashboard on top of this.

Anybody who agrees? If so, I can spec it a bit out and provide a proposal.

Given everything gets a dedicated repo, I'd say this should be moved to http://github.com/kedacore/cli once we've agreed on it.

[2019-11-18 15:17] zroubalik commented on #417
@tomkerkhove agree, I just want to remove those fields until we decide what do we want to show in the status, to avoid confusion.

If we want to have those fields in ScaledObject, we will have to periodically read those values from HPA. Question is, whether we want to add this sync from perfomance POV.

[2019-11-18 15:25] tomkerkhove commented on #417
Sounds good to me.

[2019-11-18 16:18] tomkerkhove commented on #454
Closing as we've shipped v1 and there are no breaking changes to justify this.

[2019-11-18 16:18] #454 closed

[2019-11-18 16:19] tomkerkhove opened #469 "Publish KEDA on Operator Hub"
Publish KEDA on Operator Hub

https://operatorhub.io/

[2019-11-18 16:48] jeffhollan commented on #237
Created one here https://github.com/Azure/azure-functions-host/issues/5259

[2019-11-18 21:16] zroubalik opened #470 "KEDA might not work on cluster which already has another External Metrics Adapter installed"
KEDA is using metrics adapter based on [custom-metrics-apiserver
 library](https://github.com/kubernetes-incubator/custom-metrics-apiserver). As part of the deployment, user need to specify cluster wide `APIService` object named `v1beta1.external.metrics.k8s.io`, see in the [library example](https://github.com/kubernetes-incubator/custom-metrics-apiserver/blob/master/test-adapter-deploy/testing-ad

[2019-11-18 21:18] zroubalik commented on #217
This might be relevant (in case the issue is cofirmed)
https://github.com/kedacore/keda/issues/470

so 16. 11. 2019 v 23:53 odesílatel Jeff Hollan <notifications@github.com>
napsal:

[2019-11-18 21:18] zroubalik commented on #217
This might be relevant (in case the issue is cofirmed)
#470

[2019-11-18 21:19] zroubalik commented on #470
this should probably have 'needs-discussion' label, I am not able to assign it.

[2019-11-18 21:29] jeffhollan commented on #470
@zroubalik I’ll make sure you get label permissions :).  Adding needs-discussion and help-wanted in case someone gets change to validate if it is a bug

[2019-11-19 09:17] tomkerkhove opened #472 "Provide a community standup calendar"
Provide a community standup calendar which folks can just pull in their calendar client to stay up to date.

That way everybody is aware of cancellations and daylight savings are fixed automatically.

Folks of OAM do a good job on that front

[2019-11-19 09:19] Janus88 opened #473 "host.json functions array does not get applied"
I specified 2 of 19 functions of my project to be executed in host.json functions array:

{
  "version": "2.0",
  "functions": [ "Function1", "AvisWEVorgaengeImportieren" ]
}

## Expected Behavior
Only the 2 specified functions will run

## Actual Behavior
All 19 functions run on deployed container. Running locally in docker works like expected

## Steps to Reproduce the Problem

  1. Create 2 or

[2019-11-19 09:47] tomkerkhove commented on #473
I think this is more of a https://github.com/Azure/azure-functions-docker issue as we don't control that AFAIK.

Right @jeffhollan & @ahmelsayed ?

[2019-11-19 10:23] Janus88 commented on #473
I don't think, that this is related to the docker image. In my opinion the deploy.yml contains wrong information in the env section.

[2019-11-19 10:36] tomkerkhove commented on #473
Ah I've missed the `func kubernetes deploy` part. We've removed that from the docs because there were some issues reported by @jeffhollan yesterday in https://github.com/kedacore/keda-docs/pull/47 - https://github.com/Azure/azure-functions-core-tools/issues/1559

I suggest to open an issue on https://github.com/Azure/azure-functions-core-tools as this is what generates the YAML, not KEDA.

[2019-11-19 10:39] #473 closed

[2019-11-21 05:58] yamaszone commented on #225
Any update on this? We would like to give Keda a try but we use Ambassador and don't want to break it.

[2019-11-21 06:00] jeffhollan commented on #225
@zroubalik is this related to https://github.com/kedacore/keda/issues/470 ?

[2019-11-21 13:07] tomkerkhove commented on #155
Bumping this as this came up today by @jornbeyers.

Having this scaler would allow customers to target any Azure resource without having a dedicated scaler. This would end up being a "generic Azure scaler" where the scalers like Azure Service Bus are more scalers that make it more convenient.

There are two flavors of this that I see:
- Query metric in Monitor based on customer input (similar to [

[2019-11-21 13:11] tomkerkhove opened #476 "Provide support for multiple triggers"
Provide support for multiple triggers that act as an `AND`.

### Use-Case

Queue processing that persists orders in the database.

As of today, we can autoscale based on message count but if our DB DTU is at 99% capacity we'll only make it worse.

### Specification

[code]

Kudos to @jornbeyers for idea

[2019-11-21 14:49] zroubalik commented on #225
@jeffhollan partially, as I can see, the problem is caused by missing `APIService` with `name: v1beta1.custom.metrics.k8s.io` currently we are usign `name: v1beta1.external.metrics.k8s.io`. Custom metrics are not implemented, we are using external.

Since the original issue is from May, I wonder if the problem is still relevant. It might be resolved with the cleanup I did on unused custom `APIServ

[2019-11-22 16:31] tomkerkhove opened #479 "Provide CloudEvent design proposal to extend KEDA"
Provide CloudEvent that are emitted by the runtime so that customers can extend KEDA.

Events that come to mind are:
- `New Trigger Authentication Created`
- `Deployment Scaled to Zero`
- `New Scaled Object Created`
- Information on scaling action
- Information about new scaled object referencing existing trigger authentication

Only concern I have is that folks could go through the Kubernetes eve

[2019-11-22 16:35] tomkerkhove opened #480 "Use KEDA to feed metric info to self-managed HPAs"
One thing that KEDA does well is handle the HPA creation based on the metrics that it exposes.

However, some customers still want to write the HPA themselves, but use the metrics from KEDA.

As far as I know, we do not support this because the metrics are only being tracked based on the deployed scaled object.

It would be good if we would provide a middleground where we could measure a given met

[2019-11-22 16:36] tomkerkhove commented on #480
I see this as KEDA being active in different layers of the Serverless -> PaaS -> IaaS stack.

How it is today we are fairly PaaS based given they just tell us how to scale and we'll handle it for them, while for some they'll want to have the scaling control but just want the metrics.

[2019-11-22 17:09] jeffhollan opened #481 "Kafka scaler support SSL and SASL"
Not quite sure what would be required here but a user wants to use KEDA but has kafka secured with SSL and SASL. I don't know if our scaler would work with this already

[2019-11-22 21:31] jeffhollan opened #482 "CloudEye Scaler"
PR open here https://github.com/kedacore/keda/pull/478

Creating issue to track in 1.1 milestone

[2019-11-22 21:55] Aarthisk commented on #470
@jeffhollan I am pretty sure this is by design right now. I will take a look at what options are available to chain metric servers.

[2019-11-22 21:58] #417 closed

[2019-11-23 02:08] zroubalik commented on #470
@Aarthisk I am planning to look at other options as well.

[2019-11-24 11:01] tomkerkhove commented on #482
Docs ✔️

[2019-11-25 01:07] iyacontrol commented on #457
hi all, anyone do this？

[2019-11-25 01:28] jiayanguo opened #483 "Helm 3 install failed"
When I am trying to install Keda in minikube via Helm3, it throws below error.
[code]

[2019-11-25 02:52] iyacontrol commented on #457
@zach-dunton-sf  hi, for aws auth, I have a question, why should I set awsRoleArn? For mainstream solutions: kube2iam and EKS Pod Identity,  it is not necessary.

[2019-11-25 05:24] jeffhollan commented on #483
That looks good to me. The skipping is to be expected as it’s required for helm 2 but skipped for helm 3. When you check the ‘keda’ namespace do you see the keda operator running?

‘Kubectl get pods -n keda’

[2019-11-25 08:13] markusthoemmes commented on #470
This is a known limitation of the custom/external metrics API. A possible solution is to come up with an aggregation API as per https://github.com/kubernetes-incubator/custom-metrics-apiserver/issues/3. Knative's HPA support suffers from the same limitation.

[2019-11-25 14:33] zroubalik commented on #470
@markusthoemmes thanks for the info

[2019-11-25 15:02] tomkerkhove commented on #460
What do you think @jeffhollan ?

[2019-11-25 18:19] zroubalik commented on #217
If we want to run multiple KEDA controllers in the cluster, we will have to redesign the metrics adapter and decouple it from the KEDA operator.
ie. we will have one metrics adapter in the cluster and mutliple KEDA controllers pointing to the one metrics adapter.
I am curious if the perfomance problems are still relevant, since the operator was rewritten with operator-sdk framework and lot of the

[2019-11-25 18:58] sc-chad commented on #217
Absolutely.  Was waiting on 1.0 to retest my original setup.  Thanks guys.

[2019-11-26 09:54] tomkerkhove commented on #217
Thanks for re-testing @sc-chad!

[2019-11-26 14:14] tomkerkhove commented on #287
I presume this issue can be closed as it's not related to KEDA?

[2019-11-26 14:14] #287 closed

[2019-11-27 07:15] iyacontrol commented on #481
pr [https://github.com/kedacore/keda/pull/486](url)

[2019-11-27 07:17] iyacontrol commented on #481
hi @tomkerkhove @jeffhollan
at present, sarama package not support sasl_ssl.

[2019-11-27 11:46] Cottonglow opened #487 "Horizontal Pod Auto Scaler not starting up with CRDs from v1 Keda"
This isn't necessarily a bug but more an observation where I encountered a problem.

Last week, shortly after the v1 launch of Keda, I was using it to explore how it auto scaled pods using Kafka as a trigger and I managed to get a working example. However this week, when I tried to create a new example, I noticed that the horizontalpodautoscaler did not want to spin up when I deployed the same Ked

[2019-11-27 13:43] iyacontrol commented on #111
hi @Aarthisk Do you mean too much permissions for keda-operator?

[2019-11-27 14:47] zroubalik commented on #111
`cluster-admin` permissions were removed as part of the recent refactoring.

[2019-11-27 16:09] jeffhollan commented on #481
This is awesome @iyacontrol !  Thank you!

[2019-11-28 00:19] jeffhollan commented on #111
Thanks @zroubalik  - I assume that means we can close this?

[2019-11-28 03:51] jeffhollan commented on #338
Opening per the new SASL support

[2019-11-28 04:25] cwoolum opened #488 "Cannot deploy NATS Scaler"
When trying to deploy a NATS scaler, the following error is received:

[code]

## Steps to Reproduce the Problem

  1. Create a ScalerObject with the following definition
[code]
  2. Check the logs for the Keda Operator

The stack trace is a follows

[code]

## Specifications

  - **Version:** 1.0.0
  - **Platform:** AKS
  - **Scaler(s):** NATS

[2019-11-28 05:26] iyacontrol commented on #488
hi @cwoolum ， #487 .  it is bug,  but you just needed to pull down the latest version of the file(/keda/deploy/crds/keda.k8s.io_scaledobjects_crd.yaml) and re-apply it to kubernetes.

[2019-11-28 05:38] jeffhollan commented on #487
Oof yeah I wonder when this slipped in as it seemed to be working fine earlier last week. But I just hit this with the helm chart and a new cluster.  To get around I had to follow similar steps and delete the CRDs manually the helm chart created:

`kubectl delete crd scaledobjects.keda.k8s.io`
`kubectl delete crd triggerauthentications.keda.k8s.io`

And then re-apply with latest master.

Now I jus

[2019-11-28 05:38] jeffhollan commented on #488
Yes looks like a dupe. I hit the same thing and commended on how to get around it by re-applying the latest update of the CRD.  Thanks @iyacontrol as I was in middle of repro-ing this when saw your comment

[2019-11-28 05:38] #488 closed

[2019-11-28 06:00] jeffhollan opened #489 "KEDA CI is updating the 1.0.0 image"
Was trying to figure out why I didn't hit this bug before when pinned to 1.0.0 and realized the 1.0.0 image was updated last night.  I suspect it's actually grabbing a mirror of master - which it shouldn't do.  1.0.0 should remain a snapshot of the code as of whenvever last Tuesday was.  New releases should automatically update master.  And then we manually add `1.0.1` or `1.1.0` or whatever.

//

[2019-11-28 06:01] jeffhollan commented on #487
Figured it out - the automated CI system appeared to update the 1.0.0 image with some bug fixes.  Will get it sorted out. In the meantime mitigation is to use latest master to deploy.  Will open a fix on the helm chart as well to replicate the bug fix that is causing the issues

[2019-11-28 06:53] jeffhollan commented on #481
Resolved with #486

[2019-11-28 06:53] #481 closed

[2019-11-28 07:16] tomkerkhove commented on #338
Closing as this is done in https://github.com/kedacore/keda-docs/pull/53

[2019-11-28 07:16] #338 closed

[2019-11-28 07:38] tomkerkhove commented on #489
Woops 😅

[2019-11-28 07:58] tomkerkhove opened #491 "Automatically create GitHub release for new official versions"
Automatically create GitHub release for new official versions.

This allows people to know a new version is out and what changed.

[2019-11-28 07:58] tomkerkhove commented on #491
After #489 I'd say this would be top prio 😅

[2019-11-28 08:00] tomkerkhove opened #492 "Provide a formal official release flow"
Provide a formal official release flow which pushes a new version to Docker Hub for our Docker containers and is only triggered on demand.

We can still have a new image for every master change but would move that to a new Docker image or `experimental` tag.

Relates to #491 & #439

[2019-11-28 18:30] ahmelsayed commented on #489
Yeah.... I wanted to discuss what we want to do there. I was leaning more towards increment the version as Jeff suggested. Didn't expect there will be a break as I was just merging doc PRs.

[2019-11-28 18:39] jeffhollan commented on #489
Not a huge deal and easy fix. Yeah we can sort it out next week.

[2019-11-29 02:18] iyacontrol commented on #489
hi @jeffhollan @tomkerkhove @ahmelsayed  Why not set up to build a new image only when tagging, then the form of the tag is similar to v1.0.1? master branch can always be in dev and merge stable future.

[2019-11-29 02:55] jeffhollan commented on #489
Yes I think that’s what we’re leaning towards. When we tag / release we generate a new tag. When a PR is merged it just automatically updates the “master” tag but no others.

[2019-11-29 17:05] cwoolum commented on #488
Thanks! That worked

[2019-12-02 15:26] tomkerkhove commented on #436
So, what approach do we take here?

Personally still more of a fan for Gitter as the Kube slack is very big imo

[2019-12-02 15:27] jeffhollan commented on #436
I added the slack channel info to contributor guide. We can port over to README to but has had some good chatter and I also get push notifications so prefer to stick with it

[2019-12-02 15:35] zroubalik commented on #111
@jeffhollan The API server is still using self signed certs, so the point 1. is still unresolved

[2019-12-03 07:24] iyacontrol opened #494 "provide client-go of keda"
In some case, we need to create keda crd  object by client-go of keda.

[2019-12-03 07:35] tomkerkhove commented on #494
Interesting - Could you elaborate on your scenario please?

[2019-12-03 07:38] #436 closed

[2019-12-03 07:54] iyacontrol commented on #494
I think we should add the client-go repo under the kedacore organization.

For example, when we use k8s, only our k8s administrators will use yaml. We developed a management platform based on k8s [client-go](https://github.com/kubernetes/client-go). Now we are ready to integrate keda, so we need keda crd's client-go.

[2019-12-03 08:50] tomkerkhove commented on #494
So you want to programatically create the ScaledObjects rather than via Kubernetes itself - Is that correct?

[2019-12-03 09:46] iyacontrol commented on #494
yes. hi @tomkerkhove do you have a good idea?

[2019-12-03 09:51] tomkerkhove commented on #494
This is an interesting scenario, although I don't have experience with it.

/cc @jeffhollan @ahmelsayed

[2019-12-03 13:05] balchua commented on #342
I think we can close this one.  Tom has aligned the docs already in this merged pr.
https://github.com/kedacore/keda-docs/commit/f37cc0b273e3ae7a45b1f3ca66beaf2baba9f700

[2019-12-03 13:13] tomkerkhove commented on #342
You are correct, thanks!

[2019-12-03 13:13] #342 closed

[2019-12-03 22:34] cristianoveiga commented on #240
Hi @tomkerkhove @patnaikshekhar ,

I was trying to get this working on my cluster, but I am getting an error:

`{"level":"info","ts":1575407848.053906,"logger":"controller_scaledobject","msg":"Reconciling ScaledObject","Request.Namespace":"default","Request.Name":"redis-scaledobject"}
{"level":"info","ts":1575407848.0539508,"logger":"controller_scaledobject","msg":"Detecting ScaleType from ScaledO

[2019-12-04 02:59] #489 closed

[2019-12-04 03:10] #482 closed

[2019-12-04 03:37] #467 closed

[2019-12-04 07:10] tomkerkhove commented on #467
I'm new to Operator SDK but I presume we need to surface this in the Helm chart as @jeffhollan mentioned in the PR, is that correct?

[2019-12-04 19:36] sc-chad opened #496 "V1.0.0 - ScaledObject isn't removed when helm template is deleted."
A clear and concise description of what the bug is.

## Expected Behavior
All definitions and objects are removed when the helm template is deleted.

## Actual Behavior
CustomResourceDefinition scaledobjects.keda.k8s.io
CustomResourceDefinition triggerauthentications.keda.k8s.io

These aren't removed and an error is thrown upon reinstall: ```Error: customresourcedefinitions.apiextensions.k8s.io "s

[2019-12-04 22:02] ahmelsayed commented on #496
The uninstall steps are documented here https://keda.sh/deploy/#uninstalling-keda

As far as I know that's the expected flow for helm charts that bring in CRDs based on https://github.com/helm/helm/issues/4489 and https://github.com/helm/helm/issues/4440

[2019-12-04 22:11] sc-chad commented on #496
Thanks @ahmelsayed that's good enough for me.  Appreciate the response.

[2019-12-04 22:11] #496 closed

[2019-12-04 22:29] jiayanguo commented on #483
Thanks @jeffhollan. Yes. I see the Kada namespace.

[2019-12-05 01:37] sc7565 opened #497 "Provide support for stateful sets"
Wanted to know, if current setup also supports the statefulsets?

### Use-Case

Autoscale - statefulsets

[2019-12-05 02:42] iyacontrol commented on #497
@sc7565 , at now it not support statefulset.

@tomkerkhove  Is it necessary to support sts.

[2019-12-05 06:18] iyacontrol commented on #497
pr is #498.
I think we should discuss in detail whether statefullset is supported, then go to review the code.

[2019-12-05 17:14] zach-dunton-sf commented on #457
When this issue is closed, you will no longer need to set awsRoleArn. The PR to close this issue will read the annotation from the appropriate place and use that instead of awsRoleArn. I just got back from holiday, I will try and get this done today or tomorrow.

[2019-12-05 18:14] tomkerkhove commented on #492
This was done via #495 with a `master` tag

[2019-12-05 18:15] #492 closed

[2019-12-05 18:16] tomkerkhove commented on #491
Closing as this is done manually

[2019-12-05 18:16] #491 closed

[2019-12-05 19:33] zach-dunton-sf commented on #457
Here is a PR for kiam and EKS webhook https://github.com/kedacore/keda/pull/499

[2019-12-06 02:25] zroubalik commented on #497
It would be great to support StatefulSet, but I think it should be a part of a bigger discussion on supporting mulitple types and whether we should use one general CRD or multiple CRDs for particular types or another approach.

Solution in PR #498 is adding another complexity to the existing CRD.

[2019-12-06 03:01] iyacontrol commented on #497
hi @zroubalik

At first, the kubernetes native hpa support deployment and statefulset. so i think keda should support statefulset.

At last, I tend to choose general CRD. There is no particularly big difference in the logic of the code  for deployment and statefulset. PR #498 , to compatible with previous versions.  if you use keda for deployment， yaml is the same as before.

[2019-12-06 03:13] zroubalik commented on #497
@iyacontrol absolutely agree on supporting StatefulSet!

Don't take my comment wrong. To help understand me, we had the similar discussion with supporting Job before and I wanted to restart the discussion on this since we are gonna add another type :)

My concern is, that currently there are many combinations of properties in the yaml for different types which might be confusing for user. I'd pref

[2019-12-06 04:05] iyacontrol commented on #497
hi @zroubalik , I read your reply carefully.

you are right. many combinations of properties in the yaml  might be confusing for user.  so
I think the key point is how to use `ScaledObjectScaleType` filed. if user supply `ScaledObjectScaleType` filed ,  deploymentName or  statefulSetName can merge into one filed， for example `name` or `appName` and so on.

Nice to discuss with you!

[2019-12-06 07:18] iyacontrol commented on #340
pr is #500.

[2019-12-06 11:05] tomkerkhove opened #501 "Create a proposal to donate as sandbox project to CNCF"
Create a proposal to donate as sandbox project to CNCF.

https://github.com/cncf/toc/blob/master/process/project_proposals.adoc

[2019-12-06 11:06] tomkerkhove commented on #501
This is currently in progress and very rough, will post link when it's in a more stable phase.

[2019-12-06 12:09] tomkerkhove opened #502 "Proposal - Move community standup to bi-weekly basis"
I'd like to propose to move the community standup to a bi-weekly cadence so that more people can join at the same time as it can now a bit intense.

However, it might just be me but if we do them every 2 weeks then I would be able to join more often.

[2019-12-06 12:09] tomkerkhove commented on #502
Thoughts @jeffhollan @ahmelsayed?

[2019-12-06 13:57] tomkerkhove commented on #497
Frankly, I'm with @zroubalik on this and brought this up when we added jobs as well. While the code might not be different, from a consumer perspective they are different and so should the resources that we create.

Adding @jeffhollan @ahmelsayed @anirudhgarg to let them chime in on this as well as I know they're more on the ScaledObject side of the fence.

That said - Either way are fine for me,

[2019-12-06 14:37] iyacontrol commented on #497
Hope more people discuss.

I think we can get some inspiration from kubernetes native hpa, why is there only one type of kubernetes native hpa? Instead of statefulset hpa and deployment hpa.

[2019-12-06 14:39] jeffhollan commented on #502
I’m ok with this. If there are folks from community that have updates or questions I’m more than happy to have more often, but yes potentially moving into next year we could do bi-weekly

/ @anirudhgarg

[2019-12-06 15:04] tomkerkhove commented on #497
While I get your point, I think from a consumer perspective it's a lot easier if it just works with the things you need and you don't need to know when to use what.

But again, see your point - Just have mixed feelings with it

[2019-12-06 15:54] tomkerkhove commented on #340
We've discussed this in the PR and turns out the only value we have is server address which is not something related to authentication so we can close this issue.

Sorry again @iyacontrol to waste your time.

[2019-12-06 15:54] #340 closed

[2019-12-06 23:46] sc-chad opened #503 "v1.0.0 - Rabbitmq Scaler not scaling past 1."
A clear and concise description of what the bug is.

## Expected Behavior
Scale target should scale to maxreplicaCount specification.

## Actual Behavior
Scale target scales to 1.

Errors in the log show:
[code]

Seeing this error message for every scaled object deployed.

Code Used:

[code]

[2019-12-06 23:51] jeffhollan commented on #503
I think it's because you are missing the `deploymentName` label in the `ScaledObject`.

https://keda.sh/concepts/scaling-deployments/

Let me know if that fixes it, as at the very least we should make the error much better here

[2019-12-07 00:03] sc-chad commented on #503
Yup - that fixed it.  Not sure how I missed something so simple, but very much appreciate the quick response!

[2019-12-07 00:03] #503 closed

[2019-12-07 00:05] jeffhollan commented on #503
Thanks - I'll create a bug right now that we should fix this error message.

[2019-12-07 00:09] jeffhollan opened #504 "Error when missing label is not helpful"
Per this bug #503 the error that we log when a `ScaledObject` is missing the label for `deploymentName` isn't super helpful.

I don't even remember why we have to duplicate this data between label and `scaleTargetRef`, but regardless, ideally at least the error could be something referencing the fact that this label is missing

[2019-12-09 16:58] zroubalik opened #505 "Split Deployment for Operator and Metrics Apiserver"
We should split Deployment for Operator and Metrics Apiserver. Currently they are both deployed in one Deployment as a Containers.
Splitting into separate Deployment should help us with scaling out KEDA Operator and don't affect Metrics server, because we can not scale metrics server as there could be only one instance in the cluster.

Needed changes:
- ~KEDA deployment files~
- ~Tests configurati

[2019-12-10 02:43] iyacontrol opened #507 "keda.k8s.io_scaledobjects_crd.yaml create error in k8s1.11"
kubectl apply -f https://github.com/kedacore/keda/blob/master/deploy/crds/keda.k8s.io_scaledobjects_crd.yaml

error: error parsing https://github.com/kedacore/keda/blob/master/deploy/crds/keda.k8s.io_scaledobjects_crd.yaml: error converting YAML to JSON: yaml: line 118: mapping values are not allowed in this context

k8s1.11.

[2019-12-10 05:25] iyacontrol commented on #507
hi @zroubalik .
I think you are more familiar with crd, if k8s1.13, no problem. but for k8s1.11 , failure.

[2019-12-10 07:15] tomkerkhove commented on #505
Stumbled upon https://github.com/helm/helm/issues/6361#issuecomment-538220109 yesterday, I presume this change will not fix it directly?

[2019-12-10 08:11] tomkerkhove opened #508 "Provide support for rolling secrets"
Provide support for rolling secrets so that customers can manage the lifecycle seperately and KEDA handles that accordingly.

[2019-12-10 08:13] tomkerkhove commented on #476
Thoughts @jeffhollan?

[2019-12-10 08:13] tomkerkhove commented on #479
Thoughts @jeffhollan?

[2019-12-10 08:13] tomkerkhove commented on #480
Thoughts @jeffhollan?

[2019-12-10 08:13] tomkerkhove commented on #155
Adding this to v1.1 to support metrics we don't expose via our other Azure scalers yet

[2019-12-10 08:14] tomkerkhove commented on #460
Would you mind removing it @anirudhgarg?

[2019-12-10 14:37] sc-chad commented on #356
@ahmelsayed Is this something that might make it into 1.1?  It's still an issue in 1.0.  It's causing workers to scale down when there are messages in the ack queue.

[2019-12-10 15:53] zroubalik commented on #505
@tomkerkhove yeah, I don't think so

[2019-12-10 15:56] tomkerkhove opened #510 "Apiservice isn't always deleted properly"
When deleting KEDA it not always deletes everything leaving behind an unavailable API server.

This was also reported by Brendan Burns here: https://github.com/helm/helm/issues/6361#issuecomment-538220109

[2019-12-10 15:56] zroubalik commented on #480
@tomkerkhove are there any specific requests to support this?

What are the specific features of HPA that customers want to write themselves?

[2019-12-10 16:03] n3wscott commented on #494
This is extremely common. I interact with resources via the generated client-go versions about 50% of my time in Kubernetes.

[2019-12-10 16:07] zroubalik commented on #510
This seems like helm issue, shouldn't we move this to the https://github.com/kedacore/charts ?

[2019-12-10 16:13] zroubalik commented on #507
@iyacontrol thanks! I will take a look on that, but it seems like issue with old k8s, so there's a question whether we want to support that version of k8s.

[2019-12-10 16:15] zroubalik opened #511 "Watch created HPA and TriggerAuthentication resources"
ATM we don't watch `HPA` and `TriggerAuthentication` resources for changes/updates. Controller should watch those resources and reconcile.

[2019-12-10 18:25] zroubalik commented on #476
Interesting. How would this exactly calculate the final replicas count? Sum across all triggers? Or what is the idea on the scaling logic here?

[2019-12-10 18:49] zroubalik opened #512 "Doesn't reconcile on ScaledObject updates that don't change generation"
if the `ScaledObject` changes, like editing or adding a label, this don't change generation therefore the resource version will become stale and non-recoverable.
[code]

## Expected Behavior
Reconcile on `ScaledObject` update that that don't change generation

## Actual Behavior
Doesnt' reconcile on `ScaledObject` update that that don't change generation

## Steps to Reproduce the Problem
Change l

[2019-12-11 07:40] tomkerkhove commented on #510
You are correct, sorry for that! Transferring issue.

[2019-12-11 07:40] tomkerkhove commented on #510
And I don't have the required permissions, can you move it maybe @jeffhollan @anirudhgarg?

[2019-12-11 13:19] tomkerkhove commented on #507
I'm tracking this in https://github.com/kedacore/keda-docs/issues/49 already, we should indeed define a minimum bar to comply with imo.

[2019-12-11 13:19] tomkerkhove commented on #511
Thanks for taking a look at this @zroubalik!

[2019-12-11 13:20] tomkerkhove commented on #502
Any objections on this?

If not, I'll update everything to reflect this and start cycle on 9/01.

[2019-12-11 23:20] anirudhgarg commented on #502
No issues. We can come back to weekly if we find that we are not able to cover all issues

[2019-12-12 11:06] tomkerkhove commented on #502
👌, I'll make the required changes.

[2019-12-12 11:14] tomkerkhove commented on #502
Core: https://github.com/kedacore/keda/pull/513
Docs: https://github.com/kedacore/keda-docs/pull/52
Google Agenda: ✔️

[2019-12-12 16:34] zach-dunton-sf commented on #494
This thread interested me so I have been playing with it for the last couple of days. Is this what you are looking for? https://github.com/smartfrog-oss/keda/commit/a47710bd98ece9e32b4a34fef3622a60c2f3f9d4

If so I could figure out how to turn it into a PR. Mostly it's adding the tags for clientgen to the CRD objects and then running some generation scripts. https://blog.openshift.com/kubernetes-d

[2019-12-12 17:48] zroubalik commented on #494
@zach-dunton-sf looking good on the first look. It should be part of the CI as well

[2019-12-12 20:33] zroubalik commented on #502
I don't have any strong objections, but as @anirudhgarg mentioned on the call, KEDA is getting more visibility and more folks are joining, there are topics on each call. We can maybe shorten the call to 30min?

[2019-12-13 02:29] iyacontrol commented on #494
Thanks @zach-dunton-sf

 great！ code generation is one of ways to create  client-go of keda.

I researched for a few days. we can also achieve the goal in the following ways：

1：use the client of `operator-sdk`
[docs](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/client.md)

my code is :
`
import (
	"gitlab.ushareit.me/sgt/devops/hulk/src/models"
	"k8s.io/apimachinery/pkg

[2019-12-13 09:46] tomkerkhove commented on #502
For me the duration is not the problem but finding time to attend them every week in my spare time as it's outside of business hours for me.

Attended a SIG Instrumentation meeting yesterday and they do it only every other week but probably the problem is more me trying to attend every meeting 😅

Happy to abandon the work if need be.

[2019-12-13 10:12] tomkerkhove commented on #476
I would say that we just scale out if both criteria has met.

As far as I know we just add one instance every time based on the metric but you're more thinking in terms of the HPA underneath it or?

[2019-12-13 10:32] tomkerkhove commented on #480
Let's say my team created a scaled object for a Service Bus queue and another team wants to re-use that same metric but they want to write their HPA themselves as they already do that for their other apps.

Can we do that today? If so, we might want to document that but add a caveat the metric will be gone if the ScaledObject will be removed.

However, this idea might be a bridge too far as you st

[2019-12-14 03:31] sc7565 commented on #497
do we think we can get traction on this, we feel statefulset scaling is very beneficial and we do have lot of use cases for same

[2019-12-14 05:40] jeffhollan commented on #497
@sc7565 I don't see a reason we wouldn't want to support this.  I think there is fair discussion on if the implementation would vary enough to justify splitting out the CRDs - but fair points on both sides.  It [looks like hpa already works for stateful sets](https://github.com/kubernetes/kubernetes/issues/44033) and assuming custom metrics and stuff works the same, so I don't imagine it would be

[2019-12-16 04:50] jeffhollan opened #515 "HPA doesn't seem to work with Kubernetes 1.16.0"
On GKE cluster that has 1.16.0-gke.20 recently.  Activation works, but the HPA never kicks in.  It shows 0 current replicas even when it's at 1.  I think the way KEDA activates may be bumping into the HPA changes that allow external metrics to drive scaling all the way down to zero. Not sure

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#other-notable-changes-11

[2019-12-16 05:03] jeffhollan commented on #515
To clarify too this was working on 1.15.5, and then in the last week GKE upgraded it to 1.16 at which point none of my deployments will scale past 1 and HPA never seems to kick in and start reading external metrics.

// cc @Aarthisk

[2019-12-16 14:51] SpyMachine commented on #316
@jralph was this issue fixed for you? I am running into the same exact issue and I'm looking at the PR now and I'm not sure this addresses the instance profile arn case. It seems like it still expects the environment variables to be set which shouldn't be necessary with instance profile arns.

[2019-12-16 16:00] zroubalik commented on #515
@jeffhollan do you have an output from the HPA and metrics server?

[2019-12-16 16:04] jeffhollan commented on #515
The KEDA metrics server just has the standard few lines of startup code. I don’t see any errors or info.  Not sure if switching to debug logs (v=1) will show more?  I couldn’t figure out how to get logs from the HPA itself other than `kubectl describe`.  Not sure if you have any tips of how I can get more helpful logs.

[2019-12-16 16:19] zroubalik commented on #515
okay, so the metrics server seems to be ok.

as for HPA, `kubectl describe` or `kubect get -oyaml` should give you some output. It might be worth checking this during the scaling. There you could see some messages about (not) getting the metrics, so we could role out problems with metrics server.

[2019-12-16 20:07] melmaliacone commented on #155
@tomkerkhove, per my manager's suggestion I was thinking of picking this up. Do you have some time this week to sync on this? And I can align my code with your spec.

[2019-12-16 22:43] balchua commented on #515
Hope this helps, I've been using 1.16.3 and i can see hpa working with keda.  Scale to zero and up is working for me.  This is with microk8s not gke.

[2019-12-17 02:30] rasavant-ms opened #516 "Event Hub scalar expansion to work with Java and C# applications and not just functions"
Currently, the Event Hub scalar does not support scaling Java or C# applications running on containers. Only C# and python Azure functions are supported.
I would like to have support for standalone applications using the EventProcessorHost SDK to work with the Event Hubs scalar for KEDA as well.

Tell us more what you'd like to achieve

Event Hubs checkpointing information for the consumed message

[2019-12-17 05:48] jeffhollan commented on #515
Thanks @balchua - hard to know if a bug with 1.16.0 or gke rapid channel or something. I did repro this though on a clean cluster on 1.16.0-gke20.  when I start pushing load I see the metrics are working fine. I compared the APIs to a version on 1.15 in gke that was working fine and everything is identical, so not sure why it's having an issue

[code]

But the HPA doesn't seem to see the custom me

[2019-12-17 05:52] jeffhollan commented on #515
Did one last test which was created the scaledObject with `minReplicaCount` of 1 to see if it would be happier. Same issue - hpa still reports `currentReplica` of 0 even though the deployment clearly shows 1.  I wonder if some other bug going on here specific to GKE.  Not sure if another provider who has an easy way to spin up 1.16 to test

[2019-12-17 07:23] tomkerkhove commented on #155
I'm going out-of-office tomorrow so might be a bit short notice, but I had something like this in mind.

## Authentication

My suggestion would be to support managed identity & service principle-based auth.
Our docs should also clearly document what permissions should be granted, in this case `Monitor Reader` should be sufficient, similar to [Promitor](https://promitor.io/configuration/v1.x/azure-

[2019-12-17 12:41] marchmallow commented on #240
Tried to run the redis autoscaler against a Redis cloud service in IBM cloud with TLS but looks like TLS not supported in the current Redis autoscaler, can try to submit a PR for it.. any idea if someone working on it already?

[2019-12-17 12:47] tomkerkhove commented on #240
That is correct, we don't support this AFAIK.

We are more than happy to accept PRs and I'm not aware of anybody working on it.

Thanks!

[2019-12-17 17:25] jeffhollan commented on #515
Tested on Digital Ocean `1.16.2` and worked fine

[2019-12-17 17:25] #515 closed

[2019-12-17 23:38] cwoolum opened #518 "Keda Operator fails to create ServiceMonitor object on startup"
When running Keda in my cluster, on startup I get an error that the ServiceMonitor object cannot be created. I think this causes the HPA's the fail.

[code]

I am using Prometheus-operator v0.34.0

[2019-12-18 00:08] zroubalik commented on #518
Hi `ServiceMonitor` is related to Operator SDK Metering stuff, which we are not using atm. Please disreagard the message.

[2019-12-18 07:32] tomkerkhove commented on #154
Docs ✔️

[2019-12-18 07:37] tomkerkhove commented on #515
We might want to document this somewhere @jeffhollan if you're up for it?

A "Known Issues" section or so, but also brings me back to https://github.com/kedacore/keda-docs/issues/49

[2019-12-18 17:16] melmaliacone commented on #155
@tomkerkhove This looks good to me, but I don't have as much context as everyone else on this thread. I agree with you on the pragmatic approach over the advanced. And one-five minutes sounds good to me as well. I'm going to wait for the others to respond and then pick this up Friday and start playing around.

[2019-12-18 18:34] abhirockzz commented on #516
Raised in #376 as well

[2019-12-18 18:52] tomkerkhove commented on #155
Awesome thanks! Feel free to join the standup tomorrow if you have time, I'll try to join as well

[2019-12-18 19:15] melmaliacone commented on #155
@tomkerkhove Can you forward me the invite? I don't think I have it. melcone@microsoft.com

[2019-12-18 19:26] melmaliacone commented on #155
I'll make sure to be there! Thanks for mentioning it, Tom.

[2019-12-18 20:17] cwoolum opened #519 "STAN scaler does not scale from 0"
A clear and concise description of what the bug is.

## Expected Behavior
When there messages in the queue and the HPA is scaled down to 0, the scaler should create at least one instance of a pod to create the subscription with STAN.

## Actual Behavior
When the loop runs, The logic checks if the pending count of messages is greater than 0  *and* that the queue names match. It never takes into acc

[2019-12-18 21:48] tomkerkhove commented on #155
My pleasure! You can find it here https://github.com/kedacore/keda#community

[2019-12-19 00:57] #518 closed

[2019-12-19 20:16] ahmelsayed commented on #376
Closed in #517

[2019-12-19 20:16] #376 closed

[2019-12-19 20:16] ahmelsayed commented on #516
Closed in #517

[2019-12-19 20:16] #516 closed

[2019-12-19 20:52] tomkerkhove commented on #502
As discussed today, we're going to hold off and see how it goes.

[2019-12-19 20:52] #502 closed

[2019-12-20 22:49] ekcasey opened #523 "keda should scale from zero when minReplicaCount is set"
`keda` does not respect `scaledobject.spec.minReplicaCount` when the actual deployment has 0 replicas.

## Expected Behavior
If `scaledobject.spec.minReplicaCount` is set to `n`, `keda` should ensuring that the deployment has at least `n` replicas, scaling from 0 if necessary.

## Actual Behavior
If a deployment is has `minReplicaCount` but was initially created with 0 replicas, `minReplicaCount`

[2019-12-21 02:59] balchua commented on #519
Thanks @cwoolum for spotting this one.  Its strange that I didn't see this one, sure tested it will min replicas 0.  Anyway thanks!

[2019-12-21 03:59] zroubalik commented on #523
thanks @ekcasey good catch, will take a look at this

[2019-12-23 09:59] JoooostB opened #525 "Multiple pods spawned on a single message in the Azure Storage Queue"
## Description
I’ve been using KEDA Jobs to execute a rather CPU-intensive job based on an Azure Storage Queue trigger. However, due to it needing quite some resources, this sometimes means the cluster itself has to scale by provisioning extra nodes in order to be able to assign the necessary resources and start the job. Because this takes some time (we're talking minutes here), extra jobs for the

[2019-12-24 02:51] balchua commented on #519
I think i know how i missed this one.  My initial deployment has a replica of 1.  So atleast there is a registered subscriber.  Once you get past that it can scale from 0 afterwards.

[2019-12-24 07:18] cwoolum commented on #519
If it scales to zero though, the subscription will go away if you are draining closing the connection. Even if you don't drain and close, the subscription will drop off after a short period(5 minutes?) And that prevents it from scaling back up.

[2019-12-24 08:10] balchua commented on #519
I was testing it with this program https://github.com/balchua/gonuts. Subscriber seems to stick around.

[2019-12-24 16:09] cwoolum commented on #519
https://github.com/balchua/gonuts/blob/c0ce3d6448fc1dafeaf5695136d008a04a696873/sub/main.go#L150

You are calling `sc.Close()` but not `sc.Unsubscribe()` when your subscriber app ends.

If your service scales up to 20 instances, you'll have 20 subscribers in STAN. Now say you scale back down to 1, each of those instance need to unsubscribe so that STAN doesn't keep trying to deliver messages to th

[2019-12-25 00:39] balchua commented on #519
Thanks for the explanation.👍 I remember setting the `maxinflight` to `1` so it round robins it to different subscribers.  If the original subscriber goes down, i think stan will try to deliver it to the same subscriber until certain period of time. But i maybe wrong here too.

[2019-12-25 01:28] cwoolum commented on #519
I do use `MaxInFlight` but set it to 50 since each one of my pods can handle that number of concurrent requests.

I saw that one of the newer versions  of STAN/NATS does have a keepalive that it sends periodically to make sure a subscriber is still listening but I'm not sure of the relationship between a connection being open and a subscription existing for it. I'm going to open up an issue in the

[2019-12-25 16:47] cwoolum commented on #519
I was able to find the [docs](https://docs.nats.io/nats-streaming-concepts/channels/subscriptions/queue-group
) for this. It looks like I was doing it wrong. For durable subscriptions, you don't want to Unsubscribe but only Close the connection.

[code]

I'll try removing the `Unsubscribe` call from my code and see how that affects it.

[2019-12-26 11:52] balchua commented on #519
@cwoolum thanks for checking the docs.  Did it work for your when you removed the `Unsubscribe`?

[2019-12-27 00:24] cwoolum commented on #519
I see the subscriptions are still there but I'm not sure if the messages are getting delivered successfully now. I'm seeing a large number of `pending_count` on the pods that were taken down as part of the scale down.

[code]

[2019-12-27 00:58] cwoolum commented on #519
After the scale down occurred, the number of subscribers dropped to 1. I'm not sure the time it too for that to happen though.

I opened an issue to ask the best practices for this.

https://github.com/nats-io/nats-streaming-server/issues/1001

[2019-12-27 03:14] balchua commented on #519
As far as i know stan will direct the pending messages to available subscribers.  But how long before it takes that decision.

[2019-12-27 04:32] balchua commented on #525
Looking at the code, I don't think there is a way.  Perhaps the job scaler first check how many `Job` are not completed/failed before starting a new `Job`.
This will mean that the job must dequeue the message when it is done and not before.

[2019-12-27 15:13] JoooostB commented on #525
Will this be a potential feature or should I look into alternatives?

[2019-12-29 01:15] balchua commented on #525
I am trying to work on this one.  Should we just set `maxScale` to be `maxScale - runningJobs`.  This should limit the scaling.
If we want to have one message per job, this would mean that the `queueLength` must be `1`.

[2019-12-29 21:53] JoooostB commented on #525
Many thanks @balchua, your explanation to resolve this issue sounds completely valid to me. Love to see that you've already submitted a pull request. Looking forward to it being merged :). If I can do anything in terms of documentation or something else; please let me know.

[2019-12-31 18:15] cwoolum commented on #519
I'm going to keep testing to make sure none of the messages are getting stuck. I keep running into the error `Operation cannot be fulfilled on scaledobjects.keda.k8s.io \"mytest-scaledobject\": the object has been modified; please apply your changes to the latest version and try again`. I've tried to delete both the HPA and ScaledObject multiple times but it keeps occurring. Any idea?

[2020-01-01 00:00] balchua commented on #519
When this error shows up does it stop scaling?  Care to show what `kubectl get hpa` looks like? And also your `scaledobject ` yaml.

[2020-01-02 04:06] balchua opened #529 "Keda scaleType Job scales Jobs twice"
When using Keda to scale a `Job` type, KEDA seems to scale the Job twice on first scale.  This happens when creating a `ScaledObject` when there is already a message existing in the queue.
Succeeding scaling works as expected.  It only happens on first time scaling.

## Expected Behavior
Keda should not scale Jobs twice on first time scaling.

## Actual Behavior
Keda scales the Jobs twice.

## Ste

[2020-01-02 21:15] zroubalik commented on #476
Yeah, but it is interesting scenario for sure. We should look into this.

[2020-01-02 21:17] zroubalik commented on #480
I am not very much inclined to this, as we want to manage HPAs from KEDA controller (but this feature would require just a small modification).
I think we can discuss more this if there are more requests on this specific feature.

[2020-01-02 21:22] zroubalik opened #530 "Emit Kuberentes Events on major KEDA events"
KEDA controller should emit Kuberentes Events on major events. This is based on #479

### Use-Cases
- New Trigger Authentication Created
- Deployment Scaled to Zero
- New Scaled Object Created
- Information on scaling action
- Information about new scaled object referencing existing trigger authentication
- ...

[2020-01-02 21:22] zroubalik commented on #479
We should definitely implement the Kuberenetes eventing approach (created https://github.com/kedacore/keda/issues/530). This could be lower priority item.

[2020-01-02 21:36] zroubalik commented on #510
I can't move it either, probably @ahmelsayed can do that, as he has ownership on that repo

[2020-01-02 22:05] zroubalik commented on #519
@cwoolum could you please decribe steps leading to this error + more details on ScaledObject and HPA. thanks

[2020-01-02 23:16] gohar94 opened #531 "Instructions on how to deploy from the custom/local build are missing"
The provided instructions from [this](https://github.com/kedacore/keda#deploying-custom-keda) link are outdated.

[2020-01-03 02:25] zroubalik commented on #529
@balchua good catch, thanks.

We shouldn't remove the first `h.handleScale()` call, KEDA should be able to scale imidiately and not wait for the `pollingInterval` for the first scale and this change would effect `deploymentType` as well.

This could be better place where to fix this issue (since it is `jobType` related problem): https://github.com/kedacore/keda/blob/10c92ff1348b20df14921b156f611b0

[2020-01-03 02:41] balchua commented on #529
@zroubalik i thought i will be able to prevent this when i prevent the number of Jobs to scale beyond the `maxScale` in the source `scale_jobs.go`.
But seems to me that it is happening almost instantaneously.  Is this even possible that it is triggered 2x at almost the same time?

[2020-01-03 07:20] #510 closed

[2020-01-03 07:20] tomkerkhove commented on #510
Did it the manual way then :D

[2020-01-03 07:38] tomkerkhove commented on #479
Thanks for that! Since Kubernetes doens't support CloudEvents (yet), I would leverage this as a seperate component as well to make it easier to integrate with other products/tools that are not Kubernetes event specific.

See https://github.com/kubernetes/kubernetes/issues/85544 for CloudEvents support in Kubernetes.

[2020-01-03 07:39] tomkerkhove commented on #479
The reason for that is that, for most scenarios you'd want to react on these events, and these workloads are not always in Kubernetes. If we only support Kubernetes events how it is today, events are stuck inside the cluster so they are, in my opinion, often pointless.

If we have CloudEvents, we can just forward them to things like Azure Event Grid and take it from there.

[2020-01-03 07:40] tomkerkhove commented on #480
Sounds good to me, nothing urgent here!

[2020-01-03 09:07] tomkerkhove commented on #531
This is probably what you are looking for - https://github.com/kedacore/keda/blob/master/CREATE-NEW-SCALER.md?

If so, will update the README.

[2020-01-03 16:06] Cottonglow commented on #529
@balchua I saw your PR for preventing jobs from exceeding `maxScale` earlier and combining your solution with preventing more jobs to be created than there are messages seems to fix this scaling issue for me.

This might not be the cause of the problem though...

[2020-01-03 16:12] cwoolum commented on #519
Okay, the modified issue was due to an old CPU based HPA conflicting with the Keda Scaler but I was able to recreate the issue with the pod not scaling from 0. Here are the requested items.

[code]

[code]

Here is the response from STAN:

[code]

And here are the logs from KEDA

[code]

There are messages pending for this subscription but Keda doesn't seem to be picking them up.

[2020-01-03 17:35] Cottonglow commented on #529
It seems I spoke too soon! Might have been some funny race condition but when I tried it again, the scaling triggered twice.

I did fetch the logs this time, using the keda:master image:

[code]

The same problem also happens with the keda:1.0.0 image.

I added some logging and noticed that `startScaleLoop` is called twice from the `reconcileJobType` method, I'm not sure if this might be part of t

[2020-01-03 22:33] balchua commented on #519
@cwoolum i think i know what the issue is, the stan scaler actually uses the channels' `msg` attribute and subtract that using the subscriber's `last_sent`.  Unfortunately `last_sent` is a sequence number.
Looking at the STAN response you provided, `msg=1000000` and `last_sent=2751730` the resulting pending lag will be negative.
I think the better approach is to use the channel information's `last

[2020-01-04 01:37] balchua commented on #529
I also saw an error `Operation cannot be fulfilled....`.  don't know if this is benign.

[2020-01-05 08:15] dmeytin commented on #155
This feature will allow to use KEDA with security sensitive workloads.
Instead of providing KEDA read access to the data plane, where messages with sensitive information is located, this feature will allow to grant KEDA access to metrics only.
I'm looking forward to start using it.

[2020-01-05 10:17] tomkerkhove commented on #155
Sounds like a good scenario! Happy to say @melmaliacone is already working on this!

Any update on the progress @melmaliacone?

[2020-01-06 07:50] anirudhgarg commented on #530
Just curious are these just logs or there is something else first class that you are thinking ?

[2020-01-06 07:56] anirudhgarg commented on #529
@balchua @lee0c may be able to help. I tried to add @stgricci but somehow cant seem to.

[2020-01-06 08:03] tomkerkhove commented on #530
These are events similar which you can process in other applications, for example to extend KEDA, create awareness around scaling patterns (ie post to Slack), react to certain things, etc.

[2020-01-06 13:13] fktkrt commented on #240
I am wondering if adding TLSConfig to ClusterOptions might do it. I am thinking something like this as the simplest solution:

[code]

[2020-01-06 16:04] stgricci commented on #529
@anirudhgarg I can take a look. Not sure why it's not assignable to me.

[2020-01-06 19:08] cwoolum commented on #519
I think that makes sense. I created PR #533 to make the change. It also adds additional logging to help diagnose issues.

[2020-01-06 21:25] #523 closed

[2020-01-07 14:33] inuyasha82 commented on #531
@tomkerkhove  i was going throught that file too (i need it to customize an existing scale) btw, probably the instructions there needs to be reviewed, in fact it says:

and i think it refers to the step 2 in Readme.md, but that step is not mentioned in the file above, making the documenation pretty confusing!

And another question:  when it says go to charts/keda folder, is it referring to those c

[2020-01-07 14:43] tomkerkhove commented on #531
Charts used to be part of this repo but have been moved to https://github.com/kedacore/charts. It's probably referring to that.

Unfotunately, I cannot speak about the other parts.

[2020-01-07 15:08] inuyasha82 commented on #531
@tomkerkhove thanks for your answer (i think this detail should be specified in the readme, i guessed it, but i think not trivial.

Maye is my fault i was not completely clear, but i see you added that part on the official documentation, here: https://github.com/kedacore/keda/commit/c7dc964030023bb6b43a51032a87a79c5c3be741

what i'm saying is that in the  https://github.com/kedacore/keda/blob/mast

[2020-01-07 15:25] tomkerkhove commented on #531
That's correct, but I was just moving things around, I didn't really write the content itself.

You should indeed no longer look for a folder but use the other repo for the charts indeed.

Happy to review a PR for that typo, sorry for that.

[2020-01-07 15:48] inuyasha82 commented on #531
@tomkerkhove  i submitt a PR for the typos.

[2020-01-07 23:22] balchua commented on #519
@cwoolum does PR https://github.com/kedacore/keda/issues/519 addresses this issue?

[2020-01-08 02:11] anirudhgarg commented on #530
Sorry my question was that what would be the implementation to emit these "events" - would we just need to add the right logs at various places in the code.

[2020-01-08 06:24] anirudhgarg commented on #523
Looks like this is merged.

[2020-01-08 07:25] tomkerkhove commented on #530
That is a good question, I don't know the answer to that or if it's possible.

[2020-01-08 16:33] Cottonglow opened #536 "Supporting Kubernetes recommended labels"
Kubernetes recommends some  [shared labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels) to apply to resources to help manage the cluster. Some of the KEDA resources either don't have any labels at all or are a bit lacking, making them harder to manage.

The HPA that is created by KEDA also doesn't have any labels and these labels could help differentiat

[2020-01-08 16:38] tomkerkhove commented on #536
I like the idea! Most of it should be done via our chart/operator but our HPAs should have them as well.

[2020-01-08 19:07] zroubalik commented on #530
@anirudhgarg yes, that should be the case.

[2020-01-08 23:41] balchua commented on #497
Sorry, chiming in a little bit late here.
I like the idea of supporting sts.  I also agree that the CRD can get confusing.

Take for example the `Job` type.
There are attributes (or fields) which are not relevant, for example minReplicas and maxReplicas for Job.  Another field that we repurpose is the `queueLength`.  It would have been easier to understand if it is named `maxJobs`.

In reality we

[2020-01-09 09:15] tomkerkhove commented on #497
Fair point. But if we do split the CRDs, wouldn't it be best to have `ScaledJob`, `ScaledDeployment` & `ScaledStatefulSet` to make it super explicit & clear?

[2020-01-09 10:12] balchua commented on #497
Naming is hard 😁

[2020-01-09 11:49] inuyasha82 commented on #531
Questions, i was trying to execute instructions in the create new scaler document (i'm trying to imprrove a scaler).

But i think that

1. the instructions are little bit outdated
2. and i can't understand if i'm using the custom deployed version, or not

**For point 1**

- if you read the second step 1, it says:

i moved into the root of keda source there is no Dockerfile, then any docker build c

[2020-01-09 11:51] tomkerkhove commented on #531
@ahmelsayed Can you elaborate on the above please? You're expert when it comes to dev

[2020-01-09 16:18] inuyasha82 commented on #531
so @tomkerkhove  @ahmelsayed  i finally got it working, but the documentation apparently is not correct. The command i needed to use was:

`` helm install . --set image.keda=kedacore/keda:ivan_dev_env,image.pullPolicy=IfNotPresent

In this way it picked up my image. Otherwise was using the original (remote?) one.

So possible an update on both README and CREATE_NEW_SCALER is needed?

[2020-01-09 18:05] melmaliacone commented on #155
@tomkerkhove, got caught up in work stuff but I'm heads down on this until I finish this. I expect to have a PR the end of this week or the beginning of next. I know the pieces I need to glue together, just need to actually do it.

[2020-01-09 18:09] tomkerkhove commented on #155
Awesome, thank you!

[2020-01-09 18:32] tomkerkhove commented on #501
The proposal is almost finished, you can have a look at the [draft](https://github.com/tomkerkhove/toc/blob/keda-donation-proposal/proposals/keda.md) here.

**Open Work**:
- [ ] Sponsors from TOC (@tomkerkhove)
- [ ] External Dependencies (@anirudhgarg @ahmelsayed)
- [ ] Release methodology and mechanics (@anirudhgarg @ahmelsayed)

[2020-01-10 00:18] cwoolum commented on #519
Yes, I just did a full deploy using the master image tag and scale up/down is working for me.

[2020-01-10 00:18] #519 closed

[2020-01-10 00:23] balchua commented on #519
Thanks @cwoolum

[2020-01-10 13:24] Cottonglow commented on #487
I assume this issue can be closed now, as the workaround to use KEDA version 1.0.0 is to use the helm deployment instead?

[2020-01-13 02:37] marchmallow commented on #240
@inuyasha82 is working on adding TLS...

[2020-01-13 03:58] iyacontrol commented on #497
the metaobject of deployment is
[code]

the metaobject of  statefulset  is
[code]
maybe `ScaleJob` and `ScaleApp` consistent with k8s？

[2020-01-13 09:30] inuyasha82 commented on #240
@fktkrt i'm trying to do exactly that! :)  stay tuned...

[2020-01-13 13:29] Cottonglow commented on #536
I can have a look at adding them, and then we can discuss in the PR what labels/values we want to keep or use.

[2020-01-14 11:20] tomkerkhove commented on #497
Is a `Deployment` an `App`? I'd say no, that's what https://oam.dev/ covers.

Frankly; I think we should align with [OAM's Core Workload Types](https://github.com/oam-dev/spec/blob/master/3.component_model.md#core-workload-types) or if we split it, why not per type?

[2020-01-14 11:42] tomkerkhove opened #538 "Provide first-class support for HTTP-based autoscaling"
As of today, we provide a variety of scalers which are external systems from which we get metrics. HTTP-based autoscaling, however, isn't supported while this is very often required.

We should provide support for this without having to run too much infrastructure.

### Use-Case

Automatically scale HTTP-based deployments based on request rate.

### Suggestion

We should introduce a new component,

[2020-01-14 13:14] tomkerkhove commented on #501
Proposal is open: https://github.com/cncf/toc/issues/335

[2020-01-14 16:01] tomkerkhove commented on #483
Can we improve this somehow so that it no longer comes up? It can be confusing for new people.

[2020-01-14 17:48] anirudhgarg commented on #483
Yes I also saw this and was not sure if this meant that there was an error. It would be great if these messages do no show up.

[2020-01-14 19:31] jeffhollan opened #539 "Add new partners to the website / README"
As KEDA has grown we've had a bunch of great partnership and contribution from the community far outside just the listed sponsors of Red Hat and Microsoft.  More than happy to add logos from other companies that have contributed time into the project (through code or otherwise).  Creating this issue to start to capture nominations or ideas for these.

[2020-01-14 23:44] balchua commented on #497
+1 on oam naming convention.
Perhaps like this?
`ScaledTask` = `Job` and `ScaledWorker` = always on.

[2020-01-15 09:12] tomkerkhove commented on #483
@jeffhollan Would it be possible to get permission on chart repo to move this issue there?

[2020-01-15 10:58] inuyasha82 commented on #531
@tomkerkhove @ahmelsayed  so what do you think?
The instruction on the README/CREATE_NEW_SCALER doesn't work, is reasonable to propose a new change with the instructions i used above (that are working for me? )

[2020-01-15 14:48] tomkerkhove commented on #531
Certainly is, happy to review a PR!

[2020-01-15 15:06] inuyasha82 commented on #531
sbumitted PR #541

[2020-01-15 15:45] PixelRobots opened #542 "Unable to use RabbitMQ target. Issue parsing RabbitMQ host."
When trying to use this with RabbitMQ I am unable to create the HPA. It seems it has issues parsing rabbitmq host. I have tried it as a secret and also hardcoded into the yaml file. Fresh cluster running newest version of Keda.

## Expected Behavior
connect to rabbitMQ cluster and create HPA

## Actual Behavior
Unable to connect to rabbitMQ cluster and unable to create HPA.

## Steps to Reproduce

[2020-01-15 22:48] #542 closed

[2020-01-15 23:40] #504 closed

[2020-01-16 01:16] balchua commented on #525
@JoooostB the pr has been merged.  Can help test it?  It might be in the master tag.
`docker pull kedacore/keda:master`

[2020-01-16 03:46] abhirockzz opened #543 "Kafka scaler with SASL Plain Text auth mode fails with "error creating kafka client""
Using the Kafka scaler with SASL Plain Text auth mode (`authMode` = `sasl_plaintext`) fails with `error creating kafka client`

## Expected Behavior

Using the Kafka scaler with SASL Plain Text auth mode should create the HPA and KEDA auto-scaling should work.

## Actual Behavior

Fails to connect to Kafka. Here are the KEDA (operator) logs.

[code]

## Steps to Reproduce the Problem

  1. Install

[2020-01-16 07:26] tomkerkhove commented on #542
Good to see the issue was resolved, can we improve the docs around this to help you in the future?

[2020-01-16 07:31] tomkerkhove opened #545 "Remove `deploymentName` label on every `ScaledObject`"
In #504 we've fixed an issue where we correctly log the missing `deploymentName` label on every `ScaledObject`.

However, do we still need the label? If so, what was the reason again?

Ideally, we get rid of this as it's duplicated data from `spec.scaleTargetRef.deploymentName` which is not ideal.

[2020-01-16 07:32] tomkerkhove commented on #545
If we cannot remove it, I'll add a section on https://keda.sh/faq for it

[2020-01-16 07:34] tomkerkhove commented on #543
It looks like this got merged.

Looks like the docs for this on https://keda.sh/scalers/apache-kafka-topic/ are still legit, right?

[2020-01-16 07:36] abhirockzz commented on #543
Yes, the docs are fine. The implementation had an issue due to which this was not working

[2020-01-16 07:59] #543 closed

[2020-01-16 11:09] inuyasha82 commented on #240
Hi guys, i submitted PR #540 it is in wip state btw, because there is an odd behaviour, apparently when it connects to an SSL queue, it can read the listlength, and create the pod if is scaled down to 0, but for some reason is not scaling to more than one pod even if i add 100 items to the list, so maybe i need to add changes somewhere else, or maybe is just a problem of my local env, but i will a

[2020-01-16 13:28] tomkerkhove commented on #240
This sounds like https://github.com/kedacore/keda-docs/issues/64

If I remember it correctly, but adding @jeffhollan, it might be because you are using Minikube - Is that possible?

[2020-01-16 13:38] inuyasha82 commented on #240
@tomkerkhove i don't know, the thing is that using the changes in PR #540  when using a normal redis queue looks it is scaling correctly to more than 1. When i connect to the tls queue, it scale up, but to no more than one pod.

So the normal queue is deployed in the Minikube environment using helm.
The ssl queue is hosted externally.

[2020-01-16 13:57] tomkerkhove commented on #240
Question is, where is KEDA running? On Minikube?

[2020-01-16 13:59] inuyasha82 commented on #240
yes on MIinkube.

[2020-01-16 14:10] tomkerkhove commented on #240
Then it works as intended, mini kube has a limitation which causes it not to scale beyond 1

[2020-01-16 18:45] dimberman opened #546 "PostreSQL scaler"
A clear and concise description of what scaler you'd like to use and how you'd want to use it:

  - **Scaler Source:**

Scaler source would be a postGRES database

  - **How do you want to scale:**

When the user creates the scaledObject, they would fill in a "query" parameter that accepts a string. If the string returns an integer, KEDA will autoscale to this integer. If it returns anything else,

[2020-01-17 07:23] tomkerkhove commented on #546
Thanks @dimberman!

In terms of authentication, it would be good if it supports trigger authentication so that folks who want to can use env vars as well (although they shouldn't but sometimes have to) so that it aligns with other scalers. But I presume that was your plan?

[2020-01-17 07:24] tomkerkhove commented on #154
This is done via https://github.com/kedacore/keda/pull/514, thanks @IsharaPannila

[2020-01-17 07:24] #154 closed

[2020-01-17 07:24] tomkerkhove commented on #469
What's the status here, are we still blocked on something @zroubalik?

[2020-01-17 07:24] tomkerkhove commented on #332
What's the status here?

[2020-01-17 07:24] tomkerkhove commented on #333
What's the status here?

[2020-01-17 07:24] tomkerkhove commented on #334
What's the status here?

[2020-01-17 07:24] tomkerkhove commented on #337
What's the status here?

[2020-01-17 07:24] tomkerkhove commented on #339
What's the status here?

[2020-01-17 07:26] tomkerkhove commented on #269
Just following up, was this clarified or still blocked/need enhancement?

[2020-01-17 07:27] tomkerkhove commented on #111
Moving to v1.2

[2020-01-17 07:35] tomkerkhove opened #547 "Azure Blob Storage scaler should only scale for new blobs"
Our first version of the Azure Blob Storage scaler does a basic blob count and scales accordingly.

Another approach is that the Blob Storage scaler only scales for new blobs being added instead.

This is a follow-up of #514

[2020-01-17 07:39] tomkerkhove commented on #547
I certainly see why this can be important but on the flip side, does every customer want to have that behavior?

What if they just have a batch job processing tons of blobs and want to add instances that help processing them rather than a pod per blob?

I can certainly think of scenarios to be honest; but if you are hosting an Azure Function in a container that's a different story indeed.

So I'm

[2020-01-17 10:21] zach-dunton-sf commented on #333
https://github.com/kedacore/keda/pull/397

[2020-01-17 10:38] tomkerkhove commented on #333
Great to see it got merged, sorry I've missed that one.

Closing as it's finished.

[2020-01-17 10:38] #333 closed

[2020-01-17 10:50] tomkerkhove commented on #472
Closing as it's done.

[2020-01-17 10:50] #472 closed

[2020-01-17 11:24] tomkerkhove commented on #368
Is this still an issue?

[2020-01-17 11:24] #328 closed

[2020-01-17 11:25] tomkerkhove commented on #239
Closing as we now have a sample listed on https://github.com/kedacore/samples#rabbitmq

[2020-01-17 11:25] #239 closed

[2020-01-17 11:26] tomkerkhove commented on #263
This is a good one we should address imo @jeffhollan

[2020-01-17 11:27] tomkerkhove commented on #270
Can we close this one @priyaananthasankar @izzymsft ?

[2020-01-17 11:28] tomkerkhove commented on #262
This is now done thanks to @ahmelsayed!

Docs are tracked in #439

[2020-01-17 11:28] #262 closed

[2020-01-17 11:29] tomkerkhove commented on #539
We are tracking this on https://github.com/kedacore/keda-docs/issues/65 as well.

Ok if we close this one as this is a duplicate? Feels overkill to list them on the repo here, no?

[2020-01-17 11:30] tomkerkhove commented on #316
Feel free to let us know @jralph

[2020-01-17 11:31] tomkerkhove commented on #460
Would you mind removing it quickly @jeffhollan ?

[2020-01-17 11:31] tomkerkhove commented on #254
Any update on this @asavaritayal?

[2020-01-17 11:32] tomkerkhove commented on #298
Closing as we no longer use the wiki

[2020-01-17 11:32] #298 closed

[2020-01-17 11:33] tomkerkhove commented on #370
@sebastianspross Can you elaborate a bit on what you are trying to achieve please? Are you looking to scale workloads based on an Application Insights metric or want to have telemetry in APplication Insights?

I'm not really sure if I get your question correctly.

[2020-01-17 11:46] izzymsft commented on #270
@tomkerkhove sure we can close it

[2020-01-17 11:46] #270 closed

[2020-01-17 13:07] SpyMachine commented on #316
I discussed this with I believe the feature author on Slack I think a month or so ago...He seemed to understand the issue and said it would require some refactoring.

The funny thing is that the underlying AWS client gets the credentials just fine but the error handling causes it to fail...my two cents is I don't even really think KEDA should have any involvement in the authentication process, let

[2020-01-17 13:26] tomkerkhove commented on #316
Well KEDA has to authenticate as well to check if the container should scale so there's no way around that

[2020-01-17 14:01] amtandon opened #548 "no scaler found for type: azure-blob"
I am getting the following error when trying to setup a scaler for Azure Blob Storage:

"Error getting scalers","Request.Namespace":"default","Request.Name":"blobtrigger-scaledobject","error":"error getting scaler for trigger #0: no scaler found for type: azure-blob"

The complete log entry is attached.
[kedalog.txt](https://github.com/kedacore/keda/files/4077122/kedalog.txt)

[2020-01-17 14:28] tomkerkhove commented on #548
Sorry to hear that, what version are you running?

[2020-01-17 15:37] JoooostB commented on #525
@balchua I've been running it for a few days based on a custom build from your repo. The main issue seems to be resolved, no extra pods are spawned on the same message. However, when more messages enter the queue, the amount of pods/jobs never exceeds 1.

[code]
Do you have any suggestions?

[2020-01-17 16:03] inuyasha82 commented on #240
@tomkerkhove  today i tried the implementation in a kubernetes cluster, that is not minukube and i'm seeing the same behaviour.
Redis SSL -> scale maximum to 1
Redis non-ssl -> correct scaling

I took couple of screenshots of the logging (for the non redis-one ignore the pods error, but you can see that the deployments was correctly scaling up (it arrived to 6 even if not evident from the screensh

[2020-01-17 16:11] amtandon commented on #548
It looks like I am running version 1.0 of the kedacore container image, but I have downloaded the latest YAMLs from master
[KedaOp.txt](https://github.com/kedacore/keda/files/4077659/KedaOp.txt)
. I am attaching the describe for the keda-operator node.

[2020-01-17 16:30] seushermsft commented on #368
It seems this was resolved in one of the KEDA releases since this issue was created.

[2020-01-17 16:30] #368 closed

[2020-01-17 16:33] Cottonglow commented on #548
Support for azure-blob was added in 1.1 if I remember correctly, so I think you will need to pull the latest container image. Can you give that a go and shout how you get on?

[2020-01-17 16:35] tomkerkhove commented on #548
The Azure Blob Storage scaler is only available as of v1.1, see https://keda.sh/scalers/azure-storage-blob/

[2020-01-17 17:20] dimberman commented on #546
Hi @tomkerkhove,

So for the airflow use-case, we would have a unique postgres per-deployment that KEDA would be speaking to, though I can see situations where multiple deployments would want to speak to a single central PG instance.

If I follow the example of the redis_scaler, would that be sufficient?

[2020-01-17 18:44] amtandon commented on #548
updating both the keda and keda-metrics-adapter to 1.1.0 has solved the issue. Can the YAML files under deploy be updated also? That is where I got the YAML files from this morning. Both master and the 1.1.0 tag have incorrect YAMLs

[2020-01-17 19:27] tomkerkhove commented on #548
Sure, feel free to open a PR or I can take care of it next week.

[2020-01-17 19:30] ahmelsayed commented on #548
@amtandon sorry I missed updating the yaml here yesterday as a part of https://github.com/kedacore/charts/pull/12. if you're planning to open a PR, it would need to be updated here https://github.com/kedacore/keda/blob/master/deploy/operator.yaml#L22-L38

Otherwise I can take care of it.

[2020-01-17 19:51] ahmelsayed commented on #548
Closed in #549 by @amtandon

[2020-01-17 19:51] #548 closed

[2020-01-17 21:37] anirudhgarg commented on #370
If you are thinking of using KEDA using Application Insights metrics we are currently working on Azure Monitor metrics integration and that can perhaps help.

[2020-01-17 22:26] balchua commented on #525
Apologies @JoooostB.  Let me visit this again.  Maybe playing with the `maxScale` isnt enough.

[2020-01-18 11:23] SpyMachine commented on #316
Right. I just meant that KEDA should let the client do the work to authenticate using the credentials chain https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/credentials.html and then the client can tell KEDA if it's successful or not.

[2020-01-19 12:58] schmaldaniel1 opened #550 "When using multiple triggers seems like scaling is not working as expected"
A clear and concise description of what the bug is.
We are testing keda as one of our scaler option, while the tests we noticed that when using multiple triggers with prometheus scale is not working as expected.

The scenario is, we have deployment which exposes 2 metrics to prometheus, based on those metrics we would like to scale.

This is the scale object yaml we are using:
[code]

As you can s

[2020-01-20 10:53] tomkerkhove commented on #550
While the spec is already open for it, we don't support multiple triggers yet and is being tracked via #476.

Feel free to head over there and mention you'd like to have this as well.

[2020-01-20 10:55] tomkerkhove opened #551 "We are looking for customers to be listed as a customer on keda.sh"
We are looking for KEDA customers who are interested to be listed as a customer on keda.sh.

If you are, please comment here and provide a logo that we can use.

[2020-01-20 12:16] JoooostB commented on #525
To prevent any misunderstanding, I'll try to explain it as thorough as possible below 😃

Strictly speaking, I never want more than one job or pod for a single message, I just want it to spawn a new one whenever a new message comes in.
All jobs are long running (multiple days), let me try to explain using an example:

If message **A** enters the queue, the queueLength becomes 1 and a new pod should

[2020-01-20 16:18] fktkrt commented on #476
The `HorizontalPodAutoscaler` calculates a value for each metric, then chooses the highest replica count.

[2020-01-20 21:55] balchua commented on #525
To add one more scenario, if the job creation is slow (for example it takes minutes), and the polling time kicks in, no new pods must be created.
Prior to my pr, jobs are scaled from `0` up to the `queueLength`.  Perhaps i need to bring this change back. @jeffhollan ?

[2020-01-21 11:59] balchua commented on #240
@inuyasha82 whats the output of the hpa?
`kubectl get hpa`

[2020-01-21 15:42] trisberg opened #552 "Use of k8s.io namespace for API group in Kubernetes CRDs needs approval"
In order to use `k8s.io` namespace in the API group for CRDs KEDA would need to have approval and add an `"api-approved.kubernetes.io"` annotation - see https://github.com/kubernetes/enhancements/pull/1111

One option is to change the API group to use a domain like `keda.sh` that is owned by the project.

## Expected Behavior

KEDA CRDs conform to the [Kubernetes API Review Process](https://github

[2020-01-21 18:24] scothis commented on #552
While a breaking change, I'd suggest renaming the api group from `keda.k8s.io` to `keda.sh`

[2020-01-21 22:08] brobichaud commented on #269
I never heard anything back on this, so I made no progress back in August. I do hope to get back to this but I fear I'll just hit the same roadblock when I do.

[2020-01-22 10:12] schmaldaniel1 commented on #550
@tomkerkhove thanks for the response, do you have any estimation when multiple triggers will be supported?

[2020-01-22 10:26] inuyasha82 commented on #240
So this is the output when i use a redis with TLS:

![Screenshot 2020-01-21 at 14 21 04](https://user-images.githubusercontent.com/433308/72825275-a88b6c00-3c6e-11ea-8cbd-912c41075035.png)

Instead if i'm connecting to a non tls queue i can see some values:

![Screenshot 2020-01-21 at 16 53 09](https://user-images.githubusercontent.com/433308/72883901-15e5de00-3cfd-11ea-9fd6-1c41270ee142.png)

Whe

[2020-01-22 10:45] tomkerkhove commented on #269
Can you help here @Aarthisk ?

[2020-01-22 11:45] vigneshraaj opened #554 "KEDA not working with Redis and ScaleType: Job"
KEDA not working with Redis and ScaleType: Job. Here is my configuration based on keda-redis sample (https://github.com/patnaikshekhar/KEDA-Redis-Sample)

[code]

## Expected Behavior
When no messages are awaiting processing, no jobs are created.
When a message arrives on the queue, KEDA creates a job.
When the job starts running, it pulls a single message and processes it to completion.
As additi

[2020-01-22 11:55] balchua commented on #240
@inuyasha82 you have set your minpod to 1.  Perhaps that's the reason why you have 1 pod running.  Although from your previous log, i can see the return value of `getRedisListLength`.

Would you be able to print some logs in the `GetMetrics` method instead of just in `IsActive`?  Im guessing there is an error somewhere.  It couldnt be because of redis server outside kubernetes cluster thats causin

[2020-01-22 12:06] inuyasha82 commented on #240
@balchua i'll give it a try, btw consider that the setup used for both tls and non tls is identical, the only difference is the host and password (And the new parameter i added to enableTLS)

[2020-01-22 12:09] fktkrt commented on #240
Are you using metrics-server?
Maybe redeploying it with the following arguments can help
[code]

https://github.com/kubernetes-sigs/metrics-server

[2020-01-22 17:07] ericbottard commented on #373
I think this is related to #476 and in particular to this [interesting question](https://github.com/kedacore/keda/issues/476#issuecomment-564167511)

[2020-01-22 22:36] balchua commented on #554
@vigneshraaj do you see any error in keda operator logs? `kubectl -n keda logs -f <keda operator pod> -c keda-operator`

[2020-01-23 07:53] tomkerkhove commented on #546
Code via https://github.com/kedacore/keda/pull/553

Would you be up for documenting the new scaler in https://github.com/kedacore/keda-docs as well please?

A bit late to reply but yes that should help you

[2020-01-23 10:13] tomislater opened #555 "Cannot create HPA object when Deployment has missing ConfigMap (optional: true)"
I want to scale my deployment based on RabbitMQ Queue. I cannot do that, because my deployment tries to get envs from non existing `ConfigMap`:

[code]

`ScaledObject`:

[code]

`{{ .Release.Name}}`, this one is missing, but it is fine (`optional: true`). Deployment of course works, but for some reason I have got such exception in `keda-operator`.

[code]

## Expected Behavior
KEDA creates HPA obj

[2020-01-23 10:23] tomkerkhove commented on #555
Question is, is that really a bug or good that it's being blocked?

But it's only breaking when it has to scale rather than when being deployed, is that correct?

[2020-01-23 10:25] tomislater commented on #555
Normally, specification of Deployment permits you doing such thing...

Yeah. Everything works. Deployment has two replicas and these two pods are working.

[2020-01-23 10:34] tomkerkhove commented on #555
I'm more referring to KEDA deployment. When do you have errors? When ScaledObject is being created or when it wants to scale?

Frankly, I'd say everything works as expected and it's up to you to make sure that the ConfigMap is there. Only thing we should improve is block you from creating the ScaledObject or fail immediately because of it.

[2020-01-23 10:41] tomislater commented on #555
It looks like a problem with this function: https://github.com/kedacore/keda/blob/master/pkg/handler/scale_handler.go#L53
We do not check if someone marks a `ConfigMap` as `optional` in `Deployment`.

When it wants to scale.

That is the point. Sometimes we do not have such `ConfigMap` (thus, `optional: true`) and that is fine.

Hmm, I think the better approach is to just omit consuming such `Conf

[2020-01-23 10:46] tomkerkhove commented on #555
That's ok for me, then it's indeed a bug if we don't respect `optional`.

However, what if it's not marked as optional? Would the current approach be ok then?

[2020-01-23 10:58] tomislater commented on #555
Yeah, when I remove this `ConfigMap` from `Deployment`, everything works fine :)

[2020-01-23 13:06] marchmallow commented on #240
Working with @inuyasha82 on this.. we are on kubernetes 1.14.9 so not using metrics-server

[2020-01-23 14:18] zroubalik commented on #469
@tomkerkhove I will need to modify https://github.com/kedacore/keda-olm-operator for v1.1 and then will start initiate the publishing process.

[2020-01-23 14:28] tomislater commented on #555
I can help you with this issue of course. It would be nice to implement it also for `Secret`, I think. They can also be `optional` in `Deployment`.

[2020-01-23 16:16] marchmallow commented on #240
Started to look at this with @inuyasha82 - realised missed to deploy the locally built `keda-metrics-adapter`

Hence should update the documentation in the README with something like this:
[code]

Will send a pull request for that. Retesting to see if this fixes the problem.

[2020-01-23 16:18] tomkerkhove commented on #240
Thanks for sending the PR!

[2020-01-23 16:35] inuyasha82 commented on #240
So @tomkerkhove  @fktkrt  @balchua  so tested again using the keda-metrics-adatper from the custom build, and now it is correctly scaling up and down.

So the problem was that it was using the keda-metrics-adapter from master and my keda operator from the custom tag. So as @marchmallow  suggested could be a good idea to add this in the README.

So i think that the PR #540 can be reviewed now.

[2020-01-23 17:27] asears opened #557 "Broken link wiki/ScaledObject-spec and kubeval issue"
https://github.com/kedacore/keda/wiki/ScaledObject-spec - the link is broken.

Also kubeval is throwing errors with 404 not found for https://kubernetesjsonschema.dev/master-standalone/scaledobject-keda-v1alpha1.json.

Could someone update (or provide correct links to update and I will if I can get wiki access?)

## Expected Behavior
No 404s

## Actual Behavior
404s

## Steps to Reproduce the Prob

[2020-01-23 18:15] tomkerkhove commented on #557
Wiki is pending deletion: #460

[2020-01-23 18:20] tomkerkhove commented on #552
Good point, thanks. We're adding this to our v2.0 release!

[2020-01-23 20:42] jeffhollan commented on #311
@anirudhgarg recently created this blog post https://dev.to/anirudhgarg_99/scale-up-and-down-a-http-triggered-function-app-in-kubernetes-using-keda-4m42

[2020-01-23 21:15] tomkerkhove commented on #311
A link to post in samples repo was added

[2020-01-23 21:15] #311 closed

[2020-01-23 22:28] dimberman commented on #546
@tomkerkhove on it!

[2020-01-24 07:37] tomkerkhove commented on #552
I was thinking this through a bit more and what if we:
1. Introduce new CRDs in v1.2 under `keda.sh`
2. Remove current CRD in v2.0

That way we are already moving towards the new approach, but don't have to rush a 2.0 release until we bundle it with more breaking changes.

Would that be ok for you or do you think this should be fixed ASAP?

/cc @jeffhollan @ahmelsayed

[2020-01-24 08:02] dustin-decker opened #560 "Non default address for redis scaler does not work."
When address is provided in the ScaledObject metadata, this error occurs:
```error getting scaler for trigger #0: error parsing redis metadata: no address given. Address should be in the format of host:port```

This is due to a bug in the address parsing.

## Expected Behavior

I expect that the address is read from metadata.

## Actual Behavior

The addressed is parsed as if it was not provided.

[2020-01-25 07:10] dustin-decker opened #563 "TriggerAuthentication Secret is not reloaded when Secret changes"
Our deployment generates a random password for Redis (used as the trigger) during every deployment. The operator does not reload the credential when the Secret changes, so we see,

[code]

## Expected Behavior

I expect the Secret resource to be watched and reload during create/update events.

## Actual Behavior

The original Secret value is used and results in an invalid password error.

## Steps

[2020-01-25 07:17] #560 closed

[2020-01-25 18:39] maltron opened #566 "Install fails on OpenShift 4.2"
I tried to install KEDA on OpenShift 4.2 by running the following command:

# func kubernetes install --keda --namespace keda
customresourcedefinition.apiextensions.k8s.io/scaledobjects.keda.k8s.io created
serviceaccount/keda created
clusterrolebinding.rbac.authorization.k8s.io/keda created
clusterrolebinding.rbac.authorization.k8s.io/keda-hpa-role-binding created
service/keda created
deployment.a

[2020-01-26 14:57] ppatierno opened #567 "Quickstart on OCP4: using the Kafka bootstrap service instead of the headless one"
In the Quickstart about using KEDA on OCP4, the example in the wiki mentions the following change for the `brokerList`:

[code]

Actually, the `-brokers` service is a headless one meant to be used for supporting Statefulset and internal communication. Even if it's working fine, the `-bootstrap` service should be used to connect external applications to Kafka deployed via Strimzi.
I cannot propose

[2020-01-27 04:31] anirudhgarg commented on #566
How did you install KEDA ? Currently there is a bug in using Core Tools to install KEDA.

[2020-01-27 05:38] anirudhgarg opened #568 "Get an error occurred building the image when trying to use the dev container"
I am trying to use VSCode remote container as outlined here: https://github.com/kedacore/keda#building-quick-start-with-visual-studio-code-remote---containers to build Keda. However I am getting errors. This is on Windows using Docker Desktop using Linux Containers.

Curious if someone has been able to use the dev container successfully lately. Tagging @lawrencegripper as I see he added the .devco

[2020-01-27 07:17] tomkerkhove commented on #567
We certainly should do this, looks like we forgot to move this out of the wiki during our migration to Markdown.

You can now find it here and I've made your suggested change:
https://github.com/kedacore/sample-azure-functions-on-ocp4

[2020-01-27 07:32] ppatierno commented on #567
Thanks Tom, I think it makes more sense and is useful for the community.

[2020-01-27 07:32] #567 closed

[2020-01-27 08:09] nuclearpinguin opened #570 "Highlight the difference between literal and resolved values in metadata"
Original question from slack:

For example Redis scaler have a metadata `password` . But there’s no information that if I want to pass a password I should pass env variable instead of the exact password (what would be unsecure). I am just wondering if it would make sense to have some naming convention for such params ex. `envPassword` ?

Other option (and more reliable than a convention) is to hav

[2020-01-27 09:00] tomkerkhove opened #571 "MySQL Scaler"
A clear and concise description of what scaler you'd like to use and how you'd want to use it:

  - **Scaler Source:** MySQL Scaler

[2020-01-27 09:00] tomkerkhove commented on #571
This is being worked on by @nuclearpinguin here: https://github.com/kedacore/keda/pull/564

[2020-01-27 10:23] lawrencegripper commented on #568
Yeah `gopls` moved it's location :(

The learning I've taken from this is to now pin versions of the tooling in the container to avoid breaks. In the `azbrowse` devcontainer I pin and also remove a bunch of tools that aren't needed when you configure go extension to use language server.

https://github.com/lawrencegripper/azbrowse/blob/master/.devcontainer/Dockerfile#L77

[2020-01-27 10:23] lawrencegripper commented on #568
Move to `golang.org/x/tools/gopls` in place of `golang.org/x/tools/cmd/gopls` to fix.

[2020-01-27 10:53] tomkerkhove opened #572 "Proposal - Run E2E tests in CI"
We currently have nightly E2E tests which take 4 minutes.

I was wondering if there is a particular reason why we don't run them in every CI per PR? Can't hurt I think?

[2020-01-27 11:27] tomkerkhove opened #573 "Provide governance for built-in & add-on scalers"
Last week we've added the **[Azure Durable Functions Scaler](https://github.com/kedacore/keda-scaler-durable-functions)** to our org which is not shipped as part of KEDA core runtime but more of an add-on scaler.

Personally I'm a fan of this model given our core would become too big and not everybody needs this scaler.

We should define some governance around this and answer questions such as:
-

[2020-01-27 11:31] tomkerkhove commented on #570
Adding an `env` section would leak the internal implementation which is something I'd try to avoid.

This feels more like a documentation issue rather than implementation, no? 🤔

[2020-01-27 11:33] tomkerkhove commented on #563
Nice find @dustin-decker, we should definately fix this! Should be fairly easy or not @ahmelsayed ?

[2020-01-27 11:44] nuclearpinguin commented on #570
Improving documentation will help for sure. But I think making this distinction more explicit would help, especially those who are new to KEDA / k8s.

[2020-01-27 12:09] tomkerkhove commented on #570
What would you suggest then?

[2020-01-27 12:10] tomkerkhove commented on #570
In terms of your Redis scenario, that's why we've introduced [`TriggerAuthentication`](https://keda.sh/concepts/authentication/)

[2020-01-27 12:14] maltron commented on #566
I was using the "func" command from Azure functions by running:
# func kubernetes install --keda --namespace keda

Eventually, I've realized I was using a newer (and maybe unstable version). The whole issue was gone when I downgrade to a older (and more stable version): 2.7.2100

Thanks for your help

[2020-01-27 12:54] nuclearpinguin commented on #570
As mentioned in first comment I was thinking about something like `envPassword` to indicate the difference with a prefix.

I suppose it's only a problem when you start to play with KEDA. When you get to the `TriggerAuthentication` and check some code you will fully understand what's going on. So if it's only me then we can close the issue.

[2020-01-27 13:33] justindavies commented on #542
I'd love to know how this was resolved too as I'm getting the same issue with hardcoded and with Secret B64 encoded

[2020-01-27 15:06] #566 closed

[2020-01-27 15:22] tomkerkhove commented on #570
Personally that's not something I would do, we don't do that for other scalers as well and it should be well documented.

Adding the prefix couples it to our internal workings. The real issue here is that password should be via parameters giving you the opportunity to use an environment variable or secret.

Frankly, it's clearly documented:

And we do support `TriggerAuthentication` ([sample](http

[2020-01-27 16:45] sebastianspross commented on #370
I am looking for something what @anirudhgarg mentioned. One use case would be to see the keda functions in the application map of application insights witch dependency tracking.

[2020-01-27 16:59] anirudhgarg commented on #568
Thanks a lot @lawrencegripper for responding - is it possible to submit a PR to fix this ?

[2020-01-27 17:22] lawrencegripper commented on #568
Pushed the change, don't have time to check the build atm as heads down on a project but can come back later when have more time if you want to assign the issue to me.

[2020-01-27 17:23] anirudhgarg commented on #568
@lawrencegripper thanks I can check it for you. Can you please add me as a reviewer so that we can get this in

[2020-01-27 17:37] anirudhgarg commented on #568
It seems to have worked ! 👍

[2020-01-27 18:02] anirudhgarg opened #575 "Errors while doing a build - Did not find /usr/local/bin/user_setup"
Keda build fails. Not sure if I need to do something more before I do a "make build"

Step 4/7 : COPY build/bin /usr/local/bin
 ---> Using cache
 ---> d5ae5e8ce607

Step 5/7 : RUN /usr/local/bin/user_setup &&     mkdir /apiserver.local.config &&     chmod 777 /apiserver.local.config &&     chmod +x ${OPERATOR}
 ---> Running in a758878e121b
/bin/sh: /usr/local/bin/user_setup: /bin/sh^M: bad interpr

[2020-01-27 18:18] tomkerkhove commented on #460
It's gone!

[2020-01-27 18:18] #460 closed

[2020-01-27 19:15] zroubalik commented on #575
@anirudhgarg I am not able to reproduce that. Haven't you deleted any files/folders in `build` directory?

Please attach full log

[2020-01-27 19:18] zroubalik commented on #563
Related to this https://github.com/kedacore/keda/issues/511

[2020-01-27 19:21] anirudhgarg commented on #575
Attached full log, No I didn't delete anything AFAIK. I am using the devcontainer with VSCode.

I have attached the full log

root@ac1a99bf335c:/workspaces/keda# make build
GO111MODULE=on CGO_ENABLED=0 GOOS=linux GOARCH=amd64 operator-sdk generate k8s
INFO[0000] Running deepcopy code-generation for Custom Resource group versions: [keda:[v1alpha1], ]
INFO[0008] Code-generation complete.
GO111MODULE

[2020-01-27 19:54] zroubalik commented on #575
`/bin/sh^M: bad interpreter: No such file or directory`
`^M` is carriage return character, so looks like the script is not correctly interpreted. Probably combination of Windows and the devcontainer? I don't use either, so can't help with that :(

[2020-01-27 20:19] #568 closed

[2020-01-27 20:54] anirudhgarg commented on #575
yes that was it !  I used a utility dos2unix to convert the line endings of all the files in the build folder and it worked. Thanks for your help !

[2020-01-27 20:54] #575 closed

[2020-01-27 22:45] rasavant-ms opened #576 "Local build, deployment and testing of KEDA is not a smooth experience"
## Expected Behavior
Documents for locally building, deploying and testing KEDA would be easy to follow and give smooth developer experience

## Actual Behavior
* Documents missing pre-requisites
Eg. It would be nice to know the expected GOLang version, HELM version, etc.
* Documents missing details for different operating systems.
Eg. Command `helm install . --set image.keda=kedacore/keda:$IMAGE_

[2020-01-28 03:09] jeffhollan commented on #576
Thanks @rasavant-ms for raising.  Tagging @melmaliacone as well only because I know they are working on some improvements to some of the local instructions and may be relevant for some of those PRs.

[2020-01-28 03:18] jeffhollan commented on #570
Yeah I think it's not quite leaking implementation.  We don't read keys from config maps and secrets as an architecture choice, but specifically *require* some values to be a reference to a secret on config name rather than the actual value.  In the spirit of making KEDA feel self-explanatory, I do think there is merit that if just looking at a scaled object spec you would have no idea if metadata

[2020-01-28 18:53] #505 closed

[2020-01-28 19:40] jeffhollan opened #578 "Expose new HPA config around scaling behavior in ScaledObject"
As of `1.17` the HPA has a few options to control scaling behavior as documented here

https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-configurable-scaling-behavior

Would be good to expose these and configurable values in the `ScaledObject`

[2020-01-28 19:41] jeffhollan commented on #578
Some discussion here https://kubernetes.slack.com/archives/CKZJ36A5D/p1580157353072300

[2020-01-28 20:44] nuclearpinguin commented on #578
I think we will have to wait for [1.18](https://github.com/kubernetes/api/blob/924612ff3bca0e127b87d7c9ba26abf3c20e0f47/autoscaling/v2beta2/types.go#L80) as it seems that [1.17](https://github.com/kubernetes/api/blob/4ed536977f46736ee9334e6e29097551f17e8211/autoscaling/v2beta2/types.go#L74) doesn't support behavior definitions.

[2020-01-28 22:00] anirudhgarg commented on #576
Also @rasavant-ms since you have just gone through it - would really appreciate it if you can submit any PR's to improve this.

[2020-01-28 22:08] tomislater commented on #555
We can close this issue, the fix is on the master.

[2020-01-28 23:10] rasavant-ms commented on #576
@melmaliacone helped me with my local deployment issues and said they are working on the PR. Would be happy to help out!

[2020-01-29 00:15] #555 closed

[2020-01-29 09:16] tomkerkhove commented on #240
I presume we can close this one once the docs are there for new TLS changes?

[2020-01-29 16:16] asears commented on #557
I ran the kubeval utility on a keda configuration file.  Perhaps this isn't the most recent api version, should be backwards compatible though.

[code]

[2020-01-29 16:32] tomkerkhove commented on #557
Isn't this more of a kubeval issue since it doesn't know our spec? Where did it get the link to the wiki?

I'm not really following where this error is coming from.

[2020-01-29 16:34] tomkerkhove commented on #557
Looks like the tool that you are using depends on https://github.com/instrumenta/kubernetes-json-schema/tree/master/master-standalone which requires our spec to be there, is that what you are trying to say?

[2020-01-29 18:04] zroubalik opened #580 "Automate update of KEDA version in the code and yaml files during each release"
## Expected Behavior
We should update a version in https://github.com/kedacore/keda/blob/master/version/version.go during each release. It is set to `1.0.0` currently, which is wrong. This value is printed in logs during the operator startup/run.
Same for the versions in the yaml files under `deploy` directory

This should be automated

## Actual Behavior
Not updated

[2020-01-29 20:19] zroubalik commented on #576
This instructions should help with local development: https://github.com/kedacore/keda/pull/583

[2020-01-29 20:27] zroubalik commented on #511
HPAs should be covered by #581

We still need to figure out TriggerAuthentication

[2020-01-29 21:27] zroubalik commented on #487
Closing as 1.1.0 is out and this should be fixed

[2020-01-29 21:27] #487 closed

[2020-01-30 07:17] tomkerkhove commented on #580
That would be a new first step in https://github.com/kedacore/keda/blob/master/RELEASE-PROCESS.MD, is that right?

[2020-01-30 08:35] zroubalik commented on #580
Yes, but I'd like to see it automated. I am not that much familiar with GitHub workflows, so not sure if that's possible. But it is a matter of very simple bash script and regex.

[2020-01-30 12:57] Anbu2506 opened #587 "Apiservice (v1beta1.external.metrics.k8s.io) status FailedDiscoveryCheck"
i tried to setup keda using helm , upon doing that i got an status error "(v1beta1.external.metrics.k8s.io) status FailedDiscoveryCheck" . keda has issue creating HPA for scaledobjects.

status:
  Conditions:
    Last Transition Time:  2020-01-30T12:35:04Z
    Message:               no response from https://10.233.46.104:443: Get https://10.233.46.104:443: net/http: request canceled while waiting

[2020-01-30 13:14] zroubalik commented on #587
So KEDA is not able to create HPA for your ScaledObject?

Which k8s version are you using?

[2020-01-30 13:38] zroubalik commented on #563
Could you please show me example configuraton of your TriggerAuthentication? To make it clear, the password change happens several times during the Deployment?

[2020-01-30 14:01] zroubalik commented on #550
@schmaldaniel1 could you please post here the output of `kubectl get hpa KEDA_HPA_NAME -oyaml`. The annotations section in the output of `describe` is cropped, I'd be interested what is specified in there.

[2020-01-30 14:06] zroubalik opened #588 "Add kubernetes and platform version to the Issue template"
Some issues might be relevant only to some k8s versions, especially with the new incoming specs for HPA.

[2020-01-30 14:27] #588 closed

[2020-01-30 15:49] schmaldaniel1 commented on #550
@zroubalik I dont have the above setup anymore, but this is from a new one with same setup.

[code]

[2020-01-30 15:59] zroubalik commented on #550
@schmaldaniel1 I can see two metrics with the same name: `"metricName":"GCPPubSubSubscriptionSize"`
Which is not the same as in the example above, where you are using `occupied` and `queued`. Would really help if can provide the similar setup, once you have got it. Thanks

[2020-01-30 16:01] zroubalik commented on #580
@ahmelsayed might know it better

[2020-01-30 16:49] schmaldaniel1 commented on #550
@zroubalik I know, its not the same setup.. the previous setup is deleted and I cant reproduce it now.
in this setup I am using 2 pubsub triggers and not prometheus as the first one.
but the issue is the same.

if it is crucial I can try next week to use prometheus.

[2020-01-30 17:10] zroubalik commented on #550
The problem is, that this setup is using two metrics, but both have the same name. So I can't see what is wrong with the previous setup where you are using different metrics. Would be great if you can try to provide the original setup once you have some time.

[2020-01-30 17:45] jeffhollan opened #590 "Allow nested metadata properties"
Creating as this came up as a request during a standup.  Some scalers like Azure Monitor may require a number of metadata options to configure, and today we require metadata be a flat list:

(hypothetical example)
[code]

We could consider allowing nesting or other ways to more easily define like:

[code]

Open for discussion and upvotes 👍

[2020-01-30 17:47] jeffhollan opened #591 "Implement duck-typing for ScaledObject"
There is a pattern to have CRDs utilize "duck-typing" so that they can flexibly support other types that it may not even know about.  I'm not an expert on this :) - but I believe this could help make our `ScaledObject` a bit nicer between the 3 kinds: Scale Deployment, Scale Jobs, Scale StatefulSet.

We could implement this pattern for a future release

[2020-01-30 18:05] schmaldaniel commented on #550
I guess that the names is being created by scaled object when it creates the HPA, for instance this is the scaled object yaml for this setup and you can see there that there is no place I setup the names and yet in the status you see that same name.

[code]

[2020-01-30 18:08] schmaldaniel commented on #550
by the way also here we are using different subscriptions for pubsub scale, and yet it gives the external metrics the same name.

[2020-01-30 18:32] jeffhollan opened #592 "Contributor guide for naming and conventions"
Want to derive consistency around scalers, but also help new contributors follow the right patterns so we don't have to break / change in the future.  We should document the naming conventions and patterns followed.

[2020-01-30 18:32] jeffhollan commented on #592
@dimberman would be interested to get a few of the things you've even noticed to help with this

[2020-01-30 19:46] #531 closed

[2020-01-30 19:56] #512 closed

[2020-01-30 21:17] rasavant-ms opened #594 "Enable Kafka Trigger scalar to work with Event Hubs w/Kafka endpoint"
Enable Kafka Trigger scalar to work with Event Hubs w/Kafka endpoint.
Currently, the authentication options supported for Kafka trigger do not support this.

### Use-Case

This will enable using the Kafka trigger scalar to work with Event Hubs as well.

### Specification

- [ ] Enable SASL_SSL Plain mechanism authentication with the Kafka trigger Scalar

[2020-01-30 21:42] marchmallow commented on #240
I think this can be closed indeed. @inuyasha82 also submitted a PR to add an option for choosing which redis DB to use. It seems pretty feature complete now. Looking forward to get keda into our production environment.

[2020-01-30 21:48] #240 closed

[2020-01-30 22:05] jeffhollan commented on #591
@zroubalik not sure if this is something you were interested to lead out?

[2020-01-30 23:29] iremmats opened #595 "Add support for Argo Rollouts"
My organization is using Argo Rollouts to allow us to do Canary and Blue Green deployments GitOps style. I would like to be able to use Keda in combination with this.

### Use-Case

Allow Keda to create HPAs for other resources than just Deployments. Example of how the ScaledObject could look like.

[code]

[2020-01-31 03:21] Anbu2506 commented on #587
@zroubalik kindly find the details below and am using calico as cni solution,

kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"2166946f41b36dea2c4626f90a77706f426cdea2", GitTreeState:"clean", BuildDate:"2019-03-25T15:24:33Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}

[2020-01-31 03:25] Anbu2506 commented on #587
@zroubalik below are logs of keda-operator pod ,

{"level":"error","ts":1580440365.2607787,"logger":"controller_scaledobject","msg":"Failed to create new HPA resource","Request.Namespace":"default","Request.Name":"rabbitmq-consumer","HPA.Namespace":"default","HPA.Name":"keda-hpa-rabbitmq-consumer","error":"error getting scaler for trigger #0: error parsing rabbitmq metadata: no host setting given"

[2020-01-31 08:05] tomkerkhove commented on #592
Should we add some kind of linting tool that helps us enforce this?

[2020-01-31 08:07] tomkerkhove commented on #590
More than happy 🙌

[2020-01-31 08:24] tomkerkhove commented on #594
Re-opening since the docs have not been updated, can you send a PR to https://github.com/kedacore/keda-docs please?

[2020-01-31 09:40] zroubalik commented on #591
@jeffhollan yes, happy to do so :) assigning to myself

[2020-01-31 10:13] zroubalik commented on #587
@Anbu2506 thanks for the feedback. What I can see in the log is that you might have a mistake in the scaler config:
`error getting scaler for trigger #0: error parsing rabbitmq metadata: no host setting given`

[2020-01-31 10:16] zroubalik commented on #595
@iremmats thanks for the input. We are planning to implement a new KEDA version which should be able to scale more types dynamically: https://github.com/kedacore/keda/issues/591

[2020-01-31 10:58] tomkerkhove commented on #591
Can we add a link to the concept for the folks who are not aware?

Might help understands what's coming!

[2020-01-31 11:10] zroubalik commented on #591
@tomkerkhove absolutely, I will add some details to the description later on

[2020-01-31 17:24] dimberman commented on #592
@tomkerkhove I am ALWAYS in favor of linters/auto-checkers :). It lines up with my personal philosophy of "do as little as humanly possible."

[2020-01-31 21:19] rasavant-ms commented on #594
Added PR for docs on Kafka Trigger scalar - https://github.com/kedacore/keda-docs/pull/78

[2020-02-01 11:58] PixelRobots commented on #551
Happy to be added.

Logo can be found at https://www.cloud-trade.com/wp-content/uploads/2019/04/CloudTradeLOGO.png

Our website is https://www.cloud-trade.com/.

We are using Keda with RabbitMQ.

Thanks

[2020-02-01 18:42] tomkerkhove commented on #551
Thanks @PixelRobots! PR is open - https://github.com/kedacore/keda-docs/pull/79

[2020-02-02 06:47] anirudhgarg commented on #591
Here is a KubeCon talk I found about this: https://www.youtube.com/watch?reload=9&v=kldVg63Utuw

[2020-02-02 11:04] ppatierno opened #598 "Checksum mismatch on operator-framework when build"
Hi,
I am trying to make Keda locally but running `make build` I am getting the following error.

[code]

I am on Fedora 31, with go 1.13.6 and operator-sdk 0.12.0 (as the RELEASE_VERSION suggested).

[2020-02-02 11:46] ppatierno opened #599 "Hit an unsupported type invalid type for invalid type"
While trying to build KEDA, I am facing this error just after running `make build`.

[code]

I noticed that it can be fixed exporting the `GOROOT` env var in bash (while it's ok by running `go env GOROOT`). Is it just me having this problem? Otherwise I think it should be mentioned in the building guide.

I am on Fedora 31, go version 1.13.6

[2020-02-02 11:52] ppatierno commented on #598
Maybe I have got the problem and the solution.
The Go installation on Fedora via `dnf` package manager sets:

[code]

while setting them:

[code]

fixed the issue.
Is something just on Fedora? Is it worth mentioning in the build guide?

[2020-02-02 20:37] nuclearpinguin commented on #571
@tomkerkhove I've updated the docs, can you please take another look? ;)

[2020-02-03 03:48] alexandery opened #601 "Scalability of KEDA with Kafka scaler?"
Is there any data on how scalable KEDA with Kafka scaler is? Meaning - how many topics and consumer groups can I safely monitor and use for scaling deployments? I suspect the scalability would be somewhat different for different scalers.

Would I be able to monitor 10,000 topics with average of 3 consumer groups per topic? This would result in 30,000 ScaledObjects.

I was unable to find out whethe

[2020-02-03 06:26] anirudhgarg commented on #601
Currently KEDA runs in a single pod. There has been some discussion on extending KEDA to work with multiple pods or with multiple namespaces but that hasnt been implemented.

PS: Added a new tag for "clarification-functionality"

[2020-02-03 09:39] zroubalik commented on #598
@ppatierno thanks, I haven't seen this issue (on Mac), it is definitely worth mentioning, thanks!

[2020-02-03 09:41] ppatierno commented on #598
@zroubalik maybe I can provide a PR for that if you want?

[2020-02-03 09:47] zroubalik commented on #598
@ppatierno that would be great if you have a time to do so, otherwise I'll add it later this week :)

[2020-02-03 09:49] ppatierno commented on #598
@zroubalik I will do!

[2020-02-03 10:15] zroubalik commented on #599
#600 is merged

[2020-02-03 10:15] #599 closed

[2020-02-03 11:48] tomkerkhove commented on #551
@PixelRobots It's live on keda.sh, thanks!

[2020-02-03 11:53] PixelRobots commented on #551
Awesome. Thank you.

[2020-02-03 12:22] #571 closed

[2020-02-03 16:54] Cottonglow opened #604 "Visual Studio Code Dev Container fails build"
The dev container in visual studio code fails to build the project with the latest from master.

## Expected Behavior
Succeeds build.

## Actual Behavior
The following error appears:
[code]

## Steps to Reproduce the Problem

  1. Pull the latest from master
  2. Using Visual Studio Code, open project as a remote container
  3. Run `make build`

## Specifications

  - **KEDA Version:** master
  -

[2020-02-03 19:32] ppatierno commented on #598
@zroubalik I opened #605 for this. Please provide feedback and proposals for changes!

[2020-02-03 21:40] ppatierno commented on #598
Going to close this because #605 was merged.

[2020-02-03 21:40] #598 closed

[2020-02-04 09:44] pmorillas-copado commented on #587
I am facing the same issue with the apiservice. The error appears just after deploying keda (no need to create any scaledobject to recreate the issue). I have installed it using the yaml files and the helm chart with same results.

Conditions:
    Last Transition Time:  2020-02-04T09:35:32Z
    Message:               no response from https://172.31.32.4:6443: Get https://172.31.32.4:6443: net/http

[2020-02-04 10:12] Cottonglow commented on #604
### Workaround
Current workaround just to get it working again for those who have this problem. **Not** proposing this as a solution.

Comment out or remove the following lines of code:
[code]
Update line 66 from:
[code]
to
[code]

[2020-02-04 10:49] tomkerkhove commented on #604
Pulling in @ppatierno who made the change, can you elaborate on how to optimize this?

[2020-02-04 10:52] ppatierno commented on #604
@tomkerkhove I am not a Go expert (yet :-)) but my question would be how it worked without setting the `GOROOT` env var? Can the other checks if their `GOROOT` is set? In my case without it the local build fails. What's different from the dev container build?

[2020-02-04 10:56] ppatierno commented on #604
Something interesting here https://github.com/operator-framework/operator-sdk/issues/2288

[2020-02-04 11:34] ppatierno commented on #604
@Cottonglow if others are not facing my issue with GOROOT I would suggest you can open a PR to revert my change because it is stopping dev container build right now. I will figure out more on it.

[2020-02-04 11:47] zroubalik commented on #587
@pmorillas-copado thanks for the input, where exactly do you see the error? And if you try to deploy ScaledObject anyway, do you see any problems during the deployment?

[2020-02-04 13:19] VenkateshSrini opened #606 "Unable to scale jobs with Keda"
Hi,
I'm trying to scale job using KEDA. The entire code is at https://github.com/VenkateshSrini/sample-netcore-keda-rabbitmq. I'm able to get the rabbit mq installed in default namespace. Also I was able to deploy the scaledobject and publisher which is a kubernetes job. My observation is as below

## Expected Behavior
1) First when I run the scaled object definition creation that is https://githu

[2020-02-04 14:43] Cottonglow commented on #580
The `Makefile` in #596 will replace the version in `version.go` but the PR also introduces more files that need to be substituted.

The deploy yaml files will include a version label which currently would need to be updated manually before each release.

I have found a few ways of getting this to potentially work - although unsure whether they are too hacky:
1. Run a script to `sed` the version be

[2020-02-04 15:43] zroubalik commented on #580
@Cottonglow I think that a new target, like `make release` or `make prepare-release` or something like that would be great.

It would change the versions in `version.go` and yaml files (both the `app.kubernetes.io/version:` and image reference). So then it could be the first step in the release process.

[2020-02-04 16:15] tomislater commented on #606
What do you see in logs?

[2020-02-04 17:21] VenkateshSrini commented on #606
Could you please see the yaml files and let me know all if fine. I will try to post the logs here.

[2020-02-04 17:41] tomislater commented on #606
I had a similar problem with KEDA and RabbitMQ. But with deployments, not with jobs :/ But, it might be related...

I have a deployment with a consumer. This consumer should create a queue in Rabbit. BUT If `ScaledObject` is being creating too fast ;) KEDA will scale the deployment to `0` (delete the pod) and this deployment even cannot create the queue in Rabbit.

I use helm, so I just added to `

[2020-02-04 17:56] n3wscott commented on #591
You can ask me questions if you have them.

[2020-02-04 18:02] ppatierno commented on #604
I thought more about it. Because it can be anyway a problem as it happened to me, what do you think to leave the `checkenv` target there (which could be anyway useful in the future) but providing a warning error instead of exiting if `GOROOT` is missing? @zroubalik @Cottonglow @tomkerkhove wdyt?

[2020-02-04 18:09] mattmoor commented on #591
Me too 🍿

[2020-02-04 18:10] zroubalik commented on #604
@ppatierno I like the warning approach!

[2020-02-04 18:11] zroubalik commented on #591
@mattmoor @n3wscott thanks, definitely will do that 😄

[2020-02-04 20:07] #604 closed

[2020-02-04 20:51] ppatierno opened #608 "From brokerList to bootstrapServers in the Kafka scaler trigger"
Hi all,
I can see from Git history that the `brokerList` was `brokers` in the Kafka scaler time ago.
What I would like to propose is changing it again to `bootstrapServers` which is the most common and recognized way to specify "bootstrap" servers on the first connection from a Kafka client.
Actually, it's really a "bootstrap" servers list because it doesn't need to contain ALL the brokers in the

[2020-02-05 01:09] alexandery commented on #601
@anirudhgarg Thank you.

Is it a fair assumption that any scaler runs as a component within KEDA and as such would be limited to general limitations of the technology it monitors? With Kafka client side libraries there is definitely a limit to how many partitions one process can work with comfortably (at least Confluent ones that I've used). Would these same limits apply here?

I think MS owns Kaf

[2020-02-05 03:30] VenkateshSrini commented on #606
The POD is not getting created at all. I'm afraid it gets removed so fast

[2020-02-05 03:43] VenkateshSrini commented on #606
Where do I add this. In the scaledobject CRD provided by keda or do my deployment.yaml.

[2020-02-05 08:40] VenkateshSrini commented on #606
My scaledjob job yaml looks like below

It seems to attach itself to the rabbitmq for some reason. to check the solution offered by @tomislater , I first went head and first deployed the publisher, this created all the required queue and also put in a data packets. Then I tried to create the consumer (scaled object). But then the expectation is since every thing is ready the consumer should start

[2020-02-05 09:25] VenkateshSrini commented on #606
@tomislater ,
I have changed the deployment as per your recommendation I have changed the scaledobject definition. The yaml now looks as below

[code]
But that also did not work.

[2020-02-05 11:43] #536 closed

[2020-02-05 12:39] yaronworldwide opened #609 "unable to fetch metrics from external metrics"
We are currently trying to integrate Keda on existing projects in order to scale up/down (from and to 0) pods according to number of messages in pubsub .
The following metrics are already in use in our GCP-Projects :

**v1beta1.custom.metrics.k8s.io          monitoring/prom-adapter-1030759040                  True        28d
v1beta1.extensions                     Local

[2020-02-05 13:47] Cottonglow commented on #580
I've created the above PR which contains a new target `release`. I gave it a dry run on my side and it seems to work. Would be happy for someone else to test it as well just in case.

[2020-02-05 14:17] #609 closed

[2020-02-05 14:18] yaronworldwide commented on #609
Issue was caused because google_credentials were not from secret

[2020-02-05 17:01] zroubalik commented on #608
Your proposal makes sense. My only concern is, that this could be potentionaly a breaking change.

We could support both ways for some time and mark `brokerList` as deprecated, (we could print warning if user uses this property).

We are planning to release v2.0 with some breaking changes in ScaledObject CRD so that could be a right time of getting rid of `brokerList`.

[2020-02-05 17:05] ppatierno commented on #608
Yes, for this reason, I was asking how you are approaching changes like this in CRDs.
I will open a PR supporting both of them for a marking `brokerList` as deprecated for the time being.
On 2.0 release we'll get rid of it.

[2020-02-05 17:45] #594 closed

[2020-02-05 22:41] #580 closed

[2020-02-06 00:06] balchua commented on #606
@VenkateshSrini are the queues created on the fly?

Can you also help get the logs from the keda operator?

[2020-02-06 06:52] tomkerkhove opened #613 "Introduce version in the trigger spec"
Introduce version in the trigger spec so that we can release new versions of the trigger specification without breaking customers.

This allows us to introduce new ways of describing things without having messy documentation and is easier to troubleshoot.

### Use-Case

When a scaler decides to change things around by renaming fields, moving them around or introduce breaking changes there is no ea

[2020-02-06 06:59] tomkerkhove opened #614 "Provide a changelog"
We should provide a changelog which talks about:
- New features shipped in a release
- Fixes shipped in a release
- Features/Scaler versions that are deprecated

### Use-Case

As a user, it's important to know what has changed in the newer versions than what you are running and if you can move forward.

We already have GitHub releases which discusses most of them but I think it would be nice to ha

[2020-02-06 07:00] tomkerkhove commented on #614
Happy to pick this up if we decide to go forward.

[2020-02-06 07:00] tomkerkhove commented on #613
We should also look at versioning scalers independently from the core, but that might be another issue.

[2020-02-06 07:12] tomkerkhove opened #615 "Provide a Service Mesh Interface (SMI) scaler"
Provide a Service Mesh Interface (SMI) scaler.

### Use-Case

People who are using service meshes would love to autoscale their workloads as well.

### Proposal

[Service Mesh Interface (SMI)](http://smi-spec.io/) is a [specification](https://github.com/deislabs/smi-spec) which introduces a universal way to interact with service meshes.

As part of the specification, it covers how to retrieve [tra

[2020-02-06 07:22] tomkerkhove commented on #538
Created https://github.com/kedacore/keda/issues/615 which is the second part of supporting HTTP workloads.

Users should have the option to choose:
- If they are using service meshes, SMI scaler will be the one (https://github.com/kedacore/keda/issues/615)
- If they are not using service mesh and have Prometheus around, Prometheus scaler will be their best bet.

[2020-02-06 08:46] nachocano opened #616 "GCP Pub Scaler should not panic"
GCP PubSub scaler panicking upon unmarshalling wrong credentials.

## Expected Behavior
When passing invalid credentials to the gcp pub sub scaler, upon creation of the StackDriverClient, the code panics if the credentials cannot be unmarshalled.
See https://github.com/kedacore/keda/blob/master/pkg/scalers/stackdriver_client.go#L29

## Actual Behavior
Log an error and return it.

## Steps to Repro

[2020-02-06 09:44] linuxbsdfreak opened #617 "Sample example of Leveraging the container lifecycle before the pods are terminated via SIGTERM from K8s"
As per https://keda.sh/concepts/scaling-deployments/#scaledobject-spec

### Use-Case
Provide a sample app example of using the SIGTERM use case when pods are downscaled to 0.

[code]

### Specification

- Provide a sample golang or nodejs app showing how to use trap the SIGTERM and increase the terminationGracePeriodSeconds  before killing the pod.

[2020-02-06 11:13] zroubalik commented on #609
@yaronworldwide sorry for reaching to you that late. Could you please confirm to me, that you were able to run KEDA with your own metrics-adapter?

[2020-02-06 12:34] yaronworldwide commented on #609
@zroubalik I was able to run Keda using existing metrics-adapter (external.metrics.k8s.io) by removing yaml files which were creating keda-metrics (such as metrics-api_service.yaml ...)
Would you like me to share my setup ?

[2020-02-06 12:48] zroubalik commented on #609
@yaronworldwide that would be great once you have a time :) just out of curiosity

[2020-02-06 13:17] yaronworldwide commented on #609
@zroubali <https://github.com/zroubalik>k in order to deploy Keda in our
environment we are running Helm from Terraform thus implying
some of the parameters to be passed from terraform to Helm .
Moreover a dependency was created in order to ensure keda is first
installed then keda-scaledobject

resource "kubernetes_namespace" "keda" {
  count = "${var.enable_keda ? 1 : 0}"
  metadata {
    name =

[2020-02-06 13:33] zroubalik commented on #609
@yaronworldwide thanks! I think you should be able to attach the zip files directly to the comment on this issue. see: https://help.github.com/en/github/managing-your-work-on-github/file-attachments-on-issues-and-pull-requests

[2020-02-06 13:50] yaronworldwide commented on #609
@zroubalik exactly what I have tried to do but it was stuck at uploading because of corporate firewall

[keda-scaledobject.zip](https://github.com/kedacore/keda/files/4165417/keda-scaledobject.zip)
[keda.zip](https://github.com/kedacore/keda/files/4165418/keda.zip)

Let me know if additional information is required

[2020-02-06 14:02] zroubalik commented on #609
@yaronworldwide thanks!

[2020-02-06 16:13] tomkerkhove commented on #501
It's still being reviewed and will most probably be presented in SIG-Runtime meeting on 20th of February.

[2020-02-06 18:32] jeffhollan opened #618 "Document how log-level works, and document how to use in helm"

[2020-02-07 02:29] VenkateshSrini commented on #606
Hi @balchua ,
Is this details sufficient. Could you please help me on this as we are doing a POC for a client and stillI'm unable to get this working. Any inputs to resolve the issue will be of immense help.

[2020-02-07 03:03] balchua commented on #606
@VenkateshSrini
You need to use the `TriggerAuthentication` Crd as well as the `Secret`.  The `host` attribute is no longer defined as the amqp url.  It has to be derived.

Check this out.  https://keda.sh/concepts/authentication/#defining-secrets-and-config-maps-on-scaledobject

[2020-02-07 03:51] VenkateshSrini commented on #606
@balchua ,
Thanks for link. If I understand correctly can just mounting the secrets. Should the secret be base64 encoded or can it be a simple plain string also. Please let me know this alone so that I can get this working today

[2020-02-07 04:38] balchua commented on #606
Secrets are always base64 encoded. Checkout the samples.

[2020-02-07 11:38] balchua commented on #617
Im not sure if one can dynamically change the `terminationGracePeriodSeconds` without bouncing the pod.

But a sample Golang code trapping `SIGTERM` or `SIGINT` can be found here.  I'm not sure if that is what you need.
https://gobyexample.com/signals

[2020-02-07 12:00] VenkateshSrini commented on #606
@balchua , Thanks I was able to get it working. The only thing I see is there are some pods that are sill left running. Is there some where I can see why those pods did not get shut down. Also one more thing that I see is each pod actually have received more than 10 message. Is there a way I can say that each job created by scaled object should process exactly one message only?

[2020-02-07 12:09] balchua commented on #606
@VenkateshSrini keda doesn't look into the message, nor it distributes the message to the pod.  That will be the job of the pod/workload.
I also see that you have `parallelism` set to `10`, that means it will have 10 pods per kubernetes `Job`.

To see the logs you will probably have to do `kubectl logs -f <podname> -n <pod namespace`

[2020-02-07 13:00] balchua commented on #525
Hi i am going to send a PR to address this one.
The approach i took on this is to check the pod status.
How the number of Jobs to scale is calculated is `<number of msgs in queue>` - `<jobs where all pods are not in "Running" or "Completed">` states.  Still limited by the threshold.

[2020-02-07 17:34] zroubalik commented on #618
For reference
https://github.com/operator-framework/operator-sdk/blob/master/doc/user/logging.md

[code]

Will send a PR at the end of the next week

[2020-02-07 18:54] nuclearpinguin commented on #570
Related to #590 ?

[2020-02-08 01:56] VenkateshSrini commented on #606
I have seen the logs the pods are healthy and have completed execution. when I tried
`kubectl get jobs` I see the jobs are still running even though the rabbit mq is empty. It is not signaled as completed

[2020-02-08 03:12] balchua commented on #606
@VenkateshSrini non of the pods have completed, you can see `0/1`.  Since you are setting your job as a "work queue", these are the conditions to mark the Job as Completed.

https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#writing-a-job-spec

Taking it from the documentation above.

Can you try setting `parallelism` to 1 for now and see if the job completes?

[2020-02-08 06:13] VenkateshSrini commented on #606
@balchua ,
Please see the modified yaml file
[code]
After doing this also the pod status is the same. The only improvement I got is I had lesser number of pods created per job. My doubt is on the `completion` setup. Should I remove it complete and let parallelism handle that?

[2020-02-08 06:16] Anbu2506 commented on #587
@zroubalik  Keda Metrics apiserver status showing false(FailedDiscoveryCheck). If i describe it am getting an error " Message:               no response from https://10.233.6.240:443: Get https://10.233.6.240:443: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)".

And am running kubernetes cluster inside a proxy. So do i have to worry about

[2020-02-08 07:41] balchua commented on #606
@VenkateshSrini from ur yaml, the `completion` is not inside the `jobScaleRef`.
Have u tried without the `parallelism` and `completion`?

[2020-02-08 12:01] VenkateshSrini commented on #606
@balchua ,
My Yaml files now looks below. You can see that Parallelism and completion are commented.
[code]
But still the jobs are not getting completed. The container actually runs .NET core code. The code can be seen at https://github.com/VenkateshSrini/sample-netcore-keda-rabbitmq/tree/master/Receive

Still the jobs have not been completed. Please see the below the output of `kubectl get jobs`

[2020-02-08 13:25] balchua commented on #606
Just checked out the code... Im no C# expert.

But this blocks the exit no?
[code]
This means pod doesn't complete no?

[2020-02-08 14:05] VenkateshSrini commented on #606
Yes but while creating the container, I noticed that and commented it out. But then I will delete the existing container create a new one and push it and see

[2020-02-08 16:22] VenkateshSrini commented on #606
@balchua , I have commented the code and built the container and checked. But I see the same results

[2020-02-08 22:10] balchua commented on #606
@VenkateshSrini im not familiar with C#.  So im simply going to guess here.
There are some things you can try here.
If you want your program to read one msg and then exit, perhaps you may want to try this.  https://www.rabbitmq.com/dotnet-api-guide.html#basic-get

Another thing, if you run your application independently from keda, does it exit after reading a message?  If no, then that could be th

[2020-02-09 09:13] tomkerkhove commented on #614
What do you think @jeffhollan? We need this mainly for deprecation management imo, first example is #621

[2020-02-10 16:10] APuertaSales opened #623 "HPA does not update data as Keda Operator does"
**What happened:**
I configured a scaledobject for kafka and it is not updating the HPA info.
This is the scaledobject configuration:
[code]
Adding debug log level shows that the consumer has a certain lag:
`{"level":"debug","ts":1581350124.0215647,"logger":"kafka_scaler","msg":"Group int.absolutegrounds.helper.processor.datapipeline has a lag of 7931 for topic INT-AG_TASK_SOURCE_DP and partition

[2020-02-11 03:08] VenkateshSrini commented on #606
@balchua ,
If I run this outside the k8s environment then it will not even hook itself to rabbitmq and it will immediately end. That is the reason we had console.readline statement. When packaging it in container  I have commented it out. So there is no chance that I will be able test this scenario outside with scaledobject

[2020-02-11 04:13] balchua commented on #606
Your rabbitmq is inside the cluster?  You can always expose a `Nodeport` just to test it out.
Btw, would you be able to try the rabbitmq BasicGet?  If u want your job to finish after consuming 1 message then maybe that can help.

[2020-02-11 04:30] VenkateshSrini commented on #606
@balchua ,

At last I was able to get the desired out. My inference is once the pod gets to hook to Rabbit MQ via the below command
[code]
But then after de-queuing it is git getting de-hooked. So I added the below code
[code]
Now I get the following output
**NAME                      COMPLETIONS   DURATION   AGE
rabbitmq-consumer-28dsn   1/1           31s        19m
rabbitmq-consumer-2jvjl   1/1

[2020-02-11 06:33] VenkateshSrini commented on #606
For pic the rabbitmq will be in cluster. In real time we have to access it as an endpoint or external services

[2020-02-11 08:10] balchua commented on #606
@VenkateshSrini that's good news. 👍 Do we want to keep the issue open, now that keda works with your setup? Thanks!

[2020-02-11 08:26] VenkateshSrini commented on #606
@balchua , one last clarification suppose if the rabbitmq is going to be outside the cluster will BasicGet not work for completion for me to just get 1 item and exit. Just wanted to confirm with you. with that we can close

[2020-02-11 08:43] balchua commented on #606
I believe the api will work regardless whether rabbitmq is inside the cluster or not. It is agnostic to where rabbitmq is.

[2020-02-11 12:56] tomkerkhove commented on #439
This is done so I presume it can be closed?

https://github.com/kedacore/keda/blob/master/RELEASE-PROCESS.MD

[2020-02-11 13:00] tomkerkhove opened #624 "Provide capability to extend scalers"
In certain scenarios it would be interesting to react based on what a certain scaler is doing.

For example; when processing a Service Bus/RabbitMQ queue but the queue does not exist it would be nice if we could react to that.

### Proposal

We should provide the capability to opt-in for events which are emitted by a given scaler. With that, we could trigger a process to react. (Relates to https:/

[2020-02-11 15:17] tomislater commented on #624
I can add some info about scenarios and how we have handled some of them.

**Scenario 1**

Your consumer/worker (deployment) creates a queue in RabbitMQ. If you create `Deployment` and `ScaledObject` in the same time, and for some reason your pod (which creates a queue) takes some time to run, KEDA can be faster and scale your deployment down and thus you will never be able to create a queue (if `

[2020-02-11 15:38] VenkateshSrini commented on #606
So can I assume that there will be no actual container running in pod as I see 0/1 after completed status. It is more of tracking for which it is listed there?

[2020-02-11 20:30] mashrin commented on #587
Try this to check the status:
1. kubectl get apiservice --all-namespaces (Find the apiservice name for the service keda/keda-metrics-apiserver).
2. kubectl get apiservice <apiservice-name> -o yaml (Check for the status)
Example: kubectl get apiservice v1beta1.external.metrics.k8s.io -o yaml

If the status is False, then there seems to be an issue and proxy network might be the primary reason for i

[2020-02-11 22:00] balchua commented on #606
There is a section on the kubernetes documentation regarding pod status and container status.
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-and-container-status

Pods created by the `Job` is not deleted automatically by kubernetes, although there is a feature gate which you can enable in kubernetes that allow you to control how long it can stay there after the Pod is termin

[2020-02-12 03:22] VenkateshSrini commented on #606
Thanking you @balchua and all for patiently helping me on this. Thanks a ton.

[2020-02-12 03:22] #606 closed

[2020-02-12 06:29] Anbu2506 commented on #587
@mashrin you made my day.. thanks a lot

[2020-02-13 00:39] asears commented on #557
Seems like there needs to be some updates to the definition in that repo, yes.

[2020-02-13 06:14] tomkerkhove commented on #155
Reopening for docs.

Would you mind sending a PR for that @melmaliacone?

[2020-02-13 08:29] ThorstenHans opened #626 "Azure ServiceBus Scaler with Azure Functions failes because of EntityPath in ConnectionString"
I have created a simple Azure Function that is triggered by messages being published to an Azure ServiceBus Queue.

The corresponding Scaler wants to have the ConnectionString including `EntityPath`otherwise, the `keda-operator` throws errors because connection-string is invalid.

However, if I keep `EntityPath=queueName` in my ConnectionString, Azure Function throws because it can't deal with `En

[2020-02-13 10:01] tomkerkhove commented on #626
You can use TriggerAuthentication to use a different connection string than on the deployment, see https://github.com/kedacore/sample-dotnet-worker-servicebus-queue/blob/master/deploy/deploy-autoscaling.yaml#L2

I would recommend using TriggerAuthentication because:
1. KEDA requires manage permissions, but your deployment probably only needs listen
2. Use different keys for both components

[2020-02-13 10:08] tomkerkhove commented on #626
Relates to https://github.com/kedacore/keda/issues/215, but can be mitigated with `TriggerAuthentication`

[2020-02-13 15:38] somak12 opened #628 "HPA (scaling) is not working with Azure function kafka trigger"
I am using Keda installed in AKS and using Azure function as consumer to Kafka topic. Using the library azure-functions-kafka-extension for KafkaTrigger.

It seems like even under load the azure function is not scaling up. When I check the HPA logs it is giving error as below.

![image](https://user-images.githubusercontent.com/14160083/74448873-b44f0480-4ea1-11ea-9784-cd64a884ee70.png)

## Expect

[2020-02-13 17:00] tomkerkhove commented on #557
We don't actively maintain anything over there so you might want to open an issue there.

[2020-02-13 17:01] tomkerkhove commented on #628
What do the KEDA logs say?

[2020-02-13 17:13] ThorstenHans commented on #626
Thanks, works!

[2020-02-13 17:13] #626 closed

[2020-02-13 19:45] ppatierno commented on #628
Yes the KEDA logs would be useful. Then, is the `keda-metrics-adapter` running fine? From the error message, it should be ok but it cannot get the `lagThreshold` metric exposed by the Kafka scaler. Anyway it's worth checking.
What's the `ScaledObject` as well?

[2020-02-13 20:52] somak12 commented on #628
Hi, Checked the keda-metrics-apiserver , it seems to run fine, please find the logs below.
[code]

Below is the scaledobject:
Name:         aks-kafkatrigger-demo-func
Namespace:    default
Labels:       deploymentName=aks-kafkatrigger-demo-func
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"keda.k8s.io/v1alpha1","kind":"ScaledObject","metadata":{"ann

[2020-02-13 21:11] ppatierno commented on #628
why the broker list is empty in the scaled object? It has to be the bootstrap servers list for allowing the scaler to connect to the Apache Kafka cluster and getting information about the offset in order to compute the lag.

[2020-02-13 21:17] somak12 commented on #628
No no. I just remove the broker list before posting the issue. Its there. Please find below the log from Keda on removing and redeploying the kubernetes yaml file.

[code]

[2020-02-13 21:19] ppatierno commented on #628
Are you sure that a Kafka client running in the same cluster is able to reach the Kafka brokers?

[2020-02-13 21:22] somak12 commented on #628
Yes the pod (azure function with kafkatrigger) is working fine and connecting to the brokers. Please find the logs below:
[code]

[2020-02-13 22:04] balchua commented on #628
@somak12 if you dont mind making the `ScaledObject` posted above code formatted?  Its difficult to read. Im wondering if there is something missing.
Also just to confirm, your kafka doesn't have SASL enabled?

[2020-02-13 23:30] melmaliacone commented on #155
Will do! Ran into some computer issues that required a fresh OS install, but it's at the top of my list.

[2020-02-14 06:36] tomkerkhove commented on #155
Thanks!

[2020-02-14 07:18] tomkerkhove opened #629 "Approach for incorporating external samples"
In last standup the following was identified:

We should provide and document an approach for external samples.

[2020-02-14 07:21] tomkerkhove commented on #629
@rasavant-ms @anirudhgarg Was anything more than that discussed?

I see two types of samples:
- The ones we maintain today, or are happy to take over and maintain
- External ones provided by folks in the community

Would you want to open it up for everbody to move their repo in our org? If so, how will we keep them all up to date?

What if we use https://github.com/kedacore/samples as an incubatio

[2020-02-14 09:32] zroubalik commented on #439
We should have a section on the Release cadence etc, @jeffhollan wdyt?

[2020-02-14 09:35] zroubalik commented on #587
@mashrin this is great, do you think you can create a FAQ section covering this topic?
@tomkerkhove FYI^

[2020-02-14 09:39] ppatierno commented on #614
I think it's important having a changelog, so +1 from me. Thanks for raising this @tomkerkhove !

[2020-02-14 10:01] zroubalik commented on #628
@somak12 could you please check `APIService` object, if it is correctly deployed and configured?
[code]

[2020-02-14 10:03] zroubalik commented on #623
@APuertaSales Could you please format the `ScaledObject` and `HPA` posted above, so it is more readible?
eg. https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks#fenced-code-blocks

[2020-02-14 10:20] somak12 commented on #628
Hi @zroubalik  it seems like this is not running in my cluster.

[code]

[2020-02-14 10:22] somak12 commented on #628
Hi @balchua  I have updated the scaledobject with proper formatting.
No SASL is not enabled in kafka.

[2020-02-14 10:33] APuertaSales commented on #623
Of course, sorry!

[2020-02-14 10:41] ppatierno commented on #628
So it seems you are missing this https://github.com/kedacore/keda/blob/master/deploy/24-metrics-api_service.yaml
How did you deploy KEDA on the AKS cluster?

[2020-02-14 10:55] somak12 commented on #628
I used Azure function core tool to deploy Keda.

[code]
https://github.com/Azure/azure-functions-core-tools

[2020-02-14 10:58] zroubalik commented on #623
@ppatierno might have an idea?

[2020-02-14 11:01] zroubalik commented on #628
OK, so this installation method might be broken since your setup is missing the `APIService`

@SatishRanjan @ahmelsayed PTAL

[2020-02-14 11:58] ppatierno commented on #623
How many partitions have your topic?

[2020-02-14 12:17] tomkerkhove commented on #628
Opening https://github.com/Azure/azure-functions-core-tools/issues/1822 to track it over there as well.

[2020-02-14 13:23] APuertaSales commented on #623
Keda log only shows 1 partition in the example given:
"Group int.absolutegrounds.helper.processor.datapipeline has a lag of 7931 for topic INT-AG_TASK_SOURCE_DP and partition 2\n"

Kafka Tool shows 5 partitions:
![image](https://user-images.githubusercontent.com/4446361/74535061-58ce5680-4f35-11ea-9a7d-0625055a431a.png)

And so does Kafka Manager:
![image](https://user-images.githubusercontent.com

[2020-02-14 13:31] ppatierno commented on #623
well that log is not clear because it's in a for loop which breaks as soon as there is a lag higher than the lagThreshold. So it just says that you have lag 7931 on partition 2 but maybe you have other lags on the other partitions. I think we should change this log somehow.

Regarding the value showed by HPA 500/500 I would expect more 2500 due to this snippet code:

[code]

it drops the `totalLag

[2020-02-14 14:36] APuertaSales commented on #623
Thanks @ppatierno, this explains everything. Sorry I was expecting exact values but as you say it has no sense to run idle consumers.
Do you have another explanation to the currentReplicas and desiredReplicas info that is not aligned with the real number of replicas of the deployment managed?
This was the info about the HPA:
[code]
And this was the list of PODs, only 1 deployed, not 4:
[code]

The

[2020-02-15 03:56] VenkateshSrini opened #630 "Jobs created by ScaledObject does not add ttlSecondsAfterFinished evenif specified in jobTargetRef"
Hi,
Below is my scaledObject yaml
[code]
It can be noted that I have specified  **ttlSecondsAfterFinished: 300** . As per this job should be completed after 5 minutes of completion. But that does **not** seem to happen. I got the job definition created by ScaleObject CRD from Kubernetes. It is as below
[code]
It can be seen that ttlSecondsAfterFinish is not injected, even though it is specified in

[2020-02-15 08:58] RichiCoder1 commented on #538
This would be mostly be covering 1 to X scaling, right? As for 0 to 1, you'd need some sort of activator ala osiris?

[2020-02-15 22:59] balchua commented on #630
@VenkateshSrini the `ttlSecondsAfterFinished` is an alpha feature in kubernetes.  It means you have to  explicitly enable this feature gate in the api server.

https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates

From the link above you can see that the feature gate `TtlAfterFinished` is disabled.

[2020-02-16 02:31] VenkateshSrini commented on #630
thanks

[2020-02-16 02:31] #630 closed

[2020-02-16 08:18] ppatierno opened #631 "Is "deploymentName" on ScaledObject really useful?"
I was wondering what is the rationale behind the decision to make the `deploymentName` label mandatory in the `ScaledObject` when there is the `spec.scaleTargetRef` as well.
As far as I can see the entire rest of the logic leverages on the `spec.scaleTargetRef`, why having the label as well?

[2020-02-16 08:46] ppatierno commented on #623
@APuertaSales tbh keda should be not involved on updating the hpa values, it's all about Kubernetes. I have no clue right now.

[2020-02-16 16:25] mashrin commented on #587
@zroubalik Sure, I will do it now.

[2020-02-16 18:25] mashrin commented on #587
@zroubalik Done: https://github.com/kedacore/keda-docs/pull/83

Let me know if you want any edits.

[2020-02-17 07:54] tomkerkhove commented on #608
Reopening for docs https://github.com/kedacore/keda-docs/pull/81

[2020-02-17 07:56] tomkerkhove opened #632 "Remove support for brokerList which is deprecated in v1.3 (Kafka)"
Remove support for brokerList which is deprecated in v1.3.

Follow-up for https://github.com/kedacore/keda/issues/608 & https://github.com/kedacore/keda/pull/621

[2020-02-17 07:57] tomkerkhove commented on #631
Duplicate of https://github.com/kedacore/keda/issues/545, let's keep the conversation going over there.

[2020-02-17 07:57] #631 closed

[2020-02-17 07:58] tomkerkhove commented on #242
Relates to https://github.com/kedacore/keda/issues/545 which talks about the removal part.

Closing this one.

[2020-02-17 07:58] #242 closed

[2020-02-17 08:14] APuertaSales commented on #623
Thanks @ppatierno,
You are right, but is strange because other HPAs we have configured do not show this misbehavior.
We will continue using your application while monitoring the results. It is far easier to work with your solution than with our previous one.
Regards,
Alberto.

[2020-02-17 08:14] #623 closed

[2020-02-17 08:17] ppatierno commented on #545
@tomkerkhove to be honest I don't see any reason for leaving that label.
As far as I can see the entire rest of the logic leverages on the `spec.scaleTargetRef`.

[2020-02-17 08:32] tomkerkhove commented on #545
Yes, was somewhat the consensus on #242 but added to agenda for standup before we get things going as a final verification.

[2020-02-17 14:42] #618 closed

[2020-02-17 15:12] somak12 commented on #628
Hi,
I installed the missing components manually as per above guideline and the scaling seems to work fine now.FYI. What I did is reinstalled Keda 1.1.0 from the source onto my AKS cluster. Hope the installation issue will get resolved from azure function core tool side. Thanks.

[2020-02-17 15:15] tomkerkhove commented on #628
Let's hope that as well.

Since we have an issue open over there, is it ok for you to close this one?

[2020-02-17 15:32] somak12 commented on #628
Yes please.

[2020-02-17 15:32] #628 closed

[2020-02-17 15:35] tomkerkhove commented on #628
Thanks!

[2020-02-17 18:55] anirudhgarg commented on #629
@tomkerkhove thanks for chiming in.
Currently we have the following ways we are handling samples:
1). We have a samples repo which is basically a link file (linking to different samples)
2). Repos within KEDA org where every repo is a sample

The ask was that if we could also have Samples within the Samples repo (instead of creating a whole repo for a Sample). I think it makes sense as you too poi

[2020-02-17 19:01] anirudhgarg commented on #614
Genuine question. For every release we have detailed release notes - aren't they enough ?

[2020-02-17 19:54] ppatierno commented on #545
So from #242 it seems that we can remove the label as mandatory field to be specified by the user but the operator has to add it for the metrics server.

[2020-02-17 19:56] ppatierno commented on #614
@anirudhgarg are you talking about the list you provide in the "releases" section for each release? If yes, I agree with you but sometimes it's useful having a CHANGELOG.md file in the repo even for "searching" purposes. The release notes you mentioned could just be a "mirror" of that file.

[2020-02-17 20:17] tomkerkhove commented on #614
As mentioned before it is not one or the other but they are complimentary.

The big difference is that a Changelog gives a full history without having to go through all releases. Customers can then easily see what has changed in comparison with their version.

The most important reason why I propose this is for deprecations. We have just deprecated something, but if you are not actively watching e

[2020-02-17 20:21] tomkerkhove commented on #629
Ah so your idea is to host the content in that repo as well then? What is the reasoning behind that?

Wouldn't that become a big pile of sample dump over time?

Let me ask it otherwise, why does Azure have a repo per sample for example and not one repo with all samples in it?

My suggestion with the PR was more to include a like to their repo, or file an issue as a proposal to donate.

The risk I

[2020-02-18 04:59] marchmallow commented on #629
Why not allow people to submit a PR to link their own repos as samples into the sample repo? And divide the list between internally maintained samples and community/externally provided ones? I was thinking we could submit an example of what we are doing with redis and this would work easy enough for me..

[2020-02-18 07:05] tomkerkhove commented on #155
Done via https://github.com/kedacore/keda-docs/pull/82, thanks!

[2020-02-18 07:05] #155 closed

[2020-02-18 16:52] Priyam1464 opened #635 "Unable to scale azure function using KEDA on azure kubernetes cluster"
I am following this link https://dev.to/anirudhgarg_99/scale-up-and-down-a-http-triggered-function-app-in-kubernetes-using-keda-4m42 to  scale http triggered azure function using keda and prometheus. The azure function is not scaling at all. When I am running the command   kubectl -n ingress-nginx describe horizontalpodautoscaler.autoscaling/keda-hpa-function-senderten-http to describe the hpa the

[2020-02-18 17:20] tomkerkhove commented on #635
Hi, thanks for the report.

Can you provide the system information from the template please?

Also, how did you install your function? We've had an issue recently (https://github.com/kedacore/keda/issues/628) due to Azure Function tooling and logged https://github.com/Azure/azure-functions-core-tools/issues/1822 for it.

[2020-02-18 20:02] ppatierno commented on #608
Closing because the related KEDA docs PR was merged.

[2020-02-18 20:02] #608 closed

[2020-02-18 22:46] ahmelsayed commented on #635
Closing this issue as it's most likely an azure functions tooling issue. /cc @SatishRanjan

[2020-02-18 22:46] #635 closed

[2020-02-19 04:39] alexandery commented on #601
bump...

[2020-02-20 09:52] thomas-lamure opened #636 "[BUG] Azure Queue Job Scaler continues to scale up Jobs while the message is being treated"
My problem may look like the issue #525 but the analysis made on this thread does not match mine.
I prefer starting a new one here, if I am mistaken thank you for your help putting this message in the right place.

### Expected Behavior
- When I post N messages in the queue, Azure Queue Job Scaler should create only N Jobs to treat the messages.
- When the Jobs read the messages they are made 'inv

[2020-02-20 10:16] thomas-lamure commented on #525
Thank you @balchua for your PR, it will help when pulling big images or scaling the cluster to handle the Job requirements.
This will also work for @JoooostB usecase where he directly deletes the message at pod startup.

But his solution is not taking advantage of the `visibilityTimeout` of the Azure Storage Queue.
If you want to take a look at my issue #636 where I suggest another approach for th

[2020-02-20 11:11] balchua commented on #525
Thanks @thomas-lamure the PR is to tackle more general scaling situations like you mentioned.  I will be happy if someone else can test the PR.
I also saw your issue you created, and i think it is best that it is handled at the scaler itself.

[2020-02-20 14:17] linuxbsdfreak commented on #617
@balchua . Trapping the signal in the program would be trivial. However i will need to change the `terminationGracePeriodSeconds` for the  deployment. That would be mean i would have to use client-go to change it. Is that correct?

[2020-02-20 16:22] jeffhollan opened #637 "Integration with the Cluster Autoscaler"
Today KEDA can indirectly influence cluster autoscaling by causing the HPA to schedule too many pods so the cluster autoscaler kicks in and adds nodes.  A common ask is to have KEDA potentially poke the cluster autoscaler even earlier the same way it pokes HPA before CPU + Memory hit.  Not sure what integrations make this possible today, but would be a nice feature to be able to set some cluster t

[2020-02-20 16:26] tomkerkhove commented on #637
Certainly an interesting scenario if you ask me!

Would you use the same component or split them? Maybe good to have seperation between app & cluster autoscaling so people can pick which component they are interested in.

[2020-02-20 16:33] tomkerkhove commented on #546
Docs are done, thanks!

[2020-02-20 16:33] #546 closed

[2020-02-20 17:29] jeffhollan commented on #637
@melmaliacone know you were interested in looking in some more "kubernetes deep" features - this may be a good one.  Also @jaypipes mentioned at the SIG-Runtime meeting he'd be interested to help collaborate as well 👍

[2020-02-20 17:29] tomkerkhove commented on #501
We have a PR open to SIG-Runtime which is happy to recommend us - https://github.com/cncf/sig-runtime/pull/10

[2020-02-20 17:33] tomkerkhove commented on #637
Awesome! Would propose for this one to draft a design spec on how it would work and what it would look like or is that overkill? Actually liked that with the introduction of the auth spec.

We could move those to `design-proposals/` or so.

[2020-02-20 18:10] jeffhollan commented on #545
Chatted about this briefly in standup - sounds good. It doesn't sound like there is a downside to doing this

[2020-02-21 02:03] balchua commented on #617
Modifying the `terminationGracePeriodSeconds` causes the pod to be terminated and recreated.

Why not set the `terminationGracePeriod` to be the maximum time your application need to gracefully shutdown.  If your app finishes before that it will be terminated.

[2020-02-21 13:38] otherpirate opened #638 "RabbitMQ ignores unacknowledged messages"
RabbitMQ scaler is using AMQP library and the method to get a total of messages returns only messages with **ready** status in queue.
[https://github.com/streadway/amqp/blob/master/channel.go#L837](https://github.com/streadway/amqp/blob/master/channel.go#L837)

If the queue has messages with unacknowledged (because are processing in consumer) they will be ignored and the scaler can kill the pod th

[2020-02-21 13:42] otherpirate commented on #638
I had the same problem with our current autoscaler component:
The simple solution went to use RestAPI
https://github.com/mbogus/kube-amqp-autoscale/pull/11

We are trying to migrate to Keda and I will be glad to help with coding
Can we fix this issue with RestApi?
Should we create a new parameter/configuration to do that?

[2020-02-21 23:41] balchua commented on #638
I had this issue too. Certain process just takes a bit longer to ack.
Only the rabbitmq management rest api provides this metrics.  Which requires that management plugin must be enabled.  I guess this is commonly enabled.

[2020-02-23 16:31] asears commented on #557
Closing this issue

[2020-02-23 16:31] #557 closed

[2020-02-23 16:33] tomkerkhove commented on #557
Sorry for not being able to help, but feel free to let us know if we can help with something else.
If they can't help you we might be able to open an issue to contribute it.

[2020-02-24 17:43] simpsonw opened #640 "Use KEDA to scale resources on remote clusters"
It would be useful if you could specify a resource (like a Deployment or Job) on a remote Kubernetes cluster to be scaled by the KEDA operator.

### Use-Case

Edge computing is becoming a more common usecase for Kubernetes.  These edge clusters often have limited computational resources and run on architectures like `arm7` that can run Kubernetes in one form or another but aren't supported by othe

[2020-02-25 23:03] JK87iab opened #641 "Keda pod stuck in CrashLoopBackOff"
Hi,
experiencing problems with the auto scaling. I guess because the keda service is not starting correctly.  How should I go about debugging this?

[code]

the pod description

[code]

[2020-02-26 08:45] zroubalik commented on #641
@JK87iab what KEDA version are you using? It looks like you are using pretty old one.

[2020-02-26 10:02] tomkerkhove commented on #501
SIG-Runtime is now officially supporting us as the recommendation has been merged and is available on - https://github.com/cncf/sig-runtime/blob/master/recommendations/sandbox/keda.md

We are actively looking for sponsors from TOC.

[2020-02-26 15:34] JK87iab commented on #641
Looks like it was an issue with azure.

Before I used `func kubernetes install --namespace keda `

After using helm it worked

(https://keda.sh/deploy/)

[2020-02-26 15:34] #641 closed

[2020-02-26 15:45] dev-cr-ka opened #642 "RabbitMQ HPA not created"
I have added keda 1.2 to my cluster (kubernetes v1.17.2) and did some tests with kafka, which worked.

Now I switched to RabbitMQ, set everything up according to this example (except I don't use a secret for the host): https://github.com/kedacore/sample-go-rabbitmq/blob/master/deploy/deploy-consumer.yaml

[code]

Getting the logs of the operator `kubectl logs -n keda keda-operator-xy` I see the er

[2020-02-26 16:03] dev-cr-ka commented on #642
I updated my config to use a secret, just like described here https://github.com/kedacore/sample-go-rabbitmq but I still get the same error `no host setting given`

[2020-02-26 16:10] dev-cr-ka commented on #642
Got it, forgot to set the secret in the container...

[code]

[2020-02-26 16:10] #642 closed

[2020-02-27 08:51] dev-cr-ka commented on #638
I found the same issue and from my point of view it comes from a difference in setting the queue treshhold and how the hpa is calculated from that value.

The hpa target value is

[code]

this translates to

[code]

I queueLength of 1 and minPods of 1 results in the following behavior:
- No messages -> Target: 0/1
- First message arrives -> Taget: 0/1, since the message is consumed by the pod
- Se

[2020-02-27 15:51] tomkerkhove commented on #545
Are you up for it @ppatierno?

[2020-02-27 17:35] ppatierno commented on #545
Yes, guys, I will take it over the weekend I guess.

[2020-02-28 15:54] gbird3 commented on #497
Would love for this to get finalized soon. Tested out keda using deployments and it is working great but our main use case requires Statefulset support.

[2020-03-01 13:57] elihai-risk opened #645 "podIdentity.provider : aws-kiam"
i set:

[code]

but still getting this error on the keda operator :

"controller":"scaledobject-controller","request":"core/aws-sqs-queue-scaledobject-historical-queue-consumer
","error":"error getting scaler for trigger #0: Error parsing SQS queue metadata: 'AWS_ACCESS_KEY_ID' doesn
't exist in the deployment environment","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\t/go/pkg
/mod/gi

[2020-03-01 18:31] ppatierno opened #646 "Runtime error due to nil pointer dereference on TargetRef fields missing"
When a ScaledObject resource is created but it's missing both the `scaledTargetRef` and the `jobTargetRef` fields, the controller assumes its `ScaleType` is a "job" but then a runtime error happens due to a nil pointer dereference.

[code]

It happens in the `resolveJobEnv` method.
I would fix it just doing a check in the caller method `getJobScalers` that the `jobTargetRef` is not nil and returni

[2020-03-01 22:18] turbaszek opened #647 "Extend Redis scaler to scale on age of oldest message in a queue"
A clear and concise description of what scaler you'd like to use and how you'd want to use it:

  - **Scaler Source:**
Redis queue.
  - **How do you want to scale:**
Users can configure the scaler to scale up when the age of the oldest message in a queue exceeds a threshold defined in seconds. In other words, this scaler should assure that queued-to-execute time is below some value (until we reach

[2020-03-01 22:18] nuclearpinguin commented on #647
I am happy to work on it. Any thoughts @tomkerkhove @dimberman ?

[2020-03-02 07:03] tomkerkhove commented on #647
Maybe good to add this to the standup agenda first to discuss?

For example, will this always be the case or is the configuration option for that field optional?

[2020-03-02 07:17] tomkerkhove commented on #646
Sounds good to me, thanks

[2020-03-02 07:18] tomkerkhove commented on #645
Can you provide your `ScaledObject` as well please?

[2020-03-02 08:10] ppatierno commented on #646
@tomkerkhove if you want, you can assign this to me.

[2020-03-02 09:31] #545 closed

[2020-03-02 09:32] zroubalik commented on #646
@ppatierno thanks, I've just found the problem as well. Working on the fix already, so I can handle this, in case you haven't already started :)

[2020-03-02 09:34] ppatierno commented on #646
@zroubalik not yet started, I can do it this evening but if you can work on it right now, I am fine to give the issue to you ;-) your call!

[2020-03-02 09:34] zroubalik commented on #646
@ppatierno ok, I'll assign to myself, you deserve some rest :) thanks!

[2020-03-02 16:13] #646 closed

[2020-03-03 06:54] tomkerkhove commented on #614
Was discussed at the standup and agreed to provide a CHANGELOG.md

[2020-03-03 07:07] tomkerkhove commented on #501
Liz Rice is so kind to be our first sponsor!

[2020-03-03 07:41] elihai-risk commented on #645
apiVersion: keda.k8s.io/v1alpha1
kind: ScaledObject
metadata:
  name: aws-sqs-queue-scaledobject
  namespace: test

    deploymentName: test
spec:
  scaleTargetRef:
    deploymentName: test
    pollingInterval: 30  # Optional. Default: 30 seconds
    cooldownPeriod:  300 # Optional. Default: 300 seconds
    minReplicaCount: 1   # Optional. Default: 0
    maxReplicaCount: 6 # Optional. Default: 100

[2020-03-03 10:06] vishal8k opened #649 "no scaler found for type: azure-monitor"
I installed KEDA from helm charts following this document "https://keda.sh/deploy/".
Keda chart = 1.2.0
Keda App version = 1.2.0

After setting up the scaledobject for Azure monitor I'm displayed with the error

Below is my scaledobject.yaml

[code]

## Specifications
My cluster is on Azure Kubernetes Services (AKS)
  - **KEDA Version:** *1.2.0*
  - **Kubernetes Version:** *1.14.8*
  - **Scaler(s)

[2020-03-03 10:54] vishal8k commented on #649
I've found the error. `azure-monitor` is available only after 1.3. Now but I have another issue. The helm repo currently has only 1.2.0 version of the app in the repository. I couldn't find any way to upgrade the helm to a version above 1.3+. How can I upgrade the helm release? or helm chart?

[2020-03-03 10:56] tomkerkhove commented on #649
We have not released v1.3 yet so you'll have to sit back and wait, but it's coming soon.

Adding @anirudhgarg to elaborate on the release.

[2020-03-03 15:28] tomkerkhove opened #650 "Provide artwork for KEDA logo in PNG & SVG"
Provide artwork for KEDA logo in PNG & SVG as we'll need this for https://github.com/cncf/artwork once https://github.com/cncf/toc/issues/335 gets merged.

[2020-03-04 10:42] tomkerkhove commented on #645
It looks like the doc PR got merged already but feature PR is still open on https://github.com/kedacore/keda/pull/499

So that means it's not shipped yet.

[2020-03-04 16:42] nisan270390 commented on #190
example of launch.json for debugging Keda controller
[code]

[2020-03-05 08:15] vishal8k commented on #649
@tomkerkhove Is there a way for me to get notified when 1.3 releases?

[2020-03-05 08:22] tomkerkhove commented on #649
You can subscribe to the repo but it already got merged so you can deploy the latest version as well. Either via this repo or via our docker.io/kedacore/keda:master images

[2020-03-05 08:22] tomkerkhove commented on #649
Ok for you if we close thiss issue?

[2020-03-05 08:24] vishal8k commented on #649
@tomkerkhove Sure. I'll close it myself.

[2020-03-05 08:24] #649 closed

[2020-03-05 15:45] tomkerkhove commented on #501
Michelle Noorali is our second sponsor!

[2020-03-05 17:58] jeffhollan commented on #647
I think this makes sense.  @nuclearpinguin we can discuss in our community call in a few minutes but the one thing I'd be interested in is how the `ScaledObject` looks in this mode, and how a someone opts-into this behavior rather than the current "queue size" one.  But I like the idea.

[2020-03-05 17:59] jeffhollan commented on #640
FYI some interesting conversation and a PoC of using a cluster that has a node that runs Node and a bunch of Raspberry Pis that could run whatever in a different node pool all being scaled with KEDA https://kubernetes.slack.com/archives/CKZJ36A5D/p1582319704189700

[2020-03-05 18:11] jeffhollan commented on #650
Do we need assets we don't already have in the repo?

[2020-03-05 18:17] tomkerkhove commented on #650
Ideally we have SVG as well

[2020-03-05 18:37] nisan270390 opened #651 "Authenticate to AWS with dedicated role without AssumeRole permissions"
currently anyone who working with ASW scaler has 2 different ways to authenticate to AWS:
https://github.com/kedacore/keda/blob/2de3a4c2e08ad76d8939357456588259f088c752/pkg/scalers/aws_iam_authorization.go
1. awsRoleArn - and give to Keda operator assume role permissions (aws-kiam provider)
2. Configure awsAccessKeyId and awsSecretAccessKey

there is should be another way to authenticate with dedi

[2020-03-05 18:57] jeffhollan commented on #650
I see. I'm pretty sure we have one I just didn't upload it.  Let me check

[2020-03-06 03:56] fisapras opened #652 "KEDA Scaling Jobs using Azure Service Bus scaler - queuelength configuration parameter"
I have a queue which holds incoming messages from an application (producer). I have a consumer application in an container which is deployed to AKS. I have configured KEDA scaledobject  jobtype with Azure Service bus as the trigger to scale the consumer instances. As the messages are queued KEDA  creates consumer instances which read a single message from the queue and start processing.

However w

[2020-03-06 08:54] tomkerkhove commented on #650
That would be great but it's not urgent!

[2020-03-06 10:20] tomkerkhove commented on #651
If we add this this would more a different type of authentication rather than Pod Identity Provider given the pod no longer has an identity but permissions are assigned on KEDA operator itself, no?

[2020-03-06 10:29] tomkerkhove opened #653 "Introduce `ScaledJob` & `ScaledObject`"
We've discussed this topic a few times before but I think we have reached a point where `ScaledObject` needs to be split in `ScaledJob` & `ScaledDeployment`.

While they share a lot of same functionality, I think **they are different by nature**:
- **Jobs** are typically used to run one-off processes
- **Deployments** are more long-running demons who are constantly processing a resource

These als

[2020-03-06 10:33] tomkerkhove commented on #652
I get your understanding but I think there is a bigger issue which I'm addressing in #653.

You will need to increase the maximum count to a high number as we keep that in check.

[2020-03-06 11:13] zroubalik commented on #653
I have pretty much the same opinion on this, I have shared the same concerns when there was the initial discussion on including Jobs some time ago, so I incline to separate both options.

I am looking at the Duck typing concept (which should allow us to scale any scalable resource), so I think we should stick to **ScaledObject** and just add **ScaledJob**, since we will be able to not scale just D

[2020-03-06 11:32] tomkerkhove commented on #653
That's also fine for me, only problem I have is that `ScaledObject` is a bit vague so I'd suggest to call it `ScaledWorker` instead or so which covers both maybe? Similar to how [OAM defines Workers](https://github.com/oam-dev/spec/blob/master/3.component_model.md#worker).

[2020-03-06 12:54] nisan270390 commented on #651
True, the implementation may need to contain another property in the ScaledObject resource under Triggers.Metadata to AWS scalers which tells to Keda operator use the permissions which assigned to him. Something like  `podIdentity` if set `false` use permissions are assigned on KEDA operator itself, if `true` the behavior will remain as it is today.

for example
[code]

If that sounds good to you,

[2020-03-06 14:53] fisapras commented on #652
@tomkerkhove, I already have set maxReplicaCount to 100. Below is my script that I use to deploy. What I have noticed when I queue more than 400 messages in the queue KEDA creates only 5 (since default queue lenght is 5) consumer instances. I would expect it to scale to 100 instances equal to maxReplicaCount. Have I configured something incorrectly?

data:
  SB_CONN_STR: BASE64_SOME_VALUE
apiVersi

[2020-03-06 19:43] lenardchristopher opened #654 "keda-metrics-apiserver should restart/error when it receives HTTP 403 responses"
## Expected Behavior
If the keda-metrics-apiserver receives a HTTP 403 status, it restarts or the Pod shows a status that alerts administrators that something is wrong.

## Actual Behavior
keda-metrics-apiserver keeps running and only shows 403 responses in logs.

## Steps to Reproduce the Problem

  1. Install Keda on a cluster without RBAC enabled or restrict RBAC policies to force 403 errors.

[2020-03-06 23:34] Sarah-Aly opened #655 "Error Deploying KEDA on AKS Using Azure Functions Core Tools"
Trying to install KEDA on a Kubernetes cluster using Azure Functions Core Tools (3.0.2245) by running this command `func kubernetes install --namespace keda`, gives a validation error.

## Expected Behavior
To get KEDA deployed on AKS cluster.

## Actual Behavior
Validation error:

## Steps to Reproduce the Problem
[code]

My understanding from searching is that this command is providing an improp

[2020-03-07 05:09] #655 closed

[2020-03-07 05:09] Sarah-Aly commented on #655
Closing this on KEDA to open it up on Azure Functions Core Tools.

[2020-03-07 10:03] nuclearpinguin commented on #647
@jeffhollan sorry I couldn't join the call this week. My general idea was to have one RedisScaler where user can define one of the two targets:
- queue length (already implemented)
- max message age

Both should be mutually exclusive thus a good note docs is a must.

[2020-03-08 23:46] jeffhollan opened #657 "Prometheus scaler throws an error when a query returns empty"
When using prometheus to do something like scale an HTTP workload, if the requests are `nil` for that period of time the scaler throws an error every time it polls:

Would be good to have the scaler handle an `empty` query as a `0`

[2020-03-09 08:27] tomkerkhove commented on #453
I think we can close this, ok?

[2020-03-09 08:30] zach-dunton-sf commented on #453
Yes. I believe so.

Tom Kerkhove <notifications@github.com> schrieb am Mo. 9. März 2020 um
09:27:

[2020-03-09 08:31] #453 closed

[2020-03-09 18:08] caniszczyk opened #658 "Move to Apache v2.0 License"
Since KEDA is becoming a CNCF Sandbox project, it will have to adhere to the CNCF IP Policy:
https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy

Apache v2.0 License + DCO is the easiest and lowest path forward imho.

[2020-03-09 18:36] caniszczyk opened #659 "Add list of MAINTAINERS"
You should have a list of maintainers somewhere for the project, see maintainers.cncf.io for some examples, but a simple MAINTAINERS or OWNERS file would suffice

[2020-03-09 18:37] caniszczyk opened #660 "Add GOVERNANCE.md"
Add an open governance model to the project, see these examples:
https://github.com/opengovernance/opengovernance.dev#projects

[2020-03-09 19:19] tomkerkhove commented on #501
We now officially have 3 TOC sponsors and are finalizing the donation!

[2020-03-10 03:59] tomkerkhove commented on #658
License has been changed, feel free to do a sanity check @caniszczyk.

Once approved, I'll make same changes to other repos in our org (other than samples, if ok)

[2020-03-10 18:01] tomkerkhove commented on #501
Final PR is open by @jeffhollan https://github.com/cncf/toc/pull/383

[2020-03-10 18:23] yaron2 commented on #538
@RichiCoder1 that's correct.

[2020-03-10 22:15] #614 closed

[2020-03-11 00:52] caniszczyk opened #667 "Get a passing CII Badge"
We require CNCF projects to go through this badging process:
https://bestpractices.coreinfrastructure.org/en

[2020-03-11 00:53] caniszczyk opened #668 "Add SECURITY.md (security disclosure process)"
For examples, see https://github.com/envoyproxy/envoy/blob/master/SECURITY.md etc

[2020-03-11 00:57] thomasjardin opened #669 "Keda can't connect to a Kafka broker in sasl_ssl mode"
When using the Kafka scaler in **sasl_ssl** mode, the following error appears in the log, and the scaler can't connect to the broker.

`E0310 23:45:19.315736       1 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"Error when getting scalers error getting scaler for trigger #0: error creating kafka client: kafka: client has run out of available brokers

[2020-03-11 11:06] tomkerkhove commented on #667
Working on this but need access to org, normally @jeffhollan has received a notification.

[2020-03-11 17:20] #659 closed

[2020-03-11 19:30] #669 closed

[2020-03-11 19:34] caniszczyk opened #671 "Transfer keda.sh to CNCF"
The domain need needs to be transferred to CNCF for ownership.

We can also setup Netlify DNS to manage DNS, but ownership should be CNCF.

[2020-03-11 19:49] tomkerkhove commented on #671
Duplicate of https://github.com/kedacore/keda-docs/issues/108

[2020-03-11 19:49] #671 closed

[2020-03-12 16:20] tomkerkhove opened #672 "Provide support for authentication with SPIFFE"
Provide support for authentication with SPIFFE.

https://spiffe.io/

[2020-03-12 16:21] tomkerkhove opened #673 "Provide support for authentication with secrets from HashiCorp Vault"
Provide support for authentication with secrets from HashiCorp Vault.

https://www.vaultproject.io/

[2020-03-12 16:22] tomkerkhove opened #674 "Provide SQL Server scaler"
Provide SQL Server scaler that is able to work with SQL Server & Azure SQL Database.

[2020-03-13 17:47] caniszczyk commented on #658
LGTM thanks, please enforce across all other repos

[2020-03-13 17:48] caniszczyk opened #678 "Update README to mention CNCF + remove partnership references"
We should update the website + README to ensure it complies with:
https://github.com/cncf/foundation/blob/master/website-guidelines.md

[2020-03-13 17:48] tomkerkhove commented on #658
I'll reopen it to keep track of it!

[2020-03-13 18:44] jsturtevant opened #679 "Azure Monitor Scaler will panic if the timeseries has no data"
The metric scaler [incorrectly checks for nil and does not check length](https://github.com/kedacore/keda/blob/bd8381e007da4f5b8756615170b73a1c2c41fc06/pkg/scalers/azure_monitor.go#L121) so end up with the following exception:

[code]

This occurs if Azure monitor returns no timeseries as is sometimes the case for `IncomingMessages` for [EventHub metrics](https://docs.microsoft.com/en-us/azure/azu

[2020-03-14 08:40] iyacontrol opened #681 "the version of operator-sdk is wrong in go.sum"
github.com/operator-framework/operator-sdk v0.0.0-00010101000000-000000000000

so if i import keda in my promgram, go mod can not find operator-sdk.

[2020-03-14 20:55] tomkerkhove commented on #678
PTAL @caniszczyk

[2020-03-14 21:00] caniszczyk commented on #678
@tomkerkhove LGTM, you may want to link to devstats now: https://keda.devstats.cncf.io/

Also I'd list the logos in alphabetical order, other than that LGTM

[2020-03-16 00:26] lenardchristopher commented on #376
Is keda supposed to create the "azure-webjobs-eventhub" in Azure Blob Storage? I get the same ContainerNotFound error, but the connection string looks fine.

[2020-03-16 17:45] zroubalik opened #685 "Remove Microsoft CLA and bot"
I think that we should remove the [section](https://github.com/kedacore/keda#contributing) on Microsoft CLA and the bot validating PRs.

Same section is here as well: https://github.com/kedacore/keda/blob/master/CONTRIBUTING.md

[2020-03-16 17:47] caniszczyk commented on #685
+1 we should also install the DCO bot https://probot.github.io/apps/dco/

[2020-03-16 17:48] caniszczyk commented on #685
this should be done ASAP and along with dropping the MS CLA

[2020-03-16 17:48] caniszczyk commented on #685
I installed it now, feel free to tweak but it should be part of every repo: https://github.com/organizations/kedacore/settings/installations/7359869

[2020-03-16 18:03] zroubalik commented on #685
@caniszczyk thanks, seems like I don't have enough permissions to see the link and tweak the setttings.

[2020-03-16 18:08] zroubalik commented on #685
Same section is in here as well:
https://github.com/kedacore/keda/blob/master/CONTRIBUTING.md

@caniszczyk is there any recommendation on Contributing from CNCF side? Anything that we can put in that section to comply with CNCF standarts.

[2020-03-16 18:17] tomkerkhove commented on #685
Paging @jeffhollan since I can't do this as well!

[2020-03-16 18:23] caniszczyk commented on #685
for CONTRIBUTING.md examples, you can see a fancy one from Envoy https://github.com/envoyproxy/envoy/blob/master/CONTRIBUTING.md

[2020-03-16 18:24] tomkerkhove commented on #685
Ok if I assign this one to you @zroubalik as it looks like you'll pickup the contributing file?

I'll include @jeffhollan for the DCO app as well.

[2020-03-16 18:59] #651 closed

[2020-03-16 19:03] #679 closed

[2020-03-16 20:09] tomkerkhove commented on #685
Re-opening until app is installed

[2020-03-17 09:15] zroubalik commented on #685
@tomkerkhove if I am not mistaken, DCO app is already installed, but we need to remove the microsoft cla bot.

[2020-03-17 15:29] AmithGanesh opened #687 "autoscale based on multiple kafka topics"
Do we have a way to autoscale a single deployment based on multiple kafka topics?

[2020-03-17 15:38] tomkerkhove commented on #687
I think this relates to #476

[2020-03-17 15:38] tomkerkhove commented on #687
But for now, I think your best bet is to create multiple scaled objects

[2020-03-17 15:48] tomkerkhove commented on #685
@zroubalik is it installed on all repos?

We'll need @jeffhollan to remove the Microsoft CLA bot as I'm nto an owner

[2020-03-17 15:50] caniszczyk commented on #685
DCO is installed on all repos

[2020-03-17 15:51] AmithGanesh commented on #687
Even if we have multiple scaled objects, if lag is present on one topic and not on the other topic, how will it affect the deployment as its trying to autoscale the same deployment.

[2020-03-17 16:10] tomkerkhove commented on #687
It depends what your scaling scenario is - If it's an AND then you cannot do this today, I think. If it's an OR approach, multiple triggers will help you

[2020-03-17 16:15] AmithGanesh commented on #687
Cool. thanks!

[2020-03-17 16:15] #687 closed

[2020-03-17 16:43] tomkerkhove commented on #687
My pleasure!

[2020-03-17 17:00] flecno opened #688 "keda-operator crashs with SIGSEGV for kafka scaler"
## Expected Behavior
If the offset lag cannot be polled return 0 and do not crash with SIGSEGV.

## Actual Behavior
keda-operator crashs with SIGSEGV:

[code]

## Steps to Reproduce the Problem

This problem occurs only when a kafka topic partition is not clean and ready to use. I have seen that when a broker as partition leader restarts.

## Specifications

  - **KEDA Version:** 1.2.0
  - **Platf

[2020-03-17 17:18] #688 closed

[2020-03-17 22:57] flecno commented on #685
I have contributed the first time today and it was really easy and  straightforward to use DCO. I think it is a really nice integration! :+1:

[2020-03-18 03:22] so0k commented on #20
What's the difference between setting up an external metrics provider like prometheus and using that for HPA

versus using KEDA? I've been going through concepts and FAQ but can't seem to find an answer to this question

[2020-03-18 04:01] AlbertoDePena commented on #538
Maybe some guidance on auto scaling with metrics server in the interim... I have a POC working but I am not sure what is a good target CPU utilization to use. Currently it's set up as 50%.

[2020-03-18 14:00] tomkerkhove commented on #20
The difference is that Prometheus metrics provider solely covers Prometheus while KEDA allows you to get metrics from more sources.

Does that answer your question?

[2020-03-18 14:09] tomkerkhove commented on #20
Added https://github.com/kedacore/keda-docs/issues/119 to clarify this

[2020-03-18 18:58] tomkerkhove commented on #615
Here is a proposal for the trigger configuration:
[code]
_Example is based on https://github.com/servicemeshinterface/smi-spec/blob/master/traffic-metrics.md#specification_

It would then pull the full `TrafficMetrics` object for the `scaleTargetRef` and filter out the configured `metricName` and make a decision on the value to scale on.

We can use the official Go SDK for accessing the informatio